Jun 16 11:37:13 np0000094364 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 11:37:13 np0000094364 etcd[60035]: {"level":"warn","ts":"2026-06-16T11:37:13.884985Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 11:37:13 np0000094364 etcd[60035]: {"level":"info","ts":"2026-06-16T11:37:13.885217Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094364","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094364=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 11:37:13 np0000094364 etcd[60035]: {"level":"warn","ts":"2026-06-16T11:37:13.885440Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 11:37:13 np0000094364 etcd[60035]: {"level":"info","ts":"2026-06-16T11:37:13.885475Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 11:37:13 np0000094364 etcd[60035]: {"level":"info","ts":"2026-06-16T11:37:13.886062Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:13 np0000094364 etcd[60035]: {"level":"info","ts":"2026-06-16T11:37:13.886217Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094364","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:13 np0000094364 etcd[60035]: {"level":"info","ts":"2026-06-16T11:37:13.886303Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094364","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:13 np0000094364 etcd[60035]: {"level":"warn","ts":"2026-06-16T11:37:13.886363Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 11:37:13 np0000094364 etcd[60035]: {"level":"fatal","ts":"2026-06-16T11:37:13.886455Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 11:37:13 np0000094364 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 11:37:13 np0000094364 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 11:37:13 np0000094364 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 11:37:13 np0000094364 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 16 11:37:14 np0000094364 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 11:37:14 np0000094364 etcd[60071]: {"level":"warn","ts":"2026-06-16T11:37:14.066041Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 11:37:14 np0000094364 etcd[60071]: {"level":"info","ts":"2026-06-16T11:37:14.066212Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094364","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094364=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 11:37:14 np0000094364 etcd[60071]: {"level":"warn","ts":"2026-06-16T11:37:14.066348Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 11:37:14 np0000094364 etcd[60071]: {"level":"info","ts":"2026-06-16T11:37:14.066373Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 11:37:14 np0000094364 etcd[60071]: {"level":"info","ts":"2026-06-16T11:37:14.066885Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:14 np0000094364 etcd[60071]: {"level":"info","ts":"2026-06-16T11:37:14.066988Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094364","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:14 np0000094364 etcd[60071]: {"level":"info","ts":"2026-06-16T11:37:14.067058Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094364","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:14 np0000094364 etcd[60071]: {"level":"warn","ts":"2026-06-16T11:37:14.067104Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 11:37:14 np0000094364 etcd[60071]: {"level":"fatal","ts":"2026-06-16T11:37:14.067175Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 11:37:14 np0000094364 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 11:37:14 np0000094364 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 11:37:14 np0000094364 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 11:37:14 np0000094364 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 16 11:37:14 np0000094364 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 11:37:14 np0000094364 etcd[60150]: {"level":"warn","ts":"2026-06-16T11:37:14.326356Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 11:37:14 np0000094364 etcd[60150]: {"level":"info","ts":"2026-06-16T11:37:14.326545Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094364","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094364=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 11:37:14 np0000094364 etcd[60150]: {"level":"warn","ts":"2026-06-16T11:37:14.326744Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 11:37:14 np0000094364 etcd[60150]: {"level":"info","ts":"2026-06-16T11:37:14.326788Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 11:37:14 np0000094364 etcd[60150]: {"level":"info","ts":"2026-06-16T11:37:14.327290Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:14 np0000094364 etcd[60150]: {"level":"info","ts":"2026-06-16T11:37:14.327418Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094364","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:14 np0000094364 etcd[60150]: {"level":"info","ts":"2026-06-16T11:37:14.327504Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094364","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:14 np0000094364 etcd[60150]: {"level":"warn","ts":"2026-06-16T11:37:14.327564Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 11:37:14 np0000094364 etcd[60150]: {"level":"fatal","ts":"2026-06-16T11:37:14.327632Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 11:37:14 np0000094364 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 11:37:14 np0000094364 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 11:37:14 np0000094364 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 11:37:14 np0000094364 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 16 11:37:14 np0000094364 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 11:37:14 np0000094364 etcd[60160]: {"level":"warn","ts":"2026-06-16T11:37:14.568023Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 11:37:14 np0000094364 etcd[60160]: {"level":"info","ts":"2026-06-16T11:37:14.568252Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094364","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094364=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 11:37:14 np0000094364 etcd[60160]: {"level":"warn","ts":"2026-06-16T11:37:14.568452Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 11:37:14 np0000094364 etcd[60160]: {"level":"info","ts":"2026-06-16T11:37:14.568493Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 11:37:14 np0000094364 etcd[60160]: {"level":"info","ts":"2026-06-16T11:37:14.568993Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:14 np0000094364 etcd[60160]: {"level":"info","ts":"2026-06-16T11:37:14.569117Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094364","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:14 np0000094364 etcd[60160]: {"level":"info","ts":"2026-06-16T11:37:14.569226Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094364","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:14 np0000094364 etcd[60160]: {"level":"warn","ts":"2026-06-16T11:37:14.569334Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 11:37:14 np0000094364 etcd[60160]: {"level":"fatal","ts":"2026-06-16T11:37:14.569401Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 11:37:14 np0000094364 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 11:37:14 np0000094364 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 11:37:14 np0000094364 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 11:37:14 np0000094364 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 16 11:37:14 np0000094364 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 11:37:14 np0000094364 etcd[60184]: {"level":"warn","ts":"2026-06-16T11:37:14.822800Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 11:37:14 np0000094364 etcd[60184]: {"level":"info","ts":"2026-06-16T11:37:14.822985Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094364","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094364=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 11:37:14 np0000094364 etcd[60184]: {"level":"warn","ts":"2026-06-16T11:37:14.823162Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 11:37:14 np0000094364 etcd[60184]: {"level":"info","ts":"2026-06-16T11:37:14.823194Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 11:37:14 np0000094364 etcd[60184]: {"level":"info","ts":"2026-06-16T11:37:14.823664Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:14 np0000094364 etcd[60184]: {"level":"info","ts":"2026-06-16T11:37:14.825558Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094364","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:14 np0000094364 etcd[60184]: {"level":"info","ts":"2026-06-16T11:37:14.825675Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094364","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 11:37:14 np0000094364 etcd[60184]: {"level":"warn","ts":"2026-06-16T11:37:14.825989Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 11:37:14 np0000094364 etcd[60184]: {"level":"fatal","ts":"2026-06-16T11:37:14.826063Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 11:37:14 np0000094364 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 11:37:14 np0000094364 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 11:37:14 np0000094364 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 11:37:14 np0000094364 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 16 11:37:15 np0000094364 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 16 11:37:15 np0000094364 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 11:37:15 np0000094364 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
