Feb 13 15:35:59 np0000056239 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 15:35:59 np0000056239 etcd[60683]: {"level":"warn","ts":"2026-02-13T15:35:59.443084Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:35:59 np0000056239 etcd[60683]: {"level":"info","ts":"2026-02-13T15:35:59.443297Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056239","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056239=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 15:35:59 np0000056239 etcd[60683]: {"level":"warn","ts":"2026-02-13T15:35:59.443492Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:35:59 np0000056239 etcd[60683]: {"level":"info","ts":"2026-02-13T15:35:59.443535Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 15:35:59 np0000056239 etcd[60683]: {"level":"info","ts":"2026-02-13T15:35:59.444079Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:35:59 np0000056239 etcd[60683]: {"level":"info","ts":"2026-02-13T15:35:59.444210Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:35:59 np0000056239 etcd[60683]: {"level":"info","ts":"2026-02-13T15:35:59.444297Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:35:59 np0000056239 etcd[60683]: {"level":"warn","ts":"2026-02-13T15:35:59.444358Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 15:35:59 np0000056239 etcd[60683]: {"level":"fatal","ts":"2026-02-13T15:35:59.444444Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 15:35:59 np0000056239 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 15:35:59 np0000056239 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 15:35:59 np0000056239 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 15:35:59 np0000056239 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 15:35:59 np0000056239 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 15:35:59 np0000056239 etcd[60785]: {"level":"warn","ts":"2026-02-13T15:35:59.826715Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:35:59 np0000056239 etcd[60785]: {"level":"info","ts":"2026-02-13T15:35:59.826869Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056239","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056239=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 15:35:59 np0000056239 etcd[60785]: {"level":"warn","ts":"2026-02-13T15:35:59.827013Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:35:59 np0000056239 etcd[60785]: {"level":"info","ts":"2026-02-13T15:35:59.827037Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 15:35:59 np0000056239 etcd[60785]: {"level":"info","ts":"2026-02-13T15:35:59.827444Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:35:59 np0000056239 etcd[60785]: {"level":"info","ts":"2026-02-13T15:35:59.827531Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:35:59 np0000056239 etcd[60785]: {"level":"info","ts":"2026-02-13T15:35:59.827593Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:35:59 np0000056239 etcd[60785]: {"level":"warn","ts":"2026-02-13T15:35:59.827637Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 15:35:59 np0000056239 etcd[60785]: {"level":"fatal","ts":"2026-02-13T15:35:59.827685Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 15:35:59 np0000056239 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 15:35:59 np0000056239 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 15:35:59 np0000056239 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 15:36:00 np0000056239 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 15:36:00 np0000056239 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 15:36:00 np0000056239 etcd[60805]: {"level":"warn","ts":"2026-02-13T15:36:00.068300Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:36:00 np0000056239 etcd[60805]: {"level":"info","ts":"2026-02-13T15:36:00.069303Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056239","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056239=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 15:36:00 np0000056239 etcd[60805]: {"level":"warn","ts":"2026-02-13T15:36:00.069653Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:36:00 np0000056239 etcd[60805]: {"level":"info","ts":"2026-02-13T15:36:00.069837Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 15:36:00 np0000056239 etcd[60805]: {"level":"info","ts":"2026-02-13T15:36:00.070322Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:36:00 np0000056239 etcd[60805]: {"level":"info","ts":"2026-02-13T15:36:00.070539Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:36:00 np0000056239 etcd[60805]: {"level":"info","ts":"2026-02-13T15:36:00.070695Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:36:00 np0000056239 etcd[60805]: {"level":"warn","ts":"2026-02-13T15:36:00.070845Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 15:36:00 np0000056239 etcd[60805]: {"level":"fatal","ts":"2026-02-13T15:36:00.071018Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 15:36:00 np0000056239 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 15:36:00 np0000056239 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 15:36:00 np0000056239 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 15:36:00 np0000056239 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 15:36:00 np0000056239 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 15:36:00 np0000056239 etcd[60843]: {"level":"warn","ts":"2026-02-13T15:36:00.291655Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:36:00 np0000056239 etcd[60843]: {"level":"info","ts":"2026-02-13T15:36:00.291724Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056239","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056239=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 15:36:00 np0000056239 etcd[60843]: {"level":"warn","ts":"2026-02-13T15:36:00.291802Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:36:00 np0000056239 etcd[60843]: {"level":"info","ts":"2026-02-13T15:36:00.291813Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 15:36:00 np0000056239 etcd[60843]: {"level":"info","ts":"2026-02-13T15:36:00.292023Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:36:00 np0000056239 etcd[60843]: {"level":"info","ts":"2026-02-13T15:36:00.292068Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:36:00 np0000056239 etcd[60843]: {"level":"info","ts":"2026-02-13T15:36:00.292098Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:36:00 np0000056239 etcd[60843]: {"level":"warn","ts":"2026-02-13T15:36:00.292118Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 15:36:00 np0000056239 etcd[60843]: {"level":"fatal","ts":"2026-02-13T15:36:00.292148Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 15:36:00 np0000056239 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 15:36:00 np0000056239 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 15:36:00 np0000056239 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 15:36:00 np0000056239 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 15:36:00 np0000056239 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 15:36:00 np0000056239 etcd[60887]: {"level":"warn","ts":"2026-02-13T15:36:00.581340Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:36:00 np0000056239 etcd[60887]: {"level":"info","ts":"2026-02-13T15:36:00.581576Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056239","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056239=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 15:36:00 np0000056239 etcd[60887]: {"level":"warn","ts":"2026-02-13T15:36:00.581748Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:36:00 np0000056239 etcd[60887]: {"level":"info","ts":"2026-02-13T15:36:00.581814Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 15:36:00 np0000056239 etcd[60887]: {"level":"info","ts":"2026-02-13T15:36:00.582331Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:36:00 np0000056239 etcd[60887]: {"level":"info","ts":"2026-02-13T15:36:00.582449Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:36:00 np0000056239 etcd[60887]: {"level":"info","ts":"2026-02-13T15:36:00.582527Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:36:00 np0000056239 etcd[60887]: {"level":"warn","ts":"2026-02-13T15:36:00.582581Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 15:36:00 np0000056239 etcd[60887]: {"level":"fatal","ts":"2026-02-13T15:36:00.582641Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 15:36:00 np0000056239 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 15:36:00 np0000056239 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 15:36:00 np0000056239 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 15:36:00 np0000056239 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 15:36:00 np0000056239 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 15:36:00 np0000056239 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 15:36:00 np0000056239 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
