Apr 28 23:31:59 np0000094108 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:31:59 np0000094108 etcd[60579]: {"level":"warn","ts":"2026-04-28T23:31:59.126746Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:31:59 np0000094108 etcd[60579]: {"level":"info","ts":"2026-04-28T23:31:59.126928Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094108","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094108=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:31:59 np0000094108 etcd[60579]: {"level":"warn","ts":"2026-04-28T23:31:59.127085Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:31:59 np0000094108 etcd[60579]: {"level":"info","ts":"2026-04-28T23:31:59.127116Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:31:59 np0000094108 etcd[60579]: {"level":"info","ts":"2026-04-28T23:31:59.127650Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:31:59 np0000094108 etcd[60579]: {"level":"info","ts":"2026-04-28T23:31:59.127780Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094108","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:31:59 np0000094108 etcd[60579]: {"level":"info","ts":"2026-04-28T23:31:59.127886Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094108","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:31:59 np0000094108 etcd[60579]: {"level":"warn","ts":"2026-04-28T23:31:59.127945Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:31:59 np0000094108 etcd[60579]: {"level":"fatal","ts":"2026-04-28T23:31:59.128022Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:31:59 np0000094108 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:31:59 np0000094108 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:31:59 np0000094108 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:31:59 np0000094108 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 28 23:31:59 np0000094108 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:31:59 np0000094108 etcd[60664]: {"level":"warn","ts":"2026-04-28T23:31:59.455628Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:31:59 np0000094108 etcd[60664]: {"level":"info","ts":"2026-04-28T23:31:59.455770Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094108","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094108=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:31:59 np0000094108 etcd[60664]: {"level":"warn","ts":"2026-04-28T23:31:59.455911Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:31:59 np0000094108 etcd[60664]: {"level":"info","ts":"2026-04-28T23:31:59.455936Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:31:59 np0000094108 etcd[60664]: {"level":"info","ts":"2026-04-28T23:31:59.456360Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:31:59 np0000094108 etcd[60664]: {"level":"info","ts":"2026-04-28T23:31:59.456459Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094108","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:31:59 np0000094108 etcd[60664]: {"level":"info","ts":"2026-04-28T23:31:59.456539Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094108","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:31:59 np0000094108 etcd[60664]: {"level":"warn","ts":"2026-04-28T23:31:59.456598Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:31:59 np0000094108 etcd[60664]: {"level":"fatal","ts":"2026-04-28T23:31:59.456649Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:31:59 np0000094108 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:31:59 np0000094108 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:31:59 np0000094108 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:31:59 np0000094108 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 28 23:31:59 np0000094108 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:31:59 np0000094108 etcd[60698]: {"level":"warn","ts":"2026-04-28T23:31:59.709826Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:31:59 np0000094108 etcd[60698]: {"level":"info","ts":"2026-04-28T23:31:59.711100Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094108","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094108=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:31:59 np0000094108 etcd[60698]: {"level":"warn","ts":"2026-04-28T23:31:59.711357Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:31:59 np0000094108 etcd[60698]: {"level":"info","ts":"2026-04-28T23:31:59.711404Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:31:59 np0000094108 etcd[60698]: {"level":"info","ts":"2026-04-28T23:31:59.711918Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:31:59 np0000094108 etcd[60698]: {"level":"info","ts":"2026-04-28T23:31:59.712088Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094108","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:31:59 np0000094108 etcd[60698]: {"level":"info","ts":"2026-04-28T23:31:59.713122Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094108","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:31:59 np0000094108 etcd[60698]: {"level":"warn","ts":"2026-04-28T23:31:59.713470Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:31:59 np0000094108 etcd[60698]: {"level":"fatal","ts":"2026-04-28T23:31:59.713584Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:31:59 np0000094108 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:31:59 np0000094108 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:31:59 np0000094108 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:31:59 np0000094108 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 28 23:31:59 np0000094108 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:31:59 np0000094108 etcd[60719]: {"level":"warn","ts":"2026-04-28T23:31:59.956802Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:31:59 np0000094108 etcd[60719]: {"level":"info","ts":"2026-04-28T23:31:59.958279Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094108","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094108=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:31:59 np0000094108 etcd[60719]: {"level":"warn","ts":"2026-04-28T23:31:59.958479Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:31:59 np0000094108 etcd[60719]: {"level":"info","ts":"2026-04-28T23:31:59.958552Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:31:59 np0000094108 etcd[60719]: {"level":"info","ts":"2026-04-28T23:31:59.959061Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:31:59 np0000094108 etcd[60719]: {"level":"info","ts":"2026-04-28T23:31:59.959184Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094108","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:31:59 np0000094108 etcd[60719]: {"level":"info","ts":"2026-04-28T23:31:59.960623Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094108","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:31:59 np0000094108 etcd[60719]: {"level":"warn","ts":"2026-04-28T23:31:59.960700Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:31:59 np0000094108 etcd[60719]: {"level":"fatal","ts":"2026-04-28T23:31:59.960770Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:31:59 np0000094108 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:31:59 np0000094108 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:31:59 np0000094108 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:32:00 np0000094108 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 28 23:32:00 np0000094108 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:32:00 np0000094108 etcd[60755]: {"level":"warn","ts":"2026-04-28T23:32:00.209907Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:32:00 np0000094108 etcd[60755]: {"level":"info","ts":"2026-04-28T23:32:00.210081Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094108","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094108=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:32:00 np0000094108 etcd[60755]: {"level":"warn","ts":"2026-04-28T23:32:00.210269Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:32:00 np0000094108 etcd[60755]: {"level":"info","ts":"2026-04-28T23:32:00.210306Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:32:00 np0000094108 etcd[60755]: {"level":"info","ts":"2026-04-28T23:32:00.210725Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:32:00 np0000094108 etcd[60755]: {"level":"info","ts":"2026-04-28T23:32:00.210827Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094108","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:32:00 np0000094108 etcd[60755]: {"level":"info","ts":"2026-04-28T23:32:00.210897Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094108","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:32:00 np0000094108 etcd[60755]: {"level":"warn","ts":"2026-04-28T23:32:00.210945Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:32:00 np0000094108 etcd[60755]: {"level":"fatal","ts":"2026-04-28T23:32:00.211001Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:32:00 np0000094108 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:32:00 np0000094108 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:32:00 np0000094108 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:32:00 np0000094108 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 28 23:32:00 np0000094108 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 28 23:32:00 np0000094108 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:32:00 np0000094108 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
