Apr 10 07:56:39 np0000093904 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 07:56:39 np0000093904 etcd[60656]: {"level":"warn","ts":"2026-04-10T07:56:39.270602Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 07:56:39 np0000093904 etcd[60656]: {"level":"info","ts":"2026-04-10T07:56:39.270858Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093904","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093904=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 07:56:39 np0000093904 etcd[60656]: {"level":"warn","ts":"2026-04-10T07:56:39.271049Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 07:56:39 np0000093904 etcd[60656]: {"level":"info","ts":"2026-04-10T07:56:39.271091Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 07:56:39 np0000093904 etcd[60656]: {"level":"info","ts":"2026-04-10T07:56:39.271568Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:39 np0000093904 etcd[60656]: {"level":"info","ts":"2026-04-10T07:56:39.271692Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093904","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:39 np0000093904 etcd[60656]: {"level":"info","ts":"2026-04-10T07:56:39.271776Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093904","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:39 np0000093904 etcd[60656]: {"level":"warn","ts":"2026-04-10T07:56:39.271851Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 07:56:39 np0000093904 etcd[60656]: {"level":"fatal","ts":"2026-04-10T07:56:39.271926Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 07:56:39 np0000093904 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 07:56:39 np0000093904 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 07:56:39 np0000093904 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 07:56:39 np0000093904 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 10 07:56:39 np0000093904 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 07:56:39 np0000093904 etcd[60754]: {"level":"warn","ts":"2026-04-10T07:56:39.658148Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 07:56:39 np0000093904 etcd[60754]: {"level":"info","ts":"2026-04-10T07:56:39.658337Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093904","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093904=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 07:56:39 np0000093904 etcd[60754]: {"level":"warn","ts":"2026-04-10T07:56:39.658493Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 07:56:39 np0000093904 etcd[60754]: {"level":"info","ts":"2026-04-10T07:56:39.658548Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 07:56:39 np0000093904 etcd[60754]: {"level":"info","ts":"2026-04-10T07:56:39.659002Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:39 np0000093904 etcd[60754]: {"level":"info","ts":"2026-04-10T07:56:39.659130Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093904","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:39 np0000093904 etcd[60754]: {"level":"info","ts":"2026-04-10T07:56:39.659205Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093904","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:39 np0000093904 etcd[60754]: {"level":"warn","ts":"2026-04-10T07:56:39.659265Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 07:56:39 np0000093904 etcd[60754]: {"level":"fatal","ts":"2026-04-10T07:56:39.659327Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 07:56:39 np0000093904 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 07:56:39 np0000093904 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 07:56:39 np0000093904 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 07:56:39 np0000093904 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 10 07:56:39 np0000093904 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 07:56:39 np0000093904 etcd[60776]: {"level":"warn","ts":"2026-04-10T07:56:39.905273Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 07:56:39 np0000093904 etcd[60776]: {"level":"info","ts":"2026-04-10T07:56:39.906567Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093904","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093904=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 07:56:39 np0000093904 etcd[60776]: {"level":"warn","ts":"2026-04-10T07:56:39.906872Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 07:56:39 np0000093904 etcd[60776]: {"level":"info","ts":"2026-04-10T07:56:39.906922Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 07:56:39 np0000093904 etcd[60776]: {"level":"info","ts":"2026-04-10T07:56:39.907428Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:39 np0000093904 etcd[60776]: {"level":"info","ts":"2026-04-10T07:56:39.908241Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093904","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:39 np0000093904 etcd[60776]: {"level":"info","ts":"2026-04-10T07:56:39.908533Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093904","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:39 np0000093904 etcd[60776]: {"level":"warn","ts":"2026-04-10T07:56:39.908751Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 07:56:39 np0000093904 etcd[60776]: {"level":"fatal","ts":"2026-04-10T07:56:39.908874Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 07:56:39 np0000093904 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 07:56:39 np0000093904 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 07:56:39 np0000093904 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 07:56:40 np0000093904 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 10 07:56:40 np0000093904 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 07:56:40 np0000093904 etcd[60796]: {"level":"warn","ts":"2026-04-10T07:56:40.124141Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 07:56:40 np0000093904 etcd[60796]: {"level":"info","ts":"2026-04-10T07:56:40.124294Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093904","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093904=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 07:56:40 np0000093904 etcd[60796]: {"level":"warn","ts":"2026-04-10T07:56:40.124435Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 07:56:40 np0000093904 etcd[60796]: {"level":"info","ts":"2026-04-10T07:56:40.124464Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 07:56:40 np0000093904 etcd[60796]: {"level":"info","ts":"2026-04-10T07:56:40.124839Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:40 np0000093904 etcd[60796]: {"level":"info","ts":"2026-04-10T07:56:40.124932Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093904","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:40 np0000093904 etcd[60796]: {"level":"info","ts":"2026-04-10T07:56:40.124994Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093904","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:40 np0000093904 etcd[60796]: {"level":"warn","ts":"2026-04-10T07:56:40.125036Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 07:56:40 np0000093904 etcd[60796]: {"level":"fatal","ts":"2026-04-10T07:56:40.125105Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 07:56:40 np0000093904 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 07:56:40 np0000093904 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 07:56:40 np0000093904 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 07:56:40 np0000093904 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 10 07:56:40 np0000093904 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 07:56:40 np0000093904 etcd[60828]: {"level":"warn","ts":"2026-04-10T07:56:40.411348Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 07:56:40 np0000093904 etcd[60828]: {"level":"info","ts":"2026-04-10T07:56:40.412484Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093904","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093904=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 07:56:40 np0000093904 etcd[60828]: {"level":"warn","ts":"2026-04-10T07:56:40.412722Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 07:56:40 np0000093904 etcd[60828]: {"level":"info","ts":"2026-04-10T07:56:40.412770Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 07:56:40 np0000093904 etcd[60828]: {"level":"info","ts":"2026-04-10T07:56:40.413375Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:40 np0000093904 etcd[60828]: {"level":"info","ts":"2026-04-10T07:56:40.413553Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093904","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:40 np0000093904 etcd[60828]: {"level":"info","ts":"2026-04-10T07:56:40.413639Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093904","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 07:56:40 np0000093904 etcd[60828]: {"level":"warn","ts":"2026-04-10T07:56:40.413696Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 07:56:40 np0000093904 etcd[60828]: {"level":"fatal","ts":"2026-04-10T07:56:40.413761Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 07:56:40 np0000093904 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 07:56:40 np0000093904 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 07:56:40 np0000093904 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 07:56:40 np0000093904 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 10 07:56:40 np0000093904 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 10 07:56:40 np0000093904 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 07:56:40 np0000093904 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
