Jun 08 08:19:52 np0000094265 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 08:19:52 np0000094265 etcd[60196]: {"level":"warn","ts":"2026-06-08T08:19:52.767586Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 08:19:52 np0000094265 etcd[60196]: {"level":"info","ts":"2026-06-08T08:19:52.768929Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094265","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094265=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 08:19:52 np0000094265 etcd[60196]: {"level":"warn","ts":"2026-06-08T08:19:52.769424Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 08:19:52 np0000094265 etcd[60196]: {"level":"info","ts":"2026-06-08T08:19:52.769521Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 08:19:52 np0000094265 etcd[60196]: {"level":"info","ts":"2026-06-08T08:19:52.769970Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:52 np0000094265 etcd[60196]: {"level":"info","ts":"2026-06-08T08:19:52.770074Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094265","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:52 np0000094265 etcd[60196]: {"level":"info","ts":"2026-06-08T08:19:52.770147Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094265","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:52 np0000094265 etcd[60196]: {"level":"warn","ts":"2026-06-08T08:19:52.770197Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 08:19:52 np0000094265 etcd[60196]: {"level":"fatal","ts":"2026-06-08T08:19:52.770282Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 08:19:52 np0000094265 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 08:19:52 np0000094265 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 08:19:52 np0000094265 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 08:19:53 np0000094265 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 08 08:19:53 np0000094265 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 08:19:53 np0000094265 etcd[60279]: {"level":"warn","ts":"2026-06-08T08:19:53.111244Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 08:19:53 np0000094265 etcd[60279]: {"level":"info","ts":"2026-06-08T08:19:53.112658Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094265","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094265=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 08:19:53 np0000094265 etcd[60279]: {"level":"warn","ts":"2026-06-08T08:19:53.112904Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 08:19:53 np0000094265 etcd[60279]: {"level":"info","ts":"2026-06-08T08:19:53.112961Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 08:19:53 np0000094265 etcd[60279]: {"level":"info","ts":"2026-06-08T08:19:53.113546Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:53 np0000094265 etcd[60279]: {"level":"info","ts":"2026-06-08T08:19:53.113708Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094265","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:53 np0000094265 etcd[60279]: {"level":"info","ts":"2026-06-08T08:19:53.113792Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094265","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:53 np0000094265 etcd[60279]: {"level":"warn","ts":"2026-06-08T08:19:53.113853Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 08:19:53 np0000094265 etcd[60279]: {"level":"fatal","ts":"2026-06-08T08:19:53.113950Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 08:19:53 np0000094265 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 08:19:53 np0000094265 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 08:19:53 np0000094265 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 08:19:53 np0000094265 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 08 08:19:53 np0000094265 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 08:19:53 np0000094265 etcd[60316]: {"level":"warn","ts":"2026-06-08T08:19:53.375741Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 08:19:53 np0000094265 etcd[60316]: {"level":"info","ts":"2026-06-08T08:19:53.375937Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094265","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094265=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 08:19:53 np0000094265 etcd[60316]: {"level":"warn","ts":"2026-06-08T08:19:53.376104Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 08:19:53 np0000094265 etcd[60316]: {"level":"info","ts":"2026-06-08T08:19:53.376133Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 08:19:53 np0000094265 etcd[60316]: {"level":"info","ts":"2026-06-08T08:19:53.376647Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:53 np0000094265 etcd[60316]: {"level":"info","ts":"2026-06-08T08:19:53.376780Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094265","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:53 np0000094265 etcd[60316]: {"level":"info","ts":"2026-06-08T08:19:53.376888Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094265","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:53 np0000094265 etcd[60316]: {"level":"warn","ts":"2026-06-08T08:19:53.376972Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 08:19:53 np0000094265 etcd[60316]: {"level":"fatal","ts":"2026-06-08T08:19:53.377087Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 08:19:53 np0000094265 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 08:19:53 np0000094265 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 08:19:53 np0000094265 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 08:19:53 np0000094265 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 08 08:19:53 np0000094265 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 08:19:53 np0000094265 etcd[60328]: {"level":"warn","ts":"2026-06-08T08:19:53.600041Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 08:19:53 np0000094265 etcd[60328]: {"level":"info","ts":"2026-06-08T08:19:53.600252Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094265","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094265=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 08:19:53 np0000094265 etcd[60328]: {"level":"warn","ts":"2026-06-08T08:19:53.600437Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 08:19:53 np0000094265 etcd[60328]: {"level":"info","ts":"2026-06-08T08:19:53.600520Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 08:19:53 np0000094265 etcd[60328]: {"level":"info","ts":"2026-06-08T08:19:53.601027Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:53 np0000094265 etcd[60328]: {"level":"info","ts":"2026-06-08T08:19:53.601149Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094265","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:53 np0000094265 etcd[60328]: {"level":"info","ts":"2026-06-08T08:19:53.601235Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094265","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:53 np0000094265 etcd[60328]: {"level":"warn","ts":"2026-06-08T08:19:53.601305Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 08:19:53 np0000094265 etcd[60328]: {"level":"fatal","ts":"2026-06-08T08:19:53.601373Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 08:19:53 np0000094265 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 08:19:53 np0000094265 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 08:19:53 np0000094265 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 08:19:53 np0000094265 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 08 08:19:53 np0000094265 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 08:19:53 np0000094265 etcd[60364]: {"level":"warn","ts":"2026-06-08T08:19:53.857641Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 08:19:53 np0000094265 etcd[60364]: {"level":"info","ts":"2026-06-08T08:19:53.858600Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094265","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094265=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 08:19:53 np0000094265 etcd[60364]: {"level":"warn","ts":"2026-06-08T08:19:53.858784Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 08:19:53 np0000094265 etcd[60364]: {"level":"info","ts":"2026-06-08T08:19:53.858815Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 08:19:53 np0000094265 etcd[60364]: {"level":"info","ts":"2026-06-08T08:19:53.859259Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:53 np0000094265 etcd[60364]: {"level":"info","ts":"2026-06-08T08:19:53.859362Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094265","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:53 np0000094265 etcd[60364]: {"level":"info","ts":"2026-06-08T08:19:53.859439Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094265","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 08:19:53 np0000094265 etcd[60364]: {"level":"warn","ts":"2026-06-08T08:19:53.860621Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 08:19:53 np0000094265 etcd[60364]: {"level":"fatal","ts":"2026-06-08T08:19:53.860920Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 08:19:53 np0000094265 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 08:19:53 np0000094265 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 08:19:53 np0000094265 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 08:19:54 np0000094265 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 08 08:19:54 np0000094265 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 08 08:19:54 np0000094265 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 08:19:54 np0000094265 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
