May 18 18:39:54 np0000094118 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 18 18:39:54 np0000094118 etcd[60179]: {"level":"warn","ts":"2026-05-18T18:39:54.803900Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 18:39:54 np0000094118 etcd[60179]: {"level":"info","ts":"2026-05-18T18:39:54.804116Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094118","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094118=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 18 18:39:54 np0000094118 etcd[60179]: {"level":"warn","ts":"2026-05-18T18:39:54.804270Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 18:39:54 np0000094118 etcd[60179]: {"level":"info","ts":"2026-05-18T18:39:54.804299Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 18 18:39:54 np0000094118 etcd[60179]: {"level":"info","ts":"2026-05-18T18:39:54.804833Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:54 np0000094118 etcd[60179]: {"level":"info","ts":"2026-05-18T18:39:54.804949Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094118","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:54 np0000094118 etcd[60179]: {"level":"info","ts":"2026-05-18T18:39:54.805026Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094118","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:54 np0000094118 etcd[60179]: {"level":"warn","ts":"2026-05-18T18:39:54.805086Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 18 18:39:54 np0000094118 etcd[60179]: {"level":"fatal","ts":"2026-05-18T18:39:54.805149Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 18 18:39:54 np0000094118 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 18 18:39:54 np0000094118 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 18 18:39:54 np0000094118 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 18 18:39:54 np0000094118 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 18 18:39:54 np0000094118 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 18 18:39:55 np0000094118 etcd[60234]: {"level":"warn","ts":"2026-05-18T18:39:55.025314Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 18:39:55 np0000094118 etcd[60234]: {"level":"info","ts":"2026-05-18T18:39:55.026196Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094118","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094118=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 18 18:39:55 np0000094118 etcd[60234]: {"level":"warn","ts":"2026-05-18T18:39:55.026348Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 18:39:55 np0000094118 etcd[60234]: {"level":"info","ts":"2026-05-18T18:39:55.026417Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 18 18:39:55 np0000094118 etcd[60234]: {"level":"info","ts":"2026-05-18T18:39:55.026957Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:55 np0000094118 etcd[60234]: {"level":"info","ts":"2026-05-18T18:39:55.027056Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094118","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:55 np0000094118 etcd[60234]: {"level":"info","ts":"2026-05-18T18:39:55.027120Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094118","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:55 np0000094118 etcd[60234]: {"level":"warn","ts":"2026-05-18T18:39:55.027164Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 18 18:39:55 np0000094118 etcd[60234]: {"level":"fatal","ts":"2026-05-18T18:39:55.027220Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 18 18:39:55 np0000094118 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 18 18:39:55 np0000094118 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 18 18:39:55 np0000094118 etcd[60300]: {"level":"warn","ts":"2026-05-18T18:39:55.277168Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 18:39:55 np0000094118 etcd[60300]: {"level":"info","ts":"2026-05-18T18:39:55.277381Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094118","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094118=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 18 18:39:55 np0000094118 etcd[60300]: {"level":"warn","ts":"2026-05-18T18:39:55.277530Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 18:39:55 np0000094118 etcd[60300]: {"level":"info","ts":"2026-05-18T18:39:55.277557Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 18 18:39:55 np0000094118 etcd[60300]: {"level":"info","ts":"2026-05-18T18:39:55.278200Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:55 np0000094118 etcd[60300]: {"level":"info","ts":"2026-05-18T18:39:55.278323Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094118","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:55 np0000094118 etcd[60300]: {"level":"info","ts":"2026-05-18T18:39:55.278409Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094118","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:55 np0000094118 etcd[60300]: {"level":"warn","ts":"2026-05-18T18:39:55.278458Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 18 18:39:55 np0000094118 etcd[60300]: {"level":"fatal","ts":"2026-05-18T18:39:55.278515Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 18 18:39:55 np0000094118 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 18 18:39:55 np0000094118 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 18 18:39:55 np0000094118 etcd[60307]: {"level":"warn","ts":"2026-05-18T18:39:55.536326Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 18:39:55 np0000094118 etcd[60307]: {"level":"info","ts":"2026-05-18T18:39:55.536524Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094118","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094118=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 18 18:39:55 np0000094118 etcd[60307]: {"level":"warn","ts":"2026-05-18T18:39:55.536687Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 18:39:55 np0000094118 etcd[60307]: {"level":"info","ts":"2026-05-18T18:39:55.536774Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 18 18:39:55 np0000094118 etcd[60307]: {"level":"info","ts":"2026-05-18T18:39:55.537241Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:55 np0000094118 etcd[60307]: {"level":"info","ts":"2026-05-18T18:39:55.537387Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094118","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:55 np0000094118 etcd[60307]: {"level":"info","ts":"2026-05-18T18:39:55.537641Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094118","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:55 np0000094118 etcd[60307]: {"level":"warn","ts":"2026-05-18T18:39:55.537844Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 18 18:39:55 np0000094118 etcd[60307]: {"level":"fatal","ts":"2026-05-18T18:39:55.538064Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 18 18:39:55 np0000094118 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 18 18:39:55 np0000094118 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 18 18:39:55 np0000094118 etcd[60331]: {"level":"warn","ts":"2026-05-18T18:39:55.752311Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 18:39:55 np0000094118 etcd[60331]: {"level":"info","ts":"2026-05-18T18:39:55.752417Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094118","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094118=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 18 18:39:55 np0000094118 etcd[60331]: {"level":"warn","ts":"2026-05-18T18:39:55.752515Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 18:39:55 np0000094118 etcd[60331]: {"level":"info","ts":"2026-05-18T18:39:55.752530Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 18 18:39:55 np0000094118 etcd[60331]: {"level":"info","ts":"2026-05-18T18:39:55.752904Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:55 np0000094118 etcd[60331]: {"level":"info","ts":"2026-05-18T18:39:55.752981Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094118","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:55 np0000094118 etcd[60331]: {"level":"info","ts":"2026-05-18T18:39:55.753074Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094118","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 18:39:55 np0000094118 etcd[60331]: {"level":"warn","ts":"2026-05-18T18:39:55.753115Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 18 18:39:55 np0000094118 etcd[60331]: {"level":"fatal","ts":"2026-05-18T18:39:55.753149Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 18 18:39:55 np0000094118 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 18 18:39:55 np0000094118 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 18 18:39:55 np0000094118 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
