May 18 19:46:37 np0000094120 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 18 19:46:37 np0000094120 etcd[60021]: {"level":"warn","ts":"2026-05-18T19:46:37.737368Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 19:46:37 np0000094120 etcd[60021]: {"level":"info","ts":"2026-05-18T19:46:37.737538Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094120","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094120=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 18 19:46:37 np0000094120 etcd[60021]: {"level":"warn","ts":"2026-05-18T19:46:37.737697Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 19:46:37 np0000094120 etcd[60021]: {"level":"info","ts":"2026-05-18T19:46:37.737735Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 18 19:46:37 np0000094120 etcd[60021]: {"level":"info","ts":"2026-05-18T19:46:37.738259Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:37 np0000094120 etcd[60021]: {"level":"info","ts":"2026-05-18T19:46:37.738363Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094120","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:37 np0000094120 etcd[60021]: {"level":"info","ts":"2026-05-18T19:46:37.738433Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094120","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:37 np0000094120 etcd[60021]: {"level":"warn","ts":"2026-05-18T19:46:37.738481Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 18 19:46:37 np0000094120 etcd[60021]: {"level":"fatal","ts":"2026-05-18T19:46:37.738536Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 18 19:46:37 np0000094120 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 18 19:46:37 np0000094120 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 18 19:46:37 np0000094120 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 18 19:46:38 np0000094120 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 18 19:46:38 np0000094120 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 18 19:46:38 np0000094120 etcd[60109]: {"level":"warn","ts":"2026-05-18T19:46:38.058117Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 19:46:38 np0000094120 etcd[60109]: {"level":"info","ts":"2026-05-18T19:46:38.058287Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094120","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094120=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 18 19:46:38 np0000094120 etcd[60109]: {"level":"warn","ts":"2026-05-18T19:46:38.058427Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 19:46:38 np0000094120 etcd[60109]: {"level":"info","ts":"2026-05-18T19:46:38.058452Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 18 19:46:38 np0000094120 etcd[60109]: {"level":"info","ts":"2026-05-18T19:46:38.058831Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:38 np0000094120 etcd[60109]: {"level":"info","ts":"2026-05-18T19:46:38.059147Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094120","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:38 np0000094120 etcd[60109]: {"level":"info","ts":"2026-05-18T19:46:38.059218Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094120","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:38 np0000094120 etcd[60109]: {"level":"warn","ts":"2026-05-18T19:46:38.059270Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 18 19:46:38 np0000094120 etcd[60109]: {"level":"fatal","ts":"2026-05-18T19:46:38.059326Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 18 19:46:38 np0000094120 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 18 19:46:38 np0000094120 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 18 19:46:38 np0000094120 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 18 19:46:38 np0000094120 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 18 19:46:38 np0000094120 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 18 19:46:38 np0000094120 etcd[60142]: {"level":"warn","ts":"2026-05-18T19:46:38.322313Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 19:46:38 np0000094120 etcd[60142]: {"level":"info","ts":"2026-05-18T19:46:38.322498Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094120","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094120=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 18 19:46:38 np0000094120 etcd[60142]: {"level":"warn","ts":"2026-05-18T19:46:38.322666Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 19:46:38 np0000094120 etcd[60142]: {"level":"info","ts":"2026-05-18T19:46:38.322705Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 18 19:46:38 np0000094120 etcd[60142]: {"level":"info","ts":"2026-05-18T19:46:38.323285Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:38 np0000094120 etcd[60142]: {"level":"info","ts":"2026-05-18T19:46:38.323406Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094120","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:38 np0000094120 etcd[60142]: {"level":"info","ts":"2026-05-18T19:46:38.323491Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094120","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:38 np0000094120 etcd[60142]: {"level":"warn","ts":"2026-05-18T19:46:38.323547Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 18 19:46:38 np0000094120 etcd[60142]: {"level":"fatal","ts":"2026-05-18T19:46:38.323611Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 18 19:46:38 np0000094120 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 18 19:46:38 np0000094120 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 18 19:46:38 np0000094120 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 18 19:46:38 np0000094120 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 18 19:46:38 np0000094120 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 18 19:46:38 np0000094120 etcd[60163]: {"level":"warn","ts":"2026-05-18T19:46:38.566577Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 19:46:38 np0000094120 etcd[60163]: {"level":"info","ts":"2026-05-18T19:46:38.567430Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094120","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094120=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 18 19:46:38 np0000094120 etcd[60163]: {"level":"warn","ts":"2026-05-18T19:46:38.567653Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 19:46:38 np0000094120 etcd[60163]: {"level":"info","ts":"2026-05-18T19:46:38.567732Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 18 19:46:38 np0000094120 etcd[60163]: {"level":"info","ts":"2026-05-18T19:46:38.568269Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:38 np0000094120 etcd[60163]: {"level":"info","ts":"2026-05-18T19:46:38.568392Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094120","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:38 np0000094120 etcd[60163]: {"level":"info","ts":"2026-05-18T19:46:38.568475Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094120","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:38 np0000094120 etcd[60163]: {"level":"warn","ts":"2026-05-18T19:46:38.568533Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 18 19:46:38 np0000094120 etcd[60163]: {"level":"fatal","ts":"2026-05-18T19:46:38.568599Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 18 19:46:38 np0000094120 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 18 19:46:38 np0000094120 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 18 19:46:38 np0000094120 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 18 19:46:38 np0000094120 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 18 19:46:38 np0000094120 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 18 19:46:38 np0000094120 etcd[60201]: {"level":"warn","ts":"2026-05-18T19:46:38.792332Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 19:46:38 np0000094120 etcd[60201]: {"level":"info","ts":"2026-05-18T19:46:38.792436Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094120","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094120=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 18 19:46:38 np0000094120 etcd[60201]: {"level":"warn","ts":"2026-05-18T19:46:38.792534Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 18 19:46:38 np0000094120 etcd[60201]: {"level":"info","ts":"2026-05-18T19:46:38.792551Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 18 19:46:38 np0000094120 etcd[60201]: {"level":"info","ts":"2026-05-18T19:46:38.792902Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:38 np0000094120 etcd[60201]: {"level":"info","ts":"2026-05-18T19:46:38.792974Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094120","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:38 np0000094120 etcd[60201]: {"level":"info","ts":"2026-05-18T19:46:38.793021Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094120","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 18 19:46:38 np0000094120 etcd[60201]: {"level":"warn","ts":"2026-05-18T19:46:38.793054Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 18 19:46:38 np0000094120 etcd[60201]: {"level":"fatal","ts":"2026-05-18T19:46:38.793101Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 18 19:46:38 np0000094120 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 18 19:46:38 np0000094120 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 18 19:46:38 np0000094120 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 18 19:46:39 np0000094120 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 18 19:46:39 np0000094120 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 18 19:46:39 np0000094120 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 18 19:46:39 np0000094120 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
