Apr 02 09:02:48 np0000093828 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 09:02:48 np0000093828 etcd[60628]: {"level":"warn","ts":"2026-04-02T09:02:48.682014Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:02:48 np0000093828 etcd[60628]: {"level":"info","ts":"2026-04-02T09:02:48.682180Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093828","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093828=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 09:02:48 np0000093828 etcd[60628]: {"level":"warn","ts":"2026-04-02T09:02:48.682344Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:02:48 np0000093828 etcd[60628]: {"level":"info","ts":"2026-04-02T09:02:48.682379Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 09:02:48 np0000093828 etcd[60628]: {"level":"info","ts":"2026-04-02T09:02:48.682801Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:48 np0000093828 etcd[60628]: {"level":"info","ts":"2026-04-02T09:02:48.682903Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093828","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:48 np0000093828 etcd[60628]: {"level":"info","ts":"2026-04-02T09:02:48.683006Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093828","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:48 np0000093828 etcd[60628]: {"level":"warn","ts":"2026-04-02T09:02:48.683055Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 09:02:48 np0000093828 etcd[60628]: {"level":"fatal","ts":"2026-04-02T09:02:48.683137Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 09:02:48 np0000093828 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 09:02:48 np0000093828 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 09:02:48 np0000093828 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 09:02:48 np0000093828 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 02 09:02:48 np0000093828 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 09:02:49 np0000093828 etcd[60720]: {"level":"warn","ts":"2026-04-02T09:02:49.051106Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:02:49 np0000093828 etcd[60720]: {"level":"info","ts":"2026-04-02T09:02:49.051951Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093828","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093828=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 09:02:49 np0000093828 etcd[60720]: {"level":"warn","ts":"2026-04-02T09:02:49.052059Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:02:49 np0000093828 etcd[60720]: {"level":"info","ts":"2026-04-02T09:02:49.052079Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 09:02:49 np0000093828 etcd[60720]: {"level":"info","ts":"2026-04-02T09:02:49.052300Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:49 np0000093828 etcd[60720]: {"level":"info","ts":"2026-04-02T09:02:49.052347Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093828","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:49 np0000093828 etcd[60720]: {"level":"info","ts":"2026-04-02T09:02:49.052382Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093828","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:49 np0000093828 etcd[60720]: {"level":"warn","ts":"2026-04-02T09:02:49.052404Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 09:02:49 np0000093828 etcd[60720]: {"level":"fatal","ts":"2026-04-02T09:02:49.052437Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 09:02:49 np0000093828 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 02 09:02:49 np0000093828 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 09:02:49 np0000093828 etcd[60749]: {"level":"warn","ts":"2026-04-02T09:02:49.294648Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:02:49 np0000093828 etcd[60749]: {"level":"info","ts":"2026-04-02T09:02:49.294968Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093828","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093828=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 09:02:49 np0000093828 etcd[60749]: {"level":"warn","ts":"2026-04-02T09:02:49.295156Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:02:49 np0000093828 etcd[60749]: {"level":"info","ts":"2026-04-02T09:02:49.295190Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 09:02:49 np0000093828 etcd[60749]: {"level":"info","ts":"2026-04-02T09:02:49.295792Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:49 np0000093828 etcd[60749]: {"level":"info","ts":"2026-04-02T09:02:49.295946Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093828","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:49 np0000093828 etcd[60749]: {"level":"info","ts":"2026-04-02T09:02:49.296031Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093828","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:49 np0000093828 etcd[60749]: {"level":"warn","ts":"2026-04-02T09:02:49.296089Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 09:02:49 np0000093828 etcd[60749]: {"level":"fatal","ts":"2026-04-02T09:02:49.296153Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 09:02:49 np0000093828 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 02 09:02:49 np0000093828 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 09:02:49 np0000093828 etcd[60770]: {"level":"warn","ts":"2026-04-02T09:02:49.554200Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:02:49 np0000093828 etcd[60770]: {"level":"info","ts":"2026-04-02T09:02:49.554363Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093828","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093828=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 09:02:49 np0000093828 etcd[60770]: {"level":"warn","ts":"2026-04-02T09:02:49.554518Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:02:49 np0000093828 etcd[60770]: {"level":"info","ts":"2026-04-02T09:02:49.554546Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 09:02:49 np0000093828 etcd[60770]: {"level":"info","ts":"2026-04-02T09:02:49.555151Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:49 np0000093828 etcd[60770]: {"level":"info","ts":"2026-04-02T09:02:49.555260Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093828","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:49 np0000093828 etcd[60770]: {"level":"info","ts":"2026-04-02T09:02:49.555333Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093828","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:49 np0000093828 etcd[60770]: {"level":"warn","ts":"2026-04-02T09:02:49.555385Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 09:02:49 np0000093828 etcd[60770]: {"level":"fatal","ts":"2026-04-02T09:02:49.555444Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 09:02:49 np0000093828 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 02 09:02:49 np0000093828 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 09:02:49 np0000093828 etcd[60809]: {"level":"warn","ts":"2026-04-02T09:02:49.775430Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:02:49 np0000093828 etcd[60809]: {"level":"info","ts":"2026-04-02T09:02:49.775562Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093828","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093828=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 09:02:49 np0000093828 etcd[60809]: {"level":"warn","ts":"2026-04-02T09:02:49.775707Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:02:49 np0000093828 etcd[60809]: {"level":"info","ts":"2026-04-02T09:02:49.775738Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 09:02:49 np0000093828 etcd[60809]: {"level":"info","ts":"2026-04-02T09:02:49.776124Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:49 np0000093828 etcd[60809]: {"level":"info","ts":"2026-04-02T09:02:49.776216Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093828","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:49 np0000093828 etcd[60809]: {"level":"info","ts":"2026-04-02T09:02:49.776287Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093828","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:02:49 np0000093828 etcd[60809]: {"level":"warn","ts":"2026-04-02T09:02:49.776324Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 09:02:49 np0000093828 etcd[60809]: {"level":"fatal","ts":"2026-04-02T09:02:49.776371Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 09:02:49 np0000093828 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 02 09:02:49 np0000093828 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 09:02:49 np0000093828 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
