Apr 24 00:52:59 np0000094065 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 00:52:59 np0000094065 etcd[60165]: {"level":"warn","ts":"2026-04-24T00:52:59.592878Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 00:52:59 np0000094065 etcd[60165]: {"level":"info","ts":"2026-04-24T00:52:59.593676Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094065","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094065=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 00:52:59 np0000094065 etcd[60165]: {"level":"warn","ts":"2026-04-24T00:52:59.594072Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 00:52:59 np0000094065 etcd[60165]: {"level":"info","ts":"2026-04-24T00:52:59.594273Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 00:52:59 np0000094065 etcd[60165]: {"level":"info","ts":"2026-04-24T00:52:59.594709Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:52:59 np0000094065 etcd[60165]: {"level":"info","ts":"2026-04-24T00:52:59.594969Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094065","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:52:59 np0000094065 etcd[60165]: {"level":"info","ts":"2026-04-24T00:52:59.595028Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094065","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:52:59 np0000094065 etcd[60165]: {"level":"warn","ts":"2026-04-24T00:52:59.595062Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 00:52:59 np0000094065 etcd[60165]: {"level":"fatal","ts":"2026-04-24T00:52:59.595099Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 00:52:59 np0000094065 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 00:52:59 np0000094065 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 00:52:59 np0000094065 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 00:52:59 np0000094065 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 24 00:52:59 np0000094065 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 00:52:59 np0000094065 etcd[60224]: {"level":"warn","ts":"2026-04-24T00:52:59.808329Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 00:52:59 np0000094065 etcd[60224]: {"level":"info","ts":"2026-04-24T00:52:59.808497Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094065","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094065=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 00:52:59 np0000094065 etcd[60224]: {"level":"warn","ts":"2026-04-24T00:52:59.808651Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 00:52:59 np0000094065 etcd[60224]: {"level":"info","ts":"2026-04-24T00:52:59.808685Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 00:52:59 np0000094065 etcd[60224]: {"level":"info","ts":"2026-04-24T00:52:59.809117Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:52:59 np0000094065 etcd[60224]: {"level":"info","ts":"2026-04-24T00:52:59.809220Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094065","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:52:59 np0000094065 etcd[60224]: {"level":"info","ts":"2026-04-24T00:52:59.809288Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094065","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:52:59 np0000094065 etcd[60224]: {"level":"warn","ts":"2026-04-24T00:52:59.809336Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 00:52:59 np0000094065 etcd[60224]: {"level":"fatal","ts":"2026-04-24T00:52:59.809393Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 00:52:59 np0000094065 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 00:52:59 np0000094065 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 00:52:59 np0000094065 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 00:52:59 np0000094065 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 24 00:53:00 np0000094065 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 00:53:00 np0000094065 etcd[60287]: {"level":"warn","ts":"2026-04-24T00:53:00.061839Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 00:53:00 np0000094065 etcd[60287]: {"level":"info","ts":"2026-04-24T00:53:00.062081Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094065","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094065=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 00:53:00 np0000094065 etcd[60287]: {"level":"warn","ts":"2026-04-24T00:53:00.062249Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 00:53:00 np0000094065 etcd[60287]: {"level":"info","ts":"2026-04-24T00:53:00.062280Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 00:53:00 np0000094065 etcd[60287]: {"level":"info","ts":"2026-04-24T00:53:00.062802Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:53:00 np0000094065 etcd[60287]: {"level":"info","ts":"2026-04-24T00:53:00.062965Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094065","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:53:00 np0000094065 etcd[60287]: {"level":"info","ts":"2026-04-24T00:53:00.063048Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094065","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:53:00 np0000094065 etcd[60287]: {"level":"warn","ts":"2026-04-24T00:53:00.063105Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 00:53:00 np0000094065 etcd[60287]: {"level":"fatal","ts":"2026-04-24T00:53:00.063173Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 00:53:00 np0000094065 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 00:53:00 np0000094065 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 00:53:00 np0000094065 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 00:53:00 np0000094065 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 24 00:53:00 np0000094065 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 00:53:00 np0000094065 etcd[60303]: {"level":"warn","ts":"2026-04-24T00:53:00.318825Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 00:53:00 np0000094065 etcd[60303]: {"level":"info","ts":"2026-04-24T00:53:00.319061Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094065","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094065=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 00:53:00 np0000094065 etcd[60303]: {"level":"warn","ts":"2026-04-24T00:53:00.319296Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 00:53:00 np0000094065 etcd[60303]: {"level":"info","ts":"2026-04-24T00:53:00.319333Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 00:53:00 np0000094065 etcd[60303]: {"level":"info","ts":"2026-04-24T00:53:00.320053Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:53:00 np0000094065 etcd[60303]: {"level":"info","ts":"2026-04-24T00:53:00.320197Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094065","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:53:00 np0000094065 etcd[60303]: {"level":"info","ts":"2026-04-24T00:53:00.320278Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094065","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:53:00 np0000094065 etcd[60303]: {"level":"warn","ts":"2026-04-24T00:53:00.320338Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 00:53:00 np0000094065 etcd[60303]: {"level":"fatal","ts":"2026-04-24T00:53:00.320436Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 00:53:00 np0000094065 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 00:53:00 np0000094065 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 00:53:00 np0000094065 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 00:53:00 np0000094065 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 24 00:53:00 np0000094065 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 00:53:00 np0000094065 etcd[60339]: {"level":"warn","ts":"2026-04-24T00:53:00.578307Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 00:53:00 np0000094065 etcd[60339]: {"level":"info","ts":"2026-04-24T00:53:00.578498Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094065","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094065=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 00:53:00 np0000094065 etcd[60339]: {"level":"warn","ts":"2026-04-24T00:53:00.578680Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 00:53:00 np0000094065 etcd[60339]: {"level":"info","ts":"2026-04-24T00:53:00.578719Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 00:53:00 np0000094065 etcd[60339]: {"level":"info","ts":"2026-04-24T00:53:00.579150Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:53:00 np0000094065 etcd[60339]: {"level":"info","ts":"2026-04-24T00:53:00.579263Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094065","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:53:00 np0000094065 etcd[60339]: {"level":"info","ts":"2026-04-24T00:53:00.579361Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094065","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 00:53:00 np0000094065 etcd[60339]: {"level":"warn","ts":"2026-04-24T00:53:00.579416Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 00:53:00 np0000094065 etcd[60339]: {"level":"fatal","ts":"2026-04-24T00:53:00.579497Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 00:53:00 np0000094065 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 00:53:00 np0000094065 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 00:53:00 np0000094065 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 00:53:00 np0000094065 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 24 00:53:00 np0000094065 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 24 00:53:00 np0000094065 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 00:53:00 np0000094065 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
