Apr 24 16:23:44 np0000094077 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 16:23:44 np0000094077 etcd[60208]: {"level":"warn","ts":"2026-04-24T16:23:44.774540Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 16:23:44 np0000094077 etcd[60208]: {"level":"info","ts":"2026-04-24T16:23:44.774693Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094077","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094077=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 16:23:44 np0000094077 etcd[60208]: {"level":"warn","ts":"2026-04-24T16:23:44.774856Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 16:23:44 np0000094077 etcd[60208]: {"level":"info","ts":"2026-04-24T16:23:44.774884Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 16:23:44 np0000094077 etcd[60208]: {"level":"info","ts":"2026-04-24T16:23:44.775365Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:44 np0000094077 etcd[60208]: {"level":"info","ts":"2026-04-24T16:23:44.775470Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094077","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:44 np0000094077 etcd[60208]: {"level":"info","ts":"2026-04-24T16:23:44.775551Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094077","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:44 np0000094077 etcd[60208]: {"level":"warn","ts":"2026-04-24T16:23:44.775606Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 16:23:44 np0000094077 etcd[60208]: {"level":"fatal","ts":"2026-04-24T16:23:44.775662Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 16:23:44 np0000094077 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 16:23:44 np0000094077 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 16:23:44 np0000094077 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 16:23:44 np0000094077 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 24 16:23:44 np0000094077 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 16:23:45 np0000094077 etcd[60270]: {"level":"warn","ts":"2026-04-24T16:23:45.030810Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 16:23:45 np0000094077 etcd[60270]: {"level":"info","ts":"2026-04-24T16:23:45.030960Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094077","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094077=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 16:23:45 np0000094077 etcd[60270]: {"level":"warn","ts":"2026-04-24T16:23:45.031092Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 16:23:45 np0000094077 etcd[60270]: {"level":"info","ts":"2026-04-24T16:23:45.031120Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 16:23:45 np0000094077 etcd[60270]: {"level":"info","ts":"2026-04-24T16:23:45.031471Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:45 np0000094077 etcd[60270]: {"level":"info","ts":"2026-04-24T16:23:45.031554Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094077","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:45 np0000094077 etcd[60270]: {"level":"info","ts":"2026-04-24T16:23:45.031609Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094077","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:45 np0000094077 etcd[60270]: {"level":"warn","ts":"2026-04-24T16:23:45.031648Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 16:23:45 np0000094077 etcd[60270]: {"level":"fatal","ts":"2026-04-24T16:23:45.031692Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 16:23:45 np0000094077 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 24 16:23:45 np0000094077 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 16:23:45 np0000094077 etcd[60329]: {"level":"warn","ts":"2026-04-24T16:23:45.284502Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 16:23:45 np0000094077 etcd[60329]: {"level":"info","ts":"2026-04-24T16:23:45.285917Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094077","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094077=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 16:23:45 np0000094077 etcd[60329]: {"level":"warn","ts":"2026-04-24T16:23:45.286473Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 16:23:45 np0000094077 etcd[60329]: {"level":"info","ts":"2026-04-24T16:23:45.286525Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 16:23:45 np0000094077 etcd[60329]: {"level":"info","ts":"2026-04-24T16:23:45.286975Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:45 np0000094077 etcd[60329]: {"level":"info","ts":"2026-04-24T16:23:45.287078Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094077","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:45 np0000094077 etcd[60329]: {"level":"info","ts":"2026-04-24T16:23:45.287150Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094077","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:45 np0000094077 etcd[60329]: {"level":"warn","ts":"2026-04-24T16:23:45.288100Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 16:23:45 np0000094077 etcd[60329]: {"level":"fatal","ts":"2026-04-24T16:23:45.288198Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 16:23:45 np0000094077 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 24 16:23:45 np0000094077 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 16:23:45 np0000094077 etcd[60337]: {"level":"warn","ts":"2026-04-24T16:23:45.543976Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 16:23:45 np0000094077 etcd[60337]: {"level":"info","ts":"2026-04-24T16:23:45.544214Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094077","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094077=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 16:23:45 np0000094077 etcd[60337]: {"level":"warn","ts":"2026-04-24T16:23:45.544394Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 16:23:45 np0000094077 etcd[60337]: {"level":"info","ts":"2026-04-24T16:23:45.544426Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 16:23:45 np0000094077 etcd[60337]: {"level":"info","ts":"2026-04-24T16:23:45.544970Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:45 np0000094077 etcd[60337]: {"level":"info","ts":"2026-04-24T16:23:45.545103Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094077","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:45 np0000094077 etcd[60337]: {"level":"info","ts":"2026-04-24T16:23:45.546976Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094077","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:45 np0000094077 etcd[60337]: {"level":"warn","ts":"2026-04-24T16:23:45.547069Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 16:23:45 np0000094077 etcd[60337]: {"level":"fatal","ts":"2026-04-24T16:23:45.547144Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 16:23:45 np0000094077 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 24 16:23:45 np0000094077 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 16:23:45 np0000094077 etcd[60362]: {"level":"warn","ts":"2026-04-24T16:23:45.765735Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 16:23:45 np0000094077 etcd[60362]: {"level":"info","ts":"2026-04-24T16:23:45.765964Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094077","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094077=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 16:23:45 np0000094077 etcd[60362]: {"level":"warn","ts":"2026-04-24T16:23:45.766217Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 16:23:45 np0000094077 etcd[60362]: {"level":"info","ts":"2026-04-24T16:23:45.766258Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 16:23:45 np0000094077 etcd[60362]: {"level":"info","ts":"2026-04-24T16:23:45.766889Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:45 np0000094077 etcd[60362]: {"level":"info","ts":"2026-04-24T16:23:45.767088Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094077","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:45 np0000094077 etcd[60362]: {"level":"info","ts":"2026-04-24T16:23:45.767194Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094077","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 16:23:45 np0000094077 etcd[60362]: {"level":"warn","ts":"2026-04-24T16:23:45.767266Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 16:23:45 np0000094077 etcd[60362]: {"level":"fatal","ts":"2026-04-24T16:23:45.767373Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 16:23:45 np0000094077 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 24 16:23:45 np0000094077 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 16:23:45 np0000094077 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
