Apr 27 13:51:27 np0000094086 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 13:51:27 np0000094086 etcd[60426]: {"level":"warn","ts":"2026-04-27T13:51:27.784996Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 13:51:27 np0000094086 etcd[60426]: {"level":"info","ts":"2026-04-27T13:51:27.785220Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094086","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094086=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 13:51:27 np0000094086 etcd[60426]: {"level":"warn","ts":"2026-04-27T13:51:27.785373Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 13:51:27 np0000094086 etcd[60426]: {"level":"info","ts":"2026-04-27T13:51:27.785420Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 13:51:27 np0000094086 etcd[60426]: {"level":"info","ts":"2026-04-27T13:51:27.786006Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:27 np0000094086 etcd[60426]: {"level":"info","ts":"2026-04-27T13:51:27.786225Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094086","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:27 np0000094086 etcd[60426]: {"level":"info","ts":"2026-04-27T13:51:27.786324Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094086","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:27 np0000094086 etcd[60426]: {"level":"warn","ts":"2026-04-27T13:51:27.786410Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 13:51:27 np0000094086 etcd[60426]: {"level":"fatal","ts":"2026-04-27T13:51:27.786502Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 13:51:27 np0000094086 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 13:51:27 np0000094086 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 13:51:27 np0000094086 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 13:51:27 np0000094086 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 27 13:51:27 np0000094086 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 13:51:28 np0000094086 etcd[60475]: {"level":"warn","ts":"2026-04-27T13:51:28.008707Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 13:51:28 np0000094086 etcd[60475]: {"level":"info","ts":"2026-04-27T13:51:28.009672Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094086","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094086=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 13:51:28 np0000094086 etcd[60475]: {"level":"warn","ts":"2026-04-27T13:51:28.009838Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 13:51:28 np0000094086 etcd[60475]: {"level":"info","ts":"2026-04-27T13:51:28.009865Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 13:51:28 np0000094086 etcd[60475]: {"level":"info","ts":"2026-04-27T13:51:28.010308Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:28 np0000094086 etcd[60475]: {"level":"info","ts":"2026-04-27T13:51:28.010403Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094086","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:28 np0000094086 etcd[60475]: {"level":"info","ts":"2026-04-27T13:51:28.011374Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094086","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:28 np0000094086 etcd[60475]: {"level":"warn","ts":"2026-04-27T13:51:28.011433Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 13:51:28 np0000094086 etcd[60475]: {"level":"fatal","ts":"2026-04-27T13:51:28.011503Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 13:51:28 np0000094086 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 27 13:51:28 np0000094086 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 13:51:28 np0000094086 etcd[60546]: {"level":"warn","ts":"2026-04-27T13:51:28.244429Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 13:51:28 np0000094086 etcd[60546]: {"level":"info","ts":"2026-04-27T13:51:28.244587Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094086","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094086=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 13:51:28 np0000094086 etcd[60546]: {"level":"warn","ts":"2026-04-27T13:51:28.244709Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 13:51:28 np0000094086 etcd[60546]: {"level":"info","ts":"2026-04-27T13:51:28.244733Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 13:51:28 np0000094086 etcd[60546]: {"level":"info","ts":"2026-04-27T13:51:28.245161Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:28 np0000094086 etcd[60546]: {"level":"info","ts":"2026-04-27T13:51:28.245260Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094086","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:28 np0000094086 etcd[60546]: {"level":"info","ts":"2026-04-27T13:51:28.245325Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094086","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:28 np0000094086 etcd[60546]: {"level":"warn","ts":"2026-04-27T13:51:28.245377Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 13:51:28 np0000094086 etcd[60546]: {"level":"fatal","ts":"2026-04-27T13:51:28.245430Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 13:51:28 np0000094086 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 27 13:51:28 np0000094086 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 13:51:28 np0000094086 etcd[60553]: {"level":"warn","ts":"2026-04-27T13:51:28.504555Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 13:51:28 np0000094086 etcd[60553]: {"level":"info","ts":"2026-04-27T13:51:28.506009Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094086","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094086=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 13:51:28 np0000094086 etcd[60553]: {"level":"warn","ts":"2026-04-27T13:51:28.506271Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 13:51:28 np0000094086 etcd[60553]: {"level":"info","ts":"2026-04-27T13:51:28.506307Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 13:51:28 np0000094086 etcd[60553]: {"level":"info","ts":"2026-04-27T13:51:28.506784Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:28 np0000094086 etcd[60553]: {"level":"info","ts":"2026-04-27T13:51:28.506937Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094086","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:28 np0000094086 etcd[60553]: {"level":"info","ts":"2026-04-27T13:51:28.507023Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094086","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:28 np0000094086 etcd[60553]: {"level":"warn","ts":"2026-04-27T13:51:28.507081Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 13:51:28 np0000094086 etcd[60553]: {"level":"fatal","ts":"2026-04-27T13:51:28.508520Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 13:51:28 np0000094086 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 27 13:51:28 np0000094086 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 13:51:28 np0000094086 etcd[60578]: {"level":"warn","ts":"2026-04-27T13:51:28.742155Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 13:51:28 np0000094086 etcd[60578]: {"level":"info","ts":"2026-04-27T13:51:28.742306Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094086","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094086=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 13:51:28 np0000094086 etcd[60578]: {"level":"warn","ts":"2026-04-27T13:51:28.742444Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 13:51:28 np0000094086 etcd[60578]: {"level":"info","ts":"2026-04-27T13:51:28.742470Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 13:51:28 np0000094086 etcd[60578]: {"level":"info","ts":"2026-04-27T13:51:28.742959Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:28 np0000094086 etcd[60578]: {"level":"info","ts":"2026-04-27T13:51:28.743062Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094086","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:28 np0000094086 etcd[60578]: {"level":"info","ts":"2026-04-27T13:51:28.743162Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094086","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 13:51:28 np0000094086 etcd[60578]: {"level":"warn","ts":"2026-04-27T13:51:28.743212Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 13:51:28 np0000094086 etcd[60578]: {"level":"fatal","ts":"2026-04-27T13:51:28.743292Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 13:51:28 np0000094086 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 27 13:51:28 np0000094086 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 13:51:28 np0000094086 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
