Jun 19 13:41:31 np0000094412 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 13:41:31 np0000094412 etcd[60223]: {"level":"warn","ts":"2026-06-19T13:41:31.938649Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 13:41:31 np0000094412 etcd[60223]: {"level":"info","ts":"2026-06-19T13:41:31.938895Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094412","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094412=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 13:41:31 np0000094412 etcd[60223]: {"level":"warn","ts":"2026-06-19T13:41:31.939056Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 13:41:31 np0000094412 etcd[60223]: {"level":"info","ts":"2026-06-19T13:41:31.939097Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 13:41:31 np0000094412 etcd[60223]: {"level":"info","ts":"2026-06-19T13:41:31.939554Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:31 np0000094412 etcd[60223]: {"level":"info","ts":"2026-06-19T13:41:31.939671Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094412","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:31 np0000094412 etcd[60223]: {"level":"info","ts":"2026-06-19T13:41:31.939752Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094412","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:31 np0000094412 etcd[60223]: {"level":"warn","ts":"2026-06-19T13:41:31.939874Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 13:41:31 np0000094412 etcd[60223]: {"level":"fatal","ts":"2026-06-19T13:41:31.939940Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 13:41:31 np0000094412 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 13:41:31 np0000094412 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 13:41:31 np0000094412 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 13:41:32 np0000094412 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 19 13:41:32 np0000094412 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 13:41:32 np0000094412 etcd[60324]: {"level":"warn","ts":"2026-06-19T13:41:32.310356Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 13:41:32 np0000094412 etcd[60324]: {"level":"info","ts":"2026-06-19T13:41:32.310535Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094412","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094412=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 13:41:32 np0000094412 etcd[60324]: {"level":"warn","ts":"2026-06-19T13:41:32.310704Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 13:41:32 np0000094412 etcd[60324]: {"level":"info","ts":"2026-06-19T13:41:32.310735Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 13:41:32 np0000094412 etcd[60324]: {"level":"info","ts":"2026-06-19T13:41:32.311173Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:32 np0000094412 etcd[60324]: {"level":"info","ts":"2026-06-19T13:41:32.311292Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094412","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:32 np0000094412 etcd[60324]: {"level":"info","ts":"2026-06-19T13:41:32.311347Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094412","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:32 np0000094412 etcd[60324]: {"level":"warn","ts":"2026-06-19T13:41:32.311396Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 13:41:32 np0000094412 etcd[60324]: {"level":"fatal","ts":"2026-06-19T13:41:32.311453Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 13:41:32 np0000094412 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 13:41:32 np0000094412 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 13:41:32 np0000094412 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 13:41:32 np0000094412 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 19 13:41:32 np0000094412 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 13:41:32 np0000094412 etcd[60345]: {"level":"warn","ts":"2026-06-19T13:41:32.533196Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 13:41:32 np0000094412 etcd[60345]: {"level":"info","ts":"2026-06-19T13:41:32.533863Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094412","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094412=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 13:41:32 np0000094412 etcd[60345]: {"level":"warn","ts":"2026-06-19T13:41:32.534004Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 13:41:32 np0000094412 etcd[60345]: {"level":"info","ts":"2026-06-19T13:41:32.534024Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 13:41:32 np0000094412 etcd[60345]: {"level":"info","ts":"2026-06-19T13:41:32.534294Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:32 np0000094412 etcd[60345]: {"level":"info","ts":"2026-06-19T13:41:32.534362Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094412","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:32 np0000094412 etcd[60345]: {"level":"info","ts":"2026-06-19T13:41:32.534404Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094412","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:32 np0000094412 etcd[60345]: {"level":"warn","ts":"2026-06-19T13:41:32.534432Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 13:41:32 np0000094412 etcd[60345]: {"level":"fatal","ts":"2026-06-19T13:41:32.534465Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 13:41:32 np0000094412 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 13:41:32 np0000094412 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 13:41:32 np0000094412 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 13:41:32 np0000094412 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 19 13:41:32 np0000094412 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 13:41:32 np0000094412 etcd[60370]: {"level":"warn","ts":"2026-06-19T13:41:32.782619Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 13:41:32 np0000094412 etcd[60370]: {"level":"info","ts":"2026-06-19T13:41:32.782717Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094412","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094412=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 13:41:32 np0000094412 etcd[60370]: {"level":"warn","ts":"2026-06-19T13:41:32.782846Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 13:41:32 np0000094412 etcd[60370]: {"level":"info","ts":"2026-06-19T13:41:32.782864Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 13:41:32 np0000094412 etcd[60370]: {"level":"info","ts":"2026-06-19T13:41:32.783125Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:32 np0000094412 etcd[60370]: {"level":"info","ts":"2026-06-19T13:41:32.783183Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094412","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:32 np0000094412 etcd[60370]: {"level":"info","ts":"2026-06-19T13:41:32.783226Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094412","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:32 np0000094412 etcd[60370]: {"level":"warn","ts":"2026-06-19T13:41:32.783254Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 13:41:32 np0000094412 etcd[60370]: {"level":"fatal","ts":"2026-06-19T13:41:32.783295Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 13:41:32 np0000094412 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 13:41:32 np0000094412 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 13:41:32 np0000094412 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 13:41:32 np0000094412 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 19 13:41:33 np0000094412 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 13:41:33 np0000094412 etcd[60408]: {"level":"warn","ts":"2026-06-19T13:41:33.062733Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 13:41:33 np0000094412 etcd[60408]: {"level":"info","ts":"2026-06-19T13:41:33.062937Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094412","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094412=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 13:41:33 np0000094412 etcd[60408]: {"level":"warn","ts":"2026-06-19T13:41:33.063096Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 13:41:33 np0000094412 etcd[60408]: {"level":"info","ts":"2026-06-19T13:41:33.063125Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 13:41:33 np0000094412 etcd[60408]: {"level":"info","ts":"2026-06-19T13:41:33.063972Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:33 np0000094412 etcd[60408]: {"level":"info","ts":"2026-06-19T13:41:33.064112Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094412","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:33 np0000094412 etcd[60408]: {"level":"info","ts":"2026-06-19T13:41:33.064187Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094412","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 13:41:33 np0000094412 etcd[60408]: {"level":"warn","ts":"2026-06-19T13:41:33.064247Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 13:41:33 np0000094412 etcd[60408]: {"level":"fatal","ts":"2026-06-19T13:41:33.064308Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 13:41:33 np0000094412 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 13:41:33 np0000094412 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 13:41:33 np0000094412 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 13:41:33 np0000094412 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 19 13:41:33 np0000094412 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 19 13:41:33 np0000094412 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 13:41:33 np0000094412 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
