Apr 26 09:55:26 np0000094079 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 26 09:55:26 np0000094079 etcd[63596]: {"level":"warn","ts":"2026-04-26T09:55:26.704999Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 26 09:55:26 np0000094079 etcd[63596]: {"level":"info","ts":"2026-04-26T09:55:26.705170Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094079","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094079=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 26 09:55:26 np0000094079 etcd[63596]: {"level":"warn","ts":"2026-04-26T09:55:26.705368Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 26 09:55:26 np0000094079 etcd[63596]: {"level":"info","ts":"2026-04-26T09:55:26.705409Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 26 09:55:26 np0000094079 etcd[63596]: {"level":"info","ts":"2026-04-26T09:55:26.705997Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:26 np0000094079 etcd[63596]: {"level":"info","ts":"2026-04-26T09:55:26.706147Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094079","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:26 np0000094079 etcd[63596]: {"level":"info","ts":"2026-04-26T09:55:26.706226Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094079","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:26 np0000094079 etcd[63596]: {"level":"warn","ts":"2026-04-26T09:55:26.706280Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 26 09:55:26 np0000094079 etcd[63596]: {"level":"fatal","ts":"2026-04-26T09:55:26.706343Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 26 09:55:26 np0000094079 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 26 09:55:26 np0000094079 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 26 09:55:26 np0000094079 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 26 09:55:27 np0000094079 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 26 09:55:27 np0000094079 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 26 09:55:27 np0000094079 etcd[63702]: {"level":"warn","ts":"2026-04-26T09:55:27.110143Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 26 09:55:27 np0000094079 etcd[63702]: {"level":"info","ts":"2026-04-26T09:55:27.111322Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094079","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094079=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 26 09:55:27 np0000094079 etcd[63702]: {"level":"warn","ts":"2026-04-26T09:55:27.111520Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 26 09:55:27 np0000094079 etcd[63702]: {"level":"info","ts":"2026-04-26T09:55:27.111562Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 26 09:55:27 np0000094079 etcd[63702]: {"level":"info","ts":"2026-04-26T09:55:27.112611Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:27 np0000094079 etcd[63702]: {"level":"info","ts":"2026-04-26T09:55:27.112790Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094079","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:27 np0000094079 etcd[63702]: {"level":"info","ts":"2026-04-26T09:55:27.112870Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094079","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:27 np0000094079 etcd[63702]: {"level":"warn","ts":"2026-04-26T09:55:27.112933Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 26 09:55:27 np0000094079 etcd[63702]: {"level":"fatal","ts":"2026-04-26T09:55:27.112998Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 26 09:55:27 np0000094079 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 26 09:55:27 np0000094079 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 26 09:55:27 np0000094079 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 26 09:55:27 np0000094079 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 26 09:55:27 np0000094079 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 26 09:55:27 np0000094079 etcd[63718]: {"level":"warn","ts":"2026-04-26T09:55:27.354115Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 26 09:55:27 np0000094079 etcd[63718]: {"level":"info","ts":"2026-04-26T09:55:27.355425Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094079","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094079=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 26 09:55:27 np0000094079 etcd[63718]: {"level":"warn","ts":"2026-04-26T09:55:27.355647Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 26 09:55:27 np0000094079 etcd[63718]: {"level":"info","ts":"2026-04-26T09:55:27.355750Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 26 09:55:27 np0000094079 etcd[63718]: {"level":"info","ts":"2026-04-26T09:55:27.356380Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:27 np0000094079 etcd[63718]: {"level":"info","ts":"2026-04-26T09:55:27.356516Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094079","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:27 np0000094079 etcd[63718]: {"level":"info","ts":"2026-04-26T09:55:27.357526Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094079","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:27 np0000094079 etcd[63718]: {"level":"warn","ts":"2026-04-26T09:55:27.357607Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 26 09:55:27 np0000094079 etcd[63718]: {"level":"fatal","ts":"2026-04-26T09:55:27.357736Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 26 09:55:27 np0000094079 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 26 09:55:27 np0000094079 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 26 09:55:27 np0000094079 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 26 09:55:27 np0000094079 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 26 09:55:27 np0000094079 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 26 09:55:27 np0000094079 etcd[63743]: {"level":"warn","ts":"2026-04-26T09:55:27.602023Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 26 09:55:27 np0000094079 etcd[63743]: {"level":"info","ts":"2026-04-26T09:55:27.602191Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094079","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094079=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 26 09:55:27 np0000094079 etcd[63743]: {"level":"warn","ts":"2026-04-26T09:55:27.602329Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 26 09:55:27 np0000094079 etcd[63743]: {"level":"info","ts":"2026-04-26T09:55:27.602362Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 26 09:55:27 np0000094079 etcd[63743]: {"level":"info","ts":"2026-04-26T09:55:27.602790Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:27 np0000094079 etcd[63743]: {"level":"info","ts":"2026-04-26T09:55:27.602896Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094079","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:27 np0000094079 etcd[63743]: {"level":"info","ts":"2026-04-26T09:55:27.602966Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094079","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:27 np0000094079 etcd[63743]: {"level":"warn","ts":"2026-04-26T09:55:27.603014Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 26 09:55:27 np0000094079 etcd[63743]: {"level":"fatal","ts":"2026-04-26T09:55:27.603069Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 26 09:55:27 np0000094079 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 26 09:55:27 np0000094079 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 26 09:55:27 np0000094079 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 26 09:55:27 np0000094079 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 26 09:55:27 np0000094079 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 26 09:55:27 np0000094079 etcd[63783]: {"level":"warn","ts":"2026-04-26T09:55:27.857553Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 26 09:55:27 np0000094079 etcd[63783]: {"level":"info","ts":"2026-04-26T09:55:27.857758Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094079","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094079=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 26 09:55:27 np0000094079 etcd[63783]: {"level":"warn","ts":"2026-04-26T09:55:27.857909Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 26 09:55:27 np0000094079 etcd[63783]: {"level":"info","ts":"2026-04-26T09:55:27.857947Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 26 09:55:27 np0000094079 etcd[63783]: {"level":"info","ts":"2026-04-26T09:55:27.858378Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:27 np0000094079 etcd[63783]: {"level":"info","ts":"2026-04-26T09:55:27.858593Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094079","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:27 np0000094079 etcd[63783]: {"level":"info","ts":"2026-04-26T09:55:27.858906Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094079","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 26 09:55:27 np0000094079 etcd[63783]: {"level":"warn","ts":"2026-04-26T09:55:27.859080Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 26 09:55:27 np0000094079 etcd[63783]: {"level":"fatal","ts":"2026-04-26T09:55:27.859144Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 26 09:55:27 np0000094079 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 26 09:55:27 np0000094079 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 26 09:55:27 np0000094079 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 26 09:55:28 np0000094079 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 26 09:55:28 np0000094079 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 26 09:55:28 np0000094079 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 26 09:55:28 np0000094079 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
