Apr 14 14:25:04 np0000093947 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 14:25:04 np0000093947 etcd[60556]: {"level":"warn","ts":"2026-04-14T14:25:04.808155Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 14:25:04 np0000093947 etcd[60556]: {"level":"info","ts":"2026-04-14T14:25:04.808344Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093947","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093947=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 14:25:04 np0000093947 etcd[60556]: {"level":"warn","ts":"2026-04-14T14:25:04.808461Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 14:25:04 np0000093947 etcd[60556]: {"level":"info","ts":"2026-04-14T14:25:04.808484Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 14:25:04 np0000093947 etcd[60556]: {"level":"info","ts":"2026-04-14T14:25:04.808861Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:04 np0000093947 etcd[60556]: {"level":"info","ts":"2026-04-14T14:25:04.808953Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093947","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:04 np0000093947 etcd[60556]: {"level":"info","ts":"2026-04-14T14:25:04.809040Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093947","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:04 np0000093947 etcd[60556]: {"level":"warn","ts":"2026-04-14T14:25:04.809088Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 14:25:04 np0000093947 etcd[60556]: {"level":"fatal","ts":"2026-04-14T14:25:04.809146Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 14:25:04 np0000093947 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 14:25:04 np0000093947 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 14:25:04 np0000093947 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 14:25:05 np0000093947 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 14:25:05 np0000093947 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 14:25:05 np0000093947 etcd[60649]: {"level":"warn","ts":"2026-04-14T14:25:05.178276Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 14:25:05 np0000093947 etcd[60649]: {"level":"info","ts":"2026-04-14T14:25:05.178435Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093947","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093947=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 14:25:05 np0000093947 etcd[60649]: {"level":"warn","ts":"2026-04-14T14:25:05.178573Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 14:25:05 np0000093947 etcd[60649]: {"level":"info","ts":"2026-04-14T14:25:05.178601Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 14:25:05 np0000093947 etcd[60649]: {"level":"info","ts":"2026-04-14T14:25:05.179032Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:05 np0000093947 etcd[60649]: {"level":"info","ts":"2026-04-14T14:25:05.179162Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093947","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:05 np0000093947 etcd[60649]: {"level":"info","ts":"2026-04-14T14:25:05.179271Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093947","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:05 np0000093947 etcd[60649]: {"level":"warn","ts":"2026-04-14T14:25:05.179352Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 14:25:05 np0000093947 etcd[60649]: {"level":"fatal","ts":"2026-04-14T14:25:05.179429Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 14:25:05 np0000093947 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 14:25:05 np0000093947 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 14:25:05 np0000093947 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 14:25:05 np0000093947 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 14:25:05 np0000093947 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 14:25:05 np0000093947 etcd[60676]: {"level":"warn","ts":"2026-04-14T14:25:05.424109Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 14:25:05 np0000093947 etcd[60676]: {"level":"info","ts":"2026-04-14T14:25:05.424311Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093947","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093947=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 14:25:05 np0000093947 etcd[60676]: {"level":"warn","ts":"2026-04-14T14:25:05.424479Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 14:25:05 np0000093947 etcd[60676]: {"level":"info","ts":"2026-04-14T14:25:05.424510Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 14:25:05 np0000093947 etcd[60676]: {"level":"info","ts":"2026-04-14T14:25:05.425092Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:05 np0000093947 etcd[60676]: {"level":"info","ts":"2026-04-14T14:25:05.427216Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093947","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:05 np0000093947 etcd[60676]: {"level":"info","ts":"2026-04-14T14:25:05.427349Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093947","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:05 np0000093947 etcd[60676]: {"level":"warn","ts":"2026-04-14T14:25:05.427423Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 14:25:05 np0000093947 etcd[60676]: {"level":"fatal","ts":"2026-04-14T14:25:05.427495Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 14:25:05 np0000093947 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 14:25:05 np0000093947 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 14:25:05 np0000093947 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 14:25:05 np0000093947 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 14:25:05 np0000093947 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 14:25:05 np0000093947 etcd[60698]: {"level":"warn","ts":"2026-04-14T14:25:05.682636Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 14:25:05 np0000093947 etcd[60698]: {"level":"info","ts":"2026-04-14T14:25:05.682856Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093947","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093947=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 14:25:05 np0000093947 etcd[60698]: {"level":"warn","ts":"2026-04-14T14:25:05.683054Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 14:25:05 np0000093947 etcd[60698]: {"level":"info","ts":"2026-04-14T14:25:05.683087Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 14:25:05 np0000093947 etcd[60698]: {"level":"info","ts":"2026-04-14T14:25:05.684878Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:05 np0000093947 etcd[60698]: {"level":"info","ts":"2026-04-14T14:25:05.685248Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093947","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:05 np0000093947 etcd[60698]: {"level":"info","ts":"2026-04-14T14:25:05.685506Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093947","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:05 np0000093947 etcd[60698]: {"level":"warn","ts":"2026-04-14T14:25:05.686006Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 14:25:05 np0000093947 etcd[60698]: {"level":"fatal","ts":"2026-04-14T14:25:05.686233Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 14:25:05 np0000093947 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 14:25:05 np0000093947 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 14:25:05 np0000093947 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 14:25:05 np0000093947 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 14:25:05 np0000093947 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 14:25:05 np0000093947 etcd[60739]: {"level":"warn","ts":"2026-04-14T14:25:05.929155Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 14:25:05 np0000093947 etcd[60739]: {"level":"info","ts":"2026-04-14T14:25:05.929381Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093947","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093947=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 14:25:05 np0000093947 etcd[60739]: {"level":"warn","ts":"2026-04-14T14:25:05.929533Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 14:25:05 np0000093947 etcd[60739]: {"level":"info","ts":"2026-04-14T14:25:05.929565Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 14:25:05 np0000093947 etcd[60739]: {"level":"info","ts":"2026-04-14T14:25:05.930042Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:05 np0000093947 etcd[60739]: {"level":"info","ts":"2026-04-14T14:25:05.930166Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093947","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:05 np0000093947 etcd[60739]: {"level":"info","ts":"2026-04-14T14:25:05.930284Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093947","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 14:25:05 np0000093947 etcd[60739]: {"level":"warn","ts":"2026-04-14T14:25:05.930338Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 14:25:05 np0000093947 etcd[60739]: {"level":"fatal","ts":"2026-04-14T14:25:05.930399Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 14:25:05 np0000093947 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 14:25:05 np0000093947 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 14:25:05 np0000093947 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 14:25:06 np0000093947 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 14:25:06 np0000093947 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 14:25:06 np0000093947 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 14:25:06 np0000093947 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
