Feb 13 13:52:46 np0000056235 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:52:46 np0000056235 etcd[60256]: {"level":"warn","ts":"2026-02-13T13:52:46.265060Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:52:46 np0000056235 etcd[60256]: {"level":"info","ts":"2026-02-13T13:52:46.265208Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056235","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056235=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:52:46 np0000056235 etcd[60256]: {"level":"warn","ts":"2026-02-13T13:52:46.265331Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:52:46 np0000056235 etcd[60256]: {"level":"info","ts":"2026-02-13T13:52:46.265360Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:52:46 np0000056235 etcd[60256]: {"level":"info","ts":"2026-02-13T13:52:46.265792Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:46 np0000056235 etcd[60256]: {"level":"info","ts":"2026-02-13T13:52:46.265898Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:46 np0000056235 etcd[60256]: {"level":"info","ts":"2026-02-13T13:52:46.265957Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:46 np0000056235 etcd[60256]: {"level":"warn","ts":"2026-02-13T13:52:46.266006Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:52:46 np0000056235 etcd[60256]: {"level":"fatal","ts":"2026-02-13T13:52:46.266066Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:52:46 np0000056235 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:52:46 np0000056235 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:52:46 np0000056235 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:52:46 np0000056235 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 13:52:46 np0000056235 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:52:46 np0000056235 etcd[60359]: {"level":"warn","ts":"2026-02-13T13:52:46.617602Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:52:46 np0000056235 etcd[60359]: {"level":"info","ts":"2026-02-13T13:52:46.617805Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056235","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056235=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:52:46 np0000056235 etcd[60359]: {"level":"warn","ts":"2026-02-13T13:52:46.617961Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:52:46 np0000056235 etcd[60359]: {"level":"info","ts":"2026-02-13T13:52:46.617987Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:52:46 np0000056235 etcd[60359]: {"level":"info","ts":"2026-02-13T13:52:46.618408Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:46 np0000056235 etcd[60359]: {"level":"info","ts":"2026-02-13T13:52:46.618506Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:46 np0000056235 etcd[60359]: {"level":"info","ts":"2026-02-13T13:52:46.618595Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:46 np0000056235 etcd[60359]: {"level":"warn","ts":"2026-02-13T13:52:46.618644Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:52:46 np0000056235 etcd[60359]: {"level":"fatal","ts":"2026-02-13T13:52:46.618707Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:52:46 np0000056235 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:52:46 np0000056235 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:52:46 np0000056235 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:52:46 np0000056235 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 13:52:46 np0000056235 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:52:46 np0000056235 etcd[60375]: {"level":"warn","ts":"2026-02-13T13:52:46.873381Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:52:46 np0000056235 etcd[60375]: {"level":"info","ts":"2026-02-13T13:52:46.873607Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056235","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056235=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:52:46 np0000056235 etcd[60375]: {"level":"warn","ts":"2026-02-13T13:52:46.873840Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:52:46 np0000056235 etcd[60375]: {"level":"info","ts":"2026-02-13T13:52:46.873874Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:52:46 np0000056235 etcd[60375]: {"level":"info","ts":"2026-02-13T13:52:46.874331Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:46 np0000056235 etcd[60375]: {"level":"info","ts":"2026-02-13T13:52:46.874447Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:46 np0000056235 etcd[60375]: {"level":"info","ts":"2026-02-13T13:52:46.874528Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:46 np0000056235 etcd[60375]: {"level":"warn","ts":"2026-02-13T13:52:46.874605Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:52:46 np0000056235 etcd[60375]: {"level":"fatal","ts":"2026-02-13T13:52:46.874668Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:52:46 np0000056235 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:52:46 np0000056235 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:52:46 np0000056235 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:52:47 np0000056235 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 13:52:47 np0000056235 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:52:47 np0000056235 etcd[60396]: {"level":"warn","ts":"2026-02-13T13:52:47.117173Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:52:47 np0000056235 etcd[60396]: {"level":"info","ts":"2026-02-13T13:52:47.117355Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056235","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056235=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:52:47 np0000056235 etcd[60396]: {"level":"warn","ts":"2026-02-13T13:52:47.117530Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:52:47 np0000056235 etcd[60396]: {"level":"info","ts":"2026-02-13T13:52:47.117586Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:52:47 np0000056235 etcd[60396]: {"level":"info","ts":"2026-02-13T13:52:47.118243Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:47 np0000056235 etcd[60396]: {"level":"info","ts":"2026-02-13T13:52:47.118363Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:47 np0000056235 etcd[60396]: {"level":"info","ts":"2026-02-13T13:52:47.118453Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:47 np0000056235 etcd[60396]: {"level":"warn","ts":"2026-02-13T13:52:47.118505Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:52:47 np0000056235 etcd[60396]: {"level":"fatal","ts":"2026-02-13T13:52:47.118587Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:52:47 np0000056235 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:52:47 np0000056235 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:52:47 np0000056235 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:52:47 np0000056235 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 13:52:47 np0000056235 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:52:47 np0000056235 etcd[60438]: {"level":"warn","ts":"2026-02-13T13:52:47.372964Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:52:47 np0000056235 etcd[60438]: {"level":"info","ts":"2026-02-13T13:52:47.373133Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056235","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056235=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:52:47 np0000056235 etcd[60438]: {"level":"warn","ts":"2026-02-13T13:52:47.373266Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:52:47 np0000056235 etcd[60438]: {"level":"info","ts":"2026-02-13T13:52:47.373297Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:52:47 np0000056235 etcd[60438]: {"level":"info","ts":"2026-02-13T13:52:47.373707Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:47 np0000056235 etcd[60438]: {"level":"info","ts":"2026-02-13T13:52:47.373847Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:47 np0000056235 etcd[60438]: {"level":"info","ts":"2026-02-13T13:52:47.374031Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:52:47 np0000056235 etcd[60438]: {"level":"warn","ts":"2026-02-13T13:52:47.374161Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:52:47 np0000056235 etcd[60438]: {"level":"fatal","ts":"2026-02-13T13:52:47.374218Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:52:47 np0000056235 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:52:47 np0000056235 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:52:47 np0000056235 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:52:47 np0000056235 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 13:52:47 np0000056235 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 13:52:47 np0000056235 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:52:47 np0000056235 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
