Jun 21 06:26:57 np0000094421 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 21 06:26:57 np0000094421 etcd[62244]: {"level":"warn","ts":"2026-06-21T06:26:57.665823Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 21 06:26:57 np0000094421 etcd[62244]: {"level":"info","ts":"2026-06-21T06:26:57.666048Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094421","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094421=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 21 06:26:57 np0000094421 etcd[62244]: {"level":"warn","ts":"2026-06-21T06:26:57.666233Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 21 06:26:57 np0000094421 etcd[62244]: {"level":"info","ts":"2026-06-21T06:26:57.666275Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 21 06:26:57 np0000094421 etcd[62244]: {"level":"info","ts":"2026-06-21T06:26:57.666745Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:57 np0000094421 etcd[62244]: {"level":"info","ts":"2026-06-21T06:26:57.666858Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094421","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:57 np0000094421 etcd[62244]: {"level":"info","ts":"2026-06-21T06:26:57.666934Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094421","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:57 np0000094421 etcd[62244]: {"level":"warn","ts":"2026-06-21T06:26:57.666987Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 21 06:26:57 np0000094421 etcd[62244]: {"level":"fatal","ts":"2026-06-21T06:26:57.667053Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 21 06:26:57 np0000094421 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 21 06:26:57 np0000094421 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 21 06:26:57 np0000094421 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 21 06:26:57 np0000094421 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 21 06:26:57 np0000094421 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 21 06:26:57 np0000094421 etcd[62327]: {"level":"warn","ts":"2026-06-21T06:26:57.995452Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 21 06:26:57 np0000094421 etcd[62327]: {"level":"info","ts":"2026-06-21T06:26:57.995639Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094421","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094421=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 21 06:26:57 np0000094421 etcd[62327]: {"level":"warn","ts":"2026-06-21T06:26:57.995794Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 21 06:26:57 np0000094421 etcd[62327]: {"level":"info","ts":"2026-06-21T06:26:57.995824Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 21 06:26:57 np0000094421 etcd[62327]: {"level":"info","ts":"2026-06-21T06:26:57.996551Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:57 np0000094421 etcd[62327]: {"level":"info","ts":"2026-06-21T06:26:57.996780Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094421","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:57 np0000094421 etcd[62327]: {"level":"info","ts":"2026-06-21T06:26:57.996907Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094421","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:57 np0000094421 etcd[62327]: {"level":"warn","ts":"2026-06-21T06:26:57.997047Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 21 06:26:57 np0000094421 etcd[62327]: {"level":"fatal","ts":"2026-06-21T06:26:57.997203Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 21 06:26:58 np0000094421 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 21 06:26:58 np0000094421 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 21 06:26:58 np0000094421 etcd[62364]: {"level":"warn","ts":"2026-06-21T06:26:58.236084Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 21 06:26:58 np0000094421 etcd[62364]: {"level":"info","ts":"2026-06-21T06:26:58.236278Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094421","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094421=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 21 06:26:58 np0000094421 etcd[62364]: {"level":"warn","ts":"2026-06-21T06:26:58.236462Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 21 06:26:58 np0000094421 etcd[62364]: {"level":"info","ts":"2026-06-21T06:26:58.236501Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 21 06:26:58 np0000094421 etcd[62364]: {"level":"info","ts":"2026-06-21T06:26:58.236968Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:58 np0000094421 etcd[62364]: {"level":"info","ts":"2026-06-21T06:26:58.237239Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094421","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:58 np0000094421 etcd[62364]: {"level":"info","ts":"2026-06-21T06:26:58.237398Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094421","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:58 np0000094421 etcd[62364]: {"level":"warn","ts":"2026-06-21T06:26:58.237480Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 21 06:26:58 np0000094421 etcd[62364]: {"level":"fatal","ts":"2026-06-21T06:26:58.237787Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 21 06:26:58 np0000094421 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 21 06:26:58 np0000094421 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 21 06:26:58 np0000094421 etcd[62384]: {"level":"warn","ts":"2026-06-21T06:26:58.495593Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 21 06:26:58 np0000094421 etcd[62384]: {"level":"info","ts":"2026-06-21T06:26:58.495816Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094421","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094421=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 21 06:26:58 np0000094421 etcd[62384]: {"level":"warn","ts":"2026-06-21T06:26:58.496007Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 21 06:26:58 np0000094421 etcd[62384]: {"level":"info","ts":"2026-06-21T06:26:58.496039Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 21 06:26:58 np0000094421 etcd[62384]: {"level":"info","ts":"2026-06-21T06:26:58.496642Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:58 np0000094421 etcd[62384]: {"level":"info","ts":"2026-06-21T06:26:58.496767Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094421","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:58 np0000094421 etcd[62384]: {"level":"info","ts":"2026-06-21T06:26:58.496863Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094421","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:58 np0000094421 etcd[62384]: {"level":"warn","ts":"2026-06-21T06:26:58.496921Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 21 06:26:58 np0000094421 etcd[62384]: {"level":"fatal","ts":"2026-06-21T06:26:58.497011Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 21 06:26:58 np0000094421 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 21 06:26:58 np0000094421 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 21 06:26:58 np0000094421 etcd[62432]: {"level":"warn","ts":"2026-06-21T06:26:58.735705Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 21 06:26:58 np0000094421 etcd[62432]: {"level":"info","ts":"2026-06-21T06:26:58.735812Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094421","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094421=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 21 06:26:58 np0000094421 etcd[62432]: {"level":"warn","ts":"2026-06-21T06:26:58.735910Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 21 06:26:58 np0000094421 etcd[62432]: {"level":"info","ts":"2026-06-21T06:26:58.735934Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 21 06:26:58 np0000094421 etcd[62432]: {"level":"info","ts":"2026-06-21T06:26:58.736266Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:58 np0000094421 etcd[62432]: {"level":"info","ts":"2026-06-21T06:26:58.736338Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094421","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:58 np0000094421 etcd[62432]: {"level":"info","ts":"2026-06-21T06:26:58.736386Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094421","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 21 06:26:58 np0000094421 etcd[62432]: {"level":"warn","ts":"2026-06-21T06:26:58.736420Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 21 06:26:58 np0000094421 etcd[62432]: {"level":"fatal","ts":"2026-06-21T06:26:58.736481Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 21 06:26:58 np0000094421 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 21 06:26:58 np0000094421 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 21 06:26:58 np0000094421 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
