May 29 15:13:26 np0000094173 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 15:13:26 np0000094173 etcd[60071]: {"level":"warn","ts":"2026-05-29T15:13:26.343239Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 15:13:26 np0000094173 etcd[60071]: {"level":"info","ts":"2026-05-29T15:13:26.343433Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094173","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094173=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 15:13:26 np0000094173 etcd[60071]: {"level":"warn","ts":"2026-05-29T15:13:26.343601Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 15:13:26 np0000094173 etcd[60071]: {"level":"info","ts":"2026-05-29T15:13:26.343640Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 15:13:26 np0000094173 etcd[60071]: {"level":"info","ts":"2026-05-29T15:13:26.344257Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:26 np0000094173 etcd[60071]: {"level":"info","ts":"2026-05-29T15:13:26.344379Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094173","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:26 np0000094173 etcd[60071]: {"level":"info","ts":"2026-05-29T15:13:26.344459Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094173","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:26 np0000094173 etcd[60071]: {"level":"warn","ts":"2026-05-29T15:13:26.344514Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 15:13:26 np0000094173 etcd[60071]: {"level":"fatal","ts":"2026-05-29T15:13:26.344589Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 15:13:26 np0000094173 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 15:13:26 np0000094173 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 15:13:26 np0000094173 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 15:13:26 np0000094173 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 29 15:13:26 np0000094173 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 15:13:26 np0000094173 etcd[60146]: {"level":"warn","ts":"2026-05-29T15:13:26.674503Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 15:13:26 np0000094173 etcd[60146]: {"level":"info","ts":"2026-05-29T15:13:26.674658Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094173","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094173=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 15:13:26 np0000094173 etcd[60146]: {"level":"warn","ts":"2026-05-29T15:13:26.674836Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 15:13:26 np0000094173 etcd[60146]: {"level":"info","ts":"2026-05-29T15:13:26.674864Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 15:13:26 np0000094173 etcd[60146]: {"level":"info","ts":"2026-05-29T15:13:26.675344Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:26 np0000094173 etcd[60146]: {"level":"info","ts":"2026-05-29T15:13:26.675554Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094173","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:26 np0000094173 etcd[60146]: {"level":"info","ts":"2026-05-29T15:13:26.675632Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094173","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:26 np0000094173 etcd[60146]: {"level":"warn","ts":"2026-05-29T15:13:26.675757Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 15:13:26 np0000094173 etcd[60146]: {"level":"fatal","ts":"2026-05-29T15:13:26.675875Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 15:13:26 np0000094173 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 15:13:26 np0000094173 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 15:13:26 np0000094173 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 15:13:26 np0000094173 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 29 15:13:26 np0000094173 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 15:13:26 np0000094173 etcd[60192]: {"level":"warn","ts":"2026-05-29T15:13:26.919410Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 15:13:26 np0000094173 etcd[60192]: {"level":"info","ts":"2026-05-29T15:13:26.920454Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094173","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094173=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 15:13:26 np0000094173 etcd[60192]: {"level":"warn","ts":"2026-05-29T15:13:26.920683Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 15:13:26 np0000094173 etcd[60192]: {"level":"info","ts":"2026-05-29T15:13:26.920729Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 15:13:26 np0000094173 etcd[60192]: {"level":"info","ts":"2026-05-29T15:13:26.921269Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:26 np0000094173 etcd[60192]: {"level":"info","ts":"2026-05-29T15:13:26.921393Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094173","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:26 np0000094173 etcd[60192]: {"level":"info","ts":"2026-05-29T15:13:26.921477Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094173","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:26 np0000094173 etcd[60192]: {"level":"warn","ts":"2026-05-29T15:13:26.921544Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 15:13:26 np0000094173 etcd[60192]: {"level":"fatal","ts":"2026-05-29T15:13:26.921612Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 15:13:26 np0000094173 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 15:13:26 np0000094173 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 15:13:26 np0000094173 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 15:13:27 np0000094173 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 29 15:13:27 np0000094173 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 15:13:27 np0000094173 etcd[60205]: {"level":"warn","ts":"2026-05-29T15:13:27.137343Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 15:13:27 np0000094173 etcd[60205]: {"level":"info","ts":"2026-05-29T15:13:27.137450Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094173","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094173=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 15:13:27 np0000094173 etcd[60205]: {"level":"warn","ts":"2026-05-29T15:13:27.137533Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 15:13:27 np0000094173 etcd[60205]: {"level":"info","ts":"2026-05-29T15:13:27.137553Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 15:13:27 np0000094173 etcd[60205]: {"level":"info","ts":"2026-05-29T15:13:27.137837Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:27 np0000094173 etcd[60205]: {"level":"info","ts":"2026-05-29T15:13:27.137900Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094173","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:27 np0000094173 etcd[60205]: {"level":"info","ts":"2026-05-29T15:13:27.137941Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094173","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:27 np0000094173 etcd[60205]: {"level":"warn","ts":"2026-05-29T15:13:27.137970Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 15:13:27 np0000094173 etcd[60205]: {"level":"fatal","ts":"2026-05-29T15:13:27.138003Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 15:13:27 np0000094173 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 15:13:27 np0000094173 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 15:13:27 np0000094173 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 15:13:27 np0000094173 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 29 15:13:27 np0000094173 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 15:13:27 np0000094173 etcd[60244]: {"level":"warn","ts":"2026-05-29T15:13:27.380173Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 15:13:27 np0000094173 etcd[60244]: {"level":"info","ts":"2026-05-29T15:13:27.380276Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094173","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094173=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 15:13:27 np0000094173 etcd[60244]: {"level":"warn","ts":"2026-05-29T15:13:27.380343Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 15:13:27 np0000094173 etcd[60244]: {"level":"info","ts":"2026-05-29T15:13:27.380357Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 15:13:27 np0000094173 etcd[60244]: {"level":"info","ts":"2026-05-29T15:13:27.380517Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:27 np0000094173 etcd[60244]: {"level":"info","ts":"2026-05-29T15:13:27.380557Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094173","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:27 np0000094173 etcd[60244]: {"level":"info","ts":"2026-05-29T15:13:27.380579Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094173","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 15:13:27 np0000094173 etcd[60244]: {"level":"warn","ts":"2026-05-29T15:13:27.380596Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 15:13:27 np0000094173 etcd[60244]: {"level":"fatal","ts":"2026-05-29T15:13:27.380618Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 15:13:27 np0000094173 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 15:13:27 np0000094173 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 15:13:27 np0000094173 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 15:13:27 np0000094173 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 29 15:13:27 np0000094173 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 29 15:13:27 np0000094173 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 15:13:27 np0000094173 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
