Jun 05 16:39:39 np0000094255 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 16:39:39 np0000094255 etcd[60157]: {"level":"warn","ts":"2026-06-05T16:39:39.349445Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 16:39:39 np0000094255 etcd[60157]: {"level":"info","ts":"2026-06-05T16:39:39.349621Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094255","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094255=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 16:39:39 np0000094255 etcd[60157]: {"level":"warn","ts":"2026-06-05T16:39:39.349827Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 16:39:39 np0000094255 etcd[60157]: {"level":"info","ts":"2026-06-05T16:39:39.349876Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 16:39:39 np0000094255 etcd[60157]: {"level":"info","ts":"2026-06-05T16:39:39.350459Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:39 np0000094255 etcd[60157]: {"level":"info","ts":"2026-06-05T16:39:39.350589Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:39 np0000094255 etcd[60157]: {"level":"info","ts":"2026-06-05T16:39:39.350704Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:39 np0000094255 etcd[60157]: {"level":"warn","ts":"2026-06-05T16:39:39.350785Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 16:39:39 np0000094255 etcd[60157]: {"level":"fatal","ts":"2026-06-05T16:39:39.350852Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 16:39:39 np0000094255 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 16:39:39 np0000094255 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 16:39:39 np0000094255 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 16:39:39 np0000094255 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 05 16:39:39 np0000094255 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 16:39:39 np0000094255 etcd[60236]: {"level":"warn","ts":"2026-06-05T16:39:39.669291Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 16:39:39 np0000094255 etcd[60236]: {"level":"info","ts":"2026-06-05T16:39:39.669471Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094255","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094255=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 16:39:39 np0000094255 etcd[60236]: {"level":"warn","ts":"2026-06-05T16:39:39.669624Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 16:39:39 np0000094255 etcd[60236]: {"level":"info","ts":"2026-06-05T16:39:39.669666Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 16:39:39 np0000094255 etcd[60236]: {"level":"info","ts":"2026-06-05T16:39:39.670209Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:39 np0000094255 etcd[60236]: {"level":"info","ts":"2026-06-05T16:39:39.670338Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:39 np0000094255 etcd[60236]: {"level":"info","ts":"2026-06-05T16:39:39.670421Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:39 np0000094255 etcd[60236]: {"level":"warn","ts":"2026-06-05T16:39:39.670478Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 16:39:39 np0000094255 etcd[60236]: {"level":"fatal","ts":"2026-06-05T16:39:39.670549Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 16:39:39 np0000094255 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 16:39:39 np0000094255 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 16:39:39 np0000094255 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 16:39:39 np0000094255 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 05 16:39:39 np0000094255 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 16:39:39 np0000094255 etcd[60277]: {"level":"warn","ts":"2026-06-05T16:39:39.915867Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 16:39:39 np0000094255 etcd[60277]: {"level":"info","ts":"2026-06-05T16:39:39.916068Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094255","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094255=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 16:39:39 np0000094255 etcd[60277]: {"level":"warn","ts":"2026-06-05T16:39:39.916261Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 16:39:39 np0000094255 etcd[60277]: {"level":"info","ts":"2026-06-05T16:39:39.916293Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 16:39:39 np0000094255 etcd[60277]: {"level":"info","ts":"2026-06-05T16:39:39.916750Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:39 np0000094255 etcd[60277]: {"level":"info","ts":"2026-06-05T16:39:39.916906Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:39 np0000094255 etcd[60277]: {"level":"info","ts":"2026-06-05T16:39:39.916989Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:39 np0000094255 etcd[60277]: {"level":"warn","ts":"2026-06-05T16:39:39.917060Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 16:39:39 np0000094255 etcd[60277]: {"level":"fatal","ts":"2026-06-05T16:39:39.917125Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 16:39:39 np0000094255 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 16:39:39 np0000094255 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 16:39:39 np0000094255 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 16:39:40 np0000094255 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 05 16:39:40 np0000094255 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 16:39:40 np0000094255 etcd[60297]: {"level":"warn","ts":"2026-06-05T16:39:40.131853Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 16:39:40 np0000094255 etcd[60297]: {"level":"info","ts":"2026-06-05T16:39:40.131965Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094255","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094255=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 16:39:40 np0000094255 etcd[60297]: {"level":"warn","ts":"2026-06-05T16:39:40.132076Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 16:39:40 np0000094255 etcd[60297]: {"level":"info","ts":"2026-06-05T16:39:40.132096Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 16:39:40 np0000094255 etcd[60297]: {"level":"info","ts":"2026-06-05T16:39:40.132468Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:40 np0000094255 etcd[60297]: {"level":"info","ts":"2026-06-05T16:39:40.132541Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:40 np0000094255 etcd[60297]: {"level":"info","ts":"2026-06-05T16:39:40.132591Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:40 np0000094255 etcd[60297]: {"level":"warn","ts":"2026-06-05T16:39:40.132635Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 16:39:40 np0000094255 etcd[60297]: {"level":"fatal","ts":"2026-06-05T16:39:40.132674Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 16:39:40 np0000094255 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 16:39:40 np0000094255 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 16:39:40 np0000094255 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 16:39:40 np0000094255 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 05 16:39:40 np0000094255 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 16:39:40 np0000094255 etcd[60329]: {"level":"warn","ts":"2026-06-05T16:39:40.416127Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 16:39:40 np0000094255 etcd[60329]: {"level":"info","ts":"2026-06-05T16:39:40.416313Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094255","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094255=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 16:39:40 np0000094255 etcd[60329]: {"level":"warn","ts":"2026-06-05T16:39:40.416471Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 16:39:40 np0000094255 etcd[60329]: {"level":"info","ts":"2026-06-05T16:39:40.416498Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 16:39:40 np0000094255 etcd[60329]: {"level":"info","ts":"2026-06-05T16:39:40.416918Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:40 np0000094255 etcd[60329]: {"level":"info","ts":"2026-06-05T16:39:40.417030Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:40 np0000094255 etcd[60329]: {"level":"info","ts":"2026-06-05T16:39:40.417107Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 16:39:40 np0000094255 etcd[60329]: {"level":"warn","ts":"2026-06-05T16:39:40.417192Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 16:39:40 np0000094255 etcd[60329]: {"level":"fatal","ts":"2026-06-05T16:39:40.417269Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 16:39:40 np0000094255 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 16:39:40 np0000094255 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 16:39:40 np0000094255 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 16:39:40 np0000094255 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 05 16:39:40 np0000094255 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 05 16:39:40 np0000094255 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 16:39:40 np0000094255 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
