Apr 14 18:43:55 np0000093955 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 18:43:55 np0000093955 etcd[60195]: {"level":"warn","ts":"2026-04-14T18:43:55.142537Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 18:43:55 np0000093955 etcd[60195]: {"level":"info","ts":"2026-04-14T18:43:55.142711Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093955","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093955=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 18:43:55 np0000093955 etcd[60195]: {"level":"warn","ts":"2026-04-14T18:43:55.142886Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 18:43:55 np0000093955 etcd[60195]: {"level":"info","ts":"2026-04-14T18:43:55.142922Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 18:43:55 np0000093955 etcd[60195]: {"level":"info","ts":"2026-04-14T18:43:55.143357Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:55 np0000093955 etcd[60195]: {"level":"info","ts":"2026-04-14T18:43:55.143463Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093955","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:55 np0000093955 etcd[60195]: {"level":"info","ts":"2026-04-14T18:43:55.143535Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093955","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:55 np0000093955 etcd[60195]: {"level":"warn","ts":"2026-04-14T18:43:55.143583Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 18:43:55 np0000093955 etcd[60195]: {"level":"fatal","ts":"2026-04-14T18:43:55.143638Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 18:43:55 np0000093955 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 18:43:55 np0000093955 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 18:43:55 np0000093955 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 18:43:55 np0000093955 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 18:43:55 np0000093955 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 18:43:55 np0000093955 etcd[60276]: {"level":"warn","ts":"2026-04-14T18:43:55.467741Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 18:43:55 np0000093955 etcd[60276]: {"level":"info","ts":"2026-04-14T18:43:55.467927Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093955","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093955=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 18:43:55 np0000093955 etcd[60276]: {"level":"warn","ts":"2026-04-14T18:43:55.468077Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 18:43:55 np0000093955 etcd[60276]: {"level":"info","ts":"2026-04-14T18:43:55.468106Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 18:43:55 np0000093955 etcd[60276]: {"level":"info","ts":"2026-04-14T18:43:55.468571Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:55 np0000093955 etcd[60276]: {"level":"info","ts":"2026-04-14T18:43:55.468679Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093955","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:55 np0000093955 etcd[60276]: {"level":"info","ts":"2026-04-14T18:43:55.468754Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093955","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:55 np0000093955 etcd[60276]: {"level":"warn","ts":"2026-04-14T18:43:55.468842Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 18:43:55 np0000093955 etcd[60276]: {"level":"fatal","ts":"2026-04-14T18:43:55.468915Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 18:43:55 np0000093955 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 18:43:55 np0000093955 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 18:43:55 np0000093955 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 18:43:55 np0000093955 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 18:43:55 np0000093955 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 18:43:55 np0000093955 etcd[60317]: {"level":"warn","ts":"2026-04-14T18:43:55.719735Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 18:43:55 np0000093955 etcd[60317]: {"level":"info","ts":"2026-04-14T18:43:55.721059Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093955","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093955=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 18:43:55 np0000093955 etcd[60317]: {"level":"warn","ts":"2026-04-14T18:43:55.721420Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 18:43:55 np0000093955 etcd[60317]: {"level":"info","ts":"2026-04-14T18:43:55.721514Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 18:43:55 np0000093955 etcd[60317]: {"level":"info","ts":"2026-04-14T18:43:55.722106Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:55 np0000093955 etcd[60317]: {"level":"info","ts":"2026-04-14T18:43:55.722274Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093955","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:55 np0000093955 etcd[60317]: {"level":"info","ts":"2026-04-14T18:43:55.722360Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093955","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:55 np0000093955 etcd[60317]: {"level":"warn","ts":"2026-04-14T18:43:55.722419Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 18:43:55 np0000093955 etcd[60317]: {"level":"fatal","ts":"2026-04-14T18:43:55.722513Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 18:43:55 np0000093955 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 18:43:55 np0000093955 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 18:43:55 np0000093955 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 18:43:55 np0000093955 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 18:43:55 np0000093955 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 18:43:55 np0000093955 etcd[60335]: {"level":"warn","ts":"2026-04-14T18:43:55.990555Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 18:43:55 np0000093955 etcd[60335]: {"level":"info","ts":"2026-04-14T18:43:55.990709Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093955","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093955=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 18:43:55 np0000093955 etcd[60335]: {"level":"warn","ts":"2026-04-14T18:43:55.990898Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 18:43:55 np0000093955 etcd[60335]: {"level":"info","ts":"2026-04-14T18:43:55.990936Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 18:43:55 np0000093955 etcd[60335]: {"level":"info","ts":"2026-04-14T18:43:55.991373Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:55 np0000093955 etcd[60335]: {"level":"info","ts":"2026-04-14T18:43:55.991484Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093955","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:55 np0000093955 etcd[60335]: {"level":"info","ts":"2026-04-14T18:43:55.991563Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093955","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:55 np0000093955 etcd[60335]: {"level":"warn","ts":"2026-04-14T18:43:55.991614Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 18:43:55 np0000093955 etcd[60335]: {"level":"fatal","ts":"2026-04-14T18:43:55.991687Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 18:43:55 np0000093955 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 18:43:55 np0000093955 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 18:43:55 np0000093955 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 18:43:56 np0000093955 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 18:43:56 np0000093955 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 18:43:56 np0000093955 etcd[60370]: {"level":"warn","ts":"2026-04-14T18:43:56.229567Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 18:43:56 np0000093955 etcd[60370]: {"level":"info","ts":"2026-04-14T18:43:56.229742Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093955","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093955=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 18:43:56 np0000093955 etcd[60370]: {"level":"warn","ts":"2026-04-14T18:43:56.229960Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 18:43:56 np0000093955 etcd[60370]: {"level":"info","ts":"2026-04-14T18:43:56.230009Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 18:43:56 np0000093955 etcd[60370]: {"level":"info","ts":"2026-04-14T18:43:56.230609Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:56 np0000093955 etcd[60370]: {"level":"info","ts":"2026-04-14T18:43:56.230726Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093955","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:56 np0000093955 etcd[60370]: {"level":"info","ts":"2026-04-14T18:43:56.233060Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093955","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 18:43:56 np0000093955 etcd[60370]: {"level":"warn","ts":"2026-04-14T18:43:56.233154Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 18:43:56 np0000093955 etcd[60370]: {"level":"fatal","ts":"2026-04-14T18:43:56.233247Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 18:43:56 np0000093955 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 18:43:56 np0000093955 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 18:43:56 np0000093955 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 18:43:56 np0000093955 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 18:43:56 np0000093955 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 18:43:56 np0000093955 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 18:43:56 np0000093955 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
