Feb 13 16:54:15 np0000056242 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 16:54:15 np0000056242 etcd[60211]: {"level":"warn","ts":"2026-02-13T16:54:15.758674Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:54:15 np0000056242 etcd[60211]: {"level":"info","ts":"2026-02-13T16:54:15.759862Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056242","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056242=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 16:54:15 np0000056242 etcd[60211]: {"level":"warn","ts":"2026-02-13T16:54:15.760471Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:54:15 np0000056242 etcd[60211]: {"level":"info","ts":"2026-02-13T16:54:15.760812Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 16:54:15 np0000056242 etcd[60211]: {"level":"info","ts":"2026-02-13T16:54:15.761650Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:15 np0000056242 etcd[60211]: {"level":"info","ts":"2026-02-13T16:54:15.762048Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:15 np0000056242 etcd[60211]: {"level":"info","ts":"2026-02-13T16:54:15.762142Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:15 np0000056242 etcd[60211]: {"level":"warn","ts":"2026-02-13T16:54:15.762206Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 16:54:15 np0000056242 etcd[60211]: {"level":"fatal","ts":"2026-02-13T16:54:15.762289Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 16:54:15 np0000056242 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 16:54:15 np0000056242 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 16:54:15 np0000056242 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 16:54:15 np0000056242 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 16:54:16 np0000056242 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 16:54:16 np0000056242 etcd[60294]: {"level":"warn","ts":"2026-02-13T16:54:16.067272Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:54:16 np0000056242 etcd[60294]: {"level":"info","ts":"2026-02-13T16:54:16.067453Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056242","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056242=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 16:54:16 np0000056242 etcd[60294]: {"level":"warn","ts":"2026-02-13T16:54:16.067665Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:54:16 np0000056242 etcd[60294]: {"level":"info","ts":"2026-02-13T16:54:16.067707Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 16:54:16 np0000056242 etcd[60294]: {"level":"info","ts":"2026-02-13T16:54:16.068192Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:16 np0000056242 etcd[60294]: {"level":"info","ts":"2026-02-13T16:54:16.068336Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:16 np0000056242 etcd[60294]: {"level":"info","ts":"2026-02-13T16:54:16.068422Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:16 np0000056242 etcd[60294]: {"level":"warn","ts":"2026-02-13T16:54:16.068497Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 16:54:16 np0000056242 etcd[60294]: {"level":"fatal","ts":"2026-02-13T16:54:16.070412Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 16:54:16 np0000056242 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 16:54:16 np0000056242 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 16:54:16 np0000056242 etcd[60330]: {"level":"warn","ts":"2026-02-13T16:54:16.309905Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:54:16 np0000056242 etcd[60330]: {"level":"info","ts":"2026-02-13T16:54:16.310098Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056242","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056242=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 16:54:16 np0000056242 etcd[60330]: {"level":"warn","ts":"2026-02-13T16:54:16.310297Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:54:16 np0000056242 etcd[60330]: {"level":"info","ts":"2026-02-13T16:54:16.310330Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 16:54:16 np0000056242 etcd[60330]: {"level":"info","ts":"2026-02-13T16:54:16.312083Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:16 np0000056242 etcd[60330]: {"level":"info","ts":"2026-02-13T16:54:16.312262Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:16 np0000056242 etcd[60330]: {"level":"info","ts":"2026-02-13T16:54:16.312352Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:16 np0000056242 etcd[60330]: {"level":"warn","ts":"2026-02-13T16:54:16.312415Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 16:54:16 np0000056242 etcd[60330]: {"level":"fatal","ts":"2026-02-13T16:54:16.312483Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 16:54:16 np0000056242 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 16:54:16 np0000056242 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 16:54:16 np0000056242 etcd[60351]: {"level":"warn","ts":"2026-02-13T16:54:16.538665Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:54:16 np0000056242 etcd[60351]: {"level":"info","ts":"2026-02-13T16:54:16.538769Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056242","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056242=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 16:54:16 np0000056242 etcd[60351]: {"level":"warn","ts":"2026-02-13T16:54:16.538860Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:54:16 np0000056242 etcd[60351]: {"level":"info","ts":"2026-02-13T16:54:16.538876Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 16:54:16 np0000056242 etcd[60351]: {"level":"info","ts":"2026-02-13T16:54:16.539192Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:16 np0000056242 etcd[60351]: {"level":"info","ts":"2026-02-13T16:54:16.539265Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:16 np0000056242 etcd[60351]: {"level":"info","ts":"2026-02-13T16:54:16.539308Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:16 np0000056242 etcd[60351]: {"level":"warn","ts":"2026-02-13T16:54:16.539336Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 16:54:16 np0000056242 etcd[60351]: {"level":"fatal","ts":"2026-02-13T16:54:16.539373Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 16:54:16 np0000056242 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 16:54:16 np0000056242 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 16:54:16 np0000056242 etcd[60390]: {"level":"warn","ts":"2026-02-13T16:54:16.813657Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:54:16 np0000056242 etcd[60390]: {"level":"info","ts":"2026-02-13T16:54:16.813844Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056242","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056242=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 16:54:16 np0000056242 etcd[60390]: {"level":"warn","ts":"2026-02-13T16:54:16.814003Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:54:16 np0000056242 etcd[60390]: {"level":"info","ts":"2026-02-13T16:54:16.814041Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 16:54:16 np0000056242 etcd[60390]: {"level":"info","ts":"2026-02-13T16:54:16.815372Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:16 np0000056242 etcd[60390]: {"level":"info","ts":"2026-02-13T16:54:16.815510Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:16 np0000056242 etcd[60390]: {"level":"info","ts":"2026-02-13T16:54:16.815620Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:54:16 np0000056242 etcd[60390]: {"level":"warn","ts":"2026-02-13T16:54:16.815677Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 16:54:16 np0000056242 etcd[60390]: {"level":"fatal","ts":"2026-02-13T16:54:16.815737Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 16:54:16 np0000056242 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 16:54:16 np0000056242 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 16:54:16 np0000056242 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
