Jun 29 11:07:18 np0000094508 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 11:07:18 np0000094508 etcd[60313]: {"level":"warn","ts":"2026-06-29T11:07:18.806502Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 11:07:18 np0000094508 etcd[60313]: {"level":"info","ts":"2026-06-29T11:07:18.806675Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094508","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094508=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 11:07:18 np0000094508 etcd[60313]: {"level":"warn","ts":"2026-06-29T11:07:18.806817Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 11:07:18 np0000094508 etcd[60313]: {"level":"info","ts":"2026-06-29T11:07:18.806877Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 11:07:18 np0000094508 etcd[60313]: {"level":"info","ts":"2026-06-29T11:07:18.807292Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:18 np0000094508 etcd[60313]: {"level":"info","ts":"2026-06-29T11:07:18.807400Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094508","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:18 np0000094508 etcd[60313]: {"level":"info","ts":"2026-06-29T11:07:18.807500Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094508","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:18 np0000094508 etcd[60313]: {"level":"warn","ts":"2026-06-29T11:07:18.807551Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 11:07:18 np0000094508 etcd[60313]: {"level":"fatal","ts":"2026-06-29T11:07:18.807622Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 11:07:18 np0000094508 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 11:07:18 np0000094508 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 11:07:18 np0000094508 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 11:07:18 np0000094508 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 29 11:07:18 np0000094508 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 11:07:19 np0000094508 etcd[60364]: {"level":"warn","ts":"2026-06-29T11:07:19.026223Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 11:07:19 np0000094508 etcd[60364]: {"level":"info","ts":"2026-06-29T11:07:19.026380Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094508","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094508=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 11:07:19 np0000094508 etcd[60364]: {"level":"warn","ts":"2026-06-29T11:07:19.026522Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 11:07:19 np0000094508 etcd[60364]: {"level":"info","ts":"2026-06-29T11:07:19.026555Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 11:07:19 np0000094508 etcd[60364]: {"level":"info","ts":"2026-06-29T11:07:19.026982Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:19 np0000094508 etcd[60364]: {"level":"info","ts":"2026-06-29T11:07:19.027083Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094508","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:19 np0000094508 etcd[60364]: {"level":"info","ts":"2026-06-29T11:07:19.027148Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094508","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:19 np0000094508 etcd[60364]: {"level":"warn","ts":"2026-06-29T11:07:19.027194Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 11:07:19 np0000094508 etcd[60364]: {"level":"fatal","ts":"2026-06-29T11:07:19.027245Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 11:07:19 np0000094508 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 29 11:07:19 np0000094508 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 11:07:19 np0000094508 etcd[60434]: {"level":"warn","ts":"2026-06-29T11:07:19.287701Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 11:07:19 np0000094508 etcd[60434]: {"level":"info","ts":"2026-06-29T11:07:19.287913Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094508","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094508=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 11:07:19 np0000094508 etcd[60434]: {"level":"warn","ts":"2026-06-29T11:07:19.288111Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 11:07:19 np0000094508 etcd[60434]: {"level":"info","ts":"2026-06-29T11:07:19.288153Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 11:07:19 np0000094508 etcd[60434]: {"level":"info","ts":"2026-06-29T11:07:19.288663Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:19 np0000094508 etcd[60434]: {"level":"info","ts":"2026-06-29T11:07:19.288787Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094508","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:19 np0000094508 etcd[60434]: {"level":"info","ts":"2026-06-29T11:07:19.288904Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094508","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:19 np0000094508 etcd[60434]: {"level":"warn","ts":"2026-06-29T11:07:19.288996Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 11:07:19 np0000094508 etcd[60434]: {"level":"fatal","ts":"2026-06-29T11:07:19.289064Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 11:07:19 np0000094508 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 29 11:07:19 np0000094508 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 11:07:19 np0000094508 etcd[60441]: {"level":"warn","ts":"2026-06-29T11:07:19.537792Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 11:07:19 np0000094508 etcd[60441]: {"level":"info","ts":"2026-06-29T11:07:19.538040Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094508","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094508=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 11:07:19 np0000094508 etcd[60441]: {"level":"warn","ts":"2026-06-29T11:07:19.538203Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 11:07:19 np0000094508 etcd[60441]: {"level":"info","ts":"2026-06-29T11:07:19.538242Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 11:07:19 np0000094508 etcd[60441]: {"level":"info","ts":"2026-06-29T11:07:19.539102Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:19 np0000094508 etcd[60441]: {"level":"info","ts":"2026-06-29T11:07:19.539245Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094508","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:19 np0000094508 etcd[60441]: {"level":"info","ts":"2026-06-29T11:07:19.539310Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094508","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:19 np0000094508 etcd[60441]: {"level":"warn","ts":"2026-06-29T11:07:19.539366Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 11:07:19 np0000094508 etcd[60441]: {"level":"fatal","ts":"2026-06-29T11:07:19.539448Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 11:07:19 np0000094508 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 29 11:07:19 np0000094508 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 11:07:19 np0000094508 etcd[60465]: {"level":"warn","ts":"2026-06-29T11:07:19.786824Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 11:07:19 np0000094508 etcd[60465]: {"level":"info","ts":"2026-06-29T11:07:19.787044Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094508","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094508=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 11:07:19 np0000094508 etcd[60465]: {"level":"warn","ts":"2026-06-29T11:07:19.787217Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 11:07:19 np0000094508 etcd[60465]: {"level":"info","ts":"2026-06-29T11:07:19.787249Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 11:07:19 np0000094508 etcd[60465]: {"level":"info","ts":"2026-06-29T11:07:19.787705Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:19 np0000094508 etcd[60465]: {"level":"info","ts":"2026-06-29T11:07:19.787881Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094508","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:19 np0000094508 etcd[60465]: {"level":"info","ts":"2026-06-29T11:07:19.787984Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094508","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 11:07:19 np0000094508 etcd[60465]: {"level":"warn","ts":"2026-06-29T11:07:19.788063Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 11:07:19 np0000094508 etcd[60465]: {"level":"fatal","ts":"2026-06-29T11:07:19.788143Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 11:07:19 np0000094508 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 29 11:07:19 np0000094508 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 11:07:19 np0000094508 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
