Jun 12 23:40:10 np0000094337 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 23:40:10 np0000094337 etcd[60010]: {"level":"warn","ts":"2026-06-12T23:40:10.483612Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 23:40:10 np0000094337 etcd[60010]: {"level":"info","ts":"2026-06-12T23:40:10.483784Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094337","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094337=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 23:40:10 np0000094337 etcd[60010]: {"level":"warn","ts":"2026-06-12T23:40:10.483960Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 23:40:10 np0000094337 etcd[60010]: {"level":"info","ts":"2026-06-12T23:40:10.483991Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 23:40:10 np0000094337 etcd[60010]: {"level":"info","ts":"2026-06-12T23:40:10.484481Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:10 np0000094337 etcd[60010]: {"level":"info","ts":"2026-06-12T23:40:10.484618Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094337","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:10 np0000094337 etcd[60010]: {"level":"info","ts":"2026-06-12T23:40:10.484690Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094337","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:10 np0000094337 etcd[60010]: {"level":"warn","ts":"2026-06-12T23:40:10.484746Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 23:40:10 np0000094337 etcd[60010]: {"level":"fatal","ts":"2026-06-12T23:40:10.484835Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 23:40:10 np0000094337 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 23:40:10 np0000094337 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 23:40:10 np0000094337 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 23:40:10 np0000094337 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 12 23:40:10 np0000094337 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 23:40:10 np0000094337 etcd[60099]: {"level":"warn","ts":"2026-06-12T23:40:10.838997Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 23:40:10 np0000094337 etcd[60099]: {"level":"info","ts":"2026-06-12T23:40:10.839205Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094337","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094337=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 23:40:10 np0000094337 etcd[60099]: {"level":"warn","ts":"2026-06-12T23:40:10.839371Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 23:40:10 np0000094337 etcd[60099]: {"level":"info","ts":"2026-06-12T23:40:10.839400Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 23:40:10 np0000094337 etcd[60099]: {"level":"info","ts":"2026-06-12T23:40:10.839831Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:10 np0000094337 etcd[60099]: {"level":"info","ts":"2026-06-12T23:40:10.839933Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094337","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:10 np0000094337 etcd[60099]: {"level":"info","ts":"2026-06-12T23:40:10.839987Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094337","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:10 np0000094337 etcd[60099]: {"level":"warn","ts":"2026-06-12T23:40:10.840034Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 23:40:10 np0000094337 etcd[60099]: {"level":"fatal","ts":"2026-06-12T23:40:10.840094Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 23:40:10 np0000094337 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 23:40:10 np0000094337 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 23:40:10 np0000094337 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 23:40:11 np0000094337 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 12 23:40:11 np0000094337 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 23:40:11 np0000094337 etcd[60131]: {"level":"warn","ts":"2026-06-12T23:40:11.093810Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 23:40:11 np0000094337 etcd[60131]: {"level":"info","ts":"2026-06-12T23:40:11.095350Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094337","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094337=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 23:40:11 np0000094337 etcd[60131]: {"level":"warn","ts":"2026-06-12T23:40:11.095594Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 23:40:11 np0000094337 etcd[60131]: {"level":"info","ts":"2026-06-12T23:40:11.095638Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 23:40:11 np0000094337 etcd[60131]: {"level":"info","ts":"2026-06-12T23:40:11.096134Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:11 np0000094337 etcd[60131]: {"level":"info","ts":"2026-06-12T23:40:11.096321Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094337","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:11 np0000094337 etcd[60131]: {"level":"info","ts":"2026-06-12T23:40:11.096400Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094337","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:11 np0000094337 etcd[60131]: {"level":"warn","ts":"2026-06-12T23:40:11.096472Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 23:40:11 np0000094337 etcd[60131]: {"level":"fatal","ts":"2026-06-12T23:40:11.096539Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 23:40:11 np0000094337 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 23:40:11 np0000094337 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 23:40:11 np0000094337 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 23:40:11 np0000094337 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 12 23:40:11 np0000094337 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 23:40:11 np0000094337 etcd[60152]: {"level":"warn","ts":"2026-06-12T23:40:11.328923Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 23:40:11 np0000094337 etcd[60152]: {"level":"info","ts":"2026-06-12T23:40:11.329100Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094337","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094337=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 23:40:11 np0000094337 etcd[60152]: {"level":"warn","ts":"2026-06-12T23:40:11.329308Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 23:40:11 np0000094337 etcd[60152]: {"level":"info","ts":"2026-06-12T23:40:11.329337Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 23:40:11 np0000094337 etcd[60152]: {"level":"info","ts":"2026-06-12T23:40:11.329727Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:11 np0000094337 etcd[60152]: {"level":"info","ts":"2026-06-12T23:40:11.329850Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094337","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:11 np0000094337 etcd[60152]: {"level":"info","ts":"2026-06-12T23:40:11.330017Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094337","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:11 np0000094337 etcd[60152]: {"level":"warn","ts":"2026-06-12T23:40:11.330135Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 23:40:11 np0000094337 etcd[60152]: {"level":"fatal","ts":"2026-06-12T23:40:11.330259Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 23:40:11 np0000094337 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 23:40:11 np0000094337 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 23:40:11 np0000094337 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 23:40:11 np0000094337 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 12 23:40:11 np0000094337 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 23:40:11 np0000094337 etcd[60183]: {"level":"warn","ts":"2026-06-12T23:40:11.584857Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 23:40:11 np0000094337 etcd[60183]: {"level":"info","ts":"2026-06-12T23:40:11.585008Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094337","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094337=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 23:40:11 np0000094337 etcd[60183]: {"level":"warn","ts":"2026-06-12T23:40:11.585134Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 23:40:11 np0000094337 etcd[60183]: {"level":"info","ts":"2026-06-12T23:40:11.585199Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 23:40:11 np0000094337 etcd[60183]: {"level":"info","ts":"2026-06-12T23:40:11.585648Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:11 np0000094337 etcd[60183]: {"level":"info","ts":"2026-06-12T23:40:11.585749Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094337","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:11 np0000094337 etcd[60183]: {"level":"info","ts":"2026-06-12T23:40:11.585813Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094337","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 23:40:11 np0000094337 etcd[60183]: {"level":"warn","ts":"2026-06-12T23:40:11.585868Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 23:40:11 np0000094337 etcd[60183]: {"level":"fatal","ts":"2026-06-12T23:40:11.585925Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 23:40:11 np0000094337 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 23:40:11 np0000094337 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 23:40:11 np0000094337 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 23:40:11 np0000094337 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 12 23:40:11 np0000094337 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 12 23:40:11 np0000094337 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 23:40:11 np0000094337 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
