May 28 15:07:51 np0000094167 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 28 15:07:51 np0000094167 etcd[60205]: {"level":"warn","ts":"2026-05-28T15:07:51.481771Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 15:07:51 np0000094167 etcd[60205]: {"level":"info","ts":"2026-05-28T15:07:51.482012Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094167","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094167=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 28 15:07:51 np0000094167 etcd[60205]: {"level":"warn","ts":"2026-05-28T15:07:51.482881Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 15:07:51 np0000094167 etcd[60205]: {"level":"info","ts":"2026-05-28T15:07:51.482971Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 28 15:07:51 np0000094167 etcd[60205]: {"level":"info","ts":"2026-05-28T15:07:51.483442Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:51 np0000094167 etcd[60205]: {"level":"info","ts":"2026-05-28T15:07:51.483562Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094167","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:51 np0000094167 etcd[60205]: {"level":"info","ts":"2026-05-28T15:07:51.483630Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094167","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:51 np0000094167 etcd[60205]: {"level":"warn","ts":"2026-05-28T15:07:51.483677Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 28 15:07:51 np0000094167 etcd[60205]: {"level":"fatal","ts":"2026-05-28T15:07:51.483733Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 28 15:07:51 np0000094167 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 28 15:07:51 np0000094167 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 28 15:07:51 np0000094167 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 28 15:07:51 np0000094167 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 28 15:07:51 np0000094167 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 28 15:07:51 np0000094167 etcd[60264]: {"level":"warn","ts":"2026-05-28T15:07:51.720584Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 15:07:51 np0000094167 etcd[60264]: {"level":"info","ts":"2026-05-28T15:07:51.720719Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094167","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094167=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 28 15:07:51 np0000094167 etcd[60264]: {"level":"warn","ts":"2026-05-28T15:07:51.720842Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 15:07:51 np0000094167 etcd[60264]: {"level":"info","ts":"2026-05-28T15:07:51.720866Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 28 15:07:51 np0000094167 etcd[60264]: {"level":"info","ts":"2026-05-28T15:07:51.721317Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:51 np0000094167 etcd[60264]: {"level":"info","ts":"2026-05-28T15:07:51.721417Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094167","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:51 np0000094167 etcd[60264]: {"level":"info","ts":"2026-05-28T15:07:51.721479Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094167","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:51 np0000094167 etcd[60264]: {"level":"warn","ts":"2026-05-28T15:07:51.721518Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 28 15:07:51 np0000094167 etcd[60264]: {"level":"fatal","ts":"2026-05-28T15:07:51.721566Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 28 15:07:51 np0000094167 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 28 15:07:51 np0000094167 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 28 15:07:51 np0000094167 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 28 15:07:51 np0000094167 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 28 15:07:51 np0000094167 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 28 15:07:51 np0000094167 etcd[60325]: {"level":"warn","ts":"2026-05-28T15:07:51.980673Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 15:07:51 np0000094167 etcd[60325]: {"level":"info","ts":"2026-05-28T15:07:51.980880Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094167","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094167=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 28 15:07:51 np0000094167 etcd[60325]: {"level":"warn","ts":"2026-05-28T15:07:51.981109Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 15:07:51 np0000094167 etcd[60325]: {"level":"info","ts":"2026-05-28T15:07:51.981152Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 28 15:07:51 np0000094167 etcd[60325]: {"level":"info","ts":"2026-05-28T15:07:51.981600Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:51 np0000094167 etcd[60325]: {"level":"info","ts":"2026-05-28T15:07:51.981723Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094167","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:51 np0000094167 etcd[60325]: {"level":"info","ts":"2026-05-28T15:07:51.981802Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094167","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:51 np0000094167 etcd[60325]: {"level":"warn","ts":"2026-05-28T15:07:51.981864Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 28 15:07:51 np0000094167 etcd[60325]: {"level":"fatal","ts":"2026-05-28T15:07:51.981968Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 28 15:07:51 np0000094167 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 28 15:07:51 np0000094167 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 28 15:07:51 np0000094167 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 28 15:07:52 np0000094167 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 28 15:07:52 np0000094167 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 28 15:07:52 np0000094167 etcd[60332]: {"level":"warn","ts":"2026-05-28T15:07:52.218686Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 15:07:52 np0000094167 etcd[60332]: {"level":"info","ts":"2026-05-28T15:07:52.218867Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094167","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094167=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 28 15:07:52 np0000094167 etcd[60332]: {"level":"warn","ts":"2026-05-28T15:07:52.219055Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 15:07:52 np0000094167 etcd[60332]: {"level":"info","ts":"2026-05-28T15:07:52.219129Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 28 15:07:52 np0000094167 etcd[60332]: {"level":"info","ts":"2026-05-28T15:07:52.219578Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:52 np0000094167 etcd[60332]: {"level":"info","ts":"2026-05-28T15:07:52.219701Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094167","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:52 np0000094167 etcd[60332]: {"level":"info","ts":"2026-05-28T15:07:52.219788Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094167","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:52 np0000094167 etcd[60332]: {"level":"warn","ts":"2026-05-28T15:07:52.219857Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 28 15:07:52 np0000094167 etcd[60332]: {"level":"fatal","ts":"2026-05-28T15:07:52.219943Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 28 15:07:52 np0000094167 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 28 15:07:52 np0000094167 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 28 15:07:52 np0000094167 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 28 15:07:52 np0000094167 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 28 15:07:52 np0000094167 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 28 15:07:52 np0000094167 etcd[60352]: {"level":"warn","ts":"2026-05-28T15:07:52.479447Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 15:07:52 np0000094167 etcd[60352]: {"level":"info","ts":"2026-05-28T15:07:52.480788Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094167","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094167=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 28 15:07:52 np0000094167 etcd[60352]: {"level":"warn","ts":"2026-05-28T15:07:52.481061Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 15:07:52 np0000094167 etcd[60352]: {"level":"info","ts":"2026-05-28T15:07:52.481173Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 28 15:07:52 np0000094167 etcd[60352]: {"level":"info","ts":"2026-05-28T15:07:52.481589Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:52 np0000094167 etcd[60352]: {"level":"info","ts":"2026-05-28T15:07:52.481701Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094167","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:52 np0000094167 etcd[60352]: {"level":"info","ts":"2026-05-28T15:07:52.481780Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094167","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 15:07:52 np0000094167 etcd[60352]: {"level":"warn","ts":"2026-05-28T15:07:52.481834Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 28 15:07:52 np0000094167 etcd[60352]: {"level":"fatal","ts":"2026-05-28T15:07:52.481896Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 28 15:07:52 np0000094167 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 28 15:07:52 np0000094167 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 28 15:07:52 np0000094167 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 28 15:07:52 np0000094167 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 28 15:07:52 np0000094167 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 28 15:07:52 np0000094167 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 28 15:07:52 np0000094167 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
