Jun 29 20:12:43 np0000094514 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 20:12:43 np0000094514 etcd[60118]: {"level":"warn","ts":"2026-06-29T20:12:43.400979Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 20:12:43 np0000094514 etcd[60118]: {"level":"info","ts":"2026-06-29T20:12:43.401164Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094514","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094514=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 20:12:43 np0000094514 etcd[60118]: {"level":"warn","ts":"2026-06-29T20:12:43.401358Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 20:12:43 np0000094514 etcd[60118]: {"level":"info","ts":"2026-06-29T20:12:43.401392Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 20:12:43 np0000094514 etcd[60118]: {"level":"info","ts":"2026-06-29T20:12:43.401897Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:43 np0000094514 etcd[60118]: {"level":"info","ts":"2026-06-29T20:12:43.402022Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094514","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:43 np0000094514 etcd[60118]: {"level":"info","ts":"2026-06-29T20:12:43.402122Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094514","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:43 np0000094514 etcd[60118]: {"level":"warn","ts":"2026-06-29T20:12:43.402181Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 20:12:43 np0000094514 etcd[60118]: {"level":"fatal","ts":"2026-06-29T20:12:43.402249Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 20:12:43 np0000094514 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 20:12:43 np0000094514 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 20:12:43 np0000094514 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 20:12:43 np0000094514 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 29 20:12:43 np0000094514 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 20:12:43 np0000094514 etcd[60221]: {"level":"warn","ts":"2026-06-29T20:12:43.772761Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 20:12:43 np0000094514 etcd[60221]: {"level":"info","ts":"2026-06-29T20:12:43.772921Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094514","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094514=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 20:12:43 np0000094514 etcd[60221]: {"level":"warn","ts":"2026-06-29T20:12:43.773109Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 20:12:43 np0000094514 etcd[60221]: {"level":"info","ts":"2026-06-29T20:12:43.773145Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 20:12:43 np0000094514 etcd[60221]: {"level":"info","ts":"2026-06-29T20:12:43.774933Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:43 np0000094514 etcd[60221]: {"level":"info","ts":"2026-06-29T20:12:43.775064Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094514","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:43 np0000094514 etcd[60221]: {"level":"info","ts":"2026-06-29T20:12:43.775168Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094514","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:43 np0000094514 etcd[60221]: {"level":"warn","ts":"2026-06-29T20:12:43.775206Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 20:12:43 np0000094514 etcd[60221]: {"level":"fatal","ts":"2026-06-29T20:12:43.775280Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 20:12:43 np0000094514 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 20:12:43 np0000094514 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 20:12:43 np0000094514 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 20:12:43 np0000094514 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 29 20:12:43 np0000094514 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 20:12:44 np0000094514 etcd[60238]: {"level":"warn","ts":"2026-06-29T20:12:44.046616Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 20:12:44 np0000094514 etcd[60238]: {"level":"info","ts":"2026-06-29T20:12:44.046801Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094514","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094514=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 20:12:44 np0000094514 etcd[60238]: {"level":"warn","ts":"2026-06-29T20:12:44.046979Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 20:12:44 np0000094514 etcd[60238]: {"level":"info","ts":"2026-06-29T20:12:44.047021Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 20:12:44 np0000094514 etcd[60238]: {"level":"info","ts":"2026-06-29T20:12:44.047612Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:44 np0000094514 etcd[60238]: {"level":"info","ts":"2026-06-29T20:12:44.047742Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094514","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:44 np0000094514 etcd[60238]: {"level":"info","ts":"2026-06-29T20:12:44.047824Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094514","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:44 np0000094514 etcd[60238]: {"level":"warn","ts":"2026-06-29T20:12:44.047883Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 20:12:44 np0000094514 etcd[60238]: {"level":"fatal","ts":"2026-06-29T20:12:44.048091Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 20:12:44 np0000094514 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 20:12:44 np0000094514 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 20:12:44 np0000094514 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 20:12:44 np0000094514 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 29 20:12:44 np0000094514 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 20:12:44 np0000094514 etcd[60265]: {"level":"warn","ts":"2026-06-29T20:12:44.296005Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 20:12:44 np0000094514 etcd[60265]: {"level":"info","ts":"2026-06-29T20:12:44.296182Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094514","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094514=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 20:12:44 np0000094514 etcd[60265]: {"level":"warn","ts":"2026-06-29T20:12:44.296366Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 20:12:44 np0000094514 etcd[60265]: {"level":"info","ts":"2026-06-29T20:12:44.296404Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 20:12:44 np0000094514 etcd[60265]: {"level":"info","ts":"2026-06-29T20:12:44.296815Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:44 np0000094514 etcd[60265]: {"level":"info","ts":"2026-06-29T20:12:44.296938Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094514","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:44 np0000094514 etcd[60265]: {"level":"info","ts":"2026-06-29T20:12:44.297001Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094514","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:44 np0000094514 etcd[60265]: {"level":"warn","ts":"2026-06-29T20:12:44.297049Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 20:12:44 np0000094514 etcd[60265]: {"level":"fatal","ts":"2026-06-29T20:12:44.297136Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 20:12:44 np0000094514 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 20:12:44 np0000094514 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 20:12:44 np0000094514 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 20:12:44 np0000094514 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 29 20:12:44 np0000094514 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 20:12:44 np0000094514 etcd[60304]: {"level":"warn","ts":"2026-06-29T20:12:44.554413Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 20:12:44 np0000094514 etcd[60304]: {"level":"info","ts":"2026-06-29T20:12:44.554588Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094514","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094514=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 20:12:44 np0000094514 etcd[60304]: {"level":"warn","ts":"2026-06-29T20:12:44.554799Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 20:12:44 np0000094514 etcd[60304]: {"level":"info","ts":"2026-06-29T20:12:44.554824Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 20:12:44 np0000094514 etcd[60304]: {"level":"info","ts":"2026-06-29T20:12:44.555204Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:44 np0000094514 etcd[60304]: {"level":"info","ts":"2026-06-29T20:12:44.555295Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094514","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:44 np0000094514 etcd[60304]: {"level":"info","ts":"2026-06-29T20:12:44.555385Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094514","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 20:12:44 np0000094514 etcd[60304]: {"level":"warn","ts":"2026-06-29T20:12:44.555428Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 20:12:44 np0000094514 etcd[60304]: {"level":"fatal","ts":"2026-06-29T20:12:44.555477Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 20:12:44 np0000094514 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 20:12:44 np0000094514 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 20:12:44 np0000094514 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 20:12:44 np0000094514 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 29 20:12:44 np0000094514 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 29 20:12:44 np0000094514 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 20:12:44 np0000094514 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
