Feb 13 19:02:32 np0000056247 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:02:32 np0000056247 etcd[60681]: {"level":"warn","ts":"2026-02-13T19:02:32.557748Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:02:32 np0000056247 etcd[60681]: {"level":"info","ts":"2026-02-13T19:02:32.558014Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056247","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056247=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:02:32 np0000056247 etcd[60681]: {"level":"warn","ts":"2026-02-13T19:02:32.558326Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:02:32 np0000056247 etcd[60681]: {"level":"info","ts":"2026-02-13T19:02:32.558391Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:02:32 np0000056247 etcd[60681]: {"level":"info","ts":"2026-02-13T19:02:32.559128Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:32 np0000056247 etcd[60681]: {"level":"info","ts":"2026-02-13T19:02:32.559279Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:32 np0000056247 etcd[60681]: {"level":"info","ts":"2026-02-13T19:02:32.559358Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:32 np0000056247 etcd[60681]: {"level":"warn","ts":"2026-02-13T19:02:32.559416Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:02:32 np0000056247 etcd[60681]: {"level":"fatal","ts":"2026-02-13T19:02:32.559505Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:02:32 np0000056247 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:02:32 np0000056247 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:02:32 np0000056247 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:02:32 np0000056247 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 19:02:32 np0000056247 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:02:32 np0000056247 etcd[60772]: {"level":"warn","ts":"2026-02-13T19:02:32.927198Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:02:32 np0000056247 etcd[60772]: {"level":"info","ts":"2026-02-13T19:02:32.927380Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056247","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056247=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:02:32 np0000056247 etcd[60772]: {"level":"warn","ts":"2026-02-13T19:02:32.927538Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:02:32 np0000056247 etcd[60772]: {"level":"info","ts":"2026-02-13T19:02:32.927596Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:02:32 np0000056247 etcd[60772]: {"level":"info","ts":"2026-02-13T19:02:32.928050Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:32 np0000056247 etcd[60772]: {"level":"info","ts":"2026-02-13T19:02:32.928189Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:32 np0000056247 etcd[60772]: {"level":"info","ts":"2026-02-13T19:02:32.928265Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:32 np0000056247 etcd[60772]: {"level":"warn","ts":"2026-02-13T19:02:32.928324Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:02:32 np0000056247 etcd[60772]: {"level":"fatal","ts":"2026-02-13T19:02:32.928385Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:02:32 np0000056247 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:02:32 np0000056247 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:02:32 np0000056247 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:02:33 np0000056247 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 19:02:33 np0000056247 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:02:33 np0000056247 etcd[60801]: {"level":"warn","ts":"2026-02-13T19:02:33.173489Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:02:33 np0000056247 etcd[60801]: {"level":"info","ts":"2026-02-13T19:02:33.174829Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056247","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056247=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:02:33 np0000056247 etcd[60801]: {"level":"warn","ts":"2026-02-13T19:02:33.175532Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:02:33 np0000056247 etcd[60801]: {"level":"info","ts":"2026-02-13T19:02:33.175586Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:02:33 np0000056247 etcd[60801]: {"level":"info","ts":"2026-02-13T19:02:33.176231Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:33 np0000056247 etcd[60801]: {"level":"info","ts":"2026-02-13T19:02:33.176356Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:33 np0000056247 etcd[60801]: {"level":"info","ts":"2026-02-13T19:02:33.176442Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:33 np0000056247 etcd[60801]: {"level":"warn","ts":"2026-02-13T19:02:33.176523Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:02:33 np0000056247 etcd[60801]: {"level":"fatal","ts":"2026-02-13T19:02:33.176590Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:02:33 np0000056247 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:02:33 np0000056247 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:02:33 np0000056247 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:02:33 np0000056247 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 19:02:33 np0000056247 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:02:33 np0000056247 etcd[60821]: {"level":"warn","ts":"2026-02-13T19:02:33.421768Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:02:33 np0000056247 etcd[60821]: {"level":"info","ts":"2026-02-13T19:02:33.421958Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056247","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056247=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:02:33 np0000056247 etcd[60821]: {"level":"warn","ts":"2026-02-13T19:02:33.422168Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:02:33 np0000056247 etcd[60821]: {"level":"info","ts":"2026-02-13T19:02:33.422201Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:02:33 np0000056247 etcd[60821]: {"level":"info","ts":"2026-02-13T19:02:33.422613Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:33 np0000056247 etcd[60821]: {"level":"info","ts":"2026-02-13T19:02:33.422721Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:33 np0000056247 etcd[60821]: {"level":"info","ts":"2026-02-13T19:02:33.422797Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:33 np0000056247 etcd[60821]: {"level":"warn","ts":"2026-02-13T19:02:33.422850Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:02:33 np0000056247 etcd[60821]: {"level":"fatal","ts":"2026-02-13T19:02:33.422911Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:02:33 np0000056247 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:02:33 np0000056247 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:02:33 np0000056247 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:02:33 np0000056247 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 19:02:33 np0000056247 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:02:33 np0000056247 etcd[60856]: {"level":"warn","ts":"2026-02-13T19:02:33.655577Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:02:33 np0000056247 etcd[60856]: {"level":"info","ts":"2026-02-13T19:02:33.655728Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056247","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056247=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:02:33 np0000056247 etcd[60856]: {"level":"warn","ts":"2026-02-13T19:02:33.655884Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:02:33 np0000056247 etcd[60856]: {"level":"info","ts":"2026-02-13T19:02:33.655914Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:02:33 np0000056247 etcd[60856]: {"level":"info","ts":"2026-02-13T19:02:33.656308Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:33 np0000056247 etcd[60856]: {"level":"info","ts":"2026-02-13T19:02:33.656406Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:33 np0000056247 etcd[60856]: {"level":"info","ts":"2026-02-13T19:02:33.656494Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:02:33 np0000056247 etcd[60856]: {"level":"warn","ts":"2026-02-13T19:02:33.656558Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:02:33 np0000056247 etcd[60856]: {"level":"fatal","ts":"2026-02-13T19:02:33.656628Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:02:33 np0000056247 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:02:33 np0000056247 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:02:33 np0000056247 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:02:33 np0000056247 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 19:02:33 np0000056247 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 19:02:33 np0000056247 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:02:33 np0000056247 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
