May 19 20:46:03 np0000094137 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 20:46:03 np0000094137 etcd[60037]: {"level":"warn","ts":"2026-05-19T20:46:03.770815Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:46:03 np0000094137 etcd[60037]: {"level":"info","ts":"2026-05-19T20:46:03.770963Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094137","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094137=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 20:46:03 np0000094137 etcd[60037]: {"level":"warn","ts":"2026-05-19T20:46:03.771084Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:46:03 np0000094137 etcd[60037]: {"level":"info","ts":"2026-05-19T20:46:03.771106Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 20:46:03 np0000094137 etcd[60037]: {"level":"info","ts":"2026-05-19T20:46:03.771545Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:03 np0000094137 etcd[60037]: {"level":"info","ts":"2026-05-19T20:46:03.771630Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094137","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:03 np0000094137 etcd[60037]: {"level":"info","ts":"2026-05-19T20:46:03.771713Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094137","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:03 np0000094137 etcd[60037]: {"level":"warn","ts":"2026-05-19T20:46:03.771752Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 20:46:03 np0000094137 etcd[60037]: {"level":"fatal","ts":"2026-05-19T20:46:03.771796Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 20:46:03 np0000094137 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 20:46:03 np0000094137 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 20:46:03 np0000094137 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 20:46:04 np0000094137 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 19 20:46:04 np0000094137 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 20:46:04 np0000094137 etcd[60136]: {"level":"warn","ts":"2026-05-19T20:46:04.158872Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:46:04 np0000094137 etcd[60136]: {"level":"info","ts":"2026-05-19T20:46:04.159965Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094137","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094137=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 20:46:04 np0000094137 etcd[60136]: {"level":"warn","ts":"2026-05-19T20:46:04.160171Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:46:04 np0000094137 etcd[60136]: {"level":"info","ts":"2026-05-19T20:46:04.160205Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 20:46:04 np0000094137 etcd[60136]: {"level":"info","ts":"2026-05-19T20:46:04.160997Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:04 np0000094137 etcd[60136]: {"level":"info","ts":"2026-05-19T20:46:04.161143Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094137","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:04 np0000094137 etcd[60136]: {"level":"info","ts":"2026-05-19T20:46:04.161223Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094137","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:04 np0000094137 etcd[60136]: {"level":"warn","ts":"2026-05-19T20:46:04.161284Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 20:46:04 np0000094137 etcd[60136]: {"level":"fatal","ts":"2026-05-19T20:46:04.161359Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 20:46:04 np0000094137 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 20:46:04 np0000094137 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 20:46:04 np0000094137 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 20:46:04 np0000094137 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 19 20:46:04 np0000094137 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 20:46:04 np0000094137 etcd[60157]: {"level":"warn","ts":"2026-05-19T20:46:04.404076Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:46:04 np0000094137 etcd[60157]: {"level":"info","ts":"2026-05-19T20:46:04.404263Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094137","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094137=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 20:46:04 np0000094137 etcd[60157]: {"level":"warn","ts":"2026-05-19T20:46:04.404470Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:46:04 np0000094137 etcd[60157]: {"level":"info","ts":"2026-05-19T20:46:04.404513Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 20:46:04 np0000094137 etcd[60157]: {"level":"info","ts":"2026-05-19T20:46:04.405062Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:04 np0000094137 etcd[60157]: {"level":"info","ts":"2026-05-19T20:46:04.405186Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094137","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:04 np0000094137 etcd[60157]: {"level":"info","ts":"2026-05-19T20:46:04.405270Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094137","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:04 np0000094137 etcd[60157]: {"level":"warn","ts":"2026-05-19T20:46:04.405327Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 20:46:04 np0000094137 etcd[60157]: {"level":"fatal","ts":"2026-05-19T20:46:04.405421Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 20:46:04 np0000094137 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 20:46:04 np0000094137 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 20:46:04 np0000094137 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 20:46:04 np0000094137 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 19 20:46:04 np0000094137 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 20:46:04 np0000094137 etcd[60177]: {"level":"warn","ts":"2026-05-19T20:46:04.656591Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:46:04 np0000094137 etcd[60177]: {"level":"info","ts":"2026-05-19T20:46:04.656856Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094137","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094137=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 20:46:04 np0000094137 etcd[60177]: {"level":"warn","ts":"2026-05-19T20:46:04.657053Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:46:04 np0000094137 etcd[60177]: {"level":"info","ts":"2026-05-19T20:46:04.657085Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 20:46:04 np0000094137 etcd[60177]: {"level":"info","ts":"2026-05-19T20:46:04.659563Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:04 np0000094137 etcd[60177]: {"level":"info","ts":"2026-05-19T20:46:04.659797Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094137","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:04 np0000094137 etcd[60177]: {"level":"info","ts":"2026-05-19T20:46:04.659900Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094137","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:04 np0000094137 etcd[60177]: {"level":"warn","ts":"2026-05-19T20:46:04.659975Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 20:46:04 np0000094137 etcd[60177]: {"level":"fatal","ts":"2026-05-19T20:46:04.660137Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 20:46:04 np0000094137 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 20:46:04 np0000094137 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 20:46:04 np0000094137 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 20:46:04 np0000094137 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 19 20:46:04 np0000094137 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 20:46:04 np0000094137 etcd[60211]: {"level":"warn","ts":"2026-05-19T20:46:04.896665Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:46:04 np0000094137 etcd[60211]: {"level":"info","ts":"2026-05-19T20:46:04.896792Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094137","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094137=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 20:46:04 np0000094137 etcd[60211]: {"level":"warn","ts":"2026-05-19T20:46:04.896919Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:46:04 np0000094137 etcd[60211]: {"level":"info","ts":"2026-05-19T20:46:04.896947Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 20:46:04 np0000094137 etcd[60211]: {"level":"info","ts":"2026-05-19T20:46:04.897297Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:04 np0000094137 etcd[60211]: {"level":"info","ts":"2026-05-19T20:46:04.897400Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094137","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:04 np0000094137 etcd[60211]: {"level":"info","ts":"2026-05-19T20:46:04.897479Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094137","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:46:04 np0000094137 etcd[60211]: {"level":"warn","ts":"2026-05-19T20:46:04.897521Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 20:46:04 np0000094137 etcd[60211]: {"level":"fatal","ts":"2026-05-19T20:46:04.897565Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 20:46:04 np0000094137 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 20:46:04 np0000094137 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 20:46:04 np0000094137 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 20:46:05 np0000094137 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 19 20:46:05 np0000094137 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 19 20:46:05 np0000094137 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 20:46:05 np0000094137 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
