May 19 19:09:16 np0000094135 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 19:09:16 np0000094135 etcd[59993]: {"level":"warn","ts":"2026-05-19T19:09:16.985784Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 19:09:16 np0000094135 etcd[59993]: {"level":"info","ts":"2026-05-19T19:09:16.985916Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094135","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094135=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 19:09:16 np0000094135 etcd[59993]: {"level":"warn","ts":"2026-05-19T19:09:16.986005Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 19:09:16 np0000094135 etcd[59993]: {"level":"info","ts":"2026-05-19T19:09:16.986021Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 19:09:16 np0000094135 etcd[59993]: {"level":"info","ts":"2026-05-19T19:09:16.986280Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:16 np0000094135 etcd[59993]: {"level":"info","ts":"2026-05-19T19:09:16.986339Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094135","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:16 np0000094135 etcd[59993]: {"level":"info","ts":"2026-05-19T19:09:16.986383Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094135","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:16 np0000094135 etcd[59993]: {"level":"warn","ts":"2026-05-19T19:09:16.986414Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 19:09:16 np0000094135 etcd[59993]: {"level":"fatal","ts":"2026-05-19T19:09:16.986455Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 19:09:16 np0000094135 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 19:09:16 np0000094135 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 19:09:16 np0000094135 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 19:09:17 np0000094135 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 19 19:09:17 np0000094135 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 19:09:17 np0000094135 etcd[60071]: {"level":"warn","ts":"2026-05-19T19:09:17.256471Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 19:09:17 np0000094135 etcd[60071]: {"level":"info","ts":"2026-05-19T19:09:17.256661Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094135","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094135=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 19:09:17 np0000094135 etcd[60071]: {"level":"warn","ts":"2026-05-19T19:09:17.258640Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 19:09:17 np0000094135 etcd[60071]: {"level":"info","ts":"2026-05-19T19:09:17.258749Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 19:09:17 np0000094135 etcd[60071]: {"level":"info","ts":"2026-05-19T19:09:17.259499Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:17 np0000094135 etcd[60071]: {"level":"info","ts":"2026-05-19T19:09:17.259641Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094135","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:17 np0000094135 etcd[60071]: {"level":"info","ts":"2026-05-19T19:09:17.259721Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094135","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:17 np0000094135 etcd[60071]: {"level":"warn","ts":"2026-05-19T19:09:17.259779Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 19:09:17 np0000094135 etcd[60071]: {"level":"fatal","ts":"2026-05-19T19:09:17.259892Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 19:09:17 np0000094135 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 19:09:17 np0000094135 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 19:09:17 np0000094135 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 19:09:17 np0000094135 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 19 19:09:17 np0000094135 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 19:09:17 np0000094135 etcd[60131]: {"level":"warn","ts":"2026-05-19T19:09:17.515256Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 19:09:17 np0000094135 etcd[60131]: {"level":"info","ts":"2026-05-19T19:09:17.516396Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094135","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094135=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 19:09:17 np0000094135 etcd[60131]: {"level":"warn","ts":"2026-05-19T19:09:17.516951Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 19:09:17 np0000094135 etcd[60131]: {"level":"info","ts":"2026-05-19T19:09:17.517177Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 19:09:17 np0000094135 etcd[60131]: {"level":"info","ts":"2026-05-19T19:09:17.517813Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:17 np0000094135 etcd[60131]: {"level":"info","ts":"2026-05-19T19:09:17.517993Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094135","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:17 np0000094135 etcd[60131]: {"level":"info","ts":"2026-05-19T19:09:17.518077Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094135","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:17 np0000094135 etcd[60131]: {"level":"warn","ts":"2026-05-19T19:09:17.518135Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 19:09:17 np0000094135 etcd[60131]: {"level":"fatal","ts":"2026-05-19T19:09:17.518201Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 19:09:17 np0000094135 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 19:09:17 np0000094135 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 19:09:17 np0000094135 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 19:09:17 np0000094135 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 19 19:09:17 np0000094135 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 19:09:17 np0000094135 etcd[60152]: {"level":"warn","ts":"2026-05-19T19:09:17.759725Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 19:09:17 np0000094135 etcd[60152]: {"level":"info","ts":"2026-05-19T19:09:17.761104Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094135","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094135=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 19:09:17 np0000094135 etcd[60152]: {"level":"warn","ts":"2026-05-19T19:09:17.761330Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 19:09:17 np0000094135 etcd[60152]: {"level":"info","ts":"2026-05-19T19:09:17.761392Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 19:09:17 np0000094135 etcd[60152]: {"level":"info","ts":"2026-05-19T19:09:17.762633Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:17 np0000094135 etcd[60152]: {"level":"info","ts":"2026-05-19T19:09:17.762837Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094135","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:17 np0000094135 etcd[60152]: {"level":"info","ts":"2026-05-19T19:09:17.762975Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094135","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:17 np0000094135 etcd[60152]: {"level":"warn","ts":"2026-05-19T19:09:17.763043Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 19:09:17 np0000094135 etcd[60152]: {"level":"fatal","ts":"2026-05-19T19:09:17.763127Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 19:09:17 np0000094135 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 19:09:17 np0000094135 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 19:09:17 np0000094135 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 19:09:17 np0000094135 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 19 19:09:17 np0000094135 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 19:09:18 np0000094135 etcd[60196]: {"level":"warn","ts":"2026-05-19T19:09:18.002630Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 19:09:18 np0000094135 etcd[60196]: {"level":"info","ts":"2026-05-19T19:09:18.002784Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094135","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094135=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 19:09:18 np0000094135 etcd[60196]: {"level":"warn","ts":"2026-05-19T19:09:18.003036Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 19:09:18 np0000094135 etcd[60196]: {"level":"info","ts":"2026-05-19T19:09:18.003065Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 19:09:18 np0000094135 etcd[60196]: {"level":"info","ts":"2026-05-19T19:09:18.003486Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:18 np0000094135 etcd[60196]: {"level":"info","ts":"2026-05-19T19:09:18.003585Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094135","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:18 np0000094135 etcd[60196]: {"level":"info","ts":"2026-05-19T19:09:18.003655Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094135","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 19:09:18 np0000094135 etcd[60196]: {"level":"warn","ts":"2026-05-19T19:09:18.003704Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 19:09:18 np0000094135 etcd[60196]: {"level":"fatal","ts":"2026-05-19T19:09:18.003761Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 19:09:18 np0000094135 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 19:09:18 np0000094135 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 19:09:18 np0000094135 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 19:09:18 np0000094135 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 19 19:09:18 np0000094135 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 19 19:09:18 np0000094135 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 19:09:18 np0000094135 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
