Jun 09 14:49:58 np0000094289 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 14:49:58 np0000094289 etcd[65408]: {"level":"warn","ts":"2026-06-09T14:49:58.485093Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 14:49:58 np0000094289 etcd[65408]: {"level":"info","ts":"2026-06-09T14:49:58.485259Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094289","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094289=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 14:49:58 np0000094289 etcd[65408]: {"level":"warn","ts":"2026-06-09T14:49:58.485409Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 14:49:58 np0000094289 etcd[65408]: {"level":"info","ts":"2026-06-09T14:49:58.485447Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 14:49:58 np0000094289 etcd[65408]: {"level":"info","ts":"2026-06-09T14:49:58.485914Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:58 np0000094289 etcd[65408]: {"level":"info","ts":"2026-06-09T14:49:58.486065Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094289","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:58 np0000094289 etcd[65408]: {"level":"info","ts":"2026-06-09T14:49:58.486188Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094289","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:58 np0000094289 etcd[65408]: {"level":"warn","ts":"2026-06-09T14:49:58.486269Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 14:49:58 np0000094289 etcd[65408]: {"level":"fatal","ts":"2026-06-09T14:49:58.486339Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 14:49:58 np0000094289 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 14:49:58 np0000094289 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 14:49:58 np0000094289 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 14:49:58 np0000094289 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 09 14:49:58 np0000094289 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 14:49:58 np0000094289 etcd[65478]: {"level":"warn","ts":"2026-06-09T14:49:58.802728Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 14:49:58 np0000094289 etcd[65478]: {"level":"info","ts":"2026-06-09T14:49:58.802920Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094289","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094289=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 14:49:58 np0000094289 etcd[65478]: {"level":"warn","ts":"2026-06-09T14:49:58.803103Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 14:49:58 np0000094289 etcd[65478]: {"level":"info","ts":"2026-06-09T14:49:58.803142Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 14:49:58 np0000094289 etcd[65478]: {"level":"info","ts":"2026-06-09T14:49:58.803689Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:58 np0000094289 etcd[65478]: {"level":"info","ts":"2026-06-09T14:49:58.803839Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094289","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:58 np0000094289 etcd[65478]: {"level":"info","ts":"2026-06-09T14:49:58.803919Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094289","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:58 np0000094289 etcd[65478]: {"level":"warn","ts":"2026-06-09T14:49:58.805184Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 14:49:58 np0000094289 etcd[65478]: {"level":"fatal","ts":"2026-06-09T14:49:58.805265Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 14:49:58 np0000094289 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 14:49:58 np0000094289 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 14:49:58 np0000094289 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 14:49:58 np0000094289 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 09 14:49:58 np0000094289 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 14:49:59 np0000094289 etcd[65528]: {"level":"warn","ts":"2026-06-09T14:49:59.028944Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 14:49:59 np0000094289 etcd[65528]: {"level":"info","ts":"2026-06-09T14:49:59.029126Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094289","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094289=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 14:49:59 np0000094289 etcd[65528]: {"level":"warn","ts":"2026-06-09T14:49:59.029269Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 14:49:59 np0000094289 etcd[65528]: {"level":"info","ts":"2026-06-09T14:49:59.029294Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 14:49:59 np0000094289 etcd[65528]: {"level":"info","ts":"2026-06-09T14:49:59.029809Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:59 np0000094289 etcd[65528]: {"level":"info","ts":"2026-06-09T14:49:59.029927Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094289","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:59 np0000094289 etcd[65528]: {"level":"info","ts":"2026-06-09T14:49:59.031272Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094289","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:59 np0000094289 etcd[65528]: {"level":"warn","ts":"2026-06-09T14:49:59.031349Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 14:49:59 np0000094289 etcd[65528]: {"level":"fatal","ts":"2026-06-09T14:49:59.031421Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 14:49:59 np0000094289 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 14:49:59 np0000094289 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 14:49:59 np0000094289 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 14:49:59 np0000094289 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 09 14:49:59 np0000094289 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 14:49:59 np0000094289 etcd[65536]: {"level":"warn","ts":"2026-06-09T14:49:59.285806Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 14:49:59 np0000094289 etcd[65536]: {"level":"info","ts":"2026-06-09T14:49:59.285943Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094289","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094289=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 14:49:59 np0000094289 etcd[65536]: {"level":"warn","ts":"2026-06-09T14:49:59.286077Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 14:49:59 np0000094289 etcd[65536]: {"level":"info","ts":"2026-06-09T14:49:59.286094Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 14:49:59 np0000094289 etcd[65536]: {"level":"info","ts":"2026-06-09T14:49:59.286362Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:59 np0000094289 etcd[65536]: {"level":"info","ts":"2026-06-09T14:49:59.286426Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094289","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:59 np0000094289 etcd[65536]: {"level":"info","ts":"2026-06-09T14:49:59.286475Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094289","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:59 np0000094289 etcd[65536]: {"level":"warn","ts":"2026-06-09T14:49:59.286508Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 14:49:59 np0000094289 etcd[65536]: {"level":"fatal","ts":"2026-06-09T14:49:59.286556Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 14:49:59 np0000094289 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 14:49:59 np0000094289 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 14:49:59 np0000094289 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 14:49:59 np0000094289 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 09 14:49:59 np0000094289 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 14:49:59 np0000094289 etcd[65572]: {"level":"warn","ts":"2026-06-09T14:49:59.528805Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 14:49:59 np0000094289 etcd[65572]: {"level":"info","ts":"2026-06-09T14:49:59.528950Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094289","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094289=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 14:49:59 np0000094289 etcd[65572]: {"level":"warn","ts":"2026-06-09T14:49:59.529104Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 14:49:59 np0000094289 etcd[65572]: {"level":"info","ts":"2026-06-09T14:49:59.529127Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 14:49:59 np0000094289 etcd[65572]: {"level":"info","ts":"2026-06-09T14:49:59.529487Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:59 np0000094289 etcd[65572]: {"level":"info","ts":"2026-06-09T14:49:59.529578Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094289","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:59 np0000094289 etcd[65572]: {"level":"info","ts":"2026-06-09T14:49:59.529627Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094289","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 14:49:59 np0000094289 etcd[65572]: {"level":"warn","ts":"2026-06-09T14:49:59.529668Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 14:49:59 np0000094289 etcd[65572]: {"level":"fatal","ts":"2026-06-09T14:49:59.529717Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 14:49:59 np0000094289 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 14:49:59 np0000094289 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 14:49:59 np0000094289 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 14:49:59 np0000094289 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 09 14:49:59 np0000094289 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 09 14:49:59 np0000094289 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 14:49:59 np0000094289 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
