Jun 11 10:02:41 np0000094316 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 10:02:41 np0000094316 etcd[60510]: {"level":"warn","ts":"2026-06-11T10:02:41.545242Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 10:02:41 np0000094316 etcd[60510]: {"level":"info","ts":"2026-06-11T10:02:41.546054Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094316","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094316=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 10:02:41 np0000094316 etcd[60510]: {"level":"warn","ts":"2026-06-11T10:02:41.546215Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 10:02:41 np0000094316 etcd[60510]: {"level":"info","ts":"2026-06-11T10:02:41.546239Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 10:02:41 np0000094316 etcd[60510]: {"level":"info","ts":"2026-06-11T10:02:41.547303Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:41 np0000094316 etcd[60510]: {"level":"info","ts":"2026-06-11T10:02:41.547406Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094316","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:41 np0000094316 etcd[60510]: {"level":"info","ts":"2026-06-11T10:02:41.547491Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094316","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:41 np0000094316 etcd[60510]: {"level":"warn","ts":"2026-06-11T10:02:41.547532Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 10:02:41 np0000094316 etcd[60510]: {"level":"fatal","ts":"2026-06-11T10:02:41.547606Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 10:02:41 np0000094316 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 10:02:41 np0000094316 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 10:02:41 np0000094316 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 10:02:41 np0000094316 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 11 10:02:41 np0000094316 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 10:02:41 np0000094316 etcd[60608]: {"level":"warn","ts":"2026-06-11T10:02:41.939761Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 10:02:41 np0000094316 etcd[60608]: {"level":"info","ts":"2026-06-11T10:02:41.939943Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094316","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094316=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 10:02:41 np0000094316 etcd[60608]: {"level":"warn","ts":"2026-06-11T10:02:41.940135Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 10:02:41 np0000094316 etcd[60608]: {"level":"info","ts":"2026-06-11T10:02:41.940177Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 10:02:41 np0000094316 etcd[60608]: {"level":"info","ts":"2026-06-11T10:02:41.940713Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:41 np0000094316 etcd[60608]: {"level":"info","ts":"2026-06-11T10:02:41.940835Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094316","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:41 np0000094316 etcd[60608]: {"level":"info","ts":"2026-06-11T10:02:41.940935Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094316","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:41 np0000094316 etcd[60608]: {"level":"warn","ts":"2026-06-11T10:02:41.941000Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 10:02:41 np0000094316 etcd[60608]: {"level":"fatal","ts":"2026-06-11T10:02:41.941066Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 10:02:41 np0000094316 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 10:02:41 np0000094316 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 10:02:41 np0000094316 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 10:02:42 np0000094316 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 11 10:02:42 np0000094316 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 10:02:42 np0000094316 etcd[60631]: {"level":"warn","ts":"2026-06-11T10:02:42.181633Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 10:02:42 np0000094316 etcd[60631]: {"level":"info","ts":"2026-06-11T10:02:42.181784Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094316","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094316=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 10:02:42 np0000094316 etcd[60631]: {"level":"warn","ts":"2026-06-11T10:02:42.181932Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 10:02:42 np0000094316 etcd[60631]: {"level":"info","ts":"2026-06-11T10:02:42.181959Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 10:02:42 np0000094316 etcd[60631]: {"level":"info","ts":"2026-06-11T10:02:42.182490Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:42 np0000094316 etcd[60631]: {"level":"info","ts":"2026-06-11T10:02:42.182597Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094316","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:42 np0000094316 etcd[60631]: {"level":"info","ts":"2026-06-11T10:02:42.182665Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094316","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:42 np0000094316 etcd[60631]: {"level":"warn","ts":"2026-06-11T10:02:42.182712Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 10:02:42 np0000094316 etcd[60631]: {"level":"fatal","ts":"2026-06-11T10:02:42.182768Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 10:02:42 np0000094316 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 10:02:42 np0000094316 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 10:02:42 np0000094316 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 10:02:42 np0000094316 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 11 10:02:42 np0000094316 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 10:02:42 np0000094316 etcd[60651]: {"level":"warn","ts":"2026-06-11T10:02:42.420272Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 10:02:42 np0000094316 etcd[60651]: {"level":"info","ts":"2026-06-11T10:02:42.421876Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094316","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094316=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 10:02:42 np0000094316 etcd[60651]: {"level":"warn","ts":"2026-06-11T10:02:42.422080Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 10:02:42 np0000094316 etcd[60651]: {"level":"info","ts":"2026-06-11T10:02:42.422130Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 10:02:42 np0000094316 etcd[60651]: {"level":"info","ts":"2026-06-11T10:02:42.422606Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:42 np0000094316 etcd[60651]: {"level":"info","ts":"2026-06-11T10:02:42.422709Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094316","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:42 np0000094316 etcd[60651]: {"level":"info","ts":"2026-06-11T10:02:42.422778Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094316","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:42 np0000094316 etcd[60651]: {"level":"warn","ts":"2026-06-11T10:02:42.422842Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 10:02:42 np0000094316 etcd[60651]: {"level":"fatal","ts":"2026-06-11T10:02:42.422921Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 10:02:42 np0000094316 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 10:02:42 np0000094316 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 10:02:42 np0000094316 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 10:02:42 np0000094316 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 11 10:02:42 np0000094316 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 10:02:42 np0000094316 etcd[60689]: {"level":"warn","ts":"2026-06-11T10:02:42.686776Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 10:02:42 np0000094316 etcd[60689]: {"level":"info","ts":"2026-06-11T10:02:42.686918Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094316","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094316=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 10:02:42 np0000094316 etcd[60689]: {"level":"warn","ts":"2026-06-11T10:02:42.687051Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 10:02:42 np0000094316 etcd[60689]: {"level":"info","ts":"2026-06-11T10:02:42.687072Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 10:02:42 np0000094316 etcd[60689]: {"level":"info","ts":"2026-06-11T10:02:42.687465Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:42 np0000094316 etcd[60689]: {"level":"info","ts":"2026-06-11T10:02:42.687647Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094316","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:42 np0000094316 etcd[60689]: {"level":"info","ts":"2026-06-11T10:02:42.687732Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094316","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 10:02:42 np0000094316 etcd[60689]: {"level":"warn","ts":"2026-06-11T10:02:42.687786Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 10:02:42 np0000094316 etcd[60689]: {"level":"fatal","ts":"2026-06-11T10:02:42.687851Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 10:02:42 np0000094316 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 10:02:42 np0000094316 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 10:02:42 np0000094316 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 10:02:42 np0000094316 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 11 10:02:42 np0000094316 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 11 10:02:42 np0000094316 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 10:02:42 np0000094316 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
