Jun 11 09:29:09 np0000094315 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 09:29:09 np0000094315 etcd[60523]: {"level":"warn","ts":"2026-06-11T09:29:09.101676Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 09:29:09 np0000094315 etcd[60523]: {"level":"info","ts":"2026-06-11T09:29:09.101900Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094315","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094315=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 09:29:09 np0000094315 etcd[60523]: {"level":"warn","ts":"2026-06-11T09:29:09.102082Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 09:29:09 np0000094315 etcd[60523]: {"level":"info","ts":"2026-06-11T09:29:09.102145Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 09:29:09 np0000094315 etcd[60523]: {"level":"info","ts":"2026-06-11T09:29:09.102709Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:09 np0000094315 etcd[60523]: {"level":"info","ts":"2026-06-11T09:29:09.102833Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094315","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:09 np0000094315 etcd[60523]: {"level":"info","ts":"2026-06-11T09:29:09.102917Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094315","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:09 np0000094315 etcd[60523]: {"level":"warn","ts":"2026-06-11T09:29:09.102986Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 09:29:09 np0000094315 etcd[60523]: {"level":"fatal","ts":"2026-06-11T09:29:09.103063Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 09:29:09 np0000094315 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 09:29:09 np0000094315 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 09:29:09 np0000094315 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 09:29:09 np0000094315 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 11 09:29:09 np0000094315 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 09:29:09 np0000094315 etcd[60579]: {"level":"warn","ts":"2026-06-11T09:29:09.356675Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 09:29:09 np0000094315 etcd[60579]: {"level":"info","ts":"2026-06-11T09:29:09.356870Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094315","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094315=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 09:29:09 np0000094315 etcd[60579]: {"level":"warn","ts":"2026-06-11T09:29:09.357024Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 09:29:09 np0000094315 etcd[60579]: {"level":"info","ts":"2026-06-11T09:29:09.357055Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 09:29:09 np0000094315 etcd[60579]: {"level":"info","ts":"2026-06-11T09:29:09.357515Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:09 np0000094315 etcd[60579]: {"level":"info","ts":"2026-06-11T09:29:09.357634Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094315","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:09 np0000094315 etcd[60579]: {"level":"info","ts":"2026-06-11T09:29:09.357702Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094315","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:09 np0000094315 etcd[60579]: {"level":"warn","ts":"2026-06-11T09:29:09.357746Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 09:29:09 np0000094315 etcd[60579]: {"level":"fatal","ts":"2026-06-11T09:29:09.357812Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 09:29:09 np0000094315 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 09:29:09 np0000094315 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 09:29:09 np0000094315 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 09:29:09 np0000094315 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 11 09:29:09 np0000094315 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 09:29:09 np0000094315 etcd[60642]: {"level":"warn","ts":"2026-06-11T09:29:09.580697Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 09:29:09 np0000094315 etcd[60642]: {"level":"info","ts":"2026-06-11T09:29:09.580849Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094315","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094315=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 09:29:09 np0000094315 etcd[60642]: {"level":"warn","ts":"2026-06-11T09:29:09.580994Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 09:29:09 np0000094315 etcd[60642]: {"level":"info","ts":"2026-06-11T09:29:09.581018Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 09:29:09 np0000094315 etcd[60642]: {"level":"info","ts":"2026-06-11T09:29:09.581379Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:09 np0000094315 etcd[60642]: {"level":"info","ts":"2026-06-11T09:29:09.581492Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094315","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:09 np0000094315 etcd[60642]: {"level":"info","ts":"2026-06-11T09:29:09.581546Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094315","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:09 np0000094315 etcd[60642]: {"level":"warn","ts":"2026-06-11T09:29:09.581594Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 09:29:09 np0000094315 etcd[60642]: {"level":"fatal","ts":"2026-06-11T09:29:09.581633Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 09:29:09 np0000094315 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 09:29:09 np0000094315 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 09:29:09 np0000094315 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 09:29:09 np0000094315 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 11 09:29:09 np0000094315 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 09:29:09 np0000094315 etcd[60649]: {"level":"warn","ts":"2026-06-11T09:29:09.862241Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 09:29:09 np0000094315 etcd[60649]: {"level":"info","ts":"2026-06-11T09:29:09.863598Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094315","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094315=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 09:29:09 np0000094315 etcd[60649]: {"level":"warn","ts":"2026-06-11T09:29:09.863826Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 09:29:09 np0000094315 etcd[60649]: {"level":"info","ts":"2026-06-11T09:29:09.863872Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 09:29:09 np0000094315 etcd[60649]: {"level":"info","ts":"2026-06-11T09:29:09.864362Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:09 np0000094315 etcd[60649]: {"level":"info","ts":"2026-06-11T09:29:09.864519Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094315","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:09 np0000094315 etcd[60649]: {"level":"info","ts":"2026-06-11T09:29:09.864604Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094315","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:09 np0000094315 etcd[60649]: {"level":"warn","ts":"2026-06-11T09:29:09.864661Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 09:29:09 np0000094315 etcd[60649]: {"level":"fatal","ts":"2026-06-11T09:29:09.864727Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 09:29:09 np0000094315 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 09:29:09 np0000094315 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 09:29:09 np0000094315 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 09:29:10 np0000094315 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 11 09:29:10 np0000094315 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 09:29:10 np0000094315 etcd[60674]: {"level":"warn","ts":"2026-06-11T09:29:10.114398Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 09:29:10 np0000094315 etcd[60674]: {"level":"info","ts":"2026-06-11T09:29:10.114582Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094315","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094315=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 09:29:10 np0000094315 etcd[60674]: {"level":"warn","ts":"2026-06-11T09:29:10.114734Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 09:29:10 np0000094315 etcd[60674]: {"level":"info","ts":"2026-06-11T09:29:10.114760Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 09:29:10 np0000094315 etcd[60674]: {"level":"info","ts":"2026-06-11T09:29:10.115225Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:10 np0000094315 etcd[60674]: {"level":"info","ts":"2026-06-11T09:29:10.115329Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094315","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:10 np0000094315 etcd[60674]: {"level":"info","ts":"2026-06-11T09:29:10.115397Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094315","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 09:29:10 np0000094315 etcd[60674]: {"level":"warn","ts":"2026-06-11T09:29:10.115475Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 09:29:10 np0000094315 etcd[60674]: {"level":"fatal","ts":"2026-06-11T09:29:10.115541Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 09:29:10 np0000094315 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 09:29:10 np0000094315 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 09:29:10 np0000094315 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 09:29:10 np0000094315 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 11 09:29:10 np0000094315 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 11 09:29:10 np0000094315 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 09:29:10 np0000094315 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
