Apr 10 16:18:59 np0000093910 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 16:18:59 np0000093910 etcd[60383]: {"level":"warn","ts":"2026-04-10T16:18:59.900627Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 16:18:59 np0000093910 etcd[60383]: {"level":"info","ts":"2026-04-10T16:18:59.901924Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093910","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093910=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 16:18:59 np0000093910 etcd[60383]: {"level":"warn","ts":"2026-04-10T16:18:59.902164Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 16:18:59 np0000093910 etcd[60383]: {"level":"info","ts":"2026-04-10T16:18:59.902207Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 16:18:59 np0000093910 etcd[60383]: {"level":"info","ts":"2026-04-10T16:18:59.902816Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:18:59 np0000093910 etcd[60383]: {"level":"info","ts":"2026-04-10T16:18:59.903579Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093910","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:18:59 np0000093910 etcd[60383]: {"level":"info","ts":"2026-04-10T16:18:59.903668Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093910","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:18:59 np0000093910 etcd[60383]: {"level":"warn","ts":"2026-04-10T16:18:59.903723Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 16:18:59 np0000093910 etcd[60383]: {"level":"fatal","ts":"2026-04-10T16:18:59.903791Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 16:18:59 np0000093910 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 16:18:59 np0000093910 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 16:18:59 np0000093910 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 16:19:00 np0000093910 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 10 16:19:00 np0000093910 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 16:19:00 np0000093910 etcd[60433]: {"level":"warn","ts":"2026-04-10T16:19:00.128018Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 16:19:00 np0000093910 etcd[60433]: {"level":"info","ts":"2026-04-10T16:19:00.128146Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093910","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093910=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 16:19:00 np0000093910 etcd[60433]: {"level":"warn","ts":"2026-04-10T16:19:00.128264Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 16:19:00 np0000093910 etcd[60433]: {"level":"info","ts":"2026-04-10T16:19:00.128295Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 16:19:00 np0000093910 etcd[60433]: {"level":"info","ts":"2026-04-10T16:19:00.128649Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:19:00 np0000093910 etcd[60433]: {"level":"info","ts":"2026-04-10T16:19:00.128744Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093910","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:19:00 np0000093910 etcd[60433]: {"level":"info","ts":"2026-04-10T16:19:00.128810Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093910","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:19:00 np0000093910 etcd[60433]: {"level":"warn","ts":"2026-04-10T16:19:00.128852Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 16:19:00 np0000093910 etcd[60433]: {"level":"fatal","ts":"2026-04-10T16:19:00.128918Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 16:19:00 np0000093910 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 16:19:00 np0000093910 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 16:19:00 np0000093910 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 16:19:00 np0000093910 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 10 16:19:00 np0000093910 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 16:19:00 np0000093910 etcd[60503]: {"level":"warn","ts":"2026-04-10T16:19:00.376345Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 16:19:00 np0000093910 etcd[60503]: {"level":"info","ts":"2026-04-10T16:19:00.376521Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093910","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093910=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 16:19:00 np0000093910 etcd[60503]: {"level":"warn","ts":"2026-04-10T16:19:00.376685Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 16:19:00 np0000093910 etcd[60503]: {"level":"info","ts":"2026-04-10T16:19:00.376730Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 16:19:00 np0000093910 etcd[60503]: {"level":"info","ts":"2026-04-10T16:19:00.377281Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:19:00 np0000093910 etcd[60503]: {"level":"info","ts":"2026-04-10T16:19:00.377419Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093910","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:19:00 np0000093910 etcd[60503]: {"level":"info","ts":"2026-04-10T16:19:00.377502Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093910","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:19:00 np0000093910 etcd[60503]: {"level":"warn","ts":"2026-04-10T16:19:00.377574Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 16:19:00 np0000093910 etcd[60503]: {"level":"fatal","ts":"2026-04-10T16:19:00.377639Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 16:19:00 np0000093910 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 16:19:00 np0000093910 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 16:19:00 np0000093910 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 16:19:00 np0000093910 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 10 16:19:00 np0000093910 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 16:19:00 np0000093910 etcd[60511]: {"level":"warn","ts":"2026-04-10T16:19:00.626028Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 16:19:00 np0000093910 etcd[60511]: {"level":"info","ts":"2026-04-10T16:19:00.627630Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093910","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093910=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 16:19:00 np0000093910 etcd[60511]: {"level":"warn","ts":"2026-04-10T16:19:00.627857Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 16:19:00 np0000093910 etcd[60511]: {"level":"info","ts":"2026-04-10T16:19:00.627915Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 16:19:00 np0000093910 etcd[60511]: {"level":"info","ts":"2026-04-10T16:19:00.628410Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:19:00 np0000093910 etcd[60511]: {"level":"info","ts":"2026-04-10T16:19:00.628532Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093910","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:19:00 np0000093910 etcd[60511]: {"level":"info","ts":"2026-04-10T16:19:00.628617Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093910","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:19:00 np0000093910 etcd[60511]: {"level":"warn","ts":"2026-04-10T16:19:00.628693Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 16:19:00 np0000093910 etcd[60511]: {"level":"fatal","ts":"2026-04-10T16:19:00.628777Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 16:19:00 np0000093910 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 16:19:00 np0000093910 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 16:19:00 np0000093910 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 16:19:00 np0000093910 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 10 16:19:00 np0000093910 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 16:19:00 np0000093910 etcd[60518]: {"level":"warn","ts":"2026-04-10T16:19:00.876335Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 16:19:00 np0000093910 etcd[60518]: {"level":"info","ts":"2026-04-10T16:19:00.877500Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093910","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093910=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 16:19:00 np0000093910 etcd[60518]: {"level":"warn","ts":"2026-04-10T16:19:00.877738Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 16:19:00 np0000093910 etcd[60518]: {"level":"info","ts":"2026-04-10T16:19:00.877774Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 16:19:00 np0000093910 etcd[60518]: {"level":"info","ts":"2026-04-10T16:19:00.878339Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:19:00 np0000093910 etcd[60518]: {"level":"info","ts":"2026-04-10T16:19:00.878462Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093910","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:19:00 np0000093910 etcd[60518]: {"level":"info","ts":"2026-04-10T16:19:00.878555Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093910","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 16:19:00 np0000093910 etcd[60518]: {"level":"warn","ts":"2026-04-10T16:19:00.878610Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 16:19:00 np0000093910 etcd[60518]: {"level":"fatal","ts":"2026-04-10T16:19:00.878684Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 16:19:00 np0000093910 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 16:19:00 np0000093910 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 16:19:00 np0000093910 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 16:19:01 np0000093910 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 10 16:19:01 np0000093910 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 10 16:19:01 np0000093910 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 16:19:01 np0000093910 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
