May 29 14:49:46 np0000094172 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 14:49:46 np0000094172 etcd[60030]: {"level":"warn","ts":"2026-05-29T14:49:46.239201Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 14:49:46 np0000094172 etcd[60030]: {"level":"info","ts":"2026-05-29T14:49:46.239429Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094172","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094172=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 14:49:46 np0000094172 etcd[60030]: {"level":"warn","ts":"2026-05-29T14:49:46.239632Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 14:49:46 np0000094172 etcd[60030]: {"level":"info","ts":"2026-05-29T14:49:46.239688Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 14:49:46 np0000094172 etcd[60030]: {"level":"info","ts":"2026-05-29T14:49:46.240090Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:46 np0000094172 etcd[60030]: {"level":"info","ts":"2026-05-29T14:49:46.240246Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094172","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:46 np0000094172 etcd[60030]: {"level":"info","ts":"2026-05-29T14:49:46.240357Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094172","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:46 np0000094172 etcd[60030]: {"level":"warn","ts":"2026-05-29T14:49:46.240416Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 14:49:46 np0000094172 etcd[60030]: {"level":"fatal","ts":"2026-05-29T14:49:46.240483Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 14:49:46 np0000094172 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 14:49:46 np0000094172 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 14:49:46 np0000094172 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 14:49:46 np0000094172 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 29 14:49:46 np0000094172 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 14:49:46 np0000094172 etcd[60142]: {"level":"warn","ts":"2026-05-29T14:49:46.662721Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 14:49:46 np0000094172 etcd[60142]: {"level":"info","ts":"2026-05-29T14:49:46.662897Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094172","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094172=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 14:49:46 np0000094172 etcd[60142]: {"level":"warn","ts":"2026-05-29T14:49:46.663049Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 14:49:46 np0000094172 etcd[60142]: {"level":"info","ts":"2026-05-29T14:49:46.663079Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 14:49:46 np0000094172 etcd[60142]: {"level":"info","ts":"2026-05-29T14:49:46.663579Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:46 np0000094172 etcd[60142]: {"level":"info","ts":"2026-05-29T14:49:46.663726Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094172","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:46 np0000094172 etcd[60142]: {"level":"info","ts":"2026-05-29T14:49:46.665696Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094172","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:46 np0000094172 etcd[60142]: {"level":"warn","ts":"2026-05-29T14:49:46.665773Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 14:49:46 np0000094172 etcd[60142]: {"level":"fatal","ts":"2026-05-29T14:49:46.665881Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 14:49:46 np0000094172 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 14:49:46 np0000094172 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 14:49:46 np0000094172 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 14:49:46 np0000094172 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 29 14:49:46 np0000094172 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 14:49:46 np0000094172 etcd[60150]: {"level":"warn","ts":"2026-05-29T14:49:46.910743Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 14:49:46 np0000094172 etcd[60150]: {"level":"info","ts":"2026-05-29T14:49:46.912205Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094172","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094172=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 14:49:46 np0000094172 etcd[60150]: {"level":"warn","ts":"2026-05-29T14:49:46.912612Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 14:49:46 np0000094172 etcd[60150]: {"level":"info","ts":"2026-05-29T14:49:46.912685Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 14:49:46 np0000094172 etcd[60150]: {"level":"info","ts":"2026-05-29T14:49:46.915018Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:46 np0000094172 etcd[60150]: {"level":"info","ts":"2026-05-29T14:49:46.915295Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094172","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:46 np0000094172 etcd[60150]: {"level":"info","ts":"2026-05-29T14:49:46.915387Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094172","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:46 np0000094172 etcd[60150]: {"level":"warn","ts":"2026-05-29T14:49:46.915449Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 14:49:46 np0000094172 etcd[60150]: {"level":"fatal","ts":"2026-05-29T14:49:46.915564Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 14:49:46 np0000094172 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 14:49:46 np0000094172 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 14:49:46 np0000094172 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 14:49:47 np0000094172 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 29 14:49:47 np0000094172 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 14:49:47 np0000094172 etcd[60192]: {"level":"warn","ts":"2026-05-29T14:49:47.160907Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 14:49:47 np0000094172 etcd[60192]: {"level":"info","ts":"2026-05-29T14:49:47.161087Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094172","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094172=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 14:49:47 np0000094172 etcd[60192]: {"level":"warn","ts":"2026-05-29T14:49:47.161265Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 14:49:47 np0000094172 etcd[60192]: {"level":"info","ts":"2026-05-29T14:49:47.161296Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 14:49:47 np0000094172 etcd[60192]: {"level":"info","ts":"2026-05-29T14:49:47.161733Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:47 np0000094172 etcd[60192]: {"level":"info","ts":"2026-05-29T14:49:47.161847Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094172","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:47 np0000094172 etcd[60192]: {"level":"info","ts":"2026-05-29T14:49:47.161925Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094172","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:47 np0000094172 etcd[60192]: {"level":"warn","ts":"2026-05-29T14:49:47.161989Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 14:49:47 np0000094172 etcd[60192]: {"level":"fatal","ts":"2026-05-29T14:49:47.162049Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 14:49:47 np0000094172 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 14:49:47 np0000094172 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 14:49:47 np0000094172 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 14:49:47 np0000094172 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 29 14:49:47 np0000094172 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 14:49:47 np0000094172 etcd[60224]: {"level":"warn","ts":"2026-05-29T14:49:47.408506Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 14:49:47 np0000094172 etcd[60224]: {"level":"info","ts":"2026-05-29T14:49:47.408752Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094172","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094172=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 14:49:47 np0000094172 etcd[60224]: {"level":"warn","ts":"2026-05-29T14:49:47.408943Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 14:49:47 np0000094172 etcd[60224]: {"level":"info","ts":"2026-05-29T14:49:47.408985Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 14:49:47 np0000094172 etcd[60224]: {"level":"info","ts":"2026-05-29T14:49:47.409490Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:47 np0000094172 etcd[60224]: {"level":"info","ts":"2026-05-29T14:49:47.409607Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094172","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:47 np0000094172 etcd[60224]: {"level":"info","ts":"2026-05-29T14:49:47.409699Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094172","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 14:49:47 np0000094172 etcd[60224]: {"level":"warn","ts":"2026-05-29T14:49:47.409753Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 14:49:47 np0000094172 etcd[60224]: {"level":"fatal","ts":"2026-05-29T14:49:47.409823Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 14:49:47 np0000094172 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 14:49:47 np0000094172 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 14:49:47 np0000094172 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 14:49:47 np0000094172 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 29 14:49:47 np0000094172 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 29 14:49:47 np0000094172 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 14:49:47 np0000094172 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
