Apr 14 13:10:56 np0000093945 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 13:10:56 np0000093945 etcd[60311]: {"level":"warn","ts":"2026-04-14T13:10:56.319508Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 13:10:56 np0000093945 etcd[60311]: {"level":"info","ts":"2026-04-14T13:10:56.319688Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093945","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093945=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 13:10:56 np0000093945 etcd[60311]: {"level":"warn","ts":"2026-04-14T13:10:56.319844Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 13:10:56 np0000093945 etcd[60311]: {"level":"info","ts":"2026-04-14T13:10:56.319873Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 13:10:56 np0000093945 etcd[60311]: {"level":"info","ts":"2026-04-14T13:10:56.320357Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:56 np0000093945 etcd[60311]: {"level":"info","ts":"2026-04-14T13:10:56.320469Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093945","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:56 np0000093945 etcd[60311]: {"level":"info","ts":"2026-04-14T13:10:56.320545Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093945","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:56 np0000093945 etcd[60311]: {"level":"warn","ts":"2026-04-14T13:10:56.320597Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 13:10:56 np0000093945 etcd[60311]: {"level":"fatal","ts":"2026-04-14T13:10:56.320695Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 13:10:56 np0000093945 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 13:10:56 np0000093945 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 13:10:56 np0000093945 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 13:10:56 np0000093945 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 13:10:56 np0000093945 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 13:10:56 np0000093945 etcd[60382]: {"level":"warn","ts":"2026-04-14T13:10:56.609307Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 13:10:56 np0000093945 etcd[60382]: {"level":"info","ts":"2026-04-14T13:10:56.610373Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093945","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093945=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 13:10:56 np0000093945 etcd[60382]: {"level":"warn","ts":"2026-04-14T13:10:56.610612Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 13:10:56 np0000093945 etcd[60382]: {"level":"info","ts":"2026-04-14T13:10:56.610679Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 13:10:56 np0000093945 etcd[60382]: {"level":"info","ts":"2026-04-14T13:10:56.611193Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:56 np0000093945 etcd[60382]: {"level":"info","ts":"2026-04-14T13:10:56.611348Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093945","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:56 np0000093945 etcd[60382]: {"level":"info","ts":"2026-04-14T13:10:56.611430Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093945","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:56 np0000093945 etcd[60382]: {"level":"warn","ts":"2026-04-14T13:10:56.611486Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 13:10:56 np0000093945 etcd[60382]: {"level":"fatal","ts":"2026-04-14T13:10:56.611571Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 13:10:56 np0000093945 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 13:10:56 np0000093945 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 13:10:56 np0000093945 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 13:10:56 np0000093945 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 13:10:56 np0000093945 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 13:10:56 np0000093945 etcd[60432]: {"level":"warn","ts":"2026-04-14T13:10:56.855894Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 13:10:56 np0000093945 etcd[60432]: {"level":"info","ts":"2026-04-14T13:10:56.856073Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093945","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093945=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 13:10:56 np0000093945 etcd[60432]: {"level":"warn","ts":"2026-04-14T13:10:56.856238Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 13:10:56 np0000093945 etcd[60432]: {"level":"info","ts":"2026-04-14T13:10:56.856311Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 13:10:56 np0000093945 etcd[60432]: {"level":"info","ts":"2026-04-14T13:10:56.856826Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:56 np0000093945 etcd[60432]: {"level":"info","ts":"2026-04-14T13:10:56.856948Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093945","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:56 np0000093945 etcd[60432]: {"level":"info","ts":"2026-04-14T13:10:56.857030Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093945","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:56 np0000093945 etcd[60432]: {"level":"warn","ts":"2026-04-14T13:10:56.857088Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 13:10:56 np0000093945 etcd[60432]: {"level":"fatal","ts":"2026-04-14T13:10:56.857153Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 13:10:56 np0000093945 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 13:10:56 np0000093945 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 13:10:56 np0000093945 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 13:10:57 np0000093945 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 13:10:57 np0000093945 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 13:10:57 np0000093945 etcd[60444]: {"level":"warn","ts":"2026-04-14T13:10:57.083735Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 13:10:57 np0000093945 etcd[60444]: {"level":"info","ts":"2026-04-14T13:10:57.083824Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093945","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093945=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 13:10:57 np0000093945 etcd[60444]: {"level":"warn","ts":"2026-04-14T13:10:57.083893Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 13:10:57 np0000093945 etcd[60444]: {"level":"info","ts":"2026-04-14T13:10:57.083905Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 13:10:57 np0000093945 etcd[60444]: {"level":"info","ts":"2026-04-14T13:10:57.084080Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:57 np0000093945 etcd[60444]: {"level":"info","ts":"2026-04-14T13:10:57.084129Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093945","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:57 np0000093945 etcd[60444]: {"level":"info","ts":"2026-04-14T13:10:57.084172Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093945","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:57 np0000093945 etcd[60444]: {"level":"warn","ts":"2026-04-14T13:10:57.084196Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 13:10:57 np0000093945 etcd[60444]: {"level":"fatal","ts":"2026-04-14T13:10:57.084226Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 13:10:57 np0000093945 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 13:10:57 np0000093945 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 13:10:57 np0000093945 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 13:10:57 np0000093945 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 13:10:57 np0000093945 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 13:10:57 np0000093945 etcd[60483]: {"level":"warn","ts":"2026-04-14T13:10:57.355426Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 13:10:57 np0000093945 etcd[60483]: {"level":"info","ts":"2026-04-14T13:10:57.355599Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093945","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093945=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 13:10:57 np0000093945 etcd[60483]: {"level":"warn","ts":"2026-04-14T13:10:57.355797Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 13:10:57 np0000093945 etcd[60483]: {"level":"info","ts":"2026-04-14T13:10:57.355847Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 13:10:57 np0000093945 etcd[60483]: {"level":"info","ts":"2026-04-14T13:10:57.356595Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:57 np0000093945 etcd[60483]: {"level":"info","ts":"2026-04-14T13:10:57.356999Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093945","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:57 np0000093945 etcd[60483]: {"level":"info","ts":"2026-04-14T13:10:57.357089Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093945","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 13:10:57 np0000093945 etcd[60483]: {"level":"warn","ts":"2026-04-14T13:10:57.357231Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 13:10:57 np0000093945 etcd[60483]: {"level":"fatal","ts":"2026-04-14T13:10:57.357441Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 13:10:57 np0000093945 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 13:10:57 np0000093945 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 13:10:57 np0000093945 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 13:10:57 np0000093945 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 13:10:57 np0000093945 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 13:10:57 np0000093945 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 13:10:57 np0000093945 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
