Feb 13 13:02:09 np0000056233 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:02:09 np0000056233 etcd[60695]: {"level":"warn","ts":"2026-02-13T13:02:09.364149Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:02:09 np0000056233 etcd[60695]: {"level":"info","ts":"2026-02-13T13:02:09.364368Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056233","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056233=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:02:09 np0000056233 etcd[60695]: {"level":"warn","ts":"2026-02-13T13:02:09.364553Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:02:09 np0000056233 etcd[60695]: {"level":"info","ts":"2026-02-13T13:02:09.364586Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:02:09 np0000056233 etcd[60695]: {"level":"info","ts":"2026-02-13T13:02:09.366327Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:09 np0000056233 etcd[60695]: {"level":"info","ts":"2026-02-13T13:02:09.367002Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056233","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:09 np0000056233 etcd[60695]: {"level":"info","ts":"2026-02-13T13:02:09.367092Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056233","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:09 np0000056233 etcd[60695]: {"level":"warn","ts":"2026-02-13T13:02:09.367163Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:02:09 np0000056233 etcd[60695]: {"level":"fatal","ts":"2026-02-13T13:02:09.367250Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:02:09 np0000056233 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:02:09 np0000056233 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:02:09 np0000056233 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:02:09 np0000056233 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 13:02:09 np0000056233 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:02:09 np0000056233 etcd[60733]: {"level":"warn","ts":"2026-02-13T13:02:09.550388Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:02:09 np0000056233 etcd[60733]: {"level":"info","ts":"2026-02-13T13:02:09.550575Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056233","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056233=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:02:09 np0000056233 etcd[60733]: {"level":"warn","ts":"2026-02-13T13:02:09.550799Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:02:09 np0000056233 etcd[60733]: {"level":"info","ts":"2026-02-13T13:02:09.550835Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:02:09 np0000056233 etcd[60733]: {"level":"info","ts":"2026-02-13T13:02:09.554935Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:09 np0000056233 etcd[60733]: {"level":"info","ts":"2026-02-13T13:02:09.555039Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056233","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:09 np0000056233 etcd[60733]: {"level":"info","ts":"2026-02-13T13:02:09.555067Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056233","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:09 np0000056233 etcd[60733]: {"level":"warn","ts":"2026-02-13T13:02:09.555095Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:02:09 np0000056233 etcd[60733]: {"level":"fatal","ts":"2026-02-13T13:02:09.555144Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:02:09 np0000056233 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:02:09 np0000056233 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:02:09 np0000056233 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:02:09 np0000056233 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 13:02:09 np0000056233 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:02:09 np0000056233 etcd[60812]: {"level":"warn","ts":"2026-02-13T13:02:09.798586Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:02:09 np0000056233 etcd[60812]: {"level":"info","ts":"2026-02-13T13:02:09.798802Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056233","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056233=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:02:09 np0000056233 etcd[60812]: {"level":"warn","ts":"2026-02-13T13:02:09.798966Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:02:09 np0000056233 etcd[60812]: {"level":"info","ts":"2026-02-13T13:02:09.799003Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:02:09 np0000056233 etcd[60812]: {"level":"info","ts":"2026-02-13T13:02:09.799466Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:09 np0000056233 etcd[60812]: {"level":"info","ts":"2026-02-13T13:02:09.799581Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056233","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:09 np0000056233 etcd[60812]: {"level":"info","ts":"2026-02-13T13:02:09.799662Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056233","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:09 np0000056233 etcd[60812]: {"level":"warn","ts":"2026-02-13T13:02:09.801413Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:02:09 np0000056233 etcd[60812]: {"level":"fatal","ts":"2026-02-13T13:02:09.801488Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:02:09 np0000056233 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:02:09 np0000056233 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:02:09 np0000056233 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:02:09 np0000056233 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 13:02:09 np0000056233 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:02:10 np0000056233 etcd[60821]: {"level":"warn","ts":"2026-02-13T13:02:10.035225Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:02:10 np0000056233 etcd[60821]: {"level":"info","ts":"2026-02-13T13:02:10.035389Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056233","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056233=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:02:10 np0000056233 etcd[60821]: {"level":"warn","ts":"2026-02-13T13:02:10.035557Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:02:10 np0000056233 etcd[60821]: {"level":"info","ts":"2026-02-13T13:02:10.035587Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:02:10 np0000056233 etcd[60821]: {"level":"info","ts":"2026-02-13T13:02:10.037162Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:10 np0000056233 etcd[60821]: {"level":"info","ts":"2026-02-13T13:02:10.037271Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056233","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:10 np0000056233 etcd[60821]: {"level":"info","ts":"2026-02-13T13:02:10.037339Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056233","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:10 np0000056233 etcd[60821]: {"level":"warn","ts":"2026-02-13T13:02:10.037395Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:02:10 np0000056233 etcd[60821]: {"level":"fatal","ts":"2026-02-13T13:02:10.037450Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:02:10 np0000056233 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:02:10 np0000056233 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:02:10 np0000056233 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:02:10 np0000056233 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 13:02:10 np0000056233 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:02:10 np0000056233 etcd[60842]: {"level":"warn","ts":"2026-02-13T13:02:10.294263Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:02:10 np0000056233 etcd[60842]: {"level":"info","ts":"2026-02-13T13:02:10.295465Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056233","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056233=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:02:10 np0000056233 etcd[60842]: {"level":"warn","ts":"2026-02-13T13:02:10.296067Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:02:10 np0000056233 etcd[60842]: {"level":"info","ts":"2026-02-13T13:02:10.296126Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:02:10 np0000056233 etcd[60842]: {"level":"info","ts":"2026-02-13T13:02:10.296613Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:10 np0000056233 etcd[60842]: {"level":"info","ts":"2026-02-13T13:02:10.297268Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056233","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:10 np0000056233 etcd[60842]: {"level":"info","ts":"2026-02-13T13:02:10.297359Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056233","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:02:10 np0000056233 etcd[60842]: {"level":"warn","ts":"2026-02-13T13:02:10.297421Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:02:10 np0000056233 etcd[60842]: {"level":"fatal","ts":"2026-02-13T13:02:10.297516Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:02:10 np0000056233 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:02:10 np0000056233 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:02:10 np0000056233 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:02:10 np0000056233 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 13:02:10 np0000056233 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 13:02:10 np0000056233 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:02:10 np0000056233 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
