Apr 09 14:46:58 np0000093887 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 14:46:58 np0000093887 etcd[60264]: {"level":"warn","ts":"2026-04-09T14:46:58.417799Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 14:46:58 np0000093887 etcd[60264]: {"level":"info","ts":"2026-04-09T14:46:58.418314Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093887","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093887=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 14:46:58 np0000093887 etcd[60264]: {"level":"warn","ts":"2026-04-09T14:46:58.418891Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 14:46:58 np0000093887 etcd[60264]: {"level":"info","ts":"2026-04-09T14:46:58.419044Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 14:46:58 np0000093887 etcd[60264]: {"level":"info","ts":"2026-04-09T14:46:58.419708Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:58 np0000093887 etcd[60264]: {"level":"info","ts":"2026-04-09T14:46:58.420682Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093887","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:58 np0000093887 etcd[60264]: {"level":"info","ts":"2026-04-09T14:46:58.420777Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093887","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:58 np0000093887 etcd[60264]: {"level":"warn","ts":"2026-04-09T14:46:58.420907Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 14:46:58 np0000093887 etcd[60264]: {"level":"fatal","ts":"2026-04-09T14:46:58.420997Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 14:46:58 np0000093887 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 14:46:58 np0000093887 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 14:46:58 np0000093887 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 14:46:58 np0000093887 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 09 14:46:58 np0000093887 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 14:46:58 np0000093887 etcd[60346]: {"level":"warn","ts":"2026-04-09T14:46:58.738121Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 14:46:58 np0000093887 etcd[60346]: {"level":"info","ts":"2026-04-09T14:46:58.738319Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093887","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093887=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 14:46:58 np0000093887 etcd[60346]: {"level":"warn","ts":"2026-04-09T14:46:58.738485Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 14:46:58 np0000093887 etcd[60346]: {"level":"info","ts":"2026-04-09T14:46:58.738515Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 14:46:58 np0000093887 etcd[60346]: {"level":"info","ts":"2026-04-09T14:46:58.739134Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:58 np0000093887 etcd[60346]: {"level":"info","ts":"2026-04-09T14:46:58.739288Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093887","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:58 np0000093887 etcd[60346]: {"level":"info","ts":"2026-04-09T14:46:58.739373Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093887","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:58 np0000093887 etcd[60346]: {"level":"warn","ts":"2026-04-09T14:46:58.739426Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 14:46:58 np0000093887 etcd[60346]: {"level":"fatal","ts":"2026-04-09T14:46:58.739488Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 14:46:58 np0000093887 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 14:46:58 np0000093887 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 14:46:58 np0000093887 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 14:46:58 np0000093887 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 09 14:46:58 np0000093887 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 14:46:58 np0000093887 etcd[60385]: {"level":"warn","ts":"2026-04-09T14:46:58.991746Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 14:46:58 np0000093887 etcd[60385]: {"level":"info","ts":"2026-04-09T14:46:58.992011Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093887","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093887=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 14:46:58 np0000093887 etcd[60385]: {"level":"warn","ts":"2026-04-09T14:46:58.992202Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 14:46:58 np0000093887 etcd[60385]: {"level":"info","ts":"2026-04-09T14:46:58.992261Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 14:46:58 np0000093887 etcd[60385]: {"level":"info","ts":"2026-04-09T14:46:58.992741Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:58 np0000093887 etcd[60385]: {"level":"info","ts":"2026-04-09T14:46:58.992945Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093887","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:58 np0000093887 etcd[60385]: {"level":"info","ts":"2026-04-09T14:46:58.993046Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093887","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:58 np0000093887 etcd[60385]: {"level":"warn","ts":"2026-04-09T14:46:58.993105Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 14:46:58 np0000093887 etcd[60385]: {"level":"fatal","ts":"2026-04-09T14:46:58.993175Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 14:46:58 np0000093887 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 14:46:58 np0000093887 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 14:46:58 np0000093887 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 14:46:59 np0000093887 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 09 14:46:59 np0000093887 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 14:46:59 np0000093887 etcd[60404]: {"level":"warn","ts":"2026-04-09T14:46:59.230671Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 14:46:59 np0000093887 etcd[60404]: {"level":"info","ts":"2026-04-09T14:46:59.230861Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093887","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093887=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 14:46:59 np0000093887 etcd[60404]: {"level":"warn","ts":"2026-04-09T14:46:59.231008Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 14:46:59 np0000093887 etcd[60404]: {"level":"info","ts":"2026-04-09T14:46:59.231038Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 14:46:59 np0000093887 etcd[60404]: {"level":"info","ts":"2026-04-09T14:46:59.231442Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:59 np0000093887 etcd[60404]: {"level":"info","ts":"2026-04-09T14:46:59.231534Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093887","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:59 np0000093887 etcd[60404]: {"level":"info","ts":"2026-04-09T14:46:59.231599Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093887","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:59 np0000093887 etcd[60404]: {"level":"warn","ts":"2026-04-09T14:46:59.231641Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 14:46:59 np0000093887 etcd[60404]: {"level":"fatal","ts":"2026-04-09T14:46:59.231694Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 14:46:59 np0000093887 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 14:46:59 np0000093887 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 14:46:59 np0000093887 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 14:46:59 np0000093887 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 09 14:46:59 np0000093887 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 14:46:59 np0000093887 etcd[60434]: {"level":"warn","ts":"2026-04-09T14:46:59.482185Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 14:46:59 np0000093887 etcd[60434]: {"level":"info","ts":"2026-04-09T14:46:59.482364Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093887","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093887=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 14:46:59 np0000093887 etcd[60434]: {"level":"warn","ts":"2026-04-09T14:46:59.482529Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 14:46:59 np0000093887 etcd[60434]: {"level":"info","ts":"2026-04-09T14:46:59.482557Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 14:46:59 np0000093887 etcd[60434]: {"level":"info","ts":"2026-04-09T14:46:59.483038Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:59 np0000093887 etcd[60434]: {"level":"info","ts":"2026-04-09T14:46:59.483182Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093887","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:59 np0000093887 etcd[60434]: {"level":"info","ts":"2026-04-09T14:46:59.483298Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093887","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 14:46:59 np0000093887 etcd[60434]: {"level":"warn","ts":"2026-04-09T14:46:59.483354Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 14:46:59 np0000093887 etcd[60434]: {"level":"fatal","ts":"2026-04-09T14:46:59.483425Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 14:46:59 np0000093887 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 14:46:59 np0000093887 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 14:46:59 np0000093887 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 14:46:59 np0000093887 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 09 14:46:59 np0000093887 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 09 14:46:59 np0000093887 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 14:46:59 np0000093887 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
