May 27 18:10:11 np0000094156 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 27 18:10:11 np0000094156 etcd[60763]: {"level":"warn","ts":"2026-05-27T18:10:11.150825Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 27 18:10:11 np0000094156 etcd[60763]: {"level":"info","ts":"2026-05-27T18:10:11.150899Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094156","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094156=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 27 18:10:11 np0000094156 etcd[60763]: {"level":"warn","ts":"2026-05-27T18:10:11.150965Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 27 18:10:11 np0000094156 etcd[60763]: {"level":"info","ts":"2026-05-27T18:10:11.150986Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 27 18:10:11 np0000094156 etcd[60763]: {"level":"info","ts":"2026-05-27T18:10:11.151160Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:11 np0000094156 etcd[60763]: {"level":"info","ts":"2026-05-27T18:10:11.151207Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094156","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:11 np0000094156 etcd[60763]: {"level":"info","ts":"2026-05-27T18:10:11.151246Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094156","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:11 np0000094156 etcd[60763]: {"level":"warn","ts":"2026-05-27T18:10:11.151268Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 27 18:10:11 np0000094156 etcd[60763]: {"level":"fatal","ts":"2026-05-27T18:10:11.151294Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 27 18:10:11 np0000094156 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 27 18:10:11 np0000094156 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 27 18:10:11 np0000094156 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 27 18:10:11 np0000094156 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 27 18:10:11 np0000094156 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 27 18:10:11 np0000094156 etcd[60896]: {"level":"warn","ts":"2026-05-27T18:10:11.399836Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 27 18:10:11 np0000094156 etcd[60896]: {"level":"info","ts":"2026-05-27T18:10:11.399924Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094156","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094156=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 27 18:10:11 np0000094156 etcd[60896]: {"level":"warn","ts":"2026-05-27T18:10:11.399996Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 27 18:10:11 np0000094156 etcd[60896]: {"level":"info","ts":"2026-05-27T18:10:11.400010Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 27 18:10:11 np0000094156 etcd[60896]: {"level":"info","ts":"2026-05-27T18:10:11.400240Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:11 np0000094156 etcd[60896]: {"level":"info","ts":"2026-05-27T18:10:11.400298Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094156","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:11 np0000094156 etcd[60896]: {"level":"info","ts":"2026-05-27T18:10:11.400327Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094156","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:11 np0000094156 etcd[60896]: {"level":"warn","ts":"2026-05-27T18:10:11.400366Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 27 18:10:11 np0000094156 etcd[60896]: {"level":"fatal","ts":"2026-05-27T18:10:11.400393Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 27 18:10:11 np0000094156 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 27 18:10:11 np0000094156 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 27 18:10:11 np0000094156 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 27 18:10:11 np0000094156 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 27 18:10:11 np0000094156 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 27 18:10:11 np0000094156 etcd[60917]: {"level":"warn","ts":"2026-05-27T18:10:11.653366Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 27 18:10:11 np0000094156 etcd[60917]: {"level":"info","ts":"2026-05-27T18:10:11.653432Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094156","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094156=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 27 18:10:11 np0000094156 etcd[60917]: {"level":"warn","ts":"2026-05-27T18:10:11.653492Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 27 18:10:11 np0000094156 etcd[60917]: {"level":"info","ts":"2026-05-27T18:10:11.653505Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 27 18:10:11 np0000094156 etcd[60917]: {"level":"info","ts":"2026-05-27T18:10:11.653688Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:11 np0000094156 etcd[60917]: {"level":"info","ts":"2026-05-27T18:10:11.653731Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094156","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:11 np0000094156 etcd[60917]: {"level":"info","ts":"2026-05-27T18:10:11.653773Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094156","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:11 np0000094156 etcd[60917]: {"level":"warn","ts":"2026-05-27T18:10:11.653792Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 27 18:10:11 np0000094156 etcd[60917]: {"level":"fatal","ts":"2026-05-27T18:10:11.653813Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 27 18:10:11 np0000094156 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 27 18:10:11 np0000094156 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 27 18:10:11 np0000094156 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 27 18:10:11 np0000094156 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 27 18:10:11 np0000094156 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 27 18:10:11 np0000094156 etcd[60952]: {"level":"warn","ts":"2026-05-27T18:10:11.910482Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 27 18:10:11 np0000094156 etcd[60952]: {"level":"info","ts":"2026-05-27T18:10:11.910571Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094156","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094156=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 27 18:10:11 np0000094156 etcd[60952]: {"level":"warn","ts":"2026-05-27T18:10:11.910770Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 27 18:10:11 np0000094156 etcd[60952]: {"level":"info","ts":"2026-05-27T18:10:11.910784Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 27 18:10:11 np0000094156 etcd[60952]: {"level":"info","ts":"2026-05-27T18:10:11.911006Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:11 np0000094156 etcd[60952]: {"level":"info","ts":"2026-05-27T18:10:11.911057Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094156","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:11 np0000094156 etcd[60952]: {"level":"info","ts":"2026-05-27T18:10:11.911085Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094156","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:11 np0000094156 etcd[60952]: {"level":"warn","ts":"2026-05-27T18:10:11.911104Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 27 18:10:11 np0000094156 etcd[60952]: {"level":"fatal","ts":"2026-05-27T18:10:11.911139Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 27 18:10:11 np0000094156 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 27 18:10:11 np0000094156 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 27 18:10:11 np0000094156 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 27 18:10:12 np0000094156 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 27 18:10:12 np0000094156 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 27 18:10:12 np0000094156 etcd[61017]: {"level":"warn","ts":"2026-05-27T18:10:12.186535Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 27 18:10:12 np0000094156 etcd[61017]: {"level":"info","ts":"2026-05-27T18:10:12.186773Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094156","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094156=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 27 18:10:12 np0000094156 etcd[61017]: {"level":"warn","ts":"2026-05-27T18:10:12.186956Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 27 18:10:12 np0000094156 etcd[61017]: {"level":"info","ts":"2026-05-27T18:10:12.186995Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 27 18:10:12 np0000094156 etcd[61017]: {"level":"info","ts":"2026-05-27T18:10:12.187374Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:12 np0000094156 etcd[61017]: {"level":"info","ts":"2026-05-27T18:10:12.187510Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094156","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:12 np0000094156 etcd[61017]: {"level":"info","ts":"2026-05-27T18:10:12.187631Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094156","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 27 18:10:12 np0000094156 etcd[61017]: {"level":"warn","ts":"2026-05-27T18:10:12.187686Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 27 18:10:12 np0000094156 etcd[61017]: {"level":"fatal","ts":"2026-05-27T18:10:12.187755Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 27 18:10:12 np0000094156 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 27 18:10:12 np0000094156 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 27 18:10:12 np0000094156 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 27 18:10:12 np0000094156 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 27 18:10:12 np0000094156 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 27 18:10:12 np0000094156 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 27 18:10:12 np0000094156 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
