Jun 15 10:04:08 np0000094350 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 15 10:04:08 np0000094350 etcd[60615]: {"level":"warn","ts":"2026-06-15T10:04:08.484923Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 10:04:08 np0000094350 etcd[60615]: {"level":"info","ts":"2026-06-15T10:04:08.485092Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094350","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094350=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 15 10:04:08 np0000094350 etcd[60615]: {"level":"warn","ts":"2026-06-15T10:04:08.485286Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 10:04:08 np0000094350 etcd[60615]: {"level":"info","ts":"2026-06-15T10:04:08.485326Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 15 10:04:08 np0000094350 etcd[60615]: {"level":"info","ts":"2026-06-15T10:04:08.485801Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:08 np0000094350 etcd[60615]: {"level":"info","ts":"2026-06-15T10:04:08.485918Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094350","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:08 np0000094350 etcd[60615]: {"level":"info","ts":"2026-06-15T10:04:08.485994Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094350","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:08 np0000094350 etcd[60615]: {"level":"warn","ts":"2026-06-15T10:04:08.486073Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 15 10:04:08 np0000094350 etcd[60615]: {"level":"fatal","ts":"2026-06-15T10:04:08.486138Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 15 10:04:08 np0000094350 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 15 10:04:08 np0000094350 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 15 10:04:08 np0000094350 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 15 10:04:08 np0000094350 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 15 10:04:08 np0000094350 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 15 10:04:08 np0000094350 etcd[60680]: {"level":"warn","ts":"2026-06-15T10:04:08.770081Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 10:04:08 np0000094350 etcd[60680]: {"level":"info","ts":"2026-06-15T10:04:08.770257Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094350","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094350=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 15 10:04:08 np0000094350 etcd[60680]: {"level":"warn","ts":"2026-06-15T10:04:08.770398Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 10:04:08 np0000094350 etcd[60680]: {"level":"info","ts":"2026-06-15T10:04:08.770431Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 15 10:04:08 np0000094350 etcd[60680]: {"level":"info","ts":"2026-06-15T10:04:08.770866Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:08 np0000094350 etcd[60680]: {"level":"info","ts":"2026-06-15T10:04:08.770966Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094350","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:08 np0000094350 etcd[60680]: {"level":"info","ts":"2026-06-15T10:04:08.771035Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094350","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:08 np0000094350 etcd[60680]: {"level":"warn","ts":"2026-06-15T10:04:08.771104Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 15 10:04:08 np0000094350 etcd[60680]: {"level":"fatal","ts":"2026-06-15T10:04:08.771181Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 15 10:04:08 np0000094350 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 15 10:04:08 np0000094350 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 15 10:04:08 np0000094350 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 15 10:04:08 np0000094350 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 15 10:04:08 np0000094350 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 15 10:04:09 np0000094350 etcd[60735]: {"level":"warn","ts":"2026-06-15T10:04:09.004461Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 10:04:09 np0000094350 etcd[60735]: {"level":"info","ts":"2026-06-15T10:04:09.004629Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094350","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094350=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 15 10:04:09 np0000094350 etcd[60735]: {"level":"warn","ts":"2026-06-15T10:04:09.004799Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 10:04:09 np0000094350 etcd[60735]: {"level":"info","ts":"2026-06-15T10:04:09.004833Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 15 10:04:09 np0000094350 etcd[60735]: {"level":"info","ts":"2026-06-15T10:04:09.005301Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:09 np0000094350 etcd[60735]: {"level":"info","ts":"2026-06-15T10:04:09.005408Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094350","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:09 np0000094350 etcd[60735]: {"level":"info","ts":"2026-06-15T10:04:09.005475Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094350","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:09 np0000094350 etcd[60735]: {"level":"warn","ts":"2026-06-15T10:04:09.005527Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 15 10:04:09 np0000094350 etcd[60735]: {"level":"fatal","ts":"2026-06-15T10:04:09.005603Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 15 10:04:09 np0000094350 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 15 10:04:09 np0000094350 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 15 10:04:09 np0000094350 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 15 10:04:09 np0000094350 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 15 10:04:09 np0000094350 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 15 10:04:09 np0000094350 etcd[60742]: {"level":"warn","ts":"2026-06-15T10:04:09.252939Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 10:04:09 np0000094350 etcd[60742]: {"level":"info","ts":"2026-06-15T10:04:09.253953Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094350","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094350=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 15 10:04:09 np0000094350 etcd[60742]: {"level":"warn","ts":"2026-06-15T10:04:09.254149Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 10:04:09 np0000094350 etcd[60742]: {"level":"info","ts":"2026-06-15T10:04:09.254211Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 15 10:04:09 np0000094350 etcd[60742]: {"level":"info","ts":"2026-06-15T10:04:09.254785Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:09 np0000094350 etcd[60742]: {"level":"info","ts":"2026-06-15T10:04:09.254917Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094350","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:09 np0000094350 etcd[60742]: {"level":"info","ts":"2026-06-15T10:04:09.254996Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094350","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:09 np0000094350 etcd[60742]: {"level":"warn","ts":"2026-06-15T10:04:09.255047Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 15 10:04:09 np0000094350 etcd[60742]: {"level":"fatal","ts":"2026-06-15T10:04:09.255107Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 15 10:04:09 np0000094350 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 15 10:04:09 np0000094350 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 15 10:04:09 np0000094350 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 15 10:04:09 np0000094350 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 15 10:04:09 np0000094350 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 15 10:04:09 np0000094350 etcd[60767]: {"level":"warn","ts":"2026-06-15T10:04:09.512766Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 10:04:09 np0000094350 etcd[60767]: {"level":"info","ts":"2026-06-15T10:04:09.512973Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094350","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094350=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 15 10:04:09 np0000094350 etcd[60767]: {"level":"warn","ts":"2026-06-15T10:04:09.513150Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 10:04:09 np0000094350 etcd[60767]: {"level":"info","ts":"2026-06-15T10:04:09.513221Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 15 10:04:09 np0000094350 etcd[60767]: {"level":"info","ts":"2026-06-15T10:04:09.513764Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:09 np0000094350 etcd[60767]: {"level":"info","ts":"2026-06-15T10:04:09.513883Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094350","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:09 np0000094350 etcd[60767]: {"level":"info","ts":"2026-06-15T10:04:09.513963Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094350","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 10:04:09 np0000094350 etcd[60767]: {"level":"warn","ts":"2026-06-15T10:04:09.514020Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 15 10:04:09 np0000094350 etcd[60767]: {"level":"fatal","ts":"2026-06-15T10:04:09.514087Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 15 10:04:09 np0000094350 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 15 10:04:09 np0000094350 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 15 10:04:09 np0000094350 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 15 10:04:09 np0000094350 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 15 10:04:09 np0000094350 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 15 10:04:09 np0000094350 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 15 10:04:09 np0000094350 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
