Apr 21 06:18:52 np0000094036 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 06:18:52 np0000094036 etcd[60957]: {"level":"warn","ts":"2026-04-21T06:18:52.786210Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 06:18:52 np0000094036 etcd[60957]: {"level":"info","ts":"2026-04-21T06:18:52.786397Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094036","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094036=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 06:18:52 np0000094036 etcd[60957]: {"level":"warn","ts":"2026-04-21T06:18:52.786683Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 06:18:52 np0000094036 etcd[60957]: {"level":"info","ts":"2026-04-21T06:18:52.786738Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 06:18:52 np0000094036 etcd[60957]: {"level":"info","ts":"2026-04-21T06:18:52.787207Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:52 np0000094036 etcd[60957]: {"level":"info","ts":"2026-04-21T06:18:52.787332Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094036","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:52 np0000094036 etcd[60957]: {"level":"info","ts":"2026-04-21T06:18:52.787407Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094036","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:52 np0000094036 etcd[60957]: {"level":"warn","ts":"2026-04-21T06:18:52.787461Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 06:18:52 np0000094036 etcd[60957]: {"level":"fatal","ts":"2026-04-21T06:18:52.787651Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 06:18:52 np0000094036 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 06:18:52 np0000094036 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 06:18:52 np0000094036 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 06:18:52 np0000094036 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 21 06:18:52 np0000094036 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 06:18:53 np0000094036 etcd[61024]: {"level":"warn","ts":"2026-04-21T06:18:53.057914Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 06:18:53 np0000094036 etcd[61024]: {"level":"info","ts":"2026-04-21T06:18:53.059236Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094036","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094036=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 06:18:53 np0000094036 etcd[61024]: {"level":"warn","ts":"2026-04-21T06:18:53.059575Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 06:18:53 np0000094036 etcd[61024]: {"level":"info","ts":"2026-04-21T06:18:53.059645Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 06:18:53 np0000094036 etcd[61024]: {"level":"info","ts":"2026-04-21T06:18:53.060282Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:53 np0000094036 etcd[61024]: {"level":"info","ts":"2026-04-21T06:18:53.060433Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094036","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:53 np0000094036 etcd[61024]: {"level":"info","ts":"2026-04-21T06:18:53.060522Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094036","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:53 np0000094036 etcd[61024]: {"level":"warn","ts":"2026-04-21T06:18:53.060573Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 06:18:53 np0000094036 etcd[61024]: {"level":"fatal","ts":"2026-04-21T06:18:53.060656Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 06:18:53 np0000094036 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 21 06:18:53 np0000094036 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 06:18:53 np0000094036 etcd[61079]: {"level":"warn","ts":"2026-04-21T06:18:53.292864Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 06:18:53 np0000094036 etcd[61079]: {"level":"info","ts":"2026-04-21T06:18:53.293100Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094036","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094036=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 06:18:53 np0000094036 etcd[61079]: {"level":"warn","ts":"2026-04-21T06:18:53.293295Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 06:18:53 np0000094036 etcd[61079]: {"level":"info","ts":"2026-04-21T06:18:53.293327Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 06:18:53 np0000094036 etcd[61079]: {"level":"info","ts":"2026-04-21T06:18:53.293965Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:53 np0000094036 etcd[61079]: {"level":"info","ts":"2026-04-21T06:18:53.294090Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094036","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:53 np0000094036 etcd[61079]: {"level":"info","ts":"2026-04-21T06:18:53.294171Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094036","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:53 np0000094036 etcd[61079]: {"level":"warn","ts":"2026-04-21T06:18:53.294228Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 06:18:53 np0000094036 etcd[61079]: {"level":"fatal","ts":"2026-04-21T06:18:53.294294Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 06:18:53 np0000094036 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 21 06:18:53 np0000094036 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 06:18:53 np0000094036 etcd[61086]: {"level":"warn","ts":"2026-04-21T06:18:53.518095Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 06:18:53 np0000094036 etcd[61086]: {"level":"info","ts":"2026-04-21T06:18:53.518219Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094036","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094036=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 06:18:53 np0000094036 etcd[61086]: {"level":"warn","ts":"2026-04-21T06:18:53.518305Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 06:18:53 np0000094036 etcd[61086]: {"level":"info","ts":"2026-04-21T06:18:53.518321Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 06:18:53 np0000094036 etcd[61086]: {"level":"info","ts":"2026-04-21T06:18:53.518578Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:53 np0000094036 etcd[61086]: {"level":"info","ts":"2026-04-21T06:18:53.518665Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094036","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:53 np0000094036 etcd[61086]: {"level":"info","ts":"2026-04-21T06:18:53.518707Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094036","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:53 np0000094036 etcd[61086]: {"level":"warn","ts":"2026-04-21T06:18:53.518735Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 06:18:53 np0000094036 etcd[61086]: {"level":"fatal","ts":"2026-04-21T06:18:53.518769Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 06:18:53 np0000094036 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 21 06:18:53 np0000094036 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 06:18:53 np0000094036 etcd[61122]: {"level":"warn","ts":"2026-04-21T06:18:53.807663Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 06:18:53 np0000094036 etcd[61122]: {"level":"info","ts":"2026-04-21T06:18:53.807920Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094036","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094036=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 06:18:53 np0000094036 etcd[61122]: {"level":"warn","ts":"2026-04-21T06:18:53.808083Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 06:18:53 np0000094036 etcd[61122]: {"level":"info","ts":"2026-04-21T06:18:53.808123Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 06:18:53 np0000094036 etcd[61122]: {"level":"info","ts":"2026-04-21T06:18:53.808651Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:53 np0000094036 etcd[61122]: {"level":"info","ts":"2026-04-21T06:18:53.808768Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094036","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:53 np0000094036 etcd[61122]: {"level":"info","ts":"2026-04-21T06:18:53.808842Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094036","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 06:18:53 np0000094036 etcd[61122]: {"level":"warn","ts":"2026-04-21T06:18:53.808893Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 06:18:53 np0000094036 etcd[61122]: {"level":"fatal","ts":"2026-04-21T06:18:53.808954Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 06:18:53 np0000094036 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 21 06:18:53 np0000094036 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 06:18:53 np0000094036 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
