Apr 18 16:51:39 np0000094019 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 18 16:51:39 np0000094019 etcd[60265]: {"level":"warn","ts":"2026-04-18T16:51:39.796373Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 18 16:51:39 np0000094019 etcd[60265]: {"level":"info","ts":"2026-04-18T16:51:39.796570Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094019","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094019=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 18 16:51:39 np0000094019 etcd[60265]: {"level":"warn","ts":"2026-04-18T16:51:39.796789Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 18 16:51:39 np0000094019 etcd[60265]: {"level":"info","ts":"2026-04-18T16:51:39.796832Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 18 16:51:39 np0000094019 etcd[60265]: {"level":"info","ts":"2026-04-18T16:51:39.797396Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:39 np0000094019 etcd[60265]: {"level":"info","ts":"2026-04-18T16:51:39.797522Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094019","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:39 np0000094019 etcd[60265]: {"level":"info","ts":"2026-04-18T16:51:39.797674Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094019","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:39 np0000094019 etcd[60265]: {"level":"warn","ts":"2026-04-18T16:51:39.797743Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 18 16:51:39 np0000094019 etcd[60265]: {"level":"fatal","ts":"2026-04-18T16:51:39.797812Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 18 16:51:39 np0000094019 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 18 16:51:39 np0000094019 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 18 16:51:39 np0000094019 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 18 16:51:40 np0000094019 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 18 16:51:40 np0000094019 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 18 16:51:40 np0000094019 etcd[60348]: {"level":"warn","ts":"2026-04-18T16:51:40.122444Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 18 16:51:40 np0000094019 etcd[60348]: {"level":"info","ts":"2026-04-18T16:51:40.123387Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094019","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094019=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 18 16:51:40 np0000094019 etcd[60348]: {"level":"warn","ts":"2026-04-18T16:51:40.123554Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 18 16:51:40 np0000094019 etcd[60348]: {"level":"info","ts":"2026-04-18T16:51:40.123583Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 18 16:51:40 np0000094019 etcd[60348]: {"level":"info","ts":"2026-04-18T16:51:40.123972Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:40 np0000094019 etcd[60348]: {"level":"info","ts":"2026-04-18T16:51:40.124072Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094019","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:40 np0000094019 etcd[60348]: {"level":"info","ts":"2026-04-18T16:51:40.124168Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094019","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:40 np0000094019 etcd[60348]: {"level":"warn","ts":"2026-04-18T16:51:40.124231Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 18 16:51:40 np0000094019 etcd[60348]: {"level":"fatal","ts":"2026-04-18T16:51:40.124300Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 18 16:51:40 np0000094019 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 18 16:51:40 np0000094019 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 18 16:51:40 np0000094019 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 18 16:51:40 np0000094019 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 18 16:51:40 np0000094019 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 18 16:51:40 np0000094019 etcd[60386]: {"level":"warn","ts":"2026-04-18T16:51:40.365703Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 18 16:51:40 np0000094019 etcd[60386]: {"level":"info","ts":"2026-04-18T16:51:40.365880Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094019","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094019=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 18 16:51:40 np0000094019 etcd[60386]: {"level":"warn","ts":"2026-04-18T16:51:40.366049Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 18 16:51:40 np0000094019 etcd[60386]: {"level":"info","ts":"2026-04-18T16:51:40.366082Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 18 16:51:40 np0000094019 etcd[60386]: {"level":"info","ts":"2026-04-18T16:51:40.366651Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:40 np0000094019 etcd[60386]: {"level":"info","ts":"2026-04-18T16:51:40.366857Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094019","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:40 np0000094019 etcd[60386]: {"level":"info","ts":"2026-04-18T16:51:40.366942Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094019","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:40 np0000094019 etcd[60386]: {"level":"warn","ts":"2026-04-18T16:51:40.367026Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 18 16:51:40 np0000094019 etcd[60386]: {"level":"fatal","ts":"2026-04-18T16:51:40.367091Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 18 16:51:40 np0000094019 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 18 16:51:40 np0000094019 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 18 16:51:40 np0000094019 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 18 16:51:40 np0000094019 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 18 16:51:40 np0000094019 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 18 16:51:40 np0000094019 etcd[60406]: {"level":"warn","ts":"2026-04-18T16:51:40.612730Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 18 16:51:40 np0000094019 etcd[60406]: {"level":"info","ts":"2026-04-18T16:51:40.614244Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094019","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094019=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 18 16:51:40 np0000094019 etcd[60406]: {"level":"warn","ts":"2026-04-18T16:51:40.614456Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 18 16:51:40 np0000094019 etcd[60406]: {"level":"info","ts":"2026-04-18T16:51:40.614501Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 18 16:51:40 np0000094019 etcd[60406]: {"level":"info","ts":"2026-04-18T16:51:40.614986Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:40 np0000094019 etcd[60406]: {"level":"info","ts":"2026-04-18T16:51:40.615104Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094019","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:40 np0000094019 etcd[60406]: {"level":"info","ts":"2026-04-18T16:51:40.615420Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094019","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:40 np0000094019 etcd[60406]: {"level":"warn","ts":"2026-04-18T16:51:40.615488Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 18 16:51:40 np0000094019 etcd[60406]: {"level":"fatal","ts":"2026-04-18T16:51:40.615555Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 18 16:51:40 np0000094019 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 18 16:51:40 np0000094019 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 18 16:51:40 np0000094019 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 18 16:51:40 np0000094019 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 18 16:51:40 np0000094019 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 18 16:51:40 np0000094019 etcd[60444]: {"level":"warn","ts":"2026-04-18T16:51:40.859297Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 18 16:51:40 np0000094019 etcd[60444]: {"level":"info","ts":"2026-04-18T16:51:40.859498Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094019","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094019=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 18 16:51:40 np0000094019 etcd[60444]: {"level":"warn","ts":"2026-04-18T16:51:40.859664Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 18 16:51:40 np0000094019 etcd[60444]: {"level":"info","ts":"2026-04-18T16:51:40.859694Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 18 16:51:40 np0000094019 etcd[60444]: {"level":"info","ts":"2026-04-18T16:51:40.860247Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:40 np0000094019 etcd[60444]: {"level":"info","ts":"2026-04-18T16:51:40.860376Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094019","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:40 np0000094019 etcd[60444]: {"level":"info","ts":"2026-04-18T16:51:40.860458Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094019","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 18 16:51:40 np0000094019 etcd[60444]: {"level":"warn","ts":"2026-04-18T16:51:40.860514Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 18 16:51:40 np0000094019 etcd[60444]: {"level":"fatal","ts":"2026-04-18T16:51:40.860577Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 18 16:51:40 np0000094019 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 18 16:51:40 np0000094019 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 18 16:51:40 np0000094019 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 18 16:51:41 np0000094019 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 18 16:51:41 np0000094019 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 18 16:51:41 np0000094019 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 18 16:51:41 np0000094019 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
