Jun 19 11:28:02 np0000094411 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 11:28:02 np0000094411 etcd[60875]: {"level":"warn","ts":"2026-06-19T11:28:02.686711Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 11:28:02 np0000094411 etcd[60875]: {"level":"info","ts":"2026-06-19T11:28:02.687823Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094411","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094411=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 11:28:02 np0000094411 etcd[60875]: {"level":"warn","ts":"2026-06-19T11:28:02.688068Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 11:28:02 np0000094411 etcd[60875]: {"level":"info","ts":"2026-06-19T11:28:02.688098Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 11:28:02 np0000094411 etcd[60875]: {"level":"info","ts":"2026-06-19T11:28:02.688547Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:02 np0000094411 etcd[60875]: {"level":"info","ts":"2026-06-19T11:28:02.688671Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094411","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:02 np0000094411 etcd[60875]: {"level":"info","ts":"2026-06-19T11:28:02.688739Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094411","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:02 np0000094411 etcd[60875]: {"level":"warn","ts":"2026-06-19T11:28:02.688786Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 11:28:02 np0000094411 etcd[60875]: {"level":"fatal","ts":"2026-06-19T11:28:02.688839Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 11:28:02 np0000094411 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 11:28:02 np0000094411 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 11:28:02 np0000094411 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 11:28:02 np0000094411 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 19 11:28:02 np0000094411 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 11:28:02 np0000094411 etcd[60939]: {"level":"warn","ts":"2026-06-19T11:28:02.957845Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 11:28:02 np0000094411 etcd[60939]: {"level":"info","ts":"2026-06-19T11:28:02.958085Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094411","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094411=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 11:28:02 np0000094411 etcd[60939]: {"level":"warn","ts":"2026-06-19T11:28:02.958256Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 11:28:02 np0000094411 etcd[60939]: {"level":"info","ts":"2026-06-19T11:28:02.958294Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 11:28:02 np0000094411 etcd[60939]: {"level":"info","ts":"2026-06-19T11:28:02.958720Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:02 np0000094411 etcd[60939]: {"level":"info","ts":"2026-06-19T11:28:02.958834Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094411","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:02 np0000094411 etcd[60939]: {"level":"info","ts":"2026-06-19T11:28:02.959771Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094411","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:02 np0000094411 etcd[60939]: {"level":"warn","ts":"2026-06-19T11:28:02.959839Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 11:28:02 np0000094411 etcd[60939]: {"level":"fatal","ts":"2026-06-19T11:28:02.959931Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 11:28:02 np0000094411 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 11:28:02 np0000094411 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 11:28:02 np0000094411 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 11:28:03 np0000094411 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 19 11:28:03 np0000094411 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 11:28:03 np0000094411 etcd[60995]: {"level":"warn","ts":"2026-06-19T11:28:03.212341Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 11:28:03 np0000094411 etcd[60995]: {"level":"info","ts":"2026-06-19T11:28:03.212946Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094411","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094411=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 11:28:03 np0000094411 etcd[60995]: {"level":"warn","ts":"2026-06-19T11:28:03.213164Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 11:28:03 np0000094411 etcd[60995]: {"level":"info","ts":"2026-06-19T11:28:03.213197Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 11:28:03 np0000094411 etcd[60995]: {"level":"info","ts":"2026-06-19T11:28:03.215099Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:03 np0000094411 etcd[60995]: {"level":"info","ts":"2026-06-19T11:28:03.215434Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094411","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:03 np0000094411 etcd[60995]: {"level":"info","ts":"2026-06-19T11:28:03.215513Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094411","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:03 np0000094411 etcd[60995]: {"level":"warn","ts":"2026-06-19T11:28:03.215574Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 11:28:03 np0000094411 etcd[60995]: {"level":"fatal","ts":"2026-06-19T11:28:03.215670Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 11:28:03 np0000094411 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 11:28:03 np0000094411 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 11:28:03 np0000094411 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 11:28:03 np0000094411 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 19 11:28:03 np0000094411 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 11:28:03 np0000094411 etcd[61002]: {"level":"warn","ts":"2026-06-19T11:28:03.460131Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 11:28:03 np0000094411 etcd[61002]: {"level":"info","ts":"2026-06-19T11:28:03.460317Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094411","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094411=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 11:28:03 np0000094411 etcd[61002]: {"level":"warn","ts":"2026-06-19T11:28:03.460492Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 11:28:03 np0000094411 etcd[61002]: {"level":"info","ts":"2026-06-19T11:28:03.460534Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 11:28:03 np0000094411 etcd[61002]: {"level":"info","ts":"2026-06-19T11:28:03.461045Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:03 np0000094411 etcd[61002]: {"level":"info","ts":"2026-06-19T11:28:03.461177Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094411","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:03 np0000094411 etcd[61002]: {"level":"info","ts":"2026-06-19T11:28:03.461277Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094411","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:03 np0000094411 etcd[61002]: {"level":"warn","ts":"2026-06-19T11:28:03.461338Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 11:28:03 np0000094411 etcd[61002]: {"level":"fatal","ts":"2026-06-19T11:28:03.461406Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 11:28:03 np0000094411 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 11:28:03 np0000094411 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 11:28:03 np0000094411 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 11:28:03 np0000094411 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 19 11:28:03 np0000094411 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 11:28:03 np0000094411 etcd[61042]: {"level":"warn","ts":"2026-06-19T11:28:03.705583Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 11:28:03 np0000094411 etcd[61042]: {"level":"info","ts":"2026-06-19T11:28:03.706790Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094411","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094411=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 11:28:03 np0000094411 etcd[61042]: {"level":"warn","ts":"2026-06-19T11:28:03.707056Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 11:28:03 np0000094411 etcd[61042]: {"level":"info","ts":"2026-06-19T11:28:03.707104Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 11:28:03 np0000094411 etcd[61042]: {"level":"info","ts":"2026-06-19T11:28:03.707620Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:03 np0000094411 etcd[61042]: {"level":"info","ts":"2026-06-19T11:28:03.707745Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094411","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:03 np0000094411 etcd[61042]: {"level":"info","ts":"2026-06-19T11:28:03.707829Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094411","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 11:28:03 np0000094411 etcd[61042]: {"level":"warn","ts":"2026-06-19T11:28:03.707926Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 11:28:03 np0000094411 etcd[61042]: {"level":"fatal","ts":"2026-06-19T11:28:03.708043Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 11:28:03 np0000094411 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 11:28:03 np0000094411 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 11:28:03 np0000094411 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 11:28:03 np0000094411 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 19 11:28:03 np0000094411 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 19 11:28:03 np0000094411 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 11:28:03 np0000094411 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
