Apr 02 07:10:33 np0000093826 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 07:10:33 np0000093826 etcd[60192]: {"level":"warn","ts":"2026-04-02T07:10:33.898002Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 07:10:33 np0000093826 etcd[60192]: {"level":"info","ts":"2026-04-02T07:10:33.898105Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093826","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093826=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 07:10:33 np0000093826 etcd[60192]: {"level":"warn","ts":"2026-04-02T07:10:33.898192Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 07:10:33 np0000093826 etcd[60192]: {"level":"info","ts":"2026-04-02T07:10:33.898229Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 07:10:33 np0000093826 etcd[60192]: {"level":"info","ts":"2026-04-02T07:10:33.898519Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:33 np0000093826 etcd[60192]: {"level":"info","ts":"2026-04-02T07:10:33.898577Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093826","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:33 np0000093826 etcd[60192]: {"level":"info","ts":"2026-04-02T07:10:33.898620Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093826","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:33 np0000093826 etcd[60192]: {"level":"warn","ts":"2026-04-02T07:10:33.898665Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 07:10:33 np0000093826 etcd[60192]: {"level":"fatal","ts":"2026-04-02T07:10:33.898697Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 07:10:33 np0000093826 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 07:10:33 np0000093826 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 07:10:33 np0000093826 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 07:10:34 np0000093826 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 02 07:10:34 np0000093826 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 07:10:34 np0000093826 etcd[60257]: {"level":"warn","ts":"2026-04-02T07:10:34.109611Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 07:10:34 np0000093826 etcd[60257]: {"level":"info","ts":"2026-04-02T07:10:34.109773Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093826","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093826=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 07:10:34 np0000093826 etcd[60257]: {"level":"warn","ts":"2026-04-02T07:10:34.109920Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 07:10:34 np0000093826 etcd[60257]: {"level":"info","ts":"2026-04-02T07:10:34.109946Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 07:10:34 np0000093826 etcd[60257]: {"level":"info","ts":"2026-04-02T07:10:34.110337Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:34 np0000093826 etcd[60257]: {"level":"info","ts":"2026-04-02T07:10:34.110433Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093826","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:34 np0000093826 etcd[60257]: {"level":"info","ts":"2026-04-02T07:10:34.110496Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093826","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:34 np0000093826 etcd[60257]: {"level":"warn","ts":"2026-04-02T07:10:34.110547Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 07:10:34 np0000093826 etcd[60257]: {"level":"fatal","ts":"2026-04-02T07:10:34.110597Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 07:10:34 np0000093826 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 07:10:34 np0000093826 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 07:10:34 np0000093826 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 07:10:34 np0000093826 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 02 07:10:34 np0000093826 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 07:10:34 np0000093826 etcd[60311]: {"level":"warn","ts":"2026-04-02T07:10:34.360866Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 07:10:34 np0000093826 etcd[60311]: {"level":"info","ts":"2026-04-02T07:10:34.360968Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093826","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093826=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 07:10:34 np0000093826 etcd[60311]: {"level":"warn","ts":"2026-04-02T07:10:34.361046Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 07:10:34 np0000093826 etcd[60311]: {"level":"info","ts":"2026-04-02T07:10:34.361061Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 07:10:34 np0000093826 etcd[60311]: {"level":"info","ts":"2026-04-02T07:10:34.361379Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:34 np0000093826 etcd[60311]: {"level":"info","ts":"2026-04-02T07:10:34.361441Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093826","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:34 np0000093826 etcd[60311]: {"level":"info","ts":"2026-04-02T07:10:34.361495Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093826","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:34 np0000093826 etcd[60311]: {"level":"warn","ts":"2026-04-02T07:10:34.361524Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 07:10:34 np0000093826 etcd[60311]: {"level":"fatal","ts":"2026-04-02T07:10:34.361563Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 07:10:34 np0000093826 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 07:10:34 np0000093826 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 07:10:34 np0000093826 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 07:10:34 np0000093826 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 02 07:10:34 np0000093826 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 07:10:34 np0000093826 etcd[60348]: {"level":"warn","ts":"2026-04-02T07:10:34.613074Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 07:10:34 np0000093826 etcd[60348]: {"level":"info","ts":"2026-04-02T07:10:34.613299Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093826","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093826=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 07:10:34 np0000093826 etcd[60348]: {"level":"warn","ts":"2026-04-02T07:10:34.613472Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 07:10:34 np0000093826 etcd[60348]: {"level":"info","ts":"2026-04-02T07:10:34.613505Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 07:10:34 np0000093826 etcd[60348]: {"level":"info","ts":"2026-04-02T07:10:34.613974Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:34 np0000093826 etcd[60348]: {"level":"info","ts":"2026-04-02T07:10:34.614117Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093826","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:34 np0000093826 etcd[60348]: {"level":"info","ts":"2026-04-02T07:10:34.614189Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093826","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:34 np0000093826 etcd[60348]: {"level":"warn","ts":"2026-04-02T07:10:34.614431Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 07:10:34 np0000093826 etcd[60348]: {"level":"fatal","ts":"2026-04-02T07:10:34.614516Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 07:10:34 np0000093826 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 07:10:34 np0000093826 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 07:10:34 np0000093826 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 07:10:34 np0000093826 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 02 07:10:34 np0000093826 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 07:10:34 np0000093826 etcd[60383]: {"level":"warn","ts":"2026-04-02T07:10:34.882420Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 07:10:34 np0000093826 etcd[60383]: {"level":"info","ts":"2026-04-02T07:10:34.882650Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093826","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093826=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 07:10:34 np0000093826 etcd[60383]: {"level":"warn","ts":"2026-04-02T07:10:34.882878Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 07:10:34 np0000093826 etcd[60383]: {"level":"info","ts":"2026-04-02T07:10:34.882916Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 07:10:34 np0000093826 etcd[60383]: {"level":"info","ts":"2026-04-02T07:10:34.883459Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:34 np0000093826 etcd[60383]: {"level":"info","ts":"2026-04-02T07:10:34.883592Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093826","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:34 np0000093826 etcd[60383]: {"level":"info","ts":"2026-04-02T07:10:34.883700Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093826","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 07:10:34 np0000093826 etcd[60383]: {"level":"warn","ts":"2026-04-02T07:10:34.883778Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 07:10:34 np0000093826 etcd[60383]: {"level":"fatal","ts":"2026-04-02T07:10:34.883872Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 07:10:34 np0000093826 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 07:10:34 np0000093826 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 07:10:34 np0000093826 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 07:10:35 np0000093826 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 02 07:10:35 np0000093826 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 02 07:10:35 np0000093826 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 07:10:35 np0000093826 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
