May 19 13:15:08 np0000094129 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 13:15:08 np0000094129 etcd[60316]: {"level":"warn","ts":"2026-05-19T13:15:08.782931Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 13:15:08 np0000094129 etcd[60316]: {"level":"info","ts":"2026-05-19T13:15:08.783016Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094129","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094129=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 13:15:08 np0000094129 etcd[60316]: {"level":"warn","ts":"2026-05-19T13:15:08.783095Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 13:15:08 np0000094129 etcd[60316]: {"level":"info","ts":"2026-05-19T13:15:08.783110Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 13:15:08 np0000094129 etcd[60316]: {"level":"info","ts":"2026-05-19T13:15:08.783356Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:08 np0000094129 etcd[60316]: {"level":"info","ts":"2026-05-19T13:15:08.783416Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094129","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:08 np0000094129 etcd[60316]: {"level":"info","ts":"2026-05-19T13:15:08.783456Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094129","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:08 np0000094129 etcd[60316]: {"level":"warn","ts":"2026-05-19T13:15:08.783480Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 13:15:08 np0000094129 etcd[60316]: {"level":"fatal","ts":"2026-05-19T13:15:08.783515Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 13:15:08 np0000094129 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 13:15:08 np0000094129 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 13:15:08 np0000094129 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 13:15:08 np0000094129 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 19 13:15:08 np0000094129 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 13:15:09 np0000094129 etcd[60393]: {"level":"warn","ts":"2026-05-19T13:15:09.032017Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 13:15:09 np0000094129 etcd[60393]: {"level":"info","ts":"2026-05-19T13:15:09.033241Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094129","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094129=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 13:15:09 np0000094129 etcd[60393]: {"level":"warn","ts":"2026-05-19T13:15:09.033966Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 13:15:09 np0000094129 etcd[60393]: {"level":"info","ts":"2026-05-19T13:15:09.034028Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 13:15:09 np0000094129 etcd[60393]: {"level":"info","ts":"2026-05-19T13:15:09.034606Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:09 np0000094129 etcd[60393]: {"level":"info","ts":"2026-05-19T13:15:09.034827Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094129","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:09 np0000094129 etcd[60393]: {"level":"info","ts":"2026-05-19T13:15:09.034931Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094129","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:09 np0000094129 etcd[60393]: {"level":"warn","ts":"2026-05-19T13:15:09.035003Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 13:15:09 np0000094129 etcd[60393]: {"level":"fatal","ts":"2026-05-19T13:15:09.035108Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 13:15:09 np0000094129 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 19 13:15:09 np0000094129 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 13:15:09 np0000094129 etcd[60436]: {"level":"warn","ts":"2026-05-19T13:15:09.284902Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 13:15:09 np0000094129 etcd[60436]: {"level":"info","ts":"2026-05-19T13:15:09.285095Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094129","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094129=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 13:15:09 np0000094129 etcd[60436]: {"level":"warn","ts":"2026-05-19T13:15:09.285284Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 13:15:09 np0000094129 etcd[60436]: {"level":"info","ts":"2026-05-19T13:15:09.285326Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 13:15:09 np0000094129 etcd[60436]: {"level":"info","ts":"2026-05-19T13:15:09.285942Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:09 np0000094129 etcd[60436]: {"level":"info","ts":"2026-05-19T13:15:09.286070Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094129","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:09 np0000094129 etcd[60436]: {"level":"info","ts":"2026-05-19T13:15:09.286155Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094129","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:09 np0000094129 etcd[60436]: {"level":"warn","ts":"2026-05-19T13:15:09.286232Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 13:15:09 np0000094129 etcd[60436]: {"level":"fatal","ts":"2026-05-19T13:15:09.286300Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 13:15:09 np0000094129 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 19 13:15:09 np0000094129 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 13:15:09 np0000094129 etcd[60457]: {"level":"warn","ts":"2026-05-19T13:15:09.514002Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 13:15:09 np0000094129 etcd[60457]: {"level":"info","ts":"2026-05-19T13:15:09.514132Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094129","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094129=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 13:15:09 np0000094129 etcd[60457]: {"level":"warn","ts":"2026-05-19T13:15:09.514231Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 13:15:09 np0000094129 etcd[60457]: {"level":"info","ts":"2026-05-19T13:15:09.514252Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 13:15:09 np0000094129 etcd[60457]: {"level":"info","ts":"2026-05-19T13:15:09.514516Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:09 np0000094129 etcd[60457]: {"level":"info","ts":"2026-05-19T13:15:09.514579Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094129","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:09 np0000094129 etcd[60457]: {"level":"info","ts":"2026-05-19T13:15:09.514623Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094129","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:09 np0000094129 etcd[60457]: {"level":"warn","ts":"2026-05-19T13:15:09.514653Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 13:15:09 np0000094129 etcd[60457]: {"level":"fatal","ts":"2026-05-19T13:15:09.514686Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 13:15:09 np0000094129 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 19 13:15:09 np0000094129 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 13:15:09 np0000094129 etcd[60497]: {"level":"warn","ts":"2026-05-19T13:15:09.762658Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 13:15:09 np0000094129 etcd[60497]: {"level":"info","ts":"2026-05-19T13:15:09.762782Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094129","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094129=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 13:15:09 np0000094129 etcd[60497]: {"level":"warn","ts":"2026-05-19T13:15:09.762889Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 13:15:09 np0000094129 etcd[60497]: {"level":"info","ts":"2026-05-19T13:15:09.762908Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 13:15:09 np0000094129 etcd[60497]: {"level":"info","ts":"2026-05-19T13:15:09.763220Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:09 np0000094129 etcd[60497]: {"level":"info","ts":"2026-05-19T13:15:09.763296Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094129","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:09 np0000094129 etcd[60497]: {"level":"info","ts":"2026-05-19T13:15:09.763347Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094129","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 13:15:09 np0000094129 etcd[60497]: {"level":"warn","ts":"2026-05-19T13:15:09.763381Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 13:15:09 np0000094129 etcd[60497]: {"level":"fatal","ts":"2026-05-19T13:15:09.763421Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 13:15:09 np0000094129 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 19 13:15:09 np0000094129 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 13:15:09 np0000094129 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
