Apr 17 12:01:37 np0000094010 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 12:01:37 np0000094010 etcd[60607]: {"level":"warn","ts":"2026-04-17T12:01:37.368232Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 12:01:37 np0000094010 etcd[60607]: {"level":"info","ts":"2026-04-17T12:01:37.368398Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094010","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094010=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 12:01:37 np0000094010 etcd[60607]: {"level":"warn","ts":"2026-04-17T12:01:37.368554Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 12:01:37 np0000094010 etcd[60607]: {"level":"info","ts":"2026-04-17T12:01:37.368582Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 12:01:37 np0000094010 etcd[60607]: {"level":"info","ts":"2026-04-17T12:01:37.369193Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:37 np0000094010 etcd[60607]: {"level":"info","ts":"2026-04-17T12:01:37.369307Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094010","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:37 np0000094010 etcd[60607]: {"level":"info","ts":"2026-04-17T12:01:37.369382Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094010","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:37 np0000094010 etcd[60607]: {"level":"warn","ts":"2026-04-17T12:01:37.369436Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 12:01:37 np0000094010 etcd[60607]: {"level":"fatal","ts":"2026-04-17T12:01:37.369498Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 12:01:37 np0000094010 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 12:01:37 np0000094010 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 12:01:37 np0000094010 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 12:01:37 np0000094010 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 17 12:01:37 np0000094010 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 12:01:37 np0000094010 etcd[60659]: {"level":"warn","ts":"2026-04-17T12:01:37.591016Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 12:01:37 np0000094010 etcd[60659]: {"level":"info","ts":"2026-04-17T12:01:37.591220Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094010","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094010=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 12:01:37 np0000094010 etcd[60659]: {"level":"warn","ts":"2026-04-17T12:01:37.591362Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 12:01:37 np0000094010 etcd[60659]: {"level":"info","ts":"2026-04-17T12:01:37.591388Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 12:01:37 np0000094010 etcd[60659]: {"level":"info","ts":"2026-04-17T12:01:37.591848Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:37 np0000094010 etcd[60659]: {"level":"info","ts":"2026-04-17T12:01:37.591950Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094010","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:37 np0000094010 etcd[60659]: {"level":"info","ts":"2026-04-17T12:01:37.592019Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094010","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:37 np0000094010 etcd[60659]: {"level":"warn","ts":"2026-04-17T12:01:37.592084Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 12:01:37 np0000094010 etcd[60659]: {"level":"fatal","ts":"2026-04-17T12:01:37.592140Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 12:01:37 np0000094010 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 12:01:37 np0000094010 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 12:01:37 np0000094010 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 12:01:37 np0000094010 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 17 12:01:37 np0000094010 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 12:01:37 np0000094010 etcd[60726]: {"level":"warn","ts":"2026-04-17T12:01:37.837331Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 12:01:37 np0000094010 etcd[60726]: {"level":"info","ts":"2026-04-17T12:01:37.838457Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094010","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094010=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 12:01:37 np0000094010 etcd[60726]: {"level":"warn","ts":"2026-04-17T12:01:37.838659Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 12:01:37 np0000094010 etcd[60726]: {"level":"info","ts":"2026-04-17T12:01:37.838704Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 12:01:37 np0000094010 etcd[60726]: {"level":"info","ts":"2026-04-17T12:01:37.839252Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:37 np0000094010 etcd[60726]: {"level":"info","ts":"2026-04-17T12:01:37.839376Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094010","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:37 np0000094010 etcd[60726]: {"level":"info","ts":"2026-04-17T12:01:37.839461Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094010","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:37 np0000094010 etcd[60726]: {"level":"warn","ts":"2026-04-17T12:01:37.839532Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 12:01:37 np0000094010 etcd[60726]: {"level":"fatal","ts":"2026-04-17T12:01:37.839599Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 12:01:37 np0000094010 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 12:01:37 np0000094010 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 12:01:37 np0000094010 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 12:01:38 np0000094010 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 17 12:01:38 np0000094010 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 12:01:38 np0000094010 etcd[60733]: {"level":"warn","ts":"2026-04-17T12:01:38.103640Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 12:01:38 np0000094010 etcd[60733]: {"level":"info","ts":"2026-04-17T12:01:38.103851Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094010","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094010=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 12:01:38 np0000094010 etcd[60733]: {"level":"warn","ts":"2026-04-17T12:01:38.104002Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 12:01:38 np0000094010 etcd[60733]: {"level":"info","ts":"2026-04-17T12:01:38.104037Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 12:01:38 np0000094010 etcd[60733]: {"level":"info","ts":"2026-04-17T12:01:38.104464Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:38 np0000094010 etcd[60733]: {"level":"info","ts":"2026-04-17T12:01:38.104567Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094010","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:38 np0000094010 etcd[60733]: {"level":"info","ts":"2026-04-17T12:01:38.104638Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094010","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:38 np0000094010 etcd[60733]: {"level":"warn","ts":"2026-04-17T12:01:38.104687Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 12:01:38 np0000094010 etcd[60733]: {"level":"fatal","ts":"2026-04-17T12:01:38.106388Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 12:01:38 np0000094010 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 12:01:38 np0000094010 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 12:01:38 np0000094010 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 12:01:38 np0000094010 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 17 12:01:38 np0000094010 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 12:01:38 np0000094010 etcd[60758]: {"level":"warn","ts":"2026-04-17T12:01:38.337025Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 12:01:38 np0000094010 etcd[60758]: {"level":"info","ts":"2026-04-17T12:01:38.337252Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094010","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094010=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 12:01:38 np0000094010 etcd[60758]: {"level":"warn","ts":"2026-04-17T12:01:38.337404Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 12:01:38 np0000094010 etcd[60758]: {"level":"info","ts":"2026-04-17T12:01:38.337440Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 12:01:38 np0000094010 etcd[60758]: {"level":"info","ts":"2026-04-17T12:01:38.337876Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:38 np0000094010 etcd[60758]: {"level":"info","ts":"2026-04-17T12:01:38.337986Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094010","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:38 np0000094010 etcd[60758]: {"level":"info","ts":"2026-04-17T12:01:38.338149Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094010","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 12:01:38 np0000094010 etcd[60758]: {"level":"warn","ts":"2026-04-17T12:01:38.338205Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 12:01:38 np0000094010 etcd[60758]: {"level":"fatal","ts":"2026-04-17T12:01:38.338265Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 12:01:38 np0000094010 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 12:01:38 np0000094010 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 12:01:38 np0000094010 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 12:01:38 np0000094010 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 17 12:01:38 np0000094010 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 17 12:01:38 np0000094010 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 12:01:38 np0000094010 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
