Jun 19 06:34:34 np0000094410 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 06:34:34 np0000094410 etcd[60982]: {"level":"warn","ts":"2026-06-19T06:34:34.349103Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 06:34:34 np0000094410 etcd[60982]: {"level":"info","ts":"2026-06-19T06:34:34.349297Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094410","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094410=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 06:34:34 np0000094410 etcd[60982]: {"level":"warn","ts":"2026-06-19T06:34:34.349517Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 06:34:34 np0000094410 etcd[60982]: {"level":"info","ts":"2026-06-19T06:34:34.349551Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 06:34:34 np0000094410 etcd[60982]: {"level":"info","ts":"2026-06-19T06:34:34.350092Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:34 np0000094410 etcd[60982]: {"level":"info","ts":"2026-06-19T06:34:34.350237Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094410","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:34 np0000094410 etcd[60982]: {"level":"info","ts":"2026-06-19T06:34:34.350320Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094410","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:34 np0000094410 etcd[60982]: {"level":"warn","ts":"2026-06-19T06:34:34.350410Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 06:34:34 np0000094410 etcd[60982]: {"level":"fatal","ts":"2026-06-19T06:34:34.350500Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 06:34:34 np0000094410 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 06:34:34 np0000094410 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 06:34:34 np0000094410 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 06:34:34 np0000094410 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 19 06:34:34 np0000094410 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 06:34:34 np0000094410 etcd[61057]: {"level":"warn","ts":"2026-06-19T06:34:34.646263Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 06:34:34 np0000094410 etcd[61057]: {"level":"info","ts":"2026-06-19T06:34:34.646488Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094410","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094410=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 06:34:34 np0000094410 etcd[61057]: {"level":"warn","ts":"2026-06-19T06:34:34.646670Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 06:34:34 np0000094410 etcd[61057]: {"level":"info","ts":"2026-06-19T06:34:34.646701Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 06:34:34 np0000094410 etcd[61057]: {"level":"info","ts":"2026-06-19T06:34:34.647166Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:34 np0000094410 etcd[61057]: {"level":"info","ts":"2026-06-19T06:34:34.647305Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094410","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:34 np0000094410 etcd[61057]: {"level":"info","ts":"2026-06-19T06:34:34.647423Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094410","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:34 np0000094410 etcd[61057]: {"level":"warn","ts":"2026-06-19T06:34:34.647478Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 06:34:34 np0000094410 etcd[61057]: {"level":"fatal","ts":"2026-06-19T06:34:34.647549Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 06:34:34 np0000094410 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 06:34:34 np0000094410 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 06:34:34 np0000094410 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 06:34:34 np0000094410 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 19 06:34:34 np0000094410 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 06:34:34 np0000094410 etcd[61104]: {"level":"warn","ts":"2026-06-19T06:34:34.863057Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 06:34:34 np0000094410 etcd[61104]: {"level":"info","ts":"2026-06-19T06:34:34.863147Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094410","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094410=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 06:34:34 np0000094410 etcd[61104]: {"level":"warn","ts":"2026-06-19T06:34:34.863235Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 06:34:34 np0000094410 etcd[61104]: {"level":"info","ts":"2026-06-19T06:34:34.863252Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 06:34:34 np0000094410 etcd[61104]: {"level":"info","ts":"2026-06-19T06:34:34.863526Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:34 np0000094410 etcd[61104]: {"level":"info","ts":"2026-06-19T06:34:34.863578Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094410","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:34 np0000094410 etcd[61104]: {"level":"info","ts":"2026-06-19T06:34:34.863613Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094410","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:34 np0000094410 etcd[61104]: {"level":"warn","ts":"2026-06-19T06:34:34.863637Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 06:34:34 np0000094410 etcd[61104]: {"level":"fatal","ts":"2026-06-19T06:34:34.863671Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 06:34:34 np0000094410 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 06:34:34 np0000094410 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 06:34:34 np0000094410 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 06:34:35 np0000094410 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 19 06:34:35 np0000094410 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 06:34:35 np0000094410 etcd[61112]: {"level":"warn","ts":"2026-06-19T06:34:35.140630Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 06:34:35 np0000094410 etcd[61112]: {"level":"info","ts":"2026-06-19T06:34:35.140744Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094410","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094410=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 06:34:35 np0000094410 etcd[61112]: {"level":"warn","ts":"2026-06-19T06:34:35.140848Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 06:34:35 np0000094410 etcd[61112]: {"level":"info","ts":"2026-06-19T06:34:35.140865Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 06:34:35 np0000094410 etcd[61112]: {"level":"info","ts":"2026-06-19T06:34:35.141141Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:35 np0000094410 etcd[61112]: {"level":"info","ts":"2026-06-19T06:34:35.141231Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094410","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:35 np0000094410 etcd[61112]: {"level":"info","ts":"2026-06-19T06:34:35.141268Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094410","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:35 np0000094410 etcd[61112]: {"level":"warn","ts":"2026-06-19T06:34:35.141298Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 06:34:35 np0000094410 etcd[61112]: {"level":"fatal","ts":"2026-06-19T06:34:35.141367Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 06:34:35 np0000094410 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 06:34:35 np0000094410 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 06:34:35 np0000094410 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 06:34:35 np0000094410 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 19 06:34:35 np0000094410 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 06:34:35 np0000094410 etcd[61153]: {"level":"warn","ts":"2026-06-19T06:34:35.407138Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 06:34:35 np0000094410 etcd[61153]: {"level":"info","ts":"2026-06-19T06:34:35.408338Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094410","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094410=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 06:34:35 np0000094410 etcd[61153]: {"level":"warn","ts":"2026-06-19T06:34:35.408874Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 06:34:35 np0000094410 etcd[61153]: {"level":"info","ts":"2026-06-19T06:34:35.409164Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 06:34:35 np0000094410 etcd[61153]: {"level":"info","ts":"2026-06-19T06:34:35.410107Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:35 np0000094410 etcd[61153]: {"level":"info","ts":"2026-06-19T06:34:35.410271Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094410","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:35 np0000094410 etcd[61153]: {"level":"info","ts":"2026-06-19T06:34:35.410378Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094410","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 06:34:35 np0000094410 etcd[61153]: {"level":"warn","ts":"2026-06-19T06:34:35.410434Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 06:34:35 np0000094410 etcd[61153]: {"level":"fatal","ts":"2026-06-19T06:34:35.410497Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 06:34:35 np0000094410 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 06:34:35 np0000094410 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 06:34:35 np0000094410 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 06:34:35 np0000094410 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 19 06:34:35 np0000094410 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 19 06:34:35 np0000094410 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 06:34:35 np0000094410 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
