Feb 13 21:30:17 np0000056253 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 21:30:17 np0000056253 etcd[60683]: {"level":"warn","ts":"2026-02-13T21:30:17.876713Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:30:17 np0000056253 etcd[60683]: {"level":"info","ts":"2026-02-13T21:30:17.876840Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056253","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056253=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 21:30:17 np0000056253 etcd[60683]: {"level":"warn","ts":"2026-02-13T21:30:17.876968Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:30:17 np0000056253 etcd[60683]: {"level":"info","ts":"2026-02-13T21:30:17.876994Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 21:30:17 np0000056253 etcd[60683]: {"level":"info","ts":"2026-02-13T21:30:17.877388Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:17 np0000056253 etcd[60683]: {"level":"info","ts":"2026-02-13T21:30:17.877483Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:17 np0000056253 etcd[60683]: {"level":"info","ts":"2026-02-13T21:30:17.877533Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:17 np0000056253 etcd[60683]: {"level":"warn","ts":"2026-02-13T21:30:17.877567Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 21:30:17 np0000056253 etcd[60683]: {"level":"fatal","ts":"2026-02-13T21:30:17.877612Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 21:30:17 np0000056253 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 21:30:17 np0000056253 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 21:30:17 np0000056253 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 21:30:18 np0000056253 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 21:30:18 np0000056253 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 21:30:18 np0000056253 etcd[60737]: {"level":"warn","ts":"2026-02-13T21:30:18.084680Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:30:18 np0000056253 etcd[60737]: {"level":"info","ts":"2026-02-13T21:30:18.084860Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056253","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056253=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 21:30:18 np0000056253 etcd[60737]: {"level":"warn","ts":"2026-02-13T21:30:18.085032Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:30:18 np0000056253 etcd[60737]: {"level":"info","ts":"2026-02-13T21:30:18.085062Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 21:30:18 np0000056253 etcd[60737]: {"level":"info","ts":"2026-02-13T21:30:18.085593Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:18 np0000056253 etcd[60737]: {"level":"info","ts":"2026-02-13T21:30:18.085725Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:18 np0000056253 etcd[60737]: {"level":"info","ts":"2026-02-13T21:30:18.085821Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:18 np0000056253 etcd[60737]: {"level":"warn","ts":"2026-02-13T21:30:18.085892Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 21:30:18 np0000056253 etcd[60737]: {"level":"fatal","ts":"2026-02-13T21:30:18.086117Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 21:30:18 np0000056253 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 21:30:18 np0000056253 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 21:30:18 np0000056253 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 21:30:18 np0000056253 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 21:30:18 np0000056253 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 21:30:18 np0000056253 etcd[60802]: {"level":"warn","ts":"2026-02-13T21:30:18.342901Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:30:18 np0000056253 etcd[60802]: {"level":"info","ts":"2026-02-13T21:30:18.343076Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056253","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056253=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 21:30:18 np0000056253 etcd[60802]: {"level":"warn","ts":"2026-02-13T21:30:18.343232Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:30:18 np0000056253 etcd[60802]: {"level":"info","ts":"2026-02-13T21:30:18.343255Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 21:30:18 np0000056253 etcd[60802]: {"level":"info","ts":"2026-02-13T21:30:18.343661Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:18 np0000056253 etcd[60802]: {"level":"info","ts":"2026-02-13T21:30:18.343750Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:18 np0000056253 etcd[60802]: {"level":"info","ts":"2026-02-13T21:30:18.343810Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:18 np0000056253 etcd[60802]: {"level":"warn","ts":"2026-02-13T21:30:18.343853Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 21:30:18 np0000056253 etcd[60802]: {"level":"fatal","ts":"2026-02-13T21:30:18.343900Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 21:30:18 np0000056253 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 21:30:18 np0000056253 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 21:30:18 np0000056253 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 21:30:18 np0000056253 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 21:30:18 np0000056253 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 21:30:18 np0000056253 etcd[60810]: {"level":"warn","ts":"2026-02-13T21:30:18.601545Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:30:18 np0000056253 etcd[60810]: {"level":"info","ts":"2026-02-13T21:30:18.602785Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056253","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056253=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 21:30:18 np0000056253 etcd[60810]: {"level":"warn","ts":"2026-02-13T21:30:18.603195Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:30:18 np0000056253 etcd[60810]: {"level":"info","ts":"2026-02-13T21:30:18.603234Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 21:30:18 np0000056253 etcd[60810]: {"level":"info","ts":"2026-02-13T21:30:18.604369Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:18 np0000056253 etcd[60810]: {"level":"info","ts":"2026-02-13T21:30:18.604546Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:18 np0000056253 etcd[60810]: {"level":"info","ts":"2026-02-13T21:30:18.604630Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:18 np0000056253 etcd[60810]: {"level":"warn","ts":"2026-02-13T21:30:18.604697Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 21:30:18 np0000056253 etcd[60810]: {"level":"fatal","ts":"2026-02-13T21:30:18.604772Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 21:30:18 np0000056253 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 21:30:18 np0000056253 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 21:30:18 np0000056253 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 21:30:18 np0000056253 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 21:30:18 np0000056253 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 21:30:18 np0000056253 etcd[60852]: {"level":"warn","ts":"2026-02-13T21:30:18.824612Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:30:18 np0000056253 etcd[60852]: {"level":"info","ts":"2026-02-13T21:30:18.824753Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056253","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056253=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 21:30:18 np0000056253 etcd[60852]: {"level":"warn","ts":"2026-02-13T21:30:18.824885Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:30:18 np0000056253 etcd[60852]: {"level":"info","ts":"2026-02-13T21:30:18.824909Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 21:30:18 np0000056253 etcd[60852]: {"level":"info","ts":"2026-02-13T21:30:18.825379Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:18 np0000056253 etcd[60852]: {"level":"info","ts":"2026-02-13T21:30:18.826568Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:18 np0000056253 etcd[60852]: {"level":"info","ts":"2026-02-13T21:30:18.826652Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:30:18 np0000056253 etcd[60852]: {"level":"warn","ts":"2026-02-13T21:30:18.826712Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 21:30:18 np0000056253 etcd[60852]: {"level":"fatal","ts":"2026-02-13T21:30:18.826764Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 21:30:18 np0000056253 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 21:30:18 np0000056253 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 21:30:18 np0000056253 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 21:30:19 np0000056253 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 21:30:19 np0000056253 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 21:30:19 np0000056253 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 21:30:19 np0000056253 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
