Feb 14 17:39:33 np0000056255 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 14 17:39:33 np0000056255 etcd[60916]: {"level":"warn","ts":"2026-02-14T17:39:33.313768Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 17:39:33 np0000056255 etcd[60916]: {"level":"info","ts":"2026-02-14T17:39:33.313991Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056255","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056255=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 14 17:39:33 np0000056255 etcd[60916]: {"level":"warn","ts":"2026-02-14T17:39:33.314185Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 17:39:33 np0000056255 etcd[60916]: {"level":"info","ts":"2026-02-14T17:39:33.314225Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 14 17:39:33 np0000056255 etcd[60916]: {"level":"info","ts":"2026-02-14T17:39:33.314747Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:33 np0000056255 etcd[60916]: {"level":"info","ts":"2026-02-14T17:39:33.316600Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:33 np0000056255 etcd[60916]: {"level":"info","ts":"2026-02-14T17:39:33.316737Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:33 np0000056255 etcd[60916]: {"level":"warn","ts":"2026-02-14T17:39:33.316803Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 14 17:39:33 np0000056255 etcd[60916]: {"level":"fatal","ts":"2026-02-14T17:39:33.316907Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 14 17:39:33 np0000056255 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 14 17:39:33 np0000056255 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 14 17:39:33 np0000056255 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 14 17:39:33 np0000056255 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 14 17:39:33 np0000056255 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 14 17:39:33 np0000056255 etcd[61003]: {"level":"warn","ts":"2026-02-14T17:39:33.668202Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 17:39:33 np0000056255 etcd[61003]: {"level":"info","ts":"2026-02-14T17:39:33.668475Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056255","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056255=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 14 17:39:33 np0000056255 etcd[61003]: {"level":"warn","ts":"2026-02-14T17:39:33.668647Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 17:39:33 np0000056255 etcd[61003]: {"level":"info","ts":"2026-02-14T17:39:33.668674Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 14 17:39:33 np0000056255 etcd[61003]: {"level":"info","ts":"2026-02-14T17:39:33.669095Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:33 np0000056255 etcd[61003]: {"level":"info","ts":"2026-02-14T17:39:33.669208Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:33 np0000056255 etcd[61003]: {"level":"info","ts":"2026-02-14T17:39:33.669254Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:33 np0000056255 etcd[61003]: {"level":"warn","ts":"2026-02-14T17:39:33.669303Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 14 17:39:33 np0000056255 etcd[61003]: {"level":"fatal","ts":"2026-02-14T17:39:33.669359Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 14 17:39:33 np0000056255 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 14 17:39:33 np0000056255 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 14 17:39:33 np0000056255 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 14 17:39:33 np0000056255 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 14 17:39:33 np0000056255 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 14 17:39:33 np0000056255 etcd[61035]: {"level":"warn","ts":"2026-02-14T17:39:33.927427Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 17:39:33 np0000056255 etcd[61035]: {"level":"info","ts":"2026-02-14T17:39:33.927627Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056255","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056255=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 14 17:39:33 np0000056255 etcd[61035]: {"level":"warn","ts":"2026-02-14T17:39:33.927855Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 17:39:33 np0000056255 etcd[61035]: {"level":"info","ts":"2026-02-14T17:39:33.927900Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 14 17:39:33 np0000056255 etcd[61035]: {"level":"info","ts":"2026-02-14T17:39:33.928360Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:33 np0000056255 etcd[61035]: {"level":"info","ts":"2026-02-14T17:39:33.928478Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:33 np0000056255 etcd[61035]: {"level":"info","ts":"2026-02-14T17:39:33.928561Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:33 np0000056255 etcd[61035]: {"level":"warn","ts":"2026-02-14T17:39:33.928618Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 14 17:39:33 np0000056255 etcd[61035]: {"level":"fatal","ts":"2026-02-14T17:39:33.928707Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 14 17:39:33 np0000056255 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 14 17:39:33 np0000056255 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 14 17:39:33 np0000056255 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 14 17:39:34 np0000056255 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 14 17:39:34 np0000056255 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 14 17:39:34 np0000056255 etcd[61060]: {"level":"warn","ts":"2026-02-14T17:39:34.127605Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 17:39:34 np0000056255 etcd[61060]: {"level":"info","ts":"2026-02-14T17:39:34.127775Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056255","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056255=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 14 17:39:34 np0000056255 etcd[61060]: {"level":"warn","ts":"2026-02-14T17:39:34.127884Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 17:39:34 np0000056255 etcd[61060]: {"level":"info","ts":"2026-02-14T17:39:34.127900Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 14 17:39:34 np0000056255 etcd[61060]: {"level":"info","ts":"2026-02-14T17:39:34.128156Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:34 np0000056255 etcd[61060]: {"level":"info","ts":"2026-02-14T17:39:34.128214Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:34 np0000056255 etcd[61060]: {"level":"info","ts":"2026-02-14T17:39:34.128246Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:34 np0000056255 etcd[61060]: {"level":"warn","ts":"2026-02-14T17:39:34.128273Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 14 17:39:34 np0000056255 etcd[61060]: {"level":"fatal","ts":"2026-02-14T17:39:34.128313Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 14 17:39:34 np0000056255 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 14 17:39:34 np0000056255 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 14 17:39:34 np0000056255 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 14 17:39:34 np0000056255 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 14 17:39:34 np0000056255 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 14 17:39:34 np0000056255 etcd[61097]: {"level":"warn","ts":"2026-02-14T17:39:34.416135Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 17:39:34 np0000056255 etcd[61097]: {"level":"info","ts":"2026-02-14T17:39:34.416349Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056255","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056255=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 14 17:39:34 np0000056255 etcd[61097]: {"level":"warn","ts":"2026-02-14T17:39:34.416518Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 17:39:34 np0000056255 etcd[61097]: {"level":"info","ts":"2026-02-14T17:39:34.416550Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 14 17:39:34 np0000056255 etcd[61097]: {"level":"info","ts":"2026-02-14T17:39:34.417190Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:34 np0000056255 etcd[61097]: {"level":"info","ts":"2026-02-14T17:39:34.417318Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:34 np0000056255 etcd[61097]: {"level":"info","ts":"2026-02-14T17:39:34.417415Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056255","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 17:39:34 np0000056255 etcd[61097]: {"level":"warn","ts":"2026-02-14T17:39:34.417475Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 14 17:39:34 np0000056255 etcd[61097]: {"level":"fatal","ts":"2026-02-14T17:39:34.417543Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 14 17:39:34 np0000056255 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 14 17:39:34 np0000056255 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 14 17:39:34 np0000056255 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 14 17:39:34 np0000056255 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 14 17:39:34 np0000056255 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 14 17:39:34 np0000056255 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 14 17:39:34 np0000056255 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
