May 29 16:25:37 np0000094175 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 16:25:37 np0000094175 etcd[60480]: {"level":"warn","ts":"2026-05-29T16:25:37.714674Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:25:37 np0000094175 etcd[60480]: {"level":"info","ts":"2026-05-29T16:25:37.714854Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094175","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094175=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 16:25:37 np0000094175 etcd[60480]: {"level":"warn","ts":"2026-05-29T16:25:37.715041Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:25:37 np0000094175 etcd[60480]: {"level":"info","ts":"2026-05-29T16:25:37.715074Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 16:25:37 np0000094175 etcd[60480]: {"level":"info","ts":"2026-05-29T16:25:37.715582Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:37 np0000094175 etcd[60480]: {"level":"info","ts":"2026-05-29T16:25:37.715705Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094175","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:37 np0000094175 etcd[60480]: {"level":"info","ts":"2026-05-29T16:25:37.715815Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094175","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:37 np0000094175 etcd[60480]: {"level":"warn","ts":"2026-05-29T16:25:37.715875Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 16:25:37 np0000094175 etcd[60480]: {"level":"fatal","ts":"2026-05-29T16:25:37.715943Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 16:25:37 np0000094175 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 16:25:37 np0000094175 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 16:25:37 np0000094175 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 16:25:37 np0000094175 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 29 16:25:37 np0000094175 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 16:25:37 np0000094175 etcd[60547]: {"level":"warn","ts":"2026-05-29T16:25:37.946867Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:25:37 np0000094175 etcd[60547]: {"level":"info","ts":"2026-05-29T16:25:37.947048Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094175","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094175=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 16:25:37 np0000094175 etcd[60547]: {"level":"warn","ts":"2026-05-29T16:25:37.947182Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:25:37 np0000094175 etcd[60547]: {"level":"info","ts":"2026-05-29T16:25:37.947214Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 16:25:37 np0000094175 etcd[60547]: {"level":"info","ts":"2026-05-29T16:25:37.947603Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:37 np0000094175 etcd[60547]: {"level":"info","ts":"2026-05-29T16:25:37.947704Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094175","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:37 np0000094175 etcd[60547]: {"level":"info","ts":"2026-05-29T16:25:37.947769Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094175","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:37 np0000094175 etcd[60547]: {"level":"warn","ts":"2026-05-29T16:25:37.947816Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 16:25:37 np0000094175 etcd[60547]: {"level":"fatal","ts":"2026-05-29T16:25:37.947866Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 16:25:37 np0000094175 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 16:25:37 np0000094175 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 16:25:37 np0000094175 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 16:25:38 np0000094175 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 29 16:25:38 np0000094175 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 16:25:38 np0000094175 etcd[60600]: {"level":"warn","ts":"2026-05-29T16:25:38.204254Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:25:38 np0000094175 etcd[60600]: {"level":"info","ts":"2026-05-29T16:25:38.204468Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094175","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094175=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 16:25:38 np0000094175 etcd[60600]: {"level":"warn","ts":"2026-05-29T16:25:38.204647Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:25:38 np0000094175 etcd[60600]: {"level":"info","ts":"2026-05-29T16:25:38.204679Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 16:25:38 np0000094175 etcd[60600]: {"level":"info","ts":"2026-05-29T16:25:38.205330Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:38 np0000094175 etcd[60600]: {"level":"info","ts":"2026-05-29T16:25:38.205466Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094175","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:38 np0000094175 etcd[60600]: {"level":"info","ts":"2026-05-29T16:25:38.205571Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094175","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:38 np0000094175 etcd[60600]: {"level":"warn","ts":"2026-05-29T16:25:38.205633Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 16:25:38 np0000094175 etcd[60600]: {"level":"fatal","ts":"2026-05-29T16:25:38.205712Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 16:25:38 np0000094175 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 16:25:38 np0000094175 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 16:25:38 np0000094175 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 16:25:38 np0000094175 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 29 16:25:38 np0000094175 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 16:25:38 np0000094175 etcd[60627]: {"level":"warn","ts":"2026-05-29T16:25:38.418763Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:25:38 np0000094175 etcd[60627]: {"level":"info","ts":"2026-05-29T16:25:38.418873Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094175","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094175=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 16:25:38 np0000094175 etcd[60627]: {"level":"warn","ts":"2026-05-29T16:25:38.419005Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:25:38 np0000094175 etcd[60627]: {"level":"info","ts":"2026-05-29T16:25:38.419030Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 16:25:38 np0000094175 etcd[60627]: {"level":"info","ts":"2026-05-29T16:25:38.419347Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:38 np0000094175 etcd[60627]: {"level":"info","ts":"2026-05-29T16:25:38.419426Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094175","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:38 np0000094175 etcd[60627]: {"level":"info","ts":"2026-05-29T16:25:38.419479Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094175","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:38 np0000094175 etcd[60627]: {"level":"warn","ts":"2026-05-29T16:25:38.419526Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 16:25:38 np0000094175 etcd[60627]: {"level":"fatal","ts":"2026-05-29T16:25:38.419567Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 16:25:38 np0000094175 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 16:25:38 np0000094175 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 16:25:38 np0000094175 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 16:25:38 np0000094175 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 29 16:25:38 np0000094175 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 16:25:38 np0000094175 etcd[60669]: {"level":"warn","ts":"2026-05-29T16:25:38.704533Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:25:38 np0000094175 etcd[60669]: {"level":"info","ts":"2026-05-29T16:25:38.704716Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094175","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094175=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 16:25:38 np0000094175 etcd[60669]: {"level":"warn","ts":"2026-05-29T16:25:38.704850Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:25:38 np0000094175 etcd[60669]: {"level":"info","ts":"2026-05-29T16:25:38.704873Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 16:25:38 np0000094175 etcd[60669]: {"level":"info","ts":"2026-05-29T16:25:38.705289Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:38 np0000094175 etcd[60669]: {"level":"info","ts":"2026-05-29T16:25:38.705415Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094175","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:38 np0000094175 etcd[60669]: {"level":"info","ts":"2026-05-29T16:25:38.705481Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094175","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:25:38 np0000094175 etcd[60669]: {"level":"warn","ts":"2026-05-29T16:25:38.705538Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 16:25:38 np0000094175 etcd[60669]: {"level":"fatal","ts":"2026-05-29T16:25:38.705600Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 16:25:38 np0000094175 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 16:25:38 np0000094175 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 16:25:38 np0000094175 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 16:25:38 np0000094175 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 29 16:25:38 np0000094175 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 29 16:25:38 np0000094175 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 16:25:38 np0000094175 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
