Jun 02 15:34:09 np0000094213 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 02 15:34:10 np0000094213 etcd[60513]: {"level":"warn","ts":"2026-06-02T15:34:10.002893Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 15:34:10 np0000094213 etcd[60513]: {"level":"info","ts":"2026-06-02T15:34:10.003938Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094213","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094213=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 02 15:34:10 np0000094213 etcd[60513]: {"level":"warn","ts":"2026-06-02T15:34:10.004178Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 15:34:10 np0000094213 etcd[60513]: {"level":"info","ts":"2026-06-02T15:34:10.004374Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 02 15:34:10 np0000094213 etcd[60513]: {"level":"info","ts":"2026-06-02T15:34:10.004920Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60513]: {"level":"info","ts":"2026-06-02T15:34:10.005055Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094213","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60513]: {"level":"info","ts":"2026-06-02T15:34:10.005124Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094213","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60513]: {"level":"warn","ts":"2026-06-02T15:34:10.005179Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 02 15:34:10 np0000094213 etcd[60513]: {"level":"fatal","ts":"2026-06-02T15:34:10.005251Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 02 15:34:10 np0000094213 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 02 15:34:10 np0000094213 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 02 15:34:10 np0000094213 etcd[60564]: {"level":"warn","ts":"2026-06-02T15:34:10.208747Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 15:34:10 np0000094213 etcd[60564]: {"level":"info","ts":"2026-06-02T15:34:10.208909Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094213","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094213=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 02 15:34:10 np0000094213 etcd[60564]: {"level":"warn","ts":"2026-06-02T15:34:10.209037Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 15:34:10 np0000094213 etcd[60564]: {"level":"info","ts":"2026-06-02T15:34:10.209061Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 02 15:34:10 np0000094213 etcd[60564]: {"level":"info","ts":"2026-06-02T15:34:10.209474Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60564]: {"level":"info","ts":"2026-06-02T15:34:10.209568Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094213","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60564]: {"level":"info","ts":"2026-06-02T15:34:10.209632Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094213","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60564]: {"level":"warn","ts":"2026-06-02T15:34:10.209688Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 02 15:34:10 np0000094213 etcd[60564]: {"level":"fatal","ts":"2026-06-02T15:34:10.209745Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 02 15:34:10 np0000094213 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 02 15:34:10 np0000094213 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 02 15:34:10 np0000094213 etcd[60633]: {"level":"warn","ts":"2026-06-02T15:34:10.464213Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 15:34:10 np0000094213 etcd[60633]: {"level":"info","ts":"2026-06-02T15:34:10.465582Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094213","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094213=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 02 15:34:10 np0000094213 etcd[60633]: {"level":"warn","ts":"2026-06-02T15:34:10.466206Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 15:34:10 np0000094213 etcd[60633]: {"level":"info","ts":"2026-06-02T15:34:10.466441Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 02 15:34:10 np0000094213 etcd[60633]: {"level":"info","ts":"2026-06-02T15:34:10.466960Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60633]: {"level":"info","ts":"2026-06-02T15:34:10.467091Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094213","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60633]: {"level":"info","ts":"2026-06-02T15:34:10.467176Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094213","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60633]: {"level":"warn","ts":"2026-06-02T15:34:10.467242Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 02 15:34:10 np0000094213 etcd[60633]: {"level":"fatal","ts":"2026-06-02T15:34:10.467344Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 02 15:34:10 np0000094213 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 02 15:34:10 np0000094213 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 02 15:34:10 np0000094213 etcd[60642]: {"level":"warn","ts":"2026-06-02T15:34:10.723616Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 15:34:10 np0000094213 etcd[60642]: {"level":"info","ts":"2026-06-02T15:34:10.723830Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094213","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094213=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 02 15:34:10 np0000094213 etcd[60642]: {"level":"warn","ts":"2026-06-02T15:34:10.724011Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 15:34:10 np0000094213 etcd[60642]: {"level":"info","ts":"2026-06-02T15:34:10.724054Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 02 15:34:10 np0000094213 etcd[60642]: {"level":"info","ts":"2026-06-02T15:34:10.724561Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60642]: {"level":"info","ts":"2026-06-02T15:34:10.724691Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094213","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60642]: {"level":"info","ts":"2026-06-02T15:34:10.724801Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094213","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60642]: {"level":"warn","ts":"2026-06-02T15:34:10.724896Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 02 15:34:10 np0000094213 etcd[60642]: {"level":"fatal","ts":"2026-06-02T15:34:10.724964Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 02 15:34:10 np0000094213 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 02 15:34:10 np0000094213 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 02 15:34:10 np0000094213 etcd[60666]: {"level":"warn","ts":"2026-06-02T15:34:10.970800Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 15:34:10 np0000094213 etcd[60666]: {"level":"info","ts":"2026-06-02T15:34:10.970994Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094213","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094213=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 02 15:34:10 np0000094213 etcd[60666]: {"level":"warn","ts":"2026-06-02T15:34:10.971162Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 15:34:10 np0000094213 etcd[60666]: {"level":"info","ts":"2026-06-02T15:34:10.971200Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 02 15:34:10 np0000094213 etcd[60666]: {"level":"info","ts":"2026-06-02T15:34:10.973000Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60666]: {"level":"info","ts":"2026-06-02T15:34:10.973280Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094213","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60666]: {"level":"info","ts":"2026-06-02T15:34:10.973399Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094213","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 15:34:10 np0000094213 etcd[60666]: {"level":"warn","ts":"2026-06-02T15:34:10.973457Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 02 15:34:10 np0000094213 etcd[60666]: {"level":"fatal","ts":"2026-06-02T15:34:10.973574Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 02 15:34:10 np0000094213 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 02 15:34:10 np0000094213 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 02 15:34:11 np0000094213 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 02 15:34:11 np0000094213 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 02 15:34:11 np0000094213 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 02 15:34:11 np0000094213 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
