Jun 05 21:54:36 np0000094259 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 21:54:36 np0000094259 etcd[60307]: {"level":"warn","ts":"2026-06-05T21:54:36.936218Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 21:54:36 np0000094259 etcd[60307]: {"level":"info","ts":"2026-06-05T21:54:36.936393Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094259","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094259=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 21:54:36 np0000094259 etcd[60307]: {"level":"warn","ts":"2026-06-05T21:54:36.936574Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 21:54:36 np0000094259 etcd[60307]: {"level":"info","ts":"2026-06-05T21:54:36.936615Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 21:54:36 np0000094259 etcd[60307]: {"level":"info","ts":"2026-06-05T21:54:36.937375Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:36 np0000094259 etcd[60307]: {"level":"info","ts":"2026-06-05T21:54:36.937530Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094259","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:36 np0000094259 etcd[60307]: {"level":"info","ts":"2026-06-05T21:54:36.937614Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094259","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:36 np0000094259 etcd[60307]: {"level":"warn","ts":"2026-06-05T21:54:36.937681Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 21:54:36 np0000094259 etcd[60307]: {"level":"fatal","ts":"2026-06-05T21:54:36.937748Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 21:54:36 np0000094259 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 21:54:36 np0000094259 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 21:54:36 np0000094259 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 21:54:37 np0000094259 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 05 21:54:37 np0000094259 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 21:54:37 np0000094259 etcd[60389]: {"level":"warn","ts":"2026-06-05T21:54:37.272108Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 21:54:37 np0000094259 etcd[60389]: {"level":"info","ts":"2026-06-05T21:54:37.272280Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094259","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094259=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 21:54:37 np0000094259 etcd[60389]: {"level":"warn","ts":"2026-06-05T21:54:37.272428Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 21:54:37 np0000094259 etcd[60389]: {"level":"info","ts":"2026-06-05T21:54:37.272467Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 21:54:37 np0000094259 etcd[60389]: {"level":"info","ts":"2026-06-05T21:54:37.272881Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:37 np0000094259 etcd[60389]: {"level":"info","ts":"2026-06-05T21:54:37.273000Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094259","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:37 np0000094259 etcd[60389]: {"level":"info","ts":"2026-06-05T21:54:37.273069Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094259","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:37 np0000094259 etcd[60389]: {"level":"warn","ts":"2026-06-05T21:54:37.273116Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 21:54:37 np0000094259 etcd[60389]: {"level":"fatal","ts":"2026-06-05T21:54:37.273170Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 21:54:37 np0000094259 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 21:54:37 np0000094259 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 21:54:37 np0000094259 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 21:54:37 np0000094259 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 05 21:54:37 np0000094259 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 21:54:37 np0000094259 etcd[60426]: {"level":"warn","ts":"2026-06-05T21:54:37.516395Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 21:54:37 np0000094259 etcd[60426]: {"level":"info","ts":"2026-06-05T21:54:37.516561Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094259","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094259=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 21:54:37 np0000094259 etcd[60426]: {"level":"warn","ts":"2026-06-05T21:54:37.516748Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 21:54:37 np0000094259 etcd[60426]: {"level":"info","ts":"2026-06-05T21:54:37.516789Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 21:54:37 np0000094259 etcd[60426]: {"level":"info","ts":"2026-06-05T21:54:37.517289Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:37 np0000094259 etcd[60426]: {"level":"info","ts":"2026-06-05T21:54:37.517414Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094259","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:37 np0000094259 etcd[60426]: {"level":"info","ts":"2026-06-05T21:54:37.517496Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094259","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:37 np0000094259 etcd[60426]: {"level":"warn","ts":"2026-06-05T21:54:37.517559Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 21:54:37 np0000094259 etcd[60426]: {"level":"fatal","ts":"2026-06-05T21:54:37.517624Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 21:54:37 np0000094259 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 21:54:37 np0000094259 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 21:54:37 np0000094259 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 21:54:37 np0000094259 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 05 21:54:37 np0000094259 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 21:54:37 np0000094259 etcd[60446]: {"level":"warn","ts":"2026-06-05T21:54:37.772083Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 21:54:37 np0000094259 etcd[60446]: {"level":"info","ts":"2026-06-05T21:54:37.772330Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094259","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094259=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 21:54:37 np0000094259 etcd[60446]: {"level":"warn","ts":"2026-06-05T21:54:37.772533Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 21:54:37 np0000094259 etcd[60446]: {"level":"info","ts":"2026-06-05T21:54:37.772567Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 21:54:37 np0000094259 etcd[60446]: {"level":"info","ts":"2026-06-05T21:54:37.773034Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:37 np0000094259 etcd[60446]: {"level":"info","ts":"2026-06-05T21:54:37.773161Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094259","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:37 np0000094259 etcd[60446]: {"level":"info","ts":"2026-06-05T21:54:37.773270Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094259","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:37 np0000094259 etcd[60446]: {"level":"warn","ts":"2026-06-05T21:54:37.773329Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 21:54:37 np0000094259 etcd[60446]: {"level":"fatal","ts":"2026-06-05T21:54:37.773395Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 21:54:37 np0000094259 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 21:54:37 np0000094259 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 21:54:37 np0000094259 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 21:54:37 np0000094259 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 05 21:54:37 np0000094259 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 21:54:38 np0000094259 etcd[60478]: {"level":"warn","ts":"2026-06-05T21:54:38.017414Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 21:54:38 np0000094259 etcd[60478]: {"level":"info","ts":"2026-06-05T21:54:38.017592Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094259","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094259=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 21:54:38 np0000094259 etcd[60478]: {"level":"warn","ts":"2026-06-05T21:54:38.017745Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 21:54:38 np0000094259 etcd[60478]: {"level":"info","ts":"2026-06-05T21:54:38.017788Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 21:54:38 np0000094259 etcd[60478]: {"level":"info","ts":"2026-06-05T21:54:38.018351Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:38 np0000094259 etcd[60478]: {"level":"info","ts":"2026-06-05T21:54:38.018481Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094259","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:38 np0000094259 etcd[60478]: {"level":"info","ts":"2026-06-05T21:54:38.018563Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094259","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 21:54:38 np0000094259 etcd[60478]: {"level":"warn","ts":"2026-06-05T21:54:38.018621Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 21:54:38 np0000094259 etcd[60478]: {"level":"fatal","ts":"2026-06-05T21:54:38.018688Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 21:54:38 np0000094259 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 21:54:38 np0000094259 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 21:54:38 np0000094259 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 21:54:38 np0000094259 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 05 21:54:38 np0000094259 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 05 21:54:38 np0000094259 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 21:54:38 np0000094259 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
