Apr 23 12:22:46 np0000094050 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 12:22:46 np0000094050 etcd[60803]: {"level":"warn","ts":"2026-04-23T12:22:46.491828Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:22:46 np0000094050 etcd[60803]: {"level":"info","ts":"2026-04-23T12:22:46.493123Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094050","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094050=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 12:22:46 np0000094050 etcd[60803]: {"level":"warn","ts":"2026-04-23T12:22:46.493536Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:22:46 np0000094050 etcd[60803]: {"level":"info","ts":"2026-04-23T12:22:46.493576Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 12:22:46 np0000094050 etcd[60803]: {"level":"info","ts":"2026-04-23T12:22:46.494122Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:46 np0000094050 etcd[60803]: {"level":"info","ts":"2026-04-23T12:22:46.494234Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094050","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:46 np0000094050 etcd[60803]: {"level":"info","ts":"2026-04-23T12:22:46.494337Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094050","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:46 np0000094050 etcd[60803]: {"level":"warn","ts":"2026-04-23T12:22:46.494391Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 12:22:46 np0000094050 etcd[60803]: {"level":"fatal","ts":"2026-04-23T12:22:46.494452Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 12:22:46 np0000094050 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 12:22:46 np0000094050 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 12:22:46 np0000094050 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 12:22:46 np0000094050 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 23 12:22:46 np0000094050 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 12:22:46 np0000094050 etcd[60857]: {"level":"warn","ts":"2026-04-23T12:22:46.705341Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:22:46 np0000094050 etcd[60857]: {"level":"info","ts":"2026-04-23T12:22:46.705440Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094050","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094050=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 12:22:46 np0000094050 etcd[60857]: {"level":"warn","ts":"2026-04-23T12:22:46.705520Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:22:46 np0000094050 etcd[60857]: {"level":"info","ts":"2026-04-23T12:22:46.705538Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 12:22:46 np0000094050 etcd[60857]: {"level":"info","ts":"2026-04-23T12:22:46.705788Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:46 np0000094050 etcd[60857]: {"level":"info","ts":"2026-04-23T12:22:46.705854Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094050","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:46 np0000094050 etcd[60857]: {"level":"info","ts":"2026-04-23T12:22:46.705906Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094050","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:46 np0000094050 etcd[60857]: {"level":"warn","ts":"2026-04-23T12:22:46.705935Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 12:22:46 np0000094050 etcd[60857]: {"level":"fatal","ts":"2026-04-23T12:22:46.705970Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 12:22:46 np0000094050 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 12:22:46 np0000094050 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 12:22:46 np0000094050 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 12:22:46 np0000094050 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 23 12:22:46 np0000094050 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 12:22:46 np0000094050 etcd[60922]: {"level":"warn","ts":"2026-04-23T12:22:46.942430Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:22:46 np0000094050 etcd[60922]: {"level":"info","ts":"2026-04-23T12:22:46.942538Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094050","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094050=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 12:22:46 np0000094050 etcd[60922]: {"level":"warn","ts":"2026-04-23T12:22:46.942617Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:22:46 np0000094050 etcd[60922]: {"level":"info","ts":"2026-04-23T12:22:46.942631Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 12:22:46 np0000094050 etcd[60922]: {"level":"info","ts":"2026-04-23T12:22:46.942893Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:46 np0000094050 etcd[60922]: {"level":"info","ts":"2026-04-23T12:22:46.942956Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094050","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:46 np0000094050 etcd[60922]: {"level":"info","ts":"2026-04-23T12:22:46.942999Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094050","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:46 np0000094050 etcd[60922]: {"level":"warn","ts":"2026-04-23T12:22:46.943026Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 12:22:46 np0000094050 etcd[60922]: {"level":"fatal","ts":"2026-04-23T12:22:46.943075Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 12:22:46 np0000094050 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 12:22:46 np0000094050 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 12:22:46 np0000094050 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 12:22:47 np0000094050 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 23 12:22:47 np0000094050 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 12:22:47 np0000094050 etcd[60937]: {"level":"warn","ts":"2026-04-23T12:22:47.228217Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:22:47 np0000094050 etcd[60937]: {"level":"info","ts":"2026-04-23T12:22:47.229812Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094050","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094050=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 12:22:47 np0000094050 etcd[60937]: {"level":"warn","ts":"2026-04-23T12:22:47.230470Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:22:47 np0000094050 etcd[60937]: {"level":"info","ts":"2026-04-23T12:22:47.230527Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 12:22:47 np0000094050 etcd[60937]: {"level":"info","ts":"2026-04-23T12:22:47.230984Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:47 np0000094050 etcd[60937]: {"level":"info","ts":"2026-04-23T12:22:47.231102Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094050","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:47 np0000094050 etcd[60937]: {"level":"info","ts":"2026-04-23T12:22:47.231174Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094050","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:47 np0000094050 etcd[60937]: {"level":"warn","ts":"2026-04-23T12:22:47.231229Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 12:22:47 np0000094050 etcd[60937]: {"level":"fatal","ts":"2026-04-23T12:22:47.231323Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 12:22:47 np0000094050 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 12:22:47 np0000094050 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 12:22:47 np0000094050 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 12:22:47 np0000094050 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 23 12:22:47 np0000094050 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 12:22:47 np0000094050 etcd[60978]: {"level":"warn","ts":"2026-04-23T12:22:47.484520Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:22:47 np0000094050 etcd[60978]: {"level":"info","ts":"2026-04-23T12:22:47.484702Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094050","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094050=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 12:22:47 np0000094050 etcd[60978]: {"level":"warn","ts":"2026-04-23T12:22:47.484883Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:22:47 np0000094050 etcd[60978]: {"level":"info","ts":"2026-04-23T12:22:47.484924Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 12:22:47 np0000094050 etcd[60978]: {"level":"info","ts":"2026-04-23T12:22:47.485517Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:47 np0000094050 etcd[60978]: {"level":"info","ts":"2026-04-23T12:22:47.485640Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094050","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:47 np0000094050 etcd[60978]: {"level":"info","ts":"2026-04-23T12:22:47.485732Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094050","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:22:47 np0000094050 etcd[60978]: {"level":"warn","ts":"2026-04-23T12:22:47.485811Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 12:22:47 np0000094050 etcd[60978]: {"level":"fatal","ts":"2026-04-23T12:22:47.485885Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 12:22:47 np0000094050 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 12:22:47 np0000094050 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 12:22:47 np0000094050 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 12:22:47 np0000094050 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 23 12:22:47 np0000094050 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 23 12:22:47 np0000094050 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 12:22:47 np0000094050 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
