Jun 08 15:46:03 np0000094276 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 15:46:03 np0000094276 etcd[65189]: {"level":"warn","ts":"2026-06-08T15:46:03.220858Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 15:46:03 np0000094276 etcd[65189]: {"level":"info","ts":"2026-06-08T15:46:03.221189Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094276","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094276=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 15:46:03 np0000094276 etcd[65189]: {"level":"warn","ts":"2026-06-08T15:46:03.221451Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 15:46:03 np0000094276 etcd[65189]: {"level":"info","ts":"2026-06-08T15:46:03.221499Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 15:46:03 np0000094276 etcd[65189]: {"level":"info","ts":"2026-06-08T15:46:03.222229Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:03 np0000094276 etcd[65189]: {"level":"info","ts":"2026-06-08T15:46:03.222388Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094276","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:03 np0000094276 etcd[65189]: {"level":"info","ts":"2026-06-08T15:46:03.222475Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094276","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:03 np0000094276 etcd[65189]: {"level":"warn","ts":"2026-06-08T15:46:03.222531Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 15:46:03 np0000094276 etcd[65189]: {"level":"fatal","ts":"2026-06-08T15:46:03.222610Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 15:46:03 np0000094276 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 15:46:03 np0000094276 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 15:46:03 np0000094276 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 15:46:03 np0000094276 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 08 15:46:03 np0000094276 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 15:46:03 np0000094276 etcd[65287]: {"level":"warn","ts":"2026-06-08T15:46:03.623166Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 15:46:03 np0000094276 etcd[65287]: {"level":"info","ts":"2026-06-08T15:46:03.623399Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094276","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094276=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 15:46:03 np0000094276 etcd[65287]: {"level":"warn","ts":"2026-06-08T15:46:03.623611Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 15:46:03 np0000094276 etcd[65287]: {"level":"info","ts":"2026-06-08T15:46:03.623666Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 15:46:03 np0000094276 etcd[65287]: {"level":"info","ts":"2026-06-08T15:46:03.624157Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:03 np0000094276 etcd[65287]: {"level":"info","ts":"2026-06-08T15:46:03.624277Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094276","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:03 np0000094276 etcd[65287]: {"level":"info","ts":"2026-06-08T15:46:03.624389Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094276","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:03 np0000094276 etcd[65287]: {"level":"warn","ts":"2026-06-08T15:46:03.624450Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 15:46:03 np0000094276 etcd[65287]: {"level":"fatal","ts":"2026-06-08T15:46:03.624515Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 15:46:03 np0000094276 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 15:46:03 np0000094276 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 15:46:03 np0000094276 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 15:46:03 np0000094276 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 08 15:46:03 np0000094276 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 15:46:03 np0000094276 etcd[65310]: {"level":"warn","ts":"2026-06-08T15:46:03.882844Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 15:46:03 np0000094276 etcd[65310]: {"level":"info","ts":"2026-06-08T15:46:03.883028Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094276","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094276=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 15:46:03 np0000094276 etcd[65310]: {"level":"warn","ts":"2026-06-08T15:46:03.883207Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 15:46:03 np0000094276 etcd[65310]: {"level":"info","ts":"2026-06-08T15:46:03.883248Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 15:46:03 np0000094276 etcd[65310]: {"level":"info","ts":"2026-06-08T15:46:03.883863Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:03 np0000094276 etcd[65310]: {"level":"info","ts":"2026-06-08T15:46:03.884000Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094276","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:03 np0000094276 etcd[65310]: {"level":"info","ts":"2026-06-08T15:46:03.884082Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094276","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:03 np0000094276 etcd[65310]: {"level":"warn","ts":"2026-06-08T15:46:03.884169Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 15:46:03 np0000094276 etcd[65310]: {"level":"fatal","ts":"2026-06-08T15:46:03.884236Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 15:46:03 np0000094276 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 15:46:03 np0000094276 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 15:46:03 np0000094276 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 15:46:04 np0000094276 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 08 15:46:04 np0000094276 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 15:46:04 np0000094276 etcd[65322]: {"level":"warn","ts":"2026-06-08T15:46:04.121638Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 15:46:04 np0000094276 etcd[65322]: {"level":"info","ts":"2026-06-08T15:46:04.121864Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094276","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094276=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 15:46:04 np0000094276 etcd[65322]: {"level":"warn","ts":"2026-06-08T15:46:04.122047Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 15:46:04 np0000094276 etcd[65322]: {"level":"info","ts":"2026-06-08T15:46:04.122082Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 15:46:04 np0000094276 etcd[65322]: {"level":"info","ts":"2026-06-08T15:46:04.122599Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:04 np0000094276 etcd[65322]: {"level":"info","ts":"2026-06-08T15:46:04.122732Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094276","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:04 np0000094276 etcd[65322]: {"level":"info","ts":"2026-06-08T15:46:04.122853Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094276","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:04 np0000094276 etcd[65322]: {"level":"warn","ts":"2026-06-08T15:46:04.122914Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 15:46:04 np0000094276 etcd[65322]: {"level":"fatal","ts":"2026-06-08T15:46:04.123001Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 15:46:04 np0000094276 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 15:46:04 np0000094276 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 15:46:04 np0000094276 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 15:46:04 np0000094276 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 08 15:46:04 np0000094276 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 15:46:04 np0000094276 etcd[65358]: {"level":"warn","ts":"2026-06-08T15:46:04.397501Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 15:46:04 np0000094276 etcd[65358]: {"level":"info","ts":"2026-06-08T15:46:04.397746Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094276","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094276=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 15:46:04 np0000094276 etcd[65358]: {"level":"warn","ts":"2026-06-08T15:46:04.397965Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 15:46:04 np0000094276 etcd[65358]: {"level":"info","ts":"2026-06-08T15:46:04.397996Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 15:46:04 np0000094276 etcd[65358]: {"level":"info","ts":"2026-06-08T15:46:04.398552Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:04 np0000094276 etcd[65358]: {"level":"info","ts":"2026-06-08T15:46:04.398682Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094276","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:04 np0000094276 etcd[65358]: {"level":"info","ts":"2026-06-08T15:46:04.398755Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094276","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 15:46:04 np0000094276 etcd[65358]: {"level":"warn","ts":"2026-06-08T15:46:04.398848Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 15:46:04 np0000094276 etcd[65358]: {"level":"fatal","ts":"2026-06-08T15:46:04.398918Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 15:46:04 np0000094276 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 15:46:04 np0000094276 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 15:46:04 np0000094276 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 15:46:04 np0000094276 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 08 15:46:04 np0000094276 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 08 15:46:04 np0000094276 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 15:46:04 np0000094276 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
