Apr 16 10:08:00 np0000093983 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 10:08:01 np0000093983 etcd[61473]: {"level":"warn","ts":"2026-04-16T10:08:01.039471Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 10:08:01 np0000093983 etcd[61473]: {"level":"info","ts":"2026-04-16T10:08:01.039723Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093983","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093983=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 10:08:01 np0000093983 etcd[61473]: {"level":"warn","ts":"2026-04-16T10:08:01.039905Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 10:08:01 np0000093983 etcd[61473]: {"level":"info","ts":"2026-04-16T10:08:01.039948Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 10:08:01 np0000093983 etcd[61473]: {"level":"info","ts":"2026-04-16T10:08:01.040567Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:01 np0000093983 etcd[61473]: {"level":"info","ts":"2026-04-16T10:08:01.040693Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093983","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:01 np0000093983 etcd[61473]: {"level":"info","ts":"2026-04-16T10:08:01.040804Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093983","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:01 np0000093983 etcd[61473]: {"level":"warn","ts":"2026-04-16T10:08:01.040860Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 10:08:01 np0000093983 etcd[61473]: {"level":"fatal","ts":"2026-04-16T10:08:01.040954Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 10:08:01 np0000093983 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 10:08:01 np0000093983 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 10:08:01 np0000093983 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 10:08:01 np0000093983 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 16 10:08:01 np0000093983 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 10:08:01 np0000093983 etcd[61538]: {"level":"warn","ts":"2026-04-16T10:08:01.316902Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 10:08:01 np0000093983 etcd[61538]: {"level":"info","ts":"2026-04-16T10:08:01.317103Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093983","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093983=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 10:08:01 np0000093983 etcd[61538]: {"level":"warn","ts":"2026-04-16T10:08:01.317277Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 10:08:01 np0000093983 etcd[61538]: {"level":"info","ts":"2026-04-16T10:08:01.317319Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 10:08:01 np0000093983 etcd[61538]: {"level":"info","ts":"2026-04-16T10:08:01.317999Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:01 np0000093983 etcd[61538]: {"level":"info","ts":"2026-04-16T10:08:01.318129Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093983","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:01 np0000093983 etcd[61538]: {"level":"info","ts":"2026-04-16T10:08:01.318230Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093983","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:01 np0000093983 etcd[61538]: {"level":"warn","ts":"2026-04-16T10:08:01.318304Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 10:08:01 np0000093983 etcd[61538]: {"level":"fatal","ts":"2026-04-16T10:08:01.318386Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 10:08:01 np0000093983 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 10:08:01 np0000093983 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 10:08:01 np0000093983 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 10:08:01 np0000093983 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 16 10:08:01 np0000093983 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 10:08:01 np0000093983 etcd[61593]: {"level":"warn","ts":"2026-04-16T10:08:01.559906Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 10:08:01 np0000093983 etcd[61593]: {"level":"info","ts":"2026-04-16T10:08:01.560088Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093983","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093983=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 10:08:01 np0000093983 etcd[61593]: {"level":"warn","ts":"2026-04-16T10:08:01.560263Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 10:08:01 np0000093983 etcd[61593]: {"level":"info","ts":"2026-04-16T10:08:01.560294Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 10:08:01 np0000093983 etcd[61593]: {"level":"info","ts":"2026-04-16T10:08:01.562094Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:01 np0000093983 etcd[61593]: {"level":"info","ts":"2026-04-16T10:08:01.562248Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093983","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:01 np0000093983 etcd[61593]: {"level":"info","ts":"2026-04-16T10:08:01.562330Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093983","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:01 np0000093983 etcd[61593]: {"level":"warn","ts":"2026-04-16T10:08:01.562386Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 10:08:01 np0000093983 etcd[61593]: {"level":"fatal","ts":"2026-04-16T10:08:01.562468Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 10:08:01 np0000093983 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 10:08:01 np0000093983 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 10:08:01 np0000093983 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 10:08:01 np0000093983 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 16 10:08:01 np0000093983 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 10:08:01 np0000093983 etcd[61613]: {"level":"warn","ts":"2026-04-16T10:08:01.809912Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 10:08:01 np0000093983 etcd[61613]: {"level":"info","ts":"2026-04-16T10:08:01.810098Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093983","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093983=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 10:08:01 np0000093983 etcd[61613]: {"level":"warn","ts":"2026-04-16T10:08:01.810270Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 10:08:01 np0000093983 etcd[61613]: {"level":"info","ts":"2026-04-16T10:08:01.810314Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 10:08:01 np0000093983 etcd[61613]: {"level":"info","ts":"2026-04-16T10:08:01.810878Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:01 np0000093983 etcd[61613]: {"level":"info","ts":"2026-04-16T10:08:01.811007Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093983","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:01 np0000093983 etcd[61613]: {"level":"info","ts":"2026-04-16T10:08:01.811093Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093983","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:01 np0000093983 etcd[61613]: {"level":"warn","ts":"2026-04-16T10:08:01.811162Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 10:08:01 np0000093983 etcd[61613]: {"level":"fatal","ts":"2026-04-16T10:08:01.811231Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 10:08:01 np0000093983 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 10:08:01 np0000093983 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 10:08:01 np0000093983 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 10:08:01 np0000093983 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 16 10:08:02 np0000093983 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 10:08:02 np0000093983 etcd[61644]: {"level":"warn","ts":"2026-04-16T10:08:02.064994Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 10:08:02 np0000093983 etcd[61644]: {"level":"info","ts":"2026-04-16T10:08:02.065177Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093983","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093983=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 10:08:02 np0000093983 etcd[61644]: {"level":"warn","ts":"2026-04-16T10:08:02.065342Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 10:08:02 np0000093983 etcd[61644]: {"level":"info","ts":"2026-04-16T10:08:02.065374Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 10:08:02 np0000093983 etcd[61644]: {"level":"info","ts":"2026-04-16T10:08:02.066041Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:02 np0000093983 etcd[61644]: {"level":"info","ts":"2026-04-16T10:08:02.066178Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093983","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:02 np0000093983 etcd[61644]: {"level":"info","ts":"2026-04-16T10:08:02.066258Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093983","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 10:08:02 np0000093983 etcd[61644]: {"level":"warn","ts":"2026-04-16T10:08:02.066331Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 10:08:02 np0000093983 etcd[61644]: {"level":"fatal","ts":"2026-04-16T10:08:02.066441Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 10:08:02 np0000093983 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 10:08:02 np0000093983 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 10:08:02 np0000093983 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 10:08:02 np0000093983 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 16 10:08:02 np0000093983 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 16 10:08:02 np0000093983 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 10:08:02 np0000093983 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
