Jun 28 06:59:40 np0000094502 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 28 06:59:40 np0000094502 etcd[61020]: {"level":"warn","ts":"2026-06-28T06:59:40.655302Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 06:59:40 np0000094502 etcd[61020]: {"level":"info","ts":"2026-06-28T06:59:40.655484Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094502","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094502=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 28 06:59:40 np0000094502 etcd[61020]: {"level":"warn","ts":"2026-06-28T06:59:40.655655Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 06:59:40 np0000094502 etcd[61020]: {"level":"info","ts":"2026-06-28T06:59:40.655684Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 28 06:59:40 np0000094502 etcd[61020]: {"level":"info","ts":"2026-06-28T06:59:40.656122Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:40 np0000094502 etcd[61020]: {"level":"info","ts":"2026-06-28T06:59:40.656262Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094502","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:40 np0000094502 etcd[61020]: {"level":"info","ts":"2026-06-28T06:59:40.656338Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094502","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:40 np0000094502 etcd[61020]: {"level":"warn","ts":"2026-06-28T06:59:40.656390Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 28 06:59:40 np0000094502 etcd[61020]: {"level":"fatal","ts":"2026-06-28T06:59:40.656450Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 28 06:59:40 np0000094502 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 28 06:59:40 np0000094502 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 28 06:59:40 np0000094502 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 28 06:59:40 np0000094502 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 28 06:59:40 np0000094502 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 28 06:59:41 np0000094502 etcd[61116]: {"level":"warn","ts":"2026-06-28T06:59:41.024406Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 06:59:41 np0000094502 etcd[61116]: {"level":"info","ts":"2026-06-28T06:59:41.024579Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094502","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094502=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 28 06:59:41 np0000094502 etcd[61116]: {"level":"warn","ts":"2026-06-28T06:59:41.024743Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 06:59:41 np0000094502 etcd[61116]: {"level":"info","ts":"2026-06-28T06:59:41.024773Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 28 06:59:41 np0000094502 etcd[61116]: {"level":"info","ts":"2026-06-28T06:59:41.025260Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:41 np0000094502 etcd[61116]: {"level":"info","ts":"2026-06-28T06:59:41.025373Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094502","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:41 np0000094502 etcd[61116]: {"level":"info","ts":"2026-06-28T06:59:41.025466Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094502","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:41 np0000094502 etcd[61116]: {"level":"warn","ts":"2026-06-28T06:59:41.025518Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 28 06:59:41 np0000094502 etcd[61116]: {"level":"fatal","ts":"2026-06-28T06:59:41.025617Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 28 06:59:41 np0000094502 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 28 06:59:41 np0000094502 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 28 06:59:41 np0000094502 etcd[61140]: {"level":"warn","ts":"2026-06-28T06:59:41.290644Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 06:59:41 np0000094502 etcd[61140]: {"level":"info","ts":"2026-06-28T06:59:41.290868Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094502","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094502=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 28 06:59:41 np0000094502 etcd[61140]: {"level":"warn","ts":"2026-06-28T06:59:41.291144Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 06:59:41 np0000094502 etcd[61140]: {"level":"info","ts":"2026-06-28T06:59:41.291220Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 28 06:59:41 np0000094502 etcd[61140]: {"level":"info","ts":"2026-06-28T06:59:41.291919Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:41 np0000094502 etcd[61140]: {"level":"info","ts":"2026-06-28T06:59:41.292068Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094502","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:41 np0000094502 etcd[61140]: {"level":"info","ts":"2026-06-28T06:59:41.292143Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094502","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:41 np0000094502 etcd[61140]: {"level":"warn","ts":"2026-06-28T06:59:41.292246Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 28 06:59:41 np0000094502 etcd[61140]: {"level":"fatal","ts":"2026-06-28T06:59:41.292319Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 28 06:59:41 np0000094502 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 28 06:59:41 np0000094502 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 28 06:59:41 np0000094502 etcd[61161]: {"level":"warn","ts":"2026-06-28T06:59:41.538969Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 06:59:41 np0000094502 etcd[61161]: {"level":"info","ts":"2026-06-28T06:59:41.539232Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094502","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094502=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 28 06:59:41 np0000094502 etcd[61161]: {"level":"warn","ts":"2026-06-28T06:59:41.539451Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 06:59:41 np0000094502 etcd[61161]: {"level":"info","ts":"2026-06-28T06:59:41.539484Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 28 06:59:41 np0000094502 etcd[61161]: {"level":"info","ts":"2026-06-28T06:59:41.540077Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:41 np0000094502 etcd[61161]: {"level":"info","ts":"2026-06-28T06:59:41.540252Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094502","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:41 np0000094502 etcd[61161]: {"level":"info","ts":"2026-06-28T06:59:41.540361Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094502","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:41 np0000094502 etcd[61161]: {"level":"warn","ts":"2026-06-28T06:59:41.540438Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 28 06:59:41 np0000094502 etcd[61161]: {"level":"fatal","ts":"2026-06-28T06:59:41.540524Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 28 06:59:41 np0000094502 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 28 06:59:41 np0000094502 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 28 06:59:41 np0000094502 etcd[61200]: {"level":"warn","ts":"2026-06-28T06:59:41.799040Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 06:59:41 np0000094502 etcd[61200]: {"level":"info","ts":"2026-06-28T06:59:41.799198Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094502","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094502=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 28 06:59:41 np0000094502 etcd[61200]: {"level":"warn","ts":"2026-06-28T06:59:41.799357Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 06:59:41 np0000094502 etcd[61200]: {"level":"info","ts":"2026-06-28T06:59:41.799383Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 28 06:59:41 np0000094502 etcd[61200]: {"level":"info","ts":"2026-06-28T06:59:41.799780Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:41 np0000094502 etcd[61200]: {"level":"info","ts":"2026-06-28T06:59:41.799871Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094502","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:41 np0000094502 etcd[61200]: {"level":"info","ts":"2026-06-28T06:59:41.799935Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094502","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 06:59:41 np0000094502 etcd[61200]: {"level":"warn","ts":"2026-06-28T06:59:41.800010Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 28 06:59:41 np0000094502 etcd[61200]: {"level":"fatal","ts":"2026-06-28T06:59:41.800061Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 28 06:59:41 np0000094502 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 28 06:59:41 np0000094502 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 28 06:59:41 np0000094502 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
