Feb 13 07:04:59 np0000056224 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 07:04:59 np0000056224 etcd[60696]: {"level":"warn","ts":"2026-02-13T07:04:59.117739Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 07:04:59 np0000056224 etcd[60696]: {"level":"info","ts":"2026-02-13T07:04:59.117894Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056224","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056224=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 07:04:59 np0000056224 etcd[60696]: {"level":"warn","ts":"2026-02-13T07:04:59.118069Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 07:04:59 np0000056224 etcd[60696]: {"level":"info","ts":"2026-02-13T07:04:59.118108Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 07:04:59 np0000056224 etcd[60696]: {"level":"info","ts":"2026-02-13T07:04:59.118492Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:04:59 np0000056224 etcd[60696]: {"level":"info","ts":"2026-02-13T07:04:59.118619Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:04:59 np0000056224 etcd[60696]: {"level":"info","ts":"2026-02-13T07:04:59.118696Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:04:59 np0000056224 etcd[60696]: {"level":"warn","ts":"2026-02-13T07:04:59.118764Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 07:04:59 np0000056224 etcd[60696]: {"level":"fatal","ts":"2026-02-13T07:04:59.118823Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 07:04:59 np0000056224 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 07:04:59 np0000056224 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 07:04:59 np0000056224 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 07:04:59 np0000056224 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 07:04:59 np0000056224 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 07:04:59 np0000056224 etcd[60781]: {"level":"warn","ts":"2026-02-13T07:04:59.457612Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 07:04:59 np0000056224 etcd[60781]: {"level":"info","ts":"2026-02-13T07:04:59.457822Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056224","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056224=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 07:04:59 np0000056224 etcd[60781]: {"level":"warn","ts":"2026-02-13T07:04:59.458017Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 07:04:59 np0000056224 etcd[60781]: {"level":"info","ts":"2026-02-13T07:04:59.458060Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 07:04:59 np0000056224 etcd[60781]: {"level":"info","ts":"2026-02-13T07:04:59.458536Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:04:59 np0000056224 etcd[60781]: {"level":"info","ts":"2026-02-13T07:04:59.458660Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:04:59 np0000056224 etcd[60781]: {"level":"info","ts":"2026-02-13T07:04:59.458741Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:04:59 np0000056224 etcd[60781]: {"level":"warn","ts":"2026-02-13T07:04:59.458799Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 07:04:59 np0000056224 etcd[60781]: {"level":"fatal","ts":"2026-02-13T07:04:59.458864Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 07:04:59 np0000056224 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 07:04:59 np0000056224 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 07:04:59 np0000056224 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 07:04:59 np0000056224 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 07:04:59 np0000056224 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 07:04:59 np0000056224 etcd[60816]: {"level":"warn","ts":"2026-02-13T07:04:59.704786Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 07:04:59 np0000056224 etcd[60816]: {"level":"info","ts":"2026-02-13T07:04:59.704984Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056224","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056224=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 07:04:59 np0000056224 etcd[60816]: {"level":"warn","ts":"2026-02-13T07:04:59.705159Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 07:04:59 np0000056224 etcd[60816]: {"level":"info","ts":"2026-02-13T07:04:59.705201Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 07:04:59 np0000056224 etcd[60816]: {"level":"info","ts":"2026-02-13T07:04:59.705681Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:04:59 np0000056224 etcd[60816]: {"level":"info","ts":"2026-02-13T07:04:59.705801Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:04:59 np0000056224 etcd[60816]: {"level":"info","ts":"2026-02-13T07:04:59.705882Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:04:59 np0000056224 etcd[60816]: {"level":"warn","ts":"2026-02-13T07:04:59.705970Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 07:04:59 np0000056224 etcd[60816]: {"level":"fatal","ts":"2026-02-13T07:04:59.706099Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 07:04:59 np0000056224 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 07:04:59 np0000056224 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 07:04:59 np0000056224 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 07:04:59 np0000056224 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 07:04:59 np0000056224 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 07:04:59 np0000056224 etcd[60837]: {"level":"warn","ts":"2026-02-13T07:04:59.957008Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 07:04:59 np0000056224 etcd[60837]: {"level":"info","ts":"2026-02-13T07:04:59.958146Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056224","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056224=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 07:04:59 np0000056224 etcd[60837]: {"level":"warn","ts":"2026-02-13T07:04:59.958662Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 07:04:59 np0000056224 etcd[60837]: {"level":"info","ts":"2026-02-13T07:04:59.958935Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 07:04:59 np0000056224 etcd[60837]: {"level":"info","ts":"2026-02-13T07:04:59.959696Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:04:59 np0000056224 etcd[60837]: {"level":"info","ts":"2026-02-13T07:04:59.960068Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:04:59 np0000056224 etcd[60837]: {"level":"info","ts":"2026-02-13T07:04:59.960350Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:04:59 np0000056224 etcd[60837]: {"level":"warn","ts":"2026-02-13T07:04:59.960426Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 07:04:59 np0000056224 etcd[60837]: {"level":"fatal","ts":"2026-02-13T07:04:59.960511Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 07:04:59 np0000056224 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 07:04:59 np0000056224 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 07:04:59 np0000056224 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 07:05:00 np0000056224 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 07:05:00 np0000056224 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 07:05:00 np0000056224 etcd[60868]: {"level":"warn","ts":"2026-02-13T07:05:00.219803Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 07:05:00 np0000056224 etcd[60868]: {"level":"info","ts":"2026-02-13T07:05:00.220068Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056224","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056224=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 07:05:00 np0000056224 etcd[60868]: {"level":"warn","ts":"2026-02-13T07:05:00.220339Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 07:05:00 np0000056224 etcd[60868]: {"level":"info","ts":"2026-02-13T07:05:00.220380Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 07:05:00 np0000056224 etcd[60868]: {"level":"info","ts":"2026-02-13T07:05:00.221025Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:05:00 np0000056224 etcd[60868]: {"level":"info","ts":"2026-02-13T07:05:00.221180Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:05:00 np0000056224 etcd[60868]: {"level":"info","ts":"2026-02-13T07:05:00.221279Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 07:05:00 np0000056224 etcd[60868]: {"level":"warn","ts":"2026-02-13T07:05:00.221374Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 07:05:00 np0000056224 etcd[60868]: {"level":"fatal","ts":"2026-02-13T07:05:00.221484Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 07:05:00 np0000056224 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 07:05:00 np0000056224 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 07:05:00 np0000056224 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 07:05:00 np0000056224 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 07:05:00 np0000056224 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 07:05:00 np0000056224 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 07:05:00 np0000056224 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
