Jun 16 16:10:28 np0000094369 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 16:10:28 np0000094369 etcd[60062]: {"level":"warn","ts":"2026-06-16T16:10:28.267934Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 16:10:28 np0000094369 etcd[60062]: {"level":"info","ts":"2026-06-16T16:10:28.268063Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094369","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094369=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 16:10:28 np0000094369 etcd[60062]: {"level":"warn","ts":"2026-06-16T16:10:28.268186Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 16:10:28 np0000094369 etcd[60062]: {"level":"info","ts":"2026-06-16T16:10:28.268215Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 16:10:28 np0000094369 etcd[60062]: {"level":"info","ts":"2026-06-16T16:10:28.268708Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:28 np0000094369 etcd[60062]: {"level":"info","ts":"2026-06-16T16:10:28.268809Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094369","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:28 np0000094369 etcd[60062]: {"level":"info","ts":"2026-06-16T16:10:28.270295Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094369","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:28 np0000094369 etcd[60062]: {"level":"warn","ts":"2026-06-16T16:10:28.270363Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 16:10:28 np0000094369 etcd[60062]: {"level":"fatal","ts":"2026-06-16T16:10:28.270415Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 16:10:28 np0000094369 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 16:10:28 np0000094369 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 16:10:28 np0000094369 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 16:10:28 np0000094369 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 16 16:10:28 np0000094369 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 16:10:28 np0000094369 etcd[60161]: {"level":"warn","ts":"2026-06-16T16:10:28.622743Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 16:10:28 np0000094369 etcd[60161]: {"level":"info","ts":"2026-06-16T16:10:28.622884Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094369","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094369=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 16:10:28 np0000094369 etcd[60161]: {"level":"warn","ts":"2026-06-16T16:10:28.623006Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 16:10:28 np0000094369 etcd[60161]: {"level":"info","ts":"2026-06-16T16:10:28.623034Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 16:10:28 np0000094369 etcd[60161]: {"level":"info","ts":"2026-06-16T16:10:28.623396Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:28 np0000094369 etcd[60161]: {"level":"info","ts":"2026-06-16T16:10:28.623498Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094369","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:28 np0000094369 etcd[60161]: {"level":"info","ts":"2026-06-16T16:10:28.623555Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094369","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:28 np0000094369 etcd[60161]: {"level":"warn","ts":"2026-06-16T16:10:28.623615Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 16:10:28 np0000094369 etcd[60161]: {"level":"fatal","ts":"2026-06-16T16:10:28.623671Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 16:10:28 np0000094369 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 16:10:28 np0000094369 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 16:10:28 np0000094369 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 16:10:28 np0000094369 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 16 16:10:28 np0000094369 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 16:10:28 np0000094369 etcd[60182]: {"level":"warn","ts":"2026-06-16T16:10:28.882432Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 16:10:28 np0000094369 etcd[60182]: {"level":"info","ts":"2026-06-16T16:10:28.882679Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094369","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094369=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 16:10:28 np0000094369 etcd[60182]: {"level":"warn","ts":"2026-06-16T16:10:28.882838Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 16:10:28 np0000094369 etcd[60182]: {"level":"info","ts":"2026-06-16T16:10:28.882880Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 16:10:28 np0000094369 etcd[60182]: {"level":"info","ts":"2026-06-16T16:10:28.883371Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:28 np0000094369 etcd[60182]: {"level":"info","ts":"2026-06-16T16:10:28.883492Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094369","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:28 np0000094369 etcd[60182]: {"level":"info","ts":"2026-06-16T16:10:28.883553Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094369","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:28 np0000094369 etcd[60182]: {"level":"warn","ts":"2026-06-16T16:10:28.883673Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 16:10:28 np0000094369 etcd[60182]: {"level":"fatal","ts":"2026-06-16T16:10:28.883739Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 16:10:28 np0000094369 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 16:10:28 np0000094369 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 16:10:28 np0000094369 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 16:10:29 np0000094369 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 16 16:10:29 np0000094369 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 16:10:29 np0000094369 etcd[60202]: {"level":"warn","ts":"2026-06-16T16:10:29.141977Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 16:10:29 np0000094369 etcd[60202]: {"level":"info","ts":"2026-06-16T16:10:29.142143Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094369","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094369=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 16:10:29 np0000094369 etcd[60202]: {"level":"warn","ts":"2026-06-16T16:10:29.142298Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 16:10:29 np0000094369 etcd[60202]: {"level":"info","ts":"2026-06-16T16:10:29.142352Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 16:10:29 np0000094369 etcd[60202]: {"level":"info","ts":"2026-06-16T16:10:29.142840Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:29 np0000094369 etcd[60202]: {"level":"info","ts":"2026-06-16T16:10:29.142950Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094369","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:29 np0000094369 etcd[60202]: {"level":"info","ts":"2026-06-16T16:10:29.143023Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094369","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:29 np0000094369 etcd[60202]: {"level":"warn","ts":"2026-06-16T16:10:29.143079Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 16:10:29 np0000094369 etcd[60202]: {"level":"fatal","ts":"2026-06-16T16:10:29.143138Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 16:10:29 np0000094369 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 16:10:29 np0000094369 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 16:10:29 np0000094369 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 16:10:29 np0000094369 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 16 16:10:29 np0000094369 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 16:10:29 np0000094369 etcd[60238]: {"level":"warn","ts":"2026-06-16T16:10:29.381983Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 16:10:29 np0000094369 etcd[60238]: {"level":"info","ts":"2026-06-16T16:10:29.382112Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094369","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094369=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 16:10:29 np0000094369 etcd[60238]: {"level":"warn","ts":"2026-06-16T16:10:29.382234Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 16:10:29 np0000094369 etcd[60238]: {"level":"info","ts":"2026-06-16T16:10:29.382256Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 16:10:29 np0000094369 etcd[60238]: {"level":"info","ts":"2026-06-16T16:10:29.382686Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:29 np0000094369 etcd[60238]: {"level":"info","ts":"2026-06-16T16:10:29.382776Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094369","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:29 np0000094369 etcd[60238]: {"level":"info","ts":"2026-06-16T16:10:29.382838Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094369","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 16:10:29 np0000094369 etcd[60238]: {"level":"warn","ts":"2026-06-16T16:10:29.382885Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 16:10:29 np0000094369 etcd[60238]: {"level":"fatal","ts":"2026-06-16T16:10:29.382932Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 16:10:29 np0000094369 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 16:10:29 np0000094369 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 16:10:29 np0000094369 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 16:10:29 np0000094369 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 16 16:10:29 np0000094369 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 16 16:10:29 np0000094369 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 16:10:29 np0000094369 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
