Jun 18 17:25:42 np0000094399 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 17:25:42 np0000094399 etcd[60551]: {"level":"warn","ts":"2026-06-18T17:25:42.207041Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 17:25:42 np0000094399 etcd[60551]: {"level":"info","ts":"2026-06-18T17:25:42.207242Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094399","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094399=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 17:25:42 np0000094399 etcd[60551]: {"level":"warn","ts":"2026-06-18T17:25:42.207450Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 17:25:42 np0000094399 etcd[60551]: {"level":"info","ts":"2026-06-18T17:25:42.207493Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 17:25:42 np0000094399 etcd[60551]: {"level":"info","ts":"2026-06-18T17:25:42.208036Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:42 np0000094399 etcd[60551]: {"level":"info","ts":"2026-06-18T17:25:42.208179Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094399","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:42 np0000094399 etcd[60551]: {"level":"info","ts":"2026-06-18T17:25:42.208242Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094399","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:42 np0000094399 etcd[60551]: {"level":"warn","ts":"2026-06-18T17:25:42.208305Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 17:25:42 np0000094399 etcd[60551]: {"level":"fatal","ts":"2026-06-18T17:25:42.208376Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 17:25:42 np0000094399 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 17:25:42 np0000094399 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 17:25:42 np0000094399 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 17:25:42 np0000094399 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 18 17:25:42 np0000094399 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 17:25:42 np0000094399 etcd[60644]: {"level":"warn","ts":"2026-06-18T17:25:42.577869Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 17:25:42 np0000094399 etcd[60644]: {"level":"info","ts":"2026-06-18T17:25:42.578057Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094399","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094399=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 17:25:42 np0000094399 etcd[60644]: {"level":"warn","ts":"2026-06-18T17:25:42.578255Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 17:25:42 np0000094399 etcd[60644]: {"level":"info","ts":"2026-06-18T17:25:42.578285Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 17:25:42 np0000094399 etcd[60644]: {"level":"info","ts":"2026-06-18T17:25:42.578752Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:42 np0000094399 etcd[60644]: {"level":"info","ts":"2026-06-18T17:25:42.578858Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094399","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:42 np0000094399 etcd[60644]: {"level":"info","ts":"2026-06-18T17:25:42.578947Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094399","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:42 np0000094399 etcd[60644]: {"level":"warn","ts":"2026-06-18T17:25:42.578997Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 17:25:42 np0000094399 etcd[60644]: {"level":"fatal","ts":"2026-06-18T17:25:42.579053Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 17:25:42 np0000094399 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 17:25:42 np0000094399 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 17:25:42 np0000094399 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 17:25:42 np0000094399 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 18 17:25:42 np0000094399 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 17:25:42 np0000094399 etcd[60672]: {"level":"warn","ts":"2026-06-18T17:25:42.830257Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 17:25:42 np0000094399 etcd[60672]: {"level":"info","ts":"2026-06-18T17:25:42.830420Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094399","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094399=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 17:25:42 np0000094399 etcd[60672]: {"level":"warn","ts":"2026-06-18T17:25:42.830587Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 17:25:42 np0000094399 etcd[60672]: {"level":"info","ts":"2026-06-18T17:25:42.830618Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 17:25:42 np0000094399 etcd[60672]: {"level":"info","ts":"2026-06-18T17:25:42.830992Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:42 np0000094399 etcd[60672]: {"level":"info","ts":"2026-06-18T17:25:42.831086Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094399","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:42 np0000094399 etcd[60672]: {"level":"info","ts":"2026-06-18T17:25:42.831150Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094399","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:42 np0000094399 etcd[60672]: {"level":"warn","ts":"2026-06-18T17:25:42.831192Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 17:25:42 np0000094399 etcd[60672]: {"level":"fatal","ts":"2026-06-18T17:25:42.831261Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 17:25:42 np0000094399 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 17:25:42 np0000094399 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 17:25:42 np0000094399 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 17:25:43 np0000094399 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 18 17:25:43 np0000094399 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 17:25:43 np0000094399 etcd[60693]: {"level":"warn","ts":"2026-06-18T17:25:43.092399Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 17:25:43 np0000094399 etcd[60693]: {"level":"info","ts":"2026-06-18T17:25:43.092657Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094399","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094399=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 17:25:43 np0000094399 etcd[60693]: {"level":"warn","ts":"2026-06-18T17:25:43.092839Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 17:25:43 np0000094399 etcd[60693]: {"level":"info","ts":"2026-06-18T17:25:43.092881Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 17:25:43 np0000094399 etcd[60693]: {"level":"info","ts":"2026-06-18T17:25:43.093423Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:43 np0000094399 etcd[60693]: {"level":"info","ts":"2026-06-18T17:25:43.093590Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094399","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:43 np0000094399 etcd[60693]: {"level":"info","ts":"2026-06-18T17:25:43.093672Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094399","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:43 np0000094399 etcd[60693]: {"level":"warn","ts":"2026-06-18T17:25:43.093739Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 17:25:43 np0000094399 etcd[60693]: {"level":"fatal","ts":"2026-06-18T17:25:43.093807Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 17:25:43 np0000094399 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 17:25:43 np0000094399 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 17:25:43 np0000094399 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 17:25:43 np0000094399 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 18 17:25:43 np0000094399 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 17:25:43 np0000094399 etcd[60707]: {"level":"warn","ts":"2026-06-18T17:25:43.343804Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 17:25:43 np0000094399 etcd[60707]: {"level":"info","ts":"2026-06-18T17:25:43.344010Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094399","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094399=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 17:25:43 np0000094399 etcd[60707]: {"level":"warn","ts":"2026-06-18T17:25:43.344173Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 17:25:43 np0000094399 etcd[60707]: {"level":"info","ts":"2026-06-18T17:25:43.344215Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 17:25:43 np0000094399 etcd[60707]: {"level":"info","ts":"2026-06-18T17:25:43.346360Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:43 np0000094399 etcd[60707]: {"level":"info","ts":"2026-06-18T17:25:43.346553Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094399","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:43 np0000094399 etcd[60707]: {"level":"info","ts":"2026-06-18T17:25:43.346643Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094399","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 17:25:43 np0000094399 etcd[60707]: {"level":"warn","ts":"2026-06-18T17:25:43.346704Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 17:25:43 np0000094399 etcd[60707]: {"level":"fatal","ts":"2026-06-18T17:25:43.346822Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 17:25:43 np0000094399 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 17:25:43 np0000094399 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 17:25:43 np0000094399 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 17:25:43 np0000094399 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 18 17:25:43 np0000094399 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 18 17:25:43 np0000094399 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 17:25:43 np0000094399 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
