Jun 01 18:37:21 np0000094202 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 18:37:21 np0000094202 etcd[60170]: {"level":"warn","ts":"2026-06-01T18:37:21.757308Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 18:37:21 np0000094202 etcd[60170]: {"level":"info","ts":"2026-06-01T18:37:21.757474Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094202","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094202=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 18:37:21 np0000094202 etcd[60170]: {"level":"warn","ts":"2026-06-01T18:37:21.757681Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 18:37:21 np0000094202 etcd[60170]: {"level":"info","ts":"2026-06-01T18:37:21.757712Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 18:37:21 np0000094202 etcd[60170]: {"level":"info","ts":"2026-06-01T18:37:21.758210Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:21 np0000094202 etcd[60170]: {"level":"info","ts":"2026-06-01T18:37:21.758320Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094202","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:21 np0000094202 etcd[60170]: {"level":"info","ts":"2026-06-01T18:37:21.758396Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094202","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:21 np0000094202 etcd[60170]: {"level":"warn","ts":"2026-06-01T18:37:21.758530Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 18:37:21 np0000094202 etcd[60170]: {"level":"fatal","ts":"2026-06-01T18:37:21.758616Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 18:37:21 np0000094202 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 18:37:21 np0000094202 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 18:37:21 np0000094202 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 18:37:21 np0000094202 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 01 18:37:21 np0000094202 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 18:37:21 np0000094202 etcd[60213]: {"level":"warn","ts":"2026-06-01T18:37:21.959852Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 18:37:21 np0000094202 etcd[60213]: {"level":"info","ts":"2026-06-01T18:37:21.960010Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094202","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094202=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 18:37:21 np0000094202 etcd[60213]: {"level":"warn","ts":"2026-06-01T18:37:21.960167Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 18:37:21 np0000094202 etcd[60213]: {"level":"info","ts":"2026-06-01T18:37:21.960204Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 18:37:21 np0000094202 etcd[60213]: {"level":"info","ts":"2026-06-01T18:37:21.960587Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:21 np0000094202 etcd[60213]: {"level":"info","ts":"2026-06-01T18:37:21.960704Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094202","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:21 np0000094202 etcd[60213]: {"level":"info","ts":"2026-06-01T18:37:21.960815Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094202","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:21 np0000094202 etcd[60213]: {"level":"warn","ts":"2026-06-01T18:37:21.960868Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 18:37:21 np0000094202 etcd[60213]: {"level":"fatal","ts":"2026-06-01T18:37:21.960929Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 18:37:21 np0000094202 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 18:37:21 np0000094202 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 18:37:21 np0000094202 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 18:37:22 np0000094202 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 01 18:37:22 np0000094202 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 18:37:22 np0000094202 etcd[60291]: {"level":"warn","ts":"2026-06-01T18:37:22.202798Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 18:37:22 np0000094202 etcd[60291]: {"level":"info","ts":"2026-06-01T18:37:22.203004Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094202","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094202=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 18:37:22 np0000094202 etcd[60291]: {"level":"warn","ts":"2026-06-01T18:37:22.203218Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 18:37:22 np0000094202 etcd[60291]: {"level":"info","ts":"2026-06-01T18:37:22.203252Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 18:37:22 np0000094202 etcd[60291]: {"level":"info","ts":"2026-06-01T18:37:22.203812Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:22 np0000094202 etcd[60291]: {"level":"info","ts":"2026-06-01T18:37:22.203936Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094202","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:22 np0000094202 etcd[60291]: {"level":"info","ts":"2026-06-01T18:37:22.204017Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094202","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:22 np0000094202 etcd[60291]: {"level":"warn","ts":"2026-06-01T18:37:22.204074Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 18:37:22 np0000094202 etcd[60291]: {"level":"fatal","ts":"2026-06-01T18:37:22.204153Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 18:37:22 np0000094202 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 18:37:22 np0000094202 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 18:37:22 np0000094202 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 18:37:22 np0000094202 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 01 18:37:22 np0000094202 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 18:37:22 np0000094202 etcd[60299]: {"level":"warn","ts":"2026-06-01T18:37:22.460179Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 18:37:22 np0000094202 etcd[60299]: {"level":"info","ts":"2026-06-01T18:37:22.460363Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094202","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094202=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 18:37:22 np0000094202 etcd[60299]: {"level":"warn","ts":"2026-06-01T18:37:22.460574Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 18:37:22 np0000094202 etcd[60299]: {"level":"info","ts":"2026-06-01T18:37:22.460617Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 18:37:22 np0000094202 etcd[60299]: {"level":"info","ts":"2026-06-01T18:37:22.461164Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:22 np0000094202 etcd[60299]: {"level":"info","ts":"2026-06-01T18:37:22.461283Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094202","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:22 np0000094202 etcd[60299]: {"level":"info","ts":"2026-06-01T18:37:22.461367Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094202","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:22 np0000094202 etcd[60299]: {"level":"warn","ts":"2026-06-01T18:37:22.461424Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 18:37:22 np0000094202 etcd[60299]: {"level":"fatal","ts":"2026-06-01T18:37:22.461511Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 18:37:22 np0000094202 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 18:37:22 np0000094202 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 18:37:22 np0000094202 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 18:37:22 np0000094202 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 01 18:37:22 np0000094202 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 18:37:22 np0000094202 etcd[60327]: {"level":"warn","ts":"2026-06-01T18:37:22.692362Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 18:37:22 np0000094202 etcd[60327]: {"level":"info","ts":"2026-06-01T18:37:22.692527Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094202","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094202=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 18:37:22 np0000094202 etcd[60327]: {"level":"warn","ts":"2026-06-01T18:37:22.692678Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 18:37:22 np0000094202 etcd[60327]: {"level":"info","ts":"2026-06-01T18:37:22.692731Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 18:37:22 np0000094202 etcd[60327]: {"level":"info","ts":"2026-06-01T18:37:22.693386Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:22 np0000094202 etcd[60327]: {"level":"info","ts":"2026-06-01T18:37:22.693571Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094202","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:22 np0000094202 etcd[60327]: {"level":"info","ts":"2026-06-01T18:37:22.693678Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094202","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 18:37:22 np0000094202 etcd[60327]: {"level":"warn","ts":"2026-06-01T18:37:22.693793Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 18:37:22 np0000094202 etcd[60327]: {"level":"fatal","ts":"2026-06-01T18:37:22.693887Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 18:37:22 np0000094202 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 18:37:22 np0000094202 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 18:37:22 np0000094202 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 18:37:22 np0000094202 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 01 18:37:22 np0000094202 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 01 18:37:22 np0000094202 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 18:37:22 np0000094202 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
