Jun 23 13:50:20 np0000094445 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 13:50:20 np0000094445 etcd[60164]: {"level":"warn","ts":"2026-06-23T13:50:20.275037Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:50:20 np0000094445 etcd[60164]: {"level":"info","ts":"2026-06-23T13:50:20.275257Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094445","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094445=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 13:50:20 np0000094445 etcd[60164]: {"level":"warn","ts":"2026-06-23T13:50:20.275400Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:50:20 np0000094445 etcd[60164]: {"level":"info","ts":"2026-06-23T13:50:20.275429Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 13:50:20 np0000094445 etcd[60164]: {"level":"info","ts":"2026-06-23T13:50:20.275886Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:20 np0000094445 etcd[60164]: {"level":"info","ts":"2026-06-23T13:50:20.275996Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094445","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:20 np0000094445 etcd[60164]: {"level":"info","ts":"2026-06-23T13:50:20.276097Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094445","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:20 np0000094445 etcd[60164]: {"level":"warn","ts":"2026-06-23T13:50:20.276152Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 13:50:20 np0000094445 etcd[60164]: {"level":"fatal","ts":"2026-06-23T13:50:20.276242Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 13:50:20 np0000094445 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 13:50:20 np0000094445 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 13:50:20 np0000094445 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 13:50:20 np0000094445 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 23 13:50:20 np0000094445 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 13:50:20 np0000094445 etcd[60250]: {"level":"warn","ts":"2026-06-23T13:50:20.619430Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:50:20 np0000094445 etcd[60250]: {"level":"info","ts":"2026-06-23T13:50:20.619605Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094445","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094445=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 13:50:20 np0000094445 etcd[60250]: {"level":"warn","ts":"2026-06-23T13:50:20.619751Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:50:20 np0000094445 etcd[60250]: {"level":"info","ts":"2026-06-23T13:50:20.619784Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 13:50:20 np0000094445 etcd[60250]: {"level":"info","ts":"2026-06-23T13:50:20.620362Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:20 np0000094445 etcd[60250]: {"level":"info","ts":"2026-06-23T13:50:20.620481Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094445","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:20 np0000094445 etcd[60250]: {"level":"info","ts":"2026-06-23T13:50:20.620556Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094445","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:20 np0000094445 etcd[60250]: {"level":"warn","ts":"2026-06-23T13:50:20.620621Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 13:50:20 np0000094445 etcd[60250]: {"level":"fatal","ts":"2026-06-23T13:50:20.620684Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 13:50:20 np0000094445 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 13:50:20 np0000094445 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 13:50:20 np0000094445 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 13:50:20 np0000094445 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 23 13:50:20 np0000094445 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 13:50:20 np0000094445 etcd[60284]: {"level":"warn","ts":"2026-06-23T13:50:20.859253Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:50:20 np0000094445 etcd[60284]: {"level":"info","ts":"2026-06-23T13:50:20.859415Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094445","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094445=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 13:50:20 np0000094445 etcd[60284]: {"level":"warn","ts":"2026-06-23T13:50:20.859554Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:50:20 np0000094445 etcd[60284]: {"level":"info","ts":"2026-06-23T13:50:20.859583Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 13:50:20 np0000094445 etcd[60284]: {"level":"info","ts":"2026-06-23T13:50:20.861386Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:20 np0000094445 etcd[60284]: {"level":"info","ts":"2026-06-23T13:50:20.861613Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094445","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:20 np0000094445 etcd[60284]: {"level":"info","ts":"2026-06-23T13:50:20.861687Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094445","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:20 np0000094445 etcd[60284]: {"level":"warn","ts":"2026-06-23T13:50:20.861797Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 13:50:20 np0000094445 etcd[60284]: {"level":"fatal","ts":"2026-06-23T13:50:20.863225Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 13:50:20 np0000094445 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 13:50:20 np0000094445 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 13:50:20 np0000094445 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 13:50:21 np0000094445 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 23 13:50:21 np0000094445 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 13:50:21 np0000094445 etcd[60304]: {"level":"warn","ts":"2026-06-23T13:50:21.101584Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:50:21 np0000094445 etcd[60304]: {"level":"info","ts":"2026-06-23T13:50:21.101726Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094445","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094445=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 13:50:21 np0000094445 etcd[60304]: {"level":"warn","ts":"2026-06-23T13:50:21.101865Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:50:21 np0000094445 etcd[60304]: {"level":"info","ts":"2026-06-23T13:50:21.101889Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 13:50:21 np0000094445 etcd[60304]: {"level":"info","ts":"2026-06-23T13:50:21.102316Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:21 np0000094445 etcd[60304]: {"level":"info","ts":"2026-06-23T13:50:21.102420Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094445","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:21 np0000094445 etcd[60304]: {"level":"info","ts":"2026-06-23T13:50:21.102490Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094445","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:21 np0000094445 etcd[60304]: {"level":"warn","ts":"2026-06-23T13:50:21.102542Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 13:50:21 np0000094445 etcd[60304]: {"level":"fatal","ts":"2026-06-23T13:50:21.102594Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 13:50:21 np0000094445 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 13:50:21 np0000094445 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 13:50:21 np0000094445 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 13:50:21 np0000094445 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 23 13:50:21 np0000094445 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 13:50:21 np0000094445 etcd[60337]: {"level":"warn","ts":"2026-06-23T13:50:21.367314Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:50:21 np0000094445 etcd[60337]: {"level":"info","ts":"2026-06-23T13:50:21.367474Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094445","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094445=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 13:50:21 np0000094445 etcd[60337]: {"level":"warn","ts":"2026-06-23T13:50:21.367633Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:50:21 np0000094445 etcd[60337]: {"level":"info","ts":"2026-06-23T13:50:21.367674Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 13:50:21 np0000094445 etcd[60337]: {"level":"info","ts":"2026-06-23T13:50:21.369650Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:21 np0000094445 etcd[60337]: {"level":"info","ts":"2026-06-23T13:50:21.369956Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094445","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:21 np0000094445 etcd[60337]: {"level":"info","ts":"2026-06-23T13:50:21.370341Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094445","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:50:21 np0000094445 etcd[60337]: {"level":"warn","ts":"2026-06-23T13:50:21.370413Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 13:50:21 np0000094445 etcd[60337]: {"level":"fatal","ts":"2026-06-23T13:50:21.370482Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 13:50:21 np0000094445 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 13:50:21 np0000094445 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 13:50:21 np0000094445 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 13:50:21 np0000094445 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 23 13:50:21 np0000094445 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 23 13:50:21 np0000094445 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 13:50:21 np0000094445 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
