Apr 16 23:37:58 np0000093996 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 23:37:58 np0000093996 etcd[60274]: {"level":"warn","ts":"2026-04-16T23:37:58.780657Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 23:37:58 np0000093996 etcd[60274]: {"level":"info","ts":"2026-04-16T23:37:58.780882Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093996","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093996=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 23:37:58 np0000093996 etcd[60274]: {"level":"warn","ts":"2026-04-16T23:37:58.781074Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 23:37:58 np0000093996 etcd[60274]: {"level":"info","ts":"2026-04-16T23:37:58.781104Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 23:37:58 np0000093996 etcd[60274]: {"level":"info","ts":"2026-04-16T23:37:58.781533Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:58 np0000093996 etcd[60274]: {"level":"info","ts":"2026-04-16T23:37:58.781635Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093996","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:58 np0000093996 etcd[60274]: {"level":"info","ts":"2026-04-16T23:37:58.781705Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093996","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:58 np0000093996 etcd[60274]: {"level":"warn","ts":"2026-04-16T23:37:58.781754Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 23:37:58 np0000093996 etcd[60274]: {"level":"fatal","ts":"2026-04-16T23:37:58.781827Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 23:37:58 np0000093996 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 23:37:58 np0000093996 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 23:37:58 np0000093996 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 23:37:58 np0000093996 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 16 23:37:58 np0000093996 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 23:37:59 np0000093996 etcd[60321]: {"level":"warn","ts":"2026-04-16T23:37:59.006206Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 23:37:59 np0000093996 etcd[60321]: {"level":"info","ts":"2026-04-16T23:37:59.006397Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093996","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093996=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 23:37:59 np0000093996 etcd[60321]: {"level":"warn","ts":"2026-04-16T23:37:59.006547Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 23:37:59 np0000093996 etcd[60321]: {"level":"info","ts":"2026-04-16T23:37:59.006574Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 23:37:59 np0000093996 etcd[60321]: {"level":"info","ts":"2026-04-16T23:37:59.007042Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:59 np0000093996 etcd[60321]: {"level":"info","ts":"2026-04-16T23:37:59.007155Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093996","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:59 np0000093996 etcd[60321]: {"level":"info","ts":"2026-04-16T23:37:59.007228Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093996","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:59 np0000093996 etcd[60321]: {"level":"warn","ts":"2026-04-16T23:37:59.007373Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 23:37:59 np0000093996 etcd[60321]: {"level":"fatal","ts":"2026-04-16T23:37:59.007435Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 23:37:59 np0000093996 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 16 23:37:59 np0000093996 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 23:37:59 np0000093996 etcd[60394]: {"level":"warn","ts":"2026-04-16T23:37:59.258780Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 23:37:59 np0000093996 etcd[60394]: {"level":"info","ts":"2026-04-16T23:37:59.259048Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093996","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093996=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 23:37:59 np0000093996 etcd[60394]: {"level":"warn","ts":"2026-04-16T23:37:59.259220Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 23:37:59 np0000093996 etcd[60394]: {"level":"info","ts":"2026-04-16T23:37:59.259254Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 23:37:59 np0000093996 etcd[60394]: {"level":"info","ts":"2026-04-16T23:37:59.260821Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:59 np0000093996 etcd[60394]: {"level":"info","ts":"2026-04-16T23:37:59.261011Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093996","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:59 np0000093996 etcd[60394]: {"level":"info","ts":"2026-04-16T23:37:59.261090Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093996","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:59 np0000093996 etcd[60394]: {"level":"warn","ts":"2026-04-16T23:37:59.261146Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 23:37:59 np0000093996 etcd[60394]: {"level":"fatal","ts":"2026-04-16T23:37:59.261212Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 23:37:59 np0000093996 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 16 23:37:59 np0000093996 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 23:37:59 np0000093996 etcd[60401]: {"level":"warn","ts":"2026-04-16T23:37:59.500076Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 23:37:59 np0000093996 etcd[60401]: {"level":"info","ts":"2026-04-16T23:37:59.500241Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093996","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093996=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 23:37:59 np0000093996 etcd[60401]: {"level":"warn","ts":"2026-04-16T23:37:59.500399Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 23:37:59 np0000093996 etcd[60401]: {"level":"info","ts":"2026-04-16T23:37:59.500446Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 23:37:59 np0000093996 etcd[60401]: {"level":"info","ts":"2026-04-16T23:37:59.501184Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:59 np0000093996 etcd[60401]: {"level":"info","ts":"2026-04-16T23:37:59.501398Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093996","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:59 np0000093996 etcd[60401]: {"level":"info","ts":"2026-04-16T23:37:59.501518Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093996","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:59 np0000093996 etcd[60401]: {"level":"warn","ts":"2026-04-16T23:37:59.501659Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 23:37:59 np0000093996 etcd[60401]: {"level":"fatal","ts":"2026-04-16T23:37:59.501813Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 23:37:59 np0000093996 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 16 23:37:59 np0000093996 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 23:37:59 np0000093996 etcd[60421]: {"level":"warn","ts":"2026-04-16T23:37:59.755096Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 23:37:59 np0000093996 etcd[60421]: {"level":"info","ts":"2026-04-16T23:37:59.755620Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093996","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093996=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 23:37:59 np0000093996 etcd[60421]: {"level":"warn","ts":"2026-04-16T23:37:59.755851Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 23:37:59 np0000093996 etcd[60421]: {"level":"info","ts":"2026-04-16T23:37:59.755917Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 23:37:59 np0000093996 etcd[60421]: {"level":"info","ts":"2026-04-16T23:37:59.756531Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:59 np0000093996 etcd[60421]: {"level":"info","ts":"2026-04-16T23:37:59.756664Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093996","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:59 np0000093996 etcd[60421]: {"level":"info","ts":"2026-04-16T23:37:59.756753Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093996","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 23:37:59 np0000093996 etcd[60421]: {"level":"warn","ts":"2026-04-16T23:37:59.756857Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 23:37:59 np0000093996 etcd[60421]: {"level":"fatal","ts":"2026-04-16T23:37:59.756992Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 23:37:59 np0000093996 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 16 23:37:59 np0000093996 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 23:37:59 np0000093996 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
