Apr 21 13:03:01 np0000094041 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 13:03:01 np0000094041 etcd[60618]: {"level":"warn","ts":"2026-04-21T13:03:01.141063Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 13:03:01 np0000094041 etcd[60618]: {"level":"info","ts":"2026-04-21T13:03:01.142389Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094041","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094041=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 13:03:01 np0000094041 etcd[60618]: {"level":"warn","ts":"2026-04-21T13:03:01.142700Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 13:03:01 np0000094041 etcd[60618]: {"level":"info","ts":"2026-04-21T13:03:01.142739Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 13:03:01 np0000094041 etcd[60618]: {"level":"info","ts":"2026-04-21T13:03:01.143292Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:01 np0000094041 etcd[60618]: {"level":"info","ts":"2026-04-21T13:03:01.143419Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094041","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:01 np0000094041 etcd[60618]: {"level":"info","ts":"2026-04-21T13:03:01.143505Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094041","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:01 np0000094041 etcd[60618]: {"level":"warn","ts":"2026-04-21T13:03:01.143565Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 13:03:01 np0000094041 etcd[60618]: {"level":"fatal","ts":"2026-04-21T13:03:01.143633Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 13:03:01 np0000094041 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 13:03:01 np0000094041 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 13:03:01 np0000094041 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 13:03:01 np0000094041 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 21 13:03:01 np0000094041 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 13:03:01 np0000094041 etcd[60658]: {"level":"warn","ts":"2026-04-21T13:03:01.338713Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 13:03:01 np0000094041 etcd[60658]: {"level":"info","ts":"2026-04-21T13:03:01.338891Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094041","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094041=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 13:03:01 np0000094041 etcd[60658]: {"level":"warn","ts":"2026-04-21T13:03:01.339050Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 13:03:01 np0000094041 etcd[60658]: {"level":"info","ts":"2026-04-21T13:03:01.339079Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 13:03:01 np0000094041 etcd[60658]: {"level":"info","ts":"2026-04-21T13:03:01.339471Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:01 np0000094041 etcd[60658]: {"level":"info","ts":"2026-04-21T13:03:01.339605Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094041","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:01 np0000094041 etcd[60658]: {"level":"info","ts":"2026-04-21T13:03:01.339742Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094041","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:01 np0000094041 etcd[60658]: {"level":"warn","ts":"2026-04-21T13:03:01.339832Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 13:03:01 np0000094041 etcd[60658]: {"level":"fatal","ts":"2026-04-21T13:03:01.339906Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 13:03:01 np0000094041 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 13:03:01 np0000094041 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 13:03:01 np0000094041 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 13:03:01 np0000094041 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 21 13:03:01 np0000094041 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 13:03:01 np0000094041 etcd[60735]: {"level":"warn","ts":"2026-04-21T13:03:01.572897Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 13:03:01 np0000094041 etcd[60735]: {"level":"info","ts":"2026-04-21T13:03:01.573176Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094041","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094041=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 13:03:01 np0000094041 etcd[60735]: {"level":"warn","ts":"2026-04-21T13:03:01.573396Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 13:03:01 np0000094041 etcd[60735]: {"level":"info","ts":"2026-04-21T13:03:01.573450Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 13:03:01 np0000094041 etcd[60735]: {"level":"info","ts":"2026-04-21T13:03:01.573963Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:01 np0000094041 etcd[60735]: {"level":"info","ts":"2026-04-21T13:03:01.574132Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094041","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:01 np0000094041 etcd[60735]: {"level":"info","ts":"2026-04-21T13:03:01.574219Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094041","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:01 np0000094041 etcd[60735]: {"level":"warn","ts":"2026-04-21T13:03:01.574282Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 13:03:01 np0000094041 etcd[60735]: {"level":"fatal","ts":"2026-04-21T13:03:01.574353Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 13:03:01 np0000094041 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 13:03:01 np0000094041 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 13:03:01 np0000094041 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 13:03:01 np0000094041 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 21 13:03:01 np0000094041 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 13:03:01 np0000094041 etcd[60745]: {"level":"warn","ts":"2026-04-21T13:03:01.838104Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 13:03:01 np0000094041 etcd[60745]: {"level":"info","ts":"2026-04-21T13:03:01.838342Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094041","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094041=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 13:03:01 np0000094041 etcd[60745]: {"level":"warn","ts":"2026-04-21T13:03:01.838534Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 13:03:01 np0000094041 etcd[60745]: {"level":"info","ts":"2026-04-21T13:03:01.838567Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 13:03:01 np0000094041 etcd[60745]: {"level":"info","ts":"2026-04-21T13:03:01.839118Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:01 np0000094041 etcd[60745]: {"level":"info","ts":"2026-04-21T13:03:01.839248Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094041","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:01 np0000094041 etcd[60745]: {"level":"info","ts":"2026-04-21T13:03:01.839334Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094041","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:01 np0000094041 etcd[60745]: {"level":"warn","ts":"2026-04-21T13:03:01.839454Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 13:03:01 np0000094041 etcd[60745]: {"level":"fatal","ts":"2026-04-21T13:03:01.839541Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 13:03:01 np0000094041 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 13:03:01 np0000094041 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 13:03:01 np0000094041 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 13:03:02 np0000094041 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 21 13:03:02 np0000094041 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 13:03:02 np0000094041 etcd[60768]: {"level":"warn","ts":"2026-04-21T13:03:02.083293Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 13:03:02 np0000094041 etcd[60768]: {"level":"info","ts":"2026-04-21T13:03:02.083465Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094041","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094041=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 13:03:02 np0000094041 etcd[60768]: {"level":"warn","ts":"2026-04-21T13:03:02.083660Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 13:03:02 np0000094041 etcd[60768]: {"level":"info","ts":"2026-04-21T13:03:02.083693Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 13:03:02 np0000094041 etcd[60768]: {"level":"info","ts":"2026-04-21T13:03:02.084195Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:02 np0000094041 etcd[60768]: {"level":"info","ts":"2026-04-21T13:03:02.084321Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094041","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:02 np0000094041 etcd[60768]: {"level":"info","ts":"2026-04-21T13:03:02.084407Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094041","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 13:03:02 np0000094041 etcd[60768]: {"level":"warn","ts":"2026-04-21T13:03:02.084472Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 13:03:02 np0000094041 etcd[60768]: {"level":"fatal","ts":"2026-04-21T13:03:02.084540Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 13:03:02 np0000094041 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 13:03:02 np0000094041 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 13:03:02 np0000094041 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 13:03:02 np0000094041 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 21 13:03:02 np0000094041 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 21 13:03:02 np0000094041 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 13:03:02 np0000094041 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
