Feb 14 11:17:17 np0000056254 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 14 11:17:17 np0000056254 etcd[61476]: {"level":"warn","ts":"2026-02-14T11:17:17.948232Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 11:17:17 np0000056254 etcd[61476]: {"level":"info","ts":"2026-02-14T11:17:17.948301Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056254","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056254=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 14 11:17:17 np0000056254 etcd[61476]: {"level":"warn","ts":"2026-02-14T11:17:17.948362Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 11:17:17 np0000056254 etcd[61476]: {"level":"info","ts":"2026-02-14T11:17:17.948372Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 14 11:17:17 np0000056254 etcd[61476]: {"level":"info","ts":"2026-02-14T11:17:17.948564Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:17 np0000056254 etcd[61476]: {"level":"info","ts":"2026-02-14T11:17:17.948604Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056254","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:17 np0000056254 etcd[61476]: {"level":"info","ts":"2026-02-14T11:17:17.948635Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056254","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:17 np0000056254 etcd[61476]: {"level":"warn","ts":"2026-02-14T11:17:17.948653Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 14 11:17:17 np0000056254 etcd[61476]: {"level":"fatal","ts":"2026-02-14T11:17:17.948679Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 14 11:17:17 np0000056254 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 14 11:17:17 np0000056254 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 14 11:17:17 np0000056254 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 14 11:17:18 np0000056254 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 14 11:17:18 np0000056254 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 14 11:17:18 np0000056254 etcd[61571]: {"level":"warn","ts":"2026-02-14T11:17:18.253160Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 11:17:18 np0000056254 etcd[61571]: {"level":"info","ts":"2026-02-14T11:17:18.253283Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056254","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056254=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 14 11:17:18 np0000056254 etcd[61571]: {"level":"warn","ts":"2026-02-14T11:17:18.253376Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 11:17:18 np0000056254 etcd[61571]: {"level":"info","ts":"2026-02-14T11:17:18.253394Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 14 11:17:18 np0000056254 etcd[61571]: {"level":"info","ts":"2026-02-14T11:17:18.253674Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:18 np0000056254 etcd[61571]: {"level":"info","ts":"2026-02-14T11:17:18.253745Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056254","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:18 np0000056254 etcd[61571]: {"level":"info","ts":"2026-02-14T11:17:18.253798Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056254","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:18 np0000056254 etcd[61571]: {"level":"warn","ts":"2026-02-14T11:17:18.253839Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 14 11:17:18 np0000056254 etcd[61571]: {"level":"fatal","ts":"2026-02-14T11:17:18.253878Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 14 11:17:18 np0000056254 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 14 11:17:18 np0000056254 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 14 11:17:18 np0000056254 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 14 11:17:18 np0000056254 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 14 11:17:18 np0000056254 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 14 11:17:18 np0000056254 etcd[61596]: {"level":"warn","ts":"2026-02-14T11:17:18.512237Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 11:17:18 np0000056254 etcd[61596]: {"level":"info","ts":"2026-02-14T11:17:18.512414Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056254","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056254=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 14 11:17:18 np0000056254 etcd[61596]: {"level":"warn","ts":"2026-02-14T11:17:18.512602Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 11:17:18 np0000056254 etcd[61596]: {"level":"info","ts":"2026-02-14T11:17:18.512634Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 14 11:17:18 np0000056254 etcd[61596]: {"level":"info","ts":"2026-02-14T11:17:18.513097Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:18 np0000056254 etcd[61596]: {"level":"info","ts":"2026-02-14T11:17:18.513245Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056254","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:18 np0000056254 etcd[61596]: {"level":"info","ts":"2026-02-14T11:17:18.513350Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056254","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:18 np0000056254 etcd[61596]: {"level":"warn","ts":"2026-02-14T11:17:18.513411Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 14 11:17:18 np0000056254 etcd[61596]: {"level":"fatal","ts":"2026-02-14T11:17:18.513481Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 14 11:17:18 np0000056254 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 14 11:17:18 np0000056254 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 14 11:17:18 np0000056254 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 14 11:17:18 np0000056254 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 14 11:17:18 np0000056254 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 14 11:17:18 np0000056254 etcd[61617]: {"level":"warn","ts":"2026-02-14T11:17:18.764326Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 11:17:18 np0000056254 etcd[61617]: {"level":"info","ts":"2026-02-14T11:17:18.764499Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056254","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056254=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 14 11:17:18 np0000056254 etcd[61617]: {"level":"warn","ts":"2026-02-14T11:17:18.764666Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 11:17:18 np0000056254 etcd[61617]: {"level":"info","ts":"2026-02-14T11:17:18.764698Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 14 11:17:18 np0000056254 etcd[61617]: {"level":"info","ts":"2026-02-14T11:17:18.765441Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:18 np0000056254 etcd[61617]: {"level":"info","ts":"2026-02-14T11:17:18.765618Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056254","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:18 np0000056254 etcd[61617]: {"level":"info","ts":"2026-02-14T11:17:18.765735Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056254","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:18 np0000056254 etcd[61617]: {"level":"warn","ts":"2026-02-14T11:17:18.765821Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 14 11:17:18 np0000056254 etcd[61617]: {"level":"fatal","ts":"2026-02-14T11:17:18.765963Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 14 11:17:18 np0000056254 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 14 11:17:18 np0000056254 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 14 11:17:18 np0000056254 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 14 11:17:18 np0000056254 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 14 11:17:18 np0000056254 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 14 11:17:19 np0000056254 etcd[61655]: {"level":"warn","ts":"2026-02-14T11:17:19.023571Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 11:17:19 np0000056254 etcd[61655]: {"level":"info","ts":"2026-02-14T11:17:19.023784Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056254","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056254=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 14 11:17:19 np0000056254 etcd[61655]: {"level":"warn","ts":"2026-02-14T11:17:19.023944Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 14 11:17:19 np0000056254 etcd[61655]: {"level":"info","ts":"2026-02-14T11:17:19.023994Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 14 11:17:19 np0000056254 etcd[61655]: {"level":"info","ts":"2026-02-14T11:17:19.024475Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:19 np0000056254 etcd[61655]: {"level":"info","ts":"2026-02-14T11:17:19.024594Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056254","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:19 np0000056254 etcd[61655]: {"level":"info","ts":"2026-02-14T11:17:19.024675Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056254","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 14 11:17:19 np0000056254 etcd[61655]: {"level":"warn","ts":"2026-02-14T11:17:19.024732Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 14 11:17:19 np0000056254 etcd[61655]: {"level":"fatal","ts":"2026-02-14T11:17:19.024797Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 14 11:17:19 np0000056254 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 14 11:17:19 np0000056254 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 14 11:17:19 np0000056254 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 14 11:17:19 np0000056254 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 14 11:17:19 np0000056254 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 14 11:17:19 np0000056254 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 14 11:17:19 np0000056254 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
