Apr 08 13:43:07 np0000093869 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 13:43:07 np0000093869 etcd[65237]: {"level":"warn","ts":"2026-04-08T13:43:07.928261Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 13:43:07 np0000093869 etcd[65237]: {"level":"info","ts":"2026-04-08T13:43:07.929075Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093869","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093869=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 13:43:07 np0000093869 etcd[65237]: {"level":"warn","ts":"2026-04-08T13:43:07.929239Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 13:43:07 np0000093869 etcd[65237]: {"level":"info","ts":"2026-04-08T13:43:07.929268Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 13:43:07 np0000093869 etcd[65237]: {"level":"info","ts":"2026-04-08T13:43:07.929693Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:07 np0000093869 etcd[65237]: {"level":"info","ts":"2026-04-08T13:43:07.930645Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093869","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:07 np0000093869 etcd[65237]: {"level":"info","ts":"2026-04-08T13:43:07.930731Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093869","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:07 np0000093869 etcd[65237]: {"level":"warn","ts":"2026-04-08T13:43:07.930805Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 13:43:07 np0000093869 etcd[65237]: {"level":"fatal","ts":"2026-04-08T13:43:07.930860Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 13:43:07 np0000093869 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 13:43:07 np0000093869 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 13:43:07 np0000093869 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 13:43:08 np0000093869 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 08 13:43:08 np0000093869 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 13:43:08 np0000093869 etcd[65313]: {"level":"warn","ts":"2026-04-08T13:43:08.209597Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 13:43:08 np0000093869 etcd[65313]: {"level":"info","ts":"2026-04-08T13:43:08.210514Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093869","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093869=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 13:43:08 np0000093869 etcd[65313]: {"level":"warn","ts":"2026-04-08T13:43:08.210694Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 13:43:08 np0000093869 etcd[65313]: {"level":"info","ts":"2026-04-08T13:43:08.210726Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 13:43:08 np0000093869 etcd[65313]: {"level":"info","ts":"2026-04-08T13:43:08.211169Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:08 np0000093869 etcd[65313]: {"level":"info","ts":"2026-04-08T13:43:08.211268Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093869","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:08 np0000093869 etcd[65313]: {"level":"info","ts":"2026-04-08T13:43:08.211337Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093869","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:08 np0000093869 etcd[65313]: {"level":"warn","ts":"2026-04-08T13:43:08.211391Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 13:43:08 np0000093869 etcd[65313]: {"level":"fatal","ts":"2026-04-08T13:43:08.211459Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 13:43:08 np0000093869 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 13:43:08 np0000093869 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 13:43:08 np0000093869 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 13:43:08 np0000093869 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 08 13:43:08 np0000093869 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 13:43:08 np0000093869 etcd[65357]: {"level":"warn","ts":"2026-04-08T13:43:08.473132Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 13:43:08 np0000093869 etcd[65357]: {"level":"info","ts":"2026-04-08T13:43:08.473311Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093869","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093869=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 13:43:08 np0000093869 etcd[65357]: {"level":"warn","ts":"2026-04-08T13:43:08.473470Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 13:43:08 np0000093869 etcd[65357]: {"level":"info","ts":"2026-04-08T13:43:08.473511Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 13:43:08 np0000093869 etcd[65357]: {"level":"info","ts":"2026-04-08T13:43:08.474004Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:08 np0000093869 etcd[65357]: {"level":"info","ts":"2026-04-08T13:43:08.474153Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093869","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:08 np0000093869 etcd[65357]: {"level":"info","ts":"2026-04-08T13:43:08.474238Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093869","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:08 np0000093869 etcd[65357]: {"level":"warn","ts":"2026-04-08T13:43:08.474295Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 13:43:08 np0000093869 etcd[65357]: {"level":"fatal","ts":"2026-04-08T13:43:08.474366Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 13:43:08 np0000093869 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 13:43:08 np0000093869 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 13:43:08 np0000093869 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 13:43:08 np0000093869 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 08 13:43:08 np0000093869 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 13:43:08 np0000093869 etcd[65374]: {"level":"warn","ts":"2026-04-08T13:43:08.725579Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 13:43:08 np0000093869 etcd[65374]: {"level":"info","ts":"2026-04-08T13:43:08.725749Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093869","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093869=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 13:43:08 np0000093869 etcd[65374]: {"level":"warn","ts":"2026-04-08T13:43:08.725933Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 13:43:08 np0000093869 etcd[65374]: {"level":"info","ts":"2026-04-08T13:43:08.725973Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 13:43:08 np0000093869 etcd[65374]: {"level":"info","ts":"2026-04-08T13:43:08.726446Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:08 np0000093869 etcd[65374]: {"level":"info","ts":"2026-04-08T13:43:08.726624Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093869","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:08 np0000093869 etcd[65374]: {"level":"info","ts":"2026-04-08T13:43:08.726702Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093869","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:08 np0000093869 etcd[65374]: {"level":"warn","ts":"2026-04-08T13:43:08.726755Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 13:43:08 np0000093869 etcd[65374]: {"level":"fatal","ts":"2026-04-08T13:43:08.726873Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 13:43:08 np0000093869 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 13:43:08 np0000093869 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 13:43:08 np0000093869 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 13:43:08 np0000093869 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 08 13:43:08 np0000093869 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 13:43:08 np0000093869 etcd[65407]: {"level":"warn","ts":"2026-04-08T13:43:08.975277Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 13:43:08 np0000093869 etcd[65407]: {"level":"info","ts":"2026-04-08T13:43:08.975480Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093869","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093869=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 13:43:08 np0000093869 etcd[65407]: {"level":"warn","ts":"2026-04-08T13:43:08.975659Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 13:43:08 np0000093869 etcd[65407]: {"level":"info","ts":"2026-04-08T13:43:08.975700Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 13:43:08 np0000093869 etcd[65407]: {"level":"info","ts":"2026-04-08T13:43:08.976211Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:08 np0000093869 etcd[65407]: {"level":"info","ts":"2026-04-08T13:43:08.976326Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093869","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:08 np0000093869 etcd[65407]: {"level":"info","ts":"2026-04-08T13:43:08.976402Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093869","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 13:43:08 np0000093869 etcd[65407]: {"level":"warn","ts":"2026-04-08T13:43:08.976455Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 13:43:08 np0000093869 etcd[65407]: {"level":"fatal","ts":"2026-04-08T13:43:08.976518Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 13:43:08 np0000093869 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 13:43:08 np0000093869 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 13:43:08 np0000093869 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 13:43:09 np0000093869 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 08 13:43:09 np0000093869 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 08 13:43:09 np0000093869 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 13:43:09 np0000093869 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
