Jun 30 06:32:05 np0000094518 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 30 06:32:05 np0000094518 etcd[60513]: {"level":"warn","ts":"2026-06-30T06:32:05.828373Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 30 06:32:05 np0000094518 etcd[60513]: {"level":"info","ts":"2026-06-30T06:32:05.828482Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094518","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094518=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 30 06:32:05 np0000094518 etcd[60513]: {"level":"warn","ts":"2026-06-30T06:32:05.828599Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 30 06:32:05 np0000094518 etcd[60513]: {"level":"info","ts":"2026-06-30T06:32:05.828629Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 30 06:32:05 np0000094518 etcd[60513]: {"level":"info","ts":"2026-06-30T06:32:05.828931Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:05 np0000094518 etcd[60513]: {"level":"info","ts":"2026-06-30T06:32:05.829003Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094518","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:05 np0000094518 etcd[60513]: {"level":"info","ts":"2026-06-30T06:32:05.829052Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094518","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:05 np0000094518 etcd[60513]: {"level":"warn","ts":"2026-06-30T06:32:05.829104Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 30 06:32:05 np0000094518 etcd[60513]: {"level":"fatal","ts":"2026-06-30T06:32:05.829159Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 30 06:32:05 np0000094518 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 30 06:32:05 np0000094518 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 30 06:32:05 np0000094518 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 30 06:32:06 np0000094518 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 30 06:32:06 np0000094518 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 30 06:32:06 np0000094518 etcd[60619]: {"level":"warn","ts":"2026-06-30T06:32:06.240133Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 30 06:32:06 np0000094518 etcd[60619]: {"level":"info","ts":"2026-06-30T06:32:06.240319Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094518","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094518=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 30 06:32:06 np0000094518 etcd[60619]: {"level":"warn","ts":"2026-06-30T06:32:06.240482Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 30 06:32:06 np0000094518 etcd[60619]: {"level":"info","ts":"2026-06-30T06:32:06.240528Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 30 06:32:06 np0000094518 etcd[60619]: {"level":"info","ts":"2026-06-30T06:32:06.240995Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:06 np0000094518 etcd[60619]: {"level":"info","ts":"2026-06-30T06:32:06.241136Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094518","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:06 np0000094518 etcd[60619]: {"level":"info","ts":"2026-06-30T06:32:06.241210Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094518","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:06 np0000094518 etcd[60619]: {"level":"warn","ts":"2026-06-30T06:32:06.241263Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 30 06:32:06 np0000094518 etcd[60619]: {"level":"fatal","ts":"2026-06-30T06:32:06.241331Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 30 06:32:06 np0000094518 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 30 06:32:06 np0000094518 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 30 06:32:06 np0000094518 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 30 06:32:06 np0000094518 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 30 06:32:06 np0000094518 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 30 06:32:06 np0000094518 etcd[60634]: {"level":"warn","ts":"2026-06-30T06:32:06.479637Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 30 06:32:06 np0000094518 etcd[60634]: {"level":"info","ts":"2026-06-30T06:32:06.480722Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094518","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094518=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 30 06:32:06 np0000094518 etcd[60634]: {"level":"warn","ts":"2026-06-30T06:32:06.480883Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 30 06:32:06 np0000094518 etcd[60634]: {"level":"info","ts":"2026-06-30T06:32:06.480930Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 30 06:32:06 np0000094518 etcd[60634]: {"level":"info","ts":"2026-06-30T06:32:06.481374Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:06 np0000094518 etcd[60634]: {"level":"info","ts":"2026-06-30T06:32:06.481499Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094518","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:06 np0000094518 etcd[60634]: {"level":"info","ts":"2026-06-30T06:32:06.481593Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094518","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:06 np0000094518 etcd[60634]: {"level":"warn","ts":"2026-06-30T06:32:06.481641Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 30 06:32:06 np0000094518 etcd[60634]: {"level":"fatal","ts":"2026-06-30T06:32:06.481705Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 30 06:32:06 np0000094518 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 30 06:32:06 np0000094518 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 30 06:32:06 np0000094518 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 30 06:32:06 np0000094518 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 30 06:32:06 np0000094518 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 30 06:32:06 np0000094518 etcd[60657]: {"level":"warn","ts":"2026-06-30T06:32:06.734420Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 30 06:32:06 np0000094518 etcd[60657]: {"level":"info","ts":"2026-06-30T06:32:06.734604Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094518","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094518=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 30 06:32:06 np0000094518 etcd[60657]: {"level":"warn","ts":"2026-06-30T06:32:06.734775Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 30 06:32:06 np0000094518 etcd[60657]: {"level":"info","ts":"2026-06-30T06:32:06.734804Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 30 06:32:06 np0000094518 etcd[60657]: {"level":"info","ts":"2026-06-30T06:32:06.736174Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:06 np0000094518 etcd[60657]: {"level":"info","ts":"2026-06-30T06:32:06.736326Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094518","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:06 np0000094518 etcd[60657]: {"level":"info","ts":"2026-06-30T06:32:06.736404Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094518","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:06 np0000094518 etcd[60657]: {"level":"warn","ts":"2026-06-30T06:32:06.736465Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 30 06:32:06 np0000094518 etcd[60657]: {"level":"fatal","ts":"2026-06-30T06:32:06.736559Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 30 06:32:06 np0000094518 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 30 06:32:06 np0000094518 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 30 06:32:06 np0000094518 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 30 06:32:06 np0000094518 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 30 06:32:06 np0000094518 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 30 06:32:06 np0000094518 etcd[60693]: {"level":"warn","ts":"2026-06-30T06:32:06.989622Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 30 06:32:06 np0000094518 etcd[60693]: {"level":"info","ts":"2026-06-30T06:32:06.989820Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094518","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094518=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 30 06:32:06 np0000094518 etcd[60693]: {"level":"warn","ts":"2026-06-30T06:32:06.989990Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 30 06:32:06 np0000094518 etcd[60693]: {"level":"info","ts":"2026-06-30T06:32:06.990023Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 30 06:32:06 np0000094518 etcd[60693]: {"level":"info","ts":"2026-06-30T06:32:06.990546Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:06 np0000094518 etcd[60693]: {"level":"info","ts":"2026-06-30T06:32:06.990669Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094518","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:06 np0000094518 etcd[60693]: {"level":"info","ts":"2026-06-30T06:32:06.990750Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094518","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 30 06:32:06 np0000094518 etcd[60693]: {"level":"warn","ts":"2026-06-30T06:32:06.990809Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 30 06:32:06 np0000094518 etcd[60693]: {"level":"fatal","ts":"2026-06-30T06:32:06.990874Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 30 06:32:06 np0000094518 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 30 06:32:06 np0000094518 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 30 06:32:06 np0000094518 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 30 06:32:07 np0000094518 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 30 06:32:07 np0000094518 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 30 06:32:07 np0000094518 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 30 06:32:07 np0000094518 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
