Apr 02 20:18:13 np0000093841 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 20:18:13 np0000093841 etcd[60288]: {"level":"warn","ts":"2026-04-02T20:18:13.082093Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 20:18:13 np0000093841 etcd[60288]: {"level":"info","ts":"2026-04-02T20:18:13.082529Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093841","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093841=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 20:18:13 np0000093841 etcd[60288]: {"level":"warn","ts":"2026-04-02T20:18:13.082853Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 20:18:13 np0000093841 etcd[60288]: {"level":"info","ts":"2026-04-02T20:18:13.082906Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 20:18:13 np0000093841 etcd[60288]: {"level":"info","ts":"2026-04-02T20:18:13.083675Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:13 np0000093841 etcd[60288]: {"level":"info","ts":"2026-04-02T20:18:13.083871Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093841","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:13 np0000093841 etcd[60288]: {"level":"info","ts":"2026-04-02T20:18:13.083964Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093841","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:13 np0000093841 etcd[60288]: {"level":"warn","ts":"2026-04-02T20:18:13.084029Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 20:18:13 np0000093841 etcd[60288]: {"level":"fatal","ts":"2026-04-02T20:18:13.084109Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 20:18:13 np0000093841 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 20:18:13 np0000093841 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 20:18:13 np0000093841 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 20:18:13 np0000093841 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 02 20:18:13 np0000093841 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 20:18:13 np0000093841 etcd[60397]: {"level":"warn","ts":"2026-04-02T20:18:13.496316Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 20:18:13 np0000093841 etcd[60397]: {"level":"info","ts":"2026-04-02T20:18:13.496577Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093841","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093841=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 20:18:13 np0000093841 etcd[60397]: {"level":"warn","ts":"2026-04-02T20:18:13.496748Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 20:18:13 np0000093841 etcd[60397]: {"level":"info","ts":"2026-04-02T20:18:13.496778Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 20:18:13 np0000093841 etcd[60397]: {"level":"info","ts":"2026-04-02T20:18:13.497272Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:13 np0000093841 etcd[60397]: {"level":"info","ts":"2026-04-02T20:18:13.497401Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093841","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:13 np0000093841 etcd[60397]: {"level":"info","ts":"2026-04-02T20:18:13.497476Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093841","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:13 np0000093841 etcd[60397]: {"level":"warn","ts":"2026-04-02T20:18:13.497527Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 20:18:13 np0000093841 etcd[60397]: {"level":"fatal","ts":"2026-04-02T20:18:13.497585Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 20:18:13 np0000093841 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 20:18:13 np0000093841 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 20:18:13 np0000093841 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 20:18:13 np0000093841 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 02 20:18:13 np0000093841 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 20:18:13 np0000093841 etcd[60408]: {"level":"warn","ts":"2026-04-02T20:18:13.739996Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 20:18:13 np0000093841 etcd[60408]: {"level":"info","ts":"2026-04-02T20:18:13.740321Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093841","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093841=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 20:18:13 np0000093841 etcd[60408]: {"level":"warn","ts":"2026-04-02T20:18:13.740527Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 20:18:13 np0000093841 etcd[60408]: {"level":"info","ts":"2026-04-02T20:18:13.740559Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 20:18:13 np0000093841 etcd[60408]: {"level":"info","ts":"2026-04-02T20:18:13.741016Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:13 np0000093841 etcd[60408]: {"level":"info","ts":"2026-04-02T20:18:13.741132Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093841","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:13 np0000093841 etcd[60408]: {"level":"info","ts":"2026-04-02T20:18:13.741242Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093841","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:13 np0000093841 etcd[60408]: {"level":"warn","ts":"2026-04-02T20:18:13.741318Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 20:18:13 np0000093841 etcd[60408]: {"level":"fatal","ts":"2026-04-02T20:18:13.741403Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 20:18:13 np0000093841 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 20:18:13 np0000093841 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 20:18:13 np0000093841 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 20:18:13 np0000093841 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 02 20:18:13 np0000093841 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 20:18:13 np0000093841 etcd[60428]: {"level":"warn","ts":"2026-04-02T20:18:13.989598Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 20:18:13 np0000093841 etcd[60428]: {"level":"info","ts":"2026-04-02T20:18:13.989737Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093841","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093841=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 20:18:13 np0000093841 etcd[60428]: {"level":"warn","ts":"2026-04-02T20:18:13.989878Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 20:18:13 np0000093841 etcd[60428]: {"level":"info","ts":"2026-04-02T20:18:13.989904Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 20:18:13 np0000093841 etcd[60428]: {"level":"info","ts":"2026-04-02T20:18:13.990301Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:13 np0000093841 etcd[60428]: {"level":"info","ts":"2026-04-02T20:18:13.990412Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093841","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:13 np0000093841 etcd[60428]: {"level":"info","ts":"2026-04-02T20:18:13.990476Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093841","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:13 np0000093841 etcd[60428]: {"level":"warn","ts":"2026-04-02T20:18:13.990521Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 20:18:13 np0000093841 etcd[60428]: {"level":"fatal","ts":"2026-04-02T20:18:13.990586Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 20:18:13 np0000093841 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 20:18:13 np0000093841 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 20:18:13 np0000093841 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 20:18:14 np0000093841 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 02 20:18:14 np0000093841 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 20:18:14 np0000093841 etcd[60467]: {"level":"warn","ts":"2026-04-02T20:18:14.252055Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 20:18:14 np0000093841 etcd[60467]: {"level":"info","ts":"2026-04-02T20:18:14.253149Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093841","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093841=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 20:18:14 np0000093841 etcd[60467]: {"level":"warn","ts":"2026-04-02T20:18:14.253772Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 20:18:14 np0000093841 etcd[60467]: {"level":"info","ts":"2026-04-02T20:18:14.253964Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 20:18:14 np0000093841 etcd[60467]: {"level":"info","ts":"2026-04-02T20:18:14.254675Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:14 np0000093841 etcd[60467]: {"level":"info","ts":"2026-04-02T20:18:14.254990Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093841","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:14 np0000093841 etcd[60467]: {"level":"info","ts":"2026-04-02T20:18:14.255082Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093841","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 20:18:14 np0000093841 etcd[60467]: {"level":"warn","ts":"2026-04-02T20:18:14.255162Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 20:18:14 np0000093841 etcd[60467]: {"level":"fatal","ts":"2026-04-02T20:18:14.255269Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 20:18:14 np0000093841 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 20:18:14 np0000093841 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 20:18:14 np0000093841 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 20:18:14 np0000093841 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 02 20:18:14 np0000093841 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 02 20:18:14 np0000093841 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 20:18:14 np0000093841 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
