Apr 08 15:55:54 np0000093873 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 15:55:54 np0000093873 etcd[65662]: {"level":"warn","ts":"2026-04-08T15:55:54.210110Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:55:54 np0000093873 etcd[65662]: {"level":"info","ts":"2026-04-08T15:55:54.210285Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093873","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093873=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 15:55:54 np0000093873 etcd[65662]: {"level":"warn","ts":"2026-04-08T15:55:54.210485Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:55:54 np0000093873 etcd[65662]: {"level":"info","ts":"2026-04-08T15:55:54.210518Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 15:55:54 np0000093873 etcd[65662]: {"level":"info","ts":"2026-04-08T15:55:54.211032Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:54 np0000093873 etcd[65662]: {"level":"info","ts":"2026-04-08T15:55:54.211147Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093873","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:54 np0000093873 etcd[65662]: {"level":"info","ts":"2026-04-08T15:55:54.211226Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093873","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:54 np0000093873 etcd[65662]: {"level":"warn","ts":"2026-04-08T15:55:54.211281Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 15:55:54 np0000093873 etcd[65662]: {"level":"fatal","ts":"2026-04-08T15:55:54.211384Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 15:55:54 np0000093873 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 15:55:54 np0000093873 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 15:55:54 np0000093873 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 15:55:54 np0000093873 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 08 15:55:54 np0000093873 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 15:55:54 np0000093873 etcd[65754]: {"level":"warn","ts":"2026-04-08T15:55:54.590749Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:55:54 np0000093873 etcd[65754]: {"level":"info","ts":"2026-04-08T15:55:54.591697Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093873","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093873=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 15:55:54 np0000093873 etcd[65754]: {"level":"warn","ts":"2026-04-08T15:55:54.591906Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:55:54 np0000093873 etcd[65754]: {"level":"info","ts":"2026-04-08T15:55:54.591939Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 15:55:54 np0000093873 etcd[65754]: {"level":"info","ts":"2026-04-08T15:55:54.593146Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:54 np0000093873 etcd[65754]: {"level":"info","ts":"2026-04-08T15:55:54.593300Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093873","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:54 np0000093873 etcd[65754]: {"level":"info","ts":"2026-04-08T15:55:54.593405Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093873","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:54 np0000093873 etcd[65754]: {"level":"warn","ts":"2026-04-08T15:55:54.593456Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 15:55:54 np0000093873 etcd[65754]: {"level":"fatal","ts":"2026-04-08T15:55:54.593514Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 15:55:54 np0000093873 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 15:55:54 np0000093873 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 15:55:54 np0000093873 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 15:55:54 np0000093873 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 08 15:55:54 np0000093873 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 15:55:54 np0000093873 etcd[65783]: {"level":"warn","ts":"2026-04-08T15:55:54.844730Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:55:54 np0000093873 etcd[65783]: {"level":"info","ts":"2026-04-08T15:55:54.844927Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093873","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093873=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 15:55:54 np0000093873 etcd[65783]: {"level":"warn","ts":"2026-04-08T15:55:54.845094Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:55:54 np0000093873 etcd[65783]: {"level":"info","ts":"2026-04-08T15:55:54.845134Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 15:55:54 np0000093873 etcd[65783]: {"level":"info","ts":"2026-04-08T15:55:54.845602Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:54 np0000093873 etcd[65783]: {"level":"info","ts":"2026-04-08T15:55:54.845712Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093873","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:54 np0000093873 etcd[65783]: {"level":"info","ts":"2026-04-08T15:55:54.845785Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093873","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:54 np0000093873 etcd[65783]: {"level":"warn","ts":"2026-04-08T15:55:54.845835Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 15:55:54 np0000093873 etcd[65783]: {"level":"fatal","ts":"2026-04-08T15:55:54.845913Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 15:55:54 np0000093873 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 15:55:54 np0000093873 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 15:55:54 np0000093873 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 15:55:55 np0000093873 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 08 15:55:55 np0000093873 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 15:55:55 np0000093873 etcd[65790]: {"level":"warn","ts":"2026-04-08T15:55:55.100617Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:55:55 np0000093873 etcd[65790]: {"level":"info","ts":"2026-04-08T15:55:55.100766Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093873","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093873=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 15:55:55 np0000093873 etcd[65790]: {"level":"warn","ts":"2026-04-08T15:55:55.100929Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:55:55 np0000093873 etcd[65790]: {"level":"info","ts":"2026-04-08T15:55:55.100951Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 15:55:55 np0000093873 etcd[65790]: {"level":"info","ts":"2026-04-08T15:55:55.101254Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:55 np0000093873 etcd[65790]: {"level":"info","ts":"2026-04-08T15:55:55.101321Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093873","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:55 np0000093873 etcd[65790]: {"level":"info","ts":"2026-04-08T15:55:55.101385Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093873","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:55 np0000093873 etcd[65790]: {"level":"warn","ts":"2026-04-08T15:55:55.101420Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 15:55:55 np0000093873 etcd[65790]: {"level":"fatal","ts":"2026-04-08T15:55:55.101458Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 15:55:55 np0000093873 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 15:55:55 np0000093873 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 15:55:55 np0000093873 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 15:55:55 np0000093873 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 08 15:55:55 np0000093873 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 15:55:55 np0000093873 etcd[65821]: {"level":"warn","ts":"2026-04-08T15:55:55.329077Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:55:55 np0000093873 etcd[65821]: {"level":"info","ts":"2026-04-08T15:55:55.329249Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093873","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093873=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 15:55:55 np0000093873 etcd[65821]: {"level":"warn","ts":"2026-04-08T15:55:55.329443Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:55:55 np0000093873 etcd[65821]: {"level":"info","ts":"2026-04-08T15:55:55.329474Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 15:55:55 np0000093873 etcd[65821]: {"level":"info","ts":"2026-04-08T15:55:55.329942Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:55 np0000093873 etcd[65821]: {"level":"info","ts":"2026-04-08T15:55:55.330052Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093873","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:55 np0000093873 etcd[65821]: {"level":"info","ts":"2026-04-08T15:55:55.330107Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093873","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:55:55 np0000093873 etcd[65821]: {"level":"warn","ts":"2026-04-08T15:55:55.330157Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 15:55:55 np0000093873 etcd[65821]: {"level":"fatal","ts":"2026-04-08T15:55:55.330215Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 15:55:55 np0000093873 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 15:55:55 np0000093873 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 15:55:55 np0000093873 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 15:55:55 np0000093873 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 08 15:55:55 np0000093873 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 08 15:55:55 np0000093873 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 15:55:55 np0000093873 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
