Apr 13 17:56:05 np0000093934 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 17:56:05 np0000093934 etcd[60755]: {"level":"warn","ts":"2026-04-13T17:56:05.832615Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 17:56:05 np0000093934 etcd[60755]: {"level":"info","ts":"2026-04-13T17:56:05.832804Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093934","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093934=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 17:56:05 np0000093934 etcd[60755]: {"level":"warn","ts":"2026-04-13T17:56:05.833071Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 17:56:05 np0000093934 etcd[60755]: {"level":"info","ts":"2026-04-13T17:56:05.833127Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 17:56:05 np0000093934 etcd[60755]: {"level":"info","ts":"2026-04-13T17:56:05.833589Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:05 np0000093934 etcd[60755]: {"level":"info","ts":"2026-04-13T17:56:05.833699Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093934","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:05 np0000093934 etcd[60755]: {"level":"info","ts":"2026-04-13T17:56:05.833777Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093934","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:05 np0000093934 etcd[60755]: {"level":"warn","ts":"2026-04-13T17:56:05.833829Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 17:56:05 np0000093934 etcd[60755]: {"level":"fatal","ts":"2026-04-13T17:56:05.833956Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 17:56:05 np0000093934 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 17:56:05 np0000093934 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 17:56:05 np0000093934 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 17:56:06 np0000093934 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 13 17:56:06 np0000093934 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 17:56:06 np0000093934 etcd[60855]: {"level":"warn","ts":"2026-04-13T17:56:06.219952Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 17:56:06 np0000093934 etcd[60855]: {"level":"info","ts":"2026-04-13T17:56:06.220137Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093934","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093934=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 17:56:06 np0000093934 etcd[60855]: {"level":"warn","ts":"2026-04-13T17:56:06.220305Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 17:56:06 np0000093934 etcd[60855]: {"level":"info","ts":"2026-04-13T17:56:06.220342Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 17:56:06 np0000093934 etcd[60855]: {"level":"info","ts":"2026-04-13T17:56:06.222571Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:06 np0000093934 etcd[60855]: {"level":"info","ts":"2026-04-13T17:56:06.222702Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093934","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:06 np0000093934 etcd[60855]: {"level":"info","ts":"2026-04-13T17:56:06.222774Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093934","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:06 np0000093934 etcd[60855]: {"level":"warn","ts":"2026-04-13T17:56:06.222824Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 17:56:06 np0000093934 etcd[60855]: {"level":"fatal","ts":"2026-04-13T17:56:06.222941Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 17:56:06 np0000093934 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 17:56:06 np0000093934 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 17:56:06 np0000093934 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 17:56:06 np0000093934 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 13 17:56:06 np0000093934 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 17:56:06 np0000093934 etcd[60876]: {"level":"warn","ts":"2026-04-13T17:56:06.475301Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 17:56:06 np0000093934 etcd[60876]: {"level":"info","ts":"2026-04-13T17:56:06.475475Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093934","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093934=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 17:56:06 np0000093934 etcd[60876]: {"level":"warn","ts":"2026-04-13T17:56:06.475656Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 17:56:06 np0000093934 etcd[60876]: {"level":"info","ts":"2026-04-13T17:56:06.475697Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 17:56:06 np0000093934 etcd[60876]: {"level":"info","ts":"2026-04-13T17:56:06.476252Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:06 np0000093934 etcd[60876]: {"level":"info","ts":"2026-04-13T17:56:06.476485Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093934","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:06 np0000093934 etcd[60876]: {"level":"info","ts":"2026-04-13T17:56:06.476617Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093934","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:06 np0000093934 etcd[60876]: {"level":"warn","ts":"2026-04-13T17:56:06.476677Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 17:56:06 np0000093934 etcd[60876]: {"level":"fatal","ts":"2026-04-13T17:56:06.476754Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 17:56:06 np0000093934 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 17:56:06 np0000093934 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 17:56:06 np0000093934 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 17:56:06 np0000093934 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 13 17:56:06 np0000093934 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 17:56:06 np0000093934 etcd[60896]: {"level":"warn","ts":"2026-04-13T17:56:06.737359Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 17:56:06 np0000093934 etcd[60896]: {"level":"info","ts":"2026-04-13T17:56:06.737549Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093934","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093934=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 17:56:06 np0000093934 etcd[60896]: {"level":"warn","ts":"2026-04-13T17:56:06.737708Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 17:56:06 np0000093934 etcd[60896]: {"level":"info","ts":"2026-04-13T17:56:06.737743Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 17:56:06 np0000093934 etcd[60896]: {"level":"info","ts":"2026-04-13T17:56:06.738193Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:06 np0000093934 etcd[60896]: {"level":"info","ts":"2026-04-13T17:56:06.738297Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093934","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:06 np0000093934 etcd[60896]: {"level":"info","ts":"2026-04-13T17:56:06.738365Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093934","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:06 np0000093934 etcd[60896]: {"level":"warn","ts":"2026-04-13T17:56:06.738410Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 17:56:06 np0000093934 etcd[60896]: {"level":"fatal","ts":"2026-04-13T17:56:06.738463Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 17:56:06 np0000093934 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 17:56:06 np0000093934 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 17:56:06 np0000093934 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 17:56:06 np0000093934 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 13 17:56:06 np0000093934 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 17:56:06 np0000093934 etcd[60927]: {"level":"warn","ts":"2026-04-13T17:56:06.974325Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 17:56:06 np0000093934 etcd[60927]: {"level":"info","ts":"2026-04-13T17:56:06.974549Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093934","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093934=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 17:56:06 np0000093934 etcd[60927]: {"level":"warn","ts":"2026-04-13T17:56:06.974733Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 17:56:06 np0000093934 etcd[60927]: {"level":"info","ts":"2026-04-13T17:56:06.974764Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 17:56:06 np0000093934 etcd[60927]: {"level":"info","ts":"2026-04-13T17:56:06.975278Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:06 np0000093934 etcd[60927]: {"level":"info","ts":"2026-04-13T17:56:06.975395Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093934","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:06 np0000093934 etcd[60927]: {"level":"info","ts":"2026-04-13T17:56:06.975496Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093934","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 17:56:06 np0000093934 etcd[60927]: {"level":"warn","ts":"2026-04-13T17:56:06.975552Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 17:56:06 np0000093934 etcd[60927]: {"level":"fatal","ts":"2026-04-13T17:56:06.975616Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 17:56:06 np0000093934 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 17:56:06 np0000093934 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 17:56:06 np0000093934 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 17:56:07 np0000093934 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 13 17:56:07 np0000093934 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 13 17:56:07 np0000093934 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 17:56:07 np0000093934 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
