Apr 10 14:57:06 np0000093909 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 14:57:06 np0000093909 etcd[60595]: {"level":"warn","ts":"2026-04-10T14:57:06.498417Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 14:57:06 np0000093909 etcd[60595]: {"level":"info","ts":"2026-04-10T14:57:06.498605Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093909","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093909=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 14:57:06 np0000093909 etcd[60595]: {"level":"warn","ts":"2026-04-10T14:57:06.498801Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 14:57:06 np0000093909 etcd[60595]: {"level":"info","ts":"2026-04-10T14:57:06.498840Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 14:57:06 np0000093909 etcd[60595]: {"level":"info","ts":"2026-04-10T14:57:06.499327Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:06 np0000093909 etcd[60595]: {"level":"info","ts":"2026-04-10T14:57:06.499445Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093909","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:06 np0000093909 etcd[60595]: {"level":"info","ts":"2026-04-10T14:57:06.499528Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093909","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:06 np0000093909 etcd[60595]: {"level":"warn","ts":"2026-04-10T14:57:06.499602Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 14:57:06 np0000093909 etcd[60595]: {"level":"fatal","ts":"2026-04-10T14:57:06.499697Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 14:57:06 np0000093909 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 14:57:06 np0000093909 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 14:57:06 np0000093909 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 14:57:06 np0000093909 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 10 14:57:06 np0000093909 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 14:57:06 np0000093909 etcd[60663]: {"level":"warn","ts":"2026-04-10T14:57:06.766172Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 14:57:06 np0000093909 etcd[60663]: {"level":"info","ts":"2026-04-10T14:57:06.766335Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093909","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093909=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 14:57:06 np0000093909 etcd[60663]: {"level":"warn","ts":"2026-04-10T14:57:06.766482Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 14:57:06 np0000093909 etcd[60663]: {"level":"info","ts":"2026-04-10T14:57:06.766542Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 14:57:06 np0000093909 etcd[60663]: {"level":"info","ts":"2026-04-10T14:57:06.767019Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:06 np0000093909 etcd[60663]: {"level":"info","ts":"2026-04-10T14:57:06.767145Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093909","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:06 np0000093909 etcd[60663]: {"level":"info","ts":"2026-04-10T14:57:06.767266Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093909","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:06 np0000093909 etcd[60663]: {"level":"warn","ts":"2026-04-10T14:57:06.767338Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 14:57:06 np0000093909 etcd[60663]: {"level":"fatal","ts":"2026-04-10T14:57:06.767416Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 14:57:06 np0000093909 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 14:57:06 np0000093909 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 14:57:06 np0000093909 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 14:57:06 np0000093909 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 10 14:57:06 np0000093909 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 14:57:07 np0000093909 etcd[60714]: {"level":"warn","ts":"2026-04-10T14:57:07.019288Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 14:57:07 np0000093909 etcd[60714]: {"level":"info","ts":"2026-04-10T14:57:07.019462Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093909","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093909=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 14:57:07 np0000093909 etcd[60714]: {"level":"warn","ts":"2026-04-10T14:57:07.019656Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 14:57:07 np0000093909 etcd[60714]: {"level":"info","ts":"2026-04-10T14:57:07.019698Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 14:57:07 np0000093909 etcd[60714]: {"level":"info","ts":"2026-04-10T14:57:07.020286Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:07 np0000093909 etcd[60714]: {"level":"info","ts":"2026-04-10T14:57:07.020406Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093909","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:07 np0000093909 etcd[60714]: {"level":"info","ts":"2026-04-10T14:57:07.020490Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093909","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:07 np0000093909 etcd[60714]: {"level":"warn","ts":"2026-04-10T14:57:07.020560Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 14:57:07 np0000093909 etcd[60714]: {"level":"fatal","ts":"2026-04-10T14:57:07.020623Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 14:57:07 np0000093909 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 14:57:07 np0000093909 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 14:57:07 np0000093909 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 14:57:07 np0000093909 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 10 14:57:07 np0000093909 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 14:57:07 np0000093909 etcd[60721]: {"level":"warn","ts":"2026-04-10T14:57:07.278236Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 14:57:07 np0000093909 etcd[60721]: {"level":"info","ts":"2026-04-10T14:57:07.279843Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093909","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093909=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 14:57:07 np0000093909 etcd[60721]: {"level":"warn","ts":"2026-04-10T14:57:07.280473Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 14:57:07 np0000093909 etcd[60721]: {"level":"info","ts":"2026-04-10T14:57:07.280531Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 14:57:07 np0000093909 etcd[60721]: {"level":"info","ts":"2026-04-10T14:57:07.281319Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:07 np0000093909 etcd[60721]: {"level":"info","ts":"2026-04-10T14:57:07.281582Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093909","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:07 np0000093909 etcd[60721]: {"level":"info","ts":"2026-04-10T14:57:07.281800Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093909","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:07 np0000093909 etcd[60721]: {"level":"warn","ts":"2026-04-10T14:57:07.281874Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 14:57:07 np0000093909 etcd[60721]: {"level":"fatal","ts":"2026-04-10T14:57:07.282195Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 14:57:07 np0000093909 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 14:57:07 np0000093909 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 14:57:07 np0000093909 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 14:57:07 np0000093909 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 10 14:57:07 np0000093909 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 14:57:07 np0000093909 etcd[60760]: {"level":"warn","ts":"2026-04-10T14:57:07.530245Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 14:57:07 np0000093909 etcd[60760]: {"level":"info","ts":"2026-04-10T14:57:07.531264Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093909","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093909=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 14:57:07 np0000093909 etcd[60760]: {"level":"warn","ts":"2026-04-10T14:57:07.531653Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 14:57:07 np0000093909 etcd[60760]: {"level":"info","ts":"2026-04-10T14:57:07.531834Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 14:57:07 np0000093909 etcd[60760]: {"level":"info","ts":"2026-04-10T14:57:07.532261Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:07 np0000093909 etcd[60760]: {"level":"info","ts":"2026-04-10T14:57:07.532382Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093909","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:07 np0000093909 etcd[60760]: {"level":"info","ts":"2026-04-10T14:57:07.532455Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093909","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 14:57:07 np0000093909 etcd[60760]: {"level":"warn","ts":"2026-04-10T14:57:07.532512Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 14:57:07 np0000093909 etcd[60760]: {"level":"fatal","ts":"2026-04-10T14:57:07.532583Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 14:57:07 np0000093909 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 14:57:07 np0000093909 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 14:57:07 np0000093909 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 14:57:07 np0000093909 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 10 14:57:07 np0000093909 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 10 14:57:07 np0000093909 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 14:57:07 np0000093909 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
