Jun 12 05:27:24 np0000094330 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 05:27:24 np0000094330 etcd[60739]: {"level":"warn","ts":"2026-06-12T05:27:24.300660Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 05:27:24 np0000094330 etcd[60739]: {"level":"info","ts":"2026-06-12T05:27:24.301801Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094330","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094330=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 05:27:24 np0000094330 etcd[60739]: {"level":"warn","ts":"2026-06-12T05:27:24.302015Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 05:27:24 np0000094330 etcd[60739]: {"level":"info","ts":"2026-06-12T05:27:24.302058Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 05:27:24 np0000094330 etcd[60739]: {"level":"info","ts":"2026-06-12T05:27:24.302491Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:24 np0000094330 etcd[60739]: {"level":"info","ts":"2026-06-12T05:27:24.302604Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094330","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:24 np0000094330 etcd[60739]: {"level":"info","ts":"2026-06-12T05:27:24.302680Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094330","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:24 np0000094330 etcd[60739]: {"level":"warn","ts":"2026-06-12T05:27:24.302733Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 05:27:24 np0000094330 etcd[60739]: {"level":"fatal","ts":"2026-06-12T05:27:24.302793Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 05:27:24 np0000094330 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 05:27:24 np0000094330 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 05:27:24 np0000094330 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 05:27:24 np0000094330 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 12 05:27:24 np0000094330 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 05:27:24 np0000094330 etcd[60808]: {"level":"warn","ts":"2026-06-12T05:27:24.591997Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 05:27:24 np0000094330 etcd[60808]: {"level":"info","ts":"2026-06-12T05:27:24.592245Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094330","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094330=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 05:27:24 np0000094330 etcd[60808]: {"level":"warn","ts":"2026-06-12T05:27:24.592458Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 05:27:24 np0000094330 etcd[60808]: {"level":"info","ts":"2026-06-12T05:27:24.592491Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 05:27:24 np0000094330 etcd[60808]: {"level":"info","ts":"2026-06-12T05:27:24.593056Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:24 np0000094330 etcd[60808]: {"level":"info","ts":"2026-06-12T05:27:24.593470Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094330","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:24 np0000094330 etcd[60808]: {"level":"info","ts":"2026-06-12T05:27:24.593564Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094330","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:24 np0000094330 etcd[60808]: {"level":"warn","ts":"2026-06-12T05:27:24.593618Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 05:27:24 np0000094330 etcd[60808]: {"level":"fatal","ts":"2026-06-12T05:27:24.593678Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 05:27:24 np0000094330 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 05:27:24 np0000094330 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 05:27:24 np0000094330 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 05:27:24 np0000094330 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 12 05:27:24 np0000094330 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 05:27:24 np0000094330 etcd[60860]: {"level":"warn","ts":"2026-06-12T05:27:24.831746Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 05:27:24 np0000094330 etcd[60860]: {"level":"info","ts":"2026-06-12T05:27:24.831928Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094330","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094330=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 05:27:24 np0000094330 etcd[60860]: {"level":"warn","ts":"2026-06-12T05:27:24.832080Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 05:27:24 np0000094330 etcd[60860]: {"level":"info","ts":"2026-06-12T05:27:24.832122Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 05:27:24 np0000094330 etcd[60860]: {"level":"info","ts":"2026-06-12T05:27:24.832627Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:24 np0000094330 etcd[60860]: {"level":"info","ts":"2026-06-12T05:27:24.832749Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094330","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:24 np0000094330 etcd[60860]: {"level":"info","ts":"2026-06-12T05:27:24.832834Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094330","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:24 np0000094330 etcd[60860]: {"level":"warn","ts":"2026-06-12T05:27:24.832901Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 05:27:24 np0000094330 etcd[60860]: {"level":"fatal","ts":"2026-06-12T05:27:24.832967Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 05:27:24 np0000094330 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 05:27:24 np0000094330 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 05:27:24 np0000094330 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 05:27:25 np0000094330 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 12 05:27:25 np0000094330 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 05:27:25 np0000094330 etcd[60867]: {"level":"warn","ts":"2026-06-12T05:27:25.082502Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 05:27:25 np0000094330 etcd[60867]: {"level":"info","ts":"2026-06-12T05:27:25.082706Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094330","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094330=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 05:27:25 np0000094330 etcd[60867]: {"level":"warn","ts":"2026-06-12T05:27:25.082874Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 05:27:25 np0000094330 etcd[60867]: {"level":"info","ts":"2026-06-12T05:27:25.082906Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 05:27:25 np0000094330 etcd[60867]: {"level":"info","ts":"2026-06-12T05:27:25.084756Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:25 np0000094330 etcd[60867]: {"level":"info","ts":"2026-06-12T05:27:25.084931Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094330","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:25 np0000094330 etcd[60867]: {"level":"info","ts":"2026-06-12T05:27:25.085021Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094330","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:25 np0000094330 etcd[60867]: {"level":"warn","ts":"2026-06-12T05:27:25.085080Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 05:27:25 np0000094330 etcd[60867]: {"level":"fatal","ts":"2026-06-12T05:27:25.085147Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 05:27:25 np0000094330 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 05:27:25 np0000094330 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 05:27:25 np0000094330 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 05:27:25 np0000094330 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 12 05:27:25 np0000094330 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 05:27:25 np0000094330 etcd[60909]: {"level":"warn","ts":"2026-06-12T05:27:25.338802Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 05:27:25 np0000094330 etcd[60909]: {"level":"info","ts":"2026-06-12T05:27:25.340272Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094330","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094330=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 05:27:25 np0000094330 etcd[60909]: {"level":"warn","ts":"2026-06-12T05:27:25.340432Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 05:27:25 np0000094330 etcd[60909]: {"level":"info","ts":"2026-06-12T05:27:25.340464Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 05:27:25 np0000094330 etcd[60909]: {"level":"info","ts":"2026-06-12T05:27:25.340805Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:25 np0000094330 etcd[60909]: {"level":"info","ts":"2026-06-12T05:27:25.340935Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094330","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:25 np0000094330 etcd[60909]: {"level":"info","ts":"2026-06-12T05:27:25.340995Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094330","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 05:27:25 np0000094330 etcd[60909]: {"level":"warn","ts":"2026-06-12T05:27:25.341033Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 05:27:25 np0000094330 etcd[60909]: {"level":"fatal","ts":"2026-06-12T05:27:25.341089Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 05:27:25 np0000094330 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 05:27:25 np0000094330 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 05:27:25 np0000094330 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 05:27:25 np0000094330 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 12 05:27:25 np0000094330 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 12 05:27:25 np0000094330 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 05:27:25 np0000094330 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
