May 30 05:39:06 np0000094184 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 30 05:39:06 np0000094184 etcd[60012]: {"level":"warn","ts":"2026-05-30T05:39:06.155990Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 30 05:39:06 np0000094184 etcd[60012]: {"level":"info","ts":"2026-05-30T05:39:06.156159Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094184","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094184=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 30 05:39:06 np0000094184 etcd[60012]: {"level":"warn","ts":"2026-05-30T05:39:06.156304Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 30 05:39:06 np0000094184 etcd[60012]: {"level":"info","ts":"2026-05-30T05:39:06.156333Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 30 05:39:06 np0000094184 etcd[60012]: {"level":"info","ts":"2026-05-30T05:39:06.156822Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:06 np0000094184 etcd[60012]: {"level":"info","ts":"2026-05-30T05:39:06.156936Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094184","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:06 np0000094184 etcd[60012]: {"level":"info","ts":"2026-05-30T05:39:06.157013Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094184","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:06 np0000094184 etcd[60012]: {"level":"warn","ts":"2026-05-30T05:39:06.157068Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 30 05:39:06 np0000094184 etcd[60012]: {"level":"fatal","ts":"2026-05-30T05:39:06.157136Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 30 05:39:06 np0000094184 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 30 05:39:06 np0000094184 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 30 05:39:06 np0000094184 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 30 05:39:06 np0000094184 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 30 05:39:06 np0000094184 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 30 05:39:06 np0000094184 etcd[60098]: {"level":"warn","ts":"2026-05-30T05:39:06.509995Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 30 05:39:06 np0000094184 etcd[60098]: {"level":"info","ts":"2026-05-30T05:39:06.511114Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094184","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094184=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 30 05:39:06 np0000094184 etcd[60098]: {"level":"warn","ts":"2026-05-30T05:39:06.511319Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 30 05:39:06 np0000094184 etcd[60098]: {"level":"info","ts":"2026-05-30T05:39:06.511356Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 30 05:39:06 np0000094184 etcd[60098]: {"level":"info","ts":"2026-05-30T05:39:06.512055Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:06 np0000094184 etcd[60098]: {"level":"info","ts":"2026-05-30T05:39:06.512176Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094184","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:06 np0000094184 etcd[60098]: {"level":"info","ts":"2026-05-30T05:39:06.512256Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094184","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:06 np0000094184 etcd[60098]: {"level":"warn","ts":"2026-05-30T05:39:06.512309Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 30 05:39:06 np0000094184 etcd[60098]: {"level":"fatal","ts":"2026-05-30T05:39:06.512370Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 30 05:39:06 np0000094184 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 30 05:39:06 np0000094184 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 30 05:39:06 np0000094184 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 30 05:39:06 np0000094184 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 30 05:39:06 np0000094184 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 30 05:39:06 np0000094184 etcd[60132]: {"level":"warn","ts":"2026-05-30T05:39:06.746754Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 30 05:39:06 np0000094184 etcd[60132]: {"level":"info","ts":"2026-05-30T05:39:06.746960Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094184","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094184=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 30 05:39:06 np0000094184 etcd[60132]: {"level":"warn","ts":"2026-05-30T05:39:06.747169Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 30 05:39:06 np0000094184 etcd[60132]: {"level":"info","ts":"2026-05-30T05:39:06.747213Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 30 05:39:06 np0000094184 etcd[60132]: {"level":"info","ts":"2026-05-30T05:39:06.747786Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:06 np0000094184 etcd[60132]: {"level":"info","ts":"2026-05-30T05:39:06.747955Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094184","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:06 np0000094184 etcd[60132]: {"level":"info","ts":"2026-05-30T05:39:06.748053Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094184","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:06 np0000094184 etcd[60132]: {"level":"warn","ts":"2026-05-30T05:39:06.748113Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 30 05:39:06 np0000094184 etcd[60132]: {"level":"fatal","ts":"2026-05-30T05:39:06.748192Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 30 05:39:06 np0000094184 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 30 05:39:06 np0000094184 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 30 05:39:06 np0000094184 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 30 05:39:06 np0000094184 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 30 05:39:06 np0000094184 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 30 05:39:07 np0000094184 etcd[60153]: {"level":"warn","ts":"2026-05-30T05:39:07.002172Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 30 05:39:07 np0000094184 etcd[60153]: {"level":"info","ts":"2026-05-30T05:39:07.003540Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094184","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094184=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 30 05:39:07 np0000094184 etcd[60153]: {"level":"warn","ts":"2026-05-30T05:39:07.003774Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 30 05:39:07 np0000094184 etcd[60153]: {"level":"info","ts":"2026-05-30T05:39:07.003811Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 30 05:39:07 np0000094184 etcd[60153]: {"level":"info","ts":"2026-05-30T05:39:07.004289Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:07 np0000094184 etcd[60153]: {"level":"info","ts":"2026-05-30T05:39:07.004433Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094184","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:07 np0000094184 etcd[60153]: {"level":"info","ts":"2026-05-30T05:39:07.005183Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094184","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:07 np0000094184 etcd[60153]: {"level":"warn","ts":"2026-05-30T05:39:07.005250Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 30 05:39:07 np0000094184 etcd[60153]: {"level":"fatal","ts":"2026-05-30T05:39:07.005318Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 30 05:39:07 np0000094184 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 30 05:39:07 np0000094184 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 30 05:39:07 np0000094184 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 30 05:39:07 np0000094184 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 30 05:39:07 np0000094184 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 30 05:39:07 np0000094184 etcd[60192]: {"level":"warn","ts":"2026-05-30T05:39:07.251716Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 30 05:39:07 np0000094184 etcd[60192]: {"level":"info","ts":"2026-05-30T05:39:07.252696Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094184","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094184=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 30 05:39:07 np0000094184 etcd[60192]: {"level":"warn","ts":"2026-05-30T05:39:07.252968Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 30 05:39:07 np0000094184 etcd[60192]: {"level":"info","ts":"2026-05-30T05:39:07.253001Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 30 05:39:07 np0000094184 etcd[60192]: {"level":"info","ts":"2026-05-30T05:39:07.253444Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:07 np0000094184 etcd[60192]: {"level":"info","ts":"2026-05-30T05:39:07.254254Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094184","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:07 np0000094184 etcd[60192]: {"level":"info","ts":"2026-05-30T05:39:07.254552Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094184","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 30 05:39:07 np0000094184 etcd[60192]: {"level":"warn","ts":"2026-05-30T05:39:07.255321Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 30 05:39:07 np0000094184 etcd[60192]: {"level":"fatal","ts":"2026-05-30T05:39:07.255415Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 30 05:39:07 np0000094184 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 30 05:39:07 np0000094184 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 30 05:39:07 np0000094184 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 30 05:39:07 np0000094184 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 30 05:39:07 np0000094184 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 30 05:39:07 np0000094184 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 30 05:39:07 np0000094184 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
