Jun 13 00:05:51 np0000094338 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 13 00:05:51 np0000094338 etcd[60570]: {"level":"warn","ts":"2026-06-13T00:05:51.479979Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 13 00:05:51 np0000094338 etcd[60570]: {"level":"info","ts":"2026-06-13T00:05:51.480149Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094338","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094338=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 13 00:05:51 np0000094338 etcd[60570]: {"level":"warn","ts":"2026-06-13T00:05:51.480290Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 13 00:05:51 np0000094338 etcd[60570]: {"level":"info","ts":"2026-06-13T00:05:51.480316Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 13 00:05:51 np0000094338 etcd[60570]: {"level":"info","ts":"2026-06-13T00:05:51.480772Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:51 np0000094338 etcd[60570]: {"level":"info","ts":"2026-06-13T00:05:51.480872Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094338","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:51 np0000094338 etcd[60570]: {"level":"info","ts":"2026-06-13T00:05:51.480938Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094338","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:51 np0000094338 etcd[60570]: {"level":"warn","ts":"2026-06-13T00:05:51.480986Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 13 00:05:51 np0000094338 etcd[60570]: {"level":"fatal","ts":"2026-06-13T00:05:51.481041Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 13 00:05:51 np0000094338 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 13 00:05:51 np0000094338 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 13 00:05:51 np0000094338 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 13 00:05:51 np0000094338 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 13 00:05:51 np0000094338 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 13 00:05:51 np0000094338 etcd[60663]: {"level":"warn","ts":"2026-06-13T00:05:51.804209Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 13 00:05:51 np0000094338 etcd[60663]: {"level":"info","ts":"2026-06-13T00:05:51.804324Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094338","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094338=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 13 00:05:51 np0000094338 etcd[60663]: {"level":"warn","ts":"2026-06-13T00:05:51.804441Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 13 00:05:51 np0000094338 etcd[60663]: {"level":"info","ts":"2026-06-13T00:05:51.804462Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 13 00:05:51 np0000094338 etcd[60663]: {"level":"info","ts":"2026-06-13T00:05:51.804796Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:51 np0000094338 etcd[60663]: {"level":"info","ts":"2026-06-13T00:05:51.804877Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094338","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:51 np0000094338 etcd[60663]: {"level":"info","ts":"2026-06-13T00:05:51.804934Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094338","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:51 np0000094338 etcd[60663]: {"level":"warn","ts":"2026-06-13T00:05:51.804972Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 13 00:05:51 np0000094338 etcd[60663]: {"level":"fatal","ts":"2026-06-13T00:05:51.805017Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 13 00:05:51 np0000094338 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 13 00:05:51 np0000094338 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 13 00:05:51 np0000094338 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 13 00:05:52 np0000094338 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 13 00:05:52 np0000094338 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 13 00:05:52 np0000094338 etcd[60691]: {"level":"warn","ts":"2026-06-13T00:05:52.079621Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 13 00:05:52 np0000094338 etcd[60691]: {"level":"info","ts":"2026-06-13T00:05:52.079846Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094338","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094338=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 13 00:05:52 np0000094338 etcd[60691]: {"level":"warn","ts":"2026-06-13T00:05:52.080024Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 13 00:05:52 np0000094338 etcd[60691]: {"level":"info","ts":"2026-06-13T00:05:52.080056Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 13 00:05:52 np0000094338 etcd[60691]: {"level":"info","ts":"2026-06-13T00:05:52.080600Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:52 np0000094338 etcd[60691]: {"level":"info","ts":"2026-06-13T00:05:52.081434Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094338","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:52 np0000094338 etcd[60691]: {"level":"info","ts":"2026-06-13T00:05:52.081527Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094338","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:52 np0000094338 etcd[60691]: {"level":"warn","ts":"2026-06-13T00:05:52.081592Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 13 00:05:52 np0000094338 etcd[60691]: {"level":"fatal","ts":"2026-06-13T00:05:52.081662Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 13 00:05:52 np0000094338 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 13 00:05:52 np0000094338 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 13 00:05:52 np0000094338 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 13 00:05:52 np0000094338 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 13 00:05:52 np0000094338 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 13 00:05:52 np0000094338 etcd[60713]: {"level":"warn","ts":"2026-06-13T00:05:52.331274Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 13 00:05:52 np0000094338 etcd[60713]: {"level":"info","ts":"2026-06-13T00:05:52.331501Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094338","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094338=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 13 00:05:52 np0000094338 etcd[60713]: {"level":"warn","ts":"2026-06-13T00:05:52.331714Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 13 00:05:52 np0000094338 etcd[60713]: {"level":"info","ts":"2026-06-13T00:05:52.331748Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 13 00:05:52 np0000094338 etcd[60713]: {"level":"info","ts":"2026-06-13T00:05:52.332232Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:52 np0000094338 etcd[60713]: {"level":"info","ts":"2026-06-13T00:05:52.332374Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094338","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:52 np0000094338 etcd[60713]: {"level":"info","ts":"2026-06-13T00:05:52.332484Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094338","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:52 np0000094338 etcd[60713]: {"level":"warn","ts":"2026-06-13T00:05:52.332552Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 13 00:05:52 np0000094338 etcd[60713]: {"level":"fatal","ts":"2026-06-13T00:05:52.332621Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 13 00:05:52 np0000094338 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 13 00:05:52 np0000094338 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 13 00:05:52 np0000094338 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 13 00:05:52 np0000094338 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 13 00:05:52 np0000094338 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 13 00:05:52 np0000094338 etcd[60754]: {"level":"warn","ts":"2026-06-13T00:05:52.571054Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 13 00:05:52 np0000094338 etcd[60754]: {"level":"info","ts":"2026-06-13T00:05:52.571214Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094338","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094338=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 13 00:05:52 np0000094338 etcd[60754]: {"level":"warn","ts":"2026-06-13T00:05:52.571380Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 13 00:05:52 np0000094338 etcd[60754]: {"level":"info","ts":"2026-06-13T00:05:52.571417Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 13 00:05:52 np0000094338 etcd[60754]: {"level":"info","ts":"2026-06-13T00:05:52.571915Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:52 np0000094338 etcd[60754]: {"level":"info","ts":"2026-06-13T00:05:52.572023Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094338","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:52 np0000094338 etcd[60754]: {"level":"info","ts":"2026-06-13T00:05:52.572096Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094338","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 13 00:05:52 np0000094338 etcd[60754]: {"level":"warn","ts":"2026-06-13T00:05:52.572147Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 13 00:05:52 np0000094338 etcd[60754]: {"level":"fatal","ts":"2026-06-13T00:05:52.572213Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 13 00:05:52 np0000094338 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 13 00:05:52 np0000094338 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 13 00:05:52 np0000094338 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 13 00:05:52 np0000094338 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 13 00:05:52 np0000094338 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 13 00:05:52 np0000094338 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 13 00:05:52 np0000094338 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
