Jun 26 00:11:36 np0000094482 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 26 00:11:37 np0000094482 etcd[60911]: {"level":"warn","ts":"2026-06-26T00:11:37.002773Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 26 00:11:37 np0000094482 etcd[60911]: {"level":"info","ts":"2026-06-26T00:11:37.002944Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094482","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094482=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 26 00:11:37 np0000094482 etcd[60911]: {"level":"warn","ts":"2026-06-26T00:11:37.003107Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 26 00:11:37 np0000094482 etcd[60911]: {"level":"info","ts":"2026-06-26T00:11:37.003146Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 26 00:11:37 np0000094482 etcd[60911]: {"level":"info","ts":"2026-06-26T00:11:37.003626Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:37 np0000094482 etcd[60911]: {"level":"info","ts":"2026-06-26T00:11:37.003736Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094482","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:37 np0000094482 etcd[60911]: {"level":"info","ts":"2026-06-26T00:11:37.003811Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094482","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:37 np0000094482 etcd[60911]: {"level":"warn","ts":"2026-06-26T00:11:37.003881Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 26 00:11:37 np0000094482 etcd[60911]: {"level":"fatal","ts":"2026-06-26T00:11:37.003940Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 26 00:11:37 np0000094482 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 26 00:11:37 np0000094482 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 26 00:11:37 np0000094482 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 26 00:11:37 np0000094482 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 26 00:11:37 np0000094482 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 26 00:11:37 np0000094482 etcd[60973]: {"level":"warn","ts":"2026-06-26T00:11:37.287930Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 26 00:11:37 np0000094482 etcd[60973]: {"level":"info","ts":"2026-06-26T00:11:37.288126Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094482","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094482=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 26 00:11:37 np0000094482 etcd[60973]: {"level":"warn","ts":"2026-06-26T00:11:37.288348Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 26 00:11:37 np0000094482 etcd[60973]: {"level":"info","ts":"2026-06-26T00:11:37.288389Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 26 00:11:37 np0000094482 etcd[60973]: {"level":"info","ts":"2026-06-26T00:11:37.288876Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:37 np0000094482 etcd[60973]: {"level":"info","ts":"2026-06-26T00:11:37.288992Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094482","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:37 np0000094482 etcd[60973]: {"level":"info","ts":"2026-06-26T00:11:37.289071Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094482","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:37 np0000094482 etcd[60973]: {"level":"warn","ts":"2026-06-26T00:11:37.289285Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 26 00:11:37 np0000094482 etcd[60973]: {"level":"fatal","ts":"2026-06-26T00:11:37.289394Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 26 00:11:37 np0000094482 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 26 00:11:37 np0000094482 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 26 00:11:37 np0000094482 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 26 00:11:37 np0000094482 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 26 00:11:37 np0000094482 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 26 00:11:37 np0000094482 etcd[61032]: {"level":"warn","ts":"2026-06-26T00:11:37.504800Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 26 00:11:37 np0000094482 etcd[61032]: {"level":"info","ts":"2026-06-26T00:11:37.505013Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094482","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094482=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 26 00:11:37 np0000094482 etcd[61032]: {"level":"warn","ts":"2026-06-26T00:11:37.505257Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 26 00:11:37 np0000094482 etcd[61032]: {"level":"info","ts":"2026-06-26T00:11:37.505292Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 26 00:11:37 np0000094482 etcd[61032]: {"level":"info","ts":"2026-06-26T00:11:37.505812Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:37 np0000094482 etcd[61032]: {"level":"info","ts":"2026-06-26T00:11:37.505928Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094482","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:37 np0000094482 etcd[61032]: {"level":"info","ts":"2026-06-26T00:11:37.506007Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094482","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:37 np0000094482 etcd[61032]: {"level":"warn","ts":"2026-06-26T00:11:37.506065Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 26 00:11:37 np0000094482 etcd[61032]: {"level":"fatal","ts":"2026-06-26T00:11:37.506146Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 26 00:11:37 np0000094482 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 26 00:11:37 np0000094482 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 26 00:11:37 np0000094482 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 26 00:11:37 np0000094482 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 26 00:11:37 np0000094482 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 26 00:11:37 np0000094482 etcd[61041]: {"level":"warn","ts":"2026-06-26T00:11:37.765371Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 26 00:11:37 np0000094482 etcd[61041]: {"level":"info","ts":"2026-06-26T00:11:37.765567Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094482","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094482=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 26 00:11:37 np0000094482 etcd[61041]: {"level":"warn","ts":"2026-06-26T00:11:37.765854Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 26 00:11:37 np0000094482 etcd[61041]: {"level":"info","ts":"2026-06-26T00:11:37.765905Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 26 00:11:37 np0000094482 etcd[61041]: {"level":"info","ts":"2026-06-26T00:11:37.766477Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:37 np0000094482 etcd[61041]: {"level":"info","ts":"2026-06-26T00:11:37.766592Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094482","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:37 np0000094482 etcd[61041]: {"level":"info","ts":"2026-06-26T00:11:37.766670Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094482","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:37 np0000094482 etcd[61041]: {"level":"warn","ts":"2026-06-26T00:11:37.766723Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 26 00:11:37 np0000094482 etcd[61041]: {"level":"fatal","ts":"2026-06-26T00:11:37.766797Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 26 00:11:37 np0000094482 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 26 00:11:37 np0000094482 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 26 00:11:37 np0000094482 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 26 00:11:37 np0000094482 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 26 00:11:37 np0000094482 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 26 00:11:38 np0000094482 etcd[61062]: {"level":"warn","ts":"2026-06-26T00:11:38.023982Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 26 00:11:38 np0000094482 etcd[61062]: {"level":"info","ts":"2026-06-26T00:11:38.024133Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094482","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094482=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 26 00:11:38 np0000094482 etcd[61062]: {"level":"warn","ts":"2026-06-26T00:11:38.024340Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 26 00:11:38 np0000094482 etcd[61062]: {"level":"info","ts":"2026-06-26T00:11:38.024391Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 26 00:11:38 np0000094482 etcd[61062]: {"level":"info","ts":"2026-06-26T00:11:38.024896Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:38 np0000094482 etcd[61062]: {"level":"info","ts":"2026-06-26T00:11:38.024997Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094482","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:38 np0000094482 etcd[61062]: {"level":"info","ts":"2026-06-26T00:11:38.025070Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094482","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 26 00:11:38 np0000094482 etcd[61062]: {"level":"warn","ts":"2026-06-26T00:11:38.025129Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 26 00:11:38 np0000094482 etcd[61062]: {"level":"fatal","ts":"2026-06-26T00:11:38.025200Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 26 00:11:38 np0000094482 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 26 00:11:38 np0000094482 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 26 00:11:38 np0000094482 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 26 00:11:38 np0000094482 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 26 00:11:38 np0000094482 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 26 00:11:38 np0000094482 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 26 00:11:38 np0000094482 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
