Apr 17 00:04:50 np0000093997 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 00:04:50 np0000093997 etcd[60703]: {"level":"warn","ts":"2026-04-17T00:04:50.343081Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:04:50 np0000093997 etcd[60703]: {"level":"info","ts":"2026-04-17T00:04:50.343167Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093997","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093997=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 00:04:50 np0000093997 etcd[60703]: {"level":"warn","ts":"2026-04-17T00:04:50.343248Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:04:50 np0000093997 etcd[60703]: {"level":"info","ts":"2026-04-17T00:04:50.343267Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 00:04:50 np0000093997 etcd[60703]: {"level":"info","ts":"2026-04-17T00:04:50.343517Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:50 np0000093997 etcd[60703]: {"level":"info","ts":"2026-04-17T00:04:50.343569Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093997","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:50 np0000093997 etcd[60703]: {"level":"info","ts":"2026-04-17T00:04:50.343606Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093997","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:50 np0000093997 etcd[60703]: {"level":"warn","ts":"2026-04-17T00:04:50.343631Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 00:04:50 np0000093997 etcd[60703]: {"level":"fatal","ts":"2026-04-17T00:04:50.343666Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 00:04:50 np0000093997 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 00:04:50 np0000093997 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 00:04:50 np0000093997 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 00:04:50 np0000093997 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 17 00:04:50 np0000093997 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 00:04:50 np0000093997 etcd[60816]: {"level":"warn","ts":"2026-04-17T00:04:50.765928Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:04:50 np0000093997 etcd[60816]: {"level":"info","ts":"2026-04-17T00:04:50.766240Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093997","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093997=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 00:04:50 np0000093997 etcd[60816]: {"level":"warn","ts":"2026-04-17T00:04:50.766438Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:04:50 np0000093997 etcd[60816]: {"level":"info","ts":"2026-04-17T00:04:50.766483Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 00:04:50 np0000093997 etcd[60816]: {"level":"info","ts":"2026-04-17T00:04:50.767360Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:50 np0000093997 etcd[60816]: {"level":"info","ts":"2026-04-17T00:04:50.767500Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093997","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:50 np0000093997 etcd[60816]: {"level":"info","ts":"2026-04-17T00:04:50.767598Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093997","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:50 np0000093997 etcd[60816]: {"level":"warn","ts":"2026-04-17T00:04:50.767691Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 00:04:50 np0000093997 etcd[60816]: {"level":"fatal","ts":"2026-04-17T00:04:50.767767Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 00:04:50 np0000093997 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 00:04:50 np0000093997 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 00:04:50 np0000093997 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 00:04:50 np0000093997 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 17 00:04:50 np0000093997 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 00:04:51 np0000093997 etcd[60836]: {"level":"warn","ts":"2026-04-17T00:04:51.000637Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:04:51 np0000093997 etcd[60836]: {"level":"info","ts":"2026-04-17T00:04:51.000781Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093997","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093997=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 00:04:51 np0000093997 etcd[60836]: {"level":"warn","ts":"2026-04-17T00:04:51.000917Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:04:51 np0000093997 etcd[60836]: {"level":"info","ts":"2026-04-17T00:04:51.000941Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 00:04:51 np0000093997 etcd[60836]: {"level":"info","ts":"2026-04-17T00:04:51.001358Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:51 np0000093997 etcd[60836]: {"level":"info","ts":"2026-04-17T00:04:51.001571Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093997","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:51 np0000093997 etcd[60836]: {"level":"info","ts":"2026-04-17T00:04:51.001681Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093997","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:51 np0000093997 etcd[60836]: {"level":"warn","ts":"2026-04-17T00:04:51.001732Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 00:04:51 np0000093997 etcd[60836]: {"level":"fatal","ts":"2026-04-17T00:04:51.001867Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 00:04:51 np0000093997 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 00:04:51 np0000093997 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 00:04:51 np0000093997 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 00:04:51 np0000093997 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 17 00:04:51 np0000093997 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 00:04:51 np0000093997 etcd[60865]: {"level":"warn","ts":"2026-04-17T00:04:51.251278Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:04:51 np0000093997 etcd[60865]: {"level":"info","ts":"2026-04-17T00:04:51.251466Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093997","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093997=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 00:04:51 np0000093997 etcd[60865]: {"level":"warn","ts":"2026-04-17T00:04:51.251628Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:04:51 np0000093997 etcd[60865]: {"level":"info","ts":"2026-04-17T00:04:51.251666Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 00:04:51 np0000093997 etcd[60865]: {"level":"info","ts":"2026-04-17T00:04:51.252320Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:51 np0000093997 etcd[60865]: {"level":"info","ts":"2026-04-17T00:04:51.252450Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093997","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:51 np0000093997 etcd[60865]: {"level":"info","ts":"2026-04-17T00:04:51.252629Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093997","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:51 np0000093997 etcd[60865]: {"level":"warn","ts":"2026-04-17T00:04:51.252687Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 00:04:51 np0000093997 etcd[60865]: {"level":"fatal","ts":"2026-04-17T00:04:51.252832Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 00:04:51 np0000093997 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 00:04:51 np0000093997 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 00:04:51 np0000093997 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 00:04:51 np0000093997 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 17 00:04:51 np0000093997 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 00:04:51 np0000093997 etcd[60900]: {"level":"warn","ts":"2026-04-17T00:04:51.483565Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:04:51 np0000093997 etcd[60900]: {"level":"info","ts":"2026-04-17T00:04:51.483783Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093997","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093997=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 00:04:51 np0000093997 etcd[60900]: {"level":"warn","ts":"2026-04-17T00:04:51.484012Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:04:51 np0000093997 etcd[60900]: {"level":"info","ts":"2026-04-17T00:04:51.484049Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 00:04:51 np0000093997 etcd[60900]: {"level":"info","ts":"2026-04-17T00:04:51.484652Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:51 np0000093997 etcd[60900]: {"level":"info","ts":"2026-04-17T00:04:51.484839Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093997","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:51 np0000093997 etcd[60900]: {"level":"info","ts":"2026-04-17T00:04:51.484967Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093997","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:04:51 np0000093997 etcd[60900]: {"level":"warn","ts":"2026-04-17T00:04:51.487065Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 00:04:51 np0000093997 etcd[60900]: {"level":"fatal","ts":"2026-04-17T00:04:51.487114Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 00:04:51 np0000093997 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 00:04:51 np0000093997 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 00:04:51 np0000093997 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 00:04:51 np0000093997 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 17 00:04:51 np0000093997 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 17 00:04:51 np0000093997 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 00:04:51 np0000093997 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
