Apr 28 22:43:02 np0000094106 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 22:43:02 np0000094106 etcd[60187]: {"level":"warn","ts":"2026-04-28T22:43:02.322389Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:43:02 np0000094106 etcd[60187]: {"level":"info","ts":"2026-04-28T22:43:02.323017Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094106","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094106=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 22:43:02 np0000094106 etcd[60187]: {"level":"warn","ts":"2026-04-28T22:43:02.323117Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:43:02 np0000094106 etcd[60187]: {"level":"info","ts":"2026-04-28T22:43:02.323141Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 22:43:02 np0000094106 etcd[60187]: {"level":"info","ts":"2026-04-28T22:43:02.323406Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:02 np0000094106 etcd[60187]: {"level":"info","ts":"2026-04-28T22:43:02.323472Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094106","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:02 np0000094106 etcd[60187]: {"level":"info","ts":"2026-04-28T22:43:02.323516Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094106","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:02 np0000094106 etcd[60187]: {"level":"warn","ts":"2026-04-28T22:43:02.323548Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 22:43:02 np0000094106 etcd[60187]: {"level":"fatal","ts":"2026-04-28T22:43:02.323589Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 22:43:02 np0000094106 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 22:43:02 np0000094106 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 22:43:02 np0000094106 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 22:43:02 np0000094106 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 28 22:43:02 np0000094106 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 22:43:02 np0000094106 etcd[60249]: {"level":"warn","ts":"2026-04-28T22:43:02.545654Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:43:02 np0000094106 etcd[60249]: {"level":"info","ts":"2026-04-28T22:43:02.545812Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094106","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094106=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 22:43:02 np0000094106 etcd[60249]: {"level":"warn","ts":"2026-04-28T22:43:02.546033Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:43:02 np0000094106 etcd[60249]: {"level":"info","ts":"2026-04-28T22:43:02.546072Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 22:43:02 np0000094106 etcd[60249]: {"level":"info","ts":"2026-04-28T22:43:02.546583Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:02 np0000094106 etcd[60249]: {"level":"info","ts":"2026-04-28T22:43:02.546693Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094106","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:02 np0000094106 etcd[60249]: {"level":"info","ts":"2026-04-28T22:43:02.546763Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094106","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:02 np0000094106 etcd[60249]: {"level":"warn","ts":"2026-04-28T22:43:02.546813Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 22:43:02 np0000094106 etcd[60249]: {"level":"fatal","ts":"2026-04-28T22:43:02.548379Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 22:43:02 np0000094106 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 22:43:02 np0000094106 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 22:43:02 np0000094106 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 22:43:02 np0000094106 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 28 22:43:02 np0000094106 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 22:43:02 np0000094106 etcd[60306]: {"level":"warn","ts":"2026-04-28T22:43:02.793514Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:43:02 np0000094106 etcd[60306]: {"level":"info","ts":"2026-04-28T22:43:02.793699Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094106","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094106=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 22:43:02 np0000094106 etcd[60306]: {"level":"warn","ts":"2026-04-28T22:43:02.794045Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:43:02 np0000094106 etcd[60306]: {"level":"info","ts":"2026-04-28T22:43:02.794122Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 22:43:02 np0000094106 etcd[60306]: {"level":"info","ts":"2026-04-28T22:43:02.795468Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:02 np0000094106 etcd[60306]: {"level":"info","ts":"2026-04-28T22:43:02.795644Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094106","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:02 np0000094106 etcd[60306]: {"level":"info","ts":"2026-04-28T22:43:02.795741Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094106","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:02 np0000094106 etcd[60306]: {"level":"warn","ts":"2026-04-28T22:43:02.795819Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 22:43:02 np0000094106 etcd[60306]: {"level":"fatal","ts":"2026-04-28T22:43:02.795953Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 22:43:02 np0000094106 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 22:43:02 np0000094106 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 22:43:02 np0000094106 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 22:43:02 np0000094106 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 28 22:43:02 np0000094106 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 22:43:03 np0000094106 etcd[60318]: {"level":"warn","ts":"2026-04-28T22:43:03.048016Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:43:03 np0000094106 etcd[60318]: {"level":"info","ts":"2026-04-28T22:43:03.048200Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094106","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094106=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 22:43:03 np0000094106 etcd[60318]: {"level":"warn","ts":"2026-04-28T22:43:03.048380Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:43:03 np0000094106 etcd[60318]: {"level":"info","ts":"2026-04-28T22:43:03.048430Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 22:43:03 np0000094106 etcd[60318]: {"level":"info","ts":"2026-04-28T22:43:03.048983Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:03 np0000094106 etcd[60318]: {"level":"info","ts":"2026-04-28T22:43:03.049110Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094106","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:03 np0000094106 etcd[60318]: {"level":"info","ts":"2026-04-28T22:43:03.049192Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094106","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:03 np0000094106 etcd[60318]: {"level":"warn","ts":"2026-04-28T22:43:03.049269Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 22:43:03 np0000094106 etcd[60318]: {"level":"fatal","ts":"2026-04-28T22:43:03.049353Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 22:43:03 np0000094106 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 22:43:03 np0000094106 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 22:43:03 np0000094106 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 22:43:03 np0000094106 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 28 22:43:03 np0000094106 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 22:43:03 np0000094106 etcd[60358]: {"level":"warn","ts":"2026-04-28T22:43:03.306249Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:43:03 np0000094106 etcd[60358]: {"level":"info","ts":"2026-04-28T22:43:03.306410Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094106","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094106=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 22:43:03 np0000094106 etcd[60358]: {"level":"warn","ts":"2026-04-28T22:43:03.306552Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:43:03 np0000094106 etcd[60358]: {"level":"info","ts":"2026-04-28T22:43:03.306594Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 22:43:03 np0000094106 etcd[60358]: {"level":"info","ts":"2026-04-28T22:43:03.307054Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:03 np0000094106 etcd[60358]: {"level":"info","ts":"2026-04-28T22:43:03.307157Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094106","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:03 np0000094106 etcd[60358]: {"level":"info","ts":"2026-04-28T22:43:03.307225Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094106","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:43:03 np0000094106 etcd[60358]: {"level":"warn","ts":"2026-04-28T22:43:03.307281Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 22:43:03 np0000094106 etcd[60358]: {"level":"fatal","ts":"2026-04-28T22:43:03.307336Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 22:43:03 np0000094106 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 22:43:03 np0000094106 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 22:43:03 np0000094106 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 22:43:03 np0000094106 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 28 22:43:03 np0000094106 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 28 22:43:03 np0000094106 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 22:43:03 np0000094106 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
