Jun 08 10:50:28 np0000094267 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 10:50:28 np0000094267 etcd[60102]: {"level":"warn","ts":"2026-06-08T10:50:28.474426Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 10:50:28 np0000094267 etcd[60102]: {"level":"info","ts":"2026-06-08T10:50:28.474703Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094267","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094267=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 10:50:28 np0000094267 etcd[60102]: {"level":"warn","ts":"2026-06-08T10:50:28.474902Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 10:50:28 np0000094267 etcd[60102]: {"level":"info","ts":"2026-06-08T10:50:28.474936Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 10:50:28 np0000094267 etcd[60102]: {"level":"info","ts":"2026-06-08T10:50:28.475561Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:28 np0000094267 etcd[60102]: {"level":"info","ts":"2026-06-08T10:50:28.475723Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094267","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:28 np0000094267 etcd[60102]: {"level":"info","ts":"2026-06-08T10:50:28.475807Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094267","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:28 np0000094267 etcd[60102]: {"level":"warn","ts":"2026-06-08T10:50:28.475875Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 10:50:28 np0000094267 etcd[60102]: {"level":"fatal","ts":"2026-06-08T10:50:28.475943Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 10:50:28 np0000094267 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 10:50:28 np0000094267 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 10:50:28 np0000094267 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 10:50:28 np0000094267 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 08 10:50:28 np0000094267 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 10:50:28 np0000094267 etcd[60181]: {"level":"warn","ts":"2026-06-08T10:50:28.806690Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 10:50:28 np0000094267 etcd[60181]: {"level":"info","ts":"2026-06-08T10:50:28.806847Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094267","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094267=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 10:50:28 np0000094267 etcd[60181]: {"level":"warn","ts":"2026-06-08T10:50:28.806979Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 10:50:28 np0000094267 etcd[60181]: {"level":"info","ts":"2026-06-08T10:50:28.807005Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 10:50:28 np0000094267 etcd[60181]: {"level":"info","ts":"2026-06-08T10:50:28.807420Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:28 np0000094267 etcd[60181]: {"level":"info","ts":"2026-06-08T10:50:28.807542Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094267","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:28 np0000094267 etcd[60181]: {"level":"info","ts":"2026-06-08T10:50:28.807644Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094267","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:28 np0000094267 etcd[60181]: {"level":"warn","ts":"2026-06-08T10:50:28.807694Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 10:50:28 np0000094267 etcd[60181]: {"level":"fatal","ts":"2026-06-08T10:50:28.807750Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 10:50:28 np0000094267 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 10:50:28 np0000094267 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 10:50:28 np0000094267 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 10:50:28 np0000094267 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 08 10:50:29 np0000094267 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 10:50:29 np0000094267 etcd[60222]: {"level":"warn","ts":"2026-06-08T10:50:29.049814Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 10:50:29 np0000094267 etcd[60222]: {"level":"info","ts":"2026-06-08T10:50:29.050003Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094267","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094267=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 10:50:29 np0000094267 etcd[60222]: {"level":"warn","ts":"2026-06-08T10:50:29.050161Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 10:50:29 np0000094267 etcd[60222]: {"level":"info","ts":"2026-06-08T10:50:29.050192Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 10:50:29 np0000094267 etcd[60222]: {"level":"info","ts":"2026-06-08T10:50:29.050700Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:29 np0000094267 etcd[60222]: {"level":"info","ts":"2026-06-08T10:50:29.050830Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094267","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:29 np0000094267 etcd[60222]: {"level":"info","ts":"2026-06-08T10:50:29.050914Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094267","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:29 np0000094267 etcd[60222]: {"level":"warn","ts":"2026-06-08T10:50:29.050972Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 10:50:29 np0000094267 etcd[60222]: {"level":"fatal","ts":"2026-06-08T10:50:29.051051Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 10:50:29 np0000094267 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 10:50:29 np0000094267 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 10:50:29 np0000094267 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 10:50:29 np0000094267 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 08 10:50:29 np0000094267 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 10:50:29 np0000094267 etcd[60241]: {"level":"warn","ts":"2026-06-08T10:50:29.297445Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 10:50:29 np0000094267 etcd[60241]: {"level":"info","ts":"2026-06-08T10:50:29.297675Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094267","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094267=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 10:50:29 np0000094267 etcd[60241]: {"level":"warn","ts":"2026-06-08T10:50:29.297892Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 10:50:29 np0000094267 etcd[60241]: {"level":"info","ts":"2026-06-08T10:50:29.297931Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 10:50:29 np0000094267 etcd[60241]: {"level":"info","ts":"2026-06-08T10:50:29.298407Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:29 np0000094267 etcd[60241]: {"level":"info","ts":"2026-06-08T10:50:29.298556Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094267","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:29 np0000094267 etcd[60241]: {"level":"info","ts":"2026-06-08T10:50:29.298674Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094267","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:29 np0000094267 etcd[60241]: {"level":"warn","ts":"2026-06-08T10:50:29.298734Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 10:50:29 np0000094267 etcd[60241]: {"level":"fatal","ts":"2026-06-08T10:50:29.298811Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 10:50:29 np0000094267 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 10:50:29 np0000094267 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 10:50:29 np0000094267 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 10:50:29 np0000094267 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 08 10:50:29 np0000094267 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 10:50:29 np0000094267 etcd[60274]: {"level":"warn","ts":"2026-06-08T10:50:29.557387Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 10:50:29 np0000094267 etcd[60274]: {"level":"info","ts":"2026-06-08T10:50:29.557552Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094267","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094267=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 10:50:29 np0000094267 etcd[60274]: {"level":"warn","ts":"2026-06-08T10:50:29.557749Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 10:50:29 np0000094267 etcd[60274]: {"level":"info","ts":"2026-06-08T10:50:29.557776Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 10:50:29 np0000094267 etcd[60274]: {"level":"info","ts":"2026-06-08T10:50:29.558454Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:29 np0000094267 etcd[60274]: {"level":"info","ts":"2026-06-08T10:50:29.559783Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094267","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:29 np0000094267 etcd[60274]: {"level":"info","ts":"2026-06-08T10:50:29.559976Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094267","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 10:50:29 np0000094267 etcd[60274]: {"level":"warn","ts":"2026-06-08T10:50:29.560046Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 10:50:29 np0000094267 etcd[60274]: {"level":"fatal","ts":"2026-06-08T10:50:29.560138Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 10:50:29 np0000094267 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 10:50:29 np0000094267 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 10:50:29 np0000094267 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 10:50:29 np0000094267 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 08 10:50:29 np0000094267 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 08 10:50:29 np0000094267 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 10:50:29 np0000094267 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
