Apr 13 11:42:31 np0000093925 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 11:42:31 np0000093925 etcd[60197]: {"level":"warn","ts":"2026-04-13T11:42:31.961859Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 11:42:31 np0000093925 etcd[60197]: {"level":"info","ts":"2026-04-13T11:42:31.962023Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093925","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093925=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 11:42:31 np0000093925 etcd[60197]: {"level":"warn","ts":"2026-04-13T11:42:31.962201Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 11:42:31 np0000093925 etcd[60197]: {"level":"info","ts":"2026-04-13T11:42:31.962237Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 11:42:31 np0000093925 etcd[60197]: {"level":"info","ts":"2026-04-13T11:42:31.962752Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:31 np0000093925 etcd[60197]: {"level":"info","ts":"2026-04-13T11:42:31.962891Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093925","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:31 np0000093925 etcd[60197]: {"level":"info","ts":"2026-04-13T11:42:31.962965Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093925","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:31 np0000093925 etcd[60197]: {"level":"warn","ts":"2026-04-13T11:42:31.963014Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 11:42:31 np0000093925 etcd[60197]: {"level":"fatal","ts":"2026-04-13T11:42:31.963069Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 11:42:31 np0000093925 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 11:42:31 np0000093925 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 11:42:31 np0000093925 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 11:42:32 np0000093925 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 13 11:42:32 np0000093925 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 11:42:32 np0000093925 etcd[60258]: {"level":"warn","ts":"2026-04-13T11:42:32.229268Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 11:42:32 np0000093925 etcd[60258]: {"level":"info","ts":"2026-04-13T11:42:32.229446Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093925","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093925=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 11:42:32 np0000093925 etcd[60258]: {"level":"warn","ts":"2026-04-13T11:42:32.229641Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 11:42:32 np0000093925 etcd[60258]: {"level":"info","ts":"2026-04-13T11:42:32.229672Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 11:42:32 np0000093925 etcd[60258]: {"level":"info","ts":"2026-04-13T11:42:32.230128Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:32 np0000093925 etcd[60258]: {"level":"info","ts":"2026-04-13T11:42:32.230231Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093925","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:32 np0000093925 etcd[60258]: {"level":"info","ts":"2026-04-13T11:42:32.230288Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093925","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:32 np0000093925 etcd[60258]: {"level":"warn","ts":"2026-04-13T11:42:32.230353Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 11:42:32 np0000093925 etcd[60258]: {"level":"fatal","ts":"2026-04-13T11:42:32.230408Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 11:42:32 np0000093925 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 11:42:32 np0000093925 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 11:42:32 np0000093925 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 11:42:32 np0000093925 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 13 11:42:32 np0000093925 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 11:42:32 np0000093925 etcd[60317]: {"level":"warn","ts":"2026-04-13T11:42:32.477457Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 11:42:32 np0000093925 etcd[60317]: {"level":"info","ts":"2026-04-13T11:42:32.478677Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093925","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093925=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 11:42:32 np0000093925 etcd[60317]: {"level":"warn","ts":"2026-04-13T11:42:32.478910Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 11:42:32 np0000093925 etcd[60317]: {"level":"info","ts":"2026-04-13T11:42:32.478950Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 11:42:32 np0000093925 etcd[60317]: {"level":"info","ts":"2026-04-13T11:42:32.479433Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:32 np0000093925 etcd[60317]: {"level":"info","ts":"2026-04-13T11:42:32.479618Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093925","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:32 np0000093925 etcd[60317]: {"level":"info","ts":"2026-04-13T11:42:32.479716Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093925","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:32 np0000093925 etcd[60317]: {"level":"warn","ts":"2026-04-13T11:42:32.479782Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 11:42:32 np0000093925 etcd[60317]: {"level":"fatal","ts":"2026-04-13T11:42:32.479853Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 11:42:32 np0000093925 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 11:42:32 np0000093925 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 11:42:32 np0000093925 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 11:42:32 np0000093925 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 13 11:42:32 np0000093925 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 11:42:32 np0000093925 etcd[60324]: {"level":"warn","ts":"2026-04-13T11:42:32.726504Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 11:42:32 np0000093925 etcd[60324]: {"level":"info","ts":"2026-04-13T11:42:32.726730Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093925","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093925=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 11:42:32 np0000093925 etcd[60324]: {"level":"warn","ts":"2026-04-13T11:42:32.726895Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 11:42:32 np0000093925 etcd[60324]: {"level":"info","ts":"2026-04-13T11:42:32.726927Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 11:42:32 np0000093925 etcd[60324]: {"level":"info","ts":"2026-04-13T11:42:32.727373Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:32 np0000093925 etcd[60324]: {"level":"info","ts":"2026-04-13T11:42:32.727496Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093925","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:32 np0000093925 etcd[60324]: {"level":"info","ts":"2026-04-13T11:42:32.727634Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093925","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:32 np0000093925 etcd[60324]: {"level":"warn","ts":"2026-04-13T11:42:32.727695Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 11:42:32 np0000093925 etcd[60324]: {"level":"fatal","ts":"2026-04-13T11:42:32.727762Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 11:42:32 np0000093925 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 11:42:32 np0000093925 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 11:42:32 np0000093925 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 11:42:32 np0000093925 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 13 11:42:32 np0000093925 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 11:42:32 np0000093925 etcd[60357]: {"level":"warn","ts":"2026-04-13T11:42:32.972454Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 11:42:32 np0000093925 etcd[60357]: {"level":"info","ts":"2026-04-13T11:42:32.972716Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093925","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093925=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 11:42:32 np0000093925 etcd[60357]: {"level":"warn","ts":"2026-04-13T11:42:32.972904Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 11:42:32 np0000093925 etcd[60357]: {"level":"info","ts":"2026-04-13T11:42:32.972937Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 11:42:32 np0000093925 etcd[60357]: {"level":"info","ts":"2026-04-13T11:42:32.973428Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:32 np0000093925 etcd[60357]: {"level":"info","ts":"2026-04-13T11:42:32.973567Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093925","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:32 np0000093925 etcd[60357]: {"level":"info","ts":"2026-04-13T11:42:32.973698Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093925","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 11:42:32 np0000093925 etcd[60357]: {"level":"warn","ts":"2026-04-13T11:42:32.973768Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 11:42:32 np0000093925 etcd[60357]: {"level":"fatal","ts":"2026-04-13T11:42:32.973881Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 11:42:32 np0000093925 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 11:42:32 np0000093925 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 11:42:32 np0000093925 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 11:42:33 np0000093925 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 13 11:42:33 np0000093925 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 13 11:42:33 np0000093925 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 11:42:33 np0000093925 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
