Jun 11 07:29:36 np0000094311 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 07:29:36 np0000094311 etcd[60575]: {"level":"warn","ts":"2026-06-11T07:29:36.517126Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 07:29:36 np0000094311 etcd[60575]: {"level":"info","ts":"2026-06-11T07:29:36.517327Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094311","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094311=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 07:29:36 np0000094311 etcd[60575]: {"level":"warn","ts":"2026-06-11T07:29:36.517507Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 07:29:36 np0000094311 etcd[60575]: {"level":"info","ts":"2026-06-11T07:29:36.517542Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 07:29:36 np0000094311 etcd[60575]: {"level":"info","ts":"2026-06-11T07:29:36.518142Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:36 np0000094311 etcd[60575]: {"level":"info","ts":"2026-06-11T07:29:36.518310Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094311","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:36 np0000094311 etcd[60575]: {"level":"info","ts":"2026-06-11T07:29:36.518397Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094311","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:36 np0000094311 etcd[60575]: {"level":"warn","ts":"2026-06-11T07:29:36.518468Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 07:29:36 np0000094311 etcd[60575]: {"level":"fatal","ts":"2026-06-11T07:29:36.518554Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 07:29:36 np0000094311 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 07:29:36 np0000094311 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 07:29:36 np0000094311 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 07:29:36 np0000094311 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 11 07:29:36 np0000094311 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 07:29:36 np0000094311 etcd[60659]: {"level":"warn","ts":"2026-06-11T07:29:36.867875Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 07:29:36 np0000094311 etcd[60659]: {"level":"info","ts":"2026-06-11T07:29:36.868103Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094311","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094311=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 07:29:36 np0000094311 etcd[60659]: {"level":"warn","ts":"2026-06-11T07:29:36.868266Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 07:29:36 np0000094311 etcd[60659]: {"level":"info","ts":"2026-06-11T07:29:36.868317Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 07:29:36 np0000094311 etcd[60659]: {"level":"info","ts":"2026-06-11T07:29:36.868827Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:36 np0000094311 etcd[60659]: {"level":"info","ts":"2026-06-11T07:29:36.869043Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094311","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:36 np0000094311 etcd[60659]: {"level":"info","ts":"2026-06-11T07:29:36.869123Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094311","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:36 np0000094311 etcd[60659]: {"level":"warn","ts":"2026-06-11T07:29:36.869191Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 07:29:36 np0000094311 etcd[60659]: {"level":"fatal","ts":"2026-06-11T07:29:36.869253Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 07:29:36 np0000094311 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 07:29:36 np0000094311 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 07:29:36 np0000094311 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 07:29:37 np0000094311 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 11 07:29:37 np0000094311 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 07:29:37 np0000094311 etcd[60696]: {"level":"warn","ts":"2026-06-11T07:29:37.109969Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 07:29:37 np0000094311 etcd[60696]: {"level":"info","ts":"2026-06-11T07:29:37.110160Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094311","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094311=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 07:29:37 np0000094311 etcd[60696]: {"level":"warn","ts":"2026-06-11T07:29:37.110377Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 07:29:37 np0000094311 etcd[60696]: {"level":"info","ts":"2026-06-11T07:29:37.110420Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 07:29:37 np0000094311 etcd[60696]: {"level":"info","ts":"2026-06-11T07:29:37.110983Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:37 np0000094311 etcd[60696]: {"level":"info","ts":"2026-06-11T07:29:37.111113Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094311","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:37 np0000094311 etcd[60696]: {"level":"info","ts":"2026-06-11T07:29:37.111200Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094311","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:37 np0000094311 etcd[60696]: {"level":"warn","ts":"2026-06-11T07:29:37.111259Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 07:29:37 np0000094311 etcd[60696]: {"level":"fatal","ts":"2026-06-11T07:29:37.111355Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 07:29:37 np0000094311 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 07:29:37 np0000094311 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 07:29:37 np0000094311 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 07:29:37 np0000094311 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 11 07:29:37 np0000094311 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 07:29:37 np0000094311 etcd[60716]: {"level":"warn","ts":"2026-06-11T07:29:37.360376Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 07:29:37 np0000094311 etcd[60716]: {"level":"info","ts":"2026-06-11T07:29:37.360603Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094311","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094311=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 07:29:37 np0000094311 etcd[60716]: {"level":"warn","ts":"2026-06-11T07:29:37.360791Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 07:29:37 np0000094311 etcd[60716]: {"level":"info","ts":"2026-06-11T07:29:37.360835Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 07:29:37 np0000094311 etcd[60716]: {"level":"info","ts":"2026-06-11T07:29:37.361396Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:37 np0000094311 etcd[60716]: {"level":"info","ts":"2026-06-11T07:29:37.361527Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094311","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:37 np0000094311 etcd[60716]: {"level":"info","ts":"2026-06-11T07:29:37.361648Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094311","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:37 np0000094311 etcd[60716]: {"level":"warn","ts":"2026-06-11T07:29:37.361708Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 07:29:37 np0000094311 etcd[60716]: {"level":"fatal","ts":"2026-06-11T07:29:37.361789Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 07:29:37 np0000094311 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 07:29:37 np0000094311 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 07:29:37 np0000094311 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 07:29:37 np0000094311 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 11 07:29:37 np0000094311 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 07:29:37 np0000094311 etcd[60745]: {"level":"warn","ts":"2026-06-11T07:29:37.603826Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 07:29:37 np0000094311 etcd[60745]: {"level":"info","ts":"2026-06-11T07:29:37.603999Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094311","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094311=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 07:29:37 np0000094311 etcd[60745]: {"level":"warn","ts":"2026-06-11T07:29:37.604167Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 07:29:37 np0000094311 etcd[60745]: {"level":"info","ts":"2026-06-11T07:29:37.604193Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 07:29:37 np0000094311 etcd[60745]: {"level":"info","ts":"2026-06-11T07:29:37.604647Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:37 np0000094311 etcd[60745]: {"level":"info","ts":"2026-06-11T07:29:37.604757Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094311","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:37 np0000094311 etcd[60745]: {"level":"info","ts":"2026-06-11T07:29:37.604820Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094311","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 07:29:37 np0000094311 etcd[60745]: {"level":"warn","ts":"2026-06-11T07:29:37.604862Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 07:29:37 np0000094311 etcd[60745]: {"level":"fatal","ts":"2026-06-11T07:29:37.604911Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 07:29:37 np0000094311 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 07:29:37 np0000094311 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 07:29:37 np0000094311 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 07:29:37 np0000094311 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 11 07:29:37 np0000094311 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 11 07:29:37 np0000094311 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 07:29:37 np0000094311 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
