Jun 17 15:53:59 np0000094385 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 15:53:59 np0000094385 etcd[60066]: {"level":"warn","ts":"2026-06-17T15:53:59.891786Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:53:59 np0000094385 etcd[60066]: {"level":"info","ts":"2026-06-17T15:53:59.892856Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094385","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094385=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 15:53:59 np0000094385 etcd[60066]: {"level":"warn","ts":"2026-06-17T15:53:59.893315Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:53:59 np0000094385 etcd[60066]: {"level":"info","ts":"2026-06-17T15:53:59.893355Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 15:53:59 np0000094385 etcd[60066]: {"level":"info","ts":"2026-06-17T15:53:59.893837Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:53:59 np0000094385 etcd[60066]: {"level":"info","ts":"2026-06-17T15:53:59.893951Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094385","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:53:59 np0000094385 etcd[60066]: {"level":"info","ts":"2026-06-17T15:53:59.894020Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094385","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:53:59 np0000094385 etcd[60066]: {"level":"warn","ts":"2026-06-17T15:53:59.894067Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 15:53:59 np0000094385 etcd[60066]: {"level":"fatal","ts":"2026-06-17T15:53:59.894123Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 15:53:59 np0000094385 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 15:53:59 np0000094385 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 15:53:59 np0000094385 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 15:54:00 np0000094385 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 17 15:54:00 np0000094385 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 15:54:00 np0000094385 etcd[60139]: {"level":"warn","ts":"2026-06-17T15:54:00.185950Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:54:00 np0000094385 etcd[60139]: {"level":"info","ts":"2026-06-17T15:54:00.186126Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094385","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094385=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 15:54:00 np0000094385 etcd[60139]: {"level":"warn","ts":"2026-06-17T15:54:00.186323Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:54:00 np0000094385 etcd[60139]: {"level":"info","ts":"2026-06-17T15:54:00.186355Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 15:54:00 np0000094385 etcd[60139]: {"level":"info","ts":"2026-06-17T15:54:00.186966Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:54:00 np0000094385 etcd[60139]: {"level":"info","ts":"2026-06-17T15:54:00.187087Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094385","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:54:00 np0000094385 etcd[60139]: {"level":"info","ts":"2026-06-17T15:54:00.187186Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094385","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:54:00 np0000094385 etcd[60139]: {"level":"warn","ts":"2026-06-17T15:54:00.187241Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 15:54:00 np0000094385 etcd[60139]: {"level":"fatal","ts":"2026-06-17T15:54:00.187308Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 15:54:00 np0000094385 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 15:54:00 np0000094385 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 15:54:00 np0000094385 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 15:54:00 np0000094385 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 17 15:54:00 np0000094385 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 15:54:00 np0000094385 etcd[60186]: {"level":"warn","ts":"2026-06-17T15:54:00.428577Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:54:00 np0000094385 etcd[60186]: {"level":"info","ts":"2026-06-17T15:54:00.428831Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094385","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094385=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 15:54:00 np0000094385 etcd[60186]: {"level":"warn","ts":"2026-06-17T15:54:00.429014Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:54:00 np0000094385 etcd[60186]: {"level":"info","ts":"2026-06-17T15:54:00.429045Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 15:54:00 np0000094385 etcd[60186]: {"level":"info","ts":"2026-06-17T15:54:00.429573Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:54:00 np0000094385 etcd[60186]: {"level":"info","ts":"2026-06-17T15:54:00.429733Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094385","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:54:00 np0000094385 etcd[60186]: {"level":"info","ts":"2026-06-17T15:54:00.429817Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094385","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:54:00 np0000094385 etcd[60186]: {"level":"warn","ts":"2026-06-17T15:54:00.429875Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 15:54:00 np0000094385 etcd[60186]: {"level":"fatal","ts":"2026-06-17T15:54:00.429946Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 15:54:00 np0000094385 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 15:54:00 np0000094385 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 15:54:00 np0000094385 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 15:54:00 np0000094385 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 17 15:54:00 np0000094385 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 15:54:00 np0000094385 etcd[60194]: {"level":"warn","ts":"2026-06-17T15:54:00.685920Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:54:00 np0000094385 etcd[60194]: {"level":"info","ts":"2026-06-17T15:54:00.686093Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094385","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094385=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 15:54:00 np0000094385 etcd[60194]: {"level":"warn","ts":"2026-06-17T15:54:00.686279Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:54:00 np0000094385 etcd[60194]: {"level":"info","ts":"2026-06-17T15:54:00.686312Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 15:54:00 np0000094385 etcd[60194]: {"level":"info","ts":"2026-06-17T15:54:00.686824Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:54:00 np0000094385 etcd[60194]: {"level":"info","ts":"2026-06-17T15:54:00.686946Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094385","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:54:00 np0000094385 etcd[60194]: {"level":"info","ts":"2026-06-17T15:54:00.687027Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094385","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:54:00 np0000094385 etcd[60194]: {"level":"warn","ts":"2026-06-17T15:54:00.687085Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 15:54:00 np0000094385 etcd[60194]: {"level":"fatal","ts":"2026-06-17T15:54:00.687168Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 15:54:00 np0000094385 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 15:54:00 np0000094385 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 15:54:00 np0000094385 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 15:54:00 np0000094385 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 17 15:54:00 np0000094385 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 15:54:00 np0000094385 etcd[60214]: {"level":"warn","ts":"2026-06-17T15:54:00.930866Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:54:00 np0000094385 etcd[60214]: {"level":"info","ts":"2026-06-17T15:54:00.931042Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094385","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094385=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 15:54:00 np0000094385 etcd[60214]: {"level":"warn","ts":"2026-06-17T15:54:00.931225Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:54:00 np0000094385 etcd[60214]: {"level":"info","ts":"2026-06-17T15:54:00.931257Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 15:54:00 np0000094385 etcd[60214]: {"level":"info","ts":"2026-06-17T15:54:00.931797Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:54:00 np0000094385 etcd[60214]: {"level":"info","ts":"2026-06-17T15:54:00.931921Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094385","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:54:00 np0000094385 etcd[60214]: {"level":"info","ts":"2026-06-17T15:54:00.932022Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094385","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:54:00 np0000094385 etcd[60214]: {"level":"warn","ts":"2026-06-17T15:54:00.932086Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 15:54:00 np0000094385 etcd[60214]: {"level":"fatal","ts":"2026-06-17T15:54:00.932174Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 15:54:00 np0000094385 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 15:54:00 np0000094385 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 15:54:00 np0000094385 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 15:54:01 np0000094385 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 17 15:54:01 np0000094385 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 17 15:54:01 np0000094385 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 15:54:01 np0000094385 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
