Jun 16 12:26:37 np0000094366 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 12:26:38 np0000094366 etcd[60421]: {"level":"warn","ts":"2026-06-16T12:26:38.000662Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:26:38 np0000094366 etcd[60421]: {"level":"info","ts":"2026-06-16T12:26:38.001871Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094366","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094366=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 12:26:38 np0000094366 etcd[60421]: {"level":"warn","ts":"2026-06-16T12:26:38.002085Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:26:38 np0000094366 etcd[60421]: {"level":"info","ts":"2026-06-16T12:26:38.002118Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 12:26:38 np0000094366 etcd[60421]: {"level":"info","ts":"2026-06-16T12:26:38.002530Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60421]: {"level":"info","ts":"2026-06-16T12:26:38.002849Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094366","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60421]: {"level":"info","ts":"2026-06-16T12:26:38.002945Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094366","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60421]: {"level":"warn","ts":"2026-06-16T12:26:38.003029Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 12:26:38 np0000094366 etcd[60421]: {"level":"fatal","ts":"2026-06-16T12:26:38.003098Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 12:26:38 np0000094366 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 16 12:26:38 np0000094366 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 12:26:38 np0000094366 etcd[60478]: {"level":"warn","ts":"2026-06-16T12:26:38.240399Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:26:38 np0000094366 etcd[60478]: {"level":"info","ts":"2026-06-16T12:26:38.240607Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094366","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094366=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 12:26:38 np0000094366 etcd[60478]: {"level":"warn","ts":"2026-06-16T12:26:38.240806Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:26:38 np0000094366 etcd[60478]: {"level":"info","ts":"2026-06-16T12:26:38.240840Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 12:26:38 np0000094366 etcd[60478]: {"level":"info","ts":"2026-06-16T12:26:38.241356Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60478]: {"level":"info","ts":"2026-06-16T12:26:38.241476Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094366","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60478]: {"level":"info","ts":"2026-06-16T12:26:38.241587Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094366","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60478]: {"level":"warn","ts":"2026-06-16T12:26:38.241645Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 12:26:38 np0000094366 etcd[60478]: {"level":"fatal","ts":"2026-06-16T12:26:38.241709Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 12:26:38 np0000094366 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 16 12:26:38 np0000094366 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 12:26:38 np0000094366 etcd[60541]: {"level":"warn","ts":"2026-06-16T12:26:38.487756Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:26:38 np0000094366 etcd[60541]: {"level":"info","ts":"2026-06-16T12:26:38.487948Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094366","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094366=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 12:26:38 np0000094366 etcd[60541]: {"level":"warn","ts":"2026-06-16T12:26:38.488140Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:26:38 np0000094366 etcd[60541]: {"level":"info","ts":"2026-06-16T12:26:38.488181Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 12:26:38 np0000094366 etcd[60541]: {"level":"info","ts":"2026-06-16T12:26:38.488715Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60541]: {"level":"info","ts":"2026-06-16T12:26:38.488840Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094366","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60541]: {"level":"info","ts":"2026-06-16T12:26:38.488924Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094366","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60541]: {"level":"warn","ts":"2026-06-16T12:26:38.488990Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 12:26:38 np0000094366 etcd[60541]: {"level":"fatal","ts":"2026-06-16T12:26:38.489076Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 12:26:38 np0000094366 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 16 12:26:38 np0000094366 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 12:26:38 np0000094366 etcd[60549]: {"level":"warn","ts":"2026-06-16T12:26:38.739023Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:26:38 np0000094366 etcd[60549]: {"level":"info","ts":"2026-06-16T12:26:38.739130Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094366","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094366=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 12:26:38 np0000094366 etcd[60549]: {"level":"warn","ts":"2026-06-16T12:26:38.739261Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:26:38 np0000094366 etcd[60549]: {"level":"info","ts":"2026-06-16T12:26:38.739281Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 12:26:38 np0000094366 etcd[60549]: {"level":"info","ts":"2026-06-16T12:26:38.739639Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60549]: {"level":"info","ts":"2026-06-16T12:26:38.739737Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094366","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60549]: {"level":"info","ts":"2026-06-16T12:26:38.739787Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094366","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60549]: {"level":"warn","ts":"2026-06-16T12:26:38.739816Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 12:26:38 np0000094366 etcd[60549]: {"level":"fatal","ts":"2026-06-16T12:26:38.739856Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 12:26:38 np0000094366 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 16 12:26:38 np0000094366 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 12:26:38 np0000094366 etcd[60589]: {"level":"warn","ts":"2026-06-16T12:26:38.950821Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:26:38 np0000094366 etcd[60589]: {"level":"info","ts":"2026-06-16T12:26:38.950894Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094366","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094366=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 12:26:38 np0000094366 etcd[60589]: {"level":"warn","ts":"2026-06-16T12:26:38.950951Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:26:38 np0000094366 etcd[60589]: {"level":"info","ts":"2026-06-16T12:26:38.950961Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 12:26:38 np0000094366 etcd[60589]: {"level":"info","ts":"2026-06-16T12:26:38.951147Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60589]: {"level":"info","ts":"2026-06-16T12:26:38.951187Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094366","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60589]: {"level":"info","ts":"2026-06-16T12:26:38.951215Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094366","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:26:38 np0000094366 etcd[60589]: {"level":"warn","ts":"2026-06-16T12:26:38.951233Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 12:26:38 np0000094366 etcd[60589]: {"level":"fatal","ts":"2026-06-16T12:26:38.951255Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 12:26:38 np0000094366 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 12:26:38 np0000094366 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 12:26:39 np0000094366 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 16 12:26:39 np0000094366 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 16 12:26:39 np0000094366 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 12:26:39 np0000094366 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
