Jun 12 17:27:16 np0000094333 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 17:27:16 np0000094333 etcd[60509]: {"level":"warn","ts":"2026-06-12T17:27:16.582014Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 17:27:16 np0000094333 etcd[60509]: {"level":"info","ts":"2026-06-12T17:27:16.582238Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094333","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094333=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 17:27:16 np0000094333 etcd[60509]: {"level":"warn","ts":"2026-06-12T17:27:16.582416Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 17:27:16 np0000094333 etcd[60509]: {"level":"info","ts":"2026-06-12T17:27:16.582454Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 17:27:16 np0000094333 etcd[60509]: {"level":"info","ts":"2026-06-12T17:27:16.582912Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:16 np0000094333 etcd[60509]: {"level":"info","ts":"2026-06-12T17:27:16.583025Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094333","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:16 np0000094333 etcd[60509]: {"level":"info","ts":"2026-06-12T17:27:16.583102Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094333","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:16 np0000094333 etcd[60509]: {"level":"warn","ts":"2026-06-12T17:27:16.583221Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 17:27:16 np0000094333 etcd[60509]: {"level":"fatal","ts":"2026-06-12T17:27:16.583282Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 17:27:16 np0000094333 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 17:27:16 np0000094333 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 17:27:16 np0000094333 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 17:27:16 np0000094333 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 12 17:27:16 np0000094333 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 17:27:16 np0000094333 etcd[60555]: {"level":"warn","ts":"2026-06-12T17:27:16.774691Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 17:27:16 np0000094333 etcd[60555]: {"level":"info","ts":"2026-06-12T17:27:16.774882Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094333","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094333=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 17:27:16 np0000094333 etcd[60555]: {"level":"warn","ts":"2026-06-12T17:27:16.775033Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 17:27:16 np0000094333 etcd[60555]: {"level":"info","ts":"2026-06-12T17:27:16.775066Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 17:27:16 np0000094333 etcd[60555]: {"level":"info","ts":"2026-06-12T17:27:16.775478Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:16 np0000094333 etcd[60555]: {"level":"info","ts":"2026-06-12T17:27:16.775582Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094333","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:16 np0000094333 etcd[60555]: {"level":"info","ts":"2026-06-12T17:27:16.775652Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094333","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:16 np0000094333 etcd[60555]: {"level":"warn","ts":"2026-06-12T17:27:16.775706Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 17:27:16 np0000094333 etcd[60555]: {"level":"fatal","ts":"2026-06-12T17:27:16.775757Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 17:27:16 np0000094333 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 17:27:16 np0000094333 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 17:27:16 np0000094333 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 17:27:16 np0000094333 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 12 17:27:16 np0000094333 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 17:27:17 np0000094333 etcd[60630]: {"level":"warn","ts":"2026-06-12T17:27:17.038999Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 17:27:17 np0000094333 etcd[60630]: {"level":"info","ts":"2026-06-12T17:27:17.039205Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094333","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094333=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 17:27:17 np0000094333 etcd[60630]: {"level":"warn","ts":"2026-06-12T17:27:17.039357Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 17:27:17 np0000094333 etcd[60630]: {"level":"info","ts":"2026-06-12T17:27:17.039393Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 17:27:17 np0000094333 etcd[60630]: {"level":"info","ts":"2026-06-12T17:27:17.039755Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:17 np0000094333 etcd[60630]: {"level":"info","ts":"2026-06-12T17:27:17.039866Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094333","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:17 np0000094333 etcd[60630]: {"level":"info","ts":"2026-06-12T17:27:17.039943Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094333","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:17 np0000094333 etcd[60630]: {"level":"warn","ts":"2026-06-12T17:27:17.040009Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 17:27:17 np0000094333 etcd[60630]: {"level":"fatal","ts":"2026-06-12T17:27:17.040069Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 17:27:17 np0000094333 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 17:27:17 np0000094333 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 17:27:17 np0000094333 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 17:27:17 np0000094333 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 12 17:27:17 np0000094333 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 17:27:17 np0000094333 etcd[60638]: {"level":"warn","ts":"2026-06-12T17:27:17.284937Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 17:27:17 np0000094333 etcd[60638]: {"level":"info","ts":"2026-06-12T17:27:17.285192Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094333","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094333=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 17:27:17 np0000094333 etcd[60638]: {"level":"warn","ts":"2026-06-12T17:27:17.285353Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 17:27:17 np0000094333 etcd[60638]: {"level":"info","ts":"2026-06-12T17:27:17.285384Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 17:27:17 np0000094333 etcd[60638]: {"level":"info","ts":"2026-06-12T17:27:17.285849Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:17 np0000094333 etcd[60638]: {"level":"info","ts":"2026-06-12T17:27:17.285968Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094333","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:17 np0000094333 etcd[60638]: {"level":"info","ts":"2026-06-12T17:27:17.286052Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094333","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:17 np0000094333 etcd[60638]: {"level":"warn","ts":"2026-06-12T17:27:17.286146Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 17:27:17 np0000094333 etcd[60638]: {"level":"fatal","ts":"2026-06-12T17:27:17.286237Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 17:27:17 np0000094333 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 17:27:17 np0000094333 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 17:27:17 np0000094333 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 17:27:17 np0000094333 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 12 17:27:17 np0000094333 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 12 17:27:17 np0000094333 etcd[60659]: {"level":"warn","ts":"2026-06-12T17:27:17.541284Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 17:27:17 np0000094333 etcd[60659]: {"level":"info","ts":"2026-06-12T17:27:17.541491Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094333","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094333=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 12 17:27:17 np0000094333 etcd[60659]: {"level":"warn","ts":"2026-06-12T17:27:17.541690Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 12 17:27:17 np0000094333 etcd[60659]: {"level":"info","ts":"2026-06-12T17:27:17.541723Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 12 17:27:17 np0000094333 etcd[60659]: {"level":"info","ts":"2026-06-12T17:27:17.542281Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:17 np0000094333 etcd[60659]: {"level":"info","ts":"2026-06-12T17:27:17.542408Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094333","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:17 np0000094333 etcd[60659]: {"level":"info","ts":"2026-06-12T17:27:17.542489Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094333","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 12 17:27:17 np0000094333 etcd[60659]: {"level":"warn","ts":"2026-06-12T17:27:17.542547Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 12 17:27:17 np0000094333 etcd[60659]: {"level":"fatal","ts":"2026-06-12T17:27:17.542614Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 12 17:27:17 np0000094333 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 12 17:27:17 np0000094333 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 17:27:17 np0000094333 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 12 17:27:17 np0000094333 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 12 17:27:17 np0000094333 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 12 17:27:17 np0000094333 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 12 17:27:17 np0000094333 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
