Apr 16 09:15:39 np0000093982 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 09:15:39 np0000093982 etcd[60595]: {"level":"warn","ts":"2026-04-16T09:15:39.758741Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 09:15:39 np0000093982 etcd[60595]: {"level":"info","ts":"2026-04-16T09:15:39.759035Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093982","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093982=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 09:15:39 np0000093982 etcd[60595]: {"level":"warn","ts":"2026-04-16T09:15:39.759226Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 09:15:39 np0000093982 etcd[60595]: {"level":"info","ts":"2026-04-16T09:15:39.759268Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 09:15:39 np0000093982 etcd[60595]: {"level":"info","ts":"2026-04-16T09:15:39.759835Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:39 np0000093982 etcd[60595]: {"level":"info","ts":"2026-04-16T09:15:39.759985Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093982","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:39 np0000093982 etcd[60595]: {"level":"info","ts":"2026-04-16T09:15:39.760071Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093982","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:39 np0000093982 etcd[60595]: {"level":"warn","ts":"2026-04-16T09:15:39.760141Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 09:15:39 np0000093982 etcd[60595]: {"level":"fatal","ts":"2026-04-16T09:15:39.760318Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 09:15:39 np0000093982 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 09:15:39 np0000093982 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 09:15:39 np0000093982 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 09:15:40 np0000093982 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 16 09:15:40 np0000093982 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 09:15:40 np0000093982 etcd[60676]: {"level":"warn","ts":"2026-04-16T09:15:40.105878Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 09:15:40 np0000093982 etcd[60676]: {"level":"info","ts":"2026-04-16T09:15:40.106105Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093982","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093982=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 09:15:40 np0000093982 etcd[60676]: {"level":"warn","ts":"2026-04-16T09:15:40.106286Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 09:15:40 np0000093982 etcd[60676]: {"level":"info","ts":"2026-04-16T09:15:40.106329Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 09:15:40 np0000093982 etcd[60676]: {"level":"info","ts":"2026-04-16T09:15:40.106915Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:40 np0000093982 etcd[60676]: {"level":"info","ts":"2026-04-16T09:15:40.107161Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093982","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:40 np0000093982 etcd[60676]: {"level":"info","ts":"2026-04-16T09:15:40.107307Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093982","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:40 np0000093982 etcd[60676]: {"level":"warn","ts":"2026-04-16T09:15:40.107365Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 09:15:40 np0000093982 etcd[60676]: {"level":"fatal","ts":"2026-04-16T09:15:40.107544Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 09:15:40 np0000093982 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 09:15:40 np0000093982 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 09:15:40 np0000093982 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 09:15:40 np0000093982 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 16 09:15:40 np0000093982 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 09:15:40 np0000093982 etcd[60715]: {"level":"warn","ts":"2026-04-16T09:15:40.350149Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 09:15:40 np0000093982 etcd[60715]: {"level":"info","ts":"2026-04-16T09:15:40.350336Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093982","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093982=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 09:15:40 np0000093982 etcd[60715]: {"level":"warn","ts":"2026-04-16T09:15:40.350514Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 09:15:40 np0000093982 etcd[60715]: {"level":"info","ts":"2026-04-16T09:15:40.350564Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 09:15:40 np0000093982 etcd[60715]: {"level":"info","ts":"2026-04-16T09:15:40.351124Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:40 np0000093982 etcd[60715]: {"level":"info","ts":"2026-04-16T09:15:40.351254Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093982","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:40 np0000093982 etcd[60715]: {"level":"info","ts":"2026-04-16T09:15:40.351341Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093982","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:40 np0000093982 etcd[60715]: {"level":"warn","ts":"2026-04-16T09:15:40.351408Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 09:15:40 np0000093982 etcd[60715]: {"level":"fatal","ts":"2026-04-16T09:15:40.351491Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 09:15:40 np0000093982 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 09:15:40 np0000093982 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 09:15:40 np0000093982 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 09:15:40 np0000093982 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 16 09:15:40 np0000093982 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 09:15:40 np0000093982 etcd[60728]: {"level":"warn","ts":"2026-04-16T09:15:40.597077Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 09:15:40 np0000093982 etcd[60728]: {"level":"info","ts":"2026-04-16T09:15:40.597293Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093982","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093982=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 09:15:40 np0000093982 etcd[60728]: {"level":"warn","ts":"2026-04-16T09:15:40.597464Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 09:15:40 np0000093982 etcd[60728]: {"level":"info","ts":"2026-04-16T09:15:40.597504Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 09:15:40 np0000093982 etcd[60728]: {"level":"info","ts":"2026-04-16T09:15:40.598164Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:40 np0000093982 etcd[60728]: {"level":"info","ts":"2026-04-16T09:15:40.598288Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093982","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:40 np0000093982 etcd[60728]: {"level":"info","ts":"2026-04-16T09:15:40.598372Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093982","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:40 np0000093982 etcd[60728]: {"level":"warn","ts":"2026-04-16T09:15:40.598444Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 09:15:40 np0000093982 etcd[60728]: {"level":"fatal","ts":"2026-04-16T09:15:40.598508Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 09:15:40 np0000093982 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 09:15:40 np0000093982 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 09:15:40 np0000093982 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 09:15:40 np0000093982 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 16 09:15:40 np0000093982 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 09:15:40 np0000093982 etcd[60761]: {"level":"warn","ts":"2026-04-16T09:15:40.855879Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 09:15:40 np0000093982 etcd[60761]: {"level":"info","ts":"2026-04-16T09:15:40.856057Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093982","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093982=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 09:15:40 np0000093982 etcd[60761]: {"level":"warn","ts":"2026-04-16T09:15:40.856203Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 09:15:40 np0000093982 etcd[60761]: {"level":"info","ts":"2026-04-16T09:15:40.856231Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 09:15:40 np0000093982 etcd[60761]: {"level":"info","ts":"2026-04-16T09:15:40.856674Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:40 np0000093982 etcd[60761]: {"level":"info","ts":"2026-04-16T09:15:40.856783Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093982","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:40 np0000093982 etcd[60761]: {"level":"info","ts":"2026-04-16T09:15:40.856856Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093982","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 09:15:40 np0000093982 etcd[60761]: {"level":"warn","ts":"2026-04-16T09:15:40.856906Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 09:15:40 np0000093982 etcd[60761]: {"level":"fatal","ts":"2026-04-16T09:15:40.857009Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 09:15:40 np0000093982 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 09:15:40 np0000093982 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 09:15:40 np0000093982 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 09:15:41 np0000093982 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 16 09:15:41 np0000093982 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 16 09:15:41 np0000093982 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 09:15:41 np0000093982 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
