Apr 22 04:58:25 np0000094045 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 22 04:58:25 np0000094045 etcd[60919]: {"level":"warn","ts":"2026-04-22T04:58:25.976681Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 22 04:58:25 np0000094045 etcd[60919]: {"level":"info","ts":"2026-04-22T04:58:25.976861Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094045","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094045=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 22 04:58:25 np0000094045 etcd[60919]: {"level":"warn","ts":"2026-04-22T04:58:25.977084Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 22 04:58:25 np0000094045 etcd[60919]: {"level":"info","ts":"2026-04-22T04:58:25.977118Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 22 04:58:25 np0000094045 etcd[60919]: {"level":"info","ts":"2026-04-22T04:58:25.977599Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:25 np0000094045 etcd[60919]: {"level":"info","ts":"2026-04-22T04:58:25.977719Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094045","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:25 np0000094045 etcd[60919]: {"level":"info","ts":"2026-04-22T04:58:25.977803Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094045","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:25 np0000094045 etcd[60919]: {"level":"warn","ts":"2026-04-22T04:58:25.977880Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 22 04:58:25 np0000094045 etcd[60919]: {"level":"fatal","ts":"2026-04-22T04:58:25.977980Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 22 04:58:25 np0000094045 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 22 04:58:25 np0000094045 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 22 04:58:25 np0000094045 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 22 04:58:26 np0000094045 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 22 04:58:26 np0000094045 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 22 04:58:26 np0000094045 etcd[61012]: {"level":"warn","ts":"2026-04-22T04:58:26.313529Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 22 04:58:26 np0000094045 etcd[61012]: {"level":"info","ts":"2026-04-22T04:58:26.313674Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094045","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094045=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 22 04:58:26 np0000094045 etcd[61012]: {"level":"warn","ts":"2026-04-22T04:58:26.313799Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 22 04:58:26 np0000094045 etcd[61012]: {"level":"info","ts":"2026-04-22T04:58:26.313824Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 22 04:58:26 np0000094045 etcd[61012]: {"level":"info","ts":"2026-04-22T04:58:26.314216Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:26 np0000094045 etcd[61012]: {"level":"info","ts":"2026-04-22T04:58:26.314313Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094045","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:26 np0000094045 etcd[61012]: {"level":"info","ts":"2026-04-22T04:58:26.314363Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094045","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:26 np0000094045 etcd[61012]: {"level":"warn","ts":"2026-04-22T04:58:26.314405Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 22 04:58:26 np0000094045 etcd[61012]: {"level":"fatal","ts":"2026-04-22T04:58:26.314457Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 22 04:58:26 np0000094045 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 22 04:58:26 np0000094045 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 22 04:58:26 np0000094045 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 22 04:58:26 np0000094045 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 22 04:58:26 np0000094045 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 22 04:58:26 np0000094045 etcd[61074]: {"level":"warn","ts":"2026-04-22T04:58:26.531348Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 22 04:58:26 np0000094045 etcd[61074]: {"level":"info","ts":"2026-04-22T04:58:26.531470Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094045","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094045=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 22 04:58:26 np0000094045 etcd[61074]: {"level":"warn","ts":"2026-04-22T04:58:26.531578Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 22 04:58:26 np0000094045 etcd[61074]: {"level":"info","ts":"2026-04-22T04:58:26.531598Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 22 04:58:26 np0000094045 etcd[61074]: {"level":"info","ts":"2026-04-22T04:58:26.531940Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:26 np0000094045 etcd[61074]: {"level":"info","ts":"2026-04-22T04:58:26.532018Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094045","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:26 np0000094045 etcd[61074]: {"level":"info","ts":"2026-04-22T04:58:26.532083Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094045","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:26 np0000094045 etcd[61074]: {"level":"warn","ts":"2026-04-22T04:58:26.532128Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 22 04:58:26 np0000094045 etcd[61074]: {"level":"fatal","ts":"2026-04-22T04:58:26.532169Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 22 04:58:26 np0000094045 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 22 04:58:26 np0000094045 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 22 04:58:26 np0000094045 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 22 04:58:26 np0000094045 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 22 04:58:26 np0000094045 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 22 04:58:26 np0000094045 etcd[61103]: {"level":"warn","ts":"2026-04-22T04:58:26.894973Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 22 04:58:26 np0000094045 etcd[61103]: {"level":"info","ts":"2026-04-22T04:58:26.895144Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094045","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094045=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 22 04:58:26 np0000094045 etcd[61103]: {"level":"warn","ts":"2026-04-22T04:58:26.895309Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 22 04:58:26 np0000094045 etcd[61103]: {"level":"info","ts":"2026-04-22T04:58:26.895338Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 22 04:58:26 np0000094045 etcd[61103]: {"level":"info","ts":"2026-04-22T04:58:26.895848Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:26 np0000094045 etcd[61103]: {"level":"info","ts":"2026-04-22T04:58:26.895994Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094045","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:26 np0000094045 etcd[61103]: {"level":"info","ts":"2026-04-22T04:58:26.896087Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094045","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:26 np0000094045 etcd[61103]: {"level":"warn","ts":"2026-04-22T04:58:26.896140Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 22 04:58:26 np0000094045 etcd[61103]: {"level":"fatal","ts":"2026-04-22T04:58:26.896206Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 22 04:58:26 np0000094045 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 22 04:58:26 np0000094045 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 22 04:58:26 np0000094045 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 22 04:58:27 np0000094045 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 22 04:58:27 np0000094045 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 22 04:58:27 np0000094045 etcd[61140]: {"level":"warn","ts":"2026-04-22T04:58:27.122747Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 22 04:58:27 np0000094045 etcd[61140]: {"level":"info","ts":"2026-04-22T04:58:27.122871Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094045","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094045=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 22 04:58:27 np0000094045 etcd[61140]: {"level":"warn","ts":"2026-04-22T04:58:27.122997Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 22 04:58:27 np0000094045 etcd[61140]: {"level":"info","ts":"2026-04-22T04:58:27.123018Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 22 04:58:27 np0000094045 etcd[61140]: {"level":"info","ts":"2026-04-22T04:58:27.123364Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:27 np0000094045 etcd[61140]: {"level":"info","ts":"2026-04-22T04:58:27.123434Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094045","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:27 np0000094045 etcd[61140]: {"level":"info","ts":"2026-04-22T04:58:27.123477Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094045","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 22 04:58:27 np0000094045 etcd[61140]: {"level":"warn","ts":"2026-04-22T04:58:27.123505Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 22 04:58:27 np0000094045 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 22 04:58:27 np0000094045 etcd[61140]: {"level":"fatal","ts":"2026-04-22T04:58:27.123538Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 22 04:58:27 np0000094045 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 22 04:58:27 np0000094045 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 22 04:58:27 np0000094045 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 22 04:58:27 np0000094045 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 22 04:58:27 np0000094045 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 22 04:58:27 np0000094045 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
