Apr 16 08:27:46 np0000093981 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 08:27:46 np0000093981 etcd[60946]: {"level":"warn","ts":"2026-04-16T08:27:46.877347Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 08:27:46 np0000093981 etcd[60946]: {"level":"info","ts":"2026-04-16T08:27:46.877542Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093981","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093981=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 08:27:46 np0000093981 etcd[60946]: {"level":"warn","ts":"2026-04-16T08:27:46.877733Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 08:27:46 np0000093981 etcd[60946]: {"level":"info","ts":"2026-04-16T08:27:46.877782Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 08:27:46 np0000093981 etcd[60946]: {"level":"info","ts":"2026-04-16T08:27:46.878488Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:46 np0000093981 etcd[60946]: {"level":"info","ts":"2026-04-16T08:27:46.878650Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093981","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:46 np0000093981 etcd[60946]: {"level":"info","ts":"2026-04-16T08:27:46.878769Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093981","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:46 np0000093981 etcd[60946]: {"level":"warn","ts":"2026-04-16T08:27:46.878830Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 08:27:46 np0000093981 etcd[60946]: {"level":"fatal","ts":"2026-04-16T08:27:46.878918Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 08:27:46 np0000093981 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 08:27:46 np0000093981 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 08:27:46 np0000093981 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 08:27:47 np0000093981 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 16 08:27:47 np0000093981 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 08:27:47 np0000093981 etcd[61007]: {"level":"warn","ts":"2026-04-16T08:27:47.123763Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 08:27:47 np0000093981 etcd[61007]: {"level":"info","ts":"2026-04-16T08:27:47.123944Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093981","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093981=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 08:27:47 np0000093981 etcd[61007]: {"level":"warn","ts":"2026-04-16T08:27:47.124093Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 08:27:47 np0000093981 etcd[61007]: {"level":"info","ts":"2026-04-16T08:27:47.124127Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 08:27:47 np0000093981 etcd[61007]: {"level":"info","ts":"2026-04-16T08:27:47.124547Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:47 np0000093981 etcd[61007]: {"level":"info","ts":"2026-04-16T08:27:47.124649Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093981","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:47 np0000093981 etcd[61007]: {"level":"info","ts":"2026-04-16T08:27:47.124834Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093981","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:47 np0000093981 etcd[61007]: {"level":"warn","ts":"2026-04-16T08:27:47.124912Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 08:27:47 np0000093981 etcd[61007]: {"level":"fatal","ts":"2026-04-16T08:27:47.125021Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 08:27:47 np0000093981 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 08:27:47 np0000093981 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 08:27:47 np0000093981 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 08:27:47 np0000093981 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 16 08:27:47 np0000093981 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 08:27:47 np0000093981 etcd[61067]: {"level":"warn","ts":"2026-04-16T08:27:47.394210Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 08:27:47 np0000093981 etcd[61067]: {"level":"info","ts":"2026-04-16T08:27:47.394415Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093981","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093981=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 08:27:47 np0000093981 etcd[61067]: {"level":"warn","ts":"2026-04-16T08:27:47.394607Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 08:27:47 np0000093981 etcd[61067]: {"level":"info","ts":"2026-04-16T08:27:47.394640Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 08:27:47 np0000093981 etcd[61067]: {"level":"info","ts":"2026-04-16T08:27:47.395220Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:47 np0000093981 etcd[61067]: {"level":"info","ts":"2026-04-16T08:27:47.395346Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093981","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:47 np0000093981 etcd[61067]: {"level":"info","ts":"2026-04-16T08:27:47.395433Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093981","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:47 np0000093981 etcd[61067]: {"level":"warn","ts":"2026-04-16T08:27:47.395505Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 08:27:47 np0000093981 etcd[61067]: {"level":"fatal","ts":"2026-04-16T08:27:47.395572Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 08:27:47 np0000093981 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 08:27:47 np0000093981 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 08:27:47 np0000093981 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 08:27:47 np0000093981 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 16 08:27:47 np0000093981 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 08:27:47 np0000093981 etcd[61075]: {"level":"warn","ts":"2026-04-16T08:27:47.637075Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 08:27:47 np0000093981 etcd[61075]: {"level":"info","ts":"2026-04-16T08:27:47.637278Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093981","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093981=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 08:27:47 np0000093981 etcd[61075]: {"level":"warn","ts":"2026-04-16T08:27:47.637504Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 08:27:47 np0000093981 etcd[61075]: {"level":"info","ts":"2026-04-16T08:27:47.637542Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 08:27:47 np0000093981 etcd[61075]: {"level":"info","ts":"2026-04-16T08:27:47.638117Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:47 np0000093981 etcd[61075]: {"level":"info","ts":"2026-04-16T08:27:47.638251Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093981","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:47 np0000093981 etcd[61075]: {"level":"info","ts":"2026-04-16T08:27:47.638319Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093981","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:47 np0000093981 etcd[61075]: {"level":"warn","ts":"2026-04-16T08:27:47.638380Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 08:27:47 np0000093981 etcd[61075]: {"level":"fatal","ts":"2026-04-16T08:27:47.638448Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 08:27:47 np0000093981 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 08:27:47 np0000093981 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 08:27:47 np0000093981 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 08:27:47 np0000093981 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 16 08:27:47 np0000093981 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 08:27:47 np0000093981 etcd[61113]: {"level":"warn","ts":"2026-04-16T08:27:47.878627Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 08:27:47 np0000093981 etcd[61113]: {"level":"info","ts":"2026-04-16T08:27:47.878823Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093981","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093981=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 08:27:47 np0000093981 etcd[61113]: {"level":"warn","ts":"2026-04-16T08:27:47.879047Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 08:27:47 np0000093981 etcd[61113]: {"level":"info","ts":"2026-04-16T08:27:47.879079Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 08:27:47 np0000093981 etcd[61113]: {"level":"info","ts":"2026-04-16T08:27:47.879726Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:47 np0000093981 etcd[61113]: {"level":"info","ts":"2026-04-16T08:27:47.880034Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093981","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:47 np0000093981 etcd[61113]: {"level":"info","ts":"2026-04-16T08:27:47.880235Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093981","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 08:27:47 np0000093981 etcd[61113]: {"level":"warn","ts":"2026-04-16T08:27:47.880357Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 08:27:47 np0000093981 etcd[61113]: {"level":"fatal","ts":"2026-04-16T08:27:47.880496Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 08:27:47 np0000093981 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 08:27:47 np0000093981 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 08:27:47 np0000093981 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 08:27:48 np0000093981 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 16 08:27:48 np0000093981 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 16 08:27:48 np0000093981 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 08:27:48 np0000093981 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
