Apr 07 20:58:09 np0000093862 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 07 20:58:09 np0000093862 etcd[60579]: {"level":"warn","ts":"2026-04-07T20:58:09.988767Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 07 20:58:09 np0000093862 etcd[60579]: {"level":"info","ts":"2026-04-07T20:58:09.988938Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093862","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093862=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 07 20:58:09 np0000093862 etcd[60579]: {"level":"warn","ts":"2026-04-07T20:58:09.989092Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 07 20:58:09 np0000093862 etcd[60579]: {"level":"info","ts":"2026-04-07T20:58:09.989128Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 07 20:58:09 np0000093862 etcd[60579]: {"level":"info","ts":"2026-04-07T20:58:09.989784Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:09 np0000093862 etcd[60579]: {"level":"info","ts":"2026-04-07T20:58:09.989962Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093862","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:09 np0000093862 etcd[60579]: {"level":"info","ts":"2026-04-07T20:58:09.990161Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093862","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:09 np0000093862 etcd[60579]: {"level":"warn","ts":"2026-04-07T20:58:09.990227Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 07 20:58:09 np0000093862 etcd[60579]: {"level":"fatal","ts":"2026-04-07T20:58:09.990304Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 07 20:58:09 np0000093862 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 07 20:58:09 np0000093862 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 07 20:58:09 np0000093862 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 07 20:58:10 np0000093862 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 07 20:58:10 np0000093862 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 07 20:58:10 np0000093862 etcd[60669]: {"level":"warn","ts":"2026-04-07T20:58:10.330425Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 07 20:58:10 np0000093862 etcd[60669]: {"level":"info","ts":"2026-04-07T20:58:10.330601Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093862","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093862=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 07 20:58:10 np0000093862 etcd[60669]: {"level":"warn","ts":"2026-04-07T20:58:10.330822Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 07 20:58:10 np0000093862 etcd[60669]: {"level":"info","ts":"2026-04-07T20:58:10.330865Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 07 20:58:10 np0000093862 etcd[60669]: {"level":"info","ts":"2026-04-07T20:58:10.331316Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:10 np0000093862 etcd[60669]: {"level":"info","ts":"2026-04-07T20:58:10.331430Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093862","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:10 np0000093862 etcd[60669]: {"level":"info","ts":"2026-04-07T20:58:10.331521Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093862","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:10 np0000093862 etcd[60669]: {"level":"warn","ts":"2026-04-07T20:58:10.333273Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 07 20:58:10 np0000093862 etcd[60669]: {"level":"fatal","ts":"2026-04-07T20:58:10.333569Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 07 20:58:10 np0000093862 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 07 20:58:10 np0000093862 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 07 20:58:10 np0000093862 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 07 20:58:10 np0000093862 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 07 20:58:10 np0000093862 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 07 20:58:10 np0000093862 etcd[60699]: {"level":"warn","ts":"2026-04-07T20:58:10.583915Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 07 20:58:10 np0000093862 etcd[60699]: {"level":"info","ts":"2026-04-07T20:58:10.584066Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093862","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093862=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 07 20:58:10 np0000093862 etcd[60699]: {"level":"warn","ts":"2026-04-07T20:58:10.584195Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 07 20:58:10 np0000093862 etcd[60699]: {"level":"info","ts":"2026-04-07T20:58:10.584229Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 07 20:58:10 np0000093862 etcd[60699]: {"level":"info","ts":"2026-04-07T20:58:10.584636Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:10 np0000093862 etcd[60699]: {"level":"info","ts":"2026-04-07T20:58:10.584765Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093862","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:10 np0000093862 etcd[60699]: {"level":"info","ts":"2026-04-07T20:58:10.584835Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093862","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:10 np0000093862 etcd[60699]: {"level":"warn","ts":"2026-04-07T20:58:10.584883Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 07 20:58:10 np0000093862 etcd[60699]: {"level":"fatal","ts":"2026-04-07T20:58:10.584939Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 07 20:58:10 np0000093862 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 07 20:58:10 np0000093862 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 07 20:58:10 np0000093862 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 07 20:58:10 np0000093862 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 07 20:58:10 np0000093862 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 07 20:58:10 np0000093862 etcd[60720]: {"level":"warn","ts":"2026-04-07T20:58:10.827763Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 07 20:58:10 np0000093862 etcd[60720]: {"level":"info","ts":"2026-04-07T20:58:10.828773Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093862","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093862=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 07 20:58:10 np0000093862 etcd[60720]: {"level":"warn","ts":"2026-04-07T20:58:10.829013Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 07 20:58:10 np0000093862 etcd[60720]: {"level":"info","ts":"2026-04-07T20:58:10.829056Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 07 20:58:10 np0000093862 etcd[60720]: {"level":"info","ts":"2026-04-07T20:58:10.829770Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:10 np0000093862 etcd[60720]: {"level":"info","ts":"2026-04-07T20:58:10.829942Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093862","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:10 np0000093862 etcd[60720]: {"level":"info","ts":"2026-04-07T20:58:10.830071Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093862","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:10 np0000093862 etcd[60720]: {"level":"warn","ts":"2026-04-07T20:58:10.830130Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 07 20:58:10 np0000093862 etcd[60720]: {"level":"fatal","ts":"2026-04-07T20:58:10.830210Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 07 20:58:10 np0000093862 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 07 20:58:10 np0000093862 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 07 20:58:10 np0000093862 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 07 20:58:11 np0000093862 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 07 20:58:11 np0000093862 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 07 20:58:11 np0000093862 etcd[60753]: {"level":"warn","ts":"2026-04-07T20:58:11.082252Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 07 20:58:11 np0000093862 etcd[60753]: {"level":"info","ts":"2026-04-07T20:58:11.082414Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093862","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093862=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 07 20:58:11 np0000093862 etcd[60753]: {"level":"warn","ts":"2026-04-07T20:58:11.082630Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 07 20:58:11 np0000093862 etcd[60753]: {"level":"info","ts":"2026-04-07T20:58:11.082717Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 07 20:58:11 np0000093862 etcd[60753]: {"level":"info","ts":"2026-04-07T20:58:11.083118Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:11 np0000093862 etcd[60753]: {"level":"info","ts":"2026-04-07T20:58:11.083410Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093862","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:11 np0000093862 etcd[60753]: {"level":"info","ts":"2026-04-07T20:58:11.083465Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093862","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 07 20:58:11 np0000093862 etcd[60753]: {"level":"warn","ts":"2026-04-07T20:58:11.083531Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 07 20:58:11 np0000093862 etcd[60753]: {"level":"fatal","ts":"2026-04-07T20:58:11.083599Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 07 20:58:11 np0000093862 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 07 20:58:11 np0000093862 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 07 20:58:11 np0000093862 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 07 20:58:11 np0000093862 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 07 20:58:11 np0000093862 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 07 20:58:11 np0000093862 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 07 20:58:11 np0000093862 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
