Jun 23 08:31:08 np0000094436 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 08:31:08 np0000094436 etcd[60706]: {"level":"warn","ts":"2026-06-23T08:31:08.805005Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 08:31:08 np0000094436 etcd[60706]: {"level":"info","ts":"2026-06-23T08:31:08.805240Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094436","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094436=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 08:31:08 np0000094436 etcd[60706]: {"level":"warn","ts":"2026-06-23T08:31:08.805401Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 08:31:08 np0000094436 etcd[60706]: {"level":"info","ts":"2026-06-23T08:31:08.805432Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 08:31:08 np0000094436 etcd[60706]: {"level":"info","ts":"2026-06-23T08:31:08.805975Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:08 np0000094436 etcd[60706]: {"level":"info","ts":"2026-06-23T08:31:08.806120Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094436","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:08 np0000094436 etcd[60706]: {"level":"info","ts":"2026-06-23T08:31:08.806229Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094436","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:08 np0000094436 etcd[60706]: {"level":"warn","ts":"2026-06-23T08:31:08.806283Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 08:31:08 np0000094436 etcd[60706]: {"level":"fatal","ts":"2026-06-23T08:31:08.806356Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 08:31:08 np0000094436 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 08:31:08 np0000094436 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 08:31:08 np0000094436 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 08:31:09 np0000094436 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 23 08:31:09 np0000094436 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 08:31:09 np0000094436 etcd[60800]: {"level":"warn","ts":"2026-06-23T08:31:09.167417Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 08:31:09 np0000094436 etcd[60800]: {"level":"info","ts":"2026-06-23T08:31:09.167584Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094436","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094436=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 08:31:09 np0000094436 etcd[60800]: {"level":"warn","ts":"2026-06-23T08:31:09.167780Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 08:31:09 np0000094436 etcd[60800]: {"level":"info","ts":"2026-06-23T08:31:09.167820Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 08:31:09 np0000094436 etcd[60800]: {"level":"info","ts":"2026-06-23T08:31:09.168312Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:09 np0000094436 etcd[60800]: {"level":"info","ts":"2026-06-23T08:31:09.168437Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094436","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:09 np0000094436 etcd[60800]: {"level":"info","ts":"2026-06-23T08:31:09.168514Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094436","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:09 np0000094436 etcd[60800]: {"level":"warn","ts":"2026-06-23T08:31:09.168577Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 08:31:09 np0000094436 etcd[60800]: {"level":"fatal","ts":"2026-06-23T08:31:09.168667Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 08:31:09 np0000094436 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 08:31:09 np0000094436 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 08:31:09 np0000094436 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 08:31:09 np0000094436 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 23 08:31:09 np0000094436 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 08:31:09 np0000094436 etcd[60827]: {"level":"warn","ts":"2026-06-23T08:31:09.425865Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 08:31:09 np0000094436 etcd[60827]: {"level":"info","ts":"2026-06-23T08:31:09.426090Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094436","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094436=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 08:31:09 np0000094436 etcd[60827]: {"level":"warn","ts":"2026-06-23T08:31:09.426277Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 08:31:09 np0000094436 etcd[60827]: {"level":"info","ts":"2026-06-23T08:31:09.426307Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 08:31:09 np0000094436 etcd[60827]: {"level":"info","ts":"2026-06-23T08:31:09.426782Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:09 np0000094436 etcd[60827]: {"level":"info","ts":"2026-06-23T08:31:09.426900Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094436","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:09 np0000094436 etcd[60827]: {"level":"info","ts":"2026-06-23T08:31:09.426969Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094436","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:09 np0000094436 etcd[60827]: {"level":"warn","ts":"2026-06-23T08:31:09.427025Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 08:31:09 np0000094436 etcd[60827]: {"level":"fatal","ts":"2026-06-23T08:31:09.427119Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 08:31:09 np0000094436 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 08:31:09 np0000094436 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 08:31:09 np0000094436 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 08:31:09 np0000094436 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 23 08:31:09 np0000094436 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 08:31:09 np0000094436 etcd[60853]: {"level":"warn","ts":"2026-06-23T08:31:09.681373Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 08:31:09 np0000094436 etcd[60853]: {"level":"info","ts":"2026-06-23T08:31:09.681581Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094436","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094436=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 08:31:09 np0000094436 etcd[60853]: {"level":"warn","ts":"2026-06-23T08:31:09.681785Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 08:31:09 np0000094436 etcd[60853]: {"level":"info","ts":"2026-06-23T08:31:09.681830Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 08:31:09 np0000094436 etcd[60853]: {"level":"info","ts":"2026-06-23T08:31:09.682482Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:09 np0000094436 etcd[60853]: {"level":"info","ts":"2026-06-23T08:31:09.682610Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094436","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:09 np0000094436 etcd[60853]: {"level":"info","ts":"2026-06-23T08:31:09.682716Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094436","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:09 np0000094436 etcd[60853]: {"level":"warn","ts":"2026-06-23T08:31:09.682776Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 08:31:09 np0000094436 etcd[60853]: {"level":"fatal","ts":"2026-06-23T08:31:09.682853Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 08:31:09 np0000094436 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 08:31:09 np0000094436 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 08:31:09 np0000094436 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 08:31:09 np0000094436 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 23 08:31:09 np0000094436 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 08:31:09 np0000094436 etcd[60906]: {"level":"warn","ts":"2026-06-23T08:31:09.938325Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 08:31:09 np0000094436 etcd[60906]: {"level":"info","ts":"2026-06-23T08:31:09.938492Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094436","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094436=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 08:31:09 np0000094436 etcd[60906]: {"level":"warn","ts":"2026-06-23T08:31:09.938686Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 08:31:09 np0000094436 etcd[60906]: {"level":"info","ts":"2026-06-23T08:31:09.938725Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 08:31:09 np0000094436 etcd[60906]: {"level":"info","ts":"2026-06-23T08:31:09.939165Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:09 np0000094436 etcd[60906]: {"level":"info","ts":"2026-06-23T08:31:09.939270Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094436","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:09 np0000094436 etcd[60906]: {"level":"info","ts":"2026-06-23T08:31:09.939349Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094436","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 08:31:09 np0000094436 etcd[60906]: {"level":"warn","ts":"2026-06-23T08:31:09.939416Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 08:31:09 np0000094436 etcd[60906]: {"level":"fatal","ts":"2026-06-23T08:31:09.939495Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 08:31:09 np0000094436 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 08:31:09 np0000094436 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 08:31:09 np0000094436 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 08:31:10 np0000094436 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 23 08:31:10 np0000094436 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 23 08:31:10 np0000094436 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 08:31:10 np0000094436 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
