Jun 18 21:16:22 np0000094404 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 21:16:22 np0000094404 etcd[60109]: {"level":"warn","ts":"2026-06-18T21:16:22.161102Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 21:16:22 np0000094404 etcd[60109]: {"level":"info","ts":"2026-06-18T21:16:22.161251Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094404","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094404=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 21:16:22 np0000094404 etcd[60109]: {"level":"warn","ts":"2026-06-18T21:16:22.161405Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 21:16:22 np0000094404 etcd[60109]: {"level":"info","ts":"2026-06-18T21:16:22.161429Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 21:16:22 np0000094404 etcd[60109]: {"level":"info","ts":"2026-06-18T21:16:22.161841Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:22 np0000094404 etcd[60109]: {"level":"info","ts":"2026-06-18T21:16:22.161940Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094404","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:22 np0000094404 etcd[60109]: {"level":"info","ts":"2026-06-18T21:16:22.162001Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094404","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:22 np0000094404 etcd[60109]: {"level":"warn","ts":"2026-06-18T21:16:22.162041Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 21:16:22 np0000094404 etcd[60109]: {"level":"fatal","ts":"2026-06-18T21:16:22.162089Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 21:16:22 np0000094404 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 21:16:22 np0000094404 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 21:16:22 np0000094404 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 21:16:22 np0000094404 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 18 21:16:22 np0000094404 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 21:16:22 np0000094404 etcd[60186]: {"level":"warn","ts":"2026-06-18T21:16:22.452715Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 21:16:22 np0000094404 etcd[60186]: {"level":"info","ts":"2026-06-18T21:16:22.452901Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094404","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094404=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 21:16:22 np0000094404 etcd[60186]: {"level":"warn","ts":"2026-06-18T21:16:22.453059Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 21:16:22 np0000094404 etcd[60186]: {"level":"info","ts":"2026-06-18T21:16:22.453094Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 21:16:22 np0000094404 etcd[60186]: {"level":"info","ts":"2026-06-18T21:16:22.453591Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:22 np0000094404 etcd[60186]: {"level":"info","ts":"2026-06-18T21:16:22.453705Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094404","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:22 np0000094404 etcd[60186]: {"level":"info","ts":"2026-06-18T21:16:22.453846Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094404","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:22 np0000094404 etcd[60186]: {"level":"warn","ts":"2026-06-18T21:16:22.453900Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 21:16:22 np0000094404 etcd[60186]: {"level":"fatal","ts":"2026-06-18T21:16:22.453960Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 21:16:22 np0000094404 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 21:16:22 np0000094404 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 21:16:22 np0000094404 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 21:16:22 np0000094404 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 18 21:16:22 np0000094404 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 21:16:22 np0000094404 etcd[60229]: {"level":"warn","ts":"2026-06-18T21:16:22.703499Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 21:16:22 np0000094404 etcd[60229]: {"level":"info","ts":"2026-06-18T21:16:22.703675Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094404","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094404=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 21:16:22 np0000094404 etcd[60229]: {"level":"warn","ts":"2026-06-18T21:16:22.703888Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 21:16:22 np0000094404 etcd[60229]: {"level":"info","ts":"2026-06-18T21:16:22.703920Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 21:16:22 np0000094404 etcd[60229]: {"level":"info","ts":"2026-06-18T21:16:22.704439Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:22 np0000094404 etcd[60229]: {"level":"info","ts":"2026-06-18T21:16:22.704559Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094404","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:22 np0000094404 etcd[60229]: {"level":"info","ts":"2026-06-18T21:16:22.704638Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094404","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:22 np0000094404 etcd[60229]: {"level":"warn","ts":"2026-06-18T21:16:22.704696Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 21:16:22 np0000094404 etcd[60229]: {"level":"fatal","ts":"2026-06-18T21:16:22.704777Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 21:16:22 np0000094404 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 21:16:22 np0000094404 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 21:16:22 np0000094404 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 21:16:22 np0000094404 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 18 21:16:22 np0000094404 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 21:16:22 np0000094404 etcd[60250]: {"level":"warn","ts":"2026-06-18T21:16:22.955745Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 21:16:22 np0000094404 etcd[60250]: {"level":"info","ts":"2026-06-18T21:16:22.956443Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094404","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094404=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 21:16:22 np0000094404 etcd[60250]: {"level":"warn","ts":"2026-06-18T21:16:22.956622Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 21:16:22 np0000094404 etcd[60250]: {"level":"info","ts":"2026-06-18T21:16:22.956653Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 21:16:22 np0000094404 etcd[60250]: {"level":"info","ts":"2026-06-18T21:16:22.957125Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:22 np0000094404 etcd[60250]: {"level":"info","ts":"2026-06-18T21:16:22.957247Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094404","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:22 np0000094404 etcd[60250]: {"level":"info","ts":"2026-06-18T21:16:22.957361Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094404","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:22 np0000094404 etcd[60250]: {"level":"warn","ts":"2026-06-18T21:16:22.957421Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 21:16:22 np0000094404 etcd[60250]: {"level":"fatal","ts":"2026-06-18T21:16:22.957487Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 21:16:22 np0000094404 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 21:16:22 np0000094404 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 21:16:22 np0000094404 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 21:16:23 np0000094404 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 18 21:16:23 np0000094404 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 21:16:23 np0000094404 etcd[60290]: {"level":"warn","ts":"2026-06-18T21:16:23.201495Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 21:16:23 np0000094404 etcd[60290]: {"level":"info","ts":"2026-06-18T21:16:23.201682Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094404","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094404=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 21:16:23 np0000094404 etcd[60290]: {"level":"warn","ts":"2026-06-18T21:16:23.201870Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 21:16:23 np0000094404 etcd[60290]: {"level":"info","ts":"2026-06-18T21:16:23.201911Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 21:16:23 np0000094404 etcd[60290]: {"level":"info","ts":"2026-06-18T21:16:23.202381Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:23 np0000094404 etcd[60290]: {"level":"info","ts":"2026-06-18T21:16:23.202493Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094404","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:23 np0000094404 etcd[60290]: {"level":"info","ts":"2026-06-18T21:16:23.202625Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094404","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 21:16:23 np0000094404 etcd[60290]: {"level":"warn","ts":"2026-06-18T21:16:23.202679Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 21:16:23 np0000094404 etcd[60290]: {"level":"fatal","ts":"2026-06-18T21:16:23.202740Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 21:16:23 np0000094404 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 21:16:23 np0000094404 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 21:16:23 np0000094404 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 21:16:23 np0000094404 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 18 21:16:23 np0000094404 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 18 21:16:23 np0000094404 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 21:16:23 np0000094404 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
