May 19 20:13:45 np0000094136 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 20:13:45 np0000094136 etcd[60156]: {"level":"warn","ts":"2026-05-19T20:13:45.615509Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:13:45 np0000094136 etcd[60156]: {"level":"info","ts":"2026-05-19T20:13:45.615685Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094136","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094136=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 20:13:45 np0000094136 etcd[60156]: {"level":"warn","ts":"2026-05-19T20:13:45.616015Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:13:45 np0000094136 etcd[60156]: {"level":"info","ts":"2026-05-19T20:13:45.616053Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 20:13:45 np0000094136 etcd[60156]: {"level":"info","ts":"2026-05-19T20:13:45.616557Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:45 np0000094136 etcd[60156]: {"level":"info","ts":"2026-05-19T20:13:45.616698Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094136","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:45 np0000094136 etcd[60156]: {"level":"info","ts":"2026-05-19T20:13:45.616898Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094136","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:45 np0000094136 etcd[60156]: {"level":"warn","ts":"2026-05-19T20:13:45.616957Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 20:13:45 np0000094136 etcd[60156]: {"level":"fatal","ts":"2026-05-19T20:13:45.617043Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 20:13:45 np0000094136 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 20:13:45 np0000094136 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 20:13:45 np0000094136 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 20:13:45 np0000094136 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 19 20:13:45 np0000094136 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 20:13:45 np0000094136 etcd[60194]: {"level":"warn","ts":"2026-05-19T20:13:45.799608Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:13:45 np0000094136 etcd[60194]: {"level":"info","ts":"2026-05-19T20:13:45.799794Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094136","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094136=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 20:13:45 np0000094136 etcd[60194]: {"level":"warn","ts":"2026-05-19T20:13:45.799950Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:13:45 np0000094136 etcd[60194]: {"level":"info","ts":"2026-05-19T20:13:45.799978Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 20:13:45 np0000094136 etcd[60194]: {"level":"info","ts":"2026-05-19T20:13:45.800401Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:45 np0000094136 etcd[60194]: {"level":"info","ts":"2026-05-19T20:13:45.800506Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094136","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:45 np0000094136 etcd[60194]: {"level":"info","ts":"2026-05-19T20:13:45.800582Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094136","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:45 np0000094136 etcd[60194]: {"level":"warn","ts":"2026-05-19T20:13:45.800632Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 20:13:45 np0000094136 etcd[60194]: {"level":"fatal","ts":"2026-05-19T20:13:45.800692Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 20:13:45 np0000094136 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 20:13:45 np0000094136 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 20:13:45 np0000094136 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 20:13:45 np0000094136 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 19 20:13:45 np0000094136 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 20:13:46 np0000094136 etcd[60274]: {"level":"warn","ts":"2026-05-19T20:13:46.036872Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:13:46 np0000094136 etcd[60274]: {"level":"info","ts":"2026-05-19T20:13:46.037023Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094136","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094136=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 20:13:46 np0000094136 etcd[60274]: {"level":"warn","ts":"2026-05-19T20:13:46.037172Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:13:46 np0000094136 etcd[60274]: {"level":"info","ts":"2026-05-19T20:13:46.037196Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 20:13:46 np0000094136 etcd[60274]: {"level":"info","ts":"2026-05-19T20:13:46.037574Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:46 np0000094136 etcd[60274]: {"level":"info","ts":"2026-05-19T20:13:46.037664Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094136","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:46 np0000094136 etcd[60274]: {"level":"info","ts":"2026-05-19T20:13:46.037747Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094136","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:46 np0000094136 etcd[60274]: {"level":"warn","ts":"2026-05-19T20:13:46.037792Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 20:13:46 np0000094136 etcd[60274]: {"level":"fatal","ts":"2026-05-19T20:13:46.037841Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 20:13:46 np0000094136 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 20:13:46 np0000094136 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 20:13:46 np0000094136 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 20:13:46 np0000094136 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 19 20:13:46 np0000094136 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 20:13:46 np0000094136 etcd[60282]: {"level":"warn","ts":"2026-05-19T20:13:46.293460Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:13:46 np0000094136 etcd[60282]: {"level":"info","ts":"2026-05-19T20:13:46.293697Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094136","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094136=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 20:13:46 np0000094136 etcd[60282]: {"level":"warn","ts":"2026-05-19T20:13:46.293931Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:13:46 np0000094136 etcd[60282]: {"level":"info","ts":"2026-05-19T20:13:46.293964Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 20:13:46 np0000094136 etcd[60282]: {"level":"info","ts":"2026-05-19T20:13:46.294905Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:46 np0000094136 etcd[60282]: {"level":"info","ts":"2026-05-19T20:13:46.295051Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094136","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:46 np0000094136 etcd[60282]: {"level":"info","ts":"2026-05-19T20:13:46.295134Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094136","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:46 np0000094136 etcd[60282]: {"level":"warn","ts":"2026-05-19T20:13:46.295206Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 20:13:46 np0000094136 etcd[60282]: {"level":"fatal","ts":"2026-05-19T20:13:46.295271Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 20:13:46 np0000094136 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 20:13:46 np0000094136 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 20:13:46 np0000094136 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 20:13:46 np0000094136 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 19 20:13:46 np0000094136 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 20:13:46 np0000094136 etcd[60311]: {"level":"warn","ts":"2026-05-19T20:13:46.552979Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:13:46 np0000094136 etcd[60311]: {"level":"info","ts":"2026-05-19T20:13:46.553148Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094136","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094136=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 20:13:46 np0000094136 etcd[60311]: {"level":"warn","ts":"2026-05-19T20:13:46.553381Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 20:13:46 np0000094136 etcd[60311]: {"level":"info","ts":"2026-05-19T20:13:46.553416Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 20:13:46 np0000094136 etcd[60311]: {"level":"info","ts":"2026-05-19T20:13:46.553954Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:46 np0000094136 etcd[60311]: {"level":"info","ts":"2026-05-19T20:13:46.554087Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094136","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:46 np0000094136 etcd[60311]: {"level":"info","ts":"2026-05-19T20:13:46.554172Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094136","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 20:13:46 np0000094136 etcd[60311]: {"level":"warn","ts":"2026-05-19T20:13:46.554238Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 20:13:46 np0000094136 etcd[60311]: {"level":"fatal","ts":"2026-05-19T20:13:46.554317Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 20:13:46 np0000094136 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 20:13:46 np0000094136 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 20:13:46 np0000094136 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 20:13:46 np0000094136 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 19 20:13:46 np0000094136 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 19 20:13:46 np0000094136 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 20:13:46 np0000094136 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
