Feb 13 12:36:38 np0000056232 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 12:36:38 np0000056232 etcd[60634]: {"level":"warn","ts":"2026-02-13T12:36:38.903027Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:36:38 np0000056232 etcd[60634]: {"level":"info","ts":"2026-02-13T12:36:38.903271Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056232","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056232=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 12:36:38 np0000056232 etcd[60634]: {"level":"warn","ts":"2026-02-13T12:36:38.903443Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:36:38 np0000056232 etcd[60634]: {"level":"info","ts":"2026-02-13T12:36:38.903475Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 12:36:38 np0000056232 etcd[60634]: {"level":"info","ts":"2026-02-13T12:36:38.904335Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:38 np0000056232 etcd[60634]: {"level":"info","ts":"2026-02-13T12:36:38.904563Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056232","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:38 np0000056232 etcd[60634]: {"level":"info","ts":"2026-02-13T12:36:38.904883Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056232","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:38 np0000056232 etcd[60634]: {"level":"warn","ts":"2026-02-13T12:36:38.904990Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 12:36:38 np0000056232 etcd[60634]: {"level":"fatal","ts":"2026-02-13T12:36:38.905052Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 12:36:38 np0000056232 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 12:36:38 np0000056232 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 12:36:38 np0000056232 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 12:36:39 np0000056232 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 12:36:39 np0000056232 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 12:36:39 np0000056232 etcd[60735]: {"level":"warn","ts":"2026-02-13T12:36:39.287180Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:36:39 np0000056232 etcd[60735]: {"level":"info","ts":"2026-02-13T12:36:39.288436Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056232","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056232=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 12:36:39 np0000056232 etcd[60735]: {"level":"warn","ts":"2026-02-13T12:36:39.288788Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:36:39 np0000056232 etcd[60735]: {"level":"info","ts":"2026-02-13T12:36:39.288890Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 12:36:39 np0000056232 etcd[60735]: {"level":"info","ts":"2026-02-13T12:36:39.289490Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:39 np0000056232 etcd[60735]: {"level":"info","ts":"2026-02-13T12:36:39.289625Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056232","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:39 np0000056232 etcd[60735]: {"level":"info","ts":"2026-02-13T12:36:39.289689Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056232","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:39 np0000056232 etcd[60735]: {"level":"warn","ts":"2026-02-13T12:36:39.289752Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 12:36:39 np0000056232 etcd[60735]: {"level":"fatal","ts":"2026-02-13T12:36:39.289821Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 12:36:39 np0000056232 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 12:36:39 np0000056232 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 12:36:39 np0000056232 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 12:36:39 np0000056232 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 12:36:39 np0000056232 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 12:36:39 np0000056232 etcd[60753]: {"level":"warn","ts":"2026-02-13T12:36:39.532288Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:36:39 np0000056232 etcd[60753]: {"level":"info","ts":"2026-02-13T12:36:39.532469Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056232","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056232=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 12:36:39 np0000056232 etcd[60753]: {"level":"warn","ts":"2026-02-13T12:36:39.532622Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:36:39 np0000056232 etcd[60753]: {"level":"info","ts":"2026-02-13T12:36:39.532653Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 12:36:39 np0000056232 etcd[60753]: {"level":"info","ts":"2026-02-13T12:36:39.533150Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:39 np0000056232 etcd[60753]: {"level":"info","ts":"2026-02-13T12:36:39.533297Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056232","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:39 np0000056232 etcd[60753]: {"level":"info","ts":"2026-02-13T12:36:39.533379Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056232","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:39 np0000056232 etcd[60753]: {"level":"warn","ts":"2026-02-13T12:36:39.533435Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 12:36:39 np0000056232 etcd[60753]: {"level":"fatal","ts":"2026-02-13T12:36:39.533511Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 12:36:39 np0000056232 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 12:36:39 np0000056232 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 12:36:39 np0000056232 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 12:36:39 np0000056232 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 12:36:39 np0000056232 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 12:36:39 np0000056232 etcd[60774]: {"level":"warn","ts":"2026-02-13T12:36:39.787864Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:36:39 np0000056232 etcd[60774]: {"level":"info","ts":"2026-02-13T12:36:39.788535Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056232","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056232=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 12:36:39 np0000056232 etcd[60774]: {"level":"warn","ts":"2026-02-13T12:36:39.788712Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:36:39 np0000056232 etcd[60774]: {"level":"info","ts":"2026-02-13T12:36:39.788742Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 12:36:39 np0000056232 etcd[60774]: {"level":"info","ts":"2026-02-13T12:36:39.789485Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:39 np0000056232 etcd[60774]: {"level":"info","ts":"2026-02-13T12:36:39.789627Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056232","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:39 np0000056232 etcd[60774]: {"level":"info","ts":"2026-02-13T12:36:39.789708Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056232","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:39 np0000056232 etcd[60774]: {"level":"warn","ts":"2026-02-13T12:36:39.789773Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 12:36:39 np0000056232 etcd[60774]: {"level":"fatal","ts":"2026-02-13T12:36:39.789856Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 12:36:39 np0000056232 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 12:36:39 np0000056232 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 12:36:39 np0000056232 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 12:36:39 np0000056232 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 12:36:39 np0000056232 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 12:36:40 np0000056232 etcd[60811]: {"level":"warn","ts":"2026-02-13T12:36:40.034917Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:36:40 np0000056232 etcd[60811]: {"level":"info","ts":"2026-02-13T12:36:40.035096Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056232","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056232=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 12:36:40 np0000056232 etcd[60811]: {"level":"warn","ts":"2026-02-13T12:36:40.035297Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:36:40 np0000056232 etcd[60811]: {"level":"info","ts":"2026-02-13T12:36:40.035344Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 12:36:40 np0000056232 etcd[60811]: {"level":"info","ts":"2026-02-13T12:36:40.035793Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:40 np0000056232 etcd[60811]: {"level":"info","ts":"2026-02-13T12:36:40.035899Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056232","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:40 np0000056232 etcd[60811]: {"level":"info","ts":"2026-02-13T12:36:40.035995Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056232","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:36:40 np0000056232 etcd[60811]: {"level":"warn","ts":"2026-02-13T12:36:40.036048Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 12:36:40 np0000056232 etcd[60811]: {"level":"fatal","ts":"2026-02-13T12:36:40.036148Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 12:36:40 np0000056232 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 12:36:40 np0000056232 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 12:36:40 np0000056232 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 12:36:40 np0000056232 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 12:36:40 np0000056232 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 12:36:40 np0000056232 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 12:36:40 np0000056232 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
