Apr 14 12:45:23 np0000093944 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 12:45:23 np0000093944 etcd[60145]: {"level":"warn","ts":"2026-04-14T12:45:23.207634Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:45:23 np0000093944 etcd[60145]: {"level":"info","ts":"2026-04-14T12:45:23.207835Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093944","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093944=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 12:45:23 np0000093944 etcd[60145]: {"level":"warn","ts":"2026-04-14T12:45:23.208001Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:45:23 np0000093944 etcd[60145]: {"level":"info","ts":"2026-04-14T12:45:23.208029Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 12:45:23 np0000093944 etcd[60145]: {"level":"info","ts":"2026-04-14T12:45:23.208589Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:23 np0000093944 etcd[60145]: {"level":"info","ts":"2026-04-14T12:45:23.208704Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093944","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:23 np0000093944 etcd[60145]: {"level":"info","ts":"2026-04-14T12:45:23.208774Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093944","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:23 np0000093944 etcd[60145]: {"level":"warn","ts":"2026-04-14T12:45:23.208825Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 12:45:23 np0000093944 etcd[60145]: {"level":"fatal","ts":"2026-04-14T12:45:23.208886Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 12:45:23 np0000093944 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 12:45:23 np0000093944 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 12:45:23 np0000093944 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 12:45:23 np0000093944 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 12:45:23 np0000093944 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 12:45:23 np0000093944 etcd[60251]: {"level":"warn","ts":"2026-04-14T12:45:23.616241Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:45:23 np0000093944 etcd[60251]: {"level":"info","ts":"2026-04-14T12:45:23.616389Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093944","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093944=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 12:45:23 np0000093944 etcd[60251]: {"level":"warn","ts":"2026-04-14T12:45:23.616535Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:45:23 np0000093944 etcd[60251]: {"level":"info","ts":"2026-04-14T12:45:23.616570Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 12:45:23 np0000093944 etcd[60251]: {"level":"info","ts":"2026-04-14T12:45:23.616898Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:23 np0000093944 etcd[60251]: {"level":"info","ts":"2026-04-14T12:45:23.616983Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093944","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:23 np0000093944 etcd[60251]: {"level":"info","ts":"2026-04-14T12:45:23.617041Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093944","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:23 np0000093944 etcd[60251]: {"level":"warn","ts":"2026-04-14T12:45:23.617080Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 12:45:23 np0000093944 etcd[60251]: {"level":"fatal","ts":"2026-04-14T12:45:23.617126Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 12:45:23 np0000093944 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 12:45:23 np0000093944 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 12:45:23 np0000093944 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 12:45:23 np0000093944 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 12:45:23 np0000093944 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 12:45:23 np0000093944 etcd[60265]: {"level":"warn","ts":"2026-04-14T12:45:23.873447Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:45:23 np0000093944 etcd[60265]: {"level":"info","ts":"2026-04-14T12:45:23.873678Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093944","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093944=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 12:45:23 np0000093944 etcd[60265]: {"level":"warn","ts":"2026-04-14T12:45:23.873868Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:45:23 np0000093944 etcd[60265]: {"level":"info","ts":"2026-04-14T12:45:23.873910Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 12:45:23 np0000093944 etcd[60265]: {"level":"info","ts":"2026-04-14T12:45:23.874464Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:23 np0000093944 etcd[60265]: {"level":"info","ts":"2026-04-14T12:45:23.874630Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093944","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:23 np0000093944 etcd[60265]: {"level":"info","ts":"2026-04-14T12:45:23.874713Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093944","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:23 np0000093944 etcd[60265]: {"level":"warn","ts":"2026-04-14T12:45:23.874772Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 12:45:23 np0000093944 etcd[60265]: {"level":"fatal","ts":"2026-04-14T12:45:23.874857Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 12:45:23 np0000093944 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 12:45:23 np0000093944 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 12:45:23 np0000093944 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 12:45:24 np0000093944 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 12:45:24 np0000093944 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 12:45:24 np0000093944 etcd[60291]: {"level":"warn","ts":"2026-04-14T12:45:24.091653Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:45:24 np0000093944 etcd[60291]: {"level":"info","ts":"2026-04-14T12:45:24.091770Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093944","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093944=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 12:45:24 np0000093944 etcd[60291]: {"level":"warn","ts":"2026-04-14T12:45:24.091881Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:45:24 np0000093944 etcd[60291]: {"level":"info","ts":"2026-04-14T12:45:24.091900Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 12:45:24 np0000093944 etcd[60291]: {"level":"info","ts":"2026-04-14T12:45:24.092215Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:24 np0000093944 etcd[60291]: {"level":"info","ts":"2026-04-14T12:45:24.092308Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093944","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:24 np0000093944 etcd[60291]: {"level":"info","ts":"2026-04-14T12:45:24.092359Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093944","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:24 np0000093944 etcd[60291]: {"level":"warn","ts":"2026-04-14T12:45:24.092393Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 12:45:24 np0000093944 etcd[60291]: {"level":"fatal","ts":"2026-04-14T12:45:24.092443Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 12:45:24 np0000093944 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 12:45:24 np0000093944 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 12:45:24 np0000093944 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 12:45:24 np0000093944 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 12:45:24 np0000093944 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 12:45:24 np0000093944 etcd[60344]: {"level":"warn","ts":"2026-04-14T12:45:24.361380Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:45:24 np0000093944 etcd[60344]: {"level":"info","ts":"2026-04-14T12:45:24.361532Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093944","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093944=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 12:45:24 np0000093944 etcd[60344]: {"level":"warn","ts":"2026-04-14T12:45:24.361694Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:45:24 np0000093944 etcd[60344]: {"level":"info","ts":"2026-04-14T12:45:24.361729Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 12:45:24 np0000093944 etcd[60344]: {"level":"info","ts":"2026-04-14T12:45:24.362152Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:24 np0000093944 etcd[60344]: {"level":"info","ts":"2026-04-14T12:45:24.362284Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093944","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:24 np0000093944 etcd[60344]: {"level":"info","ts":"2026-04-14T12:45:24.362358Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093944","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:45:24 np0000093944 etcd[60344]: {"level":"warn","ts":"2026-04-14T12:45:24.362414Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 12:45:24 np0000093944 etcd[60344]: {"level":"fatal","ts":"2026-04-14T12:45:24.362471Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 12:45:24 np0000093944 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 12:45:24 np0000093944 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 12:45:24 np0000093944 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 12:45:24 np0000093944 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 12:45:24 np0000093944 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 12:45:24 np0000093944 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 12:45:24 np0000093944 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
