Apr 16 19:27:04 np0000093988 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 19:27:04 np0000093988 etcd[60792]: {"level":"warn","ts":"2026-04-16T19:27:04.552085Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 19:27:04 np0000093988 etcd[60792]: {"level":"info","ts":"2026-04-16T19:27:04.552262Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093988","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093988=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 19:27:04 np0000093988 etcd[60792]: {"level":"warn","ts":"2026-04-16T19:27:04.552433Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 19:27:04 np0000093988 etcd[60792]: {"level":"info","ts":"2026-04-16T19:27:04.552464Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 19:27:04 np0000093988 etcd[60792]: {"level":"info","ts":"2026-04-16T19:27:04.552969Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:04 np0000093988 etcd[60792]: {"level":"info","ts":"2026-04-16T19:27:04.553092Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093988","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:04 np0000093988 etcd[60792]: {"level":"info","ts":"2026-04-16T19:27:04.553172Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093988","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:04 np0000093988 etcd[60792]: {"level":"warn","ts":"2026-04-16T19:27:04.553229Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 19:27:04 np0000093988 etcd[60792]: {"level":"fatal","ts":"2026-04-16T19:27:04.553294Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 19:27:04 np0000093988 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 19:27:04 np0000093988 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 19:27:04 np0000093988 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 19:27:04 np0000093988 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 16 19:27:04 np0000093988 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 19:27:04 np0000093988 etcd[60846]: {"level":"warn","ts":"2026-04-16T19:27:04.785034Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 19:27:04 np0000093988 etcd[60846]: {"level":"info","ts":"2026-04-16T19:27:04.785207Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093988","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093988=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 19:27:04 np0000093988 etcd[60846]: {"level":"warn","ts":"2026-04-16T19:27:04.785373Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 19:27:04 np0000093988 etcd[60846]: {"level":"info","ts":"2026-04-16T19:27:04.785403Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 19:27:04 np0000093988 etcd[60846]: {"level":"info","ts":"2026-04-16T19:27:04.787203Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:04 np0000093988 etcd[60846]: {"level":"info","ts":"2026-04-16T19:27:04.787352Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093988","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:04 np0000093988 etcd[60846]: {"level":"info","ts":"2026-04-16T19:27:04.787441Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093988","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:04 np0000093988 etcd[60846]: {"level":"warn","ts":"2026-04-16T19:27:04.787510Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 19:27:04 np0000093988 etcd[60846]: {"level":"fatal","ts":"2026-04-16T19:27:04.787578Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 19:27:04 np0000093988 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 19:27:04 np0000093988 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 19:27:04 np0000093988 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 19:27:04 np0000093988 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 16 19:27:04 np0000093988 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 19:27:05 np0000093988 etcd[60912]: {"level":"warn","ts":"2026-04-16T19:27:05.034558Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 19:27:05 np0000093988 etcd[60912]: {"level":"info","ts":"2026-04-16T19:27:05.034769Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093988","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093988=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 19:27:05 np0000093988 etcd[60912]: {"level":"warn","ts":"2026-04-16T19:27:05.034939Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 19:27:05 np0000093988 etcd[60912]: {"level":"info","ts":"2026-04-16T19:27:05.034981Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 19:27:05 np0000093988 etcd[60912]: {"level":"info","ts":"2026-04-16T19:27:05.035543Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:05 np0000093988 etcd[60912]: {"level":"info","ts":"2026-04-16T19:27:05.035673Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093988","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:05 np0000093988 etcd[60912]: {"level":"info","ts":"2026-04-16T19:27:05.037478Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093988","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:05 np0000093988 etcd[60912]: {"level":"warn","ts":"2026-04-16T19:27:05.037552Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 19:27:05 np0000093988 etcd[60912]: {"level":"fatal","ts":"2026-04-16T19:27:05.037629Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 19:27:05 np0000093988 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 19:27:05 np0000093988 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 19:27:05 np0000093988 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 19:27:05 np0000093988 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 16 19:27:05 np0000093988 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 19:27:05 np0000093988 etcd[60920]: {"level":"warn","ts":"2026-04-16T19:27:05.291943Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 19:27:05 np0000093988 etcd[60920]: {"level":"info","ts":"2026-04-16T19:27:05.292161Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093988","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093988=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 19:27:05 np0000093988 etcd[60920]: {"level":"warn","ts":"2026-04-16T19:27:05.292391Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 19:27:05 np0000093988 etcd[60920]: {"level":"info","ts":"2026-04-16T19:27:05.292437Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 19:27:05 np0000093988 etcd[60920]: {"level":"info","ts":"2026-04-16T19:27:05.294515Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:05 np0000093988 etcd[60920]: {"level":"info","ts":"2026-04-16T19:27:05.294662Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093988","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:05 np0000093988 etcd[60920]: {"level":"info","ts":"2026-04-16T19:27:05.294843Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093988","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:05 np0000093988 etcd[60920]: {"level":"warn","ts":"2026-04-16T19:27:05.294932Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 19:27:05 np0000093988 etcd[60920]: {"level":"fatal","ts":"2026-04-16T19:27:05.295015Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 19:27:05 np0000093988 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 19:27:05 np0000093988 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 19:27:05 np0000093988 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 19:27:05 np0000093988 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 16 19:27:05 np0000093988 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 19:27:05 np0000093988 etcd[60950]: {"level":"warn","ts":"2026-04-16T19:27:05.533474Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 19:27:05 np0000093988 etcd[60950]: {"level":"info","ts":"2026-04-16T19:27:05.533602Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093988","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093988=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 19:27:05 np0000093988 etcd[60950]: {"level":"warn","ts":"2026-04-16T19:27:05.533729Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 19:27:05 np0000093988 etcd[60950]: {"level":"info","ts":"2026-04-16T19:27:05.533758Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 19:27:05 np0000093988 etcd[60950]: {"level":"info","ts":"2026-04-16T19:27:05.534153Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:05 np0000093988 etcd[60950]: {"level":"info","ts":"2026-04-16T19:27:05.534245Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093988","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:05 np0000093988 etcd[60950]: {"level":"info","ts":"2026-04-16T19:27:05.534301Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093988","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 19:27:05 np0000093988 etcd[60950]: {"level":"warn","ts":"2026-04-16T19:27:05.534346Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 19:27:05 np0000093988 etcd[60950]: {"level":"fatal","ts":"2026-04-16T19:27:05.534390Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 19:27:05 np0000093988 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 19:27:05 np0000093988 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 19:27:05 np0000093988 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 19:27:05 np0000093988 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 16 19:27:05 np0000093988 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 16 19:27:05 np0000093988 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 19:27:05 np0000093988 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
