Apr 08 15:29:38 np0000093872 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 15:29:38 np0000093872 etcd[65679]: {"level":"warn","ts":"2026-04-08T15:29:38.438153Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:29:38 np0000093872 etcd[65679]: {"level":"info","ts":"2026-04-08T15:29:38.438343Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093872","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093872=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 15:29:38 np0000093872 etcd[65679]: {"level":"warn","ts":"2026-04-08T15:29:38.438517Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:29:38 np0000093872 etcd[65679]: {"level":"info","ts":"2026-04-08T15:29:38.438545Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 15:29:38 np0000093872 etcd[65679]: {"level":"info","ts":"2026-04-08T15:29:38.438990Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:38 np0000093872 etcd[65679]: {"level":"info","ts":"2026-04-08T15:29:38.439095Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093872","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:38 np0000093872 etcd[65679]: {"level":"info","ts":"2026-04-08T15:29:38.439168Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093872","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:38 np0000093872 etcd[65679]: {"level":"warn","ts":"2026-04-08T15:29:38.439247Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 15:29:38 np0000093872 etcd[65679]: {"level":"fatal","ts":"2026-04-08T15:29:38.439303Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 15:29:38 np0000093872 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 15:29:38 np0000093872 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 15:29:38 np0000093872 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 15:29:38 np0000093872 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 08 15:29:38 np0000093872 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 15:29:38 np0000093872 etcd[65768]: {"level":"warn","ts":"2026-04-08T15:29:38.788348Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:29:38 np0000093872 etcd[65768]: {"level":"info","ts":"2026-04-08T15:29:38.788519Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093872","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093872=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 15:29:38 np0000093872 etcd[65768]: {"level":"warn","ts":"2026-04-08T15:29:38.788692Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:29:38 np0000093872 etcd[65768]: {"level":"info","ts":"2026-04-08T15:29:38.788723Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 15:29:38 np0000093872 etcd[65768]: {"level":"info","ts":"2026-04-08T15:29:38.789247Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:38 np0000093872 etcd[65768]: {"level":"info","ts":"2026-04-08T15:29:38.789415Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093872","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:38 np0000093872 etcd[65768]: {"level":"info","ts":"2026-04-08T15:29:38.789524Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093872","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:38 np0000093872 etcd[65768]: {"level":"warn","ts":"2026-04-08T15:29:38.789585Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 15:29:38 np0000093872 etcd[65768]: {"level":"fatal","ts":"2026-04-08T15:29:38.789661Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 15:29:38 np0000093872 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 15:29:38 np0000093872 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 15:29:38 np0000093872 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 15:29:38 np0000093872 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 08 15:29:38 np0000093872 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 15:29:39 np0000093872 etcd[65799]: {"level":"warn","ts":"2026-04-08T15:29:39.041344Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:29:39 np0000093872 etcd[65799]: {"level":"info","ts":"2026-04-08T15:29:39.041547Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093872","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093872=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 15:29:39 np0000093872 etcd[65799]: {"level":"warn","ts":"2026-04-08T15:29:39.041738Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:29:39 np0000093872 etcd[65799]: {"level":"info","ts":"2026-04-08T15:29:39.041781Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 15:29:39 np0000093872 etcd[65799]: {"level":"info","ts":"2026-04-08T15:29:39.042339Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:39 np0000093872 etcd[65799]: {"level":"info","ts":"2026-04-08T15:29:39.042463Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093872","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:39 np0000093872 etcd[65799]: {"level":"info","ts":"2026-04-08T15:29:39.042550Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093872","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:39 np0000093872 etcd[65799]: {"level":"warn","ts":"2026-04-08T15:29:39.042618Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 15:29:39 np0000093872 etcd[65799]: {"level":"fatal","ts":"2026-04-08T15:29:39.042701Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 15:29:39 np0000093872 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 15:29:39 np0000093872 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 15:29:39 np0000093872 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 15:29:39 np0000093872 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 08 15:29:39 np0000093872 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 15:29:39 np0000093872 etcd[65820]: {"level":"warn","ts":"2026-04-08T15:29:39.300879Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:29:39 np0000093872 etcd[65820]: {"level":"info","ts":"2026-04-08T15:29:39.300976Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093872","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093872=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 15:29:39 np0000093872 etcd[65820]: {"level":"warn","ts":"2026-04-08T15:29:39.301067Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:29:39 np0000093872 etcd[65820]: {"level":"info","ts":"2026-04-08T15:29:39.301082Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 15:29:39 np0000093872 etcd[65820]: {"level":"info","ts":"2026-04-08T15:29:39.301333Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:39 np0000093872 etcd[65820]: {"level":"info","ts":"2026-04-08T15:29:39.301395Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093872","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:39 np0000093872 etcd[65820]: {"level":"info","ts":"2026-04-08T15:29:39.301439Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093872","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:39 np0000093872 etcd[65820]: {"level":"warn","ts":"2026-04-08T15:29:39.301471Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 15:29:39 np0000093872 etcd[65820]: {"level":"fatal","ts":"2026-04-08T15:29:39.301503Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 15:29:39 np0000093872 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 15:29:39 np0000093872 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 15:29:39 np0000093872 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 15:29:39 np0000093872 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 08 15:29:39 np0000093872 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 15:29:39 np0000093872 etcd[65854]: {"level":"warn","ts":"2026-04-08T15:29:39.554525Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:29:39 np0000093872 etcd[65854]: {"level":"info","ts":"2026-04-08T15:29:39.554716Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093872","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093872=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 15:29:39 np0000093872 etcd[65854]: {"level":"warn","ts":"2026-04-08T15:29:39.554902Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 15:29:39 np0000093872 etcd[65854]: {"level":"info","ts":"2026-04-08T15:29:39.554930Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 15:29:39 np0000093872 etcd[65854]: {"level":"info","ts":"2026-04-08T15:29:39.555372Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:39 np0000093872 etcd[65854]: {"level":"info","ts":"2026-04-08T15:29:39.555475Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093872","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:39 np0000093872 etcd[65854]: {"level":"info","ts":"2026-04-08T15:29:39.555545Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093872","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 15:29:39 np0000093872 etcd[65854]: {"level":"warn","ts":"2026-04-08T15:29:39.555595Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 15:29:39 np0000093872 etcd[65854]: {"level":"fatal","ts":"2026-04-08T15:29:39.555651Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 15:29:39 np0000093872 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 15:29:39 np0000093872 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 15:29:39 np0000093872 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 15:29:39 np0000093872 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 08 15:29:39 np0000093872 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 08 15:29:39 np0000093872 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 15:29:39 np0000093872 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
