Apr 09 21:45:08 np0000093898 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 21:45:08 np0000093898 etcd[60216]: {"level":"warn","ts":"2026-04-09T21:45:08.477080Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 21:45:08 np0000093898 etcd[60216]: {"level":"info","ts":"2026-04-09T21:45:08.477207Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093898","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093898=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 21:45:08 np0000093898 etcd[60216]: {"level":"warn","ts":"2026-04-09T21:45:08.477308Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 21:45:08 np0000093898 etcd[60216]: {"level":"info","ts":"2026-04-09T21:45:08.477328Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 21:45:08 np0000093898 etcd[60216]: {"level":"info","ts":"2026-04-09T21:45:08.477598Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:08 np0000093898 etcd[60216]: {"level":"info","ts":"2026-04-09T21:45:08.477658Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093898","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:08 np0000093898 etcd[60216]: {"level":"info","ts":"2026-04-09T21:45:08.477699Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093898","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:08 np0000093898 etcd[60216]: {"level":"warn","ts":"2026-04-09T21:45:08.477727Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 21:45:08 np0000093898 etcd[60216]: {"level":"fatal","ts":"2026-04-09T21:45:08.477761Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 21:45:08 np0000093898 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 21:45:08 np0000093898 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 21:45:08 np0000093898 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 21:45:08 np0000093898 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 09 21:45:08 np0000093898 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 21:45:08 np0000093898 etcd[60329]: {"level":"warn","ts":"2026-04-09T21:45:08.786402Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 21:45:08 np0000093898 etcd[60329]: {"level":"info","ts":"2026-04-09T21:45:08.786588Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093898","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093898=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 21:45:08 np0000093898 etcd[60329]: {"level":"warn","ts":"2026-04-09T21:45:08.786762Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 21:45:08 np0000093898 etcd[60329]: {"level":"info","ts":"2026-04-09T21:45:08.786803Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 21:45:08 np0000093898 etcd[60329]: {"level":"info","ts":"2026-04-09T21:45:08.787463Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:08 np0000093898 etcd[60329]: {"level":"info","ts":"2026-04-09T21:45:08.787591Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093898","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:08 np0000093898 etcd[60329]: {"level":"info","ts":"2026-04-09T21:45:08.787674Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093898","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:08 np0000093898 etcd[60329]: {"level":"warn","ts":"2026-04-09T21:45:08.787742Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 21:45:08 np0000093898 etcd[60329]: {"level":"fatal","ts":"2026-04-09T21:45:08.787808Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 21:45:08 np0000093898 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 21:45:08 np0000093898 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 21:45:08 np0000093898 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 21:45:08 np0000093898 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 09 21:45:08 np0000093898 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 21:45:09 np0000093898 etcd[60338]: {"level":"warn","ts":"2026-04-09T21:45:09.002109Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 21:45:09 np0000093898 etcd[60338]: {"level":"info","ts":"2026-04-09T21:45:09.002198Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093898","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093898=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 21:45:09 np0000093898 etcd[60338]: {"level":"warn","ts":"2026-04-09T21:45:09.002283Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 21:45:09 np0000093898 etcd[60338]: {"level":"info","ts":"2026-04-09T21:45:09.002302Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 21:45:09 np0000093898 etcd[60338]: {"level":"info","ts":"2026-04-09T21:45:09.002551Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:09 np0000093898 etcd[60338]: {"level":"info","ts":"2026-04-09T21:45:09.002612Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093898","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:09 np0000093898 etcd[60338]: {"level":"info","ts":"2026-04-09T21:45:09.002655Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093898","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:09 np0000093898 etcd[60338]: {"level":"warn","ts":"2026-04-09T21:45:09.002684Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 21:45:09 np0000093898 etcd[60338]: {"level":"fatal","ts":"2026-04-09T21:45:09.002722Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 21:45:09 np0000093898 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 21:45:09 np0000093898 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 21:45:09 np0000093898 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 21:45:09 np0000093898 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 09 21:45:09 np0000093898 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 21:45:09 np0000093898 etcd[60346]: {"level":"warn","ts":"2026-04-09T21:45:09.279178Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 21:45:09 np0000093898 etcd[60346]: {"level":"info","ts":"2026-04-09T21:45:09.279350Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093898","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093898=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 21:45:09 np0000093898 etcd[60346]: {"level":"warn","ts":"2026-04-09T21:45:09.279509Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 21:45:09 np0000093898 etcd[60346]: {"level":"info","ts":"2026-04-09T21:45:09.279552Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 21:45:09 np0000093898 etcd[60346]: {"level":"info","ts":"2026-04-09T21:45:09.280063Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:09 np0000093898 etcd[60346]: {"level":"info","ts":"2026-04-09T21:45:09.280211Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093898","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:09 np0000093898 etcd[60346]: {"level":"info","ts":"2026-04-09T21:45:09.280297Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093898","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:09 np0000093898 etcd[60346]: {"level":"warn","ts":"2026-04-09T21:45:09.280356Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 21:45:09 np0000093898 etcd[60346]: {"level":"fatal","ts":"2026-04-09T21:45:09.280442Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 21:45:09 np0000093898 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 21:45:09 np0000093898 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 21:45:09 np0000093898 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 21:45:09 np0000093898 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 09 21:45:09 np0000093898 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 21:45:09 np0000093898 etcd[60354]: {"level":"warn","ts":"2026-04-09T21:45:09.528516Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 21:45:09 np0000093898 etcd[60354]: {"level":"info","ts":"2026-04-09T21:45:09.528693Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093898","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093898=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 21:45:09 np0000093898 etcd[60354]: {"level":"warn","ts":"2026-04-09T21:45:09.528866Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 21:45:09 np0000093898 etcd[60354]: {"level":"info","ts":"2026-04-09T21:45:09.528907Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 21:45:09 np0000093898 etcd[60354]: {"level":"info","ts":"2026-04-09T21:45:09.529403Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:09 np0000093898 etcd[60354]: {"level":"info","ts":"2026-04-09T21:45:09.529519Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093898","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:09 np0000093898 etcd[60354]: {"level":"info","ts":"2026-04-09T21:45:09.529602Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093898","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 21:45:09 np0000093898 etcd[60354]: {"level":"warn","ts":"2026-04-09T21:45:09.530180Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 21:45:09 np0000093898 etcd[60354]: {"level":"fatal","ts":"2026-04-09T21:45:09.530249Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 21:45:09 np0000093898 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 21:45:09 np0000093898 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 21:45:09 np0000093898 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 21:45:09 np0000093898 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 09 21:45:09 np0000093898 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 09 21:45:09 np0000093898 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 21:45:09 np0000093898 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
