May 31 07:58:52 np0000094189 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 31 07:58:52 np0000094189 etcd[61362]: {"level":"warn","ts":"2026-05-31T07:58:52.072046Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 31 07:58:52 np0000094189 etcd[61362]: {"level":"info","ts":"2026-05-31T07:58:52.072260Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094189","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094189=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 31 07:58:52 np0000094189 etcd[61362]: {"level":"warn","ts":"2026-05-31T07:58:52.072427Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 31 07:58:52 np0000094189 etcd[61362]: {"level":"info","ts":"2026-05-31T07:58:52.072453Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 31 07:58:52 np0000094189 etcd[61362]: {"level":"info","ts":"2026-05-31T07:58:52.072936Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:52 np0000094189 etcd[61362]: {"level":"info","ts":"2026-05-31T07:58:52.073039Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094189","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:52 np0000094189 etcd[61362]: {"level":"info","ts":"2026-05-31T07:58:52.073111Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094189","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:52 np0000094189 etcd[61362]: {"level":"warn","ts":"2026-05-31T07:58:52.073161Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 31 07:58:52 np0000094189 etcd[61362]: {"level":"fatal","ts":"2026-05-31T07:58:52.073228Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 31 07:58:52 np0000094189 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 31 07:58:52 np0000094189 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 31 07:58:52 np0000094189 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 31 07:58:52 np0000094189 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 31 07:58:52 np0000094189 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 31 07:58:52 np0000094189 etcd[61450]: {"level":"warn","ts":"2026-05-31T07:58:52.324218Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 31 07:58:52 np0000094189 etcd[61450]: {"level":"info","ts":"2026-05-31T07:58:52.324328Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094189","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094189=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 31 07:58:52 np0000094189 etcd[61450]: {"level":"warn","ts":"2026-05-31T07:58:52.324453Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 31 07:58:52 np0000094189 etcd[61450]: {"level":"info","ts":"2026-05-31T07:58:52.324475Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 31 07:58:52 np0000094189 etcd[61450]: {"level":"info","ts":"2026-05-31T07:58:52.324848Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:52 np0000094189 etcd[61450]: {"level":"info","ts":"2026-05-31T07:58:52.324918Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094189","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:52 np0000094189 etcd[61450]: {"level":"info","ts":"2026-05-31T07:58:52.324969Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094189","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:52 np0000094189 etcd[61450]: {"level":"warn","ts":"2026-05-31T07:58:52.325006Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 31 07:58:52 np0000094189 etcd[61450]: {"level":"fatal","ts":"2026-05-31T07:58:52.325043Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 31 07:58:52 np0000094189 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 31 07:58:52 np0000094189 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 31 07:58:52 np0000094189 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 31 07:58:52 np0000094189 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 31 07:58:52 np0000094189 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 31 07:58:52 np0000094189 etcd[61499]: {"level":"warn","ts":"2026-05-31T07:58:52.603366Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 31 07:58:52 np0000094189 etcd[61499]: {"level":"info","ts":"2026-05-31T07:58:52.603574Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094189","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094189=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 31 07:58:52 np0000094189 etcd[61499]: {"level":"warn","ts":"2026-05-31T07:58:52.603789Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 31 07:58:52 np0000094189 etcd[61499]: {"level":"info","ts":"2026-05-31T07:58:52.603824Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 31 07:58:52 np0000094189 etcd[61499]: {"level":"info","ts":"2026-05-31T07:58:52.604334Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:52 np0000094189 etcd[61499]: {"level":"info","ts":"2026-05-31T07:58:52.604483Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094189","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:52 np0000094189 etcd[61499]: {"level":"info","ts":"2026-05-31T07:58:52.604571Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094189","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:52 np0000094189 etcd[61499]: {"level":"warn","ts":"2026-05-31T07:58:52.604666Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 31 07:58:52 np0000094189 etcd[61499]: {"level":"fatal","ts":"2026-05-31T07:58:52.604736Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 31 07:58:52 np0000094189 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 31 07:58:52 np0000094189 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 31 07:58:52 np0000094189 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 31 07:58:52 np0000094189 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 31 07:58:52 np0000094189 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 31 07:58:52 np0000094189 etcd[61522]: {"level":"warn","ts":"2026-05-31T07:58:52.855461Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 31 07:58:52 np0000094189 etcd[61522]: {"level":"info","ts":"2026-05-31T07:58:52.855708Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094189","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094189=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 31 07:58:52 np0000094189 etcd[61522]: {"level":"warn","ts":"2026-05-31T07:58:52.855870Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 31 07:58:52 np0000094189 etcd[61522]: {"level":"info","ts":"2026-05-31T07:58:52.855915Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 31 07:58:52 np0000094189 etcd[61522]: {"level":"info","ts":"2026-05-31T07:58:52.856679Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:52 np0000094189 etcd[61522]: {"level":"info","ts":"2026-05-31T07:58:52.856847Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094189","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:52 np0000094189 etcd[61522]: {"level":"info","ts":"2026-05-31T07:58:52.857368Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094189","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:52 np0000094189 etcd[61522]: {"level":"warn","ts":"2026-05-31T07:58:52.857471Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 31 07:58:52 np0000094189 etcd[61522]: {"level":"fatal","ts":"2026-05-31T07:58:52.857543Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 31 07:58:52 np0000094189 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 31 07:58:52 np0000094189 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 31 07:58:52 np0000094189 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 31 07:58:53 np0000094189 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 31 07:58:53 np0000094189 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 31 07:58:53 np0000094189 etcd[61562]: {"level":"warn","ts":"2026-05-31T07:58:53.101144Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 31 07:58:53 np0000094189 etcd[61562]: {"level":"info","ts":"2026-05-31T07:58:53.101331Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094189","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094189=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 31 07:58:53 np0000094189 etcd[61562]: {"level":"warn","ts":"2026-05-31T07:58:53.101532Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 31 07:58:53 np0000094189 etcd[61562]: {"level":"info","ts":"2026-05-31T07:58:53.101566Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 31 07:58:53 np0000094189 etcd[61562]: {"level":"info","ts":"2026-05-31T07:58:53.103355Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:53 np0000094189 etcd[61562]: {"level":"info","ts":"2026-05-31T07:58:53.103511Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094189","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:53 np0000094189 etcd[61562]: {"level":"info","ts":"2026-05-31T07:58:53.103594Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094189","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 31 07:58:53 np0000094189 etcd[61562]: {"level":"warn","ts":"2026-05-31T07:58:53.103682Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 31 07:58:53 np0000094189 etcd[61562]: {"level":"fatal","ts":"2026-05-31T07:58:53.103748Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 31 07:58:53 np0000094189 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 31 07:58:53 np0000094189 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 31 07:58:53 np0000094189 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 31 07:58:53 np0000094189 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 31 07:58:53 np0000094189 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 31 07:58:53 np0000094189 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 31 07:58:53 np0000094189 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
