Feb 13 18:37:47 np0000056246 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 18:37:47 np0000056246 etcd[60757]: {"level":"warn","ts":"2026-02-13T18:37:47.799769Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:37:47 np0000056246 etcd[60757]: {"level":"info","ts":"2026-02-13T18:37:47.800834Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056246","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056246=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 18:37:47 np0000056246 etcd[60757]: {"level":"warn","ts":"2026-02-13T18:37:47.801007Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:37:47 np0000056246 etcd[60757]: {"level":"info","ts":"2026-02-13T18:37:47.801036Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 18:37:47 np0000056246 etcd[60757]: {"level":"info","ts":"2026-02-13T18:37:47.801444Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:47 np0000056246 etcd[60757]: {"level":"info","ts":"2026-02-13T18:37:47.801545Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056246","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:47 np0000056246 etcd[60757]: {"level":"info","ts":"2026-02-13T18:37:47.801603Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056246","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:47 np0000056246 etcd[60757]: {"level":"warn","ts":"2026-02-13T18:37:47.801646Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 18:37:47 np0000056246 etcd[60757]: {"level":"fatal","ts":"2026-02-13T18:37:47.801720Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 18:37:47 np0000056246 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 18:37:47 np0000056246 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 18:37:47 np0000056246 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 18:37:48 np0000056246 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 18:37:48 np0000056246 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 18:37:48 np0000056246 etcd[60836]: {"level":"warn","ts":"2026-02-13T18:37:48.119999Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:37:48 np0000056246 etcd[60836]: {"level":"info","ts":"2026-02-13T18:37:48.120209Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056246","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056246=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 18:37:48 np0000056246 etcd[60836]: {"level":"warn","ts":"2026-02-13T18:37:48.120396Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:37:48 np0000056246 etcd[60836]: {"level":"info","ts":"2026-02-13T18:37:48.120440Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 18:37:48 np0000056246 etcd[60836]: {"level":"info","ts":"2026-02-13T18:37:48.121039Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:48 np0000056246 etcd[60836]: {"level":"info","ts":"2026-02-13T18:37:48.121201Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056246","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:48 np0000056246 etcd[60836]: {"level":"info","ts":"2026-02-13T18:37:48.121289Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056246","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:48 np0000056246 etcd[60836]: {"level":"warn","ts":"2026-02-13T18:37:48.121362Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 18:37:48 np0000056246 etcd[60836]: {"level":"fatal","ts":"2026-02-13T18:37:48.121427Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 18:37:48 np0000056246 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 18:37:48 np0000056246 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 18:37:48 np0000056246 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 18:37:48 np0000056246 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 18:37:48 np0000056246 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 18:37:48 np0000056246 etcd[60877]: {"level":"warn","ts":"2026-02-13T18:37:48.369334Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:37:48 np0000056246 etcd[60877]: {"level":"info","ts":"2026-02-13T18:37:48.369963Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056246","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056246=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 18:37:48 np0000056246 etcd[60877]: {"level":"warn","ts":"2026-02-13T18:37:48.370228Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:37:48 np0000056246 etcd[60877]: {"level":"info","ts":"2026-02-13T18:37:48.370303Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 18:37:48 np0000056246 etcd[60877]: {"level":"info","ts":"2026-02-13T18:37:48.370865Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:48 np0000056246 etcd[60877]: {"level":"info","ts":"2026-02-13T18:37:48.371007Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056246","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:48 np0000056246 etcd[60877]: {"level":"info","ts":"2026-02-13T18:37:48.371072Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056246","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:48 np0000056246 etcd[60877]: {"level":"warn","ts":"2026-02-13T18:37:48.371156Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 18:37:48 np0000056246 etcd[60877]: {"level":"fatal","ts":"2026-02-13T18:37:48.371243Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 18:37:48 np0000056246 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 18:37:48 np0000056246 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 18:37:48 np0000056246 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 18:37:48 np0000056246 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 18:37:48 np0000056246 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 18:37:48 np0000056246 etcd[60897]: {"level":"warn","ts":"2026-02-13T18:37:48.613297Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:37:48 np0000056246 etcd[60897]: {"level":"info","ts":"2026-02-13T18:37:48.614409Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056246","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056246=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 18:37:48 np0000056246 etcd[60897]: {"level":"warn","ts":"2026-02-13T18:37:48.614590Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:37:48 np0000056246 etcd[60897]: {"level":"info","ts":"2026-02-13T18:37:48.614694Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 18:37:48 np0000056246 etcd[60897]: {"level":"info","ts":"2026-02-13T18:37:48.615108Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:48 np0000056246 etcd[60897]: {"level":"info","ts":"2026-02-13T18:37:48.615909Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056246","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:48 np0000056246 etcd[60897]: {"level":"info","ts":"2026-02-13T18:37:48.615990Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056246","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:48 np0000056246 etcd[60897]: {"level":"warn","ts":"2026-02-13T18:37:48.616054Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 18:37:48 np0000056246 etcd[60897]: {"level":"fatal","ts":"2026-02-13T18:37:48.616135Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 18:37:48 np0000056246 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 18:37:48 np0000056246 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 18:37:48 np0000056246 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 18:37:48 np0000056246 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 18:37:48 np0000056246 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 18:37:48 np0000056246 etcd[60937]: {"level":"warn","ts":"2026-02-13T18:37:48.870560Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:37:48 np0000056246 etcd[60937]: {"level":"info","ts":"2026-02-13T18:37:48.870762Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056246","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056246=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 18:37:48 np0000056246 etcd[60937]: {"level":"warn","ts":"2026-02-13T18:37:48.870952Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:37:48 np0000056246 etcd[60937]: {"level":"info","ts":"2026-02-13T18:37:48.870986Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 18:37:48 np0000056246 etcd[60937]: {"level":"info","ts":"2026-02-13T18:37:48.871452Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:48 np0000056246 etcd[60937]: {"level":"info","ts":"2026-02-13T18:37:48.871830Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056246","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:48 np0000056246 etcd[60937]: {"level":"info","ts":"2026-02-13T18:37:48.871918Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056246","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:37:48 np0000056246 etcd[60937]: {"level":"warn","ts":"2026-02-13T18:37:48.871980Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 18:37:48 np0000056246 etcd[60937]: {"level":"fatal","ts":"2026-02-13T18:37:48.872048Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 18:37:48 np0000056246 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 18:37:48 np0000056246 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 18:37:48 np0000056246 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 18:37:49 np0000056246 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 18:37:49 np0000056246 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 18:37:49 np0000056246 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 18:37:49 np0000056246 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
