Apr 16 20:10:01 np0000093990 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 20:10:01 np0000093990 etcd[60402]: {"level":"warn","ts":"2026-04-16T20:10:01.543227Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:10:01 np0000093990 etcd[60402]: {"level":"info","ts":"2026-04-16T20:10:01.543417Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093990","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093990=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 20:10:01 np0000093990 etcd[60402]: {"level":"warn","ts":"2026-04-16T20:10:01.543613Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:10:01 np0000093990 etcd[60402]: {"level":"info","ts":"2026-04-16T20:10:01.543645Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 20:10:01 np0000093990 etcd[60402]: {"level":"info","ts":"2026-04-16T20:10:01.544139Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:01 np0000093990 etcd[60402]: {"level":"info","ts":"2026-04-16T20:10:01.544255Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093990","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:01 np0000093990 etcd[60402]: {"level":"info","ts":"2026-04-16T20:10:01.544345Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093990","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:01 np0000093990 etcd[60402]: {"level":"warn","ts":"2026-04-16T20:10:01.544397Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 20:10:01 np0000093990 etcd[60402]: {"level":"fatal","ts":"2026-04-16T20:10:01.544625Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 20:10:01 np0000093990 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 20:10:01 np0000093990 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 20:10:01 np0000093990 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 20:10:01 np0000093990 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 16 20:10:01 np0000093990 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 20:10:01 np0000093990 etcd[60459]: {"level":"warn","ts":"2026-04-16T20:10:01.777752Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:10:01 np0000093990 etcd[60459]: {"level":"info","ts":"2026-04-16T20:10:01.778696Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093990","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093990=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 20:10:01 np0000093990 etcd[60459]: {"level":"warn","ts":"2026-04-16T20:10:01.778914Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:10:01 np0000093990 etcd[60459]: {"level":"info","ts":"2026-04-16T20:10:01.778948Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 20:10:01 np0000093990 etcd[60459]: {"level":"info","ts":"2026-04-16T20:10:01.779437Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:01 np0000093990 etcd[60459]: {"level":"info","ts":"2026-04-16T20:10:01.779549Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093990","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:01 np0000093990 etcd[60459]: {"level":"info","ts":"2026-04-16T20:10:01.780714Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093990","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:01 np0000093990 etcd[60459]: {"level":"warn","ts":"2026-04-16T20:10:01.780781Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 20:10:01 np0000093990 etcd[60459]: {"level":"fatal","ts":"2026-04-16T20:10:01.780869Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 20:10:01 np0000093990 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 20:10:01 np0000093990 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 20:10:01 np0000093990 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 20:10:01 np0000093990 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 16 20:10:01 np0000093990 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 20:10:02 np0000093990 etcd[60525]: {"level":"warn","ts":"2026-04-16T20:10:02.031534Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:10:02 np0000093990 etcd[60525]: {"level":"info","ts":"2026-04-16T20:10:02.031745Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093990","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093990=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 20:10:02 np0000093990 etcd[60525]: {"level":"warn","ts":"2026-04-16T20:10:02.031925Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:10:02 np0000093990 etcd[60525]: {"level":"info","ts":"2026-04-16T20:10:02.031957Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 20:10:02 np0000093990 etcd[60525]: {"level":"info","ts":"2026-04-16T20:10:02.032423Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:02 np0000093990 etcd[60525]: {"level":"info","ts":"2026-04-16T20:10:02.032547Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093990","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:02 np0000093990 etcd[60525]: {"level":"info","ts":"2026-04-16T20:10:02.034478Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093990","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:02 np0000093990 etcd[60525]: {"level":"warn","ts":"2026-04-16T20:10:02.034552Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 20:10:02 np0000093990 etcd[60525]: {"level":"fatal","ts":"2026-04-16T20:10:02.034654Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 20:10:02 np0000093990 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 20:10:02 np0000093990 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 20:10:02 np0000093990 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 20:10:02 np0000093990 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 16 20:10:02 np0000093990 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 20:10:02 np0000093990 etcd[60534]: {"level":"warn","ts":"2026-04-16T20:10:02.293475Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:10:02 np0000093990 etcd[60534]: {"level":"info","ts":"2026-04-16T20:10:02.293707Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093990","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093990=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 20:10:02 np0000093990 etcd[60534]: {"level":"warn","ts":"2026-04-16T20:10:02.293909Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:10:02 np0000093990 etcd[60534]: {"level":"info","ts":"2026-04-16T20:10:02.293943Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 20:10:02 np0000093990 etcd[60534]: {"level":"info","ts":"2026-04-16T20:10:02.294434Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:02 np0000093990 etcd[60534]: {"level":"info","ts":"2026-04-16T20:10:02.294644Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093990","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:02 np0000093990 etcd[60534]: {"level":"info","ts":"2026-04-16T20:10:02.294736Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093990","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:02 np0000093990 etcd[60534]: {"level":"warn","ts":"2026-04-16T20:10:02.294815Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 20:10:02 np0000093990 etcd[60534]: {"level":"fatal","ts":"2026-04-16T20:10:02.294894Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 20:10:02 np0000093990 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 20:10:02 np0000093990 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 20:10:02 np0000093990 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 20:10:02 np0000093990 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 16 20:10:02 np0000093990 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 20:10:02 np0000093990 etcd[60567]: {"level":"warn","ts":"2026-04-16T20:10:02.531357Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:10:02 np0000093990 etcd[60567]: {"level":"info","ts":"2026-04-16T20:10:02.531449Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093990","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093990=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 20:10:02 np0000093990 etcd[60567]: {"level":"warn","ts":"2026-04-16T20:10:02.531543Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:10:02 np0000093990 etcd[60567]: {"level":"info","ts":"2026-04-16T20:10:02.531589Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 20:10:02 np0000093990 etcd[60567]: {"level":"info","ts":"2026-04-16T20:10:02.531862Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:02 np0000093990 etcd[60567]: {"level":"info","ts":"2026-04-16T20:10:02.531928Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093990","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:02 np0000093990 etcd[60567]: {"level":"info","ts":"2026-04-16T20:10:02.531972Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093990","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:10:02 np0000093990 etcd[60567]: {"level":"warn","ts":"2026-04-16T20:10:02.532001Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 20:10:02 np0000093990 etcd[60567]: {"level":"fatal","ts":"2026-04-16T20:10:02.532047Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 20:10:02 np0000093990 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 20:10:02 np0000093990 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 20:10:02 np0000093990 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 20:10:02 np0000093990 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 16 20:10:02 np0000093990 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 16 20:10:02 np0000093990 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 20:10:02 np0000093990 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
