Feb 13 19:27:47 np0000056248 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:27:47 np0000056248 etcd[60643]: {"level":"warn","ts":"2026-02-13T19:27:47.970975Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:27:47 np0000056248 etcd[60643]: {"level":"info","ts":"2026-02-13T19:27:47.971154Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056248","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056248=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:27:47 np0000056248 etcd[60643]: {"level":"warn","ts":"2026-02-13T19:27:47.971331Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:27:47 np0000056248 etcd[60643]: {"level":"info","ts":"2026-02-13T19:27:47.971363Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:27:47 np0000056248 etcd[60643]: {"level":"info","ts":"2026-02-13T19:27:47.971952Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:47 np0000056248 etcd[60643]: {"level":"info","ts":"2026-02-13T19:27:47.972083Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056248","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:47 np0000056248 etcd[60643]: {"level":"info","ts":"2026-02-13T19:27:47.972158Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056248","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:47 np0000056248 etcd[60643]: {"level":"warn","ts":"2026-02-13T19:27:47.972208Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:27:47 np0000056248 etcd[60643]: {"level":"fatal","ts":"2026-02-13T19:27:47.972268Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:27:47 np0000056248 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:27:47 np0000056248 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:27:47 np0000056248 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:27:48 np0000056248 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 19:27:48 np0000056248 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:27:48 np0000056248 etcd[60698]: {"level":"warn","ts":"2026-02-13T19:27:48.203785Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:27:48 np0000056248 etcd[60698]: {"level":"info","ts":"2026-02-13T19:27:48.204009Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056248","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056248=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:27:48 np0000056248 etcd[60698]: {"level":"warn","ts":"2026-02-13T19:27:48.204233Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:27:48 np0000056248 etcd[60698]: {"level":"info","ts":"2026-02-13T19:27:48.204291Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:27:48 np0000056248 etcd[60698]: {"level":"info","ts":"2026-02-13T19:27:48.204842Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:48 np0000056248 etcd[60698]: {"level":"info","ts":"2026-02-13T19:27:48.204992Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056248","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:48 np0000056248 etcd[60698]: {"level":"info","ts":"2026-02-13T19:27:48.205077Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056248","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:48 np0000056248 etcd[60698]: {"level":"warn","ts":"2026-02-13T19:27:48.205162Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:27:48 np0000056248 etcd[60698]: {"level":"fatal","ts":"2026-02-13T19:27:48.205232Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:27:48 np0000056248 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:27:48 np0000056248 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:27:48 np0000056248 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:27:48 np0000056248 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 19:27:48 np0000056248 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:27:48 np0000056248 etcd[60765]: {"level":"warn","ts":"2026-02-13T19:27:48.464293Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:27:48 np0000056248 etcd[60765]: {"level":"info","ts":"2026-02-13T19:27:48.464473Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056248","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056248=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:27:48 np0000056248 etcd[60765]: {"level":"warn","ts":"2026-02-13T19:27:48.464621Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:27:48 np0000056248 etcd[60765]: {"level":"info","ts":"2026-02-13T19:27:48.464724Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:27:48 np0000056248 etcd[60765]: {"level":"info","ts":"2026-02-13T19:27:48.465170Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:48 np0000056248 etcd[60765]: {"level":"info","ts":"2026-02-13T19:27:48.465286Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056248","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:48 np0000056248 etcd[60765]: {"level":"info","ts":"2026-02-13T19:27:48.465367Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056248","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:48 np0000056248 etcd[60765]: {"level":"warn","ts":"2026-02-13T19:27:48.465422Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:27:48 np0000056248 etcd[60765]: {"level":"fatal","ts":"2026-02-13T19:27:48.465487Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:27:48 np0000056248 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:27:48 np0000056248 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:27:48 np0000056248 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:27:48 np0000056248 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 19:27:48 np0000056248 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:27:48 np0000056248 etcd[60782]: {"level":"warn","ts":"2026-02-13T19:27:48.708973Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:27:48 np0000056248 etcd[60782]: {"level":"info","ts":"2026-02-13T19:27:48.709182Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056248","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056248=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:27:48 np0000056248 etcd[60782]: {"level":"warn","ts":"2026-02-13T19:27:48.709353Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:27:48 np0000056248 etcd[60782]: {"level":"info","ts":"2026-02-13T19:27:48.709384Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:27:48 np0000056248 etcd[60782]: {"level":"info","ts":"2026-02-13T19:27:48.710930Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:48 np0000056248 etcd[60782]: {"level":"info","ts":"2026-02-13T19:27:48.711082Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056248","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:48 np0000056248 etcd[60782]: {"level":"info","ts":"2026-02-13T19:27:48.711161Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056248","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:48 np0000056248 etcd[60782]: {"level":"warn","ts":"2026-02-13T19:27:48.711220Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:27:48 np0000056248 etcd[60782]: {"level":"fatal","ts":"2026-02-13T19:27:48.711288Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:27:48 np0000056248 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:27:48 np0000056248 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:27:48 np0000056248 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:27:48 np0000056248 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 19:27:48 np0000056248 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:27:48 np0000056248 etcd[60823]: {"level":"warn","ts":"2026-02-13T19:27:48.956331Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:27:48 np0000056248 etcd[60823]: {"level":"info","ts":"2026-02-13T19:27:48.956539Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056248","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056248=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:27:48 np0000056248 etcd[60823]: {"level":"warn","ts":"2026-02-13T19:27:48.956801Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:27:48 np0000056248 etcd[60823]: {"level":"info","ts":"2026-02-13T19:27:48.956837Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:27:48 np0000056248 etcd[60823]: {"level":"info","ts":"2026-02-13T19:27:48.957279Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:48 np0000056248 etcd[60823]: {"level":"info","ts":"2026-02-13T19:27:48.957401Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056248","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:48 np0000056248 etcd[60823]: {"level":"info","ts":"2026-02-13T19:27:48.957486Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056248","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:27:48 np0000056248 etcd[60823]: {"level":"warn","ts":"2026-02-13T19:27:48.957552Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:27:48 np0000056248 etcd[60823]: {"level":"fatal","ts":"2026-02-13T19:27:48.957705Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:27:48 np0000056248 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:27:48 np0000056248 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:27:48 np0000056248 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:27:49 np0000056248 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 19:27:49 np0000056248 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 19:27:49 np0000056248 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:27:49 np0000056248 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
