Feb 15 10:36:15 np0000056262 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 15 10:36:15 np0000056262 etcd[60851]: {"level":"warn","ts":"2026-02-15T10:36:15.518357Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 10:36:15 np0000056262 etcd[60851]: {"level":"info","ts":"2026-02-15T10:36:15.518437Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056262","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056262=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 15 10:36:15 np0000056262 etcd[60851]: {"level":"warn","ts":"2026-02-15T10:36:15.518505Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 10:36:15 np0000056262 etcd[60851]: {"level":"info","ts":"2026-02-15T10:36:15.518519Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 15 10:36:15 np0000056262 etcd[60851]: {"level":"info","ts":"2026-02-15T10:36:15.518713Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:15 np0000056262 etcd[60851]: {"level":"info","ts":"2026-02-15T10:36:15.518755Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056262","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:15 np0000056262 etcd[60851]: {"level":"info","ts":"2026-02-15T10:36:15.518784Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056262","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:15 np0000056262 etcd[60851]: {"level":"warn","ts":"2026-02-15T10:36:15.518814Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 15 10:36:15 np0000056262 etcd[60851]: {"level":"fatal","ts":"2026-02-15T10:36:15.518837Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 15 10:36:15 np0000056262 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 15 10:36:15 np0000056262 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 15 10:36:15 np0000056262 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 15 10:36:15 np0000056262 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 15 10:36:15 np0000056262 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 15 10:36:15 np0000056262 etcd[60936]: {"level":"warn","ts":"2026-02-15T10:36:15.809519Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 10:36:15 np0000056262 etcd[60936]: {"level":"info","ts":"2026-02-15T10:36:15.809662Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056262","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056262=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 15 10:36:15 np0000056262 etcd[60936]: {"level":"warn","ts":"2026-02-15T10:36:15.809801Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 10:36:15 np0000056262 etcd[60936]: {"level":"info","ts":"2026-02-15T10:36:15.809843Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 15 10:36:15 np0000056262 etcd[60936]: {"level":"info","ts":"2026-02-15T10:36:15.810163Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:15 np0000056262 etcd[60936]: {"level":"info","ts":"2026-02-15T10:36:15.810270Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056262","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:15 np0000056262 etcd[60936]: {"level":"info","ts":"2026-02-15T10:36:15.810336Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056262","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:15 np0000056262 etcd[60936]: {"level":"warn","ts":"2026-02-15T10:36:15.810389Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 15 10:36:15 np0000056262 etcd[60936]: {"level":"fatal","ts":"2026-02-15T10:36:15.810440Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 15 10:36:15 np0000056262 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 15 10:36:15 np0000056262 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 15 10:36:15 np0000056262 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 15 10:36:16 np0000056262 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 15 10:36:16 np0000056262 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 15 10:36:16 np0000056262 etcd[60976]: {"level":"warn","ts":"2026-02-15T10:36:16.063272Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 10:36:16 np0000056262 etcd[60976]: {"level":"info","ts":"2026-02-15T10:36:16.063448Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056262","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056262=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 15 10:36:16 np0000056262 etcd[60976]: {"level":"warn","ts":"2026-02-15T10:36:16.063594Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 10:36:16 np0000056262 etcd[60976]: {"level":"info","ts":"2026-02-15T10:36:16.063621Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 15 10:36:16 np0000056262 etcd[60976]: {"level":"info","ts":"2026-02-15T10:36:16.064246Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:16 np0000056262 etcd[60976]: {"level":"info","ts":"2026-02-15T10:36:16.064387Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056262","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:16 np0000056262 etcd[60976]: {"level":"info","ts":"2026-02-15T10:36:16.064469Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056262","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:16 np0000056262 etcd[60976]: {"level":"warn","ts":"2026-02-15T10:36:16.064520Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 15 10:36:16 np0000056262 etcd[60976]: {"level":"fatal","ts":"2026-02-15T10:36:16.064598Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 15 10:36:16 np0000056262 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 15 10:36:16 np0000056262 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 15 10:36:16 np0000056262 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 15 10:36:16 np0000056262 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 15 10:36:16 np0000056262 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 15 10:36:16 np0000056262 etcd[60996]: {"level":"warn","ts":"2026-02-15T10:36:16.308251Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 10:36:16 np0000056262 etcd[60996]: {"level":"info","ts":"2026-02-15T10:36:16.308452Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056262","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056262=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 15 10:36:16 np0000056262 etcd[60996]: {"level":"warn","ts":"2026-02-15T10:36:16.308639Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 10:36:16 np0000056262 etcd[60996]: {"level":"info","ts":"2026-02-15T10:36:16.308670Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 15 10:36:16 np0000056262 etcd[60996]: {"level":"info","ts":"2026-02-15T10:36:16.310408Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:16 np0000056262 etcd[60996]: {"level":"info","ts":"2026-02-15T10:36:16.310542Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056262","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:16 np0000056262 etcd[60996]: {"level":"info","ts":"2026-02-15T10:36:16.310622Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056262","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:16 np0000056262 etcd[60996]: {"level":"warn","ts":"2026-02-15T10:36:16.310685Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 15 10:36:16 np0000056262 etcd[60996]: {"level":"fatal","ts":"2026-02-15T10:36:16.310747Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 15 10:36:16 np0000056262 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 15 10:36:16 np0000056262 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 15 10:36:16 np0000056262 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 15 10:36:16 np0000056262 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 15 10:36:16 np0000056262 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 15 10:36:16 np0000056262 etcd[61028]: {"level":"warn","ts":"2026-02-15T10:36:16.569073Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 10:36:16 np0000056262 etcd[61028]: {"level":"info","ts":"2026-02-15T10:36:16.569261Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056262","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056262=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 15 10:36:16 np0000056262 etcd[61028]: {"level":"warn","ts":"2026-02-15T10:36:16.569417Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 10:36:16 np0000056262 etcd[61028]: {"level":"info","ts":"2026-02-15T10:36:16.569456Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 15 10:36:16 np0000056262 etcd[61028]: {"level":"info","ts":"2026-02-15T10:36:16.569939Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:16 np0000056262 etcd[61028]: {"level":"info","ts":"2026-02-15T10:36:16.570056Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056262","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:16 np0000056262 etcd[61028]: {"level":"info","ts":"2026-02-15T10:36:16.570129Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056262","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 10:36:16 np0000056262 etcd[61028]: {"level":"warn","ts":"2026-02-15T10:36:16.570180Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 15 10:36:16 np0000056262 etcd[61028]: {"level":"fatal","ts":"2026-02-15T10:36:16.570257Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 15 10:36:16 np0000056262 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 15 10:36:16 np0000056262 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 15 10:36:16 np0000056262 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 15 10:36:16 np0000056262 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 15 10:36:16 np0000056262 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 15 10:36:16 np0000056262 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 15 10:36:16 np0000056262 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
