Apr 09 11:23:33 np0000093882 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 11:23:33 np0000093882 etcd[60305]: {"level":"warn","ts":"2026-04-09T11:23:33.963358Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 11:23:33 np0000093882 etcd[60305]: {"level":"info","ts":"2026-04-09T11:23:33.964325Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093882","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093882=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 11:23:33 np0000093882 etcd[60305]: {"level":"warn","ts":"2026-04-09T11:23:33.964576Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 11:23:33 np0000093882 etcd[60305]: {"level":"info","ts":"2026-04-09T11:23:33.964617Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 11:23:33 np0000093882 etcd[60305]: {"level":"info","ts":"2026-04-09T11:23:33.965760Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:33 np0000093882 etcd[60305]: {"level":"info","ts":"2026-04-09T11:23:33.965919Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093882","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:33 np0000093882 etcd[60305]: {"level":"info","ts":"2026-04-09T11:23:33.965995Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093882","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:33 np0000093882 etcd[60305]: {"level":"warn","ts":"2026-04-09T11:23:33.966049Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 11:23:33 np0000093882 etcd[60305]: {"level":"fatal","ts":"2026-04-09T11:23:33.966121Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 11:23:33 np0000093882 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 11:23:33 np0000093882 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 11:23:33 np0000093882 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 11:23:34 np0000093882 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 09 11:23:34 np0000093882 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 11:23:34 np0000093882 etcd[60405]: {"level":"warn","ts":"2026-04-09T11:23:34.343510Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 11:23:34 np0000093882 etcd[60405]: {"level":"info","ts":"2026-04-09T11:23:34.343702Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093882","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093882=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 11:23:34 np0000093882 etcd[60405]: {"level":"warn","ts":"2026-04-09T11:23:34.343913Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 11:23:34 np0000093882 etcd[60405]: {"level":"info","ts":"2026-04-09T11:23:34.343955Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 11:23:34 np0000093882 etcd[60405]: {"level":"info","ts":"2026-04-09T11:23:34.344452Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:34 np0000093882 etcd[60405]: {"level":"info","ts":"2026-04-09T11:23:34.344574Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093882","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:34 np0000093882 etcd[60405]: {"level":"info","ts":"2026-04-09T11:23:34.344656Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093882","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:34 np0000093882 etcd[60405]: {"level":"warn","ts":"2026-04-09T11:23:34.344712Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 11:23:34 np0000093882 etcd[60405]: {"level":"fatal","ts":"2026-04-09T11:23:34.344778Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 11:23:34 np0000093882 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 11:23:34 np0000093882 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 11:23:34 np0000093882 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 11:23:34 np0000093882 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 09 11:23:34 np0000093882 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 11:23:34 np0000093882 etcd[60425]: {"level":"warn","ts":"2026-04-09T11:23:34.588854Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 11:23:34 np0000093882 etcd[60425]: {"level":"info","ts":"2026-04-09T11:23:34.588996Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093882","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093882=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 11:23:34 np0000093882 etcd[60425]: {"level":"warn","ts":"2026-04-09T11:23:34.589133Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 11:23:34 np0000093882 etcd[60425]: {"level":"info","ts":"2026-04-09T11:23:34.589158Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 11:23:34 np0000093882 etcd[60425]: {"level":"info","ts":"2026-04-09T11:23:34.589629Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:34 np0000093882 etcd[60425]: {"level":"info","ts":"2026-04-09T11:23:34.589722Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093882","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:34 np0000093882 etcd[60425]: {"level":"info","ts":"2026-04-09T11:23:34.589810Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093882","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:34 np0000093882 etcd[60425]: {"level":"warn","ts":"2026-04-09T11:23:34.589856Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 11:23:34 np0000093882 etcd[60425]: {"level":"fatal","ts":"2026-04-09T11:23:34.589906Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 11:23:34 np0000093882 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 11:23:34 np0000093882 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 11:23:34 np0000093882 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 11:23:34 np0000093882 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 09 11:23:34 np0000093882 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 11:23:34 np0000093882 etcd[60446]: {"level":"warn","ts":"2026-04-09T11:23:34.837716Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 11:23:34 np0000093882 etcd[60446]: {"level":"info","ts":"2026-04-09T11:23:34.837900Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093882","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093882=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 11:23:34 np0000093882 etcd[60446]: {"level":"warn","ts":"2026-04-09T11:23:34.838059Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 11:23:34 np0000093882 etcd[60446]: {"level":"info","ts":"2026-04-09T11:23:34.838088Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 11:23:34 np0000093882 etcd[60446]: {"level":"info","ts":"2026-04-09T11:23:34.838557Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:34 np0000093882 etcd[60446]: {"level":"info","ts":"2026-04-09T11:23:34.838678Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093882","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:34 np0000093882 etcd[60446]: {"level":"info","ts":"2026-04-09T11:23:34.838756Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093882","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:34 np0000093882 etcd[60446]: {"level":"warn","ts":"2026-04-09T11:23:34.838852Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 11:23:34 np0000093882 etcd[60446]: {"level":"fatal","ts":"2026-04-09T11:23:34.838920Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 11:23:34 np0000093882 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 11:23:34 np0000093882 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 11:23:34 np0000093882 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 11:23:35 np0000093882 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 09 11:23:35 np0000093882 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 11:23:35 np0000093882 etcd[60480]: {"level":"warn","ts":"2026-04-09T11:23:35.093650Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 11:23:35 np0000093882 etcd[60480]: {"level":"info","ts":"2026-04-09T11:23:35.093867Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093882","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093882=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 11:23:35 np0000093882 etcd[60480]: {"level":"warn","ts":"2026-04-09T11:23:35.094011Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 11:23:35 np0000093882 etcd[60480]: {"level":"info","ts":"2026-04-09T11:23:35.094037Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 11:23:35 np0000093882 etcd[60480]: {"level":"info","ts":"2026-04-09T11:23:35.094582Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:35 np0000093882 etcd[60480]: {"level":"info","ts":"2026-04-09T11:23:35.094694Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093882","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:35 np0000093882 etcd[60480]: {"level":"info","ts":"2026-04-09T11:23:35.094763Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093882","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 11:23:35 np0000093882 etcd[60480]: {"level":"warn","ts":"2026-04-09T11:23:35.094838Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 11:23:35 np0000093882 etcd[60480]: {"level":"fatal","ts":"2026-04-09T11:23:35.094901Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 11:23:35 np0000093882 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 11:23:35 np0000093882 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 11:23:35 np0000093882 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 11:23:35 np0000093882 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 09 11:23:35 np0000093882 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 09 11:23:35 np0000093882 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 11:23:35 np0000093882 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
