Feb 13 10:04:44 np0000056226 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:04:44 np0000056226 etcd[60706]: {"level":"warn","ts":"2026-02-13T10:04:44.669465Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:04:44 np0000056226 etcd[60706]: {"level":"info","ts":"2026-02-13T10:04:44.669647Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056226","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056226=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:04:44 np0000056226 etcd[60706]: {"level":"warn","ts":"2026-02-13T10:04:44.669826Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:04:44 np0000056226 etcd[60706]: {"level":"info","ts":"2026-02-13T10:04:44.669861Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:04:44 np0000056226 etcd[60706]: {"level":"info","ts":"2026-02-13T10:04:44.670298Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:44 np0000056226 etcd[60706]: {"level":"info","ts":"2026-02-13T10:04:44.670399Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:44 np0000056226 etcd[60706]: {"level":"info","ts":"2026-02-13T10:04:44.670499Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:44 np0000056226 etcd[60706]: {"level":"warn","ts":"2026-02-13T10:04:44.670547Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:04:44 np0000056226 etcd[60706]: {"level":"fatal","ts":"2026-02-13T10:04:44.670617Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:04:44 np0000056226 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:04:44 np0000056226 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:04:44 np0000056226 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:04:44 np0000056226 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 10:04:44 np0000056226 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:04:45 np0000056226 etcd[60802]: {"level":"warn","ts":"2026-02-13T10:04:45.056672Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:04:45 np0000056226 etcd[60802]: {"level":"info","ts":"2026-02-13T10:04:45.058064Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056226","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056226=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:04:45 np0000056226 etcd[60802]: {"level":"warn","ts":"2026-02-13T10:04:45.058231Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:04:45 np0000056226 etcd[60802]: {"level":"info","ts":"2026-02-13T10:04:45.058269Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:04:45 np0000056226 etcd[60802]: {"level":"info","ts":"2026-02-13T10:04:45.058723Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:45 np0000056226 etcd[60802]: {"level":"info","ts":"2026-02-13T10:04:45.058870Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:45 np0000056226 etcd[60802]: {"level":"info","ts":"2026-02-13T10:04:45.058944Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:45 np0000056226 etcd[60802]: {"level":"warn","ts":"2026-02-13T10:04:45.058995Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:04:45 np0000056226 etcd[60802]: {"level":"fatal","ts":"2026-02-13T10:04:45.059082Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:04:45 np0000056226 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 10:04:45 np0000056226 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:04:45 np0000056226 etcd[60827]: {"level":"warn","ts":"2026-02-13T10:04:45.295946Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:04:45 np0000056226 etcd[60827]: {"level":"info","ts":"2026-02-13T10:04:45.297249Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056226","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056226=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:04:45 np0000056226 etcd[60827]: {"level":"warn","ts":"2026-02-13T10:04:45.297475Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:04:45 np0000056226 etcd[60827]: {"level":"info","ts":"2026-02-13T10:04:45.297512Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:04:45 np0000056226 etcd[60827]: {"level":"info","ts":"2026-02-13T10:04:45.298084Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:45 np0000056226 etcd[60827]: {"level":"info","ts":"2026-02-13T10:04:45.298217Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:45 np0000056226 etcd[60827]: {"level":"info","ts":"2026-02-13T10:04:45.298303Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:45 np0000056226 etcd[60827]: {"level":"warn","ts":"2026-02-13T10:04:45.298377Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:04:45 np0000056226 etcd[60827]: {"level":"fatal","ts":"2026-02-13T10:04:45.298445Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:04:45 np0000056226 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 10:04:45 np0000056226 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:04:45 np0000056226 etcd[60848]: {"level":"warn","ts":"2026-02-13T10:04:45.520493Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:04:45 np0000056226 etcd[60848]: {"level":"info","ts":"2026-02-13T10:04:45.520598Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056226","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056226=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:04:45 np0000056226 etcd[60848]: {"level":"warn","ts":"2026-02-13T10:04:45.520685Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:04:45 np0000056226 etcd[60848]: {"level":"info","ts":"2026-02-13T10:04:45.520702Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:04:45 np0000056226 etcd[60848]: {"level":"info","ts":"2026-02-13T10:04:45.520995Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:45 np0000056226 etcd[60848]: {"level":"info","ts":"2026-02-13T10:04:45.521071Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:45 np0000056226 etcd[60848]: {"level":"info","ts":"2026-02-13T10:04:45.521111Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:45 np0000056226 etcd[60848]: {"level":"warn","ts":"2026-02-13T10:04:45.521139Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:04:45 np0000056226 etcd[60848]: {"level":"fatal","ts":"2026-02-13T10:04:45.521180Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:04:45 np0000056226 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 10:04:45 np0000056226 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:04:45 np0000056226 etcd[60885]: {"level":"warn","ts":"2026-02-13T10:04:45.798301Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:04:45 np0000056226 etcd[60885]: {"level":"info","ts":"2026-02-13T10:04:45.798479Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056226","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056226=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:04:45 np0000056226 etcd[60885]: {"level":"warn","ts":"2026-02-13T10:04:45.798647Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:04:45 np0000056226 etcd[60885]: {"level":"info","ts":"2026-02-13T10:04:45.798686Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:04:45 np0000056226 etcd[60885]: {"level":"info","ts":"2026-02-13T10:04:45.799220Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:45 np0000056226 etcd[60885]: {"level":"info","ts":"2026-02-13T10:04:45.799339Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:45 np0000056226 etcd[60885]: {"level":"info","ts":"2026-02-13T10:04:45.799420Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:04:45 np0000056226 etcd[60885]: {"level":"warn","ts":"2026-02-13T10:04:45.799476Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:04:45 np0000056226 etcd[60885]: {"level":"fatal","ts":"2026-02-13T10:04:45.799538Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:04:45 np0000056226 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 10:04:45 np0000056226 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:04:45 np0000056226 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
