May 29 16:50:20 np0000094176 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 16:50:20 np0000094176 etcd[59993]: {"level":"warn","ts":"2026-05-29T16:50:20.089364Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:50:20 np0000094176 etcd[59993]: {"level":"info","ts":"2026-05-29T16:50:20.090766Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094176","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094176=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 16:50:20 np0000094176 etcd[59993]: {"level":"warn","ts":"2026-05-29T16:50:20.091028Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:50:20 np0000094176 etcd[59993]: {"level":"info","ts":"2026-05-29T16:50:20.091080Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 16:50:20 np0000094176 etcd[59993]: {"level":"info","ts":"2026-05-29T16:50:20.092323Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:20 np0000094176 etcd[59993]: {"level":"info","ts":"2026-05-29T16:50:20.092463Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094176","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:20 np0000094176 etcd[59993]: {"level":"info","ts":"2026-05-29T16:50:20.092565Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094176","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:20 np0000094176 etcd[59993]: {"level":"warn","ts":"2026-05-29T16:50:20.092633Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 16:50:20 np0000094176 etcd[59993]: {"level":"fatal","ts":"2026-05-29T16:50:20.092694Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 16:50:20 np0000094176 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 16:50:20 np0000094176 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 16:50:20 np0000094176 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 16:50:20 np0000094176 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 29 16:50:20 np0000094176 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 16:50:20 np0000094176 etcd[60057]: {"level":"warn","ts":"2026-05-29T16:50:20.359106Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:50:20 np0000094176 etcd[60057]: {"level":"info","ts":"2026-05-29T16:50:20.360407Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094176","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094176=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 16:50:20 np0000094176 etcd[60057]: {"level":"warn","ts":"2026-05-29T16:50:20.360645Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:50:20 np0000094176 etcd[60057]: {"level":"info","ts":"2026-05-29T16:50:20.360697Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 16:50:20 np0000094176 etcd[60057]: {"level":"info","ts":"2026-05-29T16:50:20.361348Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:20 np0000094176 etcd[60057]: {"level":"info","ts":"2026-05-29T16:50:20.361483Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094176","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:20 np0000094176 etcd[60057]: {"level":"info","ts":"2026-05-29T16:50:20.361636Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094176","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:20 np0000094176 etcd[60057]: {"level":"warn","ts":"2026-05-29T16:50:20.361694Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 16:50:20 np0000094176 etcd[60057]: {"level":"fatal","ts":"2026-05-29T16:50:20.361773Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 16:50:20 np0000094176 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 16:50:20 np0000094176 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 16:50:20 np0000094176 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 16:50:20 np0000094176 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 29 16:50:20 np0000094176 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 16:50:20 np0000094176 etcd[60112]: {"level":"warn","ts":"2026-05-29T16:50:20.570972Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:50:20 np0000094176 etcd[60112]: {"level":"info","ts":"2026-05-29T16:50:20.571034Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094176","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094176=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 16:50:20 np0000094176 etcd[60112]: {"level":"warn","ts":"2026-05-29T16:50:20.571087Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:50:20 np0000094176 etcd[60112]: {"level":"info","ts":"2026-05-29T16:50:20.571099Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 16:50:20 np0000094176 etcd[60112]: {"level":"info","ts":"2026-05-29T16:50:20.571271Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:20 np0000094176 etcd[60112]: {"level":"info","ts":"2026-05-29T16:50:20.571315Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094176","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:20 np0000094176 etcd[60112]: {"level":"info","ts":"2026-05-29T16:50:20.571345Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094176","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:20 np0000094176 etcd[60112]: {"level":"warn","ts":"2026-05-29T16:50:20.571363Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 16:50:20 np0000094176 etcd[60112]: {"level":"fatal","ts":"2026-05-29T16:50:20.571415Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 16:50:20 np0000094176 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 16:50:20 np0000094176 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 16:50:20 np0000094176 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 16:50:20 np0000094176 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 29 16:50:20 np0000094176 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 16:50:20 np0000094176 etcd[60122]: {"level":"warn","ts":"2026-05-29T16:50:20.854881Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:50:20 np0000094176 etcd[60122]: {"level":"info","ts":"2026-05-29T16:50:20.856012Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094176","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094176=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 16:50:20 np0000094176 etcd[60122]: {"level":"warn","ts":"2026-05-29T16:50:20.856465Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:50:20 np0000094176 etcd[60122]: {"level":"info","ts":"2026-05-29T16:50:20.856541Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 16:50:20 np0000094176 etcd[60122]: {"level":"info","ts":"2026-05-29T16:50:20.857072Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:20 np0000094176 etcd[60122]: {"level":"info","ts":"2026-05-29T16:50:20.857196Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094176","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:20 np0000094176 etcd[60122]: {"level":"info","ts":"2026-05-29T16:50:20.857279Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094176","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:20 np0000094176 etcd[60122]: {"level":"warn","ts":"2026-05-29T16:50:20.857338Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 16:50:20 np0000094176 etcd[60122]: {"level":"fatal","ts":"2026-05-29T16:50:20.857405Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 16:50:20 np0000094176 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 16:50:20 np0000094176 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 16:50:20 np0000094176 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 16:50:21 np0000094176 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 29 16:50:21 np0000094176 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 16:50:21 np0000094176 etcd[60176]: {"level":"warn","ts":"2026-05-29T16:50:21.100543Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:50:21 np0000094176 etcd[60176]: {"level":"info","ts":"2026-05-29T16:50:21.100684Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094176","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094176=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 16:50:21 np0000094176 etcd[60176]: {"level":"warn","ts":"2026-05-29T16:50:21.100831Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 16:50:21 np0000094176 etcd[60176]: {"level":"info","ts":"2026-05-29T16:50:21.100856Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 16:50:21 np0000094176 etcd[60176]: {"level":"info","ts":"2026-05-29T16:50:21.101252Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:21 np0000094176 etcd[60176]: {"level":"info","ts":"2026-05-29T16:50:21.101368Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094176","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:21 np0000094176 etcd[60176]: {"level":"info","ts":"2026-05-29T16:50:21.101433Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094176","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 16:50:21 np0000094176 etcd[60176]: {"level":"warn","ts":"2026-05-29T16:50:21.101486Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 16:50:21 np0000094176 etcd[60176]: {"level":"fatal","ts":"2026-05-29T16:50:21.101578Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 16:50:21 np0000094176 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 16:50:21 np0000094176 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 16:50:21 np0000094176 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 16:50:21 np0000094176 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 29 16:50:21 np0000094176 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 29 16:50:21 np0000094176 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 16:50:21 np0000094176 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
