Jun 11 13:22:36 np0000094322 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 13:22:36 np0000094322 etcd[60155]: {"level":"warn","ts":"2026-06-11T13:22:36.491989Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 13:22:36 np0000094322 etcd[60155]: {"level":"info","ts":"2026-06-11T13:22:36.492173Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094322","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094322=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 13:22:36 np0000094322 etcd[60155]: {"level":"warn","ts":"2026-06-11T13:22:36.492333Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 13:22:36 np0000094322 etcd[60155]: {"level":"info","ts":"2026-06-11T13:22:36.492371Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 13:22:36 np0000094322 etcd[60155]: {"level":"info","ts":"2026-06-11T13:22:36.492836Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:36 np0000094322 etcd[60155]: {"level":"info","ts":"2026-06-11T13:22:36.492948Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094322","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:36 np0000094322 etcd[60155]: {"level":"info","ts":"2026-06-11T13:22:36.493032Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094322","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:36 np0000094322 etcd[60155]: {"level":"warn","ts":"2026-06-11T13:22:36.493085Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 13:22:36 np0000094322 etcd[60155]: {"level":"fatal","ts":"2026-06-11T13:22:36.493144Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 13:22:36 np0000094322 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 13:22:36 np0000094322 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 13:22:36 np0000094322 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 13:22:36 np0000094322 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 11 13:22:36 np0000094322 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 13:22:36 np0000094322 etcd[60253]: {"level":"warn","ts":"2026-06-11T13:22:36.827920Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 13:22:36 np0000094322 etcd[60253]: {"level":"info","ts":"2026-06-11T13:22:36.828074Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094322","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094322=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 13:22:36 np0000094322 etcd[60253]: {"level":"warn","ts":"2026-06-11T13:22:36.828221Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 13:22:36 np0000094322 etcd[60253]: {"level":"info","ts":"2026-06-11T13:22:36.828246Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 13:22:36 np0000094322 etcd[60253]: {"level":"info","ts":"2026-06-11T13:22:36.828666Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:36 np0000094322 etcd[60253]: {"level":"info","ts":"2026-06-11T13:22:36.828761Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094322","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:36 np0000094322 etcd[60253]: {"level":"info","ts":"2026-06-11T13:22:36.828843Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094322","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:36 np0000094322 etcd[60253]: {"level":"warn","ts":"2026-06-11T13:22:36.828888Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 13:22:36 np0000094322 etcd[60253]: {"level":"fatal","ts":"2026-06-11T13:22:36.828939Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 13:22:36 np0000094322 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 13:22:36 np0000094322 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 13:22:36 np0000094322 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 13:22:37 np0000094322 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 11 13:22:37 np0000094322 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 13:22:37 np0000094322 etcd[60276]: {"level":"warn","ts":"2026-06-11T13:22:37.078806Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 13:22:37 np0000094322 etcd[60276]: {"level":"info","ts":"2026-06-11T13:22:37.078984Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094322","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094322=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 13:22:37 np0000094322 etcd[60276]: {"level":"warn","ts":"2026-06-11T13:22:37.079179Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 13:22:37 np0000094322 etcd[60276]: {"level":"info","ts":"2026-06-11T13:22:37.079217Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 13:22:37 np0000094322 etcd[60276]: {"level":"info","ts":"2026-06-11T13:22:37.079735Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:37 np0000094322 etcd[60276]: {"level":"info","ts":"2026-06-11T13:22:37.079856Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094322","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:37 np0000094322 etcd[60276]: {"level":"info","ts":"2026-06-11T13:22:37.079962Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094322","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:37 np0000094322 etcd[60276]: {"level":"warn","ts":"2026-06-11T13:22:37.080050Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 13:22:37 np0000094322 etcd[60276]: {"level":"fatal","ts":"2026-06-11T13:22:37.080115Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 13:22:37 np0000094322 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 13:22:37 np0000094322 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 13:22:37 np0000094322 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 13:22:37 np0000094322 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 11 13:22:37 np0000094322 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 13:22:37 np0000094322 etcd[60297]: {"level":"warn","ts":"2026-06-11T13:22:37.314955Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 13:22:37 np0000094322 etcd[60297]: {"level":"info","ts":"2026-06-11T13:22:37.315101Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094322","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094322=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 13:22:37 np0000094322 etcd[60297]: {"level":"warn","ts":"2026-06-11T13:22:37.315212Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 13:22:37 np0000094322 etcd[60297]: {"level":"info","ts":"2026-06-11T13:22:37.315242Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 13:22:37 np0000094322 etcd[60297]: {"level":"info","ts":"2026-06-11T13:22:37.315572Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:37 np0000094322 etcd[60297]: {"level":"info","ts":"2026-06-11T13:22:37.315674Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094322","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:37 np0000094322 etcd[60297]: {"level":"info","ts":"2026-06-11T13:22:37.315729Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094322","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:37 np0000094322 etcd[60297]: {"level":"warn","ts":"2026-06-11T13:22:37.315778Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 13:22:37 np0000094322 etcd[60297]: {"level":"fatal","ts":"2026-06-11T13:22:37.315820Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 13:22:37 np0000094322 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 13:22:37 np0000094322 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 13:22:37 np0000094322 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 13:22:37 np0000094322 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 11 13:22:37 np0000094322 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 13:22:37 np0000094322 etcd[60338]: {"level":"warn","ts":"2026-06-11T13:22:37.586054Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 13:22:37 np0000094322 etcd[60338]: {"level":"info","ts":"2026-06-11T13:22:37.586220Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094322","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094322=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 13:22:37 np0000094322 etcd[60338]: {"level":"warn","ts":"2026-06-11T13:22:37.586390Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 13:22:37 np0000094322 etcd[60338]: {"level":"info","ts":"2026-06-11T13:22:37.586422Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 13:22:37 np0000094322 etcd[60338]: {"level":"info","ts":"2026-06-11T13:22:37.587041Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:37 np0000094322 etcd[60338]: {"level":"info","ts":"2026-06-11T13:22:37.587166Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094322","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:37 np0000094322 etcd[60338]: {"level":"info","ts":"2026-06-11T13:22:37.587247Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094322","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 13:22:37 np0000094322 etcd[60338]: {"level":"warn","ts":"2026-06-11T13:22:37.587303Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 13:22:37 np0000094322 etcd[60338]: {"level":"fatal","ts":"2026-06-11T13:22:37.587368Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 13:22:37 np0000094322 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 13:22:37 np0000094322 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 13:22:37 np0000094322 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 13:22:37 np0000094322 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 11 13:22:37 np0000094322 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 11 13:22:37 np0000094322 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 13:22:37 np0000094322 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
