Apr 02 09:28:44 np0000093829 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 09:28:44 np0000093829 etcd[60663]: {"level":"warn","ts":"2026-04-02T09:28:44.736542Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:28:44 np0000093829 etcd[60663]: {"level":"info","ts":"2026-04-02T09:28:44.736719Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093829","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093829=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 09:28:44 np0000093829 etcd[60663]: {"level":"warn","ts":"2026-04-02T09:28:44.736902Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:28:44 np0000093829 etcd[60663]: {"level":"info","ts":"2026-04-02T09:28:44.736933Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 09:28:44 np0000093829 etcd[60663]: {"level":"info","ts":"2026-04-02T09:28:44.737348Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:44 np0000093829 etcd[60663]: {"level":"info","ts":"2026-04-02T09:28:44.737468Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093829","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:44 np0000093829 etcd[60663]: {"level":"info","ts":"2026-04-02T09:28:44.737569Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093829","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:44 np0000093829 etcd[60663]: {"level":"warn","ts":"2026-04-02T09:28:44.737626Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 09:28:44 np0000093829 etcd[60663]: {"level":"fatal","ts":"2026-04-02T09:28:44.737690Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 09:28:44 np0000093829 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 09:28:44 np0000093829 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 09:28:44 np0000093829 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 09:28:44 np0000093829 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 02 09:28:44 np0000093829 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 09:28:44 np0000093829 etcd[60719]: {"level":"warn","ts":"2026-04-02T09:28:44.986060Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:28:44 np0000093829 etcd[60719]: {"level":"info","ts":"2026-04-02T09:28:44.986286Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093829","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093829=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 09:28:44 np0000093829 etcd[60719]: {"level":"warn","ts":"2026-04-02T09:28:44.986471Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:28:44 np0000093829 etcd[60719]: {"level":"info","ts":"2026-04-02T09:28:44.986503Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 09:28:44 np0000093829 etcd[60719]: {"level":"info","ts":"2026-04-02T09:28:44.986975Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:44 np0000093829 etcd[60719]: {"level":"info","ts":"2026-04-02T09:28:44.987080Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093829","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:44 np0000093829 etcd[60719]: {"level":"info","ts":"2026-04-02T09:28:44.987155Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093829","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:44 np0000093829 etcd[60719]: {"level":"warn","ts":"2026-04-02T09:28:44.987233Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 09:28:44 np0000093829 etcd[60719]: {"level":"fatal","ts":"2026-04-02T09:28:44.987292Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 09:28:44 np0000093829 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 09:28:44 np0000093829 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 09:28:44 np0000093829 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 09:28:45 np0000093829 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 02 09:28:45 np0000093829 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 09:28:45 np0000093829 etcd[60783]: {"level":"warn","ts":"2026-04-02T09:28:45.235425Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:28:45 np0000093829 etcd[60783]: {"level":"info","ts":"2026-04-02T09:28:45.235618Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093829","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093829=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 09:28:45 np0000093829 etcd[60783]: {"level":"warn","ts":"2026-04-02T09:28:45.235784Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:28:45 np0000093829 etcd[60783]: {"level":"info","ts":"2026-04-02T09:28:45.235815Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 09:28:45 np0000093829 etcd[60783]: {"level":"info","ts":"2026-04-02T09:28:45.236395Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:45 np0000093829 etcd[60783]: {"level":"info","ts":"2026-04-02T09:28:45.236586Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093829","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:45 np0000093829 etcd[60783]: {"level":"info","ts":"2026-04-02T09:28:45.236664Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093829","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:45 np0000093829 etcd[60783]: {"level":"warn","ts":"2026-04-02T09:28:45.236720Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 09:28:45 np0000093829 etcd[60783]: {"level":"fatal","ts":"2026-04-02T09:28:45.236802Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 09:28:45 np0000093829 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 09:28:45 np0000093829 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 09:28:45 np0000093829 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 09:28:45 np0000093829 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 02 09:28:45 np0000093829 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 09:28:45 np0000093829 etcd[60790]: {"level":"warn","ts":"2026-04-02T09:28:45.485480Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:28:45 np0000093829 etcd[60790]: {"level":"info","ts":"2026-04-02T09:28:45.485667Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093829","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093829=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 09:28:45 np0000093829 etcd[60790]: {"level":"warn","ts":"2026-04-02T09:28:45.485854Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:28:45 np0000093829 etcd[60790]: {"level":"info","ts":"2026-04-02T09:28:45.485885Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 09:28:45 np0000093829 etcd[60790]: {"level":"info","ts":"2026-04-02T09:28:45.486371Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:45 np0000093829 etcd[60790]: {"level":"info","ts":"2026-04-02T09:28:45.486481Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093829","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:45 np0000093829 etcd[60790]: {"level":"info","ts":"2026-04-02T09:28:45.486594Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093829","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:45 np0000093829 etcd[60790]: {"level":"warn","ts":"2026-04-02T09:28:45.486648Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 09:28:45 np0000093829 etcd[60790]: {"level":"fatal","ts":"2026-04-02T09:28:45.486709Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 09:28:45 np0000093829 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 09:28:45 np0000093829 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 09:28:45 np0000093829 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 09:28:45 np0000093829 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 02 09:28:45 np0000093829 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 09:28:45 np0000093829 etcd[60820]: {"level":"warn","ts":"2026-04-02T09:28:45.731658Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:28:45 np0000093829 etcd[60820]: {"level":"info","ts":"2026-04-02T09:28:45.731809Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093829","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093829=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 09:28:45 np0000093829 etcd[60820]: {"level":"warn","ts":"2026-04-02T09:28:45.731972Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 09:28:45 np0000093829 etcd[60820]: {"level":"info","ts":"2026-04-02T09:28:45.732006Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 09:28:45 np0000093829 etcd[60820]: {"level":"info","ts":"2026-04-02T09:28:45.732427Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:45 np0000093829 etcd[60820]: {"level":"info","ts":"2026-04-02T09:28:45.732546Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093829","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:45 np0000093829 etcd[60820]: {"level":"info","ts":"2026-04-02T09:28:45.732626Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093829","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 09:28:45 np0000093829 etcd[60820]: {"level":"warn","ts":"2026-04-02T09:28:45.732671Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 09:28:45 np0000093829 etcd[60820]: {"level":"fatal","ts":"2026-04-02T09:28:45.732725Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 09:28:45 np0000093829 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 09:28:45 np0000093829 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 09:28:45 np0000093829 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 09:28:45 np0000093829 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 02 09:28:45 np0000093829 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 02 09:28:45 np0000093829 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 09:28:45 np0000093829 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
