Apr 28 20:56:32 np0000094102 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 20:56:32 np0000094102 etcd[60584]: {"level":"warn","ts":"2026-04-28T20:56:32.664370Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 20:56:32 np0000094102 etcd[60584]: {"level":"info","ts":"2026-04-28T20:56:32.664552Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094102","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094102=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 20:56:32 np0000094102 etcd[60584]: {"level":"warn","ts":"2026-04-28T20:56:32.664743Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 20:56:32 np0000094102 etcd[60584]: {"level":"info","ts":"2026-04-28T20:56:32.664775Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 20:56:32 np0000094102 etcd[60584]: {"level":"info","ts":"2026-04-28T20:56:32.665692Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:32 np0000094102 etcd[60584]: {"level":"info","ts":"2026-04-28T20:56:32.665833Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094102","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:32 np0000094102 etcd[60584]: {"level":"info","ts":"2026-04-28T20:56:32.665895Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094102","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:32 np0000094102 etcd[60584]: {"level":"warn","ts":"2026-04-28T20:56:32.665951Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 20:56:32 np0000094102 etcd[60584]: {"level":"fatal","ts":"2026-04-28T20:56:32.666030Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 20:56:32 np0000094102 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 20:56:32 np0000094102 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 20:56:32 np0000094102 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 20:56:33 np0000094102 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 28 20:56:33 np0000094102 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 20:56:33 np0000094102 etcd[60690]: {"level":"warn","ts":"2026-04-28T20:56:33.081437Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 20:56:33 np0000094102 etcd[60690]: {"level":"info","ts":"2026-04-28T20:56:33.082596Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094102","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094102=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 20:56:33 np0000094102 etcd[60690]: {"level":"warn","ts":"2026-04-28T20:56:33.082788Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 20:56:33 np0000094102 etcd[60690]: {"level":"info","ts":"2026-04-28T20:56:33.082820Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 20:56:33 np0000094102 etcd[60690]: {"level":"info","ts":"2026-04-28T20:56:33.083289Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:33 np0000094102 etcd[60690]: {"level":"info","ts":"2026-04-28T20:56:33.083424Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094102","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:33 np0000094102 etcd[60690]: {"level":"info","ts":"2026-04-28T20:56:33.083500Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094102","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:33 np0000094102 etcd[60690]: {"level":"warn","ts":"2026-04-28T20:56:33.083553Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 20:56:33 np0000094102 etcd[60690]: {"level":"fatal","ts":"2026-04-28T20:56:33.083613Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 20:56:33 np0000094102 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 20:56:33 np0000094102 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 20:56:33 np0000094102 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 20:56:33 np0000094102 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 28 20:56:33 np0000094102 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 20:56:33 np0000094102 etcd[60704]: {"level":"warn","ts":"2026-04-28T20:56:33.325667Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 20:56:33 np0000094102 etcd[60704]: {"level":"info","ts":"2026-04-28T20:56:33.326945Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094102","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094102=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 20:56:33 np0000094102 etcd[60704]: {"level":"warn","ts":"2026-04-28T20:56:33.327423Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 20:56:33 np0000094102 etcd[60704]: {"level":"info","ts":"2026-04-28T20:56:33.327467Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 20:56:33 np0000094102 etcd[60704]: {"level":"info","ts":"2026-04-28T20:56:33.328067Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:33 np0000094102 etcd[60704]: {"level":"info","ts":"2026-04-28T20:56:33.329046Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094102","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:33 np0000094102 etcd[60704]: {"level":"info","ts":"2026-04-28T20:56:33.329433Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094102","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:33 np0000094102 etcd[60704]: {"level":"warn","ts":"2026-04-28T20:56:33.329745Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 20:56:33 np0000094102 etcd[60704]: {"level":"fatal","ts":"2026-04-28T20:56:33.329984Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 20:56:33 np0000094102 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 20:56:33 np0000094102 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 20:56:33 np0000094102 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 20:56:33 np0000094102 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 28 20:56:33 np0000094102 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 20:56:33 np0000094102 etcd[60729]: {"level":"warn","ts":"2026-04-28T20:56:33.561731Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 20:56:33 np0000094102 etcd[60729]: {"level":"info","ts":"2026-04-28T20:56:33.561937Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094102","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094102=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 20:56:33 np0000094102 etcd[60729]: {"level":"warn","ts":"2026-04-28T20:56:33.562128Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 20:56:33 np0000094102 etcd[60729]: {"level":"info","ts":"2026-04-28T20:56:33.563738Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 20:56:33 np0000094102 etcd[60729]: {"level":"info","ts":"2026-04-28T20:56:33.564571Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:33 np0000094102 etcd[60729]: {"level":"info","ts":"2026-04-28T20:56:33.564714Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094102","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:33 np0000094102 etcd[60729]: {"level":"info","ts":"2026-04-28T20:56:33.565153Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094102","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:33 np0000094102 etcd[60729]: {"level":"warn","ts":"2026-04-28T20:56:33.565275Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 20:56:33 np0000094102 etcd[60729]: {"level":"fatal","ts":"2026-04-28T20:56:33.565366Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 20:56:33 np0000094102 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 20:56:33 np0000094102 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 20:56:33 np0000094102 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 20:56:33 np0000094102 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 28 20:56:33 np0000094102 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 20:56:33 np0000094102 etcd[60765]: {"level":"warn","ts":"2026-04-28T20:56:33.840492Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 20:56:33 np0000094102 etcd[60765]: {"level":"info","ts":"2026-04-28T20:56:33.840695Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094102","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094102=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 20:56:33 np0000094102 etcd[60765]: {"level":"warn","ts":"2026-04-28T20:56:33.840870Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 20:56:33 np0000094102 etcd[60765]: {"level":"info","ts":"2026-04-28T20:56:33.840902Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 20:56:33 np0000094102 etcd[60765]: {"level":"info","ts":"2026-04-28T20:56:33.843132Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:33 np0000094102 etcd[60765]: {"level":"info","ts":"2026-04-28T20:56:33.843301Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094102","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:33 np0000094102 etcd[60765]: {"level":"info","ts":"2026-04-28T20:56:33.843415Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094102","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 20:56:33 np0000094102 etcd[60765]: {"level":"warn","ts":"2026-04-28T20:56:33.843474Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 20:56:33 np0000094102 etcd[60765]: {"level":"fatal","ts":"2026-04-28T20:56:33.843555Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 20:56:33 np0000094102 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 20:56:33 np0000094102 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 20:56:33 np0000094102 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 20:56:34 np0000094102 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 28 20:56:34 np0000094102 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 28 20:56:34 np0000094102 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 20:56:34 np0000094102 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
