Jun 08 06:13:40 np0000094261 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 06:13:40 np0000094261 etcd[64748]: {"level":"warn","ts":"2026-06-08T06:13:40.980650Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 06:13:40 np0000094261 etcd[64748]: {"level":"info","ts":"2026-06-08T06:13:40.980854Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094261","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094261=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 06:13:40 np0000094261 etcd[64748]: {"level":"warn","ts":"2026-06-08T06:13:40.981036Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 06:13:40 np0000094261 etcd[64748]: {"level":"info","ts":"2026-06-08T06:13:40.981079Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 06:13:40 np0000094261 etcd[64748]: {"level":"info","ts":"2026-06-08T06:13:40.981639Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:40 np0000094261 etcd[64748]: {"level":"info","ts":"2026-06-08T06:13:40.981767Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094261","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:40 np0000094261 etcd[64748]: {"level":"info","ts":"2026-06-08T06:13:40.981848Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094261","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:40 np0000094261 etcd[64748]: {"level":"warn","ts":"2026-06-08T06:13:40.981922Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 06:13:40 np0000094261 etcd[64748]: {"level":"fatal","ts":"2026-06-08T06:13:40.981988Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 06:13:40 np0000094261 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 06:13:40 np0000094261 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 06:13:40 np0000094261 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 06:13:41 np0000094261 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 08 06:13:41 np0000094261 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 06:13:41 np0000094261 etcd[64819]: {"level":"warn","ts":"2026-06-08T06:13:41.274177Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 06:13:41 np0000094261 etcd[64819]: {"level":"info","ts":"2026-06-08T06:13:41.274322Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094261","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094261=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 06:13:41 np0000094261 etcd[64819]: {"level":"warn","ts":"2026-06-08T06:13:41.274496Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 06:13:41 np0000094261 etcd[64819]: {"level":"info","ts":"2026-06-08T06:13:41.274523Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 06:13:41 np0000094261 etcd[64819]: {"level":"info","ts":"2026-06-08T06:13:41.274957Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:41 np0000094261 etcd[64819]: {"level":"info","ts":"2026-06-08T06:13:41.275054Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094261","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:41 np0000094261 etcd[64819]: {"level":"info","ts":"2026-06-08T06:13:41.275118Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094261","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:41 np0000094261 etcd[64819]: {"level":"warn","ts":"2026-06-08T06:13:41.275164Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 06:13:41 np0000094261 etcd[64819]: {"level":"fatal","ts":"2026-06-08T06:13:41.275217Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 06:13:41 np0000094261 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 06:13:41 np0000094261 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 06:13:41 np0000094261 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 06:13:41 np0000094261 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 08 06:13:41 np0000094261 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 06:13:41 np0000094261 etcd[64868]: {"level":"warn","ts":"2026-06-08T06:13:41.518696Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 06:13:41 np0000094261 etcd[64868]: {"level":"info","ts":"2026-06-08T06:13:41.519957Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094261","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094261=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 06:13:41 np0000094261 etcd[64868]: {"level":"warn","ts":"2026-06-08T06:13:41.520174Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 06:13:41 np0000094261 etcd[64868]: {"level":"info","ts":"2026-06-08T06:13:41.520211Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 06:13:41 np0000094261 etcd[64868]: {"level":"info","ts":"2026-06-08T06:13:41.521643Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:41 np0000094261 etcd[64868]: {"level":"info","ts":"2026-06-08T06:13:41.521796Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094261","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:41 np0000094261 etcd[64868]: {"level":"info","ts":"2026-06-08T06:13:41.521883Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094261","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:41 np0000094261 etcd[64868]: {"level":"warn","ts":"2026-06-08T06:13:41.521945Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 06:13:41 np0000094261 etcd[64868]: {"level":"fatal","ts":"2026-06-08T06:13:41.522032Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 06:13:41 np0000094261 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 06:13:41 np0000094261 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 06:13:41 np0000094261 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 06:13:41 np0000094261 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 08 06:13:41 np0000094261 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 06:13:41 np0000094261 etcd[64876]: {"level":"warn","ts":"2026-06-08T06:13:41.755998Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 06:13:41 np0000094261 etcd[64876]: {"level":"info","ts":"2026-06-08T06:13:41.756106Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094261","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094261=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 06:13:41 np0000094261 etcd[64876]: {"level":"warn","ts":"2026-06-08T06:13:41.756221Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 06:13:41 np0000094261 etcd[64876]: {"level":"info","ts":"2026-06-08T06:13:41.756243Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 06:13:41 np0000094261 etcd[64876]: {"level":"info","ts":"2026-06-08T06:13:41.756542Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:41 np0000094261 etcd[64876]: {"level":"info","ts":"2026-06-08T06:13:41.756631Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094261","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:41 np0000094261 etcd[64876]: {"level":"info","ts":"2026-06-08T06:13:41.756671Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094261","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:41 np0000094261 etcd[64876]: {"level":"warn","ts":"2026-06-08T06:13:41.756710Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 06:13:41 np0000094261 etcd[64876]: {"level":"fatal","ts":"2026-06-08T06:13:41.756747Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 06:13:41 np0000094261 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 06:13:41 np0000094261 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 06:13:41 np0000094261 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 06:13:41 np0000094261 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 08 06:13:41 np0000094261 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 06:13:42 np0000094261 etcd[64918]: {"level":"warn","ts":"2026-06-08T06:13:42.021256Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 06:13:42 np0000094261 etcd[64918]: {"level":"info","ts":"2026-06-08T06:13:42.021456Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094261","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094261=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 06:13:42 np0000094261 etcd[64918]: {"level":"warn","ts":"2026-06-08T06:13:42.021639Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 06:13:42 np0000094261 etcd[64918]: {"level":"info","ts":"2026-06-08T06:13:42.021669Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 06:13:42 np0000094261 etcd[64918]: {"level":"info","ts":"2026-06-08T06:13:42.022079Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:42 np0000094261 etcd[64918]: {"level":"info","ts":"2026-06-08T06:13:42.022184Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094261","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:42 np0000094261 etcd[64918]: {"level":"info","ts":"2026-06-08T06:13:42.022257Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094261","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 06:13:42 np0000094261 etcd[64918]: {"level":"warn","ts":"2026-06-08T06:13:42.022309Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 06:13:42 np0000094261 etcd[64918]: {"level":"fatal","ts":"2026-06-08T06:13:42.022388Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 06:13:42 np0000094261 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 06:13:42 np0000094261 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 06:13:42 np0000094261 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 06:13:42 np0000094261 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 08 06:13:42 np0000094261 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 08 06:13:42 np0000094261 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 06:13:42 np0000094261 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
