Feb 13 13:27:32 np0000056234 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:27:32 np0000056234 etcd[60670]: {"level":"warn","ts":"2026-02-13T13:27:32.627957Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:27:32 np0000056234 etcd[60670]: {"level":"info","ts":"2026-02-13T13:27:32.628152Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056234","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056234=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:27:32 np0000056234 etcd[60670]: {"level":"warn","ts":"2026-02-13T13:27:32.628347Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:27:32 np0000056234 etcd[60670]: {"level":"info","ts":"2026-02-13T13:27:32.628399Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:27:32 np0000056234 etcd[60670]: {"level":"info","ts":"2026-02-13T13:27:32.628872Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:32 np0000056234 etcd[60670]: {"level":"info","ts":"2026-02-13T13:27:32.628990Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056234","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:32 np0000056234 etcd[60670]: {"level":"info","ts":"2026-02-13T13:27:32.629081Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056234","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:32 np0000056234 etcd[60670]: {"level":"warn","ts":"2026-02-13T13:27:32.629140Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:27:32 np0000056234 etcd[60670]: {"level":"fatal","ts":"2026-02-13T13:27:32.629211Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:27:32 np0000056234 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:27:32 np0000056234 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:27:32 np0000056234 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:27:32 np0000056234 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 13:27:32 np0000056234 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:27:32 np0000056234 etcd[60714]: {"level":"warn","ts":"2026-02-13T13:27:32.834469Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:27:32 np0000056234 etcd[60714]: {"level":"info","ts":"2026-02-13T13:27:32.834670Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056234","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056234=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:27:32 np0000056234 etcd[60714]: {"level":"warn","ts":"2026-02-13T13:27:32.834843Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:27:32 np0000056234 etcd[60714]: {"level":"info","ts":"2026-02-13T13:27:32.834871Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:27:32 np0000056234 etcd[60714]: {"level":"info","ts":"2026-02-13T13:27:32.835455Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:32 np0000056234 etcd[60714]: {"level":"info","ts":"2026-02-13T13:27:32.835638Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056234","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:32 np0000056234 etcd[60714]: {"level":"info","ts":"2026-02-13T13:27:32.835728Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056234","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:32 np0000056234 etcd[60714]: {"level":"warn","ts":"2026-02-13T13:27:32.835788Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:27:32 np0000056234 etcd[60714]: {"level":"fatal","ts":"2026-02-13T13:27:32.835856Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:27:32 np0000056234 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:27:32 np0000056234 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:27:32 np0000056234 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:27:33 np0000056234 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 13:27:33 np0000056234 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:27:33 np0000056234 etcd[60789]: {"level":"warn","ts":"2026-02-13T13:27:33.065990Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:27:33 np0000056234 etcd[60789]: {"level":"info","ts":"2026-02-13T13:27:33.066171Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056234","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056234=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:27:33 np0000056234 etcd[60789]: {"level":"warn","ts":"2026-02-13T13:27:33.066355Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:27:33 np0000056234 etcd[60789]: {"level":"info","ts":"2026-02-13T13:27:33.066401Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:27:33 np0000056234 etcd[60789]: {"level":"info","ts":"2026-02-13T13:27:33.066957Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:33 np0000056234 etcd[60789]: {"level":"info","ts":"2026-02-13T13:27:33.067096Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056234","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:33 np0000056234 etcd[60789]: {"level":"info","ts":"2026-02-13T13:27:33.067173Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056234","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:33 np0000056234 etcd[60789]: {"level":"warn","ts":"2026-02-13T13:27:33.067233Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:27:33 np0000056234 etcd[60789]: {"level":"fatal","ts":"2026-02-13T13:27:33.067294Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:27:33 np0000056234 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:27:33 np0000056234 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:27:33 np0000056234 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:27:33 np0000056234 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 13:27:33 np0000056234 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:27:33 np0000056234 etcd[60810]: {"level":"warn","ts":"2026-02-13T13:27:33.294270Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:27:33 np0000056234 etcd[60810]: {"level":"info","ts":"2026-02-13T13:27:33.294352Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056234","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056234=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:27:33 np0000056234 etcd[60810]: {"level":"warn","ts":"2026-02-13T13:27:33.294418Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:27:33 np0000056234 etcd[60810]: {"level":"info","ts":"2026-02-13T13:27:33.294433Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:27:33 np0000056234 etcd[60810]: {"level":"info","ts":"2026-02-13T13:27:33.294623Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:33 np0000056234 etcd[60810]: {"level":"info","ts":"2026-02-13T13:27:33.294666Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056234","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:33 np0000056234 etcd[60810]: {"level":"info","ts":"2026-02-13T13:27:33.294698Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056234","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:33 np0000056234 etcd[60810]: {"level":"warn","ts":"2026-02-13T13:27:33.294720Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:27:33 np0000056234 etcd[60810]: {"level":"fatal","ts":"2026-02-13T13:27:33.294745Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:27:33 np0000056234 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:27:33 np0000056234 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:27:33 np0000056234 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:27:33 np0000056234 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 13:27:33 np0000056234 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 13:27:33 np0000056234 etcd[60865]: {"level":"warn","ts":"2026-02-13T13:27:33.567186Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:27:33 np0000056234 etcd[60865]: {"level":"info","ts":"2026-02-13T13:27:33.567411Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056234","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056234=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 13:27:33 np0000056234 etcd[60865]: {"level":"warn","ts":"2026-02-13T13:27:33.567599Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 13:27:33 np0000056234 etcd[60865]: {"level":"info","ts":"2026-02-13T13:27:33.567645Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 13:27:33 np0000056234 etcd[60865]: {"level":"info","ts":"2026-02-13T13:27:33.568153Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:33 np0000056234 etcd[60865]: {"level":"info","ts":"2026-02-13T13:27:33.568454Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056234","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:33 np0000056234 etcd[60865]: {"level":"info","ts":"2026-02-13T13:27:33.568546Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056234","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 13:27:33 np0000056234 etcd[60865]: {"level":"warn","ts":"2026-02-13T13:27:33.568614Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 13:27:33 np0000056234 etcd[60865]: {"level":"fatal","ts":"2026-02-13T13:27:33.568679Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 13:27:33 np0000056234 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 13:27:33 np0000056234 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:27:33 np0000056234 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 13:27:33 np0000056234 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 13:27:33 np0000056234 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 13:27:33 np0000056234 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 13:27:33 np0000056234 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
