Apr 23 23:02:13 np0000094061 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:02:13 np0000094061 etcd[60699]: {"level":"warn","ts":"2026-04-23T23:02:13.961121Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:02:13 np0000094061 etcd[60699]: {"level":"info","ts":"2026-04-23T23:02:13.961190Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094061","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094061=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:02:13 np0000094061 etcd[60699]: {"level":"warn","ts":"2026-04-23T23:02:13.961256Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:02:13 np0000094061 etcd[60699]: {"level":"info","ts":"2026-04-23T23:02:13.961267Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:02:13 np0000094061 etcd[60699]: {"level":"info","ts":"2026-04-23T23:02:13.961459Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:13 np0000094061 etcd[60699]: {"level":"info","ts":"2026-04-23T23:02:13.961502Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094061","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:13 np0000094061 etcd[60699]: {"level":"info","ts":"2026-04-23T23:02:13.961551Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094061","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:13 np0000094061 etcd[60699]: {"level":"warn","ts":"2026-04-23T23:02:13.961572Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:02:13 np0000094061 etcd[60699]: {"level":"fatal","ts":"2026-04-23T23:02:13.961596Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:02:13 np0000094061 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:02:13 np0000094061 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:02:13 np0000094061 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:02:14 np0000094061 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 23 23:02:14 np0000094061 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:02:14 np0000094061 etcd[60761]: {"level":"warn","ts":"2026-04-23T23:02:14.139984Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:02:14 np0000094061 etcd[60761]: {"level":"info","ts":"2026-04-23T23:02:14.140105Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094061","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094061=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:02:14 np0000094061 etcd[60761]: {"level":"warn","ts":"2026-04-23T23:02:14.140217Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:02:14 np0000094061 etcd[60761]: {"level":"info","ts":"2026-04-23T23:02:14.140236Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:02:14 np0000094061 etcd[60761]: {"level":"info","ts":"2026-04-23T23:02:14.140555Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:14 np0000094061 etcd[60761]: {"level":"info","ts":"2026-04-23T23:02:14.140626Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094061","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:14 np0000094061 etcd[60761]: {"level":"info","ts":"2026-04-23T23:02:14.140674Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094061","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:14 np0000094061 etcd[60761]: {"level":"warn","ts":"2026-04-23T23:02:14.140706Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:02:14 np0000094061 etcd[60761]: {"level":"fatal","ts":"2026-04-23T23:02:14.140774Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:02:14 np0000094061 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:02:14 np0000094061 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:02:14 np0000094061 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:02:14 np0000094061 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 23 23:02:14 np0000094061 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:02:14 np0000094061 etcd[60820]: {"level":"warn","ts":"2026-04-23T23:02:14.407880Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:02:14 np0000094061 etcd[60820]: {"level":"info","ts":"2026-04-23T23:02:14.408104Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094061","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094061=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:02:14 np0000094061 etcd[60820]: {"level":"warn","ts":"2026-04-23T23:02:14.408292Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:02:14 np0000094061 etcd[60820]: {"level":"info","ts":"2026-04-23T23:02:14.408333Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:02:14 np0000094061 etcd[60820]: {"level":"info","ts":"2026-04-23T23:02:14.408911Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:14 np0000094061 etcd[60820]: {"level":"info","ts":"2026-04-23T23:02:14.409037Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094061","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:14 np0000094061 etcd[60820]: {"level":"info","ts":"2026-04-23T23:02:14.409120Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094061","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:14 np0000094061 etcd[60820]: {"level":"warn","ts":"2026-04-23T23:02:14.409178Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:02:14 np0000094061 etcd[60820]: {"level":"fatal","ts":"2026-04-23T23:02:14.409244Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:02:14 np0000094061 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:02:14 np0000094061 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:02:14 np0000094061 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:02:14 np0000094061 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 23 23:02:14 np0000094061 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:02:14 np0000094061 etcd[60836]: {"level":"warn","ts":"2026-04-23T23:02:14.664018Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:02:14 np0000094061 etcd[60836]: {"level":"info","ts":"2026-04-23T23:02:14.664261Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094061","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094061=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:02:14 np0000094061 etcd[60836]: {"level":"warn","ts":"2026-04-23T23:02:14.664450Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:02:14 np0000094061 etcd[60836]: {"level":"info","ts":"2026-04-23T23:02:14.664483Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:02:14 np0000094061 etcd[60836]: {"level":"info","ts":"2026-04-23T23:02:14.665012Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:14 np0000094061 etcd[60836]: {"level":"info","ts":"2026-04-23T23:02:14.665138Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094061","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:14 np0000094061 etcd[60836]: {"level":"info","ts":"2026-04-23T23:02:14.665222Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094061","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:14 np0000094061 etcd[60836]: {"level":"warn","ts":"2026-04-23T23:02:14.665295Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:02:14 np0000094061 etcd[60836]: {"level":"fatal","ts":"2026-04-23T23:02:14.665370Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:02:14 np0000094061 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:02:14 np0000094061 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:02:14 np0000094061 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:02:14 np0000094061 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 23 23:02:14 np0000094061 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:02:14 np0000094061 etcd[60872]: {"level":"warn","ts":"2026-04-23T23:02:14.909809Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:02:14 np0000094061 etcd[60872]: {"level":"info","ts":"2026-04-23T23:02:14.910737Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094061","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094061=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:02:14 np0000094061 etcd[60872]: {"level":"warn","ts":"2026-04-23T23:02:14.910967Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:02:14 np0000094061 etcd[60872]: {"level":"info","ts":"2026-04-23T23:02:14.911000Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:02:14 np0000094061 etcd[60872]: {"level":"info","ts":"2026-04-23T23:02:14.911469Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:14 np0000094061 etcd[60872]: {"level":"info","ts":"2026-04-23T23:02:14.912660Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094061","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:14 np0000094061 etcd[60872]: {"level":"info","ts":"2026-04-23T23:02:14.913020Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094061","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:02:14 np0000094061 etcd[60872]: {"level":"warn","ts":"2026-04-23T23:02:14.913091Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:02:14 np0000094061 etcd[60872]: {"level":"fatal","ts":"2026-04-23T23:02:14.913171Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:02:14 np0000094061 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:02:14 np0000094061 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:02:14 np0000094061 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:02:15 np0000094061 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 23 23:02:15 np0000094061 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 23 23:02:15 np0000094061 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:02:15 np0000094061 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
