Jun 23 16:31:12 np0000094447 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 16:31:12 np0000094447 etcd[60465]: {"level":"warn","ts":"2026-06-23T16:31:12.804951Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 16:31:12 np0000094447 etcd[60465]: {"level":"info","ts":"2026-06-23T16:31:12.805151Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094447","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094447=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 16:31:12 np0000094447 etcd[60465]: {"level":"warn","ts":"2026-06-23T16:31:12.805329Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 16:31:12 np0000094447 etcd[60465]: {"level":"info","ts":"2026-06-23T16:31:12.805362Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 16:31:12 np0000094447 etcd[60465]: {"level":"info","ts":"2026-06-23T16:31:12.805908Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:12 np0000094447 etcd[60465]: {"level":"info","ts":"2026-06-23T16:31:12.806241Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094447","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:12 np0000094447 etcd[60465]: {"level":"info","ts":"2026-06-23T16:31:12.806457Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094447","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:12 np0000094447 etcd[60465]: {"level":"warn","ts":"2026-06-23T16:31:12.806944Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 16:31:12 np0000094447 etcd[60465]: {"level":"fatal","ts":"2026-06-23T16:31:12.807152Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 16:31:12 np0000094447 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 16:31:12 np0000094447 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 16:31:12 np0000094447 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 16:31:12 np0000094447 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 23 16:31:13 np0000094447 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 16:31:13 np0000094447 etcd[60522]: {"level":"warn","ts":"2026-06-23T16:31:13.045787Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 16:31:13 np0000094447 etcd[60522]: {"level":"info","ts":"2026-06-23T16:31:13.045943Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094447","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094447=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 16:31:13 np0000094447 etcd[60522]: {"level":"warn","ts":"2026-06-23T16:31:13.046090Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 16:31:13 np0000094447 etcd[60522]: {"level":"info","ts":"2026-06-23T16:31:13.046117Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 16:31:13 np0000094447 etcd[60522]: {"level":"info","ts":"2026-06-23T16:31:13.047611Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:13 np0000094447 etcd[60522]: {"level":"info","ts":"2026-06-23T16:31:13.047779Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094447","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:13 np0000094447 etcd[60522]: {"level":"info","ts":"2026-06-23T16:31:13.047854Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094447","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:13 np0000094447 etcd[60522]: {"level":"warn","ts":"2026-06-23T16:31:13.047909Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 16:31:13 np0000094447 etcd[60522]: {"level":"fatal","ts":"2026-06-23T16:31:13.047966Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 16:31:13 np0000094447 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 23 16:31:13 np0000094447 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 16:31:13 np0000094447 etcd[60584]: {"level":"warn","ts":"2026-06-23T16:31:13.265010Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 16:31:13 np0000094447 etcd[60584]: {"level":"info","ts":"2026-06-23T16:31:13.265086Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094447","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094447=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 16:31:13 np0000094447 etcd[60584]: {"level":"warn","ts":"2026-06-23T16:31:13.265155Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 16:31:13 np0000094447 etcd[60584]: {"level":"info","ts":"2026-06-23T16:31:13.265166Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 16:31:13 np0000094447 etcd[60584]: {"level":"info","ts":"2026-06-23T16:31:13.265366Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:13 np0000094447 etcd[60584]: {"level":"info","ts":"2026-06-23T16:31:13.265405Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094447","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:13 np0000094447 etcd[60584]: {"level":"info","ts":"2026-06-23T16:31:13.265434Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094447","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:13 np0000094447 etcd[60584]: {"level":"warn","ts":"2026-06-23T16:31:13.265452Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 16:31:13 np0000094447 etcd[60584]: {"level":"fatal","ts":"2026-06-23T16:31:13.265473Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 16:31:13 np0000094447 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 23 16:31:13 np0000094447 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 16:31:13 np0000094447 etcd[60592]: {"level":"warn","ts":"2026-06-23T16:31:13.570085Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 16:31:13 np0000094447 etcd[60592]: {"level":"info","ts":"2026-06-23T16:31:13.571572Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094447","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094447=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 16:31:13 np0000094447 etcd[60592]: {"level":"warn","ts":"2026-06-23T16:31:13.571822Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 16:31:13 np0000094447 etcd[60592]: {"level":"info","ts":"2026-06-23T16:31:13.571860Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 16:31:13 np0000094447 etcd[60592]: {"level":"info","ts":"2026-06-23T16:31:13.572389Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:13 np0000094447 etcd[60592]: {"level":"info","ts":"2026-06-23T16:31:13.572512Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094447","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:13 np0000094447 etcd[60592]: {"level":"info","ts":"2026-06-23T16:31:13.573345Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094447","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:13 np0000094447 etcd[60592]: {"level":"warn","ts":"2026-06-23T16:31:13.573421Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 16:31:13 np0000094447 etcd[60592]: {"level":"fatal","ts":"2026-06-23T16:31:13.573484Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 16:31:13 np0000094447 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 23 16:31:13 np0000094447 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 16:31:13 np0000094447 etcd[60623]: {"level":"warn","ts":"2026-06-23T16:31:13.799715Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 16:31:13 np0000094447 etcd[60623]: {"level":"info","ts":"2026-06-23T16:31:13.799862Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094447","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094447=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 16:31:13 np0000094447 etcd[60623]: {"level":"warn","ts":"2026-06-23T16:31:13.799990Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 16:31:13 np0000094447 etcd[60623]: {"level":"info","ts":"2026-06-23T16:31:13.800029Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 16:31:13 np0000094447 etcd[60623]: {"level":"info","ts":"2026-06-23T16:31:13.800396Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:13 np0000094447 etcd[60623]: {"level":"info","ts":"2026-06-23T16:31:13.800486Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094447","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:13 np0000094447 etcd[60623]: {"level":"info","ts":"2026-06-23T16:31:13.800549Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094447","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 16:31:13 np0000094447 etcd[60623]: {"level":"warn","ts":"2026-06-23T16:31:13.800593Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 16:31:13 np0000094447 etcd[60623]: {"level":"fatal","ts":"2026-06-23T16:31:13.800677Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 16:31:13 np0000094447 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 23 16:31:13 np0000094447 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 16:31:13 np0000094447 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
