Jun 19 14:52:27 np0000094414 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 14:52:27 np0000094414 etcd[60042]: {"level":"warn","ts":"2026-06-19T14:52:27.444852Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 14:52:27 np0000094414 etcd[60042]: {"level":"info","ts":"2026-06-19T14:52:27.445103Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094414","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094414=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 14:52:27 np0000094414 etcd[60042]: {"level":"warn","ts":"2026-06-19T14:52:27.445303Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 14:52:27 np0000094414 etcd[60042]: {"level":"info","ts":"2026-06-19T14:52:27.445338Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 14:52:27 np0000094414 etcd[60042]: {"level":"info","ts":"2026-06-19T14:52:27.446001Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:27 np0000094414 etcd[60042]: {"level":"info","ts":"2026-06-19T14:52:27.446138Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094414","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:27 np0000094414 etcd[60042]: {"level":"info","ts":"2026-06-19T14:52:27.446224Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094414","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:27 np0000094414 etcd[60042]: {"level":"warn","ts":"2026-06-19T14:52:27.446305Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 14:52:27 np0000094414 etcd[60042]: {"level":"fatal","ts":"2026-06-19T14:52:27.446388Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 14:52:27 np0000094414 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 14:52:27 np0000094414 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 14:52:27 np0000094414 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 14:52:27 np0000094414 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 19 14:52:27 np0000094414 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 14:52:27 np0000094414 etcd[60096]: {"level":"warn","ts":"2026-06-19T14:52:27.684369Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 14:52:27 np0000094414 etcd[60096]: {"level":"info","ts":"2026-06-19T14:52:27.684601Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094414","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094414=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 14:52:27 np0000094414 etcd[60096]: {"level":"warn","ts":"2026-06-19T14:52:27.684761Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 14:52:27 np0000094414 etcd[60096]: {"level":"info","ts":"2026-06-19T14:52:27.684791Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 14:52:27 np0000094414 etcd[60096]: {"level":"info","ts":"2026-06-19T14:52:27.685346Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:27 np0000094414 etcd[60096]: {"level":"info","ts":"2026-06-19T14:52:27.685487Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094414","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:27 np0000094414 etcd[60096]: {"level":"info","ts":"2026-06-19T14:52:27.685581Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094414","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:27 np0000094414 etcd[60096]: {"level":"warn","ts":"2026-06-19T14:52:27.685652Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 14:52:27 np0000094414 etcd[60096]: {"level":"fatal","ts":"2026-06-19T14:52:27.685713Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 14:52:27 np0000094414 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 14:52:27 np0000094414 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 14:52:27 np0000094414 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 14:52:27 np0000094414 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 19 14:52:27 np0000094414 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 14:52:27 np0000094414 etcd[60161]: {"level":"warn","ts":"2026-06-19T14:52:27.934547Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 14:52:27 np0000094414 etcd[60161]: {"level":"info","ts":"2026-06-19T14:52:27.935813Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094414","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094414=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 14:52:27 np0000094414 etcd[60161]: {"level":"warn","ts":"2026-06-19T14:52:27.936039Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 14:52:27 np0000094414 etcd[60161]: {"level":"info","ts":"2026-06-19T14:52:27.936094Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 14:52:27 np0000094414 etcd[60161]: {"level":"info","ts":"2026-06-19T14:52:27.936677Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:27 np0000094414 etcd[60161]: {"level":"info","ts":"2026-06-19T14:52:27.936826Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094414","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:27 np0000094414 etcd[60161]: {"level":"info","ts":"2026-06-19T14:52:27.936909Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094414","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:27 np0000094414 etcd[60161]: {"level":"warn","ts":"2026-06-19T14:52:27.936982Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 14:52:27 np0000094414 etcd[60161]: {"level":"fatal","ts":"2026-06-19T14:52:27.937056Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 14:52:27 np0000094414 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 14:52:27 np0000094414 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 14:52:27 np0000094414 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 14:52:28 np0000094414 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 19 14:52:28 np0000094414 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 14:52:28 np0000094414 etcd[60169]: {"level":"warn","ts":"2026-06-19T14:52:28.180379Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 14:52:28 np0000094414 etcd[60169]: {"level":"info","ts":"2026-06-19T14:52:28.180611Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094414","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094414=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 14:52:28 np0000094414 etcd[60169]: {"level":"warn","ts":"2026-06-19T14:52:28.180769Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 14:52:28 np0000094414 etcd[60169]: {"level":"info","ts":"2026-06-19T14:52:28.180800Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 14:52:28 np0000094414 etcd[60169]: {"level":"info","ts":"2026-06-19T14:52:28.181261Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:28 np0000094414 etcd[60169]: {"level":"info","ts":"2026-06-19T14:52:28.181392Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094414","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:28 np0000094414 etcd[60169]: {"level":"info","ts":"2026-06-19T14:52:28.181510Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094414","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:28 np0000094414 etcd[60169]: {"level":"warn","ts":"2026-06-19T14:52:28.181590Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 14:52:28 np0000094414 etcd[60169]: {"level":"fatal","ts":"2026-06-19T14:52:28.181657Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 14:52:28 np0000094414 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 14:52:28 np0000094414 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 14:52:28 np0000094414 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 14:52:28 np0000094414 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 19 14:52:28 np0000094414 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 14:52:28 np0000094414 etcd[60195]: {"level":"warn","ts":"2026-06-19T14:52:28.439154Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 14:52:28 np0000094414 etcd[60195]: {"level":"info","ts":"2026-06-19T14:52:28.439316Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094414","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094414=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 14:52:28 np0000094414 etcd[60195]: {"level":"warn","ts":"2026-06-19T14:52:28.439496Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 14:52:28 np0000094414 etcd[60195]: {"level":"info","ts":"2026-06-19T14:52:28.439543Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 14:52:28 np0000094414 etcd[60195]: {"level":"info","ts":"2026-06-19T14:52:28.440590Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:28 np0000094414 etcd[60195]: {"level":"info","ts":"2026-06-19T14:52:28.440742Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094414","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:28 np0000094414 etcd[60195]: {"level":"info","ts":"2026-06-19T14:52:28.440806Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094414","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 14:52:28 np0000094414 etcd[60195]: {"level":"warn","ts":"2026-06-19T14:52:28.440874Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 14:52:28 np0000094414 etcd[60195]: {"level":"fatal","ts":"2026-06-19T14:52:28.440961Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 14:52:28 np0000094414 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 14:52:28 np0000094414 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 14:52:28 np0000094414 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 14:52:28 np0000094414 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 19 14:52:28 np0000094414 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 19 14:52:28 np0000094414 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 14:52:28 np0000094414 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
