Apr 15 02:29:05 np0000093961 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 02:29:05 np0000093961 etcd[61073]: {"level":"warn","ts":"2026-04-15T02:29:05.847095Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 02:29:05 np0000093961 etcd[61073]: {"level":"info","ts":"2026-04-15T02:29:05.847282Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093961","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093961=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 02:29:05 np0000093961 etcd[61073]: {"level":"warn","ts":"2026-04-15T02:29:05.847460Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 02:29:05 np0000093961 etcd[61073]: {"level":"info","ts":"2026-04-15T02:29:05.847501Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 02:29:05 np0000093961 etcd[61073]: {"level":"info","ts":"2026-04-15T02:29:05.848149Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:05 np0000093961 etcd[61073]: {"level":"info","ts":"2026-04-15T02:29:05.848278Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093961","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:05 np0000093961 etcd[61073]: {"level":"info","ts":"2026-04-15T02:29:05.848358Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093961","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:05 np0000093961 etcd[61073]: {"level":"warn","ts":"2026-04-15T02:29:05.848426Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 02:29:05 np0000093961 etcd[61073]: {"level":"fatal","ts":"2026-04-15T02:29:05.848526Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 02:29:05 np0000093961 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 02:29:05 np0000093961 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 02:29:05 np0000093961 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 02:29:05 np0000093961 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 15 02:29:06 np0000093961 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 02:29:06 np0000093961 etcd[61118]: {"level":"warn","ts":"2026-04-15T02:29:06.056385Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 02:29:06 np0000093961 etcd[61118]: {"level":"info","ts":"2026-04-15T02:29:06.056537Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093961","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093961=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 02:29:06 np0000093961 etcd[61118]: {"level":"warn","ts":"2026-04-15T02:29:06.056671Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 02:29:06 np0000093961 etcd[61118]: {"level":"info","ts":"2026-04-15T02:29:06.056698Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 02:29:06 np0000093961 etcd[61118]: {"level":"info","ts":"2026-04-15T02:29:06.057156Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:06 np0000093961 etcd[61118]: {"level":"info","ts":"2026-04-15T02:29:06.057259Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093961","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:06 np0000093961 etcd[61118]: {"level":"info","ts":"2026-04-15T02:29:06.057329Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093961","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:06 np0000093961 etcd[61118]: {"level":"warn","ts":"2026-04-15T02:29:06.057382Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 02:29:06 np0000093961 etcd[61118]: {"level":"fatal","ts":"2026-04-15T02:29:06.057436Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 02:29:06 np0000093961 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 15 02:29:06 np0000093961 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 02:29:06 np0000093961 etcd[61194]: {"level":"warn","ts":"2026-04-15T02:29:06.304438Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 02:29:06 np0000093961 etcd[61194]: {"level":"info","ts":"2026-04-15T02:29:06.305785Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093961","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093961=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 02:29:06 np0000093961 etcd[61194]: {"level":"warn","ts":"2026-04-15T02:29:06.306015Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 02:29:06 np0000093961 etcd[61194]: {"level":"info","ts":"2026-04-15T02:29:06.306069Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 02:29:06 np0000093961 etcd[61194]: {"level":"info","ts":"2026-04-15T02:29:06.306579Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:06 np0000093961 etcd[61194]: {"level":"info","ts":"2026-04-15T02:29:06.306700Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093961","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:06 np0000093961 etcd[61194]: {"level":"info","ts":"2026-04-15T02:29:06.306784Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093961","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:06 np0000093961 etcd[61194]: {"level":"warn","ts":"2026-04-15T02:29:06.308188Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 02:29:06 np0000093961 etcd[61194]: {"level":"fatal","ts":"2026-04-15T02:29:06.308255Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 02:29:06 np0000093961 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 15 02:29:06 np0000093961 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 02:29:06 np0000093961 etcd[61202]: {"level":"warn","ts":"2026-04-15T02:29:06.554738Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 02:29:06 np0000093961 etcd[61202]: {"level":"info","ts":"2026-04-15T02:29:06.555914Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093961","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093961=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 02:29:06 np0000093961 etcd[61202]: {"level":"warn","ts":"2026-04-15T02:29:06.556141Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 02:29:06 np0000093961 etcd[61202]: {"level":"info","ts":"2026-04-15T02:29:06.556176Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 02:29:06 np0000093961 etcd[61202]: {"level":"info","ts":"2026-04-15T02:29:06.556741Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:06 np0000093961 etcd[61202]: {"level":"info","ts":"2026-04-15T02:29:06.556898Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093961","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:06 np0000093961 etcd[61202]: {"level":"info","ts":"2026-04-15T02:29:06.557602Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093961","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:06 np0000093961 etcd[61202]: {"level":"warn","ts":"2026-04-15T02:29:06.557839Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 02:29:06 np0000093961 etcd[61202]: {"level":"fatal","ts":"2026-04-15T02:29:06.558078Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 02:29:06 np0000093961 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 15 02:29:06 np0000093961 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 02:29:06 np0000093961 etcd[61228]: {"level":"warn","ts":"2026-04-15T02:29:06.799998Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 02:29:06 np0000093961 etcd[61228]: {"level":"info","ts":"2026-04-15T02:29:06.800186Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093961","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093961=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 02:29:06 np0000093961 etcd[61228]: {"level":"warn","ts":"2026-04-15T02:29:06.800383Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 02:29:06 np0000093961 etcd[61228]: {"level":"info","ts":"2026-04-15T02:29:06.800416Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 02:29:06 np0000093961 etcd[61228]: {"level":"info","ts":"2026-04-15T02:29:06.800841Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:06 np0000093961 etcd[61228]: {"level":"info","ts":"2026-04-15T02:29:06.800954Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093961","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:06 np0000093961 etcd[61228]: {"level":"info","ts":"2026-04-15T02:29:06.801047Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093961","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 02:29:06 np0000093961 etcd[61228]: {"level":"warn","ts":"2026-04-15T02:29:06.801101Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 02:29:06 np0000093961 etcd[61228]: {"level":"fatal","ts":"2026-04-15T02:29:06.801161Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 02:29:06 np0000093961 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 15 02:29:06 np0000093961 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 02:29:06 np0000093961 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
