Feb 13 17:47:26 np0000056244 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 17:47:27 np0000056244 etcd[60228]: {"level":"warn","ts":"2026-02-13T17:47:27.025587Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:47:27 np0000056244 etcd[60228]: {"level":"info","ts":"2026-02-13T17:47:27.025835Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056244","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056244=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 17:47:27 np0000056244 etcd[60228]: {"level":"warn","ts":"2026-02-13T17:47:27.026027Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:47:27 np0000056244 etcd[60228]: {"level":"info","ts":"2026-02-13T17:47:27.026057Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 17:47:27 np0000056244 etcd[60228]: {"level":"info","ts":"2026-02-13T17:47:27.026514Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:27 np0000056244 etcd[60228]: {"level":"info","ts":"2026-02-13T17:47:27.026632Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:27 np0000056244 etcd[60228]: {"level":"info","ts":"2026-02-13T17:47:27.026749Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:27 np0000056244 etcd[60228]: {"level":"warn","ts":"2026-02-13T17:47:27.026816Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 17:47:27 np0000056244 etcd[60228]: {"level":"fatal","ts":"2026-02-13T17:47:27.026877Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 17:47:27 np0000056244 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 17:47:27 np0000056244 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 17:47:27 np0000056244 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 17:47:27 np0000056244 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 17:47:27 np0000056244 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 17:47:27 np0000056244 etcd[60299]: {"level":"warn","ts":"2026-02-13T17:47:27.211577Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:47:27 np0000056244 etcd[60299]: {"level":"info","ts":"2026-02-13T17:47:27.211639Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056244","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056244=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 17:47:27 np0000056244 etcd[60299]: {"level":"warn","ts":"2026-02-13T17:47:27.211719Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:47:27 np0000056244 etcd[60299]: {"level":"info","ts":"2026-02-13T17:47:27.211732Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 17:47:27 np0000056244 etcd[60299]: {"level":"info","ts":"2026-02-13T17:47:27.211894Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:27 np0000056244 etcd[60299]: {"level":"info","ts":"2026-02-13T17:47:27.211931Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:27 np0000056244 etcd[60299]: {"level":"info","ts":"2026-02-13T17:47:27.211960Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:27 np0000056244 etcd[60299]: {"level":"warn","ts":"2026-02-13T17:47:27.211979Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 17:47:27 np0000056244 etcd[60299]: {"level":"fatal","ts":"2026-02-13T17:47:27.212000Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 17:47:27 np0000056244 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 17:47:27 np0000056244 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 17:47:27 np0000056244 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 17:47:27 np0000056244 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 17:47:27 np0000056244 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 17:47:27 np0000056244 etcd[60365]: {"level":"warn","ts":"2026-02-13T17:47:27.483905Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:47:27 np0000056244 etcd[60365]: {"level":"info","ts":"2026-02-13T17:47:27.484044Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056244","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056244=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 17:47:27 np0000056244 etcd[60365]: {"level":"warn","ts":"2026-02-13T17:47:27.484171Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:47:27 np0000056244 etcd[60365]: {"level":"info","ts":"2026-02-13T17:47:27.484195Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 17:47:27 np0000056244 etcd[60365]: {"level":"info","ts":"2026-02-13T17:47:27.484537Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:27 np0000056244 etcd[60365]: {"level":"info","ts":"2026-02-13T17:47:27.484628Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:27 np0000056244 etcd[60365]: {"level":"info","ts":"2026-02-13T17:47:27.484729Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:27 np0000056244 etcd[60365]: {"level":"warn","ts":"2026-02-13T17:47:27.484770Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 17:47:27 np0000056244 etcd[60365]: {"level":"fatal","ts":"2026-02-13T17:47:27.484816Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 17:47:27 np0000056244 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 17:47:27 np0000056244 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 17:47:27 np0000056244 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 17:47:27 np0000056244 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 17:47:27 np0000056244 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 17:47:27 np0000056244 etcd[60373]: {"level":"warn","ts":"2026-02-13T17:47:27.753320Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:47:27 np0000056244 etcd[60373]: {"level":"info","ts":"2026-02-13T17:47:27.754759Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056244","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056244=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 17:47:27 np0000056244 etcd[60373]: {"level":"warn","ts":"2026-02-13T17:47:27.754920Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:47:27 np0000056244 etcd[60373]: {"level":"info","ts":"2026-02-13T17:47:27.754949Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 17:47:27 np0000056244 etcd[60373]: {"level":"info","ts":"2026-02-13T17:47:27.755368Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:27 np0000056244 etcd[60373]: {"level":"info","ts":"2026-02-13T17:47:27.755460Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:27 np0000056244 etcd[60373]: {"level":"info","ts":"2026-02-13T17:47:27.755519Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:27 np0000056244 etcd[60373]: {"level":"warn","ts":"2026-02-13T17:47:27.755559Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 17:47:27 np0000056244 etcd[60373]: {"level":"fatal","ts":"2026-02-13T17:47:27.755608Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 17:47:27 np0000056244 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 17:47:27 np0000056244 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 17:47:27 np0000056244 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 17:47:27 np0000056244 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 17:47:27 np0000056244 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 17:47:28 np0000056244 etcd[60432]: {"level":"warn","ts":"2026-02-13T17:47:27.999803Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:47:28 np0000056244 etcd[60432]: {"level":"info","ts":"2026-02-13T17:47:27.999982Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056244","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056244=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 17:47:28 np0000056244 etcd[60432]: {"level":"warn","ts":"2026-02-13T17:47:28.000138Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:47:28 np0000056244 etcd[60432]: {"level":"info","ts":"2026-02-13T17:47:28.000165Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 17:47:28 np0000056244 etcd[60432]: {"level":"info","ts":"2026-02-13T17:47:28.000599Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:28 np0000056244 etcd[60432]: {"level":"info","ts":"2026-02-13T17:47:28.000780Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:28 np0000056244 etcd[60432]: {"level":"info","ts":"2026-02-13T17:47:28.000858Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:47:28 np0000056244 etcd[60432]: {"level":"warn","ts":"2026-02-13T17:47:28.000909Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 17:47:28 np0000056244 etcd[60432]: {"level":"fatal","ts":"2026-02-13T17:47:28.000965Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 17:47:28 np0000056244 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 17:47:28 np0000056244 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 17:47:28 np0000056244 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 17:47:28 np0000056244 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 17:47:28 np0000056244 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 17:47:28 np0000056244 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 17:47:28 np0000056244 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
