Apr 29 01:34:31 np0000094112 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 29 01:34:31 np0000094112 etcd[60590]: {"level":"warn","ts":"2026-04-29T01:34:31.501931Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 01:34:31 np0000094112 etcd[60590]: {"level":"info","ts":"2026-04-29T01:34:31.502114Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094112","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094112=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 29 01:34:31 np0000094112 etcd[60590]: {"level":"warn","ts":"2026-04-29T01:34:31.502298Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 01:34:31 np0000094112 etcd[60590]: {"level":"info","ts":"2026-04-29T01:34:31.502330Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 29 01:34:31 np0000094112 etcd[60590]: {"level":"info","ts":"2026-04-29T01:34:31.502907Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:31 np0000094112 etcd[60590]: {"level":"info","ts":"2026-04-29T01:34:31.503033Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094112","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:31 np0000094112 etcd[60590]: {"level":"info","ts":"2026-04-29T01:34:31.503127Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094112","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:31 np0000094112 etcd[60590]: {"level":"warn","ts":"2026-04-29T01:34:31.503197Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 29 01:34:31 np0000094112 etcd[60590]: {"level":"fatal","ts":"2026-04-29T01:34:31.503263Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 29 01:34:31 np0000094112 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 29 01:34:31 np0000094112 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 29 01:34:31 np0000094112 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 29 01:34:31 np0000094112 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 29 01:34:31 np0000094112 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 29 01:34:31 np0000094112 etcd[60665]: {"level":"warn","ts":"2026-04-29T01:34:31.821526Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 01:34:31 np0000094112 etcd[60665]: {"level":"info","ts":"2026-04-29T01:34:31.821747Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094112","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094112=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 29 01:34:31 np0000094112 etcd[60665]: {"level":"warn","ts":"2026-04-29T01:34:31.821948Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 01:34:31 np0000094112 etcd[60665]: {"level":"info","ts":"2026-04-29T01:34:31.821988Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 29 01:34:31 np0000094112 etcd[60665]: {"level":"info","ts":"2026-04-29T01:34:31.822484Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:31 np0000094112 etcd[60665]: {"level":"info","ts":"2026-04-29T01:34:31.822626Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094112","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:31 np0000094112 etcd[60665]: {"level":"info","ts":"2026-04-29T01:34:31.822698Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094112","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:31 np0000094112 etcd[60665]: {"level":"warn","ts":"2026-04-29T01:34:31.822748Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 29 01:34:31 np0000094112 etcd[60665]: {"level":"fatal","ts":"2026-04-29T01:34:31.822844Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 29 01:34:31 np0000094112 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 29 01:34:31 np0000094112 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 29 01:34:31 np0000094112 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 29 01:34:31 np0000094112 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 29 01:34:32 np0000094112 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 29 01:34:32 np0000094112 etcd[60711]: {"level":"warn","ts":"2026-04-29T01:34:32.065107Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 01:34:32 np0000094112 etcd[60711]: {"level":"info","ts":"2026-04-29T01:34:32.065285Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094112","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094112=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 29 01:34:32 np0000094112 etcd[60711]: {"level":"warn","ts":"2026-04-29T01:34:32.065461Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 01:34:32 np0000094112 etcd[60711]: {"level":"info","ts":"2026-04-29T01:34:32.065493Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 29 01:34:32 np0000094112 etcd[60711]: {"level":"info","ts":"2026-04-29T01:34:32.066041Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:32 np0000094112 etcd[60711]: {"level":"info","ts":"2026-04-29T01:34:32.066164Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094112","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:32 np0000094112 etcd[60711]: {"level":"info","ts":"2026-04-29T01:34:32.066258Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094112","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:32 np0000094112 etcd[60711]: {"level":"warn","ts":"2026-04-29T01:34:32.066330Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 29 01:34:32 np0000094112 etcd[60711]: {"level":"fatal","ts":"2026-04-29T01:34:32.066407Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 29 01:34:32 np0000094112 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 29 01:34:32 np0000094112 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 29 01:34:32 np0000094112 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 29 01:34:32 np0000094112 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 29 01:34:32 np0000094112 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 29 01:34:32 np0000094112 etcd[60732]: {"level":"warn","ts":"2026-04-29T01:34:32.316020Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 01:34:32 np0000094112 etcd[60732]: {"level":"info","ts":"2026-04-29T01:34:32.316211Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094112","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094112=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 29 01:34:32 np0000094112 etcd[60732]: {"level":"warn","ts":"2026-04-29T01:34:32.316383Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 01:34:32 np0000094112 etcd[60732]: {"level":"info","ts":"2026-04-29T01:34:32.316415Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 29 01:34:32 np0000094112 etcd[60732]: {"level":"info","ts":"2026-04-29T01:34:32.317039Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:32 np0000094112 etcd[60732]: {"level":"info","ts":"2026-04-29T01:34:32.317166Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094112","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:32 np0000094112 etcd[60732]: {"level":"info","ts":"2026-04-29T01:34:32.317249Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094112","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:32 np0000094112 etcd[60732]: {"level":"warn","ts":"2026-04-29T01:34:32.317308Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 29 01:34:32 np0000094112 etcd[60732]: {"level":"fatal","ts":"2026-04-29T01:34:32.317374Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 29 01:34:32 np0000094112 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 29 01:34:32 np0000094112 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 29 01:34:32 np0000094112 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 29 01:34:32 np0000094112 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 29 01:34:32 np0000094112 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 29 01:34:32 np0000094112 etcd[60767]: {"level":"warn","ts":"2026-04-29T01:34:32.565223Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 01:34:32 np0000094112 etcd[60767]: {"level":"info","ts":"2026-04-29T01:34:32.565426Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094112","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094112=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 29 01:34:32 np0000094112 etcd[60767]: {"level":"warn","ts":"2026-04-29T01:34:32.565626Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 01:34:32 np0000094112 etcd[60767]: {"level":"info","ts":"2026-04-29T01:34:32.565669Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 29 01:34:32 np0000094112 etcd[60767]: {"level":"info","ts":"2026-04-29T01:34:32.566254Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:32 np0000094112 etcd[60767]: {"level":"info","ts":"2026-04-29T01:34:32.566378Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094112","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:32 np0000094112 etcd[60767]: {"level":"info","ts":"2026-04-29T01:34:32.566465Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094112","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 01:34:32 np0000094112 etcd[60767]: {"level":"warn","ts":"2026-04-29T01:34:32.566534Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 29 01:34:32 np0000094112 etcd[60767]: {"level":"fatal","ts":"2026-04-29T01:34:32.566628Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 29 01:34:32 np0000094112 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 29 01:34:32 np0000094112 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 29 01:34:32 np0000094112 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 29 01:34:32 np0000094112 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 29 01:34:32 np0000094112 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 29 01:34:32 np0000094112 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 29 01:34:32 np0000094112 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
