Jun 04 06:03:57 np0000094239 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 06:03:57 np0000094239 etcd[60589]: {"level":"warn","ts":"2026-06-04T06:03:57.128505Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 06:03:57 np0000094239 etcd[60589]: {"level":"info","ts":"2026-06-04T06:03:57.128641Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094239","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094239=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 06:03:57 np0000094239 etcd[60589]: {"level":"warn","ts":"2026-06-04T06:03:57.128768Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 06:03:57 np0000094239 etcd[60589]: {"level":"info","ts":"2026-06-04T06:03:57.128791Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 06:03:57 np0000094239 etcd[60589]: {"level":"info","ts":"2026-06-04T06:03:57.129166Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:57 np0000094239 etcd[60589]: {"level":"info","ts":"2026-06-04T06:03:57.129253Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:57 np0000094239 etcd[60589]: {"level":"info","ts":"2026-06-04T06:03:57.129316Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:57 np0000094239 etcd[60589]: {"level":"warn","ts":"2026-06-04T06:03:57.129357Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 06:03:57 np0000094239 etcd[60589]: {"level":"fatal","ts":"2026-06-04T06:03:57.129458Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 06:03:57 np0000094239 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 06:03:57 np0000094239 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 06:03:57 np0000094239 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 06:03:57 np0000094239 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 04 06:03:57 np0000094239 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 06:03:57 np0000094239 etcd[60683]: {"level":"warn","ts":"2026-06-04T06:03:57.525237Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 06:03:57 np0000094239 etcd[60683]: {"level":"info","ts":"2026-06-04T06:03:57.525464Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094239","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094239=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 06:03:57 np0000094239 etcd[60683]: {"level":"warn","ts":"2026-06-04T06:03:57.525604Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 06:03:57 np0000094239 etcd[60683]: {"level":"info","ts":"2026-06-04T06:03:57.525629Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 06:03:57 np0000094239 etcd[60683]: {"level":"info","ts":"2026-06-04T06:03:57.526006Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:57 np0000094239 etcd[60683]: {"level":"info","ts":"2026-06-04T06:03:57.526101Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:57 np0000094239 etcd[60683]: {"level":"info","ts":"2026-06-04T06:03:57.526172Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:57 np0000094239 etcd[60683]: {"level":"warn","ts":"2026-06-04T06:03:57.526225Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 06:03:57 np0000094239 etcd[60683]: {"level":"fatal","ts":"2026-06-04T06:03:57.526279Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 06:03:57 np0000094239 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 06:03:57 np0000094239 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 06:03:57 np0000094239 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 06:03:57 np0000094239 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 04 06:03:57 np0000094239 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 06:03:57 np0000094239 etcd[60710]: {"level":"warn","ts":"2026-06-04T06:03:57.775091Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 06:03:57 np0000094239 etcd[60710]: {"level":"info","ts":"2026-06-04T06:03:57.775280Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094239","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094239=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 06:03:57 np0000094239 etcd[60710]: {"level":"warn","ts":"2026-06-04T06:03:57.775536Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 06:03:57 np0000094239 etcd[60710]: {"level":"info","ts":"2026-06-04T06:03:57.775575Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 06:03:57 np0000094239 etcd[60710]: {"level":"info","ts":"2026-06-04T06:03:57.776043Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:57 np0000094239 etcd[60710]: {"level":"info","ts":"2026-06-04T06:03:57.776197Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:57 np0000094239 etcd[60710]: {"level":"info","ts":"2026-06-04T06:03:57.776295Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:57 np0000094239 etcd[60710]: {"level":"warn","ts":"2026-06-04T06:03:57.776346Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 06:03:57 np0000094239 etcd[60710]: {"level":"fatal","ts":"2026-06-04T06:03:57.776512Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 06:03:57 np0000094239 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 06:03:57 np0000094239 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 06:03:57 np0000094239 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 06:03:57 np0000094239 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 04 06:03:57 np0000094239 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 06:03:57 np0000094239 etcd[60723]: {"level":"warn","ts":"2026-06-04T06:03:57.984938Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 06:03:57 np0000094239 etcd[60723]: {"level":"info","ts":"2026-06-04T06:03:57.985047Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094239","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094239=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 06:03:57 np0000094239 etcd[60723]: {"level":"warn","ts":"2026-06-04T06:03:57.985139Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 06:03:57 np0000094239 etcd[60723]: {"level":"info","ts":"2026-06-04T06:03:57.985159Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 06:03:57 np0000094239 etcd[60723]: {"level":"info","ts":"2026-06-04T06:03:57.985478Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:57 np0000094239 etcd[60723]: {"level":"info","ts":"2026-06-04T06:03:57.985550Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:57 np0000094239 etcd[60723]: {"level":"info","ts":"2026-06-04T06:03:57.985583Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:57 np0000094239 etcd[60723]: {"level":"warn","ts":"2026-06-04T06:03:57.985612Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 06:03:57 np0000094239 etcd[60723]: {"level":"fatal","ts":"2026-06-04T06:03:57.985651Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 06:03:57 np0000094239 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 06:03:57 np0000094239 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 06:03:57 np0000094239 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 06:03:58 np0000094239 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 04 06:03:58 np0000094239 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 06:03:58 np0000094239 etcd[60766]: {"level":"warn","ts":"2026-06-04T06:03:58.266935Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 06:03:58 np0000094239 etcd[60766]: {"level":"info","ts":"2026-06-04T06:03:58.267923Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094239","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094239=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 06:03:58 np0000094239 etcd[60766]: {"level":"warn","ts":"2026-06-04T06:03:58.268150Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 06:03:58 np0000094239 etcd[60766]: {"level":"info","ts":"2026-06-04T06:03:58.268186Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 06:03:58 np0000094239 etcd[60766]: {"level":"info","ts":"2026-06-04T06:03:58.269234Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:58 np0000094239 etcd[60766]: {"level":"info","ts":"2026-06-04T06:03:58.269356Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:58 np0000094239 etcd[60766]: {"level":"info","ts":"2026-06-04T06:03:58.270230Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094239","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 06:03:58 np0000094239 etcd[60766]: {"level":"warn","ts":"2026-06-04T06:03:58.270369Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 06:03:58 np0000094239 etcd[60766]: {"level":"fatal","ts":"2026-06-04T06:03:58.270607Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 06:03:58 np0000094239 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 06:03:58 np0000094239 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 06:03:58 np0000094239 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 06:03:58 np0000094239 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 04 06:03:58 np0000094239 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 04 06:03:58 np0000094239 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 06:03:58 np0000094239 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
