Jun 04 11:03:31 np0000094242 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 11:03:31 np0000094242 etcd[60609]: {"level":"warn","ts":"2026-06-04T11:03:31.805850Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 11:03:31 np0000094242 etcd[60609]: {"level":"info","ts":"2026-06-04T11:03:31.805981Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094242","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094242=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 11:03:31 np0000094242 etcd[60609]: {"level":"warn","ts":"2026-06-04T11:03:31.806199Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 11:03:31 np0000094242 etcd[60609]: {"level":"info","ts":"2026-06-04T11:03:31.806227Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 11:03:31 np0000094242 etcd[60609]: {"level":"info","ts":"2026-06-04T11:03:31.806609Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:31 np0000094242 etcd[60609]: {"level":"info","ts":"2026-06-04T11:03:31.806691Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:31 np0000094242 etcd[60609]: {"level":"info","ts":"2026-06-04T11:03:31.806749Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:31 np0000094242 etcd[60609]: {"level":"warn","ts":"2026-06-04T11:03:31.806787Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 11:03:31 np0000094242 etcd[60609]: {"level":"fatal","ts":"2026-06-04T11:03:31.806832Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 11:03:31 np0000094242 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 11:03:31 np0000094242 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 11:03:31 np0000094242 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 11:03:32 np0000094242 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 04 11:03:32 np0000094242 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 11:03:32 np0000094242 etcd[60721]: {"level":"warn","ts":"2026-06-04T11:03:32.213805Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 11:03:32 np0000094242 etcd[60721]: {"level":"info","ts":"2026-06-04T11:03:32.213971Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094242","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094242=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 11:03:32 np0000094242 etcd[60721]: {"level":"warn","ts":"2026-06-04T11:03:32.214141Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 11:03:32 np0000094242 etcd[60721]: {"level":"info","ts":"2026-06-04T11:03:32.214179Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 11:03:32 np0000094242 etcd[60721]: {"level":"info","ts":"2026-06-04T11:03:32.214953Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:32 np0000094242 etcd[60721]: {"level":"info","ts":"2026-06-04T11:03:32.215075Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:32 np0000094242 etcd[60721]: {"level":"info","ts":"2026-06-04T11:03:32.215171Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:32 np0000094242 etcd[60721]: {"level":"warn","ts":"2026-06-04T11:03:32.215223Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 11:03:32 np0000094242 etcd[60721]: {"level":"fatal","ts":"2026-06-04T11:03:32.215298Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 11:03:32 np0000094242 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 11:03:32 np0000094242 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 11:03:32 np0000094242 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 11:03:32 np0000094242 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 04 11:03:32 np0000094242 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 11:03:32 np0000094242 etcd[60728]: {"level":"warn","ts":"2026-06-04T11:03:32.474373Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 11:03:32 np0000094242 etcd[60728]: {"level":"info","ts":"2026-06-04T11:03:32.475631Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094242","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094242=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 11:03:32 np0000094242 etcd[60728]: {"level":"warn","ts":"2026-06-04T11:03:32.475866Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 11:03:32 np0000094242 etcd[60728]: {"level":"info","ts":"2026-06-04T11:03:32.475907Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 11:03:32 np0000094242 etcd[60728]: {"level":"info","ts":"2026-06-04T11:03:32.476440Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:32 np0000094242 etcd[60728]: {"level":"info","ts":"2026-06-04T11:03:32.476570Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:32 np0000094242 etcd[60728]: {"level":"info","ts":"2026-06-04T11:03:32.476652Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:32 np0000094242 etcd[60728]: {"level":"warn","ts":"2026-06-04T11:03:32.476687Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 11:03:32 np0000094242 etcd[60728]: {"level":"fatal","ts":"2026-06-04T11:03:32.476734Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 11:03:32 np0000094242 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 11:03:32 np0000094242 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 11:03:32 np0000094242 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 11:03:32 np0000094242 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 04 11:03:32 np0000094242 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 11:03:32 np0000094242 etcd[60752]: {"level":"warn","ts":"2026-06-04T11:03:32.709533Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 11:03:32 np0000094242 etcd[60752]: {"level":"info","ts":"2026-06-04T11:03:32.709849Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094242","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094242=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 11:03:32 np0000094242 etcd[60752]: {"level":"warn","ts":"2026-06-04T11:03:32.710086Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 11:03:32 np0000094242 etcd[60752]: {"level":"info","ts":"2026-06-04T11:03:32.710148Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 11:03:32 np0000094242 etcd[60752]: {"level":"info","ts":"2026-06-04T11:03:32.710649Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:32 np0000094242 etcd[60752]: {"level":"info","ts":"2026-06-04T11:03:32.710778Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:32 np0000094242 etcd[60752]: {"level":"info","ts":"2026-06-04T11:03:32.710868Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:32 np0000094242 etcd[60752]: {"level":"warn","ts":"2026-06-04T11:03:32.710929Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 11:03:32 np0000094242 etcd[60752]: {"level":"fatal","ts":"2026-06-04T11:03:32.710997Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 11:03:32 np0000094242 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 11:03:32 np0000094242 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 11:03:32 np0000094242 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 11:03:32 np0000094242 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 04 11:03:32 np0000094242 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 11:03:32 np0000094242 etcd[60789]: {"level":"warn","ts":"2026-06-04T11:03:32.968745Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 11:03:32 np0000094242 etcd[60789]: {"level":"info","ts":"2026-06-04T11:03:32.968981Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094242","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094242=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 11:03:32 np0000094242 etcd[60789]: {"level":"warn","ts":"2026-06-04T11:03:32.969187Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 11:03:32 np0000094242 etcd[60789]: {"level":"info","ts":"2026-06-04T11:03:32.969222Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 11:03:32 np0000094242 etcd[60789]: {"level":"info","ts":"2026-06-04T11:03:32.969807Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:32 np0000094242 etcd[60789]: {"level":"info","ts":"2026-06-04T11:03:32.969925Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:32 np0000094242 etcd[60789]: {"level":"info","ts":"2026-06-04T11:03:32.970004Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094242","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 11:03:32 np0000094242 etcd[60789]: {"level":"warn","ts":"2026-06-04T11:03:32.970069Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 11:03:32 np0000094242 etcd[60789]: {"level":"fatal","ts":"2026-06-04T11:03:32.970150Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 11:03:32 np0000094242 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 11:03:32 np0000094242 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 11:03:32 np0000094242 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 11:03:33 np0000094242 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 04 11:03:33 np0000094242 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 04 11:03:33 np0000094242 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 11:03:33 np0000094242 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
