Jun 04 16:48:18 np0000094247 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 16:48:18 np0000094247 etcd[60103]: {"level":"warn","ts":"2026-06-04T16:48:18.997438Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 16:48:19 np0000094247 etcd[60103]: {"level":"info","ts":"2026-06-04T16:48:18.998845Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094247","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094247=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 16:48:19 np0000094247 etcd[60103]: {"level":"warn","ts":"2026-06-04T16:48:18.999089Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 16:48:19 np0000094247 etcd[60103]: {"level":"info","ts":"2026-06-04T16:48:18.999124Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 16:48:19 np0000094247 etcd[60103]: {"level":"info","ts":"2026-06-04T16:48:18.999572Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:19 np0000094247 etcd[60103]: {"level":"info","ts":"2026-06-04T16:48:18.999701Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:19 np0000094247 etcd[60103]: {"level":"info","ts":"2026-06-04T16:48:18.999857Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:19 np0000094247 etcd[60103]: {"level":"warn","ts":"2026-06-04T16:48:18.999917Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 16:48:19 np0000094247 etcd[60103]: {"level":"fatal","ts":"2026-06-04T16:48:18.999985Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 16:48:19 np0000094247 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 16:48:19 np0000094247 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 16:48:19 np0000094247 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 16:48:19 np0000094247 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 04 16:48:19 np0000094247 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 16:48:19 np0000094247 etcd[60184]: {"level":"warn","ts":"2026-06-04T16:48:19.361544Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 16:48:19 np0000094247 etcd[60184]: {"level":"info","ts":"2026-06-04T16:48:19.361736Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094247","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094247=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 16:48:19 np0000094247 etcd[60184]: {"level":"warn","ts":"2026-06-04T16:48:19.361953Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 16:48:19 np0000094247 etcd[60184]: {"level":"info","ts":"2026-06-04T16:48:19.361987Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 16:48:19 np0000094247 etcd[60184]: {"level":"info","ts":"2026-06-04T16:48:19.362489Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:19 np0000094247 etcd[60184]: {"level":"info","ts":"2026-06-04T16:48:19.362615Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:19 np0000094247 etcd[60184]: {"level":"info","ts":"2026-06-04T16:48:19.362702Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:19 np0000094247 etcd[60184]: {"level":"warn","ts":"2026-06-04T16:48:19.362761Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 16:48:19 np0000094247 etcd[60184]: {"level":"fatal","ts":"2026-06-04T16:48:19.362903Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 16:48:19 np0000094247 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 16:48:19 np0000094247 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 16:48:19 np0000094247 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 16:48:19 np0000094247 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 04 16:48:19 np0000094247 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 16:48:19 np0000094247 etcd[60223]: {"level":"warn","ts":"2026-06-04T16:48:19.608455Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 16:48:19 np0000094247 etcd[60223]: {"level":"info","ts":"2026-06-04T16:48:19.608686Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094247","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094247=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 16:48:19 np0000094247 etcd[60223]: {"level":"warn","ts":"2026-06-04T16:48:19.608926Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 16:48:19 np0000094247 etcd[60223]: {"level":"info","ts":"2026-06-04T16:48:19.608961Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 16:48:19 np0000094247 etcd[60223]: {"level":"info","ts":"2026-06-04T16:48:19.609406Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:19 np0000094247 etcd[60223]: {"level":"info","ts":"2026-06-04T16:48:19.609555Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:19 np0000094247 etcd[60223]: {"level":"info","ts":"2026-06-04T16:48:19.609613Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:19 np0000094247 etcd[60223]: {"level":"warn","ts":"2026-06-04T16:48:19.609664Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 16:48:19 np0000094247 etcd[60223]: {"level":"fatal","ts":"2026-06-04T16:48:19.609739Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 16:48:19 np0000094247 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 16:48:19 np0000094247 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 16:48:19 np0000094247 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 16:48:19 np0000094247 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 04 16:48:19 np0000094247 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 16:48:19 np0000094247 etcd[60234]: {"level":"warn","ts":"2026-06-04T16:48:19.833279Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 16:48:19 np0000094247 etcd[60234]: {"level":"info","ts":"2026-06-04T16:48:19.833407Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094247","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094247=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 16:48:19 np0000094247 etcd[60234]: {"level":"warn","ts":"2026-06-04T16:48:19.833492Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 16:48:19 np0000094247 etcd[60234]: {"level":"info","ts":"2026-06-04T16:48:19.833512Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 16:48:19 np0000094247 etcd[60234]: {"level":"info","ts":"2026-06-04T16:48:19.833773Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:19 np0000094247 etcd[60234]: {"level":"info","ts":"2026-06-04T16:48:19.833858Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:19 np0000094247 etcd[60234]: {"level":"info","ts":"2026-06-04T16:48:19.833904Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:19 np0000094247 etcd[60234]: {"level":"warn","ts":"2026-06-04T16:48:19.833934Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 16:48:19 np0000094247 etcd[60234]: {"level":"fatal","ts":"2026-06-04T16:48:19.833969Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 16:48:19 np0000094247 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 16:48:19 np0000094247 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 16:48:19 np0000094247 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 16:48:20 np0000094247 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 04 16:48:20 np0000094247 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 16:48:20 np0000094247 etcd[60271]: {"level":"warn","ts":"2026-06-04T16:48:20.105205Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 16:48:20 np0000094247 etcd[60271]: {"level":"info","ts":"2026-06-04T16:48:20.105404Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094247","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094247=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 16:48:20 np0000094247 etcd[60271]: {"level":"warn","ts":"2026-06-04T16:48:20.105563Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 16:48:20 np0000094247 etcd[60271]: {"level":"info","ts":"2026-06-04T16:48:20.105606Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 16:48:20 np0000094247 etcd[60271]: {"level":"info","ts":"2026-06-04T16:48:20.106331Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:20 np0000094247 etcd[60271]: {"level":"info","ts":"2026-06-04T16:48:20.106464Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:20 np0000094247 etcd[60271]: {"level":"info","ts":"2026-06-04T16:48:20.106571Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094247","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 16:48:20 np0000094247 etcd[60271]: {"level":"warn","ts":"2026-06-04T16:48:20.106630Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 16:48:20 np0000094247 etcd[60271]: {"level":"fatal","ts":"2026-06-04T16:48:20.106699Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 16:48:20 np0000094247 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 16:48:20 np0000094247 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 16:48:20 np0000094247 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 16:48:20 np0000094247 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 04 16:48:20 np0000094247 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 04 16:48:20 np0000094247 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 16:48:20 np0000094247 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
