Apr 10 05:32:20 np0000093900 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 05:32:20 np0000093900 etcd[61200]: {"level":"warn","ts":"2026-04-10T05:32:20.557104Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 05:32:20 np0000093900 etcd[61200]: {"level":"info","ts":"2026-04-10T05:32:20.557258Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093900","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093900=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 05:32:20 np0000093900 etcd[61200]: {"level":"warn","ts":"2026-04-10T05:32:20.557356Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 05:32:20 np0000093900 etcd[61200]: {"level":"info","ts":"2026-04-10T05:32:20.557377Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 05:32:20 np0000093900 etcd[61200]: {"level":"info","ts":"2026-04-10T05:32:20.557651Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:20 np0000093900 etcd[61200]: {"level":"info","ts":"2026-04-10T05:32:20.557713Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093900","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:20 np0000093900 etcd[61200]: {"level":"info","ts":"2026-04-10T05:32:20.557758Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093900","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:20 np0000093900 etcd[61200]: {"level":"warn","ts":"2026-04-10T05:32:20.557802Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 05:32:20 np0000093900 etcd[61200]: {"level":"fatal","ts":"2026-04-10T05:32:20.557850Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 05:32:20 np0000093900 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 05:32:20 np0000093900 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 05:32:20 np0000093900 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 05:32:20 np0000093900 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 10 05:32:20 np0000093900 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 05:32:20 np0000093900 etcd[61287]: {"level":"warn","ts":"2026-04-10T05:32:20.842814Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 05:32:20 np0000093900 etcd[61287]: {"level":"info","ts":"2026-04-10T05:32:20.842879Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093900","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093900=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 05:32:20 np0000093900 etcd[61287]: {"level":"warn","ts":"2026-04-10T05:32:20.842939Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 05:32:20 np0000093900 etcd[61287]: {"level":"info","ts":"2026-04-10T05:32:20.842949Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 05:32:20 np0000093900 etcd[61287]: {"level":"info","ts":"2026-04-10T05:32:20.843153Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:20 np0000093900 etcd[61287]: {"level":"info","ts":"2026-04-10T05:32:20.843196Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093900","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:20 np0000093900 etcd[61287]: {"level":"info","ts":"2026-04-10T05:32:20.843226Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093900","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:20 np0000093900 etcd[61287]: {"level":"warn","ts":"2026-04-10T05:32:20.843250Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 05:32:20 np0000093900 etcd[61287]: {"level":"fatal","ts":"2026-04-10T05:32:20.843278Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 05:32:20 np0000093900 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 05:32:20 np0000093900 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 05:32:20 np0000093900 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 05:32:21 np0000093900 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 10 05:32:21 np0000093900 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 05:32:21 np0000093900 etcd[61321]: {"level":"warn","ts":"2026-04-10T05:32:21.134259Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 05:32:21 np0000093900 etcd[61321]: {"level":"info","ts":"2026-04-10T05:32:21.134453Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093900","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093900=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 05:32:21 np0000093900 etcd[61321]: {"level":"warn","ts":"2026-04-10T05:32:21.134626Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 05:32:21 np0000093900 etcd[61321]: {"level":"info","ts":"2026-04-10T05:32:21.134657Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 05:32:21 np0000093900 etcd[61321]: {"level":"info","ts":"2026-04-10T05:32:21.135084Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:21 np0000093900 etcd[61321]: {"level":"info","ts":"2026-04-10T05:32:21.135247Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093900","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:21 np0000093900 etcd[61321]: {"level":"info","ts":"2026-04-10T05:32:21.135330Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093900","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:21 np0000093900 etcd[61321]: {"level":"warn","ts":"2026-04-10T05:32:21.135389Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 05:32:21 np0000093900 etcd[61321]: {"level":"fatal","ts":"2026-04-10T05:32:21.135464Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 05:32:21 np0000093900 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 05:32:21 np0000093900 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 05:32:21 np0000093900 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 05:32:21 np0000093900 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 10 05:32:21 np0000093900 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 05:32:21 np0000093900 etcd[61341]: {"level":"warn","ts":"2026-04-10T05:32:21.381229Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 05:32:21 np0000093900 etcd[61341]: {"level":"info","ts":"2026-04-10T05:32:21.381412Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093900","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093900=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 05:32:21 np0000093900 etcd[61341]: {"level":"warn","ts":"2026-04-10T05:32:21.381584Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 05:32:21 np0000093900 etcd[61341]: {"level":"info","ts":"2026-04-10T05:32:21.381625Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 05:32:21 np0000093900 etcd[61341]: {"level":"info","ts":"2026-04-10T05:32:21.382224Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:21 np0000093900 etcd[61341]: {"level":"info","ts":"2026-04-10T05:32:21.382364Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093900","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:21 np0000093900 etcd[61341]: {"level":"info","ts":"2026-04-10T05:32:21.382450Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093900","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:21 np0000093900 etcd[61341]: {"level":"warn","ts":"2026-04-10T05:32:21.382508Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 05:32:21 np0000093900 etcd[61341]: {"level":"fatal","ts":"2026-04-10T05:32:21.382601Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 05:32:21 np0000093900 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 05:32:21 np0000093900 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 05:32:21 np0000093900 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 05:32:21 np0000093900 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 10 05:32:21 np0000093900 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 05:32:21 np0000093900 etcd[61374]: {"level":"warn","ts":"2026-04-10T05:32:21.653760Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 05:32:21 np0000093900 etcd[61374]: {"level":"info","ts":"2026-04-10T05:32:21.654004Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093900","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093900=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 05:32:21 np0000093900 etcd[61374]: {"level":"warn","ts":"2026-04-10T05:32:21.655420Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 05:32:21 np0000093900 etcd[61374]: {"level":"info","ts":"2026-04-10T05:32:21.655491Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 05:32:21 np0000093900 etcd[61374]: {"level":"info","ts":"2026-04-10T05:32:21.656049Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:21 np0000093900 etcd[61374]: {"level":"info","ts":"2026-04-10T05:32:21.656217Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093900","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:21 np0000093900 etcd[61374]: {"level":"info","ts":"2026-04-10T05:32:21.656305Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093900","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 05:32:21 np0000093900 etcd[61374]: {"level":"warn","ts":"2026-04-10T05:32:21.656370Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 05:32:21 np0000093900 etcd[61374]: {"level":"fatal","ts":"2026-04-10T05:32:21.656442Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 05:32:21 np0000093900 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 05:32:21 np0000093900 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 05:32:21 np0000093900 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 05:32:21 np0000093900 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 10 05:32:21 np0000093900 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 10 05:32:21 np0000093900 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 05:32:21 np0000093900 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
