Jun 24 12:28:24 np0000094460 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 12:28:24 np0000094460 etcd[60486]: {"level":"warn","ts":"2026-06-24T12:28:24.312361Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:28:24 np0000094460 etcd[60486]: {"level":"info","ts":"2026-06-24T12:28:24.312613Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094460","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094460=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 12:28:24 np0000094460 etcd[60486]: {"level":"warn","ts":"2026-06-24T12:28:24.312817Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:28:24 np0000094460 etcd[60486]: {"level":"info","ts":"2026-06-24T12:28:24.312871Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 12:28:24 np0000094460 etcd[60486]: {"level":"info","ts":"2026-06-24T12:28:24.313397Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:24 np0000094460 etcd[60486]: {"level":"info","ts":"2026-06-24T12:28:24.313526Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094460","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:24 np0000094460 etcd[60486]: {"level":"info","ts":"2026-06-24T12:28:24.313630Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094460","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:24 np0000094460 etcd[60486]: {"level":"warn","ts":"2026-06-24T12:28:24.313684Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 12:28:24 np0000094460 etcd[60486]: {"level":"fatal","ts":"2026-06-24T12:28:24.313746Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 12:28:24 np0000094460 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 12:28:24 np0000094460 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 12:28:24 np0000094460 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 12:28:24 np0000094460 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 24 12:28:24 np0000094460 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 12:28:24 np0000094460 etcd[60562]: {"level":"warn","ts":"2026-06-24T12:28:24.632311Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:28:24 np0000094460 etcd[60562]: {"level":"info","ts":"2026-06-24T12:28:24.632467Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094460","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094460=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 12:28:24 np0000094460 etcd[60562]: {"level":"warn","ts":"2026-06-24T12:28:24.632656Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:28:24 np0000094460 etcd[60562]: {"level":"info","ts":"2026-06-24T12:28:24.632684Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 12:28:24 np0000094460 etcd[60562]: {"level":"info","ts":"2026-06-24T12:28:24.633120Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:24 np0000094460 etcd[60562]: {"level":"info","ts":"2026-06-24T12:28:24.633224Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094460","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:24 np0000094460 etcd[60562]: {"level":"info","ts":"2026-06-24T12:28:24.633297Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094460","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:24 np0000094460 etcd[60562]: {"level":"warn","ts":"2026-06-24T12:28:24.633356Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 12:28:24 np0000094460 etcd[60562]: {"level":"fatal","ts":"2026-06-24T12:28:24.633436Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 12:28:24 np0000094460 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 12:28:24 np0000094460 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 12:28:24 np0000094460 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 12:28:24 np0000094460 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 24 12:28:24 np0000094460 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 12:28:24 np0000094460 etcd[60606]: {"level":"warn","ts":"2026-06-24T12:28:24.878367Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:28:24 np0000094460 etcd[60606]: {"level":"info","ts":"2026-06-24T12:28:24.878574Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094460","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094460=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 12:28:24 np0000094460 etcd[60606]: {"level":"warn","ts":"2026-06-24T12:28:24.878838Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:28:24 np0000094460 etcd[60606]: {"level":"info","ts":"2026-06-24T12:28:24.878873Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 12:28:24 np0000094460 etcd[60606]: {"level":"info","ts":"2026-06-24T12:28:24.879330Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:24 np0000094460 etcd[60606]: {"level":"info","ts":"2026-06-24T12:28:24.879451Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094460","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:24 np0000094460 etcd[60606]: {"level":"info","ts":"2026-06-24T12:28:24.879534Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094460","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:24 np0000094460 etcd[60606]: {"level":"warn","ts":"2026-06-24T12:28:24.879623Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 12:28:24 np0000094460 etcd[60606]: {"level":"fatal","ts":"2026-06-24T12:28:24.879690Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 12:28:24 np0000094460 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 12:28:24 np0000094460 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 12:28:24 np0000094460 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 12:28:25 np0000094460 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 24 12:28:25 np0000094460 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 12:28:25 np0000094460 etcd[60614]: {"level":"warn","ts":"2026-06-24T12:28:25.137475Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:28:25 np0000094460 etcd[60614]: {"level":"info","ts":"2026-06-24T12:28:25.138669Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094460","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094460=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 12:28:25 np0000094460 etcd[60614]: {"level":"warn","ts":"2026-06-24T12:28:25.138900Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:28:25 np0000094460 etcd[60614]: {"level":"info","ts":"2026-06-24T12:28:25.138950Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 12:28:25 np0000094460 etcd[60614]: {"level":"info","ts":"2026-06-24T12:28:25.139549Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:25 np0000094460 etcd[60614]: {"level":"info","ts":"2026-06-24T12:28:25.139715Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094460","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:25 np0000094460 etcd[60614]: {"level":"info","ts":"2026-06-24T12:28:25.139794Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094460","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:25 np0000094460 etcd[60614]: {"level":"warn","ts":"2026-06-24T12:28:25.139872Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 12:28:25 np0000094460 etcd[60614]: {"level":"fatal","ts":"2026-06-24T12:28:25.139939Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 12:28:25 np0000094460 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 12:28:25 np0000094460 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 12:28:25 np0000094460 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 12:28:25 np0000094460 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 24 12:28:25 np0000094460 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 12:28:25 np0000094460 etcd[60656]: {"level":"warn","ts":"2026-06-24T12:28:25.363307Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:28:25 np0000094460 etcd[60656]: {"level":"info","ts":"2026-06-24T12:28:25.363447Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094460","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094460=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 12:28:25 np0000094460 etcd[60656]: {"level":"warn","ts":"2026-06-24T12:28:25.363569Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:28:25 np0000094460 etcd[60656]: {"level":"info","ts":"2026-06-24T12:28:25.363615Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 12:28:25 np0000094460 etcd[60656]: {"level":"info","ts":"2026-06-24T12:28:25.363955Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:25 np0000094460 etcd[60656]: {"level":"info","ts":"2026-06-24T12:28:25.364036Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094460","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:25 np0000094460 etcd[60656]: {"level":"info","ts":"2026-06-24T12:28:25.364089Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094460","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:28:25 np0000094460 etcd[60656]: {"level":"warn","ts":"2026-06-24T12:28:25.364140Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 12:28:25 np0000094460 etcd[60656]: {"level":"fatal","ts":"2026-06-24T12:28:25.364184Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 12:28:25 np0000094460 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 12:28:25 np0000094460 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 12:28:25 np0000094460 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 12:28:25 np0000094460 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 24 12:28:25 np0000094460 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 24 12:28:25 np0000094460 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 12:28:25 np0000094460 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
