Jun 16 19:51:48 np0000094371 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 19:51:48 np0000094371 etcd[60346]: {"level":"warn","ts":"2026-06-16T19:51:48.788766Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 19:51:48 np0000094371 etcd[60346]: {"level":"info","ts":"2026-06-16T19:51:48.788955Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094371","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094371=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 19:51:48 np0000094371 etcd[60346]: {"level":"warn","ts":"2026-06-16T19:51:48.789134Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 19:51:48 np0000094371 etcd[60346]: {"level":"info","ts":"2026-06-16T19:51:48.789176Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 19:51:48 np0000094371 etcd[60346]: {"level":"info","ts":"2026-06-16T19:51:48.789823Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:48 np0000094371 etcd[60346]: {"level":"info","ts":"2026-06-16T19:51:48.789959Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094371","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:48 np0000094371 etcd[60346]: {"level":"info","ts":"2026-06-16T19:51:48.790047Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094371","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:48 np0000094371 etcd[60346]: {"level":"warn","ts":"2026-06-16T19:51:48.790108Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 19:51:48 np0000094371 etcd[60346]: {"level":"fatal","ts":"2026-06-16T19:51:48.790177Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 19:51:48 np0000094371 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 19:51:48 np0000094371 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 19:51:48 np0000094371 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 19:51:49 np0000094371 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 16 19:51:49 np0000094371 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 19:51:49 np0000094371 etcd[60448]: {"level":"warn","ts":"2026-06-16T19:51:49.200597Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 19:51:49 np0000094371 etcd[60448]: {"level":"info","ts":"2026-06-16T19:51:49.200861Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094371","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094371=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 19:51:49 np0000094371 etcd[60448]: {"level":"warn","ts":"2026-06-16T19:51:49.201032Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 19:51:49 np0000094371 etcd[60448]: {"level":"info","ts":"2026-06-16T19:51:49.201082Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 19:51:49 np0000094371 etcd[60448]: {"level":"info","ts":"2026-06-16T19:51:49.201708Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:49 np0000094371 etcd[60448]: {"level":"info","ts":"2026-06-16T19:51:49.201832Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094371","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:49 np0000094371 etcd[60448]: {"level":"info","ts":"2026-06-16T19:51:49.201912Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094371","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:49 np0000094371 etcd[60448]: {"level":"warn","ts":"2026-06-16T19:51:49.201971Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 19:51:49 np0000094371 etcd[60448]: {"level":"fatal","ts":"2026-06-16T19:51:49.202074Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 19:51:49 np0000094371 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 19:51:49 np0000094371 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 19:51:49 np0000094371 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 19:51:49 np0000094371 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 16 19:51:49 np0000094371 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 19:51:49 np0000094371 etcd[60466]: {"level":"warn","ts":"2026-06-16T19:51:49.461716Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 19:51:49 np0000094371 etcd[60466]: {"level":"info","ts":"2026-06-16T19:51:49.461927Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094371","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094371=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 19:51:49 np0000094371 etcd[60466]: {"level":"warn","ts":"2026-06-16T19:51:49.462112Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 19:51:49 np0000094371 etcd[60466]: {"level":"info","ts":"2026-06-16T19:51:49.462154Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 19:51:49 np0000094371 etcd[60466]: {"level":"info","ts":"2026-06-16T19:51:49.462715Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:49 np0000094371 etcd[60466]: {"level":"info","ts":"2026-06-16T19:51:49.462848Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094371","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:49 np0000094371 etcd[60466]: {"level":"info","ts":"2026-06-16T19:51:49.462936Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094371","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:49 np0000094371 etcd[60466]: {"level":"warn","ts":"2026-06-16T19:51:49.463002Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 19:51:49 np0000094371 etcd[60466]: {"level":"fatal","ts":"2026-06-16T19:51:49.463100Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 19:51:49 np0000094371 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 19:51:49 np0000094371 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 19:51:49 np0000094371 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 19:51:49 np0000094371 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 16 19:51:49 np0000094371 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 19:51:49 np0000094371 etcd[60487]: {"level":"warn","ts":"2026-06-16T19:51:49.704545Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 19:51:49 np0000094371 etcd[60487]: {"level":"info","ts":"2026-06-16T19:51:49.704791Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094371","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094371=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 19:51:49 np0000094371 etcd[60487]: {"level":"warn","ts":"2026-06-16T19:51:49.704966Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 19:51:49 np0000094371 etcd[60487]: {"level":"info","ts":"2026-06-16T19:51:49.704999Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 19:51:49 np0000094371 etcd[60487]: {"level":"info","ts":"2026-06-16T19:51:49.705567Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:49 np0000094371 etcd[60487]: {"level":"info","ts":"2026-06-16T19:51:49.705698Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094371","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:49 np0000094371 etcd[60487]: {"level":"info","ts":"2026-06-16T19:51:49.705786Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094371","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:49 np0000094371 etcd[60487]: {"level":"warn","ts":"2026-06-16T19:51:49.705845Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 19:51:49 np0000094371 etcd[60487]: {"level":"fatal","ts":"2026-06-16T19:51:49.705912Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 19:51:49 np0000094371 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 19:51:49 np0000094371 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 19:51:49 np0000094371 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 19:51:49 np0000094371 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 16 19:51:49 np0000094371 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 19:51:49 np0000094371 etcd[60528]: {"level":"warn","ts":"2026-06-16T19:51:49.955164Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 19:51:49 np0000094371 etcd[60528]: {"level":"info","ts":"2026-06-16T19:51:49.955484Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094371","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094371=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 19:51:49 np0000094371 etcd[60528]: {"level":"warn","ts":"2026-06-16T19:51:49.955687Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 19:51:49 np0000094371 etcd[60528]: {"level":"info","ts":"2026-06-16T19:51:49.955730Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 19:51:49 np0000094371 etcd[60528]: {"level":"info","ts":"2026-06-16T19:51:49.956432Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:49 np0000094371 etcd[60528]: {"level":"info","ts":"2026-06-16T19:51:49.956590Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094371","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:49 np0000094371 etcd[60528]: {"level":"info","ts":"2026-06-16T19:51:49.956677Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094371","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 19:51:49 np0000094371 etcd[60528]: {"level":"warn","ts":"2026-06-16T19:51:49.956737Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 19:51:49 np0000094371 etcd[60528]: {"level":"fatal","ts":"2026-06-16T19:51:49.956824Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 19:51:49 np0000094371 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 19:51:49 np0000094371 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 19:51:49 np0000094371 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 19:51:50 np0000094371 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 16 19:51:50 np0000094371 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 16 19:51:50 np0000094371 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 19:51:50 np0000094371 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
