Apr 20 11:44:52 np0000094022 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 11:44:52 np0000094022 etcd[60301]: {"level":"warn","ts":"2026-04-20T11:44:52.968549Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 11:44:52 np0000094022 etcd[60301]: {"level":"info","ts":"2026-04-20T11:44:52.968748Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094022","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094022=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 11:44:52 np0000094022 etcd[60301]: {"level":"warn","ts":"2026-04-20T11:44:52.968941Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 11:44:52 np0000094022 etcd[60301]: {"level":"info","ts":"2026-04-20T11:44:52.969011Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 11:44:52 np0000094022 etcd[60301]: {"level":"info","ts":"2026-04-20T11:44:52.969703Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:52 np0000094022 etcd[60301]: {"level":"info","ts":"2026-04-20T11:44:52.969896Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094022","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:52 np0000094022 etcd[60301]: {"level":"info","ts":"2026-04-20T11:44:52.971639Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094022","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:52 np0000094022 etcd[60301]: {"level":"warn","ts":"2026-04-20T11:44:52.971727Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 11:44:52 np0000094022 etcd[60301]: {"level":"fatal","ts":"2026-04-20T11:44:52.971804Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 11:44:52 np0000094022 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 11:44:52 np0000094022 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 11:44:52 np0000094022 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 11:44:53 np0000094022 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 20 11:44:53 np0000094022 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 11:44:53 np0000094022 etcd[60384]: {"level":"warn","ts":"2026-04-20T11:44:53.310023Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 11:44:53 np0000094022 etcd[60384]: {"level":"info","ts":"2026-04-20T11:44:53.310257Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094022","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094022=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 11:44:53 np0000094022 etcd[60384]: {"level":"warn","ts":"2026-04-20T11:44:53.310430Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 11:44:53 np0000094022 etcd[60384]: {"level":"info","ts":"2026-04-20T11:44:53.310470Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 11:44:53 np0000094022 etcd[60384]: {"level":"info","ts":"2026-04-20T11:44:53.311008Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:53 np0000094022 etcd[60384]: {"level":"info","ts":"2026-04-20T11:44:53.311151Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094022","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:53 np0000094022 etcd[60384]: {"level":"info","ts":"2026-04-20T11:44:53.311235Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094022","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:53 np0000094022 etcd[60384]: {"level":"warn","ts":"2026-04-20T11:44:53.311333Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 11:44:53 np0000094022 etcd[60384]: {"level":"fatal","ts":"2026-04-20T11:44:53.311402Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 11:44:53 np0000094022 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 11:44:53 np0000094022 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 11:44:53 np0000094022 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 11:44:53 np0000094022 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 20 11:44:53 np0000094022 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 11:44:53 np0000094022 etcd[60421]: {"level":"warn","ts":"2026-04-20T11:44:53.552561Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 11:44:53 np0000094022 etcd[60421]: {"level":"info","ts":"2026-04-20T11:44:53.552748Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094022","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094022=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 11:44:53 np0000094022 etcd[60421]: {"level":"warn","ts":"2026-04-20T11:44:53.552922Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 11:44:53 np0000094022 etcd[60421]: {"level":"info","ts":"2026-04-20T11:44:53.552964Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 11:44:53 np0000094022 etcd[60421]: {"level":"info","ts":"2026-04-20T11:44:53.553489Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:53 np0000094022 etcd[60421]: {"level":"info","ts":"2026-04-20T11:44:53.553611Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094022","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:53 np0000094022 etcd[60421]: {"level":"info","ts":"2026-04-20T11:44:53.553695Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094022","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:53 np0000094022 etcd[60421]: {"level":"warn","ts":"2026-04-20T11:44:53.553751Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 11:44:53 np0000094022 etcd[60421]: {"level":"fatal","ts":"2026-04-20T11:44:53.553828Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 11:44:53 np0000094022 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 11:44:53 np0000094022 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 11:44:53 np0000094022 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 11:44:53 np0000094022 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 20 11:44:53 np0000094022 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 11:44:53 np0000094022 etcd[60442]: {"level":"warn","ts":"2026-04-20T11:44:53.800772Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 11:44:53 np0000094022 etcd[60442]: {"level":"info","ts":"2026-04-20T11:44:53.800977Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094022","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094022=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 11:44:53 np0000094022 etcd[60442]: {"level":"warn","ts":"2026-04-20T11:44:53.801191Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 11:44:53 np0000094022 etcd[60442]: {"level":"info","ts":"2026-04-20T11:44:53.801231Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 11:44:53 np0000094022 etcd[60442]: {"level":"info","ts":"2026-04-20T11:44:53.801675Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:53 np0000094022 etcd[60442]: {"level":"info","ts":"2026-04-20T11:44:53.801793Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094022","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:53 np0000094022 etcd[60442]: {"level":"info","ts":"2026-04-20T11:44:53.801875Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094022","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:53 np0000094022 etcd[60442]: {"level":"warn","ts":"2026-04-20T11:44:53.801939Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 11:44:53 np0000094022 etcd[60442]: {"level":"fatal","ts":"2026-04-20T11:44:53.804375Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 11:44:53 np0000094022 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 11:44:53 np0000094022 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 11:44:53 np0000094022 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 11:44:53 np0000094022 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 20 11:44:54 np0000094022 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 11:44:54 np0000094022 etcd[60479]: {"level":"warn","ts":"2026-04-20T11:44:54.068755Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 11:44:54 np0000094022 etcd[60479]: {"level":"info","ts":"2026-04-20T11:44:54.068911Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094022","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094022=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 11:44:54 np0000094022 etcd[60479]: {"level":"warn","ts":"2026-04-20T11:44:54.069112Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 11:44:54 np0000094022 etcd[60479]: {"level":"info","ts":"2026-04-20T11:44:54.069142Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 11:44:54 np0000094022 etcd[60479]: {"level":"info","ts":"2026-04-20T11:44:54.069597Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:54 np0000094022 etcd[60479]: {"level":"info","ts":"2026-04-20T11:44:54.069707Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094022","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:54 np0000094022 etcd[60479]: {"level":"info","ts":"2026-04-20T11:44:54.069786Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094022","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 11:44:54 np0000094022 etcd[60479]: {"level":"warn","ts":"2026-04-20T11:44:54.069837Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 11:44:54 np0000094022 etcd[60479]: {"level":"fatal","ts":"2026-04-20T11:44:54.069919Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 11:44:54 np0000094022 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 11:44:54 np0000094022 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 11:44:54 np0000094022 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 11:44:54 np0000094022 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 20 11:44:54 np0000094022 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 20 11:44:54 np0000094022 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 11:44:54 np0000094022 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
