Jun 08 14:18:10 np0000094273 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 14:18:10 np0000094273 etcd[60120]: {"level":"warn","ts":"2026-06-08T14:18:10.313783Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:18:10 np0000094273 etcd[60120]: {"level":"info","ts":"2026-06-08T14:18:10.313988Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094273","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094273=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 14:18:10 np0000094273 etcd[60120]: {"level":"warn","ts":"2026-06-08T14:18:10.314204Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:18:10 np0000094273 etcd[60120]: {"level":"info","ts":"2026-06-08T14:18:10.314236Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 14:18:10 np0000094273 etcd[60120]: {"level":"info","ts":"2026-06-08T14:18:10.314739Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:10 np0000094273 etcd[60120]: {"level":"info","ts":"2026-06-08T14:18:10.314853Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094273","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:10 np0000094273 etcd[60120]: {"level":"info","ts":"2026-06-08T14:18:10.314940Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094273","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:10 np0000094273 etcd[60120]: {"level":"warn","ts":"2026-06-08T14:18:10.315017Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 14:18:10 np0000094273 etcd[60120]: {"level":"fatal","ts":"2026-06-08T14:18:10.315147Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 14:18:10 np0000094273 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 14:18:10 np0000094273 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 14:18:10 np0000094273 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 14:18:10 np0000094273 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 08 14:18:10 np0000094273 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 14:18:10 np0000094273 etcd[60205]: {"level":"warn","ts":"2026-06-08T14:18:10.653677Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:18:10 np0000094273 etcd[60205]: {"level":"info","ts":"2026-06-08T14:18:10.653912Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094273","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094273=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 14:18:10 np0000094273 etcd[60205]: {"level":"warn","ts":"2026-06-08T14:18:10.655802Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:18:10 np0000094273 etcd[60205]: {"level":"info","ts":"2026-06-08T14:18:10.656094Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 14:18:10 np0000094273 etcd[60205]: {"level":"info","ts":"2026-06-08T14:18:10.656733Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:10 np0000094273 etcd[60205]: {"level":"info","ts":"2026-06-08T14:18:10.656867Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094273","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:10 np0000094273 etcd[60205]: {"level":"info","ts":"2026-06-08T14:18:10.656991Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094273","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:10 np0000094273 etcd[60205]: {"level":"warn","ts":"2026-06-08T14:18:10.657773Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 14:18:10 np0000094273 etcd[60205]: {"level":"fatal","ts":"2026-06-08T14:18:10.657880Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 14:18:10 np0000094273 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 14:18:10 np0000094273 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 14:18:10 np0000094273 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 14:18:10 np0000094273 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 08 14:18:10 np0000094273 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 14:18:10 np0000094273 etcd[60239]: {"level":"warn","ts":"2026-06-08T14:18:10.908298Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:18:10 np0000094273 etcd[60239]: {"level":"info","ts":"2026-06-08T14:18:10.908490Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094273","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094273=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 14:18:10 np0000094273 etcd[60239]: {"level":"warn","ts":"2026-06-08T14:18:10.908660Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:18:10 np0000094273 etcd[60239]: {"level":"info","ts":"2026-06-08T14:18:10.908692Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 14:18:10 np0000094273 etcd[60239]: {"level":"info","ts":"2026-06-08T14:18:10.909278Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:10 np0000094273 etcd[60239]: {"level":"info","ts":"2026-06-08T14:18:10.909410Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094273","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:10 np0000094273 etcd[60239]: {"level":"info","ts":"2026-06-08T14:18:10.909497Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094273","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:10 np0000094273 etcd[60239]: {"level":"warn","ts":"2026-06-08T14:18:10.909557Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 14:18:10 np0000094273 etcd[60239]: {"level":"fatal","ts":"2026-06-08T14:18:10.909642Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 14:18:10 np0000094273 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 14:18:10 np0000094273 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 14:18:10 np0000094273 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 14:18:11 np0000094273 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 08 14:18:11 np0000094273 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 14:18:11 np0000094273 etcd[60260]: {"level":"warn","ts":"2026-06-08T14:18:11.150413Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:18:11 np0000094273 etcd[60260]: {"level":"info","ts":"2026-06-08T14:18:11.150602Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094273","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094273=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 14:18:11 np0000094273 etcd[60260]: {"level":"warn","ts":"2026-06-08T14:18:11.150788Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:18:11 np0000094273 etcd[60260]: {"level":"info","ts":"2026-06-08T14:18:11.150831Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 14:18:11 np0000094273 etcd[60260]: {"level":"info","ts":"2026-06-08T14:18:11.151442Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:11 np0000094273 etcd[60260]: {"level":"info","ts":"2026-06-08T14:18:11.151584Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094273","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:11 np0000094273 etcd[60260]: {"level":"info","ts":"2026-06-08T14:18:11.151672Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094273","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:11 np0000094273 etcd[60260]: {"level":"warn","ts":"2026-06-08T14:18:11.151730Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 14:18:11 np0000094273 etcd[60260]: {"level":"fatal","ts":"2026-06-08T14:18:11.151797Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 14:18:11 np0000094273 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 14:18:11 np0000094273 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 14:18:11 np0000094273 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 14:18:11 np0000094273 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 08 14:18:11 np0000094273 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 14:18:11 np0000094273 etcd[60296]: {"level":"warn","ts":"2026-06-08T14:18:11.410328Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:18:11 np0000094273 etcd[60296]: {"level":"info","ts":"2026-06-08T14:18:11.410550Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094273","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094273=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 14:18:11 np0000094273 etcd[60296]: {"level":"warn","ts":"2026-06-08T14:18:11.410734Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:18:11 np0000094273 etcd[60296]: {"level":"info","ts":"2026-06-08T14:18:11.410776Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 14:18:11 np0000094273 etcd[60296]: {"level":"info","ts":"2026-06-08T14:18:11.411359Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:11 np0000094273 etcd[60296]: {"level":"info","ts":"2026-06-08T14:18:11.411491Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094273","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:11 np0000094273 etcd[60296]: {"level":"info","ts":"2026-06-08T14:18:11.411578Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094273","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:18:11 np0000094273 etcd[60296]: {"level":"warn","ts":"2026-06-08T14:18:11.411638Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 14:18:11 np0000094273 etcd[60296]: {"level":"fatal","ts":"2026-06-08T14:18:11.411706Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 14:18:11 np0000094273 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 14:18:11 np0000094273 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 14:18:11 np0000094273 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 14:18:11 np0000094273 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 08 14:18:11 np0000094273 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 08 14:18:11 np0000094273 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 14:18:11 np0000094273 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
