Feb 13 11:21:21 np0000056229 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 11:21:21 np0000056229 etcd[60300]: {"level":"warn","ts":"2026-02-13T11:21:21.944778Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 11:21:21 np0000056229 etcd[60300]: {"level":"info","ts":"2026-02-13T11:21:21.944970Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056229","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056229=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 11:21:21 np0000056229 etcd[60300]: {"level":"warn","ts":"2026-02-13T11:21:21.945134Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 11:21:21 np0000056229 etcd[60300]: {"level":"info","ts":"2026-02-13T11:21:21.945175Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 11:21:21 np0000056229 etcd[60300]: {"level":"info","ts":"2026-02-13T11:21:21.945732Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:21 np0000056229 etcd[60300]: {"level":"info","ts":"2026-02-13T11:21:21.945898Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056229","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:21 np0000056229 etcd[60300]: {"level":"info","ts":"2026-02-13T11:21:21.945982Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056229","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:21 np0000056229 etcd[60300]: {"level":"warn","ts":"2026-02-13T11:21:21.946045Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 11:21:21 np0000056229 etcd[60300]: {"level":"fatal","ts":"2026-02-13T11:21:21.946115Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 11:21:21 np0000056229 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 11:21:21 np0000056229 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 11:21:21 np0000056229 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 11:21:22 np0000056229 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 11:21:22 np0000056229 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 11:21:22 np0000056229 etcd[60366]: {"level":"warn","ts":"2026-02-13T11:21:22.130120Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 11:21:22 np0000056229 etcd[60366]: {"level":"info","ts":"2026-02-13T11:21:22.130241Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056229","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056229=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 11:21:22 np0000056229 etcd[60366]: {"level":"warn","ts":"2026-02-13T11:21:22.130361Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 11:21:22 np0000056229 etcd[60366]: {"level":"info","ts":"2026-02-13T11:21:22.130381Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 11:21:22 np0000056229 etcd[60366]: {"level":"info","ts":"2026-02-13T11:21:22.130724Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:22 np0000056229 etcd[60366]: {"level":"info","ts":"2026-02-13T11:21:22.130812Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056229","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:22 np0000056229 etcd[60366]: {"level":"info","ts":"2026-02-13T11:21:22.130935Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056229","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:22 np0000056229 etcd[60366]: {"level":"warn","ts":"2026-02-13T11:21:22.130974Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 11:21:22 np0000056229 etcd[60366]: {"level":"fatal","ts":"2026-02-13T11:21:22.131016Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 11:21:22 np0000056229 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 11:21:22 np0000056229 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 11:21:22 np0000056229 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 11:21:22 np0000056229 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 11:21:22 np0000056229 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 11:21:22 np0000056229 etcd[60421]: {"level":"warn","ts":"2026-02-13T11:21:22.392150Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 11:21:22 np0000056229 etcd[60421]: {"level":"info","ts":"2026-02-13T11:21:22.392332Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056229","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056229=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 11:21:22 np0000056229 etcd[60421]: {"level":"warn","ts":"2026-02-13T11:21:22.392590Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 11:21:22 np0000056229 etcd[60421]: {"level":"info","ts":"2026-02-13T11:21:22.392626Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 11:21:22 np0000056229 etcd[60421]: {"level":"info","ts":"2026-02-13T11:21:22.393136Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:22 np0000056229 etcd[60421]: {"level":"info","ts":"2026-02-13T11:21:22.393259Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056229","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:22 np0000056229 etcd[60421]: {"level":"info","ts":"2026-02-13T11:21:22.393345Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056229","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:22 np0000056229 etcd[60421]: {"level":"warn","ts":"2026-02-13T11:21:22.393403Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 11:21:22 np0000056229 etcd[60421]: {"level":"fatal","ts":"2026-02-13T11:21:22.393504Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 11:21:22 np0000056229 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 11:21:22 np0000056229 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 11:21:22 np0000056229 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 11:21:22 np0000056229 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 11:21:22 np0000056229 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 11:21:22 np0000056229 etcd[60445]: {"level":"warn","ts":"2026-02-13T11:21:22.631077Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 11:21:22 np0000056229 etcd[60445]: {"level":"info","ts":"2026-02-13T11:21:22.632511Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056229","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056229=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 11:21:22 np0000056229 etcd[60445]: {"level":"warn","ts":"2026-02-13T11:21:22.632736Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 11:21:22 np0000056229 etcd[60445]: {"level":"info","ts":"2026-02-13T11:21:22.632795Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 11:21:22 np0000056229 etcd[60445]: {"level":"info","ts":"2026-02-13T11:21:22.633247Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:22 np0000056229 etcd[60445]: {"level":"info","ts":"2026-02-13T11:21:22.633370Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056229","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:22 np0000056229 etcd[60445]: {"level":"info","ts":"2026-02-13T11:21:22.634540Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056229","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:22 np0000056229 etcd[60445]: {"level":"warn","ts":"2026-02-13T11:21:22.634632Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 11:21:22 np0000056229 etcd[60445]: {"level":"fatal","ts":"2026-02-13T11:21:22.634704Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 11:21:22 np0000056229 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 11:21:22 np0000056229 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 11:21:22 np0000056229 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 11:21:22 np0000056229 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 11:21:22 np0000056229 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 11:21:22 np0000056229 etcd[60483]: {"level":"warn","ts":"2026-02-13T11:21:22.897170Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 11:21:22 np0000056229 etcd[60483]: {"level":"info","ts":"2026-02-13T11:21:22.897356Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056229","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056229=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 11:21:22 np0000056229 etcd[60483]: {"level":"warn","ts":"2026-02-13T11:21:22.897553Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 11:21:22 np0000056229 etcd[60483]: {"level":"info","ts":"2026-02-13T11:21:22.898082Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 11:21:22 np0000056229 etcd[60483]: {"level":"info","ts":"2026-02-13T11:21:22.898536Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:22 np0000056229 etcd[60483]: {"level":"info","ts":"2026-02-13T11:21:22.898645Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056229","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:22 np0000056229 etcd[60483]: {"level":"info","ts":"2026-02-13T11:21:22.898717Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056229","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 11:21:22 np0000056229 etcd[60483]: {"level":"warn","ts":"2026-02-13T11:21:22.898801Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 11:21:22 np0000056229 etcd[60483]: {"level":"fatal","ts":"2026-02-13T11:21:22.898861Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 11:21:22 np0000056229 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 11:21:22 np0000056229 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 11:21:22 np0000056229 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 11:21:23 np0000056229 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 11:21:23 np0000056229 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 11:21:23 np0000056229 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 11:21:23 np0000056229 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
