Feb 13 15:10:39 np0000056238 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 15:10:39 np0000056238 etcd[60308]: {"level":"warn","ts":"2026-02-13T15:10:39.948964Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:10:39 np0000056238 etcd[60308]: {"level":"info","ts":"2026-02-13T15:10:39.949939Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056238","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056238=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 15:10:39 np0000056238 etcd[60308]: {"level":"warn","ts":"2026-02-13T15:10:39.950125Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:10:39 np0000056238 etcd[60308]: {"level":"info","ts":"2026-02-13T15:10:39.950158Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 15:10:39 np0000056238 etcd[60308]: {"level":"info","ts":"2026-02-13T15:10:39.951589Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:39 np0000056238 etcd[60308]: {"level":"info","ts":"2026-02-13T15:10:39.951753Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056238","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:39 np0000056238 etcd[60308]: {"level":"info","ts":"2026-02-13T15:10:39.951833Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056238","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:39 np0000056238 etcd[60308]: {"level":"warn","ts":"2026-02-13T15:10:39.951886Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 15:10:39 np0000056238 etcd[60308]: {"level":"fatal","ts":"2026-02-13T15:10:39.951947Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 15:10:39 np0000056238 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 15:10:39 np0000056238 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 15:10:39 np0000056238 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 15:10:40 np0000056238 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 15:10:40 np0000056238 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 15:10:40 np0000056238 etcd[60388]: {"level":"warn","ts":"2026-02-13T15:10:40.266410Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:10:40 np0000056238 etcd[60388]: {"level":"info","ts":"2026-02-13T15:10:40.266599Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056238","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056238=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 15:10:40 np0000056238 etcd[60388]: {"level":"warn","ts":"2026-02-13T15:10:40.266818Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:10:40 np0000056238 etcd[60388]: {"level":"info","ts":"2026-02-13T15:10:40.266862Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 15:10:40 np0000056238 etcd[60388]: {"level":"info","ts":"2026-02-13T15:10:40.267493Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:40 np0000056238 etcd[60388]: {"level":"info","ts":"2026-02-13T15:10:40.267645Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056238","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:40 np0000056238 etcd[60388]: {"level":"info","ts":"2026-02-13T15:10:40.267755Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056238","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:40 np0000056238 etcd[60388]: {"level":"warn","ts":"2026-02-13T15:10:40.267816Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 15:10:40 np0000056238 etcd[60388]: {"level":"fatal","ts":"2026-02-13T15:10:40.267885Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 15:10:40 np0000056238 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 15:10:40 np0000056238 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 15:10:40 np0000056238 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 15:10:40 np0000056238 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 15:10:40 np0000056238 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 15:10:40 np0000056238 etcd[60430]: {"level":"warn","ts":"2026-02-13T15:10:40.522859Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:10:40 np0000056238 etcd[60430]: {"level":"info","ts":"2026-02-13T15:10:40.523046Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056238","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056238=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 15:10:40 np0000056238 etcd[60430]: {"level":"warn","ts":"2026-02-13T15:10:40.523228Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:10:40 np0000056238 etcd[60430]: {"level":"info","ts":"2026-02-13T15:10:40.523271Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 15:10:40 np0000056238 etcd[60430]: {"level":"info","ts":"2026-02-13T15:10:40.524036Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:40 np0000056238 etcd[60430]: {"level":"info","ts":"2026-02-13T15:10:40.524179Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056238","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:40 np0000056238 etcd[60430]: {"level":"info","ts":"2026-02-13T15:10:40.524286Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056238","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:40 np0000056238 etcd[60430]: {"level":"warn","ts":"2026-02-13T15:10:40.524364Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 15:10:40 np0000056238 etcd[60430]: {"level":"fatal","ts":"2026-02-13T15:10:40.524484Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 15:10:40 np0000056238 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 15:10:40 np0000056238 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 15:10:40 np0000056238 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 15:10:40 np0000056238 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 15:10:40 np0000056238 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 15:10:40 np0000056238 etcd[60451]: {"level":"warn","ts":"2026-02-13T15:10:40.751935Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:10:40 np0000056238 etcd[60451]: {"level":"info","ts":"2026-02-13T15:10:40.752180Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056238","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056238=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 15:10:40 np0000056238 etcd[60451]: {"level":"warn","ts":"2026-02-13T15:10:40.752354Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:10:40 np0000056238 etcd[60451]: {"level":"info","ts":"2026-02-13T15:10:40.752436Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 15:10:40 np0000056238 etcd[60451]: {"level":"info","ts":"2026-02-13T15:10:40.753994Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:40 np0000056238 etcd[60451]: {"level":"info","ts":"2026-02-13T15:10:40.754137Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056238","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:40 np0000056238 etcd[60451]: {"level":"info","ts":"2026-02-13T15:10:40.754225Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056238","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:40 np0000056238 etcd[60451]: {"level":"warn","ts":"2026-02-13T15:10:40.754298Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 15:10:40 np0000056238 etcd[60451]: {"level":"fatal","ts":"2026-02-13T15:10:40.754365Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 15:10:40 np0000056238 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 15:10:40 np0000056238 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 15:10:40 np0000056238 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 15:10:40 np0000056238 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 15:10:40 np0000056238 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 15:10:40 np0000056238 etcd[60488]: {"level":"warn","ts":"2026-02-13T15:10:40.995756Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:10:40 np0000056238 etcd[60488]: {"level":"info","ts":"2026-02-13T15:10:40.995861Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056238","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056238=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 15:10:40 np0000056238 etcd[60488]: {"level":"warn","ts":"2026-02-13T15:10:40.995968Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 15:10:40 np0000056238 etcd[60488]: {"level":"info","ts":"2026-02-13T15:10:40.995984Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 15:10:40 np0000056238 etcd[60488]: {"level":"info","ts":"2026-02-13T15:10:40.996250Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:40 np0000056238 etcd[60488]: {"level":"info","ts":"2026-02-13T15:10:40.996315Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056238","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:40 np0000056238 etcd[60488]: {"level":"info","ts":"2026-02-13T15:10:40.996363Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056238","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 15:10:40 np0000056238 etcd[60488]: {"level":"warn","ts":"2026-02-13T15:10:40.996424Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 15:10:40 np0000056238 etcd[60488]: {"level":"fatal","ts":"2026-02-13T15:10:40.996493Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 15:10:40 np0000056238 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 15:10:41 np0000056238 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 15:10:41 np0000056238 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 15:10:41 np0000056238 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 15:10:41 np0000056238 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 15:10:41 np0000056238 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 15:10:41 np0000056238 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
