Apr 28 23:06:42 np0000094107 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:06:42 np0000094107 etcd[60253]: {"level":"warn","ts":"2026-04-28T23:06:42.975778Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:06:42 np0000094107 etcd[60253]: {"level":"info","ts":"2026-04-28T23:06:42.975941Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094107","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094107=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:06:42 np0000094107 etcd[60253]: {"level":"warn","ts":"2026-04-28T23:06:42.976084Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:06:42 np0000094107 etcd[60253]: {"level":"info","ts":"2026-04-28T23:06:42.976109Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:06:42 np0000094107 etcd[60253]: {"level":"info","ts":"2026-04-28T23:06:42.976525Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:42 np0000094107 etcd[60253]: {"level":"info","ts":"2026-04-28T23:06:42.976620Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094107","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:42 np0000094107 etcd[60253]: {"level":"info","ts":"2026-04-28T23:06:42.976705Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094107","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:42 np0000094107 etcd[60253]: {"level":"warn","ts":"2026-04-28T23:06:42.976776Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:06:42 np0000094107 etcd[60253]: {"level":"fatal","ts":"2026-04-28T23:06:42.976828Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:06:42 np0000094107 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:06:42 np0000094107 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:06:42 np0000094107 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:06:43 np0000094107 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 28 23:06:43 np0000094107 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:06:43 np0000094107 etcd[60302]: {"level":"warn","ts":"2026-04-28T23:06:43.162531Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:06:43 np0000094107 etcd[60302]: {"level":"info","ts":"2026-04-28T23:06:43.162666Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094107","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094107=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:06:43 np0000094107 etcd[60302]: {"level":"warn","ts":"2026-04-28T23:06:43.162819Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:06:43 np0000094107 etcd[60302]: {"level":"info","ts":"2026-04-28T23:06:43.162843Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:06:43 np0000094107 etcd[60302]: {"level":"info","ts":"2026-04-28T23:06:43.163247Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:43 np0000094107 etcd[60302]: {"level":"info","ts":"2026-04-28T23:06:43.163337Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094107","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:43 np0000094107 etcd[60302]: {"level":"info","ts":"2026-04-28T23:06:43.163385Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094107","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:43 np0000094107 etcd[60302]: {"level":"warn","ts":"2026-04-28T23:06:43.163428Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:06:43 np0000094107 etcd[60302]: {"level":"fatal","ts":"2026-04-28T23:06:43.163490Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:06:43 np0000094107 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:06:43 np0000094107 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:06:43 np0000094107 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:06:43 np0000094107 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 28 23:06:43 np0000094107 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:06:43 np0000094107 etcd[60373]: {"level":"warn","ts":"2026-04-28T23:06:43.409580Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:06:43 np0000094107 etcd[60373]: {"level":"info","ts":"2026-04-28T23:06:43.409811Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094107","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094107=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:06:43 np0000094107 etcd[60373]: {"level":"warn","ts":"2026-04-28T23:06:43.410100Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:06:43 np0000094107 etcd[60373]: {"level":"info","ts":"2026-04-28T23:06:43.410137Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:06:43 np0000094107 etcd[60373]: {"level":"info","ts":"2026-04-28T23:06:43.410668Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:43 np0000094107 etcd[60373]: {"level":"info","ts":"2026-04-28T23:06:43.410833Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094107","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:43 np0000094107 etcd[60373]: {"level":"info","ts":"2026-04-28T23:06:43.410946Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094107","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:43 np0000094107 etcd[60373]: {"level":"warn","ts":"2026-04-28T23:06:43.411004Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:06:43 np0000094107 etcd[60373]: {"level":"fatal","ts":"2026-04-28T23:06:43.411083Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:06:43 np0000094107 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:06:43 np0000094107 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:06:43 np0000094107 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:06:43 np0000094107 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 28 23:06:43 np0000094107 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:06:43 np0000094107 etcd[60381]: {"level":"warn","ts":"2026-04-28T23:06:43.679352Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:06:43 np0000094107 etcd[60381]: {"level":"info","ts":"2026-04-28T23:06:43.679470Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094107","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094107=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:06:43 np0000094107 etcd[60381]: {"level":"warn","ts":"2026-04-28T23:06:43.679560Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:06:43 np0000094107 etcd[60381]: {"level":"info","ts":"2026-04-28T23:06:43.679577Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:06:43 np0000094107 etcd[60381]: {"level":"info","ts":"2026-04-28T23:06:43.679962Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:43 np0000094107 etcd[60381]: {"level":"info","ts":"2026-04-28T23:06:43.680042Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094107","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:43 np0000094107 etcd[60381]: {"level":"info","ts":"2026-04-28T23:06:43.680090Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094107","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:43 np0000094107 etcd[60381]: {"level":"warn","ts":"2026-04-28T23:06:43.680120Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:06:43 np0000094107 etcd[60381]: {"level":"fatal","ts":"2026-04-28T23:06:43.680165Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:06:43 np0000094107 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:06:43 np0000094107 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:06:43 np0000094107 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:06:43 np0000094107 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 28 23:06:43 np0000094107 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:06:43 np0000094107 etcd[60417]: {"level":"warn","ts":"2026-04-28T23:06:43.931514Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:06:43 np0000094107 etcd[60417]: {"level":"info","ts":"2026-04-28T23:06:43.931692Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094107","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094107=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:06:43 np0000094107 etcd[60417]: {"level":"warn","ts":"2026-04-28T23:06:43.931891Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:06:43 np0000094107 etcd[60417]: {"level":"info","ts":"2026-04-28T23:06:43.931955Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:06:43 np0000094107 etcd[60417]: {"level":"info","ts":"2026-04-28T23:06:43.932489Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:43 np0000094107 etcd[60417]: {"level":"info","ts":"2026-04-28T23:06:43.932614Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094107","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:43 np0000094107 etcd[60417]: {"level":"info","ts":"2026-04-28T23:06:43.932703Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094107","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:06:43 np0000094107 etcd[60417]: {"level":"warn","ts":"2026-04-28T23:06:43.932793Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:06:43 np0000094107 etcd[60417]: {"level":"fatal","ts":"2026-04-28T23:06:43.932865Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:06:43 np0000094107 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:06:43 np0000094107 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:06:43 np0000094107 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:06:44 np0000094107 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 28 23:06:44 np0000094107 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 28 23:06:44 np0000094107 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:06:44 np0000094107 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
