Apr 14 15:29:55 np0000093949 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 15:29:55 np0000093949 etcd[60614]: {"level":"warn","ts":"2026-04-14T15:29:55.759777Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 15:29:55 np0000093949 etcd[60614]: {"level":"info","ts":"2026-04-14T15:29:55.759883Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093949","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093949=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 15:29:55 np0000093949 etcd[60614]: {"level":"warn","ts":"2026-04-14T15:29:55.759982Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 15:29:55 np0000093949 etcd[60614]: {"level":"info","ts":"2026-04-14T15:29:55.760000Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 15:29:55 np0000093949 etcd[60614]: {"level":"info","ts":"2026-04-14T15:29:55.760314Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:55 np0000093949 etcd[60614]: {"level":"info","ts":"2026-04-14T15:29:55.760385Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093949","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:55 np0000093949 etcd[60614]: {"level":"info","ts":"2026-04-14T15:29:55.760437Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093949","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:55 np0000093949 etcd[60614]: {"level":"warn","ts":"2026-04-14T15:29:55.760470Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 15:29:55 np0000093949 etcd[60614]: {"level":"fatal","ts":"2026-04-14T15:29:55.760508Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 15:29:55 np0000093949 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 15:29:55 np0000093949 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 15:29:55 np0000093949 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 15:29:56 np0000093949 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 15:29:56 np0000093949 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 15:29:56 np0000093949 etcd[60725]: {"level":"warn","ts":"2026-04-14T15:29:56.172460Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 15:29:56 np0000093949 etcd[60725]: {"level":"info","ts":"2026-04-14T15:29:56.172644Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093949","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093949=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 15:29:56 np0000093949 etcd[60725]: {"level":"warn","ts":"2026-04-14T15:29:56.172807Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 15:29:56 np0000093949 etcd[60725]: {"level":"info","ts":"2026-04-14T15:29:56.172845Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 15:29:56 np0000093949 etcd[60725]: {"level":"info","ts":"2026-04-14T15:29:56.173273Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:56 np0000093949 etcd[60725]: {"level":"info","ts":"2026-04-14T15:29:56.173386Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093949","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:56 np0000093949 etcd[60725]: {"level":"info","ts":"2026-04-14T15:29:56.173470Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093949","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:56 np0000093949 etcd[60725]: {"level":"warn","ts":"2026-04-14T15:29:56.173557Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 15:29:56 np0000093949 etcd[60725]: {"level":"fatal","ts":"2026-04-14T15:29:56.173619Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 15:29:56 np0000093949 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 15:29:56 np0000093949 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 15:29:56 np0000093949 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 15:29:56 np0000093949 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 15:29:56 np0000093949 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 15:29:56 np0000093949 etcd[60736]: {"level":"warn","ts":"2026-04-14T15:29:56.429234Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 15:29:56 np0000093949 etcd[60736]: {"level":"info","ts":"2026-04-14T15:29:56.429438Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093949","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093949=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 15:29:56 np0000093949 etcd[60736]: {"level":"warn","ts":"2026-04-14T15:29:56.429685Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 15:29:56 np0000093949 etcd[60736]: {"level":"info","ts":"2026-04-14T15:29:56.429721Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 15:29:56 np0000093949 etcd[60736]: {"level":"info","ts":"2026-04-14T15:29:56.430268Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:56 np0000093949 etcd[60736]: {"level":"info","ts":"2026-04-14T15:29:56.430416Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093949","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:56 np0000093949 etcd[60736]: {"level":"info","ts":"2026-04-14T15:29:56.430497Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093949","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:56 np0000093949 etcd[60736]: {"level":"warn","ts":"2026-04-14T15:29:56.430591Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 15:29:56 np0000093949 etcd[60736]: {"level":"fatal","ts":"2026-04-14T15:29:56.430669Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 15:29:56 np0000093949 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 15:29:56 np0000093949 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 15:29:56 np0000093949 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 15:29:56 np0000093949 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 15:29:56 np0000093949 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 15:29:56 np0000093949 etcd[60757]: {"level":"warn","ts":"2026-04-14T15:29:56.672195Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 15:29:56 np0000093949 etcd[60757]: {"level":"info","ts":"2026-04-14T15:29:56.672378Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093949","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093949=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 15:29:56 np0000093949 etcd[60757]: {"level":"warn","ts":"2026-04-14T15:29:56.672578Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 15:29:56 np0000093949 etcd[60757]: {"level":"info","ts":"2026-04-14T15:29:56.672612Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 15:29:56 np0000093949 etcd[60757]: {"level":"info","ts":"2026-04-14T15:29:56.673136Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:56 np0000093949 etcd[60757]: {"level":"info","ts":"2026-04-14T15:29:56.673261Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093949","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:56 np0000093949 etcd[60757]: {"level":"info","ts":"2026-04-14T15:29:56.673364Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093949","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:56 np0000093949 etcd[60757]: {"level":"warn","ts":"2026-04-14T15:29:56.673422Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 15:29:56 np0000093949 etcd[60757]: {"level":"fatal","ts":"2026-04-14T15:29:56.673508Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 15:29:56 np0000093949 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 15:29:56 np0000093949 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 15:29:56 np0000093949 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 15:29:56 np0000093949 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 15:29:56 np0000093949 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 15:29:56 np0000093949 etcd[60797]: {"level":"warn","ts":"2026-04-14T15:29:56.923152Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 15:29:56 np0000093949 etcd[60797]: {"level":"info","ts":"2026-04-14T15:29:56.923313Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093949","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093949=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 15:29:56 np0000093949 etcd[60797]: {"level":"warn","ts":"2026-04-14T15:29:56.923482Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 15:29:56 np0000093949 etcd[60797]: {"level":"info","ts":"2026-04-14T15:29:56.923559Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 15:29:56 np0000093949 etcd[60797]: {"level":"info","ts":"2026-04-14T15:29:56.923970Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:56 np0000093949 etcd[60797]: {"level":"info","ts":"2026-04-14T15:29:56.924082Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093949","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:56 np0000093949 etcd[60797]: {"level":"info","ts":"2026-04-14T15:29:56.924193Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093949","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 15:29:56 np0000093949 etcd[60797]: {"level":"warn","ts":"2026-04-14T15:29:56.924249Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 15:29:56 np0000093949 etcd[60797]: {"level":"fatal","ts":"2026-04-14T15:29:56.924311Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 15:29:56 np0000093949 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 15:29:56 np0000093949 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 15:29:56 np0000093949 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 15:29:57 np0000093949 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 15:29:57 np0000093949 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 15:29:57 np0000093949 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 15:29:57 np0000093949 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
