Feb 13 14:43:57 np0000056237 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 14:43:57 np0000056237 etcd[60246]: {"level":"warn","ts":"2026-02-13T14:43:57.949120Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:43:57 np0000056237 etcd[60246]: {"level":"info","ts":"2026-02-13T14:43:57.949295Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056237","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056237=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 14:43:57 np0000056237 etcd[60246]: {"level":"warn","ts":"2026-02-13T14:43:57.949484Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:43:57 np0000056237 etcd[60246]: {"level":"info","ts":"2026-02-13T14:43:57.949516Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 14:43:57 np0000056237 etcd[60246]: {"level":"info","ts":"2026-02-13T14:43:57.949995Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:57 np0000056237 etcd[60246]: {"level":"info","ts":"2026-02-13T14:43:57.950378Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056237","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:57 np0000056237 etcd[60246]: {"level":"info","ts":"2026-02-13T14:43:57.951010Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056237","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:57 np0000056237 etcd[60246]: {"level":"warn","ts":"2026-02-13T14:43:57.951122Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 14:43:57 np0000056237 etcd[60246]: {"level":"fatal","ts":"2026-02-13T14:43:57.951258Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 14:43:57 np0000056237 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 14:43:57 np0000056237 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 14:43:57 np0000056237 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 14:43:58 np0000056237 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 14:43:58 np0000056237 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 14:43:58 np0000056237 etcd[60292]: {"level":"warn","ts":"2026-02-13T14:43:58.168212Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:43:58 np0000056237 etcd[60292]: {"level":"info","ts":"2026-02-13T14:43:58.168389Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056237","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056237=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 14:43:58 np0000056237 etcd[60292]: {"level":"warn","ts":"2026-02-13T14:43:58.168599Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:43:58 np0000056237 etcd[60292]: {"level":"info","ts":"2026-02-13T14:43:58.168632Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 14:43:58 np0000056237 etcd[60292]: {"level":"info","ts":"2026-02-13T14:43:58.169220Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:58 np0000056237 etcd[60292]: {"level":"info","ts":"2026-02-13T14:43:58.170027Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056237","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:58 np0000056237 etcd[60292]: {"level":"info","ts":"2026-02-13T14:43:58.170169Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056237","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:58 np0000056237 etcd[60292]: {"level":"warn","ts":"2026-02-13T14:43:58.170234Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 14:43:58 np0000056237 etcd[60292]: {"level":"fatal","ts":"2026-02-13T14:43:58.170329Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 14:43:58 np0000056237 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 14:43:58 np0000056237 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 14:43:58 np0000056237 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 14:43:58 np0000056237 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 14:43:58 np0000056237 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 14:43:58 np0000056237 etcd[60366]: {"level":"warn","ts":"2026-02-13T14:43:58.401597Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:43:58 np0000056237 etcd[60366]: {"level":"info","ts":"2026-02-13T14:43:58.401793Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056237","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056237=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 14:43:58 np0000056237 etcd[60366]: {"level":"warn","ts":"2026-02-13T14:43:58.401983Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:43:58 np0000056237 etcd[60366]: {"level":"info","ts":"2026-02-13T14:43:58.402016Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 14:43:58 np0000056237 etcd[60366]: {"level":"info","ts":"2026-02-13T14:43:58.402566Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:58 np0000056237 etcd[60366]: {"level":"info","ts":"2026-02-13T14:43:58.402978Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056237","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:58 np0000056237 etcd[60366]: {"level":"info","ts":"2026-02-13T14:43:58.403343Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056237","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:58 np0000056237 etcd[60366]: {"level":"warn","ts":"2026-02-13T14:43:58.403580Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 14:43:58 np0000056237 etcd[60366]: {"level":"fatal","ts":"2026-02-13T14:43:58.403765Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 14:43:58 np0000056237 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 14:43:58 np0000056237 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 14:43:58 np0000056237 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 14:43:58 np0000056237 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 14:43:58 np0000056237 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 14:43:58 np0000056237 etcd[60374]: {"level":"warn","ts":"2026-02-13T14:43:58.659198Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:43:58 np0000056237 etcd[60374]: {"level":"info","ts":"2026-02-13T14:43:58.659369Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056237","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056237=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 14:43:58 np0000056237 etcd[60374]: {"level":"warn","ts":"2026-02-13T14:43:58.659555Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:43:58 np0000056237 etcd[60374]: {"level":"info","ts":"2026-02-13T14:43:58.659587Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 14:43:58 np0000056237 etcd[60374]: {"level":"info","ts":"2026-02-13T14:43:58.660039Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:58 np0000056237 etcd[60374]: {"level":"info","ts":"2026-02-13T14:43:58.660191Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056237","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:58 np0000056237 etcd[60374]: {"level":"info","ts":"2026-02-13T14:43:58.660270Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056237","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:58 np0000056237 etcd[60374]: {"level":"warn","ts":"2026-02-13T14:43:58.660327Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 14:43:58 np0000056237 etcd[60374]: {"level":"fatal","ts":"2026-02-13T14:43:58.660400Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 14:43:58 np0000056237 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 14:43:58 np0000056237 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 14:43:58 np0000056237 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 14:43:58 np0000056237 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 14:43:58 np0000056237 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 14:43:58 np0000056237 etcd[60402]: {"level":"warn","ts":"2026-02-13T14:43:58.914237Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:43:58 np0000056237 etcd[60402]: {"level":"info","ts":"2026-02-13T14:43:58.914389Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056237","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056237=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 14:43:58 np0000056237 etcd[60402]: {"level":"warn","ts":"2026-02-13T14:43:58.914562Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:43:58 np0000056237 etcd[60402]: {"level":"info","ts":"2026-02-13T14:43:58.914588Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 14:43:58 np0000056237 etcd[60402]: {"level":"info","ts":"2026-02-13T14:43:58.915061Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:58 np0000056237 etcd[60402]: {"level":"info","ts":"2026-02-13T14:43:58.915196Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056237","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:58 np0000056237 etcd[60402]: {"level":"info","ts":"2026-02-13T14:43:58.915264Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056237","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:43:58 np0000056237 etcd[60402]: {"level":"warn","ts":"2026-02-13T14:43:58.915343Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 14:43:58 np0000056237 etcd[60402]: {"level":"fatal","ts":"2026-02-13T14:43:58.915417Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 14:43:58 np0000056237 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 14:43:58 np0000056237 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 14:43:58 np0000056237 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 14:43:59 np0000056237 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 14:43:59 np0000056237 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 14:43:59 np0000056237 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 14:43:59 np0000056237 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
