Apr 28 22:17:29 np0000094105 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 22:17:29 np0000094105 etcd[60176]: {"level":"warn","ts":"2026-04-28T22:17:29.659521Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:17:29 np0000094105 etcd[60176]: {"level":"info","ts":"2026-04-28T22:17:29.659649Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094105","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094105=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 22:17:29 np0000094105 etcd[60176]: {"level":"warn","ts":"2026-04-28T22:17:29.659756Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:17:29 np0000094105 etcd[60176]: {"level":"info","ts":"2026-04-28T22:17:29.659779Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 22:17:29 np0000094105 etcd[60176]: {"level":"info","ts":"2026-04-28T22:17:29.660081Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:29 np0000094105 etcd[60176]: {"level":"info","ts":"2026-04-28T22:17:29.660148Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094105","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:29 np0000094105 etcd[60176]: {"level":"info","ts":"2026-04-28T22:17:29.660196Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094105","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:29 np0000094105 etcd[60176]: {"level":"warn","ts":"2026-04-28T22:17:29.660227Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 22:17:29 np0000094105 etcd[60176]: {"level":"fatal","ts":"2026-04-28T22:17:29.660273Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 22:17:29 np0000094105 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 22:17:29 np0000094105 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 22:17:29 np0000094105 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 22:17:29 np0000094105 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 28 22:17:29 np0000094105 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 22:17:29 np0000094105 etcd[60243]: {"level":"warn","ts":"2026-04-28T22:17:29.857028Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:17:29 np0000094105 etcd[60243]: {"level":"info","ts":"2026-04-28T22:17:29.857177Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094105","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094105=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 22:17:29 np0000094105 etcd[60243]: {"level":"warn","ts":"2026-04-28T22:17:29.857304Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:17:29 np0000094105 etcd[60243]: {"level":"info","ts":"2026-04-28T22:17:29.857346Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 22:17:29 np0000094105 etcd[60243]: {"level":"info","ts":"2026-04-28T22:17:29.857888Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:29 np0000094105 etcd[60243]: {"level":"info","ts":"2026-04-28T22:17:29.858096Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094105","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:29 np0000094105 etcd[60243]: {"level":"info","ts":"2026-04-28T22:17:29.858180Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094105","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:29 np0000094105 etcd[60243]: {"level":"warn","ts":"2026-04-28T22:17:29.858240Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 22:17:29 np0000094105 etcd[60243]: {"level":"fatal","ts":"2026-04-28T22:17:29.858331Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 22:17:29 np0000094105 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 22:17:29 np0000094105 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 22:17:29 np0000094105 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 22:17:30 np0000094105 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 28 22:17:30 np0000094105 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 22:17:30 np0000094105 etcd[60298]: {"level":"warn","ts":"2026-04-28T22:17:30.089690Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:17:30 np0000094105 etcd[60298]: {"level":"info","ts":"2026-04-28T22:17:30.090331Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094105","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094105=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 22:17:30 np0000094105 etcd[60298]: {"level":"warn","ts":"2026-04-28T22:17:30.090440Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:17:30 np0000094105 etcd[60298]: {"level":"info","ts":"2026-04-28T22:17:30.090464Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 22:17:30 np0000094105 etcd[60298]: {"level":"info","ts":"2026-04-28T22:17:30.090727Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:30 np0000094105 etcd[60298]: {"level":"info","ts":"2026-04-28T22:17:30.090793Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094105","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:30 np0000094105 etcd[60298]: {"level":"info","ts":"2026-04-28T22:17:30.090846Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094105","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:30 np0000094105 etcd[60298]: {"level":"warn","ts":"2026-04-28T22:17:30.090876Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 22:17:30 np0000094105 etcd[60298]: {"level":"fatal","ts":"2026-04-28T22:17:30.090905Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 22:17:30 np0000094105 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 22:17:30 np0000094105 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 22:17:30 np0000094105 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 22:17:30 np0000094105 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 28 22:17:30 np0000094105 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 22:17:30 np0000094105 etcd[60318]: {"level":"warn","ts":"2026-04-28T22:17:30.351672Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:17:30 np0000094105 etcd[60318]: {"level":"info","ts":"2026-04-28T22:17:30.351811Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094105","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094105=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 22:17:30 np0000094105 etcd[60318]: {"level":"warn","ts":"2026-04-28T22:17:30.351967Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:17:30 np0000094105 etcd[60318]: {"level":"info","ts":"2026-04-28T22:17:30.352012Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 22:17:30 np0000094105 etcd[60318]: {"level":"info","ts":"2026-04-28T22:17:30.352407Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:30 np0000094105 etcd[60318]: {"level":"info","ts":"2026-04-28T22:17:30.352500Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094105","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:30 np0000094105 etcd[60318]: {"level":"info","ts":"2026-04-28T22:17:30.352590Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094105","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:30 np0000094105 etcd[60318]: {"level":"warn","ts":"2026-04-28T22:17:30.352635Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 22:17:30 np0000094105 etcd[60318]: {"level":"fatal","ts":"2026-04-28T22:17:30.352720Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 22:17:30 np0000094105 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 22:17:30 np0000094105 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 22:17:30 np0000094105 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 22:17:30 np0000094105 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 28 22:17:30 np0000094105 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 22:17:30 np0000094105 etcd[60353]: {"level":"warn","ts":"2026-04-28T22:17:30.620300Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:17:30 np0000094105 etcd[60353]: {"level":"info","ts":"2026-04-28T22:17:30.620475Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094105","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094105=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 22:17:30 np0000094105 etcd[60353]: {"level":"warn","ts":"2026-04-28T22:17:30.620630Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 22:17:30 np0000094105 etcd[60353]: {"level":"info","ts":"2026-04-28T22:17:30.620673Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 22:17:30 np0000094105 etcd[60353]: {"level":"info","ts":"2026-04-28T22:17:30.621111Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:30 np0000094105 etcd[60353]: {"level":"info","ts":"2026-04-28T22:17:30.621218Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094105","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:30 np0000094105 etcd[60353]: {"level":"info","ts":"2026-04-28T22:17:30.621291Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094105","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 22:17:30 np0000094105 etcd[60353]: {"level":"warn","ts":"2026-04-28T22:17:30.621342Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 22:17:30 np0000094105 etcd[60353]: {"level":"fatal","ts":"2026-04-28T22:17:30.621411Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 22:17:30 np0000094105 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 22:17:30 np0000094105 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 22:17:30 np0000094105 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 22:17:30 np0000094105 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 28 22:17:30 np0000094105 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 28 22:17:30 np0000094105 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 22:17:30 np0000094105 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
