Jun 17 02:37:43 np0000094373 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 02:37:43 np0000094373 etcd[60076]: {"level":"warn","ts":"2026-06-17T02:37:43.210945Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 02:37:43 np0000094373 etcd[60076]: {"level":"info","ts":"2026-06-17T02:37:43.211164Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094373","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094373=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 02:37:43 np0000094373 etcd[60076]: {"level":"warn","ts":"2026-06-17T02:37:43.211358Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 02:37:43 np0000094373 etcd[60076]: {"level":"info","ts":"2026-06-17T02:37:43.211388Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 02:37:43 np0000094373 etcd[60076]: {"level":"info","ts":"2026-06-17T02:37:43.211903Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:43 np0000094373 etcd[60076]: {"level":"info","ts":"2026-06-17T02:37:43.212006Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094373","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:43 np0000094373 etcd[60076]: {"level":"info","ts":"2026-06-17T02:37:43.212068Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094373","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:43 np0000094373 etcd[60076]: {"level":"warn","ts":"2026-06-17T02:37:43.212116Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 02:37:43 np0000094373 etcd[60076]: {"level":"fatal","ts":"2026-06-17T02:37:43.212171Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 02:37:43 np0000094373 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 02:37:43 np0000094373 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 02:37:43 np0000094373 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 02:37:43 np0000094373 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 17 02:37:43 np0000094373 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 02:37:43 np0000094373 etcd[60184]: {"level":"warn","ts":"2026-06-17T02:37:43.589191Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 02:37:43 np0000094373 etcd[60184]: {"level":"info","ts":"2026-06-17T02:37:43.589313Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094373","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094373=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 02:37:43 np0000094373 etcd[60184]: {"level":"warn","ts":"2026-06-17T02:37:43.589408Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 02:37:43 np0000094373 etcd[60184]: {"level":"info","ts":"2026-06-17T02:37:43.589424Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 02:37:43 np0000094373 etcd[60184]: {"level":"info","ts":"2026-06-17T02:37:43.589640Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:43 np0000094373 etcd[60184]: {"level":"info","ts":"2026-06-17T02:37:43.589700Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094373","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:43 np0000094373 etcd[60184]: {"level":"info","ts":"2026-06-17T02:37:43.589754Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094373","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:43 np0000094373 etcd[60184]: {"level":"warn","ts":"2026-06-17T02:37:43.589783Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 02:37:43 np0000094373 etcd[60184]: {"level":"fatal","ts":"2026-06-17T02:37:43.589816Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 02:37:43 np0000094373 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 02:37:43 np0000094373 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 02:37:43 np0000094373 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 02:37:43 np0000094373 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 17 02:37:43 np0000094373 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 02:37:43 np0000094373 etcd[60196]: {"level":"warn","ts":"2026-06-17T02:37:43.867948Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 02:37:43 np0000094373 etcd[60196]: {"level":"info","ts":"2026-06-17T02:37:43.868195Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094373","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094373=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 02:37:43 np0000094373 etcd[60196]: {"level":"warn","ts":"2026-06-17T02:37:43.868465Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 02:37:43 np0000094373 etcd[60196]: {"level":"info","ts":"2026-06-17T02:37:43.868503Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 02:37:43 np0000094373 etcd[60196]: {"level":"info","ts":"2026-06-17T02:37:43.869046Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:43 np0000094373 etcd[60196]: {"level":"info","ts":"2026-06-17T02:37:43.869188Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094373","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:43 np0000094373 etcd[60196]: {"level":"info","ts":"2026-06-17T02:37:43.869321Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094373","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:43 np0000094373 etcd[60196]: {"level":"warn","ts":"2026-06-17T02:37:43.869390Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 02:37:43 np0000094373 etcd[60196]: {"level":"fatal","ts":"2026-06-17T02:37:43.869468Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 02:37:43 np0000094373 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 02:37:43 np0000094373 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 02:37:43 np0000094373 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 02:37:44 np0000094373 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 17 02:37:44 np0000094373 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 02:37:44 np0000094373 etcd[60216]: {"level":"warn","ts":"2026-06-17T02:37:44.116004Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 02:37:44 np0000094373 etcd[60216]: {"level":"info","ts":"2026-06-17T02:37:44.116164Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094373","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094373=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 02:37:44 np0000094373 etcd[60216]: {"level":"warn","ts":"2026-06-17T02:37:44.116347Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 02:37:44 np0000094373 etcd[60216]: {"level":"info","ts":"2026-06-17T02:37:44.116401Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 02:37:44 np0000094373 etcd[60216]: {"level":"info","ts":"2026-06-17T02:37:44.116889Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:44 np0000094373 etcd[60216]: {"level":"info","ts":"2026-06-17T02:37:44.117003Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094373","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:44 np0000094373 etcd[60216]: {"level":"info","ts":"2026-06-17T02:37:44.117081Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094373","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:44 np0000094373 etcd[60216]: {"level":"warn","ts":"2026-06-17T02:37:44.117156Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 02:37:44 np0000094373 etcd[60216]: {"level":"fatal","ts":"2026-06-17T02:37:44.117233Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 02:37:44 np0000094373 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 02:37:44 np0000094373 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 02:37:44 np0000094373 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 02:37:44 np0000094373 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 17 02:37:44 np0000094373 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 02:37:44 np0000094373 etcd[60254]: {"level":"warn","ts":"2026-06-17T02:37:44.370376Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 02:37:44 np0000094373 etcd[60254]: {"level":"info","ts":"2026-06-17T02:37:44.370542Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094373","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094373=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 02:37:44 np0000094373 etcd[60254]: {"level":"warn","ts":"2026-06-17T02:37:44.370690Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 02:37:44 np0000094373 etcd[60254]: {"level":"info","ts":"2026-06-17T02:37:44.370740Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 02:37:44 np0000094373 etcd[60254]: {"level":"info","ts":"2026-06-17T02:37:44.371153Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:44 np0000094373 etcd[60254]: {"level":"info","ts":"2026-06-17T02:37:44.371255Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094373","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:44 np0000094373 etcd[60254]: {"level":"info","ts":"2026-06-17T02:37:44.371352Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094373","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 02:37:44 np0000094373 etcd[60254]: {"level":"warn","ts":"2026-06-17T02:37:44.371410Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 02:37:44 np0000094373 etcd[60254]: {"level":"fatal","ts":"2026-06-17T02:37:44.371464Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 02:37:44 np0000094373 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 02:37:44 np0000094373 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 02:37:44 np0000094373 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 02:37:44 np0000094373 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 17 02:37:44 np0000094373 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 17 02:37:44 np0000094373 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 02:37:44 np0000094373 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
