Apr 27 11:12:28 np0000094085 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 11:12:28 np0000094085 etcd[60336]: {"level":"warn","ts":"2026-04-27T11:12:28.081393Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 11:12:28 np0000094085 etcd[60336]: {"level":"info","ts":"2026-04-27T11:12:28.081754Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094085","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094085=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 11:12:28 np0000094085 etcd[60336]: {"level":"warn","ts":"2026-04-27T11:12:28.082080Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 11:12:28 np0000094085 etcd[60336]: {"level":"info","ts":"2026-04-27T11:12:28.082132Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 11:12:28 np0000094085 etcd[60336]: {"level":"info","ts":"2026-04-27T11:12:28.083252Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:28 np0000094085 etcd[60336]: {"level":"info","ts":"2026-04-27T11:12:28.083579Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094085","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:28 np0000094085 etcd[60336]: {"level":"info","ts":"2026-04-27T11:12:28.084599Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094085","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:28 np0000094085 etcd[60336]: {"level":"warn","ts":"2026-04-27T11:12:28.084777Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 11:12:28 np0000094085 etcd[60336]: {"level":"fatal","ts":"2026-04-27T11:12:28.084945Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 11:12:28 np0000094085 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 11:12:28 np0000094085 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 11:12:28 np0000094085 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 11:12:28 np0000094085 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 27 11:12:28 np0000094085 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 11:12:28 np0000094085 etcd[60387]: {"level":"warn","ts":"2026-04-27T11:12:28.313200Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 11:12:28 np0000094085 etcd[60387]: {"level":"info","ts":"2026-04-27T11:12:28.313421Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094085","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094085=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 11:12:28 np0000094085 etcd[60387]: {"level":"warn","ts":"2026-04-27T11:12:28.313717Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 11:12:28 np0000094085 etcd[60387]: {"level":"info","ts":"2026-04-27T11:12:28.313766Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 11:12:28 np0000094085 etcd[60387]: {"level":"info","ts":"2026-04-27T11:12:28.314256Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:28 np0000094085 etcd[60387]: {"level":"info","ts":"2026-04-27T11:12:28.314377Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094085","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:28 np0000094085 etcd[60387]: {"level":"info","ts":"2026-04-27T11:12:28.314506Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094085","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:28 np0000094085 etcd[60387]: {"level":"warn","ts":"2026-04-27T11:12:28.314581Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 11:12:28 np0000094085 etcd[60387]: {"level":"fatal","ts":"2026-04-27T11:12:28.314683Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 11:12:28 np0000094085 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 11:12:28 np0000094085 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 11:12:28 np0000094085 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 11:12:28 np0000094085 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 27 11:12:28 np0000094085 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 11:12:28 np0000094085 etcd[60457]: {"level":"warn","ts":"2026-04-27T11:12:28.557551Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 11:12:28 np0000094085 etcd[60457]: {"level":"info","ts":"2026-04-27T11:12:28.557808Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094085","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094085=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 11:12:28 np0000094085 etcd[60457]: {"level":"warn","ts":"2026-04-27T11:12:28.557987Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 11:12:28 np0000094085 etcd[60457]: {"level":"info","ts":"2026-04-27T11:12:28.558028Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 11:12:28 np0000094085 etcd[60457]: {"level":"info","ts":"2026-04-27T11:12:28.558549Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:28 np0000094085 etcd[60457]: {"level":"info","ts":"2026-04-27T11:12:28.558701Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094085","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:28 np0000094085 etcd[60457]: {"level":"info","ts":"2026-04-27T11:12:28.558789Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094085","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:28 np0000094085 etcd[60457]: {"level":"warn","ts":"2026-04-27T11:12:28.558848Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 11:12:28 np0000094085 etcd[60457]: {"level":"fatal","ts":"2026-04-27T11:12:28.558915Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 11:12:28 np0000094085 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 11:12:28 np0000094085 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 11:12:28 np0000094085 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 11:12:28 np0000094085 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 27 11:12:28 np0000094085 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 11:12:28 np0000094085 etcd[60464]: {"level":"warn","ts":"2026-04-27T11:12:28.800349Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 11:12:28 np0000094085 etcd[60464]: {"level":"info","ts":"2026-04-27T11:12:28.800575Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094085","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094085=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 11:12:28 np0000094085 etcd[60464]: {"level":"warn","ts":"2026-04-27T11:12:28.800776Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 11:12:28 np0000094085 etcd[60464]: {"level":"info","ts":"2026-04-27T11:12:28.800809Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 11:12:28 np0000094085 etcd[60464]: {"level":"info","ts":"2026-04-27T11:12:28.801340Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:28 np0000094085 etcd[60464]: {"level":"info","ts":"2026-04-27T11:12:28.801505Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094085","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:28 np0000094085 etcd[60464]: {"level":"info","ts":"2026-04-27T11:12:28.801591Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094085","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:28 np0000094085 etcd[60464]: {"level":"warn","ts":"2026-04-27T11:12:28.801671Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 11:12:28 np0000094085 etcd[60464]: {"level":"fatal","ts":"2026-04-27T11:12:28.801740Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 11:12:28 np0000094085 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 11:12:28 np0000094085 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 11:12:28 np0000094085 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 11:12:28 np0000094085 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 27 11:12:28 np0000094085 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 11:12:29 np0000094085 etcd[60472]: {"level":"warn","ts":"2026-04-27T11:12:29.045959Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 11:12:29 np0000094085 etcd[60472]: {"level":"info","ts":"2026-04-27T11:12:29.046072Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094085","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094085=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 11:12:29 np0000094085 etcd[60472]: {"level":"warn","ts":"2026-04-27T11:12:29.046168Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 11:12:29 np0000094085 etcd[60472]: {"level":"info","ts":"2026-04-27T11:12:29.046184Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 11:12:29 np0000094085 etcd[60472]: {"level":"info","ts":"2026-04-27T11:12:29.046586Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:29 np0000094085 etcd[60472]: {"level":"info","ts":"2026-04-27T11:12:29.046673Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094085","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:29 np0000094085 etcd[60472]: {"level":"info","ts":"2026-04-27T11:12:29.046720Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094085","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 11:12:29 np0000094085 etcd[60472]: {"level":"warn","ts":"2026-04-27T11:12:29.046751Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 11:12:29 np0000094085 etcd[60472]: {"level":"fatal","ts":"2026-04-27T11:12:29.046788Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 11:12:29 np0000094085 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 11:12:29 np0000094085 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 11:12:29 np0000094085 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 11:12:29 np0000094085 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 27 11:12:29 np0000094085 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 27 11:12:29 np0000094085 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 11:12:29 np0000094085 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
