Apr 24 03:28:07 np0000094069 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 03:28:07 np0000094069 etcd[60670]: {"level":"warn","ts":"2026-04-24T03:28:07.191819Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 03:28:07 np0000094069 etcd[60670]: {"level":"info","ts":"2026-04-24T03:28:07.192013Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094069","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094069=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 03:28:07 np0000094069 etcd[60670]: {"level":"warn","ts":"2026-04-24T03:28:07.192198Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 03:28:07 np0000094069 etcd[60670]: {"level":"info","ts":"2026-04-24T03:28:07.192228Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 03:28:07 np0000094069 etcd[60670]: {"level":"info","ts":"2026-04-24T03:28:07.192682Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:07 np0000094069 etcd[60670]: {"level":"info","ts":"2026-04-24T03:28:07.192793Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094069","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:07 np0000094069 etcd[60670]: {"level":"info","ts":"2026-04-24T03:28:07.192867Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094069","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:07 np0000094069 etcd[60670]: {"level":"warn","ts":"2026-04-24T03:28:07.192942Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 03:28:07 np0000094069 etcd[60670]: {"level":"fatal","ts":"2026-04-24T03:28:07.193012Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 03:28:07 np0000094069 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 03:28:07 np0000094069 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 03:28:07 np0000094069 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 03:28:07 np0000094069 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 24 03:28:07 np0000094069 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 03:28:07 np0000094069 etcd[60775]: {"level":"warn","ts":"2026-04-24T03:28:07.607595Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 03:28:07 np0000094069 etcd[60775]: {"level":"info","ts":"2026-04-24T03:28:07.607792Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094069","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094069=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 03:28:07 np0000094069 etcd[60775]: {"level":"warn","ts":"2026-04-24T03:28:07.607976Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 03:28:07 np0000094069 etcd[60775]: {"level":"info","ts":"2026-04-24T03:28:07.608006Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 03:28:07 np0000094069 etcd[60775]: {"level":"info","ts":"2026-04-24T03:28:07.608451Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:07 np0000094069 etcd[60775]: {"level":"info","ts":"2026-04-24T03:28:07.608600Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094069","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:07 np0000094069 etcd[60775]: {"level":"info","ts":"2026-04-24T03:28:07.608694Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094069","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:07 np0000094069 etcd[60775]: {"level":"warn","ts":"2026-04-24T03:28:07.608755Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 03:28:07 np0000094069 etcd[60775]: {"level":"fatal","ts":"2026-04-24T03:28:07.608836Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 03:28:07 np0000094069 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 03:28:07 np0000094069 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 03:28:07 np0000094069 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 03:28:07 np0000094069 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 24 03:28:07 np0000094069 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 03:28:07 np0000094069 etcd[60791]: {"level":"warn","ts":"2026-04-24T03:28:07.859690Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 03:28:07 np0000094069 etcd[60791]: {"level":"info","ts":"2026-04-24T03:28:07.859903Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094069","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094069=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 03:28:07 np0000094069 etcd[60791]: {"level":"warn","ts":"2026-04-24T03:28:07.860139Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 03:28:07 np0000094069 etcd[60791]: {"level":"info","ts":"2026-04-24T03:28:07.860207Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 03:28:07 np0000094069 etcd[60791]: {"level":"info","ts":"2026-04-24T03:28:07.860687Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:07 np0000094069 etcd[60791]: {"level":"info","ts":"2026-04-24T03:28:07.860813Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094069","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:07 np0000094069 etcd[60791]: {"level":"info","ts":"2026-04-24T03:28:07.860876Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094069","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:07 np0000094069 etcd[60791]: {"level":"warn","ts":"2026-04-24T03:28:07.860965Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 03:28:07 np0000094069 etcd[60791]: {"level":"fatal","ts":"2026-04-24T03:28:07.861032Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 03:28:07 np0000094069 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 03:28:07 np0000094069 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 03:28:07 np0000094069 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 03:28:08 np0000094069 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 24 03:28:08 np0000094069 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 03:28:08 np0000094069 etcd[60811]: {"level":"warn","ts":"2026-04-24T03:28:08.100136Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 03:28:08 np0000094069 etcd[60811]: {"level":"info","ts":"2026-04-24T03:28:08.100349Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094069","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094069=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 03:28:08 np0000094069 etcd[60811]: {"level":"warn","ts":"2026-04-24T03:28:08.100517Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 03:28:08 np0000094069 etcd[60811]: {"level":"info","ts":"2026-04-24T03:28:08.100547Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 03:28:08 np0000094069 etcd[60811]: {"level":"info","ts":"2026-04-24T03:28:08.101060Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:08 np0000094069 etcd[60811]: {"level":"info","ts":"2026-04-24T03:28:08.101211Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094069","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:08 np0000094069 etcd[60811]: {"level":"info","ts":"2026-04-24T03:28:08.101292Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094069","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:08 np0000094069 etcd[60811]: {"level":"warn","ts":"2026-04-24T03:28:08.101348Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 03:28:08 np0000094069 etcd[60811]: {"level":"fatal","ts":"2026-04-24T03:28:08.101413Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 03:28:08 np0000094069 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 03:28:08 np0000094069 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 03:28:08 np0000094069 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 03:28:08 np0000094069 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 24 03:28:08 np0000094069 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 03:28:08 np0000094069 etcd[60850]: {"level":"warn","ts":"2026-04-24T03:28:08.362225Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 03:28:08 np0000094069 etcd[60850]: {"level":"info","ts":"2026-04-24T03:28:08.362437Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094069","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094069=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 03:28:08 np0000094069 etcd[60850]: {"level":"warn","ts":"2026-04-24T03:28:08.362767Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 03:28:08 np0000094069 etcd[60850]: {"level":"info","ts":"2026-04-24T03:28:08.362825Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 03:28:08 np0000094069 etcd[60850]: {"level":"info","ts":"2026-04-24T03:28:08.363365Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:08 np0000094069 etcd[60850]: {"level":"info","ts":"2026-04-24T03:28:08.363496Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094069","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:08 np0000094069 etcd[60850]: {"level":"info","ts":"2026-04-24T03:28:08.363563Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094069","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 03:28:08 np0000094069 etcd[60850]: {"level":"warn","ts":"2026-04-24T03:28:08.363622Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 03:28:08 np0000094069 etcd[60850]: {"level":"fatal","ts":"2026-04-24T03:28:08.363710Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 03:28:08 np0000094069 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 03:28:08 np0000094069 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 03:28:08 np0000094069 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 03:28:08 np0000094069 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 24 03:28:08 np0000094069 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 24 03:28:08 np0000094069 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 03:28:08 np0000094069 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
