Apr 23 15:44:46 np0000094052 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 15:44:46 np0000094052 etcd[60466]: {"level":"warn","ts":"2026-04-23T15:44:46.595892Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 15:44:46 np0000094052 etcd[60466]: {"level":"info","ts":"2026-04-23T15:44:46.596051Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094052","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094052=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 15:44:46 np0000094052 etcd[60466]: {"level":"warn","ts":"2026-04-23T15:44:46.596206Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 15:44:46 np0000094052 etcd[60466]: {"level":"info","ts":"2026-04-23T15:44:46.596242Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 15:44:46 np0000094052 etcd[60466]: {"level":"info","ts":"2026-04-23T15:44:46.596716Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:46 np0000094052 etcd[60466]: {"level":"info","ts":"2026-04-23T15:44:46.596831Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094052","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:46 np0000094052 etcd[60466]: {"level":"info","ts":"2026-04-23T15:44:46.596908Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094052","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:46 np0000094052 etcd[60466]: {"level":"warn","ts":"2026-04-23T15:44:46.596960Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 15:44:46 np0000094052 etcd[60466]: {"level":"fatal","ts":"2026-04-23T15:44:46.597022Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 15:44:46 np0000094052 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 15:44:46 np0000094052 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 15:44:46 np0000094052 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 15:44:46 np0000094052 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 23 15:44:46 np0000094052 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 15:44:46 np0000094052 etcd[60523]: {"level":"warn","ts":"2026-04-23T15:44:46.839648Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 15:44:46 np0000094052 etcd[60523]: {"level":"info","ts":"2026-04-23T15:44:46.839848Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094052","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094052=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 15:44:46 np0000094052 etcd[60523]: {"level":"warn","ts":"2026-04-23T15:44:46.840020Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 15:44:46 np0000094052 etcd[60523]: {"level":"info","ts":"2026-04-23T15:44:46.840051Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 15:44:46 np0000094052 etcd[60523]: {"level":"info","ts":"2026-04-23T15:44:46.842060Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:46 np0000094052 etcd[60523]: {"level":"info","ts":"2026-04-23T15:44:46.842204Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094052","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:46 np0000094052 etcd[60523]: {"level":"info","ts":"2026-04-23T15:44:46.842286Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094052","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:46 np0000094052 etcd[60523]: {"level":"warn","ts":"2026-04-23T15:44:46.842349Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 15:44:46 np0000094052 etcd[60523]: {"level":"fatal","ts":"2026-04-23T15:44:46.842439Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 15:44:46 np0000094052 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 15:44:46 np0000094052 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 15:44:46 np0000094052 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 15:44:47 np0000094052 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 23 15:44:47 np0000094052 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 15:44:47 np0000094052 etcd[60586]: {"level":"warn","ts":"2026-04-23T15:44:47.085818Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 15:44:47 np0000094052 etcd[60586]: {"level":"info","ts":"2026-04-23T15:44:47.087025Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094052","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094052=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 15:44:47 np0000094052 etcd[60586]: {"level":"warn","ts":"2026-04-23T15:44:47.087525Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 15:44:47 np0000094052 etcd[60586]: {"level":"info","ts":"2026-04-23T15:44:47.087835Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 15:44:47 np0000094052 etcd[60586]: {"level":"info","ts":"2026-04-23T15:44:47.088271Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:47 np0000094052 etcd[60586]: {"level":"info","ts":"2026-04-23T15:44:47.088376Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094052","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:47 np0000094052 etcd[60586]: {"level":"info","ts":"2026-04-23T15:44:47.088452Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094052","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:47 np0000094052 etcd[60586]: {"level":"warn","ts":"2026-04-23T15:44:47.089253Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 15:44:47 np0000094052 etcd[60586]: {"level":"fatal","ts":"2026-04-23T15:44:47.089327Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 15:44:47 np0000094052 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 15:44:47 np0000094052 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 15:44:47 np0000094052 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 15:44:47 np0000094052 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 23 15:44:47 np0000094052 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 15:44:47 np0000094052 etcd[60593]: {"level":"warn","ts":"2026-04-23T15:44:47.339744Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 15:44:47 np0000094052 etcd[60593]: {"level":"info","ts":"2026-04-23T15:44:47.339926Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094052","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094052=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 15:44:47 np0000094052 etcd[60593]: {"level":"warn","ts":"2026-04-23T15:44:47.340099Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 15:44:47 np0000094052 etcd[60593]: {"level":"info","ts":"2026-04-23T15:44:47.340140Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 15:44:47 np0000094052 etcd[60593]: {"level":"info","ts":"2026-04-23T15:44:47.340728Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:47 np0000094052 etcd[60593]: {"level":"info","ts":"2026-04-23T15:44:47.340853Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094052","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:47 np0000094052 etcd[60593]: {"level":"info","ts":"2026-04-23T15:44:47.340959Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094052","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:47 np0000094052 etcd[60593]: {"level":"warn","ts":"2026-04-23T15:44:47.341017Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 15:44:47 np0000094052 etcd[60593]: {"level":"fatal","ts":"2026-04-23T15:44:47.341105Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 15:44:47 np0000094052 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 15:44:47 np0000094052 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 15:44:47 np0000094052 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 15:44:47 np0000094052 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 23 15:44:47 np0000094052 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 15:44:47 np0000094052 etcd[60619]: {"level":"warn","ts":"2026-04-23T15:44:47.577019Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 15:44:47 np0000094052 etcd[60619]: {"level":"info","ts":"2026-04-23T15:44:47.577181Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094052","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094052=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 15:44:47 np0000094052 etcd[60619]: {"level":"warn","ts":"2026-04-23T15:44:47.577336Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 15:44:47 np0000094052 etcd[60619]: {"level":"info","ts":"2026-04-23T15:44:47.577364Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 15:44:47 np0000094052 etcd[60619]: {"level":"info","ts":"2026-04-23T15:44:47.577770Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:47 np0000094052 etcd[60619]: {"level":"info","ts":"2026-04-23T15:44:47.577885Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094052","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:47 np0000094052 etcd[60619]: {"level":"info","ts":"2026-04-23T15:44:47.577961Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094052","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 15:44:47 np0000094052 etcd[60619]: {"level":"warn","ts":"2026-04-23T15:44:47.578023Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 15:44:47 np0000094052 etcd[60619]: {"level":"fatal","ts":"2026-04-23T15:44:47.578084Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 15:44:47 np0000094052 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 15:44:47 np0000094052 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 15:44:47 np0000094052 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 15:44:47 np0000094052 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 23 15:44:47 np0000094052 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 23 15:44:47 np0000094052 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 15:44:47 np0000094052 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
