Apr 21 12:37:03 np0000094040 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 12:37:03 np0000094040 etcd[60634]: {"level":"warn","ts":"2026-04-21T12:37:03.307608Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 12:37:03 np0000094040 etcd[60634]: {"level":"info","ts":"2026-04-21T12:37:03.308496Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094040","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094040=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 12:37:03 np0000094040 etcd[60634]: {"level":"warn","ts":"2026-04-21T12:37:03.308684Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 12:37:03 np0000094040 etcd[60634]: {"level":"info","ts":"2026-04-21T12:37:03.308712Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 12:37:03 np0000094040 etcd[60634]: {"level":"info","ts":"2026-04-21T12:37:03.309141Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:03 np0000094040 etcd[60634]: {"level":"info","ts":"2026-04-21T12:37:03.309254Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094040","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:03 np0000094040 etcd[60634]: {"level":"info","ts":"2026-04-21T12:37:03.309319Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094040","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:03 np0000094040 etcd[60634]: {"level":"warn","ts":"2026-04-21T12:37:03.309362Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 12:37:03 np0000094040 etcd[60634]: {"level":"fatal","ts":"2026-04-21T12:37:03.309412Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 12:37:03 np0000094040 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 12:37:03 np0000094040 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 12:37:03 np0000094040 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 12:37:03 np0000094040 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 21 12:37:03 np0000094040 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 12:37:03 np0000094040 etcd[60724]: {"level":"warn","ts":"2026-04-21T12:37:03.679697Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 12:37:03 np0000094040 etcd[60724]: {"level":"info","ts":"2026-04-21T12:37:03.679901Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094040","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094040=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 12:37:03 np0000094040 etcd[60724]: {"level":"warn","ts":"2026-04-21T12:37:03.680075Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 12:37:03 np0000094040 etcd[60724]: {"level":"info","ts":"2026-04-21T12:37:03.680105Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 12:37:03 np0000094040 etcd[60724]: {"level":"info","ts":"2026-04-21T12:37:03.680598Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:03 np0000094040 etcd[60724]: {"level":"info","ts":"2026-04-21T12:37:03.680750Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094040","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:03 np0000094040 etcd[60724]: {"level":"info","ts":"2026-04-21T12:37:03.680910Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094040","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:03 np0000094040 etcd[60724]: {"level":"warn","ts":"2026-04-21T12:37:03.680972Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 12:37:03 np0000094040 etcd[60724]: {"level":"fatal","ts":"2026-04-21T12:37:03.681039Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 12:37:03 np0000094040 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 12:37:03 np0000094040 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 12:37:03 np0000094040 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 12:37:03 np0000094040 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 21 12:37:03 np0000094040 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 12:37:03 np0000094040 etcd[60754]: {"level":"warn","ts":"2026-04-21T12:37:03.925224Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 12:37:03 np0000094040 etcd[60754]: {"level":"info","ts":"2026-04-21T12:37:03.926879Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094040","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094040=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 12:37:03 np0000094040 etcd[60754]: {"level":"warn","ts":"2026-04-21T12:37:03.927101Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 12:37:03 np0000094040 etcd[60754]: {"level":"info","ts":"2026-04-21T12:37:03.927145Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 12:37:03 np0000094040 etcd[60754]: {"level":"info","ts":"2026-04-21T12:37:03.927632Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:03 np0000094040 etcd[60754]: {"level":"info","ts":"2026-04-21T12:37:03.927746Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094040","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:03 np0000094040 etcd[60754]: {"level":"info","ts":"2026-04-21T12:37:03.928640Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094040","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:03 np0000094040 etcd[60754]: {"level":"warn","ts":"2026-04-21T12:37:03.928721Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 12:37:03 np0000094040 etcd[60754]: {"level":"fatal","ts":"2026-04-21T12:37:03.928824Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 12:37:03 np0000094040 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 12:37:03 np0000094040 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 12:37:03 np0000094040 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 12:37:04 np0000094040 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 21 12:37:04 np0000094040 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 12:37:04 np0000094040 etcd[60762]: {"level":"warn","ts":"2026-04-21T12:37:04.179966Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 12:37:04 np0000094040 etcd[60762]: {"level":"info","ts":"2026-04-21T12:37:04.181187Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094040","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094040=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 12:37:04 np0000094040 etcd[60762]: {"level":"warn","ts":"2026-04-21T12:37:04.181432Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 12:37:04 np0000094040 etcd[60762]: {"level":"info","ts":"2026-04-21T12:37:04.181467Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 12:37:04 np0000094040 etcd[60762]: {"level":"info","ts":"2026-04-21T12:37:04.182955Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:04 np0000094040 etcd[60762]: {"level":"info","ts":"2026-04-21T12:37:04.183363Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094040","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:04 np0000094040 etcd[60762]: {"level":"info","ts":"2026-04-21T12:37:04.183465Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094040","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:04 np0000094040 etcd[60762]: {"level":"warn","ts":"2026-04-21T12:37:04.183545Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 12:37:04 np0000094040 etcd[60762]: {"level":"fatal","ts":"2026-04-21T12:37:04.183646Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 12:37:04 np0000094040 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 12:37:04 np0000094040 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 12:37:04 np0000094040 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 12:37:04 np0000094040 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 21 12:37:04 np0000094040 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 12:37:04 np0000094040 etcd[60780]: {"level":"warn","ts":"2026-04-21T12:37:04.417828Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 12:37:04 np0000094040 etcd[60780]: {"level":"info","ts":"2026-04-21T12:37:04.417954Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094040","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094040=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 12:37:04 np0000094040 etcd[60780]: {"level":"warn","ts":"2026-04-21T12:37:04.418070Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 12:37:04 np0000094040 etcd[60780]: {"level":"info","ts":"2026-04-21T12:37:04.418099Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 12:37:04 np0000094040 etcd[60780]: {"level":"info","ts":"2026-04-21T12:37:04.418514Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:04 np0000094040 etcd[60780]: {"level":"info","ts":"2026-04-21T12:37:04.418601Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094040","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:04 np0000094040 etcd[60780]: {"level":"info","ts":"2026-04-21T12:37:04.418664Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094040","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 12:37:04 np0000094040 etcd[60780]: {"level":"warn","ts":"2026-04-21T12:37:04.418706Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 12:37:04 np0000094040 etcd[60780]: {"level":"fatal","ts":"2026-04-21T12:37:04.418761Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 12:37:04 np0000094040 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 12:37:04 np0000094040 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 12:37:04 np0000094040 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 12:37:04 np0000094040 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 21 12:37:04 np0000094040 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 21 12:37:04 np0000094040 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 12:37:04 np0000094040 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
