Feb 13 17:21:23 np0000056243 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 17:21:23 np0000056243 etcd[60285]: {"level":"warn","ts":"2026-02-13T17:21:23.951376Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:21:23 np0000056243 etcd[60285]: {"level":"info","ts":"2026-02-13T17:21:23.951554Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056243","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056243=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 17:21:23 np0000056243 etcd[60285]: {"level":"warn","ts":"2026-02-13T17:21:23.951718Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:21:23 np0000056243 etcd[60285]: {"level":"info","ts":"2026-02-13T17:21:23.951754Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 17:21:23 np0000056243 etcd[60285]: {"level":"info","ts":"2026-02-13T17:21:23.952275Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:23 np0000056243 etcd[60285]: {"level":"info","ts":"2026-02-13T17:21:23.952399Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056243","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:23 np0000056243 etcd[60285]: {"level":"info","ts":"2026-02-13T17:21:23.952477Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056243","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:23 np0000056243 etcd[60285]: {"level":"warn","ts":"2026-02-13T17:21:23.952536Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 17:21:23 np0000056243 etcd[60285]: {"level":"fatal","ts":"2026-02-13T17:21:23.952596Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 17:21:23 np0000056243 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 17:21:23 np0000056243 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 17:21:23 np0000056243 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 17:21:24 np0000056243 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 17:21:24 np0000056243 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 17:21:24 np0000056243 etcd[60372]: {"level":"warn","ts":"2026-02-13T17:21:24.290836Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:21:24 np0000056243 etcd[60372]: {"level":"info","ts":"2026-02-13T17:21:24.291014Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056243","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056243=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 17:21:24 np0000056243 etcd[60372]: {"level":"warn","ts":"2026-02-13T17:21:24.291187Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:21:24 np0000056243 etcd[60372]: {"level":"info","ts":"2026-02-13T17:21:24.291223Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 17:21:24 np0000056243 etcd[60372]: {"level":"info","ts":"2026-02-13T17:21:24.294335Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:24 np0000056243 etcd[60372]: {"level":"info","ts":"2026-02-13T17:21:24.294496Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056243","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:24 np0000056243 etcd[60372]: {"level":"info","ts":"2026-02-13T17:21:24.294570Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056243","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:24 np0000056243 etcd[60372]: {"level":"warn","ts":"2026-02-13T17:21:24.294628Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 17:21:24 np0000056243 etcd[60372]: {"level":"fatal","ts":"2026-02-13T17:21:24.294710Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 17:21:24 np0000056243 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 17:21:24 np0000056243 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 17:21:24 np0000056243 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 17:21:24 np0000056243 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 17:21:24 np0000056243 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 17:21:24 np0000056243 etcd[60406]: {"level":"warn","ts":"2026-02-13T17:21:24.543239Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:21:24 np0000056243 etcd[60406]: {"level":"info","ts":"2026-02-13T17:21:24.544326Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056243","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056243=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 17:21:24 np0000056243 etcd[60406]: {"level":"warn","ts":"2026-02-13T17:21:24.544528Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:21:24 np0000056243 etcd[60406]: {"level":"info","ts":"2026-02-13T17:21:24.544561Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 17:21:24 np0000056243 etcd[60406]: {"level":"info","ts":"2026-02-13T17:21:24.546173Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:24 np0000056243 etcd[60406]: {"level":"info","ts":"2026-02-13T17:21:24.546325Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056243","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:24 np0000056243 etcd[60406]: {"level":"info","ts":"2026-02-13T17:21:24.546414Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056243","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:24 np0000056243 etcd[60406]: {"level":"warn","ts":"2026-02-13T17:21:24.546474Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 17:21:24 np0000056243 etcd[60406]: {"level":"fatal","ts":"2026-02-13T17:21:24.546539Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 17:21:24 np0000056243 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 17:21:24 np0000056243 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 17:21:24 np0000056243 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 17:21:24 np0000056243 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 17:21:24 np0000056243 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 17:21:24 np0000056243 etcd[60426]: {"level":"warn","ts":"2026-02-13T17:21:24.791089Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:21:24 np0000056243 etcd[60426]: {"level":"info","ts":"2026-02-13T17:21:24.791267Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056243","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056243=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 17:21:24 np0000056243 etcd[60426]: {"level":"warn","ts":"2026-02-13T17:21:24.791422Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:21:24 np0000056243 etcd[60426]: {"level":"info","ts":"2026-02-13T17:21:24.791453Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 17:21:24 np0000056243 etcd[60426]: {"level":"info","ts":"2026-02-13T17:21:24.791930Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:24 np0000056243 etcd[60426]: {"level":"info","ts":"2026-02-13T17:21:24.792050Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056243","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:24 np0000056243 etcd[60426]: {"level":"info","ts":"2026-02-13T17:21:24.792165Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056243","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:24 np0000056243 etcd[60426]: {"level":"warn","ts":"2026-02-13T17:21:24.792223Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 17:21:24 np0000056243 etcd[60426]: {"level":"fatal","ts":"2026-02-13T17:21:24.792289Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 17:21:24 np0000056243 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 17:21:24 np0000056243 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 17:21:24 np0000056243 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 17:21:24 np0000056243 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 17:21:24 np0000056243 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 17:21:25 np0000056243 etcd[60465]: {"level":"warn","ts":"2026-02-13T17:21:25.036010Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:21:25 np0000056243 etcd[60465]: {"level":"info","ts":"2026-02-13T17:21:25.036233Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056243","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056243=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 17:21:25 np0000056243 etcd[60465]: {"level":"warn","ts":"2026-02-13T17:21:25.036405Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 17:21:25 np0000056243 etcd[60465]: {"level":"info","ts":"2026-02-13T17:21:25.036448Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 17:21:25 np0000056243 etcd[60465]: {"level":"info","ts":"2026-02-13T17:21:25.037242Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:25 np0000056243 etcd[60465]: {"level":"info","ts":"2026-02-13T17:21:25.037366Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056243","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:25 np0000056243 etcd[60465]: {"level":"info","ts":"2026-02-13T17:21:25.037440Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056243","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 17:21:25 np0000056243 etcd[60465]: {"level":"warn","ts":"2026-02-13T17:21:25.037491Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 17:21:25 np0000056243 etcd[60465]: {"level":"fatal","ts":"2026-02-13T17:21:25.037551Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 17:21:25 np0000056243 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 17:21:25 np0000056243 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 17:21:25 np0000056243 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 17:21:25 np0000056243 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 17:21:25 np0000056243 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 17:21:25 np0000056243 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 17:21:25 np0000056243 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
