Jun 29 18:37:14 np0000094511 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 18:37:14 np0000094511 etcd[60711]: {"level":"warn","ts":"2026-06-29T18:37:14.540146Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 18:37:14 np0000094511 etcd[60711]: {"level":"info","ts":"2026-06-29T18:37:14.540374Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094511","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094511=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 18:37:14 np0000094511 etcd[60711]: {"level":"warn","ts":"2026-06-29T18:37:14.540594Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 18:37:14 np0000094511 etcd[60711]: {"level":"info","ts":"2026-06-29T18:37:14.540631Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 18:37:14 np0000094511 etcd[60711]: {"level":"info","ts":"2026-06-29T18:37:14.541138Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:14 np0000094511 etcd[60711]: {"level":"info","ts":"2026-06-29T18:37:14.541278Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094511","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:14 np0000094511 etcd[60711]: {"level":"info","ts":"2026-06-29T18:37:14.541356Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094511","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:14 np0000094511 etcd[60711]: {"level":"warn","ts":"2026-06-29T18:37:14.541428Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 18:37:14 np0000094511 etcd[60711]: {"level":"fatal","ts":"2026-06-29T18:37:14.541519Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 18:37:14 np0000094511 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 18:37:14 np0000094511 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 18:37:14 np0000094511 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 18:37:14 np0000094511 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 29 18:37:14 np0000094511 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 18:37:14 np0000094511 etcd[60831]: {"level":"warn","ts":"2026-06-29T18:37:14.820252Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 18:37:14 np0000094511 etcd[60831]: {"level":"info","ts":"2026-06-29T18:37:14.820510Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094511","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094511=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 18:37:14 np0000094511 etcd[60831]: {"level":"warn","ts":"2026-06-29T18:37:14.820727Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 18:37:14 np0000094511 etcd[60831]: {"level":"info","ts":"2026-06-29T18:37:14.820774Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 18:37:14 np0000094511 etcd[60831]: {"level":"info","ts":"2026-06-29T18:37:14.821290Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:14 np0000094511 etcd[60831]: {"level":"info","ts":"2026-06-29T18:37:14.821414Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094511","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:14 np0000094511 etcd[60831]: {"level":"info","ts":"2026-06-29T18:37:14.821520Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094511","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:14 np0000094511 etcd[60831]: {"level":"warn","ts":"2026-06-29T18:37:14.821576Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 18:37:14 np0000094511 etcd[60831]: {"level":"fatal","ts":"2026-06-29T18:37:14.821659Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 18:37:14 np0000094511 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 18:37:14 np0000094511 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 18:37:14 np0000094511 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 18:37:15 np0000094511 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 29 18:37:15 np0000094511 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 18:37:15 np0000094511 etcd[60851]: {"level":"warn","ts":"2026-06-29T18:37:15.046745Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 18:37:15 np0000094511 etcd[60851]: {"level":"info","ts":"2026-06-29T18:37:15.046845Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094511","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094511=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 18:37:15 np0000094511 etcd[60851]: {"level":"warn","ts":"2026-06-29T18:37:15.046928Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 18:37:15 np0000094511 etcd[60851]: {"level":"info","ts":"2026-06-29T18:37:15.046948Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 18:37:15 np0000094511 etcd[60851]: {"level":"info","ts":"2026-06-29T18:37:15.047165Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:15 np0000094511 etcd[60851]: {"level":"info","ts":"2026-06-29T18:37:15.047240Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094511","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:15 np0000094511 etcd[60851]: {"level":"info","ts":"2026-06-29T18:37:15.047283Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094511","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:15 np0000094511 etcd[60851]: {"level":"warn","ts":"2026-06-29T18:37:15.047309Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 18:37:15 np0000094511 etcd[60851]: {"level":"fatal","ts":"2026-06-29T18:37:15.047354Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 18:37:15 np0000094511 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 18:37:15 np0000094511 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 18:37:15 np0000094511 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 18:37:15 np0000094511 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 29 18:37:15 np0000094511 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 18:37:15 np0000094511 etcd[60889]: {"level":"warn","ts":"2026-06-29T18:37:15.347402Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 18:37:15 np0000094511 etcd[60889]: {"level":"info","ts":"2026-06-29T18:37:15.347590Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094511","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094511=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 18:37:15 np0000094511 etcd[60889]: {"level":"warn","ts":"2026-06-29T18:37:15.347731Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 18:37:15 np0000094511 etcd[60889]: {"level":"info","ts":"2026-06-29T18:37:15.347758Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 18:37:15 np0000094511 etcd[60889]: {"level":"info","ts":"2026-06-29T18:37:15.348343Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:15 np0000094511 etcd[60889]: {"level":"info","ts":"2026-06-29T18:37:15.348509Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094511","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:15 np0000094511 etcd[60889]: {"level":"info","ts":"2026-06-29T18:37:15.348585Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094511","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:15 np0000094511 etcd[60889]: {"level":"warn","ts":"2026-06-29T18:37:15.348689Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 18:37:15 np0000094511 etcd[60889]: {"level":"fatal","ts":"2026-06-29T18:37:15.348752Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 18:37:15 np0000094511 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 18:37:15 np0000094511 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 18:37:15 np0000094511 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 18:37:15 np0000094511 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 29 18:37:15 np0000094511 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 29 18:37:15 np0000094511 etcd[60920]: {"level":"warn","ts":"2026-06-29T18:37:15.539769Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 18:37:15 np0000094511 etcd[60920]: {"level":"info","ts":"2026-06-29T18:37:15.539849Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094511","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094511=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 29 18:37:15 np0000094511 etcd[60920]: {"level":"warn","ts":"2026-06-29T18:37:15.540053Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 29 18:37:15 np0000094511 etcd[60920]: {"level":"info","ts":"2026-06-29T18:37:15.540100Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 29 18:37:15 np0000094511 etcd[60920]: {"level":"info","ts":"2026-06-29T18:37:15.540661Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:15 np0000094511 etcd[60920]: {"level":"info","ts":"2026-06-29T18:37:15.540759Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094511","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:15 np0000094511 etcd[60920]: {"level":"info","ts":"2026-06-29T18:37:15.540795Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094511","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 29 18:37:15 np0000094511 etcd[60920]: {"level":"warn","ts":"2026-06-29T18:37:15.540826Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 29 18:37:15 np0000094511 etcd[60920]: {"level":"fatal","ts":"2026-06-29T18:37:15.540867Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 29 18:37:15 np0000094511 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 29 18:37:15 np0000094511 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 18:37:15 np0000094511 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 29 18:37:15 np0000094511 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 29 18:37:15 np0000094511 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 29 18:37:15 np0000094511 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 29 18:37:15 np0000094511 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
