Jun 24 08:58:37 np0000094456 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 08:58:37 np0000094456 etcd[60488]: {"level":"warn","ts":"2026-06-24T08:58:37.273115Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 08:58:37 np0000094456 etcd[60488]: {"level":"info","ts":"2026-06-24T08:58:37.274360Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094456","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094456=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 08:58:37 np0000094456 etcd[60488]: {"level":"warn","ts":"2026-06-24T08:58:37.274576Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 08:58:37 np0000094456 etcd[60488]: {"level":"info","ts":"2026-06-24T08:58:37.274611Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 08:58:37 np0000094456 etcd[60488]: {"level":"info","ts":"2026-06-24T08:58:37.275188Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:37 np0000094456 etcd[60488]: {"level":"info","ts":"2026-06-24T08:58:37.275313Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094456","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:37 np0000094456 etcd[60488]: {"level":"info","ts":"2026-06-24T08:58:37.275375Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094456","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:37 np0000094456 etcd[60488]: {"level":"warn","ts":"2026-06-24T08:58:37.275431Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 08:58:37 np0000094456 etcd[60488]: {"level":"fatal","ts":"2026-06-24T08:58:37.275517Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 08:58:37 np0000094456 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 08:58:37 np0000094456 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 08:58:37 np0000094456 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 08:58:37 np0000094456 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 24 08:58:37 np0000094456 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 08:58:37 np0000094456 etcd[60532]: {"level":"warn","ts":"2026-06-24T08:58:37.453056Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 08:58:37 np0000094456 etcd[60532]: {"level":"info","ts":"2026-06-24T08:58:37.453215Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094456","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094456=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 08:58:37 np0000094456 etcd[60532]: {"level":"warn","ts":"2026-06-24T08:58:37.453376Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 08:58:37 np0000094456 etcd[60532]: {"level":"info","ts":"2026-06-24T08:58:37.453413Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 08:58:37 np0000094456 etcd[60532]: {"level":"info","ts":"2026-06-24T08:58:37.453888Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:37 np0000094456 etcd[60532]: {"level":"info","ts":"2026-06-24T08:58:37.453998Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094456","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:37 np0000094456 etcd[60532]: {"level":"info","ts":"2026-06-24T08:58:37.454069Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094456","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:37 np0000094456 etcd[60532]: {"level":"warn","ts":"2026-06-24T08:58:37.454118Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 08:58:37 np0000094456 etcd[60532]: {"level":"fatal","ts":"2026-06-24T08:58:37.454176Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 08:58:37 np0000094456 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 08:58:37 np0000094456 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 08:58:37 np0000094456 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 08:58:37 np0000094456 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 24 08:58:37 np0000094456 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 08:58:37 np0000094456 etcd[60609]: {"level":"warn","ts":"2026-06-24T08:58:37.699936Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 08:58:37 np0000094456 etcd[60609]: {"level":"info","ts":"2026-06-24T08:58:37.701197Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094456","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094456=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 08:58:37 np0000094456 etcd[60609]: {"level":"warn","ts":"2026-06-24T08:58:37.701811Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 08:58:37 np0000094456 etcd[60609]: {"level":"info","ts":"2026-06-24T08:58:37.702110Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 08:58:37 np0000094456 etcd[60609]: {"level":"info","ts":"2026-06-24T08:58:37.702888Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:37 np0000094456 etcd[60609]: {"level":"info","ts":"2026-06-24T08:58:37.703301Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094456","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:37 np0000094456 etcd[60609]: {"level":"info","ts":"2026-06-24T08:58:37.703392Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094456","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:37 np0000094456 etcd[60609]: {"level":"warn","ts":"2026-06-24T08:58:37.703464Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 08:58:37 np0000094456 etcd[60609]: {"level":"fatal","ts":"2026-06-24T08:58:37.703525Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 08:58:37 np0000094456 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 08:58:37 np0000094456 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 08:58:37 np0000094456 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 08:58:37 np0000094456 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 24 08:58:37 np0000094456 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 08:58:37 np0000094456 etcd[60619]: {"level":"warn","ts":"2026-06-24T08:58:37.942962Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 08:58:37 np0000094456 etcd[60619]: {"level":"info","ts":"2026-06-24T08:58:37.943157Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094456","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094456=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 08:58:37 np0000094456 etcd[60619]: {"level":"warn","ts":"2026-06-24T08:58:37.943324Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 08:58:37 np0000094456 etcd[60619]: {"level":"info","ts":"2026-06-24T08:58:37.943364Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 08:58:37 np0000094456 etcd[60619]: {"level":"info","ts":"2026-06-24T08:58:37.943894Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:37 np0000094456 etcd[60619]: {"level":"info","ts":"2026-06-24T08:58:37.944016Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094456","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:37 np0000094456 etcd[60619]: {"level":"info","ts":"2026-06-24T08:58:37.944120Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094456","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:37 np0000094456 etcd[60619]: {"level":"warn","ts":"2026-06-24T08:58:37.944178Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 08:58:37 np0000094456 etcd[60619]: {"level":"fatal","ts":"2026-06-24T08:58:37.944243Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 08:58:37 np0000094456 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 08:58:37 np0000094456 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 08:58:37 np0000094456 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 08:58:38 np0000094456 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 24 08:58:38 np0000094456 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 08:58:38 np0000094456 etcd[60643]: {"level":"warn","ts":"2026-06-24T08:58:38.217245Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 08:58:38 np0000094456 etcd[60643]: {"level":"info","ts":"2026-06-24T08:58:38.218558Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094456","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094456=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 08:58:38 np0000094456 etcd[60643]: {"level":"warn","ts":"2026-06-24T08:58:38.220035Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 08:58:38 np0000094456 etcd[60643]: {"level":"info","ts":"2026-06-24T08:58:38.220097Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 08:58:38 np0000094456 etcd[60643]: {"level":"info","ts":"2026-06-24T08:58:38.220558Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:38 np0000094456 etcd[60643]: {"level":"info","ts":"2026-06-24T08:58:38.220683Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094456","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:38 np0000094456 etcd[60643]: {"level":"info","ts":"2026-06-24T08:58:38.222088Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094456","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 08:58:38 np0000094456 etcd[60643]: {"level":"warn","ts":"2026-06-24T08:58:38.222183Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 08:58:38 np0000094456 etcd[60643]: {"level":"fatal","ts":"2026-06-24T08:58:38.222254Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 08:58:38 np0000094456 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 08:58:38 np0000094456 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 08:58:38 np0000094456 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 08:58:38 np0000094456 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 24 08:58:38 np0000094456 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 24 08:58:38 np0000094456 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 08:58:38 np0000094456 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
