Jun 08 16:11:41 np0000094277 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 16:11:41 np0000094277 etcd[65235]: {"level":"warn","ts":"2026-06-08T16:11:41.784202Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 16:11:41 np0000094277 etcd[65235]: {"level":"info","ts":"2026-06-08T16:11:41.784403Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094277","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094277=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 16:11:41 np0000094277 etcd[65235]: {"level":"warn","ts":"2026-06-08T16:11:41.784597Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 16:11:41 np0000094277 etcd[65235]: {"level":"info","ts":"2026-06-08T16:11:41.784646Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 16:11:41 np0000094277 etcd[65235]: {"level":"info","ts":"2026-06-08T16:11:41.785101Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:41 np0000094277 etcd[65235]: {"level":"info","ts":"2026-06-08T16:11:41.785210Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094277","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:41 np0000094277 etcd[65235]: {"level":"info","ts":"2026-06-08T16:11:41.785284Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094277","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:41 np0000094277 etcd[65235]: {"level":"warn","ts":"2026-06-08T16:11:41.785337Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 16:11:41 np0000094277 etcd[65235]: {"level":"fatal","ts":"2026-06-08T16:11:41.785434Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 16:11:41 np0000094277 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 16:11:41 np0000094277 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 16:11:41 np0000094277 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 16:11:42 np0000094277 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 08 16:11:42 np0000094277 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 16:11:42 np0000094277 etcd[65325]: {"level":"warn","ts":"2026-06-08T16:11:42.147379Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 16:11:42 np0000094277 etcd[65325]: {"level":"info","ts":"2026-06-08T16:11:42.147581Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094277","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094277=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 16:11:42 np0000094277 etcd[65325]: {"level":"warn","ts":"2026-06-08T16:11:42.147779Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 16:11:42 np0000094277 etcd[65325]: {"level":"info","ts":"2026-06-08T16:11:42.147821Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 16:11:42 np0000094277 etcd[65325]: {"level":"info","ts":"2026-06-08T16:11:42.148296Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:42 np0000094277 etcd[65325]: {"level":"info","ts":"2026-06-08T16:11:42.148424Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094277","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:42 np0000094277 etcd[65325]: {"level":"info","ts":"2026-06-08T16:11:42.148498Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094277","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:42 np0000094277 etcd[65325]: {"level":"warn","ts":"2026-06-08T16:11:42.148550Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 16:11:42 np0000094277 etcd[65325]: {"level":"fatal","ts":"2026-06-08T16:11:42.148625Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 16:11:42 np0000094277 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 16:11:42 np0000094277 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 16:11:42 np0000094277 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 16:11:42 np0000094277 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 08 16:11:42 np0000094277 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 16:11:42 np0000094277 etcd[65356]: {"level":"warn","ts":"2026-06-08T16:11:42.386218Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 16:11:42 np0000094277 etcd[65356]: {"level":"info","ts":"2026-06-08T16:11:42.386452Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094277","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094277=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 16:11:42 np0000094277 etcd[65356]: {"level":"warn","ts":"2026-06-08T16:11:42.386639Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 16:11:42 np0000094277 etcd[65356]: {"level":"info","ts":"2026-06-08T16:11:42.386674Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 16:11:42 np0000094277 etcd[65356]: {"level":"info","ts":"2026-06-08T16:11:42.387146Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:42 np0000094277 etcd[65356]: {"level":"info","ts":"2026-06-08T16:11:42.387246Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094277","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:42 np0000094277 etcd[65356]: {"level":"info","ts":"2026-06-08T16:11:42.387316Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094277","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:42 np0000094277 etcd[65356]: {"level":"warn","ts":"2026-06-08T16:11:42.387365Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 16:11:42 np0000094277 etcd[65356]: {"level":"fatal","ts":"2026-06-08T16:11:42.387443Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 16:11:42 np0000094277 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 16:11:42 np0000094277 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 16:11:42 np0000094277 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 16:11:42 np0000094277 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 08 16:11:42 np0000094277 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 16:11:42 np0000094277 etcd[65376]: {"level":"warn","ts":"2026-06-08T16:11:42.641132Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 16:11:42 np0000094277 etcd[65376]: {"level":"info","ts":"2026-06-08T16:11:42.641283Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094277","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094277=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 16:11:42 np0000094277 etcd[65376]: {"level":"warn","ts":"2026-06-08T16:11:42.641443Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 16:11:42 np0000094277 etcd[65376]: {"level":"info","ts":"2026-06-08T16:11:42.641471Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 16:11:42 np0000094277 etcd[65376]: {"level":"info","ts":"2026-06-08T16:11:42.641888Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:42 np0000094277 etcd[65376]: {"level":"info","ts":"2026-06-08T16:11:42.641984Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094277","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:42 np0000094277 etcd[65376]: {"level":"info","ts":"2026-06-08T16:11:42.642049Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094277","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:42 np0000094277 etcd[65376]: {"level":"warn","ts":"2026-06-08T16:11:42.642095Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 16:11:42 np0000094277 etcd[65376]: {"level":"fatal","ts":"2026-06-08T16:11:42.642154Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 16:11:42 np0000094277 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 16:11:42 np0000094277 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 16:11:42 np0000094277 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 16:11:42 np0000094277 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 08 16:11:42 np0000094277 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 16:11:42 np0000094277 etcd[65407]: {"level":"warn","ts":"2026-06-08T16:11:42.898864Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 16:11:42 np0000094277 etcd[65407]: {"level":"info","ts":"2026-06-08T16:11:42.899074Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094277","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094277=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 16:11:42 np0000094277 etcd[65407]: {"level":"warn","ts":"2026-06-08T16:11:42.899240Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 16:11:42 np0000094277 etcd[65407]: {"level":"info","ts":"2026-06-08T16:11:42.899270Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 16:11:42 np0000094277 etcd[65407]: {"level":"info","ts":"2026-06-08T16:11:42.899897Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:42 np0000094277 etcd[65407]: {"level":"info","ts":"2026-06-08T16:11:42.900042Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094277","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:42 np0000094277 etcd[65407]: {"level":"info","ts":"2026-06-08T16:11:42.900123Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094277","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 16:11:42 np0000094277 etcd[65407]: {"level":"warn","ts":"2026-06-08T16:11:42.900198Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 16:11:42 np0000094277 etcd[65407]: {"level":"fatal","ts":"2026-06-08T16:11:42.900278Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 16:11:42 np0000094277 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 16:11:42 np0000094277 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 16:11:42 np0000094277 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 16:11:43 np0000094277 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 08 16:11:43 np0000094277 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 08 16:11:43 np0000094277 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 16:11:43 np0000094277 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
