Jun 16 13:35:51 np0000094367 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 13:35:51 np0000094367 etcd[60486]: {"level":"warn","ts":"2026-06-16T13:35:51.110342Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 13:35:51 np0000094367 etcd[60486]: {"level":"info","ts":"2026-06-16T13:35:51.110627Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094367","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094367=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 13:35:51 np0000094367 etcd[60486]: {"level":"warn","ts":"2026-06-16T13:35:51.110797Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 13:35:51 np0000094367 etcd[60486]: {"level":"info","ts":"2026-06-16T13:35:51.110850Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 13:35:51 np0000094367 etcd[60486]: {"level":"info","ts":"2026-06-16T13:35:51.111339Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:51 np0000094367 etcd[60486]: {"level":"info","ts":"2026-06-16T13:35:51.111452Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094367","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:51 np0000094367 etcd[60486]: {"level":"info","ts":"2026-06-16T13:35:51.111531Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094367","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:51 np0000094367 etcd[60486]: {"level":"warn","ts":"2026-06-16T13:35:51.111591Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 13:35:51 np0000094367 etcd[60486]: {"level":"fatal","ts":"2026-06-16T13:35:51.111658Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 13:35:51 np0000094367 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 13:35:51 np0000094367 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 13:35:51 np0000094367 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 13:35:51 np0000094367 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 16 13:35:51 np0000094367 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 13:35:51 np0000094367 etcd[60528]: {"level":"warn","ts":"2026-06-16T13:35:51.311435Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 13:35:51 np0000094367 etcd[60528]: {"level":"info","ts":"2026-06-16T13:35:51.311587Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094367","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094367=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 13:35:51 np0000094367 etcd[60528]: {"level":"warn","ts":"2026-06-16T13:35:51.311748Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 13:35:51 np0000094367 etcd[60528]: {"level":"info","ts":"2026-06-16T13:35:51.311798Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 13:35:51 np0000094367 etcd[60528]: {"level":"info","ts":"2026-06-16T13:35:51.312518Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:51 np0000094367 etcd[60528]: {"level":"info","ts":"2026-06-16T13:35:51.312638Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094367","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:51 np0000094367 etcd[60528]: {"level":"info","ts":"2026-06-16T13:35:51.312714Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094367","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:51 np0000094367 etcd[60528]: {"level":"warn","ts":"2026-06-16T13:35:51.312772Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 13:35:51 np0000094367 etcd[60528]: {"level":"fatal","ts":"2026-06-16T13:35:51.312955Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 13:35:51 np0000094367 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 13:35:51 np0000094367 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 13:35:51 np0000094367 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 13:35:51 np0000094367 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 16 13:35:51 np0000094367 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 13:35:51 np0000094367 etcd[60606]: {"level":"warn","ts":"2026-06-16T13:35:51.535650Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 13:35:51 np0000094367 etcd[60606]: {"level":"info","ts":"2026-06-16T13:35:51.535804Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094367","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094367=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 13:35:51 np0000094367 etcd[60606]: {"level":"warn","ts":"2026-06-16T13:35:51.535971Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 13:35:51 np0000094367 etcd[60606]: {"level":"info","ts":"2026-06-16T13:35:51.535998Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 13:35:51 np0000094367 etcd[60606]: {"level":"info","ts":"2026-06-16T13:35:51.536451Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:51 np0000094367 etcd[60606]: {"level":"info","ts":"2026-06-16T13:35:51.536556Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094367","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:51 np0000094367 etcd[60606]: {"level":"info","ts":"2026-06-16T13:35:51.536629Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094367","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:51 np0000094367 etcd[60606]: {"level":"warn","ts":"2026-06-16T13:35:51.536688Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 13:35:51 np0000094367 etcd[60606]: {"level":"fatal","ts":"2026-06-16T13:35:51.536745Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 13:35:51 np0000094367 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 13:35:51 np0000094367 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 13:35:51 np0000094367 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 13:35:51 np0000094367 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 16 13:35:51 np0000094367 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 13:35:51 np0000094367 etcd[60616]: {"level":"warn","ts":"2026-06-16T13:35:51.804131Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 13:35:51 np0000094367 etcd[60616]: {"level":"info","ts":"2026-06-16T13:35:51.804318Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094367","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094367=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 13:35:51 np0000094367 etcd[60616]: {"level":"warn","ts":"2026-06-16T13:35:51.804493Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 13:35:51 np0000094367 etcd[60616]: {"level":"info","ts":"2026-06-16T13:35:51.804526Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 13:35:51 np0000094367 etcd[60616]: {"level":"info","ts":"2026-06-16T13:35:51.805012Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:51 np0000094367 etcd[60616]: {"level":"info","ts":"2026-06-16T13:35:51.805361Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094367","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:51 np0000094367 etcd[60616]: {"level":"info","ts":"2026-06-16T13:35:51.805502Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094367","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:51 np0000094367 etcd[60616]: {"level":"warn","ts":"2026-06-16T13:35:51.805564Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 13:35:51 np0000094367 etcd[60616]: {"level":"fatal","ts":"2026-06-16T13:35:51.805633Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 13:35:51 np0000094367 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 13:35:51 np0000094367 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 13:35:51 np0000094367 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 13:35:51 np0000094367 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 16 13:35:51 np0000094367 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 13:35:52 np0000094367 etcd[60641]: {"level":"warn","ts":"2026-06-16T13:35:52.060200Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 13:35:52 np0000094367 etcd[60641]: {"level":"info","ts":"2026-06-16T13:35:52.060407Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094367","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094367=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 13:35:52 np0000094367 etcd[60641]: {"level":"warn","ts":"2026-06-16T13:35:52.060605Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 13:35:52 np0000094367 etcd[60641]: {"level":"info","ts":"2026-06-16T13:35:52.060647Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 13:35:52 np0000094367 etcd[60641]: {"level":"info","ts":"2026-06-16T13:35:52.061228Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:52 np0000094367 etcd[60641]: {"level":"info","ts":"2026-06-16T13:35:52.061573Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094367","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:52 np0000094367 etcd[60641]: {"level":"info","ts":"2026-06-16T13:35:52.061676Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094367","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 13:35:52 np0000094367 etcd[60641]: {"level":"warn","ts":"2026-06-16T13:35:52.061878Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 13:35:52 np0000094367 etcd[60641]: {"level":"fatal","ts":"2026-06-16T13:35:52.061952Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 13:35:52 np0000094367 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 13:35:52 np0000094367 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 13:35:52 np0000094367 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 13:35:52 np0000094367 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 16 13:35:52 np0000094367 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 16 13:35:52 np0000094367 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 13:35:52 np0000094367 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
