Jun 02 13:40:06 np0000094210 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 02 13:40:06 np0000094210 etcd[60065]: {"level":"warn","ts":"2026-06-02T13:40:06.215283Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 13:40:06 np0000094210 etcd[60065]: {"level":"info","ts":"2026-06-02T13:40:06.216325Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094210","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094210=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 02 13:40:06 np0000094210 etcd[60065]: {"level":"warn","ts":"2026-06-02T13:40:06.216567Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 13:40:06 np0000094210 etcd[60065]: {"level":"info","ts":"2026-06-02T13:40:06.216626Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 02 13:40:06 np0000094210 etcd[60065]: {"level":"info","ts":"2026-06-02T13:40:06.217624Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:06 np0000094210 etcd[60065]: {"level":"info","ts":"2026-06-02T13:40:06.217757Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094210","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:06 np0000094210 etcd[60065]: {"level":"info","ts":"2026-06-02T13:40:06.217862Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094210","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:06 np0000094210 etcd[60065]: {"level":"warn","ts":"2026-06-02T13:40:06.217925Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 02 13:40:06 np0000094210 etcd[60065]: {"level":"fatal","ts":"2026-06-02T13:40:06.217986Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 02 13:40:06 np0000094210 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 02 13:40:06 np0000094210 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 02 13:40:06 np0000094210 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 02 13:40:06 np0000094210 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 02 13:40:06 np0000094210 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 02 13:40:06 np0000094210 etcd[60164]: {"level":"warn","ts":"2026-06-02T13:40:06.569658Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 13:40:06 np0000094210 etcd[60164]: {"level":"info","ts":"2026-06-02T13:40:06.569860Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094210","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094210=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 02 13:40:06 np0000094210 etcd[60164]: {"level":"warn","ts":"2026-06-02T13:40:06.570029Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 13:40:06 np0000094210 etcd[60164]: {"level":"info","ts":"2026-06-02T13:40:06.570060Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 02 13:40:06 np0000094210 etcd[60164]: {"level":"info","ts":"2026-06-02T13:40:06.570546Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:06 np0000094210 etcd[60164]: {"level":"info","ts":"2026-06-02T13:40:06.570659Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094210","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:06 np0000094210 etcd[60164]: {"level":"info","ts":"2026-06-02T13:40:06.570717Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094210","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:06 np0000094210 etcd[60164]: {"level":"warn","ts":"2026-06-02T13:40:06.570768Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 02 13:40:06 np0000094210 etcd[60164]: {"level":"fatal","ts":"2026-06-02T13:40:06.570878Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 02 13:40:06 np0000094210 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 02 13:40:06 np0000094210 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 02 13:40:06 np0000094210 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 02 13:40:06 np0000094210 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 02 13:40:06 np0000094210 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 02 13:40:06 np0000094210 etcd[60184]: {"level":"warn","ts":"2026-06-02T13:40:06.828903Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 13:40:06 np0000094210 etcd[60184]: {"level":"info","ts":"2026-06-02T13:40:06.830351Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094210","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094210=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 02 13:40:06 np0000094210 etcd[60184]: {"level":"warn","ts":"2026-06-02T13:40:06.830543Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 13:40:06 np0000094210 etcd[60184]: {"level":"info","ts":"2026-06-02T13:40:06.830596Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 02 13:40:06 np0000094210 etcd[60184]: {"level":"info","ts":"2026-06-02T13:40:06.831261Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:06 np0000094210 etcd[60184]: {"level":"info","ts":"2026-06-02T13:40:06.831418Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094210","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:06 np0000094210 etcd[60184]: {"level":"info","ts":"2026-06-02T13:40:06.831503Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094210","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:06 np0000094210 etcd[60184]: {"level":"warn","ts":"2026-06-02T13:40:06.831581Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 02 13:40:06 np0000094210 etcd[60184]: {"level":"fatal","ts":"2026-06-02T13:40:06.831650Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 02 13:40:06 np0000094210 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 02 13:40:06 np0000094210 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 02 13:40:06 np0000094210 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 02 13:40:07 np0000094210 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 02 13:40:07 np0000094210 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 02 13:40:07 np0000094210 etcd[60209]: {"level":"warn","ts":"2026-06-02T13:40:07.057126Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 13:40:07 np0000094210 etcd[60209]: {"level":"info","ts":"2026-06-02T13:40:07.057227Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094210","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094210=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 02 13:40:07 np0000094210 etcd[60209]: {"level":"warn","ts":"2026-06-02T13:40:07.057332Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 13:40:07 np0000094210 etcd[60209]: {"level":"info","ts":"2026-06-02T13:40:07.057349Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 02 13:40:07 np0000094210 etcd[60209]: {"level":"info","ts":"2026-06-02T13:40:07.057662Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:07 np0000094210 etcd[60209]: {"level":"info","ts":"2026-06-02T13:40:07.057727Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094210","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:07 np0000094210 etcd[60209]: {"level":"info","ts":"2026-06-02T13:40:07.057774Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094210","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:07 np0000094210 etcd[60209]: {"level":"warn","ts":"2026-06-02T13:40:07.057846Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 02 13:40:07 np0000094210 etcd[60209]: {"level":"fatal","ts":"2026-06-02T13:40:07.057885Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 02 13:40:07 np0000094210 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 02 13:40:07 np0000094210 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 02 13:40:07 np0000094210 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 02 13:40:07 np0000094210 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 02 13:40:07 np0000094210 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 02 13:40:07 np0000094210 etcd[60252]: {"level":"warn","ts":"2026-06-02T13:40:07.310324Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 13:40:07 np0000094210 etcd[60252]: {"level":"info","ts":"2026-06-02T13:40:07.310421Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094210","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094210=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 02 13:40:07 np0000094210 etcd[60252]: {"level":"warn","ts":"2026-06-02T13:40:07.310513Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 02 13:40:07 np0000094210 etcd[60252]: {"level":"info","ts":"2026-06-02T13:40:07.310530Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 02 13:40:07 np0000094210 etcd[60252]: {"level":"info","ts":"2026-06-02T13:40:07.310829Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:07 np0000094210 etcd[60252]: {"level":"info","ts":"2026-06-02T13:40:07.310896Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094210","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:07 np0000094210 etcd[60252]: {"level":"info","ts":"2026-06-02T13:40:07.310947Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094210","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 02 13:40:07 np0000094210 etcd[60252]: {"level":"warn","ts":"2026-06-02T13:40:07.310977Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 02 13:40:07 np0000094210 etcd[60252]: {"level":"fatal","ts":"2026-06-02T13:40:07.311012Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 02 13:40:07 np0000094210 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 02 13:40:07 np0000094210 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 02 13:40:07 np0000094210 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 02 13:40:07 np0000094210 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 02 13:40:07 np0000094210 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 02 13:40:07 np0000094210 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 02 13:40:07 np0000094210 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
