Apr 14 11:32:44 np0000093941 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 11:32:44 np0000093941 etcd[60683]: {"level":"warn","ts":"2026-04-14T11:32:44.283268Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:32:44 np0000093941 etcd[60683]: {"level":"info","ts":"2026-04-14T11:32:44.283431Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093941","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093941=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 11:32:44 np0000093941 etcd[60683]: {"level":"warn","ts":"2026-04-14T11:32:44.283579Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:32:44 np0000093941 etcd[60683]: {"level":"info","ts":"2026-04-14T11:32:44.283617Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 11:32:44 np0000093941 etcd[60683]: {"level":"info","ts":"2026-04-14T11:32:44.284093Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:44 np0000093941 etcd[60683]: {"level":"info","ts":"2026-04-14T11:32:44.284298Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093941","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:44 np0000093941 etcd[60683]: {"level":"info","ts":"2026-04-14T11:32:44.284376Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093941","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:44 np0000093941 etcd[60683]: {"level":"warn","ts":"2026-04-14T11:32:44.284427Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 11:32:44 np0000093941 etcd[60683]: {"level":"fatal","ts":"2026-04-14T11:32:44.284478Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 11:32:44 np0000093941 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 11:32:44 np0000093941 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 11:32:44 np0000093941 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 11:32:44 np0000093941 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 11:32:44 np0000093941 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 11:32:44 np0000093941 etcd[60747]: {"level":"warn","ts":"2026-04-14T11:32:44.575967Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:32:44 np0000093941 etcd[60747]: {"level":"info","ts":"2026-04-14T11:32:44.576147Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093941","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093941=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 11:32:44 np0000093941 etcd[60747]: {"level":"warn","ts":"2026-04-14T11:32:44.576410Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:32:44 np0000093941 etcd[60747]: {"level":"info","ts":"2026-04-14T11:32:44.576448Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 11:32:44 np0000093941 etcd[60747]: {"level":"info","ts":"2026-04-14T11:32:44.576961Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:44 np0000093941 etcd[60747]: {"level":"info","ts":"2026-04-14T11:32:44.577084Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093941","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:44 np0000093941 etcd[60747]: {"level":"info","ts":"2026-04-14T11:32:44.577169Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093941","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:44 np0000093941 etcd[60747]: {"level":"warn","ts":"2026-04-14T11:32:44.577239Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 11:32:44 np0000093941 etcd[60747]: {"level":"fatal","ts":"2026-04-14T11:32:44.577377Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 11:32:44 np0000093941 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 11:32:44 np0000093941 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 11:32:44 np0000093941 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 11:32:44 np0000093941 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 11:32:44 np0000093941 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 11:32:44 np0000093941 etcd[60803]: {"level":"warn","ts":"2026-04-14T11:32:44.817961Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:32:44 np0000093941 etcd[60803]: {"level":"info","ts":"2026-04-14T11:32:44.818132Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093941","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093941=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 11:32:44 np0000093941 etcd[60803]: {"level":"warn","ts":"2026-04-14T11:32:44.818306Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:32:44 np0000093941 etcd[60803]: {"level":"info","ts":"2026-04-14T11:32:44.818336Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 11:32:44 np0000093941 etcd[60803]: {"level":"info","ts":"2026-04-14T11:32:44.818790Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:44 np0000093941 etcd[60803]: {"level":"info","ts":"2026-04-14T11:32:44.818916Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093941","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:44 np0000093941 etcd[60803]: {"level":"info","ts":"2026-04-14T11:32:44.818993Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093941","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:44 np0000093941 etcd[60803]: {"level":"warn","ts":"2026-04-14T11:32:44.819062Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 11:32:44 np0000093941 etcd[60803]: {"level":"fatal","ts":"2026-04-14T11:32:44.819141Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 11:32:44 np0000093941 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 11:32:44 np0000093941 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 11:32:44 np0000093941 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 11:32:44 np0000093941 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 11:32:45 np0000093941 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 11:32:45 np0000093941 etcd[60811]: {"level":"warn","ts":"2026-04-14T11:32:45.068547Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:32:45 np0000093941 etcd[60811]: {"level":"info","ts":"2026-04-14T11:32:45.068730Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093941","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093941=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 11:32:45 np0000093941 etcd[60811]: {"level":"warn","ts":"2026-04-14T11:32:45.068910Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:32:45 np0000093941 etcd[60811]: {"level":"info","ts":"2026-04-14T11:32:45.068943Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 11:32:45 np0000093941 etcd[60811]: {"level":"info","ts":"2026-04-14T11:32:45.069520Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:45 np0000093941 etcd[60811]: {"level":"info","ts":"2026-04-14T11:32:45.069649Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093941","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:45 np0000093941 etcd[60811]: {"level":"info","ts":"2026-04-14T11:32:45.069732Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093941","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:45 np0000093941 etcd[60811]: {"level":"warn","ts":"2026-04-14T11:32:45.069791Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 11:32:45 np0000093941 etcd[60811]: {"level":"fatal","ts":"2026-04-14T11:32:45.069860Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 11:32:45 np0000093941 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 11:32:45 np0000093941 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 11:32:45 np0000093941 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 11:32:45 np0000093941 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 11:32:45 np0000093941 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 11:32:45 np0000093941 etcd[60851]: {"level":"warn","ts":"2026-04-14T11:32:45.329973Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:32:45 np0000093941 etcd[60851]: {"level":"info","ts":"2026-04-14T11:32:45.330122Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093941","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093941=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 11:32:45 np0000093941 etcd[60851]: {"level":"warn","ts":"2026-04-14T11:32:45.330305Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:32:45 np0000093941 etcd[60851]: {"level":"info","ts":"2026-04-14T11:32:45.330360Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 11:32:45 np0000093941 etcd[60851]: {"level":"info","ts":"2026-04-14T11:32:45.330850Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:45 np0000093941 etcd[60851]: {"level":"info","ts":"2026-04-14T11:32:45.330954Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093941","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:45 np0000093941 etcd[60851]: {"level":"info","ts":"2026-04-14T11:32:45.331016Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093941","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:32:45 np0000093941 etcd[60851]: {"level":"warn","ts":"2026-04-14T11:32:45.331072Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 11:32:45 np0000093941 etcd[60851]: {"level":"fatal","ts":"2026-04-14T11:32:45.331134Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 11:32:45 np0000093941 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 11:32:45 np0000093941 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 11:32:45 np0000093941 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 11:32:45 np0000093941 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 11:32:45 np0000093941 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 11:32:45 np0000093941 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 11:32:45 np0000093941 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
