Jun 03 07:17:30 np0000094223 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 07:17:30 np0000094223 etcd[60227]: {"level":"warn","ts":"2026-06-03T07:17:30.541912Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:17:30 np0000094223 etcd[60227]: {"level":"info","ts":"2026-06-03T07:17:30.542864Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094223","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094223=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 07:17:30 np0000094223 etcd[60227]: {"level":"warn","ts":"2026-06-03T07:17:30.543075Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:17:30 np0000094223 etcd[60227]: {"level":"info","ts":"2026-06-03T07:17:30.543111Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 07:17:30 np0000094223 etcd[60227]: {"level":"info","ts":"2026-06-03T07:17:30.543674Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:30 np0000094223 etcd[60227]: {"level":"info","ts":"2026-06-03T07:17:30.545075Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094223","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:30 np0000094223 etcd[60227]: {"level":"info","ts":"2026-06-03T07:17:30.545185Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094223","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:30 np0000094223 etcd[60227]: {"level":"warn","ts":"2026-06-03T07:17:30.545276Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 07:17:30 np0000094223 etcd[60227]: {"level":"fatal","ts":"2026-06-03T07:17:30.545345Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 07:17:30 np0000094223 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 07:17:30 np0000094223 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 07:17:30 np0000094223 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 07:17:30 np0000094223 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 03 07:17:30 np0000094223 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 07:17:30 np0000094223 etcd[60284]: {"level":"warn","ts":"2026-06-03T07:17:30.792820Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:17:30 np0000094223 etcd[60284]: {"level":"info","ts":"2026-06-03T07:17:30.792991Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094223","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094223=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 07:17:30 np0000094223 etcd[60284]: {"level":"warn","ts":"2026-06-03T07:17:30.793145Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:17:30 np0000094223 etcd[60284]: {"level":"info","ts":"2026-06-03T07:17:30.793175Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 07:17:30 np0000094223 etcd[60284]: {"level":"info","ts":"2026-06-03T07:17:30.793654Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:30 np0000094223 etcd[60284]: {"level":"info","ts":"2026-06-03T07:17:30.793817Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094223","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:30 np0000094223 etcd[60284]: {"level":"info","ts":"2026-06-03T07:17:30.793902Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094223","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:30 np0000094223 etcd[60284]: {"level":"warn","ts":"2026-06-03T07:17:30.793965Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 07:17:30 np0000094223 etcd[60284]: {"level":"fatal","ts":"2026-06-03T07:17:30.794051Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 07:17:30 np0000094223 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 07:17:30 np0000094223 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 07:17:30 np0000094223 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 07:17:30 np0000094223 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 03 07:17:30 np0000094223 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 07:17:31 np0000094223 etcd[60347]: {"level":"warn","ts":"2026-06-03T07:17:31.041642Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:17:31 np0000094223 etcd[60347]: {"level":"info","ts":"2026-06-03T07:17:31.043013Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094223","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094223=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 07:17:31 np0000094223 etcd[60347]: {"level":"warn","ts":"2026-06-03T07:17:31.043220Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:17:31 np0000094223 etcd[60347]: {"level":"info","ts":"2026-06-03T07:17:31.043292Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 07:17:31 np0000094223 etcd[60347]: {"level":"info","ts":"2026-06-03T07:17:31.044522Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:31 np0000094223 etcd[60347]: {"level":"info","ts":"2026-06-03T07:17:31.044674Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094223","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:31 np0000094223 etcd[60347]: {"level":"info","ts":"2026-06-03T07:17:31.044764Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094223","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:31 np0000094223 etcd[60347]: {"level":"warn","ts":"2026-06-03T07:17:31.044857Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 07:17:31 np0000094223 etcd[60347]: {"level":"fatal","ts":"2026-06-03T07:17:31.044934Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 07:17:31 np0000094223 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 07:17:31 np0000094223 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 07:17:31 np0000094223 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 07:17:31 np0000094223 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 03 07:17:31 np0000094223 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 07:17:31 np0000094223 etcd[60364]: {"level":"warn","ts":"2026-06-03T07:17:31.251055Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:17:31 np0000094223 etcd[60364]: {"level":"info","ts":"2026-06-03T07:17:31.251135Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094223","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094223=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 07:17:31 np0000094223 etcd[60364]: {"level":"warn","ts":"2026-06-03T07:17:31.251203Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:17:31 np0000094223 etcd[60364]: {"level":"info","ts":"2026-06-03T07:17:31.251215Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 07:17:31 np0000094223 etcd[60364]: {"level":"info","ts":"2026-06-03T07:17:31.251416Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:31 np0000094223 etcd[60364]: {"level":"info","ts":"2026-06-03T07:17:31.251460Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094223","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:31 np0000094223 etcd[60364]: {"level":"info","ts":"2026-06-03T07:17:31.251490Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094223","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:31 np0000094223 etcd[60364]: {"level":"warn","ts":"2026-06-03T07:17:31.251508Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 07:17:31 np0000094223 etcd[60364]: {"level":"fatal","ts":"2026-06-03T07:17:31.251530Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 07:17:31 np0000094223 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 07:17:31 np0000094223 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 07:17:31 np0000094223 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 07:17:31 np0000094223 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 03 07:17:31 np0000094223 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 07:17:31 np0000094223 etcd[60396]: {"level":"warn","ts":"2026-06-03T07:17:31.534110Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:17:31 np0000094223 etcd[60396]: {"level":"info","ts":"2026-06-03T07:17:31.534303Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094223","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094223=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 07:17:31 np0000094223 etcd[60396]: {"level":"warn","ts":"2026-06-03T07:17:31.534476Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:17:31 np0000094223 etcd[60396]: {"level":"info","ts":"2026-06-03T07:17:31.534506Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 07:17:31 np0000094223 etcd[60396]: {"level":"info","ts":"2026-06-03T07:17:31.534993Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:31 np0000094223 etcd[60396]: {"level":"info","ts":"2026-06-03T07:17:31.535106Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094223","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:31 np0000094223 etcd[60396]: {"level":"info","ts":"2026-06-03T07:17:31.535182Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094223","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:17:31 np0000094223 etcd[60396]: {"level":"warn","ts":"2026-06-03T07:17:31.535271Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 07:17:31 np0000094223 etcd[60396]: {"level":"fatal","ts":"2026-06-03T07:17:31.535331Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 07:17:31 np0000094223 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 07:17:31 np0000094223 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 07:17:31 np0000094223 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 07:17:31 np0000094223 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 03 07:17:31 np0000094223 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 03 07:17:31 np0000094223 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 07:17:31 np0000094223 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
