Apr 13 08:13:18 np0000093912 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 08:13:18 np0000093912 etcd[60262]: {"level":"warn","ts":"2026-04-13T08:13:18.354694Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 08:13:18 np0000093912 etcd[60262]: {"level":"info","ts":"2026-04-13T08:13:18.354868Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093912","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093912=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 08:13:18 np0000093912 etcd[60262]: {"level":"warn","ts":"2026-04-13T08:13:18.355027Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 08:13:18 np0000093912 etcd[60262]: {"level":"info","ts":"2026-04-13T08:13:18.355093Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 08:13:18 np0000093912 etcd[60262]: {"level":"info","ts":"2026-04-13T08:13:18.355502Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:18 np0000093912 etcd[60262]: {"level":"info","ts":"2026-04-13T08:13:18.355634Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093912","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:18 np0000093912 etcd[60262]: {"level":"info","ts":"2026-04-13T08:13:18.355705Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093912","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:18 np0000093912 etcd[60262]: {"level":"warn","ts":"2026-04-13T08:13:18.355760Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 08:13:18 np0000093912 etcd[60262]: {"level":"fatal","ts":"2026-04-13T08:13:18.355815Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 08:13:18 np0000093912 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 08:13:18 np0000093912 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 08:13:18 np0000093912 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 08:13:18 np0000093912 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 13 08:13:18 np0000093912 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 08:13:18 np0000093912 etcd[60315]: {"level":"warn","ts":"2026-04-13T08:13:18.586028Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 08:13:18 np0000093912 etcd[60315]: {"level":"info","ts":"2026-04-13T08:13:18.586258Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093912","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093912=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 08:13:18 np0000093912 etcd[60315]: {"level":"warn","ts":"2026-04-13T08:13:18.586447Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 08:13:18 np0000093912 etcd[60315]: {"level":"info","ts":"2026-04-13T08:13:18.586489Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 08:13:18 np0000093912 etcd[60315]: {"level":"info","ts":"2026-04-13T08:13:18.587005Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:18 np0000093912 etcd[60315]: {"level":"info","ts":"2026-04-13T08:13:18.587166Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093912","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:18 np0000093912 etcd[60315]: {"level":"info","ts":"2026-04-13T08:13:18.587247Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093912","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:18 np0000093912 etcd[60315]: {"level":"warn","ts":"2026-04-13T08:13:18.587304Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 08:13:18 np0000093912 etcd[60315]: {"level":"fatal","ts":"2026-04-13T08:13:18.587370Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 08:13:18 np0000093912 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 08:13:18 np0000093912 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 08:13:18 np0000093912 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 08:13:18 np0000093912 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 13 08:13:18 np0000093912 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 08:13:18 np0000093912 etcd[60382]: {"level":"warn","ts":"2026-04-13T08:13:18.827559Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 08:13:18 np0000093912 etcd[60382]: {"level":"info","ts":"2026-04-13T08:13:18.827767Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093912","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093912=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 08:13:18 np0000093912 etcd[60382]: {"level":"warn","ts":"2026-04-13T08:13:18.827938Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 08:13:18 np0000093912 etcd[60382]: {"level":"info","ts":"2026-04-13T08:13:18.827985Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 08:13:18 np0000093912 etcd[60382]: {"level":"info","ts":"2026-04-13T08:13:18.828582Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:18 np0000093912 etcd[60382]: {"level":"info","ts":"2026-04-13T08:13:18.828708Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093912","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:18 np0000093912 etcd[60382]: {"level":"info","ts":"2026-04-13T08:13:18.828791Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093912","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:18 np0000093912 etcd[60382]: {"level":"warn","ts":"2026-04-13T08:13:18.828846Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 08:13:18 np0000093912 etcd[60382]: {"level":"fatal","ts":"2026-04-13T08:13:18.828912Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 08:13:18 np0000093912 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 08:13:18 np0000093912 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 08:13:18 np0000093912 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 08:13:19 np0000093912 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 13 08:13:19 np0000093912 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 08:13:19 np0000093912 etcd[60389]: {"level":"warn","ts":"2026-04-13T08:13:19.087014Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 08:13:19 np0000093912 etcd[60389]: {"level":"info","ts":"2026-04-13T08:13:19.088643Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093912","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093912=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 08:13:19 np0000093912 etcd[60389]: {"level":"warn","ts":"2026-04-13T08:13:19.088871Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 08:13:19 np0000093912 etcd[60389]: {"level":"info","ts":"2026-04-13T08:13:19.088919Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 08:13:19 np0000093912 etcd[60389]: {"level":"info","ts":"2026-04-13T08:13:19.089536Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:19 np0000093912 etcd[60389]: {"level":"info","ts":"2026-04-13T08:13:19.089654Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093912","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:19 np0000093912 etcd[60389]: {"level":"info","ts":"2026-04-13T08:13:19.089732Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093912","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:19 np0000093912 etcd[60389]: {"level":"warn","ts":"2026-04-13T08:13:19.089786Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 08:13:19 np0000093912 etcd[60389]: {"level":"fatal","ts":"2026-04-13T08:13:19.089848Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 08:13:19 np0000093912 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 08:13:19 np0000093912 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 08:13:19 np0000093912 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 08:13:19 np0000093912 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 13 08:13:19 np0000093912 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 08:13:19 np0000093912 etcd[60419]: {"level":"warn","ts":"2026-04-13T08:13:19.337585Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 08:13:19 np0000093912 etcd[60419]: {"level":"info","ts":"2026-04-13T08:13:19.337730Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093912","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093912=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 08:13:19 np0000093912 etcd[60419]: {"level":"warn","ts":"2026-04-13T08:13:19.337893Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 08:13:19 np0000093912 etcd[60419]: {"level":"info","ts":"2026-04-13T08:13:19.337930Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 08:13:19 np0000093912 etcd[60419]: {"level":"info","ts":"2026-04-13T08:13:19.338406Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:19 np0000093912 etcd[60419]: {"level":"info","ts":"2026-04-13T08:13:19.338534Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093912","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:19 np0000093912 etcd[60419]: {"level":"info","ts":"2026-04-13T08:13:19.338611Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093912","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 08:13:19 np0000093912 etcd[60419]: {"level":"warn","ts":"2026-04-13T08:13:19.338663Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 08:13:19 np0000093912 etcd[60419]: {"level":"fatal","ts":"2026-04-13T08:13:19.338722Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 08:13:19 np0000093912 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 08:13:19 np0000093912 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 08:13:19 np0000093912 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 08:13:19 np0000093912 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 13 08:13:19 np0000093912 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 13 08:13:19 np0000093912 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 08:13:19 np0000093912 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
