Apr 27 10:26:36 np0000094084 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 10:26:36 np0000094084 etcd[60654]: {"level":"warn","ts":"2026-04-27T10:26:36.875112Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 10:26:36 np0000094084 etcd[60654]: {"level":"info","ts":"2026-04-27T10:26:36.875307Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094084","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094084=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 10:26:36 np0000094084 etcd[60654]: {"level":"warn","ts":"2026-04-27T10:26:36.875502Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 10:26:36 np0000094084 etcd[60654]: {"level":"info","ts":"2026-04-27T10:26:36.875536Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 10:26:36 np0000094084 etcd[60654]: {"level":"info","ts":"2026-04-27T10:26:36.875999Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:36 np0000094084 etcd[60654]: {"level":"info","ts":"2026-04-27T10:26:36.876151Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094084","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:36 np0000094084 etcd[60654]: {"level":"info","ts":"2026-04-27T10:26:36.876348Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094084","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:36 np0000094084 etcd[60654]: {"level":"warn","ts":"2026-04-27T10:26:36.876413Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 10:26:36 np0000094084 etcd[60654]: {"level":"fatal","ts":"2026-04-27T10:26:36.876588Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 10:26:36 np0000094084 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 10:26:36 np0000094084 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 10:26:36 np0000094084 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 10:26:37 np0000094084 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 27 10:26:37 np0000094084 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 10:26:37 np0000094084 etcd[60700]: {"level":"warn","ts":"2026-04-27T10:26:37.094771Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 10:26:37 np0000094084 etcd[60700]: {"level":"info","ts":"2026-04-27T10:26:37.094943Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094084","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094084=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 10:26:37 np0000094084 etcd[60700]: {"level":"warn","ts":"2026-04-27T10:26:37.095120Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 10:26:37 np0000094084 etcd[60700]: {"level":"info","ts":"2026-04-27T10:26:37.095151Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 10:26:37 np0000094084 etcd[60700]: {"level":"info","ts":"2026-04-27T10:26:37.095657Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:37 np0000094084 etcd[60700]: {"level":"info","ts":"2026-04-27T10:26:37.095771Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094084","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:37 np0000094084 etcd[60700]: {"level":"info","ts":"2026-04-27T10:26:37.095850Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094084","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:37 np0000094084 etcd[60700]: {"level":"warn","ts":"2026-04-27T10:26:37.095904Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 10:26:37 np0000094084 etcd[60700]: {"level":"fatal","ts":"2026-04-27T10:26:37.095969Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 10:26:37 np0000094084 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 10:26:37 np0000094084 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 10:26:37 np0000094084 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 10:26:37 np0000094084 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 27 10:26:37 np0000094084 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 10:26:37 np0000094084 etcd[60773]: {"level":"warn","ts":"2026-04-27T10:26:37.347741Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 10:26:37 np0000094084 etcd[60773]: {"level":"info","ts":"2026-04-27T10:26:37.347929Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094084","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094084=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 10:26:37 np0000094084 etcd[60773]: {"level":"warn","ts":"2026-04-27T10:26:37.348119Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 10:26:37 np0000094084 etcd[60773]: {"level":"info","ts":"2026-04-27T10:26:37.348152Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 10:26:37 np0000094084 etcd[60773]: {"level":"info","ts":"2026-04-27T10:26:37.348699Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:37 np0000094084 etcd[60773]: {"level":"info","ts":"2026-04-27T10:26:37.348824Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094084","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:37 np0000094084 etcd[60773]: {"level":"info","ts":"2026-04-27T10:26:37.348910Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094084","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:37 np0000094084 etcd[60773]: {"level":"warn","ts":"2026-04-27T10:26:37.348969Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 10:26:37 np0000094084 etcd[60773]: {"level":"fatal","ts":"2026-04-27T10:26:37.349059Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 10:26:37 np0000094084 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 10:26:37 np0000094084 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 10:26:37 np0000094084 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 10:26:37 np0000094084 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 27 10:26:37 np0000094084 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 10:26:37 np0000094084 etcd[60781]: {"level":"warn","ts":"2026-04-27T10:26:37.600322Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 10:26:37 np0000094084 etcd[60781]: {"level":"info","ts":"2026-04-27T10:26:37.600539Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094084","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094084=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 10:26:37 np0000094084 etcd[60781]: {"level":"warn","ts":"2026-04-27T10:26:37.600718Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 10:26:37 np0000094084 etcd[60781]: {"level":"info","ts":"2026-04-27T10:26:37.600760Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 10:26:37 np0000094084 etcd[60781]: {"level":"info","ts":"2026-04-27T10:26:37.601283Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:37 np0000094084 etcd[60781]: {"level":"info","ts":"2026-04-27T10:26:37.601430Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094084","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:37 np0000094084 etcd[60781]: {"level":"info","ts":"2026-04-27T10:26:37.601557Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094084","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:37 np0000094084 etcd[60781]: {"level":"warn","ts":"2026-04-27T10:26:37.601631Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 10:26:37 np0000094084 etcd[60781]: {"level":"fatal","ts":"2026-04-27T10:26:37.601715Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 10:26:37 np0000094084 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 10:26:37 np0000094084 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 10:26:37 np0000094084 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 10:26:37 np0000094084 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 27 10:26:37 np0000094084 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 10:26:37 np0000094084 etcd[60811]: {"level":"warn","ts":"2026-04-27T10:26:37.839190Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 10:26:37 np0000094084 etcd[60811]: {"level":"info","ts":"2026-04-27T10:26:37.839348Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094084","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094084=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 10:26:37 np0000094084 etcd[60811]: {"level":"warn","ts":"2026-04-27T10:26:37.839538Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 10:26:37 np0000094084 etcd[60811]: {"level":"info","ts":"2026-04-27T10:26:37.839569Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 10:26:37 np0000094084 etcd[60811]: {"level":"info","ts":"2026-04-27T10:26:37.840159Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:37 np0000094084 etcd[60811]: {"level":"info","ts":"2026-04-27T10:26:37.840281Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094084","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:37 np0000094084 etcd[60811]: {"level":"info","ts":"2026-04-27T10:26:37.840360Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094084","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 10:26:37 np0000094084 etcd[60811]: {"level":"warn","ts":"2026-04-27T10:26:37.840423Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 10:26:37 np0000094084 etcd[60811]: {"level":"fatal","ts":"2026-04-27T10:26:37.840518Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 10:26:37 np0000094084 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 10:26:37 np0000094084 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 10:26:37 np0000094084 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 10:26:38 np0000094084 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 27 10:26:38 np0000094084 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 27 10:26:38 np0000094084 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 10:26:38 np0000094084 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
