May 19 18:45:54 np0000094134 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 18:45:54 np0000094134 etcd[60031]: {"level":"warn","ts":"2026-05-19T18:45:54.694226Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 18:45:54 np0000094134 etcd[60031]: {"level":"info","ts":"2026-05-19T18:45:54.695377Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094134","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094134=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 18:45:54 np0000094134 etcd[60031]: {"level":"warn","ts":"2026-05-19T18:45:54.695544Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 18:45:54 np0000094134 etcd[60031]: {"level":"info","ts":"2026-05-19T18:45:54.695575Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 18:45:54 np0000094134 etcd[60031]: {"level":"info","ts":"2026-05-19T18:45:54.696110Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:54 np0000094134 etcd[60031]: {"level":"info","ts":"2026-05-19T18:45:54.696240Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094134","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:54 np0000094134 etcd[60031]: {"level":"info","ts":"2026-05-19T18:45:54.696310Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094134","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:54 np0000094134 etcd[60031]: {"level":"warn","ts":"2026-05-19T18:45:54.696419Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 18:45:54 np0000094134 etcd[60031]: {"level":"fatal","ts":"2026-05-19T18:45:54.696478Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 18:45:54 np0000094134 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 18:45:54 np0000094134 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 18:45:54 np0000094134 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 18:45:54 np0000094134 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 19 18:45:54 np0000094134 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 18:45:54 np0000094134 etcd[60090]: {"level":"warn","ts":"2026-05-19T18:45:54.952545Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 18:45:54 np0000094134 etcd[60090]: {"level":"info","ts":"2026-05-19T18:45:54.953785Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094134","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094134=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 18:45:54 np0000094134 etcd[60090]: {"level":"warn","ts":"2026-05-19T18:45:54.953989Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 18:45:54 np0000094134 etcd[60090]: {"level":"info","ts":"2026-05-19T18:45:54.954023Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 18:45:54 np0000094134 etcd[60090]: {"level":"info","ts":"2026-05-19T18:45:54.954463Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:54 np0000094134 etcd[60090]: {"level":"info","ts":"2026-05-19T18:45:54.954574Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094134","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:54 np0000094134 etcd[60090]: {"level":"info","ts":"2026-05-19T18:45:54.954699Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094134","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:54 np0000094134 etcd[60090]: {"level":"warn","ts":"2026-05-19T18:45:54.954753Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 18:45:54 np0000094134 etcd[60090]: {"level":"fatal","ts":"2026-05-19T18:45:54.954814Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 18:45:54 np0000094134 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 18:45:54 np0000094134 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 18:45:54 np0000094134 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 18:45:55 np0000094134 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 19 18:45:55 np0000094134 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 18:45:55 np0000094134 etcd[60150]: {"level":"warn","ts":"2026-05-19T18:45:55.198160Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 18:45:55 np0000094134 etcd[60150]: {"level":"info","ts":"2026-05-19T18:45:55.198342Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094134","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094134=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 18:45:55 np0000094134 etcd[60150]: {"level":"warn","ts":"2026-05-19T18:45:55.198550Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 18:45:55 np0000094134 etcd[60150]: {"level":"info","ts":"2026-05-19T18:45:55.198581Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 18:45:55 np0000094134 etcd[60150]: {"level":"info","ts":"2026-05-19T18:45:55.199059Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:55 np0000094134 etcd[60150]: {"level":"info","ts":"2026-05-19T18:45:55.199206Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094134","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:55 np0000094134 etcd[60150]: {"level":"info","ts":"2026-05-19T18:45:55.199311Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094134","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:55 np0000094134 etcd[60150]: {"level":"warn","ts":"2026-05-19T18:45:55.199369Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 18:45:55 np0000094134 etcd[60150]: {"level":"fatal","ts":"2026-05-19T18:45:55.199435Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 18:45:55 np0000094134 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 18:45:55 np0000094134 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 18:45:55 np0000094134 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 18:45:55 np0000094134 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 19 18:45:55 np0000094134 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 18:45:55 np0000094134 etcd[60163]: {"level":"warn","ts":"2026-05-19T18:45:55.413629Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 18:45:55 np0000094134 etcd[60163]: {"level":"info","ts":"2026-05-19T18:45:55.413757Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094134","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094134=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 18:45:55 np0000094134 etcd[60163]: {"level":"warn","ts":"2026-05-19T18:45:55.413842Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 18:45:55 np0000094134 etcd[60163]: {"level":"info","ts":"2026-05-19T18:45:55.413862Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 18:45:55 np0000094134 etcd[60163]: {"level":"info","ts":"2026-05-19T18:45:55.414104Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:55 np0000094134 etcd[60163]: {"level":"info","ts":"2026-05-19T18:45:55.414177Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094134","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:55 np0000094134 etcd[60163]: {"level":"info","ts":"2026-05-19T18:45:55.414209Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094134","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:55 np0000094134 etcd[60163]: {"level":"warn","ts":"2026-05-19T18:45:55.414237Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 18:45:55 np0000094134 etcd[60163]: {"level":"fatal","ts":"2026-05-19T18:45:55.414269Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 18:45:55 np0000094134 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 18:45:55 np0000094134 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 18:45:55 np0000094134 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 18:45:55 np0000094134 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 19 18:45:55 np0000094134 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 18:45:55 np0000094134 etcd[60201]: {"level":"warn","ts":"2026-05-19T18:45:55.698966Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 18:45:55 np0000094134 etcd[60201]: {"level":"info","ts":"2026-05-19T18:45:55.699180Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094134","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094134=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 18:45:55 np0000094134 etcd[60201]: {"level":"warn","ts":"2026-05-19T18:45:55.699367Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 18:45:55 np0000094134 etcd[60201]: {"level":"info","ts":"2026-05-19T18:45:55.699399Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 18:45:55 np0000094134 etcd[60201]: {"level":"info","ts":"2026-05-19T18:45:55.699902Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:55 np0000094134 etcd[60201]: {"level":"info","ts":"2026-05-19T18:45:55.700035Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094134","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:55 np0000094134 etcd[60201]: {"level":"info","ts":"2026-05-19T18:45:55.700118Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094134","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 18:45:55 np0000094134 etcd[60201]: {"level":"warn","ts":"2026-05-19T18:45:55.700205Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 18:45:55 np0000094134 etcd[60201]: {"level":"fatal","ts":"2026-05-19T18:45:55.700280Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 18:45:55 np0000094134 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 18:45:55 np0000094134 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 18:45:55 np0000094134 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 18:45:55 np0000094134 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 19 18:45:55 np0000094134 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 19 18:45:55 np0000094134 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 18:45:55 np0000094134 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
