Jun 16 12:02:48 np0000094365 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 12:02:49 np0000094365 etcd[60477]: {"level":"warn","ts":"2026-06-16T12:02:49.038975Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:02:49 np0000094365 etcd[60477]: {"level":"info","ts":"2026-06-16T12:02:49.039150Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094365","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094365=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 12:02:49 np0000094365 etcd[60477]: {"level":"warn","ts":"2026-06-16T12:02:49.039322Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:02:49 np0000094365 etcd[60477]: {"level":"info","ts":"2026-06-16T12:02:49.039356Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 12:02:49 np0000094365 etcd[60477]: {"level":"info","ts":"2026-06-16T12:02:49.039817Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:49 np0000094365 etcd[60477]: {"level":"info","ts":"2026-06-16T12:02:49.040001Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094365","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:49 np0000094365 etcd[60477]: {"level":"info","ts":"2026-06-16T12:02:49.040083Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094365","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:49 np0000094365 etcd[60477]: {"level":"warn","ts":"2026-06-16T12:02:49.040142Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 12:02:49 np0000094365 etcd[60477]: {"level":"fatal","ts":"2026-06-16T12:02:49.040207Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 12:02:49 np0000094365 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 12:02:49 np0000094365 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 12:02:49 np0000094365 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 12:02:49 np0000094365 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 16 12:02:49 np0000094365 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 12:02:49 np0000094365 etcd[60540]: {"level":"warn","ts":"2026-06-16T12:02:49.289565Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:02:49 np0000094365 etcd[60540]: {"level":"info","ts":"2026-06-16T12:02:49.289715Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094365","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094365=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 12:02:49 np0000094365 etcd[60540]: {"level":"warn","ts":"2026-06-16T12:02:49.289901Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:02:49 np0000094365 etcd[60540]: {"level":"info","ts":"2026-06-16T12:02:49.289936Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 12:02:49 np0000094365 etcd[60540]: {"level":"info","ts":"2026-06-16T12:02:49.290328Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:49 np0000094365 etcd[60540]: {"level":"info","ts":"2026-06-16T12:02:49.290427Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094365","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:49 np0000094365 etcd[60540]: {"level":"info","ts":"2026-06-16T12:02:49.290517Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094365","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:49 np0000094365 etcd[60540]: {"level":"warn","ts":"2026-06-16T12:02:49.290567Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 12:02:49 np0000094365 etcd[60540]: {"level":"fatal","ts":"2026-06-16T12:02:49.290638Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 12:02:49 np0000094365 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 12:02:49 np0000094365 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 12:02:49 np0000094365 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 12:02:49 np0000094365 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 16 12:02:49 np0000094365 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 12:02:49 np0000094365 etcd[60599]: {"level":"warn","ts":"2026-06-16T12:02:49.543116Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:02:49 np0000094365 etcd[60599]: {"level":"info","ts":"2026-06-16T12:02:49.544396Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094365","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094365=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 12:02:49 np0000094365 etcd[60599]: {"level":"warn","ts":"2026-06-16T12:02:49.544612Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:02:49 np0000094365 etcd[60599]: {"level":"info","ts":"2026-06-16T12:02:49.544648Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 12:02:49 np0000094365 etcd[60599]: {"level":"info","ts":"2026-06-16T12:02:49.545144Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:49 np0000094365 etcd[60599]: {"level":"info","ts":"2026-06-16T12:02:49.545268Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094365","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:49 np0000094365 etcd[60599]: {"level":"info","ts":"2026-06-16T12:02:49.545351Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094365","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:49 np0000094365 etcd[60599]: {"level":"warn","ts":"2026-06-16T12:02:49.545421Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 12:02:49 np0000094365 etcd[60599]: {"level":"fatal","ts":"2026-06-16T12:02:49.545487Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 12:02:49 np0000094365 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 12:02:49 np0000094365 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 12:02:49 np0000094365 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 12:02:49 np0000094365 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 16 12:02:49 np0000094365 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 12:02:49 np0000094365 etcd[60606]: {"level":"warn","ts":"2026-06-16T12:02:49.800916Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:02:49 np0000094365 etcd[60606]: {"level":"info","ts":"2026-06-16T12:02:49.801018Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094365","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094365=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 12:02:49 np0000094365 etcd[60606]: {"level":"warn","ts":"2026-06-16T12:02:49.801097Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:02:49 np0000094365 etcd[60606]: {"level":"info","ts":"2026-06-16T12:02:49.801112Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 12:02:49 np0000094365 etcd[60606]: {"level":"info","ts":"2026-06-16T12:02:49.801352Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:49 np0000094365 etcd[60606]: {"level":"info","ts":"2026-06-16T12:02:49.801413Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094365","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:49 np0000094365 etcd[60606]: {"level":"info","ts":"2026-06-16T12:02:49.801455Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094365","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:49 np0000094365 etcd[60606]: {"level":"warn","ts":"2026-06-16T12:02:49.801483Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 12:02:49 np0000094365 etcd[60606]: {"level":"fatal","ts":"2026-06-16T12:02:49.801516Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 12:02:49 np0000094365 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 12:02:49 np0000094365 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 12:02:49 np0000094365 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 12:02:49 np0000094365 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 16 12:02:49 np0000094365 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 16 12:02:50 np0000094365 etcd[60644]: {"level":"warn","ts":"2026-06-16T12:02:50.051779Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:02:50 np0000094365 etcd[60644]: {"level":"info","ts":"2026-06-16T12:02:50.052035Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094365","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094365=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 16 12:02:50 np0000094365 etcd[60644]: {"level":"warn","ts":"2026-06-16T12:02:50.052205Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 16 12:02:50 np0000094365 etcd[60644]: {"level":"info","ts":"2026-06-16T12:02:50.052245Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 16 12:02:50 np0000094365 etcd[60644]: {"level":"info","ts":"2026-06-16T12:02:50.052742Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:50 np0000094365 etcd[60644]: {"level":"info","ts":"2026-06-16T12:02:50.052917Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094365","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:50 np0000094365 etcd[60644]: {"level":"info","ts":"2026-06-16T12:02:50.053001Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094365","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 16 12:02:50 np0000094365 etcd[60644]: {"level":"warn","ts":"2026-06-16T12:02:50.053061Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 16 12:02:50 np0000094365 etcd[60644]: {"level":"fatal","ts":"2026-06-16T12:02:50.053127Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 16 12:02:50 np0000094365 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 16 12:02:50 np0000094365 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 12:02:50 np0000094365 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 16 12:02:50 np0000094365 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 16 12:02:50 np0000094365 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 16 12:02:50 np0000094365 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 16 12:02:50 np0000094365 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
