Jun 01 14:33:09 np0000094195 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 14:33:09 np0000094195 etcd[60425]: {"level":"warn","ts":"2026-06-01T14:33:09.995610Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 14:33:09 np0000094195 etcd[60425]: {"level":"info","ts":"2026-06-01T14:33:09.995790Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094195","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094195=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 14:33:09 np0000094195 etcd[60425]: {"level":"warn","ts":"2026-06-01T14:33:09.995994Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 14:33:09 np0000094195 etcd[60425]: {"level":"info","ts":"2026-06-01T14:33:09.996042Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 14:33:09 np0000094195 etcd[60425]: {"level":"info","ts":"2026-06-01T14:33:09.996536Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:09 np0000094195 etcd[60425]: {"level":"info","ts":"2026-06-01T14:33:09.996652Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094195","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:09 np0000094195 etcd[60425]: {"level":"info","ts":"2026-06-01T14:33:09.996728Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094195","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:09 np0000094195 etcd[60425]: {"level":"warn","ts":"2026-06-01T14:33:09.996782Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 14:33:09 np0000094195 etcd[60425]: {"level":"fatal","ts":"2026-06-01T14:33:09.996859Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 14:33:10 np0000094195 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 14:33:10 np0000094195 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 14:33:10 np0000094195 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 14:33:10 np0000094195 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 01 14:33:10 np0000094195 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 14:33:10 np0000094195 etcd[60513]: {"level":"warn","ts":"2026-06-01T14:33:10.347648Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 14:33:10 np0000094195 etcd[60513]: {"level":"info","ts":"2026-06-01T14:33:10.347759Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094195","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094195=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 14:33:10 np0000094195 etcd[60513]: {"level":"warn","ts":"2026-06-01T14:33:10.347891Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 14:33:10 np0000094195 etcd[60513]: {"level":"info","ts":"2026-06-01T14:33:10.347960Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 14:33:10 np0000094195 etcd[60513]: {"level":"info","ts":"2026-06-01T14:33:10.348324Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:10 np0000094195 etcd[60513]: {"level":"info","ts":"2026-06-01T14:33:10.348409Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094195","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:10 np0000094195 etcd[60513]: {"level":"info","ts":"2026-06-01T14:33:10.348460Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094195","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:10 np0000094195 etcd[60513]: {"level":"warn","ts":"2026-06-01T14:33:10.348491Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 14:33:10 np0000094195 etcd[60513]: {"level":"fatal","ts":"2026-06-01T14:33:10.348529Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 14:33:10 np0000094195 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 14:33:10 np0000094195 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 14:33:10 np0000094195 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 14:33:10 np0000094195 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 01 14:33:10 np0000094195 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 14:33:10 np0000094195 etcd[60546]: {"level":"warn","ts":"2026-06-01T14:33:10.590860Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 14:33:10 np0000094195 etcd[60546]: {"level":"info","ts":"2026-06-01T14:33:10.591156Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094195","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094195=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 14:33:10 np0000094195 etcd[60546]: {"level":"warn","ts":"2026-06-01T14:33:10.591353Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 14:33:10 np0000094195 etcd[60546]: {"level":"info","ts":"2026-06-01T14:33:10.591387Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 14:33:10 np0000094195 etcd[60546]: {"level":"info","ts":"2026-06-01T14:33:10.591915Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:10 np0000094195 etcd[60546]: {"level":"info","ts":"2026-06-01T14:33:10.592137Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094195","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:10 np0000094195 etcd[60546]: {"level":"info","ts":"2026-06-01T14:33:10.592263Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094195","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:10 np0000094195 etcd[60546]: {"level":"warn","ts":"2026-06-01T14:33:10.592408Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 14:33:10 np0000094195 etcd[60546]: {"level":"fatal","ts":"2026-06-01T14:33:10.592482Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 14:33:10 np0000094195 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 14:33:10 np0000094195 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 14:33:10 np0000094195 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 14:33:10 np0000094195 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 01 14:33:10 np0000094195 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 14:33:10 np0000094195 etcd[60556]: {"level":"warn","ts":"2026-06-01T14:33:10.841252Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 14:33:10 np0000094195 etcd[60556]: {"level":"info","ts":"2026-06-01T14:33:10.841365Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094195","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094195=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 14:33:10 np0000094195 etcd[60556]: {"level":"warn","ts":"2026-06-01T14:33:10.841470Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 14:33:10 np0000094195 etcd[60556]: {"level":"info","ts":"2026-06-01T14:33:10.841494Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 14:33:10 np0000094195 etcd[60556]: {"level":"info","ts":"2026-06-01T14:33:10.841805Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:10 np0000094195 etcd[60556]: {"level":"info","ts":"2026-06-01T14:33:10.841890Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094195","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:10 np0000094195 etcd[60556]: {"level":"info","ts":"2026-06-01T14:33:10.841958Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094195","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:10 np0000094195 etcd[60556]: {"level":"warn","ts":"2026-06-01T14:33:10.842010Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 14:33:10 np0000094195 etcd[60556]: {"level":"fatal","ts":"2026-06-01T14:33:10.842061Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 14:33:10 np0000094195 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 14:33:10 np0000094195 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 14:33:10 np0000094195 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 14:33:11 np0000094195 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 01 14:33:11 np0000094195 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 14:33:11 np0000094195 etcd[60614]: {"level":"warn","ts":"2026-06-01T14:33:11.101790Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 14:33:11 np0000094195 etcd[60614]: {"level":"info","ts":"2026-06-01T14:33:11.101979Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094195","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094195=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 14:33:11 np0000094195 etcd[60614]: {"level":"warn","ts":"2026-06-01T14:33:11.102148Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 14:33:11 np0000094195 etcd[60614]: {"level":"info","ts":"2026-06-01T14:33:11.102175Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 14:33:11 np0000094195 etcd[60614]: {"level":"info","ts":"2026-06-01T14:33:11.102611Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:11 np0000094195 etcd[60614]: {"level":"info","ts":"2026-06-01T14:33:11.102732Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094195","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:11 np0000094195 etcd[60614]: {"level":"info","ts":"2026-06-01T14:33:11.102803Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094195","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 14:33:11 np0000094195 etcd[60614]: {"level":"warn","ts":"2026-06-01T14:33:11.102851Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 14:33:11 np0000094195 etcd[60614]: {"level":"fatal","ts":"2026-06-01T14:33:11.102985Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 14:33:11 np0000094195 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 14:33:11 np0000094195 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 14:33:11 np0000094195 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 14:33:11 np0000094195 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 01 14:33:11 np0000094195 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 01 14:33:11 np0000094195 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 14:33:11 np0000094195 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
