Jun 01 17:51:24 np0000094201 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 17:51:24 np0000094201 etcd[60065]: {"level":"warn","ts":"2026-06-01T17:51:24.276711Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 17:51:24 np0000094201 etcd[60065]: {"level":"info","ts":"2026-06-01T17:51:24.276814Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094201","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094201=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 17:51:24 np0000094201 etcd[60065]: {"level":"warn","ts":"2026-06-01T17:51:24.276900Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 17:51:24 np0000094201 etcd[60065]: {"level":"info","ts":"2026-06-01T17:51:24.276920Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 17:51:24 np0000094201 etcd[60065]: {"level":"info","ts":"2026-06-01T17:51:24.277770Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:24 np0000094201 etcd[60065]: {"level":"info","ts":"2026-06-01T17:51:24.277859Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094201","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:24 np0000094201 etcd[60065]: {"level":"info","ts":"2026-06-01T17:51:24.277947Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094201","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:24 np0000094201 etcd[60065]: {"level":"warn","ts":"2026-06-01T17:51:24.278037Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 17:51:24 np0000094201 etcd[60065]: {"level":"fatal","ts":"2026-06-01T17:51:24.278083Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 17:51:24 np0000094201 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 17:51:24 np0000094201 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 17:51:24 np0000094201 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 17:51:24 np0000094201 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 01 17:51:24 np0000094201 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 17:51:24 np0000094201 etcd[60178]: {"level":"warn","ts":"2026-06-01T17:51:24.672312Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 17:51:24 np0000094201 etcd[60178]: {"level":"info","ts":"2026-06-01T17:51:24.672517Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094201","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094201=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 17:51:24 np0000094201 etcd[60178]: {"level":"warn","ts":"2026-06-01T17:51:24.672720Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 17:51:24 np0000094201 etcd[60178]: {"level":"info","ts":"2026-06-01T17:51:24.672751Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 17:51:24 np0000094201 etcd[60178]: {"level":"info","ts":"2026-06-01T17:51:24.673182Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:24 np0000094201 etcd[60178]: {"level":"info","ts":"2026-06-01T17:51:24.673308Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094201","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:24 np0000094201 etcd[60178]: {"level":"info","ts":"2026-06-01T17:51:24.673391Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094201","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:24 np0000094201 etcd[60178]: {"level":"warn","ts":"2026-06-01T17:51:24.673448Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 17:51:24 np0000094201 etcd[60178]: {"level":"fatal","ts":"2026-06-01T17:51:24.673515Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 17:51:24 np0000094201 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 17:51:24 np0000094201 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 17:51:24 np0000094201 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 17:51:24 np0000094201 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 01 17:51:24 np0000094201 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 17:51:24 np0000094201 etcd[60185]: {"level":"warn","ts":"2026-06-01T17:51:24.941093Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 17:51:24 np0000094201 etcd[60185]: {"level":"info","ts":"2026-06-01T17:51:24.941288Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094201","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094201=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 17:51:24 np0000094201 etcd[60185]: {"level":"warn","ts":"2026-06-01T17:51:24.941461Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 17:51:24 np0000094201 etcd[60185]: {"level":"info","ts":"2026-06-01T17:51:24.941494Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 17:51:24 np0000094201 etcd[60185]: {"level":"info","ts":"2026-06-01T17:51:24.942095Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:24 np0000094201 etcd[60185]: {"level":"info","ts":"2026-06-01T17:51:24.942226Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094201","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:24 np0000094201 etcd[60185]: {"level":"info","ts":"2026-06-01T17:51:24.942312Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094201","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:24 np0000094201 etcd[60185]: {"level":"warn","ts":"2026-06-01T17:51:24.942373Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 17:51:24 np0000094201 etcd[60185]: {"level":"fatal","ts":"2026-06-01T17:51:24.942441Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 17:51:24 np0000094201 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 17:51:24 np0000094201 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 17:51:24 np0000094201 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 17:51:25 np0000094201 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 01 17:51:25 np0000094201 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 17:51:25 np0000094201 etcd[60212]: {"level":"warn","ts":"2026-06-01T17:51:25.193425Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 17:51:25 np0000094201 etcd[60212]: {"level":"info","ts":"2026-06-01T17:51:25.194443Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094201","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094201=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 17:51:25 np0000094201 etcd[60212]: {"level":"warn","ts":"2026-06-01T17:51:25.194663Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 17:51:25 np0000094201 etcd[60212]: {"level":"info","ts":"2026-06-01T17:51:25.194701Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 17:51:25 np0000094201 etcd[60212]: {"level":"info","ts":"2026-06-01T17:51:25.195198Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:25 np0000094201 etcd[60212]: {"level":"info","ts":"2026-06-01T17:51:25.195323Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094201","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:25 np0000094201 etcd[60212]: {"level":"info","ts":"2026-06-01T17:51:25.195409Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094201","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:25 np0000094201 etcd[60212]: {"level":"warn","ts":"2026-06-01T17:51:25.195469Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 17:51:25 np0000094201 etcd[60212]: {"level":"fatal","ts":"2026-06-01T17:51:25.195537Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 17:51:25 np0000094201 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 17:51:25 np0000094201 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 17:51:25 np0000094201 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 17:51:25 np0000094201 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 01 17:51:25 np0000094201 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 01 17:51:25 np0000094201 etcd[60249]: {"level":"warn","ts":"2026-06-01T17:51:25.419273Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 17:51:25 np0000094201 etcd[60249]: {"level":"info","ts":"2026-06-01T17:51:25.419404Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094201","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094201=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 01 17:51:25 np0000094201 etcd[60249]: {"level":"warn","ts":"2026-06-01T17:51:25.419521Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 01 17:51:25 np0000094201 etcd[60249]: {"level":"info","ts":"2026-06-01T17:51:25.419577Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 01 17:51:25 np0000094201 etcd[60249]: {"level":"info","ts":"2026-06-01T17:51:25.419946Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:25 np0000094201 etcd[60249]: {"level":"info","ts":"2026-06-01T17:51:25.420031Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094201","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:25 np0000094201 etcd[60249]: {"level":"info","ts":"2026-06-01T17:51:25.420083Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094201","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 01 17:51:25 np0000094201 etcd[60249]: {"level":"warn","ts":"2026-06-01T17:51:25.420122Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 01 17:51:25 np0000094201 etcd[60249]: {"level":"fatal","ts":"2026-06-01T17:51:25.420180Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 01 17:51:25 np0000094201 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 01 17:51:25 np0000094201 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 17:51:25 np0000094201 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 01 17:51:25 np0000094201 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 01 17:51:25 np0000094201 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 01 17:51:25 np0000094201 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 01 17:51:25 np0000094201 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
