Apr 08 19:25:46 np0000093878 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 19:25:46 np0000093878 etcd[65692]: {"level":"warn","ts":"2026-04-08T19:25:46.277170Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 19:25:46 np0000093878 etcd[65692]: {"level":"info","ts":"2026-04-08T19:25:46.277366Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093878","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093878=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 19:25:46 np0000093878 etcd[65692]: {"level":"warn","ts":"2026-04-08T19:25:46.277589Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 19:25:46 np0000093878 etcd[65692]: {"level":"info","ts":"2026-04-08T19:25:46.277634Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 19:25:46 np0000093878 etcd[65692]: {"level":"info","ts":"2026-04-08T19:25:46.278129Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:46 np0000093878 etcd[65692]: {"level":"info","ts":"2026-04-08T19:25:46.278252Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093878","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:46 np0000093878 etcd[65692]: {"level":"info","ts":"2026-04-08T19:25:46.278334Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093878","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:46 np0000093878 etcd[65692]: {"level":"warn","ts":"2026-04-08T19:25:46.278391Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 19:25:46 np0000093878 etcd[65692]: {"level":"fatal","ts":"2026-04-08T19:25:46.278511Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 19:25:46 np0000093878 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 19:25:46 np0000093878 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 19:25:46 np0000093878 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 19:25:46 np0000093878 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 08 19:25:46 np0000093878 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 19:25:46 np0000093878 etcd[65740]: {"level":"warn","ts":"2026-04-08T19:25:46.493963Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 19:25:46 np0000093878 etcd[65740]: {"level":"info","ts":"2026-04-08T19:25:46.495055Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093878","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093878=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 19:25:46 np0000093878 etcd[65740]: {"level":"warn","ts":"2026-04-08T19:25:46.495263Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 19:25:46 np0000093878 etcd[65740]: {"level":"info","ts":"2026-04-08T19:25:46.495298Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 19:25:46 np0000093878 etcd[65740]: {"level":"info","ts":"2026-04-08T19:25:46.495797Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:46 np0000093878 etcd[65740]: {"level":"info","ts":"2026-04-08T19:25:46.495914Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093878","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:46 np0000093878 etcd[65740]: {"level":"info","ts":"2026-04-08T19:25:46.496666Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093878","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:46 np0000093878 etcd[65740]: {"level":"warn","ts":"2026-04-08T19:25:46.496751Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 19:25:46 np0000093878 etcd[65740]: {"level":"fatal","ts":"2026-04-08T19:25:46.496813Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 19:25:46 np0000093878 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 19:25:46 np0000093878 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 19:25:46 np0000093878 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 19:25:46 np0000093878 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 08 19:25:46 np0000093878 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 19:25:46 np0000093878 etcd[65812]: {"level":"warn","ts":"2026-04-08T19:25:46.734383Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 19:25:46 np0000093878 etcd[65812]: {"level":"info","ts":"2026-04-08T19:25:46.734606Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093878","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093878=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 19:25:46 np0000093878 etcd[65812]: {"level":"warn","ts":"2026-04-08T19:25:46.734798Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 19:25:46 np0000093878 etcd[65812]: {"level":"info","ts":"2026-04-08T19:25:46.734842Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 19:25:46 np0000093878 etcd[65812]: {"level":"info","ts":"2026-04-08T19:25:46.735431Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:46 np0000093878 etcd[65812]: {"level":"info","ts":"2026-04-08T19:25:46.735584Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093878","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:46 np0000093878 etcd[65812]: {"level":"info","ts":"2026-04-08T19:25:46.735664Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093878","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:46 np0000093878 etcd[65812]: {"level":"warn","ts":"2026-04-08T19:25:46.735742Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 19:25:46 np0000093878 etcd[65812]: {"level":"fatal","ts":"2026-04-08T19:25:46.735822Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 19:25:46 np0000093878 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 19:25:46 np0000093878 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 19:25:46 np0000093878 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 19:25:46 np0000093878 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 08 19:25:46 np0000093878 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 19:25:46 np0000093878 etcd[65819]: {"level":"warn","ts":"2026-04-08T19:25:46.953561Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 19:25:46 np0000093878 etcd[65819]: {"level":"info","ts":"2026-04-08T19:25:46.953628Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093878","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093878=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 19:25:46 np0000093878 etcd[65819]: {"level":"warn","ts":"2026-04-08T19:25:46.953698Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 19:25:46 np0000093878 etcd[65819]: {"level":"info","ts":"2026-04-08T19:25:46.953710Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 19:25:46 np0000093878 etcd[65819]: {"level":"info","ts":"2026-04-08T19:25:46.953903Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:46 np0000093878 etcd[65819]: {"level":"info","ts":"2026-04-08T19:25:46.953941Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093878","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:46 np0000093878 etcd[65819]: {"level":"info","ts":"2026-04-08T19:25:46.953962Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093878","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:46 np0000093878 etcd[65819]: {"level":"warn","ts":"2026-04-08T19:25:46.953980Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 19:25:46 np0000093878 etcd[65819]: {"level":"fatal","ts":"2026-04-08T19:25:46.954003Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 19:25:46 np0000093878 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 19:25:46 np0000093878 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 19:25:46 np0000093878 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 19:25:47 np0000093878 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 08 19:25:47 np0000093878 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 19:25:47 np0000093878 etcd[65844]: {"level":"warn","ts":"2026-04-08T19:25:47.227096Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 19:25:47 np0000093878 etcd[65844]: {"level":"info","ts":"2026-04-08T19:25:47.228365Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093878","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093878=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 19:25:47 np0000093878 etcd[65844]: {"level":"warn","ts":"2026-04-08T19:25:47.228584Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 19:25:47 np0000093878 etcd[65844]: {"level":"info","ts":"2026-04-08T19:25:47.228615Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 19:25:47 np0000093878 etcd[65844]: {"level":"info","ts":"2026-04-08T19:25:47.229022Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:47 np0000093878 etcd[65844]: {"level":"info","ts":"2026-04-08T19:25:47.229114Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093878","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:47 np0000093878 etcd[65844]: {"level":"info","ts":"2026-04-08T19:25:47.229181Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093878","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 19:25:47 np0000093878 etcd[65844]: {"level":"warn","ts":"2026-04-08T19:25:47.229235Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 19:25:47 np0000093878 etcd[65844]: {"level":"fatal","ts":"2026-04-08T19:25:47.229287Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 19:25:47 np0000093878 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 19:25:47 np0000093878 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 19:25:47 np0000093878 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 19:25:47 np0000093878 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 08 19:25:47 np0000093878 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 08 19:25:47 np0000093878 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 19:25:47 np0000093878 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
