Apr 27 20:43:37 np0000094089 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 20:43:37 np0000094089 etcd[60195]: {"level":"warn","ts":"2026-04-27T20:43:37.466285Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 20:43:37 np0000094089 etcd[60195]: {"level":"info","ts":"2026-04-27T20:43:37.466498Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094089","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094089=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 20:43:37 np0000094089 etcd[60195]: {"level":"warn","ts":"2026-04-27T20:43:37.466648Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 20:43:37 np0000094089 etcd[60195]: {"level":"info","ts":"2026-04-27T20:43:37.466675Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 20:43:37 np0000094089 etcd[60195]: {"level":"info","ts":"2026-04-27T20:43:37.467114Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:37 np0000094089 etcd[60195]: {"level":"info","ts":"2026-04-27T20:43:37.467360Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094089","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:37 np0000094089 etcd[60195]: {"level":"info","ts":"2026-04-27T20:43:37.467495Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094089","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:37 np0000094089 etcd[60195]: {"level":"warn","ts":"2026-04-27T20:43:37.467589Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 20:43:37 np0000094089 etcd[60195]: {"level":"fatal","ts":"2026-04-27T20:43:37.467720Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 20:43:37 np0000094089 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 20:43:37 np0000094089 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 20:43:37 np0000094089 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 20:43:37 np0000094089 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 27 20:43:37 np0000094089 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 20:43:37 np0000094089 etcd[60246]: {"level":"warn","ts":"2026-04-27T20:43:37.643236Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 20:43:37 np0000094089 etcd[60246]: {"level":"info","ts":"2026-04-27T20:43:37.643386Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094089","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094089=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 20:43:37 np0000094089 etcd[60246]: {"level":"warn","ts":"2026-04-27T20:43:37.643501Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 20:43:37 np0000094089 etcd[60246]: {"level":"info","ts":"2026-04-27T20:43:37.643521Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 20:43:37 np0000094089 etcd[60246]: {"level":"info","ts":"2026-04-27T20:43:37.643855Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:37 np0000094089 etcd[60246]: {"level":"info","ts":"2026-04-27T20:43:37.643932Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094089","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:37 np0000094089 etcd[60246]: {"level":"info","ts":"2026-04-27T20:43:37.643986Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094089","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:37 np0000094089 etcd[60246]: {"level":"warn","ts":"2026-04-27T20:43:37.644032Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 20:43:37 np0000094089 etcd[60246]: {"level":"fatal","ts":"2026-04-27T20:43:37.644074Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 20:43:37 np0000094089 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 20:43:37 np0000094089 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 20:43:37 np0000094089 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 20:43:37 np0000094089 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 27 20:43:37 np0000094089 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 20:43:37 np0000094089 etcd[60332]: {"level":"warn","ts":"2026-04-27T20:43:37.871262Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 20:43:37 np0000094089 etcd[60332]: {"level":"info","ts":"2026-04-27T20:43:37.871816Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094089","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094089=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 20:43:37 np0000094089 etcd[60332]: {"level":"warn","ts":"2026-04-27T20:43:37.872064Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 20:43:37 np0000094089 etcd[60332]: {"level":"info","ts":"2026-04-27T20:43:37.872085Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 20:43:37 np0000094089 etcd[60332]: {"level":"info","ts":"2026-04-27T20:43:37.872346Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:37 np0000094089 etcd[60332]: {"level":"info","ts":"2026-04-27T20:43:37.872404Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094089","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:37 np0000094089 etcd[60332]: {"level":"info","ts":"2026-04-27T20:43:37.872443Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094089","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:37 np0000094089 etcd[60332]: {"level":"warn","ts":"2026-04-27T20:43:37.872478Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 20:43:37 np0000094089 etcd[60332]: {"level":"fatal","ts":"2026-04-27T20:43:37.872514Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 20:43:37 np0000094089 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 20:43:37 np0000094089 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 20:43:37 np0000094089 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 20:43:38 np0000094089 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 27 20:43:38 np0000094089 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 20:43:38 np0000094089 etcd[60339]: {"level":"warn","ts":"2026-04-27T20:43:38.132324Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 20:43:38 np0000094089 etcd[60339]: {"level":"info","ts":"2026-04-27T20:43:38.132421Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094089","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094089=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 20:43:38 np0000094089 etcd[60339]: {"level":"warn","ts":"2026-04-27T20:43:38.132508Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 20:43:38 np0000094089 etcd[60339]: {"level":"info","ts":"2026-04-27T20:43:38.132524Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 20:43:38 np0000094089 etcd[60339]: {"level":"info","ts":"2026-04-27T20:43:38.132854Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:38 np0000094089 etcd[60339]: {"level":"info","ts":"2026-04-27T20:43:38.132921Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094089","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:38 np0000094089 etcd[60339]: {"level":"info","ts":"2026-04-27T20:43:38.132965Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094089","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:38 np0000094089 etcd[60339]: {"level":"warn","ts":"2026-04-27T20:43:38.132998Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 20:43:38 np0000094089 etcd[60339]: {"level":"fatal","ts":"2026-04-27T20:43:38.133031Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 20:43:38 np0000094089 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 20:43:38 np0000094089 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 20:43:38 np0000094089 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 20:43:38 np0000094089 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 27 20:43:38 np0000094089 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 20:43:38 np0000094089 etcd[60379]: {"level":"warn","ts":"2026-04-27T20:43:38.404489Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 20:43:38 np0000094089 etcd[60379]: {"level":"info","ts":"2026-04-27T20:43:38.404644Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094089","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094089=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 20:43:38 np0000094089 etcd[60379]: {"level":"warn","ts":"2026-04-27T20:43:38.404784Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 20:43:38 np0000094089 etcd[60379]: {"level":"info","ts":"2026-04-27T20:43:38.404811Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 20:43:38 np0000094089 etcd[60379]: {"level":"info","ts":"2026-04-27T20:43:38.405281Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:38 np0000094089 etcd[60379]: {"level":"info","ts":"2026-04-27T20:43:38.405413Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094089","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:38 np0000094089 etcd[60379]: {"level":"info","ts":"2026-04-27T20:43:38.405488Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094089","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 20:43:38 np0000094089 etcd[60379]: {"level":"warn","ts":"2026-04-27T20:43:38.405538Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 20:43:38 np0000094089 etcd[60379]: {"level":"fatal","ts":"2026-04-27T20:43:38.405595Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 20:43:38 np0000094089 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 20:43:38 np0000094089 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 20:43:38 np0000094089 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 20:43:38 np0000094089 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 27 20:43:38 np0000094089 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 27 20:43:38 np0000094089 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 20:43:38 np0000094089 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
