Apr 02 19:28:22 np0000093839 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 19:28:22 np0000093839 etcd[60636]: {"level":"warn","ts":"2026-04-02T19:28:22.402703Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 19:28:22 np0000093839 etcd[60636]: {"level":"info","ts":"2026-04-02T19:28:22.403972Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093839","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093839=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 19:28:22 np0000093839 etcd[60636]: {"level":"warn","ts":"2026-04-02T19:28:22.404171Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 19:28:22 np0000093839 etcd[60636]: {"level":"info","ts":"2026-04-02T19:28:22.404204Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 19:28:22 np0000093839 etcd[60636]: {"level":"info","ts":"2026-04-02T19:28:22.404899Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:22 np0000093839 etcd[60636]: {"level":"info","ts":"2026-04-02T19:28:22.405029Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093839","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:22 np0000093839 etcd[60636]: {"level":"info","ts":"2026-04-02T19:28:22.405102Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093839","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:22 np0000093839 etcd[60636]: {"level":"warn","ts":"2026-04-02T19:28:22.405152Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 19:28:22 np0000093839 etcd[60636]: {"level":"fatal","ts":"2026-04-02T19:28:22.405210Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 19:28:22 np0000093839 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 19:28:22 np0000093839 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 19:28:22 np0000093839 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 19:28:22 np0000093839 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 02 19:28:22 np0000093839 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 19:28:22 np0000093839 etcd[60733]: {"level":"warn","ts":"2026-04-02T19:28:22.786412Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 19:28:22 np0000093839 etcd[60733]: {"level":"info","ts":"2026-04-02T19:28:22.786666Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093839","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093839=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 19:28:22 np0000093839 etcd[60733]: {"level":"warn","ts":"2026-04-02T19:28:22.786937Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 19:28:22 np0000093839 etcd[60733]: {"level":"info","ts":"2026-04-02T19:28:22.786997Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 19:28:22 np0000093839 etcd[60733]: {"level":"info","ts":"2026-04-02T19:28:22.787780Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:22 np0000093839 etcd[60733]: {"level":"info","ts":"2026-04-02T19:28:22.787942Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093839","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:22 np0000093839 etcd[60733]: {"level":"info","ts":"2026-04-02T19:28:22.788049Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093839","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:22 np0000093839 etcd[60733]: {"level":"warn","ts":"2026-04-02T19:28:22.788124Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 19:28:22 np0000093839 etcd[60733]: {"level":"fatal","ts":"2026-04-02T19:28:22.788208Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 19:28:22 np0000093839 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 19:28:22 np0000093839 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 19:28:22 np0000093839 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 19:28:22 np0000093839 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 02 19:28:22 np0000093839 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 19:28:23 np0000093839 etcd[60755]: {"level":"warn","ts":"2026-04-02T19:28:23.044123Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 19:28:23 np0000093839 etcd[60755]: {"level":"info","ts":"2026-04-02T19:28:23.044340Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093839","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093839=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 19:28:23 np0000093839 etcd[60755]: {"level":"warn","ts":"2026-04-02T19:28:23.044515Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 19:28:23 np0000093839 etcd[60755]: {"level":"info","ts":"2026-04-02T19:28:23.044557Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 19:28:23 np0000093839 etcd[60755]: {"level":"info","ts":"2026-04-02T19:28:23.045099Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:23 np0000093839 etcd[60755]: {"level":"info","ts":"2026-04-02T19:28:23.045223Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093839","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:23 np0000093839 etcd[60755]: {"level":"info","ts":"2026-04-02T19:28:23.045338Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093839","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:23 np0000093839 etcd[60755]: {"level":"warn","ts":"2026-04-02T19:28:23.045397Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 19:28:23 np0000093839 etcd[60755]: {"level":"fatal","ts":"2026-04-02T19:28:23.045465Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 19:28:23 np0000093839 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 19:28:23 np0000093839 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 19:28:23 np0000093839 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 19:28:23 np0000093839 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 02 19:28:23 np0000093839 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 19:28:23 np0000093839 etcd[60781]: {"level":"warn","ts":"2026-04-02T19:28:23.288140Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 19:28:23 np0000093839 etcd[60781]: {"level":"info","ts":"2026-04-02T19:28:23.288355Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093839","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093839=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 19:28:23 np0000093839 etcd[60781]: {"level":"warn","ts":"2026-04-02T19:28:23.288518Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 19:28:23 np0000093839 etcd[60781]: {"level":"info","ts":"2026-04-02T19:28:23.288555Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 19:28:23 np0000093839 etcd[60781]: {"level":"info","ts":"2026-04-02T19:28:23.288974Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:23 np0000093839 etcd[60781]: {"level":"info","ts":"2026-04-02T19:28:23.289078Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093839","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:23 np0000093839 etcd[60781]: {"level":"info","ts":"2026-04-02T19:28:23.289145Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093839","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:23 np0000093839 etcd[60781]: {"level":"warn","ts":"2026-04-02T19:28:23.289192Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 19:28:23 np0000093839 etcd[60781]: {"level":"fatal","ts":"2026-04-02T19:28:23.289249Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 19:28:23 np0000093839 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 19:28:23 np0000093839 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 19:28:23 np0000093839 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 19:28:23 np0000093839 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 02 19:28:23 np0000093839 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 19:28:23 np0000093839 etcd[60856]: {"level":"warn","ts":"2026-04-02T19:28:23.495626Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 19:28:23 np0000093839 etcd[60856]: {"level":"info","ts":"2026-04-02T19:28:23.495724Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093839","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093839=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 19:28:23 np0000093839 etcd[60856]: {"level":"warn","ts":"2026-04-02T19:28:23.495825Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 19:28:23 np0000093839 etcd[60856]: {"level":"info","ts":"2026-04-02T19:28:23.495843Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 19:28:23 np0000093839 etcd[60856]: {"level":"info","ts":"2026-04-02T19:28:23.496107Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:23 np0000093839 etcd[60856]: {"level":"info","ts":"2026-04-02T19:28:23.496168Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093839","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:23 np0000093839 etcd[60856]: {"level":"info","ts":"2026-04-02T19:28:23.496201Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093839","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 19:28:23 np0000093839 etcd[60856]: {"level":"warn","ts":"2026-04-02T19:28:23.496229Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 19:28:23 np0000093839 etcd[60856]: {"level":"fatal","ts":"2026-04-02T19:28:23.496296Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 19:28:23 np0000093839 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 19:28:23 np0000093839 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 19:28:23 np0000093839 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 19:28:23 np0000093839 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 02 19:28:23 np0000093839 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 02 19:28:23 np0000093839 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 19:28:23 np0000093839 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
