Feb 13 19:52:57 np0000056249 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:52:57 np0000056249 etcd[60271]: {"level":"warn","ts":"2026-02-13T19:52:57.068169Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:52:57 np0000056249 etcd[60271]: {"level":"info","ts":"2026-02-13T19:52:57.068407Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056249","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056249=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:52:57 np0000056249 etcd[60271]: {"level":"warn","ts":"2026-02-13T19:52:57.068546Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:52:57 np0000056249 etcd[60271]: {"level":"info","ts":"2026-02-13T19:52:57.068577Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:52:57 np0000056249 etcd[60271]: {"level":"info","ts":"2026-02-13T19:52:57.068993Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:57 np0000056249 etcd[60271]: {"level":"info","ts":"2026-02-13T19:52:57.069084Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056249","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:57 np0000056249 etcd[60271]: {"level":"info","ts":"2026-02-13T19:52:57.069145Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056249","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:57 np0000056249 etcd[60271]: {"level":"warn","ts":"2026-02-13T19:52:57.069189Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:52:57 np0000056249 etcd[60271]: {"level":"fatal","ts":"2026-02-13T19:52:57.069266Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:52:57 np0000056249 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:52:57 np0000056249 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:52:57 np0000056249 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:52:57 np0000056249 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 19:52:57 np0000056249 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:52:57 np0000056249 etcd[60362]: {"level":"warn","ts":"2026-02-13T19:52:57.365392Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:52:57 np0000056249 etcd[60362]: {"level":"info","ts":"2026-02-13T19:52:57.365577Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056249","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056249=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:52:57 np0000056249 etcd[60362]: {"level":"warn","ts":"2026-02-13T19:52:57.365747Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:52:57 np0000056249 etcd[60362]: {"level":"info","ts":"2026-02-13T19:52:57.365775Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:52:57 np0000056249 etcd[60362]: {"level":"info","ts":"2026-02-13T19:52:57.366755Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:57 np0000056249 etcd[60362]: {"level":"info","ts":"2026-02-13T19:52:57.366893Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056249","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:57 np0000056249 etcd[60362]: {"level":"info","ts":"2026-02-13T19:52:57.366950Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056249","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:57 np0000056249 etcd[60362]: {"level":"warn","ts":"2026-02-13T19:52:57.367008Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:52:57 np0000056249 etcd[60362]: {"level":"fatal","ts":"2026-02-13T19:52:57.367087Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:52:57 np0000056249 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:52:57 np0000056249 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:52:57 np0000056249 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:52:57 np0000056249 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 19:52:57 np0000056249 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:52:57 np0000056249 etcd[60392]: {"level":"warn","ts":"2026-02-13T19:52:57.615461Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:52:57 np0000056249 etcd[60392]: {"level":"info","ts":"2026-02-13T19:52:57.615637Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056249","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056249=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:52:57 np0000056249 etcd[60392]: {"level":"warn","ts":"2026-02-13T19:52:57.615789Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:52:57 np0000056249 etcd[60392]: {"level":"info","ts":"2026-02-13T19:52:57.615837Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:52:57 np0000056249 etcd[60392]: {"level":"info","ts":"2026-02-13T19:52:57.616429Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:57 np0000056249 etcd[60392]: {"level":"info","ts":"2026-02-13T19:52:57.616558Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056249","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:57 np0000056249 etcd[60392]: {"level":"info","ts":"2026-02-13T19:52:57.616639Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056249","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:57 np0000056249 etcd[60392]: {"level":"warn","ts":"2026-02-13T19:52:57.616697Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:52:57 np0000056249 etcd[60392]: {"level":"fatal","ts":"2026-02-13T19:52:57.616763Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:52:57 np0000056249 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:52:57 np0000056249 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:52:57 np0000056249 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:52:57 np0000056249 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 19:52:57 np0000056249 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:52:57 np0000056249 etcd[60417]: {"level":"warn","ts":"2026-02-13T19:52:57.865173Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:52:57 np0000056249 etcd[60417]: {"level":"info","ts":"2026-02-13T19:52:57.865429Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056249","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056249=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:52:57 np0000056249 etcd[60417]: {"level":"warn","ts":"2026-02-13T19:52:57.865601Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:52:57 np0000056249 etcd[60417]: {"level":"info","ts":"2026-02-13T19:52:57.865642Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:52:57 np0000056249 etcd[60417]: {"level":"info","ts":"2026-02-13T19:52:57.866135Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:57 np0000056249 etcd[60417]: {"level":"info","ts":"2026-02-13T19:52:57.866305Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056249","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:57 np0000056249 etcd[60417]: {"level":"info","ts":"2026-02-13T19:52:57.866389Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056249","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:57 np0000056249 etcd[60417]: {"level":"warn","ts":"2026-02-13T19:52:57.866447Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:52:57 np0000056249 etcd[60417]: {"level":"fatal","ts":"2026-02-13T19:52:57.866511Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:52:57 np0000056249 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:52:57 np0000056249 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:52:57 np0000056249 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:52:58 np0000056249 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 19:52:58 np0000056249 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 19:52:58 np0000056249 etcd[60473]: {"level":"warn","ts":"2026-02-13T19:52:58.098661Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:52:58 np0000056249 etcd[60473]: {"level":"info","ts":"2026-02-13T19:52:58.098821Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056249","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056249=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 19:52:58 np0000056249 etcd[60473]: {"level":"warn","ts":"2026-02-13T19:52:58.098974Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 19:52:58 np0000056249 etcd[60473]: {"level":"info","ts":"2026-02-13T19:52:58.099011Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 19:52:58 np0000056249 etcd[60473]: {"level":"info","ts":"2026-02-13T19:52:58.099520Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:58 np0000056249 etcd[60473]: {"level":"info","ts":"2026-02-13T19:52:58.099673Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056249","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:58 np0000056249 etcd[60473]: {"level":"info","ts":"2026-02-13T19:52:58.099745Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056249","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 19:52:58 np0000056249 etcd[60473]: {"level":"warn","ts":"2026-02-13T19:52:58.099804Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 19:52:58 np0000056249 etcd[60473]: {"level":"fatal","ts":"2026-02-13T19:52:58.099897Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 19:52:58 np0000056249 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 19:52:58 np0000056249 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:52:58 np0000056249 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 19:52:58 np0000056249 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 19:52:58 np0000056249 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 19:52:58 np0000056249 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 19:52:58 np0000056249 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
