Feb 13 21:06:22 np0000056252 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 21:06:22 np0000056252 etcd[60698]: {"level":"warn","ts":"2026-02-13T21:06:22.503914Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:06:22 np0000056252 etcd[60698]: {"level":"info","ts":"2026-02-13T21:06:22.504112Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056252","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056252=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 21:06:22 np0000056252 etcd[60698]: {"level":"warn","ts":"2026-02-13T21:06:22.504299Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:06:22 np0000056252 etcd[60698]: {"level":"info","ts":"2026-02-13T21:06:22.504328Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 21:06:22 np0000056252 etcd[60698]: {"level":"info","ts":"2026-02-13T21:06:22.504830Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:22 np0000056252 etcd[60698]: {"level":"info","ts":"2026-02-13T21:06:22.504965Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056252","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:22 np0000056252 etcd[60698]: {"level":"info","ts":"2026-02-13T21:06:22.505053Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056252","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:22 np0000056252 etcd[60698]: {"level":"warn","ts":"2026-02-13T21:06:22.505119Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 21:06:22 np0000056252 etcd[60698]: {"level":"fatal","ts":"2026-02-13T21:06:22.505233Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 21:06:22 np0000056252 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 21:06:22 np0000056252 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 21:06:22 np0000056252 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 21:06:22 np0000056252 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 21:06:22 np0000056252 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 21:06:22 np0000056252 etcd[60762]: {"level":"warn","ts":"2026-02-13T21:06:22.776845Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:06:22 np0000056252 etcd[60762]: {"level":"info","ts":"2026-02-13T21:06:22.777004Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056252","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056252=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 21:06:22 np0000056252 etcd[60762]: {"level":"warn","ts":"2026-02-13T21:06:22.777154Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:06:22 np0000056252 etcd[60762]: {"level":"info","ts":"2026-02-13T21:06:22.777217Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 21:06:22 np0000056252 etcd[60762]: {"level":"info","ts":"2026-02-13T21:06:22.777683Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:22 np0000056252 etcd[60762]: {"level":"info","ts":"2026-02-13T21:06:22.777788Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056252","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:22 np0000056252 etcd[60762]: {"level":"info","ts":"2026-02-13T21:06:22.777859Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056252","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:22 np0000056252 etcd[60762]: {"level":"warn","ts":"2026-02-13T21:06:22.777910Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 21:06:22 np0000056252 etcd[60762]: {"level":"fatal","ts":"2026-02-13T21:06:22.777968Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 21:06:22 np0000056252 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 21:06:22 np0000056252 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 21:06:22 np0000056252 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 21:06:22 np0000056252 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 21:06:22 np0000056252 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 21:06:23 np0000056252 etcd[60818]: {"level":"warn","ts":"2026-02-13T21:06:23.002716Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:06:23 np0000056252 etcd[60818]: {"level":"info","ts":"2026-02-13T21:06:23.002808Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056252","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056252=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 21:06:23 np0000056252 etcd[60818]: {"level":"warn","ts":"2026-02-13T21:06:23.002910Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:06:23 np0000056252 etcd[60818]: {"level":"info","ts":"2026-02-13T21:06:23.002925Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 21:06:23 np0000056252 etcd[60818]: {"level":"info","ts":"2026-02-13T21:06:23.003214Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:23 np0000056252 etcd[60818]: {"level":"info","ts":"2026-02-13T21:06:23.003291Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056252","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:23 np0000056252 etcd[60818]: {"level":"info","ts":"2026-02-13T21:06:23.003324Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056252","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:23 np0000056252 etcd[60818]: {"level":"warn","ts":"2026-02-13T21:06:23.003355Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 21:06:23 np0000056252 etcd[60818]: {"level":"fatal","ts":"2026-02-13T21:06:23.003404Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 21:06:23 np0000056252 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 21:06:23 np0000056252 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 21:06:23 np0000056252 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 21:06:23 np0000056252 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 21:06:23 np0000056252 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 21:06:23 np0000056252 etcd[60832]: {"level":"warn","ts":"2026-02-13T21:06:23.252573Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:06:23 np0000056252 etcd[60832]: {"level":"info","ts":"2026-02-13T21:06:23.252692Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056252","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056252=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 21:06:23 np0000056252 etcd[60832]: {"level":"warn","ts":"2026-02-13T21:06:23.252785Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:06:23 np0000056252 etcd[60832]: {"level":"info","ts":"2026-02-13T21:06:23.252801Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 21:06:23 np0000056252 etcd[60832]: {"level":"info","ts":"2026-02-13T21:06:23.253042Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:23 np0000056252 etcd[60832]: {"level":"info","ts":"2026-02-13T21:06:23.253105Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056252","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:23 np0000056252 etcd[60832]: {"level":"info","ts":"2026-02-13T21:06:23.253147Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056252","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:23 np0000056252 etcd[60832]: {"level":"warn","ts":"2026-02-13T21:06:23.253201Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 21:06:23 np0000056252 etcd[60832]: {"level":"fatal","ts":"2026-02-13T21:06:23.253235Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 21:06:23 np0000056252 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 21:06:23 np0000056252 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 21:06:23 np0000056252 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 21:06:23 np0000056252 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 21:06:23 np0000056252 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 21:06:23 np0000056252 etcd[60871]: {"level":"warn","ts":"2026-02-13T21:06:23.491798Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:06:23 np0000056252 etcd[60871]: {"level":"info","ts":"2026-02-13T21:06:23.491886Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056252","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056252=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 21:06:23 np0000056252 etcd[60871]: {"level":"warn","ts":"2026-02-13T21:06:23.491968Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 21:06:23 np0000056252 etcd[60871]: {"level":"info","ts":"2026-02-13T21:06:23.491984Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 21:06:23 np0000056252 etcd[60871]: {"level":"info","ts":"2026-02-13T21:06:23.492242Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:23 np0000056252 etcd[60871]: {"level":"info","ts":"2026-02-13T21:06:23.492310Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056252","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:23 np0000056252 etcd[60871]: {"level":"info","ts":"2026-02-13T21:06:23.492351Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056252","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 21:06:23 np0000056252 etcd[60871]: {"level":"warn","ts":"2026-02-13T21:06:23.492379Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 21:06:23 np0000056252 etcd[60871]: {"level":"fatal","ts":"2026-02-13T21:06:23.492411Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 21:06:23 np0000056252 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 21:06:23 np0000056252 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 21:06:23 np0000056252 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 21:06:23 np0000056252 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 21:06:23 np0000056252 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 21:06:23 np0000056252 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 21:06:23 np0000056252 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
