Jun 08 14:43:09 np0000094274 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 14:43:09 np0000094274 etcd[60130]: {"level":"warn","ts":"2026-06-08T14:43:09.412097Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:43:09 np0000094274 etcd[60130]: {"level":"info","ts":"2026-06-08T14:43:09.413266Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094274","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094274=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 14:43:09 np0000094274 etcd[60130]: {"level":"warn","ts":"2026-06-08T14:43:09.413530Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:43:09 np0000094274 etcd[60130]: {"level":"info","ts":"2026-06-08T14:43:09.413578Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 14:43:09 np0000094274 etcd[60130]: {"level":"info","ts":"2026-06-08T14:43:09.414061Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:09 np0000094274 etcd[60130]: {"level":"info","ts":"2026-06-08T14:43:09.414185Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094274","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:09 np0000094274 etcd[60130]: {"level":"info","ts":"2026-06-08T14:43:09.414333Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094274","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:09 np0000094274 etcd[60130]: {"level":"warn","ts":"2026-06-08T14:43:09.414396Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 14:43:09 np0000094274 etcd[60130]: {"level":"fatal","ts":"2026-06-08T14:43:09.414464Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 14:43:09 np0000094274 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 14:43:09 np0000094274 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 14:43:09 np0000094274 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 14:43:09 np0000094274 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 08 14:43:09 np0000094274 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 14:43:09 np0000094274 etcd[60181]: {"level":"warn","ts":"2026-06-08T14:43:09.648600Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:43:09 np0000094274 etcd[60181]: {"level":"info","ts":"2026-06-08T14:43:09.649698Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094274","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094274=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 14:43:09 np0000094274 etcd[60181]: {"level":"warn","ts":"2026-06-08T14:43:09.649903Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:43:09 np0000094274 etcd[60181]: {"level":"info","ts":"2026-06-08T14:43:09.649936Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 14:43:09 np0000094274 etcd[60181]: {"level":"info","ts":"2026-06-08T14:43:09.650637Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:09 np0000094274 etcd[60181]: {"level":"info","ts":"2026-06-08T14:43:09.650750Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094274","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:09 np0000094274 etcd[60181]: {"level":"info","ts":"2026-06-08T14:43:09.650827Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094274","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:09 np0000094274 etcd[60181]: {"level":"warn","ts":"2026-06-08T14:43:09.650879Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 14:43:09 np0000094274 etcd[60181]: {"level":"fatal","ts":"2026-06-08T14:43:09.650939Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 14:43:09 np0000094274 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 14:43:09 np0000094274 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 14:43:09 np0000094274 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 14:43:09 np0000094274 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 08 14:43:09 np0000094274 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 14:43:09 np0000094274 etcd[60252]: {"level":"warn","ts":"2026-06-08T14:43:09.904245Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:43:09 np0000094274 etcd[60252]: {"level":"info","ts":"2026-06-08T14:43:09.904507Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094274","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094274=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 14:43:09 np0000094274 etcd[60252]: {"level":"warn","ts":"2026-06-08T14:43:09.904700Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:43:09 np0000094274 etcd[60252]: {"level":"info","ts":"2026-06-08T14:43:09.904743Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 14:43:09 np0000094274 etcd[60252]: {"level":"info","ts":"2026-06-08T14:43:09.905268Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:09 np0000094274 etcd[60252]: {"level":"info","ts":"2026-06-08T14:43:09.905434Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094274","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:09 np0000094274 etcd[60252]: {"level":"info","ts":"2026-06-08T14:43:09.905517Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094274","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:09 np0000094274 etcd[60252]: {"level":"warn","ts":"2026-06-08T14:43:09.905575Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 14:43:09 np0000094274 etcd[60252]: {"level":"fatal","ts":"2026-06-08T14:43:09.905642Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 14:43:09 np0000094274 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 14:43:09 np0000094274 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 14:43:09 np0000094274 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 14:43:10 np0000094274 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 08 14:43:10 np0000094274 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 14:43:10 np0000094274 etcd[60259]: {"level":"warn","ts":"2026-06-08T14:43:10.152195Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:43:10 np0000094274 etcd[60259]: {"level":"info","ts":"2026-06-08T14:43:10.152439Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094274","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094274=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 14:43:10 np0000094274 etcd[60259]: {"level":"warn","ts":"2026-06-08T14:43:10.152594Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:43:10 np0000094274 etcd[60259]: {"level":"info","ts":"2026-06-08T14:43:10.152629Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 14:43:10 np0000094274 etcd[60259]: {"level":"info","ts":"2026-06-08T14:43:10.153061Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:10 np0000094274 etcd[60259]: {"level":"info","ts":"2026-06-08T14:43:10.153166Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094274","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:10 np0000094274 etcd[60259]: {"level":"info","ts":"2026-06-08T14:43:10.153260Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094274","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:10 np0000094274 etcd[60259]: {"level":"warn","ts":"2026-06-08T14:43:10.153339Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 14:43:10 np0000094274 etcd[60259]: {"level":"fatal","ts":"2026-06-08T14:43:10.153408Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 14:43:10 np0000094274 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 14:43:10 np0000094274 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 14:43:10 np0000094274 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 14:43:10 np0000094274 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 08 14:43:10 np0000094274 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 08 14:43:10 np0000094274 etcd[60283]: {"level":"warn","ts":"2026-06-08T14:43:10.398496Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:43:10 np0000094274 etcd[60283]: {"level":"info","ts":"2026-06-08T14:43:10.398690Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094274","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094274=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 08 14:43:10 np0000094274 etcd[60283]: {"level":"warn","ts":"2026-06-08T14:43:10.398866Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 08 14:43:10 np0000094274 etcd[60283]: {"level":"info","ts":"2026-06-08T14:43:10.398905Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 08 14:43:10 np0000094274 etcd[60283]: {"level":"info","ts":"2026-06-08T14:43:10.399514Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:10 np0000094274 etcd[60283]: {"level":"info","ts":"2026-06-08T14:43:10.399631Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094274","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:10 np0000094274 etcd[60283]: {"level":"info","ts":"2026-06-08T14:43:10.399707Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094274","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 08 14:43:10 np0000094274 etcd[60283]: {"level":"warn","ts":"2026-06-08T14:43:10.399761Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 08 14:43:10 np0000094274 etcd[60283]: {"level":"fatal","ts":"2026-06-08T14:43:10.399822Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 08 14:43:10 np0000094274 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 08 14:43:10 np0000094274 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 14:43:10 np0000094274 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 08 14:43:10 np0000094274 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 08 14:43:10 np0000094274 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 08 14:43:10 np0000094274 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 08 14:43:10 np0000094274 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
