May 20 08:57:56 np0000094141 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 08:57:56 np0000094141 etcd[60460]: {"level":"warn","ts":"2026-05-20T08:57:56.198948Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 08:57:56 np0000094141 etcd[60460]: {"level":"info","ts":"2026-05-20T08:57:56.199187Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094141","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094141=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 08:57:56 np0000094141 etcd[60460]: {"level":"warn","ts":"2026-05-20T08:57:56.199388Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 08:57:56 np0000094141 etcd[60460]: {"level":"info","ts":"2026-05-20T08:57:56.199428Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 08:57:56 np0000094141 etcd[60460]: {"level":"info","ts":"2026-05-20T08:57:56.200090Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:56 np0000094141 etcd[60460]: {"level":"info","ts":"2026-05-20T08:57:56.200215Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094141","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:56 np0000094141 etcd[60460]: {"level":"info","ts":"2026-05-20T08:57:56.200295Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094141","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:56 np0000094141 etcd[60460]: {"level":"warn","ts":"2026-05-20T08:57:56.200352Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 08:57:56 np0000094141 etcd[60460]: {"level":"fatal","ts":"2026-05-20T08:57:56.200418Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 08:57:56 np0000094141 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 08:57:56 np0000094141 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 08:57:56 np0000094141 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 08:57:56 np0000094141 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 20 08:57:56 np0000094141 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 08:57:56 np0000094141 etcd[60520]: {"level":"warn","ts":"2026-05-20T08:57:56.455501Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 08:57:56 np0000094141 etcd[60520]: {"level":"info","ts":"2026-05-20T08:57:56.455691Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094141","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094141=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 08:57:56 np0000094141 etcd[60520]: {"level":"warn","ts":"2026-05-20T08:57:56.455868Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 08:57:56 np0000094141 etcd[60520]: {"level":"info","ts":"2026-05-20T08:57:56.455904Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 08:57:56 np0000094141 etcd[60520]: {"level":"info","ts":"2026-05-20T08:57:56.456361Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:56 np0000094141 etcd[60520]: {"level":"info","ts":"2026-05-20T08:57:56.456460Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094141","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:56 np0000094141 etcd[60520]: {"level":"info","ts":"2026-05-20T08:57:56.456532Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094141","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:56 np0000094141 etcd[60520]: {"level":"warn","ts":"2026-05-20T08:57:56.456578Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 08:57:56 np0000094141 etcd[60520]: {"level":"fatal","ts":"2026-05-20T08:57:56.456634Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 08:57:56 np0000094141 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 08:57:56 np0000094141 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 08:57:56 np0000094141 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 08:57:56 np0000094141 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 20 08:57:56 np0000094141 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 08:57:56 np0000094141 etcd[60579]: {"level":"warn","ts":"2026-05-20T08:57:56.697406Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 08:57:56 np0000094141 etcd[60579]: {"level":"info","ts":"2026-05-20T08:57:56.697583Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094141","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094141=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 08:57:56 np0000094141 etcd[60579]: {"level":"warn","ts":"2026-05-20T08:57:56.697758Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 08:57:56 np0000094141 etcd[60579]: {"level":"info","ts":"2026-05-20T08:57:56.697817Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 08:57:56 np0000094141 etcd[60579]: {"level":"info","ts":"2026-05-20T08:57:56.698346Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:56 np0000094141 etcd[60579]: {"level":"info","ts":"2026-05-20T08:57:56.698480Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094141","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:56 np0000094141 etcd[60579]: {"level":"info","ts":"2026-05-20T08:57:56.698562Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094141","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:56 np0000094141 etcd[60579]: {"level":"warn","ts":"2026-05-20T08:57:56.698632Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 08:57:56 np0000094141 etcd[60579]: {"level":"fatal","ts":"2026-05-20T08:57:56.698700Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 08:57:56 np0000094141 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 08:57:56 np0000094141 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 08:57:56 np0000094141 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 08:57:56 np0000094141 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 20 08:57:56 np0000094141 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 08:57:56 np0000094141 etcd[60586]: {"level":"warn","ts":"2026-05-20T08:57:56.929341Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 08:57:56 np0000094141 etcd[60586]: {"level":"info","ts":"2026-05-20T08:57:56.929435Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094141","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094141=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 08:57:56 np0000094141 etcd[60586]: {"level":"warn","ts":"2026-05-20T08:57:56.929537Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 08:57:56 np0000094141 etcd[60586]: {"level":"info","ts":"2026-05-20T08:57:56.929554Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 08:57:56 np0000094141 etcd[60586]: {"level":"info","ts":"2026-05-20T08:57:56.929855Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:56 np0000094141 etcd[60586]: {"level":"info","ts":"2026-05-20T08:57:56.929963Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094141","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:56 np0000094141 etcd[60586]: {"level":"info","ts":"2026-05-20T08:57:56.930011Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094141","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:56 np0000094141 etcd[60586]: {"level":"warn","ts":"2026-05-20T08:57:56.930054Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 08:57:56 np0000094141 etcd[60586]: {"level":"fatal","ts":"2026-05-20T08:57:56.930106Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 08:57:56 np0000094141 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 08:57:56 np0000094141 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 08:57:56 np0000094141 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 08:57:57 np0000094141 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 20 08:57:57 np0000094141 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 08:57:57 np0000094141 etcd[60623]: {"level":"warn","ts":"2026-05-20T08:57:57.210413Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 08:57:57 np0000094141 etcd[60623]: {"level":"info","ts":"2026-05-20T08:57:57.210589Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094141","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094141=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 08:57:57 np0000094141 etcd[60623]: {"level":"warn","ts":"2026-05-20T08:57:57.210784Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 08:57:57 np0000094141 etcd[60623]: {"level":"info","ts":"2026-05-20T08:57:57.210817Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 08:57:57 np0000094141 etcd[60623]: {"level":"info","ts":"2026-05-20T08:57:57.213673Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:57 np0000094141 etcd[60623]: {"level":"info","ts":"2026-05-20T08:57:57.213840Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094141","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:57 np0000094141 etcd[60623]: {"level":"info","ts":"2026-05-20T08:57:57.213958Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094141","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 08:57:57 np0000094141 etcd[60623]: {"level":"warn","ts":"2026-05-20T08:57:57.214024Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 08:57:57 np0000094141 etcd[60623]: {"level":"fatal","ts":"2026-05-20T08:57:57.214095Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 08:57:57 np0000094141 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 08:57:57 np0000094141 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 08:57:57 np0000094141 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 08:57:57 np0000094141 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 20 08:57:57 np0000094141 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 20 08:57:57 np0000094141 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 08:57:57 np0000094141 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
