Jun 03 07:42:10 np0000094224 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 07:42:10 np0000094224 etcd[60057]: {"level":"warn","ts":"2026-06-03T07:42:10.102179Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:42:10 np0000094224 etcd[60057]: {"level":"info","ts":"2026-06-03T07:42:10.102359Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094224","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094224=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 07:42:10 np0000094224 etcd[60057]: {"level":"warn","ts":"2026-06-03T07:42:10.102506Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:42:10 np0000094224 etcd[60057]: {"level":"info","ts":"2026-06-03T07:42:10.102533Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 07:42:10 np0000094224 etcd[60057]: {"level":"info","ts":"2026-06-03T07:42:10.102994Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:10 np0000094224 etcd[60057]: {"level":"info","ts":"2026-06-03T07:42:10.103123Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:10 np0000094224 etcd[60057]: {"level":"info","ts":"2026-06-03T07:42:10.103197Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:10 np0000094224 etcd[60057]: {"level":"warn","ts":"2026-06-03T07:42:10.103260Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 07:42:10 np0000094224 etcd[60057]: {"level":"fatal","ts":"2026-06-03T07:42:10.103325Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 07:42:10 np0000094224 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 07:42:10 np0000094224 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 07:42:10 np0000094224 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 07:42:10 np0000094224 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 03 07:42:10 np0000094224 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 07:42:10 np0000094224 etcd[60099]: {"level":"warn","ts":"2026-06-03T07:42:10.283922Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:42:10 np0000094224 etcd[60099]: {"level":"info","ts":"2026-06-03T07:42:10.284117Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094224","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094224=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 07:42:10 np0000094224 etcd[60099]: {"level":"warn","ts":"2026-06-03T07:42:10.284284Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:42:10 np0000094224 etcd[60099]: {"level":"info","ts":"2026-06-03T07:42:10.284322Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 07:42:10 np0000094224 etcd[60099]: {"level":"info","ts":"2026-06-03T07:42:10.284722Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:10 np0000094224 etcd[60099]: {"level":"info","ts":"2026-06-03T07:42:10.284880Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:10 np0000094224 etcd[60099]: {"level":"info","ts":"2026-06-03T07:42:10.284953Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:10 np0000094224 etcd[60099]: {"level":"warn","ts":"2026-06-03T07:42:10.285002Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 07:42:10 np0000094224 etcd[60099]: {"level":"fatal","ts":"2026-06-03T07:42:10.285060Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 07:42:10 np0000094224 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 07:42:10 np0000094224 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 07:42:10 np0000094224 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 07:42:10 np0000094224 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 03 07:42:10 np0000094224 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 07:42:10 np0000094224 etcd[60176]: {"level":"warn","ts":"2026-06-03T07:42:10.532981Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:42:10 np0000094224 etcd[60176]: {"level":"info","ts":"2026-06-03T07:42:10.533145Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094224","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094224=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 07:42:10 np0000094224 etcd[60176]: {"level":"warn","ts":"2026-06-03T07:42:10.533310Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:42:10 np0000094224 etcd[60176]: {"level":"info","ts":"2026-06-03T07:42:10.533347Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 07:42:10 np0000094224 etcd[60176]: {"level":"info","ts":"2026-06-03T07:42:10.533858Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:10 np0000094224 etcd[60176]: {"level":"info","ts":"2026-06-03T07:42:10.534012Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:10 np0000094224 etcd[60176]: {"level":"info","ts":"2026-06-03T07:42:10.534095Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:10 np0000094224 etcd[60176]: {"level":"warn","ts":"2026-06-03T07:42:10.534157Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 07:42:10 np0000094224 etcd[60176]: {"level":"fatal","ts":"2026-06-03T07:42:10.534233Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 07:42:10 np0000094224 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 07:42:10 np0000094224 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 07:42:10 np0000094224 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 07:42:10 np0000094224 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 03 07:42:10 np0000094224 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 07:42:10 np0000094224 etcd[60183]: {"level":"warn","ts":"2026-06-03T07:42:10.793152Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:42:10 np0000094224 etcd[60183]: {"level":"info","ts":"2026-06-03T07:42:10.793333Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094224","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094224=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 07:42:10 np0000094224 etcd[60183]: {"level":"warn","ts":"2026-06-03T07:42:10.793524Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:42:10 np0000094224 etcd[60183]: {"level":"info","ts":"2026-06-03T07:42:10.793568Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 07:42:10 np0000094224 etcd[60183]: {"level":"info","ts":"2026-06-03T07:42:10.794110Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:10 np0000094224 etcd[60183]: {"level":"info","ts":"2026-06-03T07:42:10.794239Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:10 np0000094224 etcd[60183]: {"level":"info","ts":"2026-06-03T07:42:10.794336Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:10 np0000094224 etcd[60183]: {"level":"warn","ts":"2026-06-03T07:42:10.794393Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 07:42:10 np0000094224 etcd[60183]: {"level":"fatal","ts":"2026-06-03T07:42:10.794462Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 07:42:10 np0000094224 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 07:42:10 np0000094224 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 07:42:10 np0000094224 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 07:42:10 np0000094224 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 03 07:42:10 np0000094224 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 07:42:11 np0000094224 etcd[60208]: {"level":"warn","ts":"2026-06-03T07:42:11.028750Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:42:11 np0000094224 etcd[60208]: {"level":"info","ts":"2026-06-03T07:42:11.028936Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094224","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094224=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 07:42:11 np0000094224 etcd[60208]: {"level":"warn","ts":"2026-06-03T07:42:11.029083Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 07:42:11 np0000094224 etcd[60208]: {"level":"info","ts":"2026-06-03T07:42:11.029114Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 07:42:11 np0000094224 etcd[60208]: {"level":"info","ts":"2026-06-03T07:42:11.029505Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:11 np0000094224 etcd[60208]: {"level":"info","ts":"2026-06-03T07:42:11.029600Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:11 np0000094224 etcd[60208]: {"level":"info","ts":"2026-06-03T07:42:11.029685Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094224","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 07:42:11 np0000094224 etcd[60208]: {"level":"warn","ts":"2026-06-03T07:42:11.029728Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 07:42:11 np0000094224 etcd[60208]: {"level":"fatal","ts":"2026-06-03T07:42:11.029847Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 07:42:11 np0000094224 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 07:42:11 np0000094224 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 07:42:11 np0000094224 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 07:42:11 np0000094224 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 03 07:42:11 np0000094224 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 03 07:42:11 np0000094224 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 07:42:11 np0000094224 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
