Apr 14 11:57:18 np0000093942 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 11:57:18 np0000093942 etcd[60618]: {"level":"warn","ts":"2026-04-14T11:57:18.988390Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:57:18 np0000093942 etcd[60618]: {"level":"info","ts":"2026-04-14T11:57:18.988570Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093942","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093942=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 11:57:18 np0000093942 etcd[60618]: {"level":"warn","ts":"2026-04-14T11:57:18.988791Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:57:18 np0000093942 etcd[60618]: {"level":"info","ts":"2026-04-14T11:57:18.988844Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 11:57:18 np0000093942 etcd[60618]: {"level":"info","ts":"2026-04-14T11:57:18.989392Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:18 np0000093942 etcd[60618]: {"level":"info","ts":"2026-04-14T11:57:18.989517Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093942","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:18 np0000093942 etcd[60618]: {"level":"info","ts":"2026-04-14T11:57:18.989602Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093942","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:18 np0000093942 etcd[60618]: {"level":"warn","ts":"2026-04-14T11:57:18.989660Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 11:57:18 np0000093942 etcd[60618]: {"level":"fatal","ts":"2026-04-14T11:57:18.991489Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 11:57:18 np0000093942 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 11:57:18 np0000093942 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 11:57:18 np0000093942 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 11:57:19 np0000093942 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 11:57:19 np0000093942 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 11:57:19 np0000093942 etcd[60669]: {"level":"warn","ts":"2026-04-14T11:57:19.206699Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:57:19 np0000093942 etcd[60669]: {"level":"info","ts":"2026-04-14T11:57:19.206849Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093942","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093942=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 11:57:19 np0000093942 etcd[60669]: {"level":"warn","ts":"2026-04-14T11:57:19.206981Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:57:19 np0000093942 etcd[60669]: {"level":"info","ts":"2026-04-14T11:57:19.207005Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 11:57:19 np0000093942 etcd[60669]: {"level":"info","ts":"2026-04-14T11:57:19.207359Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:19 np0000093942 etcd[60669]: {"level":"info","ts":"2026-04-14T11:57:19.207454Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093942","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:19 np0000093942 etcd[60669]: {"level":"info","ts":"2026-04-14T11:57:19.207516Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093942","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:19 np0000093942 etcd[60669]: {"level":"warn","ts":"2026-04-14T11:57:19.207557Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 11:57:19 np0000093942 etcd[60669]: {"level":"fatal","ts":"2026-04-14T11:57:19.207605Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 11:57:19 np0000093942 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 11:57:19 np0000093942 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 11:57:19 np0000093942 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 11:57:19 np0000093942 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 11:57:19 np0000093942 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 11:57:19 np0000093942 etcd[60738]: {"level":"warn","ts":"2026-04-14T11:57:19.450562Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:57:19 np0000093942 etcd[60738]: {"level":"info","ts":"2026-04-14T11:57:19.451898Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093942","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093942=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 11:57:19 np0000093942 etcd[60738]: {"level":"warn","ts":"2026-04-14T11:57:19.452164Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:57:19 np0000093942 etcd[60738]: {"level":"info","ts":"2026-04-14T11:57:19.452202Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 11:57:19 np0000093942 etcd[60738]: {"level":"info","ts":"2026-04-14T11:57:19.453331Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:19 np0000093942 etcd[60738]: {"level":"info","ts":"2026-04-14T11:57:19.453476Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093942","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:19 np0000093942 etcd[60738]: {"level":"info","ts":"2026-04-14T11:57:19.453557Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093942","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:19 np0000093942 etcd[60738]: {"level":"warn","ts":"2026-04-14T11:57:19.453625Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 11:57:19 np0000093942 etcd[60738]: {"level":"fatal","ts":"2026-04-14T11:57:19.453715Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 11:57:19 np0000093942 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 11:57:19 np0000093942 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 11:57:19 np0000093942 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 11:57:19 np0000093942 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 11:57:19 np0000093942 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 11:57:19 np0000093942 etcd[60745]: {"level":"warn","ts":"2026-04-14T11:57:19.713427Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:57:19 np0000093942 etcd[60745]: {"level":"info","ts":"2026-04-14T11:57:19.714984Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093942","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093942=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 11:57:19 np0000093942 etcd[60745]: {"level":"warn","ts":"2026-04-14T11:57:19.715575Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:57:19 np0000093942 etcd[60745]: {"level":"info","ts":"2026-04-14T11:57:19.715633Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 11:57:19 np0000093942 etcd[60745]: {"level":"info","ts":"2026-04-14T11:57:19.716710Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:19 np0000093942 etcd[60745]: {"level":"info","ts":"2026-04-14T11:57:19.716858Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093942","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:19 np0000093942 etcd[60745]: {"level":"info","ts":"2026-04-14T11:57:19.716943Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093942","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:19 np0000093942 etcd[60745]: {"level":"warn","ts":"2026-04-14T11:57:19.717011Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 11:57:19 np0000093942 etcd[60745]: {"level":"fatal","ts":"2026-04-14T11:57:19.717080Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 11:57:19 np0000093942 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 11:57:19 np0000093942 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 11:57:19 np0000093942 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 11:57:19 np0000093942 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 11:57:19 np0000093942 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 11:57:19 np0000093942 etcd[60769]: {"level":"warn","ts":"2026-04-14T11:57:19.962743Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:57:19 np0000093942 etcd[60769]: {"level":"info","ts":"2026-04-14T11:57:19.963177Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093942","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093942=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 11:57:19 np0000093942 etcd[60769]: {"level":"warn","ts":"2026-04-14T11:57:19.963387Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 11:57:19 np0000093942 etcd[60769]: {"level":"info","ts":"2026-04-14T11:57:19.963426Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 11:57:19 np0000093942 etcd[60769]: {"level":"info","ts":"2026-04-14T11:57:19.964043Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:19 np0000093942 etcd[60769]: {"level":"info","ts":"2026-04-14T11:57:19.964221Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093942","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:19 np0000093942 etcd[60769]: {"level":"info","ts":"2026-04-14T11:57:19.964309Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093942","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 11:57:19 np0000093942 etcd[60769]: {"level":"warn","ts":"2026-04-14T11:57:19.964365Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 11:57:19 np0000093942 etcd[60769]: {"level":"fatal","ts":"2026-04-14T11:57:19.964436Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 11:57:19 np0000093942 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 11:57:19 np0000093942 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 11:57:19 np0000093942 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 11:57:20 np0000093942 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 11:57:20 np0000093942 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 11:57:20 np0000093942 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 11:57:20 np0000093942 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
