Apr 28 19:06:18 np0000094098 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 19:06:18 np0000094098 etcd[60706]: {"level":"warn","ts":"2026-04-28T19:06:18.831607Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:06:18 np0000094098 etcd[60706]: {"level":"info","ts":"2026-04-28T19:06:18.831718Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094098","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094098=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 19:06:18 np0000094098 etcd[60706]: {"level":"warn","ts":"2026-04-28T19:06:18.831814Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:06:18 np0000094098 etcd[60706]: {"level":"info","ts":"2026-04-28T19:06:18.831844Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 19:06:18 np0000094098 etcd[60706]: {"level":"info","ts":"2026-04-28T19:06:18.832114Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:18 np0000094098 etcd[60706]: {"level":"info","ts":"2026-04-28T19:06:18.832175Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094098","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:18 np0000094098 etcd[60706]: {"level":"info","ts":"2026-04-28T19:06:18.832232Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094098","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:18 np0000094098 etcd[60706]: {"level":"warn","ts":"2026-04-28T19:06:18.832261Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 19:06:18 np0000094098 etcd[60706]: {"level":"fatal","ts":"2026-04-28T19:06:18.832315Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 19:06:18 np0000094098 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 19:06:18 np0000094098 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 19:06:18 np0000094098 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 19:06:18 np0000094098 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 28 19:06:18 np0000094098 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 19:06:19 np0000094098 etcd[60754]: {"level":"warn","ts":"2026-04-28T19:06:19.014731Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:06:19 np0000094098 etcd[60754]: {"level":"info","ts":"2026-04-28T19:06:19.014900Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094098","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094098=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 19:06:19 np0000094098 etcd[60754]: {"level":"warn","ts":"2026-04-28T19:06:19.015045Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:06:19 np0000094098 etcd[60754]: {"level":"info","ts":"2026-04-28T19:06:19.015079Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 19:06:19 np0000094098 etcd[60754]: {"level":"info","ts":"2026-04-28T19:06:19.015553Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:19 np0000094098 etcd[60754]: {"level":"info","ts":"2026-04-28T19:06:19.015659Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094098","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:19 np0000094098 etcd[60754]: {"level":"info","ts":"2026-04-28T19:06:19.015729Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094098","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:19 np0000094098 etcd[60754]: {"level":"warn","ts":"2026-04-28T19:06:19.015778Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 19:06:19 np0000094098 etcd[60754]: {"level":"fatal","ts":"2026-04-28T19:06:19.015834Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 19:06:19 np0000094098 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 28 19:06:19 np0000094098 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 19:06:19 np0000094098 etcd[60827]: {"level":"warn","ts":"2026-04-28T19:06:19.261900Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:06:19 np0000094098 etcd[60827]: {"level":"info","ts":"2026-04-28T19:06:19.262018Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094098","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094098=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 19:06:19 np0000094098 etcd[60827]: {"level":"warn","ts":"2026-04-28T19:06:19.262127Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:06:19 np0000094098 etcd[60827]: {"level":"info","ts":"2026-04-28T19:06:19.262146Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 19:06:19 np0000094098 etcd[60827]: {"level":"info","ts":"2026-04-28T19:06:19.262485Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:19 np0000094098 etcd[60827]: {"level":"info","ts":"2026-04-28T19:06:19.262562Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094098","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:19 np0000094098 etcd[60827]: {"level":"info","ts":"2026-04-28T19:06:19.262614Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094098","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:19 np0000094098 etcd[60827]: {"level":"warn","ts":"2026-04-28T19:06:19.262649Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 19:06:19 np0000094098 etcd[60827]: {"level":"fatal","ts":"2026-04-28T19:06:19.262690Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 19:06:19 np0000094098 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 28 19:06:19 np0000094098 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 19:06:19 np0000094098 etcd[60834]: {"level":"warn","ts":"2026-04-28T19:06:19.529273Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:06:19 np0000094098 etcd[60834]: {"level":"info","ts":"2026-04-28T19:06:19.529398Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094098","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094098=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 19:06:19 np0000094098 etcd[60834]: {"level":"warn","ts":"2026-04-28T19:06:19.529490Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:06:19 np0000094098 etcd[60834]: {"level":"info","ts":"2026-04-28T19:06:19.529506Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 19:06:19 np0000094098 etcd[60834]: {"level":"info","ts":"2026-04-28T19:06:19.529758Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:19 np0000094098 etcd[60834]: {"level":"info","ts":"2026-04-28T19:06:19.529821Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094098","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:19 np0000094098 etcd[60834]: {"level":"info","ts":"2026-04-28T19:06:19.529867Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094098","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:19 np0000094098 etcd[60834]: {"level":"warn","ts":"2026-04-28T19:06:19.529905Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 19:06:19 np0000094098 etcd[60834]: {"level":"fatal","ts":"2026-04-28T19:06:19.529949Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 19:06:19 np0000094098 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 28 19:06:19 np0000094098 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 19:06:19 np0000094098 etcd[60866]: {"level":"warn","ts":"2026-04-28T19:06:19.760151Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:06:19 np0000094098 etcd[60866]: {"level":"info","ts":"2026-04-28T19:06:19.761024Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094098","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094098=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 19:06:19 np0000094098 etcd[60866]: {"level":"warn","ts":"2026-04-28T19:06:19.761350Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:06:19 np0000094098 etcd[60866]: {"level":"info","ts":"2026-04-28T19:06:19.761392Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 19:06:19 np0000094098 etcd[60866]: {"level":"info","ts":"2026-04-28T19:06:19.762647Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:19 np0000094098 etcd[60866]: {"level":"info","ts":"2026-04-28T19:06:19.762757Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094098","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:19 np0000094098 etcd[60866]: {"level":"info","ts":"2026-04-28T19:06:19.762821Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094098","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:06:19 np0000094098 etcd[60866]: {"level":"warn","ts":"2026-04-28T19:06:19.762863Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 19:06:19 np0000094098 etcd[60866]: {"level":"fatal","ts":"2026-04-28T19:06:19.762921Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 19:06:19 np0000094098 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 28 19:06:19 np0000094098 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 19:06:19 np0000094098 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
