Apr 27 21:45:20 np0000094090 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 21:45:20 np0000094090 etcd[60310]: {"level":"warn","ts":"2026-04-27T21:45:20.399731Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 21:45:20 np0000094090 etcd[60310]: {"level":"info","ts":"2026-04-27T21:45:20.399977Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094090","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094090=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 21:45:20 np0000094090 etcd[60310]: {"level":"warn","ts":"2026-04-27T21:45:20.400197Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 21:45:20 np0000094090 etcd[60310]: {"level":"info","ts":"2026-04-27T21:45:20.400276Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 21:45:20 np0000094090 etcd[60310]: {"level":"info","ts":"2026-04-27T21:45:20.400783Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:20 np0000094090 etcd[60310]: {"level":"info","ts":"2026-04-27T21:45:20.400912Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094090","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:20 np0000094090 etcd[60310]: {"level":"info","ts":"2026-04-27T21:45:20.401001Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094090","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:20 np0000094090 etcd[60310]: {"level":"warn","ts":"2026-04-27T21:45:20.401062Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 21:45:20 np0000094090 etcd[60310]: {"level":"fatal","ts":"2026-04-27T21:45:20.401130Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 21:45:20 np0000094090 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 21:45:20 np0000094090 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 21:45:20 np0000094090 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 21:45:20 np0000094090 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 27 21:45:20 np0000094090 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 21:45:20 np0000094090 etcd[60357]: {"level":"warn","ts":"2026-04-27T21:45:20.609036Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 21:45:20 np0000094090 etcd[60357]: {"level":"info","ts":"2026-04-27T21:45:20.609221Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094090","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094090=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 21:45:20 np0000094090 etcd[60357]: {"level":"warn","ts":"2026-04-27T21:45:20.609453Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 21:45:20 np0000094090 etcd[60357]: {"level":"info","ts":"2026-04-27T21:45:20.609487Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 21:45:20 np0000094090 etcd[60357]: {"level":"info","ts":"2026-04-27T21:45:20.609994Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:20 np0000094090 etcd[60357]: {"level":"info","ts":"2026-04-27T21:45:20.610119Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094090","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:20 np0000094090 etcd[60357]: {"level":"info","ts":"2026-04-27T21:45:20.610207Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094090","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:20 np0000094090 etcd[60357]: {"level":"warn","ts":"2026-04-27T21:45:20.610299Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 21:45:20 np0000094090 etcd[60357]: {"level":"fatal","ts":"2026-04-27T21:45:20.610368Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 21:45:20 np0000094090 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 21:45:20 np0000094090 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 21:45:20 np0000094090 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 21:45:20 np0000094090 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 27 21:45:20 np0000094090 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 21:45:20 np0000094090 etcd[60431]: {"level":"warn","ts":"2026-04-27T21:45:20.873180Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 21:45:20 np0000094090 etcd[60431]: {"level":"info","ts":"2026-04-27T21:45:20.874421Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094090","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094090=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 21:45:20 np0000094090 etcd[60431]: {"level":"warn","ts":"2026-04-27T21:45:20.874646Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 21:45:20 np0000094090 etcd[60431]: {"level":"info","ts":"2026-04-27T21:45:20.874692Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 21:45:20 np0000094090 etcd[60431]: {"level":"info","ts":"2026-04-27T21:45:20.875166Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:20 np0000094090 etcd[60431]: {"level":"info","ts":"2026-04-27T21:45:20.875322Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094090","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:20 np0000094090 etcd[60431]: {"level":"info","ts":"2026-04-27T21:45:20.875440Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094090","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:20 np0000094090 etcd[60431]: {"level":"warn","ts":"2026-04-27T21:45:20.875526Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 21:45:20 np0000094090 etcd[60431]: {"level":"fatal","ts":"2026-04-27T21:45:20.875609Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 21:45:20 np0000094090 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 21:45:20 np0000094090 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 21:45:20 np0000094090 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 21:45:21 np0000094090 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 27 21:45:21 np0000094090 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 21:45:21 np0000094090 etcd[60438]: {"level":"warn","ts":"2026-04-27T21:45:21.118586Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 21:45:21 np0000094090 etcd[60438]: {"level":"info","ts":"2026-04-27T21:45:21.119717Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094090","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094090=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 21:45:21 np0000094090 etcd[60438]: {"level":"warn","ts":"2026-04-27T21:45:21.119965Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 21:45:21 np0000094090 etcd[60438]: {"level":"info","ts":"2026-04-27T21:45:21.119999Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 21:45:21 np0000094090 etcd[60438]: {"level":"info","ts":"2026-04-27T21:45:21.120592Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:21 np0000094090 etcd[60438]: {"level":"info","ts":"2026-04-27T21:45:21.120712Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094090","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:21 np0000094090 etcd[60438]: {"level":"info","ts":"2026-04-27T21:45:21.120789Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094090","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:21 np0000094090 etcd[60438]: {"level":"warn","ts":"2026-04-27T21:45:21.120849Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 21:45:21 np0000094090 etcd[60438]: {"level":"fatal","ts":"2026-04-27T21:45:21.120913Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 21:45:21 np0000094090 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 21:45:21 np0000094090 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 21:45:21 np0000094090 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 21:45:21 np0000094090 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 27 21:45:21 np0000094090 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 21:45:21 np0000094090 etcd[60463]: {"level":"warn","ts":"2026-04-27T21:45:21.358356Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 21:45:21 np0000094090 etcd[60463]: {"level":"info","ts":"2026-04-27T21:45:21.358593Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094090","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094090=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 21:45:21 np0000094090 etcd[60463]: {"level":"warn","ts":"2026-04-27T21:45:21.358792Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 21:45:21 np0000094090 etcd[60463]: {"level":"info","ts":"2026-04-27T21:45:21.358840Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 21:45:21 np0000094090 etcd[60463]: {"level":"info","ts":"2026-04-27T21:45:21.359394Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:21 np0000094090 etcd[60463]: {"level":"info","ts":"2026-04-27T21:45:21.359531Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094090","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:21 np0000094090 etcd[60463]: {"level":"info","ts":"2026-04-27T21:45:21.359629Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094090","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 21:45:21 np0000094090 etcd[60463]: {"level":"warn","ts":"2026-04-27T21:45:21.359702Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 21:45:21 np0000094090 etcd[60463]: {"level":"fatal","ts":"2026-04-27T21:45:21.359789Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 21:45:21 np0000094090 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 21:45:21 np0000094090 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 21:45:21 np0000094090 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 21:45:21 np0000094090 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 27 21:45:21 np0000094090 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 27 21:45:21 np0000094090 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 21:45:21 np0000094090 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
