Apr 17 00:33:56 np0000093998 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 00:33:56 np0000093998 etcd[60760]: {"level":"warn","ts":"2026-04-17T00:33:56.408418Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:33:56 np0000093998 etcd[60760]: {"level":"info","ts":"2026-04-17T00:33:56.408632Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093998","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093998=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 00:33:56 np0000093998 etcd[60760]: {"level":"warn","ts":"2026-04-17T00:33:56.408839Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:33:56 np0000093998 etcd[60760]: {"level":"info","ts":"2026-04-17T00:33:56.408871Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 00:33:56 np0000093998 etcd[60760]: {"level":"info","ts":"2026-04-17T00:33:56.409368Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:56 np0000093998 etcd[60760]: {"level":"info","ts":"2026-04-17T00:33:56.409483Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093998","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:56 np0000093998 etcd[60760]: {"level":"info","ts":"2026-04-17T00:33:56.409565Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093998","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:56 np0000093998 etcd[60760]: {"level":"warn","ts":"2026-04-17T00:33:56.409639Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 00:33:56 np0000093998 etcd[60760]: {"level":"fatal","ts":"2026-04-17T00:33:56.409754Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 00:33:56 np0000093998 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 00:33:56 np0000093998 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 00:33:56 np0000093998 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 00:33:56 np0000093998 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 17 00:33:56 np0000093998 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 00:33:56 np0000093998 etcd[60851]: {"level":"warn","ts":"2026-04-17T00:33:56.779200Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:33:56 np0000093998 etcd[60851]: {"level":"info","ts":"2026-04-17T00:33:56.779362Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093998","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093998=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 00:33:56 np0000093998 etcd[60851]: {"level":"warn","ts":"2026-04-17T00:33:56.779516Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:33:56 np0000093998 etcd[60851]: {"level":"info","ts":"2026-04-17T00:33:56.779544Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 00:33:56 np0000093998 etcd[60851]: {"level":"info","ts":"2026-04-17T00:33:56.780002Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:56 np0000093998 etcd[60851]: {"level":"info","ts":"2026-04-17T00:33:56.780121Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093998","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:56 np0000093998 etcd[60851]: {"level":"info","ts":"2026-04-17T00:33:56.780196Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093998","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:56 np0000093998 etcd[60851]: {"level":"warn","ts":"2026-04-17T00:33:56.780243Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 00:33:56 np0000093998 etcd[60851]: {"level":"fatal","ts":"2026-04-17T00:33:56.780301Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 00:33:56 np0000093998 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 00:33:56 np0000093998 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 00:33:56 np0000093998 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 00:33:56 np0000093998 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 17 00:33:56 np0000093998 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 00:33:57 np0000093998 etcd[60879]: {"level":"warn","ts":"2026-04-17T00:33:57.038304Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:33:57 np0000093998 etcd[60879]: {"level":"info","ts":"2026-04-17T00:33:57.038494Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093998","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093998=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 00:33:57 np0000093998 etcd[60879]: {"level":"warn","ts":"2026-04-17T00:33:57.038724Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:33:57 np0000093998 etcd[60879]: {"level":"info","ts":"2026-04-17T00:33:57.038758Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 00:33:57 np0000093998 etcd[60879]: {"level":"info","ts":"2026-04-17T00:33:57.039239Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:57 np0000093998 etcd[60879]: {"level":"info","ts":"2026-04-17T00:33:57.039362Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093998","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:57 np0000093998 etcd[60879]: {"level":"info","ts":"2026-04-17T00:33:57.039449Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093998","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:57 np0000093998 etcd[60879]: {"level":"warn","ts":"2026-04-17T00:33:57.039508Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 00:33:57 np0000093998 etcd[60879]: {"level":"fatal","ts":"2026-04-17T00:33:57.039576Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 00:33:57 np0000093998 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 00:33:57 np0000093998 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 00:33:57 np0000093998 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 00:33:57 np0000093998 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 17 00:33:57 np0000093998 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 00:33:57 np0000093998 etcd[60900]: {"level":"warn","ts":"2026-04-17T00:33:57.286939Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:33:57 np0000093998 etcd[60900]: {"level":"info","ts":"2026-04-17T00:33:57.287161Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093998","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093998=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 00:33:57 np0000093998 etcd[60900]: {"level":"warn","ts":"2026-04-17T00:33:57.287377Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:33:57 np0000093998 etcd[60900]: {"level":"info","ts":"2026-04-17T00:33:57.287413Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 00:33:57 np0000093998 etcd[60900]: {"level":"info","ts":"2026-04-17T00:33:57.287959Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:57 np0000093998 etcd[60900]: {"level":"info","ts":"2026-04-17T00:33:57.288089Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093998","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:57 np0000093998 etcd[60900]: {"level":"info","ts":"2026-04-17T00:33:57.288166Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093998","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:57 np0000093998 etcd[60900]: {"level":"warn","ts":"2026-04-17T00:33:57.288219Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 00:33:57 np0000093998 etcd[60900]: {"level":"fatal","ts":"2026-04-17T00:33:57.288281Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 00:33:57 np0000093998 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 00:33:57 np0000093998 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 00:33:57 np0000093998 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 00:33:57 np0000093998 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 17 00:33:57 np0000093998 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 00:33:57 np0000093998 etcd[60936]: {"level":"warn","ts":"2026-04-17T00:33:57.547389Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:33:57 np0000093998 etcd[60936]: {"level":"info","ts":"2026-04-17T00:33:57.547628Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093998","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093998=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 00:33:57 np0000093998 etcd[60936]: {"level":"warn","ts":"2026-04-17T00:33:57.547867Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 00:33:57 np0000093998 etcd[60936]: {"level":"info","ts":"2026-04-17T00:33:57.547911Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 00:33:57 np0000093998 etcd[60936]: {"level":"info","ts":"2026-04-17T00:33:57.548434Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:57 np0000093998 etcd[60936]: {"level":"info","ts":"2026-04-17T00:33:57.548560Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093998","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:57 np0000093998 etcd[60936]: {"level":"info","ts":"2026-04-17T00:33:57.548661Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093998","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 00:33:57 np0000093998 etcd[60936]: {"level":"warn","ts":"2026-04-17T00:33:57.548758Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 00:33:57 np0000093998 etcd[60936]: {"level":"fatal","ts":"2026-04-17T00:33:57.548842Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 00:33:57 np0000093998 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 00:33:57 np0000093998 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 00:33:57 np0000093998 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 00:33:57 np0000093998 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 17 00:33:57 np0000093998 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 17 00:33:57 np0000093998 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 00:33:57 np0000093998 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
