Jun 05 17:32:52 np0000094257 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 17:32:52 np0000094257 etcd[60547]: {"level":"warn","ts":"2026-06-05T17:32:52.901533Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:32:52 np0000094257 etcd[60547]: {"level":"info","ts":"2026-06-05T17:32:52.901710Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094257","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094257=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 17:32:52 np0000094257 etcd[60547]: {"level":"warn","ts":"2026-06-05T17:32:52.901874Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:32:52 np0000094257 etcd[60547]: {"level":"info","ts":"2026-06-05T17:32:52.901903Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 17:32:52 np0000094257 etcd[60547]: {"level":"info","ts":"2026-06-05T17:32:52.902416Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:52 np0000094257 etcd[60547]: {"level":"info","ts":"2026-06-05T17:32:52.902536Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:52 np0000094257 etcd[60547]: {"level":"info","ts":"2026-06-05T17:32:52.902613Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:52 np0000094257 etcd[60547]: {"level":"warn","ts":"2026-06-05T17:32:52.902679Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 17:32:52 np0000094257 etcd[60547]: {"level":"fatal","ts":"2026-06-05T17:32:52.902738Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 17:32:52 np0000094257 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 17:32:52 np0000094257 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 17:32:52 np0000094257 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 17:32:53 np0000094257 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 05 17:32:53 np0000094257 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 17:32:53 np0000094257 etcd[60646]: {"level":"warn","ts":"2026-06-05T17:32:53.321559Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:32:53 np0000094257 etcd[60646]: {"level":"info","ts":"2026-06-05T17:32:53.321758Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094257","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094257=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 17:32:53 np0000094257 etcd[60646]: {"level":"warn","ts":"2026-06-05T17:32:53.321906Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:32:53 np0000094257 etcd[60646]: {"level":"info","ts":"2026-06-05T17:32:53.321932Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 17:32:53 np0000094257 etcd[60646]: {"level":"info","ts":"2026-06-05T17:32:53.322504Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:53 np0000094257 etcd[60646]: {"level":"info","ts":"2026-06-05T17:32:53.322612Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:53 np0000094257 etcd[60646]: {"level":"info","ts":"2026-06-05T17:32:53.322694Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:53 np0000094257 etcd[60646]: {"level":"warn","ts":"2026-06-05T17:32:53.322741Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 17:32:53 np0000094257 etcd[60646]: {"level":"fatal","ts":"2026-06-05T17:32:53.322807Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 17:32:53 np0000094257 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 17:32:53 np0000094257 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 17:32:53 np0000094257 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 17:32:53 np0000094257 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 05 17:32:53 np0000094257 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 17:32:53 np0000094257 etcd[60666]: {"level":"warn","ts":"2026-06-05T17:32:53.560674Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:32:53 np0000094257 etcd[60666]: {"level":"info","ts":"2026-06-05T17:32:53.562075Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094257","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094257=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 17:32:53 np0000094257 etcd[60666]: {"level":"warn","ts":"2026-06-05T17:32:53.562334Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:32:53 np0000094257 etcd[60666]: {"level":"info","ts":"2026-06-05T17:32:53.562373Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 17:32:53 np0000094257 etcd[60666]: {"level":"info","ts":"2026-06-05T17:32:53.562943Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:53 np0000094257 etcd[60666]: {"level":"info","ts":"2026-06-05T17:32:53.563949Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:53 np0000094257 etcd[60666]: {"level":"info","ts":"2026-06-05T17:32:53.564079Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:53 np0000094257 etcd[60666]: {"level":"warn","ts":"2026-06-05T17:32:53.564159Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 17:32:53 np0000094257 etcd[60666]: {"level":"fatal","ts":"2026-06-05T17:32:53.564221Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 17:32:53 np0000094257 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 17:32:53 np0000094257 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 17:32:53 np0000094257 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 17:32:53 np0000094257 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 05 17:32:53 np0000094257 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 17:32:53 np0000094257 etcd[60686]: {"level":"warn","ts":"2026-06-05T17:32:53.813839Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:32:53 np0000094257 etcd[60686]: {"level":"info","ts":"2026-06-05T17:32:53.814159Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094257","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094257=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 17:32:53 np0000094257 etcd[60686]: {"level":"warn","ts":"2026-06-05T17:32:53.814496Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:32:53 np0000094257 etcd[60686]: {"level":"info","ts":"2026-06-05T17:32:53.814541Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 17:32:53 np0000094257 etcd[60686]: {"level":"info","ts":"2026-06-05T17:32:53.816605Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:53 np0000094257 etcd[60686]: {"level":"info","ts":"2026-06-05T17:32:53.816789Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:53 np0000094257 etcd[60686]: {"level":"info","ts":"2026-06-05T17:32:53.816883Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:53 np0000094257 etcd[60686]: {"level":"warn","ts":"2026-06-05T17:32:53.816987Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 17:32:53 np0000094257 etcd[60686]: {"level":"fatal","ts":"2026-06-05T17:32:53.817113Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 17:32:53 np0000094257 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 17:32:53 np0000094257 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 17:32:53 np0000094257 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 17:32:53 np0000094257 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 05 17:32:54 np0000094257 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 17:32:54 np0000094257 etcd[60723]: {"level":"warn","ts":"2026-06-05T17:32:54.060828Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:32:54 np0000094257 etcd[60723]: {"level":"info","ts":"2026-06-05T17:32:54.061211Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094257","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094257=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 17:32:54 np0000094257 etcd[60723]: {"level":"warn","ts":"2026-06-05T17:32:54.061396Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:32:54 np0000094257 etcd[60723]: {"level":"info","ts":"2026-06-05T17:32:54.061425Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 17:32:54 np0000094257 etcd[60723]: {"level":"info","ts":"2026-06-05T17:32:54.061870Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:54 np0000094257 etcd[60723]: {"level":"info","ts":"2026-06-05T17:32:54.061971Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:54 np0000094257 etcd[60723]: {"level":"info","ts":"2026-06-05T17:32:54.062065Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:32:54 np0000094257 etcd[60723]: {"level":"warn","ts":"2026-06-05T17:32:54.062116Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 17:32:54 np0000094257 etcd[60723]: {"level":"fatal","ts":"2026-06-05T17:32:54.062190Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 17:32:54 np0000094257 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 17:32:54 np0000094257 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 17:32:54 np0000094257 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 17:32:54 np0000094257 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 05 17:32:54 np0000094257 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 05 17:32:54 np0000094257 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 17:32:54 np0000094257 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
