Jun 15 13:34:25 np0000094351 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 15 13:34:25 np0000094351 etcd[60744]: {"level":"warn","ts":"2026-06-15T13:34:25.539859Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 13:34:25 np0000094351 etcd[60744]: {"level":"info","ts":"2026-06-15T13:34:25.540051Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094351","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094351=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 15 13:34:25 np0000094351 etcd[60744]: {"level":"warn","ts":"2026-06-15T13:34:25.540265Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 13:34:25 np0000094351 etcd[60744]: {"level":"info","ts":"2026-06-15T13:34:25.540306Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 15 13:34:25 np0000094351 etcd[60744]: {"level":"info","ts":"2026-06-15T13:34:25.540791Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:25 np0000094351 etcd[60744]: {"level":"info","ts":"2026-06-15T13:34:25.540935Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094351","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:25 np0000094351 etcd[60744]: {"level":"info","ts":"2026-06-15T13:34:25.541016Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094351","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:25 np0000094351 etcd[60744]: {"level":"warn","ts":"2026-06-15T13:34:25.541079Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 15 13:34:25 np0000094351 etcd[60744]: {"level":"fatal","ts":"2026-06-15T13:34:25.541159Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 15 13:34:25 np0000094351 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 15 13:34:25 np0000094351 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 15 13:34:25 np0000094351 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 15 13:34:25 np0000094351 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 15 13:34:25 np0000094351 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 15 13:34:25 np0000094351 etcd[60820]: {"level":"warn","ts":"2026-06-15T13:34:25.863661Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 13:34:25 np0000094351 etcd[60820]: {"level":"info","ts":"2026-06-15T13:34:25.863858Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094351","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094351=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 15 13:34:25 np0000094351 etcd[60820]: {"level":"warn","ts":"2026-06-15T13:34:25.864100Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 13:34:25 np0000094351 etcd[60820]: {"level":"info","ts":"2026-06-15T13:34:25.864136Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 15 13:34:25 np0000094351 etcd[60820]: {"level":"info","ts":"2026-06-15T13:34:25.864730Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:25 np0000094351 etcd[60820]: {"level":"info","ts":"2026-06-15T13:34:25.864877Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094351","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:25 np0000094351 etcd[60820]: {"level":"info","ts":"2026-06-15T13:34:25.864960Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094351","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:25 np0000094351 etcd[60820]: {"level":"warn","ts":"2026-06-15T13:34:25.865018Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 15 13:34:25 np0000094351 etcd[60820]: {"level":"fatal","ts":"2026-06-15T13:34:25.865085Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 15 13:34:25 np0000094351 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 15 13:34:25 np0000094351 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 15 13:34:25 np0000094351 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 15 13:34:26 np0000094351 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 15 13:34:26 np0000094351 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 15 13:34:26 np0000094351 etcd[60864]: {"level":"warn","ts":"2026-06-15T13:34:26.096852Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 13:34:26 np0000094351 etcd[60864]: {"level":"info","ts":"2026-06-15T13:34:26.097032Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094351","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094351=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 15 13:34:26 np0000094351 etcd[60864]: {"level":"warn","ts":"2026-06-15T13:34:26.097210Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 13:34:26 np0000094351 etcd[60864]: {"level":"info","ts":"2026-06-15T13:34:26.097243Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 15 13:34:26 np0000094351 etcd[60864]: {"level":"info","ts":"2026-06-15T13:34:26.097789Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:26 np0000094351 etcd[60864]: {"level":"info","ts":"2026-06-15T13:34:26.097936Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094351","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:26 np0000094351 etcd[60864]: {"level":"info","ts":"2026-06-15T13:34:26.098018Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094351","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:26 np0000094351 etcd[60864]: {"level":"warn","ts":"2026-06-15T13:34:26.098078Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 15 13:34:26 np0000094351 etcd[60864]: {"level":"fatal","ts":"2026-06-15T13:34:26.098144Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 15 13:34:26 np0000094351 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 15 13:34:26 np0000094351 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 15 13:34:26 np0000094351 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 15 13:34:26 np0000094351 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 15 13:34:26 np0000094351 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 15 13:34:26 np0000094351 etcd[60873]: {"level":"warn","ts":"2026-06-15T13:34:26.326082Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 13:34:26 np0000094351 etcd[60873]: {"level":"info","ts":"2026-06-15T13:34:26.326192Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094351","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094351=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 15 13:34:26 np0000094351 etcd[60873]: {"level":"warn","ts":"2026-06-15T13:34:26.326304Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 13:34:26 np0000094351 etcd[60873]: {"level":"info","ts":"2026-06-15T13:34:26.326321Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 15 13:34:26 np0000094351 etcd[60873]: {"level":"info","ts":"2026-06-15T13:34:26.326595Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:26 np0000094351 etcd[60873]: {"level":"info","ts":"2026-06-15T13:34:26.326663Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094351","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:26 np0000094351 etcd[60873]: {"level":"info","ts":"2026-06-15T13:34:26.326705Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094351","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:26 np0000094351 etcd[60873]: {"level":"warn","ts":"2026-06-15T13:34:26.326739Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 15 13:34:26 np0000094351 etcd[60873]: {"level":"fatal","ts":"2026-06-15T13:34:26.326776Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 15 13:34:26 np0000094351 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 15 13:34:26 np0000094351 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 15 13:34:26 np0000094351 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 15 13:34:26 np0000094351 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 15 13:34:26 np0000094351 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 15 13:34:26 np0000094351 etcd[60913]: {"level":"warn","ts":"2026-06-15T13:34:26.600373Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 13:34:26 np0000094351 etcd[60913]: {"level":"info","ts":"2026-06-15T13:34:26.600587Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094351","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094351=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 15 13:34:26 np0000094351 etcd[60913]: {"level":"warn","ts":"2026-06-15T13:34:26.600730Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 15 13:34:26 np0000094351 etcd[60913]: {"level":"info","ts":"2026-06-15T13:34:26.600757Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 15 13:34:26 np0000094351 etcd[60913]: {"level":"info","ts":"2026-06-15T13:34:26.601376Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:26 np0000094351 etcd[60913]: {"level":"info","ts":"2026-06-15T13:34:26.601584Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094351","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:26 np0000094351 etcd[60913]: {"level":"info","ts":"2026-06-15T13:34:26.601665Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094351","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 15 13:34:26 np0000094351 etcd[60913]: {"level":"warn","ts":"2026-06-15T13:34:26.601809Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 15 13:34:26 np0000094351 etcd[60913]: {"level":"fatal","ts":"2026-06-15T13:34:26.601939Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 15 13:34:26 np0000094351 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 15 13:34:26 np0000094351 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 15 13:34:26 np0000094351 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 15 13:34:26 np0000094351 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 15 13:34:26 np0000094351 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 15 13:34:26 np0000094351 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 15 13:34:26 np0000094351 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
