Apr 21 07:08:47 np0000094037 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 07:08:47 np0000094037 etcd[60374]: {"level":"warn","ts":"2026-04-21T07:08:47.596553Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 07:08:47 np0000094037 etcd[60374]: {"level":"info","ts":"2026-04-21T07:08:47.597676Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094037","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094037=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 07:08:47 np0000094037 etcd[60374]: {"level":"warn","ts":"2026-04-21T07:08:47.597866Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 07:08:47 np0000094037 etcd[60374]: {"level":"info","ts":"2026-04-21T07:08:47.597905Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 07:08:47 np0000094037 etcd[60374]: {"level":"info","ts":"2026-04-21T07:08:47.598294Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:47 np0000094037 etcd[60374]: {"level":"info","ts":"2026-04-21T07:08:47.598426Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094037","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:47 np0000094037 etcd[60374]: {"level":"info","ts":"2026-04-21T07:08:47.598497Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094037","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:47 np0000094037 etcd[60374]: {"level":"warn","ts":"2026-04-21T07:08:47.598566Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 07:08:47 np0000094037 etcd[60374]: {"level":"fatal","ts":"2026-04-21T07:08:47.598639Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 07:08:47 np0000094037 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 07:08:47 np0000094037 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 07:08:47 np0000094037 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 07:08:47 np0000094037 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 21 07:08:47 np0000094037 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 07:08:48 np0000094037 etcd[60480]: {"level":"warn","ts":"2026-04-21T07:08:48.008410Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 07:08:48 np0000094037 etcd[60480]: {"level":"info","ts":"2026-04-21T07:08:48.008586Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094037","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094037=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 07:08:48 np0000094037 etcd[60480]: {"level":"warn","ts":"2026-04-21T07:08:48.008721Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 07:08:48 np0000094037 etcd[60480]: {"level":"info","ts":"2026-04-21T07:08:48.008770Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 07:08:48 np0000094037 etcd[60480]: {"level":"info","ts":"2026-04-21T07:08:48.010569Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:48 np0000094037 etcd[60480]: {"level":"info","ts":"2026-04-21T07:08:48.010825Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094037","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:48 np0000094037 etcd[60480]: {"level":"info","ts":"2026-04-21T07:08:48.010903Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094037","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:48 np0000094037 etcd[60480]: {"level":"warn","ts":"2026-04-21T07:08:48.010955Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 07:08:48 np0000094037 etcd[60480]: {"level":"fatal","ts":"2026-04-21T07:08:48.011013Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 07:08:48 np0000094037 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 21 07:08:48 np0000094037 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 07:08:48 np0000094037 etcd[60494]: {"level":"warn","ts":"2026-04-21T07:08:48.251251Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 07:08:48 np0000094037 etcd[60494]: {"level":"info","ts":"2026-04-21T07:08:48.251488Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094037","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094037=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 07:08:48 np0000094037 etcd[60494]: {"level":"warn","ts":"2026-04-21T07:08:48.251714Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 07:08:48 np0000094037 etcd[60494]: {"level":"info","ts":"2026-04-21T07:08:48.251783Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 07:08:48 np0000094037 etcd[60494]: {"level":"info","ts":"2026-04-21T07:08:48.252282Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:48 np0000094037 etcd[60494]: {"level":"info","ts":"2026-04-21T07:08:48.254288Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094037","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:48 np0000094037 etcd[60494]: {"level":"info","ts":"2026-04-21T07:08:48.254604Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094037","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:48 np0000094037 etcd[60494]: {"level":"warn","ts":"2026-04-21T07:08:48.254696Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 07:08:48 np0000094037 etcd[60494]: {"level":"fatal","ts":"2026-04-21T07:08:48.254767Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 07:08:48 np0000094037 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 21 07:08:48 np0000094037 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 07:08:48 np0000094037 etcd[60502]: {"level":"warn","ts":"2026-04-21T07:08:48.512061Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 07:08:48 np0000094037 etcd[60502]: {"level":"info","ts":"2026-04-21T07:08:48.512246Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094037","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094037=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 07:08:48 np0000094037 etcd[60502]: {"level":"warn","ts":"2026-04-21T07:08:48.512484Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 07:08:48 np0000094037 etcd[60502]: {"level":"info","ts":"2026-04-21T07:08:48.512546Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 07:08:48 np0000094037 etcd[60502]: {"level":"info","ts":"2026-04-21T07:08:48.513033Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:48 np0000094037 etcd[60502]: {"level":"info","ts":"2026-04-21T07:08:48.513161Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094037","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:48 np0000094037 etcd[60502]: {"level":"info","ts":"2026-04-21T07:08:48.513283Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094037","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:48 np0000094037 etcd[60502]: {"level":"warn","ts":"2026-04-21T07:08:48.515063Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 07:08:48 np0000094037 etcd[60502]: {"level":"fatal","ts":"2026-04-21T07:08:48.515169Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 07:08:48 np0000094037 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 21 07:08:48 np0000094037 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 07:08:48 np0000094037 etcd[60537]: {"level":"warn","ts":"2026-04-21T07:08:48.761637Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 07:08:48 np0000094037 etcd[60537]: {"level":"info","ts":"2026-04-21T07:08:48.761806Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094037","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094037=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 07:08:48 np0000094037 etcd[60537]: {"level":"warn","ts":"2026-04-21T07:08:48.761936Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 07:08:48 np0000094037 etcd[60537]: {"level":"info","ts":"2026-04-21T07:08:48.761962Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 07:08:48 np0000094037 etcd[60537]: {"level":"info","ts":"2026-04-21T07:08:48.762346Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:48 np0000094037 etcd[60537]: {"level":"info","ts":"2026-04-21T07:08:48.762498Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094037","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:48 np0000094037 etcd[60537]: {"level":"info","ts":"2026-04-21T07:08:48.762586Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094037","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 07:08:48 np0000094037 etcd[60537]: {"level":"warn","ts":"2026-04-21T07:08:48.762643Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 07:08:48 np0000094037 etcd[60537]: {"level":"fatal","ts":"2026-04-21T07:08:48.762704Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 07:08:48 np0000094037 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 21 07:08:48 np0000094037 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 07:08:48 np0000094037 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
