Apr 20 15:22:52 np0000094025 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 15:22:52 np0000094025 etcd[60289]: {"level":"warn","ts":"2026-04-20T15:22:52.767081Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 15:22:52 np0000094025 etcd[60289]: {"level":"info","ts":"2026-04-20T15:22:52.768200Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094025","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094025=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 15:22:52 np0000094025 etcd[60289]: {"level":"warn","ts":"2026-04-20T15:22:52.768455Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 15:22:52 np0000094025 etcd[60289]: {"level":"info","ts":"2026-04-20T15:22:52.768503Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 15:22:52 np0000094025 etcd[60289]: {"level":"info","ts":"2026-04-20T15:22:52.769012Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:52 np0000094025 etcd[60289]: {"level":"info","ts":"2026-04-20T15:22:52.769141Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094025","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:52 np0000094025 etcd[60289]: {"level":"info","ts":"2026-04-20T15:22:52.769226Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094025","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:52 np0000094025 etcd[60289]: {"level":"warn","ts":"2026-04-20T15:22:52.769293Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 15:22:52 np0000094025 etcd[60289]: {"level":"fatal","ts":"2026-04-20T15:22:52.770814Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 15:22:52 np0000094025 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 15:22:52 np0000094025 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 15:22:52 np0000094025 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 15:22:52 np0000094025 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 20 15:22:52 np0000094025 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 15:22:52 np0000094025 etcd[60342]: {"level":"warn","ts":"2026-04-20T15:22:52.993003Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 15:22:52 np0000094025 etcd[60342]: {"level":"info","ts":"2026-04-20T15:22:52.993191Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094025","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094025=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 15:22:52 np0000094025 etcd[60342]: {"level":"warn","ts":"2026-04-20T15:22:52.993603Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 15:22:52 np0000094025 etcd[60342]: {"level":"info","ts":"2026-04-20T15:22:52.993643Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 15:22:52 np0000094025 etcd[60342]: {"level":"info","ts":"2026-04-20T15:22:52.994203Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:52 np0000094025 etcd[60342]: {"level":"info","ts":"2026-04-20T15:22:52.994319Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094025","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:52 np0000094025 etcd[60342]: {"level":"info","ts":"2026-04-20T15:22:52.994428Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094025","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:52 np0000094025 etcd[60342]: {"level":"warn","ts":"2026-04-20T15:22:52.994480Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 15:22:52 np0000094025 etcd[60342]: {"level":"fatal","ts":"2026-04-20T15:22:52.994558Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 15:22:53 np0000094025 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 20 15:22:53 np0000094025 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 15:22:53 np0000094025 etcd[60409]: {"level":"warn","ts":"2026-04-20T15:22:53.242741Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 15:22:53 np0000094025 etcd[60409]: {"level":"info","ts":"2026-04-20T15:22:53.243007Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094025","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094025=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 15:22:53 np0000094025 etcd[60409]: {"level":"warn","ts":"2026-04-20T15:22:53.243202Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 15:22:53 np0000094025 etcd[60409]: {"level":"info","ts":"2026-04-20T15:22:53.243247Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 15:22:53 np0000094025 etcd[60409]: {"level":"info","ts":"2026-04-20T15:22:53.243728Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:53 np0000094025 etcd[60409]: {"level":"info","ts":"2026-04-20T15:22:53.243852Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094025","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:53 np0000094025 etcd[60409]: {"level":"info","ts":"2026-04-20T15:22:53.243958Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094025","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:53 np0000094025 etcd[60409]: {"level":"warn","ts":"2026-04-20T15:22:53.244029Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 15:22:53 np0000094025 etcd[60409]: {"level":"fatal","ts":"2026-04-20T15:22:53.244130Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 15:22:53 np0000094025 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 20 15:22:53 np0000094025 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 15:22:53 np0000094025 etcd[60416]: {"level":"warn","ts":"2026-04-20T15:22:53.492713Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 15:22:53 np0000094025 etcd[60416]: {"level":"info","ts":"2026-04-20T15:22:53.492898Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094025","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094025=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 15:22:53 np0000094025 etcd[60416]: {"level":"warn","ts":"2026-04-20T15:22:53.493105Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 15:22:53 np0000094025 etcd[60416]: {"level":"info","ts":"2026-04-20T15:22:53.493148Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 15:22:53 np0000094025 etcd[60416]: {"level":"info","ts":"2026-04-20T15:22:53.493693Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:53 np0000094025 etcd[60416]: {"level":"info","ts":"2026-04-20T15:22:53.493820Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094025","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:53 np0000094025 etcd[60416]: {"level":"info","ts":"2026-04-20T15:22:53.493947Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094025","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:53 np0000094025 etcd[60416]: {"level":"warn","ts":"2026-04-20T15:22:53.494010Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 15:22:53 np0000094025 etcd[60416]: {"level":"fatal","ts":"2026-04-20T15:22:53.494078Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 15:22:53 np0000094025 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 20 15:22:53 np0000094025 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 15:22:53 np0000094025 etcd[60443]: {"level":"warn","ts":"2026-04-20T15:22:53.750637Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 15:22:53 np0000094025 etcd[60443]: {"level":"info","ts":"2026-04-20T15:22:53.751082Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094025","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094025=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 15:22:53 np0000094025 etcd[60443]: {"level":"warn","ts":"2026-04-20T15:22:53.751282Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 15:22:53 np0000094025 etcd[60443]: {"level":"info","ts":"2026-04-20T15:22:53.751356Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 15:22:53 np0000094025 etcd[60443]: {"level":"info","ts":"2026-04-20T15:22:53.751899Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:53 np0000094025 etcd[60443]: {"level":"info","ts":"2026-04-20T15:22:53.752053Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094025","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:53 np0000094025 etcd[60443]: {"level":"info","ts":"2026-04-20T15:22:53.752138Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094025","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 15:22:53 np0000094025 etcd[60443]: {"level":"warn","ts":"2026-04-20T15:22:53.752197Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 15:22:53 np0000094025 etcd[60443]: {"level":"fatal","ts":"2026-04-20T15:22:53.752266Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 15:22:53 np0000094025 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 20 15:22:53 np0000094025 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 15:22:53 np0000094025 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
