Jun 06 02:58:37 np0000094260 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 06 02:58:37 np0000094260 etcd[60966]: {"level":"warn","ts":"2026-06-06T02:58:37.071533Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 06 02:58:37 np0000094260 etcd[60966]: {"level":"info","ts":"2026-06-06T02:58:37.071789Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094260","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094260=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 06 02:58:37 np0000094260 etcd[60966]: {"level":"warn","ts":"2026-06-06T02:58:37.071973Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 06 02:58:37 np0000094260 etcd[60966]: {"level":"info","ts":"2026-06-06T02:58:37.072004Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 06 02:58:37 np0000094260 etcd[60966]: {"level":"info","ts":"2026-06-06T02:58:37.072465Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:37 np0000094260 etcd[60966]: {"level":"info","ts":"2026-06-06T02:58:37.072620Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094260","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:37 np0000094260 etcd[60966]: {"level":"info","ts":"2026-06-06T02:58:37.072722Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094260","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:37 np0000094260 etcd[60966]: {"level":"warn","ts":"2026-06-06T02:58:37.072782Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 06 02:58:37 np0000094260 etcd[60966]: {"level":"fatal","ts":"2026-06-06T02:58:37.072848Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 06 02:58:37 np0000094260 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 06 02:58:37 np0000094260 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 06 02:58:37 np0000094260 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 06 02:58:37 np0000094260 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 06 02:58:37 np0000094260 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 06 02:58:37 np0000094260 etcd[61050]: {"level":"warn","ts":"2026-06-06T02:58:37.413858Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 06 02:58:37 np0000094260 etcd[61050]: {"level":"info","ts":"2026-06-06T02:58:37.414036Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094260","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094260=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 06 02:58:37 np0000094260 etcd[61050]: {"level":"warn","ts":"2026-06-06T02:58:37.414193Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 06 02:58:37 np0000094260 etcd[61050]: {"level":"info","ts":"2026-06-06T02:58:37.414227Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 06 02:58:37 np0000094260 etcd[61050]: {"level":"info","ts":"2026-06-06T02:58:37.414686Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:37 np0000094260 etcd[61050]: {"level":"info","ts":"2026-06-06T02:58:37.414809Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094260","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:37 np0000094260 etcd[61050]: {"level":"info","ts":"2026-06-06T02:58:37.414880Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094260","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:37 np0000094260 etcd[61050]: {"level":"warn","ts":"2026-06-06T02:58:37.414928Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 06 02:58:37 np0000094260 etcd[61050]: {"level":"fatal","ts":"2026-06-06T02:58:37.414990Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 06 02:58:37 np0000094260 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 06 02:58:37 np0000094260 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 06 02:58:37 np0000094260 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 06 02:58:37 np0000094260 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 06 02:58:37 np0000094260 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 06 02:58:37 np0000094260 etcd[61086]: {"level":"warn","ts":"2026-06-06T02:58:37.634438Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 06 02:58:37 np0000094260 etcd[61086]: {"level":"info","ts":"2026-06-06T02:58:37.634593Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094260","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094260=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 06 02:58:37 np0000094260 etcd[61086]: {"level":"warn","ts":"2026-06-06T02:58:37.634717Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 06 02:58:37 np0000094260 etcd[61086]: {"level":"info","ts":"2026-06-06T02:58:37.634735Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 06 02:58:37 np0000094260 etcd[61086]: {"level":"info","ts":"2026-06-06T02:58:37.635034Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:37 np0000094260 etcd[61086]: {"level":"info","ts":"2026-06-06T02:58:37.635098Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094260","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:37 np0000094260 etcd[61086]: {"level":"info","ts":"2026-06-06T02:58:37.635144Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094260","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:37 np0000094260 etcd[61086]: {"level":"warn","ts":"2026-06-06T02:58:37.635174Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 06 02:58:37 np0000094260 etcd[61086]: {"level":"fatal","ts":"2026-06-06T02:58:37.635209Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 06 02:58:37 np0000094260 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 06 02:58:37 np0000094260 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 06 02:58:37 np0000094260 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 06 02:58:37 np0000094260 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 06 02:58:37 np0000094260 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 06 02:58:37 np0000094260 etcd[61101]: {"level":"warn","ts":"2026-06-06T02:58:37.909858Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 06 02:58:37 np0000094260 etcd[61101]: {"level":"info","ts":"2026-06-06T02:58:37.910000Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094260","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094260=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 06 02:58:37 np0000094260 etcd[61101]: {"level":"warn","ts":"2026-06-06T02:58:37.910128Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 06 02:58:37 np0000094260 etcd[61101]: {"level":"info","ts":"2026-06-06T02:58:37.910152Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 06 02:58:37 np0000094260 etcd[61101]: {"level":"info","ts":"2026-06-06T02:58:37.910509Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:37 np0000094260 etcd[61101]: {"level":"info","ts":"2026-06-06T02:58:37.910640Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094260","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:37 np0000094260 etcd[61101]: {"level":"info","ts":"2026-06-06T02:58:37.910726Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094260","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:37 np0000094260 etcd[61101]: {"level":"warn","ts":"2026-06-06T02:58:37.910768Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 06 02:58:37 np0000094260 etcd[61101]: {"level":"fatal","ts":"2026-06-06T02:58:37.910818Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 06 02:58:37 np0000094260 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 06 02:58:37 np0000094260 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 06 02:58:37 np0000094260 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 06 02:58:38 np0000094260 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 06 02:58:38 np0000094260 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 06 02:58:38 np0000094260 etcd[61138]: {"level":"warn","ts":"2026-06-06T02:58:38.171031Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 06 02:58:38 np0000094260 etcd[61138]: {"level":"info","ts":"2026-06-06T02:58:38.171214Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094260","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094260=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 06 02:58:38 np0000094260 etcd[61138]: {"level":"warn","ts":"2026-06-06T02:58:38.171371Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 06 02:58:38 np0000094260 etcd[61138]: {"level":"info","ts":"2026-06-06T02:58:38.171401Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 06 02:58:38 np0000094260 etcd[61138]: {"level":"info","ts":"2026-06-06T02:58:38.171953Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:38 np0000094260 etcd[61138]: {"level":"info","ts":"2026-06-06T02:58:38.172088Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094260","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:38 np0000094260 etcd[61138]: {"level":"info","ts":"2026-06-06T02:58:38.172170Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094260","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 06 02:58:38 np0000094260 etcd[61138]: {"level":"warn","ts":"2026-06-06T02:58:38.172230Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 06 02:58:38 np0000094260 etcd[61138]: {"level":"fatal","ts":"2026-06-06T02:58:38.172296Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 06 02:58:38 np0000094260 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 06 02:58:38 np0000094260 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 06 02:58:38 np0000094260 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 06 02:58:38 np0000094260 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 06 02:58:38 np0000094260 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 06 02:58:38 np0000094260 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 06 02:58:38 np0000094260 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
