Apr 09 19:25:04 np0000093894 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 19:25:04 np0000093894 etcd[60602]: {"level":"warn","ts":"2026-04-09T19:25:04.446036Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:25:04 np0000093894 etcd[60602]: {"level":"info","ts":"2026-04-09T19:25:04.446209Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093894","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093894=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 19:25:04 np0000093894 etcd[60602]: {"level":"warn","ts":"2026-04-09T19:25:04.446364Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:25:04 np0000093894 etcd[60602]: {"level":"info","ts":"2026-04-09T19:25:04.446398Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 19:25:04 np0000093894 etcd[60602]: {"level":"info","ts":"2026-04-09T19:25:04.446835Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:04 np0000093894 etcd[60602]: {"level":"info","ts":"2026-04-09T19:25:04.446931Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093894","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:04 np0000093894 etcd[60602]: {"level":"info","ts":"2026-04-09T19:25:04.446998Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093894","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:04 np0000093894 etcd[60602]: {"level":"warn","ts":"2026-04-09T19:25:04.447051Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 19:25:04 np0000093894 etcd[60602]: {"level":"fatal","ts":"2026-04-09T19:25:04.447139Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 19:25:04 np0000093894 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 19:25:04 np0000093894 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 19:25:04 np0000093894 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 19:25:04 np0000093894 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 09 19:25:04 np0000093894 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 19:25:04 np0000093894 etcd[60711]: {"level":"warn","ts":"2026-04-09T19:25:04.865648Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:25:04 np0000093894 etcd[60711]: {"level":"info","ts":"2026-04-09T19:25:04.866768Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093894","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093894=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 19:25:04 np0000093894 etcd[60711]: {"level":"warn","ts":"2026-04-09T19:25:04.867321Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:25:04 np0000093894 etcd[60711]: {"level":"info","ts":"2026-04-09T19:25:04.867362Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 19:25:04 np0000093894 etcd[60711]: {"level":"info","ts":"2026-04-09T19:25:04.867818Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:04 np0000093894 etcd[60711]: {"level":"info","ts":"2026-04-09T19:25:04.867921Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093894","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:04 np0000093894 etcd[60711]: {"level":"info","ts":"2026-04-09T19:25:04.867995Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093894","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:04 np0000093894 etcd[60711]: {"level":"warn","ts":"2026-04-09T19:25:04.868044Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 19:25:04 np0000093894 etcd[60711]: {"level":"fatal","ts":"2026-04-09T19:25:04.868159Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 19:25:04 np0000093894 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 19:25:04 np0000093894 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 19:25:04 np0000093894 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 19:25:05 np0000093894 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 09 19:25:05 np0000093894 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 19:25:05 np0000093894 etcd[60723]: {"level":"warn","ts":"2026-04-09T19:25:05.099418Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:25:05 np0000093894 etcd[60723]: {"level":"info","ts":"2026-04-09T19:25:05.099552Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093894","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093894=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 19:25:05 np0000093894 etcd[60723]: {"level":"warn","ts":"2026-04-09T19:25:05.099707Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:25:05 np0000093894 etcd[60723]: {"level":"info","ts":"2026-04-09T19:25:05.099740Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 19:25:05 np0000093894 etcd[60723]: {"level":"info","ts":"2026-04-09T19:25:05.100113Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:05 np0000093894 etcd[60723]: {"level":"info","ts":"2026-04-09T19:25:05.100207Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093894","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:05 np0000093894 etcd[60723]: {"level":"info","ts":"2026-04-09T19:25:05.100273Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093894","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:05 np0000093894 etcd[60723]: {"level":"warn","ts":"2026-04-09T19:25:05.100317Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 19:25:05 np0000093894 etcd[60723]: {"level":"fatal","ts":"2026-04-09T19:25:05.100370Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 19:25:05 np0000093894 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 19:25:05 np0000093894 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 19:25:05 np0000093894 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 19:25:05 np0000093894 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 09 19:25:05 np0000093894 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 19:25:05 np0000093894 etcd[60743]: {"level":"warn","ts":"2026-04-09T19:25:05.359836Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:25:05 np0000093894 etcd[60743]: {"level":"info","ts":"2026-04-09T19:25:05.360014Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093894","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093894=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 19:25:05 np0000093894 etcd[60743]: {"level":"warn","ts":"2026-04-09T19:25:05.360208Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:25:05 np0000093894 etcd[60743]: {"level":"info","ts":"2026-04-09T19:25:05.360250Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 19:25:05 np0000093894 etcd[60743]: {"level":"info","ts":"2026-04-09T19:25:05.362240Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:05 np0000093894 etcd[60743]: {"level":"info","ts":"2026-04-09T19:25:05.362404Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093894","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:05 np0000093894 etcd[60743]: {"level":"info","ts":"2026-04-09T19:25:05.362491Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093894","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:05 np0000093894 etcd[60743]: {"level":"warn","ts":"2026-04-09T19:25:05.362551Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 19:25:05 np0000093894 etcd[60743]: {"level":"fatal","ts":"2026-04-09T19:25:05.362625Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 19:25:05 np0000093894 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 19:25:05 np0000093894 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 19:25:05 np0000093894 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 19:25:05 np0000093894 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 09 19:25:05 np0000093894 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 19:25:05 np0000093894 etcd[60780]: {"level":"warn","ts":"2026-04-09T19:25:05.621990Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:25:05 np0000093894 etcd[60780]: {"level":"info","ts":"2026-04-09T19:25:05.622147Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093894","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093894=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 19:25:05 np0000093894 etcd[60780]: {"level":"warn","ts":"2026-04-09T19:25:05.622283Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:25:05 np0000093894 etcd[60780]: {"level":"info","ts":"2026-04-09T19:25:05.622314Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 19:25:05 np0000093894 etcd[60780]: {"level":"info","ts":"2026-04-09T19:25:05.622855Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:05 np0000093894 etcd[60780]: {"level":"info","ts":"2026-04-09T19:25:05.622968Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093894","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:05 np0000093894 etcd[60780]: {"level":"info","ts":"2026-04-09T19:25:05.623036Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093894","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:25:05 np0000093894 etcd[60780]: {"level":"warn","ts":"2026-04-09T19:25:05.623105Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 19:25:05 np0000093894 etcd[60780]: {"level":"fatal","ts":"2026-04-09T19:25:05.623159Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 19:25:05 np0000093894 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 19:25:05 np0000093894 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 19:25:05 np0000093894 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 19:25:05 np0000093894 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 09 19:25:05 np0000093894 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 09 19:25:05 np0000093894 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 19:25:05 np0000093894 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
