Apr 17 10:23:34 np0000094007 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 10:23:34 np0000094007 etcd[60523]: {"level":"warn","ts":"2026-04-17T10:23:34.718568Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:23:34 np0000094007 etcd[60523]: {"level":"info","ts":"2026-04-17T10:23:34.718742Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094007","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094007=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 10:23:34 np0000094007 etcd[60523]: {"level":"warn","ts":"2026-04-17T10:23:34.718924Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:23:34 np0000094007 etcd[60523]: {"level":"info","ts":"2026-04-17T10:23:34.718963Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 10:23:34 np0000094007 etcd[60523]: {"level":"info","ts":"2026-04-17T10:23:34.719614Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:34 np0000094007 etcd[60523]: {"level":"info","ts":"2026-04-17T10:23:34.719754Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094007","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:34 np0000094007 etcd[60523]: {"level":"info","ts":"2026-04-17T10:23:34.719843Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094007","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:34 np0000094007 etcd[60523]: {"level":"warn","ts":"2026-04-17T10:23:34.719908Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 10:23:34 np0000094007 etcd[60523]: {"level":"fatal","ts":"2026-04-17T10:23:34.720007Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 10:23:34 np0000094007 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 10:23:34 np0000094007 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 10:23:34 np0000094007 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 10:23:34 np0000094007 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 17 10:23:34 np0000094007 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 10:23:35 np0000094007 etcd[60614]: {"level":"warn","ts":"2026-04-17T10:23:35.055316Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:23:35 np0000094007 etcd[60614]: {"level":"info","ts":"2026-04-17T10:23:35.055556Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094007","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094007=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 10:23:35 np0000094007 etcd[60614]: {"level":"warn","ts":"2026-04-17T10:23:35.055710Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:23:35 np0000094007 etcd[60614]: {"level":"info","ts":"2026-04-17T10:23:35.055740Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 10:23:35 np0000094007 etcd[60614]: {"level":"info","ts":"2026-04-17T10:23:35.056185Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:35 np0000094007 etcd[60614]: {"level":"info","ts":"2026-04-17T10:23:35.056330Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094007","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:35 np0000094007 etcd[60614]: {"level":"info","ts":"2026-04-17T10:23:35.056433Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094007","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:35 np0000094007 etcd[60614]: {"level":"warn","ts":"2026-04-17T10:23:35.056497Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 10:23:35 np0000094007 etcd[60614]: {"level":"fatal","ts":"2026-04-17T10:23:35.056612Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 10:23:35 np0000094007 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 17 10:23:35 np0000094007 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 10:23:35 np0000094007 etcd[60643]: {"level":"warn","ts":"2026-04-17T10:23:35.296945Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:23:35 np0000094007 etcd[60643]: {"level":"info","ts":"2026-04-17T10:23:35.298427Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094007","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094007=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 10:23:35 np0000094007 etcd[60643]: {"level":"warn","ts":"2026-04-17T10:23:35.298661Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:23:35 np0000094007 etcd[60643]: {"level":"info","ts":"2026-04-17T10:23:35.298707Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 10:23:35 np0000094007 etcd[60643]: {"level":"info","ts":"2026-04-17T10:23:35.299121Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:35 np0000094007 etcd[60643]: {"level":"info","ts":"2026-04-17T10:23:35.299239Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094007","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:35 np0000094007 etcd[60643]: {"level":"info","ts":"2026-04-17T10:23:35.299324Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094007","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:35 np0000094007 etcd[60643]: {"level":"warn","ts":"2026-04-17T10:23:35.299391Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 10:23:35 np0000094007 etcd[60643]: {"level":"fatal","ts":"2026-04-17T10:23:35.299480Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 10:23:35 np0000094007 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 17 10:23:35 np0000094007 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 10:23:35 np0000094007 etcd[60664]: {"level":"warn","ts":"2026-04-17T10:23:35.551209Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:23:35 np0000094007 etcd[60664]: {"level":"info","ts":"2026-04-17T10:23:35.551389Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094007","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094007=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 10:23:35 np0000094007 etcd[60664]: {"level":"warn","ts":"2026-04-17T10:23:35.551615Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:23:35 np0000094007 etcd[60664]: {"level":"info","ts":"2026-04-17T10:23:35.551648Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 10:23:35 np0000094007 etcd[60664]: {"level":"info","ts":"2026-04-17T10:23:35.552093Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:35 np0000094007 etcd[60664]: {"level":"info","ts":"2026-04-17T10:23:35.552226Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094007","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:35 np0000094007 etcd[60664]: {"level":"info","ts":"2026-04-17T10:23:35.552306Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094007","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:35 np0000094007 etcd[60664]: {"level":"warn","ts":"2026-04-17T10:23:35.552368Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 10:23:35 np0000094007 etcd[60664]: {"level":"fatal","ts":"2026-04-17T10:23:35.552453Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 10:23:35 np0000094007 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 17 10:23:35 np0000094007 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 10:23:35 np0000094007 etcd[60704]: {"level":"warn","ts":"2026-04-17T10:23:35.787698Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:23:35 np0000094007 etcd[60704]: {"level":"info","ts":"2026-04-17T10:23:35.787858Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094007","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094007=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 10:23:35 np0000094007 etcd[60704]: {"level":"warn","ts":"2026-04-17T10:23:35.788008Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:23:35 np0000094007 etcd[60704]: {"level":"info","ts":"2026-04-17T10:23:35.788036Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 10:23:35 np0000094007 etcd[60704]: {"level":"info","ts":"2026-04-17T10:23:35.788468Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:35 np0000094007 etcd[60704]: {"level":"info","ts":"2026-04-17T10:23:35.788657Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094007","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:35 np0000094007 etcd[60704]: {"level":"info","ts":"2026-04-17T10:23:35.788732Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094007","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:23:35 np0000094007 etcd[60704]: {"level":"warn","ts":"2026-04-17T10:23:35.788784Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 10:23:35 np0000094007 etcd[60704]: {"level":"fatal","ts":"2026-04-17T10:23:35.788843Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 10:23:35 np0000094007 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 17 10:23:35 np0000094007 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 10:23:35 np0000094007 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
