Jun 14 10:59:23 np0000094339 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 14 10:59:23 np0000094339 etcd[63747]: {"level":"warn","ts":"2026-06-14T10:59:23.530637Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 14 10:59:23 np0000094339 etcd[63747]: {"level":"info","ts":"2026-06-14T10:59:23.531684Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094339","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094339=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 14 10:59:23 np0000094339 etcd[63747]: {"level":"warn","ts":"2026-06-14T10:59:23.531885Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 14 10:59:23 np0000094339 etcd[63747]: {"level":"info","ts":"2026-06-14T10:59:23.531919Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 14 10:59:23 np0000094339 etcd[63747]: {"level":"info","ts":"2026-06-14T10:59:23.532941Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:23 np0000094339 etcd[63747]: {"level":"info","ts":"2026-06-14T10:59:23.533077Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094339","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:23 np0000094339 etcd[63747]: {"level":"info","ts":"2026-06-14T10:59:23.533161Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094339","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:23 np0000094339 etcd[63747]: {"level":"warn","ts":"2026-06-14T10:59:23.533273Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 14 10:59:23 np0000094339 etcd[63747]: {"level":"fatal","ts":"2026-06-14T10:59:23.533341Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 14 10:59:23 np0000094339 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 14 10:59:23 np0000094339 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 14 10:59:23 np0000094339 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 14 10:59:23 np0000094339 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 14 10:59:23 np0000094339 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 14 10:59:23 np0000094339 etcd[63852]: {"level":"warn","ts":"2026-06-14T10:59:23.931370Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 14 10:59:23 np0000094339 etcd[63852]: {"level":"info","ts":"2026-06-14T10:59:23.931520Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094339","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094339=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 14 10:59:23 np0000094339 etcd[63852]: {"level":"warn","ts":"2026-06-14T10:59:23.931662Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 14 10:59:23 np0000094339 etcd[63852]: {"level":"info","ts":"2026-06-14T10:59:23.931695Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 14 10:59:23 np0000094339 etcd[63852]: {"level":"info","ts":"2026-06-14T10:59:23.932271Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:23 np0000094339 etcd[63852]: {"level":"info","ts":"2026-06-14T10:59:23.932384Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094339","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:23 np0000094339 etcd[63852]: {"level":"info","ts":"2026-06-14T10:59:23.932453Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094339","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:23 np0000094339 etcd[63852]: {"level":"warn","ts":"2026-06-14T10:59:23.932510Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 14 10:59:23 np0000094339 etcd[63852]: {"level":"fatal","ts":"2026-06-14T10:59:23.932581Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 14 10:59:23 np0000094339 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 14 10:59:23 np0000094339 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 14 10:59:23 np0000094339 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 14 10:59:24 np0000094339 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 14 10:59:24 np0000094339 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 14 10:59:24 np0000094339 etcd[63867]: {"level":"warn","ts":"2026-06-14T10:59:24.179330Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 14 10:59:24 np0000094339 etcd[63867]: {"level":"info","ts":"2026-06-14T10:59:24.179505Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094339","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094339=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 14 10:59:24 np0000094339 etcd[63867]: {"level":"warn","ts":"2026-06-14T10:59:24.179675Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 14 10:59:24 np0000094339 etcd[63867]: {"level":"info","ts":"2026-06-14T10:59:24.179715Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 14 10:59:24 np0000094339 etcd[63867]: {"level":"info","ts":"2026-06-14T10:59:24.180262Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:24 np0000094339 etcd[63867]: {"level":"info","ts":"2026-06-14T10:59:24.180402Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094339","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:24 np0000094339 etcd[63867]: {"level":"info","ts":"2026-06-14T10:59:24.180481Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094339","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:24 np0000094339 etcd[63867]: {"level":"warn","ts":"2026-06-14T10:59:24.180537Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 14 10:59:24 np0000094339 etcd[63867]: {"level":"fatal","ts":"2026-06-14T10:59:24.180614Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 14 10:59:24 np0000094339 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 14 10:59:24 np0000094339 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 14 10:59:24 np0000094339 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 14 10:59:24 np0000094339 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 14 10:59:24 np0000094339 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 14 10:59:24 np0000094339 etcd[63893]: {"level":"warn","ts":"2026-06-14T10:59:24.422538Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 14 10:59:24 np0000094339 etcd[63893]: {"level":"info","ts":"2026-06-14T10:59:24.423740Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094339","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094339=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 14 10:59:24 np0000094339 etcd[63893]: {"level":"warn","ts":"2026-06-14T10:59:24.423970Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 14 10:59:24 np0000094339 etcd[63893]: {"level":"info","ts":"2026-06-14T10:59:24.424019Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 14 10:59:24 np0000094339 etcd[63893]: {"level":"info","ts":"2026-06-14T10:59:24.424503Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:24 np0000094339 etcd[63893]: {"level":"info","ts":"2026-06-14T10:59:24.424615Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094339","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:24 np0000094339 etcd[63893]: {"level":"info","ts":"2026-06-14T10:59:24.424691Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094339","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:24 np0000094339 etcd[63893]: {"level":"warn","ts":"2026-06-14T10:59:24.424758Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 14 10:59:24 np0000094339 etcd[63893]: {"level":"fatal","ts":"2026-06-14T10:59:24.424822Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 14 10:59:24 np0000094339 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 14 10:59:24 np0000094339 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 14 10:59:24 np0000094339 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 14 10:59:24 np0000094339 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 14 10:59:24 np0000094339 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 14 10:59:24 np0000094339 etcd[63926]: {"level":"warn","ts":"2026-06-14T10:59:24.687212Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 14 10:59:24 np0000094339 etcd[63926]: {"level":"info","ts":"2026-06-14T10:59:24.687374Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094339","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094339=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 14 10:59:24 np0000094339 etcd[63926]: {"level":"warn","ts":"2026-06-14T10:59:24.687488Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 14 10:59:24 np0000094339 etcd[63926]: {"level":"info","ts":"2026-06-14T10:59:24.687518Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 14 10:59:24 np0000094339 etcd[63926]: {"level":"info","ts":"2026-06-14T10:59:24.687872Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:24 np0000094339 etcd[63926]: {"level":"info","ts":"2026-06-14T10:59:24.687959Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094339","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:24 np0000094339 etcd[63926]: {"level":"info","ts":"2026-06-14T10:59:24.688019Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094339","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 14 10:59:24 np0000094339 etcd[63926]: {"level":"warn","ts":"2026-06-14T10:59:24.688060Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 14 10:59:24 np0000094339 etcd[63926]: {"level":"fatal","ts":"2026-06-14T10:59:24.688120Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 14 10:59:24 np0000094339 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 14 10:59:24 np0000094339 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 14 10:59:24 np0000094339 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 14 10:59:24 np0000094339 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 14 10:59:24 np0000094339 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 14 10:59:24 np0000094339 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 14 10:59:24 np0000094339 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
