Apr 15 18:24:09 np0000093978 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 18:24:09 np0000093978 etcd[60203]: {"level":"warn","ts":"2026-04-15T18:24:09.931833Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 18:24:09 np0000093978 etcd[60203]: {"level":"info","ts":"2026-04-15T18:24:09.931904Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093978","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093978=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 18:24:09 np0000093978 etcd[60203]: {"level":"warn","ts":"2026-04-15T18:24:09.931989Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 18:24:09 np0000093978 etcd[60203]: {"level":"info","ts":"2026-04-15T18:24:09.932002Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 18:24:09 np0000093978 etcd[60203]: {"level":"info","ts":"2026-04-15T18:24:09.932210Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:09 np0000093978 etcd[60203]: {"level":"info","ts":"2026-04-15T18:24:09.932273Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093978","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:09 np0000093978 etcd[60203]: {"level":"info","ts":"2026-04-15T18:24:09.932313Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093978","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:09 np0000093978 etcd[60203]: {"level":"warn","ts":"2026-04-15T18:24:09.932344Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 18:24:09 np0000093978 etcd[60203]: {"level":"fatal","ts":"2026-04-15T18:24:09.932374Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 18:24:09 np0000093978 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 18:24:09 np0000093978 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 18:24:09 np0000093978 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 18:24:10 np0000093978 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 15 18:24:10 np0000093978 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 18:24:10 np0000093978 etcd[60278]: {"level":"warn","ts":"2026-04-15T18:24:10.146073Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 18:24:10 np0000093978 etcd[60278]: {"level":"info","ts":"2026-04-15T18:24:10.146242Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093978","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093978=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 18:24:10 np0000093978 etcd[60278]: {"level":"warn","ts":"2026-04-15T18:24:10.146439Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 18:24:10 np0000093978 etcd[60278]: {"level":"info","ts":"2026-04-15T18:24:10.146465Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 18:24:10 np0000093978 etcd[60278]: {"level":"info","ts":"2026-04-15T18:24:10.146857Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:10 np0000093978 etcd[60278]: {"level":"info","ts":"2026-04-15T18:24:10.146948Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093978","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:10 np0000093978 etcd[60278]: {"level":"info","ts":"2026-04-15T18:24:10.147015Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093978","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:10 np0000093978 etcd[60278]: {"level":"warn","ts":"2026-04-15T18:24:10.147066Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 18:24:10 np0000093978 etcd[60278]: {"level":"fatal","ts":"2026-04-15T18:24:10.147119Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 18:24:10 np0000093978 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 18:24:10 np0000093978 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 18:24:10 np0000093978 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 18:24:10 np0000093978 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 15 18:24:10 np0000093978 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 18:24:10 np0000093978 etcd[60323]: {"level":"warn","ts":"2026-04-15T18:24:10.401359Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 18:24:10 np0000093978 etcd[60323]: {"level":"info","ts":"2026-04-15T18:24:10.401546Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093978","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093978=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 18:24:10 np0000093978 etcd[60323]: {"level":"warn","ts":"2026-04-15T18:24:10.401728Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 18:24:10 np0000093978 etcd[60323]: {"level":"info","ts":"2026-04-15T18:24:10.401760Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 18:24:10 np0000093978 etcd[60323]: {"level":"info","ts":"2026-04-15T18:24:10.404031Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:10 np0000093978 etcd[60323]: {"level":"info","ts":"2026-04-15T18:24:10.404206Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093978","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:10 np0000093978 etcd[60323]: {"level":"info","ts":"2026-04-15T18:24:10.404359Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093978","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:10 np0000093978 etcd[60323]: {"level":"warn","ts":"2026-04-15T18:24:10.404425Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 18:24:10 np0000093978 etcd[60323]: {"level":"fatal","ts":"2026-04-15T18:24:10.404496Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 18:24:10 np0000093978 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 18:24:10 np0000093978 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 18:24:10 np0000093978 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 18:24:10 np0000093978 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 15 18:24:10 np0000093978 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 18:24:10 np0000093978 etcd[60343]: {"level":"warn","ts":"2026-04-15T18:24:10.652049Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 18:24:10 np0000093978 etcd[60343]: {"level":"info","ts":"2026-04-15T18:24:10.653635Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093978","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093978=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 18:24:10 np0000093978 etcd[60343]: {"level":"warn","ts":"2026-04-15T18:24:10.654108Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 18:24:10 np0000093978 etcd[60343]: {"level":"info","ts":"2026-04-15T18:24:10.654160Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 18:24:10 np0000093978 etcd[60343]: {"level":"info","ts":"2026-04-15T18:24:10.654978Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:10 np0000093978 etcd[60343]: {"level":"info","ts":"2026-04-15T18:24:10.655118Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093978","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:10 np0000093978 etcd[60343]: {"level":"info","ts":"2026-04-15T18:24:10.655209Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093978","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:10 np0000093978 etcd[60343]: {"level":"warn","ts":"2026-04-15T18:24:10.655332Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 18:24:10 np0000093978 etcd[60343]: {"level":"fatal","ts":"2026-04-15T18:24:10.655403Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 18:24:10 np0000093978 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 18:24:10 np0000093978 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 18:24:10 np0000093978 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 18:24:10 np0000093978 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 15 18:24:10 np0000093978 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 18:24:10 np0000093978 etcd[60380]: {"level":"warn","ts":"2026-04-15T18:24:10.901885Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 18:24:10 np0000093978 etcd[60380]: {"level":"info","ts":"2026-04-15T18:24:10.902040Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093978","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093978=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 18:24:10 np0000093978 etcd[60380]: {"level":"warn","ts":"2026-04-15T18:24:10.902169Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 18:24:10 np0000093978 etcd[60380]: {"level":"info","ts":"2026-04-15T18:24:10.902192Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 18:24:10 np0000093978 etcd[60380]: {"level":"info","ts":"2026-04-15T18:24:10.903950Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:10 np0000093978 etcd[60380]: {"level":"info","ts":"2026-04-15T18:24:10.904239Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093978","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:10 np0000093978 etcd[60380]: {"level":"info","ts":"2026-04-15T18:24:10.904401Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093978","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 18:24:10 np0000093978 etcd[60380]: {"level":"warn","ts":"2026-04-15T18:24:10.904663Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 18:24:10 np0000093978 etcd[60380]: {"level":"fatal","ts":"2026-04-15T18:24:10.905525Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 18:24:10 np0000093978 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 18:24:10 np0000093978 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 18:24:10 np0000093978 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 18:24:11 np0000093978 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 15 18:24:11 np0000093978 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 15 18:24:11 np0000093978 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 18:24:11 np0000093978 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
