Jun 03 06:03:53 np0000094221 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 06:03:53 np0000094221 etcd[60467]: {"level":"warn","ts":"2026-06-03T06:03:53.609810Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 06:03:53 np0000094221 etcd[60467]: {"level":"info","ts":"2026-06-03T06:03:53.610781Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094221","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094221=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 06:03:53 np0000094221 etcd[60467]: {"level":"warn","ts":"2026-06-03T06:03:53.610951Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 06:03:53 np0000094221 etcd[60467]: {"level":"info","ts":"2026-06-03T06:03:53.610979Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 06:03:53 np0000094221 etcd[60467]: {"level":"info","ts":"2026-06-03T06:03:53.611396Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:53 np0000094221 etcd[60467]: {"level":"info","ts":"2026-06-03T06:03:53.611497Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094221","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:53 np0000094221 etcd[60467]: {"level":"info","ts":"2026-06-03T06:03:53.611570Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094221","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:53 np0000094221 etcd[60467]: {"level":"warn","ts":"2026-06-03T06:03:53.612762Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 06:03:53 np0000094221 etcd[60467]: {"level":"fatal","ts":"2026-06-03T06:03:53.612826Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 06:03:53 np0000094221 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 06:03:53 np0000094221 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 06:03:53 np0000094221 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 06:03:53 np0000094221 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 03 06:03:53 np0000094221 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 06:03:53 np0000094221 etcd[60563]: {"level":"warn","ts":"2026-06-03T06:03:53.993261Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 06:03:53 np0000094221 etcd[60563]: {"level":"info","ts":"2026-06-03T06:03:53.993433Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094221","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094221=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 06:03:53 np0000094221 etcd[60563]: {"level":"warn","ts":"2026-06-03T06:03:53.993627Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 06:03:53 np0000094221 etcd[60563]: {"level":"info","ts":"2026-06-03T06:03:53.993679Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 06:03:53 np0000094221 etcd[60563]: {"level":"info","ts":"2026-06-03T06:03:53.994148Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:53 np0000094221 etcd[60563]: {"level":"info","ts":"2026-06-03T06:03:53.994256Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094221","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:53 np0000094221 etcd[60563]: {"level":"info","ts":"2026-06-03T06:03:53.994329Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094221","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:53 np0000094221 etcd[60563]: {"level":"warn","ts":"2026-06-03T06:03:53.994385Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 06:03:53 np0000094221 etcd[60563]: {"level":"fatal","ts":"2026-06-03T06:03:53.994440Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 06:03:53 np0000094221 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 06:03:53 np0000094221 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 06:03:54 np0000094221 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 06:03:54 np0000094221 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 03 06:03:54 np0000094221 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 06:03:54 np0000094221 etcd[60587]: {"level":"warn","ts":"2026-06-03T06:03:54.237301Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 06:03:54 np0000094221 etcd[60587]: {"level":"info","ts":"2026-06-03T06:03:54.237478Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094221","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094221=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 06:03:54 np0000094221 etcd[60587]: {"level":"warn","ts":"2026-06-03T06:03:54.237697Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 06:03:54 np0000094221 etcd[60587]: {"level":"info","ts":"2026-06-03T06:03:54.237739Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 06:03:54 np0000094221 etcd[60587]: {"level":"info","ts":"2026-06-03T06:03:54.238219Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:54 np0000094221 etcd[60587]: {"level":"info","ts":"2026-06-03T06:03:54.238340Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094221","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:54 np0000094221 etcd[60587]: {"level":"info","ts":"2026-06-03T06:03:54.238427Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094221","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:54 np0000094221 etcd[60587]: {"level":"warn","ts":"2026-06-03T06:03:54.238498Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 06:03:54 np0000094221 etcd[60587]: {"level":"fatal","ts":"2026-06-03T06:03:54.238574Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 06:03:54 np0000094221 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 06:03:54 np0000094221 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 06:03:54 np0000094221 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 06:03:54 np0000094221 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 03 06:03:54 np0000094221 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 06:03:54 np0000094221 etcd[60601]: {"level":"warn","ts":"2026-06-03T06:03:54.464492Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 06:03:54 np0000094221 etcd[60601]: {"level":"info","ts":"2026-06-03T06:03:54.465211Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094221","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094221=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 06:03:54 np0000094221 etcd[60601]: {"level":"warn","ts":"2026-06-03T06:03:54.465465Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 06:03:54 np0000094221 etcd[60601]: {"level":"info","ts":"2026-06-03T06:03:54.465562Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 06:03:54 np0000094221 etcd[60601]: {"level":"info","ts":"2026-06-03T06:03:54.465966Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:54 np0000094221 etcd[60601]: {"level":"info","ts":"2026-06-03T06:03:54.466128Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094221","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:54 np0000094221 etcd[60601]: {"level":"info","ts":"2026-06-03T06:03:54.466263Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094221","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:54 np0000094221 etcd[60601]: {"level":"warn","ts":"2026-06-03T06:03:54.466377Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 06:03:54 np0000094221 etcd[60601]: {"level":"fatal","ts":"2026-06-03T06:03:54.466497Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 06:03:54 np0000094221 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 06:03:54 np0000094221 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 06:03:54 np0000094221 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 06:03:54 np0000094221 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 03 06:03:54 np0000094221 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 06:03:54 np0000094221 etcd[60634]: {"level":"warn","ts":"2026-06-03T06:03:54.732812Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 06:03:54 np0000094221 etcd[60634]: {"level":"info","ts":"2026-06-03T06:03:54.732998Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094221","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094221=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 06:03:54 np0000094221 etcd[60634]: {"level":"warn","ts":"2026-06-03T06:03:54.733176Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 06:03:54 np0000094221 etcd[60634]: {"level":"info","ts":"2026-06-03T06:03:54.733205Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 06:03:54 np0000094221 etcd[60634]: {"level":"info","ts":"2026-06-03T06:03:54.733717Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:54 np0000094221 etcd[60634]: {"level":"info","ts":"2026-06-03T06:03:54.733829Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094221","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:54 np0000094221 etcd[60634]: {"level":"info","ts":"2026-06-03T06:03:54.733903Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094221","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 06:03:54 np0000094221 etcd[60634]: {"level":"warn","ts":"2026-06-03T06:03:54.733955Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 06:03:54 np0000094221 etcd[60634]: {"level":"fatal","ts":"2026-06-03T06:03:54.734034Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 06:03:54 np0000094221 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 06:03:54 np0000094221 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 06:03:54 np0000094221 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 06:03:54 np0000094221 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 03 06:03:54 np0000094221 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 03 06:03:54 np0000094221 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 06:03:54 np0000094221 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
