May 29 18:04:02 np0000094179 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 18:04:02 np0000094179 etcd[60480]: {"level":"warn","ts":"2026-05-29T18:04:02.455943Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 18:04:02 np0000094179 etcd[60480]: {"level":"info","ts":"2026-05-29T18:04:02.456264Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094179","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094179=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 18:04:02 np0000094179 etcd[60480]: {"level":"warn","ts":"2026-05-29T18:04:02.456457Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 18:04:02 np0000094179 etcd[60480]: {"level":"info","ts":"2026-05-29T18:04:02.456489Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 18:04:02 np0000094179 etcd[60480]: {"level":"info","ts":"2026-05-29T18:04:02.457013Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:02 np0000094179 etcd[60480]: {"level":"info","ts":"2026-05-29T18:04:02.457145Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094179","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:02 np0000094179 etcd[60480]: {"level":"info","ts":"2026-05-29T18:04:02.457224Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094179","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:02 np0000094179 etcd[60480]: {"level":"warn","ts":"2026-05-29T18:04:02.457278Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 18:04:02 np0000094179 etcd[60480]: {"level":"fatal","ts":"2026-05-29T18:04:02.457340Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 18:04:02 np0000094179 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 18:04:02 np0000094179 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 18:04:02 np0000094179 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 18:04:02 np0000094179 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 29 18:04:02 np0000094179 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 18:04:02 np0000094179 etcd[60532]: {"level":"warn","ts":"2026-05-29T18:04:02.692781Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 18:04:02 np0000094179 etcd[60532]: {"level":"info","ts":"2026-05-29T18:04:02.696116Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094179","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094179=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 18:04:02 np0000094179 etcd[60532]: {"level":"warn","ts":"2026-05-29T18:04:02.696332Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 18:04:02 np0000094179 etcd[60532]: {"level":"info","ts":"2026-05-29T18:04:02.696375Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 18:04:02 np0000094179 etcd[60532]: {"level":"info","ts":"2026-05-29T18:04:02.696915Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:02 np0000094179 etcd[60532]: {"level":"info","ts":"2026-05-29T18:04:02.697723Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094179","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:02 np0000094179 etcd[60532]: {"level":"info","ts":"2026-05-29T18:04:02.697812Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094179","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:02 np0000094179 etcd[60532]: {"level":"warn","ts":"2026-05-29T18:04:02.697865Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 18:04:02 np0000094179 etcd[60532]: {"level":"fatal","ts":"2026-05-29T18:04:02.697940Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 18:04:02 np0000094179 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 18:04:02 np0000094179 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 18:04:02 np0000094179 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 18:04:02 np0000094179 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 29 18:04:02 np0000094179 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 18:04:02 np0000094179 etcd[60600]: {"level":"warn","ts":"2026-05-29T18:04:02.937111Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 18:04:02 np0000094179 etcd[60600]: {"level":"info","ts":"2026-05-29T18:04:02.938283Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094179","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094179=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 18:04:02 np0000094179 etcd[60600]: {"level":"warn","ts":"2026-05-29T18:04:02.938522Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 18:04:02 np0000094179 etcd[60600]: {"level":"info","ts":"2026-05-29T18:04:02.938569Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 18:04:02 np0000094179 etcd[60600]: {"level":"info","ts":"2026-05-29T18:04:02.939593Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:02 np0000094179 etcd[60600]: {"level":"info","ts":"2026-05-29T18:04:02.939752Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094179","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:02 np0000094179 etcd[60600]: {"level":"info","ts":"2026-05-29T18:04:02.939840Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094179","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:02 np0000094179 etcd[60600]: {"level":"warn","ts":"2026-05-29T18:04:02.939916Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 18:04:02 np0000094179 etcd[60600]: {"level":"fatal","ts":"2026-05-29T18:04:02.940010Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 18:04:02 np0000094179 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 18:04:02 np0000094179 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 18:04:02 np0000094179 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 18:04:03 np0000094179 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 29 18:04:03 np0000094179 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 18:04:03 np0000094179 etcd[60609]: {"level":"warn","ts":"2026-05-29T18:04:03.150255Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 18:04:03 np0000094179 etcd[60609]: {"level":"info","ts":"2026-05-29T18:04:03.150332Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094179","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094179=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 18:04:03 np0000094179 etcd[60609]: {"level":"warn","ts":"2026-05-29T18:04:03.150396Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 18:04:03 np0000094179 etcd[60609]: {"level":"info","ts":"2026-05-29T18:04:03.150407Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 18:04:03 np0000094179 etcd[60609]: {"level":"info","ts":"2026-05-29T18:04:03.150602Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:03 np0000094179 etcd[60609]: {"level":"info","ts":"2026-05-29T18:04:03.150643Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094179","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:03 np0000094179 etcd[60609]: {"level":"info","ts":"2026-05-29T18:04:03.150681Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094179","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:03 np0000094179 etcd[60609]: {"level":"warn","ts":"2026-05-29T18:04:03.150701Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 18:04:03 np0000094179 etcd[60609]: {"level":"fatal","ts":"2026-05-29T18:04:03.150729Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 18:04:03 np0000094179 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 18:04:03 np0000094179 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 18:04:03 np0000094179 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 18:04:03 np0000094179 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 29 18:04:03 np0000094179 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 18:04:03 np0000094179 etcd[60651]: {"level":"warn","ts":"2026-05-29T18:04:03.425070Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 18:04:03 np0000094179 etcd[60651]: {"level":"info","ts":"2026-05-29T18:04:03.425215Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094179","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094179=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 18:04:03 np0000094179 etcd[60651]: {"level":"warn","ts":"2026-05-29T18:04:03.425344Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 18:04:03 np0000094179 etcd[60651]: {"level":"info","ts":"2026-05-29T18:04:03.425374Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 18:04:03 np0000094179 etcd[60651]: {"level":"info","ts":"2026-05-29T18:04:03.425762Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:03 np0000094179 etcd[60651]: {"level":"info","ts":"2026-05-29T18:04:03.425863Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094179","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:03 np0000094179 etcd[60651]: {"level":"info","ts":"2026-05-29T18:04:03.425927Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094179","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 18:04:03 np0000094179 etcd[60651]: {"level":"warn","ts":"2026-05-29T18:04:03.425999Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 18:04:03 np0000094179 etcd[60651]: {"level":"fatal","ts":"2026-05-29T18:04:03.426048Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 18:04:03 np0000094179 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 18:04:03 np0000094179 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 18:04:03 np0000094179 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 18:04:03 np0000094179 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 29 18:04:03 np0000094179 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 29 18:04:03 np0000094179 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 18:04:03 np0000094179 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
