Jun 19 02:42:58 np0000094409 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 02:42:58 np0000094409 etcd[60070]: {"level":"warn","ts":"2026-06-19T02:42:58.076040Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 02:42:58 np0000094409 etcd[60070]: {"level":"info","ts":"2026-06-19T02:42:58.076684Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094409","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094409=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 02:42:58 np0000094409 etcd[60070]: {"level":"warn","ts":"2026-06-19T02:42:58.076862Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 02:42:58 np0000094409 etcd[60070]: {"level":"info","ts":"2026-06-19T02:42:58.076883Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 02:42:58 np0000094409 etcd[60070]: {"level":"info","ts":"2026-06-19T02:42:58.077755Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:58 np0000094409 etcd[60070]: {"level":"info","ts":"2026-06-19T02:42:58.077858Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094409","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:58 np0000094409 etcd[60070]: {"level":"info","ts":"2026-06-19T02:42:58.077908Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094409","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:58 np0000094409 etcd[60070]: {"level":"warn","ts":"2026-06-19T02:42:58.077961Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 02:42:58 np0000094409 etcd[60070]: {"level":"fatal","ts":"2026-06-19T02:42:58.078012Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 02:42:58 np0000094409 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 02:42:58 np0000094409 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 02:42:58 np0000094409 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 02:42:58 np0000094409 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 19 02:42:58 np0000094409 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 02:42:58 np0000094409 etcd[60147]: {"level":"warn","ts":"2026-06-19T02:42:58.261375Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 02:42:58 np0000094409 etcd[60147]: {"level":"info","ts":"2026-06-19T02:42:58.262303Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094409","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094409=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 02:42:58 np0000094409 etcd[60147]: {"level":"warn","ts":"2026-06-19T02:42:58.262683Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 02:42:58 np0000094409 etcd[60147]: {"level":"info","ts":"2026-06-19T02:42:58.262887Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 02:42:58 np0000094409 etcd[60147]: {"level":"info","ts":"2026-06-19T02:42:58.263256Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:58 np0000094409 etcd[60147]: {"level":"info","ts":"2026-06-19T02:42:58.263334Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094409","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:58 np0000094409 etcd[60147]: {"level":"info","ts":"2026-06-19T02:42:58.263387Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094409","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:58 np0000094409 etcd[60147]: {"level":"warn","ts":"2026-06-19T02:42:58.263434Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 02:42:58 np0000094409 etcd[60147]: {"level":"fatal","ts":"2026-06-19T02:42:58.263478Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 02:42:58 np0000094409 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 02:42:58 np0000094409 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 02:42:58 np0000094409 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 02:42:58 np0000094409 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 19 02:42:58 np0000094409 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 02:42:58 np0000094409 etcd[60189]: {"level":"warn","ts":"2026-06-19T02:42:58.548200Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 02:42:58 np0000094409 etcd[60189]: {"level":"info","ts":"2026-06-19T02:42:58.548475Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094409","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094409=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 02:42:58 np0000094409 etcd[60189]: {"level":"warn","ts":"2026-06-19T02:42:58.548725Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 02:42:58 np0000094409 etcd[60189]: {"level":"info","ts":"2026-06-19T02:42:58.548759Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 02:42:58 np0000094409 etcd[60189]: {"level":"info","ts":"2026-06-19T02:42:58.549311Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:58 np0000094409 etcd[60189]: {"level":"info","ts":"2026-06-19T02:42:58.549439Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094409","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:58 np0000094409 etcd[60189]: {"level":"info","ts":"2026-06-19T02:42:58.549522Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094409","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:58 np0000094409 etcd[60189]: {"level":"warn","ts":"2026-06-19T02:42:58.549580Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 02:42:58 np0000094409 etcd[60189]: {"level":"fatal","ts":"2026-06-19T02:42:58.549647Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 02:42:58 np0000094409 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 02:42:58 np0000094409 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 02:42:58 np0000094409 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 02:42:58 np0000094409 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 19 02:42:58 np0000094409 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 02:42:58 np0000094409 etcd[60211]: {"level":"warn","ts":"2026-06-19T02:42:58.803269Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 02:42:58 np0000094409 etcd[60211]: {"level":"info","ts":"2026-06-19T02:42:58.803433Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094409","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094409=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 02:42:58 np0000094409 etcd[60211]: {"level":"warn","ts":"2026-06-19T02:42:58.803592Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 02:42:58 np0000094409 etcd[60211]: {"level":"info","ts":"2026-06-19T02:42:58.803621Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 02:42:58 np0000094409 etcd[60211]: {"level":"info","ts":"2026-06-19T02:42:58.804119Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:58 np0000094409 etcd[60211]: {"level":"info","ts":"2026-06-19T02:42:58.804433Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094409","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:58 np0000094409 etcd[60211]: {"level":"info","ts":"2026-06-19T02:42:58.804532Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094409","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:58 np0000094409 etcd[60211]: {"level":"warn","ts":"2026-06-19T02:42:58.804589Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 02:42:58 np0000094409 etcd[60211]: {"level":"fatal","ts":"2026-06-19T02:42:58.804666Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 02:42:58 np0000094409 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 02:42:58 np0000094409 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 02:42:58 np0000094409 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 02:42:58 np0000094409 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 19 02:42:58 np0000094409 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 19 02:42:59 np0000094409 etcd[60250]: {"level":"warn","ts":"2026-06-19T02:42:59.042264Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 02:42:59 np0000094409 etcd[60250]: {"level":"info","ts":"2026-06-19T02:42:59.042461Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094409","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094409=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 19 02:42:59 np0000094409 etcd[60250]: {"level":"warn","ts":"2026-06-19T02:42:59.042615Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 19 02:42:59 np0000094409 etcd[60250]: {"level":"info","ts":"2026-06-19T02:42:59.042649Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 19 02:42:59 np0000094409 etcd[60250]: {"level":"info","ts":"2026-06-19T02:42:59.043050Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:59 np0000094409 etcd[60250]: {"level":"info","ts":"2026-06-19T02:42:59.043153Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094409","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:59 np0000094409 etcd[60250]: {"level":"info","ts":"2026-06-19T02:42:59.043294Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094409","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 19 02:42:59 np0000094409 etcd[60250]: {"level":"warn","ts":"2026-06-19T02:42:59.043344Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 19 02:42:59 np0000094409 etcd[60250]: {"level":"fatal","ts":"2026-06-19T02:42:59.043397Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 19 02:42:59 np0000094409 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 19 02:42:59 np0000094409 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 02:42:59 np0000094409 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 19 02:42:59 np0000094409 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 19 02:42:59 np0000094409 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 19 02:42:59 np0000094409 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 19 02:42:59 np0000094409 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
