Apr 20 17:15:05 np0000094026 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 17:15:05 np0000094026 etcd[59872]: {"level":"warn","ts":"2026-04-20T17:15:05.832666Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 17:15:05 np0000094026 etcd[59872]: {"level":"info","ts":"2026-04-20T17:15:05.832879Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094026","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094026=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 17:15:05 np0000094026 etcd[59872]: {"level":"warn","ts":"2026-04-20T17:15:05.833148Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 17:15:05 np0000094026 etcd[59872]: {"level":"info","ts":"2026-04-20T17:15:05.833254Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 17:15:05 np0000094026 etcd[59872]: {"level":"info","ts":"2026-04-20T17:15:05.833832Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:05 np0000094026 etcd[59872]: {"level":"info","ts":"2026-04-20T17:15:05.833957Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094026","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:05 np0000094026 etcd[59872]: {"level":"info","ts":"2026-04-20T17:15:05.834067Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094026","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:05 np0000094026 etcd[59872]: {"level":"warn","ts":"2026-04-20T17:15:05.834127Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 17:15:05 np0000094026 etcd[59872]: {"level":"fatal","ts":"2026-04-20T17:15:05.834234Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 17:15:05 np0000094026 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 17:15:05 np0000094026 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 17:15:05 np0000094026 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 17:15:06 np0000094026 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 20 17:15:06 np0000094026 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 17:15:06 np0000094026 etcd[59930]: {"level":"warn","ts":"2026-04-20T17:15:06.094406Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 17:15:06 np0000094026 etcd[59930]: {"level":"info","ts":"2026-04-20T17:15:06.094587Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094026","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094026=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 17:15:06 np0000094026 etcd[59930]: {"level":"warn","ts":"2026-04-20T17:15:06.094766Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 17:15:06 np0000094026 etcd[59930]: {"level":"info","ts":"2026-04-20T17:15:06.094798Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 17:15:06 np0000094026 etcd[59930]: {"level":"info","ts":"2026-04-20T17:15:06.095314Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:06 np0000094026 etcd[59930]: {"level":"info","ts":"2026-04-20T17:15:06.095610Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094026","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:06 np0000094026 etcd[59930]: {"level":"info","ts":"2026-04-20T17:15:06.095710Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094026","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:06 np0000094026 etcd[59930]: {"level":"warn","ts":"2026-04-20T17:15:06.095774Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 17:15:06 np0000094026 etcd[59930]: {"level":"fatal","ts":"2026-04-20T17:15:06.095844Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 17:15:06 np0000094026 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 17:15:06 np0000094026 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 17:15:06 np0000094026 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 17:15:06 np0000094026 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 20 17:15:06 np0000094026 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 17:15:06 np0000094026 etcd[59991]: {"level":"warn","ts":"2026-04-20T17:15:06.335062Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 17:15:06 np0000094026 etcd[59991]: {"level":"info","ts":"2026-04-20T17:15:06.335253Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094026","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094026=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 17:15:06 np0000094026 etcd[59991]: {"level":"warn","ts":"2026-04-20T17:15:06.335474Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 17:15:06 np0000094026 etcd[59991]: {"level":"info","ts":"2026-04-20T17:15:06.335508Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 17:15:06 np0000094026 etcd[59991]: {"level":"info","ts":"2026-04-20T17:15:06.336170Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:06 np0000094026 etcd[59991]: {"level":"info","ts":"2026-04-20T17:15:06.336300Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094026","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:06 np0000094026 etcd[59991]: {"level":"info","ts":"2026-04-20T17:15:06.336421Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094026","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:06 np0000094026 etcd[59991]: {"level":"warn","ts":"2026-04-20T17:15:06.336529Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 17:15:06 np0000094026 etcd[59991]: {"level":"fatal","ts":"2026-04-20T17:15:06.336599Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 17:15:06 np0000094026 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 17:15:06 np0000094026 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 17:15:06 np0000094026 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 17:15:06 np0000094026 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 20 17:15:06 np0000094026 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 17:15:06 np0000094026 etcd[59999]: {"level":"warn","ts":"2026-04-20T17:15:06.594752Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 17:15:06 np0000094026 etcd[59999]: {"level":"info","ts":"2026-04-20T17:15:06.594951Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094026","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094026=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 17:15:06 np0000094026 etcd[59999]: {"level":"warn","ts":"2026-04-20T17:15:06.595225Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 17:15:06 np0000094026 etcd[59999]: {"level":"info","ts":"2026-04-20T17:15:06.595258Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 17:15:06 np0000094026 etcd[59999]: {"level":"info","ts":"2026-04-20T17:15:06.595811Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:06 np0000094026 etcd[59999]: {"level":"info","ts":"2026-04-20T17:15:06.595961Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094026","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:06 np0000094026 etcd[59999]: {"level":"info","ts":"2026-04-20T17:15:06.596072Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094026","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:06 np0000094026 etcd[59999]: {"level":"warn","ts":"2026-04-20T17:15:06.596133Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 17:15:06 np0000094026 etcd[59999]: {"level":"fatal","ts":"2026-04-20T17:15:06.596229Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 17:15:06 np0000094026 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 17:15:06 np0000094026 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 17:15:06 np0000094026 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 17:15:06 np0000094026 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 20 17:15:06 np0000094026 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 17:15:06 np0000094026 etcd[60024]: {"level":"warn","ts":"2026-04-20T17:15:06.851644Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 17:15:06 np0000094026 etcd[60024]: {"level":"info","ts":"2026-04-20T17:15:06.851819Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094026","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094026=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 17:15:06 np0000094026 etcd[60024]: {"level":"warn","ts":"2026-04-20T17:15:06.852007Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 17:15:06 np0000094026 etcd[60024]: {"level":"info","ts":"2026-04-20T17:15:06.852052Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 17:15:06 np0000094026 etcd[60024]: {"level":"info","ts":"2026-04-20T17:15:06.852547Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:06 np0000094026 etcd[60024]: {"level":"info","ts":"2026-04-20T17:15:06.852669Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094026","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:06 np0000094026 etcd[60024]: {"level":"info","ts":"2026-04-20T17:15:06.852759Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094026","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 17:15:06 np0000094026 etcd[60024]: {"level":"warn","ts":"2026-04-20T17:15:06.852826Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 17:15:06 np0000094026 etcd[60024]: {"level":"fatal","ts":"2026-04-20T17:15:06.852891Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 17:15:06 np0000094026 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 17:15:06 np0000094026 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 17:15:06 np0000094026 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 17:15:07 np0000094026 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 20 17:15:07 np0000094026 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 20 17:15:07 np0000094026 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 17:15:07 np0000094026 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
