Apr 23 23:26:59 np0000094062 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:26:59 np0000094062 etcd[60619]: {"level":"warn","ts":"2026-04-23T23:26:59.128523Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:26:59 np0000094062 etcd[60619]: {"level":"info","ts":"2026-04-23T23:26:59.129859Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094062","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094062=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:26:59 np0000094062 etcd[60619]: {"level":"warn","ts":"2026-04-23T23:26:59.130446Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:26:59 np0000094062 etcd[60619]: {"level":"info","ts":"2026-04-23T23:26:59.130501Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:26:59 np0000094062 etcd[60619]: {"level":"info","ts":"2026-04-23T23:26:59.130951Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:26:59 np0000094062 etcd[60619]: {"level":"info","ts":"2026-04-23T23:26:59.131725Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094062","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:26:59 np0000094062 etcd[60619]: {"level":"info","ts":"2026-04-23T23:26:59.131826Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094062","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:26:59 np0000094062 etcd[60619]: {"level":"warn","ts":"2026-04-23T23:26:59.131885Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:26:59 np0000094062 etcd[60619]: {"level":"fatal","ts":"2026-04-23T23:26:59.131947Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:26:59 np0000094062 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:26:59 np0000094062 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:26:59 np0000094062 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:26:59 np0000094062 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 23 23:26:59 np0000094062 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:26:59 np0000094062 etcd[60724]: {"level":"warn","ts":"2026-04-23T23:26:59.540011Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:26:59 np0000094062 etcd[60724]: {"level":"info","ts":"2026-04-23T23:26:59.540193Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094062","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094062=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:26:59 np0000094062 etcd[60724]: {"level":"warn","ts":"2026-04-23T23:26:59.540352Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:26:59 np0000094062 etcd[60724]: {"level":"info","ts":"2026-04-23T23:26:59.540391Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:26:59 np0000094062 etcd[60724]: {"level":"info","ts":"2026-04-23T23:26:59.540860Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:26:59 np0000094062 etcd[60724]: {"level":"info","ts":"2026-04-23T23:26:59.540971Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094062","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:26:59 np0000094062 etcd[60724]: {"level":"info","ts":"2026-04-23T23:26:59.541046Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094062","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:26:59 np0000094062 etcd[60724]: {"level":"warn","ts":"2026-04-23T23:26:59.541122Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:26:59 np0000094062 etcd[60724]: {"level":"fatal","ts":"2026-04-23T23:26:59.541183Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:26:59 np0000094062 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:26:59 np0000094062 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:26:59 np0000094062 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:26:59 np0000094062 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 23 23:26:59 np0000094062 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:26:59 np0000094062 etcd[60739]: {"level":"warn","ts":"2026-04-23T23:26:59.787099Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:26:59 np0000094062 etcd[60739]: {"level":"info","ts":"2026-04-23T23:26:59.787288Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094062","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094062=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:26:59 np0000094062 etcd[60739]: {"level":"warn","ts":"2026-04-23T23:26:59.787458Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:26:59 np0000094062 etcd[60739]: {"level":"info","ts":"2026-04-23T23:26:59.787498Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:26:59 np0000094062 etcd[60739]: {"level":"info","ts":"2026-04-23T23:26:59.788035Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:26:59 np0000094062 etcd[60739]: {"level":"info","ts":"2026-04-23T23:26:59.788201Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094062","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:26:59 np0000094062 etcd[60739]: {"level":"info","ts":"2026-04-23T23:26:59.788300Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094062","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:26:59 np0000094062 etcd[60739]: {"level":"warn","ts":"2026-04-23T23:26:59.788356Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:26:59 np0000094062 etcd[60739]: {"level":"fatal","ts":"2026-04-23T23:26:59.788428Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:26:59 np0000094062 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:26:59 np0000094062 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:26:59 np0000094062 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:26:59 np0000094062 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 23 23:26:59 np0000094062 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:27:00 np0000094062 etcd[60764]: {"level":"warn","ts":"2026-04-23T23:27:00.024826Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:27:00 np0000094062 etcd[60764]: {"level":"info","ts":"2026-04-23T23:27:00.024979Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094062","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094062=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:27:00 np0000094062 etcd[60764]: {"level":"warn","ts":"2026-04-23T23:27:00.025116Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:27:00 np0000094062 etcd[60764]: {"level":"info","ts":"2026-04-23T23:27:00.025149Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:27:00 np0000094062 etcd[60764]: {"level":"info","ts":"2026-04-23T23:27:00.025501Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:27:00 np0000094062 etcd[60764]: {"level":"info","ts":"2026-04-23T23:27:00.025590Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094062","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:27:00 np0000094062 etcd[60764]: {"level":"info","ts":"2026-04-23T23:27:00.025665Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094062","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:27:00 np0000094062 etcd[60764]: {"level":"warn","ts":"2026-04-23T23:27:00.025712Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:27:00 np0000094062 etcd[60764]: {"level":"fatal","ts":"2026-04-23T23:27:00.025784Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:27:00 np0000094062 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:27:00 np0000094062 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:27:00 np0000094062 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:27:00 np0000094062 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 23 23:27:00 np0000094062 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:27:00 np0000094062 etcd[60798]: {"level":"warn","ts":"2026-04-23T23:27:00.284523Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:27:00 np0000094062 etcd[60798]: {"level":"info","ts":"2026-04-23T23:27:00.284691Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094062","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094062=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:27:00 np0000094062 etcd[60798]: {"level":"warn","ts":"2026-04-23T23:27:00.284846Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:27:00 np0000094062 etcd[60798]: {"level":"info","ts":"2026-04-23T23:27:00.284882Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:27:00 np0000094062 etcd[60798]: {"level":"info","ts":"2026-04-23T23:27:00.285310Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:27:00 np0000094062 etcd[60798]: {"level":"info","ts":"2026-04-23T23:27:00.285482Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094062","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:27:00 np0000094062 etcd[60798]: {"level":"info","ts":"2026-04-23T23:27:00.285554Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094062","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:27:00 np0000094062 etcd[60798]: {"level":"warn","ts":"2026-04-23T23:27:00.285603Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:27:00 np0000094062 etcd[60798]: {"level":"fatal","ts":"2026-04-23T23:27:00.285675Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:27:00 np0000094062 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:27:00 np0000094062 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:27:00 np0000094062 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:27:00 np0000094062 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 23 23:27:00 np0000094062 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 23 23:27:00 np0000094062 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:27:00 np0000094062 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
