Apr 21 04:45:05 np0000094035 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 04:45:05 np0000094035 etcd[60198]: {"level":"warn","ts":"2026-04-21T04:45:05.662089Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 04:45:05 np0000094035 etcd[60198]: {"level":"info","ts":"2026-04-21T04:45:05.663521Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094035","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094035=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 04:45:05 np0000094035 etcd[60198]: {"level":"warn","ts":"2026-04-21T04:45:05.663800Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 04:45:05 np0000094035 etcd[60198]: {"level":"info","ts":"2026-04-21T04:45:05.663838Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 04:45:05 np0000094035 etcd[60198]: {"level":"info","ts":"2026-04-21T04:45:05.664336Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:05 np0000094035 etcd[60198]: {"level":"info","ts":"2026-04-21T04:45:05.664449Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094035","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:05 np0000094035 etcd[60198]: {"level":"info","ts":"2026-04-21T04:45:05.664527Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094035","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:05 np0000094035 etcd[60198]: {"level":"warn","ts":"2026-04-21T04:45:05.664590Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 04:45:05 np0000094035 etcd[60198]: {"level":"fatal","ts":"2026-04-21T04:45:05.664668Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 04:45:05 np0000094035 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 04:45:05 np0000094035 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 04:45:05 np0000094035 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 04:45:06 np0000094035 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 21 04:45:06 np0000094035 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 04:45:06 np0000094035 etcd[60303]: {"level":"warn","ts":"2026-04-21T04:45:06.076853Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 04:45:06 np0000094035 etcd[60303]: {"level":"info","ts":"2026-04-21T04:45:06.076989Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094035","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094035=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 04:45:06 np0000094035 etcd[60303]: {"level":"warn","ts":"2026-04-21T04:45:06.077120Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 04:45:06 np0000094035 etcd[60303]: {"level":"info","ts":"2026-04-21T04:45:06.077144Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 04:45:06 np0000094035 etcd[60303]: {"level":"info","ts":"2026-04-21T04:45:06.077524Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:06 np0000094035 etcd[60303]: {"level":"info","ts":"2026-04-21T04:45:06.077617Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094035","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:06 np0000094035 etcd[60303]: {"level":"info","ts":"2026-04-21T04:45:06.077680Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094035","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:06 np0000094035 etcd[60303]: {"level":"warn","ts":"2026-04-21T04:45:06.077756Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 04:45:06 np0000094035 etcd[60303]: {"level":"fatal","ts":"2026-04-21T04:45:06.077804Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 04:45:06 np0000094035 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 04:45:06 np0000094035 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 04:45:06 np0000094035 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 04:45:06 np0000094035 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 21 04:45:06 np0000094035 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 04:45:06 np0000094035 etcd[60318]: {"level":"warn","ts":"2026-04-21T04:45:06.329036Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 04:45:06 np0000094035 etcd[60318]: {"level":"info","ts":"2026-04-21T04:45:06.329268Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094035","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094035=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 04:45:06 np0000094035 etcd[60318]: {"level":"warn","ts":"2026-04-21T04:45:06.329423Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 04:45:06 np0000094035 etcd[60318]: {"level":"info","ts":"2026-04-21T04:45:06.329465Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 04:45:06 np0000094035 etcd[60318]: {"level":"info","ts":"2026-04-21T04:45:06.329972Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:06 np0000094035 etcd[60318]: {"level":"info","ts":"2026-04-21T04:45:06.330098Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094035","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:06 np0000094035 etcd[60318]: {"level":"info","ts":"2026-04-21T04:45:06.330184Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094035","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:06 np0000094035 etcd[60318]: {"level":"warn","ts":"2026-04-21T04:45:06.330292Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 04:45:06 np0000094035 etcd[60318]: {"level":"fatal","ts":"2026-04-21T04:45:06.330372Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 04:45:06 np0000094035 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 04:45:06 np0000094035 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 04:45:06 np0000094035 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 04:45:06 np0000094035 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 21 04:45:06 np0000094035 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 04:45:06 np0000094035 etcd[60339]: {"level":"warn","ts":"2026-04-21T04:45:06.584407Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 04:45:06 np0000094035 etcd[60339]: {"level":"info","ts":"2026-04-21T04:45:06.584584Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094035","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094035=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 04:45:06 np0000094035 etcd[60339]: {"level":"warn","ts":"2026-04-21T04:45:06.584771Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 04:45:06 np0000094035 etcd[60339]: {"level":"info","ts":"2026-04-21T04:45:06.584805Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 04:45:06 np0000094035 etcd[60339]: {"level":"info","ts":"2026-04-21T04:45:06.585746Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:06 np0000094035 etcd[60339]: {"level":"info","ts":"2026-04-21T04:45:06.585915Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094035","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:06 np0000094035 etcd[60339]: {"level":"info","ts":"2026-04-21T04:45:06.586146Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094035","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:06 np0000094035 etcd[60339]: {"level":"warn","ts":"2026-04-21T04:45:06.586264Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 04:45:06 np0000094035 etcd[60339]: {"level":"fatal","ts":"2026-04-21T04:45:06.586345Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 04:45:06 np0000094035 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 04:45:06 np0000094035 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 04:45:06 np0000094035 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 04:45:06 np0000094035 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 21 04:45:06 np0000094035 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 21 04:45:06 np0000094035 etcd[60374]: {"level":"warn","ts":"2026-04-21T04:45:06.834361Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 04:45:06 np0000094035 etcd[60374]: {"level":"info","ts":"2026-04-21T04:45:06.834565Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094035","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094035=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 21 04:45:06 np0000094035 etcd[60374]: {"level":"warn","ts":"2026-04-21T04:45:06.834749Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 21 04:45:06 np0000094035 etcd[60374]: {"level":"info","ts":"2026-04-21T04:45:06.834816Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 21 04:45:06 np0000094035 etcd[60374]: {"level":"info","ts":"2026-04-21T04:45:06.835332Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:06 np0000094035 etcd[60374]: {"level":"info","ts":"2026-04-21T04:45:06.835441Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094035","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:06 np0000094035 etcd[60374]: {"level":"info","ts":"2026-04-21T04:45:06.835512Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094035","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 21 04:45:06 np0000094035 etcd[60374]: {"level":"warn","ts":"2026-04-21T04:45:06.835566Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 21 04:45:06 np0000094035 etcd[60374]: {"level":"fatal","ts":"2026-04-21T04:45:06.835623Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 21 04:45:06 np0000094035 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 21 04:45:06 np0000094035 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 04:45:06 np0000094035 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 21 04:45:07 np0000094035 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 21 04:45:07 np0000094035 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 21 04:45:07 np0000094035 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 21 04:45:07 np0000094035 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
