Feb 13 12:11:30 np0000056231 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 12:11:30 np0000056231 etcd[60294]: {"level":"warn","ts":"2026-02-13T12:11:30.902072Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:11:30 np0000056231 etcd[60294]: {"level":"info","ts":"2026-02-13T12:11:30.902251Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056231","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056231=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 12:11:30 np0000056231 etcd[60294]: {"level":"warn","ts":"2026-02-13T12:11:30.902425Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:11:30 np0000056231 etcd[60294]: {"level":"info","ts":"2026-02-13T12:11:30.902456Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 12:11:30 np0000056231 etcd[60294]: {"level":"info","ts":"2026-02-13T12:11:30.902966Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:30 np0000056231 etcd[60294]: {"level":"info","ts":"2026-02-13T12:11:30.903086Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056231","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:30 np0000056231 etcd[60294]: {"level":"info","ts":"2026-02-13T12:11:30.903166Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056231","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:30 np0000056231 etcd[60294]: {"level":"warn","ts":"2026-02-13T12:11:30.903224Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 12:11:30 np0000056231 etcd[60294]: {"level":"fatal","ts":"2026-02-13T12:11:30.903289Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 12:11:30 np0000056231 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 12:11:30 np0000056231 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 12:11:30 np0000056231 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 12:11:31 np0000056231 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 12:11:31 np0000056231 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 12:11:31 np0000056231 etcd[60401]: {"level":"warn","ts":"2026-02-13T12:11:31.287035Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:11:31 np0000056231 etcd[60401]: {"level":"info","ts":"2026-02-13T12:11:31.287195Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056231","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056231=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 12:11:31 np0000056231 etcd[60401]: {"level":"warn","ts":"2026-02-13T12:11:31.287374Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:11:31 np0000056231 etcd[60401]: {"level":"info","ts":"2026-02-13T12:11:31.287402Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 12:11:31 np0000056231 etcd[60401]: {"level":"info","ts":"2026-02-13T12:11:31.287831Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:31 np0000056231 etcd[60401]: {"level":"info","ts":"2026-02-13T12:11:31.289018Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056231","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:31 np0000056231 etcd[60401]: {"level":"info","ts":"2026-02-13T12:11:31.289096Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056231","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:31 np0000056231 etcd[60401]: {"level":"warn","ts":"2026-02-13T12:11:31.289152Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 12:11:31 np0000056231 etcd[60401]: {"level":"fatal","ts":"2026-02-13T12:11:31.289213Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 12:11:31 np0000056231 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 12:11:31 np0000056231 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 12:11:31 np0000056231 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 12:11:31 np0000056231 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 12:11:31 np0000056231 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 12:11:31 np0000056231 etcd[60415]: {"level":"warn","ts":"2026-02-13T12:11:31.544013Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:11:31 np0000056231 etcd[60415]: {"level":"info","ts":"2026-02-13T12:11:31.544240Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056231","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056231=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 12:11:31 np0000056231 etcd[60415]: {"level":"warn","ts":"2026-02-13T12:11:31.544432Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:11:31 np0000056231 etcd[60415]: {"level":"info","ts":"2026-02-13T12:11:31.544476Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 12:11:31 np0000056231 etcd[60415]: {"level":"info","ts":"2026-02-13T12:11:31.544969Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:31 np0000056231 etcd[60415]: {"level":"info","ts":"2026-02-13T12:11:31.545089Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056231","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:31 np0000056231 etcd[60415]: {"level":"info","ts":"2026-02-13T12:11:31.545170Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056231","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:31 np0000056231 etcd[60415]: {"level":"warn","ts":"2026-02-13T12:11:31.545226Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 12:11:31 np0000056231 etcd[60415]: {"level":"fatal","ts":"2026-02-13T12:11:31.545311Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 12:11:31 np0000056231 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 12:11:31 np0000056231 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 12:11:31 np0000056231 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 12:11:31 np0000056231 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 12:11:31 np0000056231 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 12:11:31 np0000056231 etcd[60435]: {"level":"warn","ts":"2026-02-13T12:11:31.792060Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:11:31 np0000056231 etcd[60435]: {"level":"info","ts":"2026-02-13T12:11:31.792235Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056231","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056231=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 12:11:31 np0000056231 etcd[60435]: {"level":"warn","ts":"2026-02-13T12:11:31.792467Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:11:31 np0000056231 etcd[60435]: {"level":"info","ts":"2026-02-13T12:11:31.792511Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 12:11:31 np0000056231 etcd[60435]: {"level":"info","ts":"2026-02-13T12:11:31.793041Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:31 np0000056231 etcd[60435]: {"level":"info","ts":"2026-02-13T12:11:31.793159Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056231","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:31 np0000056231 etcd[60435]: {"level":"info","ts":"2026-02-13T12:11:31.793238Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056231","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:31 np0000056231 etcd[60435]: {"level":"warn","ts":"2026-02-13T12:11:31.793316Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 12:11:31 np0000056231 etcd[60435]: {"level":"fatal","ts":"2026-02-13T12:11:31.793409Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 12:11:31 np0000056231 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 12:11:31 np0000056231 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 12:11:31 np0000056231 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 12:11:31 np0000056231 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 12:11:31 np0000056231 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 12:11:32 np0000056231 etcd[60473]: {"level":"warn","ts":"2026-02-13T12:11:32.046545Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:11:32 np0000056231 etcd[60473]: {"level":"info","ts":"2026-02-13T12:11:32.046715Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056231","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056231=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 12:11:32 np0000056231 etcd[60473]: {"level":"warn","ts":"2026-02-13T12:11:32.046919Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 12:11:32 np0000056231 etcd[60473]: {"level":"info","ts":"2026-02-13T12:11:32.046948Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 12:11:32 np0000056231 etcd[60473]: {"level":"info","ts":"2026-02-13T12:11:32.047399Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:32 np0000056231 etcd[60473]: {"level":"info","ts":"2026-02-13T12:11:32.047499Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056231","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:32 np0000056231 etcd[60473]: {"level":"info","ts":"2026-02-13T12:11:32.047569Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056231","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 12:11:32 np0000056231 etcd[60473]: {"level":"warn","ts":"2026-02-13T12:11:32.047626Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 12:11:32 np0000056231 etcd[60473]: {"level":"fatal","ts":"2026-02-13T12:11:32.047680Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 12:11:32 np0000056231 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 12:11:32 np0000056231 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 12:11:32 np0000056231 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 12:11:32 np0000056231 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 12:11:32 np0000056231 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 12:11:32 np0000056231 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 12:11:32 np0000056231 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
