Apr 14 12:21:18 np0000093943 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 12:21:18 np0000093943 etcd[60259]: {"level":"warn","ts":"2026-04-14T12:21:18.371850Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:21:18 np0000093943 etcd[60259]: {"level":"info","ts":"2026-04-14T12:21:18.371954Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093943","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093943=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 12:21:18 np0000093943 etcd[60259]: {"level":"warn","ts":"2026-04-14T12:21:18.372045Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:21:18 np0000093943 etcd[60259]: {"level":"info","ts":"2026-04-14T12:21:18.372066Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 12:21:18 np0000093943 etcd[60259]: {"level":"info","ts":"2026-04-14T12:21:18.372444Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:18 np0000093943 etcd[60259]: {"level":"info","ts":"2026-04-14T12:21:18.372515Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093943","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:18 np0000093943 etcd[60259]: {"level":"info","ts":"2026-04-14T12:21:18.372557Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093943","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:18 np0000093943 etcd[60259]: {"level":"warn","ts":"2026-04-14T12:21:18.372588Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 12:21:18 np0000093943 etcd[60259]: {"level":"fatal","ts":"2026-04-14T12:21:18.372617Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 12:21:18 np0000093943 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 12:21:18 np0000093943 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 12:21:18 np0000093943 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 12:21:18 np0000093943 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 12:21:18 np0000093943 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 12:21:18 np0000093943 etcd[60316]: {"level":"warn","ts":"2026-04-14T12:21:18.532076Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:21:18 np0000093943 etcd[60316]: {"level":"info","ts":"2026-04-14T12:21:18.532195Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093943","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093943=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 12:21:18 np0000093943 etcd[60316]: {"level":"warn","ts":"2026-04-14T12:21:18.532280Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:21:18 np0000093943 etcd[60316]: {"level":"info","ts":"2026-04-14T12:21:18.532303Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 12:21:18 np0000093943 etcd[60316]: {"level":"info","ts":"2026-04-14T12:21:18.532555Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:18 np0000093943 etcd[60316]: {"level":"info","ts":"2026-04-14T12:21:18.532624Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093943","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:18 np0000093943 etcd[60316]: {"level":"info","ts":"2026-04-14T12:21:18.532657Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093943","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:18 np0000093943 etcd[60316]: {"level":"warn","ts":"2026-04-14T12:21:18.532683Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 12:21:18 np0000093943 etcd[60316]: {"level":"fatal","ts":"2026-04-14T12:21:18.532713Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 12:21:18 np0000093943 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 12:21:18 np0000093943 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 12:21:18 np0000093943 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 12:21:18 np0000093943 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 12:21:18 np0000093943 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 12:21:18 np0000093943 etcd[60380]: {"level":"warn","ts":"2026-04-14T12:21:18.805390Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:21:18 np0000093943 etcd[60380]: {"level":"info","ts":"2026-04-14T12:21:18.805570Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093943","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093943=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 12:21:18 np0000093943 etcd[60380]: {"level":"warn","ts":"2026-04-14T12:21:18.805743Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:21:18 np0000093943 etcd[60380]: {"level":"info","ts":"2026-04-14T12:21:18.805784Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 12:21:18 np0000093943 etcd[60380]: {"level":"info","ts":"2026-04-14T12:21:18.807331Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:18 np0000093943 etcd[60380]: {"level":"info","ts":"2026-04-14T12:21:18.807502Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093943","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:18 np0000093943 etcd[60380]: {"level":"info","ts":"2026-04-14T12:21:18.807589Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093943","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:18 np0000093943 etcd[60380]: {"level":"warn","ts":"2026-04-14T12:21:18.807649Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 12:21:18 np0000093943 etcd[60380]: {"level":"fatal","ts":"2026-04-14T12:21:18.807724Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 12:21:18 np0000093943 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 12:21:18 np0000093943 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 12:21:18 np0000093943 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 12:21:18 np0000093943 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 12:21:19 np0000093943 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 12:21:19 np0000093943 etcd[60387]: {"level":"warn","ts":"2026-04-14T12:21:19.059918Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:21:19 np0000093943 etcd[60387]: {"level":"info","ts":"2026-04-14T12:21:19.061309Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093943","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093943=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 12:21:19 np0000093943 etcd[60387]: {"level":"warn","ts":"2026-04-14T12:21:19.061901Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:21:19 np0000093943 etcd[60387]: {"level":"info","ts":"2026-04-14T12:21:19.061951Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 12:21:19 np0000093943 etcd[60387]: {"level":"info","ts":"2026-04-14T12:21:19.062937Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:19 np0000093943 etcd[60387]: {"level":"info","ts":"2026-04-14T12:21:19.063074Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093943","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:19 np0000093943 etcd[60387]: {"level":"info","ts":"2026-04-14T12:21:19.063194Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093943","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:19 np0000093943 etcd[60387]: {"level":"warn","ts":"2026-04-14T12:21:19.063255Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 12:21:19 np0000093943 etcd[60387]: {"level":"fatal","ts":"2026-04-14T12:21:19.063323Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 12:21:19 np0000093943 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 12:21:19 np0000093943 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 12:21:19 np0000093943 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 12:21:19 np0000093943 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 12:21:19 np0000093943 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 12:21:19 np0000093943 etcd[60423]: {"level":"warn","ts":"2026-04-14T12:21:19.328299Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:21:19 np0000093943 etcd[60423]: {"level":"info","ts":"2026-04-14T12:21:19.329887Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093943","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093943=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 12:21:19 np0000093943 etcd[60423]: {"level":"warn","ts":"2026-04-14T12:21:19.330304Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 12:21:19 np0000093943 etcd[60423]: {"level":"info","ts":"2026-04-14T12:21:19.330413Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 12:21:19 np0000093943 etcd[60423]: {"level":"info","ts":"2026-04-14T12:21:19.331042Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:19 np0000093943 etcd[60423]: {"level":"info","ts":"2026-04-14T12:21:19.331286Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093943","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:19 np0000093943 etcd[60423]: {"level":"info","ts":"2026-04-14T12:21:19.331452Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093943","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 12:21:19 np0000093943 etcd[60423]: {"level":"warn","ts":"2026-04-14T12:21:19.331584Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 12:21:19 np0000093943 etcd[60423]: {"level":"fatal","ts":"2026-04-14T12:21:19.331671Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 12:21:19 np0000093943 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 12:21:19 np0000093943 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 12:21:19 np0000093943 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 12:21:19 np0000093943 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 12:21:19 np0000093943 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 12:21:19 np0000093943 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 12:21:19 np0000093943 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
