Apr 28 19:31:02 np0000094099 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 19:31:02 np0000094099 etcd[60596]: {"level":"warn","ts":"2026-04-28T19:31:02.376815Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:31:02 np0000094099 etcd[60596]: {"level":"info","ts":"2026-04-28T19:31:02.377035Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094099","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094099=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 19:31:02 np0000094099 etcd[60596]: {"level":"warn","ts":"2026-04-28T19:31:02.377228Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:31:02 np0000094099 etcd[60596]: {"level":"info","ts":"2026-04-28T19:31:02.377259Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 19:31:02 np0000094099 etcd[60596]: {"level":"info","ts":"2026-04-28T19:31:02.377751Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:02 np0000094099 etcd[60596]: {"level":"info","ts":"2026-04-28T19:31:02.377866Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094099","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:02 np0000094099 etcd[60596]: {"level":"info","ts":"2026-04-28T19:31:02.377962Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094099","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:02 np0000094099 etcd[60596]: {"level":"warn","ts":"2026-04-28T19:31:02.378031Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 19:31:02 np0000094099 etcd[60596]: {"level":"fatal","ts":"2026-04-28T19:31:02.378091Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 19:31:02 np0000094099 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 19:31:02 np0000094099 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 19:31:02 np0000094099 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 19:31:02 np0000094099 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 28 19:31:02 np0000094099 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 19:31:02 np0000094099 etcd[60640]: {"level":"warn","ts":"2026-04-28T19:31:02.583165Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:31:02 np0000094099 etcd[60640]: {"level":"info","ts":"2026-04-28T19:31:02.583493Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094099","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094099=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 19:31:02 np0000094099 etcd[60640]: {"level":"warn","ts":"2026-04-28T19:31:02.583942Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:31:02 np0000094099 etcd[60640]: {"level":"info","ts":"2026-04-28T19:31:02.583990Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 19:31:02 np0000094099 etcd[60640]: {"level":"info","ts":"2026-04-28T19:31:02.584474Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:02 np0000094099 etcd[60640]: {"level":"info","ts":"2026-04-28T19:31:02.584720Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094099","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:02 np0000094099 etcd[60640]: {"level":"info","ts":"2026-04-28T19:31:02.584809Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094099","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:02 np0000094099 etcd[60640]: {"level":"warn","ts":"2026-04-28T19:31:02.584869Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 19:31:02 np0000094099 etcd[60640]: {"level":"fatal","ts":"2026-04-28T19:31:02.584981Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 19:31:02 np0000094099 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 19:31:02 np0000094099 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 19:31:02 np0000094099 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 19:31:02 np0000094099 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 28 19:31:02 np0000094099 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 19:31:02 np0000094099 etcd[60715]: {"level":"warn","ts":"2026-04-28T19:31:02.827416Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:31:02 np0000094099 etcd[60715]: {"level":"info","ts":"2026-04-28T19:31:02.827550Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094099","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094099=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 19:31:02 np0000094099 etcd[60715]: {"level":"warn","ts":"2026-04-28T19:31:02.827691Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:31:02 np0000094099 etcd[60715]: {"level":"info","ts":"2026-04-28T19:31:02.827734Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 19:31:02 np0000094099 etcd[60715]: {"level":"info","ts":"2026-04-28T19:31:02.828136Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:02 np0000094099 etcd[60715]: {"level":"info","ts":"2026-04-28T19:31:02.828226Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094099","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:02 np0000094099 etcd[60715]: {"level":"info","ts":"2026-04-28T19:31:02.828285Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094099","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:02 np0000094099 etcd[60715]: {"level":"warn","ts":"2026-04-28T19:31:02.828327Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 19:31:02 np0000094099 etcd[60715]: {"level":"fatal","ts":"2026-04-28T19:31:02.828389Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 19:31:02 np0000094099 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 19:31:02 np0000094099 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 19:31:02 np0000094099 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 19:31:03 np0000094099 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 28 19:31:03 np0000094099 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 19:31:03 np0000094099 etcd[60722]: {"level":"warn","ts":"2026-04-28T19:31:03.088964Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:31:03 np0000094099 etcd[60722]: {"level":"info","ts":"2026-04-28T19:31:03.089147Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094099","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094099=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 19:31:03 np0000094099 etcd[60722]: {"level":"warn","ts":"2026-04-28T19:31:03.089302Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:31:03 np0000094099 etcd[60722]: {"level":"info","ts":"2026-04-28T19:31:03.089333Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 19:31:03 np0000094099 etcd[60722]: {"level":"info","ts":"2026-04-28T19:31:03.089939Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:03 np0000094099 etcd[60722]: {"level":"info","ts":"2026-04-28T19:31:03.090068Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094099","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:03 np0000094099 etcd[60722]: {"level":"info","ts":"2026-04-28T19:31:03.090152Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094099","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:03 np0000094099 etcd[60722]: {"level":"warn","ts":"2026-04-28T19:31:03.090209Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 19:31:03 np0000094099 etcd[60722]: {"level":"fatal","ts":"2026-04-28T19:31:03.090292Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 19:31:03 np0000094099 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 19:31:03 np0000094099 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 19:31:03 np0000094099 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 19:31:03 np0000094099 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 28 19:31:03 np0000094099 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 19:31:03 np0000094099 etcd[60754]: {"level":"warn","ts":"2026-04-28T19:31:03.330062Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:31:03 np0000094099 etcd[60754]: {"level":"info","ts":"2026-04-28T19:31:03.330246Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094099","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094099=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 19:31:03 np0000094099 etcd[60754]: {"level":"warn","ts":"2026-04-28T19:31:03.330408Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 19:31:03 np0000094099 etcd[60754]: {"level":"info","ts":"2026-04-28T19:31:03.330436Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 19:31:03 np0000094099 etcd[60754]: {"level":"info","ts":"2026-04-28T19:31:03.331046Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:03 np0000094099 etcd[60754]: {"level":"info","ts":"2026-04-28T19:31:03.331161Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094099","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:03 np0000094099 etcd[60754]: {"level":"info","ts":"2026-04-28T19:31:03.331237Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094099","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 19:31:03 np0000094099 etcd[60754]: {"level":"warn","ts":"2026-04-28T19:31:03.331294Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 19:31:03 np0000094099 etcd[60754]: {"level":"fatal","ts":"2026-04-28T19:31:03.331354Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 19:31:03 np0000094099 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 19:31:03 np0000094099 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 19:31:03 np0000094099 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 19:31:03 np0000094099 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 28 19:31:03 np0000094099 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 28 19:31:03 np0000094099 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 19:31:03 np0000094099 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
