Apr 14 21:31:40 np0000093959 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 21:31:40 np0000093959 etcd[60758]: {"level":"warn","ts":"2026-04-14T21:31:40.185099Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 21:31:40 np0000093959 etcd[60758]: {"level":"info","ts":"2026-04-14T21:31:40.185283Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093959","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093959=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 21:31:40 np0000093959 etcd[60758]: {"level":"warn","ts":"2026-04-14T21:31:40.185477Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 21:31:40 np0000093959 etcd[60758]: {"level":"info","ts":"2026-04-14T21:31:40.185510Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 21:31:40 np0000093959 etcd[60758]: {"level":"info","ts":"2026-04-14T21:31:40.185982Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:40 np0000093959 etcd[60758]: {"level":"info","ts":"2026-04-14T21:31:40.186091Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093959","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:40 np0000093959 etcd[60758]: {"level":"info","ts":"2026-04-14T21:31:40.186166Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093959","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:40 np0000093959 etcd[60758]: {"level":"warn","ts":"2026-04-14T21:31:40.186217Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 21:31:40 np0000093959 etcd[60758]: {"level":"fatal","ts":"2026-04-14T21:31:40.186300Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 21:31:40 np0000093959 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 21:31:40 np0000093959 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 21:31:40 np0000093959 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 21:31:40 np0000093959 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 21:31:40 np0000093959 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 21:31:40 np0000093959 etcd[60809]: {"level":"warn","ts":"2026-04-14T21:31:40.389977Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 21:31:40 np0000093959 etcd[60809]: {"level":"info","ts":"2026-04-14T21:31:40.390134Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093959","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093959=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 21:31:40 np0000093959 etcd[60809]: {"level":"warn","ts":"2026-04-14T21:31:40.390297Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 21:31:40 np0000093959 etcd[60809]: {"level":"info","ts":"2026-04-14T21:31:40.390363Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 21:31:40 np0000093959 etcd[60809]: {"level":"info","ts":"2026-04-14T21:31:40.390772Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:40 np0000093959 etcd[60809]: {"level":"info","ts":"2026-04-14T21:31:40.390873Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093959","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:40 np0000093959 etcd[60809]: {"level":"info","ts":"2026-04-14T21:31:40.390944Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093959","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:40 np0000093959 etcd[60809]: {"level":"warn","ts":"2026-04-14T21:31:40.390992Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 21:31:40 np0000093959 etcd[60809]: {"level":"fatal","ts":"2026-04-14T21:31:40.391066Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 21:31:40 np0000093959 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 21:31:40 np0000093959 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 21:31:40 np0000093959 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 21:31:40 np0000093959 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 21:31:40 np0000093959 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 21:31:40 np0000093959 etcd[60879]: {"level":"warn","ts":"2026-04-14T21:31:40.645057Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 21:31:40 np0000093959 etcd[60879]: {"level":"info","ts":"2026-04-14T21:31:40.645234Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093959","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093959=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 21:31:40 np0000093959 etcd[60879]: {"level":"warn","ts":"2026-04-14T21:31:40.645454Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 21:31:40 np0000093959 etcd[60879]: {"level":"info","ts":"2026-04-14T21:31:40.645487Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 21:31:40 np0000093959 etcd[60879]: {"level":"info","ts":"2026-04-14T21:31:40.645965Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:40 np0000093959 etcd[60879]: {"level":"info","ts":"2026-04-14T21:31:40.646087Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093959","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:40 np0000093959 etcd[60879]: {"level":"info","ts":"2026-04-14T21:31:40.646170Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093959","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:40 np0000093959 etcd[60879]: {"level":"warn","ts":"2026-04-14T21:31:40.646227Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 21:31:40 np0000093959 etcd[60879]: {"level":"fatal","ts":"2026-04-14T21:31:40.646311Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 21:31:40 np0000093959 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 21:31:40 np0000093959 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 21:31:40 np0000093959 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 21:31:40 np0000093959 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 21:31:40 np0000093959 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 21:31:40 np0000093959 etcd[60887]: {"level":"warn","ts":"2026-04-14T21:31:40.902124Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 21:31:40 np0000093959 etcd[60887]: {"level":"info","ts":"2026-04-14T21:31:40.902355Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093959","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093959=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 21:31:40 np0000093959 etcd[60887]: {"level":"warn","ts":"2026-04-14T21:31:40.902597Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 21:31:40 np0000093959 etcd[60887]: {"level":"info","ts":"2026-04-14T21:31:40.902633Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 21:31:40 np0000093959 etcd[60887]: {"level":"info","ts":"2026-04-14T21:31:40.903527Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:40 np0000093959 etcd[60887]: {"level":"info","ts":"2026-04-14T21:31:40.903831Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093959","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:40 np0000093959 etcd[60887]: {"level":"info","ts":"2026-04-14T21:31:40.903996Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093959","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:40 np0000093959 etcd[60887]: {"level":"warn","ts":"2026-04-14T21:31:40.904123Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 21:31:40 np0000093959 etcd[60887]: {"level":"fatal","ts":"2026-04-14T21:31:40.904281Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 21:31:40 np0000093959 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 21:31:40 np0000093959 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 21:31:40 np0000093959 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 21:31:41 np0000093959 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 21:31:41 np0000093959 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 21:31:41 np0000093959 etcd[60912]: {"level":"warn","ts":"2026-04-14T21:31:41.153302Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 21:31:41 np0000093959 etcd[60912]: {"level":"info","ts":"2026-04-14T21:31:41.153513Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093959","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093959=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 21:31:41 np0000093959 etcd[60912]: {"level":"warn","ts":"2026-04-14T21:31:41.153694Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 21:31:41 np0000093959 etcd[60912]: {"level":"info","ts":"2026-04-14T21:31:41.153732Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 21:31:41 np0000093959 etcd[60912]: {"level":"info","ts":"2026-04-14T21:31:41.154238Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:41 np0000093959 etcd[60912]: {"level":"info","ts":"2026-04-14T21:31:41.154381Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093959","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:41 np0000093959 etcd[60912]: {"level":"info","ts":"2026-04-14T21:31:41.154484Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093959","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 21:31:41 np0000093959 etcd[60912]: {"level":"warn","ts":"2026-04-14T21:31:41.154538Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 21:31:41 np0000093959 etcd[60912]: {"level":"fatal","ts":"2026-04-14T21:31:41.154615Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 21:31:41 np0000093959 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 21:31:41 np0000093959 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 21:31:41 np0000093959 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 21:31:41 np0000093959 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 21:31:41 np0000093959 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 21:31:41 np0000093959 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 21:31:41 np0000093959 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
