Jun 17 03:25:10 np0000094374 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 03:25:10 np0000094374 etcd[60421]: {"level":"warn","ts":"2026-06-17T03:25:10.530016Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 03:25:10 np0000094374 etcd[60421]: {"level":"info","ts":"2026-06-17T03:25:10.530177Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094374","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094374=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 03:25:10 np0000094374 etcd[60421]: {"level":"warn","ts":"2026-06-17T03:25:10.530343Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 03:25:10 np0000094374 etcd[60421]: {"level":"info","ts":"2026-06-17T03:25:10.530369Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 03:25:10 np0000094374 etcd[60421]: {"level":"info","ts":"2026-06-17T03:25:10.530792Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:10 np0000094374 etcd[60421]: {"level":"info","ts":"2026-06-17T03:25:10.530890Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094374","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:10 np0000094374 etcd[60421]: {"level":"info","ts":"2026-06-17T03:25:10.530957Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094374","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:10 np0000094374 etcd[60421]: {"level":"warn","ts":"2026-06-17T03:25:10.531001Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 03:25:10 np0000094374 etcd[60421]: {"level":"fatal","ts":"2026-06-17T03:25:10.531054Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 03:25:10 np0000094374 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 03:25:10 np0000094374 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 03:25:10 np0000094374 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 03:25:10 np0000094374 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 17 03:25:10 np0000094374 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 03:25:10 np0000094374 etcd[60607]: {"level":"warn","ts":"2026-06-17T03:25:10.917560Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 03:25:10 np0000094374 etcd[60607]: {"level":"info","ts":"2026-06-17T03:25:10.918866Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094374","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094374=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 03:25:10 np0000094374 etcd[60607]: {"level":"warn","ts":"2026-06-17T03:25:10.919063Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 03:25:10 np0000094374 etcd[60607]: {"level":"info","ts":"2026-06-17T03:25:10.919099Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 03:25:10 np0000094374 etcd[60607]: {"level":"info","ts":"2026-06-17T03:25:10.920039Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:10 np0000094374 etcd[60607]: {"level":"info","ts":"2026-06-17T03:25:10.920204Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094374","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:10 np0000094374 etcd[60607]: {"level":"info","ts":"2026-06-17T03:25:10.920386Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094374","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:10 np0000094374 etcd[60607]: {"level":"warn","ts":"2026-06-17T03:25:10.920449Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 03:25:10 np0000094374 etcd[60607]: {"level":"fatal","ts":"2026-06-17T03:25:10.920524Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 03:25:10 np0000094374 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 03:25:10 np0000094374 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 03:25:10 np0000094374 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 03:25:11 np0000094374 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 17 03:25:11 np0000094374 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 03:25:11 np0000094374 etcd[60614]: {"level":"warn","ts":"2026-06-17T03:25:11.161276Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 03:25:11 np0000094374 etcd[60614]: {"level":"info","ts":"2026-06-17T03:25:11.161514Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094374","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094374=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 03:25:11 np0000094374 etcd[60614]: {"level":"warn","ts":"2026-06-17T03:25:11.161703Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 03:25:11 np0000094374 etcd[60614]: {"level":"info","ts":"2026-06-17T03:25:11.161736Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 03:25:11 np0000094374 etcd[60614]: {"level":"info","ts":"2026-06-17T03:25:11.162208Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:11 np0000094374 etcd[60614]: {"level":"info","ts":"2026-06-17T03:25:11.162362Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094374","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:11 np0000094374 etcd[60614]: {"level":"info","ts":"2026-06-17T03:25:11.162444Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094374","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:11 np0000094374 etcd[60614]: {"level":"warn","ts":"2026-06-17T03:25:11.162504Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 03:25:11 np0000094374 etcd[60614]: {"level":"fatal","ts":"2026-06-17T03:25:11.162590Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 03:25:11 np0000094374 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 03:25:11 np0000094374 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 03:25:11 np0000094374 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 03:25:11 np0000094374 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 17 03:25:11 np0000094374 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 03:25:11 np0000094374 etcd[60638]: {"level":"warn","ts":"2026-06-17T03:25:11.423074Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 03:25:11 np0000094374 etcd[60638]: {"level":"info","ts":"2026-06-17T03:25:11.423273Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094374","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094374=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 03:25:11 np0000094374 etcd[60638]: {"level":"warn","ts":"2026-06-17T03:25:11.423486Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 03:25:11 np0000094374 etcd[60638]: {"level":"info","ts":"2026-06-17T03:25:11.423517Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 03:25:11 np0000094374 etcd[60638]: {"level":"info","ts":"2026-06-17T03:25:11.423978Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:11 np0000094374 etcd[60638]: {"level":"info","ts":"2026-06-17T03:25:11.424099Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094374","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:11 np0000094374 etcd[60638]: {"level":"info","ts":"2026-06-17T03:25:11.424183Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094374","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:11 np0000094374 etcd[60638]: {"level":"warn","ts":"2026-06-17T03:25:11.424241Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 03:25:11 np0000094374 etcd[60638]: {"level":"fatal","ts":"2026-06-17T03:25:11.424340Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 03:25:11 np0000094374 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 03:25:11 np0000094374 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 03:25:11 np0000094374 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 03:25:11 np0000094374 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 17 03:25:11 np0000094374 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 03:25:11 np0000094374 etcd[60674]: {"level":"warn","ts":"2026-06-17T03:25:11.659525Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 03:25:11 np0000094374 etcd[60674]: {"level":"info","ts":"2026-06-17T03:25:11.659736Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094374","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094374=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 03:25:11 np0000094374 etcd[60674]: {"level":"warn","ts":"2026-06-17T03:25:11.659916Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 03:25:11 np0000094374 etcd[60674]: {"level":"info","ts":"2026-06-17T03:25:11.659957Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 03:25:11 np0000094374 etcd[60674]: {"level":"info","ts":"2026-06-17T03:25:11.660502Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:11 np0000094374 etcd[60674]: {"level":"info","ts":"2026-06-17T03:25:11.660644Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094374","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:11 np0000094374 etcd[60674]: {"level":"info","ts":"2026-06-17T03:25:11.660728Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094374","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 03:25:11 np0000094374 etcd[60674]: {"level":"warn","ts":"2026-06-17T03:25:11.660788Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 03:25:11 np0000094374 etcd[60674]: {"level":"fatal","ts":"2026-06-17T03:25:11.660853Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 03:25:11 np0000094374 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 03:25:11 np0000094374 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 03:25:11 np0000094374 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 03:25:11 np0000094374 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 17 03:25:11 np0000094374 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 17 03:25:11 np0000094374 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 03:25:11 np0000094374 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
