Apr 29 02:01:21 np0000094113 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 29 02:01:21 np0000094113 etcd[60601]: {"level":"warn","ts":"2026-04-29T02:01:21.342589Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 02:01:21 np0000094113 etcd[60601]: {"level":"info","ts":"2026-04-29T02:01:21.342773Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094113","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094113=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 29 02:01:21 np0000094113 etcd[60601]: {"level":"warn","ts":"2026-04-29T02:01:21.343431Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 02:01:21 np0000094113 etcd[60601]: {"level":"info","ts":"2026-04-29T02:01:21.343495Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 29 02:01:21 np0000094113 etcd[60601]: {"level":"info","ts":"2026-04-29T02:01:21.344063Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:21 np0000094113 etcd[60601]: {"level":"info","ts":"2026-04-29T02:01:21.344352Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094113","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:21 np0000094113 etcd[60601]: {"level":"info","ts":"2026-04-29T02:01:21.344420Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094113","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:21 np0000094113 etcd[60601]: {"level":"warn","ts":"2026-04-29T02:01:21.344489Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 29 02:01:21 np0000094113 etcd[60601]: {"level":"fatal","ts":"2026-04-29T02:01:21.344593Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 29 02:01:21 np0000094113 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 29 02:01:21 np0000094113 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 29 02:01:21 np0000094113 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 29 02:01:21 np0000094113 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 29 02:01:21 np0000094113 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 29 02:01:21 np0000094113 etcd[60695]: {"level":"warn","ts":"2026-04-29T02:01:21.620324Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 02:01:21 np0000094113 etcd[60695]: {"level":"info","ts":"2026-04-29T02:01:21.620420Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094113","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094113=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 29 02:01:21 np0000094113 etcd[60695]: {"level":"warn","ts":"2026-04-29T02:01:21.620508Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 02:01:21 np0000094113 etcd[60695]: {"level":"info","ts":"2026-04-29T02:01:21.620523Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 29 02:01:21 np0000094113 etcd[60695]: {"level":"info","ts":"2026-04-29T02:01:21.620747Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:21 np0000094113 etcd[60695]: {"level":"info","ts":"2026-04-29T02:01:21.620798Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094113","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:21 np0000094113 etcd[60695]: {"level":"info","ts":"2026-04-29T02:01:21.620835Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094113","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:21 np0000094113 etcd[60695]: {"level":"warn","ts":"2026-04-29T02:01:21.620860Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 29 02:01:21 np0000094113 etcd[60695]: {"level":"fatal","ts":"2026-04-29T02:01:21.620890Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 29 02:01:21 np0000094113 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 29 02:01:21 np0000094113 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 29 02:01:21 np0000094113 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 29 02:01:21 np0000094113 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 29 02:01:21 np0000094113 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 29 02:01:21 np0000094113 etcd[60722]: {"level":"warn","ts":"2026-04-29T02:01:21.894683Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 02:01:21 np0000094113 etcd[60722]: {"level":"info","ts":"2026-04-29T02:01:21.894852Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094113","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094113=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 29 02:01:21 np0000094113 etcd[60722]: {"level":"warn","ts":"2026-04-29T02:01:21.895028Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 02:01:21 np0000094113 etcd[60722]: {"level":"info","ts":"2026-04-29T02:01:21.895059Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 29 02:01:21 np0000094113 etcd[60722]: {"level":"info","ts":"2026-04-29T02:01:21.895605Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:21 np0000094113 etcd[60722]: {"level":"info","ts":"2026-04-29T02:01:21.895727Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094113","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:21 np0000094113 etcd[60722]: {"level":"info","ts":"2026-04-29T02:01:21.895809Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094113","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:21 np0000094113 etcd[60722]: {"level":"warn","ts":"2026-04-29T02:01:21.895867Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 29 02:01:21 np0000094113 etcd[60722]: {"level":"fatal","ts":"2026-04-29T02:01:21.895932Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 29 02:01:21 np0000094113 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 29 02:01:21 np0000094113 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 29 02:01:21 np0000094113 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 29 02:01:22 np0000094113 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 29 02:01:22 np0000094113 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 29 02:01:22 np0000094113 etcd[60764]: {"level":"warn","ts":"2026-04-29T02:01:22.144577Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 02:01:22 np0000094113 etcd[60764]: {"level":"info","ts":"2026-04-29T02:01:22.144736Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094113","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094113=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 29 02:01:22 np0000094113 etcd[60764]: {"level":"warn","ts":"2026-04-29T02:01:22.144893Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 02:01:22 np0000094113 etcd[60764]: {"level":"info","ts":"2026-04-29T02:01:22.144921Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 29 02:01:22 np0000094113 etcd[60764]: {"level":"info","ts":"2026-04-29T02:01:22.145336Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:22 np0000094113 etcd[60764]: {"level":"info","ts":"2026-04-29T02:01:22.145443Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094113","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:22 np0000094113 etcd[60764]: {"level":"info","ts":"2026-04-29T02:01:22.145512Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094113","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:22 np0000094113 etcd[60764]: {"level":"warn","ts":"2026-04-29T02:01:22.145560Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 29 02:01:22 np0000094113 etcd[60764]: {"level":"fatal","ts":"2026-04-29T02:01:22.145618Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 29 02:01:22 np0000094113 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 29 02:01:22 np0000094113 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 29 02:01:22 np0000094113 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 29 02:01:22 np0000094113 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 29 02:01:22 np0000094113 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 29 02:01:22 np0000094113 etcd[60792]: {"level":"warn","ts":"2026-04-29T02:01:22.400329Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 02:01:22 np0000094113 etcd[60792]: {"level":"info","ts":"2026-04-29T02:01:22.400528Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094113","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094113=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 29 02:01:22 np0000094113 etcd[60792]: {"level":"warn","ts":"2026-04-29T02:01:22.400724Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 29 02:01:22 np0000094113 etcd[60792]: {"level":"info","ts":"2026-04-29T02:01:22.400765Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 29 02:01:22 np0000094113 etcd[60792]: {"level":"info","ts":"2026-04-29T02:01:22.401401Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:22 np0000094113 etcd[60792]: {"level":"info","ts":"2026-04-29T02:01:22.401518Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094113","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:22 np0000094113 etcd[60792]: {"level":"info","ts":"2026-04-29T02:01:22.401592Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094113","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 29 02:01:22 np0000094113 etcd[60792]: {"level":"warn","ts":"2026-04-29T02:01:22.401647Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 29 02:01:22 np0000094113 etcd[60792]: {"level":"fatal","ts":"2026-04-29T02:01:22.401708Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 29 02:01:22 np0000094113 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 29 02:01:22 np0000094113 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 29 02:01:22 np0000094113 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 29 02:01:22 np0000094113 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 29 02:01:22 np0000094113 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 29 02:01:22 np0000094113 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 29 02:01:22 np0000094113 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
