Apr 08 16:22:13 np0000093874 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 16:22:13 np0000093874 etcd[65295]: {"level":"warn","ts":"2026-04-08T16:22:13.848669Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 16:22:13 np0000093874 etcd[65295]: {"level":"info","ts":"2026-04-08T16:22:13.848884Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093874","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093874=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 16:22:13 np0000093874 etcd[65295]: {"level":"warn","ts":"2026-04-08T16:22:13.849045Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 16:22:13 np0000093874 etcd[65295]: {"level":"info","ts":"2026-04-08T16:22:13.849076Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 16:22:13 np0000093874 etcd[65295]: {"level":"info","ts":"2026-04-08T16:22:13.849689Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:13 np0000093874 etcd[65295]: {"level":"info","ts":"2026-04-08T16:22:13.849830Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093874","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:13 np0000093874 etcd[65295]: {"level":"info","ts":"2026-04-08T16:22:13.849918Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093874","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:13 np0000093874 etcd[65295]: {"level":"warn","ts":"2026-04-08T16:22:13.849975Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 16:22:13 np0000093874 etcd[65295]: {"level":"fatal","ts":"2026-04-08T16:22:13.850058Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 16:22:13 np0000093874 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 16:22:13 np0000093874 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 16:22:13 np0000093874 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 16:22:14 np0000093874 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 08 16:22:14 np0000093874 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 16:22:14 np0000093874 etcd[65358]: {"level":"warn","ts":"2026-04-08T16:22:14.112887Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 16:22:14 np0000093874 etcd[65358]: {"level":"info","ts":"2026-04-08T16:22:14.113079Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093874","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093874=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 16:22:14 np0000093874 etcd[65358]: {"level":"warn","ts":"2026-04-08T16:22:14.113233Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 16:22:14 np0000093874 etcd[65358]: {"level":"info","ts":"2026-04-08T16:22:14.113261Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 16:22:14 np0000093874 etcd[65358]: {"level":"info","ts":"2026-04-08T16:22:14.113788Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:14 np0000093874 etcd[65358]: {"level":"info","ts":"2026-04-08T16:22:14.113898Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093874","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:14 np0000093874 etcd[65358]: {"level":"info","ts":"2026-04-08T16:22:14.113977Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093874","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:14 np0000093874 etcd[65358]: {"level":"warn","ts":"2026-04-08T16:22:14.114037Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 16:22:14 np0000093874 etcd[65358]: {"level":"fatal","ts":"2026-04-08T16:22:14.114097Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 16:22:14 np0000093874 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 16:22:14 np0000093874 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 16:22:14 np0000093874 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 16:22:14 np0000093874 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 08 16:22:14 np0000093874 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 16:22:14 np0000093874 etcd[65415]: {"level":"warn","ts":"2026-04-08T16:22:14.367173Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 16:22:14 np0000093874 etcd[65415]: {"level":"info","ts":"2026-04-08T16:22:14.367367Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093874","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093874=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 16:22:14 np0000093874 etcd[65415]: {"level":"warn","ts":"2026-04-08T16:22:14.367605Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 16:22:14 np0000093874 etcd[65415]: {"level":"info","ts":"2026-04-08T16:22:14.367639Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 16:22:14 np0000093874 etcd[65415]: {"level":"info","ts":"2026-04-08T16:22:14.368154Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:14 np0000093874 etcd[65415]: {"level":"info","ts":"2026-04-08T16:22:14.368274Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093874","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:14 np0000093874 etcd[65415]: {"level":"info","ts":"2026-04-08T16:22:14.368362Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093874","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:14 np0000093874 etcd[65415]: {"level":"warn","ts":"2026-04-08T16:22:14.368430Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 16:22:14 np0000093874 etcd[65415]: {"level":"fatal","ts":"2026-04-08T16:22:14.368496Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 16:22:14 np0000093874 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 16:22:14 np0000093874 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 16:22:14 np0000093874 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 16:22:14 np0000093874 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 08 16:22:14 np0000093874 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 16:22:14 np0000093874 etcd[65422]: {"level":"warn","ts":"2026-04-08T16:22:14.608182Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 16:22:14 np0000093874 etcd[65422]: {"level":"info","ts":"2026-04-08T16:22:14.608292Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093874","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093874=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 16:22:14 np0000093874 etcd[65422]: {"level":"warn","ts":"2026-04-08T16:22:14.608385Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 16:22:14 np0000093874 etcd[65422]: {"level":"info","ts":"2026-04-08T16:22:14.608405Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 16:22:14 np0000093874 etcd[65422]: {"level":"info","ts":"2026-04-08T16:22:14.608728Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:14 np0000093874 etcd[65422]: {"level":"info","ts":"2026-04-08T16:22:14.608792Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093874","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:14 np0000093874 etcd[65422]: {"level":"info","ts":"2026-04-08T16:22:14.608838Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093874","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:14 np0000093874 etcd[65422]: {"level":"warn","ts":"2026-04-08T16:22:14.608866Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 16:22:14 np0000093874 etcd[65422]: {"level":"fatal","ts":"2026-04-08T16:22:14.608899Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 16:22:14 np0000093874 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 16:22:14 np0000093874 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 16:22:14 np0000093874 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 16:22:14 np0000093874 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 08 16:22:14 np0000093874 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 16:22:14 np0000093874 etcd[65453]: {"level":"warn","ts":"2026-04-08T16:22:14.864128Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 16:22:14 np0000093874 etcd[65453]: {"level":"info","ts":"2026-04-08T16:22:14.864309Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093874","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093874=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 16:22:14 np0000093874 etcd[65453]: {"level":"warn","ts":"2026-04-08T16:22:14.864498Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 16:22:14 np0000093874 etcd[65453]: {"level":"info","ts":"2026-04-08T16:22:14.864537Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 16:22:14 np0000093874 etcd[65453]: {"level":"info","ts":"2026-04-08T16:22:14.865129Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:14 np0000093874 etcd[65453]: {"level":"info","ts":"2026-04-08T16:22:14.865249Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093874","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:14 np0000093874 etcd[65453]: {"level":"info","ts":"2026-04-08T16:22:14.865334Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093874","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 16:22:14 np0000093874 etcd[65453]: {"level":"warn","ts":"2026-04-08T16:22:14.865390Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 16:22:14 np0000093874 etcd[65453]: {"level":"fatal","ts":"2026-04-08T16:22:14.865487Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 16:22:14 np0000093874 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 16:22:14 np0000093874 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 16:22:14 np0000093874 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 16:22:15 np0000093874 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 08 16:22:15 np0000093874 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 08 16:22:15 np0000093874 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 16:22:15 np0000093874 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
