May 20 18:26:06 np0000094147 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 18:26:06 np0000094147 etcd[60632]: {"level":"warn","ts":"2026-05-20T18:26:06.431122Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 18:26:06 np0000094147 etcd[60632]: {"level":"info","ts":"2026-05-20T18:26:06.432516Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094147","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094147=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 18:26:06 np0000094147 etcd[60632]: {"level":"warn","ts":"2026-05-20T18:26:06.432758Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 18:26:06 np0000094147 etcd[60632]: {"level":"info","ts":"2026-05-20T18:26:06.432813Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 18:26:06 np0000094147 etcd[60632]: {"level":"info","ts":"2026-05-20T18:26:06.433400Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:06 np0000094147 etcd[60632]: {"level":"info","ts":"2026-05-20T18:26:06.433531Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094147","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:06 np0000094147 etcd[60632]: {"level":"info","ts":"2026-05-20T18:26:06.433618Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094147","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:06 np0000094147 etcd[60632]: {"level":"warn","ts":"2026-05-20T18:26:06.433677Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 18:26:06 np0000094147 etcd[60632]: {"level":"fatal","ts":"2026-05-20T18:26:06.433772Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 18:26:06 np0000094147 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 18:26:06 np0000094147 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 18:26:06 np0000094147 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 18:26:06 np0000094147 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 20 18:26:06 np0000094147 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 18:26:06 np0000094147 etcd[60698]: {"level":"warn","ts":"2026-05-20T18:26:06.729977Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 18:26:06 np0000094147 etcd[60698]: {"level":"info","ts":"2026-05-20T18:26:06.730195Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094147","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094147=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 18:26:06 np0000094147 etcd[60698]: {"level":"warn","ts":"2026-05-20T18:26:06.730386Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 18:26:06 np0000094147 etcd[60698]: {"level":"info","ts":"2026-05-20T18:26:06.730416Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 18:26:06 np0000094147 etcd[60698]: {"level":"info","ts":"2026-05-20T18:26:06.730871Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:06 np0000094147 etcd[60698]: {"level":"info","ts":"2026-05-20T18:26:06.730983Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094147","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:06 np0000094147 etcd[60698]: {"level":"info","ts":"2026-05-20T18:26:06.731062Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094147","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:06 np0000094147 etcd[60698]: {"level":"warn","ts":"2026-05-20T18:26:06.731126Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 18:26:06 np0000094147 etcd[60698]: {"level":"fatal","ts":"2026-05-20T18:26:06.731207Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 18:26:06 np0000094147 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 18:26:06 np0000094147 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 18:26:06 np0000094147 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 18:26:06 np0000094147 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 20 18:26:06 np0000094147 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 18:26:06 np0000094147 etcd[60752]: {"level":"warn","ts":"2026-05-20T18:26:06.971915Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 18:26:06 np0000094147 etcd[60752]: {"level":"info","ts":"2026-05-20T18:26:06.973388Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094147","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094147=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 18:26:06 np0000094147 etcd[60752]: {"level":"warn","ts":"2026-05-20T18:26:06.973612Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 18:26:06 np0000094147 etcd[60752]: {"level":"info","ts":"2026-05-20T18:26:06.973650Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 18:26:06 np0000094147 etcd[60752]: {"level":"info","ts":"2026-05-20T18:26:06.974166Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:06 np0000094147 etcd[60752]: {"level":"info","ts":"2026-05-20T18:26:06.974327Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094147","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:06 np0000094147 etcd[60752]: {"level":"info","ts":"2026-05-20T18:26:06.974408Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094147","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:06 np0000094147 etcd[60752]: {"level":"warn","ts":"2026-05-20T18:26:06.974466Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 18:26:06 np0000094147 etcd[60752]: {"level":"fatal","ts":"2026-05-20T18:26:06.974533Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 18:26:06 np0000094147 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 18:26:06 np0000094147 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 18:26:06 np0000094147 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 18:26:07 np0000094147 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 20 18:26:07 np0000094147 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 18:26:07 np0000094147 etcd[60760]: {"level":"warn","ts":"2026-05-20T18:26:07.230581Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 18:26:07 np0000094147 etcd[60760]: {"level":"info","ts":"2026-05-20T18:26:07.231750Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094147","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094147=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 18:26:07 np0000094147 etcd[60760]: {"level":"warn","ts":"2026-05-20T18:26:07.231967Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 18:26:07 np0000094147 etcd[60760]: {"level":"info","ts":"2026-05-20T18:26:07.232005Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 18:26:07 np0000094147 etcd[60760]: {"level":"info","ts":"2026-05-20T18:26:07.233842Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:07 np0000094147 etcd[60760]: {"level":"info","ts":"2026-05-20T18:26:07.234017Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094147","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:07 np0000094147 etcd[60760]: {"level":"info","ts":"2026-05-20T18:26:07.234108Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094147","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:07 np0000094147 etcd[60760]: {"level":"warn","ts":"2026-05-20T18:26:07.234191Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 18:26:07 np0000094147 etcd[60760]: {"level":"fatal","ts":"2026-05-20T18:26:07.234310Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 18:26:07 np0000094147 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 18:26:07 np0000094147 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 18:26:07 np0000094147 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 18:26:07 np0000094147 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 20 18:26:07 np0000094147 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 18:26:07 np0000094147 etcd[60791]: {"level":"warn","ts":"2026-05-20T18:26:07.467070Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 18:26:07 np0000094147 etcd[60791]: {"level":"info","ts":"2026-05-20T18:26:07.467335Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094147","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094147=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 18:26:07 np0000094147 etcd[60791]: {"level":"warn","ts":"2026-05-20T18:26:07.467511Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 18:26:07 np0000094147 etcd[60791]: {"level":"info","ts":"2026-05-20T18:26:07.467544Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 18:26:07 np0000094147 etcd[60791]: {"level":"info","ts":"2026-05-20T18:26:07.468054Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:07 np0000094147 etcd[60791]: {"level":"info","ts":"2026-05-20T18:26:07.468243Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094147","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:07 np0000094147 etcd[60791]: {"level":"info","ts":"2026-05-20T18:26:07.468333Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094147","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 18:26:07 np0000094147 etcd[60791]: {"level":"warn","ts":"2026-05-20T18:26:07.468402Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 18:26:07 np0000094147 etcd[60791]: {"level":"fatal","ts":"2026-05-20T18:26:07.468490Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 18:26:07 np0000094147 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 18:26:07 np0000094147 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 18:26:07 np0000094147 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 18:26:07 np0000094147 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 20 18:26:07 np0000094147 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 20 18:26:07 np0000094147 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 18:26:07 np0000094147 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
