Apr 14 17:40:42 np0000093953 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 17:40:42 np0000093953 etcd[60237]: {"level":"warn","ts":"2026-04-14T17:40:42.691577Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 17:40:42 np0000093953 etcd[60237]: {"level":"info","ts":"2026-04-14T17:40:42.691698Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093953","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093953=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 17:40:42 np0000093953 etcd[60237]: {"level":"warn","ts":"2026-04-14T17:40:42.691790Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 17:40:42 np0000093953 etcd[60237]: {"level":"info","ts":"2026-04-14T17:40:42.691805Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 17:40:42 np0000093953 etcd[60237]: {"level":"info","ts":"2026-04-14T17:40:42.692076Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:42 np0000093953 etcd[60237]: {"level":"info","ts":"2026-04-14T17:40:42.692153Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093953","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:42 np0000093953 etcd[60237]: {"level":"info","ts":"2026-04-14T17:40:42.692191Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093953","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:42 np0000093953 etcd[60237]: {"level":"warn","ts":"2026-04-14T17:40:42.692226Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 17:40:42 np0000093953 etcd[60237]: {"level":"fatal","ts":"2026-04-14T17:40:42.692274Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 17:40:42 np0000093953 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 17:40:42 np0000093953 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 17:40:42 np0000093953 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 17:40:42 np0000093953 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 17:40:42 np0000093953 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 17:40:43 np0000093953 etcd[60322]: {"level":"warn","ts":"2026-04-14T17:40:43.010545Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 17:40:43 np0000093953 etcd[60322]: {"level":"info","ts":"2026-04-14T17:40:43.010694Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093953","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093953=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 17:40:43 np0000093953 etcd[60322]: {"level":"warn","ts":"2026-04-14T17:40:43.010846Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 17:40:43 np0000093953 etcd[60322]: {"level":"info","ts":"2026-04-14T17:40:43.010880Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 17:40:43 np0000093953 etcd[60322]: {"level":"info","ts":"2026-04-14T17:40:43.011361Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:43 np0000093953 etcd[60322]: {"level":"info","ts":"2026-04-14T17:40:43.011466Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093953","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:43 np0000093953 etcd[60322]: {"level":"info","ts":"2026-04-14T17:40:43.011536Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093953","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:43 np0000093953 etcd[60322]: {"level":"warn","ts":"2026-04-14T17:40:43.011585Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 17:40:43 np0000093953 etcd[60322]: {"level":"fatal","ts":"2026-04-14T17:40:43.011655Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 17:40:43 np0000093953 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 17:40:43 np0000093953 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 17:40:43 np0000093953 etcd[60357]: {"level":"warn","ts":"2026-04-14T17:40:43.257650Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 17:40:43 np0000093953 etcd[60357]: {"level":"info","ts":"2026-04-14T17:40:43.257862Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093953","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093953=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 17:40:43 np0000093953 etcd[60357]: {"level":"warn","ts":"2026-04-14T17:40:43.258032Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 17:40:43 np0000093953 etcd[60357]: {"level":"info","ts":"2026-04-14T17:40:43.258063Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 17:40:43 np0000093953 etcd[60357]: {"level":"info","ts":"2026-04-14T17:40:43.258630Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:43 np0000093953 etcd[60357]: {"level":"info","ts":"2026-04-14T17:40:43.258757Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093953","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:43 np0000093953 etcd[60357]: {"level":"info","ts":"2026-04-14T17:40:43.258840Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093953","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:43 np0000093953 etcd[60357]: {"level":"warn","ts":"2026-04-14T17:40:43.258896Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 17:40:43 np0000093953 etcd[60357]: {"level":"fatal","ts":"2026-04-14T17:40:43.258962Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 17:40:43 np0000093953 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 17:40:43 np0000093953 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 17:40:43 np0000093953 etcd[60377]: {"level":"warn","ts":"2026-04-14T17:40:43.507892Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 17:40:43 np0000093953 etcd[60377]: {"level":"info","ts":"2026-04-14T17:40:43.508086Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093953","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093953=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 17:40:43 np0000093953 etcd[60377]: {"level":"warn","ts":"2026-04-14T17:40:43.508301Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 17:40:43 np0000093953 etcd[60377]: {"level":"info","ts":"2026-04-14T17:40:43.508335Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 17:40:43 np0000093953 etcd[60377]: {"level":"info","ts":"2026-04-14T17:40:43.508779Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:43 np0000093953 etcd[60377]: {"level":"info","ts":"2026-04-14T17:40:43.508903Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093953","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:43 np0000093953 etcd[60377]: {"level":"info","ts":"2026-04-14T17:40:43.508987Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093953","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:43 np0000093953 etcd[60377]: {"level":"warn","ts":"2026-04-14T17:40:43.509045Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 17:40:43 np0000093953 etcd[60377]: {"level":"fatal","ts":"2026-04-14T17:40:43.509118Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 17:40:43 np0000093953 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 17:40:43 np0000093953 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 17:40:43 np0000093953 etcd[60414]: {"level":"warn","ts":"2026-04-14T17:40:43.763352Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 17:40:43 np0000093953 etcd[60414]: {"level":"info","ts":"2026-04-14T17:40:43.764591Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093953","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093953=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 17:40:43 np0000093953 etcd[60414]: {"level":"warn","ts":"2026-04-14T17:40:43.764798Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 17:40:43 np0000093953 etcd[60414]: {"level":"info","ts":"2026-04-14T17:40:43.764833Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 17:40:43 np0000093953 etcd[60414]: {"level":"info","ts":"2026-04-14T17:40:43.765501Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:43 np0000093953 etcd[60414]: {"level":"info","ts":"2026-04-14T17:40:43.766003Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093953","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:43 np0000093953 etcd[60414]: {"level":"info","ts":"2026-04-14T17:40:43.766087Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093953","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 17:40:43 np0000093953 etcd[60414]: {"level":"warn","ts":"2026-04-14T17:40:43.766191Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 17:40:43 np0000093953 etcd[60414]: {"level":"fatal","ts":"2026-04-14T17:40:43.766300Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 17:40:43 np0000093953 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 17:40:43 np0000093953 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 17:40:43 np0000093953 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
