Apr 10 08:22:39 np0000093905 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 08:22:39 np0000093905 etcd[60266]: {"level":"warn","ts":"2026-04-10T08:22:39.946908Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:22:39 np0000093905 etcd[60266]: {"level":"info","ts":"2026-04-10T08:22:39.947178Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093905","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093905=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 08:22:39 np0000093905 etcd[60266]: {"level":"warn","ts":"2026-04-10T08:22:39.947345Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:22:39 np0000093905 etcd[60266]: {"level":"info","ts":"2026-04-10T08:22:39.947377Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 08:22:39 np0000093905 etcd[60266]: {"level":"info","ts":"2026-04-10T08:22:39.947977Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:39 np0000093905 etcd[60266]: {"level":"info","ts":"2026-04-10T08:22:39.948103Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093905","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:39 np0000093905 etcd[60266]: {"level":"info","ts":"2026-04-10T08:22:39.948189Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093905","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:39 np0000093905 etcd[60266]: {"level":"warn","ts":"2026-04-10T08:22:39.948247Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 08:22:39 np0000093905 etcd[60266]: {"level":"fatal","ts":"2026-04-10T08:22:39.948322Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 08:22:39 np0000093905 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 08:22:39 np0000093905 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 08:22:39 np0000093905 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 08:22:40 np0000093905 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 10 08:22:40 np0000093905 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 08:22:40 np0000093905 etcd[60309]: {"level":"warn","ts":"2026-04-10T08:22:40.140549Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:22:40 np0000093905 etcd[60309]: {"level":"info","ts":"2026-04-10T08:22:40.140697Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093905","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093905=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 08:22:40 np0000093905 etcd[60309]: {"level":"warn","ts":"2026-04-10T08:22:40.140869Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:22:40 np0000093905 etcd[60309]: {"level":"info","ts":"2026-04-10T08:22:40.140896Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 08:22:40 np0000093905 etcd[60309]: {"level":"info","ts":"2026-04-10T08:22:40.141313Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:40 np0000093905 etcd[60309]: {"level":"info","ts":"2026-04-10T08:22:40.141413Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093905","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:40 np0000093905 etcd[60309]: {"level":"info","ts":"2026-04-10T08:22:40.141484Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093905","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:40 np0000093905 etcd[60309]: {"level":"warn","ts":"2026-04-10T08:22:40.141628Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 08:22:40 np0000093905 etcd[60309]: {"level":"fatal","ts":"2026-04-10T08:22:40.141689Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 08:22:40 np0000093905 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 08:22:40 np0000093905 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 08:22:40 np0000093905 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 08:22:40 np0000093905 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 10 08:22:40 np0000093905 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 08:22:40 np0000093905 etcd[60387]: {"level":"warn","ts":"2026-04-10T08:22:40.387361Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:22:40 np0000093905 etcd[60387]: {"level":"info","ts":"2026-04-10T08:22:40.387549Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093905","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093905=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 08:22:40 np0000093905 etcd[60387]: {"level":"warn","ts":"2026-04-10T08:22:40.387783Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:22:40 np0000093905 etcd[60387]: {"level":"info","ts":"2026-04-10T08:22:40.387830Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 08:22:40 np0000093905 etcd[60387]: {"level":"info","ts":"2026-04-10T08:22:40.388353Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:40 np0000093905 etcd[60387]: {"level":"info","ts":"2026-04-10T08:22:40.388473Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093905","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:40 np0000093905 etcd[60387]: {"level":"info","ts":"2026-04-10T08:22:40.388553Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093905","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:40 np0000093905 etcd[60387]: {"level":"warn","ts":"2026-04-10T08:22:40.388609Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 08:22:40 np0000093905 etcd[60387]: {"level":"fatal","ts":"2026-04-10T08:22:40.388674Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 08:22:40 np0000093905 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 08:22:40 np0000093905 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 08:22:40 np0000093905 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 08:22:40 np0000093905 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 10 08:22:40 np0000093905 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 08:22:40 np0000093905 etcd[60394]: {"level":"warn","ts":"2026-04-10T08:22:40.616063Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:22:40 np0000093905 etcd[60394]: {"level":"info","ts":"2026-04-10T08:22:40.616197Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093905","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093905=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 08:22:40 np0000093905 etcd[60394]: {"level":"warn","ts":"2026-04-10T08:22:40.616324Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:22:40 np0000093905 etcd[60394]: {"level":"info","ts":"2026-04-10T08:22:40.616359Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 08:22:40 np0000093905 etcd[60394]: {"level":"info","ts":"2026-04-10T08:22:40.616688Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:40 np0000093905 etcd[60394]: {"level":"info","ts":"2026-04-10T08:22:40.616807Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093905","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:40 np0000093905 etcd[60394]: {"level":"info","ts":"2026-04-10T08:22:40.616905Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093905","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:40 np0000093905 etcd[60394]: {"level":"warn","ts":"2026-04-10T08:22:40.616973Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 08:22:40 np0000093905 etcd[60394]: {"level":"fatal","ts":"2026-04-10T08:22:40.617035Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 08:22:40 np0000093905 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 08:22:40 np0000093905 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 08:22:40 np0000093905 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 08:22:40 np0000093905 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 10 08:22:40 np0000093905 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 08:22:40 np0000093905 etcd[60415]: {"level":"warn","ts":"2026-04-10T08:22:40.884053Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:22:40 np0000093905 etcd[60415]: {"level":"info","ts":"2026-04-10T08:22:40.884217Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093905","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093905=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 08:22:40 np0000093905 etcd[60415]: {"level":"warn","ts":"2026-04-10T08:22:40.884350Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:22:40 np0000093905 etcd[60415]: {"level":"info","ts":"2026-04-10T08:22:40.884382Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 08:22:40 np0000093905 etcd[60415]: {"level":"info","ts":"2026-04-10T08:22:40.884798Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:40 np0000093905 etcd[60415]: {"level":"info","ts":"2026-04-10T08:22:40.884893Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093905","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:40 np0000093905 etcd[60415]: {"level":"info","ts":"2026-04-10T08:22:40.884978Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093905","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:22:40 np0000093905 etcd[60415]: {"level":"warn","ts":"2026-04-10T08:22:40.885031Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 08:22:40 np0000093905 etcd[60415]: {"level":"fatal","ts":"2026-04-10T08:22:40.885082Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 08:22:40 np0000093905 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 08:22:40 np0000093905 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 08:22:40 np0000093905 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 08:22:41 np0000093905 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 10 08:22:41 np0000093905 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 10 08:22:41 np0000093905 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 08:22:41 np0000093905 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
