Apr 28 23:56:48 np0000094109 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:56:48 np0000094109 etcd[60619]: {"level":"warn","ts":"2026-04-28T23:56:48.579642Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:56:48 np0000094109 etcd[60619]: {"level":"info","ts":"2026-04-28T23:56:48.579847Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094109","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094109=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:56:48 np0000094109 etcd[60619]: {"level":"warn","ts":"2026-04-28T23:56:48.580105Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:56:48 np0000094109 etcd[60619]: {"level":"info","ts":"2026-04-28T23:56:48.580139Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:56:48 np0000094109 etcd[60619]: {"level":"info","ts":"2026-04-28T23:56:48.580731Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:48 np0000094109 etcd[60619]: {"level":"info","ts":"2026-04-28T23:56:48.580849Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094109","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:48 np0000094109 etcd[60619]: {"level":"info","ts":"2026-04-28T23:56:48.580944Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094109","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:48 np0000094109 etcd[60619]: {"level":"warn","ts":"2026-04-28T23:56:48.580996Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:56:48 np0000094109 etcd[60619]: {"level":"fatal","ts":"2026-04-28T23:56:48.581073Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:56:48 np0000094109 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:56:48 np0000094109 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:56:48 np0000094109 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:56:48 np0000094109 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 28 23:56:48 np0000094109 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:56:48 np0000094109 etcd[60700]: {"level":"warn","ts":"2026-04-28T23:56:48.892685Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:56:48 np0000094109 etcd[60700]: {"level":"info","ts":"2026-04-28T23:56:48.892842Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094109","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094109=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:56:48 np0000094109 etcd[60700]: {"level":"warn","ts":"2026-04-28T23:56:48.892996Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:56:48 np0000094109 etcd[60700]: {"level":"info","ts":"2026-04-28T23:56:48.893021Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:56:48 np0000094109 etcd[60700]: {"level":"info","ts":"2026-04-28T23:56:48.893460Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:48 np0000094109 etcd[60700]: {"level":"info","ts":"2026-04-28T23:56:48.893560Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094109","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:48 np0000094109 etcd[60700]: {"level":"info","ts":"2026-04-28T23:56:48.893626Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094109","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:48 np0000094109 etcd[60700]: {"level":"warn","ts":"2026-04-28T23:56:48.893680Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:56:48 np0000094109 etcd[60700]: {"level":"fatal","ts":"2026-04-28T23:56:48.893733Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:56:48 np0000094109 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:56:48 np0000094109 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:56:48 np0000094109 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:56:49 np0000094109 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 28 23:56:49 np0000094109 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:56:49 np0000094109 etcd[60738]: {"level":"warn","ts":"2026-04-28T23:56:49.146566Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:56:49 np0000094109 etcd[60738]: {"level":"info","ts":"2026-04-28T23:56:49.146745Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094109","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094109=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:56:49 np0000094109 etcd[60738]: {"level":"warn","ts":"2026-04-28T23:56:49.146939Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:56:49 np0000094109 etcd[60738]: {"level":"info","ts":"2026-04-28T23:56:49.146983Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:56:49 np0000094109 etcd[60738]: {"level":"info","ts":"2026-04-28T23:56:49.147550Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:49 np0000094109 etcd[60738]: {"level":"info","ts":"2026-04-28T23:56:49.147677Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094109","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:49 np0000094109 etcd[60738]: {"level":"info","ts":"2026-04-28T23:56:49.147786Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094109","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:49 np0000094109 etcd[60738]: {"level":"warn","ts":"2026-04-28T23:56:49.147846Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:56:49 np0000094109 etcd[60738]: {"level":"fatal","ts":"2026-04-28T23:56:49.147935Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:56:49 np0000094109 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:56:49 np0000094109 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:56:49 np0000094109 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:56:49 np0000094109 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 28 23:56:49 np0000094109 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:56:49 np0000094109 etcd[60757]: {"level":"warn","ts":"2026-04-28T23:56:49.405395Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:56:49 np0000094109 etcd[60757]: {"level":"info","ts":"2026-04-28T23:56:49.406632Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094109","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094109=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:56:49 np0000094109 etcd[60757]: {"level":"warn","ts":"2026-04-28T23:56:49.406845Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:56:49 np0000094109 etcd[60757]: {"level":"info","ts":"2026-04-28T23:56:49.406903Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:56:49 np0000094109 etcd[60757]: {"level":"info","ts":"2026-04-28T23:56:49.407365Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:49 np0000094109 etcd[60757]: {"level":"info","ts":"2026-04-28T23:56:49.407789Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094109","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:49 np0000094109 etcd[60757]: {"level":"info","ts":"2026-04-28T23:56:49.407902Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094109","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:49 np0000094109 etcd[60757]: {"level":"warn","ts":"2026-04-28T23:56:49.407964Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:56:49 np0000094109 etcd[60757]: {"level":"fatal","ts":"2026-04-28T23:56:49.408031Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:56:49 np0000094109 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:56:49 np0000094109 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:56:49 np0000094109 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:56:49 np0000094109 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 28 23:56:49 np0000094109 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 23:56:49 np0000094109 etcd[60792]: {"level":"warn","ts":"2026-04-28T23:56:49.652907Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:56:49 np0000094109 etcd[60792]: {"level":"info","ts":"2026-04-28T23:56:49.653072Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094109","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094109=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 23:56:49 np0000094109 etcd[60792]: {"level":"warn","ts":"2026-04-28T23:56:49.653221Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 23:56:49 np0000094109 etcd[60792]: {"level":"info","ts":"2026-04-28T23:56:49.653255Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 23:56:49 np0000094109 etcd[60792]: {"level":"info","ts":"2026-04-28T23:56:49.653707Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:49 np0000094109 etcd[60792]: {"level":"info","ts":"2026-04-28T23:56:49.653811Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094109","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:49 np0000094109 etcd[60792]: {"level":"info","ts":"2026-04-28T23:56:49.653899Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094109","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 23:56:49 np0000094109 etcd[60792]: {"level":"warn","ts":"2026-04-28T23:56:49.653950Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 23:56:49 np0000094109 etcd[60792]: {"level":"fatal","ts":"2026-04-28T23:56:49.654006Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 23:56:49 np0000094109 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 23:56:49 np0000094109 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:56:49 np0000094109 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 23:56:49 np0000094109 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 28 23:56:49 np0000094109 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 28 23:56:49 np0000094109 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 23:56:49 np0000094109 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
