Jun 17 15:28:10 np0000094384 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 15:28:10 np0000094384 etcd[60732]: {"level":"warn","ts":"2026-06-17T15:28:10.337890Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:28:10 np0000094384 etcd[60732]: {"level":"info","ts":"2026-06-17T15:28:10.339296Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094384","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094384=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 15:28:10 np0000094384 etcd[60732]: {"level":"warn","ts":"2026-06-17T15:28:10.339528Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:28:10 np0000094384 etcd[60732]: {"level":"info","ts":"2026-06-17T15:28:10.339575Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 15:28:10 np0000094384 etcd[60732]: {"level":"info","ts":"2026-06-17T15:28:10.340700Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:10 np0000094384 etcd[60732]: {"level":"info","ts":"2026-06-17T15:28:10.340840Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094384","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:10 np0000094384 etcd[60732]: {"level":"info","ts":"2026-06-17T15:28:10.340968Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094384","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:10 np0000094384 etcd[60732]: {"level":"warn","ts":"2026-06-17T15:28:10.341031Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 15:28:10 np0000094384 etcd[60732]: {"level":"fatal","ts":"2026-06-17T15:28:10.341092Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 15:28:10 np0000094384 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 15:28:10 np0000094384 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 15:28:10 np0000094384 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 15:28:10 np0000094384 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 17 15:28:10 np0000094384 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 15:28:10 np0000094384 etcd[60822]: {"level":"warn","ts":"2026-06-17T15:28:10.675665Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:28:10 np0000094384 etcd[60822]: {"level":"info","ts":"2026-06-17T15:28:10.675811Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094384","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094384=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 15:28:10 np0000094384 etcd[60822]: {"level":"warn","ts":"2026-06-17T15:28:10.675963Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:28:10 np0000094384 etcd[60822]: {"level":"info","ts":"2026-06-17T15:28:10.675999Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 15:28:10 np0000094384 etcd[60822]: {"level":"info","ts":"2026-06-17T15:28:10.676404Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:10 np0000094384 etcd[60822]: {"level":"info","ts":"2026-06-17T15:28:10.676507Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094384","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:10 np0000094384 etcd[60822]: {"level":"info","ts":"2026-06-17T15:28:10.676576Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094384","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:10 np0000094384 etcd[60822]: {"level":"warn","ts":"2026-06-17T15:28:10.676633Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 15:28:10 np0000094384 etcd[60822]: {"level":"fatal","ts":"2026-06-17T15:28:10.676690Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 15:28:10 np0000094384 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 15:28:10 np0000094384 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 15:28:10 np0000094384 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 15:28:10 np0000094384 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 17 15:28:10 np0000094384 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 15:28:10 np0000094384 etcd[60851]: {"level":"warn","ts":"2026-06-17T15:28:10.930024Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:28:10 np0000094384 etcd[60851]: {"level":"info","ts":"2026-06-17T15:28:10.930206Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094384","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094384=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 15:28:10 np0000094384 etcd[60851]: {"level":"warn","ts":"2026-06-17T15:28:10.930438Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:28:10 np0000094384 etcd[60851]: {"level":"info","ts":"2026-06-17T15:28:10.930471Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 15:28:10 np0000094384 etcd[60851]: {"level":"info","ts":"2026-06-17T15:28:10.931035Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:10 np0000094384 etcd[60851]: {"level":"info","ts":"2026-06-17T15:28:10.931160Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094384","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:10 np0000094384 etcd[60851]: {"level":"info","ts":"2026-06-17T15:28:10.931242Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094384","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:10 np0000094384 etcd[60851]: {"level":"warn","ts":"2026-06-17T15:28:10.931301Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 15:28:10 np0000094384 etcd[60851]: {"level":"fatal","ts":"2026-06-17T15:28:10.931366Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 15:28:10 np0000094384 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 15:28:10 np0000094384 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 15:28:10 np0000094384 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 15:28:11 np0000094384 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 17 15:28:11 np0000094384 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 15:28:11 np0000094384 etcd[60879]: {"level":"warn","ts":"2026-06-17T15:28:11.181630Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:28:11 np0000094384 etcd[60879]: {"level":"info","ts":"2026-06-17T15:28:11.181805Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094384","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094384=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 15:28:11 np0000094384 etcd[60879]: {"level":"warn","ts":"2026-06-17T15:28:11.182005Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:28:11 np0000094384 etcd[60879]: {"level":"info","ts":"2026-06-17T15:28:11.182037Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 15:28:11 np0000094384 etcd[60879]: {"level":"info","ts":"2026-06-17T15:28:11.182571Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:11 np0000094384 etcd[60879]: {"level":"info","ts":"2026-06-17T15:28:11.182699Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094384","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:11 np0000094384 etcd[60879]: {"level":"info","ts":"2026-06-17T15:28:11.182784Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094384","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:11 np0000094384 etcd[60879]: {"level":"warn","ts":"2026-06-17T15:28:11.182870Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 15:28:11 np0000094384 etcd[60879]: {"level":"fatal","ts":"2026-06-17T15:28:11.182965Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 15:28:11 np0000094384 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 15:28:11 np0000094384 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 15:28:11 np0000094384 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 15:28:11 np0000094384 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 17 15:28:11 np0000094384 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 15:28:11 np0000094384 etcd[60917]: {"level":"warn","ts":"2026-06-17T15:28:11.425465Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:28:11 np0000094384 etcd[60917]: {"level":"info","ts":"2026-06-17T15:28:11.425643Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094384","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094384=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 15:28:11 np0000094384 etcd[60917]: {"level":"warn","ts":"2026-06-17T15:28:11.425812Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 15:28:11 np0000094384 etcd[60917]: {"level":"info","ts":"2026-06-17T15:28:11.425873Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 15:28:11 np0000094384 etcd[60917]: {"level":"info","ts":"2026-06-17T15:28:11.426348Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:11 np0000094384 etcd[60917]: {"level":"info","ts":"2026-06-17T15:28:11.426506Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094384","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:11 np0000094384 etcd[60917]: {"level":"info","ts":"2026-06-17T15:28:11.426580Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094384","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 15:28:11 np0000094384 etcd[60917]: {"level":"warn","ts":"2026-06-17T15:28:11.426634Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 15:28:11 np0000094384 etcd[60917]: {"level":"fatal","ts":"2026-06-17T15:28:11.426693Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 15:28:11 np0000094384 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 15:28:11 np0000094384 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 15:28:11 np0000094384 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 15:28:11 np0000094384 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 17 15:28:11 np0000094384 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 17 15:28:11 np0000094384 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 15:28:11 np0000094384 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
