Feb 13 14:18:34 np0000056236 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 14:18:34 np0000056236 etcd[60270]: {"level":"warn","ts":"2026-02-13T14:18:34.503589Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:18:34 np0000056236 etcd[60270]: {"level":"info","ts":"2026-02-13T14:18:34.503785Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056236","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056236=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 14:18:34 np0000056236 etcd[60270]: {"level":"warn","ts":"2026-02-13T14:18:34.503939Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:18:34 np0000056236 etcd[60270]: {"level":"info","ts":"2026-02-13T14:18:34.504026Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 14:18:34 np0000056236 etcd[60270]: {"level":"info","ts":"2026-02-13T14:18:34.504464Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:34 np0000056236 etcd[60270]: {"level":"info","ts":"2026-02-13T14:18:34.504590Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056236","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:34 np0000056236 etcd[60270]: {"level":"info","ts":"2026-02-13T14:18:34.504668Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056236","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:34 np0000056236 etcd[60270]: {"level":"warn","ts":"2026-02-13T14:18:34.504729Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 14:18:34 np0000056236 etcd[60270]: {"level":"fatal","ts":"2026-02-13T14:18:34.504792Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 14:18:34 np0000056236 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 14:18:34 np0000056236 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 14:18:34 np0000056236 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 14:18:34 np0000056236 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 14:18:34 np0000056236 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 14:18:34 np0000056236 etcd[60371]: {"level":"warn","ts":"2026-02-13T14:18:34.888592Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:18:34 np0000056236 etcd[60371]: {"level":"info","ts":"2026-02-13T14:18:34.888773Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056236","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056236=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 14:18:34 np0000056236 etcd[60371]: {"level":"warn","ts":"2026-02-13T14:18:34.888951Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:18:34 np0000056236 etcd[60371]: {"level":"info","ts":"2026-02-13T14:18:34.889046Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 14:18:34 np0000056236 etcd[60371]: {"level":"info","ts":"2026-02-13T14:18:34.889509Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:34 np0000056236 etcd[60371]: {"level":"info","ts":"2026-02-13T14:18:34.889642Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056236","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:34 np0000056236 etcd[60371]: {"level":"info","ts":"2026-02-13T14:18:34.889726Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056236","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:34 np0000056236 etcd[60371]: {"level":"warn","ts":"2026-02-13T14:18:34.889795Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 14:18:34 np0000056236 etcd[60371]: {"level":"fatal","ts":"2026-02-13T14:18:34.889866Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 14:18:34 np0000056236 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 14:18:34 np0000056236 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 14:18:34 np0000056236 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 14:18:35 np0000056236 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 14:18:35 np0000056236 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 14:18:35 np0000056236 etcd[60389]: {"level":"warn","ts":"2026-02-13T14:18:35.137269Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:18:35 np0000056236 etcd[60389]: {"level":"info","ts":"2026-02-13T14:18:35.137453Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056236","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056236=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 14:18:35 np0000056236 etcd[60389]: {"level":"warn","ts":"2026-02-13T14:18:35.137611Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:18:35 np0000056236 etcd[60389]: {"level":"info","ts":"2026-02-13T14:18:35.137654Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 14:18:35 np0000056236 etcd[60389]: {"level":"info","ts":"2026-02-13T14:18:35.138205Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:35 np0000056236 etcd[60389]: {"level":"info","ts":"2026-02-13T14:18:35.138355Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056236","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:35 np0000056236 etcd[60389]: {"level":"info","ts":"2026-02-13T14:18:35.138467Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056236","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:35 np0000056236 etcd[60389]: {"level":"warn","ts":"2026-02-13T14:18:35.138533Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 14:18:35 np0000056236 etcd[60389]: {"level":"fatal","ts":"2026-02-13T14:18:35.138595Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 14:18:35 np0000056236 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 14:18:35 np0000056236 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 14:18:35 np0000056236 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 14:18:35 np0000056236 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 14:18:35 np0000056236 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 14:18:35 np0000056236 etcd[60424]: {"level":"warn","ts":"2026-02-13T14:18:35.386838Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:18:35 np0000056236 etcd[60424]: {"level":"info","ts":"2026-02-13T14:18:35.387079Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056236","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056236=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 14:18:35 np0000056236 etcd[60424]: {"level":"warn","ts":"2026-02-13T14:18:35.387256Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:18:35 np0000056236 etcd[60424]: {"level":"info","ts":"2026-02-13T14:18:35.387288Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 14:18:35 np0000056236 etcd[60424]: {"level":"info","ts":"2026-02-13T14:18:35.387954Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:35 np0000056236 etcd[60424]: {"level":"info","ts":"2026-02-13T14:18:35.388141Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056236","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:35 np0000056236 etcd[60424]: {"level":"info","ts":"2026-02-13T14:18:35.388226Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056236","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:35 np0000056236 etcd[60424]: {"level":"warn","ts":"2026-02-13T14:18:35.388299Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 14:18:35 np0000056236 etcd[60424]: {"level":"fatal","ts":"2026-02-13T14:18:35.388368Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 14:18:35 np0000056236 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 14:18:35 np0000056236 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 14:18:35 np0000056236 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 14:18:35 np0000056236 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 14:18:35 np0000056236 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 14:18:35 np0000056236 etcd[60463]: {"level":"warn","ts":"2026-02-13T14:18:35.621033Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:18:35 np0000056236 etcd[60463]: {"level":"info","ts":"2026-02-13T14:18:35.621187Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056236","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056236=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 14:18:35 np0000056236 etcd[60463]: {"level":"warn","ts":"2026-02-13T14:18:35.621333Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 14:18:35 np0000056236 etcd[60463]: {"level":"info","ts":"2026-02-13T14:18:35.621368Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 14:18:35 np0000056236 etcd[60463]: {"level":"info","ts":"2026-02-13T14:18:35.621805Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:35 np0000056236 etcd[60463]: {"level":"info","ts":"2026-02-13T14:18:35.621904Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056236","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:35 np0000056236 etcd[60463]: {"level":"info","ts":"2026-02-13T14:18:35.622015Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056236","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 14:18:35 np0000056236 etcd[60463]: {"level":"warn","ts":"2026-02-13T14:18:35.622070Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 14:18:35 np0000056236 etcd[60463]: {"level":"fatal","ts":"2026-02-13T14:18:35.622126Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 14:18:35 np0000056236 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 14:18:35 np0000056236 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 14:18:35 np0000056236 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 14:18:35 np0000056236 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 14:18:35 np0000056236 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 14:18:35 np0000056236 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 14:18:35 np0000056236 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
