Apr 15 17:10:54 np0000093976 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 17:10:54 np0000093976 etcd[60434]: {"level":"warn","ts":"2026-04-15T17:10:54.879696Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 17:10:54 np0000093976 etcd[60434]: {"level":"info","ts":"2026-04-15T17:10:54.879888Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093976","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093976=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 17:10:54 np0000093976 etcd[60434]: {"level":"warn","ts":"2026-04-15T17:10:54.880119Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 17:10:54 np0000093976 etcd[60434]: {"level":"info","ts":"2026-04-15T17:10:54.880163Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 17:10:54 np0000093976 etcd[60434]: {"level":"info","ts":"2026-04-15T17:10:54.881716Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:54 np0000093976 etcd[60434]: {"level":"info","ts":"2026-04-15T17:10:54.881880Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093976","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:54 np0000093976 etcd[60434]: {"level":"info","ts":"2026-04-15T17:10:54.881965Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093976","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:54 np0000093976 etcd[60434]: {"level":"warn","ts":"2026-04-15T17:10:54.882032Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 17:10:54 np0000093976 etcd[60434]: {"level":"fatal","ts":"2026-04-15T17:10:54.882153Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 17:10:54 np0000093976 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 17:10:54 np0000093976 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 17:10:54 np0000093976 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 17:10:55 np0000093976 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 15 17:10:55 np0000093976 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 17:10:55 np0000093976 etcd[60531]: {"level":"warn","ts":"2026-04-15T17:10:55.271764Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 17:10:55 np0000093976 etcd[60531]: {"level":"info","ts":"2026-04-15T17:10:55.271975Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093976","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093976=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 17:10:55 np0000093976 etcd[60531]: {"level":"warn","ts":"2026-04-15T17:10:55.272187Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 17:10:55 np0000093976 etcd[60531]: {"level":"info","ts":"2026-04-15T17:10:55.272231Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 17:10:55 np0000093976 etcd[60531]: {"level":"info","ts":"2026-04-15T17:10:55.272710Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:55 np0000093976 etcd[60531]: {"level":"info","ts":"2026-04-15T17:10:55.272844Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093976","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:55 np0000093976 etcd[60531]: {"level":"info","ts":"2026-04-15T17:10:55.272911Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093976","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:55 np0000093976 etcd[60531]: {"level":"warn","ts":"2026-04-15T17:10:55.272992Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 17:10:55 np0000093976 etcd[60531]: {"level":"fatal","ts":"2026-04-15T17:10:55.273075Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 17:10:55 np0000093976 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 17:10:55 np0000093976 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 17:10:55 np0000093976 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 17:10:55 np0000093976 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 15 17:10:55 np0000093976 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 17:10:55 np0000093976 etcd[60554]: {"level":"warn","ts":"2026-04-15T17:10:55.513002Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 17:10:55 np0000093976 etcd[60554]: {"level":"info","ts":"2026-04-15T17:10:55.513207Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093976","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093976=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 17:10:55 np0000093976 etcd[60554]: {"level":"warn","ts":"2026-04-15T17:10:55.513390Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 17:10:55 np0000093976 etcd[60554]: {"level":"info","ts":"2026-04-15T17:10:55.513421Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 17:10:55 np0000093976 etcd[60554]: {"level":"info","ts":"2026-04-15T17:10:55.514029Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:55 np0000093976 etcd[60554]: {"level":"info","ts":"2026-04-15T17:10:55.514199Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093976","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:55 np0000093976 etcd[60554]: {"level":"info","ts":"2026-04-15T17:10:55.514283Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093976","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:55 np0000093976 etcd[60554]: {"level":"warn","ts":"2026-04-15T17:10:55.514341Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 17:10:55 np0000093976 etcd[60554]: {"level":"fatal","ts":"2026-04-15T17:10:55.514415Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 17:10:55 np0000093976 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 17:10:55 np0000093976 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 17:10:55 np0000093976 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 17:10:55 np0000093976 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 15 17:10:55 np0000093976 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 17:10:55 np0000093976 etcd[60574]: {"level":"warn","ts":"2026-04-15T17:10:55.773561Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 17:10:55 np0000093976 etcd[60574]: {"level":"info","ts":"2026-04-15T17:10:55.773746Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093976","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093976=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 17:10:55 np0000093976 etcd[60574]: {"level":"warn","ts":"2026-04-15T17:10:55.773935Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 17:10:55 np0000093976 etcd[60574]: {"level":"info","ts":"2026-04-15T17:10:55.773993Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 17:10:55 np0000093976 etcd[60574]: {"level":"info","ts":"2026-04-15T17:10:55.774494Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:55 np0000093976 etcd[60574]: {"level":"info","ts":"2026-04-15T17:10:55.774620Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093976","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:55 np0000093976 etcd[60574]: {"level":"info","ts":"2026-04-15T17:10:55.774703Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093976","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:55 np0000093976 etcd[60574]: {"level":"warn","ts":"2026-04-15T17:10:55.774762Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 17:10:55 np0000093976 etcd[60574]: {"level":"fatal","ts":"2026-04-15T17:10:55.774829Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 17:10:55 np0000093976 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 17:10:55 np0000093976 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 17:10:55 np0000093976 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 17:10:55 np0000093976 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 15 17:10:55 np0000093976 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 17:10:56 np0000093976 etcd[60608]: {"level":"warn","ts":"2026-04-15T17:10:56.020850Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 17:10:56 np0000093976 etcd[60608]: {"level":"info","ts":"2026-04-15T17:10:56.021057Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093976","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093976=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 17:10:56 np0000093976 etcd[60608]: {"level":"warn","ts":"2026-04-15T17:10:56.021279Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 17:10:56 np0000093976 etcd[60608]: {"level":"info","ts":"2026-04-15T17:10:56.021312Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 17:10:56 np0000093976 etcd[60608]: {"level":"info","ts":"2026-04-15T17:10:56.021827Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:56 np0000093976 etcd[60608]: {"level":"info","ts":"2026-04-15T17:10:56.021970Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093976","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:56 np0000093976 etcd[60608]: {"level":"info","ts":"2026-04-15T17:10:56.022056Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093976","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 17:10:56 np0000093976 etcd[60608]: {"level":"warn","ts":"2026-04-15T17:10:56.022150Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 17:10:56 np0000093976 etcd[60608]: {"level":"fatal","ts":"2026-04-15T17:10:56.022218Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 17:10:56 np0000093976 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 17:10:56 np0000093976 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 17:10:56 np0000093976 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 17:10:56 np0000093976 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 15 17:10:56 np0000093976 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 15 17:10:56 np0000093976 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 17:10:56 np0000093976 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
