Feb 13 10:30:39 np0000056227 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:30:40 np0000056227 etcd[60714]: {"level":"warn","ts":"2026-02-13T10:30:40.040705Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:30:40 np0000056227 etcd[60714]: {"level":"info","ts":"2026-02-13T10:30:40.041987Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056227","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056227=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:30:40 np0000056227 etcd[60714]: {"level":"warn","ts":"2026-02-13T10:30:40.042183Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:30:40 np0000056227 etcd[60714]: {"level":"info","ts":"2026-02-13T10:30:40.042233Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:30:40 np0000056227 etcd[60714]: {"level":"info","ts":"2026-02-13T10:30:40.042703Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:40 np0000056227 etcd[60714]: {"level":"info","ts":"2026-02-13T10:30:40.042812Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056227","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:40 np0000056227 etcd[60714]: {"level":"info","ts":"2026-02-13T10:30:40.042887Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056227","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:40 np0000056227 etcd[60714]: {"level":"warn","ts":"2026-02-13T10:30:40.044156Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:30:40 np0000056227 etcd[60714]: {"level":"fatal","ts":"2026-02-13T10:30:40.044237Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:30:40 np0000056227 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:30:40 np0000056227 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:30:40 np0000056227 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:30:40 np0000056227 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 10:30:40 np0000056227 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:30:40 np0000056227 etcd[60819]: {"level":"warn","ts":"2026-02-13T10:30:40.433280Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:30:40 np0000056227 etcd[60819]: {"level":"info","ts":"2026-02-13T10:30:40.433374Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056227","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056227=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:30:40 np0000056227 etcd[60819]: {"level":"warn","ts":"2026-02-13T10:30:40.433468Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:30:40 np0000056227 etcd[60819]: {"level":"info","ts":"2026-02-13T10:30:40.433488Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:30:40 np0000056227 etcd[60819]: {"level":"info","ts":"2026-02-13T10:30:40.433773Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:40 np0000056227 etcd[60819]: {"level":"info","ts":"2026-02-13T10:30:40.433832Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056227","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:40 np0000056227 etcd[60819]: {"level":"info","ts":"2026-02-13T10:30:40.433874Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056227","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:40 np0000056227 etcd[60819]: {"level":"warn","ts":"2026-02-13T10:30:40.433901Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:30:40 np0000056227 etcd[60819]: {"level":"fatal","ts":"2026-02-13T10:30:40.433989Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:30:40 np0000056227 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:30:40 np0000056227 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:30:40 np0000056227 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:30:40 np0000056227 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 10:30:40 np0000056227 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:30:40 np0000056227 etcd[60835]: {"level":"warn","ts":"2026-02-13T10:30:40.675066Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:30:40 np0000056227 etcd[60835]: {"level":"info","ts":"2026-02-13T10:30:40.675256Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056227","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056227=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:30:40 np0000056227 etcd[60835]: {"level":"warn","ts":"2026-02-13T10:30:40.675414Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:30:40 np0000056227 etcd[60835]: {"level":"info","ts":"2026-02-13T10:30:40.675459Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:30:40 np0000056227 etcd[60835]: {"level":"info","ts":"2026-02-13T10:30:40.675874Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:40 np0000056227 etcd[60835]: {"level":"info","ts":"2026-02-13T10:30:40.676086Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056227","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:40 np0000056227 etcd[60835]: {"level":"info","ts":"2026-02-13T10:30:40.676180Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056227","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:40 np0000056227 etcd[60835]: {"level":"warn","ts":"2026-02-13T10:30:40.676231Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:30:40 np0000056227 etcd[60835]: {"level":"fatal","ts":"2026-02-13T10:30:40.676290Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:30:40 np0000056227 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:30:40 np0000056227 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:30:40 np0000056227 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:30:40 np0000056227 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 10:30:40 np0000056227 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:30:40 np0000056227 etcd[60856]: {"level":"warn","ts":"2026-02-13T10:30:40.928426Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:30:40 np0000056227 etcd[60856]: {"level":"info","ts":"2026-02-13T10:30:40.928632Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056227","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056227=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:30:40 np0000056227 etcd[60856]: {"level":"warn","ts":"2026-02-13T10:30:40.928816Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:30:40 np0000056227 etcd[60856]: {"level":"info","ts":"2026-02-13T10:30:40.928857Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:30:40 np0000056227 etcd[60856]: {"level":"info","ts":"2026-02-13T10:30:40.929354Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:40 np0000056227 etcd[60856]: {"level":"info","ts":"2026-02-13T10:30:40.929481Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056227","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:40 np0000056227 etcd[60856]: {"level":"info","ts":"2026-02-13T10:30:40.929563Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056227","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:40 np0000056227 etcd[60856]: {"level":"warn","ts":"2026-02-13T10:30:40.929620Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:30:40 np0000056227 etcd[60856]: {"level":"fatal","ts":"2026-02-13T10:30:40.929686Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:30:40 np0000056227 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:30:40 np0000056227 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:30:40 np0000056227 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:30:41 np0000056227 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 10:30:41 np0000056227 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:30:41 np0000056227 etcd[60893]: {"level":"warn","ts":"2026-02-13T10:30:41.186079Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:30:41 np0000056227 etcd[60893]: {"level":"info","ts":"2026-02-13T10:30:41.186282Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056227","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056227=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:30:41 np0000056227 etcd[60893]: {"level":"warn","ts":"2026-02-13T10:30:41.186503Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:30:41 np0000056227 etcd[60893]: {"level":"info","ts":"2026-02-13T10:30:41.186547Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:30:41 np0000056227 etcd[60893]: {"level":"info","ts":"2026-02-13T10:30:41.187212Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:41 np0000056227 etcd[60893]: {"level":"info","ts":"2026-02-13T10:30:41.187790Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056227","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:41 np0000056227 etcd[60893]: {"level":"info","ts":"2026-02-13T10:30:41.187894Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056227","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:30:41 np0000056227 etcd[60893]: {"level":"warn","ts":"2026-02-13T10:30:41.188089Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:30:41 np0000056227 etcd[60893]: {"level":"fatal","ts":"2026-02-13T10:30:41.188159Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:30:41 np0000056227 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:30:41 np0000056227 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:30:41 np0000056227 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:30:41 np0000056227 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 10:30:41 np0000056227 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 10:30:41 np0000056227 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:30:41 np0000056227 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
