May 28 13:18:10 np0000094166 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 28 13:18:10 np0000094166 etcd[60038]: {"level":"warn","ts":"2026-05-28T13:18:10.669885Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 13:18:10 np0000094166 etcd[60038]: {"level":"info","ts":"2026-05-28T13:18:10.670103Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094166","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094166=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 28 13:18:10 np0000094166 etcd[60038]: {"level":"warn","ts":"2026-05-28T13:18:10.670280Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 13:18:10 np0000094166 etcd[60038]: {"level":"info","ts":"2026-05-28T13:18:10.670315Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 28 13:18:10 np0000094166 etcd[60038]: {"level":"info","ts":"2026-05-28T13:18:10.670817Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:10 np0000094166 etcd[60038]: {"level":"info","ts":"2026-05-28T13:18:10.670943Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094166","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:10 np0000094166 etcd[60038]: {"level":"info","ts":"2026-05-28T13:18:10.671066Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094166","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:10 np0000094166 etcd[60038]: {"level":"warn","ts":"2026-05-28T13:18:10.671126Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 28 13:18:10 np0000094166 etcd[60038]: {"level":"fatal","ts":"2026-05-28T13:18:10.671213Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 28 13:18:10 np0000094166 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 28 13:18:10 np0000094166 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 28 13:18:10 np0000094166 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 28 13:18:11 np0000094166 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 28 13:18:11 np0000094166 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 28 13:18:11 np0000094166 etcd[60162]: {"level":"warn","ts":"2026-05-28T13:18:11.065756Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 13:18:11 np0000094166 etcd[60162]: {"level":"info","ts":"2026-05-28T13:18:11.065900Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094166","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094166=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 28 13:18:11 np0000094166 etcd[60162]: {"level":"warn","ts":"2026-05-28T13:18:11.066073Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 13:18:11 np0000094166 etcd[60162]: {"level":"info","ts":"2026-05-28T13:18:11.066100Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 28 13:18:11 np0000094166 etcd[60162]: {"level":"info","ts":"2026-05-28T13:18:11.066520Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:11 np0000094166 etcd[60162]: {"level":"info","ts":"2026-05-28T13:18:11.066617Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094166","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:11 np0000094166 etcd[60162]: {"level":"info","ts":"2026-05-28T13:18:11.066711Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094166","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:11 np0000094166 etcd[60162]: {"level":"warn","ts":"2026-05-28T13:18:11.066757Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 28 13:18:11 np0000094166 etcd[60162]: {"level":"fatal","ts":"2026-05-28T13:18:11.066810Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 28 13:18:11 np0000094166 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 28 13:18:11 np0000094166 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 28 13:18:11 np0000094166 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 28 13:18:11 np0000094166 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 28 13:18:11 np0000094166 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 28 13:18:11 np0000094166 etcd[60176]: {"level":"warn","ts":"2026-05-28T13:18:11.332492Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 13:18:11 np0000094166 etcd[60176]: {"level":"info","ts":"2026-05-28T13:18:11.332692Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094166","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094166=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 28 13:18:11 np0000094166 etcd[60176]: {"level":"warn","ts":"2026-05-28T13:18:11.332863Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 13:18:11 np0000094166 etcd[60176]: {"level":"info","ts":"2026-05-28T13:18:11.332903Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 28 13:18:11 np0000094166 etcd[60176]: {"level":"info","ts":"2026-05-28T13:18:11.333438Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:11 np0000094166 etcd[60176]: {"level":"info","ts":"2026-05-28T13:18:11.333560Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094166","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:11 np0000094166 etcd[60176]: {"level":"info","ts":"2026-05-28T13:18:11.333644Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094166","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:11 np0000094166 etcd[60176]: {"level":"warn","ts":"2026-05-28T13:18:11.333721Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 28 13:18:11 np0000094166 etcd[60176]: {"level":"fatal","ts":"2026-05-28T13:18:11.333788Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 28 13:18:11 np0000094166 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 28 13:18:11 np0000094166 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 28 13:18:11 np0000094166 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 28 13:18:11 np0000094166 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 28 13:18:11 np0000094166 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 28 13:18:11 np0000094166 etcd[60214]: {"level":"warn","ts":"2026-05-28T13:18:11.573649Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 13:18:11 np0000094166 etcd[60214]: {"level":"info","ts":"2026-05-28T13:18:11.573847Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094166","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094166=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 28 13:18:11 np0000094166 etcd[60214]: {"level":"warn","ts":"2026-05-28T13:18:11.574041Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 13:18:11 np0000094166 etcd[60214]: {"level":"info","ts":"2026-05-28T13:18:11.574071Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 28 13:18:11 np0000094166 etcd[60214]: {"level":"info","ts":"2026-05-28T13:18:11.574531Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:11 np0000094166 etcd[60214]: {"level":"info","ts":"2026-05-28T13:18:11.574639Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094166","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:11 np0000094166 etcd[60214]: {"level":"info","ts":"2026-05-28T13:18:11.574741Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094166","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:11 np0000094166 etcd[60214]: {"level":"warn","ts":"2026-05-28T13:18:11.574812Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 28 13:18:11 np0000094166 etcd[60214]: {"level":"fatal","ts":"2026-05-28T13:18:11.574873Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 28 13:18:11 np0000094166 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 28 13:18:11 np0000094166 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 28 13:18:11 np0000094166 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 28 13:18:11 np0000094166 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 28 13:18:11 np0000094166 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 28 13:18:11 np0000094166 etcd[60250]: {"level":"warn","ts":"2026-05-28T13:18:11.834501Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 13:18:11 np0000094166 etcd[60250]: {"level":"info","ts":"2026-05-28T13:18:11.834705Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094166","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094166=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 28 13:18:11 np0000094166 etcd[60250]: {"level":"warn","ts":"2026-05-28T13:18:11.834877Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 28 13:18:11 np0000094166 etcd[60250]: {"level":"info","ts":"2026-05-28T13:18:11.834910Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 28 13:18:11 np0000094166 etcd[60250]: {"level":"info","ts":"2026-05-28T13:18:11.835435Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:11 np0000094166 etcd[60250]: {"level":"info","ts":"2026-05-28T13:18:11.835559Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094166","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:11 np0000094166 etcd[60250]: {"level":"info","ts":"2026-05-28T13:18:11.835639Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094166","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 28 13:18:11 np0000094166 etcd[60250]: {"level":"warn","ts":"2026-05-28T13:18:11.835718Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 28 13:18:11 np0000094166 etcd[60250]: {"level":"fatal","ts":"2026-05-28T13:18:11.835784Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 28 13:18:11 np0000094166 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 28 13:18:11 np0000094166 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 28 13:18:11 np0000094166 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 28 13:18:12 np0000094166 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 28 13:18:12 np0000094166 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 28 13:18:12 np0000094166 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 28 13:18:12 np0000094166 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
