Apr 17 01:10:27 np0000093999 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 01:10:27 np0000093999 etcd[60994]: {"level":"warn","ts":"2026-04-17T01:10:27.883868Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 01:10:27 np0000093999 etcd[60994]: {"level":"info","ts":"2026-04-17T01:10:27.884105Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093999","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093999=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 01:10:27 np0000093999 etcd[60994]: {"level":"warn","ts":"2026-04-17T01:10:27.884290Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 01:10:27 np0000093999 etcd[60994]: {"level":"info","ts":"2026-04-17T01:10:27.884321Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 01:10:27 np0000093999 etcd[60994]: {"level":"info","ts":"2026-04-17T01:10:27.884824Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:27 np0000093999 etcd[60994]: {"level":"info","ts":"2026-04-17T01:10:27.885118Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093999","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:27 np0000093999 etcd[60994]: {"level":"info","ts":"2026-04-17T01:10:27.886147Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093999","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:27 np0000093999 etcd[60994]: {"level":"warn","ts":"2026-04-17T01:10:27.886253Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 01:10:27 np0000093999 etcd[60994]: {"level":"fatal","ts":"2026-04-17T01:10:27.886371Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 01:10:27 np0000093999 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 01:10:27 np0000093999 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 01:10:27 np0000093999 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 01:10:28 np0000093999 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 17 01:10:28 np0000093999 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 01:10:28 np0000093999 etcd[61087]: {"level":"warn","ts":"2026-04-17T01:10:28.258512Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 01:10:28 np0000093999 etcd[61087]: {"level":"info","ts":"2026-04-17T01:10:28.258724Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093999","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093999=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 01:10:28 np0000093999 etcd[61087]: {"level":"warn","ts":"2026-04-17T01:10:28.258901Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 01:10:28 np0000093999 etcd[61087]: {"level":"info","ts":"2026-04-17T01:10:28.258961Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 01:10:28 np0000093999 etcd[61087]: {"level":"info","ts":"2026-04-17T01:10:28.261548Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:28 np0000093999 etcd[61087]: {"level":"info","ts":"2026-04-17T01:10:28.261708Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093999","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:28 np0000093999 etcd[61087]: {"level":"info","ts":"2026-04-17T01:10:28.261791Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093999","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:28 np0000093999 etcd[61087]: {"level":"warn","ts":"2026-04-17T01:10:28.261866Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 01:10:28 np0000093999 etcd[61087]: {"level":"fatal","ts":"2026-04-17T01:10:28.261950Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 01:10:28 np0000093999 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 01:10:28 np0000093999 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 01:10:28 np0000093999 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 01:10:28 np0000093999 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 17 01:10:28 np0000093999 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 01:10:28 np0000093999 etcd[61114]: {"level":"warn","ts":"2026-04-17T01:10:28.505502Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 01:10:28 np0000093999 etcd[61114]: {"level":"info","ts":"2026-04-17T01:10:28.505634Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093999","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093999=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 01:10:28 np0000093999 etcd[61114]: {"level":"warn","ts":"2026-04-17T01:10:28.505745Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 01:10:28 np0000093999 etcd[61114]: {"level":"info","ts":"2026-04-17T01:10:28.505766Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 01:10:28 np0000093999 etcd[61114]: {"level":"info","ts":"2026-04-17T01:10:28.506203Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:28 np0000093999 etcd[61114]: {"level":"info","ts":"2026-04-17T01:10:28.506290Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093999","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:28 np0000093999 etcd[61114]: {"level":"info","ts":"2026-04-17T01:10:28.506350Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093999","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:28 np0000093999 etcd[61114]: {"level":"warn","ts":"2026-04-17T01:10:28.506390Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 01:10:28 np0000093999 etcd[61114]: {"level":"fatal","ts":"2026-04-17T01:10:28.506461Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 01:10:28 np0000093999 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 01:10:28 np0000093999 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 01:10:28 np0000093999 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 01:10:28 np0000093999 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 17 01:10:28 np0000093999 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 01:10:28 np0000093999 etcd[61135]: {"level":"warn","ts":"2026-04-17T01:10:28.755419Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 01:10:28 np0000093999 etcd[61135]: {"level":"info","ts":"2026-04-17T01:10:28.755596Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093999","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093999=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 01:10:28 np0000093999 etcd[61135]: {"level":"warn","ts":"2026-04-17T01:10:28.755746Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 01:10:28 np0000093999 etcd[61135]: {"level":"info","ts":"2026-04-17T01:10:28.755781Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 01:10:28 np0000093999 etcd[61135]: {"level":"info","ts":"2026-04-17T01:10:28.756256Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:28 np0000093999 etcd[61135]: {"level":"info","ts":"2026-04-17T01:10:28.756361Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093999","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:28 np0000093999 etcd[61135]: {"level":"info","ts":"2026-04-17T01:10:28.756457Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093999","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:28 np0000093999 etcd[61135]: {"level":"warn","ts":"2026-04-17T01:10:28.756508Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 01:10:28 np0000093999 etcd[61135]: {"level":"fatal","ts":"2026-04-17T01:10:28.756566Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 01:10:28 np0000093999 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 01:10:28 np0000093999 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 01:10:28 np0000093999 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 01:10:28 np0000093999 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 17 01:10:28 np0000093999 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 01:10:29 np0000093999 etcd[61167]: {"level":"warn","ts":"2026-04-17T01:10:29.012272Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 01:10:29 np0000093999 etcd[61167]: {"level":"info","ts":"2026-04-17T01:10:29.012491Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093999","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093999=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 01:10:29 np0000093999 etcd[61167]: {"level":"warn","ts":"2026-04-17T01:10:29.012655Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 01:10:29 np0000093999 etcd[61167]: {"level":"info","ts":"2026-04-17T01:10:29.012684Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 01:10:29 np0000093999 etcd[61167]: {"level":"info","ts":"2026-04-17T01:10:29.013168Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:29 np0000093999 etcd[61167]: {"level":"info","ts":"2026-04-17T01:10:29.013284Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093999","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:29 np0000093999 etcd[61167]: {"level":"info","ts":"2026-04-17T01:10:29.013365Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093999","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 01:10:29 np0000093999 etcd[61167]: {"level":"warn","ts":"2026-04-17T01:10:29.013420Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 01:10:29 np0000093999 etcd[61167]: {"level":"fatal","ts":"2026-04-17T01:10:29.013515Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 01:10:29 np0000093999 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 01:10:29 np0000093999 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 01:10:29 np0000093999 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 01:10:29 np0000093999 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 17 01:10:29 np0000093999 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 17 01:10:29 np0000093999 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 01:10:29 np0000093999 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
