Apr 15 05:42:01 np0000093964 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 05:42:01 np0000093964 etcd[60212]: {"level":"warn","ts":"2026-04-15T05:42:01.145935Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 05:42:01 np0000093964 etcd[60212]: {"level":"info","ts":"2026-04-15T05:42:01.146103Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093964","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093964=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 05:42:01 np0000093964 etcd[60212]: {"level":"warn","ts":"2026-04-15T05:42:01.146281Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 05:42:01 np0000093964 etcd[60212]: {"level":"info","ts":"2026-04-15T05:42:01.146310Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 05:42:01 np0000093964 etcd[60212]: {"level":"info","ts":"2026-04-15T05:42:01.146850Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:01 np0000093964 etcd[60212]: {"level":"info","ts":"2026-04-15T05:42:01.146995Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093964","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:01 np0000093964 etcd[60212]: {"level":"info","ts":"2026-04-15T05:42:01.147093Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093964","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:01 np0000093964 etcd[60212]: {"level":"warn","ts":"2026-04-15T05:42:01.147169Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 05:42:01 np0000093964 etcd[60212]: {"level":"fatal","ts":"2026-04-15T05:42:01.147233Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 05:42:01 np0000093964 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 05:42:01 np0000093964 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 05:42:01 np0000093964 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 05:42:01 np0000093964 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 15 05:42:01 np0000093964 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 05:42:01 np0000093964 etcd[60287]: {"level":"warn","ts":"2026-04-15T05:42:01.386218Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 05:42:01 np0000093964 etcd[60287]: {"level":"info","ts":"2026-04-15T05:42:01.386377Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093964","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093964=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 05:42:01 np0000093964 etcd[60287]: {"level":"warn","ts":"2026-04-15T05:42:01.386507Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 05:42:01 np0000093964 etcd[60287]: {"level":"info","ts":"2026-04-15T05:42:01.386531Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 05:42:01 np0000093964 etcd[60287]: {"level":"info","ts":"2026-04-15T05:42:01.386962Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:01 np0000093964 etcd[60287]: {"level":"info","ts":"2026-04-15T05:42:01.387053Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093964","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:01 np0000093964 etcd[60287]: {"level":"info","ts":"2026-04-15T05:42:01.387130Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093964","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:01 np0000093964 etcd[60287]: {"level":"warn","ts":"2026-04-15T05:42:01.387190Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 05:42:01 np0000093964 etcd[60287]: {"level":"fatal","ts":"2026-04-15T05:42:01.387239Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 05:42:01 np0000093964 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 05:42:01 np0000093964 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 05:42:01 np0000093964 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 05:42:01 np0000093964 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 15 05:42:01 np0000093964 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 05:42:01 np0000093964 etcd[60350]: {"level":"warn","ts":"2026-04-15T05:42:01.617350Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 05:42:01 np0000093964 etcd[60350]: {"level":"info","ts":"2026-04-15T05:42:01.617470Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093964","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093964=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 05:42:01 np0000093964 etcd[60350]: {"level":"warn","ts":"2026-04-15T05:42:01.617655Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 05:42:01 np0000093964 etcd[60350]: {"level":"info","ts":"2026-04-15T05:42:01.617678Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 05:42:01 np0000093964 etcd[60350]: {"level":"info","ts":"2026-04-15T05:42:01.617982Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:01 np0000093964 etcd[60350]: {"level":"info","ts":"2026-04-15T05:42:01.618062Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093964","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:01 np0000093964 etcd[60350]: {"level":"info","ts":"2026-04-15T05:42:01.618115Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093964","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:01 np0000093964 etcd[60350]: {"level":"warn","ts":"2026-04-15T05:42:01.618166Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 05:42:01 np0000093964 etcd[60350]: {"level":"fatal","ts":"2026-04-15T05:42:01.618209Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 05:42:01 np0000093964 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 05:42:01 np0000093964 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 05:42:01 np0000093964 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 05:42:01 np0000093964 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 15 05:42:01 np0000093964 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 05:42:01 np0000093964 etcd[60389]: {"level":"warn","ts":"2026-04-15T05:42:01.883705Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 05:42:01 np0000093964 etcd[60389]: {"level":"info","ts":"2026-04-15T05:42:01.883853Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093964","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093964=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 05:42:01 np0000093964 etcd[60389]: {"level":"warn","ts":"2026-04-15T05:42:01.883995Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 05:42:01 np0000093964 etcd[60389]: {"level":"info","ts":"2026-04-15T05:42:01.884041Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 05:42:01 np0000093964 etcd[60389]: {"level":"info","ts":"2026-04-15T05:42:01.884452Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:01 np0000093964 etcd[60389]: {"level":"info","ts":"2026-04-15T05:42:01.884548Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093964","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:01 np0000093964 etcd[60389]: {"level":"info","ts":"2026-04-15T05:42:01.884642Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093964","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:01 np0000093964 etcd[60389]: {"level":"warn","ts":"2026-04-15T05:42:01.884686Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 05:42:01 np0000093964 etcd[60389]: {"level":"fatal","ts":"2026-04-15T05:42:01.884738Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 05:42:01 np0000093964 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 05:42:01 np0000093964 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 05:42:01 np0000093964 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 05:42:02 np0000093964 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 15 05:42:02 np0000093964 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 05:42:02 np0000093964 etcd[60423]: {"level":"warn","ts":"2026-04-15T05:42:02.143630Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 05:42:02 np0000093964 etcd[60423]: {"level":"info","ts":"2026-04-15T05:42:02.143809Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093964","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093964=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 05:42:02 np0000093964 etcd[60423]: {"level":"warn","ts":"2026-04-15T05:42:02.144001Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 05:42:02 np0000093964 etcd[60423]: {"level":"info","ts":"2026-04-15T05:42:02.144049Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 05:42:02 np0000093964 etcd[60423]: {"level":"info","ts":"2026-04-15T05:42:02.144519Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:02 np0000093964 etcd[60423]: {"level":"info","ts":"2026-04-15T05:42:02.146014Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093964","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:02 np0000093964 etcd[60423]: {"level":"info","ts":"2026-04-15T05:42:02.146111Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093964","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 05:42:02 np0000093964 etcd[60423]: {"level":"warn","ts":"2026-04-15T05:42:02.146191Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 05:42:02 np0000093964 etcd[60423]: {"level":"fatal","ts":"2026-04-15T05:42:02.146274Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 05:42:02 np0000093964 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 05:42:02 np0000093964 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 05:42:02 np0000093964 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 05:42:02 np0000093964 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 15 05:42:02 np0000093964 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 15 05:42:02 np0000093964 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 05:42:02 np0000093964 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
