Jun 09 03:17:45 np0000094281 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 03:17:45 np0000094281 etcd[66196]: {"level":"warn","ts":"2026-06-09T03:17:45.922133Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 03:17:45 np0000094281 etcd[66196]: {"level":"info","ts":"2026-06-09T03:17:45.922311Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094281","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094281=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 03:17:45 np0000094281 etcd[66196]: {"level":"warn","ts":"2026-06-09T03:17:45.922470Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 03:17:45 np0000094281 etcd[66196]: {"level":"info","ts":"2026-06-09T03:17:45.922504Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 03:17:45 np0000094281 etcd[66196]: {"level":"info","ts":"2026-06-09T03:17:45.922948Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:45 np0000094281 etcd[66196]: {"level":"info","ts":"2026-06-09T03:17:45.923042Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094281","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:45 np0000094281 etcd[66196]: {"level":"info","ts":"2026-06-09T03:17:45.923127Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094281","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:45 np0000094281 etcd[66196]: {"level":"warn","ts":"2026-06-09T03:17:45.923189Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 03:17:45 np0000094281 etcd[66196]: {"level":"fatal","ts":"2026-06-09T03:17:45.923243Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 03:17:45 np0000094281 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 03:17:45 np0000094281 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 03:17:45 np0000094281 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 03:17:46 np0000094281 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 09 03:17:46 np0000094281 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 03:17:46 np0000094281 etcd[66288]: {"level":"warn","ts":"2026-06-09T03:17:46.304979Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 03:17:46 np0000094281 etcd[66288]: {"level":"info","ts":"2026-06-09T03:17:46.305209Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094281","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094281=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 03:17:46 np0000094281 etcd[66288]: {"level":"warn","ts":"2026-06-09T03:17:46.305422Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 03:17:46 np0000094281 etcd[66288]: {"level":"info","ts":"2026-06-09T03:17:46.305455Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 03:17:46 np0000094281 etcd[66288]: {"level":"info","ts":"2026-06-09T03:17:46.306007Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:46 np0000094281 etcd[66288]: {"level":"info","ts":"2026-06-09T03:17:46.306246Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094281","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:46 np0000094281 etcd[66288]: {"level":"info","ts":"2026-06-09T03:17:46.306337Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094281","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:46 np0000094281 etcd[66288]: {"level":"warn","ts":"2026-06-09T03:17:46.306410Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 03:17:46 np0000094281 etcd[66288]: {"level":"fatal","ts":"2026-06-09T03:17:46.306496Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 03:17:46 np0000094281 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 03:17:46 np0000094281 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 03:17:46 np0000094281 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 03:17:46 np0000094281 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 09 03:17:46 np0000094281 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 03:17:46 np0000094281 etcd[66316]: {"level":"warn","ts":"2026-06-09T03:17:46.550791Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 03:17:46 np0000094281 etcd[66316]: {"level":"info","ts":"2026-06-09T03:17:46.551009Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094281","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094281=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 03:17:46 np0000094281 etcd[66316]: {"level":"warn","ts":"2026-06-09T03:17:46.551220Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 03:17:46 np0000094281 etcd[66316]: {"level":"info","ts":"2026-06-09T03:17:46.551266Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 03:17:46 np0000094281 etcd[66316]: {"level":"info","ts":"2026-06-09T03:17:46.551764Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:46 np0000094281 etcd[66316]: {"level":"info","ts":"2026-06-09T03:17:46.551890Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094281","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:46 np0000094281 etcd[66316]: {"level":"info","ts":"2026-06-09T03:17:46.551974Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094281","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:46 np0000094281 etcd[66316]: {"level":"warn","ts":"2026-06-09T03:17:46.552034Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 03:17:46 np0000094281 etcd[66316]: {"level":"fatal","ts":"2026-06-09T03:17:46.552160Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 03:17:46 np0000094281 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 03:17:46 np0000094281 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 03:17:46 np0000094281 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 03:17:46 np0000094281 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 09 03:17:46 np0000094281 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 03:17:46 np0000094281 etcd[66336]: {"level":"warn","ts":"2026-06-09T03:17:46.809416Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 03:17:46 np0000094281 etcd[66336]: {"level":"info","ts":"2026-06-09T03:17:46.809607Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094281","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094281=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 03:17:46 np0000094281 etcd[66336]: {"level":"warn","ts":"2026-06-09T03:17:46.809808Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 03:17:46 np0000094281 etcd[66336]: {"level":"info","ts":"2026-06-09T03:17:46.809850Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 03:17:46 np0000094281 etcd[66336]: {"level":"info","ts":"2026-06-09T03:17:46.811086Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:46 np0000094281 etcd[66336]: {"level":"info","ts":"2026-06-09T03:17:46.811304Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094281","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:46 np0000094281 etcd[66336]: {"level":"info","ts":"2026-06-09T03:17:46.811392Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094281","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:46 np0000094281 etcd[66336]: {"level":"warn","ts":"2026-06-09T03:17:46.811454Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 03:17:46 np0000094281 etcd[66336]: {"level":"fatal","ts":"2026-06-09T03:17:46.811523Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 03:17:46 np0000094281 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 03:17:46 np0000094281 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 03:17:46 np0000094281 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 03:17:46 np0000094281 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 09 03:17:47 np0000094281 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 03:17:47 np0000094281 etcd[66369]: {"level":"warn","ts":"2026-06-09T03:17:47.055798Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 03:17:47 np0000094281 etcd[66369]: {"level":"info","ts":"2026-06-09T03:17:47.055982Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094281","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094281=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 03:17:47 np0000094281 etcd[66369]: {"level":"warn","ts":"2026-06-09T03:17:47.056159Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 03:17:47 np0000094281 etcd[66369]: {"level":"info","ts":"2026-06-09T03:17:47.056196Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 03:17:47 np0000094281 etcd[66369]: {"level":"info","ts":"2026-06-09T03:17:47.056601Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:47 np0000094281 etcd[66369]: {"level":"info","ts":"2026-06-09T03:17:47.056781Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094281","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:47 np0000094281 etcd[66369]: {"level":"info","ts":"2026-06-09T03:17:47.056884Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094281","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 03:17:47 np0000094281 etcd[66369]: {"level":"warn","ts":"2026-06-09T03:17:47.056936Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 03:17:47 np0000094281 etcd[66369]: {"level":"fatal","ts":"2026-06-09T03:17:47.056995Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 03:17:47 np0000094281 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 03:17:47 np0000094281 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 03:17:47 np0000094281 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 03:17:47 np0000094281 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 09 03:17:47 np0000094281 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 09 03:17:47 np0000094281 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 03:17:47 np0000094281 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
