Jun 09 04:14:19 np0000094282 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 04:14:19 np0000094282 etcd[65274]: {"level":"warn","ts":"2026-06-09T04:14:19.371908Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 04:14:19 np0000094282 etcd[65274]: {"level":"info","ts":"2026-06-09T04:14:19.372144Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094282","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094282=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 04:14:19 np0000094282 etcd[65274]: {"level":"warn","ts":"2026-06-09T04:14:19.372356Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 04:14:19 np0000094282 etcd[65274]: {"level":"info","ts":"2026-06-09T04:14:19.372388Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 04:14:19 np0000094282 etcd[65274]: {"level":"info","ts":"2026-06-09T04:14:19.372888Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:19 np0000094282 etcd[65274]: {"level":"info","ts":"2026-06-09T04:14:19.373024Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094282","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:19 np0000094282 etcd[65274]: {"level":"info","ts":"2026-06-09T04:14:19.373104Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094282","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:19 np0000094282 etcd[65274]: {"level":"warn","ts":"2026-06-09T04:14:19.373178Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 04:14:19 np0000094282 etcd[65274]: {"level":"fatal","ts":"2026-06-09T04:14:19.373240Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 04:14:19 np0000094282 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 04:14:19 np0000094282 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 04:14:19 np0000094282 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 04:14:19 np0000094282 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 09 04:14:19 np0000094282 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 04:14:19 np0000094282 etcd[65371]: {"level":"warn","ts":"2026-06-09T04:14:19.753034Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 04:14:19 np0000094282 etcd[65371]: {"level":"info","ts":"2026-06-09T04:14:19.753217Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094282","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094282=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 04:14:19 np0000094282 etcd[65371]: {"level":"warn","ts":"2026-06-09T04:14:19.753401Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 04:14:19 np0000094282 etcd[65371]: {"level":"info","ts":"2026-06-09T04:14:19.753432Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 04:14:19 np0000094282 etcd[65371]: {"level":"info","ts":"2026-06-09T04:14:19.753909Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:19 np0000094282 etcd[65371]: {"level":"info","ts":"2026-06-09T04:14:19.754041Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094282","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:19 np0000094282 etcd[65371]: {"level":"info","ts":"2026-06-09T04:14:19.754138Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094282","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:19 np0000094282 etcd[65371]: {"level":"warn","ts":"2026-06-09T04:14:19.754193Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 04:14:19 np0000094282 etcd[65371]: {"level":"fatal","ts":"2026-06-09T04:14:19.754253Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 04:14:19 np0000094282 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 04:14:19 np0000094282 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 04:14:19 np0000094282 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 04:14:19 np0000094282 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 09 04:14:19 np0000094282 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 04:14:20 np0000094282 etcd[65394]: {"level":"warn","ts":"2026-06-09T04:14:20.001396Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 04:14:20 np0000094282 etcd[65394]: {"level":"info","ts":"2026-06-09T04:14:20.001607Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094282","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094282=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 04:14:20 np0000094282 etcd[65394]: {"level":"warn","ts":"2026-06-09T04:14:20.001792Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 04:14:20 np0000094282 etcd[65394]: {"level":"info","ts":"2026-06-09T04:14:20.001832Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 04:14:20 np0000094282 etcd[65394]: {"level":"info","ts":"2026-06-09T04:14:20.002392Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:20 np0000094282 etcd[65394]: {"level":"info","ts":"2026-06-09T04:14:20.002520Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094282","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:20 np0000094282 etcd[65394]: {"level":"info","ts":"2026-06-09T04:14:20.002604Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094282","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:20 np0000094282 etcd[65394]: {"level":"warn","ts":"2026-06-09T04:14:20.002663Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 04:14:20 np0000094282 etcd[65394]: {"level":"fatal","ts":"2026-06-09T04:14:20.002729Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 04:14:20 np0000094282 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 04:14:20 np0000094282 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 04:14:20 np0000094282 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 04:14:20 np0000094282 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 09 04:14:20 np0000094282 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 04:14:20 np0000094282 etcd[65402]: {"level":"warn","ts":"2026-06-09T04:14:20.261190Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 04:14:20 np0000094282 etcd[65402]: {"level":"info","ts":"2026-06-09T04:14:20.261405Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094282","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094282=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 04:14:20 np0000094282 etcd[65402]: {"level":"warn","ts":"2026-06-09T04:14:20.261579Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 04:14:20 np0000094282 etcd[65402]: {"level":"info","ts":"2026-06-09T04:14:20.261611Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 04:14:20 np0000094282 etcd[65402]: {"level":"info","ts":"2026-06-09T04:14:20.262092Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:20 np0000094282 etcd[65402]: {"level":"info","ts":"2026-06-09T04:14:20.262223Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094282","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:20 np0000094282 etcd[65402]: {"level":"info","ts":"2026-06-09T04:14:20.262338Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094282","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:20 np0000094282 etcd[65402]: {"level":"warn","ts":"2026-06-09T04:14:20.262397Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 04:14:20 np0000094282 etcd[65402]: {"level":"fatal","ts":"2026-06-09T04:14:20.262462Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 04:14:20 np0000094282 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 04:14:20 np0000094282 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 04:14:20 np0000094282 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 04:14:20 np0000094282 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 09 04:14:20 np0000094282 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 09 04:14:20 np0000094282 etcd[65423]: {"level":"warn","ts":"2026-06-09T04:14:20.507127Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 04:14:20 np0000094282 etcd[65423]: {"level":"info","ts":"2026-06-09T04:14:20.507332Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094282","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094282=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 09 04:14:20 np0000094282 etcd[65423]: {"level":"warn","ts":"2026-06-09T04:14:20.507523Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 09 04:14:20 np0000094282 etcd[65423]: {"level":"info","ts":"2026-06-09T04:14:20.507565Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 09 04:14:20 np0000094282 etcd[65423]: {"level":"info","ts":"2026-06-09T04:14:20.507961Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:20 np0000094282 etcd[65423]: {"level":"info","ts":"2026-06-09T04:14:20.508225Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094282","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:20 np0000094282 etcd[65423]: {"level":"info","ts":"2026-06-09T04:14:20.508366Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094282","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 09 04:14:20 np0000094282 etcd[65423]: {"level":"warn","ts":"2026-06-09T04:14:20.508424Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 09 04:14:20 np0000094282 etcd[65423]: {"level":"fatal","ts":"2026-06-09T04:14:20.508504Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 09 04:14:20 np0000094282 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 09 04:14:20 np0000094282 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 04:14:20 np0000094282 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 09 04:14:20 np0000094282 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 09 04:14:20 np0000094282 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 09 04:14:20 np0000094282 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 09 04:14:20 np0000094282 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
