Jun 18 14:55:01 np0000094394 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 14:55:01 np0000094394 etcd[60182]: {"level":"warn","ts":"2026-06-18T14:55:01.077295Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 14:55:01 np0000094394 etcd[60182]: {"level":"info","ts":"2026-06-18T14:55:01.077432Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094394","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094394=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 14:55:01 np0000094394 etcd[60182]: {"level":"warn","ts":"2026-06-18T14:55:01.077552Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 14:55:01 np0000094394 etcd[60182]: {"level":"info","ts":"2026-06-18T14:55:01.077581Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 14:55:01 np0000094394 etcd[60182]: {"level":"info","ts":"2026-06-18T14:55:01.078016Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:01 np0000094394 etcd[60182]: {"level":"info","ts":"2026-06-18T14:55:01.078107Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094394","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:01 np0000094394 etcd[60182]: {"level":"info","ts":"2026-06-18T14:55:01.078170Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094394","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:01 np0000094394 etcd[60182]: {"level":"warn","ts":"2026-06-18T14:55:01.078219Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 14:55:01 np0000094394 etcd[60182]: {"level":"fatal","ts":"2026-06-18T14:55:01.078267Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 14:55:01 np0000094394 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 14:55:01 np0000094394 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 14:55:01 np0000094394 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 14:55:01 np0000094394 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 18 14:55:01 np0000094394 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 14:55:01 np0000094394 etcd[60323]: {"level":"warn","ts":"2026-06-18T14:55:01.341522Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 14:55:01 np0000094394 etcd[60323]: {"level":"info","ts":"2026-06-18T14:55:01.341744Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094394","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094394=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 14:55:01 np0000094394 etcd[60323]: {"level":"warn","ts":"2026-06-18T14:55:01.341908Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 14:55:01 np0000094394 etcd[60323]: {"level":"info","ts":"2026-06-18T14:55:01.341937Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 14:55:01 np0000094394 etcd[60323]: {"level":"info","ts":"2026-06-18T14:55:01.342444Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:01 np0000094394 etcd[60323]: {"level":"info","ts":"2026-06-18T14:55:01.342573Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094394","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:01 np0000094394 etcd[60323]: {"level":"info","ts":"2026-06-18T14:55:01.342650Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094394","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:01 np0000094394 etcd[60323]: {"level":"warn","ts":"2026-06-18T14:55:01.342816Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 14:55:01 np0000094394 etcd[60323]: {"level":"fatal","ts":"2026-06-18T14:55:01.343365Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 14:55:01 np0000094394 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 14:55:01 np0000094394 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 14:55:01 np0000094394 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 14:55:01 np0000094394 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 18 14:55:01 np0000094394 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 14:55:01 np0000094394 etcd[60443]: {"level":"warn","ts":"2026-06-18T14:55:01.561359Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 14:55:01 np0000094394 etcd[60443]: {"level":"info","ts":"2026-06-18T14:55:01.561570Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094394","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094394=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 14:55:01 np0000094394 etcd[60443]: {"level":"warn","ts":"2026-06-18T14:55:01.561793Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 14:55:01 np0000094394 etcd[60443]: {"level":"info","ts":"2026-06-18T14:55:01.561842Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 14:55:01 np0000094394 etcd[60443]: {"level":"info","ts":"2026-06-18T14:55:01.562347Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:01 np0000094394 etcd[60443]: {"level":"info","ts":"2026-06-18T14:55:01.562472Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094394","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:01 np0000094394 etcd[60443]: {"level":"info","ts":"2026-06-18T14:55:01.562556Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094394","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:01 np0000094394 etcd[60443]: {"level":"warn","ts":"2026-06-18T14:55:01.562613Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 14:55:01 np0000094394 etcd[60443]: {"level":"fatal","ts":"2026-06-18T14:55:01.562749Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 14:55:01 np0000094394 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 14:55:01 np0000094394 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 14:55:01 np0000094394 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 14:55:01 np0000094394 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 18 14:55:01 np0000094394 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 14:55:01 np0000094394 etcd[60461]: {"level":"warn","ts":"2026-06-18T14:55:01.845735Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 14:55:01 np0000094394 etcd[60461]: {"level":"info","ts":"2026-06-18T14:55:01.845951Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094394","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094394=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 14:55:01 np0000094394 etcd[60461]: {"level":"warn","ts":"2026-06-18T14:55:01.846114Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 14:55:01 np0000094394 etcd[60461]: {"level":"info","ts":"2026-06-18T14:55:01.846156Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 14:55:01 np0000094394 etcd[60461]: {"level":"info","ts":"2026-06-18T14:55:01.846644Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:01 np0000094394 etcd[60461]: {"level":"info","ts":"2026-06-18T14:55:01.846832Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094394","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:01 np0000094394 etcd[60461]: {"level":"info","ts":"2026-06-18T14:55:01.846927Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094394","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:01 np0000094394 etcd[60461]: {"level":"warn","ts":"2026-06-18T14:55:01.846997Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 14:55:01 np0000094394 etcd[60461]: {"level":"fatal","ts":"2026-06-18T14:55:01.847096Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 14:55:01 np0000094394 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 14:55:01 np0000094394 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 14:55:01 np0000094394 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 14:55:02 np0000094394 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 18 14:55:02 np0000094394 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 14:55:02 np0000094394 etcd[60494]: {"level":"warn","ts":"2026-06-18T14:55:02.095325Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 14:55:02 np0000094394 etcd[60494]: {"level":"info","ts":"2026-06-18T14:55:02.095519Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094394","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094394=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 14:55:02 np0000094394 etcd[60494]: {"level":"warn","ts":"2026-06-18T14:55:02.095681Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 14:55:02 np0000094394 etcd[60494]: {"level":"info","ts":"2026-06-18T14:55:02.095751Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 14:55:02 np0000094394 etcd[60494]: {"level":"info","ts":"2026-06-18T14:55:02.096218Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:02 np0000094394 etcd[60494]: {"level":"info","ts":"2026-06-18T14:55:02.096365Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094394","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:02 np0000094394 etcd[60494]: {"level":"info","ts":"2026-06-18T14:55:02.096464Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094394","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 14:55:02 np0000094394 etcd[60494]: {"level":"warn","ts":"2026-06-18T14:55:02.096560Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 14:55:02 np0000094394 etcd[60494]: {"level":"fatal","ts":"2026-06-18T14:55:02.096635Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 14:55:02 np0000094394 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 14:55:02 np0000094394 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 14:55:02 np0000094394 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 14:55:02 np0000094394 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 18 14:55:02 np0000094394 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 18 14:55:02 np0000094394 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 14:55:02 np0000094394 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
