May 20 09:44:43 np0000094142 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 09:44:43 np0000094142 etcd[60167]: {"level":"warn","ts":"2026-05-20T09:44:43.275661Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 09:44:43 np0000094142 etcd[60167]: {"level":"info","ts":"2026-05-20T09:44:43.276845Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094142","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094142=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 09:44:43 np0000094142 etcd[60167]: {"level":"warn","ts":"2026-05-20T09:44:43.277390Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 09:44:43 np0000094142 etcd[60167]: {"level":"info","ts":"2026-05-20T09:44:43.277702Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 09:44:43 np0000094142 etcd[60167]: {"level":"info","ts":"2026-05-20T09:44:43.278313Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:43 np0000094142 etcd[60167]: {"level":"info","ts":"2026-05-20T09:44:43.278682Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094142","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:43 np0000094142 etcd[60167]: {"level":"info","ts":"2026-05-20T09:44:43.278963Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094142","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:43 np0000094142 etcd[60167]: {"level":"warn","ts":"2026-05-20T09:44:43.279023Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 09:44:43 np0000094142 etcd[60167]: {"level":"fatal","ts":"2026-05-20T09:44:43.279082Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 09:44:43 np0000094142 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 09:44:43 np0000094142 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 09:44:43 np0000094142 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 09:44:43 np0000094142 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 20 09:44:43 np0000094142 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 09:44:43 np0000094142 etcd[60225]: {"level":"warn","ts":"2026-05-20T09:44:43.471265Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 09:44:43 np0000094142 etcd[60225]: {"level":"info","ts":"2026-05-20T09:44:43.471420Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094142","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094142=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 09:44:43 np0000094142 etcd[60225]: {"level":"warn","ts":"2026-05-20T09:44:43.471570Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 09:44:43 np0000094142 etcd[60225]: {"level":"info","ts":"2026-05-20T09:44:43.471608Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 09:44:43 np0000094142 etcd[60225]: {"level":"info","ts":"2026-05-20T09:44:43.472011Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:43 np0000094142 etcd[60225]: {"level":"info","ts":"2026-05-20T09:44:43.472128Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094142","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:43 np0000094142 etcd[60225]: {"level":"info","ts":"2026-05-20T09:44:43.472190Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094142","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:43 np0000094142 etcd[60225]: {"level":"warn","ts":"2026-05-20T09:44:43.472232Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 09:44:43 np0000094142 etcd[60225]: {"level":"fatal","ts":"2026-05-20T09:44:43.472294Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 09:44:43 np0000094142 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 09:44:43 np0000094142 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 09:44:43 np0000094142 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 09:44:43 np0000094142 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 20 09:44:43 np0000094142 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 09:44:43 np0000094142 etcd[60287]: {"level":"warn","ts":"2026-05-20T09:44:43.751750Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 09:44:43 np0000094142 etcd[60287]: {"level":"info","ts":"2026-05-20T09:44:43.751956Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094142","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094142=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 09:44:43 np0000094142 etcd[60287]: {"level":"warn","ts":"2026-05-20T09:44:43.752132Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 09:44:43 np0000094142 etcd[60287]: {"level":"info","ts":"2026-05-20T09:44:43.752181Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 09:44:43 np0000094142 etcd[60287]: {"level":"info","ts":"2026-05-20T09:44:43.752784Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:43 np0000094142 etcd[60287]: {"level":"info","ts":"2026-05-20T09:44:43.752910Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094142","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:43 np0000094142 etcd[60287]: {"level":"info","ts":"2026-05-20T09:44:43.752992Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094142","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:43 np0000094142 etcd[60287]: {"level":"warn","ts":"2026-05-20T09:44:43.753051Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 09:44:43 np0000094142 etcd[60287]: {"level":"fatal","ts":"2026-05-20T09:44:43.753118Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 09:44:43 np0000094142 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 09:44:43 np0000094142 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 09:44:43 np0000094142 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 09:44:43 np0000094142 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 20 09:44:43 np0000094142 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 09:44:43 np0000094142 etcd[60294]: {"level":"warn","ts":"2026-05-20T09:44:43.979569Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 09:44:43 np0000094142 etcd[60294]: {"level":"info","ts":"2026-05-20T09:44:43.979690Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094142","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094142=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 09:44:43 np0000094142 etcd[60294]: {"level":"warn","ts":"2026-05-20T09:44:43.979819Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 09:44:43 np0000094142 etcd[60294]: {"level":"info","ts":"2026-05-20T09:44:43.979841Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 09:44:43 np0000094142 etcd[60294]: {"level":"info","ts":"2026-05-20T09:44:43.980108Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:43 np0000094142 etcd[60294]: {"level":"info","ts":"2026-05-20T09:44:43.980170Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094142","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:43 np0000094142 etcd[60294]: {"level":"info","ts":"2026-05-20T09:44:43.980220Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094142","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:43 np0000094142 etcd[60294]: {"level":"warn","ts":"2026-05-20T09:44:43.980248Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 09:44:43 np0000094142 etcd[60294]: {"level":"fatal","ts":"2026-05-20T09:44:43.980288Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 09:44:43 np0000094142 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 09:44:43 np0000094142 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 09:44:43 np0000094142 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 09:44:44 np0000094142 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 20 09:44:44 np0000094142 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 09:44:44 np0000094142 etcd[60335]: {"level":"warn","ts":"2026-05-20T09:44:44.231188Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 09:44:44 np0000094142 etcd[60335]: {"level":"info","ts":"2026-05-20T09:44:44.231355Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094142","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094142=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 09:44:44 np0000094142 etcd[60335]: {"level":"warn","ts":"2026-05-20T09:44:44.231549Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 09:44:44 np0000094142 etcd[60335]: {"level":"info","ts":"2026-05-20T09:44:44.231588Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 09:44:44 np0000094142 etcd[60335]: {"level":"info","ts":"2026-05-20T09:44:44.232080Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:44 np0000094142 etcd[60335]: {"level":"info","ts":"2026-05-20T09:44:44.232194Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094142","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:44 np0000094142 etcd[60335]: {"level":"info","ts":"2026-05-20T09:44:44.232275Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094142","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 09:44:44 np0000094142 etcd[60335]: {"level":"warn","ts":"2026-05-20T09:44:44.232335Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 09:44:44 np0000094142 etcd[60335]: {"level":"fatal","ts":"2026-05-20T09:44:44.232415Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 09:44:44 np0000094142 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 09:44:44 np0000094142 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 09:44:44 np0000094142 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 09:44:44 np0000094142 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 20 09:44:44 np0000094142 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 20 09:44:44 np0000094142 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 09:44:44 np0000094142 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
