Apr 06 13:30:55 np0000093851 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 13:30:55 np0000093851 etcd[60648]: {"level":"warn","ts":"2026-04-06T13:30:55.207724Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 13:30:55 np0000093851 etcd[60648]: {"level":"info","ts":"2026-04-06T13:30:55.207916Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093851","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093851=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 13:30:55 np0000093851 etcd[60648]: {"level":"warn","ts":"2026-04-06T13:30:55.208095Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 13:30:55 np0000093851 etcd[60648]: {"level":"info","ts":"2026-04-06T13:30:55.208139Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 13:30:55 np0000093851 etcd[60648]: {"level":"info","ts":"2026-04-06T13:30:55.209420Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:55 np0000093851 etcd[60648]: {"level":"info","ts":"2026-04-06T13:30:55.209610Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093851","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:55 np0000093851 etcd[60648]: {"level":"info","ts":"2026-04-06T13:30:55.209691Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093851","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:55 np0000093851 etcd[60648]: {"level":"warn","ts":"2026-04-06T13:30:55.209753Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 13:30:55 np0000093851 etcd[60648]: {"level":"fatal","ts":"2026-04-06T13:30:55.209813Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 13:30:55 np0000093851 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 13:30:55 np0000093851 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 13:30:55 np0000093851 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 13:30:55 np0000093851 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 06 13:30:55 np0000093851 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 13:30:55 np0000093851 etcd[60701]: {"level":"warn","ts":"2026-04-06T13:30:55.440088Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 13:30:55 np0000093851 etcd[60701]: {"level":"info","ts":"2026-04-06T13:30:55.440265Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093851","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093851=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 13:30:55 np0000093851 etcd[60701]: {"level":"warn","ts":"2026-04-06T13:30:55.440426Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 13:30:55 np0000093851 etcd[60701]: {"level":"info","ts":"2026-04-06T13:30:55.440457Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 13:30:55 np0000093851 etcd[60701]: {"level":"info","ts":"2026-04-06T13:30:55.440987Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:55 np0000093851 etcd[60701]: {"level":"info","ts":"2026-04-06T13:30:55.441095Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093851","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:55 np0000093851 etcd[60701]: {"level":"info","ts":"2026-04-06T13:30:55.441169Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093851","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:55 np0000093851 etcd[60701]: {"level":"warn","ts":"2026-04-06T13:30:55.441222Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 13:30:55 np0000093851 etcd[60701]: {"level":"fatal","ts":"2026-04-06T13:30:55.441298Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 13:30:55 np0000093851 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 13:30:55 np0000093851 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 13:30:55 np0000093851 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 13:30:55 np0000093851 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 06 13:30:55 np0000093851 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 13:30:55 np0000093851 etcd[60767]: {"level":"warn","ts":"2026-04-06T13:30:55.688638Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 13:30:55 np0000093851 etcd[60767]: {"level":"info","ts":"2026-04-06T13:30:55.688828Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093851","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093851=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 13:30:55 np0000093851 etcd[60767]: {"level":"warn","ts":"2026-04-06T13:30:55.689036Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 13:30:55 np0000093851 etcd[60767]: {"level":"info","ts":"2026-04-06T13:30:55.689071Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 13:30:55 np0000093851 etcd[60767]: {"level":"info","ts":"2026-04-06T13:30:55.689644Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:55 np0000093851 etcd[60767]: {"level":"info","ts":"2026-04-06T13:30:55.689805Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093851","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:55 np0000093851 etcd[60767]: {"level":"info","ts":"2026-04-06T13:30:55.689899Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093851","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:55 np0000093851 etcd[60767]: {"level":"warn","ts":"2026-04-06T13:30:55.689958Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 13:30:55 np0000093851 etcd[60767]: {"level":"fatal","ts":"2026-04-06T13:30:55.690045Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 13:30:55 np0000093851 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 13:30:55 np0000093851 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 13:30:55 np0000093851 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 13:30:55 np0000093851 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 06 13:30:55 np0000093851 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 13:30:55 np0000093851 etcd[60774]: {"level":"warn","ts":"2026-04-06T13:30:55.937268Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 13:30:55 np0000093851 etcd[60774]: {"level":"info","ts":"2026-04-06T13:30:55.938612Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093851","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093851=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 13:30:55 np0000093851 etcd[60774]: {"level":"warn","ts":"2026-04-06T13:30:55.938797Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 13:30:55 np0000093851 etcd[60774]: {"level":"info","ts":"2026-04-06T13:30:55.938838Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 13:30:55 np0000093851 etcd[60774]: {"level":"info","ts":"2026-04-06T13:30:55.939259Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:55 np0000093851 etcd[60774]: {"level":"info","ts":"2026-04-06T13:30:55.939371Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093851","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:55 np0000093851 etcd[60774]: {"level":"info","ts":"2026-04-06T13:30:55.940323Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093851","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:55 np0000093851 etcd[60774]: {"level":"warn","ts":"2026-04-06T13:30:55.940399Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 13:30:55 np0000093851 etcd[60774]: {"level":"fatal","ts":"2026-04-06T13:30:55.940511Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 13:30:55 np0000093851 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 13:30:55 np0000093851 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 13:30:55 np0000093851 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 13:30:56 np0000093851 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 06 13:30:56 np0000093851 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 13:30:56 np0000093851 etcd[60805]: {"level":"warn","ts":"2026-04-06T13:30:56.182107Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 13:30:56 np0000093851 etcd[60805]: {"level":"info","ts":"2026-04-06T13:30:56.182245Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093851","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093851=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 13:30:56 np0000093851 etcd[60805]: {"level":"warn","ts":"2026-04-06T13:30:56.182394Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 13:30:56 np0000093851 etcd[60805]: {"level":"info","ts":"2026-04-06T13:30:56.182419Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 13:30:56 np0000093851 etcd[60805]: {"level":"info","ts":"2026-04-06T13:30:56.182961Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:56 np0000093851 etcd[60805]: {"level":"info","ts":"2026-04-06T13:30:56.183060Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093851","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:56 np0000093851 etcd[60805]: {"level":"info","ts":"2026-04-06T13:30:56.183146Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093851","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 13:30:56 np0000093851 etcd[60805]: {"level":"warn","ts":"2026-04-06T13:30:56.183191Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 13:30:56 np0000093851 etcd[60805]: {"level":"fatal","ts":"2026-04-06T13:30:56.183244Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 13:30:56 np0000093851 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 13:30:56 np0000093851 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 13:30:56 np0000093851 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 13:30:56 np0000093851 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 06 13:30:56 np0000093851 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 06 13:30:56 np0000093851 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 13:30:56 np0000093851 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
