Apr 16 18:58:10 np0000093987 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 18:58:10 np0000093987 etcd[60895]: {"level":"warn","ts":"2026-04-16T18:58:10.523950Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 18:58:10 np0000093987 etcd[60895]: {"level":"info","ts":"2026-04-16T18:58:10.524136Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093987","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093987=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 18:58:10 np0000093987 etcd[60895]: {"level":"warn","ts":"2026-04-16T18:58:10.524321Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 18:58:10 np0000093987 etcd[60895]: {"level":"info","ts":"2026-04-16T18:58:10.524348Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 18:58:10 np0000093987 etcd[60895]: {"level":"info","ts":"2026-04-16T18:58:10.524837Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:10 np0000093987 etcd[60895]: {"level":"info","ts":"2026-04-16T18:58:10.524974Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093987","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:10 np0000093987 etcd[60895]: {"level":"info","ts":"2026-04-16T18:58:10.525039Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093987","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:10 np0000093987 etcd[60895]: {"level":"warn","ts":"2026-04-16T18:58:10.525103Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 18:58:10 np0000093987 etcd[60895]: {"level":"fatal","ts":"2026-04-16T18:58:10.525157Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 18:58:10 np0000093987 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 18:58:10 np0000093987 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 18:58:10 np0000093987 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 18:58:10 np0000093987 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 16 18:58:10 np0000093987 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 18:58:10 np0000093987 etcd[60980]: {"level":"warn","ts":"2026-04-16T18:58:10.884239Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 18:58:10 np0000093987 etcd[60980]: {"level":"info","ts":"2026-04-16T18:58:10.884428Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093987","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093987=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 18:58:10 np0000093987 etcd[60980]: {"level":"warn","ts":"2026-04-16T18:58:10.884671Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 18:58:10 np0000093987 etcd[60980]: {"level":"info","ts":"2026-04-16T18:58:10.884749Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 18:58:10 np0000093987 etcd[60980]: {"level":"info","ts":"2026-04-16T18:58:10.885373Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:10 np0000093987 etcd[60980]: {"level":"info","ts":"2026-04-16T18:58:10.885506Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093987","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:10 np0000093987 etcd[60980]: {"level":"info","ts":"2026-04-16T18:58:10.885612Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093987","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:10 np0000093987 etcd[60980]: {"level":"warn","ts":"2026-04-16T18:58:10.885679Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 18:58:10 np0000093987 etcd[60980]: {"level":"fatal","ts":"2026-04-16T18:58:10.885780Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 18:58:10 np0000093987 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 18:58:10 np0000093987 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 18:58:10 np0000093987 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 18:58:11 np0000093987 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 16 18:58:11 np0000093987 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 18:58:11 np0000093987 etcd[61016]: {"level":"warn","ts":"2026-04-16T18:58:11.134843Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 18:58:11 np0000093987 etcd[61016]: {"level":"info","ts":"2026-04-16T18:58:11.135054Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093987","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093987=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 18:58:11 np0000093987 etcd[61016]: {"level":"warn","ts":"2026-04-16T18:58:11.135234Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 18:58:11 np0000093987 etcd[61016]: {"level":"info","ts":"2026-04-16T18:58:11.135284Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 18:58:11 np0000093987 etcd[61016]: {"level":"info","ts":"2026-04-16T18:58:11.136102Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:11 np0000093987 etcd[61016]: {"level":"info","ts":"2026-04-16T18:58:11.136350Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093987","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:11 np0000093987 etcd[61016]: {"level":"info","ts":"2026-04-16T18:58:11.136509Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093987","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:11 np0000093987 etcd[61016]: {"level":"warn","ts":"2026-04-16T18:58:11.136622Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 18:58:11 np0000093987 etcd[61016]: {"level":"fatal","ts":"2026-04-16T18:58:11.136790Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 18:58:11 np0000093987 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 18:58:11 np0000093987 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 18:58:11 np0000093987 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 18:58:11 np0000093987 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 16 18:58:11 np0000093987 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 18:58:11 np0000093987 etcd[61036]: {"level":"warn","ts":"2026-04-16T18:58:11.370435Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 18:58:11 np0000093987 etcd[61036]: {"level":"info","ts":"2026-04-16T18:58:11.370662Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093987","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093987=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 18:58:11 np0000093987 etcd[61036]: {"level":"warn","ts":"2026-04-16T18:58:11.370847Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 18:58:11 np0000093987 etcd[61036]: {"level":"info","ts":"2026-04-16T18:58:11.370889Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 18:58:11 np0000093987 etcd[61036]: {"level":"info","ts":"2026-04-16T18:58:11.371438Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:11 np0000093987 etcd[61036]: {"level":"info","ts":"2026-04-16T18:58:11.371753Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093987","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:11 np0000093987 etcd[61036]: {"level":"info","ts":"2026-04-16T18:58:11.371946Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093987","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:11 np0000093987 etcd[61036]: {"level":"warn","ts":"2026-04-16T18:58:11.372012Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 18:58:11 np0000093987 etcd[61036]: {"level":"fatal","ts":"2026-04-16T18:58:11.372240Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 18:58:11 np0000093987 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 18:58:11 np0000093987 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 18:58:11 np0000093987 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 18:58:11 np0000093987 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 16 18:58:11 np0000093987 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 18:58:11 np0000093987 etcd[61071]: {"level":"warn","ts":"2026-04-16T18:58:11.615297Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 18:58:11 np0000093987 etcd[61071]: {"level":"info","ts":"2026-04-16T18:58:11.615482Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093987","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093987=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 18:58:11 np0000093987 etcd[61071]: {"level":"warn","ts":"2026-04-16T18:58:11.615693Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 18:58:11 np0000093987 etcd[61071]: {"level":"info","ts":"2026-04-16T18:58:11.615734Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 18:58:11 np0000093987 etcd[61071]: {"level":"info","ts":"2026-04-16T18:58:11.616281Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:11 np0000093987 etcd[61071]: {"level":"info","ts":"2026-04-16T18:58:11.616405Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093987","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:11 np0000093987 etcd[61071]: {"level":"info","ts":"2026-04-16T18:58:11.616489Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093987","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 18:58:11 np0000093987 etcd[61071]: {"level":"warn","ts":"2026-04-16T18:58:11.616812Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 18:58:11 np0000093987 etcd[61071]: {"level":"fatal","ts":"2026-04-16T18:58:11.616884Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 18:58:11 np0000093987 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 18:58:11 np0000093987 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 18:58:11 np0000093987 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 18:58:11 np0000093987 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 16 18:58:11 np0000093987 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 16 18:58:11 np0000093987 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 18:58:11 np0000093987 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
