Apr 16 20:37:12 np0000093991 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 20:37:12 np0000093991 etcd[60731]: {"level":"warn","ts":"2026-04-16T20:37:12.939323Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:37:12 np0000093991 etcd[60731]: {"level":"info","ts":"2026-04-16T20:37:12.940119Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093991","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093991=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 20:37:12 np0000093991 etcd[60731]: {"level":"warn","ts":"2026-04-16T20:37:12.940348Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:37:12 np0000093991 etcd[60731]: {"level":"info","ts":"2026-04-16T20:37:12.940397Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 20:37:12 np0000093991 etcd[60731]: {"level":"info","ts":"2026-04-16T20:37:12.942033Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:12 np0000093991 etcd[60731]: {"level":"info","ts":"2026-04-16T20:37:12.942291Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093991","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:12 np0000093991 etcd[60731]: {"level":"info","ts":"2026-04-16T20:37:12.943397Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093991","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:12 np0000093991 etcd[60731]: {"level":"warn","ts":"2026-04-16T20:37:12.943495Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 20:37:12 np0000093991 etcd[60731]: {"level":"fatal","ts":"2026-04-16T20:37:12.943610Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 20:37:12 np0000093991 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 20:37:12 np0000093991 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 20:37:12 np0000093991 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 20:37:13 np0000093991 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 16 20:37:13 np0000093991 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 20:37:13 np0000093991 etcd[60810]: {"level":"warn","ts":"2026-04-16T20:37:13.277426Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:37:13 np0000093991 etcd[60810]: {"level":"info","ts":"2026-04-16T20:37:13.277625Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093991","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093991=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 20:37:13 np0000093991 etcd[60810]: {"level":"warn","ts":"2026-04-16T20:37:13.278073Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:37:13 np0000093991 etcd[60810]: {"level":"info","ts":"2026-04-16T20:37:13.278129Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 20:37:13 np0000093991 etcd[60810]: {"level":"info","ts":"2026-04-16T20:37:13.278664Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:13 np0000093991 etcd[60810]: {"level":"info","ts":"2026-04-16T20:37:13.278811Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093991","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:13 np0000093991 etcd[60810]: {"level":"info","ts":"2026-04-16T20:37:13.278880Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093991","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:13 np0000093991 etcd[60810]: {"level":"warn","ts":"2026-04-16T20:37:13.278953Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 20:37:13 np0000093991 etcd[60810]: {"level":"fatal","ts":"2026-04-16T20:37:13.279118Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 20:37:13 np0000093991 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 20:37:13 np0000093991 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 20:37:13 np0000093991 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 20:37:13 np0000093991 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 16 20:37:13 np0000093991 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 20:37:13 np0000093991 etcd[60851]: {"level":"warn","ts":"2026-04-16T20:37:13.511332Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:37:13 np0000093991 etcd[60851]: {"level":"info","ts":"2026-04-16T20:37:13.511538Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093991","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093991=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 20:37:13 np0000093991 etcd[60851]: {"level":"warn","ts":"2026-04-16T20:37:13.511704Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:37:13 np0000093991 etcd[60851]: {"level":"info","ts":"2026-04-16T20:37:13.511745Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 20:37:13 np0000093991 etcd[60851]: {"level":"info","ts":"2026-04-16T20:37:13.512188Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:13 np0000093991 etcd[60851]: {"level":"info","ts":"2026-04-16T20:37:13.512320Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093991","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:13 np0000093991 etcd[60851]: {"level":"info","ts":"2026-04-16T20:37:13.512406Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093991","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:13 np0000093991 etcd[60851]: {"level":"warn","ts":"2026-04-16T20:37:13.512475Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 20:37:13 np0000093991 etcd[60851]: {"level":"fatal","ts":"2026-04-16T20:37:13.512541Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 20:37:13 np0000093991 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 20:37:13 np0000093991 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 20:37:13 np0000093991 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 20:37:13 np0000093991 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 16 20:37:13 np0000093991 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 20:37:13 np0000093991 etcd[60871]: {"level":"warn","ts":"2026-04-16T20:37:13.760305Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:37:13 np0000093991 etcd[60871]: {"level":"info","ts":"2026-04-16T20:37:13.760493Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093991","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093991=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 20:37:13 np0000093991 etcd[60871]: {"level":"warn","ts":"2026-04-16T20:37:13.760663Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:37:13 np0000093991 etcd[60871]: {"level":"info","ts":"2026-04-16T20:37:13.760694Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 20:37:13 np0000093991 etcd[60871]: {"level":"info","ts":"2026-04-16T20:37:13.761221Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:13 np0000093991 etcd[60871]: {"level":"info","ts":"2026-04-16T20:37:13.761360Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093991","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:13 np0000093991 etcd[60871]: {"level":"info","ts":"2026-04-16T20:37:13.761449Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093991","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:13 np0000093991 etcd[60871]: {"level":"warn","ts":"2026-04-16T20:37:13.761516Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 20:37:13 np0000093991 etcd[60871]: {"level":"fatal","ts":"2026-04-16T20:37:13.761593Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 20:37:13 np0000093991 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 20:37:13 np0000093991 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 20:37:13 np0000093991 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 20:37:13 np0000093991 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 16 20:37:13 np0000093991 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 20:37:14 np0000093991 etcd[60911]: {"level":"warn","ts":"2026-04-16T20:37:14.017526Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:37:14 np0000093991 etcd[60911]: {"level":"info","ts":"2026-04-16T20:37:14.018478Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093991","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093991=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 20:37:14 np0000093991 etcd[60911]: {"level":"warn","ts":"2026-04-16T20:37:14.018897Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 20:37:14 np0000093991 etcd[60911]: {"level":"info","ts":"2026-04-16T20:37:14.019120Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 20:37:14 np0000093991 etcd[60911]: {"level":"info","ts":"2026-04-16T20:37:14.020063Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:14 np0000093991 etcd[60911]: {"level":"info","ts":"2026-04-16T20:37:14.020243Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093991","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:14 np0000093991 etcd[60911]: {"level":"info","ts":"2026-04-16T20:37:14.020330Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093991","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 20:37:14 np0000093991 etcd[60911]: {"level":"warn","ts":"2026-04-16T20:37:14.020390Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 20:37:14 np0000093991 etcd[60911]: {"level":"fatal","ts":"2026-04-16T20:37:14.020459Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 20:37:14 np0000093991 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 20:37:14 np0000093991 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 20:37:14 np0000093991 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 20:37:14 np0000093991 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 16 20:37:14 np0000093991 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 16 20:37:14 np0000093991 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 20:37:14 np0000093991 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
