Apr 28 01:04:01 np0000094091 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 01:04:01 np0000094091 etcd[61075]: {"level":"warn","ts":"2026-04-28T01:04:01.520140Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 01:04:01 np0000094091 etcd[61075]: {"level":"info","ts":"2026-04-28T01:04:01.520285Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094091","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094091=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 01:04:01 np0000094091 etcd[61075]: {"level":"warn","ts":"2026-04-28T01:04:01.520419Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 01:04:01 np0000094091 etcd[61075]: {"level":"info","ts":"2026-04-28T01:04:01.520441Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 01:04:01 np0000094091 etcd[61075]: {"level":"info","ts":"2026-04-28T01:04:01.520775Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:01 np0000094091 etcd[61075]: {"level":"info","ts":"2026-04-28T01:04:01.520854Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094091","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:01 np0000094091 etcd[61075]: {"level":"info","ts":"2026-04-28T01:04:01.520931Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094091","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:01 np0000094091 etcd[61075]: {"level":"warn","ts":"2026-04-28T01:04:01.520970Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 01:04:01 np0000094091 etcd[61075]: {"level":"fatal","ts":"2026-04-28T01:04:01.521019Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 01:04:01 np0000094091 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 01:04:01 np0000094091 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 01:04:01 np0000094091 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 01:04:01 np0000094091 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 28 01:04:01 np0000094091 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 01:04:01 np0000094091 etcd[61137]: {"level":"warn","ts":"2026-04-28T01:04:01.784359Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 01:04:01 np0000094091 etcd[61137]: {"level":"info","ts":"2026-04-28T01:04:01.784606Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094091","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094091=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 01:04:01 np0000094091 etcd[61137]: {"level":"warn","ts":"2026-04-28T01:04:01.784811Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 01:04:01 np0000094091 etcd[61137]: {"level":"info","ts":"2026-04-28T01:04:01.784859Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 01:04:01 np0000094091 etcd[61137]: {"level":"info","ts":"2026-04-28T01:04:01.785408Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:01 np0000094091 etcd[61137]: {"level":"info","ts":"2026-04-28T01:04:01.785553Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094091","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:01 np0000094091 etcd[61137]: {"level":"info","ts":"2026-04-28T01:04:01.785629Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094091","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:01 np0000094091 etcd[61137]: {"level":"warn","ts":"2026-04-28T01:04:01.785683Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 01:04:01 np0000094091 etcd[61137]: {"level":"fatal","ts":"2026-04-28T01:04:01.785762Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 01:04:01 np0000094091 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 01:04:01 np0000094091 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 01:04:01 np0000094091 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 01:04:01 np0000094091 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 28 01:04:01 np0000094091 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 01:04:02 np0000094091 etcd[61194]: {"level":"warn","ts":"2026-04-28T01:04:02.007986Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 01:04:02 np0000094091 etcd[61194]: {"level":"info","ts":"2026-04-28T01:04:02.008133Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094091","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094091=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 01:04:02 np0000094091 etcd[61194]: {"level":"warn","ts":"2026-04-28T01:04:02.008268Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 01:04:02 np0000094091 etcd[61194]: {"level":"info","ts":"2026-04-28T01:04:02.008298Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 01:04:02 np0000094091 etcd[61194]: {"level":"info","ts":"2026-04-28T01:04:02.008743Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:02 np0000094091 etcd[61194]: {"level":"info","ts":"2026-04-28T01:04:02.008853Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094091","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:02 np0000094091 etcd[61194]: {"level":"info","ts":"2026-04-28T01:04:02.008923Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094091","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:02 np0000094091 etcd[61194]: {"level":"warn","ts":"2026-04-28T01:04:02.008966Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 01:04:02 np0000094091 etcd[61194]: {"level":"fatal","ts":"2026-04-28T01:04:02.009015Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 01:04:02 np0000094091 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 01:04:02 np0000094091 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 01:04:02 np0000094091 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 01:04:02 np0000094091 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 28 01:04:02 np0000094091 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 01:04:02 np0000094091 etcd[61202]: {"level":"warn","ts":"2026-04-28T01:04:02.283185Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 01:04:02 np0000094091 etcd[61202]: {"level":"info","ts":"2026-04-28T01:04:02.283427Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094091","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094091=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 01:04:02 np0000094091 etcd[61202]: {"level":"warn","ts":"2026-04-28T01:04:02.283676Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 01:04:02 np0000094091 etcd[61202]: {"level":"info","ts":"2026-04-28T01:04:02.283720Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 01:04:02 np0000094091 etcd[61202]: {"level":"info","ts":"2026-04-28T01:04:02.284236Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:02 np0000094091 etcd[61202]: {"level":"info","ts":"2026-04-28T01:04:02.284388Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094091","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:02 np0000094091 etcd[61202]: {"level":"info","ts":"2026-04-28T01:04:02.284505Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094091","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:02 np0000094091 etcd[61202]: {"level":"warn","ts":"2026-04-28T01:04:02.284566Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 01:04:02 np0000094091 etcd[61202]: {"level":"fatal","ts":"2026-04-28T01:04:02.284651Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 01:04:02 np0000094091 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 01:04:02 np0000094091 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 01:04:02 np0000094091 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 01:04:02 np0000094091 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 28 01:04:02 np0000094091 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 01:04:02 np0000094091 etcd[61244]: {"level":"warn","ts":"2026-04-28T01:04:02.523160Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 01:04:02 np0000094091 etcd[61244]: {"level":"info","ts":"2026-04-28T01:04:02.523319Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094091","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094091=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 01:04:02 np0000094091 etcd[61244]: {"level":"warn","ts":"2026-04-28T01:04:02.523510Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 01:04:02 np0000094091 etcd[61244]: {"level":"info","ts":"2026-04-28T01:04:02.523538Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 01:04:02 np0000094091 etcd[61244]: {"level":"info","ts":"2026-04-28T01:04:02.523977Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:02 np0000094091 etcd[61244]: {"level":"info","ts":"2026-04-28T01:04:02.524103Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094091","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:02 np0000094091 etcd[61244]: {"level":"info","ts":"2026-04-28T01:04:02.524177Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094091","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 01:04:02 np0000094091 etcd[61244]: {"level":"warn","ts":"2026-04-28T01:04:02.524225Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 01:04:02 np0000094091 etcd[61244]: {"level":"fatal","ts":"2026-04-28T01:04:02.524296Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 01:04:02 np0000094091 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 01:04:02 np0000094091 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 01:04:02 np0000094091 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 01:04:02 np0000094091 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 28 01:04:02 np0000094091 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 28 01:04:02 np0000094091 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 01:04:02 np0000094091 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
