Jun 25 04:32:35 np0000094464 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 25 04:32:35 np0000094464 etcd[61163]: {"level":"warn","ts":"2026-06-25T04:32:35.689437Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 25 04:32:35 np0000094464 etcd[61163]: {"level":"info","ts":"2026-06-25T04:32:35.689671Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094464","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094464=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 25 04:32:35 np0000094464 etcd[61163]: {"level":"warn","ts":"2026-06-25T04:32:35.689833Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 25 04:32:35 np0000094464 etcd[61163]: {"level":"info","ts":"2026-06-25T04:32:35.689875Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 25 04:32:35 np0000094464 etcd[61163]: {"level":"info","ts":"2026-06-25T04:32:35.690389Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:35 np0000094464 etcd[61163]: {"level":"info","ts":"2026-06-25T04:32:35.690534Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094464","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:35 np0000094464 etcd[61163]: {"level":"info","ts":"2026-06-25T04:32:35.690636Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094464","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:35 np0000094464 etcd[61163]: {"level":"warn","ts":"2026-06-25T04:32:35.690703Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 25 04:32:35 np0000094464 etcd[61163]: {"level":"fatal","ts":"2026-06-25T04:32:35.690781Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 25 04:32:35 np0000094464 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 25 04:32:35 np0000094464 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 25 04:32:35 np0000094464 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 25 04:32:35 np0000094464 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 25 04:32:35 np0000094464 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 25 04:32:35 np0000094464 etcd[61211]: {"level":"warn","ts":"2026-06-25T04:32:35.909082Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 25 04:32:35 np0000094464 etcd[61211]: {"level":"info","ts":"2026-06-25T04:32:35.909257Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094464","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094464=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 25 04:32:35 np0000094464 etcd[61211]: {"level":"warn","ts":"2026-06-25T04:32:35.909455Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 25 04:32:35 np0000094464 etcd[61211]: {"level":"info","ts":"2026-06-25T04:32:35.909497Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 25 04:32:35 np0000094464 etcd[61211]: {"level":"info","ts":"2026-06-25T04:32:35.910163Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:35 np0000094464 etcd[61211]: {"level":"info","ts":"2026-06-25T04:32:35.910296Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094464","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:35 np0000094464 etcd[61211]: {"level":"info","ts":"2026-06-25T04:32:35.910373Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094464","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:35 np0000094464 etcd[61211]: {"level":"warn","ts":"2026-06-25T04:32:35.910433Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 25 04:32:35 np0000094464 etcd[61211]: {"level":"fatal","ts":"2026-06-25T04:32:35.910495Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 25 04:32:35 np0000094464 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 25 04:32:35 np0000094464 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 25 04:32:35 np0000094464 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 25 04:32:36 np0000094464 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 25 04:32:36 np0000094464 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 25 04:32:36 np0000094464 etcd[61282]: {"level":"warn","ts":"2026-06-25T04:32:36.154113Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 25 04:32:36 np0000094464 etcd[61282]: {"level":"info","ts":"2026-06-25T04:32:36.154318Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094464","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094464=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 25 04:32:36 np0000094464 etcd[61282]: {"level":"warn","ts":"2026-06-25T04:32:36.154490Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 25 04:32:36 np0000094464 etcd[61282]: {"level":"info","ts":"2026-06-25T04:32:36.154523Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 25 04:32:36 np0000094464 etcd[61282]: {"level":"info","ts":"2026-06-25T04:32:36.156110Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:36 np0000094464 etcd[61282]: {"level":"info","ts":"2026-06-25T04:32:36.156270Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094464","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:36 np0000094464 etcd[61282]: {"level":"info","ts":"2026-06-25T04:32:36.156385Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094464","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:36 np0000094464 etcd[61282]: {"level":"warn","ts":"2026-06-25T04:32:36.156449Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 25 04:32:36 np0000094464 etcd[61282]: {"level":"fatal","ts":"2026-06-25T04:32:36.156517Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 25 04:32:36 np0000094464 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 25 04:32:36 np0000094464 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 25 04:32:36 np0000094464 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 25 04:32:36 np0000094464 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 25 04:32:36 np0000094464 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 25 04:32:36 np0000094464 etcd[61289]: {"level":"warn","ts":"2026-06-25T04:32:36.401573Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 25 04:32:36 np0000094464 etcd[61289]: {"level":"info","ts":"2026-06-25T04:32:36.401672Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094464","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094464=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 25 04:32:36 np0000094464 etcd[61289]: {"level":"warn","ts":"2026-06-25T04:32:36.401761Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 25 04:32:36 np0000094464 etcd[61289]: {"level":"info","ts":"2026-06-25T04:32:36.401781Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 25 04:32:36 np0000094464 etcd[61289]: {"level":"info","ts":"2026-06-25T04:32:36.402033Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:36 np0000094464 etcd[61289]: {"level":"info","ts":"2026-06-25T04:32:36.402120Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094464","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:36 np0000094464 etcd[61289]: {"level":"info","ts":"2026-06-25T04:32:36.402163Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094464","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:36 np0000094464 etcd[61289]: {"level":"warn","ts":"2026-06-25T04:32:36.402192Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 25 04:32:36 np0000094464 etcd[61289]: {"level":"fatal","ts":"2026-06-25T04:32:36.402235Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 25 04:32:36 np0000094464 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 25 04:32:36 np0000094464 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 25 04:32:36 np0000094464 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 25 04:32:36 np0000094464 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 25 04:32:36 np0000094464 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 25 04:32:36 np0000094464 etcd[61318]: {"level":"warn","ts":"2026-06-25T04:32:36.660999Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 25 04:32:36 np0000094464 etcd[61318]: {"level":"info","ts":"2026-06-25T04:32:36.662288Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094464","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094464=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 25 04:32:36 np0000094464 etcd[61318]: {"level":"warn","ts":"2026-06-25T04:32:36.662540Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 25 04:32:36 np0000094464 etcd[61318]: {"level":"info","ts":"2026-06-25T04:32:36.662638Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 25 04:32:36 np0000094464 etcd[61318]: {"level":"info","ts":"2026-06-25T04:32:36.664292Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:36 np0000094464 etcd[61318]: {"level":"info","ts":"2026-06-25T04:32:36.664682Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094464","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:36 np0000094464 etcd[61318]: {"level":"info","ts":"2026-06-25T04:32:36.664912Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094464","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 25 04:32:36 np0000094464 etcd[61318]: {"level":"warn","ts":"2026-06-25T04:32:36.665258Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 25 04:32:36 np0000094464 etcd[61318]: {"level":"fatal","ts":"2026-06-25T04:32:36.665422Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 25 04:32:36 np0000094464 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 25 04:32:36 np0000094464 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 25 04:32:36 np0000094464 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 25 04:32:36 np0000094464 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 25 04:32:36 np0000094464 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 25 04:32:36 np0000094464 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 25 04:32:36 np0000094464 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
