Apr 24 15:20:58 np0000094075 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 15:20:58 np0000094075 etcd[60311]: {"level":"warn","ts":"2026-04-24T15:20:58.529265Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 15:20:58 np0000094075 etcd[60311]: {"level":"info","ts":"2026-04-24T15:20:58.530733Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094075","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094075=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 15:20:58 np0000094075 etcd[60311]: {"level":"warn","ts":"2026-04-24T15:20:58.531134Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 15:20:58 np0000094075 etcd[60311]: {"level":"info","ts":"2026-04-24T15:20:58.531175Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 15:20:58 np0000094075 etcd[60311]: {"level":"info","ts":"2026-04-24T15:20:58.531734Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:58 np0000094075 etcd[60311]: {"level":"info","ts":"2026-04-24T15:20:58.531860Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094075","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:58 np0000094075 etcd[60311]: {"level":"info","ts":"2026-04-24T15:20:58.531944Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094075","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:58 np0000094075 etcd[60311]: {"level":"warn","ts":"2026-04-24T15:20:58.532002Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 15:20:58 np0000094075 etcd[60311]: {"level":"fatal","ts":"2026-04-24T15:20:58.532069Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 15:20:58 np0000094075 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 15:20:58 np0000094075 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 15:20:58 np0000094075 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 15:20:58 np0000094075 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 24 15:20:58 np0000094075 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 15:20:58 np0000094075 etcd[60384]: {"level":"warn","ts":"2026-04-24T15:20:58.821801Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 15:20:58 np0000094075 etcd[60384]: {"level":"info","ts":"2026-04-24T15:20:58.821960Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094075","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094075=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 15:20:58 np0000094075 etcd[60384]: {"level":"warn","ts":"2026-04-24T15:20:58.822112Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 15:20:58 np0000094075 etcd[60384]: {"level":"info","ts":"2026-04-24T15:20:58.822147Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 15:20:58 np0000094075 etcd[60384]: {"level":"info","ts":"2026-04-24T15:20:58.822521Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:58 np0000094075 etcd[60384]: {"level":"info","ts":"2026-04-24T15:20:58.824061Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094075","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:58 np0000094075 etcd[60384]: {"level":"info","ts":"2026-04-24T15:20:58.824120Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094075","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:58 np0000094075 etcd[60384]: {"level":"warn","ts":"2026-04-24T15:20:58.824183Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 15:20:58 np0000094075 etcd[60384]: {"level":"fatal","ts":"2026-04-24T15:20:58.824249Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 15:20:58 np0000094075 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 15:20:58 np0000094075 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 15:20:58 np0000094075 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 15:20:59 np0000094075 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 24 15:20:59 np0000094075 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 15:20:59 np0000094075 etcd[60431]: {"level":"warn","ts":"2026-04-24T15:20:59.070699Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 15:20:59 np0000094075 etcd[60431]: {"level":"info","ts":"2026-04-24T15:20:59.072125Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094075","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094075=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 15:20:59 np0000094075 etcd[60431]: {"level":"warn","ts":"2026-04-24T15:20:59.072520Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 15:20:59 np0000094075 etcd[60431]: {"level":"info","ts":"2026-04-24T15:20:59.072653Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 15:20:59 np0000094075 etcd[60431]: {"level":"info","ts":"2026-04-24T15:20:59.073262Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:59 np0000094075 etcd[60431]: {"level":"info","ts":"2026-04-24T15:20:59.073455Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094075","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:59 np0000094075 etcd[60431]: {"level":"info","ts":"2026-04-24T15:20:59.073620Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094075","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:59 np0000094075 etcd[60431]: {"level":"warn","ts":"2026-04-24T15:20:59.073685Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 15:20:59 np0000094075 etcd[60431]: {"level":"fatal","ts":"2026-04-24T15:20:59.073757Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 15:20:59 np0000094075 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 15:20:59 np0000094075 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 15:20:59 np0000094075 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 15:20:59 np0000094075 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 24 15:20:59 np0000094075 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 15:20:59 np0000094075 etcd[60451]: {"level":"warn","ts":"2026-04-24T15:20:59.325712Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 15:20:59 np0000094075 etcd[60451]: {"level":"info","ts":"2026-04-24T15:20:59.325865Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094075","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094075=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 15:20:59 np0000094075 etcd[60451]: {"level":"warn","ts":"2026-04-24T15:20:59.326008Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 15:20:59 np0000094075 etcd[60451]: {"level":"info","ts":"2026-04-24T15:20:59.326036Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 15:20:59 np0000094075 etcd[60451]: {"level":"info","ts":"2026-04-24T15:20:59.326616Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:59 np0000094075 etcd[60451]: {"level":"info","ts":"2026-04-24T15:20:59.326724Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094075","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:59 np0000094075 etcd[60451]: {"level":"info","ts":"2026-04-24T15:20:59.326795Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094075","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:59 np0000094075 etcd[60451]: {"level":"warn","ts":"2026-04-24T15:20:59.326842Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 15:20:59 np0000094075 etcd[60451]: {"level":"fatal","ts":"2026-04-24T15:20:59.326897Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 15:20:59 np0000094075 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 15:20:59 np0000094075 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 15:20:59 np0000094075 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 15:20:59 np0000094075 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 24 15:20:59 np0000094075 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 15:20:59 np0000094075 etcd[60486]: {"level":"warn","ts":"2026-04-24T15:20:59.576220Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 15:20:59 np0000094075 etcd[60486]: {"level":"info","ts":"2026-04-24T15:20:59.576368Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094075","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094075=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 15:20:59 np0000094075 etcd[60486]: {"level":"warn","ts":"2026-04-24T15:20:59.576511Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 15:20:59 np0000094075 etcd[60486]: {"level":"info","ts":"2026-04-24T15:20:59.576563Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 15:20:59 np0000094075 etcd[60486]: {"level":"info","ts":"2026-04-24T15:20:59.577091Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:59 np0000094075 etcd[60486]: {"level":"info","ts":"2026-04-24T15:20:59.577196Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094075","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:59 np0000094075 etcd[60486]: {"level":"info","ts":"2026-04-24T15:20:59.577287Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094075","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 15:20:59 np0000094075 etcd[60486]: {"level":"warn","ts":"2026-04-24T15:20:59.577337Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 15:20:59 np0000094075 etcd[60486]: {"level":"fatal","ts":"2026-04-24T15:20:59.577392Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 15:20:59 np0000094075 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 15:20:59 np0000094075 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 15:20:59 np0000094075 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 15:20:59 np0000094075 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 24 15:20:59 np0000094075 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 24 15:20:59 np0000094075 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 15:20:59 np0000094075 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
