Apr 24 14:13:47 np0000094073 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 14:13:47 np0000094073 etcd[60304]: {"level":"warn","ts":"2026-04-24T14:13:47.349223Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:13:47 np0000094073 etcd[60304]: {"level":"info","ts":"2026-04-24T14:13:47.350334Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094073","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094073=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 14:13:47 np0000094073 etcd[60304]: {"level":"warn","ts":"2026-04-24T14:13:47.350528Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:13:47 np0000094073 etcd[60304]: {"level":"info","ts":"2026-04-24T14:13:47.350570Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 14:13:47 np0000094073 etcd[60304]: {"level":"info","ts":"2026-04-24T14:13:47.351007Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:47 np0000094073 etcd[60304]: {"level":"info","ts":"2026-04-24T14:13:47.351149Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094073","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:47 np0000094073 etcd[60304]: {"level":"info","ts":"2026-04-24T14:13:47.351225Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094073","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:47 np0000094073 etcd[60304]: {"level":"warn","ts":"2026-04-24T14:13:47.351286Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 14:13:47 np0000094073 etcd[60304]: {"level":"fatal","ts":"2026-04-24T14:13:47.351355Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 14:13:47 np0000094073 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 14:13:47 np0000094073 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 14:13:47 np0000094073 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 14:13:47 np0000094073 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 24 14:13:47 np0000094073 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 14:13:47 np0000094073 etcd[60346]: {"level":"warn","ts":"2026-04-24T14:13:47.544395Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:13:47 np0000094073 etcd[60346]: {"level":"info","ts":"2026-04-24T14:13:47.544556Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094073","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094073=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 14:13:47 np0000094073 etcd[60346]: {"level":"warn","ts":"2026-04-24T14:13:47.544706Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:13:47 np0000094073 etcd[60346]: {"level":"info","ts":"2026-04-24T14:13:47.544756Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 14:13:47 np0000094073 etcd[60346]: {"level":"info","ts":"2026-04-24T14:13:47.545206Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:47 np0000094073 etcd[60346]: {"level":"info","ts":"2026-04-24T14:13:47.545307Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094073","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:47 np0000094073 etcd[60346]: {"level":"info","ts":"2026-04-24T14:13:47.545375Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094073","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:47 np0000094073 etcd[60346]: {"level":"warn","ts":"2026-04-24T14:13:47.545422Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 14:13:47 np0000094073 etcd[60346]: {"level":"fatal","ts":"2026-04-24T14:13:47.545485Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 14:13:47 np0000094073 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 14:13:47 np0000094073 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 14:13:47 np0000094073 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 14:13:47 np0000094073 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 24 14:13:47 np0000094073 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 14:13:47 np0000094073 etcd[60424]: {"level":"warn","ts":"2026-04-24T14:13:47.785413Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:13:47 np0000094073 etcd[60424]: {"level":"info","ts":"2026-04-24T14:13:47.786526Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094073","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094073=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 14:13:47 np0000094073 etcd[60424]: {"level":"warn","ts":"2026-04-24T14:13:47.787081Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:13:47 np0000094073 etcd[60424]: {"level":"info","ts":"2026-04-24T14:13:47.787299Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 14:13:47 np0000094073 etcd[60424]: {"level":"info","ts":"2026-04-24T14:13:47.787961Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:47 np0000094073 etcd[60424]: {"level":"info","ts":"2026-04-24T14:13:47.788367Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094073","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:47 np0000094073 etcd[60424]: {"level":"info","ts":"2026-04-24T14:13:47.788707Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094073","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:47 np0000094073 etcd[60424]: {"level":"warn","ts":"2026-04-24T14:13:47.788980Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 14:13:47 np0000094073 etcd[60424]: {"level":"fatal","ts":"2026-04-24T14:13:47.789259Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 14:13:47 np0000094073 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 14:13:47 np0000094073 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 14:13:47 np0000094073 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 14:13:47 np0000094073 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 24 14:13:47 np0000094073 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 14:13:48 np0000094073 etcd[60432]: {"level":"warn","ts":"2026-04-24T14:13:48.041881Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:13:48 np0000094073 etcd[60432]: {"level":"info","ts":"2026-04-24T14:13:48.043493Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094073","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094073=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 14:13:48 np0000094073 etcd[60432]: {"level":"warn","ts":"2026-04-24T14:13:48.043980Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:13:48 np0000094073 etcd[60432]: {"level":"info","ts":"2026-04-24T14:13:48.044070Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 14:13:48 np0000094073 etcd[60432]: {"level":"info","ts":"2026-04-24T14:13:48.044577Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:48 np0000094073 etcd[60432]: {"level":"info","ts":"2026-04-24T14:13:48.044699Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094073","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:48 np0000094073 etcd[60432]: {"level":"info","ts":"2026-04-24T14:13:48.044816Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094073","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:48 np0000094073 etcd[60432]: {"level":"warn","ts":"2026-04-24T14:13:48.044892Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 14:13:48 np0000094073 etcd[60432]: {"level":"fatal","ts":"2026-04-24T14:13:48.044958Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 14:13:48 np0000094073 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 14:13:48 np0000094073 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 14:13:48 np0000094073 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 14:13:48 np0000094073 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 24 14:13:48 np0000094073 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 14:13:48 np0000094073 etcd[60458]: {"level":"warn","ts":"2026-04-24T14:13:48.284643Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:13:48 np0000094073 etcd[60458]: {"level":"info","ts":"2026-04-24T14:13:48.284806Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094073","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094073=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 14:13:48 np0000094073 etcd[60458]: {"level":"warn","ts":"2026-04-24T14:13:48.284947Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:13:48 np0000094073 etcd[60458]: {"level":"info","ts":"2026-04-24T14:13:48.284980Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 14:13:48 np0000094073 etcd[60458]: {"level":"info","ts":"2026-04-24T14:13:48.285422Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:48 np0000094073 etcd[60458]: {"level":"info","ts":"2026-04-24T14:13:48.285627Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094073","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:48 np0000094073 etcd[60458]: {"level":"info","ts":"2026-04-24T14:13:48.285704Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094073","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:13:48 np0000094073 etcd[60458]: {"level":"warn","ts":"2026-04-24T14:13:48.285767Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 14:13:48 np0000094073 etcd[60458]: {"level":"fatal","ts":"2026-04-24T14:13:48.285833Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 14:13:48 np0000094073 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 14:13:48 np0000094073 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 14:13:48 np0000094073 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 14:13:48 np0000094073 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 24 14:13:48 np0000094073 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 24 14:13:48 np0000094073 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 14:13:48 np0000094073 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
