Feb 13 18:11:40 np0000056245 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 18:11:40 np0000056245 etcd[60313]: {"level":"warn","ts":"2026-02-13T18:11:40.661142Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:11:40 np0000056245 etcd[60313]: {"level":"info","ts":"2026-02-13T18:11:40.661249Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056245","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056245=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 18:11:40 np0000056245 etcd[60313]: {"level":"warn","ts":"2026-02-13T18:11:40.661379Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:11:40 np0000056245 etcd[60313]: {"level":"info","ts":"2026-02-13T18:11:40.661407Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 18:11:40 np0000056245 etcd[60313]: {"level":"info","ts":"2026-02-13T18:11:40.661703Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:40 np0000056245 etcd[60313]: {"level":"info","ts":"2026-02-13T18:11:40.661771Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056245","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:40 np0000056245 etcd[60313]: {"level":"info","ts":"2026-02-13T18:11:40.661818Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056245","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:40 np0000056245 etcd[60313]: {"level":"warn","ts":"2026-02-13T18:11:40.661849Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 18:11:40 np0000056245 etcd[60313]: {"level":"fatal","ts":"2026-02-13T18:11:40.661888Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 18:11:40 np0000056245 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 18:11:40 np0000056245 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 18:11:40 np0000056245 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 18:11:40 np0000056245 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 18:11:40 np0000056245 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 18:11:40 np0000056245 etcd[60428]: {"level":"warn","ts":"2026-02-13T18:11:40.985542Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:11:40 np0000056245 etcd[60428]: {"level":"info","ts":"2026-02-13T18:11:40.985756Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056245","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056245=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 18:11:40 np0000056245 etcd[60428]: {"level":"warn","ts":"2026-02-13T18:11:40.985940Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:11:40 np0000056245 etcd[60428]: {"level":"info","ts":"2026-02-13T18:11:40.985982Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 18:11:40 np0000056245 etcd[60428]: {"level":"info","ts":"2026-02-13T18:11:40.988139Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:40 np0000056245 etcd[60428]: {"level":"info","ts":"2026-02-13T18:11:40.988682Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056245","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:40 np0000056245 etcd[60428]: {"level":"info","ts":"2026-02-13T18:11:40.988799Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056245","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:40 np0000056245 etcd[60428]: {"level":"warn","ts":"2026-02-13T18:11:40.988864Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 18:11:40 np0000056245 etcd[60428]: {"level":"fatal","ts":"2026-02-13T18:11:40.988951Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 18:11:40 np0000056245 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 18:11:40 np0000056245 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 18:11:40 np0000056245 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 18:11:41 np0000056245 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 18:11:41 np0000056245 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 18:11:41 np0000056245 etcd[60435]: {"level":"warn","ts":"2026-02-13T18:11:41.239422Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:11:41 np0000056245 etcd[60435]: {"level":"info","ts":"2026-02-13T18:11:41.240506Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056245","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056245=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 18:11:41 np0000056245 etcd[60435]: {"level":"warn","ts":"2026-02-13T18:11:41.240743Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:11:41 np0000056245 etcd[60435]: {"level":"info","ts":"2026-02-13T18:11:41.240788Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 18:11:41 np0000056245 etcd[60435]: {"level":"info","ts":"2026-02-13T18:11:41.241242Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:41 np0000056245 etcd[60435]: {"level":"info","ts":"2026-02-13T18:11:41.242535Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056245","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:41 np0000056245 etcd[60435]: {"level":"info","ts":"2026-02-13T18:11:41.242666Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056245","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:41 np0000056245 etcd[60435]: {"level":"warn","ts":"2026-02-13T18:11:41.242733Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 18:11:41 np0000056245 etcd[60435]: {"level":"fatal","ts":"2026-02-13T18:11:41.242801Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 18:11:41 np0000056245 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 18:11:41 np0000056245 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 18:11:41 np0000056245 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 18:11:41 np0000056245 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 18:11:41 np0000056245 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 18:11:41 np0000056245 etcd[60498]: {"level":"warn","ts":"2026-02-13T18:11:41.485044Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:11:41 np0000056245 etcd[60498]: {"level":"info","ts":"2026-02-13T18:11:41.485209Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056245","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056245=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 18:11:41 np0000056245 etcd[60498]: {"level":"warn","ts":"2026-02-13T18:11:41.485391Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:11:41 np0000056245 etcd[60498]: {"level":"info","ts":"2026-02-13T18:11:41.485429Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 18:11:41 np0000056245 etcd[60498]: {"level":"info","ts":"2026-02-13T18:11:41.485909Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:41 np0000056245 etcd[60498]: {"level":"info","ts":"2026-02-13T18:11:41.486016Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056245","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:41 np0000056245 etcd[60498]: {"level":"info","ts":"2026-02-13T18:11:41.486089Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056245","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:41 np0000056245 etcd[60498]: {"level":"warn","ts":"2026-02-13T18:11:41.486143Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 18:11:41 np0000056245 etcd[60498]: {"level":"fatal","ts":"2026-02-13T18:11:41.486202Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 18:11:41 np0000056245 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 18:11:41 np0000056245 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 18:11:41 np0000056245 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 18:11:41 np0000056245 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 18:11:41 np0000056245 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 18:11:41 np0000056245 etcd[60530]: {"level":"warn","ts":"2026-02-13T18:11:41.749379Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:11:41 np0000056245 etcd[60530]: {"level":"info","ts":"2026-02-13T18:11:41.749576Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056245","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056245=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 18:11:41 np0000056245 etcd[60530]: {"level":"warn","ts":"2026-02-13T18:11:41.749741Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 18:11:41 np0000056245 etcd[60530]: {"level":"info","ts":"2026-02-13T18:11:41.749773Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 18:11:41 np0000056245 etcd[60530]: {"level":"info","ts":"2026-02-13T18:11:41.750326Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:41 np0000056245 etcd[60530]: {"level":"info","ts":"2026-02-13T18:11:41.750512Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056245","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:41 np0000056245 etcd[60530]: {"level":"info","ts":"2026-02-13T18:11:41.750608Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056245","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 18:11:41 np0000056245 etcd[60530]: {"level":"warn","ts":"2026-02-13T18:11:41.750666Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 18:11:41 np0000056245 etcd[60530]: {"level":"fatal","ts":"2026-02-13T18:11:41.750731Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 18:11:41 np0000056245 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 18:11:41 np0000056245 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 18:11:41 np0000056245 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 18:11:41 np0000056245 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 18:11:41 np0000056245 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 18:11:41 np0000056245 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 18:11:41 np0000056245 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
