Jun 04 04:13:01 np0000094235 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 04:13:01 np0000094235 etcd[60876]: {"level":"warn","ts":"2026-06-04T04:13:01.856832Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 04:13:01 np0000094235 etcd[60876]: {"level":"info","ts":"2026-06-04T04:13:01.857066Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094235","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094235=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 04:13:01 np0000094235 etcd[60876]: {"level":"warn","ts":"2026-06-04T04:13:01.857245Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 04:13:01 np0000094235 etcd[60876]: {"level":"info","ts":"2026-06-04T04:13:01.857278Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 04:13:01 np0000094235 etcd[60876]: {"level":"info","ts":"2026-06-04T04:13:01.857872Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:01 np0000094235 etcd[60876]: {"level":"info","ts":"2026-06-04T04:13:01.858025Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:01 np0000094235 etcd[60876]: {"level":"info","ts":"2026-06-04T04:13:01.858109Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:01 np0000094235 etcd[60876]: {"level":"warn","ts":"2026-06-04T04:13:01.858170Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 04:13:01 np0000094235 etcd[60876]: {"level":"fatal","ts":"2026-06-04T04:13:01.858238Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 04:13:01 np0000094235 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 04:13:01 np0000094235 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 04:13:01 np0000094235 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 04:13:01 np0000094235 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 04 04:13:01 np0000094235 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 04:13:02 np0000094235 etcd[60915]: {"level":"warn","ts":"2026-06-04T04:13:02.041209Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 04:13:02 np0000094235 etcd[60915]: {"level":"info","ts":"2026-06-04T04:13:02.041362Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094235","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094235=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 04:13:02 np0000094235 etcd[60915]: {"level":"warn","ts":"2026-06-04T04:13:02.041510Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 04:13:02 np0000094235 etcd[60915]: {"level":"info","ts":"2026-06-04T04:13:02.041564Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 04:13:02 np0000094235 etcd[60915]: {"level":"info","ts":"2026-06-04T04:13:02.042132Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:02 np0000094235 etcd[60915]: {"level":"info","ts":"2026-06-04T04:13:02.042240Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:02 np0000094235 etcd[60915]: {"level":"info","ts":"2026-06-04T04:13:02.042312Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:02 np0000094235 etcd[60915]: {"level":"warn","ts":"2026-06-04T04:13:02.042362Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 04:13:02 np0000094235 etcd[60915]: {"level":"fatal","ts":"2026-06-04T04:13:02.042418Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 04:13:02 np0000094235 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 04 04:13:02 np0000094235 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 04:13:02 np0000094235 etcd[60992]: {"level":"warn","ts":"2026-06-04T04:13:02.289511Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 04:13:02 np0000094235 etcd[60992]: {"level":"info","ts":"2026-06-04T04:13:02.289706Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094235","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094235=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 04:13:02 np0000094235 etcd[60992]: {"level":"warn","ts":"2026-06-04T04:13:02.289908Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 04:13:02 np0000094235 etcd[60992]: {"level":"info","ts":"2026-06-04T04:13:02.289952Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 04:13:02 np0000094235 etcd[60992]: {"level":"info","ts":"2026-06-04T04:13:02.290424Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:02 np0000094235 etcd[60992]: {"level":"info","ts":"2026-06-04T04:13:02.290572Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:02 np0000094235 etcd[60992]: {"level":"info","ts":"2026-06-04T04:13:02.290640Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:02 np0000094235 etcd[60992]: {"level":"warn","ts":"2026-06-04T04:13:02.290703Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 04:13:02 np0000094235 etcd[60992]: {"level":"fatal","ts":"2026-06-04T04:13:02.290771Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 04:13:02 np0000094235 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 04 04:13:02 np0000094235 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 04:13:02 np0000094235 etcd[61005]: {"level":"warn","ts":"2026-06-04T04:13:02.529774Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 04:13:02 np0000094235 etcd[61005]: {"level":"info","ts":"2026-06-04T04:13:02.529995Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094235","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094235=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 04:13:02 np0000094235 etcd[61005]: {"level":"warn","ts":"2026-06-04T04:13:02.530170Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 04:13:02 np0000094235 etcd[61005]: {"level":"info","ts":"2026-06-04T04:13:02.530205Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 04:13:02 np0000094235 etcd[61005]: {"level":"info","ts":"2026-06-04T04:13:02.530742Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:02 np0000094235 etcd[61005]: {"level":"info","ts":"2026-06-04T04:13:02.530867Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:02 np0000094235 etcd[61005]: {"level":"info","ts":"2026-06-04T04:13:02.530971Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:02 np0000094235 etcd[61005]: {"level":"warn","ts":"2026-06-04T04:13:02.531039Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 04:13:02 np0000094235 etcd[61005]: {"level":"fatal","ts":"2026-06-04T04:13:02.531124Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 04:13:02 np0000094235 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 04 04:13:02 np0000094235 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 04:13:02 np0000094235 etcd[61025]: {"level":"warn","ts":"2026-06-04T04:13:02.750033Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 04:13:02 np0000094235 etcd[61025]: {"level":"info","ts":"2026-06-04T04:13:02.750166Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094235","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094235=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 04:13:02 np0000094235 etcd[61025]: {"level":"warn","ts":"2026-06-04T04:13:02.750286Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 04:13:02 np0000094235 etcd[61025]: {"level":"info","ts":"2026-06-04T04:13:02.750308Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 04:13:02 np0000094235 etcd[61025]: {"level":"info","ts":"2026-06-04T04:13:02.750667Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:02 np0000094235 etcd[61025]: {"level":"info","ts":"2026-06-04T04:13:02.750750Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:02 np0000094235 etcd[61025]: {"level":"info","ts":"2026-06-04T04:13:02.750805Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094235","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 04:13:02 np0000094235 etcd[61025]: {"level":"warn","ts":"2026-06-04T04:13:02.750843Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 04:13:02 np0000094235 etcd[61025]: {"level":"fatal","ts":"2026-06-04T04:13:02.750899Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 04:13:02 np0000094235 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 04 04:13:02 np0000094235 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 04:13:02 np0000094235 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
