May 29 17:13:58 np0000094177 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 17:13:58 np0000094177 etcd[60016]: {"level":"warn","ts":"2026-05-29T17:13:58.216780Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:13:58 np0000094177 etcd[60016]: {"level":"info","ts":"2026-05-29T17:13:58.216947Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094177","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094177=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 17:13:58 np0000094177 etcd[60016]: {"level":"warn","ts":"2026-05-29T17:13:58.217156Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:13:58 np0000094177 etcd[60016]: {"level":"info","ts":"2026-05-29T17:13:58.217206Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 17:13:58 np0000094177 etcd[60016]: {"level":"info","ts":"2026-05-29T17:13:58.217749Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:58 np0000094177 etcd[60016]: {"level":"info","ts":"2026-05-29T17:13:58.217862Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094177","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:58 np0000094177 etcd[60016]: {"level":"info","ts":"2026-05-29T17:13:58.217936Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094177","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:58 np0000094177 etcd[60016]: {"level":"warn","ts":"2026-05-29T17:13:58.218009Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 17:13:58 np0000094177 etcd[60016]: {"level":"fatal","ts":"2026-05-29T17:13:58.218118Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 17:13:58 np0000094177 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 17:13:58 np0000094177 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 17:13:58 np0000094177 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 17:13:58 np0000094177 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 29 17:13:58 np0000094177 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 17:13:58 np0000094177 etcd[60118]: {"level":"warn","ts":"2026-05-29T17:13:58.619875Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:13:58 np0000094177 etcd[60118]: {"level":"info","ts":"2026-05-29T17:13:58.620089Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094177","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094177=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 17:13:58 np0000094177 etcd[60118]: {"level":"warn","ts":"2026-05-29T17:13:58.620258Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:13:58 np0000094177 etcd[60118]: {"level":"info","ts":"2026-05-29T17:13:58.620287Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 17:13:58 np0000094177 etcd[60118]: {"level":"info","ts":"2026-05-29T17:13:58.620803Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:58 np0000094177 etcd[60118]: {"level":"info","ts":"2026-05-29T17:13:58.620929Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094177","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:58 np0000094177 etcd[60118]: {"level":"info","ts":"2026-05-29T17:13:58.621042Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094177","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:58 np0000094177 etcd[60118]: {"level":"warn","ts":"2026-05-29T17:13:58.621130Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 17:13:58 np0000094177 etcd[60118]: {"level":"fatal","ts":"2026-05-29T17:13:58.621200Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 17:13:58 np0000094177 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 17:13:58 np0000094177 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 17:13:58 np0000094177 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 17:13:58 np0000094177 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 29 17:13:58 np0000094177 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 17:13:58 np0000094177 etcd[60137]: {"level":"warn","ts":"2026-05-29T17:13:58.864872Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:13:58 np0000094177 etcd[60137]: {"level":"info","ts":"2026-05-29T17:13:58.865095Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094177","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094177=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 17:13:58 np0000094177 etcd[60137]: {"level":"warn","ts":"2026-05-29T17:13:58.865280Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:13:58 np0000094177 etcd[60137]: {"level":"info","ts":"2026-05-29T17:13:58.865336Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 17:13:58 np0000094177 etcd[60137]: {"level":"info","ts":"2026-05-29T17:13:58.865830Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:58 np0000094177 etcd[60137]: {"level":"info","ts":"2026-05-29T17:13:58.865966Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094177","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:58 np0000094177 etcd[60137]: {"level":"info","ts":"2026-05-29T17:13:58.866107Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094177","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:58 np0000094177 etcd[60137]: {"level":"warn","ts":"2026-05-29T17:13:58.866168Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 17:13:58 np0000094177 etcd[60137]: {"level":"fatal","ts":"2026-05-29T17:13:58.866237Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 17:13:58 np0000094177 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 17:13:58 np0000094177 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 17:13:58 np0000094177 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 17:13:59 np0000094177 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 29 17:13:59 np0000094177 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 17:13:59 np0000094177 etcd[60157]: {"level":"warn","ts":"2026-05-29T17:13:59.121962Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:13:59 np0000094177 etcd[60157]: {"level":"info","ts":"2026-05-29T17:13:59.122258Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094177","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094177=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 17:13:59 np0000094177 etcd[60157]: {"level":"warn","ts":"2026-05-29T17:13:59.122424Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:13:59 np0000094177 etcd[60157]: {"level":"info","ts":"2026-05-29T17:13:59.122455Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 17:13:59 np0000094177 etcd[60157]: {"level":"info","ts":"2026-05-29T17:13:59.122909Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:59 np0000094177 etcd[60157]: {"level":"info","ts":"2026-05-29T17:13:59.123054Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094177","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:59 np0000094177 etcd[60157]: {"level":"info","ts":"2026-05-29T17:13:59.123171Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094177","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:59 np0000094177 etcd[60157]: {"level":"warn","ts":"2026-05-29T17:13:59.123243Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 17:13:59 np0000094177 etcd[60157]: {"level":"fatal","ts":"2026-05-29T17:13:59.123308Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 17:13:59 np0000094177 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 17:13:59 np0000094177 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 17:13:59 np0000094177 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 17:13:59 np0000094177 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 29 17:13:59 np0000094177 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 17:13:59 np0000094177 etcd[60186]: {"level":"warn","ts":"2026-05-29T17:13:59.372390Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:13:59 np0000094177 etcd[60186]: {"level":"info","ts":"2026-05-29T17:13:59.372563Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094177","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094177=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 17:13:59 np0000094177 etcd[60186]: {"level":"warn","ts":"2026-05-29T17:13:59.372738Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:13:59 np0000094177 etcd[60186]: {"level":"info","ts":"2026-05-29T17:13:59.372769Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 17:13:59 np0000094177 etcd[60186]: {"level":"info","ts":"2026-05-29T17:13:59.373226Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:59 np0000094177 etcd[60186]: {"level":"info","ts":"2026-05-29T17:13:59.373359Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094177","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:59 np0000094177 etcd[60186]: {"level":"info","ts":"2026-05-29T17:13:59.373444Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094177","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:13:59 np0000094177 etcd[60186]: {"level":"warn","ts":"2026-05-29T17:13:59.373513Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 17:13:59 np0000094177 etcd[60186]: {"level":"fatal","ts":"2026-05-29T17:13:59.373586Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 17:13:59 np0000094177 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 17:13:59 np0000094177 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 17:13:59 np0000094177 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 17:13:59 np0000094177 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 29 17:13:59 np0000094177 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 29 17:13:59 np0000094177 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 17:13:59 np0000094177 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
