Jun 03 05:12:12 np0000094219 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 05:12:12 np0000094219 etcd[60319]: {"level":"warn","ts":"2026-06-03T05:12:12.557851Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:12:12 np0000094219 etcd[60319]: {"level":"info","ts":"2026-06-03T05:12:12.558111Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094219","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094219=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 05:12:12 np0000094219 etcd[60319]: {"level":"warn","ts":"2026-06-03T05:12:12.558293Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:12:12 np0000094219 etcd[60319]: {"level":"info","ts":"2026-06-03T05:12:12.558324Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 05:12:12 np0000094219 etcd[60319]: {"level":"info","ts":"2026-06-03T05:12:12.558831Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:12 np0000094219 etcd[60319]: {"level":"info","ts":"2026-06-03T05:12:12.558948Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094219","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:12 np0000094219 etcd[60319]: {"level":"info","ts":"2026-06-03T05:12:12.559027Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094219","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:12 np0000094219 etcd[60319]: {"level":"warn","ts":"2026-06-03T05:12:12.559089Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 05:12:12 np0000094219 etcd[60319]: {"level":"fatal","ts":"2026-06-03T05:12:12.559150Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 05:12:12 np0000094219 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 05:12:12 np0000094219 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 05:12:12 np0000094219 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 05:12:12 np0000094219 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 03 05:12:12 np0000094219 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 05:12:12 np0000094219 etcd[60384]: {"level":"warn","ts":"2026-06-03T05:12:12.837005Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:12:12 np0000094219 etcd[60384]: {"level":"info","ts":"2026-06-03T05:12:12.837151Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094219","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094219=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 05:12:12 np0000094219 etcd[60384]: {"level":"warn","ts":"2026-06-03T05:12:12.837291Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:12:12 np0000094219 etcd[60384]: {"level":"info","ts":"2026-06-03T05:12:12.837319Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 05:12:12 np0000094219 etcd[60384]: {"level":"info","ts":"2026-06-03T05:12:12.837765Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:12 np0000094219 etcd[60384]: {"level":"info","ts":"2026-06-03T05:12:12.837867Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094219","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:12 np0000094219 etcd[60384]: {"level":"info","ts":"2026-06-03T05:12:12.838025Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094219","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:12 np0000094219 etcd[60384]: {"level":"warn","ts":"2026-06-03T05:12:12.838077Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 05:12:12 np0000094219 etcd[60384]: {"level":"fatal","ts":"2026-06-03T05:12:12.838137Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 05:12:12 np0000094219 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 05:12:12 np0000094219 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 05:12:12 np0000094219 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 05:12:13 np0000094219 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 03 05:12:13 np0000094219 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 05:12:13 np0000094219 etcd[60440]: {"level":"warn","ts":"2026-06-03T05:12:13.088003Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:12:13 np0000094219 etcd[60440]: {"level":"info","ts":"2026-06-03T05:12:13.088197Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094219","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094219=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 05:12:13 np0000094219 etcd[60440]: {"level":"warn","ts":"2026-06-03T05:12:13.088385Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:12:13 np0000094219 etcd[60440]: {"level":"info","ts":"2026-06-03T05:12:13.088479Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 05:12:13 np0000094219 etcd[60440]: {"level":"info","ts":"2026-06-03T05:12:13.089007Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:13 np0000094219 etcd[60440]: {"level":"info","ts":"2026-06-03T05:12:13.089132Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094219","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:13 np0000094219 etcd[60440]: {"level":"info","ts":"2026-06-03T05:12:13.089228Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094219","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:13 np0000094219 etcd[60440]: {"level":"warn","ts":"2026-06-03T05:12:13.089297Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 05:12:13 np0000094219 etcd[60440]: {"level":"fatal","ts":"2026-06-03T05:12:13.089374Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 05:12:13 np0000094219 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 05:12:13 np0000094219 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 05:12:13 np0000094219 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 05:12:13 np0000094219 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 03 05:12:13 np0000094219 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 05:12:13 np0000094219 etcd[60447]: {"level":"warn","ts":"2026-06-03T05:12:13.337817Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:12:13 np0000094219 etcd[60447]: {"level":"info","ts":"2026-06-03T05:12:13.337934Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094219","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094219=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 05:12:13 np0000094219 etcd[60447]: {"level":"warn","ts":"2026-06-03T05:12:13.338032Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:12:13 np0000094219 etcd[60447]: {"level":"info","ts":"2026-06-03T05:12:13.338050Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 05:12:13 np0000094219 etcd[60447]: {"level":"info","ts":"2026-06-03T05:12:13.338348Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:13 np0000094219 etcd[60447]: {"level":"info","ts":"2026-06-03T05:12:13.338486Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094219","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:13 np0000094219 etcd[60447]: {"level":"info","ts":"2026-06-03T05:12:13.338533Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094219","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:13 np0000094219 etcd[60447]: {"level":"warn","ts":"2026-06-03T05:12:13.338576Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 05:12:13 np0000094219 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 05:12:13 np0000094219 etcd[60447]: {"level":"fatal","ts":"2026-06-03T05:12:13.338616Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 05:12:13 np0000094219 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 05:12:13 np0000094219 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 05:12:13 np0000094219 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 03 05:12:13 np0000094219 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 05:12:13 np0000094219 etcd[60489]: {"level":"warn","ts":"2026-06-03T05:12:13.612333Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:12:13 np0000094219 etcd[60489]: {"level":"info","ts":"2026-06-03T05:12:13.612740Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094219","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094219=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 05:12:13 np0000094219 etcd[60489]: {"level":"warn","ts":"2026-06-03T05:12:13.613309Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:12:13 np0000094219 etcd[60489]: {"level":"info","ts":"2026-06-03T05:12:13.613361Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 05:12:13 np0000094219 etcd[60489]: {"level":"info","ts":"2026-06-03T05:12:13.614349Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:13 np0000094219 etcd[60489]: {"level":"info","ts":"2026-06-03T05:12:13.614662Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094219","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:13 np0000094219 etcd[60489]: {"level":"info","ts":"2026-06-03T05:12:13.614761Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094219","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:12:13 np0000094219 etcd[60489]: {"level":"warn","ts":"2026-06-03T05:12:13.614824Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 05:12:13 np0000094219 etcd[60489]: {"level":"fatal","ts":"2026-06-03T05:12:13.614966Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 05:12:13 np0000094219 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 05:12:13 np0000094219 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 05:12:13 np0000094219 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 05:12:13 np0000094219 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 03 05:12:13 np0000094219 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 03 05:12:13 np0000094219 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 05:12:13 np0000094219 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
