Apr 16 06:21:34 np0000093980 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 06:21:34 np0000093980 etcd[60911]: {"level":"warn","ts":"2026-04-16T06:21:34.773167Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 06:21:34 np0000093980 etcd[60911]: {"level":"info","ts":"2026-04-16T06:21:34.773384Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093980","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093980=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 06:21:34 np0000093980 etcd[60911]: {"level":"warn","ts":"2026-04-16T06:21:34.773533Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 06:21:34 np0000093980 etcd[60911]: {"level":"info","ts":"2026-04-16T06:21:34.773560Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 06:21:34 np0000093980 etcd[60911]: {"level":"info","ts":"2026-04-16T06:21:34.774219Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:34 np0000093980 etcd[60911]: {"level":"info","ts":"2026-04-16T06:21:34.774354Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093980","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:34 np0000093980 etcd[60911]: {"level":"info","ts":"2026-04-16T06:21:34.774426Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093980","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:34 np0000093980 etcd[60911]: {"level":"warn","ts":"2026-04-16T06:21:34.774483Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 06:21:34 np0000093980 etcd[60911]: {"level":"fatal","ts":"2026-04-16T06:21:34.774540Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 06:21:34 np0000093980 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 06:21:34 np0000093980 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 06:21:34 np0000093980 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 06:21:34 np0000093980 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 16 06:21:34 np0000093980 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 06:21:34 np0000093980 etcd[60957]: {"level":"warn","ts":"2026-04-16T06:21:34.993319Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 06:21:34 np0000093980 etcd[60957]: {"level":"info","ts":"2026-04-16T06:21:34.993523Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093980","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093980=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 06:21:34 np0000093980 etcd[60957]: {"level":"warn","ts":"2026-04-16T06:21:34.993679Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 06:21:34 np0000093980 etcd[60957]: {"level":"info","ts":"2026-04-16T06:21:34.993717Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 06:21:34 np0000093980 etcd[60957]: {"level":"info","ts":"2026-04-16T06:21:34.994173Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:34 np0000093980 etcd[60957]: {"level":"info","ts":"2026-04-16T06:21:34.994315Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093980","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:34 np0000093980 etcd[60957]: {"level":"info","ts":"2026-04-16T06:21:34.994412Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093980","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:34 np0000093980 etcd[60957]: {"level":"warn","ts":"2026-04-16T06:21:34.994472Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 06:21:34 np0000093980 etcd[60957]: {"level":"fatal","ts":"2026-04-16T06:21:34.994534Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 06:21:34 np0000093980 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 06:21:34 np0000093980 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 06:21:34 np0000093980 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 06:21:35 np0000093980 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 16 06:21:35 np0000093980 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 06:21:35 np0000093980 etcd[61030]: {"level":"warn","ts":"2026-04-16T06:21:35.232443Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 06:21:35 np0000093980 etcd[61030]: {"level":"info","ts":"2026-04-16T06:21:35.232627Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093980","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093980=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 06:21:35 np0000093980 etcd[61030]: {"level":"warn","ts":"2026-04-16T06:21:35.232806Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 06:21:35 np0000093980 etcd[61030]: {"level":"info","ts":"2026-04-16T06:21:35.232853Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 06:21:35 np0000093980 etcd[61030]: {"level":"info","ts":"2026-04-16T06:21:35.233382Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:35 np0000093980 etcd[61030]: {"level":"info","ts":"2026-04-16T06:21:35.233518Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093980","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:35 np0000093980 etcd[61030]: {"level":"info","ts":"2026-04-16T06:21:35.233600Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093980","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:35 np0000093980 etcd[61030]: {"level":"warn","ts":"2026-04-16T06:21:35.233657Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 06:21:35 np0000093980 etcd[61030]: {"level":"fatal","ts":"2026-04-16T06:21:35.233739Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 06:21:35 np0000093980 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 06:21:35 np0000093980 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 06:21:35 np0000093980 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 06:21:35 np0000093980 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 16 06:21:35 np0000093980 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 06:21:35 np0000093980 etcd[61039]: {"level":"warn","ts":"2026-04-16T06:21:35.482747Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 06:21:35 np0000093980 etcd[61039]: {"level":"info","ts":"2026-04-16T06:21:35.482955Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093980","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093980=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 06:21:35 np0000093980 etcd[61039]: {"level":"warn","ts":"2026-04-16T06:21:35.483129Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 06:21:35 np0000093980 etcd[61039]: {"level":"info","ts":"2026-04-16T06:21:35.483169Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 06:21:35 np0000093980 etcd[61039]: {"level":"info","ts":"2026-04-16T06:21:35.483750Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:35 np0000093980 etcd[61039]: {"level":"info","ts":"2026-04-16T06:21:35.483879Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093980","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:35 np0000093980 etcd[61039]: {"level":"info","ts":"2026-04-16T06:21:35.483962Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093980","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:35 np0000093980 etcd[61039]: {"level":"warn","ts":"2026-04-16T06:21:35.484021Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 06:21:35 np0000093980 etcd[61039]: {"level":"fatal","ts":"2026-04-16T06:21:35.484107Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 06:21:35 np0000093980 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 06:21:35 np0000093980 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 06:21:35 np0000093980 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 06:21:35 np0000093980 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 16 06:21:35 np0000093980 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 06:21:35 np0000093980 etcd[61069]: {"level":"warn","ts":"2026-04-16T06:21:35.735149Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 06:21:35 np0000093980 etcd[61069]: {"level":"info","ts":"2026-04-16T06:21:35.735358Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093980","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093980=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 06:21:35 np0000093980 etcd[61069]: {"level":"warn","ts":"2026-04-16T06:21:35.735514Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 06:21:35 np0000093980 etcd[61069]: {"level":"info","ts":"2026-04-16T06:21:35.735542Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 06:21:35 np0000093980 etcd[61069]: {"level":"info","ts":"2026-04-16T06:21:35.735996Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:35 np0000093980 etcd[61069]: {"level":"info","ts":"2026-04-16T06:21:35.736113Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093980","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:35 np0000093980 etcd[61069]: {"level":"info","ts":"2026-04-16T06:21:35.736188Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093980","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 06:21:35 np0000093980 etcd[61069]: {"level":"warn","ts":"2026-04-16T06:21:35.736265Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 06:21:35 np0000093980 etcd[61069]: {"level":"fatal","ts":"2026-04-16T06:21:35.736325Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 06:21:35 np0000093980 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 06:21:35 np0000093980 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 06:21:35 np0000093980 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 06:21:35 np0000093980 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 16 06:21:35 np0000093980 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 16 06:21:35 np0000093980 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 06:21:35 np0000093980 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
