Jun 18 04:50:55 np0000094386 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 04:50:56 np0000094386 etcd[61301]: {"level":"warn","ts":"2026-06-18T04:50:56.028219Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 04:50:56 np0000094386 etcd[61301]: {"level":"info","ts":"2026-06-18T04:50:56.028379Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094386","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094386=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 04:50:56 np0000094386 etcd[61301]: {"level":"warn","ts":"2026-06-18T04:50:56.028524Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 04:50:56 np0000094386 etcd[61301]: {"level":"info","ts":"2026-06-18T04:50:56.028556Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 04:50:56 np0000094386 etcd[61301]: {"level":"info","ts":"2026-06-18T04:50:56.028993Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:56 np0000094386 etcd[61301]: {"level":"info","ts":"2026-06-18T04:50:56.029092Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094386","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:56 np0000094386 etcd[61301]: {"level":"info","ts":"2026-06-18T04:50:56.029155Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094386","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:56 np0000094386 etcd[61301]: {"level":"warn","ts":"2026-06-18T04:50:56.029200Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 04:50:56 np0000094386 etcd[61301]: {"level":"fatal","ts":"2026-06-18T04:50:56.029259Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 04:50:56 np0000094386 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 04:50:56 np0000094386 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 04:50:56 np0000094386 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 04:50:56 np0000094386 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 18 04:50:56 np0000094386 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 04:50:56 np0000094386 etcd[61386]: {"level":"warn","ts":"2026-06-18T04:50:56.360395Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 04:50:56 np0000094386 etcd[61386]: {"level":"info","ts":"2026-06-18T04:50:56.360584Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094386","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094386=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 04:50:56 np0000094386 etcd[61386]: {"level":"warn","ts":"2026-06-18T04:50:56.360750Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 04:50:56 np0000094386 etcd[61386]: {"level":"info","ts":"2026-06-18T04:50:56.360787Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 04:50:56 np0000094386 etcd[61386]: {"level":"info","ts":"2026-06-18T04:50:56.361224Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:56 np0000094386 etcd[61386]: {"level":"info","ts":"2026-06-18T04:50:56.361347Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094386","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:56 np0000094386 etcd[61386]: {"level":"info","ts":"2026-06-18T04:50:56.361422Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094386","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:56 np0000094386 etcd[61386]: {"level":"warn","ts":"2026-06-18T04:50:56.361481Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 04:50:56 np0000094386 etcd[61386]: {"level":"fatal","ts":"2026-06-18T04:50:56.361556Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 04:50:56 np0000094386 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 04:50:56 np0000094386 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 04:50:56 np0000094386 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 04:50:56 np0000094386 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 18 04:50:56 np0000094386 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 04:50:56 np0000094386 etcd[61421]: {"level":"warn","ts":"2026-06-18T04:50:56.598149Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 04:50:56 np0000094386 etcd[61421]: {"level":"info","ts":"2026-06-18T04:50:56.598326Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094386","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094386=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 04:50:56 np0000094386 etcd[61421]: {"level":"warn","ts":"2026-06-18T04:50:56.598496Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 04:50:56 np0000094386 etcd[61421]: {"level":"info","ts":"2026-06-18T04:50:56.598528Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 04:50:56 np0000094386 etcd[61421]: {"level":"info","ts":"2026-06-18T04:50:56.599100Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:56 np0000094386 etcd[61421]: {"level":"info","ts":"2026-06-18T04:50:56.599246Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094386","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:56 np0000094386 etcd[61421]: {"level":"info","ts":"2026-06-18T04:50:56.599331Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094386","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:56 np0000094386 etcd[61421]: {"level":"warn","ts":"2026-06-18T04:50:56.599394Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 04:50:56 np0000094386 etcd[61421]: {"level":"fatal","ts":"2026-06-18T04:50:56.599475Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 04:50:56 np0000094386 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 04:50:56 np0000094386 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 04:50:56 np0000094386 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 04:50:56 np0000094386 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 18 04:50:56 np0000094386 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 04:50:56 np0000094386 etcd[61441]: {"level":"warn","ts":"2026-06-18T04:50:56.852860Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 04:50:56 np0000094386 etcd[61441]: {"level":"info","ts":"2026-06-18T04:50:56.853992Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094386","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094386=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 04:50:56 np0000094386 etcd[61441]: {"level":"warn","ts":"2026-06-18T04:50:56.854169Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 04:50:56 np0000094386 etcd[61441]: {"level":"info","ts":"2026-06-18T04:50:56.854201Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 04:50:56 np0000094386 etcd[61441]: {"level":"info","ts":"2026-06-18T04:50:56.854555Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:56 np0000094386 etcd[61441]: {"level":"info","ts":"2026-06-18T04:50:56.854644Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094386","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:56 np0000094386 etcd[61441]: {"level":"info","ts":"2026-06-18T04:50:56.854702Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094386","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:56 np0000094386 etcd[61441]: {"level":"warn","ts":"2026-06-18T04:50:56.854742Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 04:50:56 np0000094386 etcd[61441]: {"level":"fatal","ts":"2026-06-18T04:50:56.854790Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 04:50:56 np0000094386 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 04:50:56 np0000094386 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 04:50:56 np0000094386 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 04:50:57 np0000094386 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 18 04:50:57 np0000094386 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 04:50:57 np0000094386 etcd[61480]: {"level":"warn","ts":"2026-06-18T04:50:57.098769Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 04:50:57 np0000094386 etcd[61480]: {"level":"info","ts":"2026-06-18T04:50:57.098973Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094386","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094386=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 04:50:57 np0000094386 etcd[61480]: {"level":"warn","ts":"2026-06-18T04:50:57.099120Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 04:50:57 np0000094386 etcd[61480]: {"level":"info","ts":"2026-06-18T04:50:57.099155Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 04:50:57 np0000094386 etcd[61480]: {"level":"info","ts":"2026-06-18T04:50:57.099527Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:57 np0000094386 etcd[61480]: {"level":"info","ts":"2026-06-18T04:50:57.099630Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094386","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:57 np0000094386 etcd[61480]: {"level":"info","ts":"2026-06-18T04:50:57.099701Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094386","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 04:50:57 np0000094386 etcd[61480]: {"level":"warn","ts":"2026-06-18T04:50:57.099760Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 04:50:57 np0000094386 etcd[61480]: {"level":"fatal","ts":"2026-06-18T04:50:57.099815Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 04:50:57 np0000094386 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 04:50:57 np0000094386 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 04:50:57 np0000094386 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 04:50:57 np0000094386 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 18 04:50:57 np0000094386 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 18 04:50:57 np0000094386 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 04:50:57 np0000094386 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
