Apr 17 10:49:25 np0000094008 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 10:49:25 np0000094008 etcd[60216]: {"level":"warn","ts":"2026-04-17T10:49:25.796448Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:49:25 np0000094008 etcd[60216]: {"level":"info","ts":"2026-04-17T10:49:25.796618Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094008","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094008=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 10:49:25 np0000094008 etcd[60216]: {"level":"warn","ts":"2026-04-17T10:49:25.796776Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:49:25 np0000094008 etcd[60216]: {"level":"info","ts":"2026-04-17T10:49:25.796811Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 10:49:25 np0000094008 etcd[60216]: {"level":"info","ts":"2026-04-17T10:49:25.797282Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:25 np0000094008 etcd[60216]: {"level":"info","ts":"2026-04-17T10:49:25.797387Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094008","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:25 np0000094008 etcd[60216]: {"level":"info","ts":"2026-04-17T10:49:25.797455Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094008","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:25 np0000094008 etcd[60216]: {"level":"warn","ts":"2026-04-17T10:49:25.797507Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 10:49:25 np0000094008 etcd[60216]: {"level":"fatal","ts":"2026-04-17T10:49:25.797562Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 10:49:25 np0000094008 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 10:49:25 np0000094008 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 10:49:25 np0000094008 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 10:49:26 np0000094008 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 17 10:49:26 np0000094008 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 10:49:26 np0000094008 etcd[60318]: {"level":"warn","ts":"2026-04-17T10:49:26.183039Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:49:26 np0000094008 etcd[60318]: {"level":"info","ts":"2026-04-17T10:49:26.184282Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094008","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094008=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 10:49:26 np0000094008 etcd[60318]: {"level":"warn","ts":"2026-04-17T10:49:26.184480Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:49:26 np0000094008 etcd[60318]: {"level":"info","ts":"2026-04-17T10:49:26.184532Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 10:49:26 np0000094008 etcd[60318]: {"level":"info","ts":"2026-04-17T10:49:26.184967Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:26 np0000094008 etcd[60318]: {"level":"info","ts":"2026-04-17T10:49:26.185077Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094008","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:26 np0000094008 etcd[60318]: {"level":"info","ts":"2026-04-17T10:49:26.185738Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094008","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:26 np0000094008 etcd[60318]: {"level":"warn","ts":"2026-04-17T10:49:26.185804Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 10:49:26 np0000094008 etcd[60318]: {"level":"fatal","ts":"2026-04-17T10:49:26.185884Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 10:49:26 np0000094008 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 10:49:26 np0000094008 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 10:49:26 np0000094008 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 10:49:26 np0000094008 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 17 10:49:26 np0000094008 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 10:49:26 np0000094008 etcd[60336]: {"level":"warn","ts":"2026-04-17T10:49:26.434330Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:49:26 np0000094008 etcd[60336]: {"level":"info","ts":"2026-04-17T10:49:26.435748Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094008","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094008=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 10:49:26 np0000094008 etcd[60336]: {"level":"warn","ts":"2026-04-17T10:49:26.436024Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:49:26 np0000094008 etcd[60336]: {"level":"info","ts":"2026-04-17T10:49:26.436087Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 10:49:26 np0000094008 etcd[60336]: {"level":"info","ts":"2026-04-17T10:49:26.438431Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:26 np0000094008 etcd[60336]: {"level":"info","ts":"2026-04-17T10:49:26.438623Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094008","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:26 np0000094008 etcd[60336]: {"level":"info","ts":"2026-04-17T10:49:26.438708Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094008","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:26 np0000094008 etcd[60336]: {"level":"warn","ts":"2026-04-17T10:49:26.438801Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 10:49:26 np0000094008 etcd[60336]: {"level":"fatal","ts":"2026-04-17T10:49:26.438891Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 10:49:26 np0000094008 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 10:49:26 np0000094008 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 10:49:26 np0000094008 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 10:49:26 np0000094008 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 17 10:49:26 np0000094008 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 10:49:26 np0000094008 etcd[60357]: {"level":"warn","ts":"2026-04-17T10:49:26.662832Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:49:26 np0000094008 etcd[60357]: {"level":"info","ts":"2026-04-17T10:49:26.662948Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094008","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094008=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 10:49:26 np0000094008 etcd[60357]: {"level":"warn","ts":"2026-04-17T10:49:26.663061Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:49:26 np0000094008 etcd[60357]: {"level":"info","ts":"2026-04-17T10:49:26.663078Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 10:49:26 np0000094008 etcd[60357]: {"level":"info","ts":"2026-04-17T10:49:26.663364Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:26 np0000094008 etcd[60357]: {"level":"info","ts":"2026-04-17T10:49:26.663437Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094008","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:26 np0000094008 etcd[60357]: {"level":"info","ts":"2026-04-17T10:49:26.663471Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094008","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:26 np0000094008 etcd[60357]: {"level":"warn","ts":"2026-04-17T10:49:26.663508Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 10:49:26 np0000094008 etcd[60357]: {"level":"fatal","ts":"2026-04-17T10:49:26.663569Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 10:49:26 np0000094008 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 10:49:26 np0000094008 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 10:49:26 np0000094008 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 10:49:26 np0000094008 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 17 10:49:26 np0000094008 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 10:49:26 np0000094008 etcd[60398]: {"level":"warn","ts":"2026-04-17T10:49:26.940653Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:49:26 np0000094008 etcd[60398]: {"level":"info","ts":"2026-04-17T10:49:26.940808Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094008","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094008=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 10:49:26 np0000094008 etcd[60398]: {"level":"warn","ts":"2026-04-17T10:49:26.940954Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 10:49:26 np0000094008 etcd[60398]: {"level":"info","ts":"2026-04-17T10:49:26.940979Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 10:49:26 np0000094008 etcd[60398]: {"level":"info","ts":"2026-04-17T10:49:26.941373Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:26 np0000094008 etcd[60398]: {"level":"info","ts":"2026-04-17T10:49:26.941469Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094008","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:26 np0000094008 etcd[60398]: {"level":"info","ts":"2026-04-17T10:49:26.941532Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094008","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 10:49:26 np0000094008 etcd[60398]: {"level":"warn","ts":"2026-04-17T10:49:26.941578Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 10:49:26 np0000094008 etcd[60398]: {"level":"fatal","ts":"2026-04-17T10:49:26.941629Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 10:49:26 np0000094008 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 10:49:26 np0000094008 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 10:49:26 np0000094008 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 10:49:27 np0000094008 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 17 10:49:27 np0000094008 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 17 10:49:27 np0000094008 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 10:49:27 np0000094008 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
