Apr 08 09:26:52 np0000093866 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 09:26:52 np0000093866 etcd[65867]: {"level":"warn","ts":"2026-04-08T09:26:52.946220Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 09:26:52 np0000093866 etcd[65867]: {"level":"info","ts":"2026-04-08T09:26:52.946398Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093866","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093866=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 09:26:52 np0000093866 etcd[65867]: {"level":"warn","ts":"2026-04-08T09:26:52.946601Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 09:26:52 np0000093866 etcd[65867]: {"level":"info","ts":"2026-04-08T09:26:52.946632Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 09:26:52 np0000093866 etcd[65867]: {"level":"info","ts":"2026-04-08T09:26:52.947136Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:52 np0000093866 etcd[65867]: {"level":"info","ts":"2026-04-08T09:26:52.947269Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093866","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:52 np0000093866 etcd[65867]: {"level":"info","ts":"2026-04-08T09:26:52.947355Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093866","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:52 np0000093866 etcd[65867]: {"level":"warn","ts":"2026-04-08T09:26:52.947420Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 09:26:52 np0000093866 etcd[65867]: {"level":"fatal","ts":"2026-04-08T09:26:52.947497Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 09:26:52 np0000093866 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 09:26:52 np0000093866 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 09:26:52 np0000093866 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 09:26:53 np0000093866 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 08 09:26:53 np0000093866 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 09:26:53 np0000093866 etcd[65961]: {"level":"warn","ts":"2026-04-08T09:26:53.335276Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 09:26:53 np0000093866 etcd[65961]: {"level":"info","ts":"2026-04-08T09:26:53.336661Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093866","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093866=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 09:26:53 np0000093866 etcd[65961]: {"level":"warn","ts":"2026-04-08T09:26:53.337611Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 09:26:53 np0000093866 etcd[65961]: {"level":"info","ts":"2026-04-08T09:26:53.337662Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 09:26:53 np0000093866 etcd[65961]: {"level":"info","ts":"2026-04-08T09:26:53.338566Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:53 np0000093866 etcd[65961]: {"level":"info","ts":"2026-04-08T09:26:53.338775Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093866","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:53 np0000093866 etcd[65961]: {"level":"info","ts":"2026-04-08T09:26:53.338860Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093866","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:53 np0000093866 etcd[65961]: {"level":"warn","ts":"2026-04-08T09:26:53.338919Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 09:26:53 np0000093866 etcd[65961]: {"level":"fatal","ts":"2026-04-08T09:26:53.338988Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 09:26:53 np0000093866 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 09:26:53 np0000093866 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 09:26:53 np0000093866 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 09:26:53 np0000093866 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 08 09:26:53 np0000093866 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 09:26:53 np0000093866 etcd[65988]: {"level":"warn","ts":"2026-04-08T09:26:53.568655Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 09:26:53 np0000093866 etcd[65988]: {"level":"info","ts":"2026-04-08T09:26:53.568879Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093866","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093866=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 09:26:53 np0000093866 etcd[65988]: {"level":"warn","ts":"2026-04-08T09:26:53.569058Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 09:26:53 np0000093866 etcd[65988]: {"level":"info","ts":"2026-04-08T09:26:53.569101Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 09:26:53 np0000093866 etcd[65988]: {"level":"info","ts":"2026-04-08T09:26:53.569627Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:53 np0000093866 etcd[65988]: {"level":"info","ts":"2026-04-08T09:26:53.569790Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093866","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:53 np0000093866 etcd[65988]: {"level":"info","ts":"2026-04-08T09:26:53.569875Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093866","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:53 np0000093866 etcd[65988]: {"level":"warn","ts":"2026-04-08T09:26:53.569943Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 09:26:53 np0000093866 etcd[65988]: {"level":"fatal","ts":"2026-04-08T09:26:53.570011Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 09:26:53 np0000093866 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 09:26:53 np0000093866 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 09:26:53 np0000093866 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 09:26:53 np0000093866 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 08 09:26:53 np0000093866 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 09:26:53 np0000093866 etcd[65995]: {"level":"warn","ts":"2026-04-08T09:26:53.818384Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 09:26:53 np0000093866 etcd[65995]: {"level":"info","ts":"2026-04-08T09:26:53.819469Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093866","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093866=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 09:26:53 np0000093866 etcd[65995]: {"level":"warn","ts":"2026-04-08T09:26:53.820247Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 09:26:53 np0000093866 etcd[65995]: {"level":"info","ts":"2026-04-08T09:26:53.820300Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 09:26:53 np0000093866 etcd[65995]: {"level":"info","ts":"2026-04-08T09:26:53.820895Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:53 np0000093866 etcd[65995]: {"level":"info","ts":"2026-04-08T09:26:53.821025Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093866","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:53 np0000093866 etcd[65995]: {"level":"info","ts":"2026-04-08T09:26:53.821107Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093866","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:53 np0000093866 etcd[65995]: {"level":"warn","ts":"2026-04-08T09:26:53.821165Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 09:26:53 np0000093866 etcd[65995]: {"level":"fatal","ts":"2026-04-08T09:26:53.821234Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 09:26:53 np0000093866 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 09:26:53 np0000093866 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 09:26:53 np0000093866 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 09:26:54 np0000093866 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 08 09:26:54 np0000093866 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 08 09:26:54 np0000093866 etcd[66015]: {"level":"warn","ts":"2026-04-08T09:26:54.072183Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 09:26:54 np0000093866 etcd[66015]: {"level":"info","ts":"2026-04-08T09:26:54.072395Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093866","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093866=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 08 09:26:54 np0000093866 etcd[66015]: {"level":"warn","ts":"2026-04-08T09:26:54.072618Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 08 09:26:54 np0000093866 etcd[66015]: {"level":"info","ts":"2026-04-08T09:26:54.072653Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 08 09:26:54 np0000093866 etcd[66015]: {"level":"info","ts":"2026-04-08T09:26:54.073318Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:54 np0000093866 etcd[66015]: {"level":"info","ts":"2026-04-08T09:26:54.073442Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093866","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:54 np0000093866 etcd[66015]: {"level":"info","ts":"2026-04-08T09:26:54.073543Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093866","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 08 09:26:54 np0000093866 etcd[66015]: {"level":"warn","ts":"2026-04-08T09:26:54.073602Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 08 09:26:54 np0000093866 etcd[66015]: {"level":"fatal","ts":"2026-04-08T09:26:54.073671Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 08 09:26:54 np0000093866 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 08 09:26:54 np0000093866 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 09:26:54 np0000093866 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 08 09:26:54 np0000093866 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 08 09:26:54 np0000093866 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 08 09:26:54 np0000093866 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 08 09:26:54 np0000093866 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
