Jun 11 16:14:05 np0000094326 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 16:14:05 np0000094326 etcd[60191]: {"level":"warn","ts":"2026-06-11T16:14:05.332403Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 16:14:05 np0000094326 etcd[60191]: {"level":"info","ts":"2026-06-11T16:14:05.332562Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094326","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094326=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 16:14:05 np0000094326 etcd[60191]: {"level":"warn","ts":"2026-06-11T16:14:05.332710Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 16:14:05 np0000094326 etcd[60191]: {"level":"info","ts":"2026-06-11T16:14:05.332744Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 16:14:05 np0000094326 etcd[60191]: {"level":"info","ts":"2026-06-11T16:14:05.333175Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:05 np0000094326 etcd[60191]: {"level":"info","ts":"2026-06-11T16:14:05.333280Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094326","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:05 np0000094326 etcd[60191]: {"level":"info","ts":"2026-06-11T16:14:05.333378Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094326","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:05 np0000094326 etcd[60191]: {"level":"warn","ts":"2026-06-11T16:14:05.333444Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 16:14:05 np0000094326 etcd[60191]: {"level":"fatal","ts":"2026-06-11T16:14:05.333499Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 16:14:05 np0000094326 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 16:14:05 np0000094326 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 16:14:05 np0000094326 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 16:14:05 np0000094326 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 11 16:14:05 np0000094326 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 16:14:05 np0000094326 etcd[60240]: {"level":"warn","ts":"2026-06-11T16:14:05.548758Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 16:14:05 np0000094326 etcd[60240]: {"level":"info","ts":"2026-06-11T16:14:05.549773Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094326","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094326=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 16:14:05 np0000094326 etcd[60240]: {"level":"warn","ts":"2026-06-11T16:14:05.549965Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 16:14:05 np0000094326 etcd[60240]: {"level":"info","ts":"2026-06-11T16:14:05.549994Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 16:14:05 np0000094326 etcd[60240]: {"level":"info","ts":"2026-06-11T16:14:05.550397Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:05 np0000094326 etcd[60240]: {"level":"info","ts":"2026-06-11T16:14:05.550503Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094326","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:05 np0000094326 etcd[60240]: {"level":"info","ts":"2026-06-11T16:14:05.550569Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094326","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:05 np0000094326 etcd[60240]: {"level":"warn","ts":"2026-06-11T16:14:05.550614Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 16:14:05 np0000094326 etcd[60240]: {"level":"fatal","ts":"2026-06-11T16:14:05.550689Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 16:14:05 np0000094326 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 16:14:05 np0000094326 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 16:14:05 np0000094326 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 16:14:05 np0000094326 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 11 16:14:05 np0000094326 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 16:14:05 np0000094326 etcd[60311]: {"level":"warn","ts":"2026-06-11T16:14:05.810061Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 16:14:05 np0000094326 etcd[60311]: {"level":"info","ts":"2026-06-11T16:14:05.810240Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094326","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094326=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 16:14:05 np0000094326 etcd[60311]: {"level":"warn","ts":"2026-06-11T16:14:05.810464Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 16:14:05 np0000094326 etcd[60311]: {"level":"info","ts":"2026-06-11T16:14:05.810509Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 16:14:05 np0000094326 etcd[60311]: {"level":"info","ts":"2026-06-11T16:14:05.810982Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:05 np0000094326 etcd[60311]: {"level":"info","ts":"2026-06-11T16:14:05.811104Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094326","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:05 np0000094326 etcd[60311]: {"level":"info","ts":"2026-06-11T16:14:05.811198Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094326","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:05 np0000094326 etcd[60311]: {"level":"warn","ts":"2026-06-11T16:14:05.811253Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 16:14:05 np0000094326 etcd[60311]: {"level":"fatal","ts":"2026-06-11T16:14:05.811324Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 16:14:05 np0000094326 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 16:14:05 np0000094326 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 16:14:05 np0000094326 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 16:14:05 np0000094326 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 11 16:14:05 np0000094326 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 16:14:06 np0000094326 etcd[60318]: {"level":"warn","ts":"2026-06-11T16:14:06.058442Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 16:14:06 np0000094326 etcd[60318]: {"level":"info","ts":"2026-06-11T16:14:06.058652Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094326","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094326=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 16:14:06 np0000094326 etcd[60318]: {"level":"warn","ts":"2026-06-11T16:14:06.058820Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 16:14:06 np0000094326 etcd[60318]: {"level":"info","ts":"2026-06-11T16:14:06.058879Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 16:14:06 np0000094326 etcd[60318]: {"level":"info","ts":"2026-06-11T16:14:06.059473Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:06 np0000094326 etcd[60318]: {"level":"info","ts":"2026-06-11T16:14:06.059610Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094326","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:06 np0000094326 etcd[60318]: {"level":"info","ts":"2026-06-11T16:14:06.059695Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094326","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:06 np0000094326 etcd[60318]: {"level":"warn","ts":"2026-06-11T16:14:06.059751Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 16:14:06 np0000094326 etcd[60318]: {"level":"fatal","ts":"2026-06-11T16:14:06.059816Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 16:14:06 np0000094326 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 16:14:06 np0000094326 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 16:14:06 np0000094326 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 16:14:06 np0000094326 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 11 16:14:06 np0000094326 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 16:14:06 np0000094326 etcd[60338]: {"level":"warn","ts":"2026-06-11T16:14:06.311799Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 16:14:06 np0000094326 etcd[60338]: {"level":"info","ts":"2026-06-11T16:14:06.312032Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094326","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094326=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 16:14:06 np0000094326 etcd[60338]: {"level":"warn","ts":"2026-06-11T16:14:06.312225Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 16:14:06 np0000094326 etcd[60338]: {"level":"info","ts":"2026-06-11T16:14:06.312267Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 16:14:06 np0000094326 etcd[60338]: {"level":"info","ts":"2026-06-11T16:14:06.312915Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:06 np0000094326 etcd[60338]: {"level":"info","ts":"2026-06-11T16:14:06.313040Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094326","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:06 np0000094326 etcd[60338]: {"level":"info","ts":"2026-06-11T16:14:06.313121Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094326","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 16:14:06 np0000094326 etcd[60338]: {"level":"warn","ts":"2026-06-11T16:14:06.313180Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 16:14:06 np0000094326 etcd[60338]: {"level":"fatal","ts":"2026-06-11T16:14:06.313244Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 16:14:06 np0000094326 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 16:14:06 np0000094326 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 16:14:06 np0000094326 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 16:14:06 np0000094326 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 11 16:14:06 np0000094326 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 11 16:14:06 np0000094326 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 16:14:06 np0000094326 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
