May 20 13:47:05 np0000094143 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 13:47:05 np0000094143 etcd[60379]: {"level":"warn","ts":"2026-05-20T13:47:05.603932Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 13:47:05 np0000094143 etcd[60379]: {"level":"info","ts":"2026-05-20T13:47:05.604141Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094143","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094143=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 13:47:05 np0000094143 etcd[60379]: {"level":"warn","ts":"2026-05-20T13:47:05.604322Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 13:47:05 np0000094143 etcd[60379]: {"level":"info","ts":"2026-05-20T13:47:05.604352Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 13:47:05 np0000094143 etcd[60379]: {"level":"info","ts":"2026-05-20T13:47:05.604826Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:05 np0000094143 etcd[60379]: {"level":"info","ts":"2026-05-20T13:47:05.604938Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094143","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:05 np0000094143 etcd[60379]: {"level":"info","ts":"2026-05-20T13:47:05.605014Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094143","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:05 np0000094143 etcd[60379]: {"level":"warn","ts":"2026-05-20T13:47:05.605066Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 13:47:05 np0000094143 etcd[60379]: {"level":"fatal","ts":"2026-05-20T13:47:05.605147Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 13:47:05 np0000094143 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 13:47:05 np0000094143 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 13:47:05 np0000094143 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 13:47:05 np0000094143 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 20 13:47:05 np0000094143 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 13:47:05 np0000094143 etcd[60457]: {"level":"warn","ts":"2026-05-20T13:47:05.902879Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 13:47:05 np0000094143 etcd[60457]: {"level":"info","ts":"2026-05-20T13:47:05.903082Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094143","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094143=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 13:47:05 np0000094143 etcd[60457]: {"level":"warn","ts":"2026-05-20T13:47:05.903304Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 13:47:05 np0000094143 etcd[60457]: {"level":"info","ts":"2026-05-20T13:47:05.903341Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 13:47:05 np0000094143 etcd[60457]: {"level":"info","ts":"2026-05-20T13:47:05.903934Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:05 np0000094143 etcd[60457]: {"level":"info","ts":"2026-05-20T13:47:05.904073Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094143","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:05 np0000094143 etcd[60457]: {"level":"info","ts":"2026-05-20T13:47:05.904136Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094143","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:05 np0000094143 etcd[60457]: {"level":"warn","ts":"2026-05-20T13:47:05.904196Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 13:47:05 np0000094143 etcd[60457]: {"level":"fatal","ts":"2026-05-20T13:47:05.904263Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 13:47:05 np0000094143 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 13:47:05 np0000094143 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 13:47:05 np0000094143 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 13:47:06 np0000094143 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 20 13:47:06 np0000094143 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 13:47:06 np0000094143 etcd[60500]: {"level":"warn","ts":"2026-05-20T13:47:06.154812Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 13:47:06 np0000094143 etcd[60500]: {"level":"info","ts":"2026-05-20T13:47:06.155018Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094143","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094143=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 13:47:06 np0000094143 etcd[60500]: {"level":"warn","ts":"2026-05-20T13:47:06.155209Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 13:47:06 np0000094143 etcd[60500]: {"level":"info","ts":"2026-05-20T13:47:06.155263Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 13:47:06 np0000094143 etcd[60500]: {"level":"info","ts":"2026-05-20T13:47:06.155796Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:06 np0000094143 etcd[60500]: {"level":"info","ts":"2026-05-20T13:47:06.155920Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094143","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:06 np0000094143 etcd[60500]: {"level":"info","ts":"2026-05-20T13:47:06.156014Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094143","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:06 np0000094143 etcd[60500]: {"level":"warn","ts":"2026-05-20T13:47:06.156070Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 13:47:06 np0000094143 etcd[60500]: {"level":"fatal","ts":"2026-05-20T13:47:06.156161Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 13:47:06 np0000094143 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 13:47:06 np0000094143 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 13:47:06 np0000094143 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 13:47:06 np0000094143 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 20 13:47:06 np0000094143 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 13:47:06 np0000094143 etcd[60515]: {"level":"warn","ts":"2026-05-20T13:47:06.384739Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 13:47:06 np0000094143 etcd[60515]: {"level":"info","ts":"2026-05-20T13:47:06.384833Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094143","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094143=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 13:47:06 np0000094143 etcd[60515]: {"level":"warn","ts":"2026-05-20T13:47:06.384917Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 13:47:06 np0000094143 etcd[60515]: {"level":"info","ts":"2026-05-20T13:47:06.384933Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 13:47:06 np0000094143 etcd[60515]: {"level":"info","ts":"2026-05-20T13:47:06.385185Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:06 np0000094143 etcd[60515]: {"level":"info","ts":"2026-05-20T13:47:06.385250Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094143","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:06 np0000094143 etcd[60515]: {"level":"info","ts":"2026-05-20T13:47:06.385305Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094143","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:06 np0000094143 etcd[60515]: {"level":"warn","ts":"2026-05-20T13:47:06.385333Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 13:47:06 np0000094143 etcd[60515]: {"level":"fatal","ts":"2026-05-20T13:47:06.385378Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 13:47:06 np0000094143 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 13:47:06 np0000094143 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 13:47:06 np0000094143 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 13:47:06 np0000094143 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 20 13:47:06 np0000094143 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 13:47:06 np0000094143 etcd[60549]: {"level":"warn","ts":"2026-05-20T13:47:06.658234Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 13:47:06 np0000094143 etcd[60549]: {"level":"info","ts":"2026-05-20T13:47:06.658420Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094143","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094143=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 13:47:06 np0000094143 etcd[60549]: {"level":"warn","ts":"2026-05-20T13:47:06.659051Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 13:47:06 np0000094143 etcd[60549]: {"level":"info","ts":"2026-05-20T13:47:06.659101Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 13:47:06 np0000094143 etcd[60549]: {"level":"info","ts":"2026-05-20T13:47:06.660275Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:06 np0000094143 etcd[60549]: {"level":"info","ts":"2026-05-20T13:47:06.660450Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094143","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:06 np0000094143 etcd[60549]: {"level":"info","ts":"2026-05-20T13:47:06.660511Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094143","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 13:47:06 np0000094143 etcd[60549]: {"level":"warn","ts":"2026-05-20T13:47:06.660562Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 13:47:06 np0000094143 etcd[60549]: {"level":"fatal","ts":"2026-05-20T13:47:06.660619Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 13:47:06 np0000094143 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 13:47:06 np0000094143 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 13:47:06 np0000094143 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 13:47:06 np0000094143 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 20 13:47:06 np0000094143 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 20 13:47:06 np0000094143 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 13:47:06 np0000094143 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
