Apr 14 22:05:58 np0000093960 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 22:05:58 np0000093960 etcd[60648]: {"level":"warn","ts":"2026-04-14T22:05:58.344604Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 22:05:58 np0000093960 etcd[60648]: {"level":"info","ts":"2026-04-14T22:05:58.345721Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093960","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093960=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 22:05:58 np0000093960 etcd[60648]: {"level":"warn","ts":"2026-04-14T22:05:58.345905Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 22:05:58 np0000093960 etcd[60648]: {"level":"info","ts":"2026-04-14T22:05:58.345944Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 22:05:58 np0000093960 etcd[60648]: {"level":"info","ts":"2026-04-14T22:05:58.346363Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:58 np0000093960 etcd[60648]: {"level":"info","ts":"2026-04-14T22:05:58.346470Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093960","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:58 np0000093960 etcd[60648]: {"level":"info","ts":"2026-04-14T22:05:58.346542Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093960","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:58 np0000093960 etcd[60648]: {"level":"warn","ts":"2026-04-14T22:05:58.346617Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 22:05:58 np0000093960 etcd[60648]: {"level":"fatal","ts":"2026-04-14T22:05:58.346704Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 22:05:58 np0000093960 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 22:05:58 np0000093960 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 22:05:58 np0000093960 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 22:05:58 np0000093960 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 22:05:58 np0000093960 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 22:05:58 np0000093960 etcd[60687]: {"level":"warn","ts":"2026-04-14T22:05:58.539622Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 22:05:58 np0000093960 etcd[60687]: {"level":"info","ts":"2026-04-14T22:05:58.540932Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093960","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093960=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 22:05:58 np0000093960 etcd[60687]: {"level":"warn","ts":"2026-04-14T22:05:58.541446Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 22:05:58 np0000093960 etcd[60687]: {"level":"info","ts":"2026-04-14T22:05:58.541513Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 22:05:58 np0000093960 etcd[60687]: {"level":"info","ts":"2026-04-14T22:05:58.542050Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:58 np0000093960 etcd[60687]: {"level":"info","ts":"2026-04-14T22:05:58.542171Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093960","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:58 np0000093960 etcd[60687]: {"level":"info","ts":"2026-04-14T22:05:58.542256Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093960","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:58 np0000093960 etcd[60687]: {"level":"warn","ts":"2026-04-14T22:05:58.542334Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 22:05:58 np0000093960 etcd[60687]: {"level":"fatal","ts":"2026-04-14T22:05:58.542404Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 22:05:58 np0000093960 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 22:05:58 np0000093960 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 22:05:58 np0000093960 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 22:05:58 np0000093960 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 22:05:58 np0000093960 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 22:05:58 np0000093960 etcd[60763]: {"level":"warn","ts":"2026-04-14T22:05:58.787524Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 22:05:58 np0000093960 etcd[60763]: {"level":"info","ts":"2026-04-14T22:05:58.787695Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093960","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093960=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 22:05:58 np0000093960 etcd[60763]: {"level":"warn","ts":"2026-04-14T22:05:58.787865Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 22:05:58 np0000093960 etcd[60763]: {"level":"info","ts":"2026-04-14T22:05:58.787894Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 22:05:58 np0000093960 etcd[60763]: {"level":"info","ts":"2026-04-14T22:05:58.788250Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:58 np0000093960 etcd[60763]: {"level":"info","ts":"2026-04-14T22:05:58.788382Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093960","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:58 np0000093960 etcd[60763]: {"level":"info","ts":"2026-04-14T22:05:58.788456Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093960","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:58 np0000093960 etcd[60763]: {"level":"warn","ts":"2026-04-14T22:05:58.788514Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 22:05:58 np0000093960 etcd[60763]: {"level":"fatal","ts":"2026-04-14T22:05:58.788592Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 22:05:58 np0000093960 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 22:05:58 np0000093960 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 22:05:58 np0000093960 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 22:05:58 np0000093960 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 22:05:58 np0000093960 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 22:05:59 np0000093960 etcd[60777]: {"level":"warn","ts":"2026-04-14T22:05:59.042157Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 22:05:59 np0000093960 etcd[60777]: {"level":"info","ts":"2026-04-14T22:05:59.042387Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093960","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093960=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 22:05:59 np0000093960 etcd[60777]: {"level":"warn","ts":"2026-04-14T22:05:59.042572Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 22:05:59 np0000093960 etcd[60777]: {"level":"info","ts":"2026-04-14T22:05:59.042606Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 22:05:59 np0000093960 etcd[60777]: {"level":"info","ts":"2026-04-14T22:05:59.043133Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:59 np0000093960 etcd[60777]: {"level":"info","ts":"2026-04-14T22:05:59.043259Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093960","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:59 np0000093960 etcd[60777]: {"level":"info","ts":"2026-04-14T22:05:59.043365Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093960","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:59 np0000093960 etcd[60777]: {"level":"warn","ts":"2026-04-14T22:05:59.043435Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 22:05:59 np0000093960 etcd[60777]: {"level":"fatal","ts":"2026-04-14T22:05:59.043505Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 22:05:59 np0000093960 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 22:05:59 np0000093960 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 22:05:59 np0000093960 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 22:05:59 np0000093960 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 22:05:59 np0000093960 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 22:05:59 np0000093960 etcd[60802]: {"level":"warn","ts":"2026-04-14T22:05:59.253414Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 22:05:59 np0000093960 etcd[60802]: {"level":"info","ts":"2026-04-14T22:05:59.253534Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093960","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093960=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 22:05:59 np0000093960 etcd[60802]: {"level":"warn","ts":"2026-04-14T22:05:59.253637Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 22:05:59 np0000093960 etcd[60802]: {"level":"info","ts":"2026-04-14T22:05:59.253654Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 22:05:59 np0000093960 etcd[60802]: {"level":"info","ts":"2026-04-14T22:05:59.253925Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:59 np0000093960 etcd[60802]: {"level":"info","ts":"2026-04-14T22:05:59.253985Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093960","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:59 np0000093960 etcd[60802]: {"level":"info","ts":"2026-04-14T22:05:59.254029Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093960","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 22:05:59 np0000093960 etcd[60802]: {"level":"warn","ts":"2026-04-14T22:05:59.254057Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 22:05:59 np0000093960 etcd[60802]: {"level":"fatal","ts":"2026-04-14T22:05:59.254090Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 22:05:59 np0000093960 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 22:05:59 np0000093960 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 22:05:59 np0000093960 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 22:05:59 np0000093960 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 22:05:59 np0000093960 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 22:05:59 np0000093960 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 22:05:59 np0000093960 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
