Jun 24 12:03:56 np0000094459 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 12:03:56 np0000094459 etcd[60507]: {"level":"warn","ts":"2026-06-24T12:03:56.757248Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:03:56 np0000094459 etcd[60507]: {"level":"info","ts":"2026-06-24T12:03:56.757452Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094459","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094459=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 12:03:56 np0000094459 etcd[60507]: {"level":"warn","ts":"2026-06-24T12:03:56.757649Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:03:56 np0000094459 etcd[60507]: {"level":"info","ts":"2026-06-24T12:03:56.757692Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 12:03:56 np0000094459 etcd[60507]: {"level":"info","ts":"2026-06-24T12:03:56.758206Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:56 np0000094459 etcd[60507]: {"level":"info","ts":"2026-06-24T12:03:56.758472Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094459","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:56 np0000094459 etcd[60507]: {"level":"info","ts":"2026-06-24T12:03:56.758593Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094459","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:56 np0000094459 etcd[60507]: {"level":"warn","ts":"2026-06-24T12:03:56.758688Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 12:03:56 np0000094459 etcd[60507]: {"level":"fatal","ts":"2026-06-24T12:03:56.758758Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 12:03:56 np0000094459 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 12:03:56 np0000094459 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 12:03:56 np0000094459 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 12:03:56 np0000094459 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 24 12:03:56 np0000094459 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 12:03:56 np0000094459 etcd[60558]: {"level":"warn","ts":"2026-06-24T12:03:56.987482Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:03:56 np0000094459 etcd[60558]: {"level":"info","ts":"2026-06-24T12:03:56.987690Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094459","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094459=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 12:03:56 np0000094459 etcd[60558]: {"level":"warn","ts":"2026-06-24T12:03:56.987861Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:03:56 np0000094459 etcd[60558]: {"level":"info","ts":"2026-06-24T12:03:56.987904Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 12:03:56 np0000094459 etcd[60558]: {"level":"info","ts":"2026-06-24T12:03:56.988475Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:56 np0000094459 etcd[60558]: {"level":"info","ts":"2026-06-24T12:03:56.988603Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094459","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:56 np0000094459 etcd[60558]: {"level":"info","ts":"2026-06-24T12:03:56.988728Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094459","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:56 np0000094459 etcd[60558]: {"level":"warn","ts":"2026-06-24T12:03:56.988790Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 12:03:56 np0000094459 etcd[60558]: {"level":"fatal","ts":"2026-06-24T12:03:56.988858Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 12:03:56 np0000094459 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 12:03:56 np0000094459 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 12:03:56 np0000094459 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 12:03:57 np0000094459 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 24 12:03:57 np0000094459 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 12:03:57 np0000094459 etcd[60627]: {"level":"warn","ts":"2026-06-24T12:03:57.222134Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:03:57 np0000094459 etcd[60627]: {"level":"info","ts":"2026-06-24T12:03:57.222316Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094459","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094459=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 12:03:57 np0000094459 etcd[60627]: {"level":"warn","ts":"2026-06-24T12:03:57.222489Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:03:57 np0000094459 etcd[60627]: {"level":"info","ts":"2026-06-24T12:03:57.222520Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 12:03:57 np0000094459 etcd[60627]: {"level":"info","ts":"2026-06-24T12:03:57.223074Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:57 np0000094459 etcd[60627]: {"level":"info","ts":"2026-06-24T12:03:57.223203Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094459","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:57 np0000094459 etcd[60627]: {"level":"info","ts":"2026-06-24T12:03:57.223286Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094459","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:57 np0000094459 etcd[60627]: {"level":"warn","ts":"2026-06-24T12:03:57.223347Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 12:03:57 np0000094459 etcd[60627]: {"level":"fatal","ts":"2026-06-24T12:03:57.223415Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 12:03:57 np0000094459 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 12:03:57 np0000094459 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 12:03:57 np0000094459 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 12:03:57 np0000094459 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 24 12:03:57 np0000094459 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 12:03:57 np0000094459 etcd[60635]: {"level":"warn","ts":"2026-06-24T12:03:57.476950Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:03:57 np0000094459 etcd[60635]: {"level":"info","ts":"2026-06-24T12:03:57.478300Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094459","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094459=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 12:03:57 np0000094459 etcd[60635]: {"level":"warn","ts":"2026-06-24T12:03:57.478515Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:03:57 np0000094459 etcd[60635]: {"level":"info","ts":"2026-06-24T12:03:57.478551Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 12:03:57 np0000094459 etcd[60635]: {"level":"info","ts":"2026-06-24T12:03:57.479765Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:57 np0000094459 etcd[60635]: {"level":"info","ts":"2026-06-24T12:03:57.479923Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094459","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:57 np0000094459 etcd[60635]: {"level":"info","ts":"2026-06-24T12:03:57.480038Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094459","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:57 np0000094459 etcd[60635]: {"level":"warn","ts":"2026-06-24T12:03:57.480099Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 12:03:57 np0000094459 etcd[60635]: {"level":"fatal","ts":"2026-06-24T12:03:57.480166Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 12:03:57 np0000094459 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 12:03:57 np0000094459 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 12:03:57 np0000094459 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 12:03:57 np0000094459 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 24 12:03:57 np0000094459 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 12:03:57 np0000094459 etcd[60656]: {"level":"warn","ts":"2026-06-24T12:03:57.728581Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:03:57 np0000094459 etcd[60656]: {"level":"info","ts":"2026-06-24T12:03:57.728792Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094459","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094459=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 12:03:57 np0000094459 etcd[60656]: {"level":"warn","ts":"2026-06-24T12:03:57.730098Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 12:03:57 np0000094459 etcd[60656]: {"level":"info","ts":"2026-06-24T12:03:57.730172Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 12:03:57 np0000094459 etcd[60656]: {"level":"info","ts":"2026-06-24T12:03:57.730723Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:57 np0000094459 etcd[60656]: {"level":"info","ts":"2026-06-24T12:03:57.730853Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094459","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:57 np0000094459 etcd[60656]: {"level":"info","ts":"2026-06-24T12:03:57.730939Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094459","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 12:03:57 np0000094459 etcd[60656]: {"level":"warn","ts":"2026-06-24T12:03:57.731027Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 12:03:57 np0000094459 etcd[60656]: {"level":"fatal","ts":"2026-06-24T12:03:57.731104Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 12:03:57 np0000094459 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 12:03:57 np0000094459 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 12:03:57 np0000094459 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 12:03:57 np0000094459 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 24 12:03:57 np0000094459 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 24 12:03:57 np0000094459 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 12:03:57 np0000094459 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
