Jun 20 12:12:45 np0000094420 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 20 12:12:46 np0000094420 etcd[60308]: {"level":"warn","ts":"2026-06-20T12:12:46.000913Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 20 12:12:46 np0000094420 etcd[60308]: {"level":"info","ts":"2026-06-20T12:12:46.001148Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094420","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094420=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 20 12:12:46 np0000094420 etcd[60308]: {"level":"warn","ts":"2026-06-20T12:12:46.001321Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 20 12:12:46 np0000094420 etcd[60308]: {"level":"info","ts":"2026-06-20T12:12:46.001353Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 20 12:12:46 np0000094420 etcd[60308]: {"level":"info","ts":"2026-06-20T12:12:46.001982Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:46 np0000094420 etcd[60308]: {"level":"info","ts":"2026-06-20T12:12:46.003955Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094420","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:46 np0000094420 etcd[60308]: {"level":"info","ts":"2026-06-20T12:12:46.004078Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094420","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:46 np0000094420 etcd[60308]: {"level":"warn","ts":"2026-06-20T12:12:46.004141Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 20 12:12:46 np0000094420 etcd[60308]: {"level":"fatal","ts":"2026-06-20T12:12:46.004233Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 20 12:12:46 np0000094420 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 20 12:12:46 np0000094420 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 20 12:12:46 np0000094420 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 20 12:12:46 np0000094420 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 20 12:12:46 np0000094420 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 20 12:12:46 np0000094420 etcd[60387]: {"level":"warn","ts":"2026-06-20T12:12:46.335738Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 20 12:12:46 np0000094420 etcd[60387]: {"level":"info","ts":"2026-06-20T12:12:46.336960Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094420","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094420=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 20 12:12:46 np0000094420 etcd[60387]: {"level":"warn","ts":"2026-06-20T12:12:46.337557Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 20 12:12:46 np0000094420 etcd[60387]: {"level":"info","ts":"2026-06-20T12:12:46.337621Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 20 12:12:46 np0000094420 etcd[60387]: {"level":"info","ts":"2026-06-20T12:12:46.338585Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:46 np0000094420 etcd[60387]: {"level":"info","ts":"2026-06-20T12:12:46.338824Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094420","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:46 np0000094420 etcd[60387]: {"level":"info","ts":"2026-06-20T12:12:46.338906Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094420","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:46 np0000094420 etcd[60387]: {"level":"warn","ts":"2026-06-20T12:12:46.338961Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 20 12:12:46 np0000094420 etcd[60387]: {"level":"fatal","ts":"2026-06-20T12:12:46.339063Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 20 12:12:46 np0000094420 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 20 12:12:46 np0000094420 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 20 12:12:46 np0000094420 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 20 12:12:46 np0000094420 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 20 12:12:46 np0000094420 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 20 12:12:46 np0000094420 etcd[60427]: {"level":"warn","ts":"2026-06-20T12:12:46.583936Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 20 12:12:46 np0000094420 etcd[60427]: {"level":"info","ts":"2026-06-20T12:12:46.584176Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094420","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094420=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 20 12:12:46 np0000094420 etcd[60427]: {"level":"warn","ts":"2026-06-20T12:12:46.584351Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 20 12:12:46 np0000094420 etcd[60427]: {"level":"info","ts":"2026-06-20T12:12:46.584385Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 20 12:12:46 np0000094420 etcd[60427]: {"level":"info","ts":"2026-06-20T12:12:46.584979Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:46 np0000094420 etcd[60427]: {"level":"info","ts":"2026-06-20T12:12:46.585141Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094420","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:46 np0000094420 etcd[60427]: {"level":"info","ts":"2026-06-20T12:12:46.585234Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094420","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:46 np0000094420 etcd[60427]: {"level":"warn","ts":"2026-06-20T12:12:46.585303Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 20 12:12:46 np0000094420 etcd[60427]: {"level":"fatal","ts":"2026-06-20T12:12:46.585372Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 20 12:12:46 np0000094420 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 20 12:12:46 np0000094420 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 20 12:12:46 np0000094420 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 20 12:12:46 np0000094420 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 20 12:12:46 np0000094420 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 20 12:12:46 np0000094420 etcd[60435]: {"level":"warn","ts":"2026-06-20T12:12:46.836407Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 20 12:12:46 np0000094420 etcd[60435]: {"level":"info","ts":"2026-06-20T12:12:46.836653Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094420","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094420=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 20 12:12:46 np0000094420 etcd[60435]: {"level":"warn","ts":"2026-06-20T12:12:46.836845Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 20 12:12:46 np0000094420 etcd[60435]: {"level":"info","ts":"2026-06-20T12:12:46.836886Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 20 12:12:46 np0000094420 etcd[60435]: {"level":"info","ts":"2026-06-20T12:12:46.837423Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:46 np0000094420 etcd[60435]: {"level":"info","ts":"2026-06-20T12:12:46.837582Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094420","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:46 np0000094420 etcd[60435]: {"level":"info","ts":"2026-06-20T12:12:46.837663Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094420","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:46 np0000094420 etcd[60435]: {"level":"warn","ts":"2026-06-20T12:12:46.837739Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 20 12:12:46 np0000094420 etcd[60435]: {"level":"fatal","ts":"2026-06-20T12:12:46.837805Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 20 12:12:46 np0000094420 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 20 12:12:46 np0000094420 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 20 12:12:46 np0000094420 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 20 12:12:47 np0000094420 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 20 12:12:47 np0000094420 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 20 12:12:47 np0000094420 etcd[60475]: {"level":"warn","ts":"2026-06-20T12:12:47.077566Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 20 12:12:47 np0000094420 etcd[60475]: {"level":"info","ts":"2026-06-20T12:12:47.077756Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094420","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094420=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 20 12:12:47 np0000094420 etcd[60475]: {"level":"warn","ts":"2026-06-20T12:12:47.077921Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 20 12:12:47 np0000094420 etcd[60475]: {"level":"info","ts":"2026-06-20T12:12:47.077949Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 20 12:12:47 np0000094420 etcd[60475]: {"level":"info","ts":"2026-06-20T12:12:47.078400Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:47 np0000094420 etcd[60475]: {"level":"info","ts":"2026-06-20T12:12:47.078543Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094420","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:47 np0000094420 etcd[60475]: {"level":"info","ts":"2026-06-20T12:12:47.078616Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094420","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 20 12:12:47 np0000094420 etcd[60475]: {"level":"warn","ts":"2026-06-20T12:12:47.078666Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 20 12:12:47 np0000094420 etcd[60475]: {"level":"fatal","ts":"2026-06-20T12:12:47.078751Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 20 12:12:47 np0000094420 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 20 12:12:47 np0000094420 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 20 12:12:47 np0000094420 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 20 12:12:47 np0000094420 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 20 12:12:47 np0000094420 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 20 12:12:47 np0000094420 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 20 12:12:47 np0000094420 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
