Jun 23 13:25:48 np0000094444 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 13:25:48 np0000094444 etcd[60561]: {"level":"warn","ts":"2026-06-23T13:25:48.530170Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:25:48 np0000094444 etcd[60561]: {"level":"info","ts":"2026-06-23T13:25:48.530406Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094444","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094444=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 13:25:48 np0000094444 etcd[60561]: {"level":"warn","ts":"2026-06-23T13:25:48.530614Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:25:48 np0000094444 etcd[60561]: {"level":"info","ts":"2026-06-23T13:25:48.530649Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 13:25:48 np0000094444 etcd[60561]: {"level":"info","ts":"2026-06-23T13:25:48.531256Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:48 np0000094444 etcd[60561]: {"level":"info","ts":"2026-06-23T13:25:48.531378Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094444","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:48 np0000094444 etcd[60561]: {"level":"info","ts":"2026-06-23T13:25:48.531462Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094444","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:48 np0000094444 etcd[60561]: {"level":"warn","ts":"2026-06-23T13:25:48.531521Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 13:25:48 np0000094444 etcd[60561]: {"level":"fatal","ts":"2026-06-23T13:25:48.531586Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 13:25:48 np0000094444 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 13:25:48 np0000094444 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 13:25:48 np0000094444 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 13:25:48 np0000094444 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 23 13:25:48 np0000094444 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 13:25:48 np0000094444 etcd[60659]: {"level":"warn","ts":"2026-06-23T13:25:48.918589Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:25:48 np0000094444 etcd[60659]: {"level":"info","ts":"2026-06-23T13:25:48.920601Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094444","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094444=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 13:25:48 np0000094444 etcd[60659]: {"level":"warn","ts":"2026-06-23T13:25:48.920977Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:25:48 np0000094444 etcd[60659]: {"level":"info","ts":"2026-06-23T13:25:48.921036Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 13:25:48 np0000094444 etcd[60659]: {"level":"info","ts":"2026-06-23T13:25:48.921695Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:48 np0000094444 etcd[60659]: {"level":"info","ts":"2026-06-23T13:25:48.921857Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094444","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:48 np0000094444 etcd[60659]: {"level":"info","ts":"2026-06-23T13:25:48.921945Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094444","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:48 np0000094444 etcd[60659]: {"level":"warn","ts":"2026-06-23T13:25:48.922003Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 13:25:48 np0000094444 etcd[60659]: {"level":"fatal","ts":"2026-06-23T13:25:48.922090Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 13:25:48 np0000094444 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 13:25:48 np0000094444 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 13:25:48 np0000094444 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 13:25:49 np0000094444 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 23 13:25:49 np0000094444 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 13:25:49 np0000094444 etcd[60682]: {"level":"warn","ts":"2026-06-23T13:25:49.165145Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:25:49 np0000094444 etcd[60682]: {"level":"info","ts":"2026-06-23T13:25:49.166293Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094444","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094444=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 13:25:49 np0000094444 etcd[60682]: {"level":"warn","ts":"2026-06-23T13:25:49.166483Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:25:49 np0000094444 etcd[60682]: {"level":"info","ts":"2026-06-23T13:25:49.166512Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 13:25:49 np0000094444 etcd[60682]: {"level":"info","ts":"2026-06-23T13:25:49.167570Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:49 np0000094444 etcd[60682]: {"level":"info","ts":"2026-06-23T13:25:49.167990Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094444","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:49 np0000094444 etcd[60682]: {"level":"info","ts":"2026-06-23T13:25:49.168071Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094444","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:49 np0000094444 etcd[60682]: {"level":"warn","ts":"2026-06-23T13:25:49.168121Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 13:25:49 np0000094444 etcd[60682]: {"level":"fatal","ts":"2026-06-23T13:25:49.168183Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 13:25:49 np0000094444 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 13:25:49 np0000094444 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 13:25:49 np0000094444 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 13:25:49 np0000094444 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 23 13:25:49 np0000094444 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 13:25:49 np0000094444 etcd[60766]: {"level":"warn","ts":"2026-06-23T13:25:49.385116Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:25:49 np0000094444 etcd[60766]: {"level":"info","ts":"2026-06-23T13:25:49.385230Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094444","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094444=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 13:25:49 np0000094444 etcd[60766]: {"level":"warn","ts":"2026-06-23T13:25:49.385323Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:25:49 np0000094444 etcd[60766]: {"level":"info","ts":"2026-06-23T13:25:49.385340Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 13:25:49 np0000094444 etcd[60766]: {"level":"info","ts":"2026-06-23T13:25:49.385594Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:49 np0000094444 etcd[60766]: {"level":"info","ts":"2026-06-23T13:25:49.385672Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094444","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:49 np0000094444 etcd[60766]: {"level":"info","ts":"2026-06-23T13:25:49.385716Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094444","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:49 np0000094444 etcd[60766]: {"level":"warn","ts":"2026-06-23T13:25:49.385744Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 13:25:49 np0000094444 etcd[60766]: {"level":"fatal","ts":"2026-06-23T13:25:49.385787Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 13:25:49 np0000094444 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 13:25:49 np0000094444 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 13:25:49 np0000094444 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 13:25:49 np0000094444 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 23 13:25:49 np0000094444 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 13:25:49 np0000094444 etcd[60795]: {"level":"warn","ts":"2026-06-23T13:25:49.671503Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:25:49 np0000094444 etcd[60795]: {"level":"info","ts":"2026-06-23T13:25:49.673320Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094444","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094444=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 13:25:49 np0000094444 etcd[60795]: {"level":"warn","ts":"2026-06-23T13:25:49.673700Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 13:25:49 np0000094444 etcd[60795]: {"level":"info","ts":"2026-06-23T13:25:49.673769Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 13:25:49 np0000094444 etcd[60795]: {"level":"info","ts":"2026-06-23T13:25:49.674798Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:49 np0000094444 etcd[60795]: {"level":"info","ts":"2026-06-23T13:25:49.674977Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094444","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:49 np0000094444 etcd[60795]: {"level":"info","ts":"2026-06-23T13:25:49.675062Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094444","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 13:25:49 np0000094444 etcd[60795]: {"level":"warn","ts":"2026-06-23T13:25:49.675131Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 13:25:49 np0000094444 etcd[60795]: {"level":"fatal","ts":"2026-06-23T13:25:49.675523Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 13:25:49 np0000094444 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 13:25:49 np0000094444 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 13:25:49 np0000094444 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 13:25:49 np0000094444 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 23 13:25:49 np0000094444 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 23 13:25:49 np0000094444 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 13:25:49 np0000094444 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
