Jun 04 12:43:21 np0000094244 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 12:43:21 np0000094244 etcd[60179]: {"level":"warn","ts":"2026-06-04T12:43:21.497069Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 12:43:21 np0000094244 etcd[60179]: {"level":"info","ts":"2026-06-04T12:43:21.498300Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094244","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094244=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 12:43:21 np0000094244 etcd[60179]: {"level":"warn","ts":"2026-06-04T12:43:21.498519Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 12:43:21 np0000094244 etcd[60179]: {"level":"info","ts":"2026-06-04T12:43:21.498551Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 12:43:21 np0000094244 etcd[60179]: {"level":"info","ts":"2026-06-04T12:43:21.499073Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:21 np0000094244 etcd[60179]: {"level":"info","ts":"2026-06-04T12:43:21.499208Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:21 np0000094244 etcd[60179]: {"level":"info","ts":"2026-06-04T12:43:21.499307Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:21 np0000094244 etcd[60179]: {"level":"warn","ts":"2026-06-04T12:43:21.499375Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 12:43:21 np0000094244 etcd[60179]: {"level":"fatal","ts":"2026-06-04T12:43:21.500578Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 12:43:21 np0000094244 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 12:43:21 np0000094244 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 12:43:21 np0000094244 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 12:43:21 np0000094244 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 04 12:43:21 np0000094244 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 12:43:21 np0000094244 etcd[60279]: {"level":"warn","ts":"2026-06-04T12:43:21.908756Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 12:43:21 np0000094244 etcd[60279]: {"level":"info","ts":"2026-06-04T12:43:21.908936Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094244","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094244=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 12:43:21 np0000094244 etcd[60279]: {"level":"warn","ts":"2026-06-04T12:43:21.909114Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 12:43:21 np0000094244 etcd[60279]: {"level":"info","ts":"2026-06-04T12:43:21.909156Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 12:43:21 np0000094244 etcd[60279]: {"level":"info","ts":"2026-06-04T12:43:21.909700Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:21 np0000094244 etcd[60279]: {"level":"info","ts":"2026-06-04T12:43:21.909825Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:21 np0000094244 etcd[60279]: {"level":"info","ts":"2026-06-04T12:43:21.909907Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:21 np0000094244 etcd[60279]: {"level":"warn","ts":"2026-06-04T12:43:21.909965Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 12:43:21 np0000094244 etcd[60279]: {"level":"fatal","ts":"2026-06-04T12:43:21.910033Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 12:43:21 np0000094244 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 12:43:21 np0000094244 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 12:43:21 np0000094244 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 12:43:22 np0000094244 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 04 12:43:22 np0000094244 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 12:43:22 np0000094244 etcd[60299]: {"level":"warn","ts":"2026-06-04T12:43:22.156376Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 12:43:22 np0000094244 etcd[60299]: {"level":"info","ts":"2026-06-04T12:43:22.157900Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094244","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094244=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 12:43:22 np0000094244 etcd[60299]: {"level":"warn","ts":"2026-06-04T12:43:22.158137Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 12:43:22 np0000094244 etcd[60299]: {"level":"info","ts":"2026-06-04T12:43:22.158175Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 12:43:22 np0000094244 etcd[60299]: {"level":"info","ts":"2026-06-04T12:43:22.158800Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:22 np0000094244 etcd[60299]: {"level":"info","ts":"2026-06-04T12:43:22.159040Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:22 np0000094244 etcd[60299]: {"level":"info","ts":"2026-06-04T12:43:22.159180Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:22 np0000094244 etcd[60299]: {"level":"warn","ts":"2026-06-04T12:43:22.159298Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 12:43:22 np0000094244 etcd[60299]: {"level":"fatal","ts":"2026-06-04T12:43:22.159367Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 12:43:22 np0000094244 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 12:43:22 np0000094244 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 12:43:22 np0000094244 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 12:43:22 np0000094244 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 04 12:43:22 np0000094244 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 12:43:22 np0000094244 etcd[60320]: {"level":"warn","ts":"2026-06-04T12:43:22.399112Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 12:43:22 np0000094244 etcd[60320]: {"level":"info","ts":"2026-06-04T12:43:22.400234Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094244","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094244=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 12:43:22 np0000094244 etcd[60320]: {"level":"warn","ts":"2026-06-04T12:43:22.400436Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 12:43:22 np0000094244 etcd[60320]: {"level":"info","ts":"2026-06-04T12:43:22.400518Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 12:43:22 np0000094244 etcd[60320]: {"level":"info","ts":"2026-06-04T12:43:22.401140Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:22 np0000094244 etcd[60320]: {"level":"info","ts":"2026-06-04T12:43:22.401273Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:22 np0000094244 etcd[60320]: {"level":"info","ts":"2026-06-04T12:43:22.401355Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:22 np0000094244 etcd[60320]: {"level":"warn","ts":"2026-06-04T12:43:22.401412Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 12:43:22 np0000094244 etcd[60320]: {"level":"fatal","ts":"2026-06-04T12:43:22.402615Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 12:43:22 np0000094244 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 12:43:22 np0000094244 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 12:43:22 np0000094244 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 12:43:22 np0000094244 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 04 12:43:22 np0000094244 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 04 12:43:22 np0000094244 etcd[60354]: {"level":"warn","ts":"2026-06-04T12:43:22.666204Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 12:43:22 np0000094244 etcd[60354]: {"level":"info","ts":"2026-06-04T12:43:22.666381Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094244","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094244=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 04 12:43:22 np0000094244 etcd[60354]: {"level":"warn","ts":"2026-06-04T12:43:22.666597Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 04 12:43:22 np0000094244 etcd[60354]: {"level":"info","ts":"2026-06-04T12:43:22.666630Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 04 12:43:22 np0000094244 etcd[60354]: {"level":"info","ts":"2026-06-04T12:43:22.667141Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:22 np0000094244 etcd[60354]: {"level":"info","ts":"2026-06-04T12:43:22.667262Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:22 np0000094244 etcd[60354]: {"level":"info","ts":"2026-06-04T12:43:22.667348Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094244","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 04 12:43:22 np0000094244 etcd[60354]: {"level":"warn","ts":"2026-06-04T12:43:22.667408Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 04 12:43:22 np0000094244 etcd[60354]: {"level":"fatal","ts":"2026-06-04T12:43:22.667527Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 04 12:43:22 np0000094244 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 04 12:43:22 np0000094244 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 12:43:22 np0000094244 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 04 12:43:22 np0000094244 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 04 12:43:22 np0000094244 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 04 12:43:22 np0000094244 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 04 12:43:22 np0000094244 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
