Apr 15 07:08:52 np0000093966 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 07:08:52 np0000093966 etcd[60229]: {"level":"warn","ts":"2026-04-15T07:08:52.101582Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 07:08:52 np0000093966 etcd[60229]: {"level":"info","ts":"2026-04-15T07:08:52.101778Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093966","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093966=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 07:08:52 np0000093966 etcd[60229]: {"level":"warn","ts":"2026-04-15T07:08:52.101934Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 07:08:52 np0000093966 etcd[60229]: {"level":"info","ts":"2026-04-15T07:08:52.101968Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 07:08:52 np0000093966 etcd[60229]: {"level":"info","ts":"2026-04-15T07:08:52.102408Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:52 np0000093966 etcd[60229]: {"level":"info","ts":"2026-04-15T07:08:52.102511Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093966","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:52 np0000093966 etcd[60229]: {"level":"info","ts":"2026-04-15T07:08:52.102579Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093966","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:52 np0000093966 etcd[60229]: {"level":"warn","ts":"2026-04-15T07:08:52.102626Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 07:08:52 np0000093966 etcd[60229]: {"level":"fatal","ts":"2026-04-15T07:08:52.102696Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 07:08:52 np0000093966 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 07:08:52 np0000093966 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 07:08:52 np0000093966 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 07:08:52 np0000093966 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 15 07:08:52 np0000093966 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 07:08:52 np0000093966 etcd[60293]: {"level":"warn","ts":"2026-04-15T07:08:52.376498Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 07:08:52 np0000093966 etcd[60293]: {"level":"info","ts":"2026-04-15T07:08:52.376712Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093966","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093966=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 07:08:52 np0000093966 etcd[60293]: {"level":"warn","ts":"2026-04-15T07:08:52.376889Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 07:08:52 np0000093966 etcd[60293]: {"level":"info","ts":"2026-04-15T07:08:52.376922Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 07:08:52 np0000093966 etcd[60293]: {"level":"info","ts":"2026-04-15T07:08:52.377999Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:52 np0000093966 etcd[60293]: {"level":"info","ts":"2026-04-15T07:08:52.378169Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093966","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:52 np0000093966 etcd[60293]: {"level":"info","ts":"2026-04-15T07:08:52.378239Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093966","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:52 np0000093966 etcd[60293]: {"level":"warn","ts":"2026-04-15T07:08:52.378353Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 07:08:52 np0000093966 etcd[60293]: {"level":"fatal","ts":"2026-04-15T07:08:52.378444Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 07:08:52 np0000093966 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 07:08:52 np0000093966 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 07:08:52 np0000093966 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 07:08:52 np0000093966 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 15 07:08:52 np0000093966 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 07:08:52 np0000093966 etcd[60350]: {"level":"warn","ts":"2026-04-15T07:08:52.632145Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 07:08:52 np0000093966 etcd[60350]: {"level":"info","ts":"2026-04-15T07:08:52.632348Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093966","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093966=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 07:08:52 np0000093966 etcd[60350]: {"level":"warn","ts":"2026-04-15T07:08:52.632553Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 07:08:52 np0000093966 etcd[60350]: {"level":"info","ts":"2026-04-15T07:08:52.632595Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 07:08:52 np0000093966 etcd[60350]: {"level":"info","ts":"2026-04-15T07:08:52.633450Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:52 np0000093966 etcd[60350]: {"level":"info","ts":"2026-04-15T07:08:52.634080Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093966","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:52 np0000093966 etcd[60350]: {"level":"info","ts":"2026-04-15T07:08:52.634185Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093966","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:52 np0000093966 etcd[60350]: {"level":"warn","ts":"2026-04-15T07:08:52.634441Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 07:08:52 np0000093966 etcd[60350]: {"level":"fatal","ts":"2026-04-15T07:08:52.634582Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 07:08:52 np0000093966 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 07:08:52 np0000093966 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 07:08:52 np0000093966 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 07:08:52 np0000093966 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 15 07:08:52 np0000093966 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 07:08:52 np0000093966 etcd[60358]: {"level":"warn","ts":"2026-04-15T07:08:52.871749Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 07:08:52 np0000093966 etcd[60358]: {"level":"info","ts":"2026-04-15T07:08:52.871971Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093966","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093966=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 07:08:52 np0000093966 etcd[60358]: {"level":"warn","ts":"2026-04-15T07:08:52.872150Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 07:08:52 np0000093966 etcd[60358]: {"level":"info","ts":"2026-04-15T07:08:52.872185Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 07:08:52 np0000093966 etcd[60358]: {"level":"info","ts":"2026-04-15T07:08:52.872731Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:52 np0000093966 etcd[60358]: {"level":"info","ts":"2026-04-15T07:08:52.872906Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093966","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:52 np0000093966 etcd[60358]: {"level":"info","ts":"2026-04-15T07:08:52.873030Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093966","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:52 np0000093966 etcd[60358]: {"level":"warn","ts":"2026-04-15T07:08:52.873090Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 07:08:52 np0000093966 etcd[60358]: {"level":"fatal","ts":"2026-04-15T07:08:52.873176Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 07:08:52 np0000093966 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 07:08:52 np0000093966 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 07:08:52 np0000093966 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 07:08:53 np0000093966 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 15 07:08:53 np0000093966 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 15 07:08:53 np0000093966 etcd[60366]: {"level":"warn","ts":"2026-04-15T07:08:53.126215Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 07:08:53 np0000093966 etcd[60366]: {"level":"info","ts":"2026-04-15T07:08:53.126417Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093966","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093966=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 15 07:08:53 np0000093966 etcd[60366]: {"level":"warn","ts":"2026-04-15T07:08:53.126593Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 15 07:08:53 np0000093966 etcd[60366]: {"level":"info","ts":"2026-04-15T07:08:53.126626Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 15 07:08:53 np0000093966 etcd[60366]: {"level":"info","ts":"2026-04-15T07:08:53.127108Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:53 np0000093966 etcd[60366]: {"level":"info","ts":"2026-04-15T07:08:53.127234Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093966","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:53 np0000093966 etcd[60366]: {"level":"info","ts":"2026-04-15T07:08:53.127354Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093966","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 15 07:08:53 np0000093966 etcd[60366]: {"level":"warn","ts":"2026-04-15T07:08:53.127414Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 15 07:08:53 np0000093966 etcd[60366]: {"level":"fatal","ts":"2026-04-15T07:08:53.127495Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 15 07:08:53 np0000093966 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 15 07:08:53 np0000093966 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 07:08:53 np0000093966 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 15 07:08:53 np0000093966 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 15 07:08:53 np0000093966 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 15 07:08:53 np0000093966 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 15 07:08:53 np0000093966 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
