Apr 14 10:47:44 np0000093940 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 10:47:44 np0000093940 etcd[60494]: {"level":"warn","ts":"2026-04-14T10:47:44.087488Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 10:47:44 np0000093940 etcd[60494]: {"level":"info","ts":"2026-04-14T10:47:44.087726Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093940","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093940=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 10:47:44 np0000093940 etcd[60494]: {"level":"warn","ts":"2026-04-14T10:47:44.087931Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 10:47:44 np0000093940 etcd[60494]: {"level":"info","ts":"2026-04-14T10:47:44.087981Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 10:47:44 np0000093940 etcd[60494]: {"level":"info","ts":"2026-04-14T10:47:44.088637Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:44 np0000093940 etcd[60494]: {"level":"info","ts":"2026-04-14T10:47:44.088785Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093940","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:44 np0000093940 etcd[60494]: {"level":"info","ts":"2026-04-14T10:47:44.088885Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093940","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:44 np0000093940 etcd[60494]: {"level":"warn","ts":"2026-04-14T10:47:44.088952Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 10:47:44 np0000093940 etcd[60494]: {"level":"fatal","ts":"2026-04-14T10:47:44.089056Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 10:47:44 np0000093940 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 10:47:44 np0000093940 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 10:47:44 np0000093940 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 10:47:44 np0000093940 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 10:47:44 np0000093940 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 10:47:44 np0000093940 etcd[60572]: {"level":"warn","ts":"2026-04-14T10:47:44.411251Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 10:47:44 np0000093940 etcd[60572]: {"level":"info","ts":"2026-04-14T10:47:44.411480Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093940","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093940=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 10:47:44 np0000093940 etcd[60572]: {"level":"warn","ts":"2026-04-14T10:47:44.411683Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 10:47:44 np0000093940 etcd[60572]: {"level":"info","ts":"2026-04-14T10:47:44.411715Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 10:47:44 np0000093940 etcd[60572]: {"level":"info","ts":"2026-04-14T10:47:44.412182Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:44 np0000093940 etcd[60572]: {"level":"info","ts":"2026-04-14T10:47:44.412303Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093940","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:44 np0000093940 etcd[60572]: {"level":"info","ts":"2026-04-14T10:47:44.412655Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093940","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:44 np0000093940 etcd[60572]: {"level":"warn","ts":"2026-04-14T10:47:44.412722Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 10:47:44 np0000093940 etcd[60572]: {"level":"fatal","ts":"2026-04-14T10:47:44.412790Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 10:47:44 np0000093940 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 10:47:44 np0000093940 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 10:47:44 np0000093940 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 10:47:44 np0000093940 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 10:47:44 np0000093940 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 10:47:44 np0000093940 etcd[60614]: {"level":"warn","ts":"2026-04-14T10:47:44.645889Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 10:47:44 np0000093940 etcd[60614]: {"level":"info","ts":"2026-04-14T10:47:44.646100Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093940","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093940=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 10:47:44 np0000093940 etcd[60614]: {"level":"warn","ts":"2026-04-14T10:47:44.646254Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 10:47:44 np0000093940 etcd[60614]: {"level":"info","ts":"2026-04-14T10:47:44.646285Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 10:47:44 np0000093940 etcd[60614]: {"level":"info","ts":"2026-04-14T10:47:44.646797Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:44 np0000093940 etcd[60614]: {"level":"info","ts":"2026-04-14T10:47:44.646887Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093940","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:44 np0000093940 etcd[60614]: {"level":"info","ts":"2026-04-14T10:47:44.646944Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093940","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:44 np0000093940 etcd[60614]: {"level":"warn","ts":"2026-04-14T10:47:44.646988Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 10:47:44 np0000093940 etcd[60614]: {"level":"fatal","ts":"2026-04-14T10:47:44.647052Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 10:47:44 np0000093940 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 10:47:44 np0000093940 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 10:47:44 np0000093940 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 10:47:44 np0000093940 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 10:47:44 np0000093940 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 10:47:44 np0000093940 etcd[60631]: {"level":"warn","ts":"2026-04-14T10:47:44.844517Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 10:47:44 np0000093940 etcd[60631]: {"level":"info","ts":"2026-04-14T10:47:44.844652Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093940","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093940=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 10:47:44 np0000093940 etcd[60631]: {"level":"warn","ts":"2026-04-14T10:47:44.844779Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 10:47:44 np0000093940 etcd[60631]: {"level":"info","ts":"2026-04-14T10:47:44.844802Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 10:47:44 np0000093940 etcd[60631]: {"level":"info","ts":"2026-04-14T10:47:44.845122Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:44 np0000093940 etcd[60631]: {"level":"info","ts":"2026-04-14T10:47:44.845194Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093940","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:44 np0000093940 etcd[60631]: {"level":"info","ts":"2026-04-14T10:47:44.845246Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093940","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:44 np0000093940 etcd[60631]: {"level":"warn","ts":"2026-04-14T10:47:44.845291Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 10:47:44 np0000093940 etcd[60631]: {"level":"fatal","ts":"2026-04-14T10:47:44.845333Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 10:47:44 np0000093940 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 10:47:44 np0000093940 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 10:47:44 np0000093940 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 10:47:45 np0000093940 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 10:47:45 np0000093940 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 10:47:45 np0000093940 etcd[60700]: {"level":"warn","ts":"2026-04-14T10:47:45.052232Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 10:47:45 np0000093940 etcd[60700]: {"level":"info","ts":"2026-04-14T10:47:45.052330Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093940","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093940=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 10:47:45 np0000093940 etcd[60700]: {"level":"warn","ts":"2026-04-14T10:47:45.052455Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 10:47:45 np0000093940 etcd[60700]: {"level":"info","ts":"2026-04-14T10:47:45.052472Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 10:47:45 np0000093940 etcd[60700]: {"level":"info","ts":"2026-04-14T10:47:45.052720Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:45 np0000093940 etcd[60700]: {"level":"info","ts":"2026-04-14T10:47:45.052779Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093940","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:45 np0000093940 etcd[60700]: {"level":"info","ts":"2026-04-14T10:47:45.052823Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093940","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 10:47:45 np0000093940 etcd[60700]: {"level":"warn","ts":"2026-04-14T10:47:45.052856Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 10:47:45 np0000093940 etcd[60700]: {"level":"fatal","ts":"2026-04-14T10:47:45.052889Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 10:47:45 np0000093940 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 10:47:45 np0000093940 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 10:47:45 np0000093940 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 10:47:45 np0000093940 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 10:47:45 np0000093940 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 10:47:45 np0000093940 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 10:47:45 np0000093940 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
