Apr 02 16:10:43 np0000093836 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 16:10:43 np0000093836 etcd[60449]: {"level":"warn","ts":"2026-04-02T16:10:43.440659Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 16:10:43 np0000093836 etcd[60449]: {"level":"info","ts":"2026-04-02T16:10:43.440844Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093836","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093836=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 16:10:43 np0000093836 etcd[60449]: {"level":"warn","ts":"2026-04-02T16:10:43.441038Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 16:10:43 np0000093836 etcd[60449]: {"level":"info","ts":"2026-04-02T16:10:43.441089Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 16:10:43 np0000093836 etcd[60449]: {"level":"info","ts":"2026-04-02T16:10:43.441663Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:43 np0000093836 etcd[60449]: {"level":"info","ts":"2026-04-02T16:10:43.441786Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093836","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:43 np0000093836 etcd[60449]: {"level":"info","ts":"2026-04-02T16:10:43.441863Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093836","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:43 np0000093836 etcd[60449]: {"level":"warn","ts":"2026-04-02T16:10:43.441917Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 16:10:43 np0000093836 etcd[60449]: {"level":"fatal","ts":"2026-04-02T16:10:43.441979Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 16:10:43 np0000093836 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 16:10:43 np0000093836 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 16:10:43 np0000093836 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 16:10:43 np0000093836 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 02 16:10:43 np0000093836 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 16:10:43 np0000093836 etcd[60538]: {"level":"warn","ts":"2026-04-02T16:10:43.798124Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 16:10:43 np0000093836 etcd[60538]: {"level":"info","ts":"2026-04-02T16:10:43.798304Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093836","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093836=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 16:10:43 np0000093836 etcd[60538]: {"level":"warn","ts":"2026-04-02T16:10:43.798460Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 16:10:43 np0000093836 etcd[60538]: {"level":"info","ts":"2026-04-02T16:10:43.798496Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 16:10:43 np0000093836 etcd[60538]: {"level":"info","ts":"2026-04-02T16:10:43.798930Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:43 np0000093836 etcd[60538]: {"level":"info","ts":"2026-04-02T16:10:43.799131Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093836","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:43 np0000093836 etcd[60538]: {"level":"info","ts":"2026-04-02T16:10:43.799209Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093836","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:43 np0000093836 etcd[60538]: {"level":"warn","ts":"2026-04-02T16:10:43.799282Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 16:10:43 np0000093836 etcd[60538]: {"level":"fatal","ts":"2026-04-02T16:10:43.799343Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 16:10:43 np0000093836 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 16:10:43 np0000093836 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 16:10:43 np0000093836 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 16:10:43 np0000093836 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 02 16:10:44 np0000093836 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 16:10:44 np0000093836 etcd[60568]: {"level":"warn","ts":"2026-04-02T16:10:44.059946Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 16:10:44 np0000093836 etcd[60568]: {"level":"info","ts":"2026-04-02T16:10:44.061721Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093836","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093836=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 16:10:44 np0000093836 etcd[60568]: {"level":"warn","ts":"2026-04-02T16:10:44.061948Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 16:10:44 np0000093836 etcd[60568]: {"level":"info","ts":"2026-04-02T16:10:44.061986Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 16:10:44 np0000093836 etcd[60568]: {"level":"info","ts":"2026-04-02T16:10:44.062548Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:44 np0000093836 etcd[60568]: {"level":"info","ts":"2026-04-02T16:10:44.062675Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093836","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:44 np0000093836 etcd[60568]: {"level":"info","ts":"2026-04-02T16:10:44.062752Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093836","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:44 np0000093836 etcd[60568]: {"level":"warn","ts":"2026-04-02T16:10:44.062831Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 16:10:44 np0000093836 etcd[60568]: {"level":"fatal","ts":"2026-04-02T16:10:44.062910Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 16:10:44 np0000093836 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 16:10:44 np0000093836 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 16:10:44 np0000093836 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 16:10:44 np0000093836 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 02 16:10:44 np0000093836 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 16:10:44 np0000093836 etcd[60589]: {"level":"warn","ts":"2026-04-02T16:10:44.305458Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 16:10:44 np0000093836 etcd[60589]: {"level":"info","ts":"2026-04-02T16:10:44.305665Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093836","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093836=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 16:10:44 np0000093836 etcd[60589]: {"level":"warn","ts":"2026-04-02T16:10:44.305837Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 16:10:44 np0000093836 etcd[60589]: {"level":"info","ts":"2026-04-02T16:10:44.305879Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 16:10:44 np0000093836 etcd[60589]: {"level":"info","ts":"2026-04-02T16:10:44.306343Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:44 np0000093836 etcd[60589]: {"level":"info","ts":"2026-04-02T16:10:44.306464Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093836","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:44 np0000093836 etcd[60589]: {"level":"info","ts":"2026-04-02T16:10:44.306573Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093836","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:44 np0000093836 etcd[60589]: {"level":"warn","ts":"2026-04-02T16:10:44.306637Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 16:10:44 np0000093836 etcd[60589]: {"level":"fatal","ts":"2026-04-02T16:10:44.306702Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 16:10:44 np0000093836 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 16:10:44 np0000093836 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 16:10:44 np0000093836 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 16:10:44 np0000093836 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 02 16:10:44 np0000093836 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 16:10:44 np0000093836 etcd[60626]: {"level":"warn","ts":"2026-04-02T16:10:44.548554Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 16:10:44 np0000093836 etcd[60626]: {"level":"info","ts":"2026-04-02T16:10:44.548741Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093836","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093836=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 16:10:44 np0000093836 etcd[60626]: {"level":"warn","ts":"2026-04-02T16:10:44.548873Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 16:10:44 np0000093836 etcd[60626]: {"level":"info","ts":"2026-04-02T16:10:44.548897Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 16:10:44 np0000093836 etcd[60626]: {"level":"info","ts":"2026-04-02T16:10:44.549313Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:44 np0000093836 etcd[60626]: {"level":"info","ts":"2026-04-02T16:10:44.549416Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093836","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:44 np0000093836 etcd[60626]: {"level":"info","ts":"2026-04-02T16:10:44.549670Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093836","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 16:10:44 np0000093836 etcd[60626]: {"level":"warn","ts":"2026-04-02T16:10:44.549726Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 16:10:44 np0000093836 etcd[60626]: {"level":"fatal","ts":"2026-04-02T16:10:44.549839Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 16:10:44 np0000093836 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 16:10:44 np0000093836 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 16:10:44 np0000093836 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 16:10:44 np0000093836 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 02 16:10:44 np0000093836 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 02 16:10:44 np0000093836 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 16:10:44 np0000093836 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
