Apr 02 11:12:43 np0000093832 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 11:12:43 np0000093832 etcd[60260]: {"level":"warn","ts":"2026-04-02T11:12:43.643324Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 11:12:43 np0000093832 etcd[60260]: {"level":"info","ts":"2026-04-02T11:12:43.643512Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093832","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093832=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 11:12:43 np0000093832 etcd[60260]: {"level":"warn","ts":"2026-04-02T11:12:43.643685Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 11:12:43 np0000093832 etcd[60260]: {"level":"info","ts":"2026-04-02T11:12:43.643722Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 11:12:43 np0000093832 etcd[60260]: {"level":"info","ts":"2026-04-02T11:12:43.644262Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:43 np0000093832 etcd[60260]: {"level":"info","ts":"2026-04-02T11:12:43.644384Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093832","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:43 np0000093832 etcd[60260]: {"level":"info","ts":"2026-04-02T11:12:43.644462Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093832","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:43 np0000093832 etcd[60260]: {"level":"warn","ts":"2026-04-02T11:12:43.644524Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 11:12:43 np0000093832 etcd[60260]: {"level":"fatal","ts":"2026-04-02T11:12:43.644588Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 11:12:43 np0000093832 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 11:12:43 np0000093832 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 11:12:43 np0000093832 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 11:12:43 np0000093832 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 02 11:12:43 np0000093832 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 11:12:43 np0000093832 etcd[60318]: {"level":"warn","ts":"2026-04-02T11:12:43.910070Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 11:12:43 np0000093832 etcd[60318]: {"level":"info","ts":"2026-04-02T11:12:43.910261Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093832","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093832=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 11:12:43 np0000093832 etcd[60318]: {"level":"warn","ts":"2026-04-02T11:12:43.910406Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 11:12:43 np0000093832 etcd[60318]: {"level":"info","ts":"2026-04-02T11:12:43.910452Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 11:12:43 np0000093832 etcd[60318]: {"level":"info","ts":"2026-04-02T11:12:43.910897Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:43 np0000093832 etcd[60318]: {"level":"info","ts":"2026-04-02T11:12:43.911035Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093832","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:43 np0000093832 etcd[60318]: {"level":"info","ts":"2026-04-02T11:12:43.911111Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093832","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:43 np0000093832 etcd[60318]: {"level":"warn","ts":"2026-04-02T11:12:43.911219Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 11:12:43 np0000093832 etcd[60318]: {"level":"fatal","ts":"2026-04-02T11:12:43.911302Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 11:12:43 np0000093832 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 11:12:43 np0000093832 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 11:12:43 np0000093832 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 11:12:44 np0000093832 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 02 11:12:44 np0000093832 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 11:12:44 np0000093832 etcd[60380]: {"level":"warn","ts":"2026-04-02T11:12:44.165527Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 11:12:44 np0000093832 etcd[60380]: {"level":"info","ts":"2026-04-02T11:12:44.165758Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093832","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093832=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 11:12:44 np0000093832 etcd[60380]: {"level":"warn","ts":"2026-04-02T11:12:44.165970Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 11:12:44 np0000093832 etcd[60380]: {"level":"info","ts":"2026-04-02T11:12:44.166005Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 11:12:44 np0000093832 etcd[60380]: {"level":"info","ts":"2026-04-02T11:12:44.166581Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:44 np0000093832 etcd[60380]: {"level":"info","ts":"2026-04-02T11:12:44.166727Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093832","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:44 np0000093832 etcd[60380]: {"level":"info","ts":"2026-04-02T11:12:44.166835Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093832","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:44 np0000093832 etcd[60380]: {"level":"warn","ts":"2026-04-02T11:12:44.166892Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 11:12:44 np0000093832 etcd[60380]: {"level":"fatal","ts":"2026-04-02T11:12:44.167003Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 11:12:44 np0000093832 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 11:12:44 np0000093832 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 11:12:44 np0000093832 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 11:12:44 np0000093832 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 02 11:12:44 np0000093832 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 11:12:44 np0000093832 etcd[60387]: {"level":"warn","ts":"2026-04-02T11:12:44.421008Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 11:12:44 np0000093832 etcd[60387]: {"level":"info","ts":"2026-04-02T11:12:44.421217Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093832","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093832=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 11:12:44 np0000093832 etcd[60387]: {"level":"warn","ts":"2026-04-02T11:12:44.421375Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 11:12:44 np0000093832 etcd[60387]: {"level":"info","ts":"2026-04-02T11:12:44.421406Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 11:12:44 np0000093832 etcd[60387]: {"level":"info","ts":"2026-04-02T11:12:44.421974Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:44 np0000093832 etcd[60387]: {"level":"info","ts":"2026-04-02T11:12:44.422100Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093832","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:44 np0000093832 etcd[60387]: {"level":"info","ts":"2026-04-02T11:12:44.422222Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093832","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:44 np0000093832 etcd[60387]: {"level":"warn","ts":"2026-04-02T11:12:44.422281Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 11:12:44 np0000093832 etcd[60387]: {"level":"fatal","ts":"2026-04-02T11:12:44.422366Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 11:12:44 np0000093832 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 11:12:44 np0000093832 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 11:12:44 np0000093832 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 11:12:44 np0000093832 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 02 11:12:44 np0000093832 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 02 11:12:44 np0000093832 etcd[60408]: {"level":"warn","ts":"2026-04-02T11:12:44.673578Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 11:12:44 np0000093832 etcd[60408]: {"level":"info","ts":"2026-04-02T11:12:44.673769Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093832","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093832=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 02 11:12:44 np0000093832 etcd[60408]: {"level":"warn","ts":"2026-04-02T11:12:44.673970Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 02 11:12:44 np0000093832 etcd[60408]: {"level":"info","ts":"2026-04-02T11:12:44.674003Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 02 11:12:44 np0000093832 etcd[60408]: {"level":"info","ts":"2026-04-02T11:12:44.675098Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:44 np0000093832 etcd[60408]: {"level":"info","ts":"2026-04-02T11:12:44.675289Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093832","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:44 np0000093832 etcd[60408]: {"level":"info","ts":"2026-04-02T11:12:44.675383Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093832","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 02 11:12:44 np0000093832 etcd[60408]: {"level":"warn","ts":"2026-04-02T11:12:44.675450Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 02 11:12:44 np0000093832 etcd[60408]: {"level":"fatal","ts":"2026-04-02T11:12:44.675537Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 02 11:12:44 np0000093832 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 02 11:12:44 np0000093832 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 11:12:44 np0000093832 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 02 11:12:44 np0000093832 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 02 11:12:44 np0000093832 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 02 11:12:44 np0000093832 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 02 11:12:44 np0000093832 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
