Apr 06 14:28:50 np0000093853 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 14:28:50 np0000093853 etcd[60674]: {"level":"warn","ts":"2026-04-06T14:28:50.625134Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 14:28:50 np0000093853 etcd[60674]: {"level":"info","ts":"2026-04-06T14:28:50.626135Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093853","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093853=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 14:28:50 np0000093853 etcd[60674]: {"level":"warn","ts":"2026-04-06T14:28:50.626443Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 14:28:50 np0000093853 etcd[60674]: {"level":"info","ts":"2026-04-06T14:28:50.626481Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 14:28:50 np0000093853 etcd[60674]: {"level":"info","ts":"2026-04-06T14:28:50.626993Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:50 np0000093853 etcd[60674]: {"level":"info","ts":"2026-04-06T14:28:50.627114Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093853","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:50 np0000093853 etcd[60674]: {"level":"info","ts":"2026-04-06T14:28:50.628443Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093853","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:50 np0000093853 etcd[60674]: {"level":"warn","ts":"2026-04-06T14:28:50.628528Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 14:28:50 np0000093853 etcd[60674]: {"level":"fatal","ts":"2026-04-06T14:28:50.628592Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 14:28:50 np0000093853 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 14:28:50 np0000093853 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 14:28:50 np0000093853 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 14:28:50 np0000093853 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 06 14:28:50 np0000093853 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 14:28:50 np0000093853 etcd[60759]: {"level":"warn","ts":"2026-04-06T14:28:50.977713Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 14:28:50 np0000093853 etcd[60759]: {"level":"info","ts":"2026-04-06T14:28:50.977856Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093853","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093853=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 14:28:50 np0000093853 etcd[60759]: {"level":"warn","ts":"2026-04-06T14:28:50.977991Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 14:28:50 np0000093853 etcd[60759]: {"level":"info","ts":"2026-04-06T14:28:50.978022Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 14:28:50 np0000093853 etcd[60759]: {"level":"info","ts":"2026-04-06T14:28:50.978463Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:50 np0000093853 etcd[60759]: {"level":"info","ts":"2026-04-06T14:28:50.978558Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093853","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:50 np0000093853 etcd[60759]: {"level":"info","ts":"2026-04-06T14:28:50.978624Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093853","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:50 np0000093853 etcd[60759]: {"level":"warn","ts":"2026-04-06T14:28:50.978691Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 14:28:50 np0000093853 etcd[60759]: {"level":"fatal","ts":"2026-04-06T14:28:50.978743Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 14:28:50 np0000093853 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 14:28:50 np0000093853 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 14:28:50 np0000093853 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 14:28:51 np0000093853 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 06 14:28:51 np0000093853 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 14:28:51 np0000093853 etcd[60793]: {"level":"warn","ts":"2026-04-06T14:28:51.215703Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 14:28:51 np0000093853 etcd[60793]: {"level":"info","ts":"2026-04-06T14:28:51.215903Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093853","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093853=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 14:28:51 np0000093853 etcd[60793]: {"level":"warn","ts":"2026-04-06T14:28:51.216079Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 14:28:51 np0000093853 etcd[60793]: {"level":"info","ts":"2026-04-06T14:28:51.216111Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 14:28:51 np0000093853 etcd[60793]: {"level":"info","ts":"2026-04-06T14:28:51.216597Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:51 np0000093853 etcd[60793]: {"level":"info","ts":"2026-04-06T14:28:51.216759Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093853","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:51 np0000093853 etcd[60793]: {"level":"info","ts":"2026-04-06T14:28:51.216841Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093853","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:51 np0000093853 etcd[60793]: {"level":"warn","ts":"2026-04-06T14:28:51.216919Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 14:28:51 np0000093853 etcd[60793]: {"level":"fatal","ts":"2026-04-06T14:28:51.216986Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 14:28:51 np0000093853 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 14:28:51 np0000093853 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 14:28:51 np0000093853 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 14:28:51 np0000093853 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 06 14:28:51 np0000093853 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 14:28:51 np0000093853 etcd[60807]: {"level":"warn","ts":"2026-04-06T14:28:51.444810Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 14:28:51 np0000093853 etcd[60807]: {"level":"info","ts":"2026-04-06T14:28:51.445705Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093853","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093853=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 14:28:51 np0000093853 etcd[60807]: {"level":"warn","ts":"2026-04-06T14:28:51.446024Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 14:28:51 np0000093853 etcd[60807]: {"level":"info","ts":"2026-04-06T14:28:51.446063Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 14:28:51 np0000093853 etcd[60807]: {"level":"info","ts":"2026-04-06T14:28:51.446323Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:51 np0000093853 etcd[60807]: {"level":"info","ts":"2026-04-06T14:28:51.446402Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093853","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:51 np0000093853 etcd[60807]: {"level":"info","ts":"2026-04-06T14:28:51.446453Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093853","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:51 np0000093853 etcd[60807]: {"level":"warn","ts":"2026-04-06T14:28:51.446493Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 14:28:51 np0000093853 etcd[60807]: {"level":"fatal","ts":"2026-04-06T14:28:51.446532Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 14:28:51 np0000093853 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 14:28:51 np0000093853 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 14:28:51 np0000093853 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 14:28:51 np0000093853 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 06 14:28:51 np0000093853 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 14:28:51 np0000093853 etcd[60847]: {"level":"warn","ts":"2026-04-06T14:28:51.730606Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 14:28:51 np0000093853 etcd[60847]: {"level":"info","ts":"2026-04-06T14:28:51.730827Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093853","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093853=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 14:28:51 np0000093853 etcd[60847]: {"level":"warn","ts":"2026-04-06T14:28:51.731024Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 14:28:51 np0000093853 etcd[60847]: {"level":"info","ts":"2026-04-06T14:28:51.731057Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 14:28:51 np0000093853 etcd[60847]: {"level":"info","ts":"2026-04-06T14:28:51.731526Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:51 np0000093853 etcd[60847]: {"level":"info","ts":"2026-04-06T14:28:51.731671Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093853","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:51 np0000093853 etcd[60847]: {"level":"info","ts":"2026-04-06T14:28:51.731752Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093853","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 14:28:51 np0000093853 etcd[60847]: {"level":"warn","ts":"2026-04-06T14:28:51.731816Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 14:28:51 np0000093853 etcd[60847]: {"level":"fatal","ts":"2026-04-06T14:28:51.731875Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 14:28:51 np0000093853 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 14:28:51 np0000093853 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 14:28:51 np0000093853 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 14:28:51 np0000093853 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 06 14:28:51 np0000093853 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 06 14:28:51 np0000093853 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 14:28:51 np0000093853 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
