Feb 13 20:41:47 np0000056251 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 20:41:47 np0000056251 etcd[60233]: {"level":"warn","ts":"2026-02-13T20:41:47.854985Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 20:41:47 np0000056251 etcd[60233]: {"level":"info","ts":"2026-02-13T20:41:47.855223Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056251","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056251=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 20:41:47 np0000056251 etcd[60233]: {"level":"warn","ts":"2026-02-13T20:41:47.855401Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 20:41:47 np0000056251 etcd[60233]: {"level":"info","ts":"2026-02-13T20:41:47.855433Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 20:41:47 np0000056251 etcd[60233]: {"level":"info","ts":"2026-02-13T20:41:47.855959Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:47 np0000056251 etcd[60233]: {"level":"info","ts":"2026-02-13T20:41:47.856137Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056251","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:47 np0000056251 etcd[60233]: {"level":"info","ts":"2026-02-13T20:41:47.856225Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056251","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:47 np0000056251 etcd[60233]: {"level":"warn","ts":"2026-02-13T20:41:47.856286Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 20:41:47 np0000056251 etcd[60233]: {"level":"fatal","ts":"2026-02-13T20:41:47.856353Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 20:41:47 np0000056251 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 20:41:47 np0000056251 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 20:41:47 np0000056251 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 20:41:48 np0000056251 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 20:41:48 np0000056251 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 20:41:48 np0000056251 etcd[60333]: {"level":"warn","ts":"2026-02-13T20:41:48.225021Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 20:41:48 np0000056251 etcd[60333]: {"level":"info","ts":"2026-02-13T20:41:48.225215Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056251","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056251=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 20:41:48 np0000056251 etcd[60333]: {"level":"warn","ts":"2026-02-13T20:41:48.225396Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 20:41:48 np0000056251 etcd[60333]: {"level":"info","ts":"2026-02-13T20:41:48.225425Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 20:41:48 np0000056251 etcd[60333]: {"level":"info","ts":"2026-02-13T20:41:48.225888Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:48 np0000056251 etcd[60333]: {"level":"info","ts":"2026-02-13T20:41:48.225990Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056251","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:48 np0000056251 etcd[60333]: {"level":"info","ts":"2026-02-13T20:41:48.226059Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056251","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:48 np0000056251 etcd[60333]: {"level":"warn","ts":"2026-02-13T20:41:48.226145Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 20:41:48 np0000056251 etcd[60333]: {"level":"fatal","ts":"2026-02-13T20:41:48.226204Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 20:41:48 np0000056251 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 20:41:48 np0000056251 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 20:41:48 np0000056251 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 20:41:48 np0000056251 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 20:41:48 np0000056251 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 20:41:48 np0000056251 etcd[60353]: {"level":"warn","ts":"2026-02-13T20:41:48.490221Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 20:41:48 np0000056251 etcd[60353]: {"level":"info","ts":"2026-02-13T20:41:48.490434Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056251","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056251=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 20:41:48 np0000056251 etcd[60353]: {"level":"warn","ts":"2026-02-13T20:41:48.490641Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 20:41:48 np0000056251 etcd[60353]: {"level":"info","ts":"2026-02-13T20:41:48.490675Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 20:41:48 np0000056251 etcd[60353]: {"level":"info","ts":"2026-02-13T20:41:48.491184Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:48 np0000056251 etcd[60353]: {"level":"info","ts":"2026-02-13T20:41:48.491317Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056251","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:48 np0000056251 etcd[60353]: {"level":"info","ts":"2026-02-13T20:41:48.491401Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056251","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:48 np0000056251 etcd[60353]: {"level":"warn","ts":"2026-02-13T20:41:48.491468Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 20:41:48 np0000056251 etcd[60353]: {"level":"fatal","ts":"2026-02-13T20:41:48.491631Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 20:41:48 np0000056251 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 20:41:48 np0000056251 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 20:41:48 np0000056251 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 20:41:48 np0000056251 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 20:41:48 np0000056251 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 20:41:48 np0000056251 etcd[60373]: {"level":"warn","ts":"2026-02-13T20:41:48.709687Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 20:41:48 np0000056251 etcd[60373]: {"level":"info","ts":"2026-02-13T20:41:48.709875Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056251","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056251=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 20:41:48 np0000056251 etcd[60373]: {"level":"warn","ts":"2026-02-13T20:41:48.710054Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 20:41:48 np0000056251 etcd[60373]: {"level":"info","ts":"2026-02-13T20:41:48.710094Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 20:41:48 np0000056251 etcd[60373]: {"level":"info","ts":"2026-02-13T20:41:48.710468Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:48 np0000056251 etcd[60373]: {"level":"info","ts":"2026-02-13T20:41:48.710582Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056251","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:48 np0000056251 etcd[60373]: {"level":"info","ts":"2026-02-13T20:41:48.710642Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056251","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:48 np0000056251 etcd[60373]: {"level":"warn","ts":"2026-02-13T20:41:48.710683Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 20:41:48 np0000056251 etcd[60373]: {"level":"fatal","ts":"2026-02-13T20:41:48.710731Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 20:41:48 np0000056251 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 20:41:48 np0000056251 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 20:41:48 np0000056251 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 20:41:48 np0000056251 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 20:41:48 np0000056251 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 20:41:48 np0000056251 etcd[60409]: {"level":"warn","ts":"2026-02-13T20:41:48.984865Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 20:41:48 np0000056251 etcd[60409]: {"level":"info","ts":"2026-02-13T20:41:48.985099Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056251","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056251=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 20:41:48 np0000056251 etcd[60409]: {"level":"warn","ts":"2026-02-13T20:41:48.985278Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 20:41:48 np0000056251 etcd[60409]: {"level":"info","ts":"2026-02-13T20:41:48.985310Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 20:41:48 np0000056251 etcd[60409]: {"level":"info","ts":"2026-02-13T20:41:48.985880Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:48 np0000056251 etcd[60409]: {"level":"info","ts":"2026-02-13T20:41:48.986002Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056251","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:48 np0000056251 etcd[60409]: {"level":"info","ts":"2026-02-13T20:41:48.986108Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056251","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 20:41:48 np0000056251 etcd[60409]: {"level":"warn","ts":"2026-02-13T20:41:48.986169Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 20:41:48 np0000056251 etcd[60409]: {"level":"fatal","ts":"2026-02-13T20:41:48.986236Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 20:41:48 np0000056251 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 20:41:48 np0000056251 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 20:41:48 np0000056251 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 20:41:49 np0000056251 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 20:41:49 np0000056251 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 20:41:49 np0000056251 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 20:41:49 np0000056251 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
