Feb 15 05:03:35 np0000056257 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 15 05:03:35 np0000056257 etcd[60853]: {"level":"warn","ts":"2026-02-15T05:03:35.240434Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 05:03:35 np0000056257 etcd[60853]: {"level":"info","ts":"2026-02-15T05:03:35.240636Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056257","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056257=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 15 05:03:35 np0000056257 etcd[60853]: {"level":"warn","ts":"2026-02-15T05:03:35.240817Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 05:03:35 np0000056257 etcd[60853]: {"level":"info","ts":"2026-02-15T05:03:35.240857Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 15 05:03:35 np0000056257 etcd[60853]: {"level":"info","ts":"2026-02-15T05:03:35.241357Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:35 np0000056257 etcd[60853]: {"level":"info","ts":"2026-02-15T05:03:35.241469Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:35 np0000056257 etcd[60853]: {"level":"info","ts":"2026-02-15T05:03:35.241545Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:35 np0000056257 etcd[60853]: {"level":"warn","ts":"2026-02-15T05:03:35.241597Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 15 05:03:35 np0000056257 etcd[60853]: {"level":"fatal","ts":"2026-02-15T05:03:35.241656Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 15 05:03:35 np0000056257 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 15 05:03:35 np0000056257 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 15 05:03:35 np0000056257 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 15 05:03:35 np0000056257 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 15 05:03:35 np0000056257 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 15 05:03:35 np0000056257 etcd[60970]: {"level":"warn","ts":"2026-02-15T05:03:35.646303Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 05:03:35 np0000056257 etcd[60970]: {"level":"info","ts":"2026-02-15T05:03:35.646475Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056257","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056257=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 15 05:03:35 np0000056257 etcd[60970]: {"level":"warn","ts":"2026-02-15T05:03:35.646619Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 05:03:35 np0000056257 etcd[60970]: {"level":"info","ts":"2026-02-15T05:03:35.646647Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 15 05:03:35 np0000056257 etcd[60970]: {"level":"info","ts":"2026-02-15T05:03:35.647113Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:35 np0000056257 etcd[60970]: {"level":"info","ts":"2026-02-15T05:03:35.647254Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:35 np0000056257 etcd[60970]: {"level":"info","ts":"2026-02-15T05:03:35.647332Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:35 np0000056257 etcd[60970]: {"level":"warn","ts":"2026-02-15T05:03:35.647385Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 15 05:03:35 np0000056257 etcd[60970]: {"level":"fatal","ts":"2026-02-15T05:03:35.647464Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 15 05:03:35 np0000056257 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 15 05:03:35 np0000056257 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 15 05:03:35 np0000056257 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 15 05:03:35 np0000056257 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 15 05:03:35 np0000056257 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 15 05:03:35 np0000056257 etcd[60978]: {"level":"warn","ts":"2026-02-15T05:03:35.901817Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 05:03:35 np0000056257 etcd[60978]: {"level":"info","ts":"2026-02-15T05:03:35.901925Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056257","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056257=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 15 05:03:35 np0000056257 etcd[60978]: {"level":"warn","ts":"2026-02-15T05:03:35.902006Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 05:03:35 np0000056257 etcd[60978]: {"level":"info","ts":"2026-02-15T05:03:35.902022Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 15 05:03:35 np0000056257 etcd[60978]: {"level":"info","ts":"2026-02-15T05:03:35.902321Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:35 np0000056257 etcd[60978]: {"level":"info","ts":"2026-02-15T05:03:35.902387Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:35 np0000056257 etcd[60978]: {"level":"info","ts":"2026-02-15T05:03:35.902430Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:35 np0000056257 etcd[60978]: {"level":"warn","ts":"2026-02-15T05:03:35.902470Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 15 05:03:35 np0000056257 etcd[60978]: {"level":"fatal","ts":"2026-02-15T05:03:35.902503Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 15 05:03:35 np0000056257 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 15 05:03:35 np0000056257 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 15 05:03:35 np0000056257 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 15 05:03:36 np0000056257 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 15 05:03:36 np0000056257 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 15 05:03:36 np0000056257 etcd[61003]: {"level":"warn","ts":"2026-02-15T05:03:36.142696Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 05:03:36 np0000056257 etcd[61003]: {"level":"info","ts":"2026-02-15T05:03:36.142904Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056257","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056257=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 15 05:03:36 np0000056257 etcd[61003]: {"level":"warn","ts":"2026-02-15T05:03:36.143078Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 05:03:36 np0000056257 etcd[61003]: {"level":"info","ts":"2026-02-15T05:03:36.143122Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 15 05:03:36 np0000056257 etcd[61003]: {"level":"info","ts":"2026-02-15T05:03:36.143602Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:36 np0000056257 etcd[61003]: {"level":"info","ts":"2026-02-15T05:03:36.143724Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:36 np0000056257 etcd[61003]: {"level":"info","ts":"2026-02-15T05:03:36.143828Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:36 np0000056257 etcd[61003]: {"level":"warn","ts":"2026-02-15T05:03:36.143894Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 15 05:03:36 np0000056257 etcd[61003]: {"level":"fatal","ts":"2026-02-15T05:03:36.143960Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 15 05:03:36 np0000056257 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 15 05:03:36 np0000056257 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 15 05:03:36 np0000056257 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 15 05:03:36 np0000056257 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 15 05:03:36 np0000056257 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 15 05:03:36 np0000056257 etcd[61044]: {"level":"warn","ts":"2026-02-15T05:03:36.380157Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 05:03:36 np0000056257 etcd[61044]: {"level":"info","ts":"2026-02-15T05:03:36.380324Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056257","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056257=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 15 05:03:36 np0000056257 etcd[61044]: {"level":"warn","ts":"2026-02-15T05:03:36.380444Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 15 05:03:36 np0000056257 etcd[61044]: {"level":"info","ts":"2026-02-15T05:03:36.380472Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 15 05:03:36 np0000056257 etcd[61044]: {"level":"info","ts":"2026-02-15T05:03:36.381264Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:36 np0000056257 etcd[61044]: {"level":"info","ts":"2026-02-15T05:03:36.381361Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:36 np0000056257 etcd[61044]: {"level":"info","ts":"2026-02-15T05:03:36.381420Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056257","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 15 05:03:36 np0000056257 etcd[61044]: {"level":"warn","ts":"2026-02-15T05:03:36.381460Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 15 05:03:36 np0000056257 etcd[61044]: {"level":"fatal","ts":"2026-02-15T05:03:36.381505Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 15 05:03:36 np0000056257 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 15 05:03:36 np0000056257 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 15 05:03:36 np0000056257 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 15 05:03:36 np0000056257 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 15 05:03:36 np0000056257 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 15 05:03:36 np0000056257 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 15 05:03:36 np0000056257 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
