Jun 18 22:31:48 np0000094406 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 22:31:48 np0000094406 etcd[60465]: {"level":"warn","ts":"2026-06-18T22:31:48.812597Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 22:31:48 np0000094406 etcd[60465]: {"level":"info","ts":"2026-06-18T22:31:48.813928Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094406","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094406=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 22:31:48 np0000094406 etcd[60465]: {"level":"warn","ts":"2026-06-18T22:31:48.814263Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 22:31:48 np0000094406 etcd[60465]: {"level":"info","ts":"2026-06-18T22:31:48.814313Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 22:31:48 np0000094406 etcd[60465]: {"level":"info","ts":"2026-06-18T22:31:48.814990Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:48 np0000094406 etcd[60465]: {"level":"info","ts":"2026-06-18T22:31:48.815143Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094406","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:48 np0000094406 etcd[60465]: {"level":"info","ts":"2026-06-18T22:31:48.815229Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094406","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:48 np0000094406 etcd[60465]: {"level":"warn","ts":"2026-06-18T22:31:48.815343Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 22:31:48 np0000094406 etcd[60465]: {"level":"fatal","ts":"2026-06-18T22:31:48.815478Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 22:31:48 np0000094406 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 22:31:48 np0000094406 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 22:31:48 np0000094406 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 22:31:49 np0000094406 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 18 22:31:49 np0000094406 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 22:31:49 np0000094406 etcd[60551]: {"level":"warn","ts":"2026-06-18T22:31:49.172979Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 22:31:49 np0000094406 etcd[60551]: {"level":"info","ts":"2026-06-18T22:31:49.173170Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094406","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094406=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 22:31:49 np0000094406 etcd[60551]: {"level":"warn","ts":"2026-06-18T22:31:49.173366Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 22:31:49 np0000094406 etcd[60551]: {"level":"info","ts":"2026-06-18T22:31:49.173429Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 22:31:49 np0000094406 etcd[60551]: {"level":"info","ts":"2026-06-18T22:31:49.174887Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:49 np0000094406 etcd[60551]: {"level":"info","ts":"2026-06-18T22:31:49.175174Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094406","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:49 np0000094406 etcd[60551]: {"level":"info","ts":"2026-06-18T22:31:49.175255Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094406","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:49 np0000094406 etcd[60551]: {"level":"warn","ts":"2026-06-18T22:31:49.175316Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 22:31:49 np0000094406 etcd[60551]: {"level":"fatal","ts":"2026-06-18T22:31:49.175438Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 22:31:49 np0000094406 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 22:31:49 np0000094406 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 22:31:49 np0000094406 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 22:31:49 np0000094406 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 18 22:31:49 np0000094406 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 22:31:49 np0000094406 etcd[60586]: {"level":"warn","ts":"2026-06-18T22:31:49.405490Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 22:31:49 np0000094406 etcd[60586]: {"level":"info","ts":"2026-06-18T22:31:49.405678Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094406","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094406=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 22:31:49 np0000094406 etcd[60586]: {"level":"warn","ts":"2026-06-18T22:31:49.405895Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 22:31:49 np0000094406 etcd[60586]: {"level":"info","ts":"2026-06-18T22:31:49.405929Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 22:31:49 np0000094406 etcd[60586]: {"level":"info","ts":"2026-06-18T22:31:49.406438Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:49 np0000094406 etcd[60586]: {"level":"info","ts":"2026-06-18T22:31:49.406567Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094406","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:49 np0000094406 etcd[60586]: {"level":"info","ts":"2026-06-18T22:31:49.406631Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094406","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:49 np0000094406 etcd[60586]: {"level":"warn","ts":"2026-06-18T22:31:49.406688Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 22:31:49 np0000094406 etcd[60586]: {"level":"fatal","ts":"2026-06-18T22:31:49.406777Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 22:31:49 np0000094406 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 22:31:49 np0000094406 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 22:31:49 np0000094406 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 22:31:49 np0000094406 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 18 22:31:49 np0000094406 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 22:31:49 np0000094406 etcd[60605]: {"level":"warn","ts":"2026-06-18T22:31:49.662964Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 22:31:49 np0000094406 etcd[60605]: {"level":"info","ts":"2026-06-18T22:31:49.663198Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094406","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094406=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 22:31:49 np0000094406 etcd[60605]: {"level":"warn","ts":"2026-06-18T22:31:49.663366Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 22:31:49 np0000094406 etcd[60605]: {"level":"info","ts":"2026-06-18T22:31:49.663429Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 22:31:49 np0000094406 etcd[60605]: {"level":"info","ts":"2026-06-18T22:31:49.663852Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:49 np0000094406 etcd[60605]: {"level":"info","ts":"2026-06-18T22:31:49.663963Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094406","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:49 np0000094406 etcd[60605]: {"level":"info","ts":"2026-06-18T22:31:49.664039Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094406","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:49 np0000094406 etcd[60605]: {"level":"warn","ts":"2026-06-18T22:31:49.664113Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 22:31:49 np0000094406 etcd[60605]: {"level":"fatal","ts":"2026-06-18T22:31:49.664174Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 22:31:49 np0000094406 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 22:31:49 np0000094406 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 22:31:49 np0000094406 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 22:31:49 np0000094406 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 18 22:31:49 np0000094406 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 18 22:31:49 np0000094406 etcd[60637]: {"level":"warn","ts":"2026-06-18T22:31:49.915115Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 22:31:49 np0000094406 etcd[60637]: {"level":"info","ts":"2026-06-18T22:31:49.915269Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094406","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094406=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 18 22:31:49 np0000094406 etcd[60637]: {"level":"warn","ts":"2026-06-18T22:31:49.915451Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 18 22:31:49 np0000094406 etcd[60637]: {"level":"info","ts":"2026-06-18T22:31:49.915484Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 18 22:31:49 np0000094406 etcd[60637]: {"level":"info","ts":"2026-06-18T22:31:49.917351Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:49 np0000094406 etcd[60637]: {"level":"info","ts":"2026-06-18T22:31:49.917513Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094406","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:49 np0000094406 etcd[60637]: {"level":"info","ts":"2026-06-18T22:31:49.917578Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094406","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 18 22:31:49 np0000094406 etcd[60637]: {"level":"warn","ts":"2026-06-18T22:31:49.917632Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 18 22:31:49 np0000094406 etcd[60637]: {"level":"fatal","ts":"2026-06-18T22:31:49.917708Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 18 22:31:49 np0000094406 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 18 22:31:49 np0000094406 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 22:31:49 np0000094406 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 18 22:31:50 np0000094406 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 18 22:31:50 np0000094406 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 18 22:31:50 np0000094406 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 18 22:31:50 np0000094406 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
