Apr 06 11:49:57 np0000093849 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 11:49:57 np0000093849 etcd[60185]: {"level":"warn","ts":"2026-04-06T11:49:57.577770Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 11:49:57 np0000093849 etcd[60185]: {"level":"info","ts":"2026-04-06T11:49:57.577975Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093849","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093849=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 11:49:57 np0000093849 etcd[60185]: {"level":"warn","ts":"2026-04-06T11:49:57.578180Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 11:49:57 np0000093849 etcd[60185]: {"level":"info","ts":"2026-04-06T11:49:57.578222Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 11:49:57 np0000093849 etcd[60185]: {"level":"info","ts":"2026-04-06T11:49:57.578765Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:57 np0000093849 etcd[60185]: {"level":"info","ts":"2026-04-06T11:49:57.578913Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093849","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:57 np0000093849 etcd[60185]: {"level":"info","ts":"2026-04-06T11:49:57.578997Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093849","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:57 np0000093849 etcd[60185]: {"level":"warn","ts":"2026-04-06T11:49:57.579056Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 11:49:57 np0000093849 etcd[60185]: {"level":"fatal","ts":"2026-04-06T11:49:57.579125Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 11:49:57 np0000093849 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 11:49:57 np0000093849 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 11:49:57 np0000093849 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 11:49:57 np0000093849 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 06 11:49:57 np0000093849 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 11:49:57 np0000093849 etcd[60250]: {"level":"warn","ts":"2026-04-06T11:49:57.841440Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 11:49:57 np0000093849 etcd[60250]: {"level":"info","ts":"2026-04-06T11:49:57.841666Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093849","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093849=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 11:49:57 np0000093849 etcd[60250]: {"level":"warn","ts":"2026-04-06T11:49:57.841825Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 11:49:57 np0000093849 etcd[60250]: {"level":"info","ts":"2026-04-06T11:49:57.841856Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 11:49:57 np0000093849 etcd[60250]: {"level":"info","ts":"2026-04-06T11:49:57.842331Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:57 np0000093849 etcd[60250]: {"level":"info","ts":"2026-04-06T11:49:57.842440Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093849","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:57 np0000093849 etcd[60250]: {"level":"info","ts":"2026-04-06T11:49:57.842516Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093849","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:57 np0000093849 etcd[60250]: {"level":"warn","ts":"2026-04-06T11:49:57.842606Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 11:49:57 np0000093849 etcd[60250]: {"level":"fatal","ts":"2026-04-06T11:49:57.842673Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 11:49:57 np0000093849 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 11:49:57 np0000093849 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 11:49:57 np0000093849 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 11:49:58 np0000093849 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 06 11:49:58 np0000093849 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 11:49:58 np0000093849 etcd[60305]: {"level":"warn","ts":"2026-04-06T11:49:58.087638Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 11:49:58 np0000093849 etcd[60305]: {"level":"info","ts":"2026-04-06T11:49:58.087833Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093849","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093849=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 11:49:58 np0000093849 etcd[60305]: {"level":"warn","ts":"2026-04-06T11:49:58.088023Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 11:49:58 np0000093849 etcd[60305]: {"level":"info","ts":"2026-04-06T11:49:58.088064Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 11:49:58 np0000093849 etcd[60305]: {"level":"info","ts":"2026-04-06T11:49:58.088593Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:58 np0000093849 etcd[60305]: {"level":"info","ts":"2026-04-06T11:49:58.088731Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093849","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:58 np0000093849 etcd[60305]: {"level":"info","ts":"2026-04-06T11:49:58.088835Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093849","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:58 np0000093849 etcd[60305]: {"level":"warn","ts":"2026-04-06T11:49:58.089010Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 11:49:58 np0000093849 etcd[60305]: {"level":"fatal","ts":"2026-04-06T11:49:58.089086Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 11:49:58 np0000093849 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 11:49:58 np0000093849 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 11:49:58 np0000093849 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 11:49:58 np0000093849 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 06 11:49:58 np0000093849 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 11:49:58 np0000093849 etcd[60315]: {"level":"warn","ts":"2026-04-06T11:49:58.336034Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 11:49:58 np0000093849 etcd[60315]: {"level":"info","ts":"2026-04-06T11:49:58.336200Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093849","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093849=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 11:49:58 np0000093849 etcd[60315]: {"level":"warn","ts":"2026-04-06T11:49:58.336357Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 11:49:58 np0000093849 etcd[60315]: {"level":"info","ts":"2026-04-06T11:49:58.336385Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 11:49:58 np0000093849 etcd[60315]: {"level":"info","ts":"2026-04-06T11:49:58.336870Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:58 np0000093849 etcd[60315]: {"level":"info","ts":"2026-04-06T11:49:58.337001Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093849","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:58 np0000093849 etcd[60315]: {"level":"info","ts":"2026-04-06T11:49:58.337075Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093849","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:58 np0000093849 etcd[60315]: {"level":"warn","ts":"2026-04-06T11:49:58.337134Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 11:49:58 np0000093849 etcd[60315]: {"level":"fatal","ts":"2026-04-06T11:49:58.337200Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 11:49:58 np0000093849 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 11:49:58 np0000093849 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 11:49:58 np0000093849 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 11:49:58 np0000093849 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 06 11:49:58 np0000093849 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 06 11:49:58 np0000093849 etcd[60355]: {"level":"warn","ts":"2026-04-06T11:49:58.583315Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 11:49:58 np0000093849 etcd[60355]: {"level":"info","ts":"2026-04-06T11:49:58.583498Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093849","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093849=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 06 11:49:58 np0000093849 etcd[60355]: {"level":"warn","ts":"2026-04-06T11:49:58.583663Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 06 11:49:58 np0000093849 etcd[60355]: {"level":"info","ts":"2026-04-06T11:49:58.583692Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 06 11:49:58 np0000093849 etcd[60355]: {"level":"info","ts":"2026-04-06T11:49:58.584126Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:58 np0000093849 etcd[60355]: {"level":"info","ts":"2026-04-06T11:49:58.584259Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093849","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:58 np0000093849 etcd[60355]: {"level":"info","ts":"2026-04-06T11:49:58.584354Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093849","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 06 11:49:58 np0000093849 etcd[60355]: {"level":"warn","ts":"2026-04-06T11:49:58.584424Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 06 11:49:58 np0000093849 etcd[60355]: {"level":"fatal","ts":"2026-04-06T11:49:58.584495Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 06 11:49:58 np0000093849 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 06 11:49:58 np0000093849 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 11:49:58 np0000093849 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 06 11:49:58 np0000093849 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 06 11:49:58 np0000093849 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 06 11:49:58 np0000093849 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 06 11:49:58 np0000093849 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
