Feb 13 10:55:48 np0000056228 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:55:48 np0000056228 etcd[60636]: {"level":"warn","ts":"2026-02-13T10:55:48.213898Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:55:48 np0000056228 etcd[60636]: {"level":"info","ts":"2026-02-13T10:55:48.214998Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056228","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056228=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:55:48 np0000056228 etcd[60636]: {"level":"warn","ts":"2026-02-13T10:55:48.215555Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:55:48 np0000056228 etcd[60636]: {"level":"info","ts":"2026-02-13T10:55:48.215604Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:55:48 np0000056228 etcd[60636]: {"level":"info","ts":"2026-02-13T10:55:48.216002Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:48 np0000056228 etcd[60636]: {"level":"info","ts":"2026-02-13T10:55:48.216098Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056228","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:48 np0000056228 etcd[60636]: {"level":"info","ts":"2026-02-13T10:55:48.216166Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056228","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:48 np0000056228 etcd[60636]: {"level":"warn","ts":"2026-02-13T10:55:48.216220Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:55:48 np0000056228 etcd[60636]: {"level":"fatal","ts":"2026-02-13T10:55:48.216309Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:55:48 np0000056228 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:55:48 np0000056228 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:55:48 np0000056228 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:55:48 np0000056228 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 10:55:48 np0000056228 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:55:48 np0000056228 etcd[60735]: {"level":"warn","ts":"2026-02-13T10:55:48.605713Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:55:48 np0000056228 etcd[60735]: {"level":"info","ts":"2026-02-13T10:55:48.606897Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056228","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056228=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:55:48 np0000056228 etcd[60735]: {"level":"warn","ts":"2026-02-13T10:55:48.607106Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:55:48 np0000056228 etcd[60735]: {"level":"info","ts":"2026-02-13T10:55:48.607139Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:55:48 np0000056228 etcd[60735]: {"level":"info","ts":"2026-02-13T10:55:48.608269Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:48 np0000056228 etcd[60735]: {"level":"info","ts":"2026-02-13T10:55:48.608447Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056228","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:48 np0000056228 etcd[60735]: {"level":"info","ts":"2026-02-13T10:55:48.608522Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056228","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:48 np0000056228 etcd[60735]: {"level":"warn","ts":"2026-02-13T10:55:48.608574Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:55:48 np0000056228 etcd[60735]: {"level":"fatal","ts":"2026-02-13T10:55:48.608657Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:55:48 np0000056228 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:55:48 np0000056228 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:55:48 np0000056228 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:55:48 np0000056228 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 10:55:48 np0000056228 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:55:48 np0000056228 etcd[60755]: {"level":"warn","ts":"2026-02-13T10:55:48.853402Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:55:48 np0000056228 etcd[60755]: {"level":"info","ts":"2026-02-13T10:55:48.854666Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056228","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056228=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:55:48 np0000056228 etcd[60755]: {"level":"warn","ts":"2026-02-13T10:55:48.854876Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:55:48 np0000056228 etcd[60755]: {"level":"info","ts":"2026-02-13T10:55:48.854916Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:55:48 np0000056228 etcd[60755]: {"level":"info","ts":"2026-02-13T10:55:48.855476Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:48 np0000056228 etcd[60755]: {"level":"info","ts":"2026-02-13T10:55:48.855645Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056228","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:48 np0000056228 etcd[60755]: {"level":"info","ts":"2026-02-13T10:55:48.855854Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056228","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:48 np0000056228 etcd[60755]: {"level":"warn","ts":"2026-02-13T10:55:48.855922Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:55:48 np0000056228 etcd[60755]: {"level":"fatal","ts":"2026-02-13T10:55:48.856009Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:55:48 np0000056228 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:55:48 np0000056228 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:55:48 np0000056228 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:55:49 np0000056228 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 10:55:49 np0000056228 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:55:49 np0000056228 etcd[60776]: {"level":"warn","ts":"2026-02-13T10:55:49.093579Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:55:49 np0000056228 etcd[60776]: {"level":"info","ts":"2026-02-13T10:55:49.093788Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056228","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056228=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:55:49 np0000056228 etcd[60776]: {"level":"warn","ts":"2026-02-13T10:55:49.093945Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:55:49 np0000056228 etcd[60776]: {"level":"info","ts":"2026-02-13T10:55:49.093974Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:55:49 np0000056228 etcd[60776]: {"level":"info","ts":"2026-02-13T10:55:49.094499Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:49 np0000056228 etcd[60776]: {"level":"info","ts":"2026-02-13T10:55:49.094628Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056228","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:49 np0000056228 etcd[60776]: {"level":"info","ts":"2026-02-13T10:55:49.094706Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056228","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:49 np0000056228 etcd[60776]: {"level":"warn","ts":"2026-02-13T10:55:49.094778Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:55:49 np0000056228 etcd[60776]: {"level":"fatal","ts":"2026-02-13T10:55:49.094841Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:55:49 np0000056228 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:55:49 np0000056228 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:55:49 np0000056228 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:55:49 np0000056228 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 10:55:49 np0000056228 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 10:55:49 np0000056228 etcd[60814]: {"level":"warn","ts":"2026-02-13T10:55:49.350093Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:55:49 np0000056228 etcd[60814]: {"level":"info","ts":"2026-02-13T10:55:49.350294Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056228","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056228=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 10:55:49 np0000056228 etcd[60814]: {"level":"warn","ts":"2026-02-13T10:55:49.350520Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 10:55:49 np0000056228 etcd[60814]: {"level":"info","ts":"2026-02-13T10:55:49.350553Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 10:55:49 np0000056228 etcd[60814]: {"level":"info","ts":"2026-02-13T10:55:49.351024Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:49 np0000056228 etcd[60814]: {"level":"info","ts":"2026-02-13T10:55:49.351148Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056228","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:49 np0000056228 etcd[60814]: {"level":"info","ts":"2026-02-13T10:55:49.351221Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056228","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 10:55:49 np0000056228 etcd[60814]: {"level":"warn","ts":"2026-02-13T10:55:49.351282Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 10:55:49 np0000056228 etcd[60814]: {"level":"fatal","ts":"2026-02-13T10:55:49.351440Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 10:55:49 np0000056228 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 10:55:49 np0000056228 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:55:49 np0000056228 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 10:55:49 np0000056228 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 10:55:49 np0000056228 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 10:55:49 np0000056228 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 10:55:49 np0000056228 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
