Apr 20 14:56:34 np0000094024 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 14:56:34 np0000094024 etcd[60666]: {"level":"warn","ts":"2026-04-20T14:56:34.595664Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 14:56:34 np0000094024 etcd[60666]: {"level":"info","ts":"2026-04-20T14:56:34.597368Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094024","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094024=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 14:56:34 np0000094024 etcd[60666]: {"level":"warn","ts":"2026-04-20T14:56:34.597603Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 14:56:34 np0000094024 etcd[60666]: {"level":"info","ts":"2026-04-20T14:56:34.597656Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 14:56:34 np0000094024 etcd[60666]: {"level":"info","ts":"2026-04-20T14:56:34.598195Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:34 np0000094024 etcd[60666]: {"level":"info","ts":"2026-04-20T14:56:34.598410Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094024","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:34 np0000094024 etcd[60666]: {"level":"info","ts":"2026-04-20T14:56:34.598500Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094024","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:34 np0000094024 etcd[60666]: {"level":"warn","ts":"2026-04-20T14:56:34.598560Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 14:56:34 np0000094024 etcd[60666]: {"level":"fatal","ts":"2026-04-20T14:56:34.598630Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 14:56:34 np0000094024 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 14:56:34 np0000094024 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 14:56:34 np0000094024 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 14:56:34 np0000094024 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 20 14:56:34 np0000094024 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 14:56:34 np0000094024 etcd[60734]: {"level":"warn","ts":"2026-04-20T14:56:34.854377Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 14:56:34 np0000094024 etcd[60734]: {"level":"info","ts":"2026-04-20T14:56:34.854558Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094024","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094024=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 14:56:34 np0000094024 etcd[60734]: {"level":"warn","ts":"2026-04-20T14:56:34.854774Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 14:56:34 np0000094024 etcd[60734]: {"level":"info","ts":"2026-04-20T14:56:34.854819Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 14:56:34 np0000094024 etcd[60734]: {"level":"info","ts":"2026-04-20T14:56:34.855325Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:34 np0000094024 etcd[60734]: {"level":"info","ts":"2026-04-20T14:56:34.855454Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094024","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:34 np0000094024 etcd[60734]: {"level":"info","ts":"2026-04-20T14:56:34.855533Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094024","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:34 np0000094024 etcd[60734]: {"level":"warn","ts":"2026-04-20T14:56:34.855591Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 14:56:34 np0000094024 etcd[60734]: {"level":"fatal","ts":"2026-04-20T14:56:34.855659Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 14:56:34 np0000094024 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 14:56:34 np0000094024 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 14:56:34 np0000094024 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 14:56:35 np0000094024 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 20 14:56:35 np0000094024 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 14:56:35 np0000094024 etcd[60786]: {"level":"warn","ts":"2026-04-20T14:56:35.095866Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 14:56:35 np0000094024 etcd[60786]: {"level":"info","ts":"2026-04-20T14:56:35.097018Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094024","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094024=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 14:56:35 np0000094024 etcd[60786]: {"level":"warn","ts":"2026-04-20T14:56:35.097223Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 14:56:35 np0000094024 etcd[60786]: {"level":"info","ts":"2026-04-20T14:56:35.097873Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 14:56:35 np0000094024 etcd[60786]: {"level":"info","ts":"2026-04-20T14:56:35.098399Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:35 np0000094024 etcd[60786]: {"level":"info","ts":"2026-04-20T14:56:35.098529Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094024","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:35 np0000094024 etcd[60786]: {"level":"info","ts":"2026-04-20T14:56:35.098613Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094024","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:35 np0000094024 etcd[60786]: {"level":"warn","ts":"2026-04-20T14:56:35.098672Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 14:56:35 np0000094024 etcd[60786]: {"level":"fatal","ts":"2026-04-20T14:56:35.098741Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 14:56:35 np0000094024 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 14:56:35 np0000094024 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 14:56:35 np0000094024 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 14:56:35 np0000094024 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 20 14:56:35 np0000094024 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 14:56:35 np0000094024 etcd[60795]: {"level":"warn","ts":"2026-04-20T14:56:35.358702Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 14:56:35 np0000094024 etcd[60795]: {"level":"info","ts":"2026-04-20T14:56:35.358897Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094024","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094024=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 14:56:35 np0000094024 etcd[60795]: {"level":"warn","ts":"2026-04-20T14:56:35.359077Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 14:56:35 np0000094024 etcd[60795]: {"level":"info","ts":"2026-04-20T14:56:35.359118Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 14:56:35 np0000094024 etcd[60795]: {"level":"info","ts":"2026-04-20T14:56:35.360700Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:35 np0000094024 etcd[60795]: {"level":"info","ts":"2026-04-20T14:56:35.360838Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094024","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:35 np0000094024 etcd[60795]: {"level":"info","ts":"2026-04-20T14:56:35.360926Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094024","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:35 np0000094024 etcd[60795]: {"level":"warn","ts":"2026-04-20T14:56:35.360985Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 14:56:35 np0000094024 etcd[60795]: {"level":"fatal","ts":"2026-04-20T14:56:35.361054Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 14:56:35 np0000094024 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 14:56:35 np0000094024 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 14:56:35 np0000094024 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 14:56:35 np0000094024 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 20 14:56:35 np0000094024 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 20 14:56:35 np0000094024 etcd[60832]: {"level":"warn","ts":"2026-04-20T14:56:35.602127Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 14:56:35 np0000094024 etcd[60832]: {"level":"info","ts":"2026-04-20T14:56:35.602372Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094024","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094024=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 20 14:56:35 np0000094024 etcd[60832]: {"level":"warn","ts":"2026-04-20T14:56:35.602546Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 20 14:56:35 np0000094024 etcd[60832]: {"level":"info","ts":"2026-04-20T14:56:35.602583Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 20 14:56:35 np0000094024 etcd[60832]: {"level":"info","ts":"2026-04-20T14:56:35.602991Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:35 np0000094024 etcd[60832]: {"level":"info","ts":"2026-04-20T14:56:35.603105Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094024","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:35 np0000094024 etcd[60832]: {"level":"info","ts":"2026-04-20T14:56:35.603184Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094024","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 20 14:56:35 np0000094024 etcd[60832]: {"level":"warn","ts":"2026-04-20T14:56:35.603238Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 20 14:56:35 np0000094024 etcd[60832]: {"level":"fatal","ts":"2026-04-20T14:56:35.603365Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 20 14:56:35 np0000094024 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 20 14:56:35 np0000094024 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 14:56:35 np0000094024 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 20 14:56:35 np0000094024 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 20 14:56:35 np0000094024 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 20 14:56:35 np0000094024 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 20 14:56:35 np0000094024 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
