Apr 13 14:00:07 np0000093929 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 14:00:07 np0000093929 etcd[60666]: {"level":"warn","ts":"2026-04-13T14:00:07.208528Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 14:00:07 np0000093929 etcd[60666]: {"level":"info","ts":"2026-04-13T14:00:07.208681Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093929","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093929=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 14:00:07 np0000093929 etcd[60666]: {"level":"warn","ts":"2026-04-13T14:00:07.208834Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 14:00:07 np0000093929 etcd[60666]: {"level":"info","ts":"2026-04-13T14:00:07.208873Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 14:00:07 np0000093929 etcd[60666]: {"level":"info","ts":"2026-04-13T14:00:07.209234Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:07 np0000093929 etcd[60666]: {"level":"info","ts":"2026-04-13T14:00:07.209336Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093929","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:07 np0000093929 etcd[60666]: {"level":"info","ts":"2026-04-13T14:00:07.209405Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093929","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:07 np0000093929 etcd[60666]: {"level":"warn","ts":"2026-04-13T14:00:07.209452Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 14:00:07 np0000093929 etcd[60666]: {"level":"fatal","ts":"2026-04-13T14:00:07.209544Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 14:00:07 np0000093929 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 14:00:07 np0000093929 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 14:00:07 np0000093929 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 14:00:07 np0000093929 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 13 14:00:07 np0000093929 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 14:00:07 np0000093929 etcd[60718]: {"level":"warn","ts":"2026-04-13T14:00:07.429003Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 14:00:07 np0000093929 etcd[60718]: {"level":"info","ts":"2026-04-13T14:00:07.429223Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093929","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093929=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 14:00:07 np0000093929 etcd[60718]: {"level":"warn","ts":"2026-04-13T14:00:07.429397Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 14:00:07 np0000093929 etcd[60718]: {"level":"info","ts":"2026-04-13T14:00:07.429439Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 14:00:07 np0000093929 etcd[60718]: {"level":"info","ts":"2026-04-13T14:00:07.429991Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:07 np0000093929 etcd[60718]: {"level":"info","ts":"2026-04-13T14:00:07.430147Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093929","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:07 np0000093929 etcd[60718]: {"level":"info","ts":"2026-04-13T14:00:07.430230Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093929","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:07 np0000093929 etcd[60718]: {"level":"warn","ts":"2026-04-13T14:00:07.430289Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 14:00:07 np0000093929 etcd[60718]: {"level":"fatal","ts":"2026-04-13T14:00:07.430702Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 14:00:07 np0000093929 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 14:00:07 np0000093929 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 14:00:07 np0000093929 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 14:00:07 np0000093929 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 13 14:00:07 np0000093929 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 14:00:07 np0000093929 etcd[60788]: {"level":"warn","ts":"2026-04-13T14:00:07.677679Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 14:00:07 np0000093929 etcd[60788]: {"level":"info","ts":"2026-04-13T14:00:07.677842Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093929","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093929=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 14:00:07 np0000093929 etcd[60788]: {"level":"warn","ts":"2026-04-13T14:00:07.678003Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 14:00:07 np0000093929 etcd[60788]: {"level":"info","ts":"2026-04-13T14:00:07.678050Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 14:00:07 np0000093929 etcd[60788]: {"level":"info","ts":"2026-04-13T14:00:07.678596Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:07 np0000093929 etcd[60788]: {"level":"info","ts":"2026-04-13T14:00:07.678721Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093929","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:07 np0000093929 etcd[60788]: {"level":"info","ts":"2026-04-13T14:00:07.678798Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093929","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:07 np0000093929 etcd[60788]: {"level":"warn","ts":"2026-04-13T14:00:07.678859Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 14:00:07 np0000093929 etcd[60788]: {"level":"fatal","ts":"2026-04-13T14:00:07.678933Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 14:00:07 np0000093929 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 14:00:07 np0000093929 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 14:00:07 np0000093929 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 14:00:07 np0000093929 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 13 14:00:07 np0000093929 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 14:00:07 np0000093929 etcd[60795]: {"level":"warn","ts":"2026-04-13T14:00:07.940402Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 14:00:07 np0000093929 etcd[60795]: {"level":"info","ts":"2026-04-13T14:00:07.940612Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093929","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093929=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 14:00:07 np0000093929 etcd[60795]: {"level":"warn","ts":"2026-04-13T14:00:07.940772Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 14:00:07 np0000093929 etcd[60795]: {"level":"info","ts":"2026-04-13T14:00:07.940821Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 14:00:07 np0000093929 etcd[60795]: {"level":"info","ts":"2026-04-13T14:00:07.941260Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:07 np0000093929 etcd[60795]: {"level":"info","ts":"2026-04-13T14:00:07.941380Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093929","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:07 np0000093929 etcd[60795]: {"level":"info","ts":"2026-04-13T14:00:07.941458Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093929","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:07 np0000093929 etcd[60795]: {"level":"warn","ts":"2026-04-13T14:00:07.941538Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 14:00:07 np0000093929 etcd[60795]: {"level":"fatal","ts":"2026-04-13T14:00:07.941612Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 14:00:07 np0000093929 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 14:00:07 np0000093929 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 14:00:07 np0000093929 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 14:00:08 np0000093929 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 13 14:00:08 np0000093929 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 14:00:08 np0000093929 etcd[60816]: {"level":"warn","ts":"2026-04-13T14:00:08.171160Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 14:00:08 np0000093929 etcd[60816]: {"level":"info","ts":"2026-04-13T14:00:08.171342Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093929","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093929=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 14:00:08 np0000093929 etcd[60816]: {"level":"warn","ts":"2026-04-13T14:00:08.171533Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 14:00:08 np0000093929 etcd[60816]: {"level":"info","ts":"2026-04-13T14:00:08.171567Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 14:00:08 np0000093929 etcd[60816]: {"level":"info","ts":"2026-04-13T14:00:08.172140Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:08 np0000093929 etcd[60816]: {"level":"info","ts":"2026-04-13T14:00:08.172262Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093929","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:08 np0000093929 etcd[60816]: {"level":"info","ts":"2026-04-13T14:00:08.172343Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093929","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 14:00:08 np0000093929 etcd[60816]: {"level":"warn","ts":"2026-04-13T14:00:08.172399Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 14:00:08 np0000093929 etcd[60816]: {"level":"fatal","ts":"2026-04-13T14:00:08.172523Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 14:00:08 np0000093929 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 14:00:08 np0000093929 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 14:00:08 np0000093929 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 14:00:08 np0000093929 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 13 14:00:08 np0000093929 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 13 14:00:08 np0000093929 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 14:00:08 np0000093929 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
