Apr 09 19:49:22 np0000093895 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 19:49:22 np0000093895 etcd[60188]: {"level":"warn","ts":"2026-04-09T19:49:22.251985Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:49:22 np0000093895 etcd[60188]: {"level":"info","ts":"2026-04-09T19:49:22.252194Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093895","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093895=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 19:49:22 np0000093895 etcd[60188]: {"level":"warn","ts":"2026-04-09T19:49:22.252423Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:49:22 np0000093895 etcd[60188]: {"level":"info","ts":"2026-04-09T19:49:22.252458Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 19:49:22 np0000093895 etcd[60188]: {"level":"info","ts":"2026-04-09T19:49:22.254845Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:22 np0000093895 etcd[60188]: {"level":"info","ts":"2026-04-09T19:49:22.255007Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093895","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:22 np0000093895 etcd[60188]: {"level":"info","ts":"2026-04-09T19:49:22.255115Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093895","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:22 np0000093895 etcd[60188]: {"level":"warn","ts":"2026-04-09T19:49:22.255174Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 19:49:22 np0000093895 etcd[60188]: {"level":"fatal","ts":"2026-04-09T19:49:22.255243Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 19:49:22 np0000093895 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 19:49:22 np0000093895 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 19:49:22 np0000093895 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 19:49:22 np0000093895 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 09 19:49:22 np0000093895 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 19:49:22 np0000093895 etcd[60233]: {"level":"warn","ts":"2026-04-09T19:49:22.457986Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:49:22 np0000093895 etcd[60233]: {"level":"info","ts":"2026-04-09T19:49:22.458262Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093895","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093895=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 19:49:22 np0000093895 etcd[60233]: {"level":"warn","ts":"2026-04-09T19:49:22.458501Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:49:22 np0000093895 etcd[60233]: {"level":"info","ts":"2026-04-09T19:49:22.458545Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 19:49:22 np0000093895 etcd[60233]: {"level":"info","ts":"2026-04-09T19:49:22.459042Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:22 np0000093895 etcd[60233]: {"level":"info","ts":"2026-04-09T19:49:22.459184Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093895","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:22 np0000093895 etcd[60233]: {"level":"info","ts":"2026-04-09T19:49:22.459262Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093895","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:22 np0000093895 etcd[60233]: {"level":"warn","ts":"2026-04-09T19:49:22.459343Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 19:49:22 np0000093895 etcd[60233]: {"level":"fatal","ts":"2026-04-09T19:49:22.459423Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 19:49:22 np0000093895 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 19:49:22 np0000093895 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 19:49:22 np0000093895 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 19:49:22 np0000093895 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 09 19:49:22 np0000093895 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 19:49:22 np0000093895 etcd[60308]: {"level":"warn","ts":"2026-04-09T19:49:22.687409Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:49:22 np0000093895 etcd[60308]: {"level":"info","ts":"2026-04-09T19:49:22.687609Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093895","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093895=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 19:49:22 np0000093895 etcd[60308]: {"level":"warn","ts":"2026-04-09T19:49:22.687828Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:49:22 np0000093895 etcd[60308]: {"level":"info","ts":"2026-04-09T19:49:22.687863Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 19:49:22 np0000093895 etcd[60308]: {"level":"info","ts":"2026-04-09T19:49:22.688560Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:22 np0000093895 etcd[60308]: {"level":"info","ts":"2026-04-09T19:49:22.688712Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093895","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:22 np0000093895 etcd[60308]: {"level":"info","ts":"2026-04-09T19:49:22.688777Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093895","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:22 np0000093895 etcd[60308]: {"level":"warn","ts":"2026-04-09T19:49:22.688847Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 19:49:22 np0000093895 etcd[60308]: {"level":"fatal","ts":"2026-04-09T19:49:22.688921Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 19:49:22 np0000093895 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 19:49:22 np0000093895 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 19:49:22 np0000093895 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 19:49:22 np0000093895 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 09 19:49:22 np0000093895 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 19:49:22 np0000093895 etcd[60315]: {"level":"warn","ts":"2026-04-09T19:49:22.947363Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:49:22 np0000093895 etcd[60315]: {"level":"info","ts":"2026-04-09T19:49:22.948336Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093895","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093895=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 19:49:22 np0000093895 etcd[60315]: {"level":"warn","ts":"2026-04-09T19:49:22.948511Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:49:22 np0000093895 etcd[60315]: {"level":"info","ts":"2026-04-09T19:49:22.948540Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 19:49:22 np0000093895 etcd[60315]: {"level":"info","ts":"2026-04-09T19:49:22.949009Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:22 np0000093895 etcd[60315]: {"level":"info","ts":"2026-04-09T19:49:22.949126Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093895","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:22 np0000093895 etcd[60315]: {"level":"info","ts":"2026-04-09T19:49:22.949799Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093895","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:22 np0000093895 etcd[60315]: {"level":"warn","ts":"2026-04-09T19:49:22.949889Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 19:49:22 np0000093895 etcd[60315]: {"level":"fatal","ts":"2026-04-09T19:49:22.949947Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 19:49:22 np0000093895 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 19:49:22 np0000093895 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 19:49:22 np0000093895 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 19:49:23 np0000093895 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 09 19:49:23 np0000093895 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 09 19:49:23 np0000093895 etcd[60339]: {"level":"warn","ts":"2026-04-09T19:49:23.195658Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:49:23 np0000093895 etcd[60339]: {"level":"info","ts":"2026-04-09T19:49:23.195802Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093895","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093895=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 09 19:49:23 np0000093895 etcd[60339]: {"level":"warn","ts":"2026-04-09T19:49:23.195928Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 09 19:49:23 np0000093895 etcd[60339]: {"level":"info","ts":"2026-04-09T19:49:23.195957Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 09 19:49:23 np0000093895 etcd[60339]: {"level":"info","ts":"2026-04-09T19:49:23.196339Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:23 np0000093895 etcd[60339]: {"level":"info","ts":"2026-04-09T19:49:23.196430Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093895","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:23 np0000093895 etcd[60339]: {"level":"info","ts":"2026-04-09T19:49:23.196476Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093895","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 09 19:49:23 np0000093895 etcd[60339]: {"level":"warn","ts":"2026-04-09T19:49:23.196515Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 09 19:49:23 np0000093895 etcd[60339]: {"level":"fatal","ts":"2026-04-09T19:49:23.196708Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 09 19:49:23 np0000093895 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 09 19:49:23 np0000093895 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 19:49:23 np0000093895 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 09 19:49:23 np0000093895 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 09 19:49:23 np0000093895 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 09 19:49:23 np0000093895 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 09 19:49:23 np0000093895 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
