Apr 14 20:20:41 np0000093958 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 20:20:41 np0000093958 etcd[60247]: {"level":"warn","ts":"2026-04-14T20:20:41.246906Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 20:20:41 np0000093958 etcd[60247]: {"level":"info","ts":"2026-04-14T20:20:41.247074Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093958","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093958=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 20:20:41 np0000093958 etcd[60247]: {"level":"warn","ts":"2026-04-14T20:20:41.247221Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 20:20:41 np0000093958 etcd[60247]: {"level":"info","ts":"2026-04-14T20:20:41.247255Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 20:20:41 np0000093958 etcd[60247]: {"level":"info","ts":"2026-04-14T20:20:41.248099Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:41 np0000093958 etcd[60247]: {"level":"info","ts":"2026-04-14T20:20:41.248284Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093958","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:41 np0000093958 etcd[60247]: {"level":"info","ts":"2026-04-14T20:20:41.249187Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093958","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:41 np0000093958 etcd[60247]: {"level":"warn","ts":"2026-04-14T20:20:41.249345Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 20:20:41 np0000093958 etcd[60247]: {"level":"fatal","ts":"2026-04-14T20:20:41.249440Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 20:20:41 np0000093958 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 20:20:41 np0000093958 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 20:20:41 np0000093958 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 20:20:41 np0000093958 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 20:20:41 np0000093958 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 20:20:41 np0000093958 etcd[60316]: {"level":"warn","ts":"2026-04-14T20:20:41.537531Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 20:20:41 np0000093958 etcd[60316]: {"level":"info","ts":"2026-04-14T20:20:41.539532Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093958","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093958=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 20:20:41 np0000093958 etcd[60316]: {"level":"warn","ts":"2026-04-14T20:20:41.539733Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 20:20:41 np0000093958 etcd[60316]: {"level":"info","ts":"2026-04-14T20:20:41.539781Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 20:20:41 np0000093958 etcd[60316]: {"level":"info","ts":"2026-04-14T20:20:41.541194Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:41 np0000093958 etcd[60316]: {"level":"info","ts":"2026-04-14T20:20:41.541326Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093958","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:41 np0000093958 etcd[60316]: {"level":"info","ts":"2026-04-14T20:20:41.541422Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093958","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:41 np0000093958 etcd[60316]: {"level":"warn","ts":"2026-04-14T20:20:41.541477Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 20:20:41 np0000093958 etcd[60316]: {"level":"fatal","ts":"2026-04-14T20:20:41.541570Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 20:20:41 np0000093958 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 20:20:41 np0000093958 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 20:20:41 np0000093958 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 20:20:41 np0000093958 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 20:20:41 np0000093958 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 20:20:41 np0000093958 etcd[60368]: {"level":"warn","ts":"2026-04-14T20:20:41.793258Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 20:20:41 np0000093958 etcd[60368]: {"level":"info","ts":"2026-04-14T20:20:41.793477Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093958","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093958=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 20:20:41 np0000093958 etcd[60368]: {"level":"warn","ts":"2026-04-14T20:20:41.793671Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 20:20:41 np0000093958 etcd[60368]: {"level":"info","ts":"2026-04-14T20:20:41.793703Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 20:20:41 np0000093958 etcd[60368]: {"level":"info","ts":"2026-04-14T20:20:41.794216Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:41 np0000093958 etcd[60368]: {"level":"info","ts":"2026-04-14T20:20:41.794339Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093958","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:41 np0000093958 etcd[60368]: {"level":"info","ts":"2026-04-14T20:20:41.794469Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093958","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:41 np0000093958 etcd[60368]: {"level":"warn","ts":"2026-04-14T20:20:41.794533Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 20:20:41 np0000093958 etcd[60368]: {"level":"fatal","ts":"2026-04-14T20:20:41.794620Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 20:20:41 np0000093958 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 20:20:41 np0000093958 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 20:20:41 np0000093958 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 20:20:41 np0000093958 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 20:20:41 np0000093958 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 20:20:42 np0000093958 etcd[60378]: {"level":"warn","ts":"2026-04-14T20:20:42.020267Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 20:20:42 np0000093958 etcd[60378]: {"level":"info","ts":"2026-04-14T20:20:42.020474Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093958","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093958=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 20:20:42 np0000093958 etcd[60378]: {"level":"warn","ts":"2026-04-14T20:20:42.020678Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 20:20:42 np0000093958 etcd[60378]: {"level":"info","ts":"2026-04-14T20:20:42.020721Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 20:20:42 np0000093958 etcd[60378]: {"level":"info","ts":"2026-04-14T20:20:42.021343Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:42 np0000093958 etcd[60378]: {"level":"info","ts":"2026-04-14T20:20:42.021563Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093958","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:42 np0000093958 etcd[60378]: {"level":"info","ts":"2026-04-14T20:20:42.021653Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093958","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:42 np0000093958 etcd[60378]: {"level":"warn","ts":"2026-04-14T20:20:42.021736Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 20:20:42 np0000093958 etcd[60378]: {"level":"fatal","ts":"2026-04-14T20:20:42.021804Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 20:20:42 np0000093958 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 20:20:42 np0000093958 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 20:20:42 np0000093958 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 20:20:42 np0000093958 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 20:20:42 np0000093958 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 20:20:42 np0000093958 etcd[60416]: {"level":"warn","ts":"2026-04-14T20:20:42.285699Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 20:20:42 np0000093958 etcd[60416]: {"level":"info","ts":"2026-04-14T20:20:42.285856Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093958","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093958=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 20:20:42 np0000093958 etcd[60416]: {"level":"warn","ts":"2026-04-14T20:20:42.286017Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 20:20:42 np0000093958 etcd[60416]: {"level":"info","ts":"2026-04-14T20:20:42.286042Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 20:20:42 np0000093958 etcd[60416]: {"level":"info","ts":"2026-04-14T20:20:42.286509Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:42 np0000093958 etcd[60416]: {"level":"info","ts":"2026-04-14T20:20:42.286636Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093958","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:42 np0000093958 etcd[60416]: {"level":"info","ts":"2026-04-14T20:20:42.286696Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093958","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 20:20:42 np0000093958 etcd[60416]: {"level":"warn","ts":"2026-04-14T20:20:42.286748Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 20:20:42 np0000093958 etcd[60416]: {"level":"fatal","ts":"2026-04-14T20:20:42.286808Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 20:20:42 np0000093958 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 20:20:42 np0000093958 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 20:20:42 np0000093958 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 20:20:42 np0000093958 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 20:20:42 np0000093958 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 20:20:42 np0000093958 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 20:20:42 np0000093958 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
