Apr 13 19:11:25 np0000093936 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 19:11:25 np0000093936 etcd[60243]: {"level":"warn","ts":"2026-04-13T19:11:25.665282Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 19:11:25 np0000093936 etcd[60243]: {"level":"info","ts":"2026-04-13T19:11:25.665569Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093936","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093936=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 19:11:25 np0000093936 etcd[60243]: {"level":"warn","ts":"2026-04-13T19:11:25.665902Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 19:11:25 np0000093936 etcd[60243]: {"level":"info","ts":"2026-04-13T19:11:25.665942Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 19:11:25 np0000093936 etcd[60243]: {"level":"info","ts":"2026-04-13T19:11:25.667125Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:25 np0000093936 etcd[60243]: {"level":"info","ts":"2026-04-13T19:11:25.667301Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093936","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:25 np0000093936 etcd[60243]: {"level":"info","ts":"2026-04-13T19:11:25.667405Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093936","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:25 np0000093936 etcd[60243]: {"level":"warn","ts":"2026-04-13T19:11:25.667477Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 19:11:25 np0000093936 etcd[60243]: {"level":"fatal","ts":"2026-04-13T19:11:25.667551Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 19:11:25 np0000093936 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 19:11:25 np0000093936 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 19:11:25 np0000093936 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 19:11:25 np0000093936 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 13 19:11:25 np0000093936 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 19:11:25 np0000093936 etcd[60288]: {"level":"warn","ts":"2026-04-13T19:11:25.876386Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 19:11:25 np0000093936 etcd[60288]: {"level":"info","ts":"2026-04-13T19:11:25.876548Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093936","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093936=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 19:11:25 np0000093936 etcd[60288]: {"level":"warn","ts":"2026-04-13T19:11:25.876716Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 19:11:25 np0000093936 etcd[60288]: {"level":"info","ts":"2026-04-13T19:11:25.876755Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 19:11:25 np0000093936 etcd[60288]: {"level":"info","ts":"2026-04-13T19:11:25.877228Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:25 np0000093936 etcd[60288]: {"level":"info","ts":"2026-04-13T19:11:25.877329Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093936","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:25 np0000093936 etcd[60288]: {"level":"info","ts":"2026-04-13T19:11:25.877399Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093936","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:25 np0000093936 etcd[60288]: {"level":"warn","ts":"2026-04-13T19:11:25.877458Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 19:11:25 np0000093936 etcd[60288]: {"level":"fatal","ts":"2026-04-13T19:11:25.877600Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 19:11:25 np0000093936 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 19:11:25 np0000093936 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 19:11:25 np0000093936 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 19:11:26 np0000093936 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 13 19:11:26 np0000093936 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 19:11:26 np0000093936 etcd[60364]: {"level":"warn","ts":"2026-04-13T19:11:26.129903Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 19:11:26 np0000093936 etcd[60364]: {"level":"info","ts":"2026-04-13T19:11:26.130150Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093936","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093936=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 19:11:26 np0000093936 etcd[60364]: {"level":"warn","ts":"2026-04-13T19:11:26.130381Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 19:11:26 np0000093936 etcd[60364]: {"level":"info","ts":"2026-04-13T19:11:26.130432Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 19:11:26 np0000093936 etcd[60364]: {"level":"info","ts":"2026-04-13T19:11:26.131224Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:26 np0000093936 etcd[60364]: {"level":"info","ts":"2026-04-13T19:11:26.131376Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093936","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:26 np0000093936 etcd[60364]: {"level":"info","ts":"2026-04-13T19:11:26.131498Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093936","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:26 np0000093936 etcd[60364]: {"level":"warn","ts":"2026-04-13T19:11:26.131577Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 19:11:26 np0000093936 etcd[60364]: {"level":"fatal","ts":"2026-04-13T19:11:26.131893Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 19:11:26 np0000093936 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 19:11:26 np0000093936 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 19:11:26 np0000093936 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 19:11:26 np0000093936 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 13 19:11:26 np0000093936 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 19:11:26 np0000093936 etcd[60371]: {"level":"warn","ts":"2026-04-13T19:11:26.370640Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 19:11:26 np0000093936 etcd[60371]: {"level":"info","ts":"2026-04-13T19:11:26.370870Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093936","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093936=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 19:11:26 np0000093936 etcd[60371]: {"level":"warn","ts":"2026-04-13T19:11:26.371042Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 19:11:26 np0000093936 etcd[60371]: {"level":"info","ts":"2026-04-13T19:11:26.371083Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 19:11:26 np0000093936 etcd[60371]: {"level":"info","ts":"2026-04-13T19:11:26.371585Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:26 np0000093936 etcd[60371]: {"level":"info","ts":"2026-04-13T19:11:26.373332Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093936","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:26 np0000093936 etcd[60371]: {"level":"info","ts":"2026-04-13T19:11:26.373441Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093936","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:26 np0000093936 etcd[60371]: {"level":"warn","ts":"2026-04-13T19:11:26.373529Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 19:11:26 np0000093936 etcd[60371]: {"level":"fatal","ts":"2026-04-13T19:11:26.373598Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 19:11:26 np0000093936 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 19:11:26 np0000093936 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 19:11:26 np0000093936 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 19:11:26 np0000093936 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 13 19:11:26 np0000093936 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 13 19:11:26 np0000093936 etcd[60394]: {"level":"warn","ts":"2026-04-13T19:11:26.598063Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 19:11:26 np0000093936 etcd[60394]: {"level":"info","ts":"2026-04-13T19:11:26.598192Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093936","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093936=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 13 19:11:26 np0000093936 etcd[60394]: {"level":"warn","ts":"2026-04-13T19:11:26.598303Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 13 19:11:26 np0000093936 etcd[60394]: {"level":"info","ts":"2026-04-13T19:11:26.598322Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 13 19:11:26 np0000093936 etcd[60394]: {"level":"info","ts":"2026-04-13T19:11:26.598726Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:26 np0000093936 etcd[60394]: {"level":"info","ts":"2026-04-13T19:11:26.598820Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093936","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:26 np0000093936 etcd[60394]: {"level":"info","ts":"2026-04-13T19:11:26.598873Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093936","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 13 19:11:26 np0000093936 etcd[60394]: {"level":"warn","ts":"2026-04-13T19:11:26.598908Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 13 19:11:26 np0000093936 etcd[60394]: {"level":"fatal","ts":"2026-04-13T19:11:26.598948Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 13 19:11:26 np0000093936 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 13 19:11:26 np0000093936 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 19:11:26 np0000093936 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 13 19:11:26 np0000093936 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 13 19:11:26 np0000093936 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 13 19:11:26 np0000093936 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 13 19:11:26 np0000093936 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
