Jun 17 09:36:44 np0000094378 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 09:36:45 np0000094378 etcd[60464]: {"level":"warn","ts":"2026-06-17T09:36:45.020819Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 09:36:45 np0000094378 etcd[60464]: {"level":"info","ts":"2026-06-17T09:36:45.021033Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094378","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094378=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 09:36:45 np0000094378 etcd[60464]: {"level":"warn","ts":"2026-06-17T09:36:45.021224Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 09:36:45 np0000094378 etcd[60464]: {"level":"info","ts":"2026-06-17T09:36:45.021266Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 09:36:45 np0000094378 etcd[60464]: {"level":"info","ts":"2026-06-17T09:36:45.021813Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:45 np0000094378 etcd[60464]: {"level":"info","ts":"2026-06-17T09:36:45.021939Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094378","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:45 np0000094378 etcd[60464]: {"level":"info","ts":"2026-06-17T09:36:45.022022Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094378","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:45 np0000094378 etcd[60464]: {"level":"warn","ts":"2026-06-17T09:36:45.022081Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 09:36:45 np0000094378 etcd[60464]: {"level":"fatal","ts":"2026-06-17T09:36:45.022147Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 09:36:45 np0000094378 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 09:36:45 np0000094378 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 09:36:45 np0000094378 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 09:36:45 np0000094378 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 17 09:36:45 np0000094378 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 09:36:45 np0000094378 etcd[60558]: {"level":"warn","ts":"2026-06-17T09:36:45.396943Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 09:36:45 np0000094378 etcd[60558]: {"level":"info","ts":"2026-06-17T09:36:45.397160Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094378","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094378=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 09:36:45 np0000094378 etcd[60558]: {"level":"warn","ts":"2026-06-17T09:36:45.397444Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 09:36:45 np0000094378 etcd[60558]: {"level":"info","ts":"2026-06-17T09:36:45.397504Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 09:36:45 np0000094378 etcd[60558]: {"level":"info","ts":"2026-06-17T09:36:45.398131Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:45 np0000094378 etcd[60558]: {"level":"info","ts":"2026-06-17T09:36:45.398302Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094378","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:45 np0000094378 etcd[60558]: {"level":"info","ts":"2026-06-17T09:36:45.398390Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094378","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:45 np0000094378 etcd[60558]: {"level":"warn","ts":"2026-06-17T09:36:45.398453Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 09:36:45 np0000094378 etcd[60558]: {"level":"fatal","ts":"2026-06-17T09:36:45.398554Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 09:36:45 np0000094378 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 09:36:45 np0000094378 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 09:36:45 np0000094378 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 09:36:45 np0000094378 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 17 09:36:45 np0000094378 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 09:36:45 np0000094378 etcd[60585]: {"level":"warn","ts":"2026-06-17T09:36:45.624919Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 09:36:45 np0000094378 etcd[60585]: {"level":"info","ts":"2026-06-17T09:36:45.625041Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094378","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094378=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 09:36:45 np0000094378 etcd[60585]: {"level":"warn","ts":"2026-06-17T09:36:45.625155Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 09:36:45 np0000094378 etcd[60585]: {"level":"info","ts":"2026-06-17T09:36:45.625175Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 09:36:45 np0000094378 etcd[60585]: {"level":"info","ts":"2026-06-17T09:36:45.625491Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:45 np0000094378 etcd[60585]: {"level":"info","ts":"2026-06-17T09:36:45.625568Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094378","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:45 np0000094378 etcd[60585]: {"level":"info","ts":"2026-06-17T09:36:45.625622Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094378","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:45 np0000094378 etcd[60585]: {"level":"warn","ts":"2026-06-17T09:36:45.625658Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 09:36:45 np0000094378 etcd[60585]: {"level":"fatal","ts":"2026-06-17T09:36:45.625708Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 09:36:45 np0000094378 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 09:36:45 np0000094378 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 09:36:45 np0000094378 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 09:36:45 np0000094378 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 17 09:36:45 np0000094378 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 09:36:45 np0000094378 etcd[60605]: {"level":"warn","ts":"2026-06-17T09:36:45.894472Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 09:36:45 np0000094378 etcd[60605]: {"level":"info","ts":"2026-06-17T09:36:45.894653Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094378","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094378=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 09:36:45 np0000094378 etcd[60605]: {"level":"warn","ts":"2026-06-17T09:36:45.894852Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 09:36:45 np0000094378 etcd[60605]: {"level":"info","ts":"2026-06-17T09:36:45.894886Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 09:36:45 np0000094378 etcd[60605]: {"level":"info","ts":"2026-06-17T09:36:45.895534Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:45 np0000094378 etcd[60605]: {"level":"info","ts":"2026-06-17T09:36:45.895662Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094378","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:45 np0000094378 etcd[60605]: {"level":"info","ts":"2026-06-17T09:36:45.895745Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094378","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:45 np0000094378 etcd[60605]: {"level":"warn","ts":"2026-06-17T09:36:45.895830Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 09:36:45 np0000094378 etcd[60605]: {"level":"fatal","ts":"2026-06-17T09:36:45.895914Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 09:36:45 np0000094378 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 09:36:45 np0000094378 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 09:36:45 np0000094378 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 09:36:46 np0000094378 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 17 09:36:46 np0000094378 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 09:36:46 np0000094378 etcd[60640]: {"level":"warn","ts":"2026-06-17T09:36:46.129096Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 09:36:46 np0000094378 etcd[60640]: {"level":"info","ts":"2026-06-17T09:36:46.129259Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094378","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094378=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 09:36:46 np0000094378 etcd[60640]: {"level":"warn","ts":"2026-06-17T09:36:46.129387Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 09:36:46 np0000094378 etcd[60640]: {"level":"info","ts":"2026-06-17T09:36:46.129410Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 09:36:46 np0000094378 etcd[60640]: {"level":"info","ts":"2026-06-17T09:36:46.129866Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:46 np0000094378 etcd[60640]: {"level":"info","ts":"2026-06-17T09:36:46.129957Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094378","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:46 np0000094378 etcd[60640]: {"level":"info","ts":"2026-06-17T09:36:46.130015Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094378","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 09:36:46 np0000094378 etcd[60640]: {"level":"warn","ts":"2026-06-17T09:36:46.130056Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 09:36:46 np0000094378 etcd[60640]: {"level":"fatal","ts":"2026-06-17T09:36:46.130103Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 09:36:46 np0000094378 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 09:36:46 np0000094378 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 09:36:46 np0000094378 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 09:36:46 np0000094378 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 17 09:36:46 np0000094378 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 17 09:36:46 np0000094378 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 09:36:46 np0000094378 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
