Jun 03 10:21:23 np0000094226 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 10:21:23 np0000094226 etcd[60305]: {"level":"warn","ts":"2026-06-03T10:21:23.724716Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 10:21:23 np0000094226 etcd[60305]: {"level":"info","ts":"2026-06-03T10:21:23.724909Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094226","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094226=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 10:21:23 np0000094226 etcd[60305]: {"level":"warn","ts":"2026-06-03T10:21:23.725044Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 10:21:23 np0000094226 etcd[60305]: {"level":"info","ts":"2026-06-03T10:21:23.725068Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 10:21:23 np0000094226 etcd[60305]: {"level":"info","ts":"2026-06-03T10:21:23.725498Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:23 np0000094226 etcd[60305]: {"level":"info","ts":"2026-06-03T10:21:23.725595Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:23 np0000094226 etcd[60305]: {"level":"info","ts":"2026-06-03T10:21:23.725662Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:23 np0000094226 etcd[60305]: {"level":"warn","ts":"2026-06-03T10:21:23.725707Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 10:21:23 np0000094226 etcd[60305]: {"level":"fatal","ts":"2026-06-03T10:21:23.725760Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 10:21:23 np0000094226 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 10:21:23 np0000094226 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 10:21:23 np0000094226 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 10:21:23 np0000094226 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 03 10:21:23 np0000094226 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 10:21:23 np0000094226 etcd[60348]: {"level":"warn","ts":"2026-06-03T10:21:23.915496Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 10:21:23 np0000094226 etcd[60348]: {"level":"info","ts":"2026-06-03T10:21:23.915645Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094226","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094226=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 10:21:23 np0000094226 etcd[60348]: {"level":"warn","ts":"2026-06-03T10:21:23.915818Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 10:21:23 np0000094226 etcd[60348]: {"level":"info","ts":"2026-06-03T10:21:23.915850Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 10:21:23 np0000094226 etcd[60348]: {"level":"info","ts":"2026-06-03T10:21:23.916204Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:23 np0000094226 etcd[60348]: {"level":"info","ts":"2026-06-03T10:21:23.916295Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:23 np0000094226 etcd[60348]: {"level":"info","ts":"2026-06-03T10:21:23.916360Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:23 np0000094226 etcd[60348]: {"level":"warn","ts":"2026-06-03T10:21:23.916404Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 10:21:23 np0000094226 etcd[60348]: {"level":"fatal","ts":"2026-06-03T10:21:23.916454Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 10:21:23 np0000094226 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 10:21:23 np0000094226 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 10:21:23 np0000094226 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 10:21:24 np0000094226 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 03 10:21:24 np0000094226 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 10:21:24 np0000094226 etcd[60425]: {"level":"warn","ts":"2026-06-03T10:21:24.161309Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 10:21:24 np0000094226 etcd[60425]: {"level":"info","ts":"2026-06-03T10:21:24.161417Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094226","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094226=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 10:21:24 np0000094226 etcd[60425]: {"level":"warn","ts":"2026-06-03T10:21:24.161504Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 10:21:24 np0000094226 etcd[60425]: {"level":"info","ts":"2026-06-03T10:21:24.161538Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 10:21:24 np0000094226 etcd[60425]: {"level":"info","ts":"2026-06-03T10:21:24.161823Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:24 np0000094226 etcd[60425]: {"level":"info","ts":"2026-06-03T10:21:24.161885Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:24 np0000094226 etcd[60425]: {"level":"info","ts":"2026-06-03T10:21:24.161940Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:24 np0000094226 etcd[60425]: {"level":"warn","ts":"2026-06-03T10:21:24.161980Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 10:21:24 np0000094226 etcd[60425]: {"level":"fatal","ts":"2026-06-03T10:21:24.162013Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 10:21:24 np0000094226 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 10:21:24 np0000094226 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 10:21:24 np0000094226 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 10:21:24 np0000094226 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 03 10:21:24 np0000094226 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 10:21:24 np0000094226 etcd[60433]: {"level":"warn","ts":"2026-06-03T10:21:24.426318Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 10:21:24 np0000094226 etcd[60433]: {"level":"info","ts":"2026-06-03T10:21:24.426528Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094226","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094226=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 10:21:24 np0000094226 etcd[60433]: {"level":"warn","ts":"2026-06-03T10:21:24.426703Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 10:21:24 np0000094226 etcd[60433]: {"level":"info","ts":"2026-06-03T10:21:24.426744Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 10:21:24 np0000094226 etcd[60433]: {"level":"info","ts":"2026-06-03T10:21:24.427360Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:24 np0000094226 etcd[60433]: {"level":"info","ts":"2026-06-03T10:21:24.427499Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:24 np0000094226 etcd[60433]: {"level":"info","ts":"2026-06-03T10:21:24.427583Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:24 np0000094226 etcd[60433]: {"level":"warn","ts":"2026-06-03T10:21:24.427651Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 10:21:24 np0000094226 etcd[60433]: {"level":"fatal","ts":"2026-06-03T10:21:24.427718Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 10:21:24 np0000094226 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 10:21:24 np0000094226 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 10:21:24 np0000094226 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 10:21:24 np0000094226 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 03 10:21:24 np0000094226 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 10:21:24 np0000094226 etcd[60460]: {"level":"warn","ts":"2026-06-03T10:21:24.676928Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 10:21:24 np0000094226 etcd[60460]: {"level":"info","ts":"2026-06-03T10:21:24.677094Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094226","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094226=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 10:21:24 np0000094226 etcd[60460]: {"level":"warn","ts":"2026-06-03T10:21:24.677247Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 10:21:24 np0000094226 etcd[60460]: {"level":"info","ts":"2026-06-03T10:21:24.677276Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 10:21:24 np0000094226 etcd[60460]: {"level":"info","ts":"2026-06-03T10:21:24.677743Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:24 np0000094226 etcd[60460]: {"level":"info","ts":"2026-06-03T10:21:24.677900Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:24 np0000094226 etcd[60460]: {"level":"info","ts":"2026-06-03T10:21:24.677974Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094226","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 10:21:24 np0000094226 etcd[60460]: {"level":"warn","ts":"2026-06-03T10:21:24.678024Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 10:21:24 np0000094226 etcd[60460]: {"level":"fatal","ts":"2026-06-03T10:21:24.678100Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 10:21:24 np0000094226 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 10:21:24 np0000094226 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 10:21:24 np0000094226 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 10:21:24 np0000094226 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 03 10:21:24 np0000094226 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 03 10:21:24 np0000094226 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 10:21:24 np0000094226 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
