Apr 17 02:41:34 np0000094001 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 02:41:34 np0000094001 etcd[60810]: {"level":"warn","ts":"2026-04-17T02:41:34.718994Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 02:41:34 np0000094001 etcd[60810]: {"level":"info","ts":"2026-04-17T02:41:34.719214Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094001","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094001=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 02:41:34 np0000094001 etcd[60810]: {"level":"warn","ts":"2026-04-17T02:41:34.719404Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 02:41:34 np0000094001 etcd[60810]: {"level":"info","ts":"2026-04-17T02:41:34.719444Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 02:41:34 np0000094001 etcd[60810]: {"level":"info","ts":"2026-04-17T02:41:34.720030Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:34 np0000094001 etcd[60810]: {"level":"info","ts":"2026-04-17T02:41:34.720166Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094001","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:34 np0000094001 etcd[60810]: {"level":"info","ts":"2026-04-17T02:41:34.720254Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094001","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:34 np0000094001 etcd[60810]: {"level":"warn","ts":"2026-04-17T02:41:34.720334Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 02:41:34 np0000094001 etcd[60810]: {"level":"fatal","ts":"2026-04-17T02:41:34.720418Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 02:41:34 np0000094001 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 02:41:34 np0000094001 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 02:41:34 np0000094001 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 02:41:34 np0000094001 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 17 02:41:34 np0000094001 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 02:41:34 np0000094001 etcd[60849]: {"level":"warn","ts":"2026-04-17T02:41:34.902426Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 02:41:34 np0000094001 etcd[60849]: {"level":"info","ts":"2026-04-17T02:41:34.902698Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094001","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094001=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 02:41:34 np0000094001 etcd[60849]: {"level":"warn","ts":"2026-04-17T02:41:34.903010Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 02:41:34 np0000094001 etcd[60849]: {"level":"info","ts":"2026-04-17T02:41:34.903062Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 02:41:34 np0000094001 etcd[60849]: {"level":"info","ts":"2026-04-17T02:41:34.903697Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:34 np0000094001 etcd[60849]: {"level":"info","ts":"2026-04-17T02:41:34.903865Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094001","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:34 np0000094001 etcd[60849]: {"level":"info","ts":"2026-04-17T02:41:34.904072Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094001","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:34 np0000094001 etcd[60849]: {"level":"warn","ts":"2026-04-17T02:41:34.904163Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 02:41:34 np0000094001 etcd[60849]: {"level":"fatal","ts":"2026-04-17T02:41:34.904255Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 02:41:34 np0000094001 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 02:41:34 np0000094001 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 02:41:34 np0000094001 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 02:41:35 np0000094001 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 17 02:41:35 np0000094001 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 02:41:35 np0000094001 etcd[60926]: {"level":"warn","ts":"2026-04-17T02:41:35.144475Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 02:41:35 np0000094001 etcd[60926]: {"level":"info","ts":"2026-04-17T02:41:35.144671Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094001","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094001=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 02:41:35 np0000094001 etcd[60926]: {"level":"warn","ts":"2026-04-17T02:41:35.144832Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 02:41:35 np0000094001 etcd[60926]: {"level":"info","ts":"2026-04-17T02:41:35.144870Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 02:41:35 np0000094001 etcd[60926]: {"level":"info","ts":"2026-04-17T02:41:35.145392Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:35 np0000094001 etcd[60926]: {"level":"info","ts":"2026-04-17T02:41:35.145496Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094001","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:35 np0000094001 etcd[60926]: {"level":"info","ts":"2026-04-17T02:41:35.145570Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094001","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:35 np0000094001 etcd[60926]: {"level":"warn","ts":"2026-04-17T02:41:35.145624Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 02:41:35 np0000094001 etcd[60926]: {"level":"fatal","ts":"2026-04-17T02:41:35.145689Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 02:41:35 np0000094001 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 02:41:35 np0000094001 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 02:41:35 np0000094001 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 02:41:35 np0000094001 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 17 02:41:35 np0000094001 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 02:41:35 np0000094001 etcd[60939]: {"level":"warn","ts":"2026-04-17T02:41:35.401956Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 02:41:35 np0000094001 etcd[60939]: {"level":"info","ts":"2026-04-17T02:41:35.402204Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094001","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094001=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 02:41:35 np0000094001 etcd[60939]: {"level":"warn","ts":"2026-04-17T02:41:35.402421Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 02:41:35 np0000094001 etcd[60939]: {"level":"info","ts":"2026-04-17T02:41:35.402465Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 02:41:35 np0000094001 etcd[60939]: {"level":"info","ts":"2026-04-17T02:41:35.403063Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:35 np0000094001 etcd[60939]: {"level":"info","ts":"2026-04-17T02:41:35.403203Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094001","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:35 np0000094001 etcd[60939]: {"level":"info","ts":"2026-04-17T02:41:35.403293Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094001","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:35 np0000094001 etcd[60939]: {"level":"warn","ts":"2026-04-17T02:41:35.403351Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 02:41:35 np0000094001 etcd[60939]: {"level":"fatal","ts":"2026-04-17T02:41:35.403420Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 02:41:35 np0000094001 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 02:41:35 np0000094001 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 02:41:35 np0000094001 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 02:41:35 np0000094001 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 17 02:41:35 np0000094001 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 02:41:35 np0000094001 etcd[60959]: {"level":"warn","ts":"2026-04-17T02:41:35.640070Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 02:41:35 np0000094001 etcd[60959]: {"level":"info","ts":"2026-04-17T02:41:35.640195Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094001","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094001=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 02:41:35 np0000094001 etcd[60959]: {"level":"warn","ts":"2026-04-17T02:41:35.640303Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 02:41:35 np0000094001 etcd[60959]: {"level":"info","ts":"2026-04-17T02:41:35.640323Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 02:41:35 np0000094001 etcd[60959]: {"level":"info","ts":"2026-04-17T02:41:35.640668Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:35 np0000094001 etcd[60959]: {"level":"info","ts":"2026-04-17T02:41:35.640750Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094001","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:35 np0000094001 etcd[60959]: {"level":"info","ts":"2026-04-17T02:41:35.640810Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094001","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 02:41:35 np0000094001 etcd[60959]: {"level":"warn","ts":"2026-04-17T02:41:35.640849Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 02:41:35 np0000094001 etcd[60959]: {"level":"fatal","ts":"2026-04-17T02:41:35.640951Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 02:41:35 np0000094001 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 02:41:35 np0000094001 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 02:41:35 np0000094001 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 02:41:35 np0000094001 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 17 02:41:35 np0000094001 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 17 02:41:35 np0000094001 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 02:41:35 np0000094001 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
