Apr 17 11:37:25 np0000094009 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 11:37:25 np0000094009 etcd[60356]: {"level":"warn","ts":"2026-04-17T11:37:25.546469Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 11:37:25 np0000094009 etcd[60356]: {"level":"info","ts":"2026-04-17T11:37:25.547535Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094009","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094009=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 11:37:25 np0000094009 etcd[60356]: {"level":"warn","ts":"2026-04-17T11:37:25.547726Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 11:37:25 np0000094009 etcd[60356]: {"level":"info","ts":"2026-04-17T11:37:25.547769Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 11:37:25 np0000094009 etcd[60356]: {"level":"info","ts":"2026-04-17T11:37:25.548382Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:25 np0000094009 etcd[60356]: {"level":"info","ts":"2026-04-17T11:37:25.548503Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094009","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:25 np0000094009 etcd[60356]: {"level":"info","ts":"2026-04-17T11:37:25.548581Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094009","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:25 np0000094009 etcd[60356]: {"level":"warn","ts":"2026-04-17T11:37:25.548634Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 11:37:25 np0000094009 etcd[60356]: {"level":"fatal","ts":"2026-04-17T11:37:25.548704Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 11:37:25 np0000094009 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 11:37:25 np0000094009 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 11:37:25 np0000094009 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 11:37:25 np0000094009 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 17 11:37:25 np0000094009 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 11:37:25 np0000094009 etcd[60435]: {"level":"warn","ts":"2026-04-17T11:37:25.854645Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 11:37:25 np0000094009 etcd[60435]: {"level":"info","ts":"2026-04-17T11:37:25.855705Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094009","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094009=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 11:37:25 np0000094009 etcd[60435]: {"level":"warn","ts":"2026-04-17T11:37:25.855918Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 11:37:25 np0000094009 etcd[60435]: {"level":"info","ts":"2026-04-17T11:37:25.855955Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 11:37:25 np0000094009 etcd[60435]: {"level":"info","ts":"2026-04-17T11:37:25.857059Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:25 np0000094009 etcd[60435]: {"level":"info","ts":"2026-04-17T11:37:25.857178Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094009","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:25 np0000094009 etcd[60435]: {"level":"info","ts":"2026-04-17T11:37:25.857246Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094009","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:25 np0000094009 etcd[60435]: {"level":"warn","ts":"2026-04-17T11:37:25.857294Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 11:37:25 np0000094009 etcd[60435]: {"level":"fatal","ts":"2026-04-17T11:37:25.857357Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 11:37:25 np0000094009 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 11:37:25 np0000094009 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 11:37:25 np0000094009 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 11:37:26 np0000094009 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 17 11:37:26 np0000094009 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 11:37:26 np0000094009 etcd[60475]: {"level":"warn","ts":"2026-04-17T11:37:26.107039Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 11:37:26 np0000094009 etcd[60475]: {"level":"info","ts":"2026-04-17T11:37:26.107191Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094009","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094009=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 11:37:26 np0000094009 etcd[60475]: {"level":"warn","ts":"2026-04-17T11:37:26.107332Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 11:37:26 np0000094009 etcd[60475]: {"level":"info","ts":"2026-04-17T11:37:26.107357Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 11:37:26 np0000094009 etcd[60475]: {"level":"info","ts":"2026-04-17T11:37:26.107752Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:26 np0000094009 etcd[60475]: {"level":"info","ts":"2026-04-17T11:37:26.107865Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094009","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:26 np0000094009 etcd[60475]: {"level":"info","ts":"2026-04-17T11:37:26.107941Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094009","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:26 np0000094009 etcd[60475]: {"level":"warn","ts":"2026-04-17T11:37:26.108003Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 11:37:26 np0000094009 etcd[60475]: {"level":"fatal","ts":"2026-04-17T11:37:26.108128Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 11:37:26 np0000094009 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 11:37:26 np0000094009 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 11:37:26 np0000094009 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 11:37:26 np0000094009 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 17 11:37:26 np0000094009 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 11:37:26 np0000094009 etcd[60483]: {"level":"warn","ts":"2026-04-17T11:37:26.369246Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 11:37:26 np0000094009 etcd[60483]: {"level":"info","ts":"2026-04-17T11:37:26.369423Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094009","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094009=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 11:37:26 np0000094009 etcd[60483]: {"level":"warn","ts":"2026-04-17T11:37:26.369599Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 11:37:26 np0000094009 etcd[60483]: {"level":"info","ts":"2026-04-17T11:37:26.369630Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 11:37:26 np0000094009 etcd[60483]: {"level":"info","ts":"2026-04-17T11:37:26.370622Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:26 np0000094009 etcd[60483]: {"level":"info","ts":"2026-04-17T11:37:26.370802Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094009","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:26 np0000094009 etcd[60483]: {"level":"info","ts":"2026-04-17T11:37:26.370918Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094009","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:26 np0000094009 etcd[60483]: {"level":"warn","ts":"2026-04-17T11:37:26.370996Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 11:37:26 np0000094009 etcd[60483]: {"level":"fatal","ts":"2026-04-17T11:37:26.371121Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 11:37:26 np0000094009 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 11:37:26 np0000094009 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 11:37:26 np0000094009 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 11:37:26 np0000094009 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 17 11:37:26 np0000094009 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 17 11:37:26 np0000094009 etcd[60525]: {"level":"warn","ts":"2026-04-17T11:37:26.614527Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 11:37:26 np0000094009 etcd[60525]: {"level":"info","ts":"2026-04-17T11:37:26.614747Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094009","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094009=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 17 11:37:26 np0000094009 etcd[60525]: {"level":"warn","ts":"2026-04-17T11:37:26.614899Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 17 11:37:26 np0000094009 etcd[60525]: {"level":"info","ts":"2026-04-17T11:37:26.614930Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 17 11:37:26 np0000094009 etcd[60525]: {"level":"info","ts":"2026-04-17T11:37:26.615430Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:26 np0000094009 etcd[60525]: {"level":"info","ts":"2026-04-17T11:37:26.615549Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094009","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:26 np0000094009 etcd[60525]: {"level":"info","ts":"2026-04-17T11:37:26.615632Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094009","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 17 11:37:26 np0000094009 etcd[60525]: {"level":"warn","ts":"2026-04-17T11:37:26.615688Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 17 11:37:26 np0000094009 etcd[60525]: {"level":"fatal","ts":"2026-04-17T11:37:26.615775Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 17 11:37:26 np0000094009 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 17 11:37:26 np0000094009 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 11:37:26 np0000094009 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 17 11:37:26 np0000094009 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 17 11:37:26 np0000094009 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 17 11:37:26 np0000094009 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 17 11:37:26 np0000094009 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
