Jun 22 18:42:45 np0000094432 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 22 18:42:45 np0000094432 etcd[60120]: {"level":"warn","ts":"2026-06-22T18:42:45.164145Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 18:42:45 np0000094432 etcd[60120]: {"level":"info","ts":"2026-06-22T18:42:45.164355Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094432","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094432=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 22 18:42:45 np0000094432 etcd[60120]: {"level":"warn","ts":"2026-06-22T18:42:45.164528Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 18:42:45 np0000094432 etcd[60120]: {"level":"info","ts":"2026-06-22T18:42:45.164568Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 22 18:42:45 np0000094432 etcd[60120]: {"level":"info","ts":"2026-06-22T18:42:45.165064Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:45 np0000094432 etcd[60120]: {"level":"info","ts":"2026-06-22T18:42:45.165208Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094432","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:45 np0000094432 etcd[60120]: {"level":"info","ts":"2026-06-22T18:42:45.165293Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094432","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:45 np0000094432 etcd[60120]: {"level":"warn","ts":"2026-06-22T18:42:45.165350Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 22 18:42:45 np0000094432 etcd[60120]: {"level":"fatal","ts":"2026-06-22T18:42:45.165416Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 22 18:42:45 np0000094432 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 22 18:42:45 np0000094432 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 22 18:42:45 np0000094432 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 22 18:42:45 np0000094432 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 22 18:42:45 np0000094432 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 22 18:42:45 np0000094432 etcd[60236]: {"level":"warn","ts":"2026-06-22T18:42:45.570820Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 18:42:45 np0000094432 etcd[60236]: {"level":"info","ts":"2026-06-22T18:42:45.571008Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094432","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094432=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 22 18:42:45 np0000094432 etcd[60236]: {"level":"warn","ts":"2026-06-22T18:42:45.571166Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 18:42:45 np0000094432 etcd[60236]: {"level":"info","ts":"2026-06-22T18:42:45.571217Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 22 18:42:45 np0000094432 etcd[60236]: {"level":"info","ts":"2026-06-22T18:42:45.571681Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:45 np0000094432 etcd[60236]: {"level":"info","ts":"2026-06-22T18:42:45.571789Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094432","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:45 np0000094432 etcd[60236]: {"level":"info","ts":"2026-06-22T18:42:45.571900Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094432","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:45 np0000094432 etcd[60236]: {"level":"warn","ts":"2026-06-22T18:42:45.571956Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 22 18:42:45 np0000094432 etcd[60236]: {"level":"fatal","ts":"2026-06-22T18:42:45.572016Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 22 18:42:45 np0000094432 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 22 18:42:45 np0000094432 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 22 18:42:45 np0000094432 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 22 18:42:45 np0000094432 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 22 18:42:45 np0000094432 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 22 18:42:45 np0000094432 etcd[60245]: {"level":"warn","ts":"2026-06-22T18:42:45.814889Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 18:42:45 np0000094432 etcd[60245]: {"level":"info","ts":"2026-06-22T18:42:45.815124Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094432","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094432=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 22 18:42:45 np0000094432 etcd[60245]: {"level":"warn","ts":"2026-06-22T18:42:45.815316Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 18:42:45 np0000094432 etcd[60245]: {"level":"info","ts":"2026-06-22T18:42:45.815361Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 22 18:42:45 np0000094432 etcd[60245]: {"level":"info","ts":"2026-06-22T18:42:45.815836Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:45 np0000094432 etcd[60245]: {"level":"info","ts":"2026-06-22T18:42:45.816006Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094432","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:45 np0000094432 etcd[60245]: {"level":"info","ts":"2026-06-22T18:42:45.816087Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094432","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:45 np0000094432 etcd[60245]: {"level":"warn","ts":"2026-06-22T18:42:45.816163Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 22 18:42:45 np0000094432 etcd[60245]: {"level":"fatal","ts":"2026-06-22T18:42:45.816247Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 22 18:42:45 np0000094432 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 22 18:42:45 np0000094432 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 22 18:42:45 np0000094432 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 22 18:42:46 np0000094432 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 22 18:42:46 np0000094432 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 22 18:42:46 np0000094432 etcd[60303]: {"level":"warn","ts":"2026-06-22T18:42:46.058408Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 18:42:46 np0000094432 etcd[60303]: {"level":"info","ts":"2026-06-22T18:42:46.058569Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094432","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094432=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 22 18:42:46 np0000094432 etcd[60303]: {"level":"warn","ts":"2026-06-22T18:42:46.058718Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 18:42:46 np0000094432 etcd[60303]: {"level":"info","ts":"2026-06-22T18:42:46.058743Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 22 18:42:46 np0000094432 etcd[60303]: {"level":"info","ts":"2026-06-22T18:42:46.059155Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:46 np0000094432 etcd[60303]: {"level":"info","ts":"2026-06-22T18:42:46.059270Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094432","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:46 np0000094432 etcd[60303]: {"level":"info","ts":"2026-06-22T18:42:46.059334Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094432","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:46 np0000094432 etcd[60303]: {"level":"warn","ts":"2026-06-22T18:42:46.059378Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 22 18:42:46 np0000094432 etcd[60303]: {"level":"fatal","ts":"2026-06-22T18:42:46.059430Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 22 18:42:46 np0000094432 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 22 18:42:46 np0000094432 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 22 18:42:46 np0000094432 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 22 18:42:46 np0000094432 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 22 18:42:46 np0000094432 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 22 18:42:46 np0000094432 etcd[60332]: {"level":"warn","ts":"2026-06-22T18:42:46.319738Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 18:42:46 np0000094432 etcd[60332]: {"level":"info","ts":"2026-06-22T18:42:46.319972Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094432","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094432=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 22 18:42:46 np0000094432 etcd[60332]: {"level":"warn","ts":"2026-06-22T18:42:46.320156Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 18:42:46 np0000094432 etcd[60332]: {"level":"info","ts":"2026-06-22T18:42:46.320218Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 22 18:42:46 np0000094432 etcd[60332]: {"level":"info","ts":"2026-06-22T18:42:46.321057Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:46 np0000094432 etcd[60332]: {"level":"info","ts":"2026-06-22T18:42:46.321312Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094432","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:46 np0000094432 etcd[60332]: {"level":"info","ts":"2026-06-22T18:42:46.321468Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094432","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 18:42:46 np0000094432 etcd[60332]: {"level":"warn","ts":"2026-06-22T18:42:46.321542Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 22 18:42:46 np0000094432 etcd[60332]: {"level":"fatal","ts":"2026-06-22T18:42:46.321686Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 22 18:42:46 np0000094432 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 22 18:42:46 np0000094432 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 22 18:42:46 np0000094432 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 22 18:42:46 np0000094432 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 22 18:42:46 np0000094432 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 22 18:42:46 np0000094432 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 22 18:42:46 np0000094432 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
