Apr 16 21:54:24 np0000093993 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 21:54:25 np0000093993 etcd[60250]: {"level":"warn","ts":"2026-04-16T21:54:25.008177Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 21:54:25 np0000093993 etcd[60250]: {"level":"info","ts":"2026-04-16T21:54:25.008360Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093993","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093993=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 21:54:25 np0000093993 etcd[60250]: {"level":"warn","ts":"2026-04-16T21:54:25.008524Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 21:54:25 np0000093993 etcd[60250]: {"level":"info","ts":"2026-04-16T21:54:25.008555Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 21:54:25 np0000093993 etcd[60250]: {"level":"info","ts":"2026-04-16T21:54:25.009012Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:25 np0000093993 etcd[60250]: {"level":"info","ts":"2026-04-16T21:54:25.009132Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093993","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:25 np0000093993 etcd[60250]: {"level":"info","ts":"2026-04-16T21:54:25.009214Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093993","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:25 np0000093993 etcd[60250]: {"level":"warn","ts":"2026-04-16T21:54:25.009278Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 21:54:25 np0000093993 etcd[60250]: {"level":"fatal","ts":"2026-04-16T21:54:25.009341Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 21:54:25 np0000093993 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 21:54:25 np0000093993 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 21:54:25 np0000093993 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 21:54:25 np0000093993 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 16 21:54:25 np0000093993 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 21:54:25 np0000093993 etcd[60303]: {"level":"warn","ts":"2026-04-16T21:54:25.246752Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 21:54:25 np0000093993 etcd[60303]: {"level":"info","ts":"2026-04-16T21:54:25.246985Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093993","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093993=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 21:54:25 np0000093993 etcd[60303]: {"level":"warn","ts":"2026-04-16T21:54:25.247167Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 21:54:25 np0000093993 etcd[60303]: {"level":"info","ts":"2026-04-16T21:54:25.247216Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 21:54:25 np0000093993 etcd[60303]: {"level":"info","ts":"2026-04-16T21:54:25.247702Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:25 np0000093993 etcd[60303]: {"level":"info","ts":"2026-04-16T21:54:25.249235Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093993","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:25 np0000093993 etcd[60303]: {"level":"info","ts":"2026-04-16T21:54:25.249340Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093993","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:25 np0000093993 etcd[60303]: {"level":"warn","ts":"2026-04-16T21:54:25.249402Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 21:54:25 np0000093993 etcd[60303]: {"level":"fatal","ts":"2026-04-16T21:54:25.249468Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 21:54:25 np0000093993 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 21:54:25 np0000093993 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 21:54:25 np0000093993 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 21:54:25 np0000093993 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 16 21:54:25 np0000093993 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 21:54:25 np0000093993 etcd[60370]: {"level":"warn","ts":"2026-04-16T21:54:25.493849Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 21:54:25 np0000093993 etcd[60370]: {"level":"info","ts":"2026-04-16T21:54:25.494049Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093993","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093993=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 21:54:25 np0000093993 etcd[60370]: {"level":"warn","ts":"2026-04-16T21:54:25.494215Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 21:54:25 np0000093993 etcd[60370]: {"level":"info","ts":"2026-04-16T21:54:25.494246Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 21:54:25 np0000093993 etcd[60370]: {"level":"info","ts":"2026-04-16T21:54:25.494777Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:25 np0000093993 etcd[60370]: {"level":"info","ts":"2026-04-16T21:54:25.494931Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093993","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:25 np0000093993 etcd[60370]: {"level":"info","ts":"2026-04-16T21:54:25.495011Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093993","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:25 np0000093993 etcd[60370]: {"level":"warn","ts":"2026-04-16T21:54:25.495066Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 21:54:25 np0000093993 etcd[60370]: {"level":"fatal","ts":"2026-04-16T21:54:25.495146Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 21:54:25 np0000093993 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 21:54:25 np0000093993 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 21:54:25 np0000093993 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 21:54:25 np0000093993 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 16 21:54:25 np0000093993 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 21:54:25 np0000093993 etcd[60378]: {"level":"warn","ts":"2026-04-16T21:54:25.749447Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 21:54:25 np0000093993 etcd[60378]: {"level":"info","ts":"2026-04-16T21:54:25.750942Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093993","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093993=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 21:54:25 np0000093993 etcd[60378]: {"level":"warn","ts":"2026-04-16T21:54:25.751169Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 21:54:25 np0000093993 etcd[60378]: {"level":"info","ts":"2026-04-16T21:54:25.751215Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 21:54:25 np0000093993 etcd[60378]: {"level":"info","ts":"2026-04-16T21:54:25.751701Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:25 np0000093993 etcd[60378]: {"level":"info","ts":"2026-04-16T21:54:25.752757Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093993","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:25 np0000093993 etcd[60378]: {"level":"info","ts":"2026-04-16T21:54:25.753160Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093993","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:25 np0000093993 etcd[60378]: {"level":"warn","ts":"2026-04-16T21:54:25.753411Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 21:54:25 np0000093993 etcd[60378]: {"level":"fatal","ts":"2026-04-16T21:54:25.753495Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 21:54:25 np0000093993 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 21:54:25 np0000093993 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 21:54:25 np0000093993 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 21:54:25 np0000093993 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 16 21:54:25 np0000093993 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 16 21:54:25 np0000093993 etcd[60403]: {"level":"warn","ts":"2026-04-16T21:54:25.998128Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 21:54:25 np0000093993 etcd[60403]: {"level":"info","ts":"2026-04-16T21:54:25.998895Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093993","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093993=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 16 21:54:25 np0000093993 etcd[60403]: {"level":"warn","ts":"2026-04-16T21:54:25.999082Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 16 21:54:25 np0000093993 etcd[60403]: {"level":"info","ts":"2026-04-16T21:54:25.999129Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 16 21:54:26 np0000093993 etcd[60403]: {"level":"info","ts":"2026-04-16T21:54:25.999539Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:26 np0000093993 etcd[60403]: {"level":"info","ts":"2026-04-16T21:54:25.999653Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093993","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:26 np0000093993 etcd[60403]: {"level":"info","ts":"2026-04-16T21:54:25.999737Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093993","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 16 21:54:26 np0000093993 etcd[60403]: {"level":"warn","ts":"2026-04-16T21:54:25.999783Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 16 21:54:26 np0000093993 etcd[60403]: {"level":"fatal","ts":"2026-04-16T21:54:25.999874Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 16 21:54:26 np0000093993 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 16 21:54:26 np0000093993 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 21:54:26 np0000093993 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 16 21:54:26 np0000093993 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 16 21:54:26 np0000093993 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 16 21:54:26 np0000093993 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 16 21:54:26 np0000093993 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
