Jun 17 10:40:40 np0000094380 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 10:40:40 np0000094380 etcd[60029]: {"level":"warn","ts":"2026-06-17T10:40:40.729896Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 10:40:40 np0000094380 etcd[60029]: {"level":"info","ts":"2026-06-17T10:40:40.730078Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094380","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094380=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 10:40:40 np0000094380 etcd[60029]: {"level":"warn","ts":"2026-06-17T10:40:40.730291Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 10:40:40 np0000094380 etcd[60029]: {"level":"info","ts":"2026-06-17T10:40:40.730325Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 10:40:40 np0000094380 etcd[60029]: {"level":"info","ts":"2026-06-17T10:40:40.730819Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:40 np0000094380 etcd[60029]: {"level":"info","ts":"2026-06-17T10:40:40.730955Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094380","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:40 np0000094380 etcd[60029]: {"level":"info","ts":"2026-06-17T10:40:40.731039Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094380","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:40 np0000094380 etcd[60029]: {"level":"warn","ts":"2026-06-17T10:40:40.731103Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 10:40:40 np0000094380 etcd[60029]: {"level":"fatal","ts":"2026-06-17T10:40:40.731201Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 10:40:40 np0000094380 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 10:40:40 np0000094380 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 10:40:40 np0000094380 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 10:40:40 np0000094380 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 17 10:40:40 np0000094380 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 10:40:40 np0000094380 etcd[60078]: {"level":"warn","ts":"2026-06-17T10:40:40.911471Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 10:40:40 np0000094380 etcd[60078]: {"level":"info","ts":"2026-06-17T10:40:40.911561Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094380","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094380=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 10:40:40 np0000094380 etcd[60078]: {"level":"warn","ts":"2026-06-17T10:40:40.911624Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 10:40:40 np0000094380 etcd[60078]: {"level":"info","ts":"2026-06-17T10:40:40.911635Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 10:40:40 np0000094380 etcd[60078]: {"level":"info","ts":"2026-06-17T10:40:40.911818Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:40 np0000094380 etcd[60078]: {"level":"info","ts":"2026-06-17T10:40:40.911861Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094380","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:40 np0000094380 etcd[60078]: {"level":"info","ts":"2026-06-17T10:40:40.911891Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094380","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:40 np0000094380 etcd[60078]: {"level":"warn","ts":"2026-06-17T10:40:40.911909Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 10:40:40 np0000094380 etcd[60078]: {"level":"fatal","ts":"2026-06-17T10:40:40.911930Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 10:40:40 np0000094380 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 10:40:40 np0000094380 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 10:40:40 np0000094380 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 10:40:41 np0000094380 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 17 10:40:41 np0000094380 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 10:40:41 np0000094380 etcd[60149]: {"level":"warn","ts":"2026-06-17T10:40:41.188040Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 10:40:41 np0000094380 etcd[60149]: {"level":"info","ts":"2026-06-17T10:40:41.188249Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094380","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094380=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 10:40:41 np0000094380 etcd[60149]: {"level":"warn","ts":"2026-06-17T10:40:41.188541Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 10:40:41 np0000094380 etcd[60149]: {"level":"info","ts":"2026-06-17T10:40:41.188579Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 10:40:41 np0000094380 etcd[60149]: {"level":"info","ts":"2026-06-17T10:40:41.189050Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:41 np0000094380 etcd[60149]: {"level":"info","ts":"2026-06-17T10:40:41.189223Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094380","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:41 np0000094380 etcd[60149]: {"level":"info","ts":"2026-06-17T10:40:41.189309Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094380","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:41 np0000094380 etcd[60149]: {"level":"warn","ts":"2026-06-17T10:40:41.189376Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 10:40:41 np0000094380 etcd[60149]: {"level":"fatal","ts":"2026-06-17T10:40:41.189482Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 10:40:41 np0000094380 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 10:40:41 np0000094380 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 10:40:41 np0000094380 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 10:40:41 np0000094380 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 17 10:40:41 np0000094380 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 10:40:41 np0000094380 etcd[60156]: {"level":"warn","ts":"2026-06-17T10:40:41.442194Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 10:40:41 np0000094380 etcd[60156]: {"level":"info","ts":"2026-06-17T10:40:41.442386Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094380","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094380=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 10:40:41 np0000094380 etcd[60156]: {"level":"warn","ts":"2026-06-17T10:40:41.442599Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 10:40:41 np0000094380 etcd[60156]: {"level":"info","ts":"2026-06-17T10:40:41.442632Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 10:40:41 np0000094380 etcd[60156]: {"level":"info","ts":"2026-06-17T10:40:41.444502Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:41 np0000094380 etcd[60156]: {"level":"info","ts":"2026-06-17T10:40:41.444671Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094380","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:41 np0000094380 etcd[60156]: {"level":"info","ts":"2026-06-17T10:40:41.444761Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094380","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:41 np0000094380 etcd[60156]: {"level":"warn","ts":"2026-06-17T10:40:41.444824Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 10:40:41 np0000094380 etcd[60156]: {"level":"fatal","ts":"2026-06-17T10:40:41.444893Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 10:40:41 np0000094380 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 10:40:41 np0000094380 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 10:40:41 np0000094380 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 10:40:41 np0000094380 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 17 10:40:41 np0000094380 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 17 10:40:41 np0000094380 etcd[60177]: {"level":"warn","ts":"2026-06-17T10:40:41.688762Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 10:40:41 np0000094380 etcd[60177]: {"level":"info","ts":"2026-06-17T10:40:41.689009Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094380","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094380=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 17 10:40:41 np0000094380 etcd[60177]: {"level":"warn","ts":"2026-06-17T10:40:41.689239Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 17 10:40:41 np0000094380 etcd[60177]: {"level":"info","ts":"2026-06-17T10:40:41.689280Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 17 10:40:41 np0000094380 etcd[60177]: {"level":"info","ts":"2026-06-17T10:40:41.689832Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:41 np0000094380 etcd[60177]: {"level":"info","ts":"2026-06-17T10:40:41.690028Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094380","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:41 np0000094380 etcd[60177]: {"level":"info","ts":"2026-06-17T10:40:41.690098Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094380","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 17 10:40:41 np0000094380 etcd[60177]: {"level":"warn","ts":"2026-06-17T10:40:41.690196Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 17 10:40:41 np0000094380 etcd[60177]: {"level":"fatal","ts":"2026-06-17T10:40:41.690298Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 17 10:40:41 np0000094380 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 17 10:40:41 np0000094380 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 10:40:41 np0000094380 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 17 10:40:41 np0000094380 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 17 10:40:41 np0000094380 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 17 10:40:41 np0000094380 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 17 10:40:41 np0000094380 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
