Jun 22 14:53:47 np0000094427 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 22 14:53:47 np0000094427 etcd[60094]: {"level":"warn","ts":"2026-06-22T14:53:47.409324Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 14:53:47 np0000094427 etcd[60094]: {"level":"info","ts":"2026-06-22T14:53:47.410906Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094427","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094427=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 22 14:53:47 np0000094427 etcd[60094]: {"level":"warn","ts":"2026-06-22T14:53:47.411131Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 14:53:47 np0000094427 etcd[60094]: {"level":"info","ts":"2026-06-22T14:53:47.411167Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 22 14:53:47 np0000094427 etcd[60094]: {"level":"info","ts":"2026-06-22T14:53:47.412295Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:47 np0000094427 etcd[60094]: {"level":"info","ts":"2026-06-22T14:53:47.412450Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094427","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:47 np0000094427 etcd[60094]: {"level":"info","ts":"2026-06-22T14:53:47.412525Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094427","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:47 np0000094427 etcd[60094]: {"level":"warn","ts":"2026-06-22T14:53:47.412583Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 22 14:53:47 np0000094427 etcd[60094]: {"level":"fatal","ts":"2026-06-22T14:53:47.412641Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 22 14:53:47 np0000094427 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 22 14:53:47 np0000094427 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 22 14:53:47 np0000094427 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 22 14:53:47 np0000094427 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 22 14:53:47 np0000094427 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 22 14:53:47 np0000094427 etcd[60138]: {"level":"warn","ts":"2026-06-22T14:53:47.609766Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 14:53:47 np0000094427 etcd[60138]: {"level":"info","ts":"2026-06-22T14:53:47.610767Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094427","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094427=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 22 14:53:47 np0000094427 etcd[60138]: {"level":"warn","ts":"2026-06-22T14:53:47.610994Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 14:53:47 np0000094427 etcd[60138]: {"level":"info","ts":"2026-06-22T14:53:47.611028Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 22 14:53:47 np0000094427 etcd[60138]: {"level":"info","ts":"2026-06-22T14:53:47.611562Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:47 np0000094427 etcd[60138]: {"level":"info","ts":"2026-06-22T14:53:47.611709Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094427","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:47 np0000094427 etcd[60138]: {"level":"info","ts":"2026-06-22T14:53:47.611771Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094427","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:47 np0000094427 etcd[60138]: {"level":"warn","ts":"2026-06-22T14:53:47.611826Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 22 14:53:47 np0000094427 etcd[60138]: {"level":"fatal","ts":"2026-06-22T14:53:47.611906Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 22 14:53:47 np0000094427 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 22 14:53:47 np0000094427 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 22 14:53:47 np0000094427 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 22 14:53:47 np0000094427 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 22 14:53:47 np0000094427 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 22 14:53:47 np0000094427 etcd[60216]: {"level":"warn","ts":"2026-06-22T14:53:47.845474Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 14:53:47 np0000094427 etcd[60216]: {"level":"info","ts":"2026-06-22T14:53:47.845642Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094427","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094427=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 22 14:53:47 np0000094427 etcd[60216]: {"level":"warn","ts":"2026-06-22T14:53:47.845802Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 14:53:47 np0000094427 etcd[60216]: {"level":"info","ts":"2026-06-22T14:53:47.845837Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 22 14:53:47 np0000094427 etcd[60216]: {"level":"info","ts":"2026-06-22T14:53:47.846257Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:47 np0000094427 etcd[60216]: {"level":"info","ts":"2026-06-22T14:53:47.846361Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094427","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:47 np0000094427 etcd[60216]: {"level":"info","ts":"2026-06-22T14:53:47.846465Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094427","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:47 np0000094427 etcd[60216]: {"level":"warn","ts":"2026-06-22T14:53:47.846514Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 22 14:53:47 np0000094427 etcd[60216]: {"level":"fatal","ts":"2026-06-22T14:53:47.846569Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 22 14:53:47 np0000094427 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 22 14:53:47 np0000094427 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 22 14:53:47 np0000094427 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 22 14:53:48 np0000094427 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 22 14:53:48 np0000094427 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 22 14:53:48 np0000094427 etcd[60223]: {"level":"warn","ts":"2026-06-22T14:53:48.101289Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 14:53:48 np0000094427 etcd[60223]: {"level":"info","ts":"2026-06-22T14:53:48.101500Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094427","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094427=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 22 14:53:48 np0000094427 etcd[60223]: {"level":"warn","ts":"2026-06-22T14:53:48.101677Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 14:53:48 np0000094427 etcd[60223]: {"level":"info","ts":"2026-06-22T14:53:48.101708Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 22 14:53:48 np0000094427 etcd[60223]: {"level":"info","ts":"2026-06-22T14:53:48.102314Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:48 np0000094427 etcd[60223]: {"level":"info","ts":"2026-06-22T14:53:48.102472Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094427","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:48 np0000094427 etcd[60223]: {"level":"info","ts":"2026-06-22T14:53:48.102564Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094427","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:48 np0000094427 etcd[60223]: {"level":"warn","ts":"2026-06-22T14:53:48.102623Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 22 14:53:48 np0000094427 etcd[60223]: {"level":"fatal","ts":"2026-06-22T14:53:48.102694Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 22 14:53:48 np0000094427 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 22 14:53:48 np0000094427 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 22 14:53:48 np0000094427 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 22 14:53:48 np0000094427 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 22 14:53:48 np0000094427 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 22 14:53:48 np0000094427 etcd[60243]: {"level":"warn","ts":"2026-06-22T14:53:48.349542Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 14:53:48 np0000094427 etcd[60243]: {"level":"info","ts":"2026-06-22T14:53:48.349725Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094427","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094427=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 22 14:53:48 np0000094427 etcd[60243]: {"level":"warn","ts":"2026-06-22T14:53:48.349906Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 22 14:53:48 np0000094427 etcd[60243]: {"level":"info","ts":"2026-06-22T14:53:48.349939Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 22 14:53:48 np0000094427 etcd[60243]: {"level":"info","ts":"2026-06-22T14:53:48.350801Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:48 np0000094427 etcd[60243]: {"level":"info","ts":"2026-06-22T14:53:48.350939Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094427","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:48 np0000094427 etcd[60243]: {"level":"info","ts":"2026-06-22T14:53:48.353487Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094427","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 22 14:53:48 np0000094427 etcd[60243]: {"level":"warn","ts":"2026-06-22T14:53:48.353582Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 22 14:53:48 np0000094427 etcd[60243]: {"level":"fatal","ts":"2026-06-22T14:53:48.353654Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 22 14:53:48 np0000094427 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 22 14:53:48 np0000094427 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 22 14:53:48 np0000094427 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 22 14:53:48 np0000094427 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 22 14:53:48 np0000094427 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 22 14:53:48 np0000094427 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 22 14:53:48 np0000094427 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
