Jun 23 11:55:30 np0000094442 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 11:55:30 np0000094442 etcd[60590]: {"level":"warn","ts":"2026-06-23T11:55:30.901366Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 11:55:30 np0000094442 etcd[60590]: {"level":"info","ts":"2026-06-23T11:55:30.901546Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094442","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094442=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 11:55:30 np0000094442 etcd[60590]: {"level":"warn","ts":"2026-06-23T11:55:30.901700Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 11:55:30 np0000094442 etcd[60590]: {"level":"info","ts":"2026-06-23T11:55:30.901734Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 11:55:30 np0000094442 etcd[60590]: {"level":"info","ts":"2026-06-23T11:55:30.902202Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:30 np0000094442 etcd[60590]: {"level":"info","ts":"2026-06-23T11:55:30.902576Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094442","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:30 np0000094442 etcd[60590]: {"level":"info","ts":"2026-06-23T11:55:30.902658Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094442","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:30 np0000094442 etcd[60590]: {"level":"warn","ts":"2026-06-23T11:55:30.903040Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 11:55:30 np0000094442 etcd[60590]: {"level":"fatal","ts":"2026-06-23T11:55:30.903224Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 11:55:30 np0000094442 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 11:55:30 np0000094442 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 11:55:30 np0000094442 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 11:55:31 np0000094442 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 23 11:55:31 np0000094442 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 11:55:31 np0000094442 etcd[60673]: {"level":"warn","ts":"2026-06-23T11:55:31.203727Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 11:55:31 np0000094442 etcd[60673]: {"level":"info","ts":"2026-06-23T11:55:31.203820Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094442","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094442=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 11:55:31 np0000094442 etcd[60673]: {"level":"warn","ts":"2026-06-23T11:55:31.203919Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 11:55:31 np0000094442 etcd[60673]: {"level":"info","ts":"2026-06-23T11:55:31.203940Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 11:55:31 np0000094442 etcd[60673]: {"level":"info","ts":"2026-06-23T11:55:31.204281Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:31 np0000094442 etcd[60673]: {"level":"info","ts":"2026-06-23T11:55:31.204342Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094442","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:31 np0000094442 etcd[60673]: {"level":"info","ts":"2026-06-23T11:55:31.204389Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094442","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:31 np0000094442 etcd[60673]: {"level":"warn","ts":"2026-06-23T11:55:31.204422Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 11:55:31 np0000094442 etcd[60673]: {"level":"fatal","ts":"2026-06-23T11:55:31.204455Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 11:55:31 np0000094442 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 11:55:31 np0000094442 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 11:55:31 np0000094442 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 11:55:31 np0000094442 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 23 11:55:31 np0000094442 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 11:55:31 np0000094442 etcd[60709]: {"level":"warn","ts":"2026-06-23T11:55:31.465025Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 11:55:31 np0000094442 etcd[60709]: {"level":"info","ts":"2026-06-23T11:55:31.465236Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094442","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094442=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 11:55:31 np0000094442 etcd[60709]: {"level":"warn","ts":"2026-06-23T11:55:31.465414Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 11:55:31 np0000094442 etcd[60709]: {"level":"info","ts":"2026-06-23T11:55:31.465447Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 11:55:31 np0000094442 etcd[60709]: {"level":"info","ts":"2026-06-23T11:55:31.465941Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:31 np0000094442 etcd[60709]: {"level":"info","ts":"2026-06-23T11:55:31.466070Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094442","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:31 np0000094442 etcd[60709]: {"level":"info","ts":"2026-06-23T11:55:31.467742Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094442","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:31 np0000094442 etcd[60709]: {"level":"warn","ts":"2026-06-23T11:55:31.467980Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 11:55:31 np0000094442 etcd[60709]: {"level":"fatal","ts":"2026-06-23T11:55:31.468244Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 11:55:31 np0000094442 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 11:55:31 np0000094442 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 11:55:31 np0000094442 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 11:55:31 np0000094442 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 23 11:55:31 np0000094442 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 11:55:31 np0000094442 etcd[60729]: {"level":"warn","ts":"2026-06-23T11:55:31.724931Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 11:55:31 np0000094442 etcd[60729]: {"level":"info","ts":"2026-06-23T11:55:31.725162Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094442","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094442=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 11:55:31 np0000094442 etcd[60729]: {"level":"warn","ts":"2026-06-23T11:55:31.725344Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 11:55:31 np0000094442 etcd[60729]: {"level":"info","ts":"2026-06-23T11:55:31.725378Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 11:55:31 np0000094442 etcd[60729]: {"level":"info","ts":"2026-06-23T11:55:31.725760Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:31 np0000094442 etcd[60729]: {"level":"info","ts":"2026-06-23T11:55:31.725902Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094442","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:31 np0000094442 etcd[60729]: {"level":"info","ts":"2026-06-23T11:55:31.725978Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094442","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:31 np0000094442 etcd[60729]: {"level":"warn","ts":"2026-06-23T11:55:31.726034Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 11:55:31 np0000094442 etcd[60729]: {"level":"fatal","ts":"2026-06-23T11:55:31.726121Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 11:55:31 np0000094442 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 11:55:31 np0000094442 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 11:55:31 np0000094442 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 11:55:31 np0000094442 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 23 11:55:31 np0000094442 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 23 11:55:31 np0000094442 etcd[60772]: {"level":"warn","ts":"2026-06-23T11:55:31.974718Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 11:55:31 np0000094442 etcd[60772]: {"level":"info","ts":"2026-06-23T11:55:31.975954Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094442","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094442=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 23 11:55:31 np0000094442 etcd[60772]: {"level":"warn","ts":"2026-06-23T11:55:31.976195Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 23 11:55:31 np0000094442 etcd[60772]: {"level":"info","ts":"2026-06-23T11:55:31.976233Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 23 11:55:31 np0000094442 etcd[60772]: {"level":"info","ts":"2026-06-23T11:55:31.976638Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:31 np0000094442 etcd[60772]: {"level":"info","ts":"2026-06-23T11:55:31.976741Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094442","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:31 np0000094442 etcd[60772]: {"level":"info","ts":"2026-06-23T11:55:31.976823Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094442","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 23 11:55:31 np0000094442 etcd[60772]: {"level":"warn","ts":"2026-06-23T11:55:31.976907Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 23 11:55:31 np0000094442 etcd[60772]: {"level":"fatal","ts":"2026-06-23T11:55:31.976984Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 23 11:55:31 np0000094442 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 23 11:55:31 np0000094442 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 11:55:31 np0000094442 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 23 11:55:32 np0000094442 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 23 11:55:32 np0000094442 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 23 11:55:32 np0000094442 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 23 11:55:32 np0000094442 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
