Jun 05 17:06:15 np0000094256 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 17:06:15 np0000094256 etcd[60595]: {"level":"warn","ts":"2026-06-05T17:06:15.219481Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:06:15 np0000094256 etcd[60595]: {"level":"info","ts":"2026-06-05T17:06:15.220866Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094256","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094256=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 17:06:15 np0000094256 etcd[60595]: {"level":"warn","ts":"2026-06-05T17:06:15.221109Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:06:15 np0000094256 etcd[60595]: {"level":"info","ts":"2026-06-05T17:06:15.221141Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 17:06:15 np0000094256 etcd[60595]: {"level":"info","ts":"2026-06-05T17:06:15.221598Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:15 np0000094256 etcd[60595]: {"level":"info","ts":"2026-06-05T17:06:15.221734Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094256","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:15 np0000094256 etcd[60595]: {"level":"info","ts":"2026-06-05T17:06:15.221808Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094256","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:15 np0000094256 etcd[60595]: {"level":"warn","ts":"2026-06-05T17:06:15.221859Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 17:06:15 np0000094256 etcd[60595]: {"level":"fatal","ts":"2026-06-05T17:06:15.221916Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 17:06:15 np0000094256 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 17:06:15 np0000094256 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 17:06:15 np0000094256 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 17:06:15 np0000094256 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 05 17:06:15 np0000094256 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 17:06:15 np0000094256 etcd[60633]: {"level":"warn","ts":"2026-06-05T17:06:15.404809Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:06:15 np0000094256 etcd[60633]: {"level":"info","ts":"2026-06-05T17:06:15.405014Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094256","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094256=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 17:06:15 np0000094256 etcd[60633]: {"level":"warn","ts":"2026-06-05T17:06:15.405821Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:06:15 np0000094256 etcd[60633]: {"level":"info","ts":"2026-06-05T17:06:15.405879Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 17:06:15 np0000094256 etcd[60633]: {"level":"info","ts":"2026-06-05T17:06:15.406464Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:15 np0000094256 etcd[60633]: {"level":"info","ts":"2026-06-05T17:06:15.406601Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094256","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:15 np0000094256 etcd[60633]: {"level":"info","ts":"2026-06-05T17:06:15.406700Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094256","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:15 np0000094256 etcd[60633]: {"level":"warn","ts":"2026-06-05T17:06:15.406772Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 17:06:15 np0000094256 etcd[60633]: {"level":"fatal","ts":"2026-06-05T17:06:15.406852Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 17:06:15 np0000094256 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 17:06:15 np0000094256 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 17:06:15 np0000094256 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 17:06:15 np0000094256 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 05 17:06:15 np0000094256 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 17:06:15 np0000094256 etcd[60708]: {"level":"warn","ts":"2026-06-05T17:06:15.654011Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:06:15 np0000094256 etcd[60708]: {"level":"info","ts":"2026-06-05T17:06:15.654176Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094256","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094256=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 17:06:15 np0000094256 etcd[60708]: {"level":"warn","ts":"2026-06-05T17:06:15.654332Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:06:15 np0000094256 etcd[60708]: {"level":"info","ts":"2026-06-05T17:06:15.654359Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 17:06:15 np0000094256 etcd[60708]: {"level":"info","ts":"2026-06-05T17:06:15.654842Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:15 np0000094256 etcd[60708]: {"level":"info","ts":"2026-06-05T17:06:15.654970Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094256","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:15 np0000094256 etcd[60708]: {"level":"info","ts":"2026-06-05T17:06:15.655043Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094256","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:15 np0000094256 etcd[60708]: {"level":"warn","ts":"2026-06-05T17:06:15.655093Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 17:06:15 np0000094256 etcd[60708]: {"level":"fatal","ts":"2026-06-05T17:06:15.655150Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 17:06:15 np0000094256 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 17:06:15 np0000094256 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 17:06:15 np0000094256 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 17:06:15 np0000094256 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 05 17:06:15 np0000094256 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 17:06:15 np0000094256 etcd[60722]: {"level":"warn","ts":"2026-06-05T17:06:15.892511Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:06:15 np0000094256 etcd[60722]: {"level":"info","ts":"2026-06-05T17:06:15.892655Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094256","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094256=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 17:06:15 np0000094256 etcd[60722]: {"level":"warn","ts":"2026-06-05T17:06:15.892827Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:06:15 np0000094256 etcd[60722]: {"level":"info","ts":"2026-06-05T17:06:15.892851Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 17:06:15 np0000094256 etcd[60722]: {"level":"info","ts":"2026-06-05T17:06:15.893282Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:15 np0000094256 etcd[60722]: {"level":"info","ts":"2026-06-05T17:06:15.893417Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094256","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:15 np0000094256 etcd[60722]: {"level":"info","ts":"2026-06-05T17:06:15.893490Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094256","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:15 np0000094256 etcd[60722]: {"level":"warn","ts":"2026-06-05T17:06:15.893537Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 17:06:15 np0000094256 etcd[60722]: {"level":"fatal","ts":"2026-06-05T17:06:15.893590Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 17:06:15 np0000094256 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 17:06:15 np0000094256 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 17:06:15 np0000094256 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 17:06:16 np0000094256 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 05 17:06:16 np0000094256 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 17:06:16 np0000094256 etcd[60742]: {"level":"warn","ts":"2026-06-05T17:06:16.160914Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:06:16 np0000094256 etcd[60742]: {"level":"info","ts":"2026-06-05T17:06:16.161141Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094256","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094256=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 17:06:16 np0000094256 etcd[60742]: {"level":"warn","ts":"2026-06-05T17:06:16.161339Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 17:06:16 np0000094256 etcd[60742]: {"level":"info","ts":"2026-06-05T17:06:16.161371Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 17:06:16 np0000094256 etcd[60742]: {"level":"info","ts":"2026-06-05T17:06:16.161916Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:16 np0000094256 etcd[60742]: {"level":"info","ts":"2026-06-05T17:06:16.162083Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094256","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:16 np0000094256 etcd[60742]: {"level":"info","ts":"2026-06-05T17:06:16.162171Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094256","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 17:06:16 np0000094256 etcd[60742]: {"level":"warn","ts":"2026-06-05T17:06:16.162229Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 17:06:16 np0000094256 etcd[60742]: {"level":"fatal","ts":"2026-06-05T17:06:16.162296Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 17:06:16 np0000094256 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 17:06:16 np0000094256 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 17:06:16 np0000094256 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 17:06:16 np0000094256 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 05 17:06:16 np0000094256 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 05 17:06:16 np0000094256 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 17:06:16 np0000094256 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
