Apr 28 03:41:23 np0000094093 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 03:41:23 np0000094093 etcd[60619]: {"level":"warn","ts":"2026-04-28T03:41:23.848432Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 03:41:23 np0000094093 etcd[60619]: {"level":"info","ts":"2026-04-28T03:41:23.848642Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094093","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094093=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 03:41:23 np0000094093 etcd[60619]: {"level":"warn","ts":"2026-04-28T03:41:23.848857Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 03:41:23 np0000094093 etcd[60619]: {"level":"info","ts":"2026-04-28T03:41:23.848891Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 03:41:23 np0000094093 etcd[60619]: {"level":"info","ts":"2026-04-28T03:41:23.849443Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:23 np0000094093 etcd[60619]: {"level":"info","ts":"2026-04-28T03:41:23.849605Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094093","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:23 np0000094093 etcd[60619]: {"level":"info","ts":"2026-04-28T03:41:23.849693Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094093","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:23 np0000094093 etcd[60619]: {"level":"warn","ts":"2026-04-28T03:41:23.849785Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 03:41:23 np0000094093 etcd[60619]: {"level":"fatal","ts":"2026-04-28T03:41:23.849865Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 03:41:23 np0000094093 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 03:41:23 np0000094093 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 03:41:23 np0000094093 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 03:41:24 np0000094093 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 28 03:41:24 np0000094093 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 03:41:24 np0000094093 etcd[60689]: {"level":"warn","ts":"2026-04-28T03:41:24.148427Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 03:41:24 np0000094093 etcd[60689]: {"level":"info","ts":"2026-04-28T03:41:24.148615Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094093","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094093=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 03:41:24 np0000094093 etcd[60689]: {"level":"warn","ts":"2026-04-28T03:41:24.148812Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 03:41:24 np0000094093 etcd[60689]: {"level":"info","ts":"2026-04-28T03:41:24.148854Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 03:41:24 np0000094093 etcd[60689]: {"level":"info","ts":"2026-04-28T03:41:24.149378Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:24 np0000094093 etcd[60689]: {"level":"info","ts":"2026-04-28T03:41:24.149504Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094093","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:24 np0000094093 etcd[60689]: {"level":"info","ts":"2026-04-28T03:41:24.149588Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094093","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:24 np0000094093 etcd[60689]: {"level":"warn","ts":"2026-04-28T03:41:24.149647Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 03:41:24 np0000094093 etcd[60689]: {"level":"fatal","ts":"2026-04-28T03:41:24.149720Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 03:41:24 np0000094093 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 03:41:24 np0000094093 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 03:41:24 np0000094093 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 03:41:24 np0000094093 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 28 03:41:24 np0000094093 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 03:41:24 np0000094093 etcd[60738]: {"level":"warn","ts":"2026-04-28T03:41:24.387302Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 03:41:24 np0000094093 etcd[60738]: {"level":"info","ts":"2026-04-28T03:41:24.387482Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094093","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094093=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 03:41:24 np0000094093 etcd[60738]: {"level":"warn","ts":"2026-04-28T03:41:24.387618Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 03:41:24 np0000094093 etcd[60738]: {"level":"info","ts":"2026-04-28T03:41:24.387655Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 03:41:24 np0000094093 etcd[60738]: {"level":"info","ts":"2026-04-28T03:41:24.388316Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:24 np0000094093 etcd[60738]: {"level":"info","ts":"2026-04-28T03:41:24.388663Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094093","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:24 np0000094093 etcd[60738]: {"level":"info","ts":"2026-04-28T03:41:24.388748Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094093","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:24 np0000094093 etcd[60738]: {"level":"warn","ts":"2026-04-28T03:41:24.388947Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 03:41:24 np0000094093 etcd[60738]: {"level":"fatal","ts":"2026-04-28T03:41:24.389144Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 03:41:24 np0000094093 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 03:41:24 np0000094093 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 03:41:24 np0000094093 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 03:41:24 np0000094093 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 28 03:41:24 np0000094093 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 03:41:24 np0000094093 etcd[60745]: {"level":"warn","ts":"2026-04-28T03:41:24.639482Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 03:41:24 np0000094093 etcd[60745]: {"level":"info","ts":"2026-04-28T03:41:24.639695Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094093","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094093=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 03:41:24 np0000094093 etcd[60745]: {"level":"warn","ts":"2026-04-28T03:41:24.639906Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 03:41:24 np0000094093 etcd[60745]: {"level":"info","ts":"2026-04-28T03:41:24.639947Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 03:41:24 np0000094093 etcd[60745]: {"level":"info","ts":"2026-04-28T03:41:24.640496Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:24 np0000094093 etcd[60745]: {"level":"info","ts":"2026-04-28T03:41:24.641112Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094093","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:24 np0000094093 etcd[60745]: {"level":"info","ts":"2026-04-28T03:41:24.641219Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094093","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:24 np0000094093 etcd[60745]: {"level":"warn","ts":"2026-04-28T03:41:24.641307Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 03:41:24 np0000094093 etcd[60745]: {"level":"fatal","ts":"2026-04-28T03:41:24.641386Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 03:41:24 np0000094093 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 03:41:24 np0000094093 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 03:41:24 np0000094093 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 03:41:24 np0000094093 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 28 03:41:24 np0000094093 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 28 03:41:24 np0000094093 etcd[60775]: {"level":"warn","ts":"2026-04-28T03:41:24.890381Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 03:41:24 np0000094093 etcd[60775]: {"level":"info","ts":"2026-04-28T03:41:24.891121Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094093","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094093=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 28 03:41:24 np0000094093 etcd[60775]: {"level":"warn","ts":"2026-04-28T03:41:24.891316Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 28 03:41:24 np0000094093 etcd[60775]: {"level":"info","ts":"2026-04-28T03:41:24.891354Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 28 03:41:24 np0000094093 etcd[60775]: {"level":"info","ts":"2026-04-28T03:41:24.891850Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:24 np0000094093 etcd[60775]: {"level":"info","ts":"2026-04-28T03:41:24.892001Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094093","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:24 np0000094093 etcd[60775]: {"level":"info","ts":"2026-04-28T03:41:24.893595Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094093","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 28 03:41:24 np0000094093 etcd[60775]: {"level":"warn","ts":"2026-04-28T03:41:24.894121Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 28 03:41:24 np0000094093 etcd[60775]: {"level":"fatal","ts":"2026-04-28T03:41:24.894537Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 28 03:41:24 np0000094093 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 28 03:41:24 np0000094093 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 03:41:24 np0000094093 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 28 03:41:25 np0000094093 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 28 03:41:25 np0000094093 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 28 03:41:25 np0000094093 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 28 03:41:25 np0000094093 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
