Apr 27 05:40:36 np0000094080 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 05:40:36 np0000094080 etcd[61888]: {"level":"warn","ts":"2026-04-27T05:40:36.740948Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 05:40:36 np0000094080 etcd[61888]: {"level":"info","ts":"2026-04-27T05:40:36.741126Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094080","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094080=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 05:40:36 np0000094080 etcd[61888]: {"level":"warn","ts":"2026-04-27T05:40:36.741347Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 05:40:36 np0000094080 etcd[61888]: {"level":"info","ts":"2026-04-27T05:40:36.741389Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 05:40:36 np0000094080 etcd[61888]: {"level":"info","ts":"2026-04-27T05:40:36.742056Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:36 np0000094080 etcd[61888]: {"level":"info","ts":"2026-04-27T05:40:36.742219Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094080","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:36 np0000094080 etcd[61888]: {"level":"info","ts":"2026-04-27T05:40:36.742305Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094080","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:36 np0000094080 etcd[61888]: {"level":"warn","ts":"2026-04-27T05:40:36.742386Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 05:40:36 np0000094080 etcd[61888]: {"level":"fatal","ts":"2026-04-27T05:40:36.742461Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 05:40:36 np0000094080 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 05:40:36 np0000094080 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 05:40:36 np0000094080 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 05:40:36 np0000094080 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 27 05:40:36 np0000094080 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 05:40:37 np0000094080 etcd[61966]: {"level":"warn","ts":"2026-04-27T05:40:37.053888Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 05:40:37 np0000094080 etcd[61966]: {"level":"info","ts":"2026-04-27T05:40:37.056225Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094080","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094080=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 05:40:37 np0000094080 etcd[61966]: {"level":"warn","ts":"2026-04-27T05:40:37.056525Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 05:40:37 np0000094080 etcd[61966]: {"level":"info","ts":"2026-04-27T05:40:37.056585Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 05:40:37 np0000094080 etcd[61966]: {"level":"info","ts":"2026-04-27T05:40:37.057171Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:37 np0000094080 etcd[61966]: {"level":"info","ts":"2026-04-27T05:40:37.057364Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094080","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:37 np0000094080 etcd[61966]: {"level":"info","ts":"2026-04-27T05:40:37.057446Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094080","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:37 np0000094080 etcd[61966]: {"level":"warn","ts":"2026-04-27T05:40:37.057506Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 05:40:37 np0000094080 etcd[61966]: {"level":"fatal","ts":"2026-04-27T05:40:37.057608Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 05:40:37 np0000094080 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 27 05:40:37 np0000094080 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 05:40:37 np0000094080 etcd[62009]: {"level":"warn","ts":"2026-04-27T05:40:37.330911Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 05:40:37 np0000094080 etcd[62009]: {"level":"info","ts":"2026-04-27T05:40:37.331100Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094080","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094080=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 05:40:37 np0000094080 etcd[62009]: {"level":"warn","ts":"2026-04-27T05:40:37.331342Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 05:40:37 np0000094080 etcd[62009]: {"level":"info","ts":"2026-04-27T05:40:37.331418Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 05:40:37 np0000094080 etcd[62009]: {"level":"info","ts":"2026-04-27T05:40:37.332353Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:37 np0000094080 etcd[62009]: {"level":"info","ts":"2026-04-27T05:40:37.332603Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094080","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:37 np0000094080 etcd[62009]: {"level":"info","ts":"2026-04-27T05:40:37.332788Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094080","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:37 np0000094080 etcd[62009]: {"level":"warn","ts":"2026-04-27T05:40:37.332876Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 05:40:37 np0000094080 etcd[62009]: {"level":"fatal","ts":"2026-04-27T05:40:37.333026Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 05:40:37 np0000094080 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 27 05:40:37 np0000094080 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 05:40:37 np0000094080 etcd[62018]: {"level":"warn","ts":"2026-04-27T05:40:37.552373Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 05:40:37 np0000094080 etcd[62018]: {"level":"info","ts":"2026-04-27T05:40:37.552545Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094080","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094080=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 05:40:37 np0000094080 etcd[62018]: {"level":"warn","ts":"2026-04-27T05:40:37.552760Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 05:40:37 np0000094080 etcd[62018]: {"level":"info","ts":"2026-04-27T05:40:37.552808Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 05:40:37 np0000094080 etcd[62018]: {"level":"info","ts":"2026-04-27T05:40:37.553720Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:37 np0000094080 etcd[62018]: {"level":"info","ts":"2026-04-27T05:40:37.553936Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094080","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:37 np0000094080 etcd[62018]: {"level":"info","ts":"2026-04-27T05:40:37.554029Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094080","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:37 np0000094080 etcd[62018]: {"level":"warn","ts":"2026-04-27T05:40:37.554088Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 05:40:37 np0000094080 etcd[62018]: {"level":"fatal","ts":"2026-04-27T05:40:37.554156Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 05:40:37 np0000094080 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 27 05:40:37 np0000094080 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 05:40:37 np0000094080 etcd[62052]: {"level":"warn","ts":"2026-04-27T05:40:37.789099Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 05:40:37 np0000094080 etcd[62052]: {"level":"info","ts":"2026-04-27T05:40:37.789337Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094080","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094080=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 05:40:37 np0000094080 etcd[62052]: {"level":"warn","ts":"2026-04-27T05:40:37.789515Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 05:40:37 np0000094080 etcd[62052]: {"level":"info","ts":"2026-04-27T05:40:37.789547Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 05:40:37 np0000094080 etcd[62052]: {"level":"info","ts":"2026-04-27T05:40:37.790078Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:37 np0000094080 etcd[62052]: {"level":"info","ts":"2026-04-27T05:40:37.790222Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094080","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:37 np0000094080 etcd[62052]: {"level":"info","ts":"2026-04-27T05:40:37.790304Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094080","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 05:40:37 np0000094080 etcd[62052]: {"level":"warn","ts":"2026-04-27T05:40:37.790364Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 05:40:37 np0000094080 etcd[62052]: {"level":"fatal","ts":"2026-04-27T05:40:37.790432Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 05:40:37 np0000094080 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 27 05:40:37 np0000094080 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 05:40:37 np0000094080 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
