Apr 27 06:18:49 np0000094081 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 06:18:50 np0000094081 etcd[60343]: {"level":"warn","ts":"2026-04-27T06:18:50.021267Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 06:18:50 np0000094081 etcd[60343]: {"level":"info","ts":"2026-04-27T06:18:50.022484Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094081","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094081=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 06:18:50 np0000094081 etcd[60343]: {"level":"warn","ts":"2026-04-27T06:18:50.022683Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 06:18:50 np0000094081 etcd[60343]: {"level":"info","ts":"2026-04-27T06:18:50.022731Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 06:18:50 np0000094081 etcd[60343]: {"level":"info","ts":"2026-04-27T06:18:50.023766Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:50 np0000094081 etcd[60343]: {"level":"info","ts":"2026-04-27T06:18:50.023900Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094081","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:50 np0000094081 etcd[60343]: {"level":"info","ts":"2026-04-27T06:18:50.023978Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094081","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:50 np0000094081 etcd[60343]: {"level":"warn","ts":"2026-04-27T06:18:50.024033Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 06:18:50 np0000094081 etcd[60343]: {"level":"fatal","ts":"2026-04-27T06:18:50.024098Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 06:18:50 np0000094081 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 06:18:50 np0000094081 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 06:18:50 np0000094081 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 06:18:50 np0000094081 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 27 06:18:50 np0000094081 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 06:18:50 np0000094081 etcd[60436]: {"level":"warn","ts":"2026-04-27T06:18:50.393633Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 06:18:50 np0000094081 etcd[60436]: {"level":"info","ts":"2026-04-27T06:18:50.393824Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094081","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094081=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 06:18:50 np0000094081 etcd[60436]: {"level":"warn","ts":"2026-04-27T06:18:50.393983Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 06:18:50 np0000094081 etcd[60436]: {"level":"info","ts":"2026-04-27T06:18:50.394012Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 06:18:50 np0000094081 etcd[60436]: {"level":"info","ts":"2026-04-27T06:18:50.394489Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:50 np0000094081 etcd[60436]: {"level":"info","ts":"2026-04-27T06:18:50.394605Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094081","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:50 np0000094081 etcd[60436]: {"level":"info","ts":"2026-04-27T06:18:50.394683Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094081","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:50 np0000094081 etcd[60436]: {"level":"warn","ts":"2026-04-27T06:18:50.394756Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 06:18:50 np0000094081 etcd[60436]: {"level":"fatal","ts":"2026-04-27T06:18:50.394833Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 06:18:50 np0000094081 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 06:18:50 np0000094081 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 06:18:50 np0000094081 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 06:18:50 np0000094081 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 27 06:18:50 np0000094081 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 06:18:50 np0000094081 etcd[60464]: {"level":"warn","ts":"2026-04-27T06:18:50.653644Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 06:18:50 np0000094081 etcd[60464]: {"level":"info","ts":"2026-04-27T06:18:50.653820Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094081","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094081=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 06:18:50 np0000094081 etcd[60464]: {"level":"warn","ts":"2026-04-27T06:18:50.654003Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 06:18:50 np0000094081 etcd[60464]: {"level":"info","ts":"2026-04-27T06:18:50.654035Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 06:18:50 np0000094081 etcd[60464]: {"level":"info","ts":"2026-04-27T06:18:50.654582Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:50 np0000094081 etcd[60464]: {"level":"info","ts":"2026-04-27T06:18:50.654703Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094081","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:50 np0000094081 etcd[60464]: {"level":"info","ts":"2026-04-27T06:18:50.654785Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094081","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:50 np0000094081 etcd[60464]: {"level":"warn","ts":"2026-04-27T06:18:50.654856Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 06:18:50 np0000094081 etcd[60464]: {"level":"fatal","ts":"2026-04-27T06:18:50.654941Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 06:18:50 np0000094081 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 06:18:50 np0000094081 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 06:18:50 np0000094081 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 06:18:50 np0000094081 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 27 06:18:50 np0000094081 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 06:18:50 np0000094081 etcd[60480]: {"level":"warn","ts":"2026-04-27T06:18:50.887998Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 06:18:50 np0000094081 etcd[60480]: {"level":"info","ts":"2026-04-27T06:18:50.889974Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094081","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094081=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 06:18:50 np0000094081 etcd[60480]: {"level":"warn","ts":"2026-04-27T06:18:50.890276Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 06:18:50 np0000094081 etcd[60480]: {"level":"info","ts":"2026-04-27T06:18:50.890326Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 06:18:50 np0000094081 etcd[60480]: {"level":"info","ts":"2026-04-27T06:18:50.890951Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:50 np0000094081 etcd[60480]: {"level":"info","ts":"2026-04-27T06:18:50.891080Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094081","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:50 np0000094081 etcd[60480]: {"level":"info","ts":"2026-04-27T06:18:50.891184Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094081","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:50 np0000094081 etcd[60480]: {"level":"warn","ts":"2026-04-27T06:18:50.891238Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 06:18:50 np0000094081 etcd[60480]: {"level":"fatal","ts":"2026-04-27T06:18:50.891309Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 06:18:50 np0000094081 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 06:18:50 np0000094081 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 06:18:50 np0000094081 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 06:18:51 np0000094081 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 27 06:18:51 np0000094081 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 27 06:18:51 np0000094081 etcd[60513]: {"level":"warn","ts":"2026-04-27T06:18:51.134682Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 06:18:51 np0000094081 etcd[60513]: {"level":"info","ts":"2026-04-27T06:18:51.134871Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094081","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094081=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 27 06:18:51 np0000094081 etcd[60513]: {"level":"warn","ts":"2026-04-27T06:18:51.135032Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 27 06:18:51 np0000094081 etcd[60513]: {"level":"info","ts":"2026-04-27T06:18:51.135060Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 27 06:18:51 np0000094081 etcd[60513]: {"level":"info","ts":"2026-04-27T06:18:51.135456Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:51 np0000094081 etcd[60513]: {"level":"info","ts":"2026-04-27T06:18:51.135554Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094081","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:51 np0000094081 etcd[60513]: {"level":"info","ts":"2026-04-27T06:18:51.135619Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094081","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 27 06:18:51 np0000094081 etcd[60513]: {"level":"warn","ts":"2026-04-27T06:18:51.135664Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 27 06:18:51 np0000094081 etcd[60513]: {"level":"fatal","ts":"2026-04-27T06:18:51.135732Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 27 06:18:51 np0000094081 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 27 06:18:51 np0000094081 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 06:18:51 np0000094081 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 27 06:18:51 np0000094081 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 27 06:18:51 np0000094081 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 27 06:18:51 np0000094081 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 27 06:18:51 np0000094081 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
