Jun 28 15:16:59 np0000094504 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 28 15:16:59 np0000094504 etcd[60317]: {"level":"warn","ts":"2026-06-28T15:16:59.429447Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 15:16:59 np0000094504 etcd[60317]: {"level":"info","ts":"2026-06-28T15:16:59.429629Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094504","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094504=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 28 15:16:59 np0000094504 etcd[60317]: {"level":"warn","ts":"2026-06-28T15:16:59.429821Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 15:16:59 np0000094504 etcd[60317]: {"level":"info","ts":"2026-06-28T15:16:59.429853Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 28 15:16:59 np0000094504 etcd[60317]: {"level":"info","ts":"2026-06-28T15:16:59.431054Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:16:59 np0000094504 etcd[60317]: {"level":"info","ts":"2026-06-28T15:16:59.431311Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094504","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:16:59 np0000094504 etcd[60317]: {"level":"info","ts":"2026-06-28T15:16:59.431382Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094504","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:16:59 np0000094504 etcd[60317]: {"level":"warn","ts":"2026-06-28T15:16:59.431455Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 28 15:16:59 np0000094504 etcd[60317]: {"level":"fatal","ts":"2026-06-28T15:16:59.431549Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 28 15:16:59 np0000094504 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 28 15:16:59 np0000094504 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 28 15:16:59 np0000094504 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 28 15:16:59 np0000094504 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 28 15:16:59 np0000094504 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 28 15:16:59 np0000094504 etcd[60411]: {"level":"warn","ts":"2026-06-28T15:16:59.798696Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 15:16:59 np0000094504 etcd[60411]: {"level":"info","ts":"2026-06-28T15:16:59.798856Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094504","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094504=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 28 15:16:59 np0000094504 etcd[60411]: {"level":"warn","ts":"2026-06-28T15:16:59.799004Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 15:16:59 np0000094504 etcd[60411]: {"level":"info","ts":"2026-06-28T15:16:59.799033Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 28 15:16:59 np0000094504 etcd[60411]: {"level":"info","ts":"2026-06-28T15:16:59.799466Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:16:59 np0000094504 etcd[60411]: {"level":"info","ts":"2026-06-28T15:16:59.799568Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094504","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:16:59 np0000094504 etcd[60411]: {"level":"info","ts":"2026-06-28T15:16:59.799640Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094504","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:16:59 np0000094504 etcd[60411]: {"level":"warn","ts":"2026-06-28T15:16:59.799714Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 28 15:16:59 np0000094504 etcd[60411]: {"level":"fatal","ts":"2026-06-28T15:16:59.799784Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 28 15:16:59 np0000094504 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 28 15:16:59 np0000094504 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 28 15:16:59 np0000094504 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 28 15:16:59 np0000094504 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 28 15:16:59 np0000094504 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 28 15:17:00 np0000094504 etcd[60437]: {"level":"warn","ts":"2026-06-28T15:17:00.054365Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 15:17:00 np0000094504 etcd[60437]: {"level":"info","ts":"2026-06-28T15:17:00.056083Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094504","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094504=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 28 15:17:00 np0000094504 etcd[60437]: {"level":"warn","ts":"2026-06-28T15:17:00.056719Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 15:17:00 np0000094504 etcd[60437]: {"level":"info","ts":"2026-06-28T15:17:00.056768Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 28 15:17:00 np0000094504 etcd[60437]: {"level":"info","ts":"2026-06-28T15:17:00.057317Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:17:00 np0000094504 etcd[60437]: {"level":"info","ts":"2026-06-28T15:17:00.057441Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094504","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:17:00 np0000094504 etcd[60437]: {"level":"info","ts":"2026-06-28T15:17:00.057524Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094504","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:17:00 np0000094504 etcd[60437]: {"level":"warn","ts":"2026-06-28T15:17:00.057582Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 28 15:17:00 np0000094504 etcd[60437]: {"level":"fatal","ts":"2026-06-28T15:17:00.057648Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 28 15:17:00 np0000094504 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 28 15:17:00 np0000094504 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 28 15:17:00 np0000094504 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 28 15:17:00 np0000094504 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 28 15:17:00 np0000094504 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 28 15:17:00 np0000094504 etcd[60462]: {"level":"warn","ts":"2026-06-28T15:17:00.289502Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 15:17:00 np0000094504 etcd[60462]: {"level":"info","ts":"2026-06-28T15:17:00.289686Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094504","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094504=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 28 15:17:00 np0000094504 etcd[60462]: {"level":"warn","ts":"2026-06-28T15:17:00.289808Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 15:17:00 np0000094504 etcd[60462]: {"level":"info","ts":"2026-06-28T15:17:00.289835Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 28 15:17:00 np0000094504 etcd[60462]: {"level":"info","ts":"2026-06-28T15:17:00.290179Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:17:00 np0000094504 etcd[60462]: {"level":"info","ts":"2026-06-28T15:17:00.290257Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094504","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:17:00 np0000094504 etcd[60462]: {"level":"info","ts":"2026-06-28T15:17:00.290307Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094504","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:17:00 np0000094504 etcd[60462]: {"level":"warn","ts":"2026-06-28T15:17:00.290343Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 28 15:17:00 np0000094504 etcd[60462]: {"level":"fatal","ts":"2026-06-28T15:17:00.290388Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 28 15:17:00 np0000094504 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 28 15:17:00 np0000094504 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 28 15:17:00 np0000094504 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 28 15:17:00 np0000094504 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 28 15:17:00 np0000094504 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 28 15:17:00 np0000094504 etcd[60499]: {"level":"warn","ts":"2026-06-28T15:17:00.546945Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 15:17:00 np0000094504 etcd[60499]: {"level":"info","ts":"2026-06-28T15:17:00.547159Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094504","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094504=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 28 15:17:00 np0000094504 etcd[60499]: {"level":"warn","ts":"2026-06-28T15:17:00.547337Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 28 15:17:00 np0000094504 etcd[60499]: {"level":"info","ts":"2026-06-28T15:17:00.547370Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 28 15:17:00 np0000094504 etcd[60499]: {"level":"info","ts":"2026-06-28T15:17:00.547775Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:17:00 np0000094504 etcd[60499]: {"level":"info","ts":"2026-06-28T15:17:00.548009Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094504","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:17:00 np0000094504 etcd[60499]: {"level":"info","ts":"2026-06-28T15:17:00.548140Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094504","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 28 15:17:00 np0000094504 etcd[60499]: {"level":"warn","ts":"2026-06-28T15:17:00.548259Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 28 15:17:00 np0000094504 etcd[60499]: {"level":"fatal","ts":"2026-06-28T15:17:00.548326Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 28 15:17:00 np0000094504 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 28 15:17:00 np0000094504 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 28 15:17:00 np0000094504 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 28 15:17:00 np0000094504 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 28 15:17:00 np0000094504 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 28 15:17:00 np0000094504 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 28 15:17:00 np0000094504 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
