Apr 23 12:47:36 np0000094051 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 12:47:36 np0000094051 etcd[60230]: {"level":"warn","ts":"2026-04-23T12:47:36.588303Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:47:36 np0000094051 etcd[60230]: {"level":"info","ts":"2026-04-23T12:47:36.588452Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094051","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094051=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 12:47:36 np0000094051 etcd[60230]: {"level":"warn","ts":"2026-04-23T12:47:36.588594Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:47:36 np0000094051 etcd[60230]: {"level":"info","ts":"2026-04-23T12:47:36.588620Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 12:47:36 np0000094051 etcd[60230]: {"level":"info","ts":"2026-04-23T12:47:36.589830Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:36 np0000094051 etcd[60230]: {"level":"info","ts":"2026-04-23T12:47:36.591403Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094051","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:36 np0000094051 etcd[60230]: {"level":"info","ts":"2026-04-23T12:47:36.592287Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094051","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:36 np0000094051 etcd[60230]: {"level":"warn","ts":"2026-04-23T12:47:36.592413Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 12:47:36 np0000094051 etcd[60230]: {"level":"fatal","ts":"2026-04-23T12:47:36.592534Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 12:47:36 np0000094051 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 12:47:36 np0000094051 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 12:47:36 np0000094051 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 12:47:36 np0000094051 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 23 12:47:36 np0000094051 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 12:47:36 np0000094051 etcd[60311]: {"level":"warn","ts":"2026-04-23T12:47:36.876586Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:47:36 np0000094051 etcd[60311]: {"level":"info","ts":"2026-04-23T12:47:36.876761Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094051","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094051=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 12:47:36 np0000094051 etcd[60311]: {"level":"warn","ts":"2026-04-23T12:47:36.876933Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:47:36 np0000094051 etcd[60311]: {"level":"info","ts":"2026-04-23T12:47:36.876968Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 12:47:36 np0000094051 etcd[60311]: {"level":"info","ts":"2026-04-23T12:47:36.877561Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:36 np0000094051 etcd[60311]: {"level":"info","ts":"2026-04-23T12:47:36.877686Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094051","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:36 np0000094051 etcd[60311]: {"level":"info","ts":"2026-04-23T12:47:36.877858Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094051","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:36 np0000094051 etcd[60311]: {"level":"warn","ts":"2026-04-23T12:47:36.877937Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 12:47:36 np0000094051 etcd[60311]: {"level":"fatal","ts":"2026-04-23T12:47:36.877993Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 12:47:36 np0000094051 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 12:47:36 np0000094051 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 12:47:36 np0000094051 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 12:47:37 np0000094051 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 23 12:47:37 np0000094051 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 12:47:37 np0000094051 etcd[60351]: {"level":"warn","ts":"2026-04-23T12:47:37.135454Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:47:37 np0000094051 etcd[60351]: {"level":"info","ts":"2026-04-23T12:47:37.135638Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094051","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094051=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 12:47:37 np0000094051 etcd[60351]: {"level":"warn","ts":"2026-04-23T12:47:37.135787Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:47:37 np0000094051 etcd[60351]: {"level":"info","ts":"2026-04-23T12:47:37.135819Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 12:47:37 np0000094051 etcd[60351]: {"level":"info","ts":"2026-04-23T12:47:37.136338Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:37 np0000094051 etcd[60351]: {"level":"info","ts":"2026-04-23T12:47:37.136459Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094051","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:37 np0000094051 etcd[60351]: {"level":"info","ts":"2026-04-23T12:47:37.136540Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094051","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:37 np0000094051 etcd[60351]: {"level":"warn","ts":"2026-04-23T12:47:37.136600Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 12:47:37 np0000094051 etcd[60351]: {"level":"fatal","ts":"2026-04-23T12:47:37.136667Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 12:47:37 np0000094051 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 12:47:37 np0000094051 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 12:47:37 np0000094051 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 12:47:37 np0000094051 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 23 12:47:37 np0000094051 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 12:47:37 np0000094051 etcd[60371]: {"level":"warn","ts":"2026-04-23T12:47:37.393371Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:47:37 np0000094051 etcd[60371]: {"level":"info","ts":"2026-04-23T12:47:37.393552Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094051","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094051=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 12:47:37 np0000094051 etcd[60371]: {"level":"warn","ts":"2026-04-23T12:47:37.393743Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:47:37 np0000094051 etcd[60371]: {"level":"info","ts":"2026-04-23T12:47:37.393802Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 12:47:37 np0000094051 etcd[60371]: {"level":"info","ts":"2026-04-23T12:47:37.396156Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:37 np0000094051 etcd[60371]: {"level":"info","ts":"2026-04-23T12:47:37.396391Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094051","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:37 np0000094051 etcd[60371]: {"level":"info","ts":"2026-04-23T12:47:37.396461Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094051","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:37 np0000094051 etcd[60371]: {"level":"warn","ts":"2026-04-23T12:47:37.396535Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 12:47:37 np0000094051 etcd[60371]: {"level":"fatal","ts":"2026-04-23T12:47:37.396674Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 12:47:37 np0000094051 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 12:47:37 np0000094051 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 12:47:37 np0000094051 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 12:47:37 np0000094051 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 23 12:47:37 np0000094051 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 12:47:37 np0000094051 etcd[60407]: {"level":"warn","ts":"2026-04-23T12:47:37.644309Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:47:37 np0000094051 etcd[60407]: {"level":"info","ts":"2026-04-23T12:47:37.644482Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094051","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094051=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 12:47:37 np0000094051 etcd[60407]: {"level":"warn","ts":"2026-04-23T12:47:37.644644Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 12:47:37 np0000094051 etcd[60407]: {"level":"info","ts":"2026-04-23T12:47:37.644672Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 12:47:37 np0000094051 etcd[60407]: {"level":"info","ts":"2026-04-23T12:47:37.645151Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:37 np0000094051 etcd[60407]: {"level":"info","ts":"2026-04-23T12:47:37.645291Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094051","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:37 np0000094051 etcd[60407]: {"level":"info","ts":"2026-04-23T12:47:37.645366Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094051","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 12:47:37 np0000094051 etcd[60407]: {"level":"warn","ts":"2026-04-23T12:47:37.645418Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 12:47:37 np0000094051 etcd[60407]: {"level":"fatal","ts":"2026-04-23T12:47:37.645478Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 12:47:37 np0000094051 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 12:47:37 np0000094051 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 12:47:37 np0000094051 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 12:47:37 np0000094051 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 23 12:47:37 np0000094051 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 23 12:47:37 np0000094051 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 12:47:37 np0000094051 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
