Apr 10 08:48:23 np0000093906 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 08:48:23 np0000093906 etcd[60217]: {"level":"warn","ts":"2026-04-10T08:48:23.965128Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:48:23 np0000093906 etcd[60217]: {"level":"info","ts":"2026-04-10T08:48:23.965292Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093906","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093906=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 08:48:23 np0000093906 etcd[60217]: {"level":"warn","ts":"2026-04-10T08:48:23.965442Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:48:23 np0000093906 etcd[60217]: {"level":"info","ts":"2026-04-10T08:48:23.965508Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 08:48:23 np0000093906 etcd[60217]: {"level":"info","ts":"2026-04-10T08:48:23.965873Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:23 np0000093906 etcd[60217]: {"level":"info","ts":"2026-04-10T08:48:23.965960Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093906","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:23 np0000093906 etcd[60217]: {"level":"info","ts":"2026-04-10T08:48:23.966022Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093906","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:23 np0000093906 etcd[60217]: {"level":"warn","ts":"2026-04-10T08:48:23.966089Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 08:48:23 np0000093906 etcd[60217]: {"level":"fatal","ts":"2026-04-10T08:48:23.966146Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 08:48:23 np0000093906 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 08:48:23 np0000093906 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 08:48:23 np0000093906 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 08:48:24 np0000093906 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 10 08:48:24 np0000093906 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 08:48:24 np0000093906 etcd[60260]: {"level":"warn","ts":"2026-04-10T08:48:24.164537Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:48:24 np0000093906 etcd[60260]: {"level":"info","ts":"2026-04-10T08:48:24.164844Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093906","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093906=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 08:48:24 np0000093906 etcd[60260]: {"level":"warn","ts":"2026-04-10T08:48:24.165931Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:48:24 np0000093906 etcd[60260]: {"level":"info","ts":"2026-04-10T08:48:24.166091Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 08:48:24 np0000093906 etcd[60260]: {"level":"info","ts":"2026-04-10T08:48:24.166755Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:24 np0000093906 etcd[60260]: {"level":"info","ts":"2026-04-10T08:48:24.166904Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093906","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:24 np0000093906 etcd[60260]: {"level":"info","ts":"2026-04-10T08:48:24.166969Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093906","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:24 np0000093906 etcd[60260]: {"level":"warn","ts":"2026-04-10T08:48:24.167028Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 08:48:24 np0000093906 etcd[60260]: {"level":"fatal","ts":"2026-04-10T08:48:24.167165Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 08:48:24 np0000093906 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 08:48:24 np0000093906 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 08:48:24 np0000093906 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 08:48:24 np0000093906 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 10 08:48:24 np0000093906 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 08:48:24 np0000093906 etcd[60337]: {"level":"warn","ts":"2026-04-10T08:48:24.397530Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:48:24 np0000093906 etcd[60337]: {"level":"info","ts":"2026-04-10T08:48:24.397707Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093906","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093906=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 08:48:24 np0000093906 etcd[60337]: {"level":"warn","ts":"2026-04-10T08:48:24.397859Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:48:24 np0000093906 etcd[60337]: {"level":"info","ts":"2026-04-10T08:48:24.397901Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 08:48:24 np0000093906 etcd[60337]: {"level":"info","ts":"2026-04-10T08:48:24.399759Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:24 np0000093906 etcd[60337]: {"level":"info","ts":"2026-04-10T08:48:24.399942Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093906","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:24 np0000093906 etcd[60337]: {"level":"info","ts":"2026-04-10T08:48:24.400030Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093906","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:24 np0000093906 etcd[60337]: {"level":"warn","ts":"2026-04-10T08:48:24.400123Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 08:48:24 np0000093906 etcd[60337]: {"level":"fatal","ts":"2026-04-10T08:48:24.400207Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 08:48:24 np0000093906 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 08:48:24 np0000093906 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 08:48:24 np0000093906 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 08:48:24 np0000093906 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 10 08:48:24 np0000093906 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 08:48:24 np0000093906 etcd[60345]: {"level":"warn","ts":"2026-04-10T08:48:24.647448Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:48:24 np0000093906 etcd[60345]: {"level":"info","ts":"2026-04-10T08:48:24.647665Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093906","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093906=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 08:48:24 np0000093906 etcd[60345]: {"level":"warn","ts":"2026-04-10T08:48:24.647838Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:48:24 np0000093906 etcd[60345]: {"level":"info","ts":"2026-04-10T08:48:24.647871Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 08:48:24 np0000093906 etcd[60345]: {"level":"info","ts":"2026-04-10T08:48:24.648358Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:24 np0000093906 etcd[60345]: {"level":"info","ts":"2026-04-10T08:48:24.648502Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093906","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:24 np0000093906 etcd[60345]: {"level":"info","ts":"2026-04-10T08:48:24.648607Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093906","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:24 np0000093906 etcd[60345]: {"level":"warn","ts":"2026-04-10T08:48:24.648671Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 08:48:24 np0000093906 etcd[60345]: {"level":"fatal","ts":"2026-04-10T08:48:24.648755Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 08:48:24 np0000093906 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 08:48:24 np0000093906 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 08:48:24 np0000093906 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 08:48:24 np0000093906 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 10 08:48:24 np0000093906 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 10 08:48:24 np0000093906 etcd[60369]: {"level":"warn","ts":"2026-04-10T08:48:24.902989Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:48:24 np0000093906 etcd[60369]: {"level":"info","ts":"2026-04-10T08:48:24.903260Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093906","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093906=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 10 08:48:24 np0000093906 etcd[60369]: {"level":"warn","ts":"2026-04-10T08:48:24.903442Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 10 08:48:24 np0000093906 etcd[60369]: {"level":"info","ts":"2026-04-10T08:48:24.903492Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 10 08:48:24 np0000093906 etcd[60369]: {"level":"info","ts":"2026-04-10T08:48:24.903974Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:24 np0000093906 etcd[60369]: {"level":"info","ts":"2026-04-10T08:48:24.904124Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093906","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:24 np0000093906 etcd[60369]: {"level":"info","ts":"2026-04-10T08:48:24.904206Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093906","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 10 08:48:24 np0000093906 etcd[60369]: {"level":"warn","ts":"2026-04-10T08:48:24.904269Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 10 08:48:24 np0000093906 etcd[60369]: {"level":"fatal","ts":"2026-04-10T08:48:24.904333Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 10 08:48:24 np0000093906 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 10 08:48:24 np0000093906 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 08:48:24 np0000093906 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 10 08:48:25 np0000093906 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 10 08:48:25 np0000093906 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 10 08:48:25 np0000093906 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 10 08:48:25 np0000093906 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
