Feb 13 16:28:17 np0000056241 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 16:28:17 np0000056241 etcd[60693]: {"level":"warn","ts":"2026-02-13T16:28:17.736642Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:28:17 np0000056241 etcd[60693]: {"level":"info","ts":"2026-02-13T16:28:17.736859Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056241","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056241=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 16:28:17 np0000056241 etcd[60693]: {"level":"warn","ts":"2026-02-13T16:28:17.737023Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:28:17 np0000056241 etcd[60693]: {"level":"info","ts":"2026-02-13T16:28:17.737059Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 16:28:17 np0000056241 etcd[60693]: {"level":"info","ts":"2026-02-13T16:28:17.737517Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:17 np0000056241 etcd[60693]: {"level":"info","ts":"2026-02-13T16:28:17.737622Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056241","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:17 np0000056241 etcd[60693]: {"level":"info","ts":"2026-02-13T16:28:17.737693Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056241","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:17 np0000056241 etcd[60693]: {"level":"warn","ts":"2026-02-13T16:28:17.737747Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 16:28:17 np0000056241 etcd[60693]: {"level":"fatal","ts":"2026-02-13T16:28:17.737802Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 16:28:17 np0000056241 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 16:28:17 np0000056241 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 16:28:17 np0000056241 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 16:28:18 np0000056241 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Feb 13 16:28:18 np0000056241 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 16:28:18 np0000056241 etcd[60784]: {"level":"warn","ts":"2026-02-13T16:28:18.121920Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:28:18 np0000056241 etcd[60784]: {"level":"info","ts":"2026-02-13T16:28:18.122148Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056241","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056241=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 16:28:18 np0000056241 etcd[60784]: {"level":"warn","ts":"2026-02-13T16:28:18.122365Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:28:18 np0000056241 etcd[60784]: {"level":"info","ts":"2026-02-13T16:28:18.122408Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 16:28:18 np0000056241 etcd[60784]: {"level":"info","ts":"2026-02-13T16:28:18.122925Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:18 np0000056241 etcd[60784]: {"level":"info","ts":"2026-02-13T16:28:18.123051Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056241","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:18 np0000056241 etcd[60784]: {"level":"info","ts":"2026-02-13T16:28:18.123134Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056241","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:18 np0000056241 etcd[60784]: {"level":"warn","ts":"2026-02-13T16:28:18.123211Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 16:28:18 np0000056241 etcd[60784]: {"level":"fatal","ts":"2026-02-13T16:28:18.123302Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 16:28:18 np0000056241 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 16:28:18 np0000056241 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 16:28:18 np0000056241 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 16:28:18 np0000056241 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Feb 13 16:28:18 np0000056241 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 16:28:18 np0000056241 etcd[60813]: {"level":"warn","ts":"2026-02-13T16:28:18.367868Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:28:18 np0000056241 etcd[60813]: {"level":"info","ts":"2026-02-13T16:28:18.368069Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056241","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056241=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 16:28:18 np0000056241 etcd[60813]: {"level":"warn","ts":"2026-02-13T16:28:18.369649Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:28:18 np0000056241 etcd[60813]: {"level":"info","ts":"2026-02-13T16:28:18.369725Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 16:28:18 np0000056241 etcd[60813]: {"level":"info","ts":"2026-02-13T16:28:18.370285Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:18 np0000056241 etcd[60813]: {"level":"info","ts":"2026-02-13T16:28:18.370413Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056241","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:18 np0000056241 etcd[60813]: {"level":"info","ts":"2026-02-13T16:28:18.370505Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056241","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:18 np0000056241 etcd[60813]: {"level":"warn","ts":"2026-02-13T16:28:18.370567Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 16:28:18 np0000056241 etcd[60813]: {"level":"fatal","ts":"2026-02-13T16:28:18.370629Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 16:28:18 np0000056241 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 16:28:18 np0000056241 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 16:28:18 np0000056241 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 16:28:18 np0000056241 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Feb 13 16:28:18 np0000056241 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 16:28:18 np0000056241 etcd[60834]: {"level":"warn","ts":"2026-02-13T16:28:18.615732Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:28:18 np0000056241 etcd[60834]: {"level":"info","ts":"2026-02-13T16:28:18.615923Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056241","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056241=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 16:28:18 np0000056241 etcd[60834]: {"level":"warn","ts":"2026-02-13T16:28:18.616073Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:28:18 np0000056241 etcd[60834]: {"level":"info","ts":"2026-02-13T16:28:18.616111Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 16:28:18 np0000056241 etcd[60834]: {"level":"info","ts":"2026-02-13T16:28:18.616683Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:18 np0000056241 etcd[60834]: {"level":"info","ts":"2026-02-13T16:28:18.616794Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056241","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:18 np0000056241 etcd[60834]: {"level":"info","ts":"2026-02-13T16:28:18.616896Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056241","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:18 np0000056241 etcd[60834]: {"level":"warn","ts":"2026-02-13T16:28:18.616949Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 16:28:18 np0000056241 etcd[60834]: {"level":"fatal","ts":"2026-02-13T16:28:18.617008Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 16:28:18 np0000056241 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 16:28:18 np0000056241 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 16:28:18 np0000056241 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 16:28:18 np0000056241 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Feb 13 16:28:18 np0000056241 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Feb 13 16:28:18 np0000056241 etcd[60883]: {"level":"warn","ts":"2026-02-13T16:28:18.846099Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:28:18 np0000056241 etcd[60883]: {"level":"info","ts":"2026-02-13T16:28:18.846248Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000056241","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000056241=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Feb 13 16:28:18 np0000056241 etcd[60883]: {"level":"warn","ts":"2026-02-13T16:28:18.846362Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Feb 13 16:28:18 np0000056241 etcd[60883]: {"level":"info","ts":"2026-02-13T16:28:18.846382Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Feb 13 16:28:18 np0000056241 etcd[60883]: {"level":"info","ts":"2026-02-13T16:28:18.846673Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:18 np0000056241 etcd[60883]: {"level":"info","ts":"2026-02-13T16:28:18.846751Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000056241","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:18 np0000056241 etcd[60883]: {"level":"info","ts":"2026-02-13T16:28:18.846805Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000056241","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Feb 13 16:28:18 np0000056241 etcd[60883]: {"level":"warn","ts":"2026-02-13T16:28:18.846871Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Feb 13 16:28:18 np0000056241 etcd[60883]: {"level":"fatal","ts":"2026-02-13T16:28:18.846914Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Feb 13 16:28:18 np0000056241 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Feb 13 16:28:18 np0000056241 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 16:28:18 np0000056241 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Feb 13 16:28:19 np0000056241 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Feb 13 16:28:19 np0000056241 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Feb 13 16:28:19 np0000056241 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Feb 13 16:28:19 np0000056241 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
