Apr 24 14:56:14 np0000094074 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 14:56:14 np0000094074 etcd[60729]: {"level":"warn","ts":"2026-04-24T14:56:14.482856Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:56:14 np0000094074 etcd[60729]: {"level":"info","ts":"2026-04-24T14:56:14.483051Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094074","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094074=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 14:56:14 np0000094074 etcd[60729]: {"level":"warn","ts":"2026-04-24T14:56:14.483269Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:56:14 np0000094074 etcd[60729]: {"level":"info","ts":"2026-04-24T14:56:14.483323Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 14:56:14 np0000094074 etcd[60729]: {"level":"info","ts":"2026-04-24T14:56:14.484757Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:14 np0000094074 etcd[60729]: {"level":"info","ts":"2026-04-24T14:56:14.484898Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094074","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:14 np0000094074 etcd[60729]: {"level":"info","ts":"2026-04-24T14:56:14.484985Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094074","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:14 np0000094074 etcd[60729]: {"level":"warn","ts":"2026-04-24T14:56:14.485054Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 14:56:14 np0000094074 etcd[60729]: {"level":"fatal","ts":"2026-04-24T14:56:14.485123Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 14:56:14 np0000094074 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 14:56:14 np0000094074 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 14:56:14 np0000094074 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 14:56:14 np0000094074 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 24 14:56:14 np0000094074 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 14:56:14 np0000094074 etcd[60767]: {"level":"warn","ts":"2026-04-24T14:56:14.670471Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:56:14 np0000094074 etcd[60767]: {"level":"info","ts":"2026-04-24T14:56:14.670715Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094074","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094074=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 14:56:14 np0000094074 etcd[60767]: {"level":"warn","ts":"2026-04-24T14:56:14.670918Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:56:14 np0000094074 etcd[60767]: {"level":"info","ts":"2026-04-24T14:56:14.670955Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 14:56:14 np0000094074 etcd[60767]: {"level":"info","ts":"2026-04-24T14:56:14.671401Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:14 np0000094074 etcd[60767]: {"level":"info","ts":"2026-04-24T14:56:14.671556Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094074","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:14 np0000094074 etcd[60767]: {"level":"info","ts":"2026-04-24T14:56:14.671609Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094074","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:14 np0000094074 etcd[60767]: {"level":"warn","ts":"2026-04-24T14:56:14.671665Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 14:56:14 np0000094074 etcd[60767]: {"level":"fatal","ts":"2026-04-24T14:56:14.671754Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 14:56:14 np0000094074 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 14:56:14 np0000094074 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 14:56:14 np0000094074 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 14:56:14 np0000094074 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 24 14:56:14 np0000094074 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 14:56:14 np0000094074 etcd[60845]: {"level":"warn","ts":"2026-04-24T14:56:14.928491Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:56:14 np0000094074 etcd[60845]: {"level":"info","ts":"2026-04-24T14:56:14.928642Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094074","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094074=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 14:56:14 np0000094074 etcd[60845]: {"level":"warn","ts":"2026-04-24T14:56:14.928769Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:56:14 np0000094074 etcd[60845]: {"level":"info","ts":"2026-04-24T14:56:14.928801Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 14:56:14 np0000094074 etcd[60845]: {"level":"info","ts":"2026-04-24T14:56:14.929180Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:14 np0000094074 etcd[60845]: {"level":"info","ts":"2026-04-24T14:56:14.929279Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094074","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:14 np0000094074 etcd[60845]: {"level":"info","ts":"2026-04-24T14:56:14.929345Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094074","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:14 np0000094074 etcd[60845]: {"level":"warn","ts":"2026-04-24T14:56:14.929391Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 14:56:14 np0000094074 etcd[60845]: {"level":"fatal","ts":"2026-04-24T14:56:14.929483Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 14:56:14 np0000094074 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 14:56:14 np0000094074 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 14:56:14 np0000094074 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 14:56:15 np0000094074 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 24 14:56:15 np0000094074 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 14:56:15 np0000094074 etcd[60856]: {"level":"warn","ts":"2026-04-24T14:56:15.168594Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:56:15 np0000094074 etcd[60856]: {"level":"info","ts":"2026-04-24T14:56:15.169789Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094074","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094074=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 14:56:15 np0000094074 etcd[60856]: {"level":"warn","ts":"2026-04-24T14:56:15.170256Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:56:15 np0000094074 etcd[60856]: {"level":"info","ts":"2026-04-24T14:56:15.170417Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 14:56:15 np0000094074 etcd[60856]: {"level":"info","ts":"2026-04-24T14:56:15.171135Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:15 np0000094074 etcd[60856]: {"level":"info","ts":"2026-04-24T14:56:15.171537Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094074","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:15 np0000094074 etcd[60856]: {"level":"info","ts":"2026-04-24T14:56:15.171844Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094074","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:15 np0000094074 etcd[60856]: {"level":"warn","ts":"2026-04-24T14:56:15.171908Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 14:56:15 np0000094074 etcd[60856]: {"level":"fatal","ts":"2026-04-24T14:56:15.171974Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 14:56:15 np0000094074 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 14:56:15 np0000094074 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 14:56:15 np0000094074 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 14:56:15 np0000094074 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 24 14:56:15 np0000094074 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 24 14:56:15 np0000094074 etcd[60879]: {"level":"warn","ts":"2026-04-24T14:56:15.424687Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:56:15 np0000094074 etcd[60879]: {"level":"info","ts":"2026-04-24T14:56:15.424871Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094074","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094074=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 24 14:56:15 np0000094074 etcd[60879]: {"level":"warn","ts":"2026-04-24T14:56:15.425050Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 24 14:56:15 np0000094074 etcd[60879]: {"level":"info","ts":"2026-04-24T14:56:15.425092Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 24 14:56:15 np0000094074 etcd[60879]: {"level":"info","ts":"2026-04-24T14:56:15.426604Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:15 np0000094074 etcd[60879]: {"level":"info","ts":"2026-04-24T14:56:15.426759Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094074","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:15 np0000094074 etcd[60879]: {"level":"info","ts":"2026-04-24T14:56:15.427616Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094074","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 24 14:56:15 np0000094074 etcd[60879]: {"level":"warn","ts":"2026-04-24T14:56:15.427701Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 24 14:56:15 np0000094074 etcd[60879]: {"level":"fatal","ts":"2026-04-24T14:56:15.427788Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 24 14:56:15 np0000094074 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 24 14:56:15 np0000094074 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 14:56:15 np0000094074 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 24 14:56:15 np0000094074 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 24 14:56:15 np0000094074 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 24 14:56:15 np0000094074 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 24 14:56:15 np0000094074 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
