Jun 05 15:18:36 np0000094253 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 15:18:36 np0000094253 etcd[60176]: {"level":"warn","ts":"2026-06-05T15:18:36.276251Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 15:18:36 np0000094253 etcd[60176]: {"level":"info","ts":"2026-06-05T15:18:36.276464Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094253","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094253=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 15:18:36 np0000094253 etcd[60176]: {"level":"warn","ts":"2026-06-05T15:18:36.276637Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 15:18:36 np0000094253 etcd[60176]: {"level":"info","ts":"2026-06-05T15:18:36.276676Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 15:18:36 np0000094253 etcd[60176]: {"level":"info","ts":"2026-06-05T15:18:36.277149Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:36 np0000094253 etcd[60176]: {"level":"info","ts":"2026-06-05T15:18:36.277280Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:36 np0000094253 etcd[60176]: {"level":"info","ts":"2026-06-05T15:18:36.277361Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:36 np0000094253 etcd[60176]: {"level":"warn","ts":"2026-06-05T15:18:36.277448Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 15:18:36 np0000094253 etcd[60176]: {"level":"fatal","ts":"2026-06-05T15:18:36.277511Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 15:18:36 np0000094253 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 15:18:36 np0000094253 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 15:18:36 np0000094253 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 15:18:36 np0000094253 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 05 15:18:36 np0000094253 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 15:18:36 np0000094253 etcd[60281]: {"level":"warn","ts":"2026-06-05T15:18:36.708516Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 15:18:36 np0000094253 etcd[60281]: {"level":"info","ts":"2026-06-05T15:18:36.708697Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094253","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094253=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 15:18:36 np0000094253 etcd[60281]: {"level":"warn","ts":"2026-06-05T15:18:36.708869Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 15:18:36 np0000094253 etcd[60281]: {"level":"info","ts":"2026-06-05T15:18:36.708911Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 15:18:36 np0000094253 etcd[60281]: {"level":"info","ts":"2026-06-05T15:18:36.709504Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:36 np0000094253 etcd[60281]: {"level":"info","ts":"2026-06-05T15:18:36.709630Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:36 np0000094253 etcd[60281]: {"level":"info","ts":"2026-06-05T15:18:36.709713Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:36 np0000094253 etcd[60281]: {"level":"warn","ts":"2026-06-05T15:18:36.709778Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 15:18:36 np0000094253 etcd[60281]: {"level":"fatal","ts":"2026-06-05T15:18:36.709850Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 15:18:36 np0000094253 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 15:18:36 np0000094253 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 15:18:36 np0000094253 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 15:18:36 np0000094253 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 05 15:18:36 np0000094253 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 15:18:36 np0000094253 etcd[60295]: {"level":"warn","ts":"2026-06-05T15:18:36.953595Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 15:18:36 np0000094253 etcd[60295]: {"level":"info","ts":"2026-06-05T15:18:36.953811Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094253","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094253=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 15:18:36 np0000094253 etcd[60295]: {"level":"warn","ts":"2026-06-05T15:18:36.953982Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 15:18:36 np0000094253 etcd[60295]: {"level":"info","ts":"2026-06-05T15:18:36.954013Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 15:18:36 np0000094253 etcd[60295]: {"level":"info","ts":"2026-06-05T15:18:36.954659Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:36 np0000094253 etcd[60295]: {"level":"info","ts":"2026-06-05T15:18:36.954843Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:36 np0000094253 etcd[60295]: {"level":"info","ts":"2026-06-05T15:18:36.954959Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:36 np0000094253 etcd[60295]: {"level":"warn","ts":"2026-06-05T15:18:36.955024Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 15:18:36 np0000094253 etcd[60295]: {"level":"fatal","ts":"2026-06-05T15:18:36.955115Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 15:18:36 np0000094253 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 15:18:36 np0000094253 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 15:18:36 np0000094253 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 15:18:37 np0000094253 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 05 15:18:37 np0000094253 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 15:18:37 np0000094253 etcd[60316]: {"level":"warn","ts":"2026-06-05T15:18:37.197812Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 15:18:37 np0000094253 etcd[60316]: {"level":"info","ts":"2026-06-05T15:18:37.198029Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094253","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094253=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 15:18:37 np0000094253 etcd[60316]: {"level":"warn","ts":"2026-06-05T15:18:37.198225Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 15:18:37 np0000094253 etcd[60316]: {"level":"info","ts":"2026-06-05T15:18:37.198256Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 15:18:37 np0000094253 etcd[60316]: {"level":"info","ts":"2026-06-05T15:18:37.198838Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:37 np0000094253 etcd[60316]: {"level":"info","ts":"2026-06-05T15:18:37.198952Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:37 np0000094253 etcd[60316]: {"level":"info","ts":"2026-06-05T15:18:37.199031Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:37 np0000094253 etcd[60316]: {"level":"warn","ts":"2026-06-05T15:18:37.199104Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 15:18:37 np0000094253 etcd[60316]: {"level":"fatal","ts":"2026-06-05T15:18:37.199168Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 15:18:37 np0000094253 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 15:18:37 np0000094253 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 15:18:37 np0000094253 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 15:18:37 np0000094253 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 05 15:18:37 np0000094253 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 05 15:18:37 np0000094253 etcd[60351]: {"level":"warn","ts":"2026-06-05T15:18:37.451363Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 15:18:37 np0000094253 etcd[60351]: {"level":"info","ts":"2026-06-05T15:18:37.451600Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094253","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094253=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 05 15:18:37 np0000094253 etcd[60351]: {"level":"warn","ts":"2026-06-05T15:18:37.451774Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 05 15:18:37 np0000094253 etcd[60351]: {"level":"info","ts":"2026-06-05T15:18:37.451808Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 05 15:18:37 np0000094253 etcd[60351]: {"level":"info","ts":"2026-06-05T15:18:37.452343Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:37 np0000094253 etcd[60351]: {"level":"info","ts":"2026-06-05T15:18:37.452505Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:37 np0000094253 etcd[60351]: {"level":"info","ts":"2026-06-05T15:18:37.452586Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094253","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 05 15:18:37 np0000094253 etcd[60351]: {"level":"warn","ts":"2026-06-05T15:18:37.452643Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 05 15:18:37 np0000094253 etcd[60351]: {"level":"fatal","ts":"2026-06-05T15:18:37.452708Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 05 15:18:37 np0000094253 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 05 15:18:37 np0000094253 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 15:18:37 np0000094253 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 05 15:18:37 np0000094253 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 05 15:18:37 np0000094253 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 05 15:18:37 np0000094253 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 05 15:18:37 np0000094253 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
