May 19 17:26:03 np0000094132 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 17:26:04 np0000094132 etcd[60446]: {"level":"warn","ts":"2026-05-19T17:26:04.035242Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 17:26:04 np0000094132 etcd[60446]: {"level":"info","ts":"2026-05-19T17:26:04.035512Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094132","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094132=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 17:26:04 np0000094132 etcd[60446]: {"level":"warn","ts":"2026-05-19T17:26:04.035703Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 17:26:04 np0000094132 etcd[60446]: {"level":"info","ts":"2026-05-19T17:26:04.035755Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 17:26:04 np0000094132 etcd[60446]: {"level":"info","ts":"2026-05-19T17:26:04.036280Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:04 np0000094132 etcd[60446]: {"level":"info","ts":"2026-05-19T17:26:04.036404Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094132","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:04 np0000094132 etcd[60446]: {"level":"info","ts":"2026-05-19T17:26:04.036528Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094132","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:04 np0000094132 etcd[60446]: {"level":"warn","ts":"2026-05-19T17:26:04.036598Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 17:26:04 np0000094132 etcd[60446]: {"level":"fatal","ts":"2026-05-19T17:26:04.036667Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 17:26:04 np0000094132 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 17:26:04 np0000094132 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 17:26:04 np0000094132 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 17:26:04 np0000094132 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 19 17:26:04 np0000094132 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 17:26:04 np0000094132 etcd[60528]: {"level":"warn","ts":"2026-05-19T17:26:04.368211Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 17:26:04 np0000094132 etcd[60528]: {"level":"info","ts":"2026-05-19T17:26:04.368469Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094132","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094132=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 17:26:04 np0000094132 etcd[60528]: {"level":"warn","ts":"2026-05-19T17:26:04.368669Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 17:26:04 np0000094132 etcd[60528]: {"level":"info","ts":"2026-05-19T17:26:04.368736Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 17:26:04 np0000094132 etcd[60528]: {"level":"info","ts":"2026-05-19T17:26:04.369475Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:04 np0000094132 etcd[60528]: {"level":"info","ts":"2026-05-19T17:26:04.369616Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094132","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:04 np0000094132 etcd[60528]: {"level":"info","ts":"2026-05-19T17:26:04.369703Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094132","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:04 np0000094132 etcd[60528]: {"level":"warn","ts":"2026-05-19T17:26:04.369785Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 17:26:04 np0000094132 etcd[60528]: {"level":"fatal","ts":"2026-05-19T17:26:04.369853Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 17:26:04 np0000094132 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 17:26:04 np0000094132 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 17:26:04 np0000094132 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 17:26:04 np0000094132 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 19 17:26:04 np0000094132 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 17:26:04 np0000094132 etcd[60566]: {"level":"warn","ts":"2026-05-19T17:26:04.616704Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 17:26:04 np0000094132 etcd[60566]: {"level":"info","ts":"2026-05-19T17:26:04.616930Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094132","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094132=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 17:26:04 np0000094132 etcd[60566]: {"level":"warn","ts":"2026-05-19T17:26:04.617123Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 17:26:04 np0000094132 etcd[60566]: {"level":"info","ts":"2026-05-19T17:26:04.617197Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 17:26:04 np0000094132 etcd[60566]: {"level":"info","ts":"2026-05-19T17:26:04.617887Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:04 np0000094132 etcd[60566]: {"level":"info","ts":"2026-05-19T17:26:04.618082Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094132","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:04 np0000094132 etcd[60566]: {"level":"info","ts":"2026-05-19T17:26:04.618269Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094132","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:04 np0000094132 etcd[60566]: {"level":"warn","ts":"2026-05-19T17:26:04.618399Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 17:26:04 np0000094132 etcd[60566]: {"level":"fatal","ts":"2026-05-19T17:26:04.618543Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 17:26:04 np0000094132 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 17:26:04 np0000094132 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 17:26:04 np0000094132 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 17:26:04 np0000094132 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 19 17:26:04 np0000094132 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 17:26:04 np0000094132 etcd[60587]: {"level":"warn","ts":"2026-05-19T17:26:04.854884Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 17:26:04 np0000094132 etcd[60587]: {"level":"info","ts":"2026-05-19T17:26:04.855084Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094132","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094132=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 17:26:04 np0000094132 etcd[60587]: {"level":"warn","ts":"2026-05-19T17:26:04.855258Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 17:26:04 np0000094132 etcd[60587]: {"level":"info","ts":"2026-05-19T17:26:04.855299Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 17:26:04 np0000094132 etcd[60587]: {"level":"info","ts":"2026-05-19T17:26:04.855863Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:04 np0000094132 etcd[60587]: {"level":"info","ts":"2026-05-19T17:26:04.855991Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094132","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:04 np0000094132 etcd[60587]: {"level":"info","ts":"2026-05-19T17:26:04.856075Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094132","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:04 np0000094132 etcd[60587]: {"level":"warn","ts":"2026-05-19T17:26:04.856133Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 17:26:04 np0000094132 etcd[60587]: {"level":"fatal","ts":"2026-05-19T17:26:04.856229Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 17:26:04 np0000094132 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 17:26:04 np0000094132 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 17:26:04 np0000094132 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 17:26:05 np0000094132 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 19 17:26:05 np0000094132 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 19 17:26:05 np0000094132 etcd[60623]: {"level":"warn","ts":"2026-05-19T17:26:05.104237Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 17:26:05 np0000094132 etcd[60623]: {"level":"info","ts":"2026-05-19T17:26:05.104460Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094132","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094132=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 19 17:26:05 np0000094132 etcd[60623]: {"level":"warn","ts":"2026-05-19T17:26:05.104625Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 19 17:26:05 np0000094132 etcd[60623]: {"level":"info","ts":"2026-05-19T17:26:05.104669Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 19 17:26:05 np0000094132 etcd[60623]: {"level":"info","ts":"2026-05-19T17:26:05.105211Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:05 np0000094132 etcd[60623]: {"level":"info","ts":"2026-05-19T17:26:05.105380Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094132","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:05 np0000094132 etcd[60623]: {"level":"info","ts":"2026-05-19T17:26:05.105532Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094132","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 19 17:26:05 np0000094132 etcd[60623]: {"level":"warn","ts":"2026-05-19T17:26:05.105596Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 19 17:26:05 np0000094132 etcd[60623]: {"level":"fatal","ts":"2026-05-19T17:26:05.105666Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 19 17:26:05 np0000094132 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 19 17:26:05 np0000094132 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 17:26:05 np0000094132 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 19 17:26:05 np0000094132 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 19 17:26:05 np0000094132 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 19 17:26:05 np0000094132 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 19 17:26:05 np0000094132 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
