Jun 11 11:19:24 np0000094319 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 11:19:25 np0000094319 etcd[60038]: {"level":"warn","ts":"2026-06-11T11:19:25.000672Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 11:19:25 np0000094319 etcd[60038]: {"level":"info","ts":"2026-06-11T11:19:25.001875Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094319","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094319=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 11:19:25 np0000094319 etcd[60038]: {"level":"warn","ts":"2026-06-11T11:19:25.002099Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 11:19:25 np0000094319 etcd[60038]: {"level":"info","ts":"2026-06-11T11:19:25.002138Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 11:19:25 np0000094319 etcd[60038]: {"level":"info","ts":"2026-06-11T11:19:25.002705Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:25 np0000094319 etcd[60038]: {"level":"info","ts":"2026-06-11T11:19:25.002833Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094319","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:25 np0000094319 etcd[60038]: {"level":"info","ts":"2026-06-11T11:19:25.002918Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094319","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:25 np0000094319 etcd[60038]: {"level":"warn","ts":"2026-06-11T11:19:25.002987Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 11:19:25 np0000094319 etcd[60038]: {"level":"fatal","ts":"2026-06-11T11:19:25.003073Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 11:19:25 np0000094319 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 11:19:25 np0000094319 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 11:19:25 np0000094319 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 11:19:25 np0000094319 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 11 11:19:25 np0000094319 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 11:19:25 np0000094319 etcd[60149]: {"level":"warn","ts":"2026-06-11T11:19:25.338847Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 11:19:25 np0000094319 etcd[60149]: {"level":"info","ts":"2026-06-11T11:19:25.339008Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094319","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094319=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 11:19:25 np0000094319 etcd[60149]: {"level":"warn","ts":"2026-06-11T11:19:25.339161Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 11:19:25 np0000094319 etcd[60149]: {"level":"info","ts":"2026-06-11T11:19:25.339196Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 11:19:25 np0000094319 etcd[60149]: {"level":"info","ts":"2026-06-11T11:19:25.339684Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:25 np0000094319 etcd[60149]: {"level":"info","ts":"2026-06-11T11:19:25.339792Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094319","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:25 np0000094319 etcd[60149]: {"level":"info","ts":"2026-06-11T11:19:25.339863Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094319","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:25 np0000094319 etcd[60149]: {"level":"warn","ts":"2026-06-11T11:19:25.339913Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 11:19:25 np0000094319 etcd[60149]: {"level":"fatal","ts":"2026-06-11T11:19:25.339973Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 11:19:25 np0000094319 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 11:19:25 np0000094319 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 11:19:25 np0000094319 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 11:19:25 np0000094319 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 11 11:19:25 np0000094319 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 11:19:25 np0000094319 etcd[60158]: {"level":"warn","ts":"2026-06-11T11:19:25.595919Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 11:19:25 np0000094319 etcd[60158]: {"level":"info","ts":"2026-06-11T11:19:25.596103Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094319","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094319=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 11:19:25 np0000094319 etcd[60158]: {"level":"warn","ts":"2026-06-11T11:19:25.596332Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 11:19:25 np0000094319 etcd[60158]: {"level":"info","ts":"2026-06-11T11:19:25.596367Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 11:19:25 np0000094319 etcd[60158]: {"level":"info","ts":"2026-06-11T11:19:25.596868Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:25 np0000094319 etcd[60158]: {"level":"info","ts":"2026-06-11T11:19:25.596993Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094319","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:25 np0000094319 etcd[60158]: {"level":"info","ts":"2026-06-11T11:19:25.597076Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094319","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:25 np0000094319 etcd[60158]: {"level":"warn","ts":"2026-06-11T11:19:25.597135Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 11:19:25 np0000094319 etcd[60158]: {"level":"fatal","ts":"2026-06-11T11:19:25.597202Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 11:19:25 np0000094319 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 11:19:25 np0000094319 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 11:19:25 np0000094319 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 11:19:25 np0000094319 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 11 11:19:25 np0000094319 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 11:19:25 np0000094319 etcd[60183]: {"level":"warn","ts":"2026-06-11T11:19:25.851052Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 11:19:25 np0000094319 etcd[60183]: {"level":"info","ts":"2026-06-11T11:19:25.851288Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094319","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094319=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 11:19:25 np0000094319 etcd[60183]: {"level":"warn","ts":"2026-06-11T11:19:25.851466Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 11:19:25 np0000094319 etcd[60183]: {"level":"info","ts":"2026-06-11T11:19:25.851499Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 11:19:25 np0000094319 etcd[60183]: {"level":"info","ts":"2026-06-11T11:19:25.851954Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:25 np0000094319 etcd[60183]: {"level":"info","ts":"2026-06-11T11:19:25.852087Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094319","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:25 np0000094319 etcd[60183]: {"level":"info","ts":"2026-06-11T11:19:25.852174Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094319","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:25 np0000094319 etcd[60183]: {"level":"warn","ts":"2026-06-11T11:19:25.852231Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 11:19:25 np0000094319 etcd[60183]: {"level":"fatal","ts":"2026-06-11T11:19:25.852371Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 11:19:25 np0000094319 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 11:19:25 np0000094319 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 11:19:25 np0000094319 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 11:19:26 np0000094319 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 11 11:19:26 np0000094319 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 11 11:19:26 np0000094319 etcd[60223]: {"level":"warn","ts":"2026-06-11T11:19:26.069857Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 11:19:26 np0000094319 etcd[60223]: {"level":"info","ts":"2026-06-11T11:19:26.069984Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094319","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094319=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 11 11:19:26 np0000094319 etcd[60223]: {"level":"warn","ts":"2026-06-11T11:19:26.070087Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 11 11:19:26 np0000094319 etcd[60223]: {"level":"info","ts":"2026-06-11T11:19:26.070105Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 11 11:19:26 np0000094319 etcd[60223]: {"level":"info","ts":"2026-06-11T11:19:26.070392Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:26 np0000094319 etcd[60223]: {"level":"info","ts":"2026-06-11T11:19:26.070458Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094319","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:26 np0000094319 etcd[60223]: {"level":"info","ts":"2026-06-11T11:19:26.070505Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094319","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 11 11:19:26 np0000094319 etcd[60223]: {"level":"warn","ts":"2026-06-11T11:19:26.070535Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 11 11:19:26 np0000094319 etcd[60223]: {"level":"fatal","ts":"2026-06-11T11:19:26.070579Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 11 11:19:26 np0000094319 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 11 11:19:26 np0000094319 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 11:19:26 np0000094319 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 11 11:19:26 np0000094319 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 11 11:19:26 np0000094319 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 11 11:19:26 np0000094319 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 11 11:19:26 np0000094319 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
