May 29 17:38:33 np0000094178 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 17:38:33 np0000094178 etcd[60058]: {"level":"warn","ts":"2026-05-29T17:38:33.075081Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:38:33 np0000094178 etcd[60058]: {"level":"info","ts":"2026-05-29T17:38:33.075261Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094178","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094178=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 17:38:33 np0000094178 etcd[60058]: {"level":"warn","ts":"2026-05-29T17:38:33.075440Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:38:33 np0000094178 etcd[60058]: {"level":"info","ts":"2026-05-29T17:38:33.075486Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 17:38:33 np0000094178 etcd[60058]: {"level":"info","ts":"2026-05-29T17:38:33.076016Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:33 np0000094178 etcd[60058]: {"level":"info","ts":"2026-05-29T17:38:33.076136Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094178","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:33 np0000094178 etcd[60058]: {"level":"info","ts":"2026-05-29T17:38:33.076219Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094178","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:33 np0000094178 etcd[60058]: {"level":"warn","ts":"2026-05-29T17:38:33.076279Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 17:38:33 np0000094178 etcd[60058]: {"level":"fatal","ts":"2026-05-29T17:38:33.076401Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 17:38:33 np0000094178 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 17:38:33 np0000094178 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 17:38:33 np0000094178 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 17:38:33 np0000094178 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 29 17:38:33 np0000094178 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 17:38:33 np0000094178 etcd[60134]: {"level":"warn","ts":"2026-05-29T17:38:33.385190Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:38:33 np0000094178 etcd[60134]: {"level":"info","ts":"2026-05-29T17:38:33.385402Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094178","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094178=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 17:38:33 np0000094178 etcd[60134]: {"level":"warn","ts":"2026-05-29T17:38:33.385558Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:38:33 np0000094178 etcd[60134]: {"level":"info","ts":"2026-05-29T17:38:33.385644Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 17:38:33 np0000094178 etcd[60134]: {"level":"info","ts":"2026-05-29T17:38:33.386496Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:33 np0000094178 etcd[60134]: {"level":"info","ts":"2026-05-29T17:38:33.388615Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094178","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:33 np0000094178 etcd[60134]: {"level":"info","ts":"2026-05-29T17:38:33.388778Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094178","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:33 np0000094178 etcd[60134]: {"level":"warn","ts":"2026-05-29T17:38:33.388831Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 17:38:33 np0000094178 etcd[60134]: {"level":"fatal","ts":"2026-05-29T17:38:33.388894Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 17:38:33 np0000094178 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 17:38:33 np0000094178 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 17:38:33 np0000094178 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 17:38:33 np0000094178 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 29 17:38:33 np0000094178 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 17:38:33 np0000094178 etcd[60178]: {"level":"warn","ts":"2026-05-29T17:38:33.629316Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:38:33 np0000094178 etcd[60178]: {"level":"info","ts":"2026-05-29T17:38:33.629515Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094178","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094178=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 17:38:33 np0000094178 etcd[60178]: {"level":"warn","ts":"2026-05-29T17:38:33.630724Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:38:33 np0000094178 etcd[60178]: {"level":"info","ts":"2026-05-29T17:38:33.630763Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 17:38:33 np0000094178 etcd[60178]: {"level":"info","ts":"2026-05-29T17:38:33.631284Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:33 np0000094178 etcd[60178]: {"level":"info","ts":"2026-05-29T17:38:33.631448Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094178","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:33 np0000094178 etcd[60178]: {"level":"info","ts":"2026-05-29T17:38:33.631526Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094178","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:33 np0000094178 etcd[60178]: {"level":"warn","ts":"2026-05-29T17:38:33.633712Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 17:38:33 np0000094178 etcd[60178]: {"level":"fatal","ts":"2026-05-29T17:38:33.633826Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 17:38:33 np0000094178 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 17:38:33 np0000094178 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 17:38:33 np0000094178 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 17:38:33 np0000094178 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 29 17:38:33 np0000094178 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 17:38:33 np0000094178 etcd[60198]: {"level":"warn","ts":"2026-05-29T17:38:33.883418Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:38:33 np0000094178 etcd[60198]: {"level":"info","ts":"2026-05-29T17:38:33.884472Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094178","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094178=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 17:38:33 np0000094178 etcd[60198]: {"level":"warn","ts":"2026-05-29T17:38:33.884856Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:38:33 np0000094178 etcd[60198]: {"level":"info","ts":"2026-05-29T17:38:33.884915Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 17:38:33 np0000094178 etcd[60198]: {"level":"info","ts":"2026-05-29T17:38:33.885357Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:33 np0000094178 etcd[60198]: {"level":"info","ts":"2026-05-29T17:38:33.885480Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094178","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:33 np0000094178 etcd[60198]: {"level":"info","ts":"2026-05-29T17:38:33.885551Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094178","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:33 np0000094178 etcd[60198]: {"level":"warn","ts":"2026-05-29T17:38:33.886675Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 17:38:33 np0000094178 etcd[60198]: {"level":"fatal","ts":"2026-05-29T17:38:33.886927Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 17:38:33 np0000094178 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 17:38:33 np0000094178 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 17:38:33 np0000094178 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 17:38:34 np0000094178 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 29 17:38:34 np0000094178 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 29 17:38:34 np0000094178 etcd[60241]: {"level":"warn","ts":"2026-05-29T17:38:34.107522Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:38:34 np0000094178 etcd[60241]: {"level":"info","ts":"2026-05-29T17:38:34.107686Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094178","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094178=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 29 17:38:34 np0000094178 etcd[60241]: {"level":"warn","ts":"2026-05-29T17:38:34.107866Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 29 17:38:34 np0000094178 etcd[60241]: {"level":"info","ts":"2026-05-29T17:38:34.107889Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 29 17:38:34 np0000094178 etcd[60241]: {"level":"info","ts":"2026-05-29T17:38:34.108609Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:34 np0000094178 etcd[60241]: {"level":"info","ts":"2026-05-29T17:38:34.108702Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094178","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:34 np0000094178 etcd[60241]: {"level":"info","ts":"2026-05-29T17:38:34.108760Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094178","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 29 17:38:34 np0000094178 etcd[60241]: {"level":"warn","ts":"2026-05-29T17:38:34.108799Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 29 17:38:34 np0000094178 etcd[60241]: {"level":"fatal","ts":"2026-05-29T17:38:34.108845Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 29 17:38:34 np0000094178 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 29 17:38:34 np0000094178 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 17:38:34 np0000094178 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 29 17:38:34 np0000094178 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 29 17:38:34 np0000094178 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 29 17:38:34 np0000094178 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 29 17:38:34 np0000094178 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
