Jun 03 05:39:16 np0000094220 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 05:39:16 np0000094220 etcd[60082]: {"level":"warn","ts":"2026-06-03T05:39:16.681363Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:39:16 np0000094220 etcd[60082]: {"level":"info","ts":"2026-06-03T05:39:16.681569Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094220","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094220=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 05:39:16 np0000094220 etcd[60082]: {"level":"warn","ts":"2026-06-03T05:39:16.681789Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:39:16 np0000094220 etcd[60082]: {"level":"info","ts":"2026-06-03T05:39:16.681821Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 05:39:16 np0000094220 etcd[60082]: {"level":"info","ts":"2026-06-03T05:39:16.682315Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:16 np0000094220 etcd[60082]: {"level":"info","ts":"2026-06-03T05:39:16.682437Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094220","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:16 np0000094220 etcd[60082]: {"level":"info","ts":"2026-06-03T05:39:16.682495Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094220","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:16 np0000094220 etcd[60082]: {"level":"warn","ts":"2026-06-03T05:39:16.682545Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 05:39:16 np0000094220 etcd[60082]: {"level":"fatal","ts":"2026-06-03T05:39:16.682603Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 05:39:16 np0000094220 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 05:39:16 np0000094220 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 05:39:16 np0000094220 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 05:39:17 np0000094220 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 03 05:39:17 np0000094220 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 05:39:17 np0000094220 etcd[60194]: {"level":"warn","ts":"2026-06-03T05:39:17.083590Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:39:17 np0000094220 etcd[60194]: {"level":"info","ts":"2026-06-03T05:39:17.084682Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094220","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094220=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 05:39:17 np0000094220 etcd[60194]: {"level":"warn","ts":"2026-06-03T05:39:17.084862Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:39:17 np0000094220 etcd[60194]: {"level":"info","ts":"2026-06-03T05:39:17.084892Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 05:39:17 np0000094220 etcd[60194]: {"level":"info","ts":"2026-06-03T05:39:17.085368Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:17 np0000094220 etcd[60194]: {"level":"info","ts":"2026-06-03T05:39:17.085474Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094220","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:17 np0000094220 etcd[60194]: {"level":"info","ts":"2026-06-03T05:39:17.086291Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094220","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:17 np0000094220 etcd[60194]: {"level":"warn","ts":"2026-06-03T05:39:17.086392Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 05:39:17 np0000094220 etcd[60194]: {"level":"fatal","ts":"2026-06-03T05:39:17.086491Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 05:39:17 np0000094220 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 05:39:17 np0000094220 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 05:39:17 np0000094220 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 05:39:17 np0000094220 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 03 05:39:17 np0000094220 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 05:39:17 np0000094220 etcd[60201]: {"level":"warn","ts":"2026-06-03T05:39:17.348094Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:39:17 np0000094220 etcd[60201]: {"level":"info","ts":"2026-06-03T05:39:17.349364Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094220","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094220=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 05:39:17 np0000094220 etcd[60201]: {"level":"warn","ts":"2026-06-03T05:39:17.349605Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:39:17 np0000094220 etcd[60201]: {"level":"info","ts":"2026-06-03T05:39:17.349638Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 05:39:17 np0000094220 etcd[60201]: {"level":"info","ts":"2026-06-03T05:39:17.350077Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:17 np0000094220 etcd[60201]: {"level":"info","ts":"2026-06-03T05:39:17.350244Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094220","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:17 np0000094220 etcd[60201]: {"level":"info","ts":"2026-06-03T05:39:17.350317Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094220","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:17 np0000094220 etcd[60201]: {"level":"warn","ts":"2026-06-03T05:39:17.350366Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 05:39:17 np0000094220 etcd[60201]: {"level":"fatal","ts":"2026-06-03T05:39:17.350430Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 05:39:17 np0000094220 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 05:39:17 np0000094220 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 05:39:17 np0000094220 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 05:39:17 np0000094220 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 03 05:39:17 np0000094220 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 05:39:17 np0000094220 etcd[60212]: {"level":"warn","ts":"2026-06-03T05:39:17.595821Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:39:17 np0000094220 etcd[60212]: {"level":"info","ts":"2026-06-03T05:39:17.596001Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094220","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094220=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 05:39:17 np0000094220 etcd[60212]: {"level":"warn","ts":"2026-06-03T05:39:17.596228Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:39:17 np0000094220 etcd[60212]: {"level":"info","ts":"2026-06-03T05:39:17.596262Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 05:39:17 np0000094220 etcd[60212]: {"level":"info","ts":"2026-06-03T05:39:17.596761Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:17 np0000094220 etcd[60212]: {"level":"info","ts":"2026-06-03T05:39:17.596881Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094220","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:17 np0000094220 etcd[60212]: {"level":"info","ts":"2026-06-03T05:39:17.596967Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094220","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:17 np0000094220 etcd[60212]: {"level":"warn","ts":"2026-06-03T05:39:17.597037Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 05:39:17 np0000094220 etcd[60212]: {"level":"fatal","ts":"2026-06-03T05:39:17.597102Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 05:39:17 np0000094220 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 05:39:17 np0000094220 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 05:39:17 np0000094220 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 05:39:17 np0000094220 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 03 05:39:17 np0000094220 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 03 05:39:17 np0000094220 etcd[60249]: {"level":"warn","ts":"2026-06-03T05:39:17.840070Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:39:17 np0000094220 etcd[60249]: {"level":"info","ts":"2026-06-03T05:39:17.840253Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094220","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094220=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 03 05:39:17 np0000094220 etcd[60249]: {"level":"warn","ts":"2026-06-03T05:39:17.840380Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 03 05:39:17 np0000094220 etcd[60249]: {"level":"info","ts":"2026-06-03T05:39:17.840404Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 03 05:39:17 np0000094220 etcd[60249]: {"level":"info","ts":"2026-06-03T05:39:17.840777Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:17 np0000094220 etcd[60249]: {"level":"info","ts":"2026-06-03T05:39:17.840866Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094220","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:17 np0000094220 etcd[60249]: {"level":"info","ts":"2026-06-03T05:39:17.840927Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094220","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 03 05:39:17 np0000094220 etcd[60249]: {"level":"warn","ts":"2026-06-03T05:39:17.840968Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 03 05:39:17 np0000094220 etcd[60249]: {"level":"fatal","ts":"2026-06-03T05:39:17.841032Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 03 05:39:17 np0000094220 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 03 05:39:17 np0000094220 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 05:39:17 np0000094220 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 03 05:39:18 np0000094220 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 03 05:39:18 np0000094220 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 03 05:39:18 np0000094220 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 03 05:39:18 np0000094220 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
