Apr 14 07:54:55 np0000093939 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 07:54:56 np0000093939 etcd[60211]: {"level":"warn","ts":"2026-04-14T07:54:56.024693Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 07:54:56 np0000093939 etcd[60211]: {"level":"info","ts":"2026-04-14T07:54:56.024940Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093939","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093939=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 07:54:56 np0000093939 etcd[60211]: {"level":"warn","ts":"2026-04-14T07:54:56.025127Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 07:54:56 np0000093939 etcd[60211]: {"level":"info","ts":"2026-04-14T07:54:56.025170Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 07:54:56 np0000093939 etcd[60211]: {"level":"info","ts":"2026-04-14T07:54:56.025661Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60211]: {"level":"info","ts":"2026-04-14T07:54:56.025864Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093939","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60211]: {"level":"info","ts":"2026-04-14T07:54:56.025943Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093939","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60211]: {"level":"warn","ts":"2026-04-14T07:54:56.026003Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 07:54:56 np0000093939 etcd[60211]: {"level":"fatal","ts":"2026-04-14T07:54:56.026064Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 07:54:56 np0000093939 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 14 07:54:56 np0000093939 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 07:54:56 np0000093939 etcd[60259]: {"level":"warn","ts":"2026-04-14T07:54:56.206621Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 07:54:56 np0000093939 etcd[60259]: {"level":"info","ts":"2026-04-14T07:54:56.206705Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093939","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093939=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 07:54:56 np0000093939 etcd[60259]: {"level":"warn","ts":"2026-04-14T07:54:56.206771Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 07:54:56 np0000093939 etcd[60259]: {"level":"info","ts":"2026-04-14T07:54:56.206786Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 07:54:56 np0000093939 etcd[60259]: {"level":"info","ts":"2026-04-14T07:54:56.206982Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60259]: {"level":"info","ts":"2026-04-14T07:54:56.207022Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093939","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60259]: {"level":"info","ts":"2026-04-14T07:54:56.207044Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093939","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60259]: {"level":"warn","ts":"2026-04-14T07:54:56.207061Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 07:54:56 np0000093939 etcd[60259]: {"level":"fatal","ts":"2026-04-14T07:54:56.207089Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 07:54:56 np0000093939 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 14 07:54:56 np0000093939 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 07:54:56 np0000093939 etcd[60330]: {"level":"warn","ts":"2026-04-14T07:54:56.477547Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 07:54:56 np0000093939 etcd[60330]: {"level":"info","ts":"2026-04-14T07:54:56.477729Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093939","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093939=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 07:54:56 np0000093939 etcd[60330]: {"level":"warn","ts":"2026-04-14T07:54:56.477924Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 07:54:56 np0000093939 etcd[60330]: {"level":"info","ts":"2026-04-14T07:54:56.477957Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 07:54:56 np0000093939 etcd[60330]: {"level":"info","ts":"2026-04-14T07:54:56.478462Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60330]: {"level":"info","ts":"2026-04-14T07:54:56.478584Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093939","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60330]: {"level":"info","ts":"2026-04-14T07:54:56.478667Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093939","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60330]: {"level":"warn","ts":"2026-04-14T07:54:56.478725Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 07:54:56 np0000093939 etcd[60330]: {"level":"fatal","ts":"2026-04-14T07:54:56.478791Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 07:54:56 np0000093939 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 14 07:54:56 np0000093939 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 07:54:56 np0000093939 etcd[60350]: {"level":"warn","ts":"2026-04-14T07:54:56.734528Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 07:54:56 np0000093939 etcd[60350]: {"level":"info","ts":"2026-04-14T07:54:56.734710Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093939","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093939=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 07:54:56 np0000093939 etcd[60350]: {"level":"warn","ts":"2026-04-14T07:54:56.734958Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 07:54:56 np0000093939 etcd[60350]: {"level":"info","ts":"2026-04-14T07:54:56.734994Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 07:54:56 np0000093939 etcd[60350]: {"level":"info","ts":"2026-04-14T07:54:56.735529Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60350]: {"level":"info","ts":"2026-04-14T07:54:56.735781Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093939","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60350]: {"level":"info","ts":"2026-04-14T07:54:56.735947Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093939","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60350]: {"level":"warn","ts":"2026-04-14T07:54:56.736058Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 07:54:56 np0000093939 etcd[60350]: {"level":"fatal","ts":"2026-04-14T07:54:56.736216Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 07:54:56 np0000093939 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 14 07:54:56 np0000093939 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 14 07:54:56 np0000093939 etcd[60388]: {"level":"warn","ts":"2026-04-14T07:54:56.986112Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 07:54:56 np0000093939 etcd[60388]: {"level":"info","ts":"2026-04-14T07:54:56.986319Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000093939","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000093939=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 14 07:54:56 np0000093939 etcd[60388]: {"level":"warn","ts":"2026-04-14T07:54:56.986529Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 14 07:54:56 np0000093939 etcd[60388]: {"level":"info","ts":"2026-04-14T07:54:56.986564Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 14 07:54:56 np0000093939 etcd[60388]: {"level":"info","ts":"2026-04-14T07:54:56.987090Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60388]: {"level":"info","ts":"2026-04-14T07:54:56.987215Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000093939","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60388]: {"level":"info","ts":"2026-04-14T07:54:56.987299Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000093939","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 14 07:54:56 np0000093939 etcd[60388]: {"level":"warn","ts":"2026-04-14T07:54:56.987364Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 14 07:54:56 np0000093939 etcd[60388]: {"level":"fatal","ts":"2026-04-14T07:54:56.987452Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 14 07:54:56 np0000093939 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 07:54:56 np0000093939 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 14 07:54:57 np0000093939 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 14 07:54:57 np0000093939 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 14 07:54:57 np0000093939 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 14 07:54:57 np0000093939 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
