Apr 23 19:23:36 np0000094055 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 19:23:36 np0000094055 etcd[60184]: {"level":"warn","ts":"2026-04-23T19:23:36.063343Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 19:23:36 np0000094055 etcd[60184]: {"level":"info","ts":"2026-04-23T19:23:36.063453Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094055","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094055=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 19:23:36 np0000094055 etcd[60184]: {"level":"warn","ts":"2026-04-23T19:23:36.063584Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 19:23:36 np0000094055 etcd[60184]: {"level":"info","ts":"2026-04-23T19:23:36.063609Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 19:23:36 np0000094055 etcd[60184]: {"level":"info","ts":"2026-04-23T19:23:36.064132Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:36 np0000094055 etcd[60184]: {"level":"info","ts":"2026-04-23T19:23:36.064244Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094055","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:36 np0000094055 etcd[60184]: {"level":"info","ts":"2026-04-23T19:23:36.064296Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094055","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:36 np0000094055 etcd[60184]: {"level":"warn","ts":"2026-04-23T19:23:36.064330Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 19:23:36 np0000094055 etcd[60184]: {"level":"fatal","ts":"2026-04-23T19:23:36.064371Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 19:23:36 np0000094055 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 19:23:36 np0000094055 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 19:23:36 np0000094055 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 19:23:36 np0000094055 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 23 19:23:36 np0000094055 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 19:23:36 np0000094055 etcd[60256]: {"level":"warn","ts":"2026-04-23T19:23:36.314089Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 19:23:36 np0000094055 etcd[60256]: {"level":"info","ts":"2026-04-23T19:23:36.314223Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094055","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094055=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 19:23:36 np0000094055 etcd[60256]: {"level":"warn","ts":"2026-04-23T19:23:36.314370Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 19:23:36 np0000094055 etcd[60256]: {"level":"info","ts":"2026-04-23T19:23:36.314395Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 19:23:36 np0000094055 etcd[60256]: {"level":"info","ts":"2026-04-23T19:23:36.314823Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:36 np0000094055 etcd[60256]: {"level":"info","ts":"2026-04-23T19:23:36.314918Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094055","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:36 np0000094055 etcd[60256]: {"level":"info","ts":"2026-04-23T19:23:36.314979Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094055","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:36 np0000094055 etcd[60256]: {"level":"warn","ts":"2026-04-23T19:23:36.315021Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 19:23:36 np0000094055 etcd[60256]: {"level":"fatal","ts":"2026-04-23T19:23:36.315075Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 19:23:36 np0000094055 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 19:23:36 np0000094055 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 19:23:36 np0000094055 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 19:23:36 np0000094055 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 23 19:23:36 np0000094055 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 19:23:36 np0000094055 etcd[60305]: {"level":"warn","ts":"2026-04-23T19:23:36.572078Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 19:23:36 np0000094055 etcd[60305]: {"level":"info","ts":"2026-04-23T19:23:36.572252Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094055","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094055=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 19:23:36 np0000094055 etcd[60305]: {"level":"warn","ts":"2026-04-23T19:23:36.572465Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 19:23:36 np0000094055 etcd[60305]: {"level":"info","ts":"2026-04-23T19:23:36.572516Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 19:23:36 np0000094055 etcd[60305]: {"level":"info","ts":"2026-04-23T19:23:36.573052Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:36 np0000094055 etcd[60305]: {"level":"info","ts":"2026-04-23T19:23:36.573173Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094055","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:36 np0000094055 etcd[60305]: {"level":"info","ts":"2026-04-23T19:23:36.573254Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094055","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:36 np0000094055 etcd[60305]: {"level":"warn","ts":"2026-04-23T19:23:36.573310Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 19:23:36 np0000094055 etcd[60305]: {"level":"fatal","ts":"2026-04-23T19:23:36.573376Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 19:23:36 np0000094055 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 19:23:36 np0000094055 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 19:23:36 np0000094055 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 19:23:36 np0000094055 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 23 19:23:36 np0000094055 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 19:23:36 np0000094055 etcd[60325]: {"level":"warn","ts":"2026-04-23T19:23:36.814779Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 19:23:36 np0000094055 etcd[60325]: {"level":"info","ts":"2026-04-23T19:23:36.814927Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094055","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094055=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 19:23:36 np0000094055 etcd[60325]: {"level":"warn","ts":"2026-04-23T19:23:36.815068Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 19:23:36 np0000094055 etcd[60325]: {"level":"info","ts":"2026-04-23T19:23:36.815092Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 19:23:36 np0000094055 etcd[60325]: {"level":"info","ts":"2026-04-23T19:23:36.815462Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:36 np0000094055 etcd[60325]: {"level":"info","ts":"2026-04-23T19:23:36.815583Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094055","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:36 np0000094055 etcd[60325]: {"level":"info","ts":"2026-04-23T19:23:36.815652Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094055","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:36 np0000094055 etcd[60325]: {"level":"warn","ts":"2026-04-23T19:23:36.815700Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 19:23:36 np0000094055 etcd[60325]: {"level":"fatal","ts":"2026-04-23T19:23:36.815798Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 19:23:36 np0000094055 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 19:23:36 np0000094055 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 19:23:36 np0000094055 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 19:23:37 np0000094055 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 23 19:23:37 np0000094055 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 19:23:37 np0000094055 etcd[60363]: {"level":"warn","ts":"2026-04-23T19:23:37.061524Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 19:23:37 np0000094055 etcd[60363]: {"level":"info","ts":"2026-04-23T19:23:37.061703Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094055","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094055=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 19:23:37 np0000094055 etcd[60363]: {"level":"warn","ts":"2026-04-23T19:23:37.061915Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 19:23:37 np0000094055 etcd[60363]: {"level":"info","ts":"2026-04-23T19:23:37.061947Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 19:23:37 np0000094055 etcd[60363]: {"level":"info","ts":"2026-04-23T19:23:37.062381Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:37 np0000094055 etcd[60363]: {"level":"info","ts":"2026-04-23T19:23:37.062844Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094055","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:37 np0000094055 etcd[60363]: {"level":"info","ts":"2026-04-23T19:23:37.062968Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094055","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 19:23:37 np0000094055 etcd[60363]: {"level":"warn","ts":"2026-04-23T19:23:37.063065Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 19:23:37 np0000094055 etcd[60363]: {"level":"fatal","ts":"2026-04-23T19:23:37.063133Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 19:23:37 np0000094055 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 19:23:37 np0000094055 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 19:23:37 np0000094055 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 19:23:37 np0000094055 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 23 19:23:37 np0000094055 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 23 19:23:37 np0000094055 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 19:23:37 np0000094055 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
