Apr 23 23:52:21 np0000094063 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:52:21 np0000094063 etcd[60264]: {"level":"warn","ts":"2026-04-23T23:52:21.491221Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:52:21 np0000094063 etcd[60264]: {"level":"info","ts":"2026-04-23T23:52:21.491418Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094063","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094063=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:52:21 np0000094063 etcd[60264]: {"level":"warn","ts":"2026-04-23T23:52:21.491618Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:52:21 np0000094063 etcd[60264]: {"level":"info","ts":"2026-04-23T23:52:21.491651Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:52:21 np0000094063 etcd[60264]: {"level":"info","ts":"2026-04-23T23:52:21.492148Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:21 np0000094063 etcd[60264]: {"level":"info","ts":"2026-04-23T23:52:21.492292Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094063","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:21 np0000094063 etcd[60264]: {"level":"info","ts":"2026-04-23T23:52:21.492405Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094063","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:21 np0000094063 etcd[60264]: {"level":"warn","ts":"2026-04-23T23:52:21.492460Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:52:21 np0000094063 etcd[60264]: {"level":"fatal","ts":"2026-04-23T23:52:21.492541Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:52:21 np0000094063 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:52:21 np0000094063 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:52:21 np0000094063 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:52:21 np0000094063 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 23 23:52:21 np0000094063 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:52:21 np0000094063 etcd[60317]: {"level":"warn","ts":"2026-04-23T23:52:21.741410Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:52:21 np0000094063 etcd[60317]: {"level":"info","ts":"2026-04-23T23:52:21.741566Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094063","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094063=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:52:21 np0000094063 etcd[60317]: {"level":"warn","ts":"2026-04-23T23:52:21.741714Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:52:21 np0000094063 etcd[60317]: {"level":"info","ts":"2026-04-23T23:52:21.741748Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:52:21 np0000094063 etcd[60317]: {"level":"info","ts":"2026-04-23T23:52:21.742203Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:21 np0000094063 etcd[60317]: {"level":"info","ts":"2026-04-23T23:52:21.742431Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094063","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:21 np0000094063 etcd[60317]: {"level":"info","ts":"2026-04-23T23:52:21.742517Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094063","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:21 np0000094063 etcd[60317]: {"level":"warn","ts":"2026-04-23T23:52:21.742566Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:52:21 np0000094063 etcd[60317]: {"level":"fatal","ts":"2026-04-23T23:52:21.742625Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:52:21 np0000094063 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:52:21 np0000094063 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:52:21 np0000094063 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:52:21 np0000094063 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 23 23:52:21 np0000094063 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:52:21 np0000094063 etcd[60384]: {"level":"warn","ts":"2026-04-23T23:52:21.976673Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:52:21 np0000094063 etcd[60384]: {"level":"info","ts":"2026-04-23T23:52:21.976878Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094063","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094063=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:52:21 np0000094063 etcd[60384]: {"level":"warn","ts":"2026-04-23T23:52:21.977038Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:52:21 np0000094063 etcd[60384]: {"level":"info","ts":"2026-04-23T23:52:21.977070Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:52:21 np0000094063 etcd[60384]: {"level":"info","ts":"2026-04-23T23:52:21.977584Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:21 np0000094063 etcd[60384]: {"level":"info","ts":"2026-04-23T23:52:21.977708Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094063","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:21 np0000094063 etcd[60384]: {"level":"info","ts":"2026-04-23T23:52:21.977797Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094063","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:21 np0000094063 etcd[60384]: {"level":"warn","ts":"2026-04-23T23:52:21.977910Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:52:21 np0000094063 etcd[60384]: {"level":"fatal","ts":"2026-04-23T23:52:21.978053Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:52:21 np0000094063 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:52:21 np0000094063 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:52:21 np0000094063 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:52:22 np0000094063 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 23 23:52:22 np0000094063 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:52:22 np0000094063 etcd[60391]: {"level":"warn","ts":"2026-04-23T23:52:22.229507Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:52:22 np0000094063 etcd[60391]: {"level":"info","ts":"2026-04-23T23:52:22.229682Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094063","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094063=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:52:22 np0000094063 etcd[60391]: {"level":"warn","ts":"2026-04-23T23:52:22.229885Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:52:22 np0000094063 etcd[60391]: {"level":"info","ts":"2026-04-23T23:52:22.229918Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:52:22 np0000094063 etcd[60391]: {"level":"info","ts":"2026-04-23T23:52:22.230449Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:22 np0000094063 etcd[60391]: {"level":"info","ts":"2026-04-23T23:52:22.230574Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094063","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:22 np0000094063 etcd[60391]: {"level":"info","ts":"2026-04-23T23:52:22.230657Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094063","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:22 np0000094063 etcd[60391]: {"level":"warn","ts":"2026-04-23T23:52:22.230714Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:52:22 np0000094063 etcd[60391]: {"level":"fatal","ts":"2026-04-23T23:52:22.230779Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:52:22 np0000094063 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:52:22 np0000094063 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:52:22 np0000094063 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:52:22 np0000094063 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 23 23:52:22 np0000094063 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 23:52:22 np0000094063 etcd[60432]: {"level":"warn","ts":"2026-04-23T23:52:22.477714Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:52:22 np0000094063 etcd[60432]: {"level":"info","ts":"2026-04-23T23:52:22.477909Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094063","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094063=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 23:52:22 np0000094063 etcd[60432]: {"level":"warn","ts":"2026-04-23T23:52:22.478082Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 23:52:22 np0000094063 etcd[60432]: {"level":"info","ts":"2026-04-23T23:52:22.478122Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 23:52:22 np0000094063 etcd[60432]: {"level":"info","ts":"2026-04-23T23:52:22.479962Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:22 np0000094063 etcd[60432]: {"level":"info","ts":"2026-04-23T23:52:22.480406Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094063","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:22 np0000094063 etcd[60432]: {"level":"info","ts":"2026-04-23T23:52:22.480474Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094063","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 23:52:22 np0000094063 etcd[60432]: {"level":"warn","ts":"2026-04-23T23:52:22.480496Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 23:52:22 np0000094063 etcd[60432]: {"level":"fatal","ts":"2026-04-23T23:52:22.480541Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 23:52:22 np0000094063 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 23:52:22 np0000094063 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:52:22 np0000094063 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 23:52:22 np0000094063 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 23 23:52:22 np0000094063 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 23 23:52:22 np0000094063 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 23:52:22 np0000094063 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
