Apr 23 21:25:08 np0000094058 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 21:25:08 np0000094058 etcd[60674]: {"level":"warn","ts":"2026-04-23T21:25:08.490609Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 21:25:08 np0000094058 etcd[60674]: {"level":"info","ts":"2026-04-23T21:25:08.490875Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094058","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094058=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 21:25:08 np0000094058 etcd[60674]: {"level":"warn","ts":"2026-04-23T21:25:08.491048Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 21:25:08 np0000094058 etcd[60674]: {"level":"info","ts":"2026-04-23T21:25:08.491076Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 21:25:08 np0000094058 etcd[60674]: {"level":"info","ts":"2026-04-23T21:25:08.491510Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:08 np0000094058 etcd[60674]: {"level":"info","ts":"2026-04-23T21:25:08.491614Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094058","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:08 np0000094058 etcd[60674]: {"level":"info","ts":"2026-04-23T21:25:08.491756Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094058","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:08 np0000094058 etcd[60674]: {"level":"warn","ts":"2026-04-23T21:25:08.491810Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 21:25:08 np0000094058 etcd[60674]: {"level":"fatal","ts":"2026-04-23T21:25:08.491869Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 21:25:08 np0000094058 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 21:25:08 np0000094058 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 21:25:08 np0000094058 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 21:25:08 np0000094058 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Apr 23 21:25:08 np0000094058 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 21:25:08 np0000094058 etcd[60736]: {"level":"warn","ts":"2026-04-23T21:25:08.734672Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 21:25:08 np0000094058 etcd[60736]: {"level":"info","ts":"2026-04-23T21:25:08.734826Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094058","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094058=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 21:25:08 np0000094058 etcd[60736]: {"level":"warn","ts":"2026-04-23T21:25:08.734956Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 21:25:08 np0000094058 etcd[60736]: {"level":"info","ts":"2026-04-23T21:25:08.734986Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 21:25:08 np0000094058 etcd[60736]: {"level":"info","ts":"2026-04-23T21:25:08.735367Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:08 np0000094058 etcd[60736]: {"level":"info","ts":"2026-04-23T21:25:08.735457Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094058","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:08 np0000094058 etcd[60736]: {"level":"info","ts":"2026-04-23T21:25:08.735520Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094058","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:08 np0000094058 etcd[60736]: {"level":"warn","ts":"2026-04-23T21:25:08.735570Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 21:25:08 np0000094058 etcd[60736]: {"level":"fatal","ts":"2026-04-23T21:25:08.735619Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 21:25:08 np0000094058 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 21:25:08 np0000094058 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 21:25:08 np0000094058 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 21:25:08 np0000094058 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Apr 23 21:25:08 np0000094058 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 21:25:09 np0000094058 etcd[60794]: {"level":"warn","ts":"2026-04-23T21:25:09.000203Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 21:25:09 np0000094058 etcd[60794]: {"level":"info","ts":"2026-04-23T21:25:09.000395Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094058","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094058=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 21:25:09 np0000094058 etcd[60794]: {"level":"warn","ts":"2026-04-23T21:25:09.000578Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 21:25:09 np0000094058 etcd[60794]: {"level":"info","ts":"2026-04-23T21:25:09.000656Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 21:25:09 np0000094058 etcd[60794]: {"level":"info","ts":"2026-04-23T21:25:09.001133Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:09 np0000094058 etcd[60794]: {"level":"info","ts":"2026-04-23T21:25:09.001273Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094058","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:09 np0000094058 etcd[60794]: {"level":"info","ts":"2026-04-23T21:25:09.001360Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094058","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:09 np0000094058 etcd[60794]: {"level":"warn","ts":"2026-04-23T21:25:09.001416Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 21:25:09 np0000094058 etcd[60794]: {"level":"fatal","ts":"2026-04-23T21:25:09.001487Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 21:25:09 np0000094058 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 21:25:09 np0000094058 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 21:25:09 np0000094058 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 21:25:09 np0000094058 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Apr 23 21:25:09 np0000094058 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 21:25:09 np0000094058 etcd[60802]: {"level":"warn","ts":"2026-04-23T21:25:09.240786Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 21:25:09 np0000094058 etcd[60802]: {"level":"info","ts":"2026-04-23T21:25:09.241001Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094058","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094058=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 21:25:09 np0000094058 etcd[60802]: {"level":"warn","ts":"2026-04-23T21:25:09.241182Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 21:25:09 np0000094058 etcd[60802]: {"level":"info","ts":"2026-04-23T21:25:09.241223Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 21:25:09 np0000094058 etcd[60802]: {"level":"info","ts":"2026-04-23T21:25:09.241748Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:09 np0000094058 etcd[60802]: {"level":"info","ts":"2026-04-23T21:25:09.241893Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094058","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:09 np0000094058 etcd[60802]: {"level":"info","ts":"2026-04-23T21:25:09.241980Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094058","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:09 np0000094058 etcd[60802]: {"level":"warn","ts":"2026-04-23T21:25:09.242040Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 21:25:09 np0000094058 etcd[60802]: {"level":"fatal","ts":"2026-04-23T21:25:09.242107Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 21:25:09 np0000094058 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 21:25:09 np0000094058 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 21:25:09 np0000094058 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 21:25:09 np0000094058 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Apr 23 21:25:09 np0000094058 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Apr 23 21:25:09 np0000094058 etcd[60836]: {"level":"warn","ts":"2026-04-23T21:25:09.496387Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 21:25:09 np0000094058 etcd[60836]: {"level":"info","ts":"2026-04-23T21:25:09.496552Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094058","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094058=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Apr 23 21:25:09 np0000094058 etcd[60836]: {"level":"warn","ts":"2026-04-23T21:25:09.496776Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Apr 23 21:25:09 np0000094058 etcd[60836]: {"level":"info","ts":"2026-04-23T21:25:09.496808Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Apr 23 21:25:09 np0000094058 etcd[60836]: {"level":"info","ts":"2026-04-23T21:25:09.497235Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:09 np0000094058 etcd[60836]: {"level":"info","ts":"2026-04-23T21:25:09.497338Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094058","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:09 np0000094058 etcd[60836]: {"level":"info","ts":"2026-04-23T21:25:09.497409Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094058","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Apr 23 21:25:09 np0000094058 etcd[60836]: {"level":"warn","ts":"2026-04-23T21:25:09.497457Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Apr 23 21:25:09 np0000094058 etcd[60836]: {"level":"fatal","ts":"2026-04-23T21:25:09.497529Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Apr 23 21:25:09 np0000094058 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Apr 23 21:25:09 np0000094058 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 21:25:09 np0000094058 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Apr 23 21:25:09 np0000094058 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Apr 23 21:25:09 np0000094058 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Apr 23 21:25:09 np0000094058 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Apr 23 21:25:09 np0000094058 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
