May 20 07:26:32 np0000094139 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 07:26:32 np0000094139 etcd[60849]: {"level":"warn","ts":"2026-05-20T07:26:32.129723Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 07:26:32 np0000094139 etcd[60849]: {"level":"info","ts":"2026-05-20T07:26:32.129913Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094139","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094139=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 07:26:32 np0000094139 etcd[60849]: {"level":"warn","ts":"2026-05-20T07:26:32.130186Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 07:26:32 np0000094139 etcd[60849]: {"level":"info","ts":"2026-05-20T07:26:32.130221Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 07:26:32 np0000094139 etcd[60849]: {"level":"info","ts":"2026-05-20T07:26:32.131903Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:32 np0000094139 etcd[60849]: {"level":"info","ts":"2026-05-20T07:26:32.132043Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094139","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:32 np0000094139 etcd[60849]: {"level":"info","ts":"2026-05-20T07:26:32.132151Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094139","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:32 np0000094139 etcd[60849]: {"level":"warn","ts":"2026-05-20T07:26:32.132219Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 07:26:32 np0000094139 etcd[60849]: {"level":"fatal","ts":"2026-05-20T07:26:32.132287Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 07:26:32 np0000094139 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 07:26:32 np0000094139 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 07:26:32 np0000094139 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 07:26:32 np0000094139 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
May 20 07:26:32 np0000094139 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 07:26:32 np0000094139 etcd[60899]: {"level":"warn","ts":"2026-05-20T07:26:32.349009Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 07:26:32 np0000094139 etcd[60899]: {"level":"info","ts":"2026-05-20T07:26:32.349208Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094139","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094139=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 07:26:32 np0000094139 etcd[60899]: {"level":"warn","ts":"2026-05-20T07:26:32.349414Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 07:26:32 np0000094139 etcd[60899]: {"level":"info","ts":"2026-05-20T07:26:32.349448Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 07:26:32 np0000094139 etcd[60899]: {"level":"info","ts":"2026-05-20T07:26:32.349883Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:32 np0000094139 etcd[60899]: {"level":"info","ts":"2026-05-20T07:26:32.350005Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094139","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:32 np0000094139 etcd[60899]: {"level":"info","ts":"2026-05-20T07:26:32.350112Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094139","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:32 np0000094139 etcd[60899]: {"level":"warn","ts":"2026-05-20T07:26:32.350172Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 07:26:32 np0000094139 etcd[60899]: {"level":"fatal","ts":"2026-05-20T07:26:32.350258Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 07:26:32 np0000094139 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 07:26:32 np0000094139 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 07:26:32 np0000094139 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 07:26:32 np0000094139 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
May 20 07:26:32 np0000094139 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 07:26:32 np0000094139 etcd[60971]: {"level":"warn","ts":"2026-05-20T07:26:32.600284Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 07:26:32 np0000094139 etcd[60971]: {"level":"info","ts":"2026-05-20T07:26:32.600496Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094139","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094139=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 07:26:32 np0000094139 etcd[60971]: {"level":"warn","ts":"2026-05-20T07:26:32.600694Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 07:26:32 np0000094139 etcd[60971]: {"level":"info","ts":"2026-05-20T07:26:32.600726Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 07:26:32 np0000094139 etcd[60971]: {"level":"info","ts":"2026-05-20T07:26:32.601242Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:32 np0000094139 etcd[60971]: {"level":"info","ts":"2026-05-20T07:26:32.601402Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094139","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:32 np0000094139 etcd[60971]: {"level":"info","ts":"2026-05-20T07:26:32.601492Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094139","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:32 np0000094139 etcd[60971]: {"level":"warn","ts":"2026-05-20T07:26:32.601571Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 07:26:32 np0000094139 etcd[60971]: {"level":"fatal","ts":"2026-05-20T07:26:32.601636Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 07:26:32 np0000094139 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 07:26:32 np0000094139 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 07:26:32 np0000094139 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 07:26:32 np0000094139 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
May 20 07:26:32 np0000094139 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 07:26:32 np0000094139 etcd[60979]: {"level":"warn","ts":"2026-05-20T07:26:32.834128Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 07:26:32 np0000094139 etcd[60979]: {"level":"info","ts":"2026-05-20T07:26:32.834363Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094139","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094139=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 07:26:32 np0000094139 etcd[60979]: {"level":"warn","ts":"2026-05-20T07:26:32.834553Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 07:26:32 np0000094139 etcd[60979]: {"level":"info","ts":"2026-05-20T07:26:32.834585Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 07:26:32 np0000094139 etcd[60979]: {"level":"info","ts":"2026-05-20T07:26:32.835122Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:32 np0000094139 etcd[60979]: {"level":"info","ts":"2026-05-20T07:26:32.835246Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094139","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:32 np0000094139 etcd[60979]: {"level":"info","ts":"2026-05-20T07:26:32.835401Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094139","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:32 np0000094139 etcd[60979]: {"level":"warn","ts":"2026-05-20T07:26:32.835531Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 07:26:32 np0000094139 etcd[60979]: {"level":"fatal","ts":"2026-05-20T07:26:32.835613Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 07:26:32 np0000094139 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 07:26:32 np0000094139 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 07:26:32 np0000094139 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 07:26:33 np0000094139 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
May 20 07:26:33 np0000094139 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
May 20 07:26:33 np0000094139 etcd[61011]: {"level":"warn","ts":"2026-05-20T07:26:33.056545Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 07:26:33 np0000094139 etcd[61011]: {"level":"info","ts":"2026-05-20T07:26:33.056629Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094139","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094139=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
May 20 07:26:33 np0000094139 etcd[61011]: {"level":"warn","ts":"2026-05-20T07:26:33.056699Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
May 20 07:26:33 np0000094139 etcd[61011]: {"level":"info","ts":"2026-05-20T07:26:33.056711Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
May 20 07:26:33 np0000094139 etcd[61011]: {"level":"info","ts":"2026-05-20T07:26:33.056944Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:33 np0000094139 etcd[61011]: {"level":"info","ts":"2026-05-20T07:26:33.056991Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094139","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:33 np0000094139 etcd[61011]: {"level":"info","ts":"2026-05-20T07:26:33.057026Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094139","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
May 20 07:26:33 np0000094139 etcd[61011]: {"level":"warn","ts":"2026-05-20T07:26:33.057047Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
May 20 07:26:33 np0000094139 etcd[61011]: {"level":"fatal","ts":"2026-05-20T07:26:33.057080Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
May 20 07:26:33 np0000094139 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
May 20 07:26:33 np0000094139 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 07:26:33 np0000094139 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
May 20 07:26:33 np0000094139 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
May 20 07:26:33 np0000094139 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
May 20 07:26:33 np0000094139 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
May 20 07:26:33 np0000094139 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
