Jun 24 07:32:32 np0000094454 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 07:32:32 np0000094454 etcd[61427]: {"level":"warn","ts":"2026-06-24T07:32:32.719887Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 07:32:32 np0000094454 etcd[61427]: {"level":"info","ts":"2026-06-24T07:32:32.719985Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094454","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094454=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 07:32:32 np0000094454 etcd[61427]: {"level":"warn","ts":"2026-06-24T07:32:32.720077Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 07:32:32 np0000094454 etcd[61427]: {"level":"info","ts":"2026-06-24T07:32:32.720103Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 07:32:32 np0000094454 etcd[61427]: {"level":"info","ts":"2026-06-24T07:32:32.720376Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:32 np0000094454 etcd[61427]: {"level":"info","ts":"2026-06-24T07:32:32.720454Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094454","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:32 np0000094454 etcd[61427]: {"level":"info","ts":"2026-06-24T07:32:32.720499Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094454","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:32 np0000094454 etcd[61427]: {"level":"warn","ts":"2026-06-24T07:32:32.720530Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 07:32:32 np0000094454 etcd[61427]: {"level":"fatal","ts":"2026-06-24T07:32:32.720574Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 07:32:32 np0000094454 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 07:32:32 np0000094454 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 07:32:32 np0000094454 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 07:32:32 np0000094454 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Jun 24 07:32:32 np0000094454 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 07:32:32 np0000094454 etcd[61486]: {"level":"warn","ts":"2026-06-24T07:32:32.968517Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 07:32:32 np0000094454 etcd[61486]: {"level":"info","ts":"2026-06-24T07:32:32.968694Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094454","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094454=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 07:32:32 np0000094454 etcd[61486]: {"level":"warn","ts":"2026-06-24T07:32:32.968843Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 07:32:32 np0000094454 etcd[61486]: {"level":"info","ts":"2026-06-24T07:32:32.968870Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 07:32:32 np0000094454 etcd[61486]: {"level":"info","ts":"2026-06-24T07:32:32.969290Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:32 np0000094454 etcd[61486]: {"level":"info","ts":"2026-06-24T07:32:32.969397Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094454","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:32 np0000094454 etcd[61486]: {"level":"info","ts":"2026-06-24T07:32:32.969484Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094454","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:32 np0000094454 etcd[61486]: {"level":"warn","ts":"2026-06-24T07:32:32.969536Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 07:32:32 np0000094454 etcd[61486]: {"level":"fatal","ts":"2026-06-24T07:32:32.969592Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 07:32:32 np0000094454 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 07:32:32 np0000094454 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 07:32:32 np0000094454 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 07:32:33 np0000094454 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Jun 24 07:32:33 np0000094454 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 07:32:33 np0000094454 etcd[61548]: {"level":"warn","ts":"2026-06-24T07:32:33.188020Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 07:32:33 np0000094454 etcd[61548]: {"level":"info","ts":"2026-06-24T07:32:33.188118Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094454","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094454=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 07:32:33 np0000094454 etcd[61548]: {"level":"warn","ts":"2026-06-24T07:32:33.188211Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 07:32:33 np0000094454 etcd[61548]: {"level":"info","ts":"2026-06-24T07:32:33.188232Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 07:32:33 np0000094454 etcd[61548]: {"level":"info","ts":"2026-06-24T07:32:33.188542Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:33 np0000094454 etcd[61548]: {"level":"info","ts":"2026-06-24T07:32:33.188605Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094454","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:33 np0000094454 etcd[61548]: {"level":"info","ts":"2026-06-24T07:32:33.188649Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094454","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:33 np0000094454 etcd[61548]: {"level":"warn","ts":"2026-06-24T07:32:33.188677Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 07:32:33 np0000094454 etcd[61548]: {"level":"fatal","ts":"2026-06-24T07:32:33.188711Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 07:32:33 np0000094454 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 07:32:33 np0000094454 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 07:32:33 np0000094454 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 07:32:33 np0000094454 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Jun 24 07:32:33 np0000094454 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 07:32:33 np0000094454 etcd[61556]: {"level":"warn","ts":"2026-06-24T07:32:33.466198Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 07:32:33 np0000094454 etcd[61556]: {"level":"info","ts":"2026-06-24T07:32:33.466485Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094454","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094454=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 07:32:33 np0000094454 etcd[61556]: {"level":"warn","ts":"2026-06-24T07:32:33.466677Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 07:32:33 np0000094454 etcd[61556]: {"level":"info","ts":"2026-06-24T07:32:33.466711Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 07:32:33 np0000094454 etcd[61556]: {"level":"info","ts":"2026-06-24T07:32:33.467199Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:33 np0000094454 etcd[61556]: {"level":"info","ts":"2026-06-24T07:32:33.467375Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094454","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:33 np0000094454 etcd[61556]: {"level":"info","ts":"2026-06-24T07:32:33.467480Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094454","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:33 np0000094454 etcd[61556]: {"level":"warn","ts":"2026-06-24T07:32:33.467541Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 07:32:33 np0000094454 etcd[61556]: {"level":"fatal","ts":"2026-06-24T07:32:33.467609Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 07:32:33 np0000094454 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 07:32:33 np0000094454 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 07:32:33 np0000094454 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 07:32:33 np0000094454 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Jun 24 07:32:33 np0000094454 systemd[1]: Starting devstack@etcd.service - Devstack devstack@etcd.service...
Jun 24 07:32:33 np0000094454 etcd[61583]: {"level":"warn","ts":"2026-06-24T07:32:33.719079Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 07:32:33 np0000094454 etcd[61583]: {"level":"info","ts":"2026-06-24T07:32:33.720254Z","caller":"etcdmain/etcd.go:73","msg":"Running: ","args":["/opt/stack/bin/etcd","--name","np0000094454","--data-dir","/opt/stack/data/etcd","--initial-cluster-state","new","--initial-cluster-token","etcd-cluster-01","--initial-cluster","np0000094454=http://10.132.44.205:2380","--initial-advertise-peer-urls","http://10.132.44.205:2380","--advertise-client-urls","http://10.132.44.205:2379","--listen-peer-urls","http://0.0.0.0:2380","--listen-client-urls","http://10.132.44.205:2379","--log-level=debug"]}
Jun 24 07:32:33 np0000094454 etcd[61583]: {"level":"warn","ts":"2026-06-24T07:32:33.720527Z","caller":"embed/config.go:689","msg":"Running http and grpc server on single port. This is not recommended for production."}
Jun 24 07:32:33 np0000094454 etcd[61583]: {"level":"info","ts":"2026-06-24T07:32:33.720576Z","caller":"embed/etcd.go:140","msg":"configuring peer listeners","listen-peer-urls":["http://0.0.0.0:2380"]}
Jun 24 07:32:33 np0000094454 etcd[61583]: {"level":"info","ts":"2026-06-24T07:32:33.721216Z","caller":"embed/etcd.go:148","msg":"configuring client listeners","listen-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:33 np0000094454 etcd[61583]: {"level":"info","ts":"2026-06-24T07:32:33.722076Z","caller":"embed/etcd.go:408","msg":"closing etcd server","name":"np0000094454","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:33 np0000094454 etcd[61583]: {"level":"info","ts":"2026-06-24T07:32:33.722176Z","caller":"embed/etcd.go:410","msg":"closed etcd server","name":"np0000094454","data-dir":"/opt/stack/data/etcd","advertise-peer-urls":["http://10.132.44.205:2380"],"advertise-client-urls":["http://10.132.44.205:2379"]}
Jun 24 07:32:33 np0000094454 etcd[61583]: {"level":"warn","ts":"2026-06-24T07:32:33.722241Z","caller":"etcdmain/etcd.go:146","msg":"failed to start etcd","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address"}
Jun 24 07:32:33 np0000094454 etcd[61583]: {"level":"fatal","ts":"2026-06-24T07:32:33.722350Z","caller":"etcdmain/etcd.go:204","msg":"discovery failed","error":"listen tcp 10.132.44.205:2379: bind: cannot assign requested address","stacktrace":"go.etcd.io/etcd/server/v3/etcdmain.startEtcdOrProxyV2\n\tgo.etcd.io/etcd/server/v3/etcdmain/etcd.go:204\ngo.etcd.io/etcd/server/v3/etcdmain.Main\n\tgo.etcd.io/etcd/server/v3/etcdmain/main.go:40\nmain.main\n\tgo.etcd.io/etcd/server/v3/main.go:31\nruntime.main\n\truntime/proc.go:272"}
Jun 24 07:32:33 np0000094454 systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Jun 24 07:32:33 np0000094454 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 07:32:33 np0000094454 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
Jun 24 07:32:33 np0000094454 systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Jun 24 07:32:33 np0000094454 systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Jun 24 07:32:33 np0000094454 systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Jun 24 07:32:33 np0000094454 systemd[1]: Failed to start devstack@etcd.service - Devstack devstack@etcd.service.
